Repository space-wizards/space-station-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nikthechampiongr, @crazybrain23, @DrSmugleaf, @Emisse, @TheShuEd, @ficcialfaint, @PJB3005, @Partmedia, @Jezithyr, @metalgearsloth

made butter take less milk
  Resources/Prototypes/Recipes/Reactions/food.yml
Owners: none

reorganize bwoink window layout
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

fix
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Owners: @metalgearsloth

Correct minor spelling mistake
  Content.Server/Speech/Components/IlleismAccentComponent.cs
  Content.Server/Speech/EntitySystems/IlleismAccentSystem.cs
Owners: none

fix
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
Owners: @metalgearsloth

removed a redundant check.
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Owners: none

Update cruise :D
  Resources/Maps/_Impstation/boat.yml
  Resources/Prototypes/_Impstation/Maps/boat.yml
Owners: none

mail teleporter board in QM locker + addressed review
  Content.Server/Delivery/CargoDeliveryDataComponent.cs
  Content.Server/Delivery/DeliverySystem.Spawning.cs
  Content.Server/Delivery/DeliverySystem.cs
  Content.Shared/Delivery/DeliveryComponent.cs
  Content.Shared/Delivery/DeliverySpawnerComponent.cs
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Owners: none

oops
  Content.Server/Delivery/CargoDeliveryDataComponent.cs
Owners: none

Apply suggestions from code review
  Resources/Locale/en-US/_Impstation/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/biological.ftl
  Resources/Locale/en-US/_Impstation/reagents/meta/medicine.ftl
Owners: none

CCvar-ify a few things, more cleanup, make the monument UI finally behave properly
  Content.Client/_Impstation/CosmicCult/UI/Monument/MonumentMenu.xaml.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.cs
  Content.Shared/_Impstation/CCVar/ImpCCVars.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentComponent.cs
  Content.Shared/_Impstation/CosmicCult/MonumentUI.cs
Owners: none

axe
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/tool_qualities.yml
Owners: none

one last tiny fix and appeasing the linter
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Resources/Prototypes/_Impstation/CosmicCult/Tileset/monument.yml
Owners: none

hide greentext if cvar false
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
Owners: none

small updates
  Resources/Maps/tram.yml
Owners: none

very tiny change to make it not show 0 ner conversions needed unless it's the final stage
  Content.Client/_Impstation/CosmicCult/UI/Monument/MonumentMenu.xaml.cs
Owners: none

science major
  Content.Server/AlertLevel/AlertLevelChangeOnSpawnComponent.cs
  Content.Server/AlertLevel/Systems/AlertLevelChangeOnSpawnSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Owners: none

typo
  Resources/Locale/en-US/artifacts/artifact-station-wide-destruction.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Owners: none

homunculus and recipe changes
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/homunculus.yml
  Resources/Prototypes/_Impstation/Reagents/biological.yml
  Resources/Prototypes/_Impstation/Recipes/Reactions/misc.yml
  Resources/Textures/_Impstation/Mobs/Pets/homunculus.rsi/homunculus.png
  Resources/Textures/_Impstation/Mobs/Pets/homunculus.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/synthflesh.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Specific/Chemistry/synthflesh.rsi/meta.json
Owners: none

im so sillies
  Resources/Prototypes/_Impstation/Entities/Mobs/Animals/homunculus.yml
Owners: none

change IFs around a lil
  Content.Server/Objectives/ObjectivesSystem.cs
Owners: none

the p
  Resources/Prototypes/Entities/Structures/Storage/trash_bins.yml
Owners: none

refactor: changed ISharedContentMarkupTagManager to become abstract class, ContentMarkupTagTypes is now protected, ColorEntityNameHeaderChatModifier now is not allocating each run
  Content.Client/Chat/Managers/ContentMarkupTagManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/ContentMarkupTagManager.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Chat/ChatModifiers/ColorEntityNameHeaderChatModifier.cs
  Content.Shared/Chat/ChatModifiers/SanitizeRadioPrefixChatModifier.cs
  Content.Shared/Chat/SharedContentMarkupTagManagerBase.cs
Owners: none

ergbwevb
  Resources/Locale/en-US/_Ronstation/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/Backpacks/dufflebag.yml
  Resources/Prototypes/_Ronstation/Catalog/Fills/uplink_catalog.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/_Ronstation/Reagents/chemicals.yml
  Resources/Prototypes/_Ronstation/Recipes/Reactions/medicine.yml
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/icon.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/inhand-left.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/inhand-right.png
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/meta.json
  Resources/Textures/_Ronstation/Objects/Weapons/Bombs/x4.rsi/primed.png
Owners: none

wgdwgd
  Resources/Locale/en-US/_Ronstation/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/_Ronstation/seeds/seeds.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Specific/Hydroponics/kronkus.yml
  Resources/Prototypes/_Ronstation/Hydroponics/seeds.yml
  Resources/Prototypes/_Ronstation/Reagents/narcotics.yml
  Resources/Prototypes/_Ronstation/Recipes/Reactions/fun.yml
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/dead.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/harvest.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/meta.json
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/produce.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/seed.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/stage-1.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/stage-2.png
  Resources/Textures/_Ronstation/Objects/Specific/Hydroponics/kronkus_vine.rsi/stage-3.png
Owners: none

ads
  Resources/Prototypes/_Ronstation/Catalog/Fills/uplink_catalog.yml
Owners: none

wggwr
  Resources/Locale/en-US/_Ronstation/store/uplink-catalog.ftl
Owners: none

Fixed merge conflicts, once again ready to go!
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: none

wgrgr
  Resources/Locale/en-US/_Ronstation/reagents/meta/narcotics.ftl
  Resources/Prototypes/_Ronstation/Reagents/narcotics.yml
Owners: none

Added the slowondamagemodifier to security and syndicate winter boots.
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Owners: none

nwgvrnvant
  Resources/Prototypes/_Ronstation/Entities/Objects/Specific/Hydroponics/kronkus.yml
  Resources/Prototypes/_Ronstation/Entities/Objects/Specific/Hydroponics/seeds.yml
Owners: none

Added ClothingSlowOnDamageModifier 0.5 to combat boots, merc boots, and sec/syndie winter boots.
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
Owners: none

wgrgwr
  Resources/Prototypes/_Ronstation/Entities/Objects/Specific/Hydroponics/seeds.yml
Owners: none

egrethg
  Resources/Prototypes/_Ronstation/Hydroponics/seeds.yml
Owners: none

Fixed a small issue
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: none

clean
  Content.Server/Delivery/DeliverySystem.cs
  Content.Shared/Delivery/DeliveryComponent.cs
  Content.Shared/Delivery/DeliverySpawnerComponent.cs
Owners: none

Made mags thinner.
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/ap.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/base.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/fmj.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/incendiary.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/mag-1.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/mag-2.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/mag-3.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/mag-4.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/mag-5.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/red-icon.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/red.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/sp.png
  Resources/Textures/_Starlight/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/40.rsi/uranium.png
Owners: none

fix
  Resources/Prototypes/GameRules/events.yml
Owners: none

Added comment for upstream
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
Owners: none

i dont have anything clever to say for this one
  Resources/Maps/relic.yml
  Resources/Prototypes/Maps/relic.yml
Owners: @Emisse

.github/CODEOWNERS:

# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

/Resources/ConfigPresets/WizardsDen/  @nikthechampiongr @crazybrain23
/Content.*/Administration/ @DrSmugleaf @nikthechampiongr @crazybrain23
/Resources/ServerInfo/ @nikthechampiongr @crazybrain23
/Resources/ServerInfo/Guidebook/ServerRules/ @nikthechampiongr @crazybrain23

/Resources/Prototypes/Maps/** @Emisse

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

# notafet
/Content.*/Atmos/ @Partmedia
/Content.*/Botany/ @Partmedia

# Jezi
/Content.*/Medical @Jezithyr
/Content.*/Body @Jezithyr

# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
