Repository space-wizards/space-station-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nikthechampiongr, @crazybrain23, @DrSmugleaf, @Emisse, @TheShuEd, @ficcialfaint, @PJB3005, @Partmedia, @Jezithyr, @metalgearsloth

init
  Content.Server/Antag/Commands/ListAntagsCommand.cs
Owners: none

style: Sort using
  Content.Server/Administration/Commands/SubtleMessageMassCommand.cs
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

sort using
  Content.Server/Administration/Commands/SwapMindCommand.cs
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

Attempted to fix Merge Conflict
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Owners: none

sound on delivery spawn
  Content.Server/Delivery/DeliverySystem.Spawning.cs
  Content.Shared/Delivery/DeliverySpawnerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/mail_teleporter.yml
Owners: none

Made butter require less milk (#35650)
  Resources/Prototypes/Recipes/Reactions/food.yml
Owners: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Added bulb light variants for both yellow and black crystals.
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
Owners: none

nerfed the sun
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Owners: none

Delete SolutionContainerVisualsComponent.InitialName
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Shared/Chemistry/Components/SolutionContainerVisualsComponent.cs
Owners: none

Delete SolutionContainerVisualsComponent.InitialName (#35654)
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Shared/Chemistry/Components/SolutionContainerVisualsComponent.cs
Owners: none

Removed some unused code
  Content.Server/NPC/Systems/NPCUseActionOnTargetSystem.cs
Owners: @metalgearsloth

slarti suggetions are always good suggestions
  Content.Server/AlertLevel/AlertLevelChangeOnSpawnComponent.cs
  Content.Server/AlertLevel/AlertLevelChangeOnTriggerComponent.cs
  Content.Server/AlertLevel/Systems/AlertLevelChangeOnSpawnSystem.cs
  Content.Server/AlertLevel/Systems/AlertLevelChangeOnTriggerSystem.cs
  Resources/Locale/en-US/artifacts/artifact-station-wide-destruction.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Owners: none

space blade update
  Resources/Prototypes/_Impstation/Entities/Objects/Fun/spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade.yml
  Resources/Prototypes/_NF/Entities/Objects/Fun/spaceblade_boxes.yml
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/brosblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/equipped-BACKPACK.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/gayblade.png
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/meta.json
  Resources/Textures/_NF/Objects/Fun/spaceblade.rsi/ratking.png
Owners: none

fix
  Resources/Prototypes/Entities/Objects/Tools/energydome.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/_StarLight/Body/Organs/cyber_organs.yml
  Resources/Prototypes/_StarLight/Catalog/uplink_catalog.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/industrial.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/medical.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/printer.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/security.yml
  Resources/Prototypes/_StarLight/Research/arsenal.yml
  Resources/Prototypes/_StarLight/Research/industrial.yml
  Resources/Prototypes/_StarLight/Research/medical.yml
Owners: none

hopefully i didnt screw up this time
  Content.Server/AlertLevel/AlertLevelChangeOnTriggerComponent.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/AlertLevel/Systems/AlertLevelChangeOnTriggerSystem.cs
Owners: none

secret
  Resources/Prototypes/secret_weights.yml
Owners: none

fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_ballistic.yml
  Resources/Prototypes/_StarLight/Entities/Structures/Machines/printer.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/docs.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/ammo.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/light-rifle.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/magnum.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/pistol.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/security/ammo/rifle.yml
Owners: none

oneshot
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Clothing/Head/Hats/nikohat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/nikohat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/nikohat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/nikohat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/nikohat.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/purple.rsi/inhand-right.png
Owners: none

is this better? i cannot tell if it is better
  Resources/Maps/relic.yml
Owners: none

fix
  Content.Server/AlertLevel/AlertLevelChangeOnTriggerComponent.cs
Owners: none

Topicals, Monument Collision, Respiration, Chaplain Antagimmune (i know, i know)
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.Abilities.cs
  Content.Server/_Impstation/CosmicCult/EntitySystems/CosmicRiftSystem.cs
  Content.Shared/_Impstation/CosmicCult/Components/CosmicCultComponent.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentCollisionComponent.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentComponent.cs
  Content.Shared/_Impstation/CosmicCult/SharedMonumentSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/_Impstation/CosmicCult/Mobs/wisp.yml
  Resources/Prototypes/_Impstation/CosmicCult/Tileset/monument.yml
Owners: @Jezithyr

Automatic changelog update
  Resources/Changelog/Impstation.yml
Owners: none

changed in-game name of cotton dough rope to differentiate from normal dough rope
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Owners: none

"""Refactors""" extraction code, fixes bug with labeled items
  Content.Server/VoiceTrigger/StorageVoiceControlSystem.cs
Owners: none

Fixed some clothing being unequippable by borgis
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/Clothing/OuterClothing/Misc/redwizard.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/Clothing/OuterClothing/Misc/redwizard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/violetwizard.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/Clothing/OuterClothing/Misc/violetwizard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/wizard.rsi/equipped-OUTERCLOTHING-dog.png
  Resources/Textures/Clothing/OuterClothing/Misc/wizard.rsi/meta.json
Owners: none

Fix name of cotton dough rope (#35657)
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Owners: none

second line of fixes
  Content.Server/VoiceTrigger/StorageVoiceControlSystem.cs
Owners: none

address review 2
  .github/rsi-schema.json
Owners: none

Merge pull request #159 from FlapstheMoth/patch-14
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
Owners: none

Relocate biogen lathe recipes.
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Ronstation/Recipes/Lathes/biogen.yml
Owners: none

Fix categories in biogen recipe prototypes.
  Resources/Prototypes/Ronstation/Recipes/Lathes/biogen.yml
Owners: none

Art assets
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeBend0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeBend2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeConnector0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeConnector2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeFourway0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeFourway2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeHalf0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeHalf2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeStraight0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeStraight2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeTJunction0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeTJunction2.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeTrinaryConnectors0.png
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeTrinaryConnectors2.png
Owners: none

Support for new visuals
  Content.Client/Atmos/EntitySystems/AtmosPipeAppearanceSystem.cs
  Content.Client/Atmos/EntitySystems/AtmosPipeLayerSystem.cs
  Content.Client/Atmos/EntitySystems/PipeColorVisualizerSystem.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Shared/Atmos/Components/AtmosPipeLayerComponent.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosPipeLayerSystem.cs
  Content.Shared/Atmos/Piping/PipeColorVisuals.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
Owners: @Partmedia

Updating prototypes
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Owners: none

fix access
  Content.Server/Store/Conditions/BuyerAccessCondition.cs
Owners: none

fix ammo
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
Owners: none

staff recharging real
  Content.Server/Actions/ActionOnInteractSystem.cs
  Resources/Prototypes/Magic/animate_spell.yml
  Resources/Prototypes/Magic/staves.yml
Owners: none

update locker
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_Impstation/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/Structures/Storage/closet.rsi/bio_jan_door.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/bedsheet_hd.rsi/icon.png
  Resources/Textures/_Impstation/Objects/Misc/bedsheet_hd.rsi/meta.json
  Resources/Textures/_Impstation/Structures/Storage/hdcloset.rsi/hd.png
  Resources/Textures/_Impstation/Structures/Storage/hdcloset.rsi/hd_door.png
  Resources/Textures/_Impstation/Structures/Storage/janitorcloset.rsi/janitor.png
  Resources/Textures/_Impstation/Structures/Storage/janitorcloset.rsi/janitor_door.png
Owners: none

Tweaks/Fixes to Glyph damage dealings, Cult Tier Up timers
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicGlyphSystem.cs
  Content.Shared/_Impstation/CosmicCult/Components/CosmicGlyphComponent.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentComponent.cs
  Content.Shared/_Impstation/CosmicCult/SharedMonumentSystem.cs
  Resources/Audio/_Impstation/CosmicCult/attributions.yml
  Resources/Audio/_Impstation/CosmicCult/tier_up.ogg
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
  Resources/Prototypes/_Impstation/CosmicCult/glyphs.yml
Owners: none

.github/CODEOWNERS:

# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

/Resources/ConfigPresets/WizardsDen/  @nikthechampiongr @crazybrain23
/Content.*/Administration/ @DrSmugleaf @nikthechampiongr @crazybrain23
/Resources/ServerInfo/ @nikthechampiongr @crazybrain23
/Resources/ServerInfo/Guidebook/ServerRules/ @nikthechampiongr @crazybrain23

/Resources/Prototypes/Maps/** @Emisse

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

# notafet
/Content.*/Atmos/ @Partmedia
/Content.*/Botany/ @Partmedia

# Jezi
/Content.*/Medical @Jezithyr
/Content.*/Body @Jezithyr

# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
