Repository space-wizards/space-station-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nikthechampiongr, @crazybrain23, @DrSmugleaf, @Emisse, @TheShuEd, @ficcialfaint, @PJB3005, @Partmedia, @Jezithyr, @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order

/Resources/ConfigPresets/WizardsDen/  @nikthechampiongr @crazybrain23
/Content.*/Administration/ @DrSmugleaf @nikthechampiongr @crazybrain23
/Resources/ServerInfo/ @nikthechampiongr @crazybrain23
/Resources/ServerInfo/Guidebook/ServerRules/ @nikthechampiongr @crazybrain23

/Resources/Prototypes/Maps/** @Emisse

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @nikthechampiongr @crazybrain23
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @TheShuEd
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @TheShuEd

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @nikthechampiongr @crazybrain23
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

# notafet
/Content.*/Atmos/ @Partmedia
/Content.*/Botany/ @Partmedia

# Jezi
/Content.*/Medical @Jezithyr
/Content.*/Body @Jezithyr

# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth

fix charges being used on every click
  Content.Server/Actions/ActionOnInteractSystem.cs
Owners: none

add AssertMultiple to ContrabandTest
  Content.IntegrationTests/Tests/ContrabandTest.cs
Owners: none

hd pda and id
  Resources/Prototypes/_Impstation/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Objects/Misc/identification_cards.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-hd.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idheadofpersonnel.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/_Impstation/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/idhospitalitydirector.png
  Resources/Textures/_Impstation/Objects/Misc/id_cards.rsi/meta.json
Owners: none

ugh
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Owners: none

file migration
  Resources/Prototypes/_Impstation/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Impstation/Objects/Devices/pda.yml
  Resources/Prototypes/_Impstation/Objects/Misc/bedsheets.yml
  Resources/Prototypes/_Impstation/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Service/hospitality_director.yml
Owners: none

Should do it.
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/security.yml
Owners: none

hd fixes
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Owners: none

more map updates
  Resources/Maps/_Impstation/box.yml
  Resources/Maps/_Impstation/meta.yml
  Resources/Maps/_Impstation/xeno.yml
Owners: none

hd map update
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/xeno.yml
Owners: @Emisse

ghost system fixes, monument collision fix, siphon entropy fix
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.Abilities.cs
Owners: none

fix animate wieldable items
  Resources/Prototypes/Magic/animate_spell.yml
Owners: none

civilian/service split, contraband cleanup
  Resources/Locale/en-US/_Impstation/job/department-desc.ftl
  Resources/Locale/en-US/_Impstation/job/department.ftl
  Resources/Locale/en-US/job/department-desc.ftl
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/base_contraband.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_Impstation/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/_Impstation/Roles/Jobs/Service/hospitality_director.yml
  Resources/Prototypes/_Impstation/Roles/departments.yml
Owners: @DrSmugleaf

lawyer service comms
  Resources/Locale/en-US/_Impstation/job/job-description.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
Owners: none

do the same for magazine visuals test
  Content.IntegrationTests/Tests/MagazineVisualsSpriteTest.cs
Owners: none

hd locker and dresser fills
  Resources/Locale/en-US/_Impstation/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/_Impstation/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/_Impstation/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/_Impstation/Objectives/thief.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-hd.png
  Resources/Textures/_Impstation/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/_Impstation/Objects/Misc/stamps.rsi/stamp-hd.png
Owners: none

:trollface:
  Content.IntegrationTests/Tests/ContrabandTest.cs
Owners: none

Automatic changelog update
  Resources/Changelog/Impstation.yml
Owners: none

reviews
  Content.Server/Objectives/ObjectivesSystem.cs
Owners: none

pka empty click
  Resources/Audio/_Impstation/Weapons/Guns/Empty/attributions.yml
  Resources/Audio/_Impstation/Weapons/Guns/Empty/dry_fire.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
Owners: none

finale tier up delays
  Content.Client/_Impstation/CosmicCult/UI/Monument/MonumentMenu.xaml.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentComponent.cs
Owners: none

I cannot remember what's in this one tbh
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
Owners: none

properly locstringify things
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
Owners: none

hd map updates, sprite tweaks
  Resources/Maps/_Impstation/banana.yml
  Resources/Maps/_Impstation/boat.yml
  Resources/Prototypes/_Impstation/Maps/banana.yml
  Resources/Prototypes/_Impstation/Maps/boat.yml
  Resources/Textures/Structures/Storage/closet.rsi/janitor_bomb_door.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/equipped-NECK.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/inhand-left.png
  Resources/Textures/_Impstation/Clothing/Neck/Bedsheets/hd.rsi/inhand-right.png
  Resources/Textures/_Impstation/Objects/Misc/bedsheet_hd.rsi/icon.png
Owners: none

comments
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

fix appereance missing on battery guns
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Locale/en-US/vampires/vampires.ftl
  Resources/Prototypes/_StarLight/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Owners: none

Automatic changelog update
  Resources/Changelog/Impstation.yml
Owners: none

return starlight mech equipment
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/industrial.yml
  Resources/Prototypes/_StarLight/Recipes/Lathes/Packs/robotics.yml
Owners: none

address review
  Content.Server/Delivery/DeliverySystem.cs
  Content.Shared/Delivery/DeliveryComponent.cs
Owners: none

Fix .TXT prefix.
  LEGAL.md
  LICENSE-AGPL.TXT
Owners: none

fix antag role bans
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Antag/AntagSelectionSystem.cs
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

changelog
  Resources/Changelog/ChangelogStarlight.yml
Owners: none

playerinfo retains playtime data after disconnect
  Content.Server/Administration/Systems/AdminSystem.cs
Owners: @DrSmugleaf, @nikthechampiongr, @crazybrain23

cultists get access before reveal, finale auto-starts after 2:30, CCvar-ified things
  Content.Server/_Impstation/CosmicCult/Components/CosmicFinaleComponent.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultRuleSystem.cs
  Content.Server/_Impstation/CosmicCult/CosmicCultSystem.Finale.cs
  Content.Shared/_Impstation/CCVar/ImpCCVars.cs
  Content.Shared/_Impstation/CosmicCult/Components/MonumentComponent.cs
  Content.Shared/_Impstation/CosmicCult/SharedMonumentSystem.cs
  Resources/Locale/en-US/_Impstation/cosmiccult/preset-cosmiccult.ftl
Owners: none

fix 2
  Content.Server/AlertLevel/Systems/AlertLevelChangeOnTriggerSystem.cs
Owners: none

engineering walls more accurate
  Resources/Maps/relic.yml
Owners: none

lights out
  Resources/Maps/relic.yml
Owners: none
