Repository space-wizards/space-station-14, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Chief-Engineer, @moonheart08, @DrSmugleaf, @EmoGarbage404, @Emisse, @TheShuEd, @ficcialfaint, @PJB3005, @Partmedia, @Jezithyr, @metalgearsloth

fix popups
  Content.Shared/Eye/Blinding/Systems/ActivatableUIRequiresVisionSystem.cs
Owners: none

fix crayon
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
Owners: none

Minor vox headwear update (#30150)
  Resources/Textures/Clothing/Head/Hats/cardborg_h.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/cardborg_h.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/papersack.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/papersack.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/santahat.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/santahat.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/skubhead.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/skubhead.rsi/meta.json
  Resources/Textures/Clothing/Shoes/color.rsi/contrastedsoles-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/color.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/color.rsi/soles-equipped-FEET-vox.png
Owners: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Filthy
  Content.Shared/Eye/Blinding/Systems/EyeProtectionSystem.cs
Owners: none

fix crayon (#30263)
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
Owners: none

telescreen and television require vision + Move eye to shared (#30260)
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionComponent.cs
  Content.Shared/Eye/Blinding/Components/ActivatableUIRequiresVisionComponent.cs
  Content.Shared/Eye/Blinding/Systems/ActivatableUIRequiresVisionSystem.cs
  Content.Shared/Eye/Blinding/Systems/EyeProtectionSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
Owners: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Makes the QSI Popup Nicer
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
Owners: none

Remove midround zombies
  Resources/Prototypes/GameRules/events.yml
Owners: none

Makes the QSI Popup Nicer (#30265)
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
Owners: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Updated meta.json file to have credit for sprite
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
Owners: none

Fixed various parsing errors with drinks
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/thee_horsepussy.rsi/meta.json
Owners: none

Wrong magazine popup (#29046)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Owners: @metalgearsloth

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Fix pancakes
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Stacks/consumable_stacks.yml
Owners: none

More fixes for various drinks and foods
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/spooky_horse.ogg
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
Owners: none

fix randomfill logic
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
Owners: none

Gorilla gauntlet grants protection from anomaly returned damage when attacking it
  Content.Shared/Damage/Components/DamageOnAttackedProtectionComponent.cs
  Content.Shared/Damage/Systems/DamageOnAttackedSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Owners: @DrSmugleaf

woops, there we go
  Content.Shared/Damage/Systems/DamageOnAttackedSystem.cs
Owners: @DrSmugleaf

NONE
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Owners: none

Removed name property of CyborgDESword so that it now inherits from DESword and added a suffix to differentiate the two in spawn menu
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Owners: none

Fix: Syndie borg can now wield DEsword (#30229)
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Owners: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Owners: none

Give syndicate soap damage on step and set launchForwardsMultiplier to 0.5
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Owners: none

Update DisplacementMapSystem.cs
  Content.Client/DisplacementMap/DisplacementMapSystem.cs
Owners: none

Displacement maps big update (#30093)
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/DisplacementMap/DisplacementMapSystem.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/DisplacementMap/DisplacementData.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/gingerbread.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Human/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Mobs/Species/Human/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/ears.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/shoes.png
Owners: @DrSmugleaf

cat tree construction and settings
  Content.Shared/NPC/Components/NpcTimedFactionMemberComponent.cs
  Content.Shared/NPC/Systems/NpcTimedFactionSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/cattree.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-beige.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-black.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-blue.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-cyan.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-gamble.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-green.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-pink.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-purple.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-red.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-skyblue.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree-white.png
  Resources/Textures/Structures/Furniture/cattree.rsi/cattree.png
  Resources/Textures/Structures/Furniture/cattree.rsi/meta.json
Owners: @metalgearsloth

Event works! Dont kill me for alphabeting events in the relay.
  Content.Shared/Clothing/EntitySystems/FactionClothingSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
Owners: @metalgearsloth

.github/CODEOWNERS:

# Last match in file takes precedence.

# Sorting by path instead of by who added it one day :(
# this isn't how codeowners rules work pls read the first comment instead of trying to force a sorting order
/Resources/ConfigPresets/WizardsDen/  @Chief-Engineer

# Moony's Gargantuan List Of Things She Cares About, or MGLOTSCA for short.
# You need to add your name to these entries, not make a new one, if you care about them.
/Content.*/Toolshed/ @moonheart08
**/Toolshed/** @moonheart08
*Command.cs @moonheart08
/Content.*/Administration/ @moonheart08 @DrSmugleaf @Chief-Engineer
/Content.*/Station/ @moonheart08
/Content.*/Maps/ @moonheart08
/Content.*/GameTicking/ @moonheart08 @EmoGarbage404
/Resources/ServerInfo/ @moonheart08 @Chief-Engineer
/Resources/ServerInfo/Guidebook/ @moonheart08 @EmoGarbage404
/Resources/ServerInfo/Guidebook/ServerRules/ @Chief-Engineer
/Resources/engineCommandPerms.yml @moonheart08 @Chief-Engineer
/Resources/clientCommandPerms.yml @moonheart08 @Chief-Engineer

/Resources/Prototypes/Maps/ @Emisse

/Resources/Prototypes/Body/ @DrSmugleaf # suffering
/Resources/Prototypes/Entities/Mobs/Player/ @DrSmugleaf
/Resources/Prototypes/Entities/Mobs/Species/ @DrSmugleaf
/Resources/Prototypes/Guidebook/rules.yml @Chief-Engineer
/Content.*/Body/ @DrSmugleaf
/Content.YAMLLinter @DrSmugleaf
/Content.Shared/Damage/ @DrSmugleaf

/Content.*/Anomaly/ @EmoGarbage404 @TheShuEd
/Content.*/Lathe/ @EmoGarbage404
/Content.*/Materials/ @EmoGarbage404
/Content.*/Mech/ @EmoGarbage404
/Content.*/Research/ @EmoGarbage404
/Content.*/Stack/ @EmoGarbage404
/Content.*/Xenoarchaeology/ @EmoGarbage404
/Content.*/Zombies/ @EmoGarbage404
/Resources/Prototypes/Entities/Structures/Specific/anomalies.yml @EmoGarbage404 @TheShuEd
/Resources/Prototypes/Research/ @EmoGarbage404

/Content.*/Forensics/ @ficcialfaint

# SKREEEE
/Content.*.Database/ @PJB3005 @DrSmugleaf
/Content.Shared.Database/Log*.cs @PJB3005 @DrSmugleaf @Chief-Engineer
/Pow3r/ @PJB3005
/Content.Server/Power/Pow3r/ @PJB3005

# notafet
/Content.*/Atmos/ @Partmedia
/Content.*/Botany/ @Partmedia

#Jezi
/Content.*/Medical @Jezithyr
/Content.*/Body @Jezithyr

# Sloth
/Content.*/Audio @metalgearsloth
/Content.*/Movement @metalgearsloth
/Content.*/NPC @metalgearsloth
/Content.*/Shuttles @metalgearsloth
/Content.*/Weapons @metalgearsloth
