Repository space-wizards/space-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: Sprites, Changes: Map, Changes: UI

fix popups
  Content.Shared/Eye/Blinding/Systems/ActivatableUIRequiresVisionSystem.cs
Labels: none

fix crayon
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
Labels: Changes: UI

Minor vox headwear update (#30150)
  Resources/Textures/Clothing/Head/Hats/cardborg_h.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/cardborg_h.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/papersack.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/papersack.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/santahat.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hats/santahat.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hoods/rad.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/meta.json
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/pumpkin.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/skubhead.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Misc/skubhead.rsi/meta.json
  Resources/Textures/Clothing/Shoes/color.rsi/contrastedsoles-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/color.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/color.rsi/soles-equipped-FEET-vox.png
Labels: Changes: Sprites

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Filthy
  Content.Shared/Eye/Blinding/Systems/EyeProtectionSystem.cs
Labels: none

fix crayon (#30263)
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
Labels: Changes: UI

telescreen and television require vision + Move eye to shared (#30260)
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionComponent.cs
  Content.Shared/Eye/Blinding/Components/ActivatableUIRequiresVisionComponent.cs
  Content.Shared/Eye/Blinding/Systems/ActivatableUIRequiresVisionSystem.cs
  Content.Shared/Eye/Blinding/Systems/EyeProtectionSystem.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

Makes the QSI Popup Nicer
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
Labels: none

Remove midround zombies
  Resources/Prototypes/GameRules/events.yml
Labels: none

Makes the QSI Popup Nicer (#30265)
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
Labels: none

Automatic changelog update
  Resources/Changelog/Changelog.yml
Labels: none

.github/labeler.yml:

"Changes: Sprites":
- changed-files:
  - any-glob-to-any-file: '**/*.rsi/*.png'

"Changes: Map":
- changed-files:
  - any-glob-to-any-file:
    - 'Resources/Maps/**/*.yml'
    - 'Resources/Prototypes/Maps/**/*.yml'

"Changes: UI":
- changed-files:
  - any-glob-to-any-file: '**/*.xaml*'

"No C#":
- changed-files:
  # Equiv to any-glob-to-all as long as this has one matcher. If ALL changed files are not C# files, then apply label.
  - all-globs-to-all-files: "!**/*.cs"
