Repository space-wizards/space-station-14, pull requests merged in 2018-04, with the labels that each got.

#48 Adds weapons
  Content.Client/EntryPoint.cs
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Projectiles/ProjectileComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Hitscan/HitscanWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Projectile/ProjectileWeapon.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/RangedWeapon.cs
  Content.Server/GameObjects/EntitySystems/InteractionSystem.cs
  Resources/Prototypes/Entities/HitscanWeapons.yml
  Resources/Prototypes/Entities/Projectiles.yml
  Resources/Prototypes/Entities/Tools.yml
  Resources/textures/Objects/gun.png
  Resources/textures/Objects/laser.png
  Resources/textures/Objects/projectilebullet.png
  Resources/textures/Objects/projectileweapon.png
Labels: review

#59 Travis CI.
  .travis.yml
Labels: W: In Progress, enhancement, review

#58 Minor stuff:
  .gitignore
  BuildChecker/.gitignore
  BuildChecker/git_helper.py
  BuildChecker/hooks/post-checkout
  BuildChecker/hooks/post-merge
  Content.Client/Content.Client.csproj
  Content.Server/Content.Server.csproj
  Content.Shared/Content.Shared.csproj
  README.md
Labels: W: Review, enhancement, review
