Repository space-wizards/space-station-14, pull requests merged in 2019-04, with the labels that each got.

#174 Made a fancier lasergun
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Power/PowerCellComponent.cs
  Content.Server/GameObjects/Components/Power/PowerStorageComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Hitscan/HitscanWeaponCapacitorComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Hitscan/HitscanWeaponComponent.cs
  Resources/Prototypes/Entities/Weapons.yml
  Resources/Prototypes/Entities/weapons/laserguns.yml
Labels: W: In Progress

#179 Adds header to readme.md
  README.md
Labels: W: Review

#181 Wires are now actually hidden by floor tiles.
  Content.Client/Content.Client.csproj
  Content.Client/EntryPoint.cs
  Content.Client/GameObjects/Components/SubFloorHideComponent.cs
  Content.Client/GameObjects/EntitySystems/SubFloorHideSystem.cs
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Interactable/Tools/CrowbarComponent.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Power.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: W: In Progress

#182 Footstep sounds.
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/CatwalkComponent.cs
  Content.Server/GameObjects/Components/Movement/PlayerInputMoverComponent.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Shared/Audio/SoundCollectionPrototype.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Audio/effects/footsteps/catwalk1.ogg
  Resources/Audio/effects/footsteps/catwalk2.ogg
  Resources/Audio/effects/footsteps/catwalk3.ogg
  Resources/Audio/effects/footsteps/catwalk4.ogg
  Resources/Audio/effects/footsteps/catwalk5.ogg
  Resources/Audio/effects/footsteps/floor1.ogg
  Resources/Audio/effects/footsteps/floor2.ogg
  Resources/Audio/effects/footsteps/floor3.ogg
  Resources/Audio/effects/footsteps/floor4.ogg
  Resources/Audio/effects/footsteps/floor5.ogg
  Resources/Audio/effects/footsteps/plating1.ogg
  Resources/Audio/effects/footsteps/plating2.ogg
  Resources/Audio/effects/footsteps/plating3.ogg
  Resources/Audio/effects/footsteps/plating4.ogg
  Resources/Audio/effects/footsteps/plating5.ogg
  Resources/Audio/effects/footsteps/sources.txt
  Resources/Prototypes/Entities/catwalk.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/plating.yml
Labels: W: In Progress

#184 Make Attackby (etc) parameters use event args.
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Healing/HealingComponent.cs
  Content.Server/GameObjects/Components/Interactable/HandheldLightComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/CrowbarComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/WelderComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Power/ApcComponent.cs
  Content.Server/GameObjects/Components/Power/PowerDebugTool.cs
  Content.Server/GameObjects/Components/Power/PowerTransferComponent.cs
  Content.Server/GameObjects/Components/Power/PoweredLightComponent.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Hitscan/HitscanWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Projectile/BallisticMagazineWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
Labels: W: In Progress

#185 Ignore server-side components.
  Content.Client/EntryPoint.cs
Labels: W: In Progress

#183 ItemList style.
  Content.Client/UserInterface/NanoStyle.cs
Labels: W: In Progress

#188 Engineer's helmet
  Content.Client/GameObjects/Components/Clothing/ClothingComponent.cs
  Content.Client/GameObjects/Components/Items/ItemComponent.cs
  Content.Server/GameObjects/Components/Interactable/HandheldLightComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StoreableComponent.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/GameObjects/Components/Items/ClothingComponentState.cs
  Content.Shared/GameObjects/Components/Items/ItemComponentState.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Resources/Prototypes/Entities/Clothing/helmets.yml
  Resources/Prototypes/Entities/Items.yml
  Resources/Textures/Clothing/helmet_engineering.rsi/HandheldLightOnOverlay.png
  Resources/Textures/Clothing/helmet_engineering.rsi/HelmetEngineering.png
  Resources/Textures/Clothing/helmet_engineering.rsi/Off-equipped-HELMET.png
  Resources/Textures/Clothing/helmet_engineering.rsi/On-equipped-HELMET.png
  Resources/Textures/Clothing/helmet_engineering.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/helmet_engineering.rsi/meta.json
  Resources/Textures/Clothing/helmet_sec.rsi/meta.json
  Resources/Textures/Objects/lantern.rsi/HandheldLightOnOverlay.png
  Resources/Textures/Objects/lantern.rsi/lantern_on.png
  Resources/Textures/Objects/lantern.rsi/meta.json
Labels: W: Review

#193 Locker shoving
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Entities/Mobs.yml
  Resources/Prototypes/Entities/closet.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/Tiles/space.yml
Labels: W: In Progress

#198 Re-implement chat in content.
  Content.Client/Chat/ChatBox.cs
  Content.Client/Chat/ChatManager.cs
  Content.Client/Content.Client.csproj
  Content.Client/EntryPoint.cs
  Content.Client/GameTicking/ClientGameTicker.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Interfaces/Chat/IChatManager.cs
  Content.Client/UserInterface/LobbyGui.cs
  Content.Server/Chat/ChatCommands.cs
  Content.Server/Chat/ChatManager.cs
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Projectile/BallisticWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/ExamineSystem.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Interfaces/Chat/IChatCommand.cs
  Content.Server/Interfaces/Chat/IChatManager.cs
  Content.Server/Mobs/Roles/Traitor.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Prototypes/Entities/Medical.yml
  Resources/Scenes/ChatBox/ChatBox.tscn
  SpaceStation14Content.sln.DotSettings
Labels: W: In Progress

#197 Entity Interpolation
  Content.Client/GameObjects/Components/Clothing/ClothingComponent.cs
  Content.Client/GameObjects/Components/DamageableComponent.cs
  Content.Client/GameObjects/Components/HUD/Inventory/ClientInventoryComponent.cs
  Content.Client/GameObjects/Components/Items/ClientHandsComponent.cs
  Content.Client/GameObjects/Components/Items/ItemComponent.cs
  Content.Client/GameObjects/Components/Storage/ClientStorageComponent.cs
Labels: Awaiting Engine PR, W: In Progress

#195 Actual lockers
  Content.Server/AI/AimShootLifeProcessor.cs
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/PlaceableSurfaceComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ThrownItemComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Hitscan/HitscanWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/GameObjects/Components/Storage/SharedStorageComponent.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/Entities/Items.yml
  Resources/Prototypes/Entities/Mobs.yml
  Resources/Prototypes/Entities/closet.yml
  Resources/Prototypes/Entities/table.yml
Labels: W: In Progress

#203 Fix properties in Material
  Content.Server/Materials/Material.cs
Labels: W: In Progress

#202 Interaction System Messages
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
Labels: W: In Progress

#204 Map System Code Refactor
  Content.Client/GameObjects/EntitySystems/SubFloorHideSystem.cs
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.Server/GameObjects/Components/Construction/ConstructorComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/CrowbarComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Resources/Groups/groups.yml
Labels: Project: Shared, W: In Progress

#209 Makes table placement range locked
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/PlaceableSurfaceComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
Labels: W: In Progress

#207 Lathes
  Content.Client/Content.Client.csproj
  Content.Client/EntryPoint.cs
  Content.Client/GameObjects/Components/Research/LatheBoundUserInterface.cs
  Content.Client/GameObjects/Components/Research/LatheDatabaseComponent.cs
  Content.Client/GameObjects/Components/Research/MaterialStorageComponent.cs
  Content.Client/Research/LatheMenu.cs
  Content.Client/Research/LatheQueueMenu.cs
  Content.Server/Content.Server.csproj
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Research/LatheComponent.cs
  Content.Server/GameObjects/Components/Research/LatheDatabaseComponent.cs
  Content.Server/GameObjects/Components/Research/MaterialStorageComponent.cs
  Content.Server/GameObjects/EntitySystems/LatheSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/GameObjects/Components/Materials/MaterialComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedLatheComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedLatheDatabaseComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedMaterialStorageComponent.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/Materials/Material.cs
  Content.Shared/Research/LatheRecipePrototype.cs
  Content.Shared/Research/RecipePrototype.cs
  Resources/Prototypes/Entities/Lathe.yml
  Resources/Prototypes/Entities/Materials.yml
  Resources/Prototypes/LatheRecipes/medical.yml
  Resources/Prototypes/LatheRecipes/misc.yml
  Resources/Prototypes/LatheRecipes/sheet.yml
  Resources/Prototypes/LatheRecipes/tools.yml
  Resources/Prototypes/materials.yml
  Resources/Textures/Buildings/autolathe.rsi/closing.png
  Resources/Textures/Buildings/autolathe.rsi/idle.png
  Resources/Textures/Buildings/autolathe.rsi/meta.json
  Resources/Textures/Buildings/autolathe.rsi/opening.png
  Resources/Textures/Buildings/autolathe.rsi/panel.png
  Resources/Textures/Buildings/autolathe.rsi/stanok.png
  Resources/Textures/Buildings/autolathe.rsi/workdone.png
  Resources/Textures/Buildings/autolathe.rsi/working.png
Labels: W: In Progress

#210 Engineering lockers.
  Content.Client/GameObjects/Components/Storage/ClientStorageComponent.cs
  Content.Server/GameObjects/Components/EntityStorageComponent.cs
  Resources/Prototypes/Entities/closet.yml
  Resources/Textures/Buildings/closet.rsi/eng.png
  Resources/Textures/Buildings/closet.rsi/eng_elec_door.png
  Resources/Textures/Buildings/closet.rsi/eng_open.png
  Resources/Textures/Buildings/closet.rsi/eng_rad_door.png
  Resources/Textures/Buildings/closet.rsi/eng_tool_door.png
  Resources/Textures/Buildings/closet.rsi/eng_weld_door.png
  Resources/Textures/Buildings/closet.rsi/meta.json
Labels: W: In Progress

#212 Grid Bounds
  Content.Client/GameObjects/EntitySystems/SubFloorHideSystem.cs
  Content.Server/GameObjects/Components/Interactable/Tools/CrowbarComponent.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  SpaceStation14.sln.DotSettings
Labels: W: In Progress
