Repository space-wizards/space-station-14, pull requests merged in 2019-08, with the labels that each got.

#286 AI Wander & Barker
  Content.Server/AI/AimShootLifeProcessor.cs
  Content.Server/AI/StaticBarkerProcessor.cs
  Content.Server/AI/WanderProcessor.cs
  Content.Server/GameObjects/Components/Movement/AiControllerComponent.cs
  Content.Server/GameObjects/EntitySystems/AiSystem.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/Interfaces/GameObjects/Components/Movement/IMoverComponent.cs
  Resources/Prototypes/Entities/buildings/turret.yml
Labels: Type: Feature

#302 IoC'd random
  Content.Benchmarks/ColorInterpolateBenchmark.cs
  Content.Client/GameObjects/Components/Sound/SoundComponent.cs
  Content.Client/Parallax/ParallaxGenerator.cs
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/Components/Damage/BreakableComponent.cs
  Content.Server/GameObjects/Components/Damage/DestructibleComponent.cs
  Content.Server/GameObjects/Components/Explosion/ExplosiveComponent.cs
  Content.Server/GameObjects/Components/Items/DiceComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolLockerFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolboxElectricalFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Movement/ServerTeleporterComponent.cs
  Content.Server/GameObjects/Components/Sound/FootstepModifierComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Projectile/BallisticMagazineWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Projectile/ProjectileWeapon.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/GameTicking/GameTicker.cs
Labels: Type: Refactor

#308 Fixed examine things
  Content.Server/GameObjects/Components/Interactable/Tools/WelderComponent.cs
  Content.Server/GameObjects/Components/Power/PowerDevice.cs
  Content.Server/GameObjects/EntitySystems/Click/ExamineSystem.cs
Labels: Type: Bug

#303 Allowed multiple Pseudo Classes per element.
  Content.Client/UserInterface/GameHud.cs
  Content.Client/UserInterface/NanoStyle.cs
Labels: Status: Awaiting Engine PR, Type: Feature, Type: Refactor

#301 Added pickaxe, asteroid rock and floors
  Content.Client/EntryPoint.cs
  Content.Server/GameObjects/Components/Mining/AsteroidRockComponent.cs
  Content.Server/GameObjects/Components/Mining/PickaxeComponent.cs
  Resources/Audio/effects/footsteps/asteroid1.ogg
  Resources/Audio/effects/footsteps/asteroid2.ogg
  Resources/Audio/effects/footsteps/asteroid3.ogg
  Resources/Audio/effects/footsteps/asteroid4.ogg
  Resources/Audio/effects/footsteps/asteroid5.ogg
  Resources/Audio/items/mining/pickaxe.ogg
  Resources/Prototypes/Entities/buildings/asteroid.yml
  Resources/Prototypes/Entities/buildings/walls.yml
  Resources/Prototypes/Entities/items/weapons/mining.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/0.png
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/1.png
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/2.png
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/3.png
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/4.png
  Resources/Textures/Buildings/Walls/asteroid_rock.rsi/meta.json
  Resources/Textures/Objects/items/pickaxe.rsi/inhand-left.png
  Resources/Textures/Objects/items/pickaxe.rsi/inhand-right.png
  Resources/Textures/Objects/items/pickaxe.rsi/meta.json
  Resources/Textures/Objects/items/pickaxe.rsi/pickaxe.png
  Resources/Textures/Tiles/asteroid_coarse_sand0.png
  Resources/Textures/Tiles/asteroid_coarse_sand1.png
  Resources/Textures/Tiles/asteroid_coarse_sand2.png
  Resources/Textures/Tiles/asteroid_coarse_sand_dug.png
  Resources/Textures/Tiles/asteroid_sand.png
  Resources/Textures/Tiles/asteroid_tile.png
Labels: Type: Feature

#311 Fix 9mm guns
  Resources/Prototypes/Entities/Weapons/Ammunition/9mm/ammunition.yml
  Resources/Textures/Objects/Guns/Ammunition/Magazine/9mm/9mmt.rsi/9mmt-2.png
  Resources/Textures/Objects/Guns/Ammunition/Magazine/9mm/9mmt.rsi/9mmt-3.png
  Resources/Textures/Objects/Guns/Ammunition/Magazine/9mm/9mmt.rsi/9mmt-4.png
  Resources/Textures/Objects/Guns/Ammunition/Magazine/9mm/9mmt.rsi/9mmt-5.png
  Resources/Textures/Objects/Guns/Ammunition/Magazine/9mm/9mmt.rsi/9mmt.png
Labels: Type: Bug
