Repository space-wizards/space-station-14, pull requests merged in 2020-09, with the labels that each got.

#1982 Adds Duffelbags. And Mime, Botany and Chemistry backpacks.
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/botany.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/mime.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_cap.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_cap.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_cap.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_cap.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_cap.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_clown.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_clown.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_clown.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_clown.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_clown.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_eng.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_eng.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_eng.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_eng.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_eng.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_med.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_med.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_med.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_med.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_med.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_sec.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_sec.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_sec.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_sec.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_sec.rsi/meta.json
  Resources/Textures/Clothing/Back/Duffels/duffel_syn.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/duffel_syn.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/duffel_syn.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/duffel_syn.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/duffel_syn.rsi/meta.json
Labels: Feature: Entities, Resources (No code)

#1984 Change EntityTest.SpawnTest to not use stationstation
  Content.IntegrationTests/Tests/EntityTest.cs
Labels: Feature: Entities, Project: Tests, Type: Improvement

#1965 Replace usages of ISharedNotifyManager and IServerNotifyManager with extension methods
  Content.Client/UserInterface/Suspicion/SuspicionGui.cs
  Content.Server/Atmos/GasSprayerComponent.cs
  Content.Server/Body/Surgery/BiologicalSurgeryData.cs
  Content.Server/Chat/ChatCommands.cs
  Content.Server/GameObjects/Components/Access/IdCardConsoleComponent.cs
  Content.Server/GameObjects/Components/ActionBlocking/CuffableComponent.cs
  Content.Server/GameObjects/Components/ActionBlocking/HandcuffComponent.cs
  Content.Server/GameObjects/Components/Atmos/GasAnalyzerComponent.cs
  Content.Server/GameObjects/Components/Body/DroppedBodyPartComponent.cs
  Content.Server/GameObjects/Components/Body/DroppedMechanismComponent.cs
  Content.Server/GameObjects/Components/Body/SurgeryToolComponent.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/InjectorComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PourableComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorSwitchComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalRouterComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalTaggerComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/Components/Fluids/SprayComponent.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/Components/GUI/StrippableComponent.cs
  Content.Server/GameObjects/Components/Gravity/GravityGeneratorComponent.cs
  Content.Server/GameObjects/Components/Instruments/InstrumentComponent.cs
  Content.Server/GameObjects/Components/Interactable/HandheldLightComponent.cs
  Content.Server/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/RCD/RCDAmmoComponent.cs
  Content.Server/GameObjects/Components/Items/RCD/RCDComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/SecureEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalReceiverComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbableComponent.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Server/GameObjects/Components/Power/AME/AMEControllerComponent.cs
  Content.Server/GameObjects/Components/Power/AME/AMEPartComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/PoweredLightComponent.cs
  Content.Server/GameObjects/Components/RadioComponent.cs
  Content.Server/GameObjects/Components/Rotatable/FlippableComponent.cs
  Content.Server/GameObjects/Components/Rotatable/RotatableComponent.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/FlashComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/StunbatonComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/ServerRangedWeaponComponent.cs
  Content.Server/GameObjects/Components/WiresComponent.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/PointingSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedInteractionSystem.cs
  Content.Shared/Interfaces/ISharedNotifyManager.cs
Labels: Feature: Entities, Type: Refactor

#1559 Installing a new power infrastructure for Saltern.
  Resources/Maps/saltern.yml
  Resources/Maps/stationstation.yml
  Resources/Prototypes/Entities/Constructible/Ground/wires.yml
  Resources/Prototypes/Entities/Constructible/Power/debug_power.yml
  Resources/Prototypes/Entities/Constructible/Power/power_base.yml
  Resources/Prototypes/Entities/Constructible/Power/saltern_power.yml
Labels: Feature: Power, Junior Job, Map Changes, Resources (No code), Type: Refactor

#1956 GLES2: companion PR to engine PR
  Resources/Textures/Shaders/circle_mask.swsl
  Resources/Textures/Shaders/cooldown.swsl
  Resources/Textures/Shaders/flashed_effect.swsl
  Resources/Textures/Shaders/gradient_circle_mask.swsl
  Resources/Textures/Shaders/outline.swsl
  Resources/Textures/Shaders/stencil_clear.swsl
  Resources/Textures/Shaders/stencil_mask.swsl
Labels: Status: Awaiting Engine PR, Type: Feature

#1798 Adds the Mime
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Effects/Markers/spawn_points_jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Textures/Clothing/Belt/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/assigned.png
  Resources/Textures/Objects/Misc/id_cards.rsi/default-inhand-left.png
  Resources/Textures/Objects/Misc/id_cards.rsi/default-inhand-right.png
  Resources/Textures/Objects/Misc/id_cards.rsi/default.png
  Resources/Textures/Objects/Misc/id_cards.rsi/gold-inhand-left.png
  Resources/Textures/Objects/Misc/id_cards.rsi/gold-inhand-right.png
  Resources/Textures/Objects/Misc/id_cards.rsi/gold.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idassistant.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idbartender.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idcaptain.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idcargotechnician.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idcentcom.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idchiefengineer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idchiefmedicalofficer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idclown.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idcook.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idheadofpersonnel.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idheadofsecurity.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idjanitor.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmedicaldoctor.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmime.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idresearchdirector.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idscientist.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idsecurityofficer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idstationengineer.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/silver-inhand-left.png
  Resources/Textures/Objects/Misc/id_cards.rsi/silver-inhand-right.png
  Resources/Textures/Objects/Misc/id_cards.rsi/silver.png
Labels: Map Changes, Type: Feature

#2000 Add helpers for converting to and from Fahrenheit
  Content.Shared/Utility/TemperatureHelpers.cs
Labels: Type: Feature

#1994 Add an entire nullable to buckle
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Strap/StrapComponent.cs
Labels: Feature: Interaction, Type: Bug

#1993 Make verbs be created through IDynamicTypeFactory
  Content.Shared/GameObjects/Verbs/VerbUtility.cs
Labels: Feature: Entities, Type: Refactor

#1992 Add extension method to shuffle an entity by a random value
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorComponent.cs
  Content.Shared/Utility/SharedEntityExtensions.cs
Labels: Feature: Entities, Type: Feature

#1999 Add extension methods for getting adjacent tiles randomly and to offset coordinates in a direction
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Utility/SharedDirectionExtensions.cs
Labels: Type: Feature

#1881 Removes the Straylight SMG
  Resources/Prototypes/Entities/Effects/Markers/gamemode_conditional_spawners.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/straylight.rsi/suppressor.png
Labels: Feature: Entities

#1997 Add IMechanism interface to body system
  Content.Server/Body/BodyPart.cs
  Content.Server/Body/IBodyPart.cs
  Content.Server/Body/Mechanisms/IMechanism.cs
  Content.Server/Body/Mechanisms/Mechanism.cs
  Content.Server/Body/Surgery/BiologicalSurgeryData.cs
  Content.Server/Body/Surgery/ISurgeon.cs
  Content.Server/Body/Surgery/SurgeryData.cs
  Content.Server/GameObjects/Components/Body/DroppedMechanismComponent.cs
  Content.Server/GameObjects/Components/Body/SurgeryToolComponent.cs
Labels: Feature: Medical, Type: Refactor

#1991 Add extensions for spilling solutions into puddles
  Content.Server/GameObjects/Components/Chemistry/VaporComponent.cs
  Content.Server/GameObjects/Components/Fluids/CanSpillComponent.cs
  Content.Server/GameObjects/Components/Fluids/MopComponent.cs
  Content.Server/GameObjects/Components/Fluids/SpillExtensions.cs
  Content.Server/GameObjects/Components/Fluids/SpillHelper.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
Labels: Feature: Entities, Type: Refactor

#1987 Add a test to check that maps are not saved postmapinit
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Project: Tests, Type: Feature

#1979 Adds random spawners for toys
  Resources/Prototypes/Entities/Effects/Markers/toy_spawner.yml
  Resources/Textures/Interface/Misc/markers.rsi/meta.json
  Resources/Textures/Interface/Misc/markers.rsi/spawner_figure.png
  Resources/Textures/Interface/Misc/markers.rsi/spawner_toy.png
Labels: Feature: Entities, Type: Improvement

#1986 Object Description Update For Prototypes
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/food.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
Labels: Feature: Entities, Type: Improvement

#1995 Replace resolve dependency with attribute in components
  Content.Server/GameObjects/Components/Atmos/GridAtmosphereComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/CustodialClosetFill.cs
  Content.Server/GameObjects/Components/Mobs/Speech/OwOAccentComponent.cs
  Content.Server/GameObjects/Components/Movement/AiControllerComponent.cs
  Content.Server/GameObjects/Components/Nutrition/HungerComponent.cs
  Content.Server/GameObjects/Components/Nutrition/ThirstComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerProviderComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverComponent.cs
  Content.Server/GameObjects/Components/Projectiles/HitscanComponent.cs
  Content.Server/GameObjects/Components/RadioComponent.cs
  Content.Server/GameObjects/Components/Research/ProtolatheDatabaseComponent.cs
  Content.Server/GameObjects/Components/Research/ResearchConsoleComponent.cs
  Content.Server/GameObjects/Components/StationEvents/RadiationPulseComponent.cs
  Content.Server/GameObjects/Components/VendingMachines/VendingMachineComponent.cs
  Content.Server/GameObjects/Components/Weapon/FlashableComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Ammunition/AmmoComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/RevolverBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/ServerRangedWeaponComponent.cs
Labels: Feature: Entities, Type: Refactor

#1990 Add puddle spill tests
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
Labels: Feature: Entities, Project: Tests, Type: Feature

#1976 1779 extinguisher cabinet
  Content.Client/GameObjects/Components/ExtinguisherCabinetVisualizer.cs
  Content.Server/GameObjects/Components/ExtinguisherCabinetComponent.cs
  Content.Server/GameObjects/Components/ExtinguisherCabinetFilledComponent.cs
  Content.Server/GameObjects/Components/Items/FireExtinguisherComponent.cs
  Content.Shared/GameObjects/Components/ExtinguisherCabinet.cs
  Resources/Prototypes/Entities/Constructible/Walls/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Recipes/Construction/misc.yml
  Resources/Textures/Constructible/Misc/extinguisher_cabinet.rsi/extinguisher_closed.png
  Resources/Textures/Constructible/Misc/extinguisher_cabinet.rsi/extinguisher_empty.png
  Resources/Textures/Constructible/Misc/extinguisher_cabinet.rsi/extinguisher_full.png
  Resources/Textures/Constructible/Misc/extinguisher_cabinet.rsi/extinguisher_mini.png
  Resources/Textures/Constructible/Misc/extinguisher_cabinet.rsi/meta.json
Labels: Feature: Entities, Type: Feature

#2004 Updates surgery IDs to standard
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Objects/Tools/surgery.yml
Labels: Feature: Entities, Map Changes, Resources (No code), Type: Refactor

#1932 Cloning
  Content.Client/GameObjects/Components/AcceptCloningBoundUserInterface.cs
  Content.Client/GameObjects/Components/AcceptCloningWindow.cs
  Content.Client/GameObjects/Components/Actor/CharacterInterface.cs
  Content.Client/GameObjects/Components/Body/BodyManagerComponent.cs
  Content.Client/GameObjects/Components/CloningPod/CloningPodBoundUserInterface.cs
  Content.Client/GameObjects/Components/CloningPod/CloningPodVisualizer.cs
  Content.Client/GameObjects/Components/CloningPod/CloningPodWindow.cs
  Content.Client/GameObjects/Components/MedicalScanner/MedicalScannerComponent.cs
  Content.Client/GameObjects/Components/MedicalScanner/MedicalScannerWindow.cs
  Content.Client/GameObjects/Components/Observer/GhostComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Client/UserInterface/GhostGui.cs
  Content.Server/GameObjects/Components/Medical/CloningPodComponent.cs
  Content.Server/GameObjects/Components/Medical/MedicalScannerComponent.cs
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Server/GameObjects/Components/Observer/GhostComponent.cs
  Content.Server/GameObjects/EntitySystems/CloningSystem.cs
  Content.Shared/GameObjects/Components/Medical/SharedCloningPodComponent.cs
  Content.Shared/GameObjects/Components/Observer/SharedGhostComponent.cs
  Content.Shared/GameObjects/Components/SharedAcceptCloningComponent.cs
  Resources/Prototypes/Entities/Constructible/Power/cloning_machine.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/pod_0.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_maintenance.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_occupied.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_open.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_open_maintenance.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_open_unpowered.png
  Resources/Textures/Objects/Specific/Medical/BodyScanner.rsi/scanner_unpowered.png
  Resources/Textures/Objects/Specific/Medical/cloning.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/cloning.rsi/pod_0.png
  Resources/Textures/Objects/Specific/Medical/cloning.rsi/pod_1.png
  Resources/Textures/Objects/Specific/Medical/cloning.rsi/pod_e.png
  Resources/Textures/Objects/Specific/Medical/cloning.rsi/pod_g.png
Labels: Feature: Medical, Type: Feature

#2007 Fix crash when deleting a medical scanner with someone inside
  Content.Client/GameObjects/Components/MedicalScanner/MedicalScannerVisualizer.cs
Labels: Feature: Medical, Type: Bug

#1972 Adds click attacks
  Content.Client/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Server/AI/Utility/Considerations/Combat/Melee/MeleeWeaponSpeedCon.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Shared/GameObjects/EntitySystemMessages/MeleeWeaponSystemMessages.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IAttack.cs
Labels: Feature: Interaction, Type: Feature

#1989 Improves the Admin PlayerList
  Content.Client/UserInterface/AdminMenu/AdminMenuWindow.cs
Labels: Feature: UI, Type: Improvement

#2008 Tile Prying helpers
  Content.Server/GameObjects/Components/Atmos/GridAtmosphereComponent.cs
  Content.Server/GameObjects/Components/Interactable/TilePryingComponent.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: Type: Improvement

#1967 Hurt Command
  Content.Server/Body/BodyCommands.cs
  Resources/Groups/groups.yml
Labels: Feature: Medical, Type: Feature

#1871 Removes unfunny/unoriginal bar signs.
  Resources/Prototypes/Entities/Constructible/Walls/bar_sign.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Textures/Constructible/Misc/barsign.rsi/LV426.png
  Resources/Textures/Constructible/Misc/barsign.rsi/alohasnackbar.png
  Resources/Textures/Constructible/Misc/barsign.rsi/birdcage.png
  Resources/Textures/Constructible/Misc/barsign.rsi/emprah.png
  Resources/Textures/Constructible/Misc/barsign.rsi/honkednloaded.png
  Resources/Textures/Constructible/Misc/barsign.rsi/meta.json
  Resources/Textures/Constructible/Misc/barsign.rsi/oldcockinn.png
  Resources/Textures/Constructible/Misc/barsign.rsi/scotchservinwill.png
  Resources/Textures/Constructible/Misc/barsign.rsi/slipperyshots.png
  Resources/Textures/Constructible/Misc/barsign.rsi/syndibarsign.png
  Resources/Textures/Constructible/Misc/barsign.rsi/theadminbus.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thebark.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thecavern.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thegreytide.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thenest.png
  Resources/Textures/Constructible/Misc/barsign.rsi/theshaken.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thesun.png
  Resources/Textures/Constructible/Misc/barsign.rsi/thewiggleroom.png
  Resources/Textures/Constructible/Misc/barsign.rsi/vladssaladbar.png
  Resources/Textures/Constructible/Misc/barsign.rsi/zocalo.png
  Resources/Textures/Constructible/Misc/sylphs.rsi/meta.json
  Resources/Textures/Constructible/Misc/sylphs.rsi/sylph.png
  Resources/Textures/Constructible/Misc/sylphs.rsi/sylphicon.png
Labels: Feature: Sprites, Priority: 5-barsign, Type: Improvement

#2013 Fix the health status effect not showing until statuses change
  Content.Client/GameObjects/Components/Mobs/State/MobStateManagerComponent.cs
  Content.Shared/GameObjects/Components/Mobs/State/SharedMobStateManagerComponent.cs
Labels: Feature: UI, Type: Bug

#2014 Feature/1754 kill player on body parts missing
  Content.Server/Body/BodyPart.cs
  Content.Server/Body/IBodyPart.cs
  Content.Server/GameObjects/Components/Body/BodyManagerComponent.cs
  Content.Shared/Body/Part/BodyPartPrototype.cs
  Content.Shared/GameObjects/Components/Damage/DamageableComponent.cs
  Resources/Prototypes/Body/Parts/humanoid_parts.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Medical, Type: Feature

#1886 Glowsticks, flares and lighting behaviours
  Content.Client/GameObjects/Components/ExpendableLightVisualizer.cs
  Content.Client/GameObjects/Components/Interactable/ExpendableLightComponent.cs
  Content.Client/GameObjects/Components/LightBehaviourComponent.cs
  Content.Server/GameObjects/Components/Interactable/ExpendableLightComponent.cs
  Content.Server/GameObjects/Components/LightBehaviourComponent.cs
  Content.Server/GameObjects/EntitySystems/ExpendableLightSystem.cs
  Content.Shared/GameObjects/Components/SharedExpendableLightComponent.cs
  Content.Shared/GameObjects/Components/SharedLightBehaviourComponent.cs
  Resources/Audio/Items/Flare/flare_burn.ogg
  Resources/Audio/Items/Flare/flare_on.ogg
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Textures/Objects/Misc/flare.rsi/flare_base.png
  Resources/Textures/Objects/Misc/flare.rsi/flare_burn.png
  Resources/Textures/Objects/Misc/flare.rsi/flare_spent.png
  Resources/Textures/Objects/Misc/flare.rsi/flare_unlit.png
  Resources/Textures/Objects/Misc/flare.rsi/meta.json
  Resources/Textures/Objects/Misc/flare.rsi/off-inhand-left.png
  Resources/Textures/Objects/Misc/flare.rsi/off-inhand-right.png
  Resources/Textures/Objects/Misc/flare.rsi/on-inhand-left.png
  Resources/Textures/Objects/Misc/flare.rsi/on-inhand-right.png
  Resources/Textures/Objects/Misc/glowstick.rsi/glowstick_base.png
  Resources/Textures/Objects/Misc/glowstick.rsi/glowstick_glow.png
  Resources/Textures/Objects/Misc/glowstick.rsi/glowstick_lit.png
  Resources/Textures/Objects/Misc/glowstick.rsi/glowstick_unlit.png
  Resources/Textures/Objects/Misc/glowstick.rsi/meta.json
  Resources/Textures/Objects/Misc/glowstick.rsi/off-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/off-inhand-right.png
  Resources/Textures/Objects/Misc/glowstick.rsi/on-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/on-inhand-right.png
Labels: Feature: Entities, Type: Feature

#1988 Removes Courier backpacks.
  Resources/Prototypes/Entities/Clothing/Back/courier.yml
  Resources/Textures/Clothing/Back/Couriers/courier.rsi/courier-black.png
  Resources/Textures/Clothing/Back/Couriers/courier.rsi/courier-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier.rsi/courier.png
  Resources/Textures/Clothing/Back/Couriers/courier.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_captain.rsi/courier-captain-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_captain.rsi/courier-captain.png
  Resources/Textures/Clothing/Back/Couriers/courier_captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_chemistry.rsi/courier-chemistry-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_chemistry.rsi/courier-chemistry.png
  Resources/Textures/Clothing/Back/Couriers/courier_chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_engineering.rsi/courier-engineering-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_engineering.rsi/courier-engineering.png
  Resources/Textures/Clothing/Back/Couriers/courier_engineering.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_hydroponics.rsi/courier-hydroponics-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_hydroponics.rsi/courier-hydroponics.png
  Resources/Textures/Clothing/Back/Couriers/courier_hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_medical.rsi/courier-medical-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_medical.rsi/courier-medical.png
  Resources/Textures/Clothing/Back/Couriers/courier_medical.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_science.rsi/courier-science-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_science.rsi/courier-science.png
  Resources/Textures/Clothing/Back/Couriers/courier_science.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_security.rsi/courier-security-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_security.rsi/courier-security.png
  Resources/Textures/Clothing/Back/Couriers/courier_security.rsi/meta.json
  Resources/Textures/Clothing/Back/Couriers/courier_virology.rsi/courier-virology-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Couriers/courier_virology.rsi/courier-virology.png
  Resources/Textures/Clothing/Back/Couriers/courier_virology.rsi/meta.json
Labels: Feature: Entities, Resources (No code)

#2003 Adds inhands and removes vir and genetics satchels.
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_captain.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_captain.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_captain.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_captain.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_captain.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_chemistry.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_chemistry.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_chemistry.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_chemistry.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_chemistry.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_engineering.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_engineering.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_engineering.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_engineering.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_engineering.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_genetics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_genetics.rsi/satchel-genetics-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_genetics.rsi/satchel-genetics.png
  Resources/Textures/Clothing/Back/Satchels/satchel_hydroponics.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_hydroponics.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_hydroponics.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_hydroponics.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_hydroponics.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_medical.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_medical.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_medical.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_medical.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_medical.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_science.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_science.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_science.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_science.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_science.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/satchel_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/satchel_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/satchel_security.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_virology.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/satchel_virology.rsi/satchel-virology-equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/satchel_virology.rsi/satchel-virology.png
Labels: Feature: Sprites, Resources (No code), Type: Improvement

#2016 Fixes Pills not metabolizing
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
Labels: Feature: Medical, Type: Bug

#2019 Add UnsimulatedGridAtmosphereComponent and a command to add it
  Content.Server/Atmos/AtmosCommands.cs
  Content.Server/GameObjects/Components/Atmos/GridAtmosphereComponent.cs
  Content.Server/GameObjects/Components/Atmos/UnsimulatedGridAtmosphereComponent.cs
Labels: Feature: Atmospherics, Type: Feature

#2025 Change HighPressureMovements to use GridTileLookup
  Content.IntegrationTests/Tests/GridTileLookupTest.cs
  Content.Server/Atmos/TileAtmosphere.cs
Labels: Feature: Atmospherics, Type: Performance

#2028 Make latejoining not hardcoded to presets
  Content.IntegrationTests/DummyGameTicker.cs
  Content.Server/GameTicking/GamePresets/PresetSuspicion.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/GameTickerCommands.cs
  Content.Server/Interfaces/GameTicking/IGameTicker.cs
Labels: Type: Improvement

#2026 Makes more fields VV
  Content.Client/GameObjects/Components/Mobs/ClientStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/AnchorableComponent.cs
  Content.Server/GameObjects/Components/Atmos/MovedByPressureComponent.cs
  Content.Server/GameObjects/Components/Body/Digestive/StomachComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PourableComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/StorageFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/Components/PlaceableSurfaceComponent.cs
  Content.Server/GameObjects/Components/Research/LatheComponent.cs
  Content.Server/GameObjects/Components/Research/LatheDatabaseComponent.cs
  Content.Server/GameObjects/Components/Research/MaterialStorageComponent.cs
  Content.Server/GameObjects/Components/Research/ResearchConsoleComponent.cs
  Content.Server/GameObjects/Components/Research/ResearchPointSourceComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/BoltActionBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/PumpBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/RevolverBarrelComponent.cs
  Content.Server/GameObjects/Components/WiresComponent.cs
  Content.Shared/GameObjects/Components/Movement/SharedPlayerInputMoverComponent.cs
  Content.Shared/GameObjects/Components/VendingMachines/SharedVendingMachineComponent.cs
  Content.Shared/GameObjects/Components/Weapons/Ranged/SharedRangedBarrelComponent.cs
Labels: Feature: Entities, Type: Improvement

#2024 Fire damage
  Content.Client/IgnoredComponents.cs
  Content.Server/Atmos/AtmosHelpers.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/Components/Atmos/AtmosExposedComponent.cs
  Content.Server/GameObjects/Components/Atmos/BarotraumaComponent.cs
  Content.Server/GameObjects/Components/Metabolism/MetabolismComponent.cs
  Content.Server/GameObjects/Components/Temperature/TemperatureComponent.cs
  Content.Server/GameObjects/EntitySystems/AtmosExposedSystem.cs
  Content.Server/GameObjects/EntitySystems/AtmosphereSystem.cs
  Content.Server/GameObjects/EntitySystems/BarotraumaSystem.cs
  Content.Server/GameObjects/EntitySystems/TemperatureSystem.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStunnableComponent.cs
  Content.Shared/GameObjects/Components/Mobs/State/SharedDeadState.cs
  Content.Shared/GameObjects/Components/Observer/SharedGhostComponent.cs
  Content.Shared/GameObjects/EntitySystems/ActionBlockerSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Atmospherics, Feature: Medical, Type: Feature

#1998 Make the mapping command take the next available map id if one isn't given
  Content.Client/Commands/DebugCommands.cs
  Content.Server/GameTicking/GameTickerCommands.cs
Labels: Type: Improvement

#2010 Add text coloring for inspected solution containers, code cleanup
  Content.Client/EntryPoint.cs
  Content.Server/AI/Utility/Considerations/Nutrition/Drink/DrinkValueCon.cs
  Content.Server/AI/Utility/Considerations/Nutrition/Food/FoodValueCon.cs
  Content.Server/Atmos/GasSprayerComponent.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/GameObjects/Components/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/GameObjects/Components/Body/Digestive/StomachComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/InjectorComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PourableComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Chemistry/SolutionContainerComponent.cs
  Content.Server/GameObjects/Components/Chemistry/TransformableContainerComponent.cs
  Content.Server/GameObjects/Components/Chemistry/VaporComponent.cs
  Content.Server/GameObjects/Components/Fluids/BucketComponent.cs
  Content.Server/GameObjects/Components/Fluids/CanSpillComponent.cs
  Content.Server/GameObjects/Components/Fluids/MopComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Server/GameObjects/Components/Fluids/SpillableComponent.cs
  Content.Server/GameObjects/Components/Fluids/SprayComponent.cs
  Content.Server/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Shared/Chemistry/ReagentPrototype.cs
  Content.Shared/Chemistry/Solution.cs
  Content.Shared/Chemistry/SolutionCaps.cs
  Content.Shared/GameObjects/Components/Chemistry/SharedSolutionContainerComponent.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Clothing/Gloves/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/animals.yml
  Resources/Prototypes/Entities/Constructible/Power/microwave.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/fuel_tank.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/storage_tank.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/water_tank.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/food.yml
  Resources/Prototypes/Entities/Objects/Consumable/kitchen_reagent_containers.yml
  Resources/Prototypes/Entities/Objects/Consumable/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Specific/janitor.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/chemistry.yml
  Resources/Prototypes/Entities/puddle.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/drinks.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/food_reagents.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: Feature: UI, Type: Improvement

#2017 Separate part management from the rest of body manager component
  Content.Server/Body/BodyCommands.cs
  Content.Server/Body/BodyPreset.cs
  Content.Server/Body/BodyTemplate.cs
  Content.Server/Body/Network/BodyNetwork.cs
  Content.Server/Body/Surgery/BiologicalSurgeryData.cs
  Content.Server/GameObjects/Components/Body/BodyManagerComponent.Parts.cs
  Content.Server/GameObjects/Components/Body/BodyManagerComponent.cs
  Content.Server/GameObjects/Components/Body/DroppedBodyPartComponent.cs
  Content.Server/GameObjects/Components/Body/IBodyManagerComponent.cs
  Content.Server/GameObjects/Components/Body/IBodyPartManager.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbableComponent.cs
Labels: Feature: Medical, Type: Refactor

#2057 Clean up Drop and fix IDropped.Dropped
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
Labels: Feature: Interaction, Type: Refactor

#2033 Fixes "Large Bar Sign" not being abstract
  Resources/Prototypes/Entities/Constructible/Walls/bar_sign.yml
Labels: Feature: Sprites, Type: Bug

#2062 Siphon and Vent Visualizers
  Content.Client/GameObjects/Components/Atmos/SiphonVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/VentVisualizer.cs
  Content.Server/GameObjects/Components/Atmos/Piping/Scrubbers/BaseSiphonComponent.cs
  Content.Server/GameObjects/Components/Atmos/Piping/Vents/BaseVentComponent.cs
  Content.Shared/GameObjects/Atmos/SharedSiphonComponent.cs
  Content.Shared/GameObjects/Atmos/SharedVentComponent.cs
  Resources/Prototypes/Entities/Constructible/Ground/scrubbers.yml
  Resources/Prototypes/Entities/Constructible/Ground/vents.yml
  Resources/Textures/Constructible/Atmos/scrubber.rsi/meta.json
  Resources/Textures/Constructible/Atmos/scrubber.rsi/scrubOff.png
  Resources/Textures/Constructible/Atmos/scrubber.rsi/scrubOn.png
  Resources/Textures/Constructible/Atmos/vent.rsi/meta.json
  Resources/Textures/Constructible/Atmos/vent.rsi/ventOff.png
  Resources/Textures/Constructible/Atmos/vent.rsi/ventOn.png
Labels: Feature: Atmospherics, Feature: Sprites, Type: Feature

#2069 Ignore client unknown components
  Content.Client/IgnoredComponents.cs
  SpaceStation14.sln.DotSettings
Labels: Type: Bug

#2066 Make PostMapInitTest ignore test maps instead of those in an array
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Test/Pathfinding/simple.yml
Labels: Project: Tests, Type: Improvement

#2063 Add extension method to popup a message for the source and everyone else around it
  Content.Server/Utility/NotifyExtensions.cs
Labels: Feature: UI, Type: Improvement

#1996 Fix breathing once and for all
  Content.IntegrationTests/Tests/LungTest.cs
  Content.Server/GameObjects/Components/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/GameObjects/Components/Body/Respiratory/LungComponent.cs
  Content.Server/GameObjects/Components/Metabolism/MetabolismComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Maps/Test/Breathing/3by3-20oxy-80nit.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Atmospherics, Feature: Medical, Type: Bug

#2049 Toggles for handheld interactables.
  Content.Server/GameObjects/Components/Atmos/GasAnalyzerComponent.cs
  Content.Server/GameObjects/Components/Instruments/InstrumentComponent.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/MagicMirrorComponent.cs
  Content.Server/GameObjects/Components/PDA/PDAComponent.cs
  Content.Server/GameObjects/Components/Paper/PaperComponent.cs
  Content.Server/GameObjects/Components/VendingMachines/VendingMachineComponent.cs
Labels: Feature: UI, Type: Improvement

#2051 Make more Fields VV and more editable
  Content.Client/GameObjects/Components/Mobs/ClientStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Atmos/MovedByPressureComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Research/LatheComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/BoltActionBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/PumpBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/RevolverBarrelComponent.cs
Labels: Feature: Entities, Type: Improvement

#1975 Removes exosuit slot (for now!!!) and rearranges inventory UI again.
  Content.Client/GameObjects/Components/HUD/Inventory/HumanInventoryInterfaceController.cs
  Content.Shared/GameObjects/Components/Inventory/EquipmentSlotDefinitions.cs
Labels: Feature: UI, Type: Improvement

#2045 E to interact with disposal bins.
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
Labels: Feature: Interaction, Type: Feature

#2037 Firey rags are not fucking drinks
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/rag.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/rag.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/rag_lit.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/rag_lit.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/rag_small.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/rag_small.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/rag_small_lit.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/rag_small_lit.rsi/meta.json
Labels: Feature: Sprites, Resources (No code), Type: Refactor

#2067 Add deletegas command to delete all gas or just one from a grid
  Content.Server/Atmos/AtmosCommands.cs
  Resources/Groups/groups.yml
Labels: Feature: Atmospherics, Type: Feature

#2064 Disabled PowerConsumers do not use Apc power
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/ApcNetNodeGroup.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverComponent.cs
Labels: Feature: Power, Type: Bug

#2088 Fixes R&D point source
  Resources/Prototypes/Entities/Constructible/Power/research.yml
  Resources/Textures/Constructible/Power/rndpointsource.rsi/meta.json
  Resources/Textures/Constructible/Power/rndpointsource.rsi/rndpointsource-broken.png
  Resources/Textures/Constructible/Power/rndpointsource.rsi/rndpointsource-icon.png
  Resources/Textures/Constructible/Power/rndpointsource.rsi/rndpointsource-off.png
  Resources/Textures/Constructible/Power/rndpointsource.rsi/rndpointsource.png
Labels: Feature: Sprites, Type: Bug

#2076 Resolve issue involving flickering lights #2056
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/PoweredLightComponent.cs
Labels: Feature: Power, Type: Bug

#2089 Fixes lights not being rotatable. And #2082.
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Walls/emergency_light.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Textures/Constructible/Lighting/emergency_light.rsi/emergency_light_icon.png
  Resources/Textures/Constructible/Lighting/emergency_light.rsi/meta.json
  Resources/Textures/Constructible/Lighting/light_tube.rsi/meta.json
  Resources/Textures/Constructible/Lighting/light_tube.rsi/officon.png
  Resources/Textures/Constructible/Lighting/light_tube.rsi/onicon.png
Labels: Map Changes

#2103 Don't show the pull verb if the target is anchored
  Content.Server/GlobalVerbs/PullingVerb.cs
Labels: Feature: Interaction, Feature: UI, Type: Improvement

#2061 remove paper description
  Content.Server/GameObjects/Components/Paper/PaperComponent.cs
Labels: Feature: Entities, Type: Improvement

#2059 Removed LocalizationManager dependencies
  Content.Client/Chat/ChatBox.cs
  Content.Client/Command/CommunicationsConsoleMenu.cs
  Content.Client/EscapeMenuOwner.cs
  Content.Client/GameObjects/Components/Access/IdCardConsoleBoundUserInterface.cs
  Content.Client/GameObjects/Components/Access/IdCardConsoleWindow.cs
  Content.Client/GameObjects/Components/Actor/CharacterInfoComponent.cs
  Content.Client/GameObjects/Components/HUD/Inventory/HumanInventoryInterfaceController.cs
  Content.Client/Research/ResearchConsoleMenu.cs
  Content.Client/Sandbox/SandboxManager.cs
  Content.Client/State/MainMenu.cs
  Content.Client/UserInterface/Cargo/CargoConsoleMenu.cs
  Content.Client/UserInterface/Cargo/CargoConsoleOrderMenu.cs
  Content.Client/UserInterface/Cargo/GalacticBankSelectionMenu.cs
  Content.Client/UserInterface/EscapeMenu.cs
  Content.Client/UserInterface/GameHud.cs
  Content.Server/Administration/DeleteEntitiesWithComponent.cs
  Content.Server/Administration/Rejuvenate.cs
  Content.Server/Chat/ChatManager.cs
  Content.Server/GameTicking/GameTicker.cs
Labels: Type: Refactor

#2098 eject verbs for chem and id console
  Content.Server/GameObjects/Components/Access/IdCardConsoleComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
Labels: Feature: Interaction, Type: Feature

#2094 keybind to stop pulling.
  Content.Client/Input/ContentContexts.cs
  Content.Client/UserInterface/OptionsMenu.KeyRebind.cs
  Content.Client/UserInterface/TutorialWindow.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Feature: Interaction, Type: Feature

#2072 Small change to Walls/metal.rsi
  Resources/Textures/Constructible/Structures/Walls/metal.rsi/metal7.png
Labels: Feature: Sprites, Type: Improvement

#2106 Removes cev hull tiles
  Resources/Prototypes/Tiles/hull.yml
  Resources/Textures/Constructible/Tiles/Hull/hullcenter0.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter1.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter10.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter11.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter12.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter13.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter14.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter15.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter16.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter17.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter18.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter19.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter2.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter20.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter21.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter22.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter23.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter24.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter25.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter26.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter27.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter28.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter29.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter3.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter30.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter31.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter32.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter33.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter34.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter35.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter4.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter5.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter6.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter7.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter8.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter9.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter_corners.png
  Resources/Textures/Constructible/Tiles/Hull/hullcenter_edges.png
Labels: Feature: Sprites, Resources (No code), Type: Refactor

#2111 Cleanup
  Content.Client/GameObjects/Components/Atmos/GasAnalyzerComponent.cs
  Content.Client/GameObjects/Components/ExtinguisherCabinetVisualizer.cs
  Content.Client/Sandbox/SandboxManager.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.Server/Chat/ChatCommands.cs
  Content.Server/GameObjects/Components/Atmos/AirtightComponent.cs
  Content.Server/GameObjects/Components/Atmos/GasAnalyzerComponent.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorComponent.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/Components/Interactable/ToolCommands.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalReceiverComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalTransmitterComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbableComponent.cs
  Content.Server/GameObjects/Components/Movement/ServerTeleporterComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerProviderComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/Pathfinders/JpsPathfindingJob.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
Labels: Type: Refactor

#2108 Atmos debug helpers
  Content.Client/Atmos/AtmosDebugOverlay.cs
  Content.Client/GameObjects/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/AtmosCommands.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/EntitySystems/Atmos/AtmosDebugOverlaySystem.cs
  Content.Shared/GameObjects/EntitySystems/Atmos/SharedAtmosDebugOverlaySystem.cs
  Resources/Groups/groups.yml
Labels: Feature: Atmospherics, Feature: UI, Type: Feature

#2096 Fix power grid announcements overlapping power-down sounds
  Content.Server/StationEvents/PowerGridCheck.cs
Labels: Feature: Audio, Feature: Events, Feature: Power, Type: Improvement

#2031 Replaces old airlock_deny sound effect with vgs airlock_deny
  Resources/Audio/Machines/airlock_deny.ogg
Labels: Feature: Audio, Type: Improvement

#2009 Refactors radiation
  Content.Client/GameObjects/Components/StationEvents/RadiationPulseComponent.cs
  Content.Client/StationEvents/RadiationPulseOverlay.cs
  Content.Server/GameObjects/Components/StationEvents/RadiationPulseComponent.cs
  Content.Server/GameObjects/EntitySystems/StationEvents/RadiationPulseSystem.cs
  Content.Server/StationEvents/RadiationStorm.cs
  Content.Shared/GameObjects/Components/Damage/DamageableComponent.cs
  Content.Shared/GameObjects/Components/SharedRadiationStorm.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IRadiationAct.cs
  Resources/Prototypes/Entities/Constructible/Doors/airlock_base.yml
  Resources/Prototypes/Entities/Constructible/Ground/furniture.yml
  Resources/Prototypes/Entities/Constructible/Ground/instruments.yml
  Resources/Prototypes/Entities/Constructible/Ground/pilot_chair.yml
  Resources/Prototypes/Entities/Constructible/Ground/pipes.yml
  Resources/Prototypes/Entities/Constructible/Ground/pumps.yml
  Resources/Prototypes/Entities/Constructible/Ground/scrubbers.yml
  Resources/Prototypes/Entities/Constructible/Ground/table.yml
  Resources/Prototypes/Entities/Constructible/Ground/vents.yml
  Resources/Prototypes/Entities/Constructible/Ground/wires.yml
  Resources/Prototypes/Entities/Constructible/Power/AME/ame_controller.yml
  Resources/Prototypes/Entities/Constructible/Power/AME/ame_structure.yml
  Resources/Prototypes/Entities/Constructible/Power/cloning_machine.yml
  Resources/Prototypes/Entities/Constructible/Power/debug_power.yml
  Resources/Prototypes/Entities/Constructible/Power/gravity_generator.yml
  Resources/Prototypes/Entities/Constructible/Power/medical_scanner.yml
  Resources/Prototypes/Entities/Constructible/Power/power_base.yml
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
  Resources/Prototypes/Entities/Constructible/Storage/Closets/closet.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/storage_tank.yml
  Resources/Prototypes/Entities/Constructible/Storage/crate_base.yml
  Resources/Prototypes/Entities/Constructible/Walls/asteroid.yml
  Resources/Prototypes/Entities/Constructible/Walls/girder.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Prototypes/Entities/Constructible/Walls/low_wall.yml
  Resources/Prototypes/Entities/Constructible/Walls/signs.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
  Resources/Prototypes/Entities/Constructible/disposal.yml
Labels: Type: Feature, Type: Improvement

#2110 Gives the gas analyzer visual clues that it's open
  Content.Client/GameObjects/Components/Atmos/GasAnalyzerVisualizer.cs
  Content.Server/GameObjects/Components/Atmos/GasAnalyzerComponent.cs
  Content.Shared/GameObjects/Components/Atmos/SharedGasAnalyzerComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Textures/Objects/Specific/Atmos/gasanalyzer.rsi/meta.json
  Resources/Textures/Objects/Specific/Atmos/gasanalyzer.rsi/working.png
Labels: Feature: Sprites

#2093 Storagefill component refactor
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/CustodialClosetFill.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/EmergencyClosetFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/MedkitFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/StorageFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolLockerFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolboxElectricalFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolboxEmergencyFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/ToolboxGoldFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/Fill/UtilityBeltClothingFillComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StorageFillComponent.cs
  Resources/Prototypes/Catalog/Fills/backpack.yml
  Resources/Prototypes/Catalog/Fills/belt.yml
  Resources/Prototypes/Catalog/Fills/crate.yml
  Resources/Prototypes/Catalog/Fills/lockers.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_food.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_general.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_medical.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_science.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_security.yml
  Resources/Prototypes/Entities/Objects/Specific/medical.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: Feature: Entities, Type: Refactor

#2115 Adds FlammableComponent, humans can now catch on fire.
  Content.Client/GameObjects/Components/Atmos/FireVisualizer.cs
  Content.Server/Atmos/FireEvent.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/ITemperatureExpose.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Atmos/Reactions/PhoronFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/Atmos/TemperatureExposeEvent.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/Components/Atmos/AtmosExposedComponent.cs
  Content.Server/GameObjects/Components/Atmos/FlammableComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Temperature/TemperatureComponent.cs
  Content.Server/GameObjects/EntitySystems/AtmosExposedSystem.cs
  Content.Server/GameObjects/EntitySystems/AtmosphereSystem.cs
  Content.Server/Interfaces/IGasReactionEffect.cs
  Content.Shared/GameObjects/Components/Atmos/SharedFlammableComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
  Content.Shared/GameObjects/Components/Movement/SharedSlipperyComponent.cs
  Content.Shared/Preferences/Appearance/HumanoidCharacterAppearance.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Textures/Interface/StatusEffects/Fire/fire.png
  Resources/Textures/Interface/StatusEffects/Temperature/cold1.png
  Resources/Textures/Interface/StatusEffects/Temperature/cold2.png
  Resources/Textures/Interface/StatusEffects/Temperature/cold3.png
  Resources/Textures/Interface/StatusEffects/Temperature/hot1.png
  Resources/Textures/Interface/StatusEffects/Temperature/hot2.png
  Resources/Textures/Interface/StatusEffects/Temperature/hot3.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Generic_mob_burning.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Monkey_burning.png
  Resources/Textures/Mobs/Effects/onfire.rsi/Standing.png
  Resources/Textures/Mobs/Effects/onfire.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Feature: Atmospherics, Feature: Interaction, Type: Feature, Type: Improvement

#2131 Nanotrasen Block Game is here
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/GameObjects/Components/Arcade/BlockGameBoundUserInterface.cs
  Content.Client/IgnoredComponents.cs
  Content.Client/Input/ContentContexts.cs
  Content.Server/GameObjects/Components/Arcade/BlockGameArcadeComponent.cs
  Content.Server/GameObjects/EntitySystems/BlockGameSystem.cs
  Content.Shared/Arcade/BlockGameBlock.cs
  Content.Shared/Arcade/BlockGameMessages.cs
  Content.Shared/Arcade/BlockGamePlayerAction.cs
  Content.Shared/Arcade/BlockGameUiKey.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Prototypes/Entities/Constructible/Power/arcade.yml
  Resources/keybinds.yml
Labels: Type: Feature

#2117 The Grovelling-to-the-Chef Games (monkey cubes and meat spikes)
  Content.Server/GameObjects/Components/Chemistry/RehydratableComponent.cs
  Content.Server/GameObjects/Components/Kitchen/ButcherableComponent.cs
  Content.Server/GameObjects/Components/Kitchen/KitchenSpikeComponent.cs
  Content.Shared/GameObjects/Components/Items/SharedHandsComponent.cs
  Resources/Prototypes/Entities/Constructible/Ground/kitchen.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/food.yml
  Resources/Prototypes/Recipes/Construction/kitchen.yml
  Resources/Textures/Constructible/Misc/kitchen.rsi/meta.json
  Resources/Textures/Constructible/Misc/kitchen.rsi/spike.png
  Resources/Textures/Constructible/Misc/kitchen.rsi/spikebloody.png
  Resources/Textures/Constructible/Misc/kitchen.rsi/spikebloodygreen.png
Labels: Feature: Entities, Type: Feature

#2127 Removed the last bits of dependencies on localization manager
  Content.Client/Sandbox/SandboxManager.cs
  Content.Client/UserInterface/AdminMenu/AdminMenuWindow.cs
  Content.Shared/EntryPoint.cs
Labels: Type: Refactor

#2129 Fix issue
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
Labels: Feature: Interaction, Type: Bug

#2137 Adds stuff to IgnoredComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/IgnoredComponents.cs
Labels: Priority: 3-low, Type: Improvement

#2145 Add descriptions to a bunch of boxes
  Resources/Prototypes/Entities/Objects/Boxes/boxes_food.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_general.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_medical.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_science.yml
  Resources/Prototypes/Entities/Objects/Boxes/boxes_security.yml
  Resources/Prototypes/Entities/Objects/Consumable/food_containers.yml
Labels: Resources (No code), Type: Improvement

#2142 Readds Iconcomponent :P
  Content.Client/GameObjects/Components/Kitchen/MicrowaveBoundUserInterface.cs
  Content.Client/VendingMachines/VendingMachineMenu.cs
  Resources/Prototypes/Entities/Constructible/Doors/airlock_base.yml
  Resources/Prototypes/Entities/Constructible/Ground/catwalk.yml
  Resources/Prototypes/Entities/Constructible/Ground/table.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Sprites, Type: Refactor
