Repository space-wizards/space-station-14, pull requests merged in 2020-04, with the labels that each got.

#805 Adds working communications console that ends the round
  Content.Client/Command/CommunicationsConsoleMenu.cs
  Content.Client/GameObjects/Components/Command/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/GameObjects/Components/Research/LatheBoundUserInterface.cs
  Content.Server/GameObjects/Components/Command/CommunicationsConsoleComponent.cs
  Content.Server/GameObjects/EntitySystems/RoundEndSystem.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/GameObjects/Components/Command/SharedCommunicationsConsoleComponent.cs
  Resources/Prototypes/Entities/buildings/computers.yml
Labels: Type: Feature

#807 Ghosts now make use of the new "entity visibility" engine functionality
  Content.Client/GameObjects/Components/Observer/GhostComponent.cs
  Content.Server/GameObjects/Components/Observer/GhostComponent.cs
  Content.Server/GameObjects/VisibilityFlags.cs
Labels: Type: Performance

#813 Light bulbs now break when thrown
  Content.Server/GameObjects/Components/Power/LightBulbComponent.cs
  Resources/Audio/effects/glassbreak1.ogg
  Resources/Audio/effects/glassbreak2.ogg
  Resources/Audio/effects/glassbreak3.ogg
  Resources/Prototypes/SoundCollections/glassbreak.yml
Labels: Type: Feature

#815 [ReagentUnit] Fix transfer of 5.01u
  Content.Shared/Chemistry/Solution.cs
  Content.Tests/Shared/Chemistry/Solution_Tests.cs
Labels: Type: Bug

#802 Add foundation for Round End Summary Screen.
  Content.Client/GameTicking/ClientGameTicker.cs
  Content.Client/UserInterface/RoundEndSummaryWindow.cs
  Content.Server/GameTicking/GamePreset.cs
  Content.Server/GameTicking/GamePresets/PresetDeathMatch.cs
  Content.Server/GameTicking/GamePresets/PresetSandbox.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/SharedGameTicker.cs
Labels: Type: Feature

#743 Add puddles / reagent spills
  Content.Client/EntryPoint.cs
  Content.Server/GameObjects/Components/Fluids/BucketComponent.cs
  Content.Server/GameObjects/Components/Fluids/CanSpillComponent.cs
  Content.Server/GameObjects/Components/Fluids/MopComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Server/GameObjects/Components/Fluids/SpillHelper.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/EntitySystems/PuddleSystem.cs
  Content.Shared/Chemistry/ReagentUnit.cs
  Content.Tests/Shared/Chemistry/Solution_Tests.cs
  Resources/Audio/effects/Fluids/slosh.ogg
  Resources/Audio/effects/Fluids/splat.ogg
  Resources/Audio/effects/Fluids/watersplash.ogg
  Resources/Prototypes/Entities/Fluids/puddle.yml
  Resources/Prototypes/Entities/Janitor.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Textures/Fluids/gibblet.rsi/gibblet-0.png
  Resources/Textures/Fluids/gibblet.rsi/gibblet-1.png
  Resources/Textures/Fluids/gibblet.rsi/gibblet-2.png
  Resources/Textures/Fluids/gibblet.rsi/gibblet-3.png
  Resources/Textures/Fluids/gibblet.rsi/gibblet-4.png
  Resources/Textures/Fluids/gibblet.rsi/meta.json
  Resources/Textures/Fluids/smear.rsi/meta.json
  Resources/Textures/Fluids/smear.rsi/smear-0.png
  Resources/Textures/Fluids/smear.rsi/smear-1.png
  Resources/Textures/Fluids/smear.rsi/smear-2.png
  Resources/Textures/Fluids/smear.rsi/smear-3.png
  Resources/Textures/Fluids/smear.rsi/smear-4.png
  Resources/Textures/Fluids/smear.rsi/smear-5.png
  Resources/Textures/Fluids/smear.rsi/smear-6.png
  Resources/Textures/Fluids/splatter.rsi/meta.json
  Resources/Textures/Fluids/splatter.rsi/splatter-0.png
  Resources/Textures/Fluids/splatter.rsi/splatter-1.png
  Resources/Textures/Fluids/splatter.rsi/splatter-2.png
  Resources/Textures/Fluids/splatter.rsi/splatter-3.png
  Resources/Textures/Fluids/splatter.rsi/splatter-4.png
  Resources/Textures/Fluids/splatter.rsi/splatter-5.png
  Resources/Textures/Fluids/vomit.rsi/meta.json
  Resources/Textures/Fluids/vomit.rsi/vomit-0.png
  Resources/Textures/Fluids/vomit.rsi/vomit-1.png
  Resources/Textures/Fluids/vomit.rsi/vomit-2.png
  Resources/Textures/Fluids/vomit.rsi/vomit-3.png
  Resources/Textures/Fluids/vomit_toxin.rsi/meta.json
  Resources/Textures/Fluids/vomit_toxin.rsi/vomit_toxin-0.png
  Resources/Textures/Fluids/vomit_toxin.rsi/vomit_toxin-1.png
  Resources/Textures/Fluids/vomit_toxin.rsi/vomit_toxin-2.png
  Resources/Textures/Fluids/vomit_toxin.rsi/vomit_toxin-3.png
  Resources/Textures/Fluids/writing.rsi/meta.json
  Resources/Textures/Fluids/writing.rsi/writing-0.png
  Resources/Textures/Fluids/writing.rsi/writing-1.png
  Resources/Textures/Fluids/writing.rsi/writing-2.png
  Resources/Textures/Fluids/writing.rsi/writing-3.png
  Resources/Textures/Fluids/writing.rsi/writing-4.png
Labels: Type: Feature
