Repository space-wizards/space-station-14, pull requests merged in 2020-07, with the labels that each got.

#1249 Merged Client and Server PhysicsComponent
  Content.Client/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/GameObjects/Components/AnchorableComponent.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Movement/AiControllerComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ProjectileComponent.cs
  Content.Server/GameObjects/Components/RotatableComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/Throw/ThrowHelper.cs
  Content.Shared/GameObjects/Components/Movement/SharedPlayerInputMoverComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Physics/MoverController.cs
  Content.Shared/Physics/ThrowController.cs
Labels: Project: Shared, Type: Refactor

#1202 Make Server/Client Ignored Components lists easier to find
  Content.Client/EntryPoint.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/EntryPoint.cs
  Content.Server/IgnoredComponents.cs
Labels: Type: Cleanup

#1242 Deconstruction Features
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/Components/Interactable/ToolComponent.cs
  Content.Server/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/PoweredLightComponent.cs
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
  Resources/Prototypes/Construction/structures.yml
  Resources/Prototypes/Construction/weapons.yml
  Resources/Prototypes/Entities/Items/materials.yml
Labels: Area: Entities, Project: Server, Type: Feature

#1102 Adds Damage on tool interaction component (#1060)
  Content.Server/GameObjects/Components/Damage/DamageOnToolInteractComponent.cs
  Resources/Prototypes/Entities/Buildings/Storage/StorageTanks/fuel_tank.yml
Labels: Type: Feature

#1030 Make airlocks stop closing on the player
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
Labels: Status: Awaiting Engine PR

#1263 Fix buckle in general
  Content.Client/GameObjects/Components/Mobs/BuckleComponent.cs
  Content.Server/AI/Operators/Inventory/CloseStorageOperator.cs
  Content.Server/AI/Operators/Inventory/OpenStorageOperator.cs
  Content.Server/AI/Operators/Inventory/PickupEntityOperator.cs
  Content.Server/AI/Operators/Inventory/UseItemInHandsOperator.cs
  Content.Server/AI/Utility/Considerations/Containers/TargetAccessibleCon.cs
  Content.Server/AI/Utility/Considerations/Hands/TargetInOurHandsCon.cs
  Content.Server/AI/Utility/Considerations/Inventory/CanPutTargetInHandsCon.cs
  Content.Server/AI/Utility/Considerations/Inventory/TargetInOurInventoryCon.cs
  Content.Server/AI/Utility/ExpandableActions/Clothing/Head/EquipAnyHeadExp.cs
  Content.Server/AI/WorldState/States/Inventory/LastOpenedStorageState.cs
  Content.Server/AI/WorldState/States/Nutrition/NearbyDrinkState.cs
  Content.Server/AI/WorldState/States/Nutrition/NearbyFoodState.cs
  Content.Server/Chat/ChatCommands.cs
  Content.Server/GameObjects/Components/Access/AccessReaderComponent.cs
  Content.Server/GameObjects/Components/Access/IdCardConsoleComponent.cs
  Content.Server/GameObjects/Components/Chemistry/ReagentDispenserComponent.cs
  Content.Server/GameObjects/Components/Explosion/FlashExplosiveComponent.cs
  Content.Server/GameObjects/Components/GUI/HumanInventoryControllerComponent.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/Components/Interactable/HandheldLightComponent.cs
  Content.Server/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StoreableComponent.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/Mobs/BuckleComponent.cs
  Content.Server/GameObjects/Components/Mobs/HeatResistanceComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodContainerComponent.cs
  Content.Server/GameObjects/Components/PDA/PDAComponent.cs
  Content.Server/GameObjects/Components/PottedPlantHideComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/BaseCharger.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/PoweredLightComponent.cs
  Content.Server/GameObjects/Components/Strap/StrapComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/StunbatonComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Ammunition/AmmoBoxComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Ammunition/RangedMagazineComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Ammunition/SpeedLoaderComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerBatteryBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerMagazineBarrelComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Interfaces/GameObjects/Components/Items/IHandsComponent.cs
  Content.Server/PDA/PDAUplinkManager.cs
  Content.Shared/GameObjects/Components/Mobs/SharedBuckleComponent.cs
  Resources/Prototypes/Entities/Mobs/human.yml
Labels: Type: Bug

#1321 Adds slippery items
  Content.Server/GameObjects/Components/Movement/SlipperyComponent.cs
  Content.Server/GameObjects/EntitySystems/SlipperySystem.cs
  Resources/Audio/Effects/slip.ogg
  Resources/Prototypes/Entities/Items/Consumables/food.yml
  Resources/Prototypes/Entities/Items/Consumables/trash.yml
  Resources/Prototypes/Entities/janitor.yml
  Resources/Textures/Objects/Consumable/Food/banana.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/banana.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/banana.rsi/peel.png
  Resources/Textures/Objects/Fun/banana.png
  Resources/Textures/Objects/Fun/bananapeel.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soap.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soapdeluxe.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soapgibs.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soapnt.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soapomega.png
  Resources/Textures/Objects/Specific/Janitorial/soap.rsi/soapsyndie.png
Labels: Type: Feature

#1329 Construction Bugfixes
  Content.Client/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Server/Interfaces/GameObjects/Components/Interaction/IAfterInteract.cs
Labels: Project: Shared, Type: Bug

#1387 Add a "give full access" button to the sandbox menu for convienence.
  Content.Client/Sandbox/SandboxManager.cs
  Content.Client/Sandbox/SandboxWindow.cs
  Content.Server/Sandbox/SandboxManager.cs
  Content.Shared/Sandbox/SharedSandboxManager.cs
Labels: Feature: UI

#1386 Fix construction ghost HandsComponent check
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
Labels: Feature: Construction, Type: Bug

#1397 Projectiles Now check for Hard
  Content.Server/GameObjects/Components/Projectiles/ProjectileComponent.cs
Labels: Feature: Physics, Type: Bug

#1395 Airlock Hacking: AutoClose & Safety
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Shared/GameObjects/Components/Doors/AirlockWireStatus.cs
Labels: Type: Feature

#1340 Fix restartround crash and cleanup ServerStorageComponent
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StorableComponent.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/StorageSystem.cs
  SpaceStation14.sln.DotSettings
Labels: Type: Bug, Type: Refactor

#1398 Adds the ChemMaster 4000
  Content.Client/EntryPoint.cs
  Content.Client/GameObjects/Components/Chemistry/ChemMaster/ChemMasterBoundUserInterface.cs
  Content.Client/GameObjects/Components/Chemistry/ChemMaster/ChemMasterWindow.cs
  Content.Client/GameObjects/Components/Chemistry/ReagentDispenser/ReagentDispenserBoundUserInterface.cs
  Content.Client/GameObjects/Components/Chemistry/ReagentDispenser/ReagentDispenserWindow.cs
  Content.Server/GameObjects/Components/Chemistry/ChemMasterComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Shared/GameObjects/Components/Chemistry/ChemMaster/SharedChemMasterComponent.cs
  Content.Shared/GameObjects/Components/Chemistry/ReagentDispenser/ReagentDispenserInventoryPrototype.cs
  Content.Shared/GameObjects/Components/Chemistry/ReagentDispenser/SharedReagentDispenserComponent.cs
  Resources/Prototypes/Entities/Buildings/chem_master.yml
  Resources/Prototypes/Entities/Items/chemistry.yml
Labels: Type: Feature

#1410 OverlayManager 2 Electric Boogaloo
  Content.Client/GameObjects/Components/Mobs/ClientOverlayEffectsComponent.cs
  Content.Client/Graphics/Overlays/CircleMaskOverlay.cs
  Content.Client/Graphics/Overlays/FlashOverlay.cs
  Content.Client/Graphics/Overlays/GradientCircleMask.cs
  Content.Server/GameObjects/Components/Mobs/DamageThresholdTemplates/HumanTemplate.cs
  Content.Server/GameObjects/Components/Mobs/ServerOverlayEffectsComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/FlashComponent.cs
  Content.Server/GameObjects/EntitySystems/TimedOverlayRemovalSystem.cs
  Content.Shared/GameObjects/Components/Mobs/SharedOverlayEffectsComponent.cs
  Resources/Prototypes/Entities/Items/Weapons/security.yml
Labels: Feature: UI, Type: Bug, Type: Refactor

#1411 Add mapping command
  Content.Client/Commands/DebugCommands.cs
  Content.Server/GameTicking/GameTickerCommands.cs
  Resources/Groups/groups.yml
Labels: Type: Feature

#1416 Fix .35 auto top-mounted ammo not being valid for the WT550
  Resources/Prototypes/Entities/Weapons/Ammunition/Pistol/magazines.yml
Labels: Type: Bug

#1421 Fix buckling range and north facing buckle visual bug
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
Labels: Feature: Interaction, Type: Bug

#1420 Fix duplicate unbuckle out of range message
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
Labels: Feature: Interaction, Type: Bug

#1360 Fixes the ability to unweld inside containers
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
Labels: Type: Bug

#1433 Add headbutting open airlocks when you have no hands
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Resources/Audio/effects/bang.ogg
Labels: Feature: Audio, Type: Feature

#1447 Fix build
  Content.Shared/Physics/MoverController.cs
Labels: Type: Bug

#1443 Fixes Skubsuit
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Labels: Feature: Sprites, Type: Bug

#1445 Adds RCD and Pill to IgnoredComponents.cs
  Content.Client/IgnoredComponents.cs
Labels: Type: Bug

#1441 Examine text feedback for when things are powered
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverComponent.cs
Labels: Feature: UI, Type: Feature

#1448 Fix build
  Content.IntegrationTests/Tests/HumanInventoryUniformSlotsTest.cs
  Resources/Prototypes/Catalog/VendingMachines/suits.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
Labels: Type: Bug

#1456 Modifies the size of chocolate bars and harmonicas
  Resources/Prototypes/Entities/Objects/Consumable/food.yml
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
Labels: Feature: Sprites, Resources (No code)

#1400 Fix verb menu not working for clientside entities
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
  Content.Server/GameObjects/EntitySystems/VerbSystem.cs
Labels: Feature: UI, Type: Bug

#1440 Add slipping prediction
  Content.Client/GameObjects/Components/Mobs/ClientStatusEffectsComponent.cs
  Content.Client/GameObjects/Components/Mobs/StunnableComponent.cs
  Content.Client/GameObjects/Components/Movement/SlipperyComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Mobs/StunnableComponent.cs
  Content.Server/GameObjects/Components/Movement/SlipperyComponent.cs
  Content.Server/Mobs/StandingStateHelper.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStunnableComponent.cs
  Content.Shared/GameObjects/Components/Movement/SharedSlipperyComponent.cs
  Content.Shared/GameObjects/EntitySystems/SlipperySystem.cs
Labels: Feature: Interaction, Type: Improvement

#1438 Fix ghosts being able to empty backpacks by click dragging them onto tables
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
Labels: Feature: Interaction, Type: Bug

#1434 Add drink atmos
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
Labels: Feature: Interaction, Type: Feature

#1451 Add two-way serialization in ExposeData for some of the components that are missing it
  Content.Client/GameObjects/Components/Items/ClientHandsComponent.cs
  Content.Client/GameObjects/Components/Sound/LoopingSoundComponent.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/Components/Interactable/ToolComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Server/GameObjects/Components/Utensil/UtensilComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/RevolverBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerBatteryBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerMagazineBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
  Content.Server/Health/BodySystem/BodyManagerComponent.cs
  Content.Shared/Chemistry/Solution.cs
  Content.Shared/GameObjects/Components/Cargo/SharedGalacticMarketComponent.cs
  Content.Shared/GameObjects/Components/Materials/MaterialComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedLatheDatabaseComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedProtolatheDatabaseComponent.cs
  Content.Shared/GameObjects/Components/Research/SharedTechnologyDatabaseComponent.cs
  Content.Shared/GameObjects/Components/SharedStackComponent.cs
  Content.Shared/GameObjects/Components/Sound/SharedLoopingSoundComponent.cs
Labels: Type: Refactor

#1399 Fixes thrown items being stopped by open doors
  Content.Server/GameObjects/Components/Projectiles/ThrownItemComponent.cs
Labels: Feature: Physics, Type: Bug

#1332 Damage visualizer for simple mobs
  Content.Client/GameObjects/Components/Mobs/DamageStateVisualizer.cs
  Content.Server/AI/Utility/AiLogic/UtilityAI.cs
  Content.Server/GameObjects/Components/Mobs/DamageStates.cs
  Content.Server/GameObjects/EntitySystems/AI/Steering/AiSteeringSystem.cs
  Content.Shared/GameObjects/Components/Mobs/SharedDamageState.cs
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Textures/Mobs/Species/xeno_hunter.rsi/dead.png
  Resources/Textures/Mobs/Species/xeno_hunter.rsi/meta.json
  Resources/Textures/Mobs/Species/xeno_hunter.rsi/running.png
  Resources/Textures/Mobs/Species/xeno_hunter.rsi/sleeping.png
  Resources/Textures/Mobs/Species/xeno_hunter.rsi/standing.png
Labels: Feature: Entities, Type: Improvement

#1462 Refactor to use the new multiple controller system
  Content.Client/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/GameObjects/Components/GUI/ServerHandsComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Movement/ShuttleControllerComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ThrownItemComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/Throw/ThrowHelper.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Physics/BulletController.cs
  Content.Shared/Physics/MoverController.cs
  Content.Shared/Physics/ShuttleController.cs
  Content.Shared/Physics/ThrownController.cs
Labels: Feature: Physics, Type: Refactor

#1469 Fix crash when spawning a xeno
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Feature: Sprites, Resources (No code), Type: Bug

#1470 Make buckled status effect more readable
  Resources/Textures/Interface/StatusEffects/Buckle/buckled.png
Labels: Feature: Sprites, Resources (No code), Type: Improvement

#1446 Tweaks to the random trashspawner
  Resources/Prototypes/Entities/Effects/Markers/trash_spawner.yml
Labels: Feature: Entities, Holy Shit, Resources (No code), Type: Improvement

#1413 Add fire rate and caliber examine tooltip to guns
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerMagazineBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
Labels: Feature: UI, Type: Feature

#1437 Add unbuckling entities that are moved away from their straps
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/Mobs/StandingStateHelper.cs
Labels: Feature: Interaction, Type: Bug

#1401 Fix popupmessage appearing behind the player when moving
  Content.Client/ClientNotifyManager.cs
  Content.Server/ServerNotifyManager.cs
  Content.Shared/SharedNotifyManager.cs
Labels: Feature: UI, Type: Bug

#1435 Add pointing
  Content.Client/GameObjects/Components/Pointing/PointingArrowComponent.cs
  Content.Client/GameObjects/Components/Pointing/RoguePointingArrowComponent.cs
  Content.Client/GameObjects/Components/Pointing/RoguePointingArrowVisualizer.cs
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/UserInterface/TutorialWindow.cs
  Content.Server/GameObjects/Components/Pointing/PointingArrowComponent.cs
  Content.Server/GameObjects/Components/Pointing/RoguePointingArrowComponent.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/PointingSystem.cs
  Content.Server/GameObjects/EntitySystems/RoguePointingSystem.cs
  Content.Server/GlobalVerbs/PointingVerb.cs
  Content.Shared/GameObjects/Components/Pointing/SharedPointingArrowComponent.cs
  Content.Shared/GameObjects/Components/Pointing/SharedRoguePointingArrowComponent.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Prototypes/Entities/Effects/Markers/pointing.yml
  Resources/Textures/Interface/Misc/pointing.rsi/meta.json
  Resources/Textures/Interface/Misc/pointing.rsi/pointing.png
  Resources/keybinds.yml
Labels: Feature: Interaction, Type: Feature

#1475 Fix crash when clicking a deleted entity in the dropdown list
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
Labels: Feature: UI, Type: Bug

#1474 Fix throwing and pointing ignoring CanChangeDirection action blocker
  Content.Server/GameObjects/EntitySystems/PointingSystem.cs
  Content.Server/Throw/ThrowHelper.cs
Labels: Feature: Interaction, Type: Bug

#1336 Replace Houdini's magical piloting locker with buckle
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Movement/ShuttleControllerComponent.cs
  Content.Server/GameObjects/Components/Strap/StrapComponent.cs
  Content.Shared/GameObjects/Components/Buckle/SharedBuckleComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
  Content.Shared/GameObjects/Components/Strap/SharedStrapComponent.cs
  Resources/Prototypes/Entities/Constructible/Ground/pilot_chair.yml
Labels: Type: Improvement

#1427 Powernet Recalculation simplification
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/INodeGroup.cs
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/PowerNetNodeGroup.cs
  Content.Server/GameObjects/Components/NodeContainer/Nodes/Node.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverComponent.cs
  Content.Server/GameObjects/Components/Power/PowerNetComponents/IPowerNetManager.cs
  Content.Server/GameObjects/EntitySystems/PowerNetSystem.cs
  Content.Server/ServerContentIoC.cs
Labels: Feature: Power, Type: Improvement

#1481 Make clown clumsy.
  Content.Client/Jobs/ClownSpecial.cs
  Content.Server/GameObjects/Components/Mobs/ClumsyComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/ServerRangedWeaponComponent.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Jobs/ClownSpecial.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobSpecial.cs
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: Type: Feature

#1480 Show if items can be placed in a slot when hovering
  Content.Client/GameObjects/Components/HUD/Inventory/ClientInventoryComponent.cs
  Content.Client/GameObjects/Components/HUD/Inventory/HumanInventoryInterfaceController.cs
  Content.Client/GameObjects/Components/HUD/Inventory/InventoryInterfaceController.cs
  Content.Client/UserInterface/IItemSlotManager.cs
  Content.Client/UserInterface/ItemSlotButton.cs
  Content.Client/UserInterface/ItemSlotManager.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Shared/GameObjects/Components/Inventory/SharedInventoryComponent.cs
  Resources/Prototypes/Entities/Effects/Markers/hover_entity.yml
Labels: Feature: UI, Type: Feature

#687 Container light occlusion
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
Labels: Status: Awaiting Engine PR, Status: Stale, Type: Feature

#1490 Show entity UIDs in the right-click menu if F3 is enabled.
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
Labels: Feature: UI, Type: Feature

#1493 Adds cursed lockers that teleport anything inside them to other lockers
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.Server/AI/Operators/Inventory/CloseStorageOperator.cs
  Content.Server/AI/Operators/Inventory/OpenStorageOperator.cs
  Content.Server/AI/Utility/Considerations/Containers/TargetAccessibleCon.cs
  Content.Server/AI/WorldState/States/Clothing/NearbyClothingState.cs
  Content.Server/GameObjects/Components/Explosion/FlashExplosiveComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/CursedEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Resources/Prototypes/Catalog/Fills/lockers.yml
Labels: Type: Feature

#1409 Add pulling
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
  Content.Client/IgnoredComponents.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/UserInterface/TutorialWindow.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Movement/PullableComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GlobalVerbs/PullingVerb.cs
  Content.Server/Interfaces/GameObjects/Components/Items/IHandsComponent.cs
  Content.Shared/GameObjects/Components/Items/ISharedHandsComponent.cs
  Content.Shared/GameObjects/Components/Items/SharedHandsComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Physics/PullController.cs
  Resources/Prototypes/Entities/Constructible/Storage/Closets/closet.yml
  Resources/Prototypes/Entities/Constructible/Storage/crate_base.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/item_base.yml
  Resources/Textures/Interface/StatusEffects/Pull/pulled.png
  Resources/Textures/Interface/StatusEffects/Pull/pulling.png
  Resources/keybinds.yml
  SpaceStation14.sln.DotSettings
Labels: Feature: Interaction, Type: Feature

#1507 Better AI reachable cleanup
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/Accessible/AiReachableSystem.cs
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/Accessible/PathfindingRegion.cs
Labels: Feature: Entities, Type: Improvement

#1508 Add examine verb
  Content.Client/GlobalVerbs/ExamineVerb.cs
  Content.Server/GameObjects/EntitySystems/Click/ExamineSystem.cs
Labels: Feature: UI, Type: Feature

#1510 Fix error when pulling a buckled entity
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
Labels: Feature: Interaction, Type: Bug

#1509 Change BuckleComponent to only listen to move events when buckled
  Content.IntegrationTests/Tests/BuckleTest.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
Labels: Feature: Interaction, Type: Refactor

#1484 ResistanceSet Yaml serialization
  Content.Server/GameObjects/Components/Damage/DamageableComponent.cs
  Content.Server/GameObjects/Components/Damage/ResistanceSet.cs
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
Labels: Feature: Entities, Type: Refactor

#1494 Moved audio playing for melee to be before damage calculation
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
Labels: Feature: Audio, Type: Bug

#1501 Adds pullable component to multiple entities.
  Resources/Prototypes/Entities/Constructible/Ground/furniture.yml
  Resources/Prototypes/Entities/Constructible/Ground/potted_plants.yml
  Resources/Prototypes/Entities/Constructible/Power/arcade.yml
  Resources/Prototypes/Entities/Constructible/Power/booze_dispenser.yml
  Resources/Prototypes/Entities/Constructible/Power/chem_dispenser.yml
  Resources/Prototypes/Entities/Constructible/Power/chem_master.yml
  Resources/Prototypes/Entities/Constructible/Power/soda_dispenser.yml
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/fuel_tank.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/water_tank.yml
  Resources/Prototypes/Entities/Objects/Specific/janitor.yml
Labels: Feature: Entities, Feature: Interaction, Type: Improvement

#1498 Adds CursedEntityStorage to ignored components list
  Content.Client/IgnoredComponents.cs
Labels: Type: Improvement

#1517 Fix inhands completely
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
  Content.Client/GameObjects/Components/Items/ItemComponent.cs
Labels: Feature: Sprites, Type: Bug

#1519 Fix addhand command
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
  Content.Server/GameTicking/GameTickerCommands.cs
Labels: Type: Bug

#1381 Construction Improvements
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
Labels: Feature: Construction, Type: Bug, Type: Improvement

#1457 Adds Handheld Radio/Listener system
  Content.Server/Chat/ChatManager.cs
  Content.Server/GameObjects/Components/ListeningComponent.cs
  Content.Server/GameObjects/Components/RadioComponent.cs
  Content.Server/GameObjects/EntitySystems/ListeningSystem.cs
  Content.Server/GameObjects/EntitySystems/RadioSystem.cs
  Content.Server/Interfaces/IListen.cs
  Resources/Prototypes/Entities/Objects/radio.yml
  Resources/Textures/Objects/Devices/radio.png
Labels: Feature: Interaction, Type: Feature

#1524 NetSerializer in-tree compat fixes.
  .github/workflows/build-test.yml
  SpaceStation14.sln
Labels: Status: Awaiting Engine PR

#1527 No pointing at pointing arrows
  Content.Server/GameObjects/EntitySystems/PointingSystem.cs
Labels: Feature: Interaction, Type: Bug

#1533 Fix being able to pull entities outside of your container
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
Labels: Feature: Interaction, Type: Bug

#1530 Fix crash when pulling a potted plant
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GlobalVerbs/PullingVerb.cs
Labels: Feature: Interaction, Type: Bug

#1526 Wire coil yaml cleanup
  Resources/Prototypes/Entities/Objects/materials.yml
Labels: Resources (No code), Type: Refactor

#1537 Fix casing on physics and collidable data fields
  Resources/Prototypes/Entities/Constructible/Ground/wires.yml
  Resources/Prototypes/Entities/Constructible/Power/chem_master.yml
  Resources/Prototypes/Entities/Constructible/Power/computers.yml
  Resources/Prototypes/Entities/Constructible/Power/lathe.yml
  Resources/Prototypes/Entities/Constructible/Power/medical_scanner.yml
  Resources/Prototypes/Entities/Constructible/Power/power.yml
  Resources/Prototypes/Entities/Constructible/Power/reagent_dispenser_base.yml
  Resources/Prototypes/Entities/Constructible/Power/research.yml
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
  Resources/Prototypes/Entities/Constructible/Storage/Closets/closet.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/storage_tank.yml
  Resources/Prototypes/Entities/Constructible/Storage/crate_base.yml
  Resources/Prototypes/Entities/Constructible/Walls/mirror.yml
  Resources/Prototypes/Entities/Objects/Specific/janitor.yml
Labels: Feature: Physics, Type: Bug

#1541 Replaces RandomToolColor
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/RandomSpriteColorComponent.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: Feature: Entities, Map Changes

#1552 Fix disposal units in general
  Content.Client/GameObjects/Components/Disposal/DisposalUnitWindow.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Shared/GameObjects/Components/Disposal/SharedDisposalUnitComponent.cs
Labels: Feature: Entities, Type: Bug

#1551 Fix build
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorSwitchComponent.cs
Labels: Feature: Entities, Type: Bug
