Repository space-wizards/space-station-14, pull requests merged in 2020-05, with the labels that each got.

#862 Add Microwave
  Content.Client/EntryPoint.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveBoundUserInterface.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveMenu.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveVisualizer.cs
  Content.Client/GameObjects/Components/Sound/SoundComponent.cs
  Content.Server/EntryPoint.cs
  Content.Server/GameObjects/Components/Kitchen/KitchenMicrowaveComponent.cs
  Content.Server/ServerContentIoC.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/Kitchen/RecipeManager.cs
  Content.Shared/Kitchen/SharedMicrowaveComponent.cs
  Content.Shared/Prototypes/Kitchen/MicrowaveMealRecipePrototype.cs
  Resources/Audio/machines/microwave_done_beep.ogg
  Resources/Audio/machines/microwave_loop.ogg
  Resources/Audio/machines/microwave_start_beep.ogg
  Resources/Prototypes/Entities/Items/Consumables/food.yml
  Resources/Prototypes/Entities/kitchen.yml
  Resources/Prototypes/Kitchen/meal_recipes.yml
  Resources/Prototypes/Reagents/food.yml
  Resources/Textures/Objects/Kitchen/microwave.rsi/meta.json
  Resources/Textures/Objects/Kitchen/microwave.rsi/mw.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mw0.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mw1.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mw_running_unlit.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mw_unlit.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwb.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwbloody.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwbloody0.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwbloody1.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwbloodyo.png
  Resources/Textures/Objects/Kitchen/microwave.rsi/mwo.png
Labels: Type: Feature

#936 Solar Panels
  Content.Server/GameObjects/Components/Power/PowerGeneratorComponent.cs
  Content.Server/GameObjects/Components/Power/SolarPanelComponent.cs
  Content.Server/GameObjects/EntitySystems/PowerSolarSystem.cs
  Resources/Prototypes/Entities/Buildings/power.yml
  Resources/Textures/Buildings/solar_panel.rsi/broken.png
  Resources/Textures/Buildings/solar_panel.rsi/meta.json
  Resources/Textures/Buildings/solar_panel.rsi/normal.png
Labels: Type: Feature

#926 MIDI instruments optimizations
  Content.Client/GameObjects/Components/Instruments/InstrumentComponent.cs
  Content.Client/GameObjects/EntitySystems/InstrumentSystem.cs
  Content.Server/GameObjects/Components/Instruments/InstrumentComponent.cs
  Content.Server/GameObjects/EntitySystems/InstrumentSystem.cs
  Content.Shared/GameObjects/Components/Instruments/SharedInstrumentComponent.cs
Labels: Type: Cleanup, Type: Performance

#955 Add error popup message on equip failure
  Content.Server/GameObjects/Components/GUI/HumanInventoryControllerComponent.cs
  Content.Server/GameObjects/Components/GUI/IInventoryController.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
Labels: Area: UI, Type: Feature

#865 Tool refactor, multi tools
  Content.Client/Construction/ConstructionMenu.cs
  Content.Client/GameObjects/Components/Interactable/MultiToolComponent.cs
  Content.Client/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/AnchorableComponent.cs
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/Components/Gravity/GravityGeneratorComponent.cs
  Content.Server/GameObjects/Components/Interactable/MultitoolComponent.cs
  Content.Server/GameObjects/Components/Interactable/TilePryingComponent.cs
  Content.Server/GameObjects/Components/Interactable/ToolComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/BaseTool.cs
  Content.Server/GameObjects/Components/Interactable/Tools/CrowbarComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/MultitoolComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/ScrewdriverComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/WelderComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/WirecutterComponent.cs
  Content.Server/GameObjects/Components/Interactable/Tools/WrenchComponent.cs
  Content.Server/GameObjects/Components/Interactable/WelderComponent.cs
  Content.Server/GameObjects/Components/Power/PowerTransferComponent.cs
  Content.Server/GameObjects/Components/WiresComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/WelderSystem.cs
  Content.Shared/Audio/SoundCollectionPrototype.cs
  Content.Shared/Construction/ConstructionPrototype.cs
  Content.Shared/GameObjects/Components/Interactable/SharedToolComponent.cs
  Content.Shared/GameObjects/Components/WelderComponentState.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Resources/Audio/items/change_drill.ogg
  Resources/Audio/items/change_jaws.ogg
  Resources/Audio/items/drill_hit.ogg
  Resources/Audio/items/drill_use.ogg
  Resources/Audio/items/jaws_cut.ogg
  Resources/Audio/items/jaws_pry.ogg
  Resources/Prototypes/Entities/Buildings/computers.yml
  Resources/Prototypes/Entities/Buildings/vending_machines.yml
  Resources/Prototypes/Entities/Items/powercells.yml
  Resources/Prototypes/Entities/Items/tools.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/SoundCollections/dice.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/SoundCollections/glassbreak.yml
  Resources/Prototypes/SoundCollections/keyboard.yml
  Resources/Prototypes/SoundCollections/tools.yml
  Resources/Textures/Objects/Tools/drill.rsi/drill_bolt.png
  Resources/Textures/Objects/Tools/drill.rsi/drill_screw.png
  Resources/Textures/Objects/Tools/drill.rsi/meta.json
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_cutter.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/jaws_pry.png
  Resources/Textures/Objects/Tools/jaws_of_life.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Type: Feature

#969 Throwing improvements
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/Throw/ThrowHelper.cs
  Content.Shared/Physics/ThrowController.cs
Labels: Type: Feature

#1011 Disallow welding of open lockers
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
Labels: Type: Bug

#997 Sweeping changes/improvements to the microwave.
  Content.Client/GameObjects/Components/Kitchen/MicrowaveBoundUserInterface.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveMenu.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveVisualizer.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/SharedMicrowaveComponent.cs
  Resources/Prototypes/Entities/kitchen.yml
  Resources/Prototypes/Kitchen/meal_recipes.yml
Labels: Type: Refactor
