Repository space-wizards/space-station-14, pull requests merged in 2020-12, with the labels that each got.

#2678 Remove redundant transform component from buckle test
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
Labels: Project: Tests, Type: Bug

#2677 Fix stomach not having a solution container
  Content.Server/GameObjects/Components/Chemistry/SolutionContainerComponent.cs
  Resources/Prototypes/Body/Mechanisms/basic_human_organs.yml
Labels: Feature: Medical, Type: Bug

#2682 Add time limit to SSS
  Content.Server/GameTicking/GameRules/RuleSuspicion.cs
  Content.Shared/CCVars.cs
Labels: Type: Feature

#2683 Change RestartRoundTest to also startup a client
  Content.IntegrationTests/Tests/Commands/RestartRoundTest.cs
Labels: Project: Tests, Type: Improvement

#2680 Make InventoryHelpersTest not use game prototypes
  Content.IntegrationTests/Tests/InventoryHelpersTest.cs
Labels: Project: Tests, Type: Refactor

#2681 Add gamerule to restart the round after a max time
  Content.IntegrationTests/Tests/GameRules/RuleMaxTimeRestartTest.cs
  Content.Server/GameTicking/GameRules/RuleMaxTimeRestart.cs
Labels: Type: Feature

#2684 Fix adding then removing a hand causing an error
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
Labels: Type: Bug

#2701 Added enum types
  Content.Client/Chat/SpeechBubble.cs
  Content.Client/GameObjects/Components/Atmos/FireVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/PipeVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/PumpVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/SiphonVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/VaporVisualizer.cs
  Content.Client/GameObjects/Components/Atmos/VentVisualizer.cs
  Content.Client/GameObjects/Components/Botany/PlantHolderVisualizer.cs
  Content.Client/GameObjects/Components/CloningPod/CloningPodVisualizer.cs
  Content.Client/GameObjects/Components/Clothing/ClothingComponent.cs
  Content.Client/GameObjects/Components/ComputerVisualizer.cs
  Content.Client/GameObjects/Components/Disposal/DisposalUnitVisualizer.cs
  Content.Client/GameObjects/Components/Doors/AirlockVisualizer.cs
  Content.Client/GameObjects/Components/Fluids/SprayVisualizer.cs
  Content.Client/GameObjects/Components/Gravity/GravityGeneratorVisualizer.cs
  Content.Client/GameObjects/Components/IconSmoothing/IconSmoothComponent.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveVisualizer.cs
  Content.Client/GameObjects/Components/LowWallComponent.cs
  Content.Client/GameObjects/Components/MedicalScanner/MedicalScannerVisualizer.cs
  Content.Client/GameObjects/Components/Mobs/DamageStateVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/BodyBagVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/CrematoriumVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/MorgueVisualizer.cs
  Content.Client/GameObjects/Components/Movement/PortalVisualizer.cs
  Content.Client/GameObjects/Components/Nutrition/CreamPiedVisualizer.cs
  Content.Client/GameObjects/Components/PDA/PDAVisualizer.cs
  Content.Client/GameObjects/Components/Power/AME/AMEControllerVisualizer.cs
  Content.Client/GameObjects/Components/Power/AME/AMEVisualizer.cs
  Content.Client/GameObjects/Components/Power/ApcVisualizer.cs
  Content.Client/GameObjects/Components/Power/AutolatheVisualizer.cs
  Content.Client/GameObjects/Components/Power/PowerCellVisualizer.cs
  Content.Client/GameObjects/Components/Power/PowerChargerVisualizer.cs
  Content.Client/GameObjects/Components/Power/PowerDeviceVisualizer.cs
  Content.Client/GameObjects/Components/Power/ProtolatheVisualizer.cs
  Content.Client/GameObjects/Components/Power/SmesVisualizer.cs
  Content.Client/GameObjects/Components/RadiationCollectorVisualizer.cs
  Content.Client/GameObjects/Components/Recycling/RecyclerVisualizer.cs
  Content.Client/GameObjects/Components/ReinforcedWallComponent.cs
  Content.Client/GameObjects/Components/ReinforcedWallVisualizer.cs
  Content.Client/GameObjects/Components/Storage/StorageVisualizer.cs
  Content.Client/GameObjects/Components/Trigger/TimerTriggerVisualizer.cs
  Content.Client/GameObjects/Components/VendingMachines/VendingMachineVisualizer.cs
  Content.Client/GameObjects/Components/Weapons/Ranged/Barrels/Visualizers/SpentAmmoVisualizer.cs
  Content.Client/GameObjects/Components/Weapons/Ranged/ClientRangedWeaponComponent.cs
  Content.Client/GameObjects/Components/WindowComponent.cs
  Content.Client/GameObjects/Components/Wires/WiresVisualizer.cs
  Content.Client/GameObjects/EntitySystems/AI/ClientPathfindingDebugSystem.cs
  Content.Client/GameObjects/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Client/GameObjects/EntitySystems/DragDropSystem.cs
  Content.Client/State/LauncherConnecting.cs
Labels: Type: Cleanup

#2687 Add InvalidateTileAir Transform extension method
  Content.Server/Atmos/AtmosHelpers.cs
  Content.Server/GameObjects/Components/Atmos/SpaceGridAtmosphereComponent.cs
  Content.Server/GameObjects/EntitySystems/AtmosphereSystem.cs
Labels: Feature: Atmospherics, Type: Improvement

#2700 Updates all vests meta.jsons
  Resources/Textures/Clothing/OuterClothing/Vests/detvest.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/hazard.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/mercwebvest.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/oldarmor.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/vest.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/webvest.rsi/meta.json
Labels: Resources (No code)

#2685 Fix removehand command when you have no hands
  Content.Server/Commands/Body/RemoveHandCommand.cs
  Content.Shared/GameObjects/Components/Body/SharedBodyComponent.cs
Labels: Feature: Medical, Type: Bug

#2676 Update components to use EnsureWarn
  Content.Server/GameObjects/Components/Access/IdCardConsoleComponent.cs
  Content.Server/GameObjects/Components/Atmos/AirtightComponent.cs
  Content.Server/GameObjects/Components/Body/Behavior/StomachBehavior.cs
  Content.Server/GameObjects/Components/Body/BodyScannerComponent.cs
  Content.Server/GameObjects/Components/Botany/PlantHolderComponent.cs
  Content.Server/GameObjects/Components/Botany/ProduceComponent.cs
  Content.Server/GameObjects/Components/Cargo/CargoConsoleComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
  Content.Server/GameObjects/Components/Chemistry/TransformableContainerComponent.cs
  Content.Server/GameObjects/Components/Chemistry/VaporComponent.cs
  Content.Server/GameObjects/Components/Fluids/BucketComponent.cs
  Content.Server/GameObjects/Components/Fluids/MopComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Server/GameObjects/Components/Fluids/SprayComponent.cs
  Content.Server/GameObjects/Components/GUI/StrippableComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbableComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/ApcComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/EmergencyLightComponent.cs
  Content.Server/GameObjects/Components/Power/PowerNetComponents/SmesComponent.cs
  Content.Server/GameObjects/Components/Power/PowerNetComponents/SolarPanelComponent.cs
  Content.Server/GameObjects/Components/Projectiles/StunnableProjectileComponent.cs
  Content.Server/GameObjects/Components/Research/ResearchConsoleComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Barrels/ServerRangedBarrelComponent.cs
Labels: Feature: Entities, Type: Refactor

#2715 Adds popups and sounds to the vending machine deny
  Content.Server/GameObjects/Components/VendingMachines/VendingMachineComponent.cs
  Resources/Audio/Machines/custom_deny.ogg
Labels: Feature: Interaction, Type: Improvement

#2706 Add "Begin Deconstruction" verb, unfinished particle accelerator bits will tell you how to finish them
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.Verbs.cs
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Shared/Construction/ConstructionGraphPrototype.cs
  Content.Shared/GameObjects/Verbs/VerbCategories.cs
  Resources/Prototypes/Entities/Constructible/Power/particleAccelerator.yml
Labels: Feature: Construction, Type: Feature

#2592 Add UsedImplicitly to visualizers and entity systems
  Content.Client/GameObjects/Components/Atmos/GasAnalyzerVisualizer.cs
  Content.Client/GameObjects/Components/CloningPod/CloningPodVisualizer.cs
  Content.Client/GameObjects/Components/ComputerVisualizer.cs
  Content.Client/GameObjects/Components/Crayon/CrayonDecalVisualizer.cs
  Content.Client/GameObjects/Components/ExtinguisherCabinetVisualizer.cs
  Content.Client/GameObjects/Components/Fluids/SprayVisualizer.cs
  Content.Client/GameObjects/Components/Gravity/GravityGeneratorVisualizer.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveBoundUserInterface.cs
  Content.Client/GameObjects/Components/Kitchen/MicrowaveVisualizer.cs
  Content.Client/GameObjects/Components/LightBehaviourComponent.cs
  Content.Client/GameObjects/Components/MedicalScanner/MedicalScannerVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/BodyBagVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/CrematoriumVisualizer.cs
  Content.Client/GameObjects/Components/PDA/PDABoundUserInterface.cs
  Content.Client/GameObjects/Components/Paper/PaperBoundUserInterface.cs
  Content.Client/GameObjects/Components/ParticleAcceleratorPartVisualizer.cs
  Content.Client/GameObjects/Components/Power/AME/AMEControllerBoundUserInterface.cs
  Content.Client/GameObjects/Components/Power/AME/AMEControllerVisualizer.cs
  Content.Client/GameObjects/Components/Power/AME/AMEVisualizer.cs
  Content.Client/GameObjects/Components/Power/ApcBoundUserInterface.cs
  Content.Client/GameObjects/Components/Power/ApcVisualizer.cs
  Content.Client/GameObjects/Components/Power/AutolatheVisualizer.cs
  Content.Client/GameObjects/Components/Power/PowerCellVisualizer.cs
  Content.Client/GameObjects/Components/Power/ProtolatheVisualizer.cs
  Content.Client/GameObjects/Components/Power/SmesVisualizer.cs
  Content.Client/GameObjects/Components/Power/SolarControlConsoleBoundUserInterface.cs
  Content.Client/GameObjects/Components/RadiationCollectorVisualizer.cs
  Content.Client/GameObjects/Components/Singularity/ContainmentFieldComponent.cs
  Content.Client/GameObjects/Components/Singularity/EmitterVisualizer.cs
  Content.Client/GameObjects/Components/Storage/StorageVisualizer.cs
  Content.Client/GameObjects/Components/Trigger/TimerTriggerVisualizer.cs
  Content.Client/GameObjects/EntitySystems/AlertsSystem.cs
  Content.Client/GameObjects/EntitySystems/CameraRecoilSystem.cs
  Content.Client/GameObjects/EntitySystems/CharacterInterfaceSystem.cs
  Content.Client/GameObjects/EntitySystems/ClientInventorySystem.cs
  Content.Client/GameObjects/EntitySystems/ClientNotifySystem.cs
  Content.Client/GameObjects/EntitySystems/RangedWeaponSystem.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Server/GameObjects/Components/Trigger/TimerTrigger/OnUseTimerTriggerComponent.cs
  Content.Server/GameObjects/EntitySystems/AntimatterEngineSystem.cs
  Content.Server/GameObjects/EntitySystems/Click/ExamineSystem.cs
  Content.Server/GameObjects/EntitySystems/DeviceNetworkSystem.cs
  Content.Server/GameObjects/EntitySystems/ExpendableLightSystem.cs
  Content.Server/GameObjects/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/GameObjects/EntitySystems/NodeGroupSystem.cs
  Content.Server/GameObjects/EntitySystems/PowerNetSystem.cs
  Content.Server/GameObjects/EntitySystems/SingularitySystem.cs
  Content.Server/GameObjects/EntitySystems/VaporSystem.cs
Labels: Type: Refactor

#2708 Antimatter Engine Crates
  Content.Server/GameObjects/Components/Power/AME/AMEControllerComponent.cs
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Entities/Constructible/Power/cargo_console.yml
  Resources/Prototypes/Entities/Constructible/Specific/Engines/AME/ame_controller.yml
  Resources/Prototypes/Entities/Constructible/Storage/Crates/Filled/crate_engines.yml
  Resources/Prototypes/Entities/Constructible/Storage/Crates/crate_types.yml
Labels: Feature: Entities, Type: Feature

#2722 Fix disposals do_after
  Content.Server/GameObjects/Components/Disposal/DisposalMailingUnitComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Resources/Maps/saltern.yml
Labels: Map Changes, Type: Bug

#2703 Remove redundant null checks for atmos
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/Components/Atmos/AirtightComponent.cs
  Content.Server/GameObjects/Components/Atmos/GasTankComponent.cs
  Content.Server/GameObjects/Components/Atmos/Piping/PipeNetDeviceComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
Labels: Feature: Atmospherics, Type: Cleanup

#2686 Make disposal units also flush air
  Content.Server/GameObjects/Components/Disposal/DisposalEntryComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalHolderComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
Labels: Feature: Atmospherics, Feature: Entities, Type: Feature

#2657 ChemicalInjectionProjectileComponent
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Projectiles/ChemicalInjectionProjectileComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Shotgun/cartridges.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Shotgun/projectiles.yml
Labels: Type: Feature

#2727 Fix healing damage classes and damageable serialization and add test
  Content.IntegrationTests/Tests/Damageable/DamageTest.cs
  Content.Shared/Damage/DamageContainer/DamageContainerPrototype.cs
  Content.Shared/Damage/DamageType.cs
  Content.Shared/GameObjects/Components/Damage/DamageableComponent.cs
  Content.Shared/GameObjects/Components/Damage/IDamageableComponent.cs
  Resources/Prototypes/Damage/damage_containers.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Medical, Type: Bug

#2719 Traitor Deathmatch
  Content.Server/Atmos/AtmosHelpers.cs
  Content.Server/GameObjects/Components/PDA/PDAComponent.cs
  Content.Server/GameObjects/Components/TraitorDeathMatch/TraitorDeathMatchRedemptionComponent.cs
  Content.Server/GameObjects/Components/TraitorDeathMatch/TraitorDeathMatchReliableOwnerTagComponent.cs
  Content.Server/GameTicking/GamePresets/PresetTraitorDeathMatch.cs
  Content.Server/GameTicking/GameRules/RuleTraitorDeathMatch.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/CCVars.cs
  Content.Shared/GameObjects/Components/PDA/SharedPDAComponent.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Effects/Markers/gamemode_conditional_spawners.yml
  Resources/Prototypes/Entities/traitordm.yml
  Resources/Textures/Objects/Misc/traitordm.rsi/meta.json
  Resources/Textures/Objects/Misc/traitordm.rsi/redemption-unshaded.png
  Resources/Textures/Objects/Misc/traitordm.rsi/redemption.png
Labels: Map Changes, Type: Feature

#2742 Fix the mapping command not pausing the created map
  Content.Server/Commands/GameTicking/MappingCommand.cs
Labels: Type: Bug

#2741 Add test for puddle evaporation when paused and unpaused
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
Labels: Feature: Entities, Project: Tests

#2718 Replaces Xeno sprite.
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno.rsi/walking.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/xeno_hunter.rsi/standing.png
Labels: Feature: Sprites

#2756 Add do after to surgery
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Body/Surgery/BiologicalSurgeryDataComponent.cs
  Content.Server/GameObjects/Components/Body/Surgery/SurgeryToolComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
  Content.Shared/GameObjects/Components/Body/Surgery/BiologicalSurgeryDataComponent.cs
  Content.Shared/GameObjects/Components/Body/Surgery/SurgeryDataComponent.cs
Labels: Feature: Medical, Type: Improvement

#2760 Fix MobStateChangedMessage not reaching AISystem
  Content.Shared/GameObjects/Components/Mobs/State/SharedMobStateComponent.cs
Labels: Feature: Entity AI, Type: Bug

#2694 PreventCollision with strap component while buckled to it
  Content.Client/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Shared/GameObjects/Components/Buckle/SharedBuckleComponent.cs
Labels: Feature: Interaction, Type: Bug

#2785 Remove wireless surgery
  Content.Client/GameObjects/Components/Body/Surgery/SurgeryWindow.cs
  Content.Server/GameObjects/Components/Body/Surgery/Messages/SurgeryWindowCloseMessage.cs
  Content.Server/GameObjects/Components/Body/Surgery/Messages/SurgeryWindowOpenMessage.cs
  Content.Server/GameObjects/Components/Body/Surgery/SurgeryToolComponent.cs
  Content.Server/GameObjects/EntitySystems/Body/Surgery/SurgeryToolSystem.cs
Labels: Feature: Medical, Type: Bug

#2784 Move damage class and type mappings to DamageSystem
  Content.Shared/Damage/DamageClass.cs
  Content.Shared/Damage/DamageType.cs
  Content.Shared/GameObjects/Components/Damage/DamageableComponent.cs
  Content.Shared/GameObjects/EntitySystems/DamageSystem.cs
Labels: Feature: Medical, Type: Refactor

#2770 Add job categories to the lobby screen
  Content.Client/UserInterface/HumanoidProfileEditor.cs
  Content.Client/UserInterface/LateJoinGui.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Feature: UI, Type: Improvement

#2786 Add command to enable the lobby, restart the round and set a preset
  Content.Server/Commands/GameTicking/GoLobbyCommand.cs
Labels: Type: Feature

#2797 Update destructible threshold property casing to follow the rest of the project
  Content.IntegrationTests/Tests/Destructible/DestructibleTests.cs
  Content.Server/GameObjects/Components/Destructible/MinMax.cs
  Content.Server/GameObjects/Components/Destructible/Threshold.cs
  Resources/Prototypes/Entities/Constructible/Doors/airlock_base.yml
  Resources/Prototypes/Entities/Constructible/Furniture/beds.yml
  Resources/Prototypes/Entities/Constructible/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Constructible/Furniture/instruments.yml
  Resources/Prototypes/Entities/Constructible/Furniture/pilot_chair.yml
  Resources/Prototypes/Entities/Constructible/Furniture/seats.yml
  Resources/Prototypes/Entities/Constructible/Furniture/storage.yml
  Resources/Prototypes/Entities/Constructible/Furniture/tables.yml
  Resources/Prototypes/Entities/Constructible/Ground/gascanisterports.yml
  Resources/Prototypes/Entities/Constructible/Ground/gascanisters.yml
  Resources/Prototypes/Entities/Constructible/Ground/kitchen.yml
  Resources/Prototypes/Entities/Constructible/Ground/pipes.yml
  Resources/Prototypes/Entities/Constructible/Ground/pumps.yml
  Resources/Prototypes/Entities/Constructible/Ground/scrubbers.yml
  Resources/Prototypes/Entities/Constructible/Ground/vents.yml
  Resources/Prototypes/Entities/Constructible/Power/cloning_machine.yml
  Resources/Prototypes/Entities/Constructible/Power/computers.yml
  Resources/Prototypes/Entities/Constructible/Power/debug_power.yml
  Resources/Prototypes/Entities/Constructible/Power/medical_scanner.yml
  Resources/Prototypes/Entities/Constructible/Power/power_base.yml
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
  Resources/Prototypes/Entities/Constructible/Power/wires.yml
  Resources/Prototypes/Entities/Constructible/Specific/Engines/AME/ame_controller.yml
  Resources/Prototypes/Entities/Constructible/Specific/Engines/AME/ame_structure.yml
  Resources/Prototypes/Entities/Constructible/Specific/cargo_telepad.yml
  Resources/Prototypes/Entities/Constructible/Specific/chem_master.yml
  Resources/Prototypes/Entities/Constructible/Specific/disposal.yml
  Resources/Prototypes/Entities/Constructible/Specific/gravity_generator.yml
  Resources/Prototypes/Entities/Constructible/Specific/hydroponics.yml
  Resources/Prototypes/Entities/Constructible/Storage/Closets/closet.yml
  Resources/Prototypes/Entities/Constructible/Storage/Crates/crate_base.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/base_tank.yml
  Resources/Prototypes/Entities/Constructible/Walls/asteroid.yml
  Resources/Prototypes/Entities/Constructible/Walls/girder.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Prototypes/Entities/Constructible/Walls/low_wall.yml
  Resources/Prototypes/Entities/Constructible/Walls/signs.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Explosives/grenades.yml
Labels: Feature: Entities, Type: Cleanup

#2818 Separate destructible component threshold into behaviors
  Content.IntegrationTests/Tests/Destructible/DestructibleTests.cs
  Content.Server/GameObjects/Components/Destructible/ActsFlags.cs
  Content.Server/GameObjects/Components/Destructible/DestructibleComponent.cs
  Content.Server/GameObjects/Components/Destructible/DestructibleThresholdReachedMessage.cs
  Content.Server/GameObjects/Components/Destructible/Threshold.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/ActsFlags.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behavior/DoActsBehavior.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behavior/IThresholdBehavior.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behavior/PlaySoundBehavior.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behavior/PlaySoundCollectionBehavior.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behavior/SpawnEntitiesBehavior.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/MinMax.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/Threshold.cs
  Content.Server/GameObjects/Components/Destructible/Thresholds/ThresholdActs.cs
  Content.Server/GameObjects/EntitySystems/DestructibleSystem.cs
  Resources/Prototypes/Entities/Constructible/Doors/airlock_base.yml
  Resources/Prototypes/Entities/Constructible/Furniture/beds.yml
  Resources/Prototypes/Entities/Constructible/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Constructible/Furniture/instruments.yml
  Resources/Prototypes/Entities/Constructible/Furniture/pilot_chair.yml
  Resources/Prototypes/Entities/Constructible/Furniture/seats.yml
  Resources/Prototypes/Entities/Constructible/Furniture/storage.yml
  Resources/Prototypes/Entities/Constructible/Furniture/tables.yml
  Resources/Prototypes/Entities/Constructible/Ground/gascanisterports.yml
  Resources/Prototypes/Entities/Constructible/Ground/gascanisters.yml
  Resources/Prototypes/Entities/Constructible/Ground/kitchen.yml
  Resources/Prototypes/Entities/Constructible/Ground/pipes.yml
  Resources/Prototypes/Entities/Constructible/Ground/pumps.yml
  Resources/Prototypes/Entities/Constructible/Ground/scrubbers.yml
  Resources/Prototypes/Entities/Constructible/Ground/vents.yml
  Resources/Prototypes/Entities/Constructible/Power/cloning_machine.yml
  Resources/Prototypes/Entities/Constructible/Power/computers.yml
  Resources/Prototypes/Entities/Constructible/Power/debug_power.yml
  Resources/Prototypes/Entities/Constructible/Power/medical_scanner.yml
  Resources/Prototypes/Entities/Constructible/Power/power_base.yml
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
  Resources/Prototypes/Entities/Constructible/Power/wires.yml
  Resources/Prototypes/Entities/Constructible/Specific/Engines/AME/ame_controller.yml
  Resources/Prototypes/Entities/Constructible/Specific/Engines/AME/ame_structure.yml
  Resources/Prototypes/Entities/Constructible/Specific/cargo_telepad.yml
  Resources/Prototypes/Entities/Constructible/Specific/chem_master.yml
  Resources/Prototypes/Entities/Constructible/Specific/disposal.yml
  Resources/Prototypes/Entities/Constructible/Specific/gravity_generator.yml
  Resources/Prototypes/Entities/Constructible/Specific/hydroponics.yml
  Resources/Prototypes/Entities/Constructible/Storage/Closets/closet.yml
  Resources/Prototypes/Entities/Constructible/Storage/Crates/crate_base.yml
  Resources/Prototypes/Entities/Constructible/Storage/StorageTanks/base_tank.yml
  Resources/Prototypes/Entities/Constructible/Walls/asteroid.yml
  Resources/Prototypes/Entities/Constructible/Walls/girder.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Prototypes/Entities/Constructible/Walls/low_wall.yml
  Resources/Prototypes/Entities/Constructible/Walls/signs.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Explosives/grenades.yml
Labels: Feature: Medical, Type: Refactor

#2830 Fix build
  Content.Tests/Shared/Alert/AlertPrototypeTests.cs
Labels: Feature: UI, Type: Bug

#2848 Many improvements to disposals room
  Resources/Maps/saltern.yml
Labels: Map Changes
