Repository space-wizards/space-station-14, pull requests merged in 2020-10, with the labels that each got.

#2157 Fix Teleporter crashing the Server
  Content.Server/GameObjects/Components/Movement/ServerPortalComponent.cs
  Content.Server/GameObjects/Components/Movement/ServerTeleporterComponent.cs
Labels: Feature: Entities, Type: Bug

#2159 Fonts moved from textures to proper folder
  Content.Client/UserInterface/Stylesheets/StyleBase.cs
  Content.Client/UserInterface/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/TutorialWindow.cs
  Resources/Fonts/NotoSans/LICENSE.txt
  Resources/Fonts/NotoSans/NotoSans-Bold.ttf
  Resources/Fonts/NotoSans/NotoSans-BoldItalic.ttf
  Resources/Fonts/NotoSans/NotoSans-Italic.ttf
  Resources/Fonts/NotoSans/NotoSans-Regular.ttf
Labels: Resources (No code), Type: Refactor

#2160 Unshaded maintenance and external airlocks.
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/closing.png
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/locked.png
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/opening.png
  Resources/Textures/Constructible/Structures/Doors/airlock_external.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_cargo.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_cargo.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_cargo.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_cargo.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_command.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_command.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_command.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_command.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_common.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_common.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_common.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_common.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_engi.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_engi.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_engi.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_engi.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_int.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_int.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_int.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_int.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_med.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_med.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_med.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_med.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_rnd.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_rnd.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_rnd.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_rnd.rsi/opening_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_sec.rsi/bolted.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_sec.rsi/closing_unlit.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_sec.rsi/deny.png
  Resources/Textures/Constructible/Structures/Doors/airlock_maint_sec.rsi/opening_unlit.png
Labels: Feature: Sprites, Resources (No code)

#2158 Fixed flashlights staying enabled after taking the battery out of them
  Content.Server/GameObjects/Components/Interactable/HandheldLightComponent.cs
Labels: Feature: Interaction, Type: Bug

#2172 Fix creating and deleting character slots crashing the client and server
  Content.Client/ClientPreferencesManager.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Preferences/ServerPreferencesManager.cs
  Content.Shared/Preferences/PlayerPreferences.cs
  Content.Shared/Preferences/SharedPreferencesManager.cs
Labels: Feature: UI, Type: Bug

#2191 Save Zum
  Content.Shared/Maps/TurfHelpers.cs
Labels: Type: Bug

#2126 Add empty ammo shell
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Pistol/cartridges.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/spent.png
Labels: Feature: Sprites, Type: Improvement

#2124 Pipe prototypes
  Content.Client/GameObjects/Components/Atmos/PipeVisualizer.cs
  Content.Server/GameObjects/Components/NodeContainer/NodeContainerComponent.cs
  Content.Server/GameObjects/Components/NodeContainer/Nodes/IRotatableNode.cs
  Content.Server/GameObjects/Components/NodeContainer/Nodes/Node.cs
  Content.Server/GameObjects/Components/NodeContainer/Nodes/PipeNode.cs
  Content.Shared/GameObjects/Components/Atmos/SharedPipeComponent.cs
  Resources/Prototypes/Entities/Constructible/Ground/pipes.yml
  Resources/Textures/Constructible/Atmos/pipe.rsi/meta.json
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeBend2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeEast2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeFourway1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeFourway3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLateral1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLateral2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLateral3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLongitudinal1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLongitudinal2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeLongitudinal3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNEBend1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNEBend2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNEBend3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNWBend1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNWBend2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNWBend3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeNorth2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSEBend1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSEBend2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSEBend3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSWBend1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSWBend2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSWBend3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeSouth2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeStraight2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTEast1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTEast2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTEast3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTJunction2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTNorth1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTNorth2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTNorth3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTSouth1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTSouth2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTSouth3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTWest1.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTWest2.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeTWest3.png
  Resources/Textures/Constructible/Atmos/pipe.rsi/pipeWest2.png
Labels: Feature: Entities, Type: Feature

#2053 Bolts down event and minor tweaks
  Content.Server/Chat/ChatManager.cs
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/EntitySystems/StationEvents/StationEventSystem.cs
  Content.Server/StationEvents/BoltsDown.cs
  Content.Server/StationEvents/PowerGridCheck.cs
  Content.Server/StationEvents/RadiationStorm.cs
  Content.Server/StationEvents/StationEvent.cs
  Resources/Prototypes/Catalog/Fills/belt.yml
Labels: Feature: Events, Type: Feature

#2121 Don't spawn rad pulses on paused grids
  Content.IntegrationTests/DummyGameTicker.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Interfaces/GameTicking/IGameTicker.cs
  Content.Server/StationEvents/RadiationStorm.cs
Labels: Feature: Events, Type: Bug

#2200 Add SSS traitor overhead label and fix ally sync
  Content.Client/GameObjects/Components/Suspicion/SuspicionRoleComponent.cs
  Content.Client/GameObjects/Components/Suspicion/TraitorOverlay.cs
  Content.Client/UserInterface/Suspicion/SuspicionGui.cs
  Content.Shared/GameObjects/EntitySystems/ExamineSystemShared.cs
Labels: Feature: UI, Type: Bug, Type: Feature

#2186 Make portals use ICollideBehavior and set collidable.Hard to false
  Content.Client/GameObjects/Components/Movement/HandTeleporterVisualizer.cs
  Content.Client/GameObjects/Components/Movement/PortalVisualizer.cs
  Content.Client/GameObjects/Components/Portal/PortalComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Portal/PortalComponent.cs
  Content.Server/GameObjects/Components/Portal/TeleportableComponent.cs
  Content.Server/GameObjects/Components/Portal/TeleporterComponent.cs
  Content.Server/GameObjects/EntitySystems/PortalSystem.cs
  Content.Shared/GameObjects/Components/Movement/SharedPortal.cs
  Content.Shared/GameObjects/Components/Portal/SharedPortalComponent.cs
  Content.Shared/GameObjects/Components/Portal/SharedTeleporterComponent.cs
Labels: Feature: Entities, Type: Refactor

#2151 Gas Canisters and Ports
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Atmos/GasCanisterComponent.cs
  Content.Server/GameObjects/Components/Atmos/Piping/GasCanisterPortComponent.cs
  Content.Server/GameObjects/Components/NodeContainer/Nodes/PipeNode.cs
  Resources/Prototypes/Entities/Constructible/Ground/gascanisterports.yml
  Resources/Prototypes/Entities/Constructible/Ground/gascanisters.yml
Labels: Feature: Atmospherics, Type: Feature

#2224 Add InRangeUnoccluded extension methods
  Content.Client/Utility/UnobstructedExtensions.cs
  Content.IntegrationTests/Tests/Interaction/InRangeUnobstructed.cs
  Content.Shared/GameObjects/EntitySystems/ExamineSystemShared.cs
  Content.Shared/Utility/SharedUnobstructedExtensions.cs
  Content.Shared/Utility/SharedUnoccludedExtensions.cs
  SpaceStation14.sln.DotSettings
Labels: Feature: Entities, Type: Improvement

#2192 Fix ContentIntegrationTest.WaitUntil not checking if the condition is true afterwards
  Content.IntegrationTests/ContentIntegrationTest.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
Labels: Project: Tests, Type: Bug

#2237 Where is the brute pack officer
  Content.Shared/GameObjects/Components/SharedStackComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/medical.yml
Labels: Feature: Medical, Type: Bug

#2219 Adds Firelocks and Airlocks to Saltern
  Resources/Maps/saltern.yml
Labels: Feature: Atmospherics, Map Changes, Type: Feature

#2193 Add a test that creates, deletes and creates a character
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.Shared/Preferences/HumanoidCharacterAppearance.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Project: Tests, Type: Feature

#2012 Refactor drag and drop to use a shared interface
  Content.Client/GameObjects/Components/Body/BodyComponent.cs
  Content.Client/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Client/GameObjects/Components/GUI/StrippableComponent.cs
  Content.Client/GameObjects/Components/Items/ItemComponent.cs
  Content.Client/GameObjects/Components/Movement/ClimbingComponent.cs
  Content.Client/GameObjects/Components/PlaceableSurfaceComponent.cs
  Content.Client/GameObjects/Components/Storage/ClientStorageComponent.cs
  Content.Client/GameObjects/Components/Storage/StorableComponent.cs
  Content.Client/GameObjects/Components/Strap/StrapComponent.cs
  Content.Client/GameObjects/EntitySystems/DragDropSystem.cs
  Content.Client/IgnoredComponents.cs
  Content.Client/Interfaces/GameObjects/Components/Interaction/IClientDraggable.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Server/GameObjects/Components/GUI/HumanInventoryControllerComponent.cs
  Content.Server/GameObjects/Components/GUI/StrippableComponent.cs
  Content.Server/GameObjects/Components/Items/Clothing/ClothingComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/ServerStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StorableComponent.cs
  Content.Server/GameObjects/Components/Medical/MedicalScannerComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbableComponent.cs
  Content.Server/GameObjects/Components/Movement/ClimbingComponent.cs
  Content.Server/GameObjects/Components/PlaceableSurfaceComponent.cs
  Content.Server/GameObjects/Components/PottedPlantHideComponent.cs
  Content.Server/GameObjects/Components/Strap/StrapComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Shared/GameObjects/Components/Buckle/SharedBuckleComponent.cs
  Content.Shared/GameObjects/Components/GUI/SharedStrippableComponent.cs
  Content.Shared/GameObjects/Components/Movement/SharedClimbingComponent.cs
  Content.Shared/GameObjects/Components/SharedPlaceableSurfaceComponent.cs
  Content.Shared/GameObjects/Components/Storage/SharedStorableComponent.cs
  Content.Shared/GameObjects/Components/Storage/SharedStorageComponent.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/GameObjects/EntitySystems/SharedInteractionSystem.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IDragDrop.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IDraggable.cs
Labels: Feature: Interaction, Type: Refactor

#2261 Nerf gasping and reenable metabolism
  Content.Server/GameObjects/Components/Body/Behavior/LungBehaviorComponent.cs
  Content.Server/GameObjects/EntitySystems/HeartSystem.cs
  Content.Server/GameObjects/EntitySystems/LungSystem.cs
  Content.Server/GameObjects/EntitySystems/MetabolismSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedMetabolismSystem.cs
Labels: Feature: Medical, Type: Improvement

#2259 Multiply throwing force by 6
  Content.Server/Throw/ThrowHelper.cs
Labels: Feature: Interaction, Type: Bug

#2260 Fix ghosts being conveyed
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Feature: Physics, Type: Bug

#2255 Add IEntity.IsWeightless extension method
  Content.Shared/GameObjects/Components/Movement/MovementIgnoreGravityComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Physics/ConveyedController.cs
  Content.Shared/Physics/MoverController.cs
Labels: Feature: Physics, Type: Refactor

#2252 Make pointing arrows not show up on the context menu
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
  Content.Shared/GameObjects/Components/Pointing/SharedPointingArrowComponent.cs
  Content.Shared/GameObjects/Verbs/IShowContextMenu.cs
Labels: Feature: UI, Type: Improvement

#2254 Change ThrowHelper methods to be extensions
  Content.Server/GameObjects/Components/Items/Storage/ItemComponent.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/Throw/ThrowHelper.cs
Labels: Feature: Interaction, Type: Refactor

#2257 Add IResettingEntitySystem for entity systems that do resetting cleanup
  Content.Client/GameTicking/ClientGameTicker.cs
  Content.Client/Interfaces/IClientGameTicker.cs
  Content.Client/State/LobbyState.cs
  Content.Client/UserInterface/HumanoidProfileEditor.cs
  Content.Client/UserInterface/LobbyCharacterPreviewPanel.cs
  Content.Client/UserInterface/RoundEndSummaryWindow.cs
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/Accessible/AiReachableSystem.cs
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/PathfindingSystem.cs
  Content.Server/GameObjects/EntitySystems/Atmos/GasTileOverlaySystem.cs
  Content.Server/GameObjects/EntitySystems/StationEvents/StationEventSystem.cs
  Content.Server/GameObjects/EntitySystems/WireHackingSystem.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/GameTickerBase.cs
  Content.Shared/GameTicking/IResettingEntitySystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
Labels: Feature: Entities, Type: Refactor

#2256 Fix disconnecting discontinuing your adventures off into deep space
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
Labels: Feature: Physics, Type: Bug

#2263 Fix everyone being weightless
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
Labels: Feature: Physics, Type: Bug

#2251 Disable job buttons when they aren't available
  Content.Client/GameTicking/ClientGameTicker.cs
  Content.Client/Interfaces/IClientGameTicker.cs
  Content.Client/UserInterface/LateJoinGui.cs
  Content.Server/GameTicking/GameTicker.JobController.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/GameTickerCommands.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Groups/groups.yml
Labels: Feature: UI, Type: Improvement

#2271 Add mechanism events when being added/removed to/from body/parts
  Content.Client/GameObjects/Components/Body/Mechanism/MechanismComponent.cs
  Content.Server/GameObjects/Components/Body/MechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/Behavior/MechanismBehaviorComponent.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/IMechanism.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/MechanismExtensions.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/SharedMechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
Labels: Feature: Medical, Type: Feature

#2041 Add client pulling prediction
  Content.Client/GameObjects/Components/Mobs/ClientStatusEffectsComponent.cs
  Content.Client/GameObjects/Components/Pulling/PullableComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Server/GameObjects/Components/Kitchen/KitchenSpikeComponent.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/Components/Movement/PullableComponent.cs
  Content.Server/GameObjects/Components/Pulling/PullableComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GlobalVerbs/PullingVerb.cs
  Content.Shared/GameObjects/Components/Items/ISharedHandsComponent.cs
  Content.Shared/GameObjects/Components/Items/SharedHandsComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
  Content.Shared/GameObjects/Components/Pulling/SharedPullerComponent.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
  Content.Shared/GameObjects/EntitySystems/SharedPullingSystem.cs
  Content.Shared/Physics/Pull/PullController.cs
  Content.Shared/Physics/Pull/PullMessage.cs
  Content.Shared/Physics/Pull/PullStartedMessage.cs
  Content.Shared/Physics/Pull/PullStoppedMessage.cs
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Interaction, Type: Improvement

#2071 Ghost Teleporting
  Content.Client/GameObjects/Components/Observer/GhostComponent.cs
  Content.Client/UserInterface/GhostGui.cs
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Server/GameObjects/Components/Observer/GhostComponent.cs
  Content.Shared/GameObjects/Components/Observer/SharedGhostComponent.cs
Labels: Feature: UI, Type: Feature

#2279 Fix mechanism events not being called properly, add test
  Content.Client/GameObjects/Components/Body/Scanner/BodyScannerDisplay.cs
  Content.Client/GameObjects/Components/Mobs/HumanoidAppearanceComponent.cs
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.IntegrationTests/Tests/BuckleTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/CuffUnitTest.cs
  Content.Server/GameObjects/Components/Body/BodyCommands.cs
  Content.Server/GameObjects/Components/Body/MechanismComponent.cs
  Content.Server/GameObjects/Components/Body/Part/BodyPartComponent.cs
  Content.Server/GameObjects/Components/Body/SurgeryToolComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
  Content.Server/GameObjects/Components/Metabolism/MetabolismComponent.cs
  Content.Server/GameObjects/Components/Mobs/HumanoidAppearanceComponent.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/Behavior/MechanismBehaviorComponent.cs
  Content.Shared/GameObjects/Components/Body/BodyExtensions.cs
  Content.Shared/GameObjects/Components/Body/IHasBody.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/IMechanism.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/MechanismExtensions.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/SharedMechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPart.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
Labels: Feature: Medical, Type: Bug

#2285 Fix gasping for real this time I promise
  Content.Server/GameObjects/Components/Body/Behavior/LungBehaviorComponent.cs
  Content.Server/GameObjects/Components/Metabolism/MetabolismComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Medical, Type: Bug

#2289 Remove drop argument in part removal methods and reorganize code
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.IntegrationTests/Tests/BuckleTest.cs
  Content.Server/GameObjects/Components/Body/BodyCommands.cs
  Content.Shared/GameObjects/Components/Body/IBody.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPart.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
  Content.Shared/GameObjects/Components/Body/SharedBodyComponent.cs
  Content.Shared/GameObjects/Components/Body/Surgery/BiologicalSurgeryDataComponent.cs
Labels: Feature: Medical, Type: Refactor

#2290 Make body parts properly use containers for mechanisms
  Content.Server/GameObjects/Components/Body/BodyComponent.cs
  Content.Server/GameObjects/Components/Body/Part/BodyPartComponent.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
Labels: Feature: Medical, Type: Refactor

#2294 Remove plural property from body parts
  Content.Shared/GameObjects/Components/Body/Part/IBodyPart.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
  Resources/Prototypes/Body/Parts/humanoid_parts.yml
Labels: Feature: Medical, Type: Refactor

#2297 Removes AtmosCooldown from TileAtmosphere, fixes various atmos issues
  Content.Server/Atmos/ExcitedGroup.cs
  Content.Server/Atmos/IGridAtmosphereComponent.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/Components/Atmos/GridAtmosphereComponent.cs
  Content.Server/GameObjects/Components/Atmos/UnsimulatedGridAtmosphereComponent.cs
  Content.Server/GameObjects/EntitySystems/AtmosphereSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
Labels: Feature: Atmospherics

#2293 Add arguments to part and mechanism event methods
  Content.Client/GameObjects/Components/Body/Mechanism/MechanismComponent.cs
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.Server/GameObjects/Components/Body/Behavior/BrainBehaviorComponent.cs
  Content.Server/GameObjects/Components/Body/MechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/Behavior/MechanismBehaviorComponent.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/IMechanism.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/SharedMechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
Labels: Feature: Medical, Type: Refactor

#2347 Saltern Tweaks
  Resources/Maps/saltern.yml
Labels: Map Changes, Type: Improvement

#2373 Make ExplosionHelper methods extensions
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Explosions/ExplosionHelper.cs
  Content.Server/GameObjects/Components/Explosion/ExplosiveComponent.cs
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/AMENodeGroup.cs
  Content.Server/GameObjects/Components/Pointing/RoguePointingArrowComponent.cs
Labels: Type: Refactor

#2372 Add a command and verb to attach a body part to yourself
  Content.Server/Commands/AttachBodyPartCommand.cs
  Content.Server/GameObjects/Components/Body/Part/BodyPartComponent.cs
  Content.Shared/GameObjects/Components/Body/IBody.cs
  Content.Shared/GameObjects/Components/Body/Part/SharedBodyPartComponent.cs
  Content.Shared/GameObjects/Components/Body/SharedBodyComponent.cs
  Resources/Groups/groups.yml
Labels: Feature: Medical, Type: Feature

#2395 Add attach to self, grid and grandparent debug verbs
  Content.Server/GlobalVerbs/AttachToGrandparentVerb.cs
  Content.Server/GlobalVerbs/AttachToGridVerb.cs
  Content.Server/GlobalVerbs/AttachToSelf.cs
  Resources/Groups/groups.yml
Labels: Feature: Interaction, Type: Feature

#2215 Refactor pauses
  Content.Server/GameObjects/EntitySystems/BatteryDischargerSystem.cs
  Content.Server/GameObjects/EntitySystems/BatteryStorageSystem.cs
  Content.Server/GameObjects/EntitySystems/MoverSystem.cs
  Content.Server/GameObjects/EntitySystems/PowerApcSystem.cs
Labels: Type: Refactor

#2292 Add commands to show and hide organs inside bodies
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Commands/ShowMechanismsCommand.cs
  Content.Client/GameObjects/EntitySystems/VerbSystem.cs
  Content.Server/Commands/HideContainedContextCommand.cs
  Content.Server/Commands/ShowContainedContextCommand.cs
  Content.Server/GameObjects/EntitySystems/VerbSystem.cs
  Content.Shared/GameObjects/EntitySystemMessages/PlayerContainerVisibilityMessage.cs
  Resources/Groups/groups.yml
Labels: Feature: Medical, Type: Feature

#2396 Today I join Zumorica in fixing our crimes against humanity as one
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedPullingSystem.cs
Labels: Feature: Interaction, Type: Bug

#2398 Fix being able to pull multiple entities at once
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedPullingSystem.cs
Labels: Feature: Interaction, Type: Bug

#2414 Make popup messages track the source entity
  Content.Client/ClientNotifyManager.cs
Labels: Feature: UI, Type: Improvement

#2407 Fix pulling distance being too short
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
  Content.Shared/Physics/Pull/PullController.cs
Labels: Feature: Interaction, Type: Bug

#2406 Make pulled mobs not collide with other mobs
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
Labels: Feature: Interaction, Type: Improvement

#2405 Add pulling taking up a hand
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
  Content.Client/UserInterface/HandButton.cs
  Content.Client/UserInterface/HandsGui.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Shared/GameObjects/Components/Items/SharedHandsComponent.cs
  Content.Shared/Physics/Pull/PullAttemptMessage.cs
  Content.Shared/Physics/Pull/PullController.cs
  Resources/Textures/Interface/Inventory/blocked.png
Labels: Feature: Interaction, Type: Improvement

#2417 Fix ignoreInsideBlocker not working correctly for inRangeUnobstructed and inRangeUnoccluded
  Content.Shared/GameObjects/EntitySystems/ExamineSystemShared.cs
  Content.Shared/GameObjects/EntitySystems/SharedInteractionSystem.cs
Labels: Feature: Interaction, Type: Bug

#2421 Add InRangeUnoccluded debug verb
  Content.Server/GlobalVerbs/InRangeUnoccludedVerb.cs
  Resources/Groups/groups.yml
Labels: Feature: Interaction, Type: Feature

#2391 Mortician's Menagerie
  Content.Client/GameObjects/Components/Morgue/BodyBagVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/CrematoriumVisualizer.cs
  Content.Client/GameObjects/Components/Morgue/MorgueVisualizer.cs
  Content.Client/GameObjects/Components/Storage/StorageVisualizer.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Items/Storage/CursedEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/SecureEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Morgue/BodyBagEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Morgue/CrematoriumEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Morgue/MorgueEntityStorageComponent.cs
  Content.Server/GameObjects/Components/Morgue/MorgueTrayComponent.cs
  Content.Server/GameObjects/Components/Paper/PaperComponent.cs
  Content.Server/GameObjects/EntitySystems/MorgueSystem.cs
  Content.Server/GameObjects/EntitySystems/StandingStateSystem.cs
  Content.Shared/GameObjects/Components/Storage/SharedMorgue.cs
  Content.Shared/GameObjects/Components/Storage/SharedStorageComponent.cs
  Resources/Audio/Machines/ding.ogg
  Resources/Audio/Misc/zip.ogg
  Resources/Prototypes/Entities/Objects/Specific/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/morgue.yml
  Resources/Textures/Objects/Specific/Morgue/bodybags.rsi/bag.png
  Resources/Textures/Objects/Specific/Morgue/bodybags.rsi/item.png
  Resources/Textures/Objects/Specific/Morgue/bodybags.rsi/label_overlay.png
  Resources/Textures/Objects/Specific/Morgue/bodybags.rsi/meta.json
  Resources/Textures/Objects/Specific/Morgue/bodybags.rsi/open_overlay.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/crema_active_light.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/crema_closed.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/crema_contents_light.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/crema_open.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/crema_tray.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/meta.json
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_closed.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_nomob_light.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_nosoul_light.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_open.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_soul_light.png
  Resources/Textures/Objects/Specific/Morgue/morgue.rsi/morgue_tray.png
Labels: Feature: Medical, Type: Feature

#2424 Fix conveyors changing speed depending on the tick rate
  Content.Server/GameObjects/Components/Conveyor/ConveyorComponent.cs
  Content.Shared/Physics/ConveyedController.cs
Labels: Feature: Physics, Type: Bug

#2420 Make InRangeUnoccluded methods consistent
  Content.Shared/GameObjects/EntitySystems/ExamineSystemShared.cs
  Content.Shared/Utility/SharedUnoccludedExtensions.cs
Labels: Feature: Interaction, Type: Refactor

#2425 Fix mobs playing a falling sound when dying from crit
  Content.Client/GameObjects/EntitySystems/StandingStateSystem.cs
  Content.Server/GameObjects/Components/Mobs/State/CriticalState.cs
  Content.Server/GameObjects/Components/Mobs/State/DeadState.cs
  Content.Server/GameObjects/Components/Mobs/State/NormalState.cs
  Content.Server/GameObjects/EntitySystems/StandingStateSystem.cs
Labels: Feature: Audio, Feature: Medical, Type: Bug

#2390 Add meat spike accepting humans, names meat after the source
  Content.Server/GameObjects/Components/Kitchen/KitchenSpikeComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Entities, Type: Feature

#2433 Add a test for rejuvenating dead entities
  Content.IntegrationTests/Tests/Commands/RejuvenateTest.cs
  Content.Server/GlobalVerbs/RejuvenateVerb.cs
Labels: Feature: Medical, Project: Tests, Type: Feature

#2448 Make CloningSystem properly reset and not use static
  Content.Server/GameObjects/Components/Medical/CloningPodComponent.cs
  Content.Server/GameObjects/Components/Medical/MedicalScannerComponent.cs
  Content.Server/GameObjects/EntitySystems/CloningSystem.cs
Labels: Feature: Entities, Type: Refactor

#2449 Add pulling rotating the pulled entity
  Content.Shared/Physics/Pull/PullController.cs
Labels: Feature: Interaction, Type: Improvement

#2434 Fix weightlessness status effect appearing only after something checks if an entity is weightless
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/EntitySystems/GravitySystem.cs
  Content.Server/GameObjects/EntitySystems/WeightlessStatusSystem.cs
  Content.Server/GameObjects/EntitySystems/WeightlessSystem.cs
  Content.Shared/GameObjects/Components/Movement/MovementIgnoreGravityComponent.cs
  Content.Shared/GameObjects/EntitySystemMessages/Gravity/GravityChangedMessage.cs
  Content.Shared/GameObjects/EntitySystemMessages/WeightlessChangeMessage.cs
Labels: Feature: UI, Type: Bug

#2439 Change WaitUntil tickstep default to 1, fix max ticks and async
  Content.IntegrationTests/ContentIntegrationTest.cs
  Content.IntegrationTests/Tests/Commands/RejuvenateTest.cs
Labels: Project: Tests, Type: Improvement

#2194 Disposal mailing
  Content.Client/GameObjects/Components/Body/BodyComponent.cs
  Content.Client/GameObjects/Components/Configuration/ConfigurationBoundUserInterface.cs
  Content.Client/GameObjects/Components/Configuration/ConfigurationMenu.cs
  Content.Client/GameObjects/Components/Disposal/DisposalMailingUnitBoundUserInterface.cs
  Content.Client/GameObjects/Components/Disposal/DisposalMailingUnitComponent.cs
  Content.Client/GameObjects/Components/Disposal/DisposalMailingUnitWindow.cs
  Content.Client/GameObjects/EntitySystems/DoAfter/DoAfterSystem.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/DeviceNetwork/DeviceNetwork.cs
  Content.Server/DeviceNetwork/DeviceNetworkConnection.cs
  Content.Server/DeviceNetwork/Metadata.cs
  Content.Server/DeviceNetwork/NetworkConnections/BaseNetworkConnection.cs
  Content.Server/DeviceNetwork/NetworkConnections/WiredNetworkConnection.cs
  Content.Server/DeviceNetwork/NetworkConnections/WirelessNetworkConnection.cs
  Content.Server/DeviceNetwork/NetworkUtils.cs
  Content.Server/GameObjects/Components/ConfigurationComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalEntryComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalMailingUnitComponent.cs
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/INodeGroup.cs
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/NodeGroupFactory.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerProviderComponent.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverComponent.cs
  Content.Server/GameObjects/EntitySystems/DeviceNetworkSystem.cs
  Content.Server/Interfaces/IDeviceNetwork.cs
  Content.Server/Interfaces/IDeviceNetworkConnection.cs
  Content.Server/ServerContentIoC.cs
  Content.Shared/GameObjects/Components/Disposal/SharedDisposalMailingUnitComponent.cs
  Content.Shared/GameObjects/Components/SharedConfigurationComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedDisposalUnitSystem.cs
  Resources/Prototypes/Entities/Constructible/Power/wires.yml
  Resources/Prototypes/Entities/Constructible/Specific/disposal.yml
Labels: Feature: Entities, Type: Feature

#2437 Add a test for the weightless status
  Content.Client/GameObjects/Components/Mobs/ClientStatusEffectsComponent.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.Server/GameObjects/Components/Mobs/ServerStatusEffectsComponent.cs
  Content.Server/GameObjects/EntitySystems/WeightlessSystem.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStatusEffectsComponent.cs
Labels: Feature: UI, Project: Tests, Type: Feature

#2432 Add test for being able to buckle again after being forced to unbuckle
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
Labels: Feature: Interaction, Project: Tests, Type: Feature

#2415 Make the context and verb menus visible through walls for ghosts
  Content.Shared/GameObjects/Verbs/SharedVerbSystem.cs
Labels: Feature: Interaction, Feature: UI, Type: Bug

#2426 Change components to use timer component
  Content.Client/GameObjects/Components/Instruments/InstrumentComponent.cs
  Content.Client/GameObjects/Components/Sound/LoopingSoundComponent.cs
  Content.Client/GameObjects/Components/Weapons/FlashableComponent.cs
  Content.Client/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Server/GameObjects/Components/Atmos/FlammableComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalUnitComponent.cs
  Content.Server/GameObjects/Components/Doors/AirlockComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Content.Server/GameObjects/Components/GUI/HumanInventoryControllerComponent.cs
  Content.Server/GameObjects/Components/Kitchen/MicrowaveComponent.cs
  Content.Server/GameObjects/Components/Markers/TimedSpawnerComponent.cs
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Server/GameObjects/Components/Mobs/StunnableComponent.cs
  Content.Server/GameObjects/Components/Portal/PortalComponent.cs
  Content.Server/GameObjects/Components/Portal/TeleporterComponent.cs
  Content.Server/GameObjects/Components/Projectiles/HitscanComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ThrownItemComponent.cs
  Content.Server/GameObjects/Components/Research/LatheComponent.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Server/GameObjects/Components/Timing/UseDelayComponent.cs
  Content.Server/GameObjects/Components/VendingMachines/VendingMachineComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/FlashComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedStunnableComponent.cs
Labels: Feature: Entities, Type: Feature

#2333 Arcade polish
  Content.Client/Arcade/SpaceVillainArcadeMenu.cs
  Content.Server/GameObjects/Components/Arcade/BlockGameArcadeComponent.cs
  Content.Server/GameObjects/Components/Arcade/RandomArcadeGameComponent.cs
  Content.Server/GameObjects/Components/Arcade/SpaceVillainArcadeComponent.cs
  Content.Shared/GameObjects/Components/Arcade/SharedSpaceVillainArcadeComponent.cs
  Resources/Prototypes/Entities/Constructible/Power/arcade.yml
  Resources/Prototypes/Entities/Objects/Misc/computer_circuitboards.yml
Labels: Feature: Interaction, Map Changes, Type: Improvement

#2455 Fix icon smooth component not working with rotated entities
  Content.Client/GameObjects/Components/IconSmoothing/IconSmoothComponent.cs
Labels: Feature: Sprites, Type: Bug
