Repository space-wizards/space-station-14, pull requests merged in 2020-11, with the labels that each got.

#2469 Revert to old cooldown and unify with DoAfter
  Content.Client/GameObjects/EntitySystems/DoAfter/DoAfterBar.cs
  Content.Client/UserInterface/CooldownGraphic.cs
Labels: Feature: Interaction, Feature: UI, Type: Feature

#2472 Make mechanism behaviors properly update, fix eating and drinking
  Content.Client/GameObjects/Components/Body/Mechanism/HeartBehaviorComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.Server/Commands/Hungry.cs
  Content.Server/GameObjects/Components/Body/Behavior/BrainBehavior.cs
  Content.Server/GameObjects/Components/Body/Behavior/HeartBehavior.cs
  Content.Server/GameObjects/Components/Body/Behavior/LungBehavior.cs
  Content.Server/GameObjects/Components/Body/Behavior/MechanismBehavior.cs
  Content.Server/GameObjects/Components/Body/Behavior/MechanismExtensions.cs
  Content.Server/GameObjects/Components/Body/Behavior/StomachBehavior.cs
  Content.Server/GameObjects/Components/Body/Behavior/StomachBehaviorComponent.cs
  Content.Server/GameObjects/Components/Chemistry/PillComponent.cs
  Content.Server/GameObjects/Components/Metabolism/MetabolismComponent.cs
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
  Content.Server/GameObjects/Components/Nutrition/FoodComponent.cs
  Content.Server/GameObjects/EntitySystems/HeartSystem.cs
  Content.Server/GameObjects/EntitySystems/LungSystem.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/Behavior/SharedHeartBehaviorComponent.cs
  Content.Shared/GameObjects/Components/Body/Behavior/SharedLungBehaviorComponent.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/IMechanism.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/SharedMechanismComponent.cs
  Content.Shared/GameObjects/Components/Nutrition/SharedStomachComponent.cs
  Content.Shared/GameObjects/EntitySystems/MechanismSystem.cs
  Resources/Groups/groups.yml
  Resources/Prototypes/Body/Mechanisms/basic_human_organs.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Feature: Medical, Type: Bug

#2456 Change events command to give better instructions on how to use it and make it easier to call from the outside
  Content.Server/StationEvents/StationEventCommand.cs
Labels: Feature: Events, Type: Improvement

#2457 Fix being able to start pulls on anchored entities
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
Labels: Feature: Interaction, Type: Bug

#2471 Add access restrictions to vending machines
  Content.Server/GameObjects/Components/VendingMachines/VendingMachineComponent.cs
  Resources/Prototypes/Entities/Constructible/Power/vending_machines.yml
Labels: Feature: Interaction, Type: Feature

#2253 Add unoccluded check for pointing arrows
  Content.Server/GameObjects/EntitySystems/PointingSystem.cs
  Content.Server/GlobalVerbs/PointingVerb.cs
Labels: Feature: Interaction, Type: Bug

#2107 Removes camera jump on melee attack
  Content.Client/GameObjects/Components/Mobs/MeleeLungeComponent.cs
Labels: Feature: Interaction, Type: Improvement

#2482 Add feedback to the signallink command
  Content.Server/GameObjects/EntitySystems/SignalLinkerSystem.cs
Labels: Feature: UI, Type: Improvement

#2486 Reset saltern disposal entries to default
  Resources/Maps/saltern.yml
Labels: Map Changes

#2504 Fix every BuckleComponent subscribing to EventBus when buckled
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
Labels: Feature: Interaction, Type: Improvement

#2506 Move rotate event subscription from NodeContainerComponent to NodeContainerSystem
  Content.Server/GameObjects/Components/NodeContainer/NodeContainerComponent.cs
  Content.Server/GameObjects/EntitySystems/NodeContainerSystem.cs
Labels: Feature: Power, Type: Performance

#2507 Fix AI crash when an entity is moved to an invalid grid
  Content.Server/GameObjects/EntitySystems/AI/Pathfinding/PathfindingSystem.cs
Labels: Feature: Entity AI, Type: Bug

#2508 Buckle improvements
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
Labels: Feature: Interaction, Type: Performance, Type: Refactor

#2250 Change cvar usages to use CVarDef and define them in CCVars
  Content.Client/Commands/ToggleOutlineCommand.cs
  Content.Client/EntryPoint.cs
  Content.Client/Parallax/ParallaxManager.cs
  Content.Client/State/GameScreenBase.cs
  Content.Client/State/MainMenu.cs
  Content.Client/UserInterface/OptionsMenu.Graphics.cs
  Content.IntegrationTests/Tests/Commands/RestartRoundTest.cs
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.Server/GameObjects/EntitySystems/AI/AiSystem.cs
  Content.Server/GameObjects/EntitySystems/Atmos/AtmosDebugOverlaySystem.cs
  Content.Server/GameObjects/EntitySystems/Atmos/GasTileOverlaySystem.cs
  Content.Server/GameTicking/GamePresets/PresetSuspicion.cs
  Content.Server/GameTicking/GameRules/RuleDeathMatch.cs
  Content.Server/GameTicking/GameRules/RuleSuspicion.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/MoMMILink.cs
  Content.Shared/CCVars.cs
  Content.Shared/GameObjects/Components/Movement/SharedPlayerInputMoverComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedMoverSystem.cs
Labels: Type: Refactor

#2149 Adds rainbow jumpsuit
  Resources/Prototypes/Entities/Clothing/Uniforms/color.yml
  Resources/Textures/Clothing/Uniforms/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/rainbow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/rainbow.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/rainbow.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/rainbow.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/rainbow.rsi/meta.json
Labels: Feature: Entities, Type: Feature

#2534 Fix signallink command not working
  Content.Server/GameObjects/EntitySystems/SignalLinkerSystem.cs
Labels: Feature: Interaction, Type: Bug

#2441 Fix ServerBeforeIoC not being called when using StartServer instead of StartServerDummyTicker
  Content.Client/EntryPoint.cs
  Content.IntegrationTests/ContentIntegrationTest.cs
  Content.Server/EntryPoint.cs
Labels: Feature: Audio, Project: Tests, Type: Bug

#2393 Align storage welders with door welders
  Content.Client/GameObjects/Components/Storage/StorageVisualizer.cs
  Content.Server/GameObjects/Components/Items/Storage/EntityStorageComponent.cs
Labels: Feature: Interaction, Type: Improvement

#2561 Make the map that is loaded a CVar
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/CCVars.cs
Labels: Type: Improvement

#2558 Make atmos debug overlay system data clear on round restart
  Content.Client/GameObjects/EntitySystems/AtmosDebugOverlaySystem.cs
Labels: Feature: Atmospherics, Feature: UI, Type: Improvement

#2556 Update documentation for body system code
  Content.Client/GameObjects/Components/Body/Scanner/BodyScannerDisplay.cs
  Content.Shared/GameObjects/Components/Body/Behavior/IMechanismBehavior.cs
  Content.Shared/GameObjects/Components/Body/IBody.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/IMechanism.cs
  Content.Shared/GameObjects/Components/Body/Mechanism/SharedMechanismComponent.cs
  Content.Shared/GameObjects/Components/Body/Networks/SharedBloodstreamComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/BodyPartCompatibility.cs
  Content.Shared/GameObjects/Components/Body/Part/BodyPartExtensions.cs
  Content.Shared/GameObjects/Components/Body/Part/BodyPartSymmetry.cs
  Content.Shared/GameObjects/Components/Body/Part/BodyPartType.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPart.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPartAdded.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPartContainer.cs
  Content.Shared/GameObjects/Components/Body/Part/IBodyPartRemoved.cs
  Content.Shared/GameObjects/Components/Body/Part/Property/BodyPartPropertyComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/Property/ExtensionComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/Property/GraspComponent.cs
  Content.Shared/GameObjects/Components/Body/Part/Property/IBodyPartProperty.cs
  Content.Shared/GameObjects/Components/Body/Part/Property/LegComponent.cs
  Content.Shared/GameObjects/Components/Body/Preset/BodyPresetPrototype.cs
  Content.Shared/GameObjects/Components/Body/Surgery/BiologicalSurgeryDataComponent.cs
  Content.Shared/GameObjects/Components/Body/Surgery/ISurgeon.cs
  Content.Shared/GameObjects/Components/Body/Surgery/SurgeryDataComponent.cs
  Content.Shared/GameObjects/Components/Body/Surgery/SurgeryType.cs
  Content.Shared/GameObjects/Components/Body/Template/BodyTemplatePrototype.cs
Labels: Feature: Medical, Type: Refactor

#2555 Add HideContextMenu component
  Content.Shared/GameObjects/Components/Context/HideContextMenuComponent.cs
  Content.Shared/GameObjects/Components/Pointing/SharedPointingArrowComponent.cs
  Resources/Prototypes/Entities/Effects/Markers/drag_shadow.yml
  Resources/Prototypes/Entities/Effects/Markers/pointing.yml
Labels: Feature: Entities, Type: Feature

#2557 Fix running showatmos twice not disabling the atmos overlay
  Content.Client/GameObjects/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/AtmosCommands.cs
  Content.Server/GameObjects/EntitySystems/Atmos/AtmosDebugOverlaySystem.cs
  Content.Shared/GameObjects/EntitySystems/Atmos/SharedAtmosDebugOverlaySystem.cs
Labels: Feature: Atmospherics, Feature: UI, Type: Bug

#2442 Add test for IResettingEntitySystem resetting
  Content.IntegrationTests/Tests/ResettingEntitySystemTests.cs
Labels: Feature: Entities, Project: Tests, Type: Feature

#2476 Add test for being unable to pull anchored entities
  Content.IntegrationTests/Tests/Pulling/PullTest.cs
Labels: Feature: Interaction, Project: Tests, Type: Feature

#2464 makes conveyors to use machine linking & refactors machine linking a bit
  Content.Client/GameObjects/Components/Conveyor/ConveyorVisualizer.cs
  Content.Client/GameObjects/Components/Conveyor/TwoWayLeverVisualizer.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorItemComponent.cs
  Content.Server/GameObjects/Components/Conveyor/ConveyorSwitchComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalButtonComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalReceiverComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalSwitchComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalTransmitterComponent.cs
  Content.Server/GameObjects/Components/MachineLinking/SignalTwoWayLeverComponent.cs
  Content.Server/GameObjects/Components/Recycling/RecyclerComponent.cs
  Content.Server/GameObjects/EntitySystems/ConveyorSystem.cs
  Content.Shared/GameObjects/Components/Conveyor/SharedConveyorComponent.cs
  Content.Shared/GameObjects/Components/MachineLinking/TwoWayLeverSignal.cs
  Content.Shared/Physics/ConveyedController.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Catalog/LatheRecipes/cargo.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Constructible/Power/lathe.yml
  Resources/Prototypes/Entities/Constructible/Specific/Conveyor/constructionGraphs.yml
  Resources/Prototypes/Entities/Constructible/Specific/Conveyor/constructionRecipes.yml
  Resources/Prototypes/Entities/Constructible/Specific/Conveyor/conveyor.yml
  Resources/Prototypes/Entities/Constructible/Specific/Conveyor/twoWayLever.yml
Labels: Feature: Entities, Type: Feature

#2560 Make godmode able to be disabled and more accessible to the rest of the code
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/GameObjects/Components/Atmos/MovedByPressureComponent.cs
  Content.Server/GameObjects/Components/Damage/DamageCommands.cs
  Content.Server/GameObjects/EntitySystems/GodmodeSystem.cs
Labels: Feature: Medical, Type: Feature

#2559 Improve hurt command feedback and usability
  Content.Server/Commands/HurtCommand.cs
  Content.Server/GameObjects/Components/Body/BodyCommands.cs
Labels: Feature: Medical, Type: Improvement

#2465 Configuration verb
  Content.Server/GameObjects/Components/ConfigurationComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalRouterComponent.cs
  Content.Server/GameObjects/Components/Disposal/DisposalTaggerComponent.cs
  Resources/Textures/Interface/VerbIcons/settings.svg
  Resources/Textures/Interface/VerbIcons/settings.svg.96dpi.png
Labels: Feature: Interaction, Feature: UI, Type: Feature

#2580 Add command to delete all instances of a component
  Content.Server/Administration/Commands/DeleteComponent.cs
Labels: Type: Feature

#2641 Add find entities with components command
  Content.Server/Commands/FindEntitiesWithComponents.cs
Labels: Type: Feature

#2640 Add remove extra components command
  Content.Server/Commands/RemoveExtraComponents.cs
Labels: Type: Feature
