Repository space-wizards/space-station-14, pull requests merged in 2021-09, with the labels that each got.

#4544 Fix lobby exception
  Content.Client/Lobby/LobbyState.cs
Labels: Type: Bug, Size: 1-Tiny

#4550 Fix pulling lerping
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Movement/SharedMoverController.cs
Labels: Type: Improvement

#4558 Fix crit/dead alert
  Content.Server/Alert/ServerAlertsComponent.cs
  Content.Shared/Alert/SharedAlertsComponent.cs
Labels: Type: Bug

#4556 Add some SoundOnLand components to engineering
  Resources/Audio/Items/crowbar_drop.ogg
  Resources/Audio/Items/matchbox_drop.ogg
  Resources/Audio/Items/multitool_drop.ogg
  Resources/Audio/Items/screwdriver_drop.ogg
  Resources/Audio/Items/toolbox_drop.ogg
  Resources/Audio/Items/welder_drop.ogg
  Resources/Audio/Items/wirecutter_drop.ogg
  Resources/Audio/Items/wrench_drop.ogg
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Type: Feature, No C#

#4495 Cigarette ecs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Storage/ClientStorageComponent.cs
  Content.Client/Storage/Visualizers/BagOpenCloseVisualizer.cs
  Content.Client/Storage/Visualizers/MappedItemVisualizer.cs
  Content.Server/Storage/Components/StorageCounterComponent.cs
  Content.Server/Storage/EntitySystems/ItemCounterSystem.cs
  Content.Server/Storage/EntitySystems/ItemMapperSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Storage/Components/ItemCounterComponent.cs
  Content.Shared/Storage/Components/ItemMapperComponent.cs
  Content.Shared/Storage/Components/SharedBagOpenVisuals.cs
  Content.Shared/Storage/Components/SharedMapLayerData.cs
  Content.Shared/Storage/EntitySystems/SharedItemCounterSystem.cs
  Content.Shared/Storage/EntitySystems/SharedItemMapperSystem.cs
  Content.Shared/Storage/ItemCounter/SharedItemCounterSystem.cs
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: Type: Refactor, Status: Needs Review

#4552 Ambient sound system
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Audio/AmbientOnPoweredComponent.cs
  Content.Server/Audio/AmbientSoundSystem.cs
  Content.Server/Gravity/GravityGeneratorComponent.cs
  Content.Server/Light/Components/PoweredLightComponent.cs
  Content.Shared/Audio/AmbientSoundComponent.cs
  Content.Shared/Audio/SharedAmbientSoundSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Light/Component/SharedExpendableLightComponent.cs
  Resources/Audio/Ambience/Objects/buzzing.ogg
  Resources/Audio/Ambience/Objects/emf_buzz.ogg
  Resources/Audio/Ambience/Objects/engine_hum.ogg
  Resources/Audio/Ambience/Objects/gravity_gen_hum.ogg
  Resources/Audio/Ambience/Objects/hdd_buzz.ogg
  Resources/Audio/Ambience/Objects/light_hum.ogg
  Resources/Audio/Ambience/Objects/periodic_beep.ogg
  Resources/Audio/Ambience/Objects/vending_machine_hum.ogg
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generator.yml
  Resources/Prototypes/Entities/Structures/Power/parts.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
Labels: Type: Discussion, Type: Feature

#4579 Refactors flashes to ECS, sunglasses protect you from being flashed.
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Flash/FlashSystem.cs
  Content.Client/Flash/FlashableComponent.cs
  Content.Server/Explosion/Components/SoundOnTriggerComponent.cs
  Content.Server/Explosion/TriggerSystem.cs
  Content.Server/Flash/Components/FlashComponent.cs
  Content.Server/Flash/Components/FlashImmunityComponent.cs
  Content.Server/Flash/Components/FlashableComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Flash/SharedFlashableComponent.cs
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Type: Improvement, Type: Feature, Type: Refactor, Type: Cleanup, Status: Needs Review

#4576 Tweaks ambient sound values and improves some existing sounds
  Content.Server/Explosion/ExplosionHelper.cs
  Content.Server/Light/Components/HandheldLightComponent.cs
  Content.Server/PDA/PDAComponent.cs
  Content.Server/Pointing/Components/RoguePointingArrowComponent.cs
  Content.Server/Singularity/Components/ServerSingularityComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Resources/Audio/Effects/closetclose.ogg
  Resources/Audio/Effects/closetopen.ogg
  Resources/Audio/Effects/explosion.ogg
  Resources/Audio/Effects/explosion1.ogg
  Resources/Audio/Effects/explosion2.ogg
  Resources/Audio/Effects/explosion3.ogg
  Resources/Audio/Effects/explosion4.ogg
  Resources/Audio/Effects/explosion5.ogg
  Resources/Audio/Effects/explosion6.ogg
  Resources/Audio/Effects/woodenclosetclose.ogg
  Resources/Audio/Effects/woodenclosetopen.ogg
  Resources/Audio/Items/flashlight_off.ogg
  Resources/Audio/Items/flashlight_on.ogg
  Resources/Audio/Items/flashlight_pda.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream1.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream2.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream3.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream4.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream5.ogg
  Resources/Audio/Voice/Human/Scientist/science_scream6.ogg
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/parts.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/SoundCollections/explosion.yml
  Resources/Prototypes/SoundCollections/screams.yml
Labels: Type: Improvement

#4537 conveyor & recycler ecs
  Content.Client/Conveyor/Visualizers/ConveyorVisualizer.cs
  Content.Client/Recycling/RecyclerVisualizer.cs
  Content.Server/Conveyor/ConveyorComponent.cs
  Content.Server/Conveyor/ConveyorSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Recycling/Components/RecyclerComponent.cs
  Content.Server/Recycling/RecyclerSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Type: Refactor

#4578 Remove SnapGrid
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/base.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Power/debug_power.yml
  Resources/Prototypes/Entities/Structures/Power/parts.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Entities/Structures/soil.yml
Labels: Complementary Engine PR, No C#, Type: Cleanup, Size: 1-Tiny

#4429 Add chess (and mostly just tabletop backend stuff)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Tabletop/Components/TabletopDraggableComponent.cs
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Client/Tabletop/UI/TabletopWindow.xaml
  Content.Client/Tabletop/UI/TabletopWindow.xaml.cs
  Content.Client/Tabletop/Visualizers/TabletopItemVisualizer.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Tabletop/Components/TabletopDraggableComponent.cs
  Content.Server/Tabletop/Components/TabletopGameComponent.cs
  Content.Server/Tabletop/TabletopSession.cs
  Content.Server/Tabletop/TabletopSystem.Chess.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Shared/Tabletop/Components/SharedTabletopDraggableComponent.cs
  Content.Shared/Tabletop/Events/TabletopDraggingPlayerChangedEvent.cs
  Content.Shared/Tabletop/Events/TabletopMoveEvent.cs
  Content.Shared/Tabletop/Events/TabletopPlayEvent.cs
  Content.Shared/Tabletop/Events/TabletopStopPlayingEvent.cs
  Content.Shared/Tabletop/SharedTabletopSystem.cs
  Content.Shared/Tabletop/TabletopItemVisuals.cs
  Resources/Locale/en-US/tabletop/tabletop.ftl
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/chess.yml
  Resources/Textures/Interface/VerbIcons/die.svg
  Resources/Textures/Interface/VerbIcons/die.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/die.svg.192dpi.png.yml
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_bishop.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_king.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_knight.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_pawn.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_queen.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/b_rook.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_bishop.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_king.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_knight.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_pawn.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_queen.png
  Resources/Textures/Objects/Fun/Tabletop/chess_pieces.rsi/w_rook.png
  Resources/Textures/Objects/Fun/Tabletop/chessboard.rsi/chessboard.png
  Resources/Textures/Objects/Fun/Tabletop/chessboard.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/chessboard_tabletop.rsi/chessboard_tabletop.png
  Resources/Textures/Objects/Fun/Tabletop/chessboard_tabletop.rsi/meta.json
Labels: Type: Feature, Changes: Sprites, Status: Needs Review

#4606 Landing velocity threshold
  Content.Server/Throwing/ThrowHelper.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Type: Improvement, Size: 1-Tiny, Status: Needs Review

#4619 Generalize ResistanceSets into DamageModifierSets
  Content.IntegrationTests/Tests/Damageable/DamageableTest.cs
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/DamageableComponent.cs
  Content.Shared/Damage/DamageableSystem.cs
  Content.Shared/Damage/Prototypes/DamageModifierSetPrototype.cs
  Content.Tests/Shared/DamageTest.cs
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/frame.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
  Resources/Prototypes/Entities/Structures/Furniture/seats.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/base.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Power/debug_power.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base.yml
  Resources/Prototypes/Entities/Structures/Storage/storage.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Entities/Structures/Walls/base.yml
  Resources/Prototypes/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/Entities/Structures/Walls/low.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
  Resources/Prototypes/Entities/Structures/soil.yml
Labels: Type: Improvement, Status: Needs Review

#4562 Fixes for grid rotation
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Interactable/InteractionSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base.yml
Labels: Type: Bug, Complementary Engine PR, Status: Needs Review

#4611 Move testbed to engine
  Content.Server/Physics/TestbedCommand.cs
  Resources/engineCommandPerms.yml
Labels: Complementary Engine PR, Type: Cleanup

#4626 Improves the JobSpecial system.
  Content.Client/Jobs/ClownSpecial.cs
  Content.Client/Jobs/JanitorSpecial.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Jobs/AddComponentSpecial.cs
  Content.Server/Jobs/ClownSpecial.cs
  Content.Server/Jobs/GiveItemOnHolidaySpecial.cs
  Content.Server/Jobs/JanitorSpecial.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobSpecial.cs
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
Labels: Type: Improvement

#4554 Wieldable/two-handed weapons
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Hands/HandVirtualItemStatus.xaml
  Content.Client/Hands/HandVirtualItemStatus.xaml.cs
  Content.Client/Hands/HandsGui.xaml.cs
  Content.Client/Hands/Systems/HandVirtualItemSystem.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Items/UI/ItemStatusPanel.cs
  Content.Server/DoAfter/DoAfterEventArgs.cs
  Content.Server/Hands/Systems/HandVirtualItemSystem.cs
  Content.Server/Hands/Systems/HandVirtualPullSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Content.Server/Wieldable/Components/WieldableComponent.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Hands/Components/HandVirtualItemComponent.cs
  Content.Shared/Hands/Components/HandVirtualPullComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Pulling/Components/SharedPullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Furniture/seats.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Entities/Virtual/virtual_item.yml
  Resources/Prototypes/Entities/Virtual/virtual_pull_item.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-right.png
Labels: Type: Feature, Status: Needs Review

#4623 Disposals UI to XAML
  Content.Client/Disposal/UI/DisposalRouterWindow.cs
  Content.Client/Disposal/UI/DisposalRouterWindow.xaml
  Content.Client/Disposal/UI/DisposalRouterWindow.xaml.cs
  Content.Client/Disposal/UI/DisposalTaggerWindow.cs
  Content.Client/Disposal/UI/DisposalTaggerWindow.xaml
  Content.Client/Disposal/UI/DisposalTaggerWindow.xaml.cs
  Content.Client/Disposal/UI/DisposalUnitWindow.cs
  Content.Client/Disposal/UI/DisposalUnitWindow.xaml
  Content.Client/Disposal/UI/DisposalUnitWindow.xaml.cs
Labels: Changes: UI, Type: Refactor, Status: Needs Review

#4622 Credits window to XAML UI
  Content.Client/Credits/CreditsWindow.xaml
  Content.Client/Credits/CreditsWindow.xaml.cs
Labels: Changes: UI, Type: Refactor, Status: Needs Review

#4595 Fix construction from inside containers
  Content.Server/Construction/ConstructionSystem.cs
  Resources/Locale/en-US/construction/construction-system.ftl
Labels: Type: Bug, Size: 1-Tiny, Status: Needs Review

#4627 SoundSpecifiers can now specify paths/collections as a value too.
  Content.Shared/Sound/SoundSpecifierTypeSerializer.cs
Labels: Type: Improvement

#4610 Adds parchís game board, improves tabletop system to support other games.
  Content.Server/Tabletop/Components/TabletopGameComponent.cs
  Content.Server/Tabletop/TabletopChessSetup.cs
  Content.Server/Tabletop/TabletopParchisSetup.cs
  Content.Server/Tabletop/TabletopSetup.cs
  Content.Server/Tabletop/TabletopSystem.Chess.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Resources/Locale/en-US/tabletop/tabletop.ftl
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/chess.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/parchis.yml
  Resources/Textures/Objects/Fun/Tabletop/parchis.rsi/board.png
  Resources/Textures/Objects/Fun/Tabletop/parchis.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/parchis_pieces.rsi/blue.png
  Resources/Textures/Objects/Fun/Tabletop/parchis_pieces.rsi/green.png
  Resources/Textures/Objects/Fun/Tabletop/parchis_pieces.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/parchis_pieces.rsi/red.png
  Resources/Textures/Objects/Fun/Tabletop/parchis_pieces.rsi/yellow.png
  Resources/Textures/Objects/Fun/Tabletop/parchis_tabletop.rsi/board.png
  Resources/Textures/Objects/Fun/Tabletop/parchis_tabletop.rsi/meta.json
Labels: Type: Improvement, Type: Feature

#4634 Fix Welder component interaction
  Content.Server/Tools/Components/WelderComponent.cs
  Resources/Locale/en-US/tools/components/welder-component.ftl
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Type: Bug, Size: 1-Tiny

#4608 Makes GasCanisterSystem use ECS BoundUserInterfaces.
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
Labels: Complementary Engine PR, Type: Refactor

#4633 Improves and cleans up TabletopSystem further.
  Content.Server/Tabletop/Components/TabletopGameComponent.cs
  Content.Server/Tabletop/Components/TabletopGamerComponent.cs
  Content.Server/Tabletop/TabletopChessSetup.cs
  Content.Server/Tabletop/TabletopParchisSetup.cs
  Content.Server/Tabletop/TabletopSession.cs
  Content.Server/Tabletop/TabletopSessionPlayerData.cs
  Content.Server/Tabletop/TabletopSetup.cs
  Content.Server/Tabletop/TabletopSystem.Draggable.cs
  Content.Server/Tabletop/TabletopSystem.Map.cs
  Content.Server/Tabletop/TabletopSystem.Session.cs
  Content.Server/Tabletop/TabletopSystem.cs
Labels: Type: Improvement, Type: Performance, Type: Cleanup

#4624 Refactors APC Window to XAML-UI
  Content.Client/Power/APC/ApcBoundUserInterface.cs
  Content.Client/Power/APC/UI/ApcMenu.xaml
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Resources/Locale/en-US/ui/power-apc.ftl
Labels: Changes: UI, Type: Refactor

#4614 Refactors Vending Menu to XAML-UI
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
Labels: Type: Refactor, Size: 1-Tiny

#4664 Update StackSystem to use Resolves.
  Content.Server/Construction/Completions/SetStackCount.cs
  Content.Server/Construction/Completions/SpawnPrototype.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Power/Components/CableComponent.cs
  Content.Server/Power/Components/CablePlacerComponent.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Tiles/FloorTileItemComponent.cs
  Content.Shared/Stacks/SharedStackSystem.cs
Labels: Type: Cleanup

#4667 Fixes broken rotation on map in library
  Resources/Maps/saltern.yml
Labels: Type: Improvement, Changes: Map

#4666 Changes most uses of Color.Green to Color.LimeGreen for better visual clarity
  Content.Client/AI/ClientPathfindingDebugSystem.cs
  Content.Client/Atmos/Overlays/AtmosDebugOverlay.cs
  Content.Client/Chat/ChatHelper.cs
  Content.Client/Chat/UI/ChatBox.xaml.cs
  Content.Client/Cloning/UI/CloningPodWindow.cs
  Content.Client/HealthOverlay/UI/HealthOverlayGui.cs
  Content.Client/Light/Components/HandheldLightComponent.cs
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/StationEvents/RadiationPulseOverlay.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Suspicion/SuspicionGui.xaml.cs
  Content.Client/Weapons/Ranged/Barrels/Components/ClientRevolverBarrelComponent.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Shared/Wires/SharedWiresComponent.cs
Labels: Type: Improvement, Changes: UI

#4671 Refactor Flammable to be ECS.
  Content.Client/Atmos/Visualizers/FireVisualizer.cs
  Content.Server/Alert/Click/ResistFire.cs
  Content.Server/Atmos/Components/AtmosExposedComponent.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/FireEvent.cs
  Content.Server/Atmos/TileFireEvent.cs
  Content.Server/Chemistry/ReagentEntityReactions/ExtinguishReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/FlammableReaction.cs
  Content.Server/Damage/RejuvenateVerb.cs
  Content.Server/Light/Components/MatchstickComponent.cs
  Content.Server/Light/EntitySystems/MatchstickSystem.cs
  Content.Server/Nutrition/Components/SmokingComponent.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/Tools/Components/WelderComponent.cs
  Content.Server/Tools/WelderSystem.cs
  Content.Shared/Atmos/Components/SharedFlammableComponent.cs
  Content.Shared/Atmos/FireVisuals.cs
  Content.Shared/Temperature/IHotItem.cs
  Content.Shared/Temperature/IsHotEvent.cs
Labels: Type: Refactor, Type: Cleanup

#4674 Refactor Barotrauma to be ECS.
  Content.Server/Atmos/Components/AtmosExposedComponent.cs
  Content.Server/Atmos/Components/BarotraumaComponent.cs
  Content.Server/Atmos/Components/PressureProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/PressureEvent.cs
  Content.Server/Inventory/Components/InventoryComponent.cs
  Content.Server/Inventory/InventorySystem.cs
  Content.Server/Pressure/IPressureProtection.cs
Labels: Type: Refactor

#4676 Refactor AdvertiseComponent to be ECS, improve performance.
  Content.Server/Advertise/AdvertiseComponent.cs
  Content.Server/Advertise/AdvertiseSystem.cs
  Content.Server/VendingMachines/VendingMachineComponent.cs
Labels: Type: Improvement, Type: Performance, Type: Refactor, Type: Cleanup

#4678 Refactors smoking to ECS, smoking actually makes you inhale reagents.
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Smoking/BurnStateVisualizer.cs
  Content.Server/Light/Components/MatchstickComponent.cs
  Content.Server/Light/EntitySystems/MatchboxSystem.cs
  Content.Server/Light/EntitySystems/MatchstickSystem.cs
  Content.Server/Nutrition/Components/CigarComponent.cs
  Content.Server/Nutrition/Components/SmokableComponent.cs
  Content.Server/Nutrition/Components/SmokingComponent.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Cigar.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Shared/Chemistry/ChemistrySystem.cs
  Content.Shared/Smoking/SmokableState.cs
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/blunts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/pipes.yml
  SpaceStation14.sln.DotSettings
Labels: Type: Improvement, Type: Feature, Type: Refactor, Type: Cleanup

#4567 Optimise emergency lights a bit
  Content.Client/Light/Components/EmergencyLightComponent.cs
  Content.Client/Light/EmergencyLightSystem.cs
  Content.Client/Light/LanternVisualizer.cs
  Content.IntegrationTests/Tests/DummyIconTest.cs
  Content.Server/Light/Components/EmergencyLightComponent.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
  Content.Shared/Light/Component/SharedEmergencyLightComponent.cs
  Content.Shared/Light/SharedEmergencyLightSystem.cs
Labels: Type: Performance

#4702 Fixes pointing localization
  Resources/Locale/en-US/entity-systems/pointing/pointing-system.ftl
Labels: No C#, Size: 1-Tiny

#4570 Event for PowerNetBattery CurrentSupply changing
  Content.Server/Audio/AmbientSoundSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Resources/Prototypes/Entities/Structures/Power/parts.yml
Labels: Type: Feature, Status: Needs Review
