Repository space-wizards/space-station-14, pull requests merged in 2021-12, with the labels that each got.

#5630 Remove LungBehavior and replace with LungComponent/System
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Body/Behavior/LungBehavior.cs
  Content.Server/Body/Components/LungComponent.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/LungSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Body/Parts/animal.yml
Labels: Type: Refactor, Status: Needs Review

#5632 Slay bobby pt. 1
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.Server/Body/Behavior/MechanismBehavior.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Shared/Body/Behavior/SharedMechanismBehavior.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
  Content.Shared/Body/Components/SharedMechanismComponent.cs
  Content.Shared/Body/Part/BodyPartSlot.cs
  Content.Shared/Body/Part/Property/BodyPartPropertyComponent.cs
  Content.Shared/Body/Part/Property/ExtensionComponent.cs
  Content.Shared/Body/Part/Property/GraspComponent.cs
  Content.Shared/Body/Part/Property/IBodyPartProperty.cs
  Content.Shared/Body/Part/Property/LegComponent.cs
  Content.Shared/Body/Systems/MechanismSystem.cs
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
Labels: Type: Cleanup, Status: Needs Review

#5651 Nerf electrocution
  Content.Server/Electrocution/Components/ElectrifiedComponent.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: Size: Very Small, Type: Balance

#5655 check if instrument window is disposed before playing
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
Labels: Type: Bug, Size: Very Small

#5659 Fix donk pocket boxes
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/tags.yml
Labels: No C#, Size: Very Small

#5656 Make masks & some helmets block eating/drinkling
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/tags.yml
Labels: Type: Balance

#5661 Make MovementSpeedModifier send the actual modifier in the state
  Content.Shared/Movement/EntitySystems/MovementSpeedModifierSystem.cs
Labels: Type: Bug, Size: Very Small

#5673 Fix entity menu sometimes not opening properly.
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
Labels: Size: Very Small

#5615 Enables warden on Packedstation
  Resources/Maps/packedstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/AccessLevels/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Type: Feature, Changes: Map, Difficulty: 1-Easy

#5657 Fixes admin logs and tests to not depend on IEntity caching
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.IntegrationTests/Tests/Networking/ConnectTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.Server/AI/EntitySystems/AiSystem.cs
  Content.Server/Administration/Logs/AdminLogSystem.Json.cs
  Content.Server/Administration/Logs/Converters/EntityUidConverter.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Kudzu/SpreaderSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
Labels: Type: Cleanup

#5624 The End of Entity (Komm, Süsser Todd: Part 1.0, Content PR)
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/Administration/Logs/Converters/EntityConverter.cs
Labels: Complementary Engine PR, Type: Cleanup

#5183 decal system & crayons
  Content.Client/Crayon/CrayonDecalVisualizer.cs
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Client/Decals/DecalOverlay.cs
  Content.Client/Decals/DecalSystem.cs
  Content.Client/Decals/ToggleDecalCommand.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Crayon/CrayonComponent.cs
  Content.Server/Decals/Commands/AddDecalCommand.cs
  Content.Server/Decals/Commands/EditDecalCommand.cs
  Content.Server/Decals/Commands/RemoveDecalCommand.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Content.Shared/Decals/Decal.cs
  Content.Shared/Decals/DecalChunkUpdateEvent.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
  Content.Shared/Decals/DecalGridComponent.cs
  Content.Shared/Decals/DecalPrototype.cs
  Content.Shared/Decals/SharedDecalSystem.cs
  Resources/Prototypes/Catalog/crayon_decals.yml
  Resources/Prototypes/Decals/crayons.yml
  Resources/Prototypes/Entities/Effects/crayondecals.yml
Labels: Type: Feature, Status: Needs Review

#5697 Fix lung/respirator bug.
  Content.Server/Body/Systems/LungSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Type: Bug, Size: Very Small

#5658 Add Syringe DoAfter
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Shared.Database/LogType.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
Labels: Type: Balance

#5652 Fix tabletop network spam
  Content.Client/Tabletop/TabletopSystem.cs
Labels: Size: Very Small

#5569 Minor spill refactors
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.Server/Atmos/Reactions/WaterVaporReaction.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.Capabilities.cs
  Content.Server/Chemistry/TileReactions/SpillIfPuddlePresentTileReaction.cs
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Content.Server/Fluids/Components/SpillExtensions.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/SpillableSystem.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: Type: Refactor, Status: Needs Review

#5573 All high-security airlocks now have proper access restrictions
  Resources/Maps/packedstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/AccessLevels/engineering.yml
  Resources/Prototypes/AccessLevels/medical.yml
  Resources/Prototypes/AccessLevels/research.yml
  Resources/Prototypes/AccessLevels/security.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: Status: Awaiting Changes

#5668 Add message wrap to chat debug log
  Content.Client/Chat/UI/ChatBox.xaml.cs
Labels: Type: Improvement, Size: Very Small

#5717 Meteor Fix
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
Labels: Type: Bug, Size: Very Small

#5715 Show rules on first connection
  Content.Client/Changelog/ChangelogManager.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/HUD/GameHud.cs
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Client/Info/RulesManager.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Priority: 1-Urgent, Type: Feature

#5709 Overlays: Avoid using `IEyeManager` whenever possible
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/AdminSystem.Menu.cs
  Content.Client/Administration/AdminSystem.Overlay.cs
  Content.Client/Atmos/Overlays/AtmosDebugOverlay.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/CombatMode/ColoredScreenBorderOverlay.cs
  Content.Client/MobState/Overlays/CircleMaskOverlay.cs
  Content.Client/MobState/Overlays/CritOverlay.cs
  Content.Client/NodeContainer/NodeGroupSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Client/Suspicion/SuspicionRoleComponent.cs
  Content.Client/Suspicion/TraitorOverlay.cs
Labels: Status: Awaiting Changes

#5737 Shuttle airlock cleanup
  Resources/Maps/knightship.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/lights_green.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/lights_red.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/welded.png
Labels: No C#

#5695 Make welders only deal burn damage when lit.
  Content.Server/Tools/Components/WelderComponent.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Type: Feature, Size: Very Small

#5669 ECS characterinfo
  Content.Client/CharacterInfo/Components/CharacterInfoComponent.cs
  Content.Client/CharacterInfo/Components/CharacterInfoSystem.cs
  Content.Client/CharacterInterface/CharacterInterfaceComponent.cs
  Content.Client/CharacterInterface/CharacterInterfaceSystem.cs
  Content.Server/CharacterInfo/CharacterInfoComponent.cs
  Content.Server/CharacterInfo/CharacterInfoSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Shared/CharacterInfo/SharedCharacterInfoComponent.cs
  Content.Shared/CharacterInfo/SharedCharacterInfoSystem.cs
Labels: Type: Refactor

#5754 Remove SmallImpassable collision mask from booze and soda dispensers
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
Labels: Type: Bug, No C#, Size: Very Small

#5759 Save Ian
  Content.Server/Spawners/Components/ConditionalSpawnerComponent.cs
Labels: Priority: 1-Urgent

#5757 Fix entityUid nullability for handcuffs and morgues
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
Labels: Type: Bug, Size: Very Small

#5739 Use IWritableDirProvider helpers
  Content.Client/Changelog/ChangelogManager.cs
  Content.Client/Info/RulesManager.cs
  Content.Client/Parallax/Managers/ParallaxManager.cs
Labels: Status: Required For Engine Update

#5775 Fix plant metabolism.
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Type: Bug, Size: Very Small

#5654 Make cargo use explicit audio filter.
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
Labels: Size: Very Small

#5767 Re-do InteractionSystem IEntity -> EntityUid conversion
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Weapons/Melee/AttackEvent.cs
Labels: Type: Bug

#5727 Zipties
  Resources/Audio/Items/Handcuffs/license.txt
  Resources/Audio/Items/Handcuffs/ziptie_end.ogg
  Resources/Audio/Items/Handcuffs/ziptie_start.ogg
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Objects/Misc/zipties.rsi/body-overlay-2.png
  Resources/Textures/Objects/Misc/zipties.rsi/body-overlay-4.png
  Resources/Textures/Objects/Misc/zipties.rsi/cuff-broken.png
  Resources/Textures/Objects/Misc/zipties.rsi/cuff.png
  Resources/Textures/Objects/Misc/zipties.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/zipties.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/zipties.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/ziptie.png
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/ziptie.png
Labels: No C#

#5731 Signs cleanup
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/toxins2.png
Labels: No C#

#5420 Adds T-ray Scanners
  Content.Client/SubFloor/TrayScannerSubFloorVisualizer.cs
  Content.Client/SubFloor/TrayScannerSystem.cs
  Content.Server/SubFloor/TrayScannerSystem.cs
  Content.Shared/SubFloor/SharedTrayScannerSystem.cs
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Content.Shared/SubFloor/SubFloorHideSystem.cs
  Content.Shared/SubFloor/TrayScannerComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/t-ray.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Textures/Objects/Tools/t-ray.rsi/meta.json
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-off.png
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-on.png
Labels: Type: Feature

#5699 StackSystem uses the EntitySystem proxy methods.
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
Labels: Type: Cleanup

#5790 Fix disposal pipe visibility in entity menu
  Content.Client/SubFloor/SubFloorShowLayerVisualizer.cs
Labels: Type: Bug, Size: Very Small

#5723 Organised construction graphs into folders
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/toilet.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/computer.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/turing.yml
  Resources/Prototypes/Recipes/Construction/Graphs/materials/glass.yml
  Resources/Prototypes/Recipes/Construction/Graphs/materials/metal_rod.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/barricades.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/catwalk.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/firelock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/grille.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/low_wall.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/torch.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/cable_terminal.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_machines.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/particle_accelerator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/spear.yml
  Resources/Prototypes/Recipes/Construction/conveyor.yml
  Resources/Prototypes/Recipes/Construction/disposal.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/tables.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/bat.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/makeshifthandcuffs.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/pneumatic_cannon.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/crategenericsteel.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cratelivestock.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/crateplastic.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cratesecure.yml
Labels: Status: Awaiting Changes

#5741 Xaml Rules and Info
  Content.Client/Info/Info.xaml
  Content.Client/Info/Info.xaml.cs
  Content.Client/Info/InfoControlsSection.xaml
  Content.Client/Info/InfoControlsSection.xaml.cs
  Content.Client/Info/InfoSection.xaml
  Content.Client/Info/InfoSection.xaml.cs
  Content.Client/Info/RulesAndInfoWindow.cs
Labels: Type: Refactor

#5801 Fix toilet description
  Resources/Prototypes/Recipes/Construction/furniture.yml
Labels: Holy Shit

#5831 Fix botany watering
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustNutrition.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWater.cs
Labels: Type: Bug, Size: Very Small

#5835 Make temperature damage not interrupt do-afters
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: Size: Very Small

#5818 Add setooc command for +SERVER admins.
  Content.Client/Administration/UI/Tabs/ServerTab.xaml
  Content.Server/Chat/Commands/SetOOCCommand.cs
  Resources/Locale/en-US/administration/commands/set-ooc-command.ftl
  Resources/Locale/en-US/administration/ui/tabs/server-tab.ftl
Labels: Type: Feature

#4898 Added set English language checkbox
  Content.Client/EscapeMenu/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/HUD/GameHud.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Type: Discussion, Type: Feature, Status: Needs Review

#5819 Refactor Game Modes
  Content.Client/Entry/EntryPoint.cs
  Content.IntegrationTests/Tests/GameRules/RuleMaxTimeRestartTest.cs
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.GameRule.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/Presets/GamePreset.cs
  Content.Server/GameTicking/Presets/GamePresetAttribute.cs
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/GameTicking/Presets/PresetDeathMatch.cs
  Content.Server/GameTicking/Presets/PresetExtended.cs
  Content.Server/GameTicking/Presets/PresetSandbox.cs
  Content.Server/GameTicking/Presets/PresetSuspicion.cs
  Content.Server/GameTicking/Presets/PresetTraitor.cs
  Content.Server/GameTicking/Presets/PresetTraitorDeathMatch.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/GameRule.cs
  Content.Server/GameTicking/Rules/GameRulePrototype.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Server/GameTicking/Rules/InactivityTimeRestartRuleSystem.cs
  Content.Server/GameTicking/Rules/MaxTimeRestartRuleSystem.cs
  Content.Server/GameTicking/Rules/RuleDeathMatch.cs
  Content.Server/GameTicking/Rules/RuleInactivityTimeRestart.cs
  Content.Server/GameTicking/Rules/RuleMaxTimeRestart.cs
  Content.Server/GameTicking/Rules/RuleSuspicion.cs
  Content.Server/GameTicking/Rules/RuleTraitor.cs
  Content.Server/GameTicking/Rules/RuleTraitorDeathMatch.cs
  Content.Server/GameTicking/Rules/SandboxRuleSystem.cs
  Content.Server/GameTicking/Rules/SuspicionRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorDeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Conditions/KillRandomPersonCondition.cs
  Content.Server/Spawners/Components/ConditionalSpawnerComponent.cs
  Content.Server/Suspicion/EntitySystems/SuspicionEndTimerSystem.cs
  Content.Server/Suspicion/EntitySystems/SuspicionRoleSystem.cs
  Content.Server/Suspicion/SuspicionRoleComponent.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-deathmatch.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-extended.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-sandbox.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-suspicion.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/game-ticking/game-rules/rule-suspicion.ftl
  Resources/Locale/en-US/suspicion/roles/suspicion-traitor-role.ftl
  Resources/Locale/en-US/voting/managers/vote-manager.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/suspicion.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/traitordm.yml
  Resources/Prototypes/Roles/Antags/Suspicion/suspicion_traitor.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/game_rules.yml
Labels: Type: Improvement, Type: Refactor

#5686 Salvage
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Atmos/Commands/FixGridAtmos.cs
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageMapPrototype.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/salvage/salvage-system.ftl
  Resources/Maps/Salvage/medium-1.yml
  Resources/Maps/Salvage/medium-template.yml
  Resources/Maps/Salvage/small-1.yml
  Resources/Maps/Salvage/small-2.yml
  Resources/Maps/Salvage/small-a-1.yml
  Resources/Maps/Salvage/small-template.yml
  Resources/Maps/knightship.yml
  Resources/Maps/packedstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Paper/salvage_lore.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Textures/Markers/arrow.rsi/meta.json
  Resources/Textures/Markers/arrow.rsi/mono.png
  Resources/Textures/Markers/atmos.rsi/base-hot.png
  Resources/Textures/Markers/atmos.rsi/fire.png
  Resources/Textures/Markers/atmos.rsi/meta.json
  Resources/Textures/Structures/Machines/salvage.rsi/meta.json
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet.png
Labels: Complementary Engine PR, Type: Feature

#5823 Add a wait time for the rules popup
  Content.Client/HUD/GameHud.cs
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Client/Info/RulesControl.xaml
  Content.Client/Info/RulesControl.xaml.cs
  Content.Client/Info/RulesManager.cs
  Content.Client/Info/RulesPopup.xaml
  Content.Client/Info/RulesPopup.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/info/info-window.ftl
  Resources/Locale/en-US/info/rules.ftl
Labels: Type: Feature

#5899 Fix client-only command permissions.
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Commands/CreditsCommand.cs
  Content.Client/Commands/ToggleOutlineCommand.cs
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Resources/clientCommandPerms.yml
  Tools/package_client_build.py
Labels: Priority: 1-Urgent

#5897 XAML PlayerTab
  Content.Client/Administration/AdminSystem.Menu.cs
  Content.Client/Administration/UI/AdminMenuWindow.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
Labels: Changes: UI, Type: Refactor

#5448 ECSatize CameraRecoilSystem
  Content.Client/Camera/CameraRecoilComponent.cs
  Content.Client/Camera/CameraRecoilSystem.cs
  Content.Server/Camera/CameraRecoilComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerRangedBarrelComponent.cs
  Content.Shared/Camera/CameraRecoilComponent.cs
  Content.Shared/Camera/CameraRecoilSystem.cs
  Content.Shared/Camera/SharedCameraRecoilComponent.cs
Labels: Type: Refactor, Type: Cleanup

#5880 Fix EntityStorages eating you from afar
  Content.Server/Storage/Components/EntityStorageComponent.cs
Labels: Priority: 2-Before Release, Type: Improvement, Size: Very Small

#5900 Move Eye Lerping to content and fix/improve it a bunch.
  Content.Client/Eye/EyeLerpingSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Components/SharedPlayerInputMoverComponent.cs
  Content.Shared/Movement/SharedMoverController.cs
Labels: Type: Improvement

#5918 Use ByRefEvent attribute in content.
  Content.Server/Atmos/EntitySystems/AtmosExposedSystem.cs
Labels: Complementary Engine PR

#5894 Added a new Salvage map containing a desolate concert.
  Resources/Maps/Salvage/medium-silent-orchestra.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map

#5769 ECS visibility
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
Labels: Complementary Engine PR, Type: Refactor

#5140 Guardians (Holoparasites)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Actions/Actions/GuardianToggleAction.cs
  Content.Server/Guardian/GuardianComponent.cs
  Content.Server/Guardian/GuardianCreatorComponent.cs
  Content.Server/Guardian/GuardianHostComponent.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Shared/Actions/ActionType.cs
  Content.Shared/MobState/Components/MobStateComponent.cs
  Content.Shared/MobState/EntitySystems/MobStateSystem.cs
  Resources/Audio/Effects/guardian_inject.ogg
  Resources/Audio/Effects/guardian_warn.ogg
  Resources/Audio/Voice/Human/malescream_guardian.ogg
  Resources/Locale/en-US/guardian/guardian.ftl
  Resources/Prototypes/Actions/guardian_actions.yml
  Resources/Prototypes/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Textures/Clothing/Head/Soft/bizarresoft.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft.rsi/meta.json
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/meta.json
  Resources/Textures/Interface/Actions/manifest.png
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/magic.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/magic_base.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/magic_flare.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/miner.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/miner_base.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/miner_flare.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/tech.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/tech_base.png
  Resources/Textures/Mobs/Aliens/Guardians/guardians.rsi/tech_flare.png
  Resources/Textures/Objects/Misc/guardian_info.rsi/guardian_info.png
  Resources/Textures/Objects/Misc/guardian_info.rsi/icon.png
  Resources/Textures/Objects/Misc/guardian_info.rsi/meta.json
Labels: Type: Feature, Changes: Sprites

#5681 Rollerbeds
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Morgue/Visualizers/BodyBagVisualizer.cs
  Content.Client/Storage/Visualizers/StorageVisualizer.cs
  Content.Client/Visualizer/FoldableVisualizer.cs
  Content.Client/Visualizer/RollerbedVisualizer.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Buckle/Components/StrapComponent.cs
  Content.Server/Buckle/Systems/BuckleSystem.cs
  Content.Server/Buckle/Systems/StrapSystem.cs
  Content.Server/Foldable/FoldableComponent.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Shared/Buckle/Components/SharedStrapComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Item/PickupAttemptEvent.cs
  Content.Shared/Item/SharedItemComponent.cs
  Resources/Locale/en-US/foldable/components/foldable-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Textures/Interface/VerbIcons/fold.svg
  Resources/Textures/Interface/VerbIcons/fold.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/fold.svg.192dpi.png.yml
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/bag_folded.png
  Resources/Textures/Objects/Specific/Medical/Morgue/bodybags.rsi/meta.json
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed_buckled.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/cheap_rollerbed_folded.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed_buckled.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/emergency_rollerbed_folded.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/meta.json
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/rollerbed.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/rollerbed_buckled.png
  Resources/Textures/Structures/Furniture/rollerbeds.rsi/rollerbed_folded.png
Labels: Type: Feature

#5521 Suit sensor and crew monitoring
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/DeviceNetwork/DeviceNetworkConstants.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/medical/components/crew-monitoring-component.ftl
  Resources/Locale/en-US/medical/components/suit-sensor-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Awaiting Changes

#5908 Add ShowRules commmand
  Content.Client/Info/RulesManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Info/RulesManager.cs
  Content.Server/Info/ShowRulesCommand.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Info/SharedRulesManager.cs
Labels: Type: Feature

#5866 fixes up the ahelp relay a bit
  Content.Server/Administration/BwoinkSystem.cs
Labels: Type: Improvement

#5921 Keep players in the PlayerTab until round end
  Content.Client/Administration/AdminSystem.cs
  Content.Server/Administration/AdminSystem.cs
  Content.Shared/Administration/Events/PlayerInfoRemovalMessage.cs
Labels: Type: Improvement

#5904 Add context menu to AdminMenu PlayerTab entries
  Content.Client/Administration/AdminSystem.Menu.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Verbs/UI/VerbMenuPresenter.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Verbs/VerbSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/VerbEvents.cs
Labels: Type: Feature, Changes: UI

#5797 Announcements Fix
  Resources/Audio/Announcements/announce.ogg
  Resources/Audio/Announcements/bloblarm.ogg
  Resources/Audio/Announcements/power_off.ogg
  Resources/Audio/Announcements/power_on.ogg
  Resources/Audio/Announcements/radiation.ogg
  Resources/Audio/Announcements/shuttlecalled.ogg
  Resources/Audio/Announcements/shuttledock.ogg
  Resources/Audio/Announcements/shuttlerecalled.ogg
Labels: No C#

#5903 Cardboard box, weight changes, bureaucracy crate
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Boxes/science.yml
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Type: Improvement, No C#

#5972 Fix lights being occluded while in inventory
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: Type: Bug, Priority: 1-Urgent, Size: Very Small
