Repository space-wizards/space-station-14, pull requests merged in 2021-08, with the labels that each got.

#4393 Add subfloor appearance data, pipes correctly render subfloor.
  Content.Client/Atmos/Visualizers/PipeConnectorVisualizer.cs
  Content.Client/SubFloor/SubFloorShowLayerVisualizer.cs
  Content.Shared/SubFloor/SubFloorHideSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Status: Needs Review, Type: Feature

#4375 fixes morgue (almost)
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: Status: Help Wanted, Status: Needs Review, Type: Bug

#4334 Made plasma grindable
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
Labels: No C#, Type: Feature

#4404 Add Enabled property to SubFloorHideComponent, make it networked.
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Content.Shared/SubFloor/SubFloorHideSystem.cs
Labels: Type: Improvement

#4366 Refactor IDoorCheck into entity events
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Components/FirelockComponent.cs
  Content.Server/Doors/Components/ServerDoorComponent.cs
  Content.Server/Doors/DoorEvents.cs
  Content.Server/Doors/IDoorCheck.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Doors/SharedDoorComponent.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Status: Needs Review, Type: Refactor

#4405 AtmosDevices can optionally process in space.
  Content.Server/Atmos/Commands/AddAtmosCommand.cs
  Content.Server/Atmos/Commands/AddUnsimulatedAtmosCommand.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/Components/IAtmosphereComponent.cs
  Content.Server/Atmos/Components/SpaceAtmosphereComponent.cs
  Content.Server/Atmos/Components/SpaceGridAtmosphereComponent.cs
  Content.Server/Atmos/Components/UnsimulatedGridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/Piping/Components/AtmosDeviceComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosDeviceSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Type: Feature, Type: Improvement

#4186 Meth
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Shared/Chemistry/Components/MovespeedModifierMetabolismComponent.cs
  Content.Shared/Chemistry/MetabolismMovespeedModifierSystem.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Status: Help Wanted, Type: Feature

#4359 Added two new small areas to maintenence
  Resources/Maps/saltern.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
Labels: Type: Feature, No C#, Changes: Map

#4368 Windoors
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Resources/Audio/Machines/windoor_open.ogg
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/windoor.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/assembly.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closed.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closing.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/meta.json
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/open.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/open_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/opening.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/secure_underlay.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/spark.png
  Resources/Textures/Structures/Doors/Windoors/windoor.rsi/welded.png
Labels: Type: Feature, Changes: Map, Changes: Sprites, Status: Needs Review

#4424 Fix can't return to body bug
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Presets/GamePreset.cs
  Content.Server/Mind/Components/MindComponent.cs
  Content.Shared/Ghost/SharedGhostComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
Labels: Type: Bug

#4436 Fixed Station Engineer Table Spawn
  Resources/Maps/saltern.yml
Labels: Type: Bug, Size: 1-Tiny

#4432 Maps in windoors
  Resources/Maps/saltern.yml
Labels: Changes: Map

#4225 Losing a head doesn't mean you lose your eyes #3956 (Repaired version #4061)
  Content.Client/CharacterAppearance/HumanoidAppearanceComponent.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayersExtension.cs
Labels: Type: Bug, Type: Improvement

#4439 Made the cloning pod and medical scanner constructible
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Type: Feature, Status: Needs Review

#4444 Fixes windoor in science, adds one wire to captain's office.
  Resources/Maps/saltern.yml
Labels: Type: Bug, Changes: Map

#4449 Remove IActionBlocker.CanMove
  Content.Client/Climbing/ClimbingSystem.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbingComponent.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/ActionBlocker/IActionBlocker.cs
  Content.Shared/Buckle/Components/SharedBuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Climbing/SharedClimbingComponent.cs
  Content.Shared/Cuffs/Components/SharedCuffableComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/MobState/Components/SharedMobStateComponent.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
  Content.Shared/MobState/State/BaseMobState.cs
  Content.Shared/MobState/State/SharedCriticalMobState.cs
  Content.Shared/MobState/State/SharedDeadMobState.cs
  Content.Shared/MobState/State/SharedNormalMobState.cs
  Content.Shared/Stunnable/SharedStunnableComponent.cs
  Content.Shared/Stunnable/StunSystem.cs
Labels: Type: Cleanup

#4367 Added restrictions for what can be inserted into most belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlight.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Belt/sheath.rsi/meta.json
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-bag.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-carrot.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-crowbar.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-crowbarr.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-katana.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-knife.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-mop.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-rod.png
Labels: Type: Improvement, No C#, Status: Needs Review

#4459 Crematorium now makes a noise on start and during cremation
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Resources/Audio/Effects/burning.ogg
Labels: Type: Feature, Size: 1-Tiny

#4418 Refactor disposals to ECS
  Content.Client/Disposal/Components/DisposalMailingUnitComponent.cs
  Content.Client/Disposal/Components/DisposalUnitComponent.cs
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/DisposalMailingUnitBoundUserInterface.cs
  Content.Client/Disposal/UI/DisposalMailingUnitWindow.cs
  Content.Client/Disposal/UI/DisposalUnitBoundUserInterface.cs
  Content.Client/Disposal/UI/DisposalUnitWindow.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/Disposal/Mailing/DisposalMailingUnitComponent.cs
  Content.Server/Disposal/Mailing/DisposalMailingUnitSystem.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Shared/Disposal/Components/SharedDisposalMailingUnitComponent.cs
  Content.Shared/Disposal/Components/SharedDisposalUnitComponent.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/Interaction/IActivate.cs
  Content.Shared/Interaction/IInteractHand.cs
  Content.Shared/Movement/EntitySystems/SharedMoverSystem.cs
  Content.Shared/Movement/RelayMovementEntityMessage.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Type: Refactor, Holy Shit

#4453 Fix door sounds playing at full volume
  Content.Server/Doors/Components/ServerDoorComponent.cs
Labels: Type: Bug, Priority: 2-Before Release, Size: 1-Tiny

#4140 Implement Entity List Display and rework StorageComponent window
  Content.Client/Storage/ClientStorageComponent.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/EntityListDisplay.cs
  Resources/Locale/en-US/components/storage-component.ftl
Labels: Type: Feature, Changes: UI, Type: Cleanup

#4466 Fix missing sounds
  Content.Client/Light/Visualizers/ExpendableLightVisualizer.cs
  Content.Client/Trigger/TimerTriggerVisualizer.cs
  Content.Server/Crayon/CrayonComponent.cs
  Content.Server/Light/Components/ExpendableLightComponent.cs
  Content.Server/Light/Components/LightReplacerComponent.cs
  Content.Server/Projectiles/Components/ProjectileComponent.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerMagazineBarrelComponent.cs
  Content.Shared/Light/Component/SharedExpendableLightComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/base.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Type: Bug, Priority: 2-Before Release, Difficulty: 1-Easy

#4448 Increase MoverController performance
  Content.Client/Friction/TileFrictionController.cs
  Content.Server/Friction/TileFrictionController.cs
  Content.Shared/Friction/SharedTileFrictionController.cs
  Content.Shared/Movement/SharedMoverController.cs
Labels: Type: Performance, Status: Needs Review

#4476 Fix sound crash when making foam
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Type: Bug, No C#, Difficulty: 1-Easy

#4469 Remove pillcomponent
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Chemistry/Components/PillComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Resources/Locale/en-US/chemistry/components/pill-component.ftl
  Resources/Locale/en-US/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/tags.yml
Labels: Type: Cleanup

#4445 ItemCabinetVisualizer uses layers
  Content.Client/Cabinet/ItemCabinetVisualizer.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: Type: Improvement, Status: Needs Review

#4479 Fixes bedsheets being unpickupable
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
Labels: No C#, Size: 1-Tiny

#4481 Adds inhands for crayons and the crayon box
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Textures/Objects/Fun/crayons.rsi/black-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/black-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/blue-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/blue-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/box-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/box-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/green-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/green-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/meta.json
  Resources/Textures/Objects/Fun/crayons.rsi/mime-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/mime-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/orange-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/orange-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/purple-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/purple-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/rainbow-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/rainbow-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/red-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/red-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/white-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/white-inhand-right.png
  Resources/Textures/Objects/Fun/crayons.rsi/yellow-inhand-left.png
  Resources/Textures/Objects/Fun/crayons.rsi/yellow-inhand-right.png
Labels: No C#, Changes: Sprites

#4480 Fixes cigarette animations and matches now have lit/unlit inhand sprites
  Content.Server/Light/Components/MatchstickComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/blunts.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/case.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/pipes.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Textures/Objects/Tools/matches.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Tools/matches.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Tools/matches.rsi/meta.json
  Resources/Textures/Objects/Tools/matches.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Tools/matches.rsi/unlit-inhand-right.png
Labels: Type: Cleanup, Changes: Sprites

#4483 Adds inhands for radio/walkietalkie
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/off-walkietalkie-inhand-left.png
  Resources/Textures/Objects/Devices/communication.rsi/off-walkietalkie-inhand-right.png
  Resources/Textures/Objects/Devices/communication.rsi/radio-inhand-left.png
  Resources/Textures/Objects/Devices/communication.rsi/radio-inhand-right.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-active.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-inhand-left.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-inhand-right.png
  Resources/Textures/Objects/Devices/communication.rsi/walkietalkie-on.png
Labels: Changes: Sprites

#4484 Can now equip fireaxe, claymore, spear and baseball back on your back
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/meta.json
Labels: No C#, Changes: Sprites

#4460 Owner Transform to Owner
  Content.Server/Chemistry/EntitySystems/ChemicalReactionSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Fluids/Components/PuddleComponent.cs
  Content.Server/Radiation/RadiationPulseComponent.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Content.Server/Weapon/Ranged/Barrels/Components/BoltActionBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/PumpBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/RevolverBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerBatteryBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerMagazineBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerRangedBarrelComponent.cs
Labels: Type: Cleanup, Size: 1-Tiny

#4489 Adds duck-related content and a seclite
  Content.Server/Movement/Components/FootstepModifierComponent.cs
  Resources/Audio/Items/Toys/quack.ogg
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Textures/Clothing/Shoes/Misc/duck-slippers.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Misc/duck-slippers.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Misc/duck-slippers.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Misc/duck-slippers.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Misc/duck-slippers.rsi/meta.json
  Resources/Textures/Objects/Fun/ducky.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Fun/ducky.rsi/icon.png
  Resources/Textures/Objects/Fun/ducky.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/ducky.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/ducky.rsi/meta.json
  Resources/Textures/Objects/Tools/seclite.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/seclite.rsi/meta.json
  Resources/Textures/Objects/Tools/seclite.rsi/off-inhand-left.png
  Resources/Textures/Objects/Tools/seclite.rsi/off-inhand-right.png
  Resources/Textures/Objects/Tools/seclite.rsi/on-inhand-left.png
  Resources/Textures/Objects/Tools/seclite.rsi/on-inhand-right.png
  Resources/Textures/Objects/Tools/seclite.rsi/seclite-on.png
  Resources/Textures/Objects/Tools/seclite.rsi/seclite-overlay.png
  Resources/Textures/Objects/Tools/seclite.rsi/seclite.png
Labels: Type: Improvement, No C#

#4485 Adds the ability to assign equip sounds in ClothingComponent
  Content.Server/Clothing/Components/ClothingComponent.cs
  Content.Server/Inventory/Components/InventoryComponent.cs
  Resources/Audio/Items/belt_equip.ogg
  Resources/Audio/Items/jumpsuit_equip.ogg
  Resources/Prototypes/Entities/Clothing/Belt/base.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base.yml
Labels: Type: Feature

#4493 Removes vending inventory desc and adds missing vending machine descriptions
  Content.Server/VendingMachines/VendingMachineComponent.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/empty.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/magivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/mining.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/smartfridge.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sovietsoda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Type: Cleanup

#4496 Added open/close/stacklayers for Matchbox and inhands
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/matches.rsi/matchbox-inhand-left.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox-inhand-right.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox-open.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox1.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox2.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox3.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox_almostempty.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox_almostfull.png
  Resources/Textures/Objects/Tools/matches.rsi/matchbox_e.png
  Resources/Textures/Objects/Tools/matches.rsi/meta.json
Labels: No C#, Size: 1-Tiny

#4494 Adds sound to fire extinguisher safety and fixes icon visuals
  Content.Server/Fluids/Components/SprayComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: Type: Improvement, Size: 1-Tiny

#4499 Adds a 6pack of Cola
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/6pack.rsi/6pack1.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack2.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack3.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack4.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack5.png
  Resources/Textures/Objects/Misc/6pack.rsi/6pack6.png
  Resources/Textures/Objects/Misc/6pack.rsi/meta.json
  Resources/Textures/Objects/Misc/6pack.rsi/plastic-thingy.png
Labels: No C#, Size: 1-Tiny

#4425 Fix pull keybinding.
  Content.Server/Pulling/PullingSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: Type: Bug, Status: Needs Review

#4504 Added classic announcement sound to announcements
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Resources/Audio/Announcements/announce.ogg
Labels: Type: Improvement, Size: 1-Tiny

#4500 Refactors throw events, makes cream pies ECS
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Nutrition/EntitySystems/CreamPiedSystem.cs
  Content.Server/Chemistry/ReagentEntityReactions/WashCreamPieReaction.cs
  Content.Server/Damage/Components/DamageOtherOnHitComponent.cs
  Content.Server/Damage/DamageOtherOnHitSystem.cs
  Content.Server/Damage/RejuvenateVerb.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Nutrition/Components/CreamPieComponent.cs
  Content.Server/Nutrition/Components/CreamPiedComponent.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Content.Shared/Nutrition/Components/CreamPieComponent.cs
  Content.Shared/Nutrition/Components/CreamPiedComponent.cs
  Content.Shared/Nutrition/Components/SharedCreamPiedComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Content.Shared/Throwing/IThrowCollide.cs
  Content.Shared/Throwing/ThrowEvents.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Type: Refactor, Type: Cleanup

#4486 Port the tumbler from Box2D
  Content.Server/Physics/TestbedCommand.cs
Labels: Type: Performance

#4497 Add Alt-click functionality
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Chemistry/UI/TransferAmountBoundUserInterface.cs
  Content.Client/ContextMenu/UI/ContextMenuPresenter.cs
  Content.Client/EscapeMenu/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Inventory/HumanInventoryInterfaceController.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Administration/Verbs/AdminAddReagentVerb.cs
  Content.Server/Cabinet/ItemCabinetComponent.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Interaction/InRangeUnoccludedVerb.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Items/ItemComponent.cs
  Content.Server/Lock/LockComponent.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/PDA/PDAComponent.cs
  Content.Server/Power/Components/BaseCharger.cs
  Content.Server/PowerCell/Components/PowerCellSlotComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerBatteryBarrelComponent.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerMagazineBarrelComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Verbs/VerbBase.cs
  Content.Shared/Verbs/VerbCategories.cs
  Content.Shared/Verbs/VerbData.cs
  Resources/Locale/en-US/disposal/mailing/components/disposal-mailing-unit-component.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/storage/components/storage-component.ftl
  Resources/Textures/Interface/VerbIcons/climb.svg
  Resources/Textures/Interface/VerbIcons/delete_transparent.svg
  Resources/Textures/Interface/VerbIcons/delete_transparent.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/delete_transparent.svg.192dpi.png.yml
  Resources/Textures/Interface/VerbIcons/information.svg
  Resources/Textures/Interface/VerbIcons/information.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/information.svg.192dpi.png.yml
  Resources/Textures/Interface/VerbIcons/pickup.svg
  Resources/Textures/Interface/VerbIcons/pickup.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/pickup.svg.192dpi.png.yml
  Resources/Textures/Interface/hammer_sca;ed.svg.192dpi.png.yml
  Resources/Textures/Interface/hammer_scaled.svg
  Resources/Textures/Interface/hammer_scaled.svg.192dpi.png
  Resources/keybinds.yml
Labels: Type: Discussion, Type: Feature, Status: Needs Review

#4503 Fixes chocolate/energy bar
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/energybar-open.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: No C#, Changes: Sprites

#4383 Singularity fixes
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Singularity/Components/ContainmentFieldComponent.cs
  Content.Client/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Client/Singularity/Visualizers/SingularityVisualizer.cs
  Content.Server/Physics/Controllers/SingularityController.cs
  Content.Server/Radiation/RadiationPulseSystem.cs
  Content.Server/Singularity/Components/ContainmentFieldComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Singularity/Components/ServerSingularityComponent.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Shared/Friction/SharedTileFrictionController.cs
  Content.Shared/Singularity/Components/SharedContainmentFieldComponent.cs
  Content.Shared/Singularity/Components/SharedContainmentFieldGeneratorComponent.cs
  Content.Shared/Singularity/Components/SharedSingularityComponent.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Type: Bug, Status: Needs Review

#4506 Fix PA construction crash, make it clear that PA construction needs LV cables
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorPowerBoxSystem.cs
  Resources/Prototypes/Stacks/power_stacks.yml
Labels: Type: Bug, Priority: 1-Urgent, Status: Needs Review

#4458 Add security barriers
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Security/DeployableBarrierVisualizer.cs
  Content.Server/Lock/LockComponent.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Lock/LockToggledEvent.cs
  Content.Server/Security/Components/DeployableBarrierComponent.cs
  Content.Server/Security/Systems/DeployableBarrierSystem.cs
  Content.Shared/Security/DeployableBarrierVisuals.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Textures/Objects/Specific/Security/barrier.rsi/deployed.png
  Resources/Textures/Objects/Specific/Security/barrier.rsi/idle.png
  Resources/Textures/Objects/Specific/Security/barrier.rsi/meta.json
Labels: Type: Feature, Status: Needs Review

#4178 Admin ghosts can now interact with stuff
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/HUD/GameHud.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Input/ContentContexts.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Ghost/SharedGhostComponent.cs
  Resources/Prototypes/Body/Templates/aghost.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Type: Feature

#4440 Added Basic Parts Technology
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Textures/Objects/Misc/stock_parts.rsi/scan_module_static.png
Labels: Type: Feature, Status: Needs Review

#4420 Add basic meteor swarm
  Content.Server/Projectiles/Components/ProjectileComponent.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/StationEvents/Events/MeteorSwarm.cs
  Content.Server/StationEvents/StationEventSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/meteor.rsi/large.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/meteor.rsi/meta.json
Labels: Type: Feature

#4462 Update content for PhysicsMapComponent
  Content.Server/Physics/TestbedCommand.cs
  Content.Shared/Friction/SharedTileFrictionController.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Complementary Engine PR, Type: Cleanup

#4452 Update SS14 for grid contraction
  Content.Server/AI/Pathfinding/PathfindingSystem.cs
  Resources/Maps/Test/Breathing/3by3-20oxy-80nit.yml
  Resources/Maps/saltern.yml
Labels: Complementary Engine PR, Type: Feature

#4509 Fixes power crisis and lights up engineering some more
  Resources/Maps/saltern.yml
Labels: Type: Improvement, Size: 1-Tiny

#4528 Fix thrown entities getting parented to player parent
  Content.Shared/Hands/Components/SharedHandsComponent.cs
Labels: Type: Bug, Difficulty: 2-Medium

#4519 Fix deconstruction when on a step in the middle of an edge
  Content.Server/Construction/Components/ConstructionComponent.cs
Labels: Type: Improvement, Size: 1-Tiny

#4531 Make content use EntityLookupFlags
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Server/Actions/Actions/GhostBoo.cs
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Construction/Conditions/LowWallInTile.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: Complementary Engine PR, Status: Needs Review

#4539 Adds unique sprite for NTBlockGame screen
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Structures/Machines/arcade.rsi/arcade.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade_broken.png
  Resources/Textures/Structures/Machines/arcade.rsi/blockgame.png
  Resources/Textures/Structures/Machines/arcade.rsi/invaders.png
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
Labels: Type: Improvement, No C#

#4511 Refactor ghost boo to ECS
  Content.Client/Light/Visualizers/PoweredLightVisualizer.cs
  Content.Server/Actions/Actions/GhostBoo.cs
  Content.Server/Ghost/GhostBooEvent.cs
  Content.Server/Ghost/IGhostBooAffected.cs
  Content.Server/Light/Components/PoweredLightComponent.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
Labels: Type: Refactor, Status: Needs Review

#4512 Don't call LandEvent if the item is caught
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Type: Bug, Complementary Engine PR, Size: 1-Tiny
