Repository space-wizards/space-station-14, pull requests merged in 2021-05, with the labels that each got.

#3890 Pulling change entity rotation
  Content.Client/GameObjects/Components/Rotatable/RotatableComponent.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Rotatable/RotatableComponent.cs
  Content.Shared/GameObjects/Components/Rotatable/SharedRotatableComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedPullingSystem.cs
Labels: Type: Feature

#3944 Fix thrown breakables
  Content.Server/GameObjects/Components/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
Labels: Difficulty: 2 - Medium, Priority: 3-low, Size: 2 - Small, Type: Bug

#3945 Pull controller manages velocity better than it did before.
  Content.Server/Physics/Controllers/PullController.cs
Labels: Area: Physics, Type: Improvement

#3954 Global ghost hearing
  Content.Client/Chat/SpeechBubble.cs
  Content.Server/Chat/ChatManager.cs
Labels: Area: UI, Difficulty: 2 - Medium, Priority: 2-medium, Size: 2 - Small, Type: Improvement

#3808 Cloning rework
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Medical/BeingClonedComponent.cs
  Content.Server/GameObjects/Components/Medical/CloningPodComponent.cs
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Server/GameObjects/Components/Observer/AcceptCloningEui.cs
  Content.Server/GameObjects/Components/Observer/GhostComponent.cs
  Content.Server/GameObjects/EntitySystems/CloningSystem.cs
  Content.Shared/GameObjects/Components/Observer/SharedGhostComponent.cs
Labels: Difficulty: 3 - Intermediate, Priority: 3-low, Size: 3 - Medium, Type: Bug, Type: Cleanup

#3992 Show nothing instead of error sprite when item has no inhands
  Content.Client/GameObjects/Components/Items/HandsComponent.cs
Labels: Difficulty: 1 - Easy, Size: 1 - Tiny, Type: Bug

#3982 Little component to make batteries examinable.
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Power/ExaminableBatteryComponent.cs
  Resources/Locale/en-US/components/examinable-battery-component.ftl
  Resources/Prototypes/Entities/Constructible/Power/parts.yml
Labels: Type: Improvement

#3985 Fixes KillPersonCondition considering brains "alive"
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
Labels: Type: Bug

#3986 Fix subfloor wires incorrect smoothing
  Resources/Prototypes/Entities/Constructible/Power/wires.yml
Labels: Resources (No code), Type: Bug

#3983 `drainallbatteries` - a command for testing low-power conditions
  Content.Server/Commands/DrainAllBatteriesCommand.cs
Labels: Type: Improvement

#4011 Add error for git not found in git_helper
  BuildChecker/git_helper.py
Labels: Area: Tooling, Size: 1 - Tiny, Type: Improvement

#4009 AnchorableComponent light cleanup.
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/Commands/Interactable/AnchorCommand.cs
  Content.Server/Commands/Interactable/UnAnchorCommand.cs
  Content.Server/Commands/SetAnchorCommand.cs
  Content.Server/GameObjects/Components/AnchorableComponent.cs
  Content.Server/GlobalVerbs/SetAnchorVerb.cs
  SpaceStation14.sln.DotSettings
Labels: Type: Cleanup

#4005 Lower data usage
  Content.Shared/GameObjects/Components/Chemistry/SharedSolutionContainerComponent.cs
  Content.Shared/GameObjects/Components/Damage/DamageableComponent.cs
Labels: Size: 2 - Small, Type: Performance

#4012 Hotfixes the Boda Machine
  Resources/Maps/saltern.yml
Labels: Map Changes, Size: 1 - Tiny, Type: Improvement

#4008 Fix kitchen spike
  Content.Server/GameObjects/Components/Kitchen/KitchenSpikeComponent.cs
  Content.Shared/Kitchen/SharedKitchenSpikeComponent.cs
  Resources/Locale/en-US/components/kitchen-spike-component.ftl
Labels: Size: 2 - Small, Type: Bug

#3965 Fix clicking a locker while inside of said locker
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
Labels: Difficulty: 2 - Medium, Priority: 2-medium, Size: 2 - Small, Type: Bug

#4015 Makes a few deletes queued.
  Content.Server/GameObjects/Components/Body/BodyComponent.cs
  Content.Server/GameObjects/Components/Chemistry/VaporComponent.cs
  Content.Server/GameObjects/Components/Explosion/ExplosiveComponent.cs
  Content.Server/GameObjects/Components/PA/ParticleProjectileComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ProjectileComponent.cs
  Content.Server/GameObjects/Components/Singularity/ContainmentFieldComponent.cs
  Content.Server/GameObjects/Components/Singularity/ServerSingularityComponent.cs
Labels: Type: Bug

#4025 Material cleanup
  Content.Client/IgnoredComponents.cs
  Content.Server/GameObjects/Components/Materials/MaterialComponent.cs
  Content.Server/GameObjects/Components/Research/LatheComponent.cs
  Content.Shared/GameObjects/Components/Materials/MaterialComponent.cs
  Content.Shared/Materials/Material.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  SpaceStation14.sln.DotSettings
Labels: Type: Cleanup

#3942 Adds more splat and tweaks PuddleComponent.cs
  Content.Server/GameObjects/Components/Fluids/PuddleComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/powder-0.png
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/puddle-0.png
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/puddle-1.png
  Resources/Textures/Objects/Specific/Hydroponics/tomato.rsi/puddle-2.png
Labels: Type: Feature, Type: Improvement

#3893 Implement fluent for some Menu files
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Arcade/SpaceVillainArcadeMenu.cs
  Content.Client/Command/CommunicationsConsoleMenu.cs
  Content.Client/Construction/ConstructionMenuPresenter.cs
  Content.Client/GameObjects/Components/Configuration/ConfigurationMenu.cs
  Content.Client/GameObjects/Components/Wires/WiresMenu.cs
  Content.Client/Research/LatheQueueMenu.cs
  Resources/Locale/en-US/arcade/blockgame.ftl
  Resources/Locale/en-US/arcade/spacevillain.ftl
  Resources/Locale/en-US/blockgame.ftl
  Resources/Locale/en-US/construction/menu-presenter.ftl
  Resources/Locale/en-US/menu/communicationsconsole.ftl
  Resources/Locale/en-US/menu/configuration.ftl
  Resources/Locale/en-US/menu/lathequeue.ftl
  Resources/Locale/en-US/menu/wires.ftl
Labels: Type: Improvement

#4048 Removes solution transfer verbs
  Content.Server/GameObjects/Components/Chemistry/AdminAddReagentVerb.cs
Labels: Size: 2 - Small, Type: Improvement

#4060 Fix incorrect shard protoype being spawned when computers are destroyed
  Resources/Prototypes/Entities/Constructible/Power/computers.yml
  Resources/Prototypes/Recipes/Construction/Graphs/computer.yml
Labels: Resources (No code), Size: 1 - Tiny, Type: Bug

#4028 Fix layers displaying in cable stacks
  Content.Client/GameObjects/Components/StackVisualizer.cs
  Content.Shared/Utility/ContentHelpers.cs
  Content.Tests/Shared/Utility/ContentHelpers_Test.cs
Labels: Type: Bug

#4039 Protolathe Printing and R&D technology
  Content.Server/Cargo/CargoOrderDatabase.cs
  Content.Server/GameObjects/Components/Research/ResearchPointSourceComponent.cs
  Content.Server/GameObjects/Components/Research/ResearchServerComponent.cs
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Constructible/Power/lathe.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Resources (No code), Type: Feature

#3963 Bring singularity back from the brink of "particles don't even hit"
  Content.Server/GameObjects/Components/Singularity/ServerSingularityComponent.cs
  Content.Server/GameObjects/Components/Singularity/SingularityGenerator.cs
  Resources/Prototypes/Entities/Constructible/Power/Engines/PA/particles.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/generator.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/singularity.yml
Labels: Area: Physics, Type: Bug

#4064 Fix exception in IconSmoothSystem that occurs with power stuff
  Content.Client/GameObjects/EntitySystems/IconSmoothSystem.cs
Labels: Area: Power, Type: Bug

#4062 Fix: #4037 Being able to dehandcuff yourself while dead
  Content.Server/GameObjects/Components/ActionBlocking/CuffableComponent.cs
Labels: Size: 1 - Tiny, Type: Bug

#4046 Refactors stacks to be FULLY ECS.
  Content.Client/GameObjects/Components/StackComponent.cs
  Content.Client/GameObjects/EntitySystems/StackSystem.cs
  Content.Server/Construction/StackHelpers.cs
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/Components/Construction/MachineComponent.cs
  Content.Server/GameObjects/Components/Construction/MachineFrameComponent.cs
  Content.Server/GameObjects/Components/Items/FloorTileItemComponent.cs
  Content.Server/GameObjects/Components/Medical/HealingComponent.cs
  Content.Server/GameObjects/Components/Power/WirePlacerComponent.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Content.Server/GameObjects/EntitySystems/SpawnAfterInteractSystem.cs
  Content.Server/GameObjects/EntitySystems/StackSystem.cs
  Content.Shared/Content.Shared.csproj
  Content.Shared/GameObjects/Components/SharedStackComponent.cs
  Content.Shared/GameObjects/EntitySystems/SharedStackSystem.cs
  Content.Shared/Stacks/StackPrototype.cs
Labels: Size: 3 - Medium, Type: Refactor

#4077 Tune pull-to-location constants just a bit more so it gets stuck less often
  Content.Server/Physics/Controllers/PullController.cs
Labels: Area: Physics, Type: Improvement

#4018 Fix .ftl files
  Resources/Locale/en-US/chat-manager.ftl
  Resources/Locale/en-US/entities/solar_panels.ftl
Labels: Area: Tooling, Status: Awaiting Engine PR, Type: Improvement

#4067 More rotatability
  Content.Client/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Resources/Prototypes/Entities/Constructible/Furniture/seats.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/PA/base.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/collector.yml
Labels: Area: Physics, Type: Feature

#4059 Fix NRE when spawning and activating randomized expendable lights
  Content.Client/GameObjects/Components/LightBehaviourComponent.cs
Labels: Size: 2 - Small, Type: Bug

#4102 Fix melee weapon effects being offset incorrectly
  Content.Client/GameObjects/EntitySystems/MeleeWeaponSystem.cs
Labels: Size: 1 - Tiny, Type: Bug

#4103 Fix being able to fill beakers through walls
  Content.Server/GameObjects/Components/Chemistry/SolutionTransferComponent.cs
Labels: Size: 1 - Tiny, Type: Bug

#4068 Makes the singularity engine actually work stably.
  Content.Client/GameObjects/Components/Singularity/ClientSingularityComponent.cs
  Content.Client/GameObjects/Components/Singularity/ISingularity.cs
  Content.Client/GameObjects/Components/Singularity/ToySingularityComponent.cs
  Content.Client/Graphics/Overlays/SingularityOverlay.cs
  Content.Client/IgnoredComponents.cs
  Content.Server/Commands/StartSingularityEngineCommand.cs
  Content.Server/GameObjects/Components/PA/ParticleProjectileComponent.cs
  Content.Server/GameObjects/Components/Power/PowerNetComponents/RadiationCollectorComponent.cs
  Content.Server/GameObjects/Components/Singularity/ContainmentFieldConnection.cs
  Content.Server/GameObjects/Components/Singularity/ContainmentFieldGeneratorComponent.cs
  Content.Server/GameObjects/Components/Singularity/ServerSingularityComponent.cs
  Content.Server/GameObjects/Components/Singularity/SinguloFoodComponent.cs
  Content.Server/GameObjects/EntitySystems/Power/RadiationCollectorSystem.cs
  Content.Server/Physics/Controllers/SingularityController.cs
  Resources/Locale/en-US/components/radiation-collector-component.ftl
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/PA/particles.yml
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/collector.yml
  Tools/singulo.m
  Tools/singulo_emitter.m
Labels: Area: Power, Priority: 1-high, Type: Improvement

#4078 Fixes being charged by the cargo console multiple times
  Content.Server/Cargo/CargoOrderDatabase.cs
  Content.Server/GameObjects/Components/Cargo/CargoConsoleComponent.cs
  Content.Server/GameObjects/EntitySystems/CargoConsoleSystem.cs
Labels: Type: Bug

#4085 Actor refactor compatibility changes.
  Content.Server/GameObjects/EntitySystems/GhostRoleSystem.cs
Labels: Type: Cleanup

#4110 ECS thrown items
  Content.Shared/GameObjects/Components/Items/ThrownItemComponent.cs
  Content.Shared/GameObjects/EntitySystems/ThrownItemSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
Labels: Area: Physics, Type: Refactor

#3879 GridTileLookupTest changes for broadphase update
  Content.IntegrationTests/Tests/GridTileLookupTest.cs
Labels: Area: Physics, Size: 2 - Small, Status: Requires Engine Change, Type: Refactor

#4111 Remove ICollideSpecial
  Content.Client/GameObjects/Components/Projectiles/ProjectileComponent.cs
  Content.Client/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Client/GameObjects/EntitySystems/DoorSystem.cs
  Content.Server/GameObjects/Components/Buckle/BuckleComponent.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ProjectileComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/GameObjects/EntitySystems/DoorSystem.cs
  Content.Server/GameTicking/GameRules/RuleSuspicion.cs
  Content.Shared/GameObjects/Components/Buckle/SharedBuckleComponent.cs
  Content.Shared/GameObjects/Components/Disposal/SharedDisposalUnitComponent.cs
  Content.Shared/GameObjects/Components/Doors/SharedDoorComponent.cs
  Content.Shared/GameObjects/Components/Projectiles/SharedProjectileComponent.cs
  Content.Shared/GameObjects/Components/Pulling/SharedPullableComponent.cs
  Content.Shared/GameObjects/EntitySystems/ProjectileSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedBuckleSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedDoorSystem.cs
Labels: Area: Physics, Type: Refactor

#3713 Comment out unused variables
  Content.Server/GameObjects/Components/Atmos/GasTankComponent.cs
  Content.Server/GameObjects/Components/Body/Behavior/LiverBehavior.cs
  Content.Server/GameObjects/Components/Doors/ServerDoorComponent.cs
  Content.Server/GameObjects/Components/Explosion/ClusterFlashComponent.cs
  Content.Server/GameObjects/Components/Nutrition/SmokingComponent.cs
  Content.Server/GameObjects/Components/Weapon/Ranged/Ammunition/ChemicalAmmoComponent.cs
Labels: Difficulty: 2 - Medium, Priority: 3-low, Size: 3 - Medium, Type: Discussion
