Repository space-wizards/space-station-14, pull requests merged in 2021-07, with the labels that each got.

#4246 Allows clown and mime to actually enter Theatre
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Doors/airlock_access.yml
Labels: Changes: Map, No C#, Size: 1 - Tiny, Type: Bug

#4241 Give Item spell
  Content.Server/Actions/Spells/GiveItemSpell.cs
  Content.Shared/Actions/ActionType.cs
  Resources/Locale/en-US/actions/actions/spells.ftl
  Resources/Prototypes/Actions/spells.yml
Labels: Changes: YAML, Type: Feature

#4253 DoAfter can now raise events so you don't need to use async with it
  Content.IntegrationTests/Tests/DoAfter/DoAfterServerTest.cs
  Content.Server/Body/Surgery/BiologicalSurgeryDataComponent.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Disposal/Mailing/DisposalMailingUnitComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/DoAfter/DoAfter.cs
  Content.Server/DoAfter/DoAfterEventArgs.cs
  Content.Server/DoAfter/DoAfterSystem.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnActivateSystem.cs
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Content.Server/Kitchen/Components/KitchenSpikeComponent.cs
  Content.Server/RCD/Components/RCDComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Server/Tools/Components/ToolComponent.cs
Labels: Area: ECS

#4137 Changes the chatbox to be more consistent with SS14's UI
  Content.Client/Chat/UI/ChatBox.cs
  Content.Client/Stylesheets/StyleNano.cs
  Resources/Locale/en-US/chat/ui/chat-box.ftl
Labels: Changes: UI, Type: Improvement

#4217 #4213 translation string fixes
  Content.Client/AME/UI/AMEWindow.cs
  Content.Client/Actions/UI/ActionMenu.cs
  Content.Client/Cargo/UI/CargoConsoleOrderMenu.cs
  Content.Client/Kitchen/UI/ReagentGrinderBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheQueueMenu.cs
  Content.Client/Research/UI/ResearchConsoleMenu.cs
  Content.Server/Actions/Actions/CombatMode.cs
  Content.Server/Botany/Seed.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/TraitorDeathMatch/Components/TraitorDeathMatchRedemptionComponent.cs
  Content.Shared/Construction/Steps/MaterialConstructionGraphStep.cs
  Resources/Locale/en-US/arcade/components/space-villain-game-component.ftl
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Locale/en-US/construction/steps/material-construction-graph-step.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/hands/components/hands-component.ftl
  Resources/Locale/en-US/interaction/interaction-system.ftl
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
  Resources/Locale/en-US/launcher/launcher-connecting.ftl
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Locale/en-US/particle-accelerator/components/ui/particle-accelerator-control-menu.ftl
  Resources/Locale/en-US/shell.ftl
  Resources/Locale/en-US/strip/strippable-component.ftl
  Resources/Locale/en-US/traitor-death-match/components/traitor-death-match-redemption-component.ftl
  Resources/Prototypes/Entities/Objects/Power/antimatter_part.yml
Labels: Changes: Localization, Changes: YAML, Type: Bug

#4261 Add pipe coloring
  Content.Client/Atmos/Visualizers/EnabledAtmosDeviceVisualizer.cs
  Content.Client/Atmos/Visualizers/OutletInjectorVisualizer.cs
  Content.Client/Atmos/Visualizers/PassiveVentVisualizer.cs
  Content.Client/Atmos/Visualizers/PipeColorVisualizer.cs
  Content.Client/Atmos/Visualizers/PipeConnectorVisualizer.cs
  Content.Client/Atmos/Visualizers/PressurePumpVisualizer.cs
  Content.Client/Atmos/Visualizers/ScrubberVisualizer.cs
  Content.Client/Atmos/Visualizers/ThermoMachineVisualizer.cs
  Content.Client/Atmos/Visualizers/VentPumpVisualizer.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Atmos/Piping/Components/AtmosPipeColorComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosPipeColorSystem.cs
  Content.Shared/Atmos/Piping/PipeColorVisuals.cs
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/unary.yml
Labels: Area: Atmos, Type: Feature

#4266 Canister fixes and rework
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Piping/Unary/Components/GasCanisterComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Server/NodeContainer/Nodes/PortPipeNode.cs
  Content.Server/NodeContainer/Nodes/PortablePipeNode.cs
  Content.Shared/Atmos/PipeDirection.cs
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/gas_canisters.yml
Labels: Area: Atmos

#4260 ContentTileDefinition defines the path where tile sprites are.
  Content.Shared/Maps/ContentTileDefinition.cs
Labels: Requires Engine PR, Size: 1 - Tiny

#4138 Fix low wall overlay displaying incorrectly
  Content.Client/Wall/Components/LowWallComponent.cs
Labels: Type: Bug, Type: Discussion

#4264 Remove PhysShapeGrid
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Tools/test/0A.yml
  Content.Tools/test/0B.yml
  Content.Tools/test/0C.yml
  Resources/Maps/Test/Breathing/3by3-20oxy-80nit.yml
  Resources/Maps/Test/empty.yml
  Resources/Maps/Test/singularity.yml
  Resources/Maps/saltern.yml
Labels: Area: Physics, Requires Engine PR, Size: 2 - Small, Type: Cleanup

#4270 Adds dual-port vent pump.
  Content.Server/Atmos/Piping/Binary/Components/GasDualPortVentPumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasDualPortVentPumpSystem.cs
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/binary.yml
Labels: Area: Atmos

#4272 Stop using obsoleted EntityCoordinates.FromMap() signature
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Viewport/GameScreenBase.cs
Labels: Type: Cleanup

#4285 ECS Atmos Part 3: Removes AtmosHelpers, add many methods to AtmosphereSystem.
  Content.Server/Atmos/AtmosHelpers.cs
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Atmos/Components/FirelockComponent.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasDualPortVentPumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Atmos/Piping/Other/EntitySystems/GasMinerSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasOutletInjectorSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPassiveVentSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Body/Behavior/LungBehavior.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Chemistry/TileReactions/ExtinguishTileReaction.cs
  Content.Server/Chemistry/TileReactions/FlammableTileReaction.cs
  Content.Server/Commands/Atmos/AddGasCommand.cs
  Content.Server/Commands/Atmos/DeleteGasCommand.cs
  Content.Server/Commands/Atmos/FillGasCommand.cs
  Content.Server/Commands/Atmos/FixGridAtmos.cs
  Content.Server/Commands/Atmos/RemoveGasCommand.cs
  Content.Server/Commands/Atmos/SetAtmosTemperatureCommand.cs
  Content.Server/Commands/Atmos/SetTemperatureCommand.cs
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/GameTicking/Presets/PresetTraitorDeathMatch.cs
  Content.Server/Metabolism/MetabolismComponent.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/Tools/Components/WelderComponent.cs
  Content.Server/Weapon/Ranged/ServerRangedWeaponComponent.cs
Labels: Type: Improvement, Type: Refactor

#4295 ECS Atmos Part 4: Moves all atmos logic from TileAtmosphere to AtmosphereSystem.
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/MonstermosInfo.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Type: Improvement, Type: Refactor

#4257 Make Saltern driveable
  Content.Client/Shuttles/ShuttleConsoleComponent.cs
  Content.Client/Shuttles/ShuttleConsoleSystem.cs
  Content.Client/Tools/Components/WelderComponent.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.IntegrationTests/Tests/ShuttleTest.cs
  Content.IntegrationTests/Tests/Utility/EntitySystemExtensionsTest.cs
  Content.Server/AI/Utils/Visibility.cs
  Content.Server/Alert/Click/StopPiloting.cs
  Content.Server/Doors/Components/ServerDoorComponent.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Physics/TestbedCommand.cs
  Content.Server/Shuttle/ShuttleControllerComponent.cs
  Content.Server/Shuttles/ShuttleComponent.cs
  Content.Server/Shuttles/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/ShuttleSystem.cs
  Content.Server/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Solar/EntitySystems/PowerSolarSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerRangedBarrelComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Construction/Conditions/WallmountCondition.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Friction/SharedTileFrictionController.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Movement/SharedMoverController.cs
  Content.Shared/Shuttles/PilotComponent.cs
  Content.Shared/Shuttles/SharedShuttleComponent.cs
  Content.Shared/Shuttles/SharedShuttleConsoleComponent.cs
  Content.Shared/Shuttles/SharedShuttleConsoleSystem.cs
  Content.Shared/Spawning/EntitySystemExtensions.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Maps/saltern.yml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Furniture/pilot_chair.yml
  Resources/Prototypes/Entities/Structures/Furniture/seats.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/Alerts/piloting.png
Labels: Status: Needs Review, Type: Feature

#4300 Adds integer scaling option
  Content.Client/EscapeMenu/UI/Tabs/GraphicsTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/GraphicsTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Type: Feature

#4273 Close examine tooltip when moving out of range
  Content.Client/Examine/ExamineSystem.cs
Labels: Status: Needs Review, Type: Bug, Type: Discussion

#4310 Slipping, now with 20% more ecs
  Content.Client/Slippery/SlipperySystem.cs
  Content.Server/Slippery/SlipperySystem.cs
  Content.Shared/Slippery/SharedSlipperySystem.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
Labels: Type: Cleanup

#4317 (mostly) ECS projectiles
  Content.Server/Projectiles/Components/ProjectileComponent.cs
  Content.Server/Projectiles/ProjectileSystem.cs
Labels: Type: Cleanup

#4308 ECS vapors
  Content.Server/Chemistry/Components/VaporComponent.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Fluids/Components/SprayComponent.cs
Labels: Type: Cleanup

#4318 Remove IStartCollide from containment fields
  Content.Server/ParticleAccelerator/Components/ParticleProjectileComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
Labels: Type: Cleanup

#4201 Added mapped storage for things like crayon belts and tools
  Content.Client/Storage/Visualizers/MappedItemVisualizer.cs
  Content.Server/Storage/Components/StorageCounterComponent.cs
  Content.Server/Storage/Components/StorageFillComponent.cs
  Content.Server/Storage/ItemCounterSystem.cs
  Content.Shared/Storage/ItemCounter/ItemCounterComponent.cs
  Content.Shared/Storage/ItemCounter/SharedItemCounterSystem.cs
  Content.Shared/Storage/ItemCounter/SharedMapLayerData.cs
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: Status: Needs Review, Type: Feature

#4328 Don't spin thrown pies
  Content.Server/Throwing/ThrowHelper.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/tags.yml
Labels: Type: Improvement

#4331 ECS Atmos Part 5: Moves all logic from GridAtmosphereComponent to AtmosphereSystem.
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/Components/IGridAtmosphereComponent.cs
  Content.Server/Atmos/Components/SpaceGridAtmosphereComponent.cs
  Content.Server/Atmos/Components/UnsimulatedGridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.ExcitedGroup.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Atmos/ExcitedGroup.cs
  Content.Server/Atmos/Piping/Components/AtmosDeviceComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosDeviceSystem.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
Labels: Type: Improvement, Type: Refactor

#4348 emitter ecs & bugfixes
  Content.Server/Singularity/Components/EmitterComponent.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/StartSingularityEngineCommand.cs
Labels: Type: Refactor

#4336 Made the baseball bat craft able
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bat.yml
  Resources/Prototypes/Recipes/Crafting/bat.yml
Labels: Type: Feature

#4329 Bump up tile friction
  Content.Server/Explosion/Components/ExplosionLaunchedComponent.cs
  Content.Server/Hands/HandsSystem.cs
  Content.Server/Throwing/ThrowHelper.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
Labels: Status: Needs Review, Type: Improvement

#4330 Make pushing a toggle
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/EntitySystems/SharedMobMoverSystem.cs
Labels: Type: Improvement

#4351 Makes Airtight ECS.
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.Server/Administration/Commands/SetAdminOOC.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Atmos/Commands/AddAtmosCommand.cs
  Content.Server/Atmos/Commands/AddGasCommand.cs
  Content.Server/Atmos/Commands/AddUnsimulatedAtmosCommand.cs
  Content.Server/Atmos/Commands/DeleteGasCommand.cs
  Content.Server/Atmos/Commands/FillGasCommand.cs
  Content.Server/Atmos/Commands/FixGridAtmos.cs
  Content.Server/Atmos/Commands/ListGasesCommand.cs
  Content.Server/Atmos/Commands/RemoveGasCommand.cs
  Content.Server/Atmos/Commands/SetAtmosTemperatureCommand.cs
  Content.Server/Atmos/Commands/SetTemperatureCommand.cs
  Content.Server/Atmos/Commands/ShowAtmosCommand.cs
  Content.Server/Atmos/Components/AirtightComponent.cs
  Content.Server/Atmos/Components/FirelockComponent.cs
  Content.Server/Atmos/Components/GasMixtureHolderComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/IGasMixtureHolder.cs
  Content.Server/Atmos/IGasReactionEffect.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/Atmos/Reactions/WaterVaporReaction.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/Commands/DONT_PUT_NEW_COMMANDS_HERE_ATMOS_LEFTOVER
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Doors/Components/ServerDoorComponent.cs
  Content.Server/Interfaces/DONT_PUT_STUFF_HERE_ATMOS_LEFTOVER
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Resources/Locale/en-US/atmos/firelock-component.ftl
  Resources/Locale/en-US/atmos/flammable-component.ftl
  Resources/Locale/en-US/atmos/gas-analyzer-component.ftl
  Resources/Locale/en-US/atmos/gas-canister-component.ftl
  Resources/Locale/en-US/atmos/gas-tank-component.ftl
  Resources/Locale/en-US/game-objects/DONT_PUT_STUFF_HERE_ATMOS_LEFTOVER
  SpaceStation14.sln.DotSettings
Labels: Type: Refactor

#4074 Add UI for setting solution transfer amount
  Content.Client/Chemistry/UI/TransferAmountBoundUserInterface.cs
  Content.Client/Chemistry/UI/TransferAmountWindow.xaml
  Content.Client/Chemistry/UI/TransferAmountWindow.xaml.cs
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Shared/Chemistry/SharedTransferAmount.cs
  Content.Shared/Verbs/VerbCategories.cs
  Resources/Locale/en-US/chemistry/components/solution-transfer-component.ftl
  Resources/Locale/en-US/ui/transfer-amount.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: Changes: UI, Status: Needs Review, Type: Feature

#4355 Fix crayon decal spawning exception
  Content.Server/Crayon/CrayonComponent.cs
  Resources/Locale/en-US/crayon/crayon-component.ftl
Labels: Size: 1-Tiny, Type: Bug

#4360 Fix missing inhands showing an error
  Content.Client/Hands/HandsVisualizer.cs
Labels: Size: 1-Tiny, Type: Bug

#4320 Slight trigger refactor
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Explosion/Components/ClusterFlashComponent.cs
  Content.Server/Explosion/Components/DeleteOnTriggerComponent.cs
  Content.Server/Explosion/Components/ExplodeOnTriggerComponent.cs
  Content.Server/Explosion/Components/ExplosiveComponent.cs
  Content.Server/Explosion/Components/ExplosiveProjectileComponent.cs
  Content.Server/Explosion/Components/FlashExplosiveComponent.cs
  Content.Server/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Server/Explosion/Components/SoundOnTriggerComponent.cs
  Content.Server/Explosion/Components/TriggerOnCollideComponent.cs
  Content.Server/Explosion/ExplosionHelper.cs
  Content.Server/Explosion/TriggerSystem.cs
  Content.Server/Flash/Components/FlashOnTriggerComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Acts/ActSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Explosives/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Status: Needs Review, Type: Refactor

#4237 #4219 emit sound system add single sound support
  Content.Server/Interaction/Components/EmitSoundOnUseComponent.cs
  Content.Server/Light/Components/ExpendableLightComponent.cs
  Content.Server/Sound/BaseEmitSoundComponent.cs
  Content.Server/Sound/Components/BaseEmitSoundComponent.cs
  Content.Server/Sound/Components/EmitSoundOnActivateComponent.cs
  Content.Server/Sound/Components/EmitSoundOnLandComponent.cs
  Content.Server/Sound/Components/LoopingLoopingSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Server/Throwing/EmitSoundOnThrowComponent.cs
  Content.Server/Toys/ToysComponent.cs
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/skub.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Type: Improvement, Type: Refactor

#4294 Added Makeshift Handcuffs into a craft able item
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/makeshifthandcuffs.yml
  Resources/Prototypes/Recipes/Crafting/makeshifthandcuffs.yml
Labels: No C#, Status: Needs Review, Type: Feature

#4358 Add whitelist to StorageComponent, remove FoodContainer entirely and replace it with SpawnItemsOnUse
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Nutrition/Visualizers/DrinkFoodContainerVisualizer.cs
  Content.Server/Nutrition/Components/FoodContainerComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Storage/Components/SpawnItemsOnUseComponent.cs
  Content.Server/Storage/Components/StorageFillComponent.cs
  Content.Server/Storage/EntitySpawnEntry.cs
  Content.Server/Storage/EntitySystems/ItemCounterSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Nutrition/Components/SharedDrinkFoodContainerComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review, Type: Improvement, Type: Refactor

#4327 Grid-relative movement
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/SharedMoverController.cs
Labels: Type: Bug

#4322 XAMLify ID card computer, Alerts and AME window
  Content.Client/AME/UI/AMEControllerBoundUserInterface.cs
  Content.Client/AME/UI/AMEWindow.cs
  Content.Client/AME/UI/AMEWindow.xaml
  Content.Client/AME/UI/AMEWindow.xaml.cs
  Content.Client/Access/UI/IdCardConsoleWindow.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/Alerts/UI/AlertsUI.xaml
  Content.Client/Alerts/UI/AlertsUI.xaml.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.cs
Labels: Type: Refactor

#4347 reagentgrinder ecs & xamlui
  Content.Client/Kitchen/UI/GrinderMenu.xaml
  Content.Client/Kitchen/UI/GrinderMenu.xaml.cs
  Content.Client/Kitchen/UI/LabelledContentBox.xaml
  Content.Client/Kitchen/UI/LabelledContentBox.xaml.cs
  Content.Client/Kitchen/UI/ReagentGrinderBoundUserInterface.cs
  Content.Server/Kitchen/Components/ReagentGrinderComponent.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Shared/Kitchen/Components/SharedReagentGrinderComponent.cs
Labels: Type: Bug, Type: Refactor

#4228 #4420 Replaced SecureEntityStorageComp with LockComponent (new ECS)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Storage/Visualizers/StorageVisualizer.cs
  Content.Server/Lock/LockComponent.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/Components/SecureEntityStorageComponent.cs
  Resources/Locale/en-US/lock/lock-component.ftl
  Resources/Locale/en-US/storage/components/secure-entity-storage-component.ftl
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Type: Refactor

#4389 Improve hands & pulling
  Content.Client/Actions/ClientActionsComponent.cs
  Content.Client/Hands/HandVirtualPullItemStatus.xaml
  Content.Client/Hands/HandVirtualPullItemStatus.xaml.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/HandsGui.xaml
  Content.Client/Hands/HandsGui.xaml.cs
  Content.Client/Hands/HandsSystem.cs
  Content.Client/Hands/Systems/HandVirtualPullSystem.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Items/ItemStatusMessages.cs
  Content.Client/Items/Managers/IItemSlotManager.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Items/UI/ItemSlotButton.cs
  Content.Client/Items/UI/ItemStatusPanel.cs
  Content.Server/Fluids/Components/SpillableComponent.cs
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Systems/HandVirtualPullSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Shared/Hands/Components/HandVirtualPullComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Interaction/BeforeInteract.cs
  Content.Shared/Interaction/IDropped.cs
  Content.Shared/Pulling/Components/SharedPullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Events/PullAttemptMessage.cs
  Content.Shared/Pulling/Events/PullMessage.cs
  Content.Shared/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
  Resources/Prototypes/Entities/Virtual/virtual_pull_item.yml
Labels: Type: Improvement

#4385 Bug fixes for metabolisable reagents
  Content.Server/Body/Behavior/LiverBehavior.cs
  Content.Server/Body/Behavior/StomachBehavior.cs
  Content.Server/Chemistry/Metabolism/DefaultDrink.cs
  Content.Server/Chemistry/Metabolism/DefaultFood.cs
  Content.Server/Chemistry/Metabolism/HealthChangeMetabolism.cs
  Content.Shared/Chemistry/Metabolizable/DefaultMetabolizable.cs
  Content.Shared/Chemistry/Metabolizable/IMetabolizable.cs
Labels: Status: Needs Review, Type: Bug, Type: Improvement

#4400 Fix serv warnings
  Content.Server/Chemistry/ReagentEntityReactions/AddToSolutionReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/ExtinguishReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/FlammableReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/WashCreamPieReaction.cs
  Content.Shared/Chemistry/Reagent/ReagentEntityReaction.cs
  Content.Shared/Sound/SoundSpecifier.cs
Labels: Complementary Engine PR, Size: 1-Tiny, Type: Cleanup

#4396 Removes LoopingSoundComponent.
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Kitchen/Components/KitchenSpikeComponent.cs
  Content.Client/Kitchen/Components/MicrowaveComponent.cs
  Content.Client/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Client/Kitchen/Visualizers/MicrowaveVisualizer.cs
  Content.Client/Light/Components/ExpendableLightComponent.cs
  Content.Client/Light/Visualizers/ExpendableLightVisualizer.cs
  Content.Client/Sound/LoopingSoundComponent.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/ActionsComponentTests.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Light/Components/ExpendableLightComponent.cs
  Content.Server/Sound/Components/LoopingLoopingSoundComponent.cs
  Content.Shared/Light/Component/SharedExpendableLightComponent.cs
  Content.Shared/Sound/SharedLoopingSoundComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/base.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Consumable/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/skub.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlight.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
Labels: Holy Shit, Priority: 1-Urgent, Type: Improvement

#4395 Metabolism refactor
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Body/Behavior/LiverBehavior.cs
  Content.Server/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/Body/Metabolism/MetabolizerComponent.cs
  Content.Server/Body/Metabolism/MetabolizerSystem.cs
  Content.Server/Body/Respiratory/RespiratorComponent.cs
  Content.Server/Body/Respiratory/RespiratorSystem.cs
  Content.Server/Chemistry/Metabolism/DefaultDrink.cs
  Content.Server/Chemistry/Metabolism/DefaultFood.cs
  Content.Server/Chemistry/Metabolism/HealthChangeMetabolism.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Body/Metabolism/ShiverAttemptEvent.cs
  Content.Shared/Body/Metabolism/SweatAttemptEvent.cs
  Content.Shared/Chemistry/Metabolizable/DefaultMetabolizable.cs
  Content.Shared/Chemistry/Metabolizable/IMetabolizable.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Status: Needs Review, Type: Improvement, Type: Refactor

#4391 grindable/juiceable stacks
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Kitchen/Events/JuiceableScalingEvent.cs
  Content.Shared/Chemistry/Solution/Solution.cs
Labels: Status: Needs Review, Type: Bug
