Repository space-wizards/space-station-14, pull requests merged in 2021-06, with the labels that each got.

#4057 Fix Issue #4056 - Prevent cargo order quantities larger than the maximum
  Content.Client/GameObjects/Components/Cargo/CargoConsoleBoundUserInterface.cs
  Content.Server/GameObjects/Components/Cargo/CargoConsoleComponent.cs
  Content.Server/GameObjects/EntitySystems/CargoConsoleSystem.cs
Labels: Priority: 1-high, Size: 1 - Tiny, Type: Bug

#4105 Singularity Fixes, Part 3
  Content.Client/Graphics/Overlays/SingularityOverlay.cs
  Content.Server/GameObjects/Components/Singularity/ServerSingularityComponent.cs
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/generator.yml
  Resources/Prototypes/Entities/Constructible/Power/parts.yml
  Resources/Prototypes/Entities/Constructible/Specific/Medical/cloning_machine.yml
  Resources/Prototypes/Entities/Constructible/Specific/Medical/medical_scanner.yml
  Resources/Prototypes/Entities/Constructible/base.yml
  Resources/Prototypes/Entities/Constructible/base_machine.yml
  Resources/Textures/Shaders/singularity.swsl
Labels: Type: Bug

#4092 You can now return to a brain. Also, clean up terrible console misuse.
  Content.Server/Commands/Chat/SuicideCommand.cs
  Content.Server/Commands/Observer/Ghost.cs
  Content.Server/GameObjects/Components/Body/BodyComponent.cs
  Content.Server/GameObjects/Components/Observer/GhostOnMoveComponent.cs
  Content.Server/GameTicking/GamePreset.cs
  Content.Server/Mobs/Mind.cs
Labels: Type: Cleanup, Type: Feature

#4122 Slims down disposal unit ui and fixes thrown collisions
  Content.Client/GameObjects/Components/Disposal/DisposalMailingUnitWindow.cs
  Content.Client/GameObjects/Components/Disposal/DisposalUnitWindow.cs
  Content.Client/VendingMachines/VendingMachineMenu.cs
  Resources/Locale/en-US/ui/disposal.ftl
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/gascanisterports.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/gascanisters.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/gasfilters.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/gasgenerator.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/heaters.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/pumps.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/scrubbers.yml
  Resources/Prototypes/Entities/Constructible/Piping/Atmospherics/vents.yml
  Resources/Prototypes/Entities/Constructible/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Constructible/Piping/Disposal/units.yml
Labels: Area: UI, Type: Improvement

#3958 Adds DamageMetabolism and some simple chems
  Content.Server/Chemistry/Metabolism/HealthChangeMetabolism.cs
  Resources/Prototypes/Reagents/medicine.yml
Labels: Type: Feature

#4133 Refactor MeleeWeaponComponent and related comps to be ECS
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/Actions/DisarmAction.cs
  Content.Server/GameObjects/Components/Chemistry/HyposprayComponent.cs
  Content.Server/GameObjects/Components/Power/PowerCellSlotComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/FlashComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeChemicalInjectorComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/MeleeWeaponComponent.cs
  Content.Server/GameObjects/Components/Weapon/Melee/StunbatonComponent.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Server/GameObjects/EntitySystems/HypospraySystem.cs
  Content.Server/GameObjects/EntitySystems/ItemCooldownSystem.cs
  Content.Server/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Server/GameObjects/EntitySystems/Weapon/Melee/FlashSystem.cs
  Content.Server/GameObjects/EntitySystems/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/GameObjects/EntitySystems/Weapon/Melee/StunbatonSystem.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/AttackEvent.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IAttack.cs
  Resources/Locale/en-US/components/stunbaton-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Size: 3 - Medium, Type: Refactor

#4119 Make dead bodies use CollisionWake
  Content.Server/GameObjects/Components/Mobs/State/DeadMobState.cs
  Content.Shared/GameObjects/Components/Mobs/State/SharedDeadMobState.cs
Labels: Area: Physics, Type: Bug

#4013 Cloning error messages and prediction based timing
  Content.Client/GameObjects/Components/CloningPod/CloningPodWindow.cs
  Content.Server/GameObjects/Components/Medical/CloningPodComponent.cs
  Content.Server/GameObjects/Components/Medical/MedicalScannerComponent.cs
  Content.Server/GameObjects/EntitySystems/CloningSystem.cs
  Content.Shared/GameObjects/Components/Medical/SharedCloningPodComponent.cs
  Resources/Locale/en-US/entities/cloning.ftl
Labels: Size: 3 - Medium, Type: Feature, Type: Improvement

#4120 Added oil with functionality
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Resources (No code), Size: 2 - Small, Status: DO NOT MERGE, Type: Feature

#4135 Remove InteractionOutline from full-tile entities
  Resources/Prototypes/Entities/Constructible/Ground/catwalk.yml
  Resources/Prototypes/Entities/Constructible/Walls/low_wall.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
Labels: Area: UI, Resources (No code), Size: 1 - Tiny, Type: Improvement

#4149 Chemistry Mapping Revamp
  Resources/Maps/saltern.yml
Labels: Map Changes, Resources (No code), Type: Improvement

#4148 Updated name formatting.
  Resources/Prototypes/Entities/Objects/Devices/Electronics/apc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
Labels: Resources (No code), Size: 1 - Tiny, Type: Improvement

#4091 Interaction clean up
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/AI/Operators/Combat/Melee/SwingMeleeWeaponOperator.cs
  Content.Server/AI/Operators/Combat/Melee/UnarmedCombatOperator.cs
  Content.Server/AI/Operators/Inventory/InteractWithEntityOperator.cs
  Content.Server/AI/Operators/Inventory/PickupEntityOperator.cs
  Content.Server/Actions/DisarmAction.cs
  Content.Server/GameObjects/Components/Atmos/AirtightComponent.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Server/GameObjects/Components/GUI/InventoryComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/GameObjects/EntitySystems/Click/InteractionSystem.cs
  Content.Shared/GameObjects/EntitySystems/SharedInteractionSystem.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IInteractHand.cs
  Content.Shared/Utility/SharedUnobstructedExtensions.cs
Labels: Difficulty: 3 - Intermediate, Priority: 2-medium, Size: 3 - Medium, Type: Cleanup

#4071 MindComponent loc, kitchenspike loc fixes, climbable loc fixes
  Content.Server/GameObjects/Components/Mobs/MindComponent.cs
  Content.Shared/GameObjects/Components/Mobs/SharedHumanoidAppearanceComponent.cs
  Resources/Locale/en-US/_lib.ftl
  Resources/Locale/en-US/components/climbable-component.ftl
  Resources/Locale/en-US/components/kitchen-spike-component.ftl
  Resources/Locale/en-US/components/mind-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Size: 2 - Small, Type: Bug, Type: Improvement

#4154 Refactor ExtinguisherCabinet->ItemCabinet and actually maps them in, adds EntityWhitelist
  Content.Client/GameObjects/Components/ExtinguisherCabinetVisualizer.cs
  Content.Client/GameObjects/Components/ItemCabinetVisualizer.cs
  Content.Client/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Utility/EntityWhitelistTest.cs
  Content.Server/GameObjects/Components/ExtinguisherCabinetComponent.cs
  Content.Server/GameObjects/Components/ExtinguisherCabinetFilledComponent.cs
  Content.Server/GameObjects/Components/ItemCabinetComponent.cs
  Content.Server/GameObjects/Components/Items/Storage/StorageCounterComponent.cs
  Content.Server/GameObjects/EntitySystems/BuckleSystem.cs
  Content.Server/GameObjects/EntitySystems/ItemCabinetSystem.cs
  Content.Shared/GameObjects/Components/ExtinguisherCabinet.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IAfterInteract.cs
  Content.Shared/Interfaces/GameObjects/Components/Interaction/IInteractHand.cs
  Content.Shared/Utility/EntityWhitelist.cs
  Resources/Locale/en-US/components/item-cabinet-component.ftl
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Walls/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: Area: ECS, Changes: Map, Type: Refactor

#4144 Fix gridtilelookuptest for WorldAABB fix
  Content.IntegrationTests/Tests/GridTileLookupTest.cs
Labels: Area: Physics, Type: Bug

#4124 Added claymore as a weapon
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/claymore.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/icon.png
Labels: No C#, Type: Feature

#4160 Adds hands examine text
  Content.Server/GameObjects/EntitySystems/HandsSystem.cs
  Resources/Locale/en-US/components/hands-component.ftl
Labels: Changes: Localization, Type: Feature

#4175 Made walls and windows stronger
  Resources/Prototypes/Damage/resistance_sets.yml
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
Labels: Changes: YAML, No C#, Type: Improvement

#4131 #3846 - fix for ControlMobVerb not working for ghosts
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Mind/Verbs/ControlMobVerb.cs
Labels: Type: Bug

#4177 Refactor stacks to not use method events
  Content.Server/Construction/Completions/SetStackCount.cs
  Content.Server/Construction/Completions/SpawnPrototype.cs
  Content.Server/Construction/Components/ConstructionComponent.cs
  Content.Server/Construction/Components/MachineComponent.cs
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
  Content.Server/Hands/HandsSystem.cs
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Tiles/FloorTileItemComponent.cs
  Content.Server/Wires/Components/WireComponent.cs
  Content.Server/Wires/Components/WirePlacerComponent.cs
  Content.Shared/Stacks/SharedStackComponent.cs
  Content.Shared/Stacks/SharedStackSystem.cs
Labels: Area: ECS, Type: Refactor

#4190 Remove obsolete system event unsubscriptions
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/DoAfter/DoAfterSystem.cs
  Content.Client/HealthOverlay/HealthOverlaySystem.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Client/Pulling/PullingSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Client/Window/WindowSystem.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.Server/AI/EntitySystems/AiSystem.cs
  Content.Server/AI/Pathfinding/Accessible/AiReachableSystem.cs
  Content.Server/AI/Pathfinding/PathfindingSystem.cs
  Content.Server/Body/Surgery/Components/SurgeryToolSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Disposal/Mailing/DisposalMailingUnitSystem.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnActivateSystem.cs
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
  Content.Server/GameObjects/EntitySystems/AtmosphereSystem.cs
  Content.Server/GameObjects/EntitySystems/GasCanisterSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Gravity/EntitySystems/WeightlessSystem.cs
  Content.Server/Light/EntitySystems/HandHeldLightSystem.cs
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeContainerSystem.cs
  Content.Server/ParticleAccelerator/ParticleAcceleratorPartSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Storage/StorageSystem.cs
Labels: Area: ECS, Type: Cleanup

#4188 Fix temperature component not using the latest in pattern matching technology
  Content.Server/Temperature/Components/TemperatureComponent.cs
Labels: Type: Refactor

#4164 Minor cuff changes
  Content.Client/Cuffs/Components/CuffableComponent.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Pulling/Components/SharedPullableComponent.cs
Labels: Type: Bug

#4072 Refactoring of solar control console
  Content.Client/GameObjects/Components/ComputerBoundUserInterface.cs
  Content.Client/GameObjects/Components/Power/SolarControlWindow.xaml
  Content.Client/GameObjects/Components/Power/SolarControlWindow.xaml.cs
  Content.Client/Solar/SolarControlConsoleBoundUserInterface.cs
  Content.Server/GameObjects/Components/BaseComputerUserInterfaceComponent.cs
  Content.Server/GameObjects/EntitySystems/ComputerUIActivatorSystem.cs
  Content.Server/Solar/Components/SolarControlConsoleComponent.cs
  Content.Server/Solar/EntitySystems/PowerSolarSystem.cs
  Content.Shared/Solar/SharedSolarControlConsoleComponent.cs
  Resources/Locale/en-US/components/base-computer-ui-component.ftl
  Resources/Locale/en-US/ui/solar-control.ftl
Labels: Changes: UI, Type: Improvement, Type: Refactor

#4171 Lighting tweaks
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Walls/emergency_light.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: Changes: Map, Changes: YAML, No C#, Type: Discussion, Type: Improvement

#4159 Make ghost component ECS
  Content.Client/Ghost/GhostComponent.cs
  Content.Client/Ghost/GhostGui.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Ghost/Components/GhostComponent.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Ghost/GhostWarpToLocationRequestMessage.cs
  Content.Shared/Ghost/GhostWarpToTargetRequestMessage.cs
  Content.Shared/Ghost/SharedGhostComponent.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Resources/Locale/en-US/components/ghost-component.ftl
Labels: Area: ECS, Type: Bug, Type: Refactor

#4199 Remove Engine Component Events
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Actions/ClientActionsComponent.cs
  Content.Client/Alerts/ClientAlertsComponent.cs
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/CharacterInterface/CharacterInterfaceComponent.cs
  Content.Client/CharacterInterface/CharacterInterfaceSystem.cs
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/HandsSystem.cs
  Content.Client/Inventory/ClientInventoryComponent.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Suspicion/SuspicionRoleComponent.cs
  Content.Client/Suspicion/SuspicionRoleSystem.cs
  Content.Server/Disposal/Mailing/DisposalMailingUnitComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Inventory/Components/HumanInventoryControllerComponent.cs
  Content.Server/Inventory/Components/InventoryComponent.cs
  Content.Server/Inventory/InventorySystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/Components/StorageCounterComponent.cs
  Content.Server/Storage/StorageSystem.cs
  Content.Server/Suspicion/EntitySystems/SuspicionRoleSystem.cs
  Content.Server/Suspicion/SuspicionRoleComponent.cs
  Content.Shared/Movement/RelayMovementEntityMessage.cs
Labels: Area: ECS, Status: Requires Engine Change, Type: Cleanup

#4189 Remove damage flags
  Content.Server/Damage/Commands/AddDamageFlagCommand.cs
  Content.Server/Damage/Commands/DamageFlagCommand.cs
  Content.Server/Damage/Commands/RemoveDamageFlagCommand.cs
  Content.Server/Damage/GodmodeSystem.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Damage/Components/IDamageableComponent.cs
  Content.Shared/Damage/DamageFlag.cs
  Content.Shared/Damage/DamageType.cs
  Content.Shared/Damage/Resistances/ResistanceSet.cs
Labels: Type: Refactor

#4127 #3935 - Refactored ToysComponent functionality into ECS
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Interaction/Components/EmitSoundOnUseComponent.cs
  Content.Server/Sound/BaseEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundOnActivateComponent.cs
  Content.Server/Sound/EmitSoundOnLandComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Server/Throwing/EmitSoundOnThrowComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Area: ECS, Changes: YAML, Type: Refactor

#4123 #3814 - dropping an item, which adds an action to the actions bar, wi…
  Content.Client/Actions/Assignments/ActionAssignments.cs
  Content.Client/Actions/ClientActionsComponent.cs
  Content.Client/Actions/UI/ActionsUI.cs
  Resources/Locale/en-US/ui/actionmenu.ftl
  Resources/Locale/en-US/ui/options.ftl
Labels: Changes: UI, Type: Improvement

#4146 Vox plushie
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_vox.png
Labels: Changes: Sprites, No C#, Type: Discussion, Type: Feature

#4196 Remove NetMessage deprecated boilerplate
  Content.Client/Administration/Managers/AdminMenuManager.cs
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Eui/EuiManager.cs
  Content.Client/Notifications/Managers/ClientNotifyManager.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Sandbox/SandboxManager.cs
  Content.Client/StationEvents/Managers/StationEventManager.cs
  Content.Client/Voting/VoteManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/EUI/EuiManager.cs
  Content.Server/Notification/Managers/ServerNotifyManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Sandbox/SandboxManager.cs
  Content.Server/StationEvents/StationEventSystem.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Shared/Administration/Menu/AdminMenuPlayerListMessage.cs
  Content.Shared/Administration/Menu/AdminMenuPlayerListRequest.cs
  Content.Shared/Administration/MsgUpdateAdminStatus.cs
  Content.Shared/Chat/ChatMaxMsgLengthMessage.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/Eui/MsgEuiCtl.cs
  Content.Shared/Eui/MsgEuiMessage.cs
  Content.Shared/Eui/MsgEuiState.cs
  Content.Shared/Notification/Managers/SharedNotifyManager.cs
  Content.Shared/Nutrition/Components/SharedButcherableComponent.cs
  Content.Shared/Preferences/MsgDeleteCharacter.cs
  Content.Shared/Preferences/MsgPreferencesAndSettings.cs
  Content.Shared/Preferences/MsgSelectCharacter.cs
  Content.Shared/Preferences/MsgUpdateCharacter.cs
  Content.Shared/Sandbox/SharedSandboxManager.cs
  Content.Shared/StationEvents/MsgRequestStationEvents.cs
  Content.Shared/StationEvents/MsgStationEvents.cs
  Content.Shared/Stunnable/SharedStunnableComponent.cs
  Content.Shared/Voting/MsgVoteCanCall.cs
  Content.Shared/Voting/MsgVoteData.cs
Labels: Size: 3 - Medium, Type: Cleanup

#3835 Add cvar thresholds to gas overlays
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Area: Atmos, Type: Improvement

#3829 Moves Hands to shared, some prediction
  Content.Client/Actions/ClientActionsComponent.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/HandsGui.cs
  Content.Client/Hands/HandsSystem.cs
  Content.Client/Hands/HandsVisualizer.cs
  Content.Client/Items/Components/ItemComponent.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Weapons/Ranged/RangedWeaponSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/HandCuffTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/ActionsComponentTests.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/AI/Operators/Inventory/DropEntityOperator.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Components/IHandsComponent.cs
  Content.Server/Hands/HandsSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Inventory/Components/InventoryComponent.cs
  Content.Server/Items/ItemComponent.cs
  Content.Server/PDA/PDAComponent.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Shared/Actions/Components/ItemActionsComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/IEquippedHand.cs
  Content.Shared/Hands/IUnequippedHand.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Difficulty: 4 - Hard, Type: Refactor

#4218 ECS Atmos Part 2: Moves a lot of Gas Mixture methods to AtmosphereSystem.
  Content.IntegrationTests/Tests/Atmos/GasMixtureTest.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Atmos/Components/AtmosExposedComponent.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/Components/SpaceGridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Atmos/ExcitedGroup.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasTankSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Server/Atmos/Reactions/WaterVaporReaction.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Body/Behavior/LungBehavior.cs
  Content.Server/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/Chemistry/TileReactions/ExtinguishTileReaction.cs
  Content.Server/Chemistry/TileReactions/FlammableTileReaction.cs
  Content.Server/Disposal/Tube/Components/DisposalEntryComponent.cs
  Content.Server/Interfaces/IGasMixtureHolder.cs
  Content.Server/Interfaces/IGasReactionEffect.cs
  Content.Server/NodeContainer/NodeGroups/IPipeNet.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosphereSystem.cs
Labels: Area: Atmos, Type: Improvement, Type: Refactor

#4194 Remove IClientSingularityInstance, move visual effects to SingularityDistortionComponent
  Content.Client/Singularity/Components/ClientSingularityComponent.cs
  Content.Client/Singularity/Components/ContainmentFieldComponent.cs
  Content.Client/Singularity/Components/ISingularity.cs
  Content.Client/Singularity/Components/ToySingularityComponent.cs
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Client/Singularity/SingularitySystem.cs
  Content.Server/Radiation/RadiationPulseComponent.cs
  Content.Server/Radiation/RadiationPulseSystem.cs
  Content.Server/Singularity/Components/ServerSingularityComponent.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Shared/NetIDs/ContentNetIDs.cs
  Content.Shared/Singularity/Components/SharedSingularityComponent.cs
  Content.Shared/Singularity/Components/SingularityDistortionComponent.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Resources/Prototypes/Entities/Constructible/Power/Engines/Singularity/singularity.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Area: Power, Type: Refactor

#4204 #1607 deprecate IEntityQuery
  Content.Server/AI/Utils/Visibility.cs
  Content.Server/Administration/Commands/DeleteEntitiesWithComponent.cs
  Content.Server/Administration/Commands/DeleteEntitiesWithId.cs
  Content.Server/Administration/Commands/FindEntitiesWithComponents.cs
  Content.Server/Battery/DrainAllBatteriesCommand.cs
  Content.Server/GameTicking/Presets/PresetTraitorDeathMatch.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Singularity/StartSingularityEngineCommand.cs
  Content.Server/Storage/Components/CursedEntityStorageComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
Labels: Area: Physics, Type: Cleanup

#4200 #1462 extracted MapGrid's HasGravity property to separate Content com…
  Content.Client/Gravity/GravitySystem.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.Server/Gravity/EntitySystems/GravitySystem.cs
  Content.Server/Gravity/EntitySystems/WeightlessSystem.cs
  Content.Server/Gravity/GravityGeneratorComponent.cs
  Content.Shared/Gravity/GravityChangedMessage.cs
  Content.Shared/Gravity/GravityComponent.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
  Content.Shared/NetIDs/ContentNetIDs.cs
Labels: Status: Awaiting Engine PR, Status: DO NOT MERGE, Type: Refactor

#4142 Refactor standing to be ECS
  Content.Client/MobState/States/DeadMobState.cs
  Content.Client/MobState/States/NormalMobState.cs
  Content.Client/Standing/StandingStateSystem.cs
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Hands/HandsSystem.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/MobState/States/CriticalMobState.cs
  Content.Server/MobState/States/DeadMobState.cs
  Content.Server/MobState/States/NormalMobState.cs
  Content.Server/Morgue/Components/BodyBagEntityStorageComponent.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Server/Stunnable/Components/StunnableComponent.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Buckle/Components/SharedBuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/EffectBlocker/EffectBlockerSystem.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/MobState/State/SharedCriticalMobState.cs
  Content.Shared/MobState/State/SharedDeadMobState.cs
  Content.Shared/MobState/State/SharedNormalMobState.cs
  Content.Shared/NetIDs/ContentNetIDs.cs
  Content.Shared/Standing/SharedStandingStateSystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/SoundCollections/body_fall.yml
Labels: Area: ECS, Type: Refactor

#4240 Fix being able to start pulling something while incapacitated.
  Content.Client/MobState/MobStateComponent.cs
  Content.Server/MobState/States/MobStateManager.cs
  Content.Shared/MobState/Components/SharedMobStateComponent.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
  Content.Shared/Pulling/Components/SharedPullableComponent.cs
  Content.Shared/Pulling/Events/StartPullAttemptEvent.cs
  Content.Shared/Pulling/SharedPullingSystem.cs
Labels: Type: Bug

#4239 Sound Specifiers.
  Content.Server/Dice/DiceComponent.cs
  Content.Shared/Sound/SoundSpecifier.cs
  Content.Shared/Sound/SoundSpecifierTypeSerializer.cs
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/SoundCollections/dice.yml
Labels: Changes: Audio, Size: 2 - Small, Type: Feature, Type: Improvement
