Repository space-wizards/space-station-14, pull requests merged in 2021-11, with the labels that each got.

#4946 Pilot alert and console flavortext
  Resources/Textures/Interface/Alerts/piloting.png
Labels: Type: Improvement, Type: Discussion, No C#

#3868 Fix ControlMob on already controlled mob
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Administration/Commands/ControlMob.cs
  Content.Server/Mind/Mind.cs
Labels: Type: Bug, Type: Improvement, Size: 1-Tiny, Status: Needs Review

#4828 Gravity generator rewrite
  Content.Client/Gravity/GravityGeneratorVisualizer.cs
  Content.Client/Gravity/UI/GravityGeneratorBoundUserInterface.cs
  Content.Client/Gravity/UI/GravityGeneratorWindow.xaml
  Content.Client/Gravity/UI/GravityGeneratorWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/FancyWindow.xaml
  Content.Client/UserInterface/FancyWindow.xaml.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.Server/Gravity/EntitySystems/GravityGeneratorSystem.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/Gravity/EntitySystems/GravitySystem.cs
  Content.Server/Gravity/GravityGeneratorComponent.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Shared/Gravity/SharedGravityGeneratorComponent.cs
  Resources/Locale/en-US/gravity/gravity-generator-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: Type: Feature, Type: Refactor

#4948 Changed drinks to use ECS
  Content.Server/AI/Operators/Nutrition/UseDrinkInInventoryOperator.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.Capabilities.cs
  Content.Server/Nutrition/Components/DrinkComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: Type: Refactor, Status: Awaiting Changes

#4972 Placeholder pAIs, ghost role rules window
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Ghost/Roles/UI/GhostRoleRulesWindow.xaml
  Content.Client/Ghost/Roles/UI/GhostRoleRulesWindow.xaml.cs
  Content.Client/Ghost/Roles/UI/GhostRolesEui.cs
  Content.Client/Ghost/Roles/UI/GhostRolesWindow.xaml.cs
  Content.Client/Ghost/Roles/UI/MakeGhostRoleEui.cs
  Content.Client/Ghost/Roles/UI/MakeGhostRoleWindow.xaml
  Content.Client/Ghost/Roles/UI/MakeGhostRoleWindow.xaml.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Ghost/Roles/MakeGhostRoleCommand.cs
  Content.Server/PAI/PAIComponent.cs
  Content.Server/PAI/PAISystem.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Content.Shared/PAI/PAIShared.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/pai/pai-system.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Status: Awaiting Changes

#5083 Refactor Resolve and IEntity in SolutionContainerSystem
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/AI/Utility/Considerations/Nutrition/Drink/DrinkValueCon.cs
  Content.Server/AI/Utility/Considerations/Nutrition/Food/FoodValueCon.cs
  Content.Server/Administration/UI/AdminAddReagentEui.cs
  Content.Server/Body/Behavior/StomachBehavior.cs
  Content.Server/Body/Circulatory/BloodstreamComponent.cs
  Content.Server/Body/Metabolism/MetabolizerSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Components/ProduceComponent.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/Components/FoamSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/HyposprayComponent.cs
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/Components/SmokeSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.Capabilities.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Chemistry/ReagentEntityReactions/AddToSolutionReaction.cs
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Content.Server/Fluids/Components/SpillableComponent.cs
  Content.Server/Fluids/Components/SprayComponent.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/Components/SliceableFoodComponent.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Weapon/Ranged/Ammunition/Components/ChemicalAmmoComponent.cs
Labels: Type: Refactor, Type: Cleanup, Status: Needs Review

#5112 Extractible tweak - Allow grinding and juicing
  Content.Server/Kitchen/Components/ExtractableComponent.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
Labels: Type: Improvement, Size: 1-Tiny, Status: Needs Review

#5052 Adds a UI for gas filters
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasFilterComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Shared/Atmos/Piping/Trinary/Components/SharedGasFilterComponent.cs
  Resources/Locale/en-US/components/gas-filter-component.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Type: Feature, Status: Needs Review

#5103 ConstructionGL2 Part 2: Better guided steps and recipes.
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/Construction/Conditions/AirlockBolted.cs
  Content.Server/Construction/Conditions/AllConditions.cs
  Content.Server/Construction/Conditions/AllWiresCut.cs
  Content.Server/Construction/Conditions/AnyConditions.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Construction/Conditions/ContainerEmpty.cs
  Content.Server/Construction/Conditions/ContainerNotEmpty.cs
  Content.Server/Construction/Conditions/DoorWelded.cs
  Content.Server/Construction/Conditions/EntityAnchored.cs
  Content.Server/Construction/Conditions/MachineFrameComplete.cs
  Content.Server/Construction/Conditions/ToiletLidClosed.cs
  Content.Server/Construction/Conditions/WirePanel.cs
  Content.Server/Construction/ConstructionSystem.Guided.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Shared/Construction/Conditions/EmptyOrWindowValidInTile.cs
  Content.Shared/Construction/Conditions/IConstructionCondition.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Construction/Conditions/TileNotBlocked.cs
  Content.Shared/Construction/Conditions/TileType.cs
  Content.Shared/Construction/Conditions/WallmountCondition.cs
  Content.Shared/Construction/ConstructionGuide.cs
  Content.Shared/Construction/IGraphCondition.cs
  Content.Shared/Construction/SharedConstructionSystem.cs
  Content.Shared/Construction/Steps/ArbitraryInsertConstructionGraphStep.cs
  Content.Shared/Construction/Steps/ConstructionGraphStep.cs
  Content.Shared/Construction/Steps/MaterialConstructionGraphStep.cs
  Content.Shared/Construction/Steps/ToolConstructionGraphStep.cs
  Content.Shared/Localizations/Localization.cs
  Resources/Locale/en-US/construction/conditions/airlock-bolted.ftl
  Resources/Locale/en-US/construction/conditions/all-wires-cut.ftl
  Resources/Locale/en-US/construction/conditions/any-conditions.ftl
  Resources/Locale/en-US/construction/conditions/door-welded.ftl
  Resources/Locale/en-US/construction/conditions/empty-or-window-valid-in-tile.ftl
  Resources/Locale/en-US/construction/conditions/entity-anchored.ftl
  Resources/Locale/en-US/construction/conditions/machine-frame-complete.ftl
  Resources/Locale/en-US/construction/conditions/no-windows-in-tile.ftl
  Resources/Locale/en-US/construction/conditions/tile-not-blocked.ftl
  Resources/Locale/en-US/construction/conditions/toilet-lid-closed.ftl
  Resources/Locale/en-US/construction/conditions/wallmount.ftl
  Resources/Locale/en-US/construction/conditions/wire-panel.ftl
  Resources/Locale/en-US/construction/ui/construction-menu-presenter.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/machine.yml
Labels: Type: Improvement

#5088 Add character names to round end screen and localize more of the strings
  Content.Server/GameTicking/Presets/PresetTraitor.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Priority: 3-Not Required, Type: Improvement, Difficulty: 1-Easy

#4560 Pneumatic cannons
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/PneumaticCannon/PneumaticCannonVisualizer.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/Components/ForcefeedOnCollideComponent.cs
  Content.Server/Nutrition/EntitySystems/ForcefeedOnCollideSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonComponent.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Weapon/Ranged/Ammunition/Components/AmmoComponent.cs
  Content.Shared/PneumaticCannon/SharedPneumaticCannon.cs
  Resources/Audio/Effects/thunk.ogg
  Resources/Audio/Items/hiss.ogg
  Resources/Locale/en-US/pneumatic-cannon/pneumatic-cannon-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/pneumatic_cannon.yml
  Resources/Prototypes/Recipes/Crafting/bat.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/makeshifthandcuffs.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/piecannon.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/oxygen.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/pneumaticCannon.png
Labels: Type: Feature, Changes: Sprites

#5154 Bwoink is now accompanied by window attention request.
  Content.Client/Administration/BwoinkSystem.cs
Labels: Type: Feature

#5111 Stylesheets: Take advantage of Font stacking
  Content.Client/Resources/ResourceCacheExtensions.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Resources/Fonts/NotoSans/NotoSansSymbols-Bold.ttf
  Resources/Fonts/NotoSans/NotoSansSymbols-Regular.ttf
  Resources/Fonts/NotoSans/NotoSansSymbols2-Regular.ttf
Labels: Type: Feature, Size: 1-Tiny

#5146 Small bug fixes and tweaks on reagents and food/drinks content
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: Type: Cleanup, Status: Needs Review

#5159 Draw depth fixes.
  Content.Shared/DrawDepth/DrawDepth.cs
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
Labels: Type: Bug, Status: Needs Review

#5160 Stop pAIs from being able to wipe each other/do other odd things, pAIs name themselves after their owners
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/PAI/PAISystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Shared/PAI/PAIComponent.cs
  Content.Shared/PAI/PAIShared.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Resources/Locale/en-US/pai/pai-system.ftl
Labels: Type: Bug, Status: Needs Review

#5155 Adds UIs for volume and pressure pumps
  Content.Client/Atmos/UI/GasPressurePumpBoundUserInterface.cs
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml.cs
  Content.Client/Atmos/UI/GasVolumePumpBoundUserInterface.cs
  Content.Client/Atmos/UI/GasVolumePumpWindow.xaml
  Content.Client/Atmos/UI/GasVolumePumpWindow.xaml.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Shared/Atmos/Piping/Binary/Components/SharedGasPressurePumpComponent.cs
  Content.Shared/Atmos/Piping/Binary/Components/SharedGasVolumePumpComponent.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: Type: Feature, Changes: UI, Status: Needs Review

#5148 Verb invocation command
  Content.Server/Verbs/Commands/InvokeVerbCommand.cs
  Content.Server/Verbs/Commands/ListVerbsCommand.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/VerbEvents.cs
  Resources/Locale/en-US/verbs/invoke-verb-command.ftl
  Resources/Locale/en-US/verbs/list-verbs-command.ftl
Labels: Type: Feature, Status: Needs Review

#5179 Fixes bullet rotation
  Content.Server/Weapon/Ranged/Barrels/Components/ServerRangedBarrelComponent.cs
Labels: Type: Bug, Status: Needs Review

#4961 Add test pooling
  Content.IntegrationTests/ContentIntegrationTest.cs
  Content.IntegrationTests/ContentIntegrationTestSetup.cs
  Content.IntegrationTests/Tests/AI/BehaviorSetsTest.cs
  Content.IntegrationTests/Tests/Access/AccessReaderTest.cs
  Content.IntegrationTests/Tests/Atmos/ConstantsTest.cs
  Content.IntegrationTests/Tests/Atmos/GasMixtureTest.cs
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Body/MechanismBehaviorEventsTest.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.IntegrationTests/Tests/Commands/RejuvenateTest.cs
  Content.IntegrationTests/Tests/Construction/ConstructionActionValid.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.IntegrationTests/Tests/DeleteInventoryTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageGroupTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageTypeTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDestructionTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleThresholdActivationTest.cs
  Content.IntegrationTests/Tests/Destructible/TestDestructibleListenerSystem.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterServerTest.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/HandCuffTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/ActionsComponentTests.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/GridTileLookupTest.cs
  Content.IntegrationTests/Tests/HumanInventoryUniformSlotsTest.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.IntegrationTests/Tests/Interaction/InRangeUnobstructed.cs
  Content.IntegrationTests/Tests/InventoryHelpersTest.cs
  Content.IntegrationTests/Tests/Kitchen/KitchenTest.cs
  Content.IntegrationTests/Tests/Lobby/CharacterCreationTest.cs
  Content.IntegrationTests/Tests/Networking/ConnectTest.cs
  Content.IntegrationTests/Tests/Pathfinding/PathfindingChunkTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Content.IntegrationTests/Tests/Solutions/ReagentDispenserTest.cs
  Content.IntegrationTests/Tests/StartTest.cs
  Content.IntegrationTests/Tests/StationEvents/StationEventsSystemTest.cs
  Content.IntegrationTests/Tests/StorageFillTest.cs
  Content.IntegrationTests/Tests/Tag/TagTest.cs
  Content.IntegrationTests/Tests/Utility/EntitySystemExtensionsTest.cs
  Content.IntegrationTests/Tests/Utility/EntityWhitelistTest.cs
  Content.IntegrationTests/Tests/VendingMachineTest.cs
  Content.Server/AI/Pathfinding/ServerPathfindingDebugSystem.cs
  Content.Server/Solar/Components/SolarPanelComponent.cs
  Content.Server/Solar/EntitySystems/PowerSolarSystem.cs
Labels: Type: Performance

#5195 Directional windows
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Textures/Structures/Windows/directional.rsi/frosted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/meta.json
  Resources/Textures/Structures/Windows/directional.rsi/plasma_reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/plasma_window.png
  Resources/Textures/Structures/Windows/directional.rsi/reinforced_window.png
  Resources/Textures/Structures/Windows/directional.rsi/tinted_window.png
  Resources/Textures/Structures/Windows/directional.rsi/window.png
Labels: Type: Feature, No C#, Changes: Sprites, Status: Needs Review

#5141 Pulling rotation adjustment, newton's third law, entitycoordinates for moveto
  Content.Server/Physics/Controllers/PullController.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: Type: Improvement, Type: Discussion, Status: Needs Review

#4954 Fix & extend add reagent verb
  Content.Client/Administration/UI/AdminAddReagentUI.cs
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsEui.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Administration/Commands/AddReagent.cs
  Content.Server/Administration/UI/AdminAddReagentEui.cs
  Content.Server/Administration/UI/EditSolutionsEui.cs
  Content.Server/Body/Metabolism/MetabolizerSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Administration/AdminAddReagentEuiState.cs
  Content.Shared/Administration/EditSolutionsEuiState.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
  Resources/Locale/en-US/administration/ui/admin-add-reagent-eui.ftl
  Resources/Locale/en-US/administration/ui/manage-solutions/add-reagent.ftl
  Resources/Locale/en-US/administration/ui/manage-solutions/manage-solutions.ftl
  Resources/Locale/en-US/administration/verbs/admin-add-reagent-verb.ftl
  Resources/Locale/en-US/administration/verbs/delete-verb.ftl
  Resources/Locale/en-US/administration/verbs/explode-verb.ftl
Labels: Type: Bug, Type: Improvement, Changes: UI

#5212 Remove IMoveSpeedModifier in favor of events
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Client/Inventory/ClientInventoryComponent.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Nutrition/Components/HungerComponent.cs
  Content.Client/Nutrition/Components/ThirstComponent.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Inventory/Components/InventoryComponent.cs
  Content.Server/Inventory/InventorySystem.cs
  Content.Server/Nutrition/Components/HungerComponent.cs
  Content.Server/Nutrition/Components/ThirstComponent.cs
  Content.Server/Stunnable/StunOnCollideSystem.cs
  Content.Shared/Chemistry/Components/MovespeedModifierMetabolismComponent.cs
  Content.Shared/Chemistry/MetabolismMovespeedModifierSystem.cs
  Content.Shared/Clothing/SharedMagbootsComponent.cs
  Content.Shared/Inventory/SharedInventoryComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/EntitySystems/MovementSpeedModifierSystem.cs
  Content.Shared/Nutrition/Components/SharedHungerComponent.cs
  Content.Shared/Nutrition/Components/SharedThirstComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedHungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedThirstSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/SlowedDownComponent.cs
Labels: Type: Refactor, Status: Needs Review

#5216 Disable client test instance pooling
  Content.IntegrationTests/ContentIntegrationTest.cs
Labels: Type: Bug

#5218 Remove IHandsComponent and ISharedHandsComponent
  Content.Client/Hands/HandsComponent.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/HandCuffTest.cs
  Content.IntegrationTests/Tests/PDA/PDAExtensionsTests.cs
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/AME/Components/AMEPartComponent.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Components/IHandsComponent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Morgue/Components/BodyBagEntityStorageComponent.cs
  Content.Server/PDA/PDAExtensions.cs
  Content.Server/Storage/Components/SecretStashComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Server/WireHacking/WiresComponent.cs
  Content.Shared/Hands/Components/ISharedHandsComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Strip/Components/SharedStrippableComponent.cs
Labels: Type: Refactor

#5219 Remove BodyDamageChangeParams and IBodyHealthChangeParams
  Content.Server/Body/BodyManagerHealthChangeParams.cs
Labels: Type: Refactor

#5157 Metabolism 3.0
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Body/Metabolism/MetabolizerComponent.cs
  Content.Server/Body/Metabolism/MetabolizerSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustHealth.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustMutationLevel.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustMutationMod.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustNutrition.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustPests.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustToxins.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustWater.cs
  Content.Server/Chemistry/PlantMetabolism/AdjustWeeds.cs
  Content.Server/Chemistry/PlantMetabolism/AffectGrowth.cs
  Content.Server/Chemistry/ReagentEffectConditions/OrganType.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustAttribute.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustHealth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationLevel.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationMod.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustNutrition.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWater.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAffectGrowth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantClonexadone.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Shared/Body/Metabolism/MetabolismGroupPrototype.cs
  Content.Shared/Body/Metabolism/MetabolizerTypePrototype.cs
  Content.Shared/Botany/IPlantMetabolizable.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/StatusEffect/StatusEffectsComponent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/Metabolism/metabolism_groups.yml
  Resources/Prototypes/Reagents/Metabolism/metabolizer_types.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
Labels: Type: Improvement, Type: Cleanup, Status: Needs Review

#5222 Makes Anchorable ECS.
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/Construction/Components/AnchorableComponent.cs
Labels: Type: Refactor

#5240 Remove most IEntity usages from explosions
  Content.Server/AME/AMENodeGroup.cs
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Administration/Commands/ExplosionCommand.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/ChangeConstructionNodeBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/DoActsBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/DumpCanisterBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
  Content.Server/Destructible/Thresholds/Behaviors/ExplodeBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/GibBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/IThresholdBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/PlaySoundBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Server/Destructible/Thresholds/DamageThreshold.cs
  Content.Server/Explosion/Components/ClusterFlashComponent.cs
  Content.Server/Explosion/Components/DeleteOnTriggerComponent.cs
  Content.Server/Explosion/Components/ExplosionLaunchedComponent.cs
  Content.Server/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Server/Explosion/Components/SoundOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/MachineLinking/System/TriggerOnSignalReceivedSystem.cs
  Content.Server/Pointing/EntitySystems/RoguePointingSystem.cs
  Content.Server/PowerCell/Components/PowerCellComponent.cs
  Content.Shared/Acts/ActSystem.cs
Labels: Type: Refactor

#5248 Remove some unused mechanism behaviors
  Content.Server/Body/Behavior/HeartBehavior.cs
  Content.Server/Body/Behavior/LiverBehavior.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
Labels: Type: Cleanup, Size: 1-Tiny

#5247 Maps in hand labelers
  Resources/Maps/saltern.yml
Labels: Type: Feature, Changes: Map, Status: Needs Review

#5244 Movespeed affected by damage
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Damage/Components/SlowOnDamageComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Type: Feature, Status: Needs Review, Type: Balance

#5246 Metabolism tweaks / metabolism 4.0
  Content.Server/Body/Metabolism/MetabolizerComponent.cs
  Content.Server/Body/Metabolism/MetabolizerSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Chemistry/ReagentEffectConditions/OrganType.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/AddToSolutionReaction.cs
  Content.Server/Chemistry/ReagentEffects/ExtinguishReaction.cs
  Content.Server/Chemistry/ReagentEffects/FlammableReaction.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustHealth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationLevel.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationMod.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustNutrition.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWater.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAffectGrowth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantClonexadone.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Server/Chemistry/ReagentEffects/WashCreamPieReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/AddToSolutionReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/ExtinguishReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/FlammableReaction.cs
  Content.Server/Chemistry/ReagentEntityReactions/WashCreamPieReaction.cs
  Content.Shared/Chemistry/ChemistrySystem.cs
  Content.Shared/Chemistry/Reaction/ReactiveComponent.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentEntityReaction.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Entities/Structures/soil.yml
Labels: Type: Bug, Type: Feature, Status: Needs Review

#5095 refactors adminmenu a timid amount
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/AdminSystem.Menu.cs
  Content.Client/Administration/AdminSystem.Overlay.cs
  Content.Client/Administration/AdminSystem.cs
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Administration/AdminSystem.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Shared/Administration/Events/FullPlayerListEvent.cs
  Content.Shared/Administration/Events/PlayerInfoChangedEvent.cs
  Content.Shared/Administration/Events/PlayerInfoRemovalMessage.cs
  Content.Shared/Administration/Menu/AdminMenuPlayerListMessage.cs
  Content.Shared/Administration/Menu/AdminMenuPlayerListRequest.cs
  Content.Shared/Administration/PlayerInfo.cs
Labels: Changes: UI, Type: Refactor, Status: Needs Review

#5123 Cargo: pizza & bureaucracy
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Labels/UI/HandLabelerBoundUserInterface.cs
  Content.Client/Labels/UI/HandLabelerWindow.xaml
  Content.Client/Labels/UI/HandLabelerWindow.xaml.cs
  Content.Client/Morgue/Visualizers/BodyBagVisualizer.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Cargo/CargoConsoleSystem.cs
  Content.Server/Cargo/CargoOrderDatabase.cs
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Content.Server/HandLabeler/LabelSystem.cs
  Content.Server/Labels/Label/Components/HandLabelerComponent.cs
  Content.Server/Labels/Label/Components/LabelComponent.cs
  Content.Server/Labels/Label/Components/PaperLabelComponent.cs
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Morgue/Components/BodyBagEntityStorageComponent.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Labels/LabelEvents.cs
  Content.Shared/Morgue/SharedMorgue.cs
  Resources/Locale/en-US/cargo/components/cargo-console-component.ftl
  Resources/Locale/en-US/label/paper-label-component.ftl
  Resources/Locale/en-US/morgue/components/body-bag-entity-storage-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base.yml
Labels: Type: Feature, Changes: UI, Status: Needs Review

#5217 Keybinds: enable "tab complete" in SCSI
  Resources/keybinds.yml
Labels: Type: Improvement

#5147 Alert the user if nobody's around to hear a bwoink
  Content.Server/Administration/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
  Resources/Locale/en-US/administration/bwoink.ftl
Labels: Type: Feature, Changes: UI, Status: Awaiting Changes

#5174 Fix for death timer resetting after returning to body.
  Content.Server/Body/BodySystem.cs
  Content.Server/GameTicking/Presets/GamePreset.cs
  Content.Server/Mind/Mind.cs
Labels: Type: Bug

#5267 Merge player database models
  Content.Server.Database/Model.cs
  Content.Server.Database/ModelPostgres.cs
  Content.Server.Database/ModelSqlite.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
Labels: Type: Refactor

#5165 Adds a UI for gas mixers
  Content.Client/Atmos/UI/GasMixerBoundUserInteface.cs
  Content.Client/Atmos/UI/GasMixerWindow.xaml
  Content.Client/Atmos/UI/GasMixerWindow.xaml.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Shared/Atmos/Piping/Trinary/Components/SharedGasMixerComponent.cs
  Resources/Locale/en-US/components/gas-filter-component.ftl
  Resources/Locale/en-US/components/gas-mixer-component.ftl
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Type: Feature, Changes: UI, Status: Needs Review

#5277 Flipped mixers/filters + proper mixer sprite
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Textures/Structures/Piping/Atmospherics/gasfilter.rsi/gasFilter.png
  Resources/Textures/Structures/Piping/Atmospherics/gasfilter.rsi/gasFilterF.png
  Resources/Textures/Structures/Piping/Atmospherics/gasfilter.rsi/gasFilterFOn.png
  Resources/Textures/Structures/Piping/Atmospherics/gasfilter.rsi/gasFilterOn.png
  Resources/Textures/Structures/Piping/Atmospherics/gasfilter.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/gasmixer.rsi/gasMixer.png
  Resources/Textures/Structures/Piping/Atmospherics/gasmixer.rsi/gasMixerF.png
  Resources/Textures/Structures/Piping/Atmospherics/gasmixer.rsi/gasMixerFOn.png
  Resources/Textures/Structures/Piping/Atmospherics/gasmixer.rsi/gasMixerOn.png
  Resources/Textures/Structures/Piping/Atmospherics/gasmixer.rsi/meta.json
Labels: Type: Feature, Changes: Sprites, Status: Needs Review

#5278 Map vote & forcemap command
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Shared/Voting/StandardVoteType.cs
  Resources/Locale/en-US/game-ticking/forcemap-command.ftl
  Resources/Locale/en-US/voting/managers/vote-manager.ftl
  Resources/Locale/en-US/voting/ui/vote-call-menu.ftl
Labels: Status: DO NOT MERGE, Type: Feature, Status: Needs Review

#5282 PACKED STATION
  Resources/Maps/packedstation.yml
Labels: Priority: 1-Urgent, Type: Feature, Holy Shit, Changes: Map

#5279 Maps docking airlocks onto saltern
  Content.Server/Shuttles/DockingSystem.cs
  Resources/Locale/en-US/shuttles/docking.ftl
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: Type: Feature, Changes: Map

#5132 Add some animals basic mechanics
  Content.Server/Climbing/Components/ClimbingComponent.cs
  Content.Server/Temperature/Components/HeatResistanceComponent.cs
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Presets/animal.yml
  Resources/Prototypes/Body/Presets/primate.yml
  Resources/Prototypes/Body/Templates/animal.yml
  Resources/Prototypes/Body/Templates/primate.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Reagents/Metabolism/metabolizer_types.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Textures/Mobs/Animals/chicken.rsi/chicken-0.png
  Resources/Textures/Mobs/Animals/chicken.rsi/dead-0.png
  Resources/Textures/Mobs/Animals/chicken.rsi/icon-0.png
  Resources/Textures/Mobs/Animals/crab.rsi/crab.png
  Resources/Textures/Mobs/Animals/crab.rsi/dead.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/crawling.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/dead.png
  Resources/Textures/Mobs/Animals/gorilla.rsi/icon.png
  Resources/Textures/Mobs/Animals/mouse.rsi/dead-0.png
  Resources/Textures/Mobs/Animals/mouse.rsi/dead-1.png
  Resources/Textures/Mobs/Animals/mouse.rsi/dead-2.png
  Resources/Textures/Mobs/Animals/mouse.rsi/icon-0.png
  Resources/Textures/Mobs/Animals/mouse.rsi/icon-1.png
  Resources/Textures/Mobs/Animals/mouse.rsi/icon-2.png
  Resources/Textures/Mobs/Animals/mouse.rsi/mouse-0.png
  Resources/Textures/Mobs/Animals/mouse.rsi/mouse-1.png
  Resources/Textures/Mobs/Animals/mouse.rsi/mouse-2.png
  Resources/Textures/Mobs/Animals/mouse.rsi/splat-0.png
  Resources/Textures/Mobs/Animals/mouse.rsi/splat-1.png
  Resources/Textures/Mobs/Animals/mouse.rsi/splat-2.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat2.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat2_dead.png
  Resources/Textures/Mobs/Pets/cat.rsi/cat_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/corgi.png
  Resources/Textures/Mobs/Pets/corgi.rsi/corgi_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/ian.png
  Resources/Textures/Mobs/Pets/corgi.rsi/ian_dead.png
  Resources/Textures/Mobs/Pets/sloth.rsi/sloth.png
  Resources/Textures/Mobs/Pets/sloth.rsi/sloth_dead.png
Labels: Type: Feature, Changes: Sprites, Status: Needs Review

#5281 Turn brain behavior into a component/system
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Body/Behavior/BrainBehavior.cs
  Content.Server/Body/Components/BrainComponent.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Shared/Body/Components/SharedMechanismComponent.cs
  Content.Shared/Body/Events/MechanismBodyEvents.cs
  Resources/Prototypes/Body/Mechanisms/human.yml
Labels: Type: Refactor, Status: Needs Review

#5330 Fix infinite loop in explosions
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
Labels: Type: Bug

#5175 Ghost roles create new minds, better tracking of roles at round end screen
  Content.Client/Administration/UI/Tabs/RoundTab.xaml
  Content.IntegrationTests/Tests/MindEntityDeletionTest.cs
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Administration/Commands/AGhost.cs
  Content.Server/Administration/Commands/ControlMob.cs
  Content.Server/Administration/Commands/SetMindCommand.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/GameTicking/Commands/RestartRoundCommand.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Presets/GamePreset.cs
  Content.Server/Ghost/ObserverRole.cs
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Ghost/Roles/Components/GhostTakeoverAvailableComponent.cs
  Content.Server/Ghost/Roles/GhostRoleMarkerRole.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Mind/Components/MindComponent.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Mind/MindTrackerSystem.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Players/PlayerData.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/administration/ui/tabs/round-tab.ftl
  Resources/Locale/en-US/ghost/observer-role.ftl
Labels: Type: Bug

#5386 Plays a little ding when a vote gets called.
  Content.Client/Voting/VoteManager.cs
  Resources/Audio/Effects/license.txt
  Resources/Audio/Effects/voteding.ogg
Labels: Status: Awaiting Changes

#5396 Severely nerf fires and severely buff fire protection
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Atmos/Components/BarotraumaComponent.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/Components/TemperatureProtectionComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Inventory/InventorySystem.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Clothing/Head/base.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
Labels: Type: Bug, Status: Needs Review, Type: Balance, Bug of the Year 2021 Candidate

#4933 Rejigging Item slots
  Content.IntegrationTests/Tests/InventoryHelpersTest.cs
  Content.IntegrationTests/Tests/PDA/PDAExtensionsTests.cs
  Content.IntegrationTests/Tests/Utility/EntityWhitelistTest.cs
  Content.Server/Cabinet/ItemCabinetComponent.cs
  Content.Server/Cabinet/ItemCabinetSystem.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Content.Server/Labels/Label/Components/PaperLabelComponent.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/PDA/PDAComponent.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/Sandbox/SandboxManager.cs
  Content.Shared/Containers/ItemSlot/ItemSlotEvents.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Containers/ItemSlot/SharedItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/SharedItemSlotsSystem.cs
  Resources/Locale/en-US/containers/item-slots-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
  Resources/Textures/Interface/VerbIcons/drop.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/drop.svg.192dpi.png.yml
Labels: Type: Discussion, Type: Refactor, Status: Needs Review

#5349 Adds metabolism effects to pretty much every chem already in the game
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/ReagentEffectConditions/BodyTemperature.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffectConditions/TotalDamage.cs
  Content.Server/Chemistry/ReagentEffects/AdjustTemperature.cs
  Content.Server/Chemistry/ReagentEffects/PopupMessage.cs
  Content.Server/Chemistry/ReagentEffects/RemoveReagent.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/GenericStatusEffect.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/Jitter.cs
  Content.Shared/Chemistry/ChemistrySystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Resources/Locale/en-US/reagents/ephedrine.ftl
  Resources/Locale/en-US/reagents/generic.ftl
  Resources/Locale/en-US/reagents/histamine.ftl
  Resources/Locale/en-US/reagents/leporazine.ftl
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/Metabolism/metabolism_groups.yml
  Resources/Prototypes/Metabolism/metabolizer_types.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/status_effects.yml
Labels: Type: Feature, Status: Needs Review

#5424 Fixes ActivateItemInWorld working with things outside your container
  Content.Server/Interaction/InteractionSystem.cs
Labels: Type: Bug, Size: Very Small

#5426 Refactor reaction effects to use reagent effects
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemicalReactionSystem.cs
  Content.Server/Chemistry/ReactionEffects/AreaReactionEffect.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/AddToSolutionReaction.cs
  Content.Server/Chemistry/ReagentEffects/AdjustTemperature.cs
  Content.Server/Chemistry/ReagentEffects/ExtinguishReaction.cs
  Content.Server/Chemistry/ReagentEffects/FlammableReaction.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustHealth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationLevel.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustMutationMod.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustNutrition.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustPests.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustToxins.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWater.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWeeds.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAffectGrowth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantClonexadone.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
  Content.Server/Chemistry/ReagentEffects/PopupMessage.cs
  Content.Server/Chemistry/ReagentEffects/RemoveReagent.cs
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/GenericStatusEffect.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/Jitter.cs
  Content.Server/Chemistry/ReagentEffects/WashCreamPieReaction.cs
  Content.Shared/Chemistry/ChemistrySystem.cs
  Content.Shared/Chemistry/Reaction/IReactionEffect.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Type: Refactor, Status: Needs Review

#5380 Moved Food and Utensil to ECS
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/Components/SliceableFoodComponent.cs
  Content.Server/Nutrition/Components/UtensilComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/ForcefeedOnCollideSystem.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Resources/Locale/en-US/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: Status: Awaiting Changes

#5416 Restrict examine/context-menu usage when incapacitated.
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Type: Bug

#5439 Fix ItemSlots error
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Type: Bug, Size: Very Small

#5440 Fix Livestock crate error.
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Type: Bug, Size: Very Small

#5447 Fix solution area effect bullshit
  Content.Server/Chemistry/Components/FoamSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/SmokeSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/ReactionEffects/AreaReactionEffect.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#5445 Reduce default metabolism rate from 1 to 0.5
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Type: Discussion, Size: Very Small, Status: Needs Review, Type: Balance

#5443 Reactive 3.0
  Content.Server/Chemistry/Components/SmokeSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/Reaction/ReactiveComponent.cs
  Content.Shared/Chemistry/Reaction/ReactiveGroupPrototype.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Chemistry/metabolism_groups.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Chemistry/reactive_groups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Type: Refactor, Status: Needs Review

#5464 carpet
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Chemistry/TileReactions/CreateEntityReaction.cs
  Content.Server/Fluids/Components/SpillExtensions.cs
  Resources/Locale/en-US/reagents/carpetium.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/base.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base.yml
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/tags.yml
Labels: Type: Feature, Status: Needs Review

#5463 Reaction & reagent effect logging
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemicalReactionSystem.cs
  Content.Shared/Administration/Logs/LogImpact.cs
  Content.Shared/Administration/Logs/LogType.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/cleaning.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Type: Improvement, Status: Needs Review

#5444 Epinephrine + epipen
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualizer.cs
  Content.Server/Chemistry/Components/HyposprayComponent.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/AdjustReagent.cs
  Content.Shared/Chemistry/Components/SharedHyposprayComponent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/atropen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/atropen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/firstaid.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/firstaid_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/hypovolemic.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/hypovolemic_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/medipen-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/medipen-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/medipen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/medipen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/morphen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/morphen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/oxapen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/oxapen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/penacid.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/penacid_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salacid.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salacid_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/salpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/stimpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/stimpen_empty.png
Labels: Type: Feature, Changes: Sprites, Status: Needs Review

#5404 Removed Old PlayerSession Functions
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.IntegrationTests/Tests/Commands/PardonCommand.cs
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/ActionsComponentTests.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.IntegrationTests/Tests/MindEntityDeletionTest.cs
  Content.IntegrationTests/Tests/Networking/ConnectTest.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.IntegrationTests/Tests/PDA/PDAExtensionsTests.cs
  Content.Server/AI/WorldState/States/Mobs/NearbyPlayersState.cs
  Content.Server/Administration/AdminSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/GameTicking/GameTicker.Updates.cs
  Content.Server/GameTicking/Presets/PresetTraitorDeathMatch.cs
  Content.Server/GameTicking/Rules/RuleDeathMatch.cs
  Content.Server/GameTicking/Rules/RuleSuspicion.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Pointing/EntitySystems/RoguePointingSystem.cs
  Content.Server/Popups/PopupExtensions.cs
  Content.Server/Suspicion/EntitySystems/SuspicionEndTimerSystem.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
Labels: Complementary Engine PR, Type: Refactor, Type: Cleanup

#5473 Add "Slicing" tool quality to knives.
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/tool_qualities.yml
Labels: Size: Very Small

#5184 Activatable UI component
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Atmos/Components/BaseComputerUserInterfaceComponent.cs
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Computer/ComputerUIActivatorSystem.cs
  Content.Server/Construction/Conditions/WirePanel.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Objectives/Conditions/StealCondition.cs
  Content.Server/Power/Components/ActivatableUIRequiresPowerComponent.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Solar/Components/SolarControlConsoleComponent.cs
  Content.Server/Solar/EntitySystems/PowerSolarControlConsoleSystem.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Type: Improvement, Changes: UI, Status: Awaiting Changes

#5063 Shared/Localizations: Add translatable Units formatting
  Content.Shared/Localizations/Localization.cs
  Content.Shared/Localizations/Units.cs
  Resources/Locale/en-US/_units.ftl
Labels: Type: Feature, Status: Needs Review

#5501 Fix item slots spawning entities on startup instead of map init
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Prototypes/Entities/Structures/Dispensers/base.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: Type: Bug, Size: Very Small

#5502 Adds open icon for tonic water
  Resources/Textures/Objects/Consumable/Drinks/tonic.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/tonic.rsi/meta.json
Labels: Size: Very Small

#5498 Fix disposals trapping you for eternity when leaving via a trunk pipe
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
Labels: Type: Bug, Size: Very Small

#5497 Fix 0/0 in split solution.
  Content.Shared/Chemistry/Components/Solution.cs
Labels: Type: Bug, Size: Very Small

#5492 Fix Breaking Bottles
  Resources/Prototypes/Entities/Objects/Consumable/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
Labels: Status: Awaiting Changes

#5437 Adds Chemist Role
  Resources/Maps/packedstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/AccessLevels/medical.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/Starter Gear/duffelbag.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
Labels: Status: Awaiting Changes

#5105 New Guns (hopefully no conflicts this time)
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/svalinn.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Revolvers/predator.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/predator.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/predator.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/predator.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/suppressor.png
Labels: Type: Improvement, No C#

#5523 Fix some BUIs not closing properly
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Chemistry/UI/TransferAmountBoundUserInterface.cs
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Research/UI/ResearchClientBoundUserInterface.cs
Labels: Type: Bug, Size: Very Small

#5527 fix context menu bugs
  Content.Client/Administration/AdminVerbSystem.cs
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenterGrouping.cs
Labels: Type: Bug, Size: Very Small

#5547 Add cheese & dough reactions
  Content.IntegrationTests/Tests/Kitchen/KitchenTest.cs
  Content.Server/Chemistry/ReactionEffects/CreateEntityReactionEffect.cs
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: Type: Feature

#5510 owo
  Content.Server/Administration/Commands/OwoifyCommand.cs
  Content.Server/Speech/EntitySystems/OwOAccentSystem.cs
Labels: Priority: 1-Urgent, Type: Feature, Holy Shit

#5466 Acid effects
  Content.Server/Chemistry/Components/SolutionAreaEffectInceptionComponent.cs
  Content.Server/Chemistry/ReagentEffects/DoAction.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Resources/Prototypes/Chemistry/reactive_groups.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Type: Feature, Status: Needs Review

#5572 Log a lot less reagent effects
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/ReactionEffects/AreaReactionEffect.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Chemistry/ReagentEffects/Electrocute.cs
  Content.Server/Chemistry/ReagentEffects/FlammableReaction.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Type: Cleanup, Status: Needs Review

#5516 Make instruments ECS
  Content.Client/Instruments/InstrumentComponent.cs
  Content.Client/Instruments/InstrumentSystem.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.CVars.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Shared/Instruments/SharedInstrumentComponent.cs
  Content.Shared/Instruments/SharedInstrumentSystem.cs
Labels: Type: Refactor

#5509 Add lathe circuit board recipes to protolathe
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Type: Feature

#5583 Change deconstruct verb accessibility
  Content.Shared/Verbs/VerbEvents.cs
Labels: Status: Awaiting Changes

#5470 Add test for cargo products
  Content.Shared/Cargo/CargoProductPrototype.cs
  Content.Shared/Cargo/Components/SharedGalacticMarketComponent.cs
Labels: Type: Improvement

#5512 Enable verbs for items in storage and prevent orphaned nested UIs
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
  Content.Client/Interactable/InteractionSystem.cs
  Content.Client/Storage/ClientStorageComponent.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Item/ItemSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/VerbEvents.cs
Labels: Type: Improvement

#5603 Split Respirator into ThermalRegulator and Respirator and ECSes both
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.Server/Administration/Commands/AddBodyPartCommand.cs
  Content.Server/Administration/Commands/AddEntityStorageCommand.cs
  Content.Server/Administration/Commands/AddMechanismCommand.cs
  Content.Server/Administration/Commands/RemoveBodyPartCommand.cs
  Content.Server/Administration/Commands/RemoveEntityStorageCommand.cs
  Content.Server/Administration/Commands/RemoveMechanismCommand.cs
  Content.Server/Body/Commands/AttachBodyPartCommand.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Components/BodyPartComponent.cs
  Content.Server/Body/Components/BodyScannerComponent.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Components/RespiratorSystem.cs
  Content.Server/Body/Components/ThermalRegulatorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Body/Systems/ThermalRegulatorSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Type: Cleanup, Status: Needs Review

#5575 The Pyro Update
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/Chemistry/ReagentEffects/CreateGas.cs
  Content.Server/Chemistry/ReagentEffects/FlammableReaction.cs
  Content.Server/Chemistry/ReagentEffects/Ignite.cs
  Content.Server/Chemistry/TileReactions/PryTileReaction.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Resources/Locale/en-US/reagents/clf3.ftl
  Resources/Locale/en-US/reagents/phlogiston.ftl
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: Type: Feature, Status: Needs Review

#5613 Misc Atmos Improvements
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Superconductivity.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/space.yml
Labels: Type: Improvement

#4998 Adds gamer flare to the game.
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Shared/Light/Component/RgbLightControllerComponent.cs
Labels: Type: Feature, Status: Awaiting Changes

#5629 ECS BloodstreamComponent
  Content.Server/Body/Behavior/LungBehavior.cs
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Chemistry/Components/FoamSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/Components/SmokeSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Shared/Body/Components/SharedBloodstreamComponent.cs
Labels: Type: Refactor, Status: Needs Review
