Repository space-wizards/space-station-14, pull requests merged in 2021-01, with the labels that each got.

#2901 Adds DSay command
  Content.Server/Administration/Commands/DSay.cs
  Content.Server/Chat/ChatManager.cs
  Content.Server/Interfaces/Chat/IChatManager.cs
Labels: Type: Feature

#2894 Fix some of the build
  Content.Server/GameObjects/Components/NodeContainer/NodeGroups/ApcNetNodeGroup.cs
  Content.Tests/Server/Preferences/ServerDbSqliteTests.cs
Labels: Type: Bug

#2955 Makes lightbulbs destructible
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/LightBulbComponent.cs
  Resources/Prototypes/Entities/Constructible/Walls/windows.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/SoundCollections/glassbreak.yml
Labels: Resources (No code), Type: Cleanup

#2950 Adds disarm action
  Content.Client/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Server/Actions/DisarmAction.cs
  Content.Server/GameObjects/Components/GUI/HandsComponent.cs
  Content.Server/GameObjects/Components/Mobs/StunnableComponent.cs
  Content.Server/GameObjects/EntitySystems/MeleeWeaponSystem.cs
  Content.Server/Interfaces/GameObjects/IDisarmedAct.cs
  Content.Shared/Actions/ActionType.cs
  Content.Shared/GameObjects/EntitySystemMessages/MeleeWeaponSystemMessages.cs
  Resources/Prototypes/Actions/actions.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Textures/Interface/Actions/disarm.png
  Resources/Textures/Interface/Actions/meta.json
Labels: Feature: Entities

#2940 Random bedsheet spawner.
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Effects/Markers/bedsheet_spawner.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/Clothing/Neck/Bedsheets/NT.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/USA.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/black.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/blue.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/brown.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/captain.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/ce.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/centcom.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/clown.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Bedsheets/clown.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Bedsheets/clown.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/cmo.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/green.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/grey.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/hop.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/hos.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/ian.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/medical.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/mime.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/orange.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/purple.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/qm.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/rainbow.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/rd.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/red.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/syndie.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/white.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/yellow.rsi/meta.json
  Resources/Textures/Objects/Misc/bedsheets.rsi/meta.json
Labels: Map Changes

#2863 Alert polish and brushup
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/Pull/pulled.png
  Resources/Textures/Interface/Alerts/Weightless/weightless.png
Labels: Resources (No code)

#2934 Lockers and flavortext
  Resources/Prototypes/Catalog/Fills/lockers.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Resources (No code)

#2712 Clusterbang
  Content.Client/GameObjects/Components/Explosion/ClusterFlashVisualizer.cs
  Content.Server/GameObjects/Components/Explosion/ClusterFlashComponent.cs
  Content.Server/GameObjects/Components/Explosion/FlashExplosiveComponent.cs
  Content.Server/GameObjects/Components/Projectiles/ThrownItemComponent.cs
  Content.Server/GameObjects/Components/Trigger/TimerTrigger/OnUseTimerTriggerComponent.cs
  Content.Shared/GameObjects/Components/Explosion/SharedClusterFlashComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Explosives/clusterbang.yml
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-0.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-1.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-2.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/base-3.png
  Resources/Textures/Objects/Weapons/Grenades/clusterbang.rsi/meta.json
Labels: Feature: Entities, Type: Feature
