Repository space-wizards/space-station-14, pull requests merged in 2021-02, with the labels that each got.

#2761 Add tag component and test
  Content.Client/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Tag/TagTest.cs
  Content.Server/GameObjects/Components/Tag/TagComponent.cs
  Content.Server/GameObjects/Components/Tag/TagComponentExtensions.cs
  Content.Shared/Prototypes/Tag/TagPrototype.cs
Labels: Type: Feature

#3076 Move TagComponent from server to shared
  Content.Client/IgnoredComponents.cs
  Content.IntegrationTests/Tests/Tag/TagTest.cs
  Content.Shared/GameObjects/Components/Tag/TagComponent.cs
  Content.Shared/GameObjects/Components/Tag/TagComponentExtensions.cs
  Content.Shared/GameObjects/Components/Tag/TagComponentState.cs
  Content.Shared/GameObjects/ContentNetIDs.cs
Labels: Type: Refactor

#2668 Deprecates stationstation.yml
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Resources/Maps/stationstation.yml
Labels: Map Changes

#3100 Fix being able to spill closed drink cans
  Content.Server/GameObjects/Components/Nutrition/DrinkComponent.cs
Labels: Type: Bug

#3094 Make integration tests use an empty map instead of saltern by default
  Content.IntegrationTests/ContentIntegrationTest.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Resources/Maps/Test/empty.yml
Labels: Project: Tests, Type: Improvement

#2644 Buildable wall light
  Content.Client/Placement/Modes/WallmountLight.cs
  Content.Server/GameObjects/Components/Power/ApcNetComponents/PowerReceiverUsers/PoweredLightComponent.cs
  Content.Shared/Construction/ConstructionConditions/WallmountCondition.cs
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Constructible/Walls/lighting.yml
  Resources/Prototypes/Entities/Constructible/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/lighting.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Constructible/Lighting/light_small.rsi/broken.png
  Resources/Textures/Constructible/Lighting/light_small.rsi/burned.png
  Resources/Textures/Constructible/Lighting/light_small.rsi/empty.png
  Resources/Textures/Constructible/Lighting/light_small.rsi/off.png
  Resources/Textures/Constructible/Lighting/light_small.rsi/on.png
Labels: Area: Constructionsystem, Type: Feature

#3185 Voting
  Content.Client/ClientContentIoC.cs
  Content.Client/EntryPoint.cs
  Content.Client/State/GameScreen.cs
  Content.Client/State/LauncherConnecting.cs
  Content.Client/State/LobbyState.cs
  Content.Client/UserInterface/EscapeMenu.xaml
  Content.Client/UserInterface/EscapeMenu.xaml.cs
  Content.Client/UserInterface/GameHud.cs
  Content.Client/UserInterface/LobbyGui.cs
  Content.Client/UserInterface/LobbyGui.xaml
  Content.Client/UserInterface/LobbyGui.xaml.cs
  Content.Client/UserInterface/Stylesheets/StyleBase.cs
  Content.Client/UserInterface/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/TopNotification.cs
  Content.Client/Voting/VoteCallMenu.xaml
  Content.Client/Voting/VoteCallMenu.xaml.cs
  Content.Client/Voting/VoteCallMenuButton.cs
  Content.Client/Voting/VoteManager.cs
  Content.Client/Voting/VotePopup.xaml
  Content.Client/Voting/VotePopup.xaml.cs
  Content.Server/EntryPoint.cs
  Content.Server/ServerContentIoC.cs
  Content.Server/Voting/IVoteHandle.cs
  Content.Server/Voting/IVoteManager.cs
  Content.Server/Voting/VoteCommands.cs
  Content.Server/Voting/VoteFinishedEventArgs.cs
  Content.Server/Voting/VoteFinishedEventHandler.cs
  Content.Server/Voting/VoteManager.DefaultVotes.cs
  Content.Server/Voting/VoteManager.cs
  Content.Server/Voting/VoteOptions.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Network/NetMessages/MsgVoteCanCall.cs
  Content.Shared/Network/NetMessages/MsgVoteData.cs
  Content.Shared/Utility/RemList.cs
Labels: Type: Feature

#3319 Content PR for YAML hot reloading
  Content.Server/Administration/AdminManager.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Server/Botany/Seed.cs
  Content.Server/GameObjects/Components/BarSign/BarSignPrototype.cs
  Content.Server/Holiday/HolidayPrototype.cs
  Content.Server/Objectives/ObjectivePrototype.cs
  Content.Shared/Access/AccessLevelPrototype.cs
  Content.Shared/Actions/BaseActionPrototype.cs
  Content.Shared/Administration/AdminData.cs
  Content.Shared/Alert/AlertOrderPrototype.cs
  Content.Shared/Alert/AlertPrototype.cs
  Content.Shared/Atmos/GasPrototype.cs
  Content.Shared/Audio/SoundCollectionPrototype.cs
  Content.Shared/Chemistry/ReactionPrototype.cs
  Content.Shared/Chemistry/ReagentPrototype.cs
  Content.Shared/Construction/ConstructionGraphPrototype.cs
  Content.Shared/Construction/ConstructionPrototype.cs
  Content.Shared/Damage/DamageContainer/DamageContainerPrototype.cs
  Content.Shared/Damage/ResistanceSet/ResistanceSetPrototype.cs
  Content.Shared/GameObjects/Components/Body/Preset/BodyPresetPrototype.cs
  Content.Shared/GameObjects/Components/Body/Template/BodyTemplatePrototype.cs
  Content.Shared/GameObjects/Components/Chemistry/ReagentDispenser/ReagentDispenserInventoryPrototype.cs
  Content.Shared/GameObjects/Components/SharedCrayonComponent.cs
  Content.Shared/GameObjects/Components/Weapons/Melee/MeleeWeaponAnimationPrototype.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Materials/Material.cs
  Content.Shared/Prototypes/Cargo/CargoProductPrototype.cs
  Content.Shared/Prototypes/DatasetPrototype.cs
  Content.Shared/Prototypes/Kitchen/MicrowaveMealRecipePrototype.cs
  Content.Shared/Prototypes/PDA/UplinkStoreListingPrototype.cs
  Content.Shared/Prototypes/Tag/TagPrototype.cs
  Content.Shared/Research/LatheRecipePrototype.cs
  Content.Shared/Research/TechnologyPrototype.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/StartingGearPrototype.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
  Content.Tests/Server/GameObjects/Components/Mobs/ServerAlertsComponentTests.cs
  Content.Tests/Shared/Alert/AlertManagerTests.cs
  Content.Tests/Shared/Alert/AlertOrderPrototypeTests.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Catalog/crayon_decals.yml
Labels: Status: Awaiting Engine PR

#3335 SpriteFix Compatibility
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/keybinds.yml
Labels: Type: Improvement

#3107 Construction UI MVP Experiment
  Content.Client/Construction/ConstructionMenu.xaml.cs
  Content.Client/Construction/ConstructionMenuPresenter.cs
  Content.Client/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Client/State/GameScreen.cs
Labels: Area: UI, Project: Client, Type: Refactor

#3386 Adds tag support to construction
  Content.Client/Construction/ConstructionMenuPresenter.cs
  Content.Server/GameObjects/Components/Construction/ConstructionComponent.cs
  Content.Server/GameObjects/EntitySystems/ConstructionSystem.cs
  Content.Shared/Construction/ArbitraryInsertConstructionGraphStep.cs
  Content.Shared/Construction/ComponentConstructionGraphStep.cs
  Content.Shared/Construction/ConstructionGraphEdge.cs
  Content.Shared/Construction/MultipleTagsConstructionGraphStep.cs
  Content.Shared/Construction/TagConstructionGraphStep.cs
  Resources/Locale/en-US/construction.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/firelock.yml
Labels: Area: Construction

#3387 Refactor stacks to use prototypes
  Content.Client/Construction/ConstructionMenuPresenter.cs
  Content.Server/Construction/StackHelpers.cs
  Content.Server/GameObjects/Components/Construction/MachineBoardComponent.cs
  Content.Server/GameObjects/Components/Construction/MachineFrameComponent.cs
  Content.Server/GameObjects/Components/Stack/StackComponent.cs
  Content.Shared/Construction/MaterialConstructionGraphStep.cs
  Content.Shared/GameObjects/Components/SharedStackComponent.cs
  Content.Shared/Stacks/StackPrototype.cs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Misc/material_stacks.yml
  Resources/Prototypes/Entities/Objects/Misc/metal_rod.yml
  Resources/Prototypes/Entities/Objects/Power/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/medical.yml
  Resources/Prototypes/Entities/Objects/tiles.yml
  Resources/Prototypes/Recipes/Construction/Graphs/APC.yml
  Resources/Prototypes/Recipes/Construction/Graphs/computer.yml
  Resources/Prototypes/Recipes/Construction/Graphs/conveyor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/firelock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/girder.yml
  Resources/Prototypes/Recipes/Construction/Graphs/lighting.yml
  Resources/Prototypes/Recipes/Construction/Graphs/low_wall.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machine.yml
  Resources/Prototypes/Recipes/Construction/Graphs/metal_rod.yml
  Resources/Prototypes/Recipes/Construction/Graphs/spear.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tables.yml
  Resources/Prototypes/Recipes/Construction/Graphs/toilet.yml
  Resources/Prototypes/Recipes/Construction/Graphs/window.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Stacks/material_stacks.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/Stacks/power_stacks.yml
  Resources/Prototypes/Stacks/tobacco_stacks.yml
Labels: Type: Refactor

#3388 Crayon balance and reorganize
  Resources/Maps/saltern.yml
  Resources/Prototypes/Catalog/Fills/Storage/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Misc/crayons.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Textures/Objects/Fun/crayons.rsi/black.png
  Resources/Textures/Objects/Fun/crayons.rsi/black_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/blue.png
  Resources/Textures/Objects/Fun/crayons.rsi/blue_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/box.png
  Resources/Textures/Objects/Fun/crayons.rsi/green.png
  Resources/Textures/Objects/Fun/crayons.rsi/green_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/meta.json
  Resources/Textures/Objects/Fun/crayons.rsi/mime.png
  Resources/Textures/Objects/Fun/crayons.rsi/orange.png
  Resources/Textures/Objects/Fun/crayons.rsi/orange_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/purple.png
  Resources/Textures/Objects/Fun/crayons.rsi/purple_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/rainbow.png
  Resources/Textures/Objects/Fun/crayons.rsi/red.png
  Resources/Textures/Objects/Fun/crayons.rsi/red_box.png
  Resources/Textures/Objects/Fun/crayons.rsi/white.png
  Resources/Textures/Objects/Fun/crayons.rsi/yellow.png
  Resources/Textures/Objects/Fun/crayons.rsi/yellow_box.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown2.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown2_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/clown_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/death.png
  Resources/Textures/Objects/Fun/spraycans.rsi/death2.png
  Resources/Textures/Objects/Fun/spraycans.rsi/death2_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/death_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/meta.json
  Resources/Textures/Objects/Fun/spraycans.rsi/mime.png
  Resources/Textures/Objects/Fun/spraycans.rsi/mime2.png
  Resources/Textures/Objects/Fun/spraycans.rsi/mime2_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/mime_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/rainbow.png
  Resources/Textures/Objects/Fun/spraycans.rsi/rainbow2.png
  Resources/Textures/Objects/Fun/spraycans.rsi/rainbow2_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/rainbow_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray_cap.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray_cap_colors.png
  Resources/Textures/Objects/Fun/spraycans.rsi/spray_colors.png
  Resources/Textures/Objects/Misc/crayons.rsi/meta.json
Labels: Map Changes, Resources (No code)
