Repository space-wizards/space-station-14, pull requests merged in 2022-01, with the labels that each got.

#5977 fix-alt click
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Type: Bug, Size: Very Small

#5982 Prevent equipping HandVirtualItems
  Content.Client/Hands/Systems/HandVirtualItemSystem.cs
  Content.Server/Hands/Systems/HandVirtualItemSystem.cs
  Content.Shared/Hands/SharedHandVirtualItemSystem.cs
Labels: Type: Bug, Priority: 1-Urgent, Size: Very Small

#5956 Reregister ghost role when player ghosts while alive
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: Type: Improvement, Size: Very Small

#5729 Substations now explode when destroyed
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/railing.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Textures/Structures/Machines/parts.rsi/destroyed.png
  Resources/Textures/Structures/Machines/parts.rsi/meta.json
Labels: Type: Improvement, Status: Awaiting Changes

#5983 fix stripping
  Content.Server/Strip/StrippableComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Inventory/Events/EquipAttemptEvents.cs
  Content.Shared/Inventory/Events/UnequipAttemptEvent.cs
  Content.Shared/MobState/EntitySystems/MobStateSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Type: Bug, Size: Very Small

#5981 Fix inventory UI not showing entities
  Content.Client/Inventory/ClientInventorySystem.cs
Labels: Type: Bug

#5992 Remove crit and dead mobs from GhostRole list
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: Type: Bug, Size: Very Small

#5954 Add teleport verbs
  Content.Server/Administration/AdminVerbSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Type: Feature, Size: Very Small

#6001 Reduce locker/crate hp and resistances, add spear wielding
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-right.png
Labels: Type: Feature, Status: Needs Review, Type: Balance

#6013 Fix eject sounds sometimes not playing.
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Type: Bug, Size: Very Small

#5931 Make disconnected players in AdminNameOverlay different from connected players
  Content.Client/Administration/AdminNameOverlay.cs
Labels: Type: Improvement, Size: Very Small

#6023 Kill bobby pt 2
  Content.Client/Body/Components/BodyPartComponent.cs
  Content.Client/Body/Components/MechanismComponent.cs
  Content.Client/Body/UI/BodyScannerDisplay.cs
  Content.Client/Body/UI/SurgeryBoundUserInterface.cs
  Content.Client/Body/UI/SurgeryWindow.cs
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Commands/ShowMechanismsCommand.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Administration/Commands/AddMechanismCommand.cs
  Content.Server/Administration/Commands/RemoveMechanismCommand.cs
  Content.Server/Body/Components/BodyComponent.cs
  Content.Server/Body/Components/BodyPartComponent.cs
  Content.Server/Body/Components/MechanismComponent.cs
  Content.Server/Body/Surgery/BiologicalSurgeryDataComponent.cs
  Content.Server/Body/Surgery/Components/SurgeryToolComponent.cs
  Content.Server/Body/Surgery/Components/SurgeryToolSystem.cs
  Content.Server/Body/Surgery/Messages/SurgeryWindowCloseMessage.cs
  Content.Server/Body/Surgery/Messages/SurgeryWindowOpenMessage.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Body/Systems/LungSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/StomachSystem.cs
  Content.Server/Explosion/Components/ExplosiveComponent.cs
  Content.Server/Ghost/Components/GhostOnMoveComponent.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Ghost/IGhostOnMove.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Shared/Body/Components/MechanismComponent.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
  Content.Shared/Body/Part/BodyPartSlot.cs
  Content.Shared/Body/Part/IBodyPartContainer.cs
  Content.Shared/Body/Surgery/ISurgeon.cs
  Content.Shared/Body/Surgery/SurgeryDataComponent.cs
  Content.Shared/Body/Surgery/SurgeryType.cs
  Content.Shared/Body/Surgery/SurgeryUIKey.cs
  Content.Shared/Body/Surgery/SurgeryUIMessages.cs
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: Type: Cleanup, Status: Needs Review

#5951 Make use-in-hand default to activation interactions.
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Clothing/Components/MagbootsComponent.cs
  Content.Server/Dice/DiceSystem.cs
  Content.Server/Extinguisher/FireExtinguisherComponent.cs
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Server/Radio/Components/HandheldRadioComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Tools/ToolSystem.MultipleTool.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/SubFloor/SharedTrayScannerSystem.cs
Labels: Status: Needs Review

#5728 New Spawnable Map: Boarding Shuttle Dart
  Resources/Maps/dart.yml
  Resources/Prototypes/Maps/game.yml
Labels: Type: Feature, No C#, Changes: Map

#5671 New Game Map: Reach Transport Shuttle
  Resources/Maps/ssreach.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Changes: Map

#5943 Power Cell Refactor
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Light/Components/HandheldLightComponent.cs
  Content.Client/PowerCell/PowerCellSystem.cs
  Content.Client/Weapons/Ranged/Barrels/Components/ClientBatteryBarrelComponent.cs
  Content.Server/Light/Components/HandheldLightComponent.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/Power/Components/BaseCharger.cs
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Server/Power/EntitySystems/BaseChargerSystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/PowerCell/Components/PowerCellChargerComponent.cs
  Content.Server/PowerCell/Components/PowerCellComponent.cs
  Content.Server/PowerCell/Components/PowerCellSlotComponent.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Content.Server/Weapon/Ranged/Barrels/BarrelSystem.cs
  Content.Server/Weapon/Ranged/Barrels/Components/ServerBatteryBarrelComponent.cs
  Content.Server/Weapon/WeaponCapacitorChargerComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Light/Component/SharedHandheldLightComponent.cs
  Content.Shared/PowerCell/Components/PowerCellComponent.cs
  Content.Shared/PowerCell/Components/PowerCellSlotComponent.cs
  Content.Shared/PowerCell/SharedPowerCell.cs
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Resources/Locale/en-US/power-cell/components/power-cell-slot-component.ftl
  Resources/Locale/en-US/power/components/base-charger.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Type: Refactor

#5634 Partial hand ECS
  Content.Client/Animations/ReusableAnimations.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/HandsGui.xaml.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Items/Components/ItemComponent.cs
  Content.Client/Items/Managers/IItemSlotManager.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Items/UI/ItemStatusPanel.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/DoAfter/DoAfterComponent.cs
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Systems/HandVirtualItemSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Server/Weapon/Ranged/RangedWeaponSystem.cs
  Content.Server/Weapon/Ranged/ServerRangedWeaponComponent.cs
  Content.Shared/Actions/Components/ItemActionsComponent.cs
  Content.Shared/Actions/SharedActionSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Hands/IEquippedHand.cs
  Content.Shared/Hands/IHandDeselected.cs
  Content.Shared/Hands/IHandSelected.cs
  Content.Shared/Hands/IUnequippedHand.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Item/ItemSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
Labels: Type: Improvement, Status: Needs Review

#5559 ECSatize AlertsSystem
  Content.Client/Alerts/ClientAlertsComponent.cs
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Alerts/UI/AlertsUI.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Viewport/GameScreen.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Mobs/AlertsComponentTests.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.Server/Alert/Click/RemoveCuffs.cs
  Content.Server/Alert/Click/ResistFire.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Alert/Click/StopPiloting.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Alert/Click/Unbuckle.cs
  Content.Server/Alert/Commands/ClearAlert.cs
  Content.Server/Alert/Commands/ShowAlert.cs
  Content.Server/Alert/ServerAlertsComponent.cs
  Content.Server/Alert/ServerAlertsSystem.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Gravity/EntitySystems/WeightlessSystem.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/MobState/States/DeadMobState.cs
  Content.Server/MobState/States/NormalMobState.cs
  Content.Server/Nutrition/Components/HungerComponent.cs
  Content.Server/Nutrition/Components/ThirstComponent.cs
  Content.Server/Shuttles/EntitySystems/ShuttleConsoleSystem.cs
  Content.Server/Speech/EntitySystems/StutteringSystem.cs
  Content.Server/Stunnable/StunOnCollideSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Alert/AlertCategory.cs
  Content.Shared/Alert/AlertKey.cs
  Content.Shared/Alert/AlertManager.cs
  Content.Shared/Alert/AlertPrototype.cs
  Content.Shared/Alert/AlertState.cs
  Content.Shared/Alert/AlertSyncEvent.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Alert/AlertsComponent.cs
  Content.Shared/Alert/AlertsComponentState.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Alert/ClickAlertEvent.cs
  Content.Shared/Alert/IAlertClick.cs
  Content.Shared/Alert/SharedAlertsComponent.cs
  Content.Shared/Jittering/SharedJitteringSystem.cs
  Content.Shared/MobState/Components/MobStateComponent.cs
  Content.Shared/MobState/State/SharedCriticalMobState.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
  Content.Shared/Speech/EntitySystems/SharedStutteringSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Tests/Shared/Alert/AlertManagerTests.cs
  Content.Tests/Shared/Alert/ServerAlertsComponentTests.cs
Labels: Type: Cleanup

#6031 Fix use delay
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Timing/UseDelayComponent.cs
Labels: Type: Bug, Size: Very Small

#6046 Make smoking cool again.
  Content.Client/Smoking/BurnStateVisualizer.cs
  Content.Server/Nutrition/Components/SmokableComponent.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
Labels: Type: Bug

#6012 Adds filled versions of coloured wardrobes
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wardrobe.yml
Labels: Type: Feature, No C#

#6050 Fix some action-blocker bugs
  Content.Shared/Emoting/EmoteSystem.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Content.Shared/Speech/SpeechSystem.cs
Labels: Type: Bug

#6060 Fix outer clothing
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/cult_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: Type: Bug, No C#

#3613 Add a map renderer
  Content.MapRenderer/Content.MapRenderer.csproj
  Content.MapRenderer/Extensions/DirectoryExtensions.cs
  Content.MapRenderer/Extensions/EnvironmentExtensions.cs
  Content.MapRenderer/Painters/EntityData.cs
  Content.MapRenderer/Painters/EntityPainter.cs
  Content.MapRenderer/Painters/GridPainter.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.MapRenderer/Program.cs
  SpaceStation14.sln
  SpaceStation14.sln.DotSettings
Labels: Type: Feature

#6078 Allow chaplain to spawn with other bag options.
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
Labels: No C#, Size: Very Small

#6089 Log GhostRole takeovers
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Type: Improvement, Size: Very Small

#6058 Make more item slot data-fields read-only.
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
Labels: Size: Very Small

#5980 Fix misc virtual item issues
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Server/Hands/Systems/HandVirtualItemSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Hands/Components/HandVirtualItemComponent.cs
  Content.Shared/Hands/SharedHandVirtualItemSystem.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
Labels: Type: Bug, Type: Refactor

#6074 Prevent inventory events from being relayed to pockets
  Content.Server/Atmos/PressureEvent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Electrocution/ElectrocutionEvents.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Inventory/SlotFlags.cs
  Content.Shared/Movement/EntitySystems/MovementSpeedModifierSystem.cs
  Content.Shared/Slippery/SharedSlipperySystem.cs
Labels: Type: Bug, Size: Very Small

#6091 Rename command
  Content.Server/Mind/Commands/RenameCommand.cs
Labels: Type: Feature

#6016 Follow verb for ghosts
  Content.Shared/Follower/Components/FollowedComponent.cs
  Content.Shared/Follower/Components/FollowerComponent.cs
  Content.Shared/Follower/FollowerSystem.cs
  Resources/Locale/en-US/follower/follow-verb.ftl
Labels: Type: Feature, Status: Needs Review

#6105 Fix kudzu cold damage
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Size: Very Small

#6107 Plastic autolathe recipes fix
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Type: Balance

#6044 Added body bag boxes, fixed some folded body bag behavior
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#6100 Change VerbMenu categories to only execute solitary verbs
  Content.Client/ContextMenu/UI/ContextMenuPopup.xaml.cs
  Content.Client/ContextMenu/UI/ContextMenuPresenter.cs
  Content.Client/Verbs/UI/VerbMenuPresenter.cs
Labels: Type: Improvement, Changes: UI

#6122 Hide deconstruct verb if user cannot interact.
  Content.Server/Construction/ConstructionSystem.Guided.cs
Labels: Size: Very Small

#6119 Fix aghost hands gui.
  Content.Client/Hands/Systems/HandsSystem.cs
Labels: Type: Bug, Size: Very Small

#6125 Fix body bags not taking humans
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
Labels: Status: Needs Review

#5937 Added recent new content to Saltern & renovated Medical
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#6045 Singulo/Radiation Tweaks
  Content.Client/StationEvents/RadiationPulseComponent.cs
  Content.Server/Radiation/RadiationPulseComponent.cs
  Content.Server/Radiation/RadiationPulseSystem.cs
  Content.Shared/Radiation/SharedRadiationStorm.cs
  Content.Shared/Singularity/Components/SharedSingularityComponent.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Effects/radiation.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Type: Balance

#6101 (Re)adds captain's sabre
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Textures/Clothing/Belt/sheath.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/sheath.rsi/meta.json
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-bag.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-carrot.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-crowbar.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-crowbarr.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-equipped-BELT.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-katana.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-knife.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-mop.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-rod.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-sabre-equipped-BELT.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath-sabre.png
  Resources/Textures/Clothing/Belt/sheath.rsi/sheath.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/captain_sabre.rsi/meta.json
Labels: Changes: Sprites

#6133 Fixed Obfuscated messages for ghosts
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Status: Needs Review

#6120 ECS AsteroidRock and add a doafter to mining
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Mining/Components/AsteroidRockComponent.cs
  Content.Server/Mining/Components/MineableComponent.cs
  Content.Server/Mining/Components/PickaxeComponent.cs
  Content.Server/Mining/MineableSystem.cs
  Content.Server/RandomAppearance/RandomAppearanceComponent.cs
  Content.Server/RandomAppearance/RandomAppearanceSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: Type: Feature, Type: Refactor, Status: Needs Review

#6127 Make any mind added remove ghost role
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/Ghost/Roles/SharedGhostRoleSystem.cs
Labels: Status: Needs Review

#6136 Fix typo in CentCom Official prototype id.
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
Labels: No C#, Status: Needs Review

#6140 Correct anchor events
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPortableSystem.cs
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/Construction/Components/AnchorableComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: Status: Needs Review

#6143 Whitelist for trashbags
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimaterial.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/clrifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/lrifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/srifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/toy.yml
  Resources/Prototypes/tags.yml
Labels: No C#, Status: Needs Review

#6051 Fix smoking visuals, but properly this time.
  Content.Client/Clothing/ClothingComponent.cs
  Content.Client/Clothing/ClothingSystem.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
Labels: Type: Bug

#6138 Fires now play a sound effect.
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/Effects/fire.ogg
  Resources/Audio/Effects/license.txt
Labels: Type: Feature, Status: Needs Review

#6141 ECS cable
  Content.Server/Power/Components/CableComponent.cs
  Content.Server/Power/EntitySystems/CableSystem.cs
Labels: Status: Needs Review

#6148 Fixes issue of smiling over the radio
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Status: Needs Review

#6020 New Objective: Ensure another traitor stays alive.
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
  Content.Server/Objectives/Conditions/StayAliveCondition.cs
  Content.Server/Objectives/Requirements/MultipleTraitorsRequirement.cs
  Resources/Locale/en-US/objectives/conditions/other-traitor-alive-condition.ftl
  Resources/Locale/en-US/objectives/conditions/steal-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives..yml
Labels: Status: Needs Review

#6111 Personnel crate (ID cards and PDAs)
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review, Type: Balance

#6151 Added insertion blocking to Strap and Foldable components
  Content.Server/Buckle/Systems/StrapSystem.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/Foldable/SharedFoldableSystem.cs
Labels: Status: Needs Review

#6056 Adds Librarian and Lawyer roles
  Resources/Maps/packedstation.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/AccessLevels/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothing.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblack.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerblue.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerpurple.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/lawyerred.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/librarian.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/librarian.png
  Resources/Textures/Markers/jobs.rsi/meta.json
Labels: No C#, Changes: Map, Changes: Sprites

#6149 Added Syndicate Smokes
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/closed.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/equipped-BELT.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/meta.json
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/open.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigarettes/Packs/syndicate.rsi/trash.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6150 Change OOC color back.
  Content.Client/Chat/ChatHelper.cs
  Content.Client/Chat/UI/ChatBox.xaml.cs
Labels: Changes: UI, Status: Needs Review

#6159 Fix cable unanchor bug
  Content.Server/Power/EntitySystems/CableSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6156 Fix #6154
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
Labels: Changes: UI, Status: Needs Review

#6165 adds box of IDs to HoP locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#, Status: Needs Review

#6155 Split InteractionOutline from GameScreen
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/State/OutlineToggleMessage.cs
  Content.Client/Viewport/GameScreenBase.cs
Labels: Status: Needs Review

#6164 Pressure nerf
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: No C#, Status: Needs Review

#6160 removes componentdependencies
  Content.Client/Cuffs/Components/CuffableComponent.cs
  Content.Server/Arcade/Components/BlockGameArcadeComponent.cs
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Components/FireAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Components/SeedExtractorComponent.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Buckle/Components/StrapComponent.cs
  Content.Server/Climbing/Components/ClimbingComponent.cs
  Content.Server/Clothing/Components/MagbootsComponent.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Components/FirelockComponent.cs
  Content.Server/Doors/Components/ServerDoorComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/Light/Components/MatchstickComponent.cs
  Content.Server/Light/EntitySystems/MatchstickSystem.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/Components/ExaminableBatteryComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Singularity/Components/EmitterComponent.cs
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/Climbing/SharedClimbingComponent.cs
  Content.Shared/Doors/SharedDoorComponent.cs
  Content.Shared/Movement/Components/SharedPlayerInputMoverComponent.cs
Labels: Complementary Engine PR, Status: Needs Review

#6047 Make wires only electrocute when cut or attacked
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: Size: Very Small

#6176 Make bwoink window bigger
  Content.Client/Administration/UI/BwoinkWindow.xaml
Labels: Changes: UI, No C#, Status: Needs Review

#6177 Fix airlock hacking.
  Content.Server/Doors/Components/AirlockComponent.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6173 Rebalanced traitor objective difficulty
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Objectives/Conditions/StealCondition.cs
  Resources/Prototypes/Objectives/traitorObjectives..yml
Labels: Status: Needs Review

#6178 Fix more component-dependency purge issues
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/Components/ExaminableBatteryComponent.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6180 Update admin overlay when player is renamed
  Content.Server/Administration/AdminSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6181 Add job column to PlayerTab
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Server/Administration/AdminSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
Labels: Type: Feature, Changes: UI, Status: Needs Review

#6121 Make manual valves work
  Content.Client/Atmos/Visualizers/GasValveVisualizer.cs
  Content.Server/Atmos/Piping/Binary/Components/GasValveComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasValveSystem.cs
  Content.Server/NodeContainer/Nodes/PipeNode.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpManualValveOn.png
Labels: Changes: Sprites, Status: Needs Review

#6118 ECS APCs
  Content.Client/Power/APC/ApcVisualizer.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/PowerApcSystem.cs
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Type: Performance, Type: Refactor, Status: Needs Review

#6184 fixed metal table construction menu icon
  Resources/Prototypes/Recipes/Construction/furniture.yml
Labels: No C#, Status: Needs Review

#6167 Multi-map and multi-station gameticker loading
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Station/Components/BecomesStationComponent.cs
  Content.Server/Station/Components/PartOfStationComponent.cs
  Content.Server/Station/Components/StationComponent.cs
  Resources/Maps/dart.yml
  Resources/Maps/knightship.yml
  Resources/Maps/packedstation.yml
  Resources/Maps/packedstationxmas.yml
  Resources/Maps/saltern.yml
  Resources/Maps/ssreach.yml
Labels: Type: Improvement, Type: Feature, Changes: Map, Status: Needs Review

#6161 Changes required for VirtualController EntitySystems
  Content.Client/Friction/TileFrictionController.cs
  Content.Server/Friction/TileFrictionController.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Physics/Controllers/PullController.cs
Labels: Complementary Engine PR, Status: Needs Review

#6183 Adds trash tag to more items
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Consumable/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#, Status: Needs Review

#6187 Fix VV Verb on entities that don't exist on the client
  Content.Client/Administration/AdminVerbSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6171 Zoom user's eye when piloting a shuttle
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/EntitySystems/ShuttleConsoleSystem.cs
Labels: Type: Feature, Status: Needs Review

#6197 Medical Scanner check session active
  Content.Server/Medical/Components/MedicalScannerComponent.cs
Labels: Status: Needs Review

#6191 Stops InteractionOutline when the mouse is off screen.
  Content.Client/Outline/InteractionOutlineSystem.cs
Labels: Type: Improvement, Size: Very Small, Status: Needs Review

#6203 Move some strings to ftl files
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/ObserveWarningWindow.xaml
  Content.Client/Traitor/Uplink/UplinkMenu.xaml
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Locale/en-US/lobby/ui/observe-warning-window.ftl
  Resources/Locale/en-US/traitor/uplink/uplink-component.ftl
Labels: Changes: UI, No C#

#6204 Hypospray variable typo
  Resources/Locale/en-US/chemistry/components/hypospray-component.ftl
Labels: No C#, Status: Needs Review

#6202 NT Block Arcade correct session registeration
  Content.Server/Arcade/Components/BlockGameArcadeComponent.cs
Labels: Status: Needs Review

#6211 Nerf holoparasite damage
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: No C#, Status: Needs Review

#6196 Adds briefcase
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/icon.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/Briefcases/briefcase_brown.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#6205 Adds new pAI sprites
  Resources/Prototypes/Actions/actions.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Textures/Interface/Actions/midi.png
  Resources/Textures/Interface/Actions/pai-midi.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pai_off_overlay.png
  Resources/Textures/Objects/Devices/pda.rsi/pai_overlay.png
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
  Resources/Textures/Objects/Fun/pai.rsi/pai-base.png
  Resources/Textures/Objects/Fun/pai.rsi/pai-off-overlay.png
  Resources/Textures/Objects/Fun/pai.rsi/pai-on-overlay.png
  Resources/Textures/Objects/Fun/pai.rsi/pai-searching-overlay.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6185 Adds bola and a crafting recipe for them.
  Content.Server/Stunnable/StunOnCollideSystem.cs
  Resources/Audio/Effects/snap.ogg
  Resources/Audio/Weapons/bolathrow.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/bola.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Textures/Objects/Weapons/Throwable/bola.rsi/icon.png
  Resources/Textures/Objects/Weapons/Throwable/bola.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#6210 Sort ghost warps
  Content.Client/Ghost/UI/GhostTargetWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#6198 Make item slot containers nullable
  Content.Server/Cabinet/ItemCabinetSystem.cs
  Content.Server/Containers/EmptyOnMachineDeconstructSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6213 you can now only put up to 500 characters into a page of paper
  Content.Server/Paper/PaperComponent.cs
Labels: Status: Needs Review

#6037 Dataset names purge
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Datasets/Names/autoborg.yml
  Resources/Prototypes/Datasets/Names/death_commando.yml
  Resources/Prototypes/Datasets/Names/fake_human_first.yml
  Resources/Prototypes/Datasets/Names/fake_human_last.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/wizard_first.yml
  Resources/Prototypes/Datasets/Names/wizard_last.yml
Labels: No C#

#6212 adds quartermaster access and airlocks
  Resources/Prototypes/AccessLevels/cargo.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: No C#, Status: Needs Review

#6134 Chemistry JSON dump tool and companion GitHub Action
  .github/workflows/update-wiki.yml
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GuideGenerator/ChemistryJsonGenerator.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Converters/UniversalJsonConverter.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#6217 Revert "Chemistry JSON dump tool and companion GitHub Action"
  .github/workflows/update-wiki.yml
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GuideGenerator/ChemistryJsonGenerator.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Converters/UniversalJsonConverter.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#6206 Temp fix table clickable bounds
  Content.Client/Clickable/ClickableComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6142 Smokables can now expose temperature to the atmosphere, causing fires.
  Content.Server/Nutrition/Components/SmokableComponent.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
Labels: Size: Very Small, Status: Needs Review

#6152 Applies multiple fixes to Reach and Dart maps
  Resources/Maps/dart.yml
  Resources/Maps/ssreach.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6190 Cut corners on excessive damage
  Content.Server/Destructible/DestructibleSystem.cs
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Complementary Engine PR, Status: Needs Review

#6158 Optimize ExtensionCableSystem
  Content.Server/Power/EntitySystems/ExtensionCableSystem.cs
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
Labels: Complementary Engine PR, Type: Performance, Status: Needs Review

#6186 Fix on-collide explosive collisions
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Projectiles/grenade.rsi/grenade.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/rocket.rsi/frag.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/rocket.rsi/smallfrag.png
Labels: No C#, Size: Very Small, Changes: Sprites, Status: Needs Review

#6216 Required air alarm offset changes for engine PR
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
Labels: Status: Needs Review

#6224 fixed wooden mosin inhand sprite
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#, Status: Needs Review

#6207 Adds captain's carapace.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/captain_carapace.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#6222 FIXED: Chemistry JSON dump tool and companion GitHub Action
  .github/workflows/update-wiki.yml
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/GuideGenerator/ChemistryJsonGenerator.cs
  Content.Server/GuideGenerator/ReactionJsonGenerator.cs
  Content.Server/GuideGenerator/ReagentEntry.cs
  Content.Server/GuideGenerator/UniversalJsonConverter.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentEffectCondition.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Reagents/Consumable/Drink/base_drink.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#6175 Fix cable cutting and allow tool system to raise directed events
  Content.Server/Power/EntitySystems/CableSystem.cs
  Content.Server/Tools/ToolSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6179 Extend RgbLightController
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Server/Light/EntitySystems/RgbLightControllerSystem.cs
  Content.Shared/Light/Component/RgbLightControllerComponent.cs
  Content.Shared/Light/SharedRgbLightControllerSystem.cs
Labels: Type: Feature, Status: Needs Review

#6219 Added Checkers
  Content.Server/Tabletop/TabletopCheckerSetup.cs
  Resources/Locale/en-US/tabletop/tabletop.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/checkers.yml
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/b_checker_piece.png
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/b_checker_queen.png
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/w_checker_piece.png
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/w_checker_queen.png
Labels: Changes: Sprites, Status: Needs Review

#6233 Add Gas Analyzers to YouTool and tool closets.
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: No C#, Status: Needs Review

#6209 Chat adminlogs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#6237 fix flashlight clothing prefix (hardsuit lights)
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6241 Fixes hardsuit helmet and hardhat light sprites when lit
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
Labels: No C#, Difficulty: 1-Easy, Status: Needs Review

#6245 Add an exception to the soft max player cap for players who joined the game at some point during the current round.
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/connection-messages.ftl
Labels: Type: Improvement, Size: Very Small, Status: Needs Review

#6262 Construction graph serv3
  Content.Server/Construction/Components/ConstructionComponent.cs
Labels: Status: Needs Review

#6251 Fix floodlights
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
Labels: No C#, Status: Needs Review

#6261 Gitignore images generated by `Content.MapRenderer`
  .gitignore
Labels: No C#, Status: Needs Review

#6266 No-Slip shoes are now only called such in the uplink catalog
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: No C#, Status: Needs Review

#6246 Glass tables break when climbed on
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Climbing/Components/GlassTableComponent.cs
  Resources/Locale/en-US/climbing/glass-table-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: Type: Feature, Status: Needs Review

#6188 Disposal Pipe Crafting
  Content.Client/Disposal/Visualizers/DisposalVisualizer.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Shared/Disposal/Components/SharedDisposalTubeComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: Status: Needs Review

#6069 Xenoarchaeology artifacts
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Xenoarchaeology/XenoArtifacts/RandomArtifactVisualizer.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/SpawnArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TelepathicArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/SpawnArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TelepathicArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Events/ArtifactActivatedEvent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/RandomArtifactSpriteComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/RandomArtifactSpriteSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactInteractionTriggerComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactGasTriggerSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactInteractionTriggerSystem.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/SharedArtifact.cs
  Resources/Locale/en-US/xenoarchaeology/badfeeling-artifact.ftl
  Resources/Locale/en-US/xenoarchaeology/goodfeeling-artifact.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano01.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano01_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano02.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano02_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano03.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano03_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano04.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano04_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano05.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano05_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano06.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano06_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano07.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano07_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano08.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano08_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano09.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano09_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano10.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano10_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano11.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano11_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano12.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano12_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano13.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano13_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano14.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/ano14_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/xeno_artifacts.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review

#6195 Adds shotgun shell boxes
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Textures/Objects/Storage/boxes.rsi/box_beanbag.png
  Resources/Textures/Objects/Storage/boxes.rsi/box_lethalshot.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#6193 Mop & Bucket Behaviour Change
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Resources/Locale/en-US/fluids/components/bucket-component.ftl
  Resources/Locale/en-US/fluids/components/mop-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Status: Needs Review

#6215 Access fixes
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Structures/Wallmounts/barsign.rsi/emprah.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6278 Adds full-tile tinted windows.
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Windows/tinted_window.rsi/full.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/meta.json
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow0.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow1.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow2.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow3.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow4.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow5.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow6.png
  Resources/Textures/Structures/Windows/tinted_window.rsi/twindow7.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6265 Fix no lobby, no job spawn
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Status: Needs Review

#6228 Adds paper folders
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-base.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-colormap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-overlay-paper.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder-white.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_blue.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_paper.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_red.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_white.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/folder_yellow.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#6230 Add simple wiki button to lobby
  Content.Client/Info/ServerInfo.cs
  Content.Client/Links/UILinks.cs
  Resources/Locale/en-US/info/server-info.ftl
Labels: Status: Needs Review

#6242 Makes SMES and Substation construct with no charge
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#, Status: Needs Review

#6255 Readjust radiation collectors.
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
Labels: Status: Needs Review

#6281 Tweak some probabilities with events.
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/KudzuGrowth.cs
Labels: Status: Needs Review

#6292 Fix for slime butchering into human meat
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/slime.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6000 Add ESwords (now Inventory refactor compliant!)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Weapons/Melee/EnergySwordVisualizer.cs
  Content.Server/Weapon/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedEnergySwordComponent.cs
  Resources/Audio/Weapons/eblade1.ogg
  Resources/Audio/Weapons/ebladeoff.ogg
  Resources/Audio/Weapons/ebladeon.ogg
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword_blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword_on.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword_rainbow_on.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/off-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/off-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-rainbow-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-rainbow-inhand-right.png
Labels: Changes: Sprites

#6279 thindow drawdepth adjustment
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#, Status: Needs Review

#6297 Fixes #6294 - Stay alive objective shows an error sprite
  Content.Server/Objectives/Conditions/StayAliveCondition.cs
Labels: Status: Needs Review

#6293 Use hitevent sound for swings
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
Labels: Status: Needs Review

#6304 Give Blue Tiles Friction
  Resources/Prototypes/Tiles/floors.yml
Labels: No C#, Status: Needs Review

#6272 Fix wallmount constrution ghost rotation check.
  Content.Shared/Construction/Conditions/WallmountCondition.cs
Labels: Status: Needs Review

#6300 Fixes RandomTraitorAliveCondition icon
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
Labels: Status: Needs Review

#6153 Apply smiley filter on me-command
  Content.Server/Chat/Commands/MeCommand.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
Labels: Status: Needs Review

#6310 Reduce radiation range of singularity.
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: No C#, Status: Needs Review

#6303 Add docking command
  Content.Server/Shuttles/DockCommand.cs
  Content.Server/Shuttles/EntitySystems/DockingSystem.cs
Labels: Status: Needs Review

#6307 Fix air alarm system keeping deleted entity UIDs around.
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: Type: Bug, Size: Very Small, Difficulty: 1-Easy

#6312 Fix weh spam
  Content.Server/Sound/EmitSoundSystem.cs
Labels: Status: Needs Review

#6291 Adds speed modifiers to power tools and tiny tools
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/crategenericsteel.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cratesecure.yml
Labels: No C#, Status: Needs Review

#5940 Nerf hacking a smidge
  Content.Server/WireHacking/WireHackingSystem.cs
  Content.Server/WireHacking/WiresComponent.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Status: Awaiting Changes

#6308 Test ignored component names
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/GameObjects/Components/EntityPrototypeComponentsTest.cs
  Content.Server/Entry/IgnoredComponents.cs
Labels: Status: Needs Review

#6285 Remove component.Paused
  Content.Server/AI/EntitySystems/NPCSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/EntitySystems/ThrusterSystem.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
Labels: Status: Needs Review

#6287 Optimise high pressure movements slightly
  Content.Server/Atmos/Components/MovedByPressureComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
Labels: Status: Needs Review

#6200 Pirate guns
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/flaregun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/flintlock.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#6322 Remove LOOC range limit for ghosts
  Content.Server/Chat/Managers/ChatManager.cs
Labels: Status: Needs Review

#6325 Adds QM access to hop and captain
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#, Status: Needs Review
