Repository space-wizards/space-station-14, pull requests merged in 2022-06, with the labels that each got.

#8535 Adds health analyzer to 3 first aid kits
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: No C#

#8338 Fix bug where being eaten as a mouse tethers your ghost to who ate you
  Content.Server/Mind/MindSystem.cs
Labels: Status: Needs Review

#8567 Saltern Update 3.5
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#8267 Goon floor pack 1
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/arcadeblue2.png
  Resources/Textures/Objects/Tiles/tile.rsi/boxing.png
  Resources/Textures/Objects/Tiles/tile.rsi/carpetclown.png
  Resources/Textures/Objects/Tiles/tile.rsi/carpetoffice.png
  Resources/Textures/Objects/Tiles/tile.rsi/gym.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/metaldiamond.png
  Resources/Textures/Tiles/arcadeblue2.png
  Resources/Textures/Tiles/boxing.png
  Resources/Textures/Tiles/carpetclown.png
  Resources/Textures/Tiles/carpetoffice.png
  Resources/Textures/Tiles/copyright.txt
  Resources/Textures/Tiles/gym.png
  Resources/Textures/Tiles/metaldiamond.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#8587 Gun whitelist fixies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#8591 Moose Update 2.3
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#8242 Adds the ability to not play admin sounds
  Content.Client/Audio/ClientAdminSoundSystem.cs
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml.cs
  Content.Server/Audio/ServerAdminSoundSystem.cs
  Content.Shared/Audio/SharedAdminSoundSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#8589 Nerf SMG accuracy
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: No C#

#8578 Post Light sprite fix and state
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Decoration/LightPosts/small_light_post.rsi/off.png
  Resources/Textures/Structures/Decoration/LightPosts/small_light_post.rsi/on.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/empty.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/meta.json
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/off.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#8603 Barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#8596 Dwarves are no longer selectable.
  Resources/Prototypes/species.yml
Labels: No C#

#8606 Emitter 1984 - cargo and construction
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#8609 Fix debug tests with engine change
  .github/workflows/test-packaging.yml
  BuildChecker/git_helper.py
Labels: No C#

#8569 Add ContainerContainer to airlocks
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: No C#

#8570 Add ContainerContainer for powered stuff
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#

#8540 Fix pipe net conservation laws
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Server/Rotatable/RotatableSystem.cs
Labels: Status: Needs Review

#8536 adds destructible to power structures
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#

#8573 Prune most yml ambientsound entries
  Content.Client/Audio/AmbientOverlayCommand.cs
  Content.Client/Audio/AmbientSoundOverlay.cs
  Content.Client/Audio/AmbientSoundSystem.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#8374 Communications Console: The ECSining
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.cs
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/AlertLevel/AlertLevelComponent.cs
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Chat/ChatSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Nuke/NukeCodeSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Roles/Job.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Salvage/SalvageGridComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Content.Server/StationEvents/Events/StationEvent.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
  Content.Shared/Administration/AdminAnnounceEuiState.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Structures/Machines/computers.rsi/comm_syndie.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  SpaceStation14.sln.DotSettings
Labels: Changes: Sprites, Status: Needs Review

#8352 Holofan Projector Upstream from Nyano
  Content.Server/Holosign/HolosignProjectorComponent.cs
  Content.Server/Holosign/HolosignSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/custodial.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/custodial.rsi/meta.json
  Resources/Textures/Structures/Holo/holofan.rsi/icon.png
  Resources/Textures/Structures/Holo/holofan.rsi/meta.json
  Resources/Textures/Structures/Holo/wetfloor.rsi/icon.png
  Resources/Textures/Structures/Holo/wetfloor.rsi/meta.json
Labels: Changes: Sprites

#8548 Implements item pricing, and piracy.
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Cargo/Components/CargoOrderDatabaseComponent.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Content.Server/Cargo/Components/MobPriceComponent.cs
  Content.Server/Cargo/Components/PriceGunComponent.cs
  Content.Server/Cargo/Components/StackPriceComponent.cs
  Content.Server/Cargo/Components/StaticPriceComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Console.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Cargo/Systems/PriceGunSystem.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Locale/en-US/cargo/components/price-gun-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/appraisal.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/game_rules.yml
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/icon.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#8623 Fix pirates. Whoops.
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Maps/pirate.yml
Labels: Changes: Map, Status: Needs Review

#8629 Reduce the amount of drinks per robust softdrinks machine
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
Labels: No C#

#8630 Makes ERT roles not show up on role select
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: No C#

#8613 Fixes circuit printing for generators and emitter
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#8624 Prevent inflatables from being placed on walls/doors
  Content.Server/Engineering/EntitySystems/SpawnAfterInteractSystem.cs
Labels: Status: Needs Review

#8635 Revolver fix (again)
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: Status: Needs Review

#8588 Gun spread overlay
  Content.Client/Weapons/Ranged/Commands/ShowSpreadCommand.cs
  Content.Client/Weapons/Ranged/GunSpreadOverlay.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#8639 Fix shotgun spent visuals
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: No C#

#8125 Make shift laser gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/makeshift laser gun.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: No C#, Status: Needs Review

#8637 LMG nerf
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#8634 More missing nullables
  Content.Client/Actions/UI/ActionMenuItem.cs
  Content.Client/Actions/UI/ActionSlot.cs
  Content.Client/Body/UI/BodyScannerDisplay.cs
  Content.Client/CharacterInfo/Components/CharacterInfoSystem.cs
  Content.Client/Damage/DamageVisualizer.cs
  Content.Client/Items/Managers/ItemSlotManager.cs
  Content.Client/Light/Visualizers/ExpendableLightVisualizer.cs
  Content.Client/Light/Visualizers/LightBulbVisualizer.cs
  Content.Client/Nutrition/Visualizers/DrinkCanVisualizer.cs
  Content.Client/ParticleAccelerator/ParticleAcceleratorPartVisualizer.cs
  Content.Client/Pinpointer/PinpointerVisualizer.cs
  Content.Client/PneumaticCannon/PneumaticCannonVisualizer.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/Singularity/Visualizers/RadiationCollectorVisualizer.cs
  Content.Client/Stack/StackVisualizer.cs
  Content.Client/Storage/Visualizers/BagOpenCloseVisualizer.cs
  Content.Client/Storage/Visualizers/MappedItemVisualizer.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorBoundUi.cs
  Content.Server/Administration/Commands/AddReagent.cs
  Content.Server/Administration/Commands/SetSolutionCapacity.cs
  Content.Server/Administration/Commands/SetSolutionTemperature.cs
  Content.Server/Administration/Commands/SetSolutionThermalEnergy.cs
  Content.Server/Administration/Logs/Converters/EntityUidConverter.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Chemistry/ReagentEffectConditions/BodyTemperature.cs
  Content.Server/Chemistry/ReagentEffectConditions/TotalDamage.cs
  Content.Server/Chemistry/ReagentEffects/AdjustTemperature.cs
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/Disease/Cures/DiseaseBodyTemperatureCure.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Server/Objectives/Conditions/KillRandomPersonCondition.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/VendingMachines/VendingMachineContrabandWireAction.cs
  Content.Server/VendingMachines/VendingMachineEjectItemWireAction.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Camera/CameraRecoilSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Item/SharedItemComponent.cs
Labels: Status: Needs Review

#8644 Fix comms consoles not working
  Content.Server/AlertLevel/AlertLevelSystem.cs
  Content.Server/Chat/ChatSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
Labels: Status: Needs Review

#8647 Marathon Update 1.8
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#8571 Set subfloor sprites to invisible by default
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: No C#

#8656 Give post lights interaction outlines
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
Labels: No C#

#8658 Remove .ToArray() allocations from StepTriggerSystem Update
  Content.Shared/StepTrigger/StepTriggerSystem.cs
Labels: Issue: Performance

#8626 Add a merge conflict check.
  .github/workflows/conflict-labeler.yml
Labels: No C#

#8622 Crate buff (again)
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: No C#

#8580 Fix issue with Musician PDA music not being heard by other players
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#8307 Iconsmoothing tools: Subtile metrics (🦆 Edition)
  Tools/iconsmooth.py
  Tools/iconsmooth_inv.py
  Tools/iconsmooth_lib.py
Labels: No C#

#8666 Remove emitter hitsound
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#8369 Add editor copy keybinding
  Content.Client/EscapeMenu/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Input/ContentContexts.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#8667 Anchorable popups
  Content.Server/Construction/AnchorableSystem.cs
  Resources/Locale/en-US/anchorable/anchorable-component.ftl
Labels: Status: Needs Review

#8678 Spread items when dumping contents out of a bag
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
Labels: Status: Needs Review

#8228 Port stethoscopes + innate verbs from nyano
  Content.Server/Medical/Stethoscope/Components/StethoscopeComponent.cs
  Content.Server/Medical/Stethoscope/Components/WearingStethoscopeComponent.cs
  Content.Server/Medical/Stethoscope/StethoscopeSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
  Content.Shared/Verbs/Verb.cs
  Resources/Locale/en-US/health-examinable/stethoscope.ftl
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
Labels: Status: Needs Review

#8664 Remove Shuttle Powering Crate from cargo catalogue
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
Labels: No C#

#8673 Muted status effect + 2 reagent sources of it
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Speech/Muting/MutedComponent.cs
  Content.Shared/Speech/Muting/MutingSystem.cs
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/speech/speech-effects.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/status_effects.yml
Labels: Status: Needs Review

#8396 Fix dual port vents 2: Electric Boogaloo
  Content.Server/Atmos/Piping/Binary/Components/GasDualPortVentPumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasDualPortVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
Labels: Status: Needs Review

#8684 Remove "nogga black"
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
Labels: No C#

#8674 chr
  Resources/Prototypes/Datasets/Names/chair.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#

#8541 Opt-in nukies
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Status: Needs Review

#8692 Syndicate Names
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Prototypes/Datasets/Names/syndicate.yml
Labels: Status: Needs Review

#8700 ConstructionSystem handles InteractUsing before AnchorableSystem.
  Content.Server/Construction/ConstructionSystem.Interactions.cs
Labels: Issue: Bug

#8698 buffs tables and counters
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: No C#

#8690 Bagel Update 13.7
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#8689 Infiltrator Update something.something
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#8726 Add loc strings and completions to mapping command
  Content.Server/GameTicking/Commands/MappingCommand.cs
  Resources/Locale/en-US/mapping/mapping-command.ftl
Labels: Status: Needs Review

#8715 fix match-matchbox interaction
  Content.Server/Light/EntitySystems/MatchboxSystem.cs
Labels: Size: Very Small

#8714 Opened airlock maint. panel now red on examine
  Resources/Locale/en-US/wires/components/wires-component.ftl
Labels: No C#, Status: Needs Review

#8725 Atlas: The Video Game (Update 2.0)
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8738 Update the nugets
  .run/Content Server+Client.run.xml
  Content.Benchmarks/Content.Benchmarks.csproj
  Content.Client/Content.Client.csproj
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.MapRenderer/Content.MapRenderer.csproj
  Content.Server.Database/Content.Server.Database.csproj
  Content.Server/Content.Server.csproj
  Content.Shared/Content.Shared.csproj
  Content.Tests/Content.Tests.csproj
  Content.Tools/Content.Tools.csproj
  Pow3r/Pow3r.csproj
Labels: No C#, Status: Needs Review

#8742 Nuget fix
  Content.MapRenderer/Content.MapRenderer.csproj
  Content.YAMLLinter/Content.YAMLLinter.csproj
Labels: No C#

#8746 Add whitelist to captain/hop pda
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#8759 Fix nukies
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#8736 Adds more types of trash to trash spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/trash.yml
Labels: No C#

#8764 Marathon Update 1.9
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#8691 Slows down parallax significantly.
  Resources/Prototypes/Parallaxes/default.yml
Labels: No C#

#8735 Fix wrapped foods (chocolate bars, brownies, nutribrick)
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: No C#

#8665 Hotfix door bumps
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#8716 Tweak stun batons to use a battery instead of power cell
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Resources/Locale/en-US/stunnable/components/stunbaton-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Status: Needs Review

#8699 Round end sound now respects lobby music option toggle.
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Status: Needs Review

#8733 Adds cameras to Waystation
  Resources/Maps/waystation.yml
Labels: No C#, Changes: Map

#8676 Remove uses of PrototypeLayerData.New()
  Content.Client/Clothing/ClothingSystem.cs
  Content.Client/Items/Systems/ItemSystem.cs
Labels: Size: Very Small, Status: Needs Review

#8064 Fix some indefinite article loc issues
  Resources/Locale/en-US/administration/commands/set-outfit-command.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/shell.ftl
Labels: Needs Engine PR, No C#, Status: Needs Review

#8425 Ore bags! (YAML, RSI)
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Objects/Specific/Mining/ore_bag.yml
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/ore_bag.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#8766 Plastic Flaps Collision Fix
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: No C#

#8767 Format redial wait time
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
Labels: Changes: UI

#8701 Makes asteroids low yield, adds normal yield variant for mining
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/LootTables/mining_loot_table.yml
Labels: No C#

#8754 Renames jobban to roleban so all role commands follow the pattern roleX.
  Content.Server/Administration/Commands/RoleBanCommand.cs
Labels: Status: Needs Review

#8539 Implement game rule configs.
  Content.Server/GameTicking/Rules/Configurations/GameRuleConfiguration.cs
  Content.Server/GameTicking/Rules/Configurations/GenericGameRuleConfiguration.cs
  Content.Server/GameTicking/Rules/Configurations/InactivityGameRuleConfiguration.cs
  Content.Server/GameTicking/Rules/Configurations/MaxTimeRestartRuleConfiguration.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/GameRulePrototype.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.cs
  Content.Server/GameTicking/Rules/InactivityTimeRestartRuleSystem.cs
  Content.Server/GameTicking/Rules/MaxTimeRestartRuleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/SandboxRuleSystem.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/GameTicking/Rules/SuspicionRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorDeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Prototypes/game_rules.yml
Labels: Status: Needs Review

#8773 Cull even more map lines
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: No C#

#8775 Cull atlas prototypes
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#8776 Cull barratry prototypes
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#8777 Cull infiltrator prototypes
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#8778 Cull knightship prototypes
  Resources/Maps/knightshuttle.yml
Labels: No C#, Changes: Map

#8779 Cull marathon prototypes
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#8780 Cull moose prototypes
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#8783 Cuttle shuttleert + fix prototype
  Resources/Maps/shuttleert.yml
  Resources/mapping_actions.yml
Labels: No C#, Changes: Map

#8784 Cull pirate prototypes
  Resources/Maps/pirate.yml
Labels: No C#, Changes: Map

#8781 Cull pillar prototypes
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#8785 Cull saltern prototypes
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#8782 Cull packedstation prototypes
  Resources/Maps/packedstation.yml
  Resources/Maps/packedstationxmas.yml
Labels: No C#, Changes: Map

#8787 Cull syndiepuddle prototypes
  Resources/Maps/syndiepuddle.yml
Labels: No C#, Changes: Map

#8788 Cull waystation prototypes
  Resources/Maps/waystation.yml
Labels: No C#, Changes: Map

#8413 Zombie Rework & Polymorph Expansion
  Content.Server/Disease/Components/DiseaseBuildupComponent.cs
  Content.Server/Disease/Effects/DiseaseAddComponent.cs
  Content.Server/Disease/Effects/DiseaseProgression.cs
  Content.Server/Disease/Zombie/Components/DiseaseZombieComponent.cs
  Content.Server/Disease/Zombie/DiseaseZombieSystem.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Server/Polymorph/Systems/PolymorphedEntitySystem.cs
  Content.Server/Speech/VocalSystem.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapon/Melee/ZombieTransfer/Components/ZombieTransferComponent.cs
  Content.Server/Weapon/Melee/ZombieTransfer/ZombieTransferSystem.cs
  Content.Server/Zombies/ZombieComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathComponent.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Diseases/zombie.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/zombieclaw.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#8617 ERT Update
  Resources/Maps/dart.yml
  Resources/Maps/shuttleert.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Maps/dart.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8791 temporary test fix
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#8792 Make decal gridinit use gridentityid
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#8793 Fix SMG box sizes
  Resources/Maps/waystation.yml
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
Labels: No C#, Changes: Map

#8750 Fixes winter coats holding more than their own weight
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: No C#

#8769 More Admin Command Tweaks
  Resources/clientCommandPerms.yml
Labels: No C#, Status: Needs Review

#8799 Prevent accidental crayon eating
  Content.Server/Crayon/CrayonSystem.cs
Labels: Status: Needs Review

#8800 Add ReadExecute perms to all of DamageableComponent
  Content.Shared/Damage/Components/DamageableComponent.cs
Labels: Status: Needs Review

#8758 Vote commands completions.
  Content.Server/Voting/VoteCommands.cs
  Resources/Locale/en-US/voting/vote-commands.ftl
Labels: Status: Needs Review

#8723 TauCeti smoothing mode
  Tools/iconsmooth_lib.py
Labels: No C#

#8804 Fix firelock prying
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: No C#

#8808 Make two overlays use OverlayDrawArgs aabbs.
  Content.Client/AI/ClientPathfindingDebugSystem.cs
  Content.Client/Administration/AdminNameOverlay.cs
Labels: Status: Needs Review

#8809 Fix large_casing sprite and cobra mag
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/base-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/large_casing.rsi/meta.json
Labels: No C#, Changes: Sprites

#8819 Remove merge conflict comment
  .github/workflows/conflict-labeler.yml
Labels: No C#

#8826 Captain laser self recharge
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#8830 Halve the amount of drinks in coffee machines
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
Labels: No C#

#8810 Nerf pistol firerate slightly
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
Labels: No C#

#8821 Don't flag merge conflicts on draft PRs
  .github/workflows/conflict-labeler.yml
Labels: No C#

#8827 Guns will now eject magazines first instead of chamber
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#8843 Removal interaction without hands
  Content.Server/Construction/ConstructionSystem.Guided.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnAltVerbSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Sticky/Systems/StickySystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
Labels: Status: Needs Review

#8812 Make doorbumps quiet
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#8818 Syndicate gas mask flash protection
  Content.Server/Flash/FlashSystem.cs
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: Status: Needs Review

#8851 Fix grenade whitelists
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
Labels: No C#

#8856 High Sec Door Armory Locked
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#8706 The Rat King [Antag]
  Content.Server/Disease/Components/DiseaseCarrierComponent.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/RatKing/RatKingComponent.cs
  Content.Server/RatKing/RatKingSystem.cs
  Content.Server/StationEvents/Events/MouseMigration.cs
  Resources/Locale/en-US/animals/rat-king/rat-king.ftl
  Resources/Locale/en-US/station-events/events/mouse-migration.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Textures/Clothing/Head/Misc/fancycrown.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/fancycrown.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/fancycrown.rsi/meta.json
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Interface/Actions/ratKingArmy.png
  Resources/Textures/Interface/Actions/ratKingDomain.png
  Resources/Textures/Mobs/Animals/mouse.rsi/dead-3.png
  Resources/Textures/Mobs/Animals/mouse.rsi/icon-3.png
  Resources/Textures/Mobs/Animals/mouse.rsi/meta.json
  Resources/Textures/Mobs/Animals/mouse.rsi/mouse-3.png
  Resources/Textures/Mobs/Animals/mouse.rsi/splat-3.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/dead.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/icon.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
  Resources/Textures/Mobs/Animals/regalrat.rsi/regalrat.png
Labels: Changes: Sprites, Status: Needs Review

#8870 Increase fireplace brightness and radius
  Resources/Prototypes/Entities/Structures/Decoration/fireplace.yml
Labels: No C#

#8868 Can't break other people's drags on cuffed people
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Pulling/Events/BeingPulledAttemptEvent.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
Labels: Status: Needs Review

#7395 Fishy swarmers: Carp content and Space Dragon!
  Content.Client/MobState/DamageStateVisualizer.cs
  Content.Client/MobState/DamageStateVisualizerSystem.cs
  Content.Client/MobState/DamageStateVisualsComponent.cs
  Content.Server/Dragon/DragonComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Audio/Animals/license.txt
  Resources/Audio/Animals/space_dragon_roar.ogg
  Resources/Audio/Effects/demon_attack1.ogg
  Resources/Audio/Effects/demon_consume.ogg
  Resources/Audio/Effects/demon_dies.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Locale/en-US/actions/actions/dragon.ftl
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Interface/Actions/carpbirth.png
  Resources/Textures/Interface/Actions/devour.png
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/alive-unshaded.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/dead-unshaded.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragon.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragon_veins.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/idpassenger.png
Labels: Changes: Sprites, Status: Needs Review, Status: Awaiting Changes

#8756 Add docking window to shuttle consoles
  Content.Client/Radar/RadarConsoleWindow.xaml
  Content.Client/Radar/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/BUI/RadarConsoleBoundUserInterface.cs
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Client/Shuttles/ShuttleConsoleComponent.cs
  Content.Client/Shuttles/ShuttleConsoleSystem.cs
  Content.Client/Shuttles/Systems/DockingSystem.cs
  Content.Client/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Client/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Client/Shuttles/UI/DockingControl.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Alert/Click/StopPiloting.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Radar/RadarConsoleComponent.cs
  Content.Server/Radar/RadarConsoleSystem.cs
  Content.Server/Shuttles/Components/AutoDockComponent.cs
  Content.Server/Shuttles/Components/RecentlyDockedComponent.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Components/ShuttleConsoleComponent.cs
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/DockCommand.cs
  Content.Server/Shuttles/EntitySystems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Events/DockEvent.cs
  Content.Server/Shuttles/Events/UndockEvent.cs
  Content.Server/Shuttles/Systems/DockingSystem.AutoDock.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/RadarConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Shuttles/Systems/SpaceGarbageSystem.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Shared/Radar/RadarConsoleBoundInterfaceState.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Content.Shared/Shuttles/BUIStates/ShuttleConsoleBoundInterfaceState.cs
  Content.Shared/Shuttles/Components/RadarConsoleComponent.cs
  Content.Shared/Shuttles/Components/SharedShuttleComponent.cs
  Content.Shared/Shuttles/Components/SharedShuttleConsoleComponent.cs
  Content.Shared/Shuttles/Events/AutodockRequestMessage.cs
  Content.Shared/Shuttles/Events/ShuttleModeRequestMessage.cs
  Content.Shared/Shuttles/Events/StopAutodockRequestMessage.cs
  Content.Shared/Shuttles/Events/UndockRequestMessage.cs
  Content.Shared/Shuttles/Systems/SharedRadarConsoleSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleConsoleSystem.cs
  Resources/Locale/en-US/misc-computers.ftl
  Resources/Locale/en-US/shuttles/console.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI, Status: Needs Review

#8853 Nerf gun damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimaterial.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#8879 Fix damagestatevisualizer
  Content.Client/MobState/DamageStateVisualizerSystem.cs
  Content.Client/MobState/DamageStateVisualsComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Status: Needs Review

#8159 Individual bar sign entities
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: Needs Discussion, No C#

#8840 Reduced laser pistols to 10 size
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#, Status: Needs Review

#8875 make animals gibbable
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#8865 Station Specific Jobs: Reporter and Psychologist
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Roles/Jobs/Civilian/reporter.yml
  Resources/Prototypes/Roles/Jobs/Medical/psychologist.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/journalist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/journalist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/journalist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/journalist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/journalist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/psychologist.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/reporter.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/reporter.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/reporter.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/reporter.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/reporter.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/Psychologist.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Reporter.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/reporter.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-reporter.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idpsychologist.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idreporter.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: No C#, Changes: Map, Changes: Sprites, Status: Needs Review

#8844 Basic Medication Overdoses (Chemistry 1984)
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, Status: Needs Review

#8869 Fix admin announce eui
  Content.Server/Administration/UI/AdminAnnounceEui.cs
Labels: Status: Needs Review

#8837 Add a Wiki Button to the escape menu
  Content.Client/EscapeMenu/UI/EscapeMenu.xaml
  Content.Client/EscapeMenu/UI/EscapeMenu.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
Labels: Changes: UI, Status: Needs Review

#8817 Make ghost timer a cvar
  Content.Client/Ghost/Roles/UI/GhostRoleRulesWindow.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: UI, Status: Needs Review

#8858 reduced duck yaml bloat
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#8835 Fix mousetrap crate icon
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
Labels: No C#

#8886 Fix wide attacking in containers
  Content.Server/Interaction/InteractionSystem.cs
Labels: Status: Needs Review

#8829 Clean up door remote
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Locale/en-US/door-remote/door-remote.ftl
Labels: Status: Needs Review

#8903 Marathon Update 2.0
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#8912 Remove reporter tophat
  Resources/Prototypes/Roles/Jobs/Civilian/reporter.yml
Labels: No C#

#8872 Disarm 1984
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/CombatMode/Disarm/DisarmMalusComponent.cs
  Content.Server/Weapon/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
  Resources/Locale/en-US/actions/actions/disarm-action.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review

#8926 Port miasma from nyano
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Miasma/NoRotContainerComponent.cs
  Content.Server/Atmos/Miasma/PerishableComponent.cs
  Content.Server/Atmos/Miasma/RottingComponent.cs
  Content.Server/Chemistry/ReagentEffects/ChemCauseRandomDisease.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/RadiationStorm.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactGasTriggerComponent.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/reagents/meta/gases.ftl
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Reagents/gases.yml
Labels: Status: Needs Review

#8939 Botany + engi belt whitelist update
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#8927 Mobster accents for rat king/servants
  Content.Server/Speech/Components/MobsterAccentComponent.cs
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
  Resources/Locale/en-US/accent/mobster.ftl
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Status: Needs Review

#8942 Weapons sprites quickfix
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/kitchen_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/kitchen_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/pickaxe.png
Labels: No C#, Changes: Sprites

#8849 More kinds of benos
  Resources/Audio/Weapons/Xeno/alien_claw_flesh1.ogg
  Resources/Audio/Weapons/Xeno/alien_claw_flesh2.ogg
  Resources/Audio/Weapons/Xeno/alien_claw_flesh3.ogg
  Resources/Audio/Weapons/Xeno/license.txt
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/SoundCollections/alien_claw.yml
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/drone.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/praetorian.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/praetorian.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/praetorian.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/praetorian.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/praetorian.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/queen.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/ravager.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/rouny.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/runner.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/runner.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/runner.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/runner.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/runner.rsi/sleeping.png
  Resources/Textures/Mobs/Aliens/Xenos/spitter.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Xenos/spitter.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Xenos/spitter.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/spitter.rsi/running.png
  Resources/Textures/Mobs/Aliens/Xenos/spitter.rsi/sleeping.png
Labels: No C#, Changes: Sprites

#8935 Adds other botany tools
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: No C#

#8828 Add screwdriver head to sprite
  Resources/Textures/Objects/Tools/screwdriver.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/screwdriver.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#8681 Nun Robes And Nurse Hat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/Clothing/Head/Hats/nursehat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/nursehat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/nursehat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/nursehat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/nursehat.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Misc/nunrobe.rsi/meta.json
Labels: No C#, Changes: Sprites
