Repository space-wizards/space-station-14, pull requests merged in 2022-05, with the labels that each got.

#7897 Remove Knightship
  Resources/Maps/knightship.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/test.yml
Labels: No C#, Changes: Map, Status: Derelict, Status: Needs Review

#7858 Tile and Bola throwing nerf
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: No C#

#7896 Adds screwing step to vent deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_unary.yml
Labels: No C#, Status: Needs Review

#7895 Random humanoid appearance component
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/CharacterAppearance/Components/RandomHumanoidAppearanceComponent.cs
  Content.Server/CharacterAppearance/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Shared/CharacterAppearance/Systems/SharedHumanoidAppearanceSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: Status: Needs Review

#7799 Vault Walls (alien, sandstone and rock)
  Resources/Prototypes/Entities/Structures/Walls/base_structurewalls.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/Structures/Walls/vault.rsi/alienvault.png
  Resources/Textures/Structures/Walls/vault.rsi/meta.json
  Resources/Textures/Structures/Walls/vault.rsi/rockvault.png
  Resources/Textures/Structures/Walls/vault.rsi/sandstonevault.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7876 Remove IDestroyAct, IBreakAct
  Content.Server/Buckle/Components/StrapComponent.cs
  Content.Server/Buckle/Systems/StrapSystem.cs
  Content.Server/Construction/Completions/DestroyEntity.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/DoActsBehavior.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Light/Components/LightBulbComponent.cs
  Content.Server/Light/EntitySystems/LightBulbSystem.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Acts/ActSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Destructible/SharedDestructibleSystem.cs
Labels: Status: Needs Review

#7855 Industrial and Advanced Welders
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Textures/Objects/Tools/welder_industrial.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_industrial.rsi/off-inhand-left.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/off-inhand-right.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/on-inhand-left.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/on-inhand-right.png
  Resources/Textures/Objects/Tools/welder_industrial.rsi/welder_flame.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/icon.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/meta.json
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/off-inhand-left.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/off-inhand-right.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/on-inhand-left.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/on-inhand-right.png
  Resources/Textures/Objects/Tools/welder_industrialadv.rsi/welder_flame.png
Labels: No C#, Changes: Sprites

#7887 Fix decals (for realsies)
  Content.Server/Decals/DecalSystem.cs
Labels: Status: Needs Review

#7869 More localize
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/BarSign/Systems/BarSignSystem.cs
  Content.Server/Holiday/Greet/Custom.cs
  Content.Server/Holiday/Greet/DefaultHolidayGreet.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/accents.yml
  Resources/Prototypes/bar_signs.yml
  Resources/Prototypes/holidays.yml
  Resources/Prototypes/species.yml
Labels: Changes: UI, Status: Needs Review

#7910 Make playglobalsound much quiter
  Content.Server/Administration/Commands/PlayGlobalSound.cs
  Resources/Locale/en-US/administration/commands/play-global-sound-command.ftl
Labels: Status: Needs Review

#7919 Fixes gas pumps overpressurizing if already over
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
Labels: Status: Needs Review

#7918 Ghost four directional sprite
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/icon.png
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/meta.json
Labels: No C#, Changes: Sprites

#7921 Fix health state thresholds
  Content.Server/MobState/States/NormalMobState.cs
Labels: Issue: Bug, Priority: 1-Urgent, Size: Very Small

#7889 Makes Lizard animals REAL
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/lizard.rsi/dead.png
  Resources/Textures/Mobs/Animals/lizard.rsi/lizard.png
  Resources/Textures/Mobs/Animals/lizard.rsi/meta.json
  Resources/Textures/Mobs/Animals/slug.rsi/dead.png
  Resources/Textures/Mobs/Animals/slug.rsi/meta.json
  Resources/Textures/Mobs/Animals/slug.rsi/slug.png
Labels: No C#, Changes: Sprites

#7782 Drone blocker ignores dead ghost roles
  Content.Server/Drone/DroneSystem.cs
Labels: Status: Needs Review

#7906 Correct the injustice against margherita pizza
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#7915 hardsuit, hardsuit helmets, web vests pass
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: No C#

#7904 Swaps the health alert with a more pretty one
  Resources/Textures/Interface/Alerts/human_health.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health5.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health6.png
  Resources/Textures/Interface/Alerts/human_health.rsi/health7.png
  Resources/Textures/Interface/Alerts/human_health.rsi/meta.json
Labels: No C#, Changes: Sprites

#7914 Remove GalacticMarket component
  Content.Client/Cargo/CargoConsoleBoundUserInterface.cs
  Content.Client/Cargo/Components/GalacticMarketComponent.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Cargo/Components/GalacticMarketComponent.cs
  Content.Shared/Cargo/Components/SharedGalacticMarketComponent.cs
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI, Status: Needs Review

#7860 Pillar Update (vehicles, shuttle fixes, other content)
  Resources/Maps/nss_pillar.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7792 Dumpable component to use a doafter to empty storage into a disposal unit, placeable surface, or the ground
  Content.Client/Storage/ClientStorageComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Placeable/PlaceableSurfaceSystem.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/SharedStorageComponent.cs
  Resources/Locale/en-US/storage/components/dumpable-component.ftl
  Resources/Locale/en-US/storage/components/storage-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: Status: Needs Review

#7875 Stop mapping command from unsetting it's own settings if used repeatedly
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Server/GameTicking/Commands/MappingCommand.cs
Labels: Status: Needs Review

#7926 PTech Vending Machine Fill (no its not cartridges)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#7654 Parallax refactors
  Content.Client/Entry/EntryPoint.cs
  Content.Client/EscapeMenu/UI/Tabs/GraphicsTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Parallax/Data/GeneratedParallaxTextureSource.cs
  Content.Client/Parallax/Data/IParallaxTextureSource.cs
  Content.Client/Parallax/Data/ImageParallaxTextureSource.cs
  Content.Client/Parallax/Data/ParallaxLayerConfig.cs
  Content.Client/Parallax/Data/ParallaxPrototype.cs
  Content.Client/Parallax/Managers/IParallaxManager.cs
  Content.Client/Parallax/Managers/ParallaxManager.cs
  Content.Client/Parallax/ParallaxControl.cs
  Content.Client/Parallax/ParallaxGenerator.cs
  Content.Client/Parallax/ParallaxLayerPrepared.cs
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.IntegrationTests/DummyParallaxManager.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Prototypes/Parallaxes/default.yml
  Resources/Prototypes/Parallaxes/parallax_config.toml
  Resources/Prototypes/Parallaxes/parallax_config_clouds.toml
  Resources/Prototypes/Parallaxes/parallax_config_stars.toml
  Resources/Prototypes/Parallaxes/parallax_config_stars_dim.toml
  Resources/Prototypes/Parallaxes/test.yml
Labels: Changes: UI, Status: Needs Review

#7849 Power Monitoring Console
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Power/PowerMonitoringWindow.xaml
  Content.Client/Power/PowerMonitoringWindow.xaml.cs
  Content.Server/Power/Components/PowerMonitoringConsoleComponent.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Shared/Power/SharedPowerMonitoringConsoleComponent.cs
  Resources/Locale/en-US/components/power-monitoring-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI, Status: Needs Review

#7946 Fix markings for character preview
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#7948 Fixes up lizard tails for markings
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7958 Remove combat mode from drones again
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, Status: Needs Review

#7959 Fix rotation cbt on dispensers and recycler
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: No C#

#7699 Wires refactor
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Lathe/LatheSystem.cs
  Content.Client/Wires/UI/WiresBoundUserInterface.cs
  Content.Client/Wires/UI/WiresMenu.cs
  Content.Client/Wires/Visualizers/WiresVisualizer.cs
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/WireActions/ArcadeInvincibilityWireActions.cs
  Content.Server/Arcade/WireActions/ArcadeOverflowWireAction.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Components/FireAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/WireActions/AirAlarmPanicWire.cs
  Content.Server/Atmos/Monitor/WireActions/AtmosMonitorAlarmWire.cs
  Content.Server/Construction/Conditions/AllWiresCut.cs
  Content.Server/Construction/Conditions/WirePanel.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/WireActions/AirlockWireIdentifier.cs
  Content.Server/Doors/WireActions/DoorBoltLightWireAction.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Doors/WireActions/DoorSafetyWireAction.cs
  Content.Server/Doors/WireActions/DoorTimingWireAction.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/VendingMachines/VendingMachineComponent.cs
  Content.Server/WireHacking/WireHackingSystem.cs
  Content.Server/WireHacking/WiresComponent.cs
  Content.Server/Wires/BaseToggleWireAction.cs
  Content.Server/Wires/BaseWireAction.cs
  Content.Server/Wires/DummyWireAction.cs
  Content.Server/Wires/IWireAction.cs
  Content.Server/Wires/WireLayout.cs
  Content.Server/Wires/WiresComponent.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Access/SharedAccessWire.cs
  Content.Shared/Atmos/Monitor/AtmosMonitorAlarmWireActionKeys.cs
  Content.Shared/Power/SharedPower.cs
  Content.Shared/Wires/SharedWiresComponent.cs
  Content.Tests/Shared/WireHackingTest.cs
  Resources/Locale/en-US/wires/components/wires-component.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Status: Needs Review

#7937 Atlas Update 1.3
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7963 Quick fixes for markings
  Content.Client/Markings/MarkingsSystem.cs
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
Labels: Status: Needs Review

#7957 Swap the positions of AHelp and Rules in the main interface
  Content.Client/Administration/BwoinkSystem.cs
  Content.Client/EscapeMenu/UI/EscapeMenu.xaml
  Content.Client/EscapeMenu/UI/EscapeMenu.xaml.cs
  Content.Client/HUD/GameHud.ButtonBar.cs
  Content.Client/HUD/GameHud.cs
  Resources/Locale/en-US/escape-menu/ui/escape-menu.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#7733 Slip Nerfs
  Content.Server/Climbing/Components/GlassTableComponent.cs
  Content.Server/Fluids/Components/PuddleComponent.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Reagents/cleaning.yml
Labels: Status: Needs Review

#7972 Remove double pickup log
  Content.Server/Hands/Systems/HandsSystem.cs
Labels: Status: Needs Review

#7880 Adds the pressure medipen and adds the emergency suit to emergency lockers
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Atmos/Components/PressureImmunityComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Resources/Locale/en-US/reagents/barozine.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/status_effects.yml
Labels: Status: Needs Review

#7978 Zombie Nerf [Seethe] [Cope]
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Diseases/noninfectious.yml
Labels: No C#

#7982 Remove unnecesary audio string and puts the proper vox annoucement to two events
  Content.Server/StationEvents/Events/BureaucraticError.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/KudzuGrowth.cs
  Content.Server/StationEvents/Events/MeteorSwarm.cs
  Content.Server/StationEvents/Events/VentClog.cs
  Content.Server/StationEvents/Events/VentCritters.cs
  Resources/Audio/Announcements/aliens.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/meteors.ogg
Labels: Status: Needs Review

#7977 Add attention.ogg and soundspecifiers for events
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/KudzuGrowth.cs
  Content.Server/StationEvents/Events/MeteorSwarm.cs
  Content.Server/StationEvents/Events/PowerGridCheck.cs
  Content.Server/StationEvents/Events/RadiationStorm.cs
  Content.Server/StationEvents/Events/StationEvent.cs
  Content.Server/StationEvents/Events/VentCritters.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
  Resources/Audio/Announcements/attention.ogg
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Items/license.txt
Labels: Status: Needs Review

#7987 no submodule update in prs workflow
  .github/workflows/no-submodule-update.yml
Labels: No C#

#7960 Bagel Update 13.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7943 Clear PDA fix and syndi PDA and ID
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#7927 Make alerts background transparent
  Content.Client/Alerts/UI/AlertsUI.xaml
Labels: Changes: UI, No C#

#7994 Changes the procgen clouds parallax with a solid nebulae
  Resources/Prototypes/Parallaxes/default.yml
  Resources/Textures/Parallax.rsi/meta.json
  Resources/Textures/Parallax.rsi/space1.png
Labels: No C#, Changes: Sprites

#7998 Make inventory slot interact properly go through unequip
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: Status: Needs Review

#8009 Makes pianos spawn anchored
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
Labels: No C#, Status: Needs Review

#8008 Taser Nerf and Blood No Longer Slips
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#8011 Makes potted plants not block mobs
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
Labels: No C#

#7852 Cybersun Juggernaut Suit
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cybersun.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cybersun.rsi/meta.json
Labels: No C#, Changes: Sprites

#8015 Barsign fix
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
Labels: No C#

#7999 The Big One [Barratry Update]
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#8016 Moose Update 2.1
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#7989 Added the interface component which was missing from the chef hat
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Labels: No C#

#7923 Atmospherics Access, Air Alarms, Doors, Locker
  Resources/Prototypes/Access/engineering.yml
  Resources/Prototypes/Access/misc.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/atmospherics.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/atmospherics.rsi/welded.png
Labels: No C#, Changes: Sprites

#7983 You can no longer disarm wielded weapons
  Content.Server/Actions/Events/DisarmAttemptEvent.cs
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
Labels: Status: Needs Review

#7985 makes scarf and space ninja hide hair
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#7686 Makes glass external and shuttle airlocks pass light
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: No C#, Status: Needs Review

#8021 delicious delicious crayons
  Content.Server/Crayon/CrayonSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: Status: Needs Review

#7980 Various Entities make sounds when speaking
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Shared/Speech/SharedSpeechComponent.cs
  Content.Shared/Speech/SpeechSoundsPrototype.cs
  Resources/Audio/Machines/vending_jingle.ogg
  Resources/Audio/Voice/Talk/license.txt
  Resources/Audio/Voice/Talk/speak_1.ogg
  Resources/Audio/Voice/Talk/speak_1_ask.ogg
  Resources/Audio/Voice/Talk/speak_1_exclaim.ogg
  Resources/Audio/Voice/Talk/speak_2.ogg
  Resources/Audio/Voice/Talk/speak_2_ask.ogg
  Resources/Audio/Voice/Talk/speak_2_exclaim.ogg
  Resources/Audio/Voice/Talk/speak_3.ogg
  Resources/Audio/Voice/Talk/speak_3_ask.ogg
  Resources/Audio/Voice/Talk/speak_3_exclaim.ogg
  Resources/Audio/Voice/Talk/speak_4.ogg
  Resources/Audio/Voice/Talk/speak_4_ask.ogg
  Resources/Audio/Voice/Talk/speak_4_exclaim.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: Status: Needs Review

#8023 Speech noise fixies
  Content.Server/Speech/SpeechNoiseSystem.cs
  Content.Shared/Speech/SharedSpeechComponent.cs
  Resources/Audio/Machines/license.txt
  Resources/Audio/Voice/Talk/license.txt
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Status: Needs Review

#8025 Fix human speech
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: No C#, Status: Needs Review

#7993 Wires patches
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Wires/WiresSystem.cs
Labels: Status: Needs Review

#7975 make crayoncode use the colortype
  Content.Client/Crayon/CrayonComponent.cs
  Content.Client/Crayon/CrayonSystem.cs
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Server/Crayon/CrayonComponent.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Content.Shared/Crayon/SharedCrayonSystem.cs
Labels: Changes: UI

#8019 Very Important PR That Adds 2 Fountain Pens
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/pen_cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/pen_hop.png
Labels: No C#, Changes: Sprites

#7767 Fixes thirst not applying speed debuffs properly , Makes Thirst a server-side component only
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Nutrition/Components/ThirstComponent.cs
  Content.Server/Administration/Commands/RejuvenateCommand.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Server/Nutrition/Components/ThirstComponent.cs
  Content.Server/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Nutrition/Components/SharedThirstComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedThirstSystem.cs
Labels: Status: Needs Review

#7955 Universal weldable component
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Client/Storage/Visualizers/StorageVisualizer.cs
  Content.Client/Tools/Components/WeldableComponent.cs
  Content.Client/Tools/Visualizers/WeldableVisualizerSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Tools/Components/WeldableComponent.cs
  Content.Server/Tools/Systems/WeldableSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Storage/SharedStorageComponent.cs
  Content.Shared/Tools/Components/SharedWeldable.cs
  Resources/Locale/en-US/doors/components/door-component.ftl
  Resources/Locale/en-US/tools/components/weldable-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: Status: Needs Review

#7877 Glass airlock construction
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
Labels: No C#, Status: Needs Review

#8035 Saltern Update 3.1
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8036 Cybersun suit helmet fix
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#8033 Bagel Intern Update
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8032 Moose Intern Update
  Resources/Maps/moose.yml
  Resources/Prototypes/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8031 Atlas Inter Update
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8049 Revert new parallax (#7994)
  Resources/Prototypes/Parallaxes/default.yml
  Resources/Textures/Parallax.rsi/meta.json
  Resources/Textures/Parallax.rsi/space1.png
Labels: No C#, Changes: Sprites

#8054 Update game-ticker to no longer reference pressing f1 to read the rules
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: No C#, Status: Needs Review

#8058 Icon smoothing for asteroid rocks
  Content.Client/Mining/AsteroidRockVisualizer.cs
  Content.Shared/Mining/AsteroidRockVisuals.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/0.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/1.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/2.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/3.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/4.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/full.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/meta.json
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_0.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_1.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_2.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_3.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_4.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_5.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_6.png
  Resources/Textures/Structures/Walls/asteroid_rock.rsi/rock_7.png
Labels: Changes: Sprites, Status: Needs Review

#7940 Captain's Antique Laser Gun and Traitor Objective
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Objectives/traitorObjectives..yml
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/meta.json
Labels: No C#, Changes: Sprites

#8047 Round start audio announcement
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Announcements/RoundAnnouncementPrototype.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Audio/Announcements/license.txt
  Resources/Audio/Announcements/welcome.ogg
  Resources/Prototypes/round_announcements.yml
Labels: Status: Needs Review

#8050 Moose Door Stuck
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#8043 Filing Cabinet Resprites
  Resources/Textures/Structures/Storage/cabinets.rsi/chestdrawer-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/chestdrawer.png
  Resources/Textures/Structures/Storage/cabinets.rsi/filingcabinet-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/filingcabinet.png
  Resources/Textures/Structures/Storage/cabinets.rsi/meta.json
  Resources/Textures/Structures/Storage/cabinets.rsi/tallcabinet-open.png
  Resources/Textures/Structures/Storage/cabinets.rsi/tallcabinet.png
Labels: No C#, Changes: Sprites

#8060 Vending machine changes
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Server/VendingMachines/VendingMachineComponent.cs
  Content.Server/VendingMachines/VendingMachineContrabandWireAction.cs
  Content.Server/VendingMachines/VendingMachineEjectItemWireAction.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineComponent.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: UI

#8057 Inverts the name of screwdriver sounds
  Resources/Audio/Machines/screwdriverclose.ogg
  Resources/Audio/Machines/screwdriveropen.ogg
Labels: No C#

#7769 Add the ability for mappers to drag grids around.
  Content.Client/Maps/GridDraggingCommand.cs
  Content.Client/Maps/GridDraggingSystem.cs
  Content.Server/Maps/GridDraggingSystem.cs
  Content.Shared/Maps/SharedGridDraggingSystem.cs
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#8007 Rename Assistant to Passenger
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/advertisements/vending/cargodrobe.ftl
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/dummy_npcs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/game.yml
  Resources/Prototypes/Maps/holiday.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/splitstation.yml
  Resources/Prototypes/Maps/test.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Fun/cult_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Assistant.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Passenger.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/passenger.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idassistant.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idpassenger.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: Needs Discussion, Changes: Map, Changes: Sprites, Status: Needs Review

#7931 Disable drones for the time being
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, Status: Needs Review

#8022 Kitchen supplies crate
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: No C#, Status: Needs Review

#7706 Rework climbing
  Content.Client/Climbing/ClimbingSystem.cs
  Content.Client/Movement/ClimbSystem.cs
  Content.Client/Movement/Components/ClimbableComponent.cs
  Content.Client/Movement/Components/ClimbingComponent.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/ClimbableComponent.cs
  Content.Server/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Climbing/SharedClimbableComponent.cs
  Content.Shared/Climbing/SharedClimbingComponent.cs
Labels: Status: Needs Review

#8074 Allow do_afters to be spammed
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
Labels: Status: Needs Review

#8075 Atmos high pressure movements cleanup
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Issue: Bug, Issue: Needs Cleanup

#8078 Fix pressure direction not being reset after high pressure movements happen.
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
Labels: Issue: Bug

#8087 fix the fact I sent a bunch of maps to detroit.
  Content.Server/Maps/GameMapPrototype.cs
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/infiltrator.yml
  Resources/Prototypes/Maps/pirate.yml
Labels: Changes: Map

#7754 Changs chinese food vending machine
  Resources/Locale/en-US/advertisements/vending/chang.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/chang.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chang.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/chinese1.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/chinese2.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/chinese3.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/chinese4.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/cookie_fortune.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/fortune.png
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/changs.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/changs.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/changs.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/changs.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/changs.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#8090 Buffed Dex+ and Stellibinin
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, Status: Needs Review

#8089 Improves the smoking experience
  Content.Client/Tools/Components/WelderComponent.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Resources/Locale/en-US/tools/components/welder-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
Labels: Status: Needs Review

#8093 Add listgamemaps command
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
Labels: Status: Needs Review

#8067 9 New Paintings
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Textures/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting0.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting1.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting2.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting3.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting4.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting5.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting6.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting7.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting8.png
Labels: No C#, Changes: Sprites

#8109 Singlehandedly saved the entire project [praise]
  Resources/Audio/Misc/windowsXP_error.ogg
  Resources/Audio/Misc/windowsXP_shutdown.ogg
  Resources/Audio/Misc/windowsXP_startup.ogg
Labels: No C#

#8110 Collisiongroup tweaks
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
  Resources/Prototypes/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Issue: Bug, Size: Very Small

#8103 Hugging yourself no longer allowed
  Content.Server/Interaction/Components/InteractionPopupComponent.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
Labels: Status: Needs Review

#8076 Remove the nose off the ghost
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/icon.png
Labels: No C#, Changes: Sprites

#8108 Add external programs to rules
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#8112 Make CarpetChapel not collide
  Resources/Prototypes/Entities/Structures/Furniture/carpets.yml
Labels: Issue: Bug, No C#, Size: Very Small

#8101 Censor Slimes
  Resources/Textures/Mobs/Species/Slime/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Slime/parts.rsi/r_leg.png
Labels: No C#, Changes: Sprites

#7824 SlowOnDamage for mobs. Removes pulling from some mobs.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#7545 Allows pickuppable animals to resist out of inventory
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Resources/Locale/en-US/resist/components/escape-inventory-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Status: Needs Review

#7659 Machine Port Prototypes
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/MachineLinking/UI/SignalPortSelectorMenu.xaml.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Server/Conveyor/ConveyorComponent.cs
  Content.Server/Conveyor/ConveyorSystem.cs
  Content.Server/Explosion/Components/TriggerOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Content.Server/Light/Components/PoweredLightComponent.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/MachineLinking/Components/DoorSignalControlComponent.cs
  Content.Server/MachineLinking/Components/SignalButtonComponent.cs
  Content.Server/MachineLinking/Components/SignalReceiverComponent.cs
  Content.Server/MachineLinking/Components/SignalSwitchComponent.cs
  Content.Server/MachineLinking/Components/SignalTransmitterComponent.cs
  Content.Server/MachineLinking/Components/SignallerComponent.cs
  Content.Server/MachineLinking/Components/TwoWayLeverComponent.cs
  Content.Server/MachineLinking/Events/InvokePortEvent.cs
  Content.Server/MachineLinking/System/DoorSignalControlSystem.cs
  Content.Server/MachineLinking/System/SignalButtonSystem.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/MachineLinking/System/SignalSwitchSystem.cs
  Content.Server/MachineLinking/System/SignallerSystem.cs
  Content.Server/MachineLinking/System/TwoWayLeverSystem.cs
  Content.Shared/MachineLinking/MachinePortPrototype.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
Labels: Changes: UI, Status: Needs Review

#7633 Adds suppermatter
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/suppermatter-shard.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/suppermatter.png
Labels: No C#, Changes: Sprites

#7756 Cargo telepad machine linking
  Content.Server/Cargo/CargoSystem.Console.cs
  Content.Server/Cargo/CargoSystem.Telepad.cs
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
Labels: Status: Needs Review

#7813 Salami Lid
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Decoration/lidsalami.yml
  Resources/Prototypes/LootTables/suspicion_loot_table.yml
  Resources/Textures/Objects/Decoration/lidsalami.rsi/icon.png
  Resources/Textures/Objects/Decoration/lidsalami.rsi/meta.json
Labels: No C#, Changes: Sprites

#6939 Adds cat ears as rare loot and traitor item
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Head/Hats/catears.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/catears.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/catears.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/catears.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/catears.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#7802 Pie transfer reagent on collision
  Content.Server/Chemistry/Components/SolutionInjectOnCollideComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: Status: Needs Review

#8094 Atlas Station Component
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8098 Moose Station Component
  Resources/Maps/moose.yml
  Resources/Prototypes/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8100 Saltern Small Update 3.2
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8046 Fish Cap
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/meta.json
Labels: No C#, Changes: Sprites

#8079 Added the recipes and tech for several shotgun bullet
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#8055 Expanded icon smoothing conversion scripts
  Tools/iconsmooth.py
  Tools/iconsmooth_inv.py
  Tools/iconsmooth_lib.py
Labels: No C#

#8003 Syndie Commander and Syndie Elite Armors
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiecommander.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndieelite.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiecommander.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndieelite.rsi/meta.json
Labels: No C#, Changes: Sprites

#8041 GatherableSystem/Component
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Gatherable/Components/GatherableComponent.cs
  Content.Server/Gatherable/Components/GatheringToolComponent.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/Mining/Components/MineableComponent.cs
  Content.Server/Mining/Components/PickaxeComponent.cs
  Content.Server/Mining/MineableSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/LootTables/mining_loot_table.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#8122 Filing Cabinet Fixes
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: No C#

#8118 Barratry Update
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8123 fix fish hat
  Resources/Textures/Clothing/Head/Hats/fishcap.rsi/equipped-HELMET.png
Labels: No C#, Changes: Sprites

#8117 Suicide2
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Toilet/ToiletSystem.cs
Labels: Status: Needs Review

#7825 The Newest Furry Race [Skeletons]
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Body/Components/BodyComponent.cs
  Content.Server/Body/Components/BodyReassembleComponent.cs
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Shared/Body/Components/SharedBodyComponent.cs
  Content.Shared/Body/Part/BodyPartCompatibility.cs
  Content.Shared/Species/SpeciesPrototype.cs
  Resources/Audio/Effects/bone_rattle.ogg
  Resources/Audio/Effects/license.txt
  Resources/Audio/Effects/licenses.txt
  Resources/Audio/Voice/Skeleton/license.txt
  Resources/Audio/Voice/Skeleton/skeleton_scream.ogg
  Resources/Locale/en-US/body/behavior/reassemble.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Presets/skeleton.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/skull_icon.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/torso_m.png
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#8065 Optionally deserialize `AudioParams` in `SoundSpecifier`
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Sound/SoundSpecifier.cs
Labels: Status: Needs Review

#7890 Lizard name datasets
  Content.Client/Preferences/UI/HumanoidProfileEditor.Random.cs
  Content.Shared/CharacterAppearance/Sex.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Species/SpeciesPrototype.cs
  Resources/Prototypes/Datasets/Names/reptilian_female.yml
  Resources/Prototypes/Datasets/Names/reptilian_male.yml
  Resources/Prototypes/species.yml
Labels: Status: Needs Review

#8066 Don't force bwoink window open for admins
  Content.Client/Administration/BwoinkSystem.cs
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/HUD/GameHud.ButtonBar.cs
Labels: Changes: UI, Status: Needs Review

#7828 Powercell adjustment
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
Labels: No C#, Status: Needs Review

#7898 Shuttle Assembly Crate
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
Labels: No C#

#8048 Round end audio
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Audio/Announcements/RoundEnd/apc_destroyed.ogg
  Resources/Audio/Announcements/RoundEnd/bangin_donk.ogg
  Resources/Audio/Announcements/RoundEnd/license.txt
  Resources/Prototypes/SoundCollections/announcements.yml
Labels: Status: Needs Review

#8069 Laser gun bugfix & damage adjustment
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: No C#, Status: Needs Review

#8127 fix elite suit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#8126 Skeleton Sprite Fix
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Skeleton/parts.rsi/head_m.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#8114 Legally distinct gravity gun
  Content.Client/Weapons/Ranged/TetherGunCommand.cs
  Content.Client/Weapons/Ranged/TetherGunSystem.cs
  Content.Server/Weapon/Ranged/TetherGunSystem.cs
  Content.Shared/Weapons/Ranged/SharedTetherGunSystem.cs
  Resources/Prototypes/Entities/Virtual/tether.yml
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#8128 Escalation rules
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#8124 Added the TechFabCircuitboards and made them spawn in the head's lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#8130 Moved disarmed event
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/CombatMode/DisarmedEvent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Recycling/Components/RecyclerComponent.cs
  Content.Server/Stunnable/StunSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
Labels: Status: Needs Review

#8131 Fixing warnings
  Content.Server/AI/Utility/AiLogic/UtilityAI.cs
  Content.Server/AI/WorldState/States/Clothing/NearbyClothingState.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Administration/Commands/Station/ListStationJobsCommand.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzableSystem.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Body/Components/BodyScannerComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chemistry/ReactionEffects/ExplosionReactionEffect.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Doors/WireActions/DoorBoltLightWireAction.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Doors/WireActions/DoorSafetyWireAction.cs
  Content.Server/Doors/WireActions/DoorTimingWireAction.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Payload/EntitySystems/PayloadSystem.cs
  Content.Server/Remotes/DoorRemoteComponent.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/RadiationStorm.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Server/Weapon/Melee/ZombieTransfer/ZombieTransferSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/GasArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/RadiateArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/TemperatureArtifactComponent.cs
Labels: Status: Needs Review

#8129 Tether gun fixes
  Content.Client/Maps/GridDraggingCommand.cs
  Content.Client/Weapons/Ranged/TetherGunCommand.cs
  Content.Client/Weapons/Ranged/TetherGunSystem.cs
  Content.Server/Weapon/Ranged/TetherGunSystem.cs
  Content.Shared/Audio/AmbientSoundComponent.cs
  Content.Shared/Weapons/Ranged/SharedTetherGunSystem.cs
Labels: Status: Needs Review

#8139 Barratry Hotfix
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#8142 remove ghost nose for good
  Resources/Textures/Mobs/Ghosts/ghost_human.rsi/animated.png
Labels: No C#, Changes: Sprites

#7991 It's a waffle home. [New Salvage]
  Resources/Maps/Salvage/wh-salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map, Status: Needs Review

#8137 Skeleton Bugfix Pt. 2
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Textures/Mobs/Customization/eyes.rsi/meta.json
  Resources/Textures/Mobs/Customization/eyes.rsi/no_eyes.png
Labels: Changes: Sprites, Status: Needs Review

#8149 Fix interaction and add comments to CollisionGroup
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
Labels: Issue: Bug, Priority: 1-Urgent

#8144 Entities gib when being microwaved
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
Labels: Status: Needs Review

#8136 Airlocks now trap air in their tile.
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: No C#

#8164 Map-disablable pumps (for fixing Delta)
  Content.Server/Atmos/Piping/Binary/Components/GasPressurePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/Components/GasVolumePumpComponent.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasFilterComponent.cs
  Content.Server/Atmos/Piping/Trinary/Components/GasMixerComponent.cs
Labels: Status: Needs Review

#8166 Make Lobby Background Not Stretch
  Content.Client/Lobby/UI/LobbyGui.xaml
Labels: Changes: UI, No C#

#8170 Fix IsBlockedTurf throwing when entities do not have a PhysicsComponent
  Content.Shared/Maps/TurfHelpers.cs
Labels: Status: Needs Review

#8167 Asteroid buff
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: No C#

#8157 Harmbaton rework + remove `MeleeInteractEvent`
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review
