Repository space-wizards/space-station-14, pull requests merged in 2022-03, with the labels that each got.

#6933 Update dragdrop pos every frame
  Content.Client/DragDrop/DragDropSystem.cs
Labels: Status: Needs Review

#6937 Moose Station
  Resources/Maps/moose.yml
  Resources/Prototypes/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6942 Fix some collision flag issues
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: No C#, Status: Needs Review

#6918 Network tab + net.interp_ratio slider
  Content.Client/Content.Client.csproj
  Content.Client/EscapeMenu/UI/OptionsMenu.xaml
  Content.Client/EscapeMenu/UI/OptionsMenu.xaml.cs
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#6941 Remove dice spam
  Content.Server/Dice/DiceSystem.cs
Labels: Status: Needs Review

#6930 Load Maps on Round Start, not Round Restart
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#6787 Jumpsuit butchering and gauze crafting
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/gauze.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Textures/Interface/VerbIcons/cutlery.svg
  Resources/Textures/Interface/VerbIcons/cutlery.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/cutley.svg.192dpi.png.yml
Labels: Type: Improvement, Type: Feature, Status: Needs Review

#6857 fix railing vaulting
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#6929 Adjust mapping command order
  Content.Server/GameTicking/Commands/MappingCommand.cs
Labels: Status: Needs Review

#6840 Add a Color parameter to dispatching announcements, change the color of certain common messages
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/StationEvents/Events/StationEvent.cs
Labels: Status: Needs Review

#6877 Mapping Actions
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Commands/ActionsCommands.cs
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Server/GameTicking/Commands/MappingCommand.cs
  Resources/Textures/Tiles/cropped_parallax.png
  Resources/mapping_actions.yml
Labels: Type: Feature, Status: Needs Review

#6740 Add multi-layer in-hand and clothing support
  Content.Client/Clothing/ClothingSystem.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/HandsVisualizer.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Inventory/ClientInventoryComponent.cs
  Content.Client/Items/Systems/ItemSystem.cs
  Content.Server/Items/ItemSystem.cs
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Hands/Components/HandVirtualItemComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Hands/SharedHandsSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/SharedItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Status: Needs Review

#6938 Map renderer now supports large sprites and rotations.
  Content.MapRenderer/Painters/EntityPainter.cs
  Content.MapRenderer/Painters/GridPainter.cs
  Content.MapRenderer/Program.cs
Labels: Status: Needs Review

#6958 Fix tile actions
  Content.Client/Mapping/MappingSystem.cs
  Resources/mapping_actions.yml
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6960 Fix how movement sets an entities' rotation.
  Content.Shared/Movement/SharedMoverController.cs
Labels: Size: Very Small, Status: Needs Review

#6950 Saltern
  Resources/Maps/saltern.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6963 Fix rcd obstruction check
  Content.Server/RCD/Systems/RCDSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#6959 Check mass on climb glass table
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Climbing/Components/GlassTableComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: Status: Needs Review

#6944 Makes Xenos need no air, cold proof, stronger
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: No C#, Status: Needs Review

#6914 Mark IItemStatus as obsolete
  Content.Client/Items/Components/IItemStatus.cs
Labels: Status: Needs Review

#6964 Let items on conveyor belts round corners
  Content.Server/Physics/Controllers/ConveyorController.cs
Labels: Status: Needs Review

#6970 Three more plushies
  Resources/Audio/Items/Toys/licensing.txt
  Resources/Audio/Items/Toys/muffled_weh.ogg
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_ratvar.png
  Resources/Textures/Objects/Fun/toys.rsi/plushie_rouny.png
  Resources/Textures/Objects/Fun/toys.rsi/plushie_spacelizard.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6972 Quickfix: Add Salvage access to QM door remote, and Armory access to HoS remote
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: No C#, Status: Needs Review

#6912 Bagel Update 11.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6965 Moose Update 1
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6931 EntityLookup as a system for content
  Content.Client/Actions/UI/ActionSlot.cs
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/AdminSystem.Menu.cs
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/NodeContainer/NodeGroupSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Client/Viewport/GameScreenBase.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDestructionTest.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Cargo/Components/CargoConsoleComponent.cs
  Content.Server/Chat/Commands/SuicideCommand.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Fluids/EntitySystems/SpillableSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Server/Radiation/RadiationPulseSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/TelepathicArtifactSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
  Resources/Prototypes/Entities/Mobs/NPCs/dummy_npcs.yml
Labels: Status: Needs Review

#6954 Adds onion and oat seeds to vendor and crate
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: No C#, Status: Needs Review

#6977 Load Maps on Round Start, not Round Restart. Shut down server if Round fails to Start 5 times.
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#6978 Fix drone hat offset
  Content.Client/Clothing/ClothingSystem.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/InventoryTemplates/drone_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Labels: Type: Bug, Status: Needs Review

#6976 Add money to the captain's locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#, Status: Needs Review

#6982 Positional audio for Monkey Cubes.
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
Labels: Status: Needs Review

#6983 fix potted plant
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
Labels: Status: Needs Review

#6955 Adds 2 new windoor types and fixes glass EVA airlock
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: No C#, Status: Needs Review

#6986 Hopefully fix alerts disappearing
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Shared/Alert/AlertsSystem.cs
Labels: Type: Bug, Status: Needs Review

#6989 Load Maps on Round Start, not Round Restart v3
  Content.IntegrationTests/Tests/Administration/Logs/AddTests.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.JobController.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#6991 Revert "Adds gratuitous logging to AlertsUI for debugging."
  Content.Client/Alerts/UI/AlertsUI.xaml.cs
  Content.Shared/Alert/AlertKey.cs
Labels: Changes: UI, Status: Needs Review

#6996 Saltern Update 1
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6988 Bagel Update 11.3
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#6837 White and dark tiles craftable 2: Electric Boogalo!
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/tiles.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
Labels: No C#, Status: Needs Review

#6985 Make hardsuit helmets hide hair.
  Content.Client/Clothing/ClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#7004 fix blood loss divide by zero
  Content.Server/Body/Systems/BloodstreamSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#7011 Add new Weh-themed posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster50_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster51_contraband.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#6997 Fix medkit item size and storage capacity
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: No C#, Status: Needs Review

#6468 Tweak shuttle movement
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/EntitySystems/ShuttleSystem.cs
  Content.Server/Shuttles/EntitySystems/ThrusterSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Type: Discussion, Status: Needs Review

#7015 Fix electrocution
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Resources/Prototypes/Entities/Virtual/electrocution.yml
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#7012 Fix the mass scanner ui
  Content.Client/Radar/RadarConsoleWindow.xaml.cs
  Content.Server/Radar/RadarConsoleSystem.cs
Labels: Changes: UI, Status: Needs Review

#7016 Fix more movement-rotation issues
  Content.Shared/Movement/SharedMoverController.cs
Labels: Size: Very Small, Status: Needs Review

#7018 Musician PDA quick fix
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/PDA/PDAMenu.xaml
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/PDA/PDASystem.cs
  Content.Shared/PDA/PDAMessagesUI.cs
  Content.Shared/PDA/PDAUpdateState.cs
  Resources/Locale/en-US/pda/pda-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: UI, Status: Needs Review

#7009 Drone 1984
  Content.Server/Drone/Components/DroneComponent.cs
  Content.Server/Drone/DroneSystem.cs
  Resources/Locale/en-US/drone/drone-system.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/apc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/solar.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Tools/t-ray.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#6934 Makes grids that pass a certain size airtight.
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Shuttles/EntitySystems/ShuttleSystem.cs
Labels: Status: Needs Review

#6952 Pillar 5.2
  Resources/Maps/nss_pillar.yml
  Resources/Prototypes/Maps/game.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7007 Fix things floating through asteroid rocks
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: No C#, Status: Needs Review

#7021 Welder flame fix
  Content.Client/Tools/Visualizers/WelderVisualizerSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Tools/Components/SharedWelderComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Status: Needs Review

#7025 Removes almost all of the unused chems
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#7029 Fix a bug in rolebans.
  Content.Server/Administration/Managers/RoleBanManager.cs
Labels: Status: Needs Review

#7033 Teensy patch
  Content.Client/Administration/Managers/GamePrototypeLoadManager.cs
  Content.Server/Administration/GamePrototypeLoadManager.cs
Labels: Status: Needs Review

#6957 Miku Day Holiday Box for Musician
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Textures/Clothing/Shoes/Boots/performer.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/performer.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/performer.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/performer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/performer.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/performer.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#7034 fix popups
  Content.Client/Popups/PopupSystem.cs
Labels: Status: Needs Review

#6968 Uniform Printers
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_adamantine.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_bananium.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_diamond.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_glass.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_gold.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_metal.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_phoron.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_plasma.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_plastic.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_silver.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/inserting_uranium.png
  Resources/Textures/Structures/Machines/circuit_imprinter.rsi/meta.json
  Resources/Textures/Structures/Machines/uniform_printer.rsi/building.png
  Resources/Textures/Structures/Machines/uniform_printer.rsi/icon.png
  Resources/Textures/Structures/Machines/uniform_printer.rsi/meta.json
  Resources/Textures/Structures/Machines/uniform_printer.rsi/panel.png
  Resources/Textures/Structures/Machines/uniform_printer.rsi/unlit.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7044 Saltern Update 2.1
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7043 Moose Update 1.1
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7036 Removes obsolete uses of IMapManager events.
  Content.Client/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/AI/Pathfinding/Accessible/AiReachableSystem.cs
  Content.Server/AI/Pathfinding/PathfindingSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
Labels: Status: Needs Review

#7046 Make combat check CanInteract
  Content.Server/Interaction/InteractionSystem.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Interaction/Events/AttackAttemptEvent.cs
  Content.Shared/MobState/EntitySystems/MobStateSystem.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Status: Needs Review

#6856 Predict general interactions.
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Timing/UseDelaySystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Timing/UseDelayComponent.cs
  Content.Shared/Timing/UseDelaySystem.cs
Labels: Status: Needs Review

#7048 Adds an integration test for FollowerSystem.
  Content.IntegrationTests/Tests/FollowerSystemTest.cs
Labels: Status: Needs Review

#6881 Clarify round stalling under Rule 1
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#6956 Tile variants content
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.Server/Administration/Commands/VariantizeCommand.cs
  Content.Server/Tiles/FloorTileItemComponent.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Locale/en-US/administration/commands/variantize-command.ftl
  Resources/Locale/en-US/shell.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/Asteroid/asteroid_coarse_sand.png
  Resources/Textures/Tiles/Asteroid/asteroid_coarse_sand0.png
  Resources/Textures/Tiles/Asteroid/asteroid_coarse_sand1.png
  Resources/Textures/Tiles/Asteroid/asteroid_coarse_sand2.png
  Resources/Textures/Tiles/bar.png
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/white.png
  Resources/Textures/Tiles/wood.png
Labels: Status: Needs Review

#7042 Bagel Update 11.4
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7051 Fix toolbar size issue
  Content.Client/Actions/UI/ActionMenuItem.cs
  Content.Client/Actions/UI/ActionSlot.cs
Labels: Size: Very Small, Status: Needs Review

#7020 Humanoid appearance fixes
  Content.Client/CharacterAppearance/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/CharacterAppearance/HumanoidCharacterAppearance.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayers.cs
Labels: Status: Needs Review

#6973 Initial mockup of the Reptilian species
  Content.Client/CharacterAppearance/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/Body/Part/BodyPartType.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayers.cs
  Content.Shared/CharacterAppearance/HumanoidVisualLayersExtension.cs
  Content.Shared/Species/SpeciesPrototype.cs
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/species.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_aquatic.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_short.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_simple.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_angler.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_curled.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_ram.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_short.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_simple.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_round.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_roundlight.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_sharp.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/snout_sharplight.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_dtiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_ltiger_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_smooth_front.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_behind.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/tail_spikes_front.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/torso_m.png
Labels: Status: DO NOT MERGE, Changes: Sprites, Status: Needs Review

#6981 Wearing guitar on your back.
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
Labels: No C#, Status: Needs Review

#7060 Predicted footstep sounds
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Movement/Components/FootstepModifierComponent.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Components/FootstepModifierComponent.cs
  Content.Shared/Movement/SharedMoverController.cs
  Content.Shared/Tag/TagSystem.cs
Labels: Status: Needs Review

#7068 Revert "Predicted footstep sounds"
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Movement/Components/FootstepModifierComponent.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Components/FootstepModifierComponent.cs
  Content.Shared/Movement/SharedMoverController.cs
  Content.Shared/Tag/TagSystem.cs
Labels: Status: Needs Review

#7069 Update clickmap test for world rotation preservation
  Content.IntegrationTests/Tests/ClickableTest.cs
Labels: Size: Very Small, Status: Needs Review

#6926 Implement Intrinsic UIs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/IntrinsicUIComponent.cs
  Content.Server/UserInterface/IntrinsicUISystem.cs
  Resources/Locale/en-US/robotics/ai-actions.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Status: Needs Review

#7070 Fix some pop-up spam
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Size: Very Small

#7067 Sort playertab by username
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
Labels: Changes: UI, Status: Needs Review

#7074 Remove IUse
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Clothing/Components/ClothingComponent.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Dice/DiceSystem.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Content.Server/Extinguisher/FireExtinguisherSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/RCD/Systems/RCDSystem.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Server/Stunnable/StunbatonSystem.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapon/Ranged/GunSystem.AmmoBox.cs
  Content.Server/Weapon/Ranged/GunSystem.Bolt.cs
  Content.Server/Weapon/Ranged/GunSystem.Magazine.cs
  Content.Server/Weapon/Ranged/GunSystem.Pump.cs
  Content.Server/Weapon/Ranged/GunSystem.RangedMagazine.cs
  Content.Server/Weapon/Ranged/GunSystem.Revolvers.cs
  Content.Server/Weapon/Ranged/GunSystem.SpeedLoader.cs
  Content.Server/Weapon/Ranged/GunSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Interaction/Events/ChangeDirectionAttemptEvent.cs
  Content.Shared/Interaction/Events/UseInHandEvent.cs
  Content.Shared/Interaction/IUse.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/SharedItemComponent.cs
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Belt/base_clothingbelt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Status: Needs Review

#7085 Fix use-in-hand interactions
  Content.Client/Clothing/ClothingComponent.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Server/Clothing/Components/ClothingComponent.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/SharedItemComponent.cs
Labels: Type: Bug, Status: Needs Review

#7028 Convert almost all IActivate instances that open UIs to ActivatableUI
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/Arcade/ArcadeSystem.cs
  Content.Server/Arcade/Components/BlockGameArcadeComponent.cs
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Body/Components/BodyScannerComponent.cs
  Content.Server/CharacterAppearance/Components/MagicMirrorComponent.cs
  Content.Server/CharacterAppearance/Systems/HumanoidAppearanceSystem.cs
  Content.Server/CharacterAppearance/Systems/MagicMirrorSystem.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Drone/Components/DroneComponent.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Lathe/Components/LatheComponent.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Research/Components/ResearchClientComponent.cs
  Content.Server/Research/Components/ResearchConsoleComponent.cs
  Content.Server/Research/Components/ResearchPointSourceComponent.cs
  Content.Server/Research/ResearchSystem.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Resources/Locale/en-US/components/base-computer-ui-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
Labels: Status: Needs Review

#7086 Todd lobby themes
  Resources/Audio/Lobby/Comet-Haley.ogg
  Resources/Audio/Lobby/Marhaba.ogg
  Resources/Audio/Lobby/Title3.ogg
  Resources/Audio/Lobby/licenses.txt
Labels: No C#, Status: Needs Review

#7093 Various chem physical desc fixes
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Type: Bug, Size: Very Small

#7071 Botany fix
  Content.Server/Botany/Systems/BotanySystem.Plant.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
Labels: Type: Bug, Status: Needs Review

#7059 I LOVE LEAN (Makes Lean Craftable and gives it wacky effects)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#, Status: Needs Review

#7049 Buffs window resistance and nerfs spears
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/spear.yml
Labels: No C#, Status: Needs Review

#7091 Fix guitar and other items swaping
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Debugging/spanisharmyknife.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#, Status: Needs Review

#7073 Ambience enhancements.
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasValveSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Shared/Audio/AmbientSoundComponent.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Resources/Audio/Ambience/Objects/gas_hiss.ogg
  Resources/Audio/Ambience/Objects/gas_pump.ogg
  Resources/Audio/Ambience/Objects/gas_vent.ogg
  Resources/Audio/Ambience/Objects/license.txt
  Resources/Locale/en-US/shell.ftl
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Status: Needs Review

#6943 Adds Onestar mech ghost-role enemy
  Content.Server/Weapon/Ranged/Ammunition/Components/AmmoComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/hrifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/hrifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/hrifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Mobs/Silicon/onestar.rsi/meta.json
  Resources/Textures/Mobs/Silicon/onestar.rsi/onestar_boss.png
  Resources/Textures/Mobs/Silicon/onestar.rsi/onestar_boss_screen.png
  Resources/Textures/Mobs/Silicon/onestar.rsi/onestar_boss_unpowered.png
  Resources/Textures/Mobs/Silicon/onestar.rsi/onestar_boss_wrecked.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/bolt-closed.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/holstered.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/HMGs/minigun.rsi/notholstered.png
Labels: Changes: Sprites, Status: Needs Review

#7097 add new music to lobby.yml and changed names to keep convention
  Resources/Audio/Lobby/comet_haley.ogg
  Resources/Audio/Lobby/marhaba.ogg
  Resources/Audio/Lobby/title3.ogg
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#, Status: Needs Review

#7099 Make mech's bullets caseless
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/hrifle.yml
Labels: No C#, Status: Needs Review

#7096 Add lizard accent
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Speech/Components/LizardAccentComponent.cs
  Content.Server/Speech/EntitySystems/LizardAccentSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Status: Needs Review

#7075 Remove IDropped
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Extinguisher/FireExtinguisherSystem.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Interaction/Events/DroppedEvent.cs
  Content.Shared/Interaction/IDropped.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#7024 Drone Tweaks
  Content.Server/Drone/Components/DroneComponent.cs
  Content.Server/Drone/DroneSystem.cs
  Resources/Locale/en-US/drone/drone-system.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: Status: Needs Review

#7100 Potency sprite scaling
  Content.Client/Botany/PotencyVisualsComponent.cs
  Content.Client/Botany/PotencyVisualsSystem.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Shared/Botany/ProduceVisuals.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: Type: Feature, Status: Needs Review

#7101 Fix ambiance error
  Content.Client/Audio/AmbientSoundSystem.cs
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#7108 Fix non-roundstart species showing up... at roundstart
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, Status: Needs Review

#7107 Predicted footstep sounds
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Movement/Components/FootstepModifierComponent.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Components/FootstepModifierComponent.cs
  Content.Shared/Movement/SharedMoverController.cs
  Content.Shared/Tag/TagSystem.cs
Labels: Status: Needs Review

#7110 Remove lean.
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#, Status: Needs Review

#7111 Foxes and Renault
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Animals/fox.rsi/fox.png
  Resources/Textures/Mobs/Animals/fox.rsi/fox_dead.png
  Resources/Textures/Mobs/Animals/fox.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#7118 Disease performance improvements
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Disease/Effects/DiseaseSnough.cs
Labels: Status: Needs Review

#7114 Moose Update 1.2
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7115 Saltern Update 2.2
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7113 Bagel Update 11.5
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7077 Lobby Refactor
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/UserInterface/Controls/HLine.cs
  Content.Client/UserInterface/Controls/HSpacer.cs
  Content.Client/UserInterface/Controls/VSpacer.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Textures/LobbyScreens/PutLobbyScreensHere.txt
Labels: Changes: UI, Status: Needs Review

#7095 Make plates and bowls recyclable
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
Labels: No C#, Status: Needs Review

#7092 Fix cloner UI toggle
  Content.Server/Medical/MedicalScannerSystem.cs
Labels: Status: Needs Review

#7094 Generic clothing speed modifiers + hardsuit slowdown
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierComponent.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/SharedMagbootsComponent.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: Type: Improvement, Status: Needs Review, Type: Balance

#6975 Update nuget dependencies
  Content.Client/Content.Client.csproj
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.Server/Content.Server.csproj
  Content.Shared/Content.Shared.csproj
  Content.Tests/Content.Tests.csproj
Labels: No C#, Status: Needs Review

#7106 Buff meth
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#, Status: Needs Review

#7121 Disease Tweaks & Fixes
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: Status: Needs Review

#7089 Additional_animated_alien_called_purple_snake
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/dead_purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/dead_small_purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/purple_snake.png
  Resources/Textures/Mobs/Aliens/Xenos/purple_snake.rsi/small_purple_snake.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7022 Added new sprites for the security techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Textures/Structures/Machines/security_techfab.rsi/icon.png
  Resources/Textures/Structures/Machines/security_techfab.rsi/meta.json
  Resources/Textures/Structures/Machines/security_techfab.rsi/panel.png
  Resources/Textures/Structures/Machines/security_techfab.rsi/unlit.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7123 Fix sloth's disease shit
  Content.Server/Chemistry/ReagentEffects/ChemCauseDisease.cs
  Content.Server/Disease/Components/DiseaseVaccineComponent.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Shared/Disease/DiseasePrototype.cs
Labels: Status: Needs Review

#6718 Mopping ECS (No BucketComponents allowed!)
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Fluids/Components/AbsorbentComponent.cs
  Content.Server/Fluids/Components/BucketComponent.cs
  Content.Server/Fluids/Components/MopComponent.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Resources/Locale/en-US/fluids/components/absorbent-component.ftl
  Resources/Locale/en-US/fluids/components/mop-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#6795 New generators and wallmount substation (Shuttle power PR)
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/apc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/solar.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen0_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen0_1.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen1_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen1_1.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen2_0.png
  Resources/Textures/Structures/Power/Generation/portable_generator.rsi/portgen2_1.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_damaged.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_glow.png
  Resources/Textures/Structures/Power/Generation/rtg.rsi/rtg_open.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/on.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/panel.png
  Resources/Textures/Structures/Power/Generation/wallmount_generator.rsi/warning.png
  Resources/Textures/Structures/Power/apc.rsi/apcframe.png
  Resources/Textures/Structures/Power/substation.rsi/meta.json
  Resources/Textures/Structures/Power/substation.rsi/substation_wall.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#7132 Convert some stereo audio into mono
  Resources/Audio/Effects/Fluids/blood2.ogg
  Resources/Audio/Effects/explosion1.ogg
  Resources/Audio/Effects/explosion2.ogg
  Resources/Audio/Effects/smoke.ogg
  Resources/Audio/Items/Handcuffs/ziptie_start.ogg
  Resources/Audio/Items/Medical/brutepack_begin.ogg
  Resources/Audio/Items/Medical/brutepack_end.ogg
  Resources/Audio/Items/Medical/generic_healing_begin.ogg
  Resources/Audio/Items/Medical/generic_healing_end.ogg
  Resources/Audio/Items/Medical/ointment_begin.ogg
  Resources/Audio/Items/Medical/ointment_end.ogg
  Resources/Audio/Items/lighter_off.ogg
  Resources/Audio/Items/pill.ogg
  Resources/Audio/Items/pop.ogg
  Resources/Audio/Machines/Nuke/nuke_alarm.ogg
  Resources/Audio/Machines/alarm.ogg
  Resources/Audio/Machines/lockenable.ogg
  Resources/Audio/Machines/lockreset.ogg
  Resources/Audio/Machines/phasein.ogg
  Resources/Audio/Misc/notice1.ogg
  Resources/Audio/Misc/windowsXP_error.ogg
  Resources/Audio/Misc/windowsXP_shutdown.ogg
  Resources/Audio/Misc/windowsXP_startup.ogg
Labels: Type: Bug, No C#, Size: Very Small, Status: Needs Review

#7130 Fix AUI interaction checks
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
Labels: Type: Bug, Size: Very Small, Status: Needs Review

#7141 Long overdue
  Resources/Audio/Lobby/Flip_flap.ogg
  Resources/Audio/Lobby/licenses.txt
  Resources/Prototypes/SoundCollections/lobby.yml
Labels: No C#, Status: Needs Review

#7149 Remove destroyed machine frame from construction menu
  Resources/Prototypes/Recipes/Construction/machines.yml
Labels: No C#, Size: Very Small, Status: Needs Review

#6948 Add the Omnitool, drone adjustments
  Content.Server/Drone/DroneSystem.cs
  Resources/Prototypes/Body/Presets/drone.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/omnitool.rsi/meta.json
  Resources/Textures/Objects/Tools/omnitool.rsi/omnitool-prying.png
  Resources/Textures/Objects/Tools/omnitool.rsi/omnitool-pulsing.png
  Resources/Textures/Objects/Tools/omnitool.rsi/omnitool-screwing.png
  Resources/Textures/Objects/Tools/omnitool.rsi/omnitool-snipping.png
  Resources/Textures/Objects/Tools/omnitool.rsi/omnitool-wrenching.png
Labels: Changes: Sprites, Status: Needs Review

#7143 Adds directionals for arcade machines
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Structures/Machines/arcade.rsi/arcade.png
  Resources/Textures/Structures/Machines/arcade.rsi/arcade_broken.png
  Resources/Textures/Structures/Machines/arcade.rsi/blockgame.png
  Resources/Textures/Structures/Machines/arcade.rsi/invaders.png
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#7151 Shrinks possums and raccoon sprites
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Animals/possum.rsi/possum.png
  Resources/Textures/Mobs/Animals/possum.rsi/possum_dead.png
  Resources/Textures/Mobs/Animals/raccoon.rsi/raccoon.png
  Resources/Textures/Mobs/Animals/raccoon.rsi/raccoon_dead.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7150 Add sorting the admin player panel by clicking the headers
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
Labels: Changes: UI, Status: Needs Review

#7152 Make the admin set OOC and LOOC buttons a toggle
  Content.Client/Administration/UI/Tabs/ServerTab.xaml
  Content.Client/Administration/UI/Tabs/ServerTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI, Status: Needs Review

#7158 Allow consuming while moving
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: Status: Needs Review

#7159 Saltern Update 2.3
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7161 Saltern 2.3.1
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7165 Puddle error fix
  Content.Client/Fluids/PuddleVisualizer.cs
Labels: Size: Very Small, Status: Needs Review

#7035 Guardian brushup and bullet passthrough
  Resources/Locale/en-US/guardian/guardian.ftl
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Textures/Interface/Actions/manifest.png
Labels: No C#, Status: Needs Review

#6826 Hypopen
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/overpriced_pen.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#7164 disable station rotation by default as it's broken
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#7162 Adds support for a map rotation system.
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Maps/IGameMapManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Maps/game.yml
Labels: Changes: Map, Status: Needs Review

#7168 Add some logging and make moose more easy to play on.
  Content.Server/Maps/GameMapManager.cs
  Resources/Prototypes/Maps/moose.yml
Labels: Changes: Map

#7170 ctrl-rclick tweaks
  Content.Client/Pulling/PullingSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: Status: Needs Review

#7171 Revert "ctrl-rclick tweaks"
  Content.Client/Pulling/PullingSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: Status: Needs Review

#7184 Remove Anti-Lizard Decal from Crayons
  Resources/Prototypes/Decals/crayons.yml
Labels: No C#, Status: Needs Review

#7176 Bandaid pullcontroller
  Content.Server/Physics/Controllers/PullController.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
Labels: Status: Needs Review

#6401 Adds more directional signs. Fixes directions on existing
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_brig.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chapel.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_cryo.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_dorms.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_evac.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_gravity.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hydro.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_salvage.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_solar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_supply.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_wash.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Size: Very Small, Changes: Sprites, Status: Awaiting Changes

#7183 Use correct bowl trash id
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
Labels: No C#, Status: Needs Review

#7190 Add custom type serializer to destruction spawn
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
Labels: Status: Needs Review

#7193 Make more entities destructible
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: No C#, Status: Needs Review

#7200 Update Rules.txt
  Resources/Server Info/Rules.txt
Labels: No C#

#7031 Doctor PDA functions as a health analyzer
  Content.Server/PDA/PDASystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review

#7066 Increase the cost of Emitters
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
Labels: No C#, Status: Needs Review

#7163 corrects hatsune sprite
  Resources/Textures/Clothing/Uniforms/Jumpskirt/performer.rsi/equipped-INNERCLOTHING.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7196 Update butchering popups
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
Labels: Status: Needs Review

#7169 Optimise pinpointer activation significantly
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Shared/Nuke/NukeDiskComponent.cs
  Content.Shared/Pinpointer/PinpointerComponent.cs
  Content.Shared/Pinpointer/SharedPinpointerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#7188 Bagel Update 11.6
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7198 Crafting obstruction check.
  Content.Server/Construction/ConstructionSystem.Initial.cs
Labels: Status: Needs Review
