Repository space-wizards/space-station-14, pull requests merged in 2022-08, with the labels that each got.

#10209 identity block clown, mime, and plague doctor masks
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#

#10197 Fix gas tank bug
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#10213 Make early launches a cvar
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
Labels: Status: Needs Review

#10215 Lizards unarmed now deals piercing damage
  Resources/Audio/Weapons/licenses.txt
  Resources/Audio/Weapons/pierce.ogg
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: No C#, Status: Needs Review

#10212 Replace count prototype
  Content.Server/Containers/ContainerExt.cs
  Content.Server/Objectives/Conditions/StealCondition.cs
Labels: Status: Needs Review

#10227 Fix torch & glowstick light
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: No C#

#10231 Convert flaregun.ogg to mono
  Resources/Audio/Weapons/Guns/Gunshots/flaregun.ogg
Labels: No C#

#10235 Saltern Small Update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#10238 Marathon Update 2.9
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#10236 Bagel Update 14.7
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#10234 Packed Small Update
  Resources/Maps/packedstation.yml
Labels: No C#, Changes: Map

#10225 Localize spent lights (ExpendableLight)
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Resources/Locale/en-US/light/components/expendable-light-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: Status: Needs Review

#9819 Convert the lobby music attribution to RGA
  Resources/Audio/Lobby/attributions.yml
  Resources/Audio/Lobby/licenses.txt
Labels: No C#, Status: Needs Review

#10192 Give FingerprintMask and Fiber component to ThievingGloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#9873 Adds two new cave floors
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/cave.png
  Resources/Textures/Tiles/cavedrought.png
Labels: No C#, Size: Very Small, Status: Needs Review

#10027 Allicin
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#, Status: Needs Review

#10029 Swap Rotate and Strafe keybindings
  Resources/keybinds.yml
Labels: No C#

#10251 Lathe and ghost role localization
  Content.Client/Lathe/UI/LatheMenu.cs
  Content.Client/Lathe/UI/LatheQueueMenu.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/lathe/ui/lathe-queue-menu.ftl
  Resources/Locale/en-US/lathe/ui/lathequeue-menu.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Status: Needs Review

#10242 Fix the fix for accents on radio
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Headset/HeadsetComponent.cs
Labels: Status: Needs Review

#10249 Added damage type localization for health analyzer
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
Labels: Changes: UI, Status: Needs Review

#10208 fix backpack and duffels in hand display
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
Labels: No C#

#10217 updates lobbyscreen art to RGA
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/licenses.txt
Labels: No C#

#10261 Fixes lobby station timer
  Content.Client/Lobby/LobbyState.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#10265 Add tongue twister disease to disease artifacts, rat carriers, and mold
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/DiseaseArtifactSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#10276 So long, Detroit.
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#10279 Fix alarm sound
  Resources/Audio/Ambience/Objects/alarm.ogg
  Resources/Audio/Machines/alarm.ogg
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#10277 Make auto-closing admin announce window optional
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
Labels: Changes: UI, Status: Needs Review

#10258 Add an audio option to mute the round restart sound
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#10186 crew monitor window now has consistent size
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Shared/Access/Components/SharedIdCardConsoleComponent.cs
Labels: Changes: UI

#10000 Sexy Clown
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Textures/Clothing/Mask/sexyclown.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/icon.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/meta.json
Labels: No C#, Changes: Sprites

#10280 Cleanup unused content.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Textures/Clothing/Mask/sexyclown.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/icon.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/sexyclown.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/sexyclown.rsi/meta.json
Labels: No C#, Changes: Sprites

#10285 Nukie planet tweaks
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#10282 Infiltrator tweaks
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#8972 Cloning Rework
  Content.Client/Body/UI/BodyScannerBoundUserInterface.cs
  Content.Client/Cloning/UI/CloningPodBoundUserInterface.cs
  Content.Client/Cloning/UI/CloningPodWindow.cs
  Content.Client/CloningConsole/UI/CloningConsoleBoundUserInterface.cs
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml
  Content.Client/CloningConsole/UI/CloningConsoleWindow.xaml.cs
  Content.Client/MedicalScanner/UI/MedicalScannerBoundUserInterface.cs
  Content.Client/MedicalScanner/UI/MedicalScannerWindow.xaml
  Content.Client/MedicalScanner/UI/MedicalScannerWindow.xaml.cs
  Content.Server/Body/Components/BodyReassembleComponent.cs
  Content.Server/Body/Systems/BodyReassembleSystem.cs
  Content.Server/Cloning/AcceptCloningEui.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/ActiveCloningPodComponent.cs
  Content.Server/Cloning/Components/CloningConsoleComponent.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Shared/Cloning/SharedCloningConsole.cs
  Content.Shared/Cloning/SharedCloningPodComponent.cs
  Content.Shared/MachineLinking/Events/NewLinkEvent.cs
  Content.Shared/MedicalScanner/SharedMedicalScannerComponent.cs
  Resources/Locale/en-US/cloning/components/cloning-pod-component.ftl
  Resources/Locale/en-US/generic.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Changes: UI, Status: Needs Review

#10166 Adds trash tag to more items. New component "TrashOnEmpty"
  Content.Server/Nutrition/Components/TrashOnEmptyComponent.cs
  Content.Server/Nutrition/EntitySystems/TrashOnEmptySystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#10292 Probably fix adminnotes for offline players
  Content.Server/Administration/Commands/OpenAdminNotesCommand.cs
Labels: Status: Needs Review

#10300 bagel cloning update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#10296 saltern cloning update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#10297 packed cloning update
  Resources/Maps/packedstation.yml
Labels: No C#, Changes: Map

#10298 marathon cloning update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#10294 buff rat
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Textures/Mobs/Animals/buffrat.rsi/dead.png
  Resources/Textures/Mobs/Animals/buffrat.rsi/icon.png
  Resources/Textures/Mobs/Animals/buffrat.rsi/meta.json
  Resources/Textures/Mobs/Animals/buffrat.rsi/regalrat.png
Labels: No C#, Changes: Sprites

#10303 Meta Station fix unpowered door
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#10312 Mark ash as trash and add TrashOnEmpty to chef ingredient bags
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: No C#

#9312 Containment Field Rework
  Content.Client/Singularity/Components/ContainmentFieldComponent.cs
  Content.Client/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldComponent.cs
  Content.Server/Singularity/Components/ContainmentFieldConnection.cs
  Content.Server/Singularity/Components/ContainmentFieldGeneratorComponent.cs
  Content.Server/Singularity/Components/SingularityGeneratorComponent.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldSystem.cs
  Content.Server/Singularity/EntitySystems/SingularityGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Shared/Singularity/Components/SharedContainmentFieldComponent.cs
  Content.Shared/Singularity/Components/SharedContainmentFieldGeneratorComponent.cs
  Resources/Locale/en-US/singularity/components/containment-component.ftl
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
Labels: Changes: Map, Status: Needs Review

#10323 Steal condition fix
  Content.Server/Containers/ContainerExt.cs
  Content.Server/Objectives/Conditions/StealCondition.cs
Labels: Status: Needs Review

#10302 Fix recipe title case
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
Labels: No C#, Status: Needs Review

#10338 Remove ExtensionCableProvider from the cloning computer
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#10341 meta fixe chapel door
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#10346 Fix decal system error
  Content.Server/Chunking/ChunkingSystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#10324 Don't copy null actions on the client
  Content.Shared/Actions/ActionTypes/InstantAction.cs
  Content.Shared/Actions/ActionTypes/TargetedAction.cs
Labels: Status: Needs Review

#10355 Fix nukeops start
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Maps/infiltrator.yml
Labels: Changes: Map, Status: Needs Review

#9733 Make conveyors event driven
  Content.Server/Conveyor/ActiveConveyorComponent.cs
  Content.Server/Conveyor/ConveyorComponent.cs
  Content.Server/Conveyor/ConveyorSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Status: Needs Review

#10365 Adds another dweeb to the username replacements script
  Tools/contribs_shared.ps1
Labels: No C#

#10372 Atmos Fire Helmet Fixe 3 line yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#10371 Fix plant clonexadone
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, Status: Needs Review

#10306 Jetpack weight fixe 4 lines of yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#10342 Fix meat spike deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/meatspike.yml
Labels: No C#, Status: Needs Review

#10260 New grass & dirt tiles. Split minor update.
  Resources/Maps/splitstation.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/dirt.png
  Resources/Textures/Tiles/grassdark.png
  Resources/Textures/Tiles/grasslight.png
Labels: No C#, Changes: Map

#10361 Teeny Tiny Wand Fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/wands.yml
Labels: No C#

#10375 Fix durathread recipe
  Resources/Prototypes/Recipes/Construction/Graphs/materials/durathread.yml
Labels: No C#, Status: Needs Review

#10378 Make egg-plants contain actual egg
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#

#10348 Fix station deletion bug
  Content.Client/LateJoin/LateJoinGui.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/FollowerSystemTest.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: Status: Needs Review

#10386 Add detective to sec department
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#10387 Detective role requirements
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#

#10289 Bucket solution fills + ECS SolutionContainerVisualizer
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualizer.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsComponent.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_solutioncontainerexample.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water-3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_water.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water-3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
  Resources/Textures/Objects/Tools/bucket.rsi/fill-1.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-2.png
  Resources/Textures/Objects/Tools/bucket.rsi/fill-3.png
  Resources/Textures/Objects/Tools/bucket.rsi/meta.json
Labels: Changes: Sprites

#10389 Fix localization for playtime.
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Resources/Locale/en-US/players/play-time/play-time-commands.ftl
Labels: Status: Needs Review

#10268 Adds even more important Admin Logging
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Status: Needs Review

#10397 Fix cargo shuttle
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: Status: Needs Review

#10401 stl
  Resources/Prototypes/Datasets/Names/stool.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: Holy Shit, No C#

#10254 Carp wave spawner and dragons as an actual event
  Content.Client/Dragon/DragonRiftComponent.cs
  Content.Client/Dragon/DragonSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Server/Dragon/Components/DragonComponent.cs
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Content.Server/Dragon/DragonSystem.Rule.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/RatKing/RatKingSystem.cs
  Content.Server/Sprite/Components/RandomSpriteColorComponent.cs
  Content.Server/Sprite/Components/RandomSpriteStateComponent.cs
  Content.Server/Sprite/RandomSpriteSystem.cs
  Content.Shared/Dragon/DragonRiftComponentState.cs
  Content.Shared/Dragon/SharedDragonRiftComponent.cs
  Content.Shared/Movement/Components/MovementAlwaysTouchingComponent.cs
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/MovementIgnoreGravitySystem.cs
  Content.Shared/Sprite/RandomSpriteComponent.cs
  Content.Shared/Sprite/SharedRandomSpriteSystem.cs
  Resources/Audio/Weapons/Guns/Gunshots/license.txt
  Resources/Audio/Weapons/Guns/Gunshots/rocket_launcher.ogg
  Resources/Locale/en-US/actions/actions/dragon.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Specific/dragon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Palettes/sixteen.yml
  Resources/Textures/Interface/Actions/carp_rift.rsi/icon.png
  Resources/Textures/Interface/Actions/carp_rift.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/base.png
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/base.png
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/base.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/base_dead.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/dead_mouth.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/mouth.png
  Resources/Textures/Mobs/Animals/chicken.rsi/note.txt
  Resources/Textures/Mobs/Animals/duck.rsi/note.txt
  Resources/Textures/Structures/Specific/carp_rift.rsi/icon.png
  Resources/Textures/Structures/Specific/carp_rift.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#9278 Make PA 40% less jank
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorBoundUserInterface.cs
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.cs
  Content.Server/Singularity/Components/EmitterComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Status: Awaiting Changes

#9845 disallow stacking polymorphs by default
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Polymorphs/admin.yml
Labels: Status: Needs Review

#10114 Remove string appearance keys
  Content.Client/Atmos/Monitor/AtmosMonitorVisualizer.cs
  Content.Client/Damage/DamageVisualizer.cs
  Content.Client/Damage/DamageVisualizerComponent.cs
  Content.Client/Visualizer/FoldableVisualizer.cs
  Content.Client/Visualizer/RollerbedVisualizer.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Buckle/Components/StrapComponent.cs
  Content.Server/Construction/Completions/VisualizerDataInt.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
  Content.Shared/Buckle/Components/SharedStrapComponent.cs
  Content.Shared/Foldable/SharedFoldableSystem.cs
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Content.Shared/Toggleable/ToggleableLightVisuals.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Needs Engine PR, Status: Needs Review

#10129 Add prices for gas canisters
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Shared/Atmos/Prototypes/GasPrototype.cs
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Status: Needs Review

#9862 Add nuke ops greeting sound
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Audio/Misc/license.txt
  Resources/Audio/Misc/nukeops.ogg
Labels: Status: Needs Review

#10409 Revert "chr"
  Resources/Prototypes/Datasets/Names/chair.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#

#10408 Revert "stl"
  Resources/Prototypes/Datasets/Names/stool.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#

#10109 Bar sign suffix fix + move base wall into walls.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Entities/Structures/Walls/base_structurewalls.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#9897 Blunt melee weapons now deal stamina damage
  Content.Server/Weapon/Melee/Components/MeleeWeaponComponent.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review

#10421 Fix build
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#9985 Tranquilizer shell back to security techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#9976 Zombie SFX
  Content.Server/Zombies/ActiveZombieComponent.cs
  Content.Server/Zombies/ZombieComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Resources/Audio/Voice/Zombie/attributions.yml
  Resources/Audio/Voice/Zombie/zombie-1.ogg
  Resources/Audio/Voice/Zombie/zombie-2.ogg
  Resources/Audio/Voice/Zombie/zombie-3.ogg
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Prototypes/SoundCollections/screams.yml
  Resources/Prototypes/accents.yml
Labels: Status: Needs Review

#10191 HoS has combat gloves in his hands
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#10428 Dragon rift fixes
  Content.Server/Dragon/Components/DragonRiftComponent.cs
  Content.Server/Dragon/DragonSystem.cs
  Resources/Locale/en-US/actions/actions/dragon.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: Status: Needs Review

#10241 active pinpointers finds targets upon map transition
  Content.Server/Pinpointer/ServerPinpointerSystem.cs
  Content.Server/Shuttles/Events/HyperspaceJumpCompletedEvent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Status: Needs Review

#10429 Carp rift proximity
  Content.Server/Dragon/DragonSystem.cs
  Resources/Locale/en-US/actions/actions/dragon.ftl
Labels: Status: Needs Review

#10431 Hotfix #10114
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
  Content.Shared/Foldable/SharedFoldableSystem.cs
Labels: Status: Needs Review

#10252 Technology localization
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
Labels: Status: Needs Review

#10420 Bring ointment in line with bruise pack on healing power
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#10195 Captain's Captain's Jetpack
  Content.Server/Objectives/Conditions/StealCondition.cs
  Resources/Locale/en-US/objectives/conditions/steal-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#10194 Printable holofans
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: No C#

#10272 Add bare footstep sounds
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/Audio/Effects/Footsteps/carpetbarefoot1.ogg
  Resources/Audio/Effects/Footsteps/carpetbarefoot2.ogg
  Resources/Audio/Effects/Footsteps/carpetbarefoot3.ogg
  Resources/Audio/Effects/Footsteps/carpetbarefoot4.ogg
  Resources/Audio/Effects/Footsteps/carpetbarefoot5.ogg
  Resources/Audio/Effects/Footsteps/hardbarefoot1.ogg
  Resources/Audio/Effects/Footsteps/hardbarefoot2.ogg
  Resources/Audio/Effects/Footsteps/hardbarefoot3.ogg
  Resources/Audio/Effects/Footsteps/hardbarefoot4.ogg
  Resources/Audio/Effects/Footsteps/hardbarefoot5.ogg
  Resources/Audio/Effects/Footsteps/sources.txt
  Resources/Audio/Effects/Footsteps/woodbarefoot1.ogg
  Resources/Audio/Effects/Footsteps/woodbarefoot2.ogg
  Resources/Audio/Effects/Footsteps/woodbarefoot3.ogg
  Resources/Audio/Effects/Footsteps/woodbarefoot4.ogg
  Resources/Audio/Effects/Footsteps/woodbarefoot5.ogg
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Status: Needs Review

#10250 Access level localization
  Content.Shared/Access/AccessLevelPrototype.cs
  Resources/Locale/en-US/access/components/id-card-console-component.ftl
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/cargo.yml
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/engineering.yml
  Resources/Prototypes/Access/external.yml
  Resources/Prototypes/Access/maintenance.yml
  Resources/Prototypes/Access/medical.yml
  Resources/Prototypes/Access/research.yml
  Resources/Prototypes/Access/security.yml
  Resources/Prototypes/Access/service.yml
  Resources/Prototypes/Access/syndicate.yml
Labels: Status: Needs Review

#10433 Fix miasma crash
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#10450 Rules header cvar + RP server rules header
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/info/rules.ftl
Labels: Status: Needs Review

#10451 Whitelist reason cvar + RP server whitelist reason
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/connection-messages.ftl
Labels: Status: Needs Review

#10445 Fix fucked names in steal condition
  Content.Server/Objectives/Conditions/StealCondition.cs
Labels: Status: Needs Review

#8720 Station records
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/CrewManifest/CrewManifestEui.cs
  Content.Client/CrewManifest/CrewManifestSystem.cs
  Content.Client/CrewManifest/CrewManifestUi.xaml
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/PDA/PDABoundUserInterface.cs
  Content.Client/PDA/PDAMenu.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/CrewManifest/CrewManifestEui.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/CrewManifest/CrewManifestViewerComponent.cs
  Content.Server/StationRecords/Components/GeneralStationRecordConsoleComponent.cs
  Content.Server/StationRecords/Components/StationRecordKeyStorageComponent.cs
  Content.Server/StationRecords/Components/StationRecordsComponent.cs
  Content.Server/StationRecords/StationRecordSet.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Server/StationRecords/Systems/StationRecordKeyStorageSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/CrewManifest/SharedCrewManifestSystem.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Content.Shared/StationRecords/SharedGeneralStationRecordConsoleSystem.cs
  Content.Shared/StationRecords/StationRecordKey.cs
  Resources/Locale/en-US/access/components/id-card-console-component.ftl
  Resources/Locale/en-US/crew-manifest/crew-manifest.ftl
  Resources/Locale/en-US/station-records/general-station-records.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI, Status: Needs Review

#10233 Entity pickup/drop sound components
  Content.Server/Sound/Components/EmitSoundOnDropComponent.cs
  Content.Server/Sound/Components/EmitSoundOnPickupComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
Labels: Status: Needs Review

#10472 Marathon Update 3.0
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#10470 Bagel Update 14.8
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#10468 Mark some CVars as CONFIDENTIAL.
  Content.Shared/CCVar/CCVars.cs
Labels: Needs Engine Update

#10203 Escape inventory refactor
  Content.Server/Contests/ContestsSystem.cs
  Content.Server/Resist/CanEscapeInventoryComponent.cs
  Content.Server/Resist/EscapeInventorySystem.cs
Labels: Status: Needs Review

#10461 Don't allow anchorable overlap
  Content.Server/Construction/AnchorableSystem.cs
  Content.Shared/Construction/EntitySystems/SharedAnchorableSystem.cs
  Resources/Locale/en-US/anchorable/anchorable-component.ftl
Labels: Status: Needs Review

#10493 give more info in examine for rotting
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Resources/Locale/en-US/disease/miasma.ftl
Labels: Status: Needs Review

#10505 Fix ore processor construction
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#10504 IFF console
  Content.Client/Shuttles/BUI/IFFConsoleBoundUserInterface.cs
  Content.Client/Shuttles/UI/EmergencyConsoleWindow.xaml
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Server/Shuttles/Components/IFFConsoleComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.IFF.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/BUIStates/IFFConsoleBoundUserInterfaceState.cs
  Content.Shared/Shuttles/Components/IFFComponent.cs
  Content.Shared/Shuttles/Events/IFFShowIFFMessage.cs
  Content.Shared/Shuttles/Events/IFFShowVesselMessage.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Locale/en-US/shuttles/iff.ftl
  Resources/Maps/infiltrator.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Structures/Shuttles/iff.rsi/helm.png
  Resources/Textures/Structures/Shuttles/iff.rsi/meta.json
Labels: Changes: UI, Changes: Map, Changes: Sprites, Status: Needs Review

#10490 makes terrain tiles show cables
  Resources/Prototypes/Tiles/floors.yml
Labels: No C#

#10524 Revert "Disarms now deselect after a usage."
  Resources/Prototypes/Actions/types.yml
Labels: No C#

#10520 Make atmos Turing-complete
  Content.Server/Atmos/Piping/Trinary/Components/PressureControlledValveComponent.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_trinary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/off.png
  Resources/Textures/Structures/Piping/Atmospherics/pneumaticvalve.rsi/on.png
Labels: Changes: Sprites, Status: Needs Review

#10525 wielding cleanup
  Content.Server/Wieldable/Components/WieldableComponent.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
Labels: Status: Needs Review

#10535 Makes projectile speed configurable in gun system
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
Labels: Size: Very Small

#10523 fix combat mode popup
  Resources/Locale/en-US/actions/actions/combat-mode.ftl
  Resources/Prototypes/Actions/types.yml
Labels: No C#, Status: Needs Review

#10432 Cleanup overlay shaders when done
  Content.Client/AI/ClientPathfindingDebugSystem.cs
  Content.Client/Administration/UI/SpawnExplosion/ExplosionDebugOverlay.cs
  Content.Client/CombatMode/ColoredScreenBorderOverlay.cs
  Content.Client/Cooldown/CooldownGraphic.cs
  Content.Client/Decals/DecalOverlay.cs
  Content.Client/DoAfter/UI/DoAfterBar.cs
  Content.Client/Drugs/RainbowOverlay.cs
  Content.Client/Drunk/DrunkOverlay.cs
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/MobState/Overlays/DamageOverlay.cs
  Content.Client/Radiation/RadiationPulseOverlay.cs
  Content.Client/UserInterface/Controls/DirectionIcon.cs
Labels: Status: Needs Review

#10545 Make tiny fans clickable
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: No C#

#10519 Remove crate from cargo kvass tank
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
Labels: No C#

#10062 Material Wall Graphs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#10291 Better Outlaw's Hat
  Resources/Textures/Clothing/Head/Hats/outlawhat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/outlawhat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/outlawhat.rsi/meta.json
Labels: No C#, Changes: Sprites

#10546 spationaut helm tweak
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light.png
Labels: No C#, Changes: Sprites

#10267 nukie jumpsuits and skirts sensors off
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#10439 Give "Thieving" suffix to Thieving Gloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#10562 Adds yet another dweeb to the name replacements
  Tools/contribs_shared.ps1
Labels: No C#

#10573 Add shuttle walls to icon smoothing
  Tools/iconsmooth.py
  Tools/iconsmooth_lib.py
Labels: No C#

#10572 Add plastitanium walls
  Resources/Maps/infiltrator.yml
  Resources/Maps/nukieplanet.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/Structures/Walls/plastitanium.rsi/full.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/meta.json
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium0.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium1.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium2.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium3.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium4.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium5.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium6.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitanium7.png
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitaniumfull.png
Labels: No C#, Changes: Map, Changes: Sprites

#10430 Flashes, Expendablelights, and spray bottles will mark as trash when used up
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: Status: Needs Review

#10564 Localize construction categories
  Resources/Locale/en-US/construction/construction-categories.ftl
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/machines.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Crafting/smokeables.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
Labels: No C#, Status: Needs Review

#10560 Fixed energy dagger sprite being flipped the wrong way in one frame of its animation
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/inhand-right-blade.png
Labels: No C#, Changes: Sprites

#10460 Musician's Tuxedo & Musician's Winter Coat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Roles/Jobs/Civilian/musician.yml
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatnomi.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatnomi.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatnomi.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatnomi.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/WinterCoats/coatnomi.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/musician.rsi/meta.json
Labels: No C#, Changes: Sprites

#10549 Add variant of megaseed servitor with no access locked
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#10467 Adds additional directional signs for mapping
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_bar.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_chemistry.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_food.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_hop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_library.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
Labels: No C#, Changes: Sprites

#10477 fix vehicle collision error
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: No C#

#10492 Fix ChemMaster discard needing a target solution
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
Labels: Status: Needs Review

#10526 Add HoP and Detective spawn point to NSS Pillar
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#10133 Validates yaml schemas from engine
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  Resources/Audio/Weapons/Guns/Gunshots/Magic/attributions.yml
Labels: No C#

#10434 Allow C4's auto-starting when stickied quality to be toggled
  Content.Server/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Resources/Locale/en-US/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: Status: Needs Review

#10301 Add flower crown
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/flowercrown.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Misc/flower-crown.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/flower-crown.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/flower-crown.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#10262 Eye damage
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Eye/Blinding/BlurryVisionOverlay.cs
  Content.Client/Eye/Blinding/BlurryVisionSystem.cs
  Content.Server/Chemistry/ReagentEffects/ChemHealEyeDamage.cs
  Content.Server/Examine/ExamineSystem.cs
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Examine/ExamineSystemMessages.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/BlurryVisionComponent.cs
  Content.Shared/Eye/Blinding/EyeProtection/EyeProtectionComponent.cs
  Content.Shared/Eye/Blinding/EyeProtection/RequiresEyeProtectionComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Content.Shared/Eye/Blinding/TemporaryBlindnessComponent.cs
  Content.Shared/Eye/Blinding/VisionCorrectionComponent.cs
  Resources/Locale/en-US/examine/examine-system.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Shaders/blurryx.swsl
  Resources/Textures/Shaders/blurryy.swsl
Labels: Status: Needs Review

#10567 prevents revenant harvesting and soul searching from stacking
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Revenant/RevenantComponent.cs
Labels: Status: Needs Review

#10547 prevent placing tiles under walls
  Content.Server/Tiles/FloorTileSystem.cs
Labels: Status: Needs Review

#10574 fixed inhand and worn sprites for boxing gloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingblue.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingblue.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingblue.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingblue.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingblue.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxinggreen.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxinggreen.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxinggreen.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxinggreen.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxinggreen.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingred.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingyellow.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingyellow.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingyellow.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingyellow.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/Boxing/boxingyellow.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/boxing.rsi/meta.json
Labels: No C#, Changes: Sprites

#10578 fixes typo
  Resources/Textures/Tiles/attributions.yml
Labels: No C#

#10548 Fix cross-map decal rendering
  Content.Client/Decals/DecalOverlay.cs
  Content.Client/Decals/DecalSystem.cs
Labels: Status: Needs Review

#10591 Fix restart error
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: Status: Needs Review

#10550 Change lobby status into player game status
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Server/Administration/Commands/ReadyAll.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/Commands/JoinGameCommand.cs
  Content.Server/GameTicking/Commands/ObserveCommand.cs
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Preferences/Managers/IServerPreferencesManager.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Status: Needs Review

#10596 Update PlayTimeCommands.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
Labels: Status: Needs Review

#10599 Fix for yaml attributes
  .github/workflows/validate-rgas.yml
  Resources/Audio/Lobby/attributions.yml
  Resources/Textures/LobbyScreens/attributions.yml
Labels: No C#

#10598 Lock non-newbies out of intern roles.
  Content.Shared/Roles/JobRequirements.cs
  Resources/Locale/en-US/job/role-timers.ftl
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: Status: Needs Review

#10604 Remove empty grids from saltern
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#10605 Saltern fix
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#10607 Remove duplicate disposal unit verb
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Resources/Locale/en-US/disposal/unit/components/disposal-unit-component.ftl
Labels: Status: Needs Review
