Repository space-wizards/space-station-14, pull requests merged in 2022-07, with the labels that each got.

#9304 Minor rules tweaks/clarifications
  Resources/Server Info/Rules.txt
Labels: No C#, Status: Needs Review

#9326 Stomach YAML tweaks (short-term satiety)
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Body/Mechanisms/human.yml
  Resources/Prototypes/Body/Mechanisms/rat.yml
  Resources/Prototypes/Body/Mechanisms/slime.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/rat.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#9315 Implements panic bunkering.
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/PanicBunkerCommand.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/shell.ftl
Labels: Status: Needs Review

#9339 Adds new "Pharmacy" Lobby Art by Solbusaur
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/licenses.txt
  Resources/Textures/LobbyScreens/pharmacy.png
  Resources/Textures/LobbyScreens/pharmacy.png.yml
Labels: No C#, Status: Awaiting Changes

#9301 Detective
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/delta.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/nss_pillar.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/splitstation.yml
  Resources/Prototypes/Maps/waystation.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#, Changes: Map, Status: Needs Review

#9293 Add tag to let entity not fire guns
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#9250 Add Different Styles for Instruments
  Content.Server/Instruments/SwappableInstrumentComponent.cs
  Content.Server/Instruments/SwappableInstrumentSystem.cs
  Content.Shared/Instruments/SharedInstrumentSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/instruments/instruments-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Entities/Objects/Fun/instruments.yml
Labels: Status: Needs Review

#9347 Detective minor bug fixes 2 lines
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
Labels: No C#, Status: Needs Review

#9351 Saltern Update 3.8
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#9346 Atlas Update 1.5
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#9349 Marathon Update 2.2
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9348 fix variantize
  Content.Server/Administration/Commands/VariantizeCommand.cs
Labels: Status: Needs Review

#9345 Bagel Update 14
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#9306 See-Through Shuttle Wall
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Textures/Structures/Windows/shuttle_window.rsi/full.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/meta.json
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow0.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow1.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow2.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow3.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow4.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow5.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow6.png
  Resources/Textures/Structures/Windows/shuttle_window.rsi/swindow7.png
Labels: No C#, Changes: Sprites

#9314 Freezer fixatmos entity
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Textures/Markers/atmos.rsi/freeze.png
  Resources/Textures/Markers/atmos.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#9232 Miasma outbreaks give every mob the same disease
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Chemistry/ReagentEffects/ChemCauseRandomDisease.cs
  Content.Server/Chemistry/ReagentEffects/ChemMiasmaPoolSource.cs
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#9308 Added missing drawdepth "WallTops" to directional windows.
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#, Status: Needs Review

#9290 Disarms now deselect after a usage.
  Resources/Prototypes/Actions/types.yml
Labels: No C#

#9367 Make Dragons Pettable
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#9368 Lighthouse Update
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Maps/lighthouse.yml
Labels: No C#, Changes: Map, Status: Needs Review

#9366 Extends cutting delay for cables from .25 to .50
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: No C#

#9338 Rotting fixes
  Content.Server/Atmos/Miasma/BodyPreservedComponent.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#9311 Remove xeno accent
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: No C#

#9360 Add and replace alert sounds
  Resources/Audio/Misc/bluealert.ogg
  Resources/Audio/Misc/license.txt
  Resources/Audio/Misc/redalert.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#

#9376 ERT cleanup + fixes
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#, Status: Needs Review

#9378 Intrinsic radio fixes
  Content.Server/Ghost/Components/IntrinsicRadioComponent.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
Labels: Status: Needs Review

#9389 barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#9388 Allow adminnotes to use username
  Content.Server/Administration/Commands/OpenAdminNotesCommand.cs
Labels: Status: Needs Review

#9397 Reduce shuttle transit time
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
Labels: Status: Needs Review

#9393 Adds new disease! Tongue Twister. Also new scrambled accent.
  Content.Server/Speech/Components/ScrambledAccentComponent.cs
  Content.Server/Speech/EntitySystems/ScrambledAccentSystem.cs
  Resources/Locale/en-US/accent/scrambled.ftl
  Resources/Locale/en-US/disease/disease.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
Labels: Status: Needs Review

#9380 Fix station announcements
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Nuke/NukeCodeSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/StationEvent.cs
Labels: Status: Needs Review

#8597 Event Music & Nuke Countdown Song
  Content.Client/Audio/ClientAdminSoundSystem.cs
  Content.Client/Audio/ClientGlobalSoundSystem.cs
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/AudioTab.xaml.cs
  Content.Server/Audio/ServerGlobalSoundSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Shared/Audio/SharedAdminSoundSystem.cs
  Content.Shared/Audio/SharedGlobalSoundSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Audio/StationEvents/attribution.txt
  Resources/Audio/StationEvents/countdown.ogg
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#8584 Blocking and Shields
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Blocking/BlockingUserSystem.cs
  Content.Shared/Blocking/Components/BlockingComponent.cs
  Content.Shared/Blocking/Components/BlockingUserComponent.cs
  Resources/Audio/Weapons/block_metal1.ogg
  Resources/Audio/Weapons/licenses.txt
  Resources/Locale/en-US/actions/actions/blocking.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/makeshift_shield.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/wooden_buckler.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/buckler-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/buckler-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/buckler-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield-inhand-right-on.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield-on.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/eshield1-inhand-left-on.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/makeshift-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/metal-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/mirror-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/mirror-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/mirror-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/ratvarian-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/ratvarian-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/ratvarian-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_bullet-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_laser-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_laser-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/riot_laser-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-icon.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-inhand-left-on.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-inhand-right-on.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/shields.rsi/teleriot-on.png
Labels: Changes: Sprites, Status: Needs Review, Requires: Other PR

#8902 Add BreakOnDistance to DoAfterEventArgs
  Content.Server/DoAfter/DoAfter.cs
  Content.Server/DoAfter/DoAfterEventArgs.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: Status: Needs Review

#8842 Telescreens and big flat screen TV
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_telemonitors.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/telescreen.png
  Resources/Textures/Structures/Machines/computers.rsi/telescreen_broken.png
  Resources/Textures/Structures/Wallmounts/flatscreentv.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/flatscreentv.rsi/television_wall.png
  Resources/Textures/Structures/Wallmounts/flatscreentv.rsi/television_wall_off.png
  Resources/Textures/Structures/Wallmounts/flatscreentv.rsi/television_wallbroken.png
  Resources/Textures/Structures/Wallmounts/flatscreentv.rsi/television_wallscreen.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#8416 removes metal walls, adds rusted walls
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Textures/Structures/Walls/metal.rsi/full.png
  Resources/Textures/Structures/Walls/metal.rsi/meta.json
  Resources/Textures/Structures/Walls/metal.rsi/metal0.png
  Resources/Textures/Structures/Walls/metal.rsi/metal1.png
  Resources/Textures/Structures/Walls/metal.rsi/metal2.png
  Resources/Textures/Structures/Walls/metal.rsi/metal3.png
  Resources/Textures/Structures/Walls/metal.rsi/metal4.png
  Resources/Textures/Structures/Walls/metal.rsi/metal5.png
  Resources/Textures/Structures/Walls/metal.rsi/metal6.png
  Resources/Textures/Structures/Walls/metal.rsi/metal7.png
  Resources/Textures/Structures/Walls/solidrust.rsi/full.png
  Resources/Textures/Structures/Walls/solidrust.rsi/meta.json
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust0.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust1.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust2.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust3.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust4.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust5.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust6.png
  Resources/Textures/Structures/Walls/solidrust.rsi/solidrust7.png
Labels: No C#, Changes: Map, Changes: Sprites, Status: Needs Review

#9399 Evac Shuttle Shuttle Windows
  Resources/Maps/Shuttles/emergency_shuttle.yml
Labels: No C#

#9401 Cargo Shuttle Shuttle Windows
  Resources/Maps/cargo_shuttle.yml
Labels: No C#, Changes: Map

#9385 Thindow drawdepth, big oof.
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#, Has Review

#9415 Humans can now have their ID cards examined
  Content.Server/Access/Components/IdExaminableComponent.cs
  Content.Server/Access/Systems/IdExaminableSystem.cs
  Resources/Locale/en-US/access/components/id-examinable-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Status: Needs Review

#8920 Bloodstreams now have their own drawing behavior
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Status: Needs Review

#9324 Fix collisions passing firestacks between mobs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: Status: Needs Review

#9428 Experimental nukie changes
  Content.Client/Nuke/NukeMenu.xaml.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: Changes: UI, Status: Needs Review

#9413 Small Lighthouse Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#9436 Bandaid NSS Pillar
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#9420 Fixes Waystation's cargo dock.
  Resources/Maps/waystation.yml
Labels: No C#, Changes: Map

#9423 Add tongue twister disease to the miasma pool
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#9426 Fix salvage gibbing
  Content.IntegrationTests/Tests/DummyIconTest.cs
  Content.Server/Salvage/SalvageMobRestrictionsSystem.cs
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
Labels: Status: Needs Review

#9444 Fix salvage gib attempt 2
  Content.Shared/Body/Components/SharedBodyComponent.cs
Labels: Status: Needs Review

#9387 Make the extra bright lantern actually flash you.
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Textures/Objects/Tools/lantern.rsi/burnt.png
  Resources/Textures/Objects/Tools/lantern.rsi/flashing.png
  Resources/Textures/Objects/Tools/lantern.rsi/meta.json
Labels: No C#, Changes: Sprites, Has Review

#9446 Saltern Update 3.9
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#9445 Bagel Update 14.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#9451 Tiny fans for freezers/shuttles
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Textures/Structures/Piping/Atmospherics/tinyfan.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/tinyfan.rsi/meta.json
Labels: No C#, Changes: Sprites

#9449 Security Techfab and Medical Techfab Rebalance
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#8501 Zombie Mode [New Game Mode]
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Zombies/ZombieComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathComponent.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Zombies/ZombieEvents.cs
  Resources/Locale/en-US/actions/actions/zombie.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-zombies.ftl
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Diseases/zombie.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/game_rules.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/cburn.rsi/meta.json
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Interface/Actions/zombie-turn.png
Labels: Changes: Sprites, Status: Needs Review, Has Review

#9459 Convert rat king to use a ghost role spawner
  Content.Server/StationEvents/Events/MouseMigration.cs
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: Has Review

#9466 Adds sell prices to fuel & water tanks
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: No C#

#9441 Add UI window for loadbp
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/LoadBlueprintsWindow.xaml
  Content.Client/Administration/UI/Tabs/AdminbusTab/LoadBlueprintsWindow.xaml.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Resources/Locale/en-US/administration/ui/tabs/adminbus-tab/adminbus-tab.ftl
Labels: Changes: UI, Status: Needs Review

#9471 zombie mode shouldn't be votable
  Resources/Prototypes/game_presets.yml
Labels: No C#, Status: Needs Review

#9482 Allow aghosts to pilot
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#9485 Fix loadbp window maps
  Content.Client/Administration/UI/Tabs/AdminbusTab/LoadBlueprintsWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#9332 Gun Revamp: Highlights Edition
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/china_lake.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/hm_pistol.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Revolvers/inspector.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/inspector.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Revolvers/mateba.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/mateba.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/ak.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ak.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ak.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/mag-5.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/enforcer.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/sawn.rsi/icon.png
Labels: No C#, Changes: Sprites, Has Review

#9245 Magboots ECS and Cleanup
  Content.Client/Clothing/MagbootsComponent.cs
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Clothing/Components/MagbootsComponent.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/SharedMagbootsComponent.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
Labels: Status: Needs Review

#9490 Marathon Update 2.3
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9491 Bagel Shells and Disabler
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#9492 Saltern Disablers
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#9493 Atlas Disablers
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#9465 Makes storage insertion failure more explicit
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Resources/Locale/en-US/components/storage-component.ftl
Labels: Status: Needs Review

#9510 Disablers on Waystation
  Resources/Maps/waystation.yml
Labels: No C#, Changes: Map

#9200 Convert piped atmos entity visualizers
  Content.Client/Atmos/Components/PipeColorVisualsComponent.cs
  Content.Client/Atmos/EntitySystems/PipeColorVisualizerSystem.cs
  Content.Client/Atmos/Visualizers/EnabledAtmosDeviceVisualizer.cs
  Content.Client/Atmos/Visualizers/GasFilterVisualizer.cs
  Content.Client/Atmos/Visualizers/GasValveVisualizer.cs
  Content.Client/Atmos/Visualizers/OutletInjectorVisualizer.cs
  Content.Client/Atmos/Visualizers/PassiveVentVisualizer.cs
  Content.Client/Atmos/Visualizers/PipeColorVisualizer.cs
  Content.Client/Atmos/Visualizers/PressurePumpVisualizer.cs
  Content.Client/Atmos/Visualizers/ScrubberVisualizer.cs
  Content.Client/Atmos/Visualizers/ThermoMachineVisualizer.cs
  Content.Client/Atmos/Visualizers/VentPumpVisualizer.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: Status: Needs Review

#9498 Make explosive armor multiplicative and not additive
  Content.Server/Explosion/Components/ExplosionResistanceComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Explosion/ExplosionEvents.cs
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
Labels: Status: Needs Review

#9511 Fix stunbaton stun sounds
  Content.Server/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
Labels: Status: Needs Review

#9508 Fix pipe net null error
  Content.Server/Atmos/Piping/Unary/Components/GasCanisterComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/NodeContainer/NodeGroups/BaseNodeGroup.cs
  Content.Server/NodeContainer/NodeGroups/PipeNet.cs
  Content.Server/Power/NodeGroups/ApcNet.cs
  Content.Server/Power/NodeGroups/PowerNet.cs
Labels: Status: Needs Review

#9478 Make ghost role names default to entity name
  Content.Client/Ghost/Roles/UI/MakeGhostRoleEui.cs
  Content.Client/Ghost/Roles/UI/MakeGhostRoleWindow.xaml
  Content.Client/Ghost/Roles/UI/MakeGhostRoleWindow.xaml.cs
Labels: Changes: UI

#9495 Splitstation Update 06 July 2022
  Resources/Maps/splitstation.yml
Labels: No C#, Changes: Map

#9504 Pillar Update
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#9503 Light Lighthouse Update
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#9454 Prevent erroneous materials from being placed in lathes.
  Content.Server/Lathe/Components/LatheComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/SharedLatheDatabaseComponent.cs
  Resources/Locale/en-US/lathe/lathesystem.ftl
Labels: Status: Needs Review

#9442 Disable ambience default again
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#9519 Satiety tweaks
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Body/Mechanisms/reptilian.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#9316 Content changes required for recursive deletion changes
  Content.Server/Buckle/Systems/BuckleSystem.cs
  Content.Server/Gravity/EntitySystems/GravityGeneratorSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
Labels: Status: Needs Review

#9521 Pizza box 1984
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: No C#

#9526 Fix & speed up explosion lookup
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
Labels: Issue: Performance, Status: Needs Review

#9043 Disease Stages But Epic
  Content.IntegrationTests/Tests/DiseaseTest.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Shared/Disease/DiseaseCure.cs
  Content.Shared/Disease/DiseaseEffect.cs
  Content.Shared/Disease/DiseasePrototype.cs
Labels: Status: Needs Review

#9542 retro laser inhand fix
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_retro.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_retro.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#9365 Add SoftMaxPlayers to status response for launcher use
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: Has Review

#9528 Fix a bunch of warnings
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Shuttles/BUI/ShuttleConsoleBoundUserInterface.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Salvage/SalvageMobRestrictionsSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.AutoDock.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Shared/Alert/AlertKey.cs
  Content.Shared/Body/Components/MechanismComponent.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Hands/Components/HandVirtualItemComponent.cs
  Content.Shared/Shuttles/Events/AutodockRequestMessage.cs
  Content.Shared/Shuttles/Events/StopAutodockRequestMessage.cs
  Content.Shared/Shuttles/Events/UndockRequestMessage.cs
  Content.Shared/Stacks/SharedStackComponent.cs
  Content.Shared/Wires/SharedWiresComponent.cs
Labels: Changes: UI, Status: Needs Review

#9440 BEHOLD! The MagiVend!
  Resources/Locale/en-US/advertisements/vending/magivend.ftl
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/magivend.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/magivend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/magivend.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/magivend.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/magivend.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review, Has Review

#9541 Dispense hot tea into teacup instead of glass
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
Labels: No C#, Has Review

#9302 Fireaxe resprite
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Has Review

#9553 Marathon Update 2.4
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9552 Fix #9549
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: No C#

#9543 China Lake Buff
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#9564 Shuttle announces its docking direction
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
Labels: Status: Needs Review

#9563 Jetpack QOL tweaks
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Server/Movement/Systems/JetpackSystem.cs
  Content.Shared/Movement/Components/JetpackUserComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Locale/en-US/movement/jetpacks.ftl
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: Status: Needs Review

#9523 Visual popup types
  Content.Client/Popups/PopupSystem.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/AME/AntimatterEngineSystem.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Animals/Systems/UdderSystem.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/Chemistry/ReagentEffects/PopupMessage.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Disease/Effects/DiseasePopUp.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Emag/EmagSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Popups/PopupSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Resist/ResistLockerSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#9566 Specifiable dock colours + stripeback displays
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Server/Shuttles/Components/DockingComponent.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/RadarConsoleBoundInterfaceState.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: Changes: UI, Status: Needs Review

#9570 Visual popup addendum
  Content.Client/Popups/PopupSystem.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Popups/SharedPopupSystem.cs
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: Status: Needs Review

#9518 Add egg laying + chicken/duck improvements
  Content.Server/Animals/Components/EggLayerComponent.cs
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Shared/Storage/EntitySpawnEntry.cs
  Resources/Audio/Effects/licenses.txt
  Resources/Audio/Effects/pop.ogg
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/actions/actions/egg-lay.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/accents.yml
Labels: Status: Needs Review

#9571 Disable emergency light ambience by default
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#9572 splitstation minor update (emergency lights)
  Resources/Maps/splitstation.yml
Labels: No C#, Changes: Map

#9573 Bagel E Lights
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#9011 Injector sprite fix
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
  Content.Shared/SubFloor/SubFloorHideComponent.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/Structures/Piping/Atmospherics/outletinjector.rsi/injector.png
Labels: Changes: Sprites, Needs Engine Update

#9575 marathon e lights
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9578 Evac Shuttle Fans
  Resources/Maps/Shuttles/emergency_shuttle.yml
Labels: No C#

#9464 Order manifests for shuttle orders. Now with item names and approver info.
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
Labels: Changes: UI, Status: Needs Review

#9580 Marathon Ore Processor and misc
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9576 Kudzu nerf
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: No C#

#9582 Convert Remaining Atmos Appearance Visualizers
  Content.Client/Atmos/Components/FireVisualsComponent.cs
  Content.Client/Atmos/EntitySystems/FireVisualizerSystem.cs
  Content.Client/Atmos/Visualizers/AtmosPlaqueVisualizer.cs
  Content.Client/Atmos/Visualizers/FireVisualizer.cs
  Content.Client/Atmos/Visualizers/GasAnalyzerVisualizer.cs
  Content.Client/Atmos/Visualizers/GasCanisterVisualizer.cs
  Content.Client/Atmos/Visualizers/GasPortableVisualizer.cs
  Content.Server/Entry/IgnoredComponents.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/atmos_plaque.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
Labels: Status: Needs Review

#9586 Knock on shutters
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: No C#

#9581 Make Retro Laser Gun and Makeshift Laser gun pistol-sized
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#9585 Shards damage barefoot users + steptrigger-related general cleanup
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Damage/Components/DamageUserOnTriggerComponent.cs
  Content.Server/Damage/Systems/DamageOnTriggerSystem.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
  Content.Server/Explosion/Components/TriggerOnStepTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/LandMines/LandMineComponent.cs
  Content.Server/LandMines/LandMineSystem.cs
  Content.Server/Mousetrap/MousetrapComponent.cs
  Content.Server/Mousetrap/MousetrapSystem.cs
  Content.Shared/Slippery/SharedSlipperySystem.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/StepTrigger/Components/ShoesRequiredStepTriggerComponent.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Systems/ShoesRequiredStepTriggerSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Locale/en-US/step-trigger/shoes-required.ftl
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
  Resources/Prototypes/Entities/Objects/Fun/dice.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
Labels: Status: Needs Review

#9599 Client command perms cleanup.
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Shared/Administration/AdminCommandPermissions.cs
  Resources/clientCommandPerms.yml
  Resources/engineCommandPerms.yml
Labels: Status: Needs Review

#9603 fix psych and reporter id cards
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#9610 Forensics QOL (Autolabeling of pads and reports)
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Locale/en-US/forensics/forensics.ftl
Labels: Status: Needs Review

#9604 Allow non-humanoid roles
  Content.Server/Roles/Job.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Roles/JobPrototype.cs
Labels: Status: Needs Review

#9607 Fix medical techfab and add unused bodybag recipe to it
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#

#9118 Lamp Plushie
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lamp.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#9424 Fixes Blocking bugs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Blocking/BlockingUserSystem.cs
  Resources/Locale/en-US/actions/actions/blocking.ftl
Labels: Status: Needs Review

#9615 Fix space mob burning
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#9618 More nukie tweaks
  Content.Client/Nuke/NukeMenu.xaml.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
Labels: Changes: UI, Status: Needs Review

#9630 Fixed typo in lobby countdown
  Resources/Locale/en-US/lobby/lobby-state.ftl
Labels: No C#, Status: Needs Review

#9632 Actually include clientCommandPerms.yml in client builds.
  Tools/package_client_build.py
Labels: No C#

#9631 Fix exception on toggleready when there are no arguments
  Content.Server/GameTicking/Commands/ToggleReadyCommand.cs
Labels: Status: Needs Review

#9505 Use map coordinates for spraying
  Content.Server/Chemistry/Components/VaporComponent.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
Labels: Status: Needs Review

#8688 Adds blinding + blindfolds
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlindingSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/BlindfoldComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/blindfold.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Shaders/greyscale.yml
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/meta.json
  Resources/Textures/Shaders/greyscale_fullscreen.swsl
Labels: Changes: Sprites, Status: Needs Review

#8731 Cleans up warning line decals
  Resources/Prototypes/Decals/markings.yml
  Resources/Textures/Decals/markings.rsi/meta.json
  Resources/Textures/Decals/markings.rsi/warn_corner_greyscale_ne.png
  Resources/Textures/Decals/markings.rsi/warn_corner_greyscale_nw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_greyscale_se.png
  Resources/Textures/Decals/markings.rsi/warn_corner_greyscale_sw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_ne.png
  Resources/Textures/Decals/markings.rsi/warn_corner_nw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_se.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_greyscale_ne.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_greyscale_nw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_greyscale_se.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_greyscale_sw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_ne.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_nw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_se.png
  Resources/Textures/Decals/markings.rsi/warn_corner_small_sw.png
  Resources/Textures/Decals/markings.rsi/warn_corner_sw.png
  Resources/Textures/Decals/markings.rsi/warn_end_e.png
  Resources/Textures/Decals/markings.rsi/warn_end_greyscale_e.png
  Resources/Textures/Decals/markings.rsi/warn_end_greyscale_n.png
  Resources/Textures/Decals/markings.rsi/warn_end_greyscale_s.png
  Resources/Textures/Decals/markings.rsi/warn_end_greyscale_w.png
  Resources/Textures/Decals/markings.rsi/warn_end_n.png
  Resources/Textures/Decals/markings.rsi/warn_end_s.png
  Resources/Textures/Decals/markings.rsi/warn_end_w.png
  Resources/Textures/Decals/markings.rsi/warn_line_e.png
  Resources/Textures/Decals/markings.rsi/warn_line_greyscale_e.png
  Resources/Textures/Decals/markings.rsi/warn_line_greyscale_n.png
  Resources/Textures/Decals/markings.rsi/warn_line_greyscale_s.png
  Resources/Textures/Decals/markings.rsi/warn_line_greyscale_w.png
  Resources/Textures/Decals/markings.rsi/warn_line_n.png
  Resources/Textures/Decals/markings.rsi/warn_line_s.png
  Resources/Textures/Decals/markings.rsi/warn_line_w.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#9609 Toilet fixes
  Content.Client/Toilet/ToiletVisualizer.cs
  Content.Client/Toilet/ToiletVisualsSystem.cs
  Content.Server/Buckle/Systems/StrapSystem.cs
  Content.Server/Construction/Conditions/ToiletLidClosed.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Toilet/ToiletComponent.cs
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: Status: Needs Review

#9625 Update misleading Phalanximine description to accurate one
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: No C#, Status: Needs Review

#9082 Kvass
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/kvass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/kvass.rsi/meta.json
  Resources/Textures/Structures/Storage/kvass.rsi/kvass.png
  Resources/Textures/Structures/Storage/kvass.rsi/meta.json
Labels: No C#, Status: Derelict, Changes: Sprites

#9627 Clarify on ways to get help from other players
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: No C#, Status: Needs Review

#9547 Food and Beverage Spawners
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/RandomSpawns/food_snacks.yml
  Resources/Textures/Structures/Machines/arcade.rsi/icon.png
Labels: No C#, Changes: Sprites

#9666 Add admin verb for respawning a player
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#9668 You can now unanchor and destroy the robot showcase
  Resources/Prototypes/Entities/Structures/Decoration/showcase.yml
Labels: No C#

#9676 Revert "Fireaxe resprite"
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxe.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/wielded-inhand-right.png
Labels: Needs Discussion, No C#, Changes: Sprites

#9689 Revert "Adds blinding + blindfolds"
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlindingSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/BlindfoldComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/blindfold.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Shaders/greyscale.yml
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/meta.json
  Resources/Textures/Shaders/greyscale_fullscreen.swsl
Labels: Changes: Sprites, Status: Needs Review

#9291 EntityStorage ECS
  Content.Client/Morgue/Visualizers/BodyBagVisualLayers.cs
  Content.Client/Morgue/Visualizers/BodyBagVisualizer.cs
  Content.Client/Morgue/Visualizers/CrematoriumVisualizer.cs
  Content.Client/Morgue/Visualizers/CrematoriumVisualizerSystem.cs
  Content.Client/Morgue/Visualizers/CrematoriumVisualsComponent.cs
  Content.Client/Morgue/Visualizers/MorgueVisualizer.cs
  Content.Client/Morgue/Visualizers/MorgueVisualizerSystem.cs
  Content.Client/Morgue/Visualizers/MorgueVisualsComponent.cs
  Content.Client/Storage/Visualizers/StorageVisualizer.cs
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.Server/AI/Operators/Inventory/CloseStorageOperator.cs
  Content.Server/AI/Operators/Inventory/OpenStorageOperator.cs
  Content.Server/Administration/Commands/AddEntityStorageCommand.cs
  Content.Server/Administration/Commands/RemoveEntityStorageCommand.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Morgue/Components/BodyBagEntityStorageComponent.cs
  Content.Server/Morgue/Components/CrematoriumComponent.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Morgue/Components/EntityStorageLayingDownOverrideComponent.cs
  Content.Server/Morgue/Components/MorgueComponent.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Morgue/Components/MorgueTrayComponent.cs
  Content.Server/Morgue/CrematoriumSystem.cs
  Content.Server/Morgue/EntityStorageLayingDownOverrideSystem.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/Resist/ResistLockerSystem.cs
  Content.Server/Storage/Components/ArtifactStorageComponent.cs
  Content.Server/Storage/Components/CursedEntityStorageComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/Components/IStorageComponent.cs
  Content.Server/Storage/EntitySystems/ArtifactStorageSystem.cs
  Content.Server/Storage/EntitySystems/CursedEntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Server/Traitor/Uplink/SurplusBundle/SurplusBundleSystem.cs
  Content.Shared/Morgue/SharedMorgue.cs
  Content.Shared/Storage/SharedStorageComponent.cs
  Resources/Locale/en-US/morgue/components/morgue-entity-storage-component.ftl
  Resources/Locale/en-US/storage/components/entity-storage-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/cursed.yml
  Resources/Prototypes/Entities/Structures/Storage/morgue.yml
Labels: Status: Needs Review

#9701 Identity fixes
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Clothing/MaskSystem.cs
  Content.Shared/IdentityManagement/Components/IdentityBlockerComponent.cs
  Content.Shared/IdentityManagement/SharedIdentitySystem.cs
Labels: Status: Needs Review

#9691 Nukie Locker Fill Prototype
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#9680 Syndi Infiltrator Update
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#9711 Marathon Update 2.5
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#9710 Bagel Update 14.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#9712 Saltern Update 3.9 1/2
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#9713 Machine frame ECS
  Content.Server/Construction/Completions/BuildMachine.cs
  Content.Server/Construction/Completions/MachineFrameRegenerateProgress.cs
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Construction/Conditions/MachineFrameComplete.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Construction/MachineFrameSystem.cs
Labels: Status: Needs Review

#9709 Atlas Update 1.6
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#9644 Reinforced glass shard refinery fix
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
Labels: No C#

#9718 Remove `IInteractUsing`
  Content.Shared/Interaction/InteractUsing.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#9497 dart becomestation comp fix (plus render)
  Resources/Maps/dart.yml
Labels: No C#, Changes: Map, Status: Needs Review

#9690 [2 lines] fix blinding
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlindingSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/BlindfoldComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Eyes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/blindfold.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Shaders/greyscale.yml
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Misc/blindfold.rsi/meta.json
  Resources/Textures/Shaders/greyscale_fullscreen.swsl
Labels: Changes: Sprites, Status: Needs Review

#9406 Re-implement recoil
  Content.Client/Camera/CameraRecoilSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Camera/CameraRecoilSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
Labels: Status: Needs Review
