Repository space-wizards/space-station-14, pull requests merged in 2022-11, with the labels that each got.

#12233 Remove transform methods from mapgrid
  Content.Client/Atmos/EntitySystems/AtmosDebugOverlaySystem.cs
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/AtmosDebugOverlay.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Shuttles/UI/DockingControl.cs
  Content.IntegrationTests/Tests/Fluids/PuddleTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/Salvage/SalvageRulerCommand.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/MeteorSwarm.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/Tiles/FloorTileSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: Status: Needs Review

#12328 Fix butchering inside of a container making the target unbutcherable permenantly
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
Labels: Issue: Bug, Size: Very Small

#12332 Bagel Update 15.4
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#12247 misc changes on Cluster
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12343 fix lathe material exploit
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Changes: UI

#12325 Add toggle ghost visibility button to ghost GUI
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml
  Content.Client/UserInterface/Systems/Ghost/Widgets/GhostGui.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Issue: Feature Request, Status: Needs Review

#12349 Parallelize gas and decal systems.
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Decals/DecalSystem.cs
Labels: Status: Needs Review

#12354 Marathon chrimas..
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#12350 centcomm stuf
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#12361 make this one virtual ent noSpawn
  Resources/Prototypes/Entities/Virtual/stripping_hidden.yml
Labels: No C#

#12319 removes beforeserialization hook
  Content.Client/Gravity/GravityGeneratorVisualizer.cs
  Content.Client/Research/TechnologyDatabaseComponent.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Atmos/TileAtmosphere.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Alert/AlertOrderPrototype.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Research/Components/SharedTechnologyDatabaseComponent.cs
Labels: Status: Needs Review

#12367 Kettle Christmas Edition
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#11628 combined MeleeHitEvent and ItemMeleeDamageEvent
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapons/Melee/Events/ItemMeleeDamageEvent.cs
  Content.Server/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
Labels: Status: Needs Review

#12368 Add necessary sprites for welder_mini.
  Resources/Textures/Objects/Tools/welder_mini.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-left-flame.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-right-flame.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/welder_mini.rsi/meta.json
Labels: No C#, Changes: Sprites

#11238 Cleanup audio
  Content.Client/Audio/BackgroundAudioSystem.cs
Labels: Issue: Needs Cleanup, Status: Needs Review

#12357 Content side for removing IMap / IMapGrid comps
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Server/Administration/Commands/VariantizeCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Atmos/Commands/AddAtmosCommand.cs
  Content.Server/Atmos/Commands/AddGasCommand.cs
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Dragon/DragonSystem.Rule.cs
  Content.Server/GameTicking/Rules/SuspicionRuleSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Server/Radiation/Systems/RadiationSystem.Blockers.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/Tabletop/TabletopSystem.Map.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
Labels: Changes: UI, Status: Needs Review

#12373 Aghost tweaks
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/ThievingSystem.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Status: Needs Review

#12153 Add lobby music volume slider
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#12298 fix syringe overdrawing
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
Labels: Status: Needs Review

#12152 Make lobby ready button clear what state you are in
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
Labels: Changes: UI

#12374 Ghost toggle lighting ability
  Content.Client/Ghost/GhostComponent.cs
  Content.Client/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Status: Needs Review

#12365 fix lsobjectives
  Content.Server/Objectives/Commands/ListObjectivesCommand.cs
Labels: Status: Needs Review

#12051 Allow gas filters to not filter gases.
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Shared/Atmos/Piping/Trinary/Components/SharedGasFilterComponent.cs
  Resources/Locale/en-US/components/gas-filter-component.ftl
Labels: Changes: UI, Status: Needs Review

#12212 fix several traitor objective bugs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
Labels: Status: Needs Review

#12119 Machine upgrade examine verb
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Power/EntitySystems/UpgradeBatterySystem.cs
  Content.Server/Power/EntitySystems/UpgradePowerSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Resources/Locale/en-US/atmos/portable-scrubber.ftl
  Resources/Locale/en-US/botany/components/seed-extractor-component.ftl
  Resources/Locale/en-US/components/gas-thermomachine-component.ftl
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
  Resources/Locale/en-US/machine/machine.ftl
  Resources/Locale/en-US/medical/components/biomass-reclaimer-component.ftl
  Resources/Locale/en-US/medical/components/cloning-pod-component.ftl
  Resources/Locale/en-US/medical/components/stasis-bed-component.ftl
  Resources/Locale/en-US/singularity/components/emitter-component.ftl
Labels: Status: Needs Review

#11826 Linking doors and buttons
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: No C#

#12382 Presents changes
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: No C#

#12264 Shot Projectile cause impulses in Space like they were supposed to
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#12390 fixing a bunch more prototype save tests
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Organs/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/sprays.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/vaccinator.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: Status: Needs Review

#12385 Fixing some prototypes modifying components on init
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/wands.yml
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Misc/glowstick.rsi/meta.json
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Misc/glowstick.rsi/unlit-inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#12388 Use correct image for air injector in construction menu
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#, Status: Needs Review

#12317 Add DamagePopup, Target Entities, And Practice Laser Gun
  Content.Server/Damage/Components/DamagePopupComponent.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Textures/Objects/Specific/Security/target.rsi/meta.json
  Resources/Textures/Objects/Specific/Security/target.rsi/target_c.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_f.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_h.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_s.png
  Resources/Textures/Objects/Specific/Security/target.rsi/target_stake.png
Labels: Changes: Sprites, Status: Needs Review

#12410 Fix machine upgrade examine missing loc
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Resources/Locale/en-US/machine/machine.ftl
Labels: Status: Needs Review

#12415 Subscribe to attackattempt for stuncomp
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Status: Needs Review

#11894 Content struct enumerators
  Content.Client/Revenant/RevenantOverloadedLightsSystem.cs
  Content.Shared/Revenant/EntitySystems/SharedRevenantOverloadedLightsSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
Labels: Needs Engine Update

#12396 Power struct enumerators
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
Labels: Needs Engine Update

#12420 Quick fix for holofan and tiny fan
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
Labels: Status: Needs Review

#12421 bunch of prototype save fixes
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: Status: Needs Review

#12427 Kettle 1.5 the XenoLab
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#12443 Reduces the bb of computers a bit
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
Labels: No C#

#12446 Cluster Overhaul
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12447 Bagel Update 15.5
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#12450 Omega Xenoarch stuff
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#12449 Marathon Update 3.7
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#12448 Box Update 2.2
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#11513 Refactor GameMapManager a bit (nukes mapforced)
  Content.IntegrationTests/PoolManager.cs
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Maps/GameMapPrototype.cs
  Content.Server/Maps/IGameMapManager.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/voting/managers/vote-manager.ftl
Labels: Status: Needs Review

#12164 rejuvenate support for eye damage
  Content.Server/Chemistry/ReagentEffects/ChemHealEyeDamage.cs
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Eye/Blinding/BlindableComponent.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Content.Shared/Traits/Assorted/PermanentBlindnessSystem.cs
Labels: Status: Needs Review

#12437 Reduces APC destroyed by 6 decibels
  Resources/Audio/Announcements/RoundEnd/apc_destroyed.ogg
Labels: No C#

#12191 Laser crate changes
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-security.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
Labels: No C#, Changes: Map, Status: Needs Review

#12419 Secoff helmet fixe
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#12185 Flashlights in the YouTool and Sectech vendors
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: No C#

#12170 Forensic pads, zipties and glasses in the secfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#12468 Change "anomaly lab sign" to "xeno-archeology lab sign"
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
Labels: No C#

#12463 Map renderer file name option
  Content.MapRenderer/CommandLineArguments.cs
  Content.MapRenderer/Program.cs
Labels: Status: Needs Review

#12458 Fix miasma error spam
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#12407 changing accumulators to timespan targets
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Afk/AFKSystem.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Miasma/PerishableComponent.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/HealOnBuckleComponent.cs
  Content.Server/Movement/Systems/JetpackSystem.cs
  Content.Shared/Movement/Components/ActiveJetpackComponent.cs
Labels: Status: Needs Review

#12157 Add lobby ready count to game ticker info during pregame
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Status: Needs Review

#12436 Lawyers and Librarians can spawn with the Satchel and Duffelbag variants.
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: No C#

#12435 Replaces coughing with shorter sounds
  Resources/Audio/Effects/Diseases/cough1.ogg
  Resources/Audio/Effects/Diseases/cough2.ogg
  Resources/Audio/Effects/Diseases/license.txt
Labels: No C#

#12412 Minor bugfixes on Pillar
  Resources/Maps/pillar.yml
Labels: No C#, Changes: Map

#12394 Filled up the sterile mask box completely
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
Labels: No C#

#12422 reagent grinder machine upgrade
  Content.Server/Kitchen/Components/ReagentGrinderComponent.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Resources/Locale/en-US/kitchen/components/reagent-grinder-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: Status: Needs Review

#12401 Belt Slot PKAs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
Labels: No C#

#12457 Fix player list sorting
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#12301 Practice Disabler
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-left-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/inhand-right-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/practice_disabler.rsi/meta.json
Labels: No C#, Changes: Sprites

#12205 fixed windoor hacking
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: No C#

#12149 Docking system can no longer forcibly open welded doors.
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#11818 Stop reducing output pressure of gastank when low pressure
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#11497 New Species: Diona
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/markings/diona.ftl
  Resources/Locale/en-US/species/namepreset.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Prototypes/diona.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Textures/Mobs/Customization/diona.rsi/flowers_body.png
  Resources/Textures/Mobs/Customization/diona.rsi/flowers_head.png
  Resources/Textures/Mobs/Customization/diona.rsi/leaf_cover.png
  Resources/Textures/Mobs/Customization/diona.rsi/meta.json
  Resources/Textures/Mobs/Customization/diona.rsi/thorns_body.png
  Resources/Textures/Mobs/Customization/diona.rsi/thorns_head.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/brain.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/ears.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/eyeball-l.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/eyeball-r.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Diona/organs.rsi/stomach.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/head_m.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_arm.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_foot.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_hand.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/meta.json
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_arm.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_foot.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_hand.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/torso_f.png
  Resources/Textures/Mobs/Species/Diona/parts.rsi/torso_m.png
Labels: Changes: Sprites, Status: Needs Review

#11653 Polish melee effects
  Content.Client/Weapons/Melee/Components/WeaponArcVisualsComponent.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Effects/weapon_arc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Textures/Effects/arcs.rsi/fist.png
  Resources/Textures/Effects/arcs.rsi/meta.json
  Resources/Textures/Effects/arcs.rsi/slash.png
  Resources/Textures/Effects/arcs.rsi/spear.png
Labels: Changes: Sprites, Status: Needs Review

#12331 ERT Names and ghost roles
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#12413 Predicted stamina
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Content.Server/Contests/ContestsSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/CombatMode/DisarmedEvent.cs
  Content.Shared/Damage/Components/ActiveStaminaComponent.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnCollideComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Shared/Damage/Events/StaminaMeleeHitEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#12445 Use linter for vendingmachinetest
  Content.IntegrationTests/Tests/VendingMachineTest.cs
  Content.Shared/VendingMachines/VendingMachineInventoryPrototype.cs
Labels: Status: Needs Review

#12345 HoP starting access tweak
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#

#12275 Getting the tooltip to display
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#12454 Delete duplicate entities found via an engine fix
  Resources/Prototypes/Entities/Objects/Consumable/Food/RandomSpawns/food_snacks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: No C#

#12377 Implements pill container insertion/removal sounds
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/pill_insert.ogg
  Resources/Audio/Effects/pill_remove.ogg
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#12472 Detective Coat Resprite
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/detective.rsi/meta.json
Labels: No C#, Changes: Sprites

#12381 make all organic mobs injectable
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#10960 Prayers Again
  Content.Client/Prayer/PrayerSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayableComponent.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared/Prayer/SharedPrayerSystem.cs
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Textures/Interface/pray.svg
  Resources/Textures/Interface/pray.svg.png
  Resources/Textures/Interface/pray.svg.png.yml
Labels: Status: Needs Review

#12398 Fix forensic scanner UI.
  Content.Client/Forensics/ForensicScannerBoundUserInterface.cs
  Content.Client/Forensics/ForensicScannerMenu.xaml
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/short_print_and_rip.ogg
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
Labels: Changes: UI, Status: Needs Review

#12417 Speedloader fix
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/rifle_light.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#12326 Fix blindness and UIs
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionComponent.cs
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionSystem.cs
  Content.Shared/Eye/Blinding/SharedBlindingSystem.cs
  Resources/Locale/en-US/eye/blindness.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review

#12316 fix shove regression
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Locale/en-US/actions/actions/disarm-action.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: Status: Needs Review

#12210 Fix latejoin arrival announcement for roles with special entities
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Status: Needs Review

#12126 Heterochromia
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/slime.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_l.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_r.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#11726 Localize sentience event target flavors
  Content.Server/StationEvents/Events/RandomSentience.cs
  Resources/Locale/en-US/station-events/events/random-sentience.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Status: Needs Review

#12393 Localize nukeops ranks
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
Labels: Status: Needs Review

#12453 Localize store categories
  Content.Shared/Store/StoreCategoryPrototype.cs
  Resources/Locale/en-US/store/categories.ftl
  Resources/Prototypes/Store/categories.yml
Labels: Status: Needs Review

#11765 Localize traits
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
Labels: Status: Needs Review, Merge Conflict

#12351 Parallelize BatteryRampPegSolver
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/NodeGroups/PowerNet.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Server/Power/Pow3r/IPowerSolver.cs
  Content.Server/Power/Pow3r/NoOpSolver.cs
  Content.Server/Power/Pow3r/PowerState.cs
  Pow3r/Program.Simulation.cs
  Pow3r/Program.UI.cs
Labels: Status: Needs Review

#11717 stack cleanup and mild refactoring
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Content.Shared/Stacks/SharedStackComponent.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Stacks/StackPrototype.cs
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
  Resources/Prototypes/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Stacks/Materials/Sheets/other.yml
  Resources/Prototypes/Stacks/Materials/ingots.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/consumable_stacks.yml
  Resources/Prototypes/Stacks/engineering_stacks.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/Stacks/power_stacks.yml
Labels: Status: Needs Review

#12499 target dummies on nukie planet
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#12507 Lighthouse Fix
  Resources/Maps/lighthouse.yml
Labels: No C#, Changes: Map

#12505 Kettle 1.5.1
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#12488 Fix rotting examine
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#12506 Fix power assert.
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: Status: Needs Review

#12519 Fix missing name for notekeeper cartridge and fix preinstalled programs being deinstallable
  Content.Server/CartridgeLoader/CartridgeLoaderSystem.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
Labels: Status: Needs Review

#12518 droppers behave more like syringes
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#12496 machine upgrade for gas recycler
  Content.Server/Atmos/Piping/Binary/Components/GasRecyclerComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Resources/Locale/en-US/atmos/gas-recycler-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: Status: Needs Review

#12521 Fixes mousetraps killing people in boxes
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#

#12473 Add automatic emergency shuttle call
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/round-end/round-end-system.ftl
Labels: Status: Needs Review

#12530 removes duplicate prototype
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: No C#

#12524 Adds Destructible data to some common objects.
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: No C#

#12546 more cluster fixes
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12540 more xenoarch tweaks
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/XenoArch/artifact_effects.yml
Labels: Changes: UI, Status: Needs Review

#12542 Firelock fixes
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Map.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
Labels: Status: Needs Review

#12547 Remove another duplicate prototype
  Resources/Prototypes/NPCs/medibot.yml
Labels: No C#

#12556 Add Robust readme and release notes to sln.
  SpaceStation14.sln
Labels: No C#

#12555 Cache HTTP client in player locator
  Content.Server/Administration/PlayerLocator.cs
Labels: Issue: Performance, Size: Very Small, Status: Needs Review

#12552 Species specific jumpsuit sprite fixes
  Content.Client/Clothing/ClientClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#12551 Fix two typos related to space suits.
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#12565 Fix tests
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
Labels: Status: Needs Review

#12387 Update content to mapsystem
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Body/SaveLoadReparentTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/Mapping/MappingSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
Labels: Status: Needs Review

#12572 Replace IBodyPartAdded and IBodyPartRemoved with ref events
  Content.Server/Hands/Components/HandsComponent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/Body/Part/BodyPartEvents.cs
  Content.Shared/Body/Part/IBodyPartAdded.cs
  Content.Shared/Body/Part/IBodyPartRemoved.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: Status: Needs Review

#12543 Adds the NetProbe cartridge
  Content.Client/CartridgeLoader/Cartridges/NetProbeUi.cs
  Content.Client/CartridgeLoader/Cartridges/NetProbeUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/NetProbeUiFragment.xaml.cs
  Content.Server/CartridgeLoader/Cartridges/NetProbeCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/NetProbeCartridgeSystem.cs
  Content.Server/DeviceNetwork/DeviceNetworkConstants.cs
  Content.Shared/CartridgeLoader/Cartridges/NetProbeUiState.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
Labels: Changes: UI, Status: Needs Review

#12577 machine upgrading rounding fix
  Content.Server/Construction/ConstructionSystem.Machine.cs
Labels: Status: Needs Review

#12580 Cluster Misc Additions
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12585 Salvage magnet status indicator
  Content.Client/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Shared/Salvage/SharedSalvageMagnetComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Textures/Structures/Machines/salvage.rsi/meta.json
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-o0.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-o1.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-o2.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-o3.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-o4.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-ready-blinking.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-ready.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-unready-blinking.png
  Resources/Textures/Structures/Machines/salvage.rsi/salvage-magnet-unready.png
Labels: Changes: Sprites

#12527 Localize internals status
  Content.Client/UserInterface/Systems/Atmos/GasTank/GasTankWindow.cs
  Resources/Locale/en-US/atmos/gas-tank-component.ftl
Labels: Status: Needs Review

#12514 Destructible cell charger
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#

#12574 Add ban list window
  Content.Client/Administration/UI/BanList/BanListControl.xaml
  Content.Client/Administration/UI/BanList/BanListControl.xaml.cs
  Content.Client/Administration/UI/BanList/BanListEui.cs
  Content.Client/Administration/UI/BanList/BanListHeader.xaml
  Content.Client/Administration/UI/BanList/BanListHeader.xaml.cs
  Content.Client/Administration/UI/BanList/BanListIdsPopup.xaml
  Content.Client/Administration/UI/BanList/BanListIdsPopup.xaml.cs
  Content.Client/Administration/UI/BanList/BanListLine.xaml
  Content.Client/Administration/UI/BanList/BanListLine.xaml.cs
  Content.Client/Administration/UI/BanList/BanListWindow.xaml
  Content.Client/Administration/UI/BanList/BanListWindow.xaml.cs
  Content.Client/Administration/UI/BwoinkWindow.xaml
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/Notes/AdminNotesControl.xaml.cs
  Content.Client/Administration/UI/Notes/AdminNotesLine.xaml.cs
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Server/Administration/BanList/BanListEui.cs
  Content.Server/Administration/Commands/BanListCommand.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Content.Shared/Administration/BanList/BanListEuiState.cs
  Content.Shared/Administration/BanList/SharedServerBan.cs
  Content.Shared/Administration/BanList/SharedServerUnban.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
  Resources/Locale/en-US/administration/ui/ban-list.ftl
Labels: Changes: UI, Status: Needs Review

#12592 Space Station XIV Lobby Screen
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/ssxiv.png
  Resources/Textures/LobbyScreens/ssxiv.png.yml
Labels: No C#

#12586 ECS buckle
  Content.Client/Buckle/BuckleComponent.cs
  Content.Client/Buckle/BuckleSystem.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.Server/Alert/Click/Unbuckle.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Buckle/Components/StrapComponent.cs
  Content.Server/Buckle/Systems/BuckleSystem.cs
  Content.Server/Buckle/Systems/StrapSystem.cs
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Server/Vehicle/VehicleSystem.Rider.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Buckle/Components/SharedBuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
Labels: Status: Needs Review

#12008 RPED
  Content.Server/Construction/Components/MachineComponent.cs
  Content.Server/Construction/Components/PartExchangerComponent.cs
  Content.Server/Construction/PartExchangerSystem.cs
  Content.Server/DoAfter/DoAfterEventArgs.cs
  Content.Server/DoAfter/DoAfterSystem.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/rped.ogg
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Specific/Research/rped.rsi/icon.png
  Resources/Textures/Objects/Specific/Research/rped.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Research/rped.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Research/rped.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#12594 Remove NetSerializable from DamageTypePrototype
  Content.Shared/Damage/Prototypes/DamageTypePrototype.cs
Labels: Status: Needs Review

#12560 Cognizine tweaks
  Content.Server/Chemistry/ReagentEffects/MakeSentient.cs
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Status: Needs Review

#11980 IListener and IRadio purge
  Content.Server/Chat/Commands/MeCommand.cs
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.Radio.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Explosion/Components/TriggerOnVoiceComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/Ghost/Components/IntrinsicRadioComponent.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Server/Headset/HeadsetSystem.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Specific/MedibotInjectOperator.cs
  Content.Server/Radio/Components/ActiveRadioComponent.cs
  Content.Server/Radio/Components/HandheldRadioComponent.cs
  Content.Server/Radio/Components/HeadsetComponent.cs
  Content.Server/Radio/Components/IListen.cs
  Content.Server/Radio/Components/IRadio.cs
  Content.Server/Radio/Components/IntrinsicRadioReceiverComponent.cs
  Content.Server/Radio/Components/IntrinsicRadioTransmitterComponent.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/Components/WearingHeadsetComponent.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/ListeningSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioReceiveEvent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Speech/Components/ActiveListenerComponent.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Content.Server/Speech/ListenEvent.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraMicrophoneComponent.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraSpeakerComponent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Whitelist/EntityWhitelist.cs
  Resources/Locale/en-US/speech/speech-name-relay.ftl
  Resources/Locale/en-US/surveillance-camera/surveillance-camera-speaker.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#12606 Pull origin due to undocumented changes.
  Resources/Prototypes/Maps/Pools/default.yml
Labels: No C#

#12550 Describe red cable terminal entities.
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
Labels: No C#

#12581 Misc changes from replay branch
  Content.Client/Eye/EyeLerpingSystem.cs
  Content.Client/Instruments/InstrumentSystem.cs
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Interaction/RotateToFaceSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
Labels: Status: Needs Review

#12315 Remove duplicate disarm popup when target is holding an item
  Resources/Locale/en-US/hands/components/hands-component.ftl
Labels: No C#, Status: Needs Review

#11908 Fluid spread refactor
  Content.Client/Fluids/PuddleDebugOverlaySystem.cs
  Content.Client/Fluids/PuddleOverlay.cs
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.Server/Fluids/Components/FluidMapDataComponent.cs
  Content.Server/Fluids/Components/FluidSpreaderComponent.cs
  Content.Server/Fluids/Components/PuddleComponent.cs
  Content.Server/Fluids/EntitySystems/EvaporationSystem.cs
  Content.Server/Fluids/EntitySystems/FluidSpreaderSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleDebugDebugOverlaySystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/ShowFluidsCommand.cs
  Content.Shared/Directions/SharedDirectionExtensions.cs
  Content.Shared/Fluids/SharedPuddleDebugOverlaySystem.cs
  Content.Shared/SharedArrayExtension.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Tests/Shared/DirectionRandomizerTest.cs
Labels: Status: Needs Review

#11752 Price of food depends on its nutritional capacity
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
Labels: Status: Needs Review

#12625 fix fire extinguisher sprite
  Resources/Textures/Objects/Misc/fire_extinguisher.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#12617 Remove byte[] allocations for GasTileOverlaySystem.UpdateChunkTile
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/Atmos/GasOverlayChunk.cs
Labels: Status: Needs Review

#12628 Add GetBodyPartAdjacentParts and GetBodyPartOrganComponents
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
Labels: Status: Needs Review

#12622 fix hydroponics trays rotation
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Entities/Structures/soil.yml
Labels: No C#

#12612 Windows now take heat damage
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: No C#

#12616 Fix debug crash due to probability being outside 0-1
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#12590 Localize PDA's NetProbe labels
  Content.Client/CartridgeLoader/Cartridges/NetProbeUiFragment.xaml
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
Labels: Changes: UI, No C#, Status: Needs Review

#12174 eldritch mask
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Head/Misc/squiddy.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/squiddy.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/squiddy.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/squiddy.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/squiddy.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#12632 Remove cat ears from chameleon
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
Labels: No C#

#11678 Objective Assignment Refactor
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/Interfaces/IObjectivesManager.cs
  Content.Server/Objectives/ObjectivePrototype.cs
  Content.Server/Objectives/ObjectivesManager.cs
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#12525 Rename Kahlua to Coffee Liqueur
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Maps/lighthouse.yml
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurbottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurbottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurglass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/coffeeliqueurglass.rsi/meta.json
  Resources/Textures/Objects/Consumable/TrashDrinks/coffeeliqueurbottle_empty.rsi/icon.png
  Resources/Textures/Objects/Consumable/TrashDrinks/coffeeliqueurbottle_empty.rsi/meta.json
Labels: No C#, Changes: Map, Changes: Sprites, Status: Needs Review

#12487 medical scanner machine upgrading
  Content.Server/Cloning/AcceptCloningEui.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Resources/Locale/en-US/medical/components/medical-scanner-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
Labels: Status: Needs Review

#12638 Fix body root being null on the client after init
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Status: Needs Review

#12647 Update CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#12645 Fix price calculation of stacks
  Content.IntegrationTests/Tests/CargoTest.cs
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: Status: Needs Review

#12652 Item artifacts
  Content.Client/Xenoarchaeology/XenoArtifacts/RandomArtifactSpriteSystem.cs
  Content.Client/Xenoarchaeology/XenoArtifacts/RandomArtifactVisualizer.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Commands.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/SpawnArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactLandTriggerComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Components/ArtifactMicrowaveTriggerComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactLandSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactMicrowaveTriggerSystem.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/ArtifactEffectPrototype.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/ArtifactTriggerPrototype.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/RandomArtifactSpriteComponent.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano01.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano01_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano02.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano02_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano03.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano03_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano04.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano04_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano05.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano05_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano06.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano06_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano07.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano07_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano08.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano08_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano09.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano09_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano10.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano10_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano11.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/ano11_on.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review
