Repository space-wizards/space-station-14, pull requests merged in 2022-12, with the labels that each got.

#12816 new cluster update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12817 Remove occurrence cap from all station events
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#12818 Ghost toggle FoV action
  Content.Client/Ghost/GhostComponent.cs
  Content.Client/Ghost/GhostSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Status: Needs Review

#12819 Fix shutter drawdepth
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: No C#

#12812 Kicking AFK players
  Content.Server/Afk/AFKSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/afk/afk.ftl
Labels: Status: Needs Review

#12797 Marathon Update 3.8
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#12811 Panic bunker min overall playtime & deny reason
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/connection-messages.ftl
Labels: Status: Needs Review

#12789 Fix decal IoC exception
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
Labels: Status: Needs Review

#12827 Rephrase panic bunker denial messages
  Resources/Locale/en-US/connection-messages.ftl
Labels: No C#, Status: Needs Review

#12805 Add a label to make lathe UI clearer
  Content.Client/Lathe/UI/LatheMenu.xaml
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
Labels: Changes: UI, No C#, Status: Needs Review

#12836 Fix addhand command
  Content.Server/Body/Commands/AddHandCommand.cs
Labels: Status: Needs Review

#12823 Clear chat input when focus is released with Esc
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: Changes: UI

#12815 Added orderable crates for medical emergencies
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
Labels: No C#, Status: Needs Review

#12701 welding modular mines/grenades to salvage them
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_grenade.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_mine.yml
Labels: No C#, Status: Needs Review

#12781 Launcher info links.
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/Info/DevInfoBanner.cs
  Content.Client/Info/LinkBanner.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Links/UILinks.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/ServerInfo/ServerInfoManager.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/info/server-info.ftl
  Resources/Locale/en-US/server-info/info-links.ftl
Labels: Changes: UI, Status: Needs Review

#12777 Reshades all Engineer jumpsuits and updates hardhat sprites
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/fire.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/atmos.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/engineering_hazard.rsi/equipped-INNERCLOTHING.png
Labels: No C#, Changes: Sprites

#12791 Fix honkbot slipping
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#12796 Bagel Update 15.6 real
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#12630 TC price changes
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#12722 Added airlock kit orderable from cargo
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-engineering.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: No C#, Status: Needs Review

#12869 Remove active doors on bagel
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#12865 Remove trailing commas from RSIs.
  Resources/Textures/Clothing/Back/Duffels/holding.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/holding.rsi/meta.json
  Resources/Textures/Clothing/Neck/Bedsheets/cult.rsi/meta.json
  Resources/Textures/Decals/dirty.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Interface/Alerts/essence_counter.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/structureinstruments.rsi/meta.json
  Resources/Textures/Objects/Materials/Shards/piece.rsi/meta.json
  Resources/Textures/Objects/Materials/Shards/shard.rsi/meta.json
  Resources/Textures/Objects/Materials/Shards/shrapnel.rsi/meta.json
  Resources/Textures/Objects/Materials/Shards/splinters.rsi/meta.json
  Resources/Textures/Objects/Misc/fire_extinguisher.rsi/meta.json
  Resources/Textures/Objects/Misc/flare.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/chemg.rsi/meta.json
  Resources/Textures/Objects/Specific/Xenoarchaeology/item_artifacts.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/atreides.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/armblade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/gohei.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/meta.json
  Resources/Textures/Structures/Doors/edge_door_hazard.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/Structures/Machines/ore_processor.rsi/meta.json
  Resources/Textures/Structures/Machines/recycling.rsi/meta.json
  Resources/Textures/Structures/Machines/rndpointsource.rsi/meta.json
  Resources/Textures/Structures/Machines/server.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/gascanisterport.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/scrubber.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/vent.rsi/meta.json
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/meta.json
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/meta.json
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/meta.json
  Resources/Textures/Structures/Power/cell_recharger.rsi/meta.json
  Resources/Textures/Structures/Power/recharger.rsi/meta.json
  Resources/Textures/Structures/Power/wall_recharger.rsi/meta.json
Labels: No C#

#12873 .Keys.Contains() -> .ContainsKey()
  Content.Client/Radiation/Overlays/RadiationPulseOverlay.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
Labels: Status: Needs Review

#12862 Fix potato battery client-side exception
  Content.Client/PowerCell/PowerCellSystem.cs
Labels: Status: Needs Review

#12884 Update issue & PR template
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#12860 Moose 2.2
  Resources/Maps/kettle.yml
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#12876 TryDropIntoContainer: Take IContainer instead of BaseContainer.
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
Labels: Status: Needs Review

#12864 Mop usable as weapon
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#12484 World target action uses entity coordinates
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Status: Needs Review

#12478 toggle internals icon uses back internals
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#12425 Holographic projectors can be put into respective belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#12486 examine for stealth effect
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Locale/en-US/visual_effects.ftl
Labels: Status: Needs Review

#12619 Add a benchmark for device networking
  Content.Benchmarks/DeviceNetworkingBenchmark.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTestSystem.cs
Labels: Status: Needs Review

#12813 Hamster Pet (GhostRoleMob)
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Mobs/Animals/hamster.rsi/0-inhand-left.png
  Resources/Textures/Mobs/Animals/hamster.rsi/0-inhand-right.png
  Resources/Textures/Mobs/Animals/hamster.rsi/dead-0.png
  Resources/Textures/Mobs/Animals/hamster.rsi/hamster-0.png
  Resources/Textures/Mobs/Animals/hamster.rsi/icon-0.png
  Resources/Textures/Mobs/Animals/hamster.rsi/meta.json
  Resources/Textures/Mobs/Animals/hamster.rsi/splat-0.png
  Resources/Textures/Structures/Storage/Crates/cage.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/cage.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/cage.rsi/icon.png
  Resources/Textures/Structures/Storage/Crates/cage.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/cage.rsi/open.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#12846 Fix bug where AirAlarmUI would display incorrect scrubber filters
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
Labels: Changes: UI, Status: Needs Review

#12847 Fix wallmount generators and substations being blocked by wall
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#

#12681 UX improvements to Air Alarm UI
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdBoundControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdBoundControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml.cs
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.IntegrationTests/Tests/Atmos/AlarmThresholdTest.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: UI, Status: Needs Review

#12825 Allow crew manifest window resizing
  Content.Client/CrewManifest/CrewManifestEui.cs
  Content.Client/CrewManifest/CrewManifestUi.xaml
Labels: Changes: UI

#12912 hamster linter fail fix
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: No C#

#12913 actually fix hamster linter fail
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: No C#

#12082 Geiger counter
  Content.Client/Radiation/Systems/GeigerSystem.cs
  Content.Client/Radiation/UI/GeigerItemControl.cs
  Content.Server/Radiation/Events/RadiationSystemUpdatedEvent.cs
  Content.Server/Radiation/Systems/GeigerSystem.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Radiation/Systems/RadiationSystem.cs
  Content.Shared/Radiation/Components/GeigerComponent.cs
  Content.Shared/Radiation/Systems/SharedGeigerSystem.cs
  Resources/Audio/Items/Geiger/attributions.yml
  Resources/Audio/Items/Geiger/ext.ogg
  Resources/Audio/Items/Geiger/high.ogg
  Resources/Audio/Items/Geiger/low.ogg
  Resources/Audio/Items/Geiger/med.ogg
  Resources/Locale/en-US/radiation/geiger-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Devices/geiger.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_base.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_ext.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_high.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_idle.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_low.png
  Resources/Textures/Objects/Tools/geiger.rsi/geiger_on_med.png
  Resources/Textures/Objects/Tools/geiger.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/geiger.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/geiger.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#12909 Revert "Kicking AFK players"
  Content.Server/Afk/AFKSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/afk/afk.ftl
Labels: Status: Needs Review

#12895 fix analysis console text bug
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
Labels: Changes: UI

#12926 Fix and reclassify existing anchor logs
  Content.Server/Construction/AnchorableSystem.cs
Labels: Status: Needs Review

#12916 Tech Tree 2 Deluxe (With Funky Kong)
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Status: Needs Review

#12948 Remove redundant resolve in NukeopsRuleSystem
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#12935 nullable parts in body prototypes
  Content.Server/Body/Systems/BodySystem.cs
  Content.Shared/Body/Prototypes/BodyPrototype.cs
  Content.Shared/Body/Prototypes/BodyPrototypeSerializer.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
Labels: Status: Needs Review

#12928 make legs affect movement speed with body
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Status: Needs Review

#12949 make nukie round-end screen good
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
Labels: Status: Needs Review

#12696 Specify LoadMap for nukie planet
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#12946 Fix toy ammo whitelist.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
Labels: No C#

#12961 Fix error when spawning nuke ops
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#12838 Handcuffing in Harm mode
  Content.Server/Cuffs/CuffableSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Status: Needs Review

#12957 Changes needed for new notnullableflaganalyzer
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Changelog/ChangelogManager.cs
  Content.Shared/Damage/DamageSpecifierDictionarySerializer.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
Labels: Status: Needs Review

#12967 Re-save nukie planet again
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#12977 Removes Pillar.
  Resources/Maps/pillar.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/pillar.yml
Labels: No C#, Changes: Map

#11704 Fax Machine
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml
  Content.Client/Fax/UI/FaxWindow.xaml.cs
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Shared/Fax/FaxVisuals.cs
  Content.Shared/Fax/SharedFax.cs
  Resources/Audio/Machines/high_tech_confirm.ogg
  Resources/Audio/Machines/license.txt
  Resources/Audio/Machines/printer.ogg
  Resources/Audio/Machines/scanning.ogg
  Resources/Audio/Machines/tray_eject.ogg
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Locale/en-US/fax/fax.ftl
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#12959 Add point light to burning entities
  Content.Client/Atmos/Components/FireVisualsComponent.cs
  Content.Client/Atmos/EntitySystems/FireVisualizerSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: Status: Needs Review

#12921 Add stamina logs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#12991 Remove xenoarch boards from RD locker
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#12984 Moose 3.2.1
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#12859 Kettle 1.4.3
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#12993 Fix thread pool IoC context bug in DecalSystem.
  Content.Server/Decals/DecalSystem.cs
Labels: Status: Needs Review

#13000 CentComm Fax
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#13014 Change planet command gas constants
  Content.Server/Maps/PlanetCommand.cs
Labels: Status: Needs Review

#13004 Omega Update 1.2
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#13002 Marathon Update 3.9
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#13001 Bagel Update 15.7
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13021 Condense PR template a bit
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#13020 Remove "Goebbles" from last name list
  Resources/Prototypes/Datasets/Names/last.yml
Labels: No C#

#12898 Intercoms [crappy radios]
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Resources/Locale/en-US/radio/components/handheld-radio-component.ftl
  Resources/Locale/en-US/verbs/verb-system.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/intercom.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: Sprites, Status: Needs Review

#13032 Intercom Tweaks and Fixes
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Shared/Radio/RadioVisuals.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
Labels: Changes: Sprites

#13036 Replaces anchored lookup flag with static
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Shared/Construction/Conditions/EmptyOrWindowValidInTile.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: Status: Needs Review

#12857 Add multiple logs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Chemistry/Components/FoamSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/Components/SmokeSolutionAreaEffectComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
Labels: Status: Needs Review

#13024 ECS Buckle and Rotation visualizers
  Content.Client/Buckle/BuckleVisualizer.cs
  Content.Client/Buckle/BuckleVisualizerSystem.cs
  Content.Client/Rotation/RotationVisualizer.cs
  Content.Client/Rotation/RotationVisualizerSystem.cs
  Content.Client/Rotation/RotationVisualsComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#12917 Fix dead mobs falling asleep
  Content.Server/Bed/Sleep/SleepingSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Bed/Sleep/TryingToSleepEvent.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
Labels: Status: Needs Review

#13044 Update DamageSpecifier.cs
  Content.Shared/Damage/DamageSpecifier.cs
Labels: Status: Needs Review

#13049 Moose 3.3
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#12919 Fix dead mobs sneezing and coughing
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Disease/Effects/DiseaseSnough.cs
  Content.Server/Traits/Assorted/UncontrollableSnoughSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Disease/Events/AttemptSneezeCoughEvent.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
Labels: Status: Needs Review

#13051 Fix salvage magnet parent
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: No C#

#12899 Prevent subfloor melee attacks
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Interaction/Events/GettingAttackedAttemptEvent.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#12890 Don't allow non-hard anchor overlap
  Content.Server/Construction/AnchorableSystem.cs
Labels: Status: Needs Review

#12866 Fix gravity shenanigans
  Content.Client/Gravity/GravitySystem.Shake.cs
  Content.Client/Gravity/GravitySystem.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.Server/Gravity/EntitySystems/GravityShakeSystem.cs
  Content.Server/Gravity/EntitySystems/GravitySystem.cs
  Content.Server/Gravity/GravityGeneratorComponent.cs
  Content.Server/Gravity/GravityGeneratorSystem.cs
  Content.Server/Gravity/GravitySystem.cs
  Content.Server/Maps/PlanetCommand.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Gravity/GravityChangedEvent.cs
  Content.Shared/Gravity/GravityComponent.cs
  Content.Shared/Gravity/GravityShakeComponent.cs
  Content.Shared/Gravity/SharedGravitySystem.Shake.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: Status: Needs Review

#13060 Fixed typo in copypasta flavor message
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
Labels: No C#, Status: Needs Review

#12871 PlantholderComponent ECS
  Content.Client/Botany/PlantHolderVisualizerSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Content.Server/Botany/Systems/BotanySystem.Plant.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustHealth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustNutrition.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAdjustWater.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantAffectGrowth.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
Labels: Status: Needs Review

#12691 Gas tile overlay state handling changes
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.GridAtmosphere.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.LINDA.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/Components/GasTileOverlayComponent.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/Atmos/GasOverlayChunk.cs
Labels: Needs Engine PR, Status: Needs Review

#12624 Decal state handling
  Content.Client/Decals/DecalSystem.cs
  Content.MapRenderer/Painters/GridPainter.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/Decal.cs
  Content.Shared/Decals/DecalChunkUpdateEvent.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
  Content.Shared/Decals/DecalGridComponent.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Needs Engine PR, Status: Needs Review

#11657 Fix click sorting
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.IntegrationTests/Tests/ClickableTest.cs
Labels: Status: Needs Review

#13075 Fix decal state exceptions
  Content.Client/Decals/DecalSystem.cs
Labels: Status: Needs Review

#13034 fix broken forced climbing
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Status: Needs Review

#13080 Fix S.T.Json holding integration instances live for long.
  Content.Server/Administration/Logs/AdminLogManager.Json.cs
  Content.Server/Administration/Logs/AdminLogManager.cs
  Content.Server/Administration/Logs/Converters/AdminLogConverter.cs
  Content.Server/Administration/Logs/Converters/AdminLogConverterAttribute.cs
  Content.Server/Administration/Logs/Converters/EntityUidConverter.cs
  Content.Server/Administration/Logs/Converters/PlayerSessionConverter.cs
Labels: Status: Needs Review

#13083 Fix decals not deserializing
  Content.Shared/Decals/DecalGridComponent.cs
Labels: Status: Needs Review

#12943 Printable drills and constructable thrusters
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Resources/Locale/en-US/shuttles/thruster.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Status: Needs Review

#13016 Script to dump user data for GDPR purposes.
  Tools/dump_user_data.py
Labels: No C#

#12132 Splits the singularity into its component parts + ECS singularity + Support for singularities in containers.
  Content.Client/Singularity/Components/ClientSingularityComponent.cs
  Content.Client/Singularity/Components/SingularityComponent.cs
  Content.Client/Singularity/SingularitySystem.cs
  Content.Client/Singularity/Systems/EventHorizonSystem.cs
  Content.Client/Singularity/Systems/SingularitySystem.cs
  Content.Client/Singularity/Visualizers/SingularityVisualizer.cs
  Content.Server/Physics/Components/RandomWalkComponent.cs
  Content.Server/Physics/Controllers/RandomWalkController.cs
  Content.Server/Physics/Controllers/SingularityController.cs
  Content.Server/Singularity/Components/GravityWellComponent.cs
  Content.Server/Singularity/Components/ServerSingularityComponent.cs
  Content.Server/Singularity/Components/SingularityComponent.cs
  Content.Server/Singularity/Components/SingularityGeneratorComponent.cs
  Content.Server/Singularity/Components/SinguloFoodComponent.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Server/Singularity/EntitySystems/SingularityGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Content.Server/Singularity/Events/EntityConsumedByEventHorizonEvent.cs
  Content.Server/Singularity/Events/EventHorizonAttemptConsumeEntityEvent.cs
  Content.Server/Singularity/Events/EventHorizonConsumedEntityEvent.cs
  Content.Server/Singularity/Events/EventHorizonContainedEvent.cs
  Content.Server/Singularity/Events/TilesConsumedByEventHorizonEvent.cs
  Content.Server/Singularity/StartSingularityEngineCommand.cs
  Content.Shared/Singularity/Components/EventHorizonComponent.cs
  Content.Shared/Singularity/Components/SharedSingularityComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedEventHorizonSystem.cs
  Content.Shared/Singularity/EntitySystems/SharedGravityWellSystem.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
  Content.Shared/Singularity/Events/SingularityLevelChangedEvent.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Status: Needs Review

#12151 service vending machine updates
  Resources/Locale/en-US/advertisements/vending/nutrimax.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/nutrimax.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
Labels: No C#, Status: Needs Review

#13097 Cleaned up obsolete properties from MobStateComponent
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/SuspicionRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorDeathMatchRuleSystem.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Medical/Stethoscope/StethoscopeSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Objectives/Conditions/KillRandomPersonCondition.cs
  Content.Server/Polymorph/Systems/PolymorphedEntitySystem.cs
  Content.Server/StationEvents/Events/DiseaseOutbreak.cs
  Content.Server/Suspicion/SuspicionRoleComponent.cs
  Content.Shared/MobState/Components/MobStateComponent.cs
Labels: Status: Needs Review

#13096 write a test to ensure all computers are constructible
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review

#12954 Add bluespace lockers
  Content.Server/Administration/Commands/ClearBluespaceLockerLinks.cs
  Content.Server/Administration/Commands/LinkBluespaceLocker.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Storage/Components/BluespaceLockerComponent.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
Labels: Status: Needs Review

#12931 Uplink catalog localization
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Resources/Locale/en-US/store/categories.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/categories.yml
  Resources/Prototypes/Store/presets.yml
  Resources/Textures/Objects/Vehicles/syndicatesegway.rsi/icon.png
  Resources/Textures/Objects/Vehicles/syndicatesegway.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/red-icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/red-icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/SpeedLoaders/Magnum/magnum_speed_loader.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#12889 Node Scanner
  Content.Server/Xenoarchaeology/Equipment/Components/NodeScannerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/NodeScannerSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Resources/Locale/en-US/xenoarchaeology/node-scanner.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/node_scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/node_scanner.rsi/icon.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/node_scanner.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/node_scanner.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/node_scanner.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#12893 Add label to lathe UI (and friends) to show when no materials are loaded
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
Labels: Changes: UI, Status: Needs Review

#12906 Add ability to prevent ghosting
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Mind/Mind.cs
  Resources/Locale/en-US/mind/components/mind-component.ftl
Labels: Status: Needs Review

#12923 Fix Bloodstream typo.
  Content.Server/Chemistry/ReagentEffects/ChemCleanBoodstream.cs
  Resources/Prototypes/Reagents/chemicals.yml
Labels: Status: Needs Review

#12794 Party Crate
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-fun.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: No C#, Status: Needs Review

#13015 adds the ability to "mix" solutions (reactions caused by using an item on a solution holder)
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemMixer.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Chemistry/Components/Solution.Managerial.cs
  Content.Shared/Chemistry/Reaction/ReactionMixerComponent.cs
  Content.Shared/Chemistry/Reaction/ReactionPrototype.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Resources/Locale/en-US/chemistry/components/mixing-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Recipes/Reactions/single_reagent.yml
Labels: Status: Needs Review

#12523 multi-handed item component
  Content.Client/Items/Systems/MultiHandedItemSystem.cs
  Content.Server/Item/MultiHandedItemSystem.cs
  Content.Shared/Item/MultiHandedItemComponent.cs
  Content.Shared/Item/SharedMultiHandedItemSystem.cs
  Resources/Locale/en-US/items/components/multi-handed-item-component.ftl
Labels: Status: Needs Review

#13064 Add escalation and atmos books
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#

#13057 Add osay command
  Content.Server/Administration/Commands/OSay.cs
  Resources/Locale/en-US/administration/commands/osay-command.ftl
Labels: Status: Needs Review

#13104 Fix a bunch of invalid rsi files
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Effects/clicktest.rsi/meta.json
  Resources/Textures/Effects/explosion.rsi/meta.json
  Resources/Textures/Effects/extinguisherSpray.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_facial_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/Textures/Structures/Walls/plastitanium.rsi/plastitaniumfull.png
  Resources/Textures/Structures/Windows/cracks.rsi/1.png
  Resources/Textures/Structures/Windows/cracks.rsi/2.png
  Resources/Textures/Structures/Windows/cracks.rsi/3.png
Labels: No C#, Changes: Sprites

#13107 Fix some more rsis
  Resources/Textures/Objects/Weapons/Melee/gohei.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/closed-empty.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/closing-empty.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/opening-empty.png
  Resources/Textures/Structures/Doors/edge_door_hazard.rsi/door_spark.png
  Resources/Textures/Structures/Furniture/potted_plants.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/cola-black.rsi/cola-light-mask.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Storage/canister.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/sylphs.rsi/meta.json
  Resources/Textures/Structures/monitors.rsi/meta.json
Labels: No C#, Changes: Sprites

#13106 Delete hydroponics bags
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-black-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-blue-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-lime-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-purple-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-red-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-white-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan-yellow-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/cyan.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-black-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-blue-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-lime-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-purple-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-red-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-white-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/green-yellow-stripe.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/plantbag.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/portaseeder.png
  Resources/Textures/Objects/Tools/Hydroponics/bags.rsi/seedbag.png
Labels: No C#, Changes: Sprites

#12927 Add command to list someone's bans
  Content.Server/Administration/Commands/BanCommand.cs
  Content.Server/Administration/Commands/BanListCommand.cs
  Resources/Locale/en-US/info/ban.ftl
Labels: Status: Needs Review

#13111 Update projects to C# 11
  Content.Benchmarks/Content.Benchmarks.csproj
  Content.Client/Content.Client.csproj
  Content.IntegrationTests/Content.IntegrationTests.csproj
  Content.Server.Database/Content.Server.Database.csproj
  Content.Server/Content.Server.csproj
  Content.Shared/Content.Shared.csproj
  Content.Tests/Content.Tests.csproj
Labels: No C#, Status: Needs Review

#13070 Remove IoCManager.InitThread calls from parallel code.
  Content.Benchmarks/DeviceNetworkingBenchmark.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Decals/DecalSystem.cs
Labels: Status: Needs Review

#13113 Fix the remaining invalid RSIs
  Resources/Textures/Effects/extinguisherSpray.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_facial_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/female_none.png
  Resources/Textures/Structures/Machines/arcade.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave.rsi/mw1.png
  Resources/Textures/Structures/Piping/Atmospherics/thermomachine.rsi/meta.json
  Resources/Textures/Structures/Power/power.rsi/meta.json
  Resources/Textures/Structures/Shuttles/thruster.rsi/meta.json
  Resources/Textures/Structures/Specific/Atmospherics/sensor.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mirror.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/sylphs.rsi/sylphicon.png
Labels: No C#, Changes: Sprites

#13053 TryGetData() Generics support content changes
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/VendingMachines/VendingMachineSystem.cs
  Content.Client/Xenoarchaeology/XenoArtifacts/RandomArtifactSpriteSystem.cs
Labels: Status: Needs Review

#12795 Move NetBufferSize override hack to integration tests specifically
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/NetworkTab.xaml.cs
  Content.IntegrationTests/PoolManager.cs
Labels: Changes: UI, Status: Needs Review

#13066 Changes for prototype load parallelization
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AtmosTab/AddGasWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AtmosTab/FillGasWindow.xaml.cs
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Atmos/Commands/ListGasesCommand.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/Atmos/Serialization/TileAtmosCollectionSerializer.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chemistry/Components/InjectorComponent.cs
  Content.Server/Containers/ContainerFillComponent.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/NPC/HTN/HTNTaskListSerializer.cs
  Content.Server/NPC/NPCBlackboardSerializer.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Storage/Components/SecretStashComponent.cs
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
  Content.Server/Suspicion/Roles/SuspicionInnocentRole.cs
  Content.Server/Suspicion/Roles/SuspicionTraitorRole.cs
  Content.Server/Traitor/TraitorRole.cs
  Content.Shared/Access/AccessLevelPrototype.cs
  Content.Shared/Alert/AlertOrderPrototype.cs
  Content.Shared/Alert/AlertPrototype.cs
  Content.Shared/Atmos/Prototypes/GasPrototype.cs
  Content.Shared/BarSign/BarSignPrototype.cs
  Content.Shared/Body/Prototypes/BodyPrototype.cs
  Content.Shared/Body/Prototypes/BodyPrototypeSerializer.cs
  Content.Shared/Construction/Prototypes/ConstructionPrototype.cs
  Content.Shared/Construction/Steps/ConstructionGraphStepTypeSerializer.cs
  Content.Shared/Damage/DamageSpecifierDictionarySerializer.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
  Content.Shared/Disease/DiseasePrototype.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Content.Shared/Research/Prototypes/TechnologyPrototype.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Store/StoreCategoryPrototype.cs
  Content.Shared/Traits/TraitPrototype.cs
Labels: Changes: UI, Status: Needs Review

#13118 Christmas trees now grant gifts.
  Content.Server/Holiday/Christmas/LimitedItemGiverComponent.cs
  Content.Server/Holiday/Christmas/LimitedItemGiverSystem.cs
  Content.Server/Holiday/Christmas/RandomGiftComponent.cs
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Content.Server/Holiday/Christmas/SantaComponent.cs
  Resources/Locale/en-US/holiday/gifts.ftl
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: Status: Needs Review

#13077 Technology Disks
  Content.Client/Research/ResearchSystem.cs
  Content.Client/Research/TechnologyDatabaseComponent.cs
  Content.Client/Research/UI/DiskConsoleBoundUserInterface.cs
  Content.Client/Research/UI/DiskConsoleMenu.xaml
  Content.Client/Research/UI/DiskConsoleMenu.xaml.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Research/Components/TechnologyDatabaseComponent.cs
  Content.Server/Research/Systems/ResearchSystem.Server.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Server/Research/Systems/ResearchSystem.cs
  Content.Server/Research/TechnologyDisk/Components/DiskConsoleComponent.cs
  Content.Server/Research/TechnologyDisk/Components/DiskConsolePrintingComponent.cs
  Content.Server/Research/TechnologyDisk/Components/TechnologyDiskComponent.cs
  Content.Server/Research/TechnologyDisk/Systems/DiskConsoleSystem.cs
  Content.Server/Research/TechnologyDisk/Systems/TechnologyDiskSystem.cs
  Content.Shared/Research/Components/SharedTechnologyDatabaseComponent.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/SharedDiskConsole.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Resources/Locale/en-US/research/components/technology-disk.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Objects/Misc/module.rsi/datadisk_base.png
  Resources/Textures/Objects/Misc/module.rsi/datadisk_label.png
  Resources/Textures/Objects/Misc/module.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/icon.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/meta.json
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/printing.png
  Resources/Textures/Structures/Machines/tech_disk_printer.rsi/unshaded.png
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#13122 Fix objectives.
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
Labels: Status: Needs Review

#13124 Kettle 1.5.1
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#13131 Remove self from test co-owner
  .github/CODEOWNERS
Labels: No C#

#12725 New animal, Pig
  Resources/Audio/Animals/license.txt
  Resources/Audio/Animals/pig_oink.ogg
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/accents.yml
  Resources/Textures/Clothing/Mask/breath.rsi/equipped-MASK-pig.png
  Resources/Textures/Clothing/Mask/breath.rsi/meta.json
  Resources/Textures/Clothing/Mask/medical.rsi/equipped-MASK-pig.png
  Resources/Textures/Clothing/Mask/medical.rsi/meta.json
  Resources/Textures/Mobs/Animals/pig.rsi/dead.png
  Resources/Textures/Mobs/Animals/pig.rsi/meta.json
  Resources/Textures/Mobs/Animals/pig.rsi/pig.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/anesthetic.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_double.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency_double.rsi/meta.json
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency_yellow.rsi/meta.json
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/yellow.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#12934 Adds Chefvend
  Resources/Locale/en-US/advertisements/vending/chefvend.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/chefvend.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#13089 Glass airlock construction prototype
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#12005 Scale other needed metabolism reagents
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/ReagentEffects/AdjustReagent.cs
  Content.Server/Chemistry/ReagentEffects/AdjustTemperature.cs
  Content.Server/Chemistry/ReagentEffects/ChemCauseDisease.cs
  Content.Server/Chemistry/ReagentEffects/ChemCauseRandomDisease.cs
  Content.Server/Chemistry/ReagentEffects/ChemCleanBoodstream.cs
  Content.Server/Chemistry/ReagentEffects/ChemCureDisease.cs
  Content.Server/Chemistry/ReagentEffects/ChemHealEyeDamage.cs
  Content.Server/Chemistry/ReagentEffects/ChemMiasmaPoolSource.cs
  Content.Server/Chemistry/ReagentEffects/ChemVomit.cs
  Content.Server/Chemistry/ReagentEffects/Drunk.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Server/Chemistry/ReagentEffects/ModifyBleedAmount.cs
  Content.Server/Chemistry/ReagentEffects/ModifyBloodLevel.cs
  Content.Server/Chemistry/ReagentEffects/MovespeedModifier.cs
  Content.Server/Chemistry/ReagentEffects/Paralyze.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/GenericStatusEffect.cs
  Content.Server/Chemistry/ReagentEffects/StatusEffects/Jitter.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: Status: Needs Review

#12958 Librarian QoL
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Library/Equipment/books_bag.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#12858 Replace nutriment in snowcones with ice, water, and sugar
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
Labels: No C#

#13134 Make the retractor printable again
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#

#13058 Fix signal linker removing exception
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
Labels: Status: Needs Review

#13138 Bagel Update 15.8
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13137 super mild computer yaml cleanup
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#13149 Bagel Update 15.9
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13153 Order decals in the placer window for mappers.
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#13156 Omega Update 1.3
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#13172 Add a gift-giving christmas tree to nukie planet.
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#13160 Call reload protoypes on admin changes
  Content.Client/Administration/Managers/GamePrototypeLoadManager.cs
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Chemistry/EntitySystems/ChemicalReactionSystem.cs
  Content.Shared/Administration/IGamePrototypeLoadManager.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
Labels: Status: Needs Review

#13155 mech bug fixes
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Locale/en-US/mech/mech.ftl
Labels: Status: Needs Review

#13144 Add present logs
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Content.Server/Storage/EntitySystems/SpawnItemsOnUseSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#13061 Goodbye Microwave, Hello Hot Plates!
  Content.Server/Chemistry/Components/ActiveSolutionHeaterComponent.cs
  Content.Server/Chemistry/Components/SolutionHeaterComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionHeaterSystem.cs
  Resources/Locale/en-US/chemistry/components/solution-heater-component.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Machines/hotplate.rsi/beaker.png
  Resources/Textures/Structures/Machines/hotplate.rsi/icon.png
  Resources/Textures/Structures/Machines/hotplate.rsi/meta.json
  Resources/Textures/Structures/Machines/hotplate.rsi/on.png
Labels: Changes: Sprites, Status: Needs Review

#13139 Fix and improve bluespace lockers
  Content.Server/Administration/Commands/ClearBluespaceLockerLinks.cs
  Content.Server/Administration/Commands/LinkBluespaceLocker.cs
  Content.Server/Storage/Components/BluespaceLockerComponent.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: Status: Needs Review

#11349 feat: Medbay cryo pods
  Content.Client/Medical/Cryogenics/CryoPodComponent.cs
  Content.Client/Medical/Cryogenics/CryoPodSystem.cs
  Content.Server/Medical/Components/CryoPodComponent.cs
  Content.Server/Medical/CryoPodEjectLockWireAction.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/InsideCryoPodSystem.cs
  Content.Server/Temperature/Components/ContainerTemperatureDamageThresholdsComponent.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Medical/Cryogenics/ActiveCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/CryoPodWireStatus.cs
  Content.Shared/Medical/Cryogenics/InsideCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Content.Shared/Medical/Cryogenics/SharedInsideCryoPodSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/Locale/en-US/medical/components/cryo-pod-component.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Textures/Structures/Machines/cryogenics.rsi/cover-off.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/cover-on.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/meta.json
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-off.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-on.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-open.png
  Resources/Textures/Structures/Machines/cryogenics.rsi/pod-panel.png
Labels: Changes: Sprites, Status: Needs Review

#13054 Remove contact pooling cvars
  Content.IntegrationTests/PoolManager.cs
Labels: Status: Needs Review

#13192 Remove damagespecifier warnings
  Content.Shared/Damage/DamageSpecifier.cs
Labels: Status: Needs Review

#13132 Sharpened the scalpels! (Scalpels can now be used to butcher.)
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: No C#, Status: Needs Review

#13143 Moved salvage magnet values from system to component
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: Status: Needs Review

#13188 Don't run CI For PJBot
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/conflict-labeler.yml
  .github/workflows/labeler-pr.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/yaml-linter.yml
Labels: No C#

#13109 Changes required for component tree engine PR
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Needs Engine PR
