Repository space-wizards/space-station-14, pull requests merged in 2022-04, with the labels that each got.

#7371 Marathon hotfix 1
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#7374 Saltern Update 2.6
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#7373 Bagel Update 12
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7385 Fix magboot mispredict
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: Status: Needs Review

#7386 Marathon
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7270 Fix directional window blocking
  Content.Client/Construction/ConstructionSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Wall/WallMountComponent.cs
Labels: Status: Needs Review

#7361 Move Anchorable to shared.
  Content.Client/Construction/EntitySystems/AnchorableSystem.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPortableSystem.cs
  Content.Server/Configurable/ConfigurationSystem.cs
  Content.Server/Construction/AnchorableSystem.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Damage/Systems/DamageOnToolInteractSystem.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/SubFloor/SubFloorHideSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/WireHacking/WiresComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactElectricityTriggerSystem.cs
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/SharedAnchorableSystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
Labels: Status: Needs Review

#7387 Moose Update 1.5 QOL update
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#7396 Gives banners interaction outline
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
Labels: No C#

#7300 Grouped ghost roles and jump button
  Content.Client/Ghost/Roles/UI/GhostRoleEntryButtons.xaml
  Content.Client/Ghost/Roles/UI/GhostRoleEntryButtons.xaml.cs
  Content.Client/Ghost/Roles/UI/GhostRolesEntry.xaml
  Content.Client/Ghost/Roles/UI/GhostRolesEntry.xaml.cs
  Content.Client/Ghost/Roles/UI/GhostRolesEui.cs
  Content.Client/Ghost/Roles/UI/GhostRolesWindow.xaml.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Ghost/Roles/UI/GhostRolesEui.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: UI, Status: Needs Review

#7400 Make base beaker abstract
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#, Status: Needs Review

#7409 Fix seeds not spawning
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
Labels: Size: Very Small

#7402 Added current player count to lobby under server info for issue #7125…
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Status: Needs Review

#7320 Remove IgnorePause from aobserver
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: No C#, Status: Needs Review

#7411 Fix disarm action
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
Labels: Status: Needs Review

#7160 Machine Linking Overhaul
  Content.Client/Conveyor/Visualizers/ConveyorVisualizer.cs
  Content.Client/Conveyor/Visualizers/TwoWayLeverVisualizer.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/MachineLinking/UI/SignalPortSelectorBoundUserInterface.cs
  Content.Client/MachineLinking/UI/SignalPortSelectorMenu.xaml
  Content.Client/MachineLinking/UI/SignalPortSelectorMenu.xaml.cs
  Content.Server/Conveyor/ConveyorSystem.cs
  Content.Server/Doors/Components/ToggleDoorOnTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/MachineLinking/Components/DoorSignalControlComponent.cs
  Content.Server/MachineLinking/Components/SignalLinkerComponent.cs
  Content.Server/MachineLinking/Components/SignalReceiverComponent.cs
  Content.Server/MachineLinking/Components/SignalTransmitterComponent.cs
  Content.Server/MachineLinking/Components/TwoWayLeverComponent.cs
  Content.Server/MachineLinking/Events/InvokePortEvent.cs
  Content.Server/MachineLinking/Events/LinkAttemptEvent.cs
  Content.Server/MachineLinking/Events/SignalReceivedEvent.cs
  Content.Server/MachineLinking/Events/SignalValueRequestedEvent.cs
  Content.Server/MachineLinking/Models/SignalLink.cs
  Content.Server/MachineLinking/Models/SignalLinkCollection.cs
  Content.Server/MachineLinking/Models/SignalPort.cs
  Content.Server/MachineLinking/System/DoorSignalControlSystem.cs
  Content.Server/MachineLinking/System/SignalButtonSystem.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/MachineLinking/System/SignalSwitchSystem.cs
  Content.Server/MachineLinking/System/TwoWayLeverSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Conveyor/SharedConveyorComponent.cs
  Content.Shared/MachineLinking/TwoWayLeverSignal.cs
  Content.Shared/MachineLinking/UIKeys.cs
  Content.Shared/MachineLinking/UIMessages.cs
  Resources/Locale/en-US/machine-linking/components/signal-linker-component.ftl
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
  Resources/Prototypes/Entities/Structures/lighting_ground.yml
Labels: Changes: UI, Status: Needs Review

#7401 Fix smoke fork bomb
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionAreaEffectSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.Capabilities.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
Labels: Status: Needs Review

#7392 pvsrange vec2 + eyezoom
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#7417 minibomb beeps again.
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#7424 Gas tank minor opts
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
Labels: Status: Needs Review

#7425 Optimize instruments
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/PAI/PAISystem.cs
Labels: Status: Needs Review

#7432 Small instrument system fix
  Content.Server/Instruments/InstrumentSystem.cs
Labels: Status: Needs Review

#7333 Flora: rock fix
  Resources/Prototypes/Decals/flora.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Textures/Decals/Flora/flora_rocks.rsi/meta.json
  Resources/Textures/Objects/Decoration/Flora/flora_rockssolid.rsi/meta.json
  Resources/Textures/Objects/Decoration/Flora/flora_rockssolid.rsi/rocksolid01.png
  Resources/Textures/Objects/Decoration/Flora/flora_rockssolid.rsi/rocksolid02.png
  Resources/Textures/Objects/Decoration/Flora/flora_rockssolid.rsi/rocksolid03.png
Labels: No C#, Changes: Sprites

#7375 Explosion refactor fixes pt1
  Content.Client/Explosion/ExplosionOverlaySystem.cs
  Content.Server/Administration/AdminVerbSystem.cs
  Content.Server/Explosion/Components/ExplosiveComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionGridTileFlood.cs
  Content.Server/Explosion/EntitySystems/ExplosionSpaceTileFlood.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionTileFlood.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
Labels: Status: Needs Review

#7418 Plague Outfit/Mask Fix
  Resources/Textures/Clothing/Mask/plaguedoctormask.rsi/equipped-MASK.png
  Resources/Textures/Clothing/OuterClothing/Misc/plaguedoctorsuit.rsi/equipped-OUTERCLOTHING.png
Labels: No C#, Changes: Sprites

#7430 Bagel Update 12.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7437 Reduce movement allocs
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: Status: Needs Review

#7426 Entity Whitelist changes
  Content.Client/Actions/ActionsSystem.cs
  Content.IntegrationTests/Tests/Utility/EntityWhitelistTest.cs
  Content.Server/Storage/EntitySystems/ItemMapperSystem.cs
  Content.Shared/Storage/Components/SharedMapLayerData.cs
  Content.Shared/Whitelist/EntityWhitelist.cs
Labels: Status: Needs Review

#7451 Splitstation update V2
  Resources/Maps/splitstation.yml
  Resources/Prototypes/Maps/splitstation.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7457 Moose Update 1.6
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#7422 Saltern Update 2.7
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#7459 Packed Arrivals Update
  Resources/Maps/packedstation.yml
Labels: No C#, Changes: Map

#7465 Fixes Holoparasites killing their hosts when suiciding.
  Content.Server/Chat/Commands/SuicideCommand.cs
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#7455 Prevent area-effect-reactions in space.
  Content.Server/Chemistry/Components/SolutionAreaEffectComponent.cs
Labels: Status: Needs Review

#7380 Rejig Device networks
  Content.Client/Entry/IgnoredComponents.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTestSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/DeviceNetwork/Components/DeviceNetworkComponent.cs
  Content.Server/DeviceNetwork/DeviceNet.cs
  Content.Server/DeviceNetwork/DeviceNetworkConstants.cs
  Content.Server/DeviceNetwork/Systems/DeviceNetworkSystem.cs
  Content.Server/DeviceNetwork/Systems/Devices/ApcNetSwitchSystem.cs
  Content.Server/DeviceNetwork/Systems/WiredNetworkSystem.cs
  Content.Server/DeviceNetwork/Systems/WirelessNetworkSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/DeviceNetwork/DeviceFrequencyPrototype.cs
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Prototypes/Device/devicenet_frequencies.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/lighting.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/lighting_ground.yml
Labels: Status: Needs Review

#7470 Adds CannotSuicide to more ghost controlled roles.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, Status: Needs Review

#7471 Fix spelling error: delicous -> delicious
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#

#7468 Small gas tile overlay performance improvements
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
Labels: Status: Needs Review

#7454 Mini bomb changes
  Content.Server/Explosion/Components/ExplosiveComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review

#7452 Stun baton nerf
  Content.Server/Stunnable/Components/StunbatonComponent.cs
Labels: Status: Needs Review

#7381 Fix RGBee
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#7352 Literally Murder IExamine
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Construction/Components/MachineBoardComponent.cs
  Content.Server/Construction/Components/MachinePartComponent.cs
  Content.Server/Construction/MachinePartSystem.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Server/Headset/HeadsetSystem.cs
  Content.Server/Morgue/Components/CrematoriumEntityStorageComponent.cs
  Content.Server/Morgue/Components/MorgueEntityStorageComponent.cs
  Content.Server/Morgue/MorgueSystem.cs
  Content.Server/NodeContainer/EntitySystems/NodeContainerSystem.cs
  Content.Server/NodeContainer/NodeContainerComponent.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Power/Components/ExaminableBatteryComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Radio/Components/HandheldRadioComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Suspicion/SuspicionRoleComponent.cs
  Content.Server/Suspicion/SuspicionRoleSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Status: Needs Review

#7440 Remove armor from EVA suit, add base syndie suit to uplink, surplus rifle
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#7334 5 New Salvage Maps
  Resources/Maps/Salvage/asteroid-base.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
  Resources/Maps/Salvage/tick-colony.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7326 Bear hospital salvage
  Resources/Maps/Salvage/medium-pet-hospital.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7394 Minor paper ECS and stamps
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperSystem.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Server/Cargo/CargoSystem.Telepad.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/SharedPaperComponent.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Locale/en-US/paper/paper-component.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/Catalog/Fills/Paper/salvage_lore.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-generic.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-iaa.png
Labels: Changes: Sprites, Status: Needs Review

#7404 Add directional icons to crew monitors
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/DirectionIcon.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Textures/Interface/VerbIcons/dot.svg
  Resources/Textures/Interface/VerbIcons/dot.svg.192dpi.png
  Resources/Textures/Interface/VerbIcons/dot.svg.192dpi.png.yml
Labels: Changes: UI, Status: Needs Review

#7362 Add damageable component to some entities
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: No C#

#7473 Optimize vent/scrubber
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Grid.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
Labels: Status: Needs Review

#7355 Advanced Magboots Noslip
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: No C#

#7321 Cybersun pen functionality pass
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#

#7484 Fix decal crash
  Content.Client/Decals/DecalOverlay.cs
  Resources/Maps/Salvage/medium-pet-hospital.yml
Labels: Status: Needs Review

#7479 Reduce array resizing in GasTileOverlay
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
Labels: Status: Needs Review

#7480 Cache CanMove
  Content.Client/Buckle/BuckleComponent.cs
  Content.Client/Cuffs/Components/CuffableComponent.cs
  Content.Server/AI/Components/AiControllerComponent.cs
  Content.Server/AI/Steering/AiSteeringSystem.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/PAI/PAISystem.cs
  Content.Server/Shuttles/EntitySystems/ShuttleConsoleSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Climbing/SharedClimbingComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/MobState/EntitySystems/MobStateSystem.cs
  Content.Shared/Movement/Components/IMoverComponent.cs
  Content.Shared/Movement/Components/SharedDummyInputMoverComponent.cs
  Content.Shared/Movement/Components/SharedPlayerInputMoverComponent.cs
  Content.Shared/Movement/MovementAttemptEvent.cs
  Content.Shared/Movement/SharedMoverController.cs
  Content.Shared/Movement/UpdateCanMoveEvent.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Content.Shared/Shuttles/Components/PilotComponent.cs
  Content.Shared/Shuttles/SharedShuttleConsoleSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Status: Needs Review

#7488 Quickfix: Give color to some announcements
  Content.Server/Administration/UI/AdminAnnounceEui.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Nuke/NukeCodeSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
Labels: Status: Needs Review

#7475 add bite.ogg, cleanup and de-weaponize plushies
  Resources/Audio/Effects/bite.ogg
  Resources/Audio/Effects/license.txt
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#7448 Spationaut Supply Suit and Hardsuit Stat Pass Number 2
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-light.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/equipped-head.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/icon-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-left-light.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-left-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-right-light.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-right-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/light-overlay.png
  Resources/Textures/Clothing/Head/Hardsuits/spatiohelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/spatio.rsi/meta.json
Labels: No C#, Changes: Sprites

#7491 Grenade Penguin Fix
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#7477 mosin mag size reduction and sniper cleanup
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#

#7495 Rejuvenate cures all diseases
  Content.Server/Administration/Commands/RejuvenateCommand.cs
  Content.Server/Disease/DiseaseSystem.cs
Labels: Status: Needs Review

#7515 Moose Update 1.7
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#7512 Bagel Update 12.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7367 Janitor cart
  Content.Server/Storage/Components/ServerStorageComponent.cs
  Content.Server/Storage/EntitySystems/ItemMapperSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Storage/Components/SharedMapLayerData.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_garbage.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_mop.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_replacer.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_sign4.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_spray.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_1.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_2.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_water_3.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#7507 Fix SMES and Substation construction.
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: No C#

#7522 Pillar Update 5.4
  Resources/Maps/nss_pillar.yml
Labels: No C#, Changes: Map

#7534 Fix handcuffed players being able to escape pulls
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Size: Very Small

#7528 High effect engineering
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster52_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster53_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster54_contraband.png
Labels: No C#, Changes: Sprites

#7399 Group ahelp relayed messages by round id
  Content.Server/Administration/BwoinkSystem.cs
Labels: Status: Needs Review

#7541 Allows objects to be pulled round corners
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/frame.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
  Resources/Prototypes/Entities/Structures/Furniture/instruments.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/high_pressure_machine_frame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/base_particleaccelerator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Entities/Structures/Walls/girder.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
  Resources/Prototypes/Entities/Structures/soil.yml
Labels: No C#

#7508 Re-add action prototypes
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Ghost/Components/GhostComponent.cs
  Content.Server/Guardian/GuardianHostComponent.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/Light/EntitySystems/UnpoweredFlashlightSystem.cs
  Content.Server/Speech/Components/VocalComponent.cs
  Content.Server/Speech/VocalSystem.cs
  Content.Server/UserInterface/IntrinsicUISystem.cs
  Content.Server/UserInterface/OpenUiActionEvent.cs
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Actions/ActionTypes/ActionPrototypes.cs
  Content.Shared/Actions/ActionTypes/InstantAction.cs
  Content.Shared/Actions/ActionTypes/TargetedAction.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Inventory/Events/EquippedEvents.cs
  Content.Shared/Light/Component/SharedHandheldLightComponent.cs
  Content.Shared/Toggleable/ToggleActionEvent.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
Labels: Status: Needs Review

#7550 Optimise decal allocs
  Content.Client/Decals/DecalOverlay.cs
Labels: Status: Needs Review

#7497 Increase all welding times 5x in wall deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: No C#, Status: Needs Review

#7555 Add new manifest-update metadata to gen_build_info.py
  Tools/gen_build_info.py
Labels: No C#

#7203 More lobby art
  Resources/Textures/LobbyScreens/licenses.txt
  Resources/Textures/LobbyScreens/robotics.png
  Resources/Textures/LobbyScreens/supermatter.png
Labels: No C#, Status: Needs Review

#7547 Add round id to lobby and round end summary
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
  Resources/Locale/en-US/round-end/round-end-summary-window.ftl
Labels: Issue: Feature Request, Size: Very Small, Status: Needs Review

#7531 Add suit storage
  Content.Shared/Inventory/SlotFlags.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: Needs Discussion, Status: Needs Review

#7526 Gun accuracy pass
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/LMGs/lmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: No C#

#7486 C4
  Content.Client/Entry/IgnoredComponents.cs
  Content.Client/Sticky/Visualizers/StickyVisualizerSystem.cs
  Content.Server/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Sticky/Components/StickyComponent.cs
  Content.Server/Sticky/Events/EntityStuckEvent.cs
  Content.Server/Sticky/Systems/StickySystem.cs
  Content.Shared/Sticky/Components/StickyVisualizerComponent.cs
  Resources/Locale/en-US/sticky/sticky-component.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Textures/Objects/Weapons/Bombs/c4.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/c4.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Bombs/c4.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Bombs/c4.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/c4.rsi/primed.png
Labels: Changes: Sprites, Status: Needs Review

#7557 Fixes lobby backgrounds.
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/Prototypes/LobbyBackgroundPrototype.cs
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/PutLobbyScreensHere.txt
Labels: Status: Needs Review

#7525 Fahrenheit451 and other balancings
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#7565 Split Station 2.1 (Minor fixes)
  Resources/Maps/splitstation.yml
  Resources/Prototypes/Maps/splitstation.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7239 Mob Tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: No C#, Status: Needs Review

#7562 Station Map Posters
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/bagelmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/deltamap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/marathonmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/moosemap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/packedmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/pillarmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/salternmap.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/splitmap.png
Labels: No C#, Changes: Sprites

#7521 Refresh Lobby Info Box
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
Labels: Status: Needs Review

#7563 Remove usage of CreateNetMessage.
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/NetworkResourceManager.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/EUI/BaseEui.cs
  Content.Server/EUI/EuiManager.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Ghost/Components/GhostRadioComponent.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Server/Info/RulesManager.cs
  Content.Server/Info/ShowRulesCommand.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/StationEvents/StationEventSystem.cs
  Content.Server/Voting/Managers/VoteManager.cs
Labels: Status: Needs Review

#7041 Agent ID Cards
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Access/Components/AgentIDCardComponent.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Resources/Locale/en-US/access/components/agent-id-card-component.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Changes: UI, Status: Needs Review, Progress Report: Minor

#7329 Prevent closed drinks from transferring reagents
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: Status: Needs Review

#7413 Add default link verb for machine linking
  Content.Server/MachineLinking/Components/SignalLinkerComponent.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Resources/Locale/en-US/machine-linking/components/signal-linker-component.ftl
Labels: Status: Needs Review

#7349 Recipe for Durathread
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Recipes/Construction/Graphs/materials/durathread.yml
  Resources/Prototypes/Recipes/Construction/materials.yml
Labels: No C#, Status: Needs Review

#7481 Elimate most IInteractUsing
  Content.Server/AME/AntimatterEngineSystem.cs
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/AME/Components/AMEPartComponent.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Construction/Components/WelderRefinableComponent.cs
  Content.Server/Construction/RefiningSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/WireHacking/WireHackingSystem.cs
  Content.Server/WireHacking/WiresComponent.cs
  Resources/Locale/en-US/ame/components/ame-controller-component.ftl
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
Labels: Status: Needs Review

#7519 abstract prototype id validation
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Disease/DiseasePrototype.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Complementary Engine PR, Status: Needs Review

#7556 Remove solution reference to ManagedHttpListener.
  SpaceStation14.sln
Labels: Complementary Engine PR, No C#

#7501 Fix maploading once and for all.
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Fluids/FluidSpillTest.cs
  Content.IntegrationTests/Tests/SaveLoadSaveTest.cs
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Station/StationSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#7566 Add extrap Welding steps to reinforced window's deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
Labels: No C#, Status: Needs Review

#7546 Add roles to Ghost Warp Menu
  Content.Client/Ghost/UI/GhostTargetWindow.xaml
  Content.Client/Ghost/UI/GhostTargetWindow.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
Labels: Changes: UI, Status: Needs Review

#7450 Another gun PR
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/cog.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/nightfall.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/gladstone.rsi/icon.png
Labels: No C#, Changes: Sprites

#7560 Rejig pressure protection
  Content.Server/Atmos/Components/BarotraumaComponent.cs
  Content.Server/Atmos/EntitySystems/BarotraumaSystem.cs
  Content.Server/Atmos/PressureEvent.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: Status: Needs Review, Progress Report: Minor

#6695 Beds, Medical Beds, Stasis Beds
  Content.Client/Bed/Components/StasisBedVisualsComponent.cs
  Content.Client/Bed/StasisBedSystem.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/HealOnBuckle.cs
  Content.Server/Bed/Components/HealOnBuckleHealing.cs
  Content.Server/Bed/Components/StasisBedComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Body/Systems/StomachSystem.cs
  Content.Server/Buckle/Components/BuckleComponent.cs
  Content.Server/Disease/Cures/DiseaseBedrestCure.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Shared/Bed/StasisBedVisuals.cs
  Content.Shared/Buckle/Components/SharedBuckleComponent.cs
  Content.Shared/Disease/DiseasePrototype.cs
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/bed.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Furniture/furniture.rsi/bed-MED.png
  Resources/Textures/Structures/Furniture/furniture.rsi/meta.json
  Resources/Textures/Structures/Machines/stasis_bed.rsi/broken.png
  Resources/Textures/Structures/Machines/stasis_bed.rsi/icon.png
  Resources/Textures/Structures/Machines/stasis_bed.rsi/meta.json
  Resources/Textures/Structures/Machines/stasis_bed.rsi/panel.png
  Resources/Textures/Structures/Machines/stasis_bed.rsi/unlit.png
Labels: Needs Discussion, Changes: Sprites, Status: Needs Review, Progress Report: Minor

#7441 Adds colorable sliders & RGB/HSV color picker
  Content.Client/CharacterAppearance/MagicMirrorBoundUserInterface.cs
  Content.Client/Decals/UI/AlphaColorPicker.cs
  Content.Client/Decals/UI/DecalPlacerWindow.xaml
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
Labels: Changes: UI, Status: Needs Review

#7532 Added more animal sound effects needed for pettable animals and gibbed head fix
  Content.Shared/Interaction/RotateToFaceSystem.cs
  Resources/Audio/Animals/cow_moo.ogg
  Resources/Audio/Animals/fox_squeak.ogg
  Resources/Audio/Animals/frog_ribbit.ogg
  Resources/Audio/Animals/goat_bah.ogg
  Resources/Audio/Animals/goose_honk.ogg
  Resources/Audio/Animals/license.txt
  Resources/Audio/Animals/lizard_happy.ogg
  Resources/Audio/Animals/parrot_raught.ogg
  Resources/Audio/Animals/penguin_squawk.ogg
  Resources/Audio/Animals/raccoon_chatter.ogg
  Resources/Audio/Animals/sloth_squeak.ogg
  Resources/Audio/Animals/snake_hiss.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Status: Needs Review

#7572 Give all hostile salvage mobs + spider ghost role takeover
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#, Size: Very Small

#7344 Make energy swords use RgbLightController
  Content.Client/Light/Components/HandheldLightComponent.cs
  Content.Client/Light/HandheldLightSystem.cs
  Content.Client/Toggleable/ToggleableLightVisualsComponent.cs
  Content.Client/Toggleable/ToggleableLightVisualsSystem.cs
  Content.Client/Weapons/Melee/EnergySwordVisualizer.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Server/Weapon/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Shared/Item/SharedItemComponent.cs
  Content.Shared/Toggleable/ToggleableLightVisuals.cs
  Content.Shared/Weapons/Melee/SharedEnergySwordComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword_on.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/e_sword_rainbow_on.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/on-rainbow-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_dagger.rsi/on-rainbow-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword_on.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/e_sword_rainbow_on.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-rainbow-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword.rsi/on-rainbow-inhand-right.png
Labels: Changes: Sprites

#7261 Airlock visuals
  Content.Client/AirlockPainter/AirlockPainterSystem.cs
  Content.Client/AirlockPainter/UI/AirlockPainterBoundUserInterface.cs
  Content.Client/AirlockPainter/UI/AirlockPainterWindow.xaml
  Content.Client/AirlockPainter/UI/AirlockPainterWindow.xaml.cs
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/AirlockPainter/AirlockPainterComponent.cs
  Content.Server/AirlockPainter/AirlockPainterSystem.cs
  Content.Shared/AirlockPainter/AirlockPainterEvents.cs
  Content.Shared/AirlockPainter/Components/PaintableAirlockComponent.cs
  Content.Shared/AirlockPainter/Prototypes/AirlockGroupPrototype.cs
  Content.Shared/AirlockPainter/SharedAirlockPainterSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Resources/Locale/en-US/airlock-painter/airlock-painter.ftl
  Resources/Prototypes/Entities/Objects/Tools/airlock_painter.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Tools/airlock_painter.rsi/airlock_painter.png
  Resources/Textures/Objects/Tools/airlock_painter.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#7499 Save seed data in components and remove the seed-database
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Components/ProduceComponent.cs
  Content.Server/Botany/Components/SeedComponent.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySystem.Plant.cs
  Content.Server/Botany/Systems/BotanySystem.Produce.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantDiethylamine.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
  Content.Server/Kitchen/Components/SharpComponent.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: Status: Needs Review

#7582 Bagel Update 12.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7584 Moose Update 1.8
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#7585 Saltern Update 2.9
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#7571 Adds hugging
  Resources/Audio/Effects/hug.ogg
  Resources/Audio/Effects/licenses.txt
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
Labels: No C#, Status: Needs Review

#7598 Hugging - Hotfix
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
Labels: No C#, Status: Needs Review

#7594 Randomize lobby background correctly.
  Content.Server/GameTicking/GameTicker.LobbyBackground.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#7600 Fix some bugs and tweak Rane's PRs that were merged yesterday
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/bed.yml
Labels: Status: Needs Review

#7602 Salvage mob tweaks
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/accents.yml
Labels: No C#, Size: Very Small

#7224 Stop healing when target is dead
  Content.Server/Medical/HealingSystem.cs
Labels: Status: Needs Review

#6961 Emaggable vendors + Familiars for Chaplain
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Bible/Components/BibleComponent.cs
  Content.Server/Bible/Components/SummonableComponent.cs
  Content.Server/VendingMachines/VendingMachineComponent.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Resources/Locale/en-US/chapel/bible.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Chapel/necronomicon.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/necronomicon.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/necronomicon.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/necronomicon.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#7611 Use bilinear filtering for lobby art.
  Resources/Textures/LobbyScreens/robotics.png.yml
  Resources/Textures/LobbyScreens/supermatter.png.yml
Labels: No C#

#7614 Familiar QOL changes
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Bible/Components/SummonableComponent.cs
  Resources/Locale/en-US/chapel/bible.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
Labels: Status: Needs Review

#7616 [1 line] Fix broken Sec Techfab visuals
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#7627 Fix hardsuit lights not working
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
Labels: No C#, Size: Very Small

#7628 Fix lathe completetime
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#7629 Fix airtight init rotation.
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
Labels: Status: Needs Review

#7610 Paramedic Voidsuit and Armor Balance Pass
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: No C#, Changes: Sprites

#7632 Fix more lights
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
Labels: No C#

#7631 Add an atmos throw velocity cap, adjustible CVars, and fix throw directions
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#7509 Zombies!!!
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Disease/Components/DiseaseBuildupComponent.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Disease/Effects/DiseaseProgression.cs
  Content.Server/Disease/Zombie/Components/DiseaseZombieComponent.cs
  Content.Server/Disease/Zombie/DiseaseZombieSystem.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
  Content.Server/Weapon/Melee/ZombieTransfer/Components/ZombieTransferComponent.cs
  Content.Server/Weapon/Melee/ZombieTransfer/ZombieTransferSystem.cs
  Content.Shared/CharacterAppearance/Systems/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Locale/en-US/disease/zombie.ftl
  Resources/Locale/en-US/station-events/events/zombie-outbreak.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/zombieclaw.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/accents.yml
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/zombie_claw.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/zomlab.png
Labels: Changes: Sprites, Status: Needs Review

#7634 Grindable Pills
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#7638 Bees cannot disarm anymore [Fix #7618]
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#7603 Airlock Painter now can be found in vendor, lathe, and closets
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: No C#, Status: Needs Review

#7635 Restores the palette picker in decals
  Content.Client/Decals/UI/DecalPlacerWindow.xaml
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Resources/Locale/en-US/decals/decal-window.ftl
Labels: Changes: UI, Status: Needs Review

#7605 Fix flares to last their full intended duration + 1 minute
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
Labels: No C#

#7625 Make mapping use consistent Entity Uids
  Content.Server/GameTicking/Commands/MappingCommand.cs
Labels: Complementary Engine PR, Size: Very Small, Status: Needs Review

#7595 Fix #7574 - Lights stay off if taken from the fixture and placed back
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
Labels: Status: Needs Review

#7646 Change doors to ignore static entities when closing
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Issue: Bug, Priority: 2-Before Release, Size: Very Small, Status: Needs Review

#7650 Revert "Make mapping use consistent Entity Uids (#7625)"
  Content.Server/GameTicking/Commands/MappingCommand.cs
Labels: Status: Needs Review

#7641 Zombie Bugfix
  Content.Server/Disease/Zombie/DiseaseZombieSystem.cs
  Content.Server/StationEvents/Events/ZombieOutbreak.cs
  Content.Server/Weapon/Melee/ZombieTransfer/ZombieTransferSystem.cs
  Resources/Locale/en-US/disease/zombie.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/zombieclaw.yml
Labels: Issue: Bug, Status: Needs Review

#7655 Adds a small amount of space to the chefs hat
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
Labels: No C#, Status: Needs Review

#7587 Flash payload
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Textures/Objects/Devices/payload.rsi/meta.json
  Resources/Textures/Objects/Devices/payload.rsi/payload-flash-armed.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#7657 Mouse size adjustment
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#7661 Bagel Update 12.3
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#7676 Atlas Ship
  Resources/Maps/atlas.yml
  Resources/Prototypes/Maps/atlas.yml
Labels: No C#, Changes: Map, Status: Needs Review

#7680 Makes dump_commits_since.ps1 work on PowerShell 5.1
  Tools/dump_commits_since.ps1
Labels: No C#

#7679 Makes dump_contributors_since.ps1 work on PowerShell 5.1
  Tools/dump_contributors_since.ps1
Labels: No C#

#7589 Gas Masks, Oxygen Tank Correction, and Correct Fills for lockers and survival boxes
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Textures/Clothing/Mask/breath.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/icon.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gasatmos.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascaptain.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/icon.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gascaptain.rsi/meta.json
  Resources/Textures/Clothing/Mask/gascentcom.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gascentcom.rsi/icon.png
  Resources/Textures/Clothing/Mask/gascentcom.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gascentcom.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gascentcom.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/icon.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/meta.json
  Resources/Textures/Clothing/Mask/gasexplorer.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/icon.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gassecurity.rsi/meta.json
  Resources/Textures/Clothing/Mask/gassecurity.rsi/up-equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/icon.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/gassyndicate.rsi/meta.json
  Resources/Textures/Clothing/Mask/medical.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/medical.rsi/icon.png
  Resources/Textures/Clothing/Mask/medical.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/medical.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/medical.rsi/meta.json
  Resources/Textures/Clothing/Mask/medical.rsi/up-equipped-MASK.png
  Resources/Textures/Objects/Storage/boxes.rsi/emergencytank.png
  Resources/Textures/Objects/Storage/boxes.rsi/extendedtank.png
  Resources/Textures/Objects/Storage/boxes.rsi/internals.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites

#7668 Adds a number identifier to all mobs except players
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/name_identifier_groups.yml
Labels: No C#

#7675 Grenade Penguin Buff
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#7696 Gives Bibles and Necronomicons the ability to worn in the belt slot
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Labels: No C#

#7658 Make machine linking check access reader permissions
  Content.Server/MachineLinking/Events/LinkAttemptEvent.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/MachineLinking/Events/LinkAttemptEvent.cs
Labels: Status: Needs Review

#7677 Prevents suicide if someone is already dead
  Content.Server/Chat/Commands/SuicideCommand.cs
  Resources/Locale/en-US/chat/commands/suicide-command.ftl
Labels: Status: Needs Review

#7691 Please buy sussy toolbox (suspicious toolbox buff)
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: No C#

#7700 Hypopen into PDA compartment
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#7682 Remote Explosives
  Content.Client/Entry/IgnoredComponents.cs
  Content.Server/Explosion/Components/TriggerOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/MachineLinking/Components/SignallerComponent.cs
  Content.Server/MachineLinking/Components/TriggerOnSignalReceivedComponent.cs
  Content.Server/MachineLinking/System/SignalButtonSystem.cs
  Content.Server/MachineLinking/System/SignallerSystem.cs
  Content.Server/MachineLinking/System/TriggerOnSignalReceivedSystem.cs
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/triggers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Textures/Objects/Devices/signaller.rsi/meta.json
  Resources/Textures/Objects/Devices/signaller.rsi/signaller.png
  Resources/Textures/Objects/Devices/signaltrigger.rsi/meta.json
  Resources/Textures/Objects/Devices/signaltrigger.rsi/signaltrigger.png
Labels: Changes: Sprites, Status: Needs Review
