Repository space-wizards/space-station-14, pull requests merged in 2022-09, with the labels that each got.

#10700 fix engineering goggles supply issues
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
Labels: No C#, Status: Needs Review

#10474 Split various drone behaviors out of drone component (innate tool, unpowered flashlight)
  Content.Server/Drone/Components/DroneComponent.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Light/EntitySystems/UnpoweredFlashlightSystem.cs
  Content.Server/Tools/Innate/InnateToolComponent.cs
  Content.Server/Tools/Innate/InnateToolSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#10789 Salvage spawning adjustments and AABBs in prototypes
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageMapPrototype.cs
  Content.Server/Salvage/SalvageRulerCommand.cs
  Content.Server/Salvage/SalvageSystem.cs
  Resources/Locale/en-US/salvage/salvage-ruler-command.ftl
  Resources/Locale/en-US/shell.ftl
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: Changes: Map, Status: Needs Review

#10005 NukeOps game rule tweaks
  Content.Server/GameTicking/Rules/Components/NukeOperativeComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeOperativeSpawnerComponent.cs
  Content.Server/GameTicking/Rules/Configurations/NukeopsRuleConfiguration.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Status: Needs Review, Status: Awaiting Changes

#10638 Localize antag roles
  Content.Shared/Roles/AntagPrototype.cs
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Roles/Antags/Suspicion/suspicion_innocent.yml
  Resources/Prototypes/Roles/Antags/Suspicion/suspicion_traitor.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: Status: Needs Review

#10672 Bots can now be put in closets
  Resources/Prototypes/Body/Presets/bot.yml
  Resources/Prototypes/Body/Templates/bot.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#, Status: Needs Review

#10954 Just a week away...
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster38_legit.png
Labels: No C#, Changes: Sprites

#10510 Fix griddrag and tethergun
  Content.Client/Maps/GridDraggingSystem.cs
  Content.Client/Weapons/Ranged/Systems/TetherGunSystem.cs
  Content.Server/Maps/GridDraggingCommand.cs
  Content.Server/Maps/GridDraggingSystem.cs
  Content.Server/Weapon/Ranged/Systems/TetherGunSystem.cs
  Content.Server/Weapons/Ranged/Commands/TetherGunCommand.cs
  Content.Shared/Maps/SharedGridDraggingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedTetherGunSystem.cs
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#10950 Make t-rays, gas analyzers, and belts lathable
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: No C#

#10955 Shotgun buff
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#

#10956 Add logs to lattice cutting
  Content.Server/Tools/ToolSystem.LatticeCutting.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#10957 Fix metal counter frame deconstruction
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
Labels: No C#, Status: Needs Review

#10953 Add operative suit/skirt into the uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#10963 Revert stripping menu order
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: No C#

#10964 Fix post light broken sprite
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/broken.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/meta.json
Labels: No C#, Changes: Sprites

#10721 Air sensors & air alarm fixup
  Content.Client/Atmos/Monitor/AtmosAlarmableVisualsComponent.cs
  Content.Client/Atmos/Monitor/AtmosAlarmableVisualsSystem.cs
  Content.Client/Atmos/Monitor/AtmosMonitorVisualizer.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Components/FireAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosDeviceNetwork.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
  Content.Server/Atmos/Monitor/WireActions/AirAlarmPanicWire.cs
  Content.Server/Atmos/Monitor/WireActions/AtmosAlarmableAlarmWire.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Doors/Components/FirelockComponent.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThresholdPrototype.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmType.cs
  Content.Shared/Atmos/Monitor/AtmosMonitorAlarmType.cs
  Content.Shared/Atmos/Monitor/AtmosSensorData.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
  Content.Shared/Atmos/Monitor/Components/SharedFireAlarmComponent.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentPumpComponent.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
  Resources/Locale/en-US/devices/device-network.ftl
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_sensor.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Specific/Atmospherics/sensor.rsi/gsensor0.png
  Resources/Textures/Structures/Specific/Atmospherics/sensor.rsi/gsensor1.png
  Resources/Textures/Structures/Specific/Atmospherics/sensor.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#10980 Fix extra plasteel getting returned when deconstructing shuttle airlocks
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shuttle.yml
Labels: Issue: Bug, No C#

#10966 Mapping autosaves
  Content.Server/Mapping/MappingCommand.cs
  Content.Server/Mapping/MappingSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#10984 Update terrain tiles
  Resources/Prototypes/Tiles/floors.yml
Labels: No C#

#10967 AutoLink port from Outer Rim
  Content.Server/MachineLinking/Components/AutoLinkReceiverComponent.cs
  Content.Server/MachineLinking/Components/AutoLinkTransmitterComponent.cs
  Content.Server/MachineLinking/System/AutoLinkSystem.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/MachineLinking/Events/LinkAttemptEvent.cs
  Content.Shared/MachineLinking/Events/NewLinkEvent.cs
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door_autolink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch_autolink.yml
Labels: Status: Needs Review

#11004 Air alarm patches
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceNetworkSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmType.cs
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
Labels: Status: Needs Review

#8475 Fix status effect prediction
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/StatusEffect/StatusEffectsComponent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Needs Engine PR, Status: Needs Review

#10990 Enough for the UI refactor engine
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Client/Viewport/GameScreen.cs
  Content.Client/Viewport/GameScreenBase.cs
Labels: Status: Requires Engine Change

#11026 UI refactor pieces
  Content.Client/Actions/UI/ActionMenu.cs
  Content.Client/Actions/UI/ActionMenuItem.cs
  Content.Client/Actions/UI/ActionSlot.cs
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Chat/ChatInput.cs
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/EscapeMenu/EscapeMenuOwner.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Info/RulesManager.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Bible/Components/SummonableComponent.cs
  Content.Server/Ghost/Components/GhostComponent.cs
  Content.Server/Guardian/GuardianHostComponent.cs
  Content.Server/Medical/Stethoscope/Components/StethoscopeComponent.cs
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Server/Polymorph/Systems/PolymorphedEntitySystem.cs
  Content.Shared/Actions/ActionTypes/ActionType.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
Labels: Status: Needs Review

#11041 Admins now need adminhelp access to access adminhelps.
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Status: Needs Review

#11057 Bagel Update 15.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#11062 AirAlarms fixes
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: Changes: UI, Status: Needs Review

#11020 Fixes reset propagation for atmospheric alarm receivers, adds CVar for fire alarm all access
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#11017 Adds a link limit and UI to device list
  Content.Client/NetworkConfigurator/NetworkConfiguratorBoundUserInterface.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorDeviceList.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorDeviceList.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorListMenu.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorListMenu.xaml.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Shared/DeviceNetwork/Components/DeviceListComponent.cs
  Content.Shared/DeviceNetwork/NetworkConfiguratorUserInterfaceState.cs
  Content.Shared/DeviceNetwork/Systems/SharedDeviceListSystem.cs
  Resources/Locale/en-US/devices/network-configurator.ftl
Labels: Changes: UI, Status: Needs Review

#11056 Makes it so that all wires (except the bolt wire) have to be cut on airlocks/windoors
  Content.Server/Construction/Conditions/AllWiresCut.cs
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
Labels: Status: Needs Review

#11037 Chem entity nerf
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Shared/Chemistry/Components/SharedChemMasterComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Changes: UI

#11049 remove stripping doafter
  Content.Server/Strip/StrippableComponent.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
Labels: Status: Needs Review

#11016 Disarm 1498
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Stunnable/Systems/StunSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
Labels: Status: Needs Review

#10992 Fix: Drop plasteel when deconstructing reinforced walls
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#11063 Air alarm balancing
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmModes.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentScrubberComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
  Resources/Prototypes/Atmospherics/thresholds.yml
Labels: Changes: UI, Status: Needs Review

#10997 Tweak: Allows putting the seclite in a security belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#10949 Make Licoxide bypass insulated gloves
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Chemistry/ReagentEffects/Electrocute.cs
  Content.Server/Electrocution/ElectrocuteCommand.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Shared/Electrocution/ElectrocutionEvents.cs
Labels: Status: Needs Review

#10981 Give filled jetpacks both O2 and N2
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#10887 CBURN tweaks
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-ert.png
Labels: No C#, Changes: Sprites

#10948 Nuke Plasma Price
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#, Status: Needs Review

#10796 Pacification status effect and Pax
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/Pacification/PacifiedComponent.cs
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/status_effects.yml
Labels: Status: Needs Review

#11044 Fix gun animation
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: Needs Engine PR

#10883 Context menu tweaks
  Content.Client/Verbs/VerbSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/impacts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Status: Needs Review

#11052 ChemMaster ECS
  Content.Client/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.ChemMaster.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Shared/Chemistry/Components/SharedChemMasterComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Maps/centcomm.yml
  Resources/Maps/nss_pillar.yml
  Resources/Maps/nukieplanet.yml
  Resources/Maps/packedstation.yml
  Resources/Maps/splitstation.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Changes: UI, Changes: Map, Status: Needs Review

#11073 Fix log component parenting issues
  Content.Server/Botany/Components/LogComponent.cs
  Content.Server/Botany/Systems/LogSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
Labels: Status: Needs Review

#11074 Fix explosion overlay bounds
  Content.Client/Administration/UI/SpawnExplosion/ExplosionDebugOverlay.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Explosion/ExplosionOverlay.cs
Labels: Status: Needs Review

#11069 Make ghost warp use `AttachToGridOrMap()`
  Content.Server/Administration/Commands/WarpCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Warps/WarpPointComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
Labels: Status: Needs Review

#8366 Firelock ECS + some other stuff.
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Doors/Components/FirelockComponent.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Resources/Textures/Structures/Doors/Airlocks/Glass/external.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/external.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/closed_unlit.png
Labels: Changes: Sprites, Status: Needs Review, Status: Awaiting Changes

#11065 Turrets for the infiltrator
  Resources/Maps/infiltrator.yml
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#11081 Add 10 new Paintings
  Resources/Prototypes/Entities/Markers/Spawners/Random/paintings.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Textures/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting10.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting11.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting12.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting13.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting14.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting15.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting16.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting17.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting18.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting2.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting4.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting5.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting7.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting8.png
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting9.png
Labels: No C#, Changes: Sprites

#11043 fix zombie mispredicts
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Zombies/SharedZombieSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Status: Needs Review

#11082 Fix AdminTestArenaSystem
  Content.Server/Administration/Systems/AdminTestArenaSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
Labels: Status: Needs Review

#11087 Fix more prototypes for save/spawn test
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Shared/Tag/TagSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
Labels: Status: Needs Review

#11066 Clickmap changes for engine PR
  Content.Client/Clickable/ClickableComponent.cs
Labels: Needs Engine Update

#11108 Fix even more prototypes for save/spawn test
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/cargo_console.yml
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Status: Needs Review

#11104 Adds examine values to armor
  Content.Server/Armor/ArmorSystem.cs
  Resources/Locale/en-US/armor/armor-examine.ftl
Labels: Status: Needs Review

#11117 Lock Fire-Axe Cabinet
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: No C#

#11107 Adds speed modifier values to examine clothing
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Resources/Locale/en-US/clothing/clothing-speed.ftl
Labels: Status: Needs Review

#11121 Fixes air alarm mode propagation when a mode is set from an air alarm
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
Labels: Status: Needs Review

#11120 Bound uploadfile to the relative path's extension
  Content.Client/Administration/Commands/UploadFile.cs
Labels: Status: Needs Review

#10976 Gas Analyzer can now scan pipes/devices along with the environment
  Content.Client/Atmos/Components/GasAnalyzerComponent.cs
  Content.Client/Atmos/UI/GasAnalyzerBoundUserInterface.cs
  Content.Client/Atmos/UI/GasAnalyzerMenu.cs
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml.cs
  Content.Server/Atmos/Components/GasAnalyzableComponent.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzableSystem.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Shared/Atmos/Components/SharedGasAnalyzerComponent.cs
  Resources/Locale/en-US/atmos/gas-analyzable-system.ftl
  Resources/Locale/en-US/atmos/gas-analyzer-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/atmos.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
Labels: Changes: UI, Status: Needs Review

#11103 External airlock assembly rotation
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: No C#

#11090 Add examines for damage values
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Cartridges.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/damage/damage-examine.ftl
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: Status: Needs Review

#10991 Flavor profiles
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Nutrition/Components/FlavorProfileComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/Flavor.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
  Resources/Locale/en-US/nutrition/components/food-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/food.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/botany.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#11134 Fix item slot mispredict
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Status: Needs Review

#11147 Fix cargo request computer category sorting
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
Labels: Changes: UI

#10987 APC construction updated, uses electronics
  Content.Client/Power/APC/ApcVisualizer.cs
  Content.Server/Construction/Completions/GivePrototype.cs
  Content.Server/Construction/Conditions/ApcPanel.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/Components/ApcElectronicsComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Shared/APC/SharedApc.cs
  Resources/Locale/en-US/apc/components/apc-component.ftl
  Resources/Locale/en-US/construction/conditions/apc-open-condition.ftl
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
  Resources/Textures/Structures/Power/apc.rsi/meta.json
Labels: Status: Needs Review

#11150 Bagel Update 15.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#11149 Makes ahelp relay messages a little less disgusting to look at
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Status: Needs Review

#11163 Significantly buff food items and nerf hunger decay.
  Content.Server/Nutrition/Components/HungerComponent.cs
Labels: Status: Help Wanted, Needs Discussion

#11161 Add Quartermaster to command in the lobby job menu
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#11174 Disable re-adminning infinitely
  Content.Server/Administration/Managers/AdminManager.cs
Labels: Status: Needs Review

#11113 Use EntityUID for all ghost warps
  Content.Client/Ghost/GhostSystem.cs
  Content.Client/Ghost/UI/GhostTargetWindow.xaml.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
Labels: Changes: UI, Status: Needs Review

#11180 Keep windoors open if they are clicked
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: Status: Needs Review

#11170 Omega
  Resources/Maps/omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: No C#, Changes: Map, Status: Needs Review

#11024 Implement Charcoal. #10042
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Chemistry/ReagentEffects/ChemCleanBoodstream.cs
  Resources/Locale/en-US/reagents/meta/elements.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Status: Needs Review

#11115 among pequeno
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/pequeno.rsi/base.png
  Resources/Textures/Objects/Fun/pequeno.rsi/meta.json
  Resources/Textures/Objects/Fun/pequeno.rsi/visor.png
Labels: Status: DO NOT MERGE, No C#, Changes: Sprites, Status: Needs Review

#11189 Chef update
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Content.Shared/Kitchen/RecipeManager.cs
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: Status: Needs Review

#11128 Reimplement anchor/unanchor delay
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Content.Server/Construction/AnchorableSystem.cs
Labels: Status: Needs Review

#11191 Omega Update 1
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#11168 Melee special examine
  Content.Server/Abilities/Boxer/BoxingSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Server/Weapon/Melee/Components/MeleeWeaponComponent.cs
  Content.Server/Weapon/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapon/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapon/Melee/MeleeWeaponSystem.cs
  Content.Server/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Content.Server/Wieldable/WieldableSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: Status: Needs Review

#11175 NoRot: true on cables
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: No C#

#11148 Change Quartermaster job icon to command blue
  Resources/Textures/Interface/Misc/job_icons.rsi/QuarterMaster.png
Labels: No C#, Changes: Sprites

#11139 introduce requirement to prevent from being tasked to steal your own item
  Content.Server/Objectives/Requirements/NotRoleRequirement.cs
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#11102 Advanced laser gun and four resprites
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/advancedlasergun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/china_lake.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/inspector.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/inspector.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Revolvers/mateba.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/mateba.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: No C#, Changes: Sprites

#11035 Reduce knocked down players tile friction
  Content.Client/Friction/TileFrictionController.cs
  Content.Client/Slippery/SlipperySystem.cs
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Friction/TileFrictionController.cs
  Content.Server/Slippery/SlipperySystem.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Friction/TileFrictionModifier.cs
  Content.Shared/Movement/Events/TileFrictionEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Status: Needs Review

#11105 Adjust light power consumption
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: No C#

#11046 Add more networking options
  Content.Client/Entry/EntryPoint.cs
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml
  Content.Client/EscapeMenu/UI/Tabs/NetworkTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#11055 Remove IItemStatus
  Content.Client/Chemistry/Components/HyposprayComponent.cs
  Content.Client/Chemistry/Components/InjectorComponent.cs
  Content.Client/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Client/Chemistry/UI/HyposprayStatusControl.cs
  Content.Client/Chemistry/UI/InjectorStatusControl.cs
  Content.Client/GPS/Components/HandheldGPSComponent.cs
  Content.Client/GPS/HandheldGPSComponent.cs
  Content.Client/GPS/Systems/HandheldGpsSystem.cs
  Content.Client/GPS/UI/HandheldGpsStatusControl.cs
  Content.Client/Items/Components/IItemStatus.cs
  Content.Client/Items/UI/ItemStatusPanel.cs
  Content.Client/Stack/StackComponent.cs
  Content.Client/Stack/StackStatusControl.cs
  Content.Client/Stack/StackSystem.cs
  Content.Client/Tools/Components/WelderComponent.cs
  Content.Client/Tools/ToolSystem.cs
  Content.Client/Tools/UI/WelderStatusControl.cs
  Content.Shared/Chemistry/Components/SharedHyposprayComponent.cs
Labels: Status: Needs Review

#10893 store system currency rework
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Client/Store/Ui/StoreWithdrawWindow.xaml.cs
  Content.Server/Store/Components/StoreComponent.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Store/CurrencyPrototype.cs
  Resources/Locale/en-US/store/currency.ftl
  Resources/Locale/en-US/store/store.ftl
  Resources/Prototypes/Store/currency.yml
Labels: Changes: UI, Status: Needs Review

#11006 miasma sprite tweak
  Resources/Textures/Effects/atmospherics.rsi/miasma.png
Labels: No C#, Changes: Sprites

#11186 Fix construction action
  Content.Server/Construction/ConstructionSystem.Graph.cs
Labels: Status: Needs Review

#11098 Ignore non-hard bodies for anchoring
  Content.Server/Construction/AnchorableSystem.cs
Labels: Status: Needs Review

#11177 Display gender and age when examining humanoids
  Content.Shared/CharacterAppearance/Systems/SharedHumanoidAppearanceSystem.cs
  Resources/Locale/en-US/character-appearance/components/humanoid-appearance-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Status: Needs Review

#11184 Add embeds to AHelp relay
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#11205 Fix artifact storage collision
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifacts.yml
Labels: No C#

#11202 Fixed call button name in admin menu
  Content.Client/Administration/UI/Tabs/AdminTab/AdminShuttleWindow.xaml
Labels: Changes: UI, No C#, Status: Needs Review

#11194 Localize character window title
  Content.Client/CharacterInterface/CharacterInterfaceComponent.cs
  Resources/Locale/en-US/character-info/components/character-info-component.ftl
Labels: Status: Needs Review

#11192 Updated Cameras for Saltern
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#9934 Add gas recyclers
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/GasMixture.cs
  Content.Server/Atmos/Piping/Binary/Components/GasRecyclerComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Resources/Locale/en-US/atmos/gas-recycler-system.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Textures/Structures/Machines/gasrecycler.rsi/icon.png
  Resources/Textures/Structures/Machines/gasrecycler.rsi/meta.json
  Resources/Textures/Structures/Machines/gasrecycler.rsi/running.png
  Resources/Textures/Structures/Machines/gasrecycler.rsi/unlit.png
Labels: Changes: Sprites, Status: Needs Review

#11209 Move FancyWindow/HighDivider
  Content.Client/Administration/QuickDialogSystem.cs
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Client/Changelog/ChangelogWindow.xaml
  Content.Client/Gravity/UI/GravityGeneratorWindow.xaml
  Content.Client/Gravity/UI/GravityGeneratorWindow.xaml.cs
  Content.Client/Hands/HandsComponent.cs
  Content.Client/Hands/ShowHandItemOverlay.cs
  Content.Client/Hands/Systems/HandVirtualItemSystem.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Hands/UI/HandVirtualItemStatus.xaml
  Content.Client/Hands/UI/HandVirtualItemStatus.xaml.cs
  Content.Client/Hands/UI/HandsGui.xaml
  Content.Client/Hands/UI/HandsGui.xaml.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/NPC/NPCWindow.xaml
  Content.Client/NPC/NPCWindow.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorListMenu.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorListMenu.xaml.cs
  Content.Client/Shuttles/UI/EmergencyConsoleWindow.xaml
  Content.Client/Shuttles/UI/EmergencyConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml
  Content.Client/Shuttles/UI/IFFConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/UserInterface/Controls/FancyWindow.xaml
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.Client/UserInterface/Controls/HighDivider.cs
  Content.Client/Voting/UI/VoteCallMenu.xaml
Labels: Changes: UI, Status: Needs Review

#11197 Display "lobby" if round ID is 0 for Discord AHelp embeds
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Status: Needs Review

#11211 Add visualizer to hot coffee and tea
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon-0.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon-4.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/hot_coffee.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/teacup.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/teacup.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/teacup.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/teacup.rsi/icon-4.png
  Resources/Textures/Objects/Consumable/Drinks/teacup.rsi/meta.json
Labels: No C#, Changes: Sprites

#11213 More minor UI refactor changes
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Commands/ActionsCommands.cs
  Content.Client/DragDrop/DragDropHelper.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Gravity/UI/GravityGeneratorWindow.xaml.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml
  Content.Client/NetworkConfigurator/NetworkConfiguratorListMenu.xaml
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml
  Content.Client/UserInterface/Controls/FancyWindow.xaml
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.Client/Viewport/ViewportManager.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Bible/Components/SummonableComponent.cs
  Content.Server/Polymorph/Systems/PolymorphableSystem.cs
  Content.Server/Polymorph/Systems/PolymorphedEntitySystem.cs
  Content.Shared/Actions/ActionEvents.cs
  Content.Shared/Hands/Components/SharedHandsComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  SpaceStation14.sln.DotSettings
Labels: Changes: UI, Status: Needs Review

#11215 sovl airlock
  Resources/Audio/Machines/airlock_close.ogg
  Resources/Audio/Machines/airlock_open.ogg
  Resources/Audio/Machines/license.txt
Labels: No C#

#11241 Stop hiding gas recyclers under the floor
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: No C#

#11226 appraisal verb
  Content.Server/Cargo/Systems/PriceGunSystem.cs
  Resources/Locale/en-US/cargo/price-gun-component.ftl
Labels: Status: Needs Review

#11243 Bagel Air Alarm Fixe
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#11246 Fix gun clumsy
  Content.Server/Chemistry/Components/HyposprayComponent.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Interaction/Components/ClumsyComponent.cs
  Content.Server/Interaction/InteractionSystem.Clumsy.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: Status: Needs Review

#11199 splitstation update September 2022
  Resources/Maps/splitstation.yml
Labels: No C#, Changes: Map

#11253 Remove clonexadone
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/PlantCryoxadone.cs
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Status: Needs Review

#11256 Fix changelog entry
  Resources/Changelog/Changelog.yml
Labels: No C#

#10220 Nukie win conditions
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.EmergencyShuttle.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
Labels: Status: Needs Review

#11060 Localize tile names
  Content.Shared/Maps/ContentTileDefinition.cs
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/plating.yml
  Resources/Prototypes/Tiles/space.yml
Labels: Status: Needs Review

#11059 Localize material names
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Labels: Status: Needs Review

#10513 Add informations to cargo order form
  Content.Client/Cargo/BUI/CargoOrderConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoConsoleOrderMenu.xaml
  Content.Client/Cargo/UI/CargoProductRow.xaml
  Resources/Locale/en-US/cargo/cargo-console-order-component.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
Labels: Changes: UI, Status: Needs Review

#11183 Restrict ghost role speech/movement to component flags
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Ghost/Roles/Components/GhostTakeoverAvailableComponent.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: Status: Needs Review

#10748 Update maploader to support loading onto an existing map
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#11239 Fix toggle-subfloor visual bugs
  Content.Client/SubFloor/SubFloorHideSystem.cs
Labels: Needs Engine Update

#11230 Remove buyer from store messages
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Store/ListingCondition.cs
  Content.Shared/Store/StoreUi.cs
Labels: Changes: UI

#11259 Allowed stunbaton for Wall Recharger
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#

#11206 Fix tile prying offset
  Content.Shared/Maps/TurfHelpers.cs
Labels: Issue: Bug, Size: Very Small, Status: Needs Review

#10469 make windoor, railing, and directional window bounds not awful
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#

#11190 Use Segments for RandomMetadata
  Content.Server/RandomMetadata/RandomMetadataComponent.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Content.Server/RatKing/RatKingComponent.cs
  Content.Server/RatKing/RatKingSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: Status: Needs Review

#11021 Pass IRobustSerializer to NetMessage
  Content.Shared/Administration/GamePrototypeLoadMessage.cs
  Content.Shared/Administration/MsgUpdateAdminStatus.cs
  Content.Shared/Administration/NetworkResourceUploadMessage.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/Eui/MsgEuiCtl.cs
  Content.Shared/Eui/MsgEuiMessage.cs
  Content.Shared/Eui/MsgEuiState.cs
  Content.Shared/GhostKick/MsgGhostKick.cs
  Content.Shared/Info/SharedRulesManager.cs
  Content.Shared/Players/PlayTimeTracking/MsgPlayTime.cs
  Content.Shared/Preferences/MsgDeleteCharacter.cs
  Content.Shared/Preferences/MsgPreferencesAndSettings.cs
  Content.Shared/Preferences/MsgSelectCharacter.cs
  Content.Shared/Preferences/MsgUpdateCharacter.cs
  Content.Shared/Voting/MsgVoteCanCall.cs
  Content.Shared/Voting/MsgVoteData.cs
Labels: Needs Engine PR, Status: Needs Review

#10614 Emergency shuttle docking test
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/ShuttleTest.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Station/Components/StationDataComponent.cs
Labels: Status: Needs Review

#9382 Content-side changes for packaging.
  Content.IntegrationTests/Tests/ClickableTest.cs
  Content.Packaging/Content.Packaging.csproj
  Content.Packaging/ContentPackaging.cs
  Content.Packaging/Program.cs
  Content.Server/Acz/ContentMagicAczProvider.cs
  Content.Server/Content.Server.csproj
  Content.Server/Entry/EntryPoint.cs
  SpaceStation14.sln
Labels: Needs Engine PR, Status: Needs Review, Merge Conflict

#11235 Content changes for session specific entity states
  Content.Server/Actions/ActionsSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Vehicle/VehicleSystem.Rider.cs
  Content.Shared/Actions/ActionsComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Alert/AlertsComponent.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Flash/SharedFlashableComponent.cs
  Content.Shared/Shuttles/Components/PilotComponent.cs
  Content.Shared/Vehicle/Components/RiderComponent.cs
Labels: Needs Engine PR

#10986 Automatically TitleCase IC names
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: Priority: 3-Not Required, Size: Very Small, Status: Needs Review

#10358 Fix projectiles and vehicles
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Server/Weapon/Ranged/Systems/GunSystem.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
Labels: Status: Awaiting Changes, Merge Conflict

#11270 Add trash tags to some items
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#

#11217 Hide mob damage
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: No C#, Status: Needs Review

#11258 BwoinkSystem improvements
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
Labels: Status: Needs Review

#11145 Event-ify Rejuvenate
  Content.Server/Administration/Commands/RejuvenateCommand.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Atmos/Miasma/RottingComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Server/Nutrition/EntitySystems/HungerSystem.cs
  Content.Server/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Jittering/SharedJitteringSystem.cs
  Content.Shared/Rejuvenate/RejuvenateEvent.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
Labels: Status: Needs Review

#11075 Cleanup factions code
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/NPC/Commands/FactionCommand.cs
  Content.Server/NPC/Components/AiFactionPrototype.cs
  Content.Server/NPC/Components/AiFactionTagComponent.cs
  Content.Server/NPC/Components/FactionComponent.cs
  Content.Server/NPC/Components/FactionPrototype.cs
  Content.Server/NPC/FactionData.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/NPCCombatOperator.cs
  Content.Server/NPC/Systems/AiFactionTagSystem.cs
  Content.Server/NPC/Systems/FactionSystem.cs
  Resources/Locale/en-US/ai/commands/faction-command.ftl
  Resources/Locale/en-US/npc/medibot.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/ai_factions.yml
Labels: Status: Needs Review

#11277 UI refactor pieces
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/Changelog/ChangelogButton.cs
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/MainMenu/MainMenu.cs
  Content.Client/Options/EscapeMenuOwner.cs
  Content.Client/Options/UI/EscapeMenu.xaml
  Content.Client/Options/UI/EscapeMenu.xaml.cs
  Content.Client/Options/UI/OptionsMenu.xaml.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Client/UserInterface/Systems/DecalPlacer/DecalPlacerUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/ChangelogUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/OptionsUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/SandboxUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/Windows/SandboxWindow.xaml
  Content.Client/UserInterface/Systems/Sandbox/Windows/SandboxWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#11281 Named new Saltern cameras
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#11273 Command perm modifications
  Content.Server/Administration/Commands/AddBodyPartCommand.cs
  Content.Server/Administration/Commands/AddEntityStorageCommand.cs
  Content.Server/Administration/Commands/AddMechanismCommand.cs
  Content.Server/Administration/Commands/AddReagent.cs
  Content.Server/Administration/Commands/DeleteComponent.cs
  Content.Server/Administration/Commands/DeleteEntitiesWithComponent.cs
  Content.Server/Administration/Commands/RemoveBodyPartCommand.cs
  Content.Server/Administration/Commands/RemoveEntityStorageCommand.cs
  Content.Server/Administration/Commands/RemoveMechanismCommand.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Power/SetBatteryPercentCommand.cs
  Content.Server/Roles/AddRoleCommand.cs
  Content.Server/Roles/ListRolesCommand.cs
  Content.Server/Roles/RemoveRoleCommand.cs
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Shared/Administration/AdminFlags.cs
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#9374 Add Context Menu to Bwoink Window
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/UI/StorageWindow.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/EntityListDisplay.cs
  Content.Client/UserInterface/Controls/ListContainer.cs
  Content.Tests/Client/UserInterface/Controls/ListContainerTest.cs
Labels: Needs Engine PR, Changes: UI, Status: Needs Review

#11274 Nukie and pirate outfit spawning fixes
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
Labels: Status: Needs Review

#11207 Rework the ChemMaster's output handling
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/Components/ChemMasterComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/Components/FitsInDispenserComponent.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Resources/Locale/en-US/chemistry/components/chem-master-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Changes: UI, Status: Needs Review

#11275 Load prototype command
  Content.Client/Administration/Commands/LoadPrototypeCommand.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Resources/clientCommandPerms.yml
Labels: Changes: UI, Status: Needs Review

#11287 More minor UI refactor stuff
  Content.Client/Administration/Systems/AdminSystem.Menu.cs
  Content.Client/Administration/Systems/AdminSystem.Overlay.cs
  Content.Client/Administration/Systems/BwoinkSystem.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
  Content.Client/CharacterInfo/Components/CharacterInfoComponent.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Suspicion/SuspicionGui.xaml
  Content.Client/Suspicion/SuspicionGui.xaml.cs
  Content.Client/UserInterface/Controls/Placeholder.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Prototypes/themes.yml
Labels: Changes: UI, Status: Needs Review

#11288 Stop ChemMasterSystem from spewing pills onto the ground
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
Labels: Status: Needs Review

#11290 Fix ChemMaster labelling behavior
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Labels/Label/HandLabelerSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
Labels: Status: Needs Review

#11298 Add 2 bottle boxes to chemistry lockers
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Textures/Objects/Storage/boxes.rsi/bottle.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites

#11295 Adds another check in the Nukeops system
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#10196 Beam Component and Lightning Component
  Content.Client/Beam/BeamSystem.cs
  Content.Client/Beam/Components/BeamComponent.cs
  Content.Client/Lightning/Components/LightningComponent.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/Beam/BeamSystem.cs
  Content.Server/Beam/Components/BeamComponent.cs
  Content.Server/Lightning/Components/LightningComponent.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Shared/Beam/Components/SharedBeamComponent.cs
  Content.Shared/Beam/SharedBeamSystem.cs
  Content.Shared/Lightning/Components/SharedLightningComponent.cs
  Content.Shared/Lightning/SharedLightningSystem.cs
  Resources/Audio/Effects/Lightning/licenses.txt
  Resources/Audio/Effects/Lightning/lightningshock.ogg
  Resources/Prototypes/Entities/Effects/lightning.yml
  Resources/Prototypes/Entities/Virtual/beam.yml
  Resources/Textures/Effects/lightning.rsi/blue_lightning.png
  Resources/Textures/Effects/lightning.rsi/lightning_1.png
  Resources/Textures/Effects/lightning.rsi/lightning_10.png
  Resources/Textures/Effects/lightning.rsi/lightning_11.png
  Resources/Textures/Effects/lightning.rsi/lightning_12.png
  Resources/Textures/Effects/lightning.rsi/lightning_2.png
  Resources/Textures/Effects/lightning.rsi/lightning_3.png
  Resources/Textures/Effects/lightning.rsi/lightning_4.png
  Resources/Textures/Effects/lightning.rsi/lightning_5.png
  Resources/Textures/Effects/lightning.rsi/lightning_6.png
  Resources/Textures/Effects/lightning.rsi/lightning_7.png
  Resources/Textures/Effects/lightning.rsi/lightning_8.png
  Resources/Textures/Effects/lightning.rsi/lightning_9.png
  Resources/Textures/Effects/lightning.rsi/meta.json
  Resources/Textures/Effects/lightning.rsi/red_lightning.png
  Resources/Textures/Effects/lightning.rsi/yellow_lightning.png
Labels: Changes: Sprites, Status: Needs Review

#11324 Add lathe recipe for glass chemistry bottle
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: No C#

#11272 Fix admin ObjectsTab error
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
Labels: Changes: UI, Status: Needs Review
