Repository space-wizards/space-station-14, pull requests merged in 2022-10, with the labels that each got.

#11630 Add airtight component to diagonal shuttle walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#11391 Clear and reregister devices for atmos alarms
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosDeviceNetwork.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Monitor/Systems/FireAlarmSystem.cs
  Content.Shared/DeviceNetwork/Systems/SharedDeviceListSystem.cs
Labels: Status: Needs Review

#11645 Fix lemon's juice
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#

#11664 feat: Ports the Tomb of the Unknown Employee
  Resources/Maps/centcomm.yml
  Resources/Prototypes/Entities/Structures/Furniture/memorial.yml
  Resources/Textures/Structures/Furniture/Memorials/generic_memorial.rsi/memorial.png
  Resources/Textures/Structures/Furniture/Memorials/generic_memorial.rsi/meta.json
  Resources/Textures/Structures/Furniture/Memorials/ss13_memorial.rsi/memorial.png
  Resources/Textures/Structures/Furniture/Memorials/ss13_memorial.rsi/meta.json
Labels: No C#, Changes: Map, Changes: Sprites

#11671 packed qm
  Resources/Prototypes/Maps/packedstation.yml
Labels: No C#, Changes: Map, Status: Needs Review

#11570 Add dependency collection to serialization writes
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.Server/NPC/HTN/HTNTaskListSerializer.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
Labels: Status: Needs Review

#11584 Fuck da rules
  Content.Client/Info/RulesManager.cs
  Content.Client/Info/RulesPopup.xaml.cs
Labels: Changes: UI

#11646 Butchered objects use MapPosition for spawning, spawn with small offsets. Objects cannot be butchered inside containers.
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
Labels: Status: Needs Review

#11418 ReagentDispenser ECS
  Content.Client/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Client/Chemistry/UI/ChemMasterBoundUserInterface.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.ReagentDispenser.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Shared/Chemistry/Dispenser/SharedReagentDispenserComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedReagentDispenserSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
Labels: Changes: UI, Status: Needs Review

#11677 Internals improvements
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#11652 Combat boots, but cool.
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/meta.json
Labels: No C#, Changes: Sprites

#11667 Reduces the density of the nuclear bomb
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: No C#

#11624 Close context menu on entering combat mode
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/Verbs/UI/VerbMenuPresenter.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
Labels: Status: Needs Review

#11638 Voice mask fixes
  Content.Server/Clothing/MaskSystem.cs
  Content.Server/Headset/HeadsetComponent.cs
Labels: Status: Needs Review

#11685 Can't butcher objects inside containers. (this time, the pr contains the code 🙃)
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
Labels: Status: Needs Review

#11537 Permit ReagentEffect PopupMessage to access the solutionEntity it occurs in.
  Content.Server/Chemistry/ReagentEffects/PopupMessage.cs
Labels: Status: Needs Review

#11561 pillar minor decoration update
  Resources/Maps/pillar.yml
Labels: No C#, Changes: Map

#11551 Biomass Reclaimer cleanup
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Status: Needs Review

#11481 New sprites for pirate and deckard revolvers
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/deckard.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/pirate_revolver.rsi/meta.json
Labels: No C#, Changes: Sprites

#11469 Set solution for tranquilizer rounds
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: No C#

#11577 Add all job timers localization strings
  Resources/Locale/en-US/job/job-names.ftl
Labels: No C#, Status: Needs Review

#11576 Fix a few warnings
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Audio/ClientGlobalSoundSystem.cs
  Content.Client/Cargo/BUI/CargoShuttleConsoleBoundUserInterface.cs
  Content.Client/CharacterInfo/Components/CharacterInfoComponent.cs
  Content.Client/CharacterInfo/Components/CharacterInfoSystem.cs
  Content.Client/Chat/UI/ChatBox.xaml.cs
  Content.Client/Stack/StackSystem.cs
  Content.Client/Suspicion/SuspicionGui.xaml.cs
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Client/Verbs/UI/VerbMenuElement.cs
  Content.Client/Voting/VoteManager.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Blocking/BlockingUserSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Construction/Conditions/WallmountCondition.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Disease/DiseasePrototype.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.Crit.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.Dead.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.Norm.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Storage/EntitySystems/SharedItemMapperSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.BasicEntity.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Magazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Whitelist/EntityWhitelist.cs
Labels: Changes: UI, Status: Needs Review

#11474 Fix gamemap name casing
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.Server/Station/Components/StationDataComponent.cs
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/centcomm.yml
  Resources/Prototypes/Maps/infiltrator.yml
  Resources/Prototypes/Maps/lighthouse.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/pirate.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/salvage.yml
  Resources/Prototypes/Maps/test.yml
  Resources/Prototypes/shuttles.yml
Labels: Changes: Map, Status: Needs Review

#11691 de-capitalize revenant names
  Resources/Prototypes/Datasets/Names/revenant.yml
Labels: No C#

#11099 Shuttle impact sounds
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Resources/Audio/Effects/Shuttle/shuttle_impact1.ogg
  Resources/Audio/Effects/Shuttle/shuttle_impact2.ogg
  Resources/Audio/Effects/Shuttle/shuttle_impact3.ogg
  Resources/Prototypes/SoundCollections/shuttle.yml
Labels: Needs Engine PR, Merge Conflict

#11649 biomass reclaimer suicide
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Resources/Locale/en-US/medical/components/biomass-reclaimer-component.ftl
Labels: Status: Needs Review

#11642 Replace StayAliveObjective with EscapeShuttleObjective.
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/Objectives/Conditions/StayAliveCondition.cs
  Resources/Locale/en-US/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/en-US/objectives/conditions/stay-alive-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#11712 Add boxer locale
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
Labels: No C#, Status: Needs Review

#11716 Fixing UI bugs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsWindow.xaml
  Content.Client/Administration/UI/Notes/AdminNotesControl.xaml
  Content.Client/Administration/UI/Notes/AdminNotesWindow.xaml
  Content.Client/Changelog/ChangelogWindow.xaml
Labels: Changes: UI, No C#, Status: Needs Review

#11711 Removed a weird offset in closed_toilet_seat_up.png
  Resources/Textures/Structures/Furniture/toilet.rsi/closed_toilet_seat_up.png
Labels: No C#, Changes: Sprites

#11701 Watermelon flavor
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
Labels: No C#, Status: Needs Review

#11660 Use nearest edge for interaction range
  Content.IntegrationTests/Tests/Interaction/InRangeUnobstructed.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#11722 Fix drinks locale
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: No C#, Status: Needs Review

#11749 Fix space bears
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
Labels: No C#

#11748 Bandaid fixtureless buttons
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#11750 Updated Central Command
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#11756 Fixes singulo bouncing
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: No C#

#11721 Unhardcode glass locale postfix
  Content.Server/Chemistry/EntitySystems/TransformableContainerSystem.cs
  Resources/Locale/en-US/chemistry/components/transformable-container-component.ftl
Labels: Status: Needs Review

#11754 Make boxer job name in lowercase
  Resources/Locale/en-US/job/job-names.ftl
Labels: No C#, Status: Needs Review

#11559 adds a source uid to most damage & mobstate events
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Damage/Systems/DamageOnToolInteractSystem.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
  Content.Server/Electrocution/Components/ElectrocutionComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Blocking/BlockingUserSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/MobState/EntitySystems/SharedMobStateSystem.cs
  Content.Shared/MobState/MobStateChangedEvent.cs
Labels: Status: Needs Review

#11611 Removes prototype construction steps (I HATE PROTOTYPE STEPS)
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.Shared/Construction/Steps/ConstructionGraphStepTypeSerializer.cs
  Content.Shared/Construction/Steps/PrototypeConstructionGraphStep.cs
  Content.Shared/Construction/Steps/TagConstructionGraphStep.cs
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/slime.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Power/solar_parts.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/ritualseat.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shutter.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shuttle.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_alarms.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_machines.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/solarpanel.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_telemonitors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/modular_mine.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/spear.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/cleanbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/honkbot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/medibot.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#11766 whitelist and blacklist support for inventory slots
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
Labels: Status: Needs Review

#11531 Remove references to obsolete GridId
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Coordinates/Helpers/SnapgridHelper.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/RCD/Systems/RCDSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Needs Engine PR, Status: Needs Review

#11708 Unify melee ranges
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review

#11753 Antique laser gun is now size 25
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: No C#

#11785 Kettle Fixes
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#11783 Add selecting maps to render when running MapRenderer, fix rendering multiple maps
  Content.MapRenderer/MapViewerData.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.MapRenderer/Program.cs
Labels: Status: Needs Review

#11412 Changelog fixes
  Resources/Changelog/Changelog.yml
Labels: No C#

#11776 Fix CrateEngineeringToolbox prototype
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
Labels: No C#

#11790 Revert "Remove references to obsolete GridId"
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Coordinates/Helpers/SnapgridHelper.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/RCD/Systems/RCDSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Status: Needs Review

#11798 fix material storage popup
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/machine/machine.ftl
Labels: Status: Needs Review

#11779 machine deconstruct test
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Resources/Prototypes/Entities/Structures/Machines/Medical/disease_diagnoser.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
Labels: Status: Needs Review

#11775 new social traitor objective + fix targeting for other traitor alive
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
  Resources/Locale/en-US/objectives/conditions/other-traitor-progress-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#11755 Use frezon gas locale string
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#, Status: Needs Review

#11743 make all salvage maps have high yield ore
  Resources/Maps/Salvage/asteroid-base.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/medium-library.yml
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
  Resources/Maps/Salvage/small-a-1.yml
  Resources/Maps/Salvage/tick-colony.yml
  Resources/Maps/Salvage/wh-salvage.yml
Labels: No C#

#11723 Resolve department locale in crew manifest
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
Labels: Changes: UI

#11724 Localize secret stash part names
  Content.Server/Storage/Components/SecretStashComponent.cs
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
  Resources/Locale/en-US/storage/components/secret-stash-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: Status: Needs Review

#11699 Make capsaicin oil spicy
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
Labels: No C#, Status: Needs Review

#11665 Gives all nuclear bombs unique codes
  Content.Server/Nuke/Commands/SendNukeCodesCommand.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/Nuke/NukeCodeSystem.cs
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeLabelComponent.cs
  Content.Server/Nuke/NukeLabelSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/nuke.yml
Labels: Status: Needs Review

#11578 scale reagent damage when under metabolism rate
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Chemistry/ReagentEffects/HealthChange.cs
  Content.Shared/Chemistry/Reaction/SharedChemicalReactionSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentEffect.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Status: Needs Review

#11631 Add delay to dumping mop bucket
  Content.Server/Fluids/Components/SpillableComponent.cs
  Content.Server/Fluids/EntitySystems/SpillableSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Status: Needs Review

#11697 Add a crafting recipe for the muzzle
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/muzzle.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Labels: No C#, Status: Needs Review

#11484 Fix exception with miasma system
  Content.Server/Atmos/Miasma/MiasmaSystem.cs
Labels: Status: Needs Review

#11729 Add mountain wall recolor of asteroid rock for mappers.
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
  Resources/Textures/Structures/Walls/mountain_rock.rsi/full.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/meta.json
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_0.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_1.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_2.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_3.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_4.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_5.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_6.png
  Resources/Textures/Structures/Walls/mountain_rock.rsi/rock_7.png
Labels: No C#, Changes: Sprites

#11810 Change SaveLoadMultiGridMap to use AssertMultiple()
  Content.IntegrationTests/Tests/SaveLoadMapTest.cs
Labels: Status: Needs Review

#11800 Fix entity spawn test
  Content.IntegrationTests/Tests/EntityTest.cs
Labels: Status: Needs Review

#11769 Fix firelock construction
  Resources/Prototypes/Entities/Objects/Devices/Electronics/firelock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/firelock.yml
Labels: No C#, Status: Needs Review

#11815 Fix centcomm
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#11833 Fix compat mode stealth shader
  Resources/Textures/Shaders/stealth.swsl
Labels: No C#

#10970 Radiation rework
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Radiation/Overlays/RadiationDebugOverlay.cs
  Content.Client/Radiation/Overlays/RadiationPulseOverlay.cs
  Content.Client/Radiation/Systems/RadiationSystem.cs
  Content.Server/Radiation/Components/RadiationBlockerComponent.cs
  Content.Server/Radiation/Components/RadiationGridResistanceComponent.cs
  Content.Server/Radiation/Components/RadiationReceiverComponent.cs
  Content.Server/Radiation/Systems/RadiationSystem.Blockers.cs
  Content.Server/Radiation/Systems/RadiationSystem.Cvar.cs
  Content.Server/Radiation/Systems/RadiationSystem.Debug.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Radiation/Systems/RadiationSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Radiation/Components/RadiationSourceComponent.cs
  Content.Shared/Radiation/Events/OnRadiationOverlayUpdateEvent.cs
  Content.Shared/Radiation/RadiationRay.cs
  Content.Shared/Radiation/Systems/RadiationPulseSystem.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Resources/Locale/en-US/radiation/radiation-command.ftl
  Resources/Prototypes/Entities/Effects/radiation.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  SpaceStation14.sln.DotSettings
Labels: Status: Needs Review

#11848 Kettle Changes
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#11855 hotfix benchmarks
  .github/workflows/benchmarks.yml
Labels: No C#

#11853 Add National Coming Out Day as a holiday
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/holidays.yml
Labels: No C#, Status: Needs Review

#11863 Add changelog for hud refactor
  Resources/Changelog/Parts/hudrefactor.yml
Labels: No C#

#11871 Fix prediction and popups for actions
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
Labels: Status: Needs Review

#11859 Add null-eye warnings.
  Content.Client/Gameplay/GameplayState.cs
Labels: Merge Conflict

#11897 Fix actions not showing the provider and not showing anything when dragging actions without icons
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
Labels: Status: Needs Review

#11903 Fix slot interactions (again)
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
Labels: Status: Needs Review

#11906 Reinforced walls harder to break
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#11910 Fix Gib() enumeration exception
  Content.Shared/Body/Components/SharedBodyPartComponent.cs
Labels: Status: Needs Review

#11911 Add PVS debug command permissions
  Resources/clientCommandPerms.yml
Labels: No C#, Status: Needs Review

#11898 Movable Filing Cabinets
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: No C#

#11923 Raise power events by ref and not broadcast
  Content.Server/AME/AntimatterEngineSystem.cs
  Content.Server/Advertise/AdvertiseSystem.cs
  Content.Server/Arcade/ArcadeSystem.BlockGame.cs
  Content.Server/Arcade/ArcadeSystem.SpaceVillain.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Atmos/Portable/PortableScrubberSystem.cs
  Content.Server/Audio/AmbientSoundSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Construction/ConstructionSystem.Computer.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Light/EntitySystems/EmergencyLightSystem.cs
  Content.Server/Light/EntitySystems/LitOnPoweredSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.ControlBox.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.PowerBox.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraRouterSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/Wires/WiresSystem.cs
Labels: Status: Needs Review

#11857 Nocturine effect change
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#, Status: Needs Review

#11919 Over-ear headsets for CE, RD and QM
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/cargo.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/engineering.rsi/meta.json
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/science.rsi/meta.json
Labels: No C#, Changes: Sprites

#11843 Fix CanDisarm
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/CombatMode/SharedCombatModeComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#11809 Misc stealth and box changes
  Content.Client/ContextMenu/UI/EntityMenuPresenter.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Stealth/StealthSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/CardboardBox/CardboardBoxSystem.cs
  Content.Shared/CardboardBox/Components/CardboardBoxComponent.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Examine/ExaminerComponent.cs
  Content.Shared/Stealth/Components/StealthComponent.cs
  Content.Shared/Stealth/SharedStealthSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: Status: Needs Review

#11838 Localize alerts
  Content.Shared/Alert/AlertPrototype.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
Labels: Status: Needs Review

#11916 Localize diseases
  Content.Shared/Disease/DiseasePrototype.cs
  Resources/Locale/en-US/disease/disease-proto.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Diseases/zombie.yml
Labels: Status: Needs Review

#11928 kettle fixes
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#9768 Improve stripping UI
  Content.Client/Cuffs/Components/CuffableComponent.cs
  Content.Client/Ensnaring/EnsnareableSystem.cs
  Content.Client/Ensnaring/Visualizers/EnsnareableVisualizerComponent.cs
  Content.Client/Ensnaring/Visualizers/EnsnareableVisualizerSystem.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Client/Strip/StrippableSystem.cs
  Content.Client/Strip/StrippingMenu.cs
  Content.Client/UserInterface/Controls/SlotControl.cs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Ensnaring/EnsnareableSystem.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Hands/Systems/HandVirtualItemSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Cuffs/Components/SharedCuffableComponent.cs
  Content.Shared/Ensnaring/Components/SharedEnsnareableComponent.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Content.Shared/Strip/Components/SharedStrippableComponent.cs
  Content.Shared/Strip/Components/SharedStrippingComponent.cs
  Resources/Locale/en-US/strip/strippable-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Virtual/stripping_hidden.yml
  Resources/Prototypes/InventoryTemplates/drone_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Labels: Status: Needs Review

#11935 Fix ghost inventory not updating
  Content.Client/Inventory/ClientInventorySystem.cs
Labels: Status: Needs Review

#11734 Unhardcode some logic related to objects with battery slots. Minor fix to fire helmets.
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/PowerCell/Components/PowerCellSlotComponent.cs
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Resources/Locale/en-US/power-cell/components/power-cell-slot-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
Labels: Status: Needs Review

#11819 Localize MIDI menu
  Content.Client/Instruments/UI/InstrumentMenu.xaml
  Resources/Locale/en-US/instruments/instruments-component.ftl
Labels: Changes: UI, No C#, Status: Needs Review

#11814 Drill buff so they're worth mapping
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
Labels: No C#

#11932 Saltern map fix
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#11634 Add briefcase in hand & update setoutfit
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: Status: Needs Review

#11392 Ahelp / player list changes
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/Systems/AdminSystem.cs
  Content.Client/Administration/UI/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
Labels: Changes: UI, Status: Needs Review

#11520 Let species prototypes define valid sexes (Sex Refactor)
  Content.Client/Preferences/UI/HumanoidProfileEditor.Random.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/Speech/Components/VocalComponent.cs
  Content.Server/Speech/VocalSystem.cs
  Content.Shared/Humanoid/NamingSystem.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/Sex.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Species/slime.yml
Labels: Changes: UI, Status: Needs Review

#11479 Adds a meteor gun and rod gun for admeme use
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: No C#

#11940 Portable Light Balancing
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: No C#

#11669 Bad 2 Da Bone [Skeleton Tweaks]
  Content.Server/Mind/Components/TransferMindOnGibComponent.cs
  Content.Server/Mind/TransferMindOnGibSystem.cs
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Species/skeleton.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Vehicles/motorbike.rsi/keys.png
  Resources/Textures/Objects/Vehicles/motorbike.rsi/meta.json
  Resources/Textures/Objects/Vehicles/motorbike.rsi/vehicle.png
Labels: Changes: Sprites, Status: Needs Review

#11936 Fix aghost parenting issues.
  Content.Server/Administration/Commands/AGhost.cs
Labels: Status: Needs Review

#11931 Fix crew monitor for rotated eyes
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/UserInterface/Controls/DirectionIcon.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
Labels: Changes: UI

#11943 Cluster Station (real)
  Resources/Maps/cluster.yml
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: No C#, Changes: Map, Status: Needs Review

#11946 skeleton key fix
  Resources/Prototypes/Entities/Objects/Vehicles/keys.yml
Labels: No C#

#11944 Fix inventory containers
  Content.Client/Clothing/ClothingVisualsSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.IntegrationTests/Tests/DeleteInventoryTest.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Inventory/InventorySystem.cs
Labels: Status: Needs Review

#11953 monkeys can wield holoparasites
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#11407 Plant genetics
  Content.Server/Botany/Components/BotanySwabComponent.cs
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
  Content.Server/Chemistry/ReagentEffects/PlantMetabolism/RobustHarvest.cs
  Resources/Locale/en-US/botany/components/seed-extractor-component.ftl
  Resources/Locale/en-US/disease/swab.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/disease.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: Status: Needs Review

#11952 Adds logging to stripping and construction starting
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#11454 Air alarm mode sent to all linked air alarms from a single air alarm
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/WireActions/AirAlarmPanicWire.cs
Labels: Status: Needs Review

#11907 Cleanup for ChargerComponent
  Content.Server/Power/Components/ActiveChargerComponent.cs
  Content.Server/Power/Components/ChargerComponent.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: Status: Needs Review

#11965 Fix a bunch of warnings
  Content.Client/Atmos/Components/PipeColorVisualsComponent.cs
  Content.Client/Commands/DebugCommands.cs
  Content.Client/HealthOverlay/UI/HealthOverlayGui.cs
  Content.Client/IdentityManagement/IdentitySystem.cs
  Content.Client/Info/InfoSystem.cs
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Client/Info/RulesControl.xaml.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Pinpointer/ClientPinpointerSystem.cs
  Content.Client/Preferences/ClientPreferencesManager.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Toilet/ToiletSystem.cs
  Content.Server/UserInterface/IntrinsicUISystem.cs
  Content.Server/Vehicle/VehicleSystem.Rider.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: UI, Status: Needs Review

#11968 Fix even more warnings
  Content.Server/AME/Components/AMEControllerComponent.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Alert/Click/BreakVow.cs
  Content.Server/Alert/Click/ResistFire.cs
  Content.Server/Alert/Click/RetakeVow.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Alert/Click/StopPiloting.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Light/SharedHandheldLightSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Pushing.cs
  Content.Shared/Paper/StampComponent.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
  Content.Shared/Revenant/EntitySystems/SharedCorporealSystem.cs
  Content.Shared/Singularity/SharedSingularitySystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Spawning/EntitySystemExtensions.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Storage/EntitySystems/SharedItemCounterSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
Labels: Status: Needs Review

#11970 Add some atmos logs for debugging
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
Labels: Status: Needs Review

#11961 Update construction exception logging
  Content.Server/Construction/ConstructionSystem.Graph.cs
Labels: Status: Needs Review

#11772 Move board spawning out of DoorSystem
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Containers/ContainerFillComponent.cs
  Content.Server/Containers/ContainerFillSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/firelock.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Status: Needs Review

#11817 Add test to assert specific maps are grids
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Status: Needs Review

#11640 Surveillance camera listening/speaking
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraMicrophoneComponent.cs
  Content.Server/SurveillanceCamera/Components/SurveillanceCameraSpeakerComponent.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSpeakerSystem.cs
  Resources/Locale/en-US/surveillance-camera/surveillance-camera-speaker.ftl
  Resources/Locale/en-US/surveillance-camera/surveillance-camera-ui.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
Labels: Status: Needs Review

#11449 Add voice trigger for modular grenades
  Content.Server/Explosion/Components/TriggerOnVoiceComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Resources/Locale/en-US/weapons/grenades/voice-trigger.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/triggers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Textures/Objects/Devices/voice.rsi/meta.json
  Resources/Textures/Objects/Devices/voice.rsi/voice.png
Labels: Changes: Sprites, Status: Needs Review

#11955 Cluster optimizations
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#11954 Spare headsets for the HoP
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Textures/Objects/Storage/boxes.rsi/headset.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites

#11975 fix several machines having lit screens when unpowered
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Entities/Structures/Machines/seed_extractor.yml
Labels: No C#

#11462 Pools admin log lists
  Content.Server/Administration/Logs/AdminLogManager.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Content.Server/Administration/Logs/IAdminLogManager.cs
Labels: Status: Needs Review

#11985 Airlock bolt and deconstruction fixes
  Content.Client/Doors/AirlockComponent.cs
  Content.Server/Construction/Conditions/AllWiresCut.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
Labels: Status: Needs Review

#11771 fix preview dummy bug
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, Status: Needs Review

#11473 Add test for latejoin spawns
  Content.IntegrationTests/Tests/PostMapInitTest.cs
Labels: Status: Needs Review

#11885 Lag compensation for melee
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Movement/Components/ActiveLagCompensationComponent.cs
  Content.Server/Movement/Components/LagCompensationComponent.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#11416 Ambience no longer plays in the lobby
  Content.Client/Audio/BackgroundAudioSystem.cs
Labels: Status: Needs Review

#11993 Add vvread, vvwrite and vvinvoke to engine command perms.
  Resources/engineCommandPerms.yml
Labels: No C#, Status: Needs Review

#12000 No UI Autoclose for books, handheld crew monitor, health analyzer, papers, and PDA when swapping hands
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
Labels: No C#

#11913 Oldchat
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Controls/MainViewport.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/ScreenType.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Client/UserInterface/Systems/Alerts/AlertsUIController.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/UserInterface/Systems/Crafting/CraftingUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
  Content.Client/UserInterface/Systems/Hands/Controls/HandsContainer.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Client/UserInterface/Systems/Hotbar/HotbarUIController.cs
  Content.Client/UserInterface/Systems/Hotbar/Widgets/HotbarGui.xaml
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/GameTopMenuBarUIController.cs
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
  Content.Client/UserInterface/Systems/Sandbox/SandboxUIController.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Holy Shit, Status: Needs Review

#11990 Cluster Changes
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12007 Character setup in Lobby UI
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Client/Preferences/UI/CharacterSetupGui.xaml
  Content.Client/Preferences/UI/CharacterSetupGui.xaml.cs
Labels: Changes: UI

#12015 Fix chat sanitization and entity name escaping
  Content.Client/Chat/StoredChatMessage.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Ghost/Components/IntrinsicRadioComponent.cs
  Content.Server/Headset/HeadsetComponent.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
Labels: Changes: UI, Status: Needs Review

#12011 Kettle Update 1.3
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#12029 Predicts pulling
  Content.Server/Interaction/InteractionSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#11380 Slight localization func cleanup
  Content.Client/Administration/UI/Tabs/AdminTab/AdminShuttleWindow.xaml.cs
  Content.Server/Administration/Commands/ShuttleCommands.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Storage/Components/SecretStashComponent.cs
  Content.Shared/Entry/EntryPoint.cs
  Content.Shared/IoC/SharedContentIoC.cs
  Content.Shared/Localizations/ContentLocalizationManager.cs
  Resources/Locale/en-US/_lib.ftl
Labels: Changes: UI, Status: Needs Review

#11381 Use `CONJUGATE-BASIC` for bloodstream loc
  Resources/Locale/en-US/bloodstream/bloodstream.ftl
Labels: No C#, Status: Needs Review

#11362 Extended rework & ramping event scheduler
  Content.Server/StationEvents/BasicStationEventSchedulerSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/StationEvents/Events/BureaucraticError.cs
  Content.Server/StationEvents/Events/GasLeak.cs
  Content.Server/StationEvents/Events/MeteorSwarm.cs
  Content.Server/StationEvents/Events/MouseMigration.cs
  Content.Server/StationEvents/Events/RandomSentience.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/StationEvents/Events/VentClog.cs
  Content.Server/StationEvents/Events/VentCritters.cs
  Content.Server/StationEvents/RampingStationEventSchedulerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-extended.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-survival.ftl
  Resources/Locale/en-US/station-events/station-event-system.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/round_announcements.yml
  Resources/Prototypes/secret_weights.yml
Labels: Status: Needs Review

#12046 Misc action fixes
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Locale/en-US/actions/actions/dragon.ftl
Labels: Status: Needs Review

#11768 FlashLightVisualizer refactor + low power handheld light light radius fix
  Content.Client/Light/Components/LightBehaviourComponent.cs
  Content.Client/Light/HandheldLightSystem.cs
  Content.Client/Light/LanternVisualizer.cs
  Content.Client/Light/Visualizers/FlashLightVisualizer.cs
  Content.Server/Light/EntitySystems/HandheldLightSystem.cs
  Content.Shared/Light/Component/HandheldLightComponent.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
Labels: Needs Engine Update

#12062 Adjust case of shuttle parts
  Resources/Locale/en-US/prototypes/entities/structures/shuttles/thrusters.ftl
Labels: No C#, Status: Needs Review

#11468 Mining Tweaks
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/Mining/Components/OreVeinComponent.cs
  Content.Server/Mining/MiningSystem.cs
  Content.Shared/Mining/OrePrototype.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/LootTables/mining_loot_table.yml
  Resources/Prototypes/ore.yml
Labels: Status: Needs Review

#12013 Fix wallmount interactions
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#12072 Fix admin freeze attacks
  Content.Shared/Administration/AdminFrozenSystem.cs
Labels: Status: Needs Review

#12083 Cluster update 3
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12118 Fix #12075
  Content.Client/Entry/EntryPoint.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Shared/Entry/EntryPoint.cs
Labels: Status: Needs Review

#12040 Clarify some item descriptions in the uplink menu
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#12125 Replace the floor tiles for realsies this time.
  Resources/Textures/Tiles/bar.png
  Resources/Textures/Tiles/blue.png
  Resources/Textures/Tiles/clown.png
  Resources/Textures/Tiles/dark.png
  Resources/Textures/Tiles/hydro.png
  Resources/Textures/Tiles/kitchen.png
  Resources/Textures/Tiles/laundry.png
  Resources/Textures/Tiles/mime.png
  Resources/Textures/Tiles/steel.png
  Resources/Textures/Tiles/steel_dirty.png
  Resources/Textures/Tiles/tile-reference-sheet.png
  Resources/Textures/Tiles/white.png
Labels: No C#
