Repository space-wizards/space-station-14, pull requests merged in 2023-04, with the labels that each got.

#15031 Moony z level hack
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Client/Viewport/ScalingViewport.cs
  Content.Client/zlevels/ZViewSystem.cs
  Content.Server/zlevels/ThirdDimension/LadderComponent.cs
  Content.Server/zlevels/ThirdDimension/LadderSystem.cs
  Content.Server/zlevels/ThirdDimension/ZViewSystem.cs
  Content.Shared/zlevels/ThirdDimension/SharedZLevelSystem.cs
  Content.Shared/zlevels/ThirdDimension/ZViewComponent.cs
  Content.Shared/zlevels/ThirdDimension/ZViewSystem.cs
  Resources/Prototypes/Entities/Structures/ladder.yml
  Resources/Textures/Structures/ladder.rsi/bottom.png
  Resources/Textures/Structures/ladder.rsi/icon.png
  Resources/Textures/Structures/ladder.rsi/meta.json
  Resources/Textures/Structures/ladder.rsi/meta.json.bak
  Resources/Textures/Structures/ladder.rsi/middle.png
  Resources/Textures/Structures/ladder.rsi/top.png
Labels: Changes: Sprites

#14489 Wrenchable Chairs and Plants
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#, Status: Awaiting Changes

#15041 Fix lobby votes
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/UserInterface/Systems/Vote/VoteUIController.cs
Labels: Changes: UI

#3939 Surgery
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Medical/Surgery/SurgeryRealmSystem.cs
  Content.Client/UserInterface/Systems/Surgery/SelfRequestWindow.xaml
  Content.Client/UserInterface/Systems/Surgery/SelfRequestWindow.xaml.cs
  Content.Client/UserInterface/Systems/Surgery/SurgeryRealmOverlay.cs
  Content.Client/UserInterface/Systems/Surgery/SurgeryRealmUIController.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Server/Medical/Surgery/SansCommand.cs
  Content.Server/Medical/Surgery/SurgeryRealmAntiProjectileComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmCameraComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmEdgeComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmLightningComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmMusic.cs
  Content.Server/Medical/Surgery/SurgeryRealmOrangeProjectileComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmProjectileComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmSystem.cs
  Content.Server/Medical/Surgery/SurgeryRealmToolComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmToolDuelComponent.cs
  Content.Server/Medical/Surgery/SurgeryRealmVictimComponent.cs
  Content.Shared/Medical/Surgery/SharedSurgeryRealmSystem.cs
  Content.Shared/Medical/Surgery/SurgeryRealmHeartComponent.cs
  Content.Shared/Medical/Surgery/SurgeryRealmSlidingComponent.cs
  Content.Shared/Medical/Surgery/SurgeryRealmStartEvent.cs
  Resources/Audio/Surgery/blast.ogg
  Resources/Audio/Surgery/megalovania.ogg
  Resources/Audio/Surgery/midilovania.mid
  Resources/Audio/Surgery/undermale.ogg
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Surgery/surgery_realm.yml
  Resources/Textures/Surgery/clown.rsi/down.png
  Resources/Textures/Surgery/clown.rsi/meta.json
  Resources/Textures/Surgery/edge.rsi/full.png
  Resources/Textures/Surgery/edge.rsi/meta.json
  Resources/Textures/Surgery/heart.rsi/heart.png
  Resources/Textures/Surgery/heart.rsi/meta.json
  Resources/Textures/Surgery/projectiles.rsi/banana.png
  Resources/Textures/Surgery/projectiles.rsi/banana_blue.png
  Resources/Textures/Surgery/projectiles.rsi/banana_orange.png
  Resources/Textures/Surgery/projectiles.rsi/meta.json
  Resources/Textures/Surgery/projectiles.rsi/pda.png
Labels: Changes: UI, Issue: Needs Refactor, Changes: Map, Status: Derelict, Changes: Sprites, Status: Needs Review, Merge Conflict

#14999 Chat Filter (April Fools)
  Content.Server/Speech/Components/ChatFilterAccentComponent.cs
  Content.Server/Speech/EntitySystems/ChatFilterAccentSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review, April Fools (merge for one day)

#15059 Bagel Bells
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#15062 Marathon Bells
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#15063 Omega Bells Stuff
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#15064 Meta Bells and Stuff
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#14029 Make energy sword reflect projectiles and hitscan shots
  Content.Client/Weapons/Reflect/ReflectSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Projectiles/SharedProjectileSystem.cs
  Content.Server/Weapons/Melee/EnergySword/Components/EnergySwordComponent.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordComponent.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Reflect/ReflectSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Ranged/Events/HitScanReflectAttempt.cs
  Content.Shared/Weapons/Reflect/ReflectComponent.cs
  Content.Shared/Weapons/Reflect/SharedReflectSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/weapons/reflect/reflect-component.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Status: Needs Review

#15073 Unmetagameate thieving gloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#15057 Changes the SingularitySystem to use generic visualizers
  Content.Client/Singularity/Systems/SingularitySystem.cs
  Content.Shared/Singularity/Components/SingularityComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
  Content.Shared/Singularity/SingularityVisualKeys.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Status: Needs Review

#15056 Fix plastic wall deconstruction graph
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: No C#

#15078 Allow ghosts to hear radio message globally
  Content.Server/Radio/Components/ActiveRadioComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Status: Needs Review

#15079 Re Enable Dwarves
  Resources/Prototypes/Species/dwarf.yml
Labels: No C#

#15077 GDPR helper scripts stuff
  Tools/dump_user_data.py
  Tools/erase_user_data.py
Labels: No C#

#14939 Hunger ECS
  Content.Client/Nutrition/Components/HungerComponent.cs
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Server/Animals/Systems/UdderSystem.cs
  Content.Server/Chemistry/ReagentEffects/SatiateHunger.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Nutrition/Components/HungerComponent.cs
  Content.Server/Nutrition/EntitySystems/HungerSystem.cs
  Content.Server/Nutrition/Hungry.cs
  Content.Server/RatKing/RatKingSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/Components/SharedHungerComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedHungerSystem.cs
Labels: Status: Needs Review

#15072 [Cargo crate] Crate for theatrical performances
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
Labels: No C#

#13644 Add keybindings for removing a word at a time
  Resources/keybinds.yml
Labels: Needs Engine PR, No C#

#15082 Dwarf minor content
  Content.Server/Speech/Components/DwarfAccentComponent.cs
  Content.Server/Speech/EntitySystems/DwarfAccentSystem.cs
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Status: Needs Review

#15084 Fix MovespeedModifierMetabolism state handling
  Content.Shared/Chemistry/Components/MovespeedModifierMetabolismComponent.cs
  Content.Shared/Chemistry/MetabolismMovespeedModifierSystem.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
Labels: Status: Needs Review

#14814 The bleed update
  Content.Server/Body/Components/BloodstreamComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Medical/HealingSystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Reagents/elements.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bloodpack.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#15091 Adds holobarrier projector to warden and HOS lockers
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Textures/Objects/Devices/Holoprojectors/security.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/security.rsi/meta.json
  Resources/Textures/Structures/Holo/security.rsi/icon.png
  Resources/Textures/Structures/Holo/security.rsi/meta.json
Labels: No C#, Changes: Sprites

#15042 Scientific beret
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_rnd.rsi/meta.json
Labels: No C#, Changes: Sprites

#15025 [Clothing] watermelon helmet
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Clothing/Head/Hats/melon.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/melon.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/melon.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/melon.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/melon.rsi/meta.json
Labels: No C#, Changes: Sprites

#15020 Add hyphen blood-red hardsuit
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#15019 High-capacity welding fuel tank
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Textures/Structures/Storage/tanks.rsi/highfueltank.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#15021 [Access] Fire axe cabinet
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: No C#

#15051 [Drink] Robust nukie drink
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/Objects/Consumable/Drinks/robustnukie.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/robustnukie.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/robustnukie.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/robustnukie.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/robustnukie.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#15095 new bloodpack sprite
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bloodpack.png
Labels: No C#, Changes: Sprites

#15093 Changelog fix for bleed update
  Resources/Changelog/Changelog.yml
Labels: No C#

#15007 Don't re-close closed doors
  Content.Server/Shuttles/Systems/DockingSystem.AutoDock.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#15114 Fix getting extremely drunk causing every blood vessel in your body to rupture
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
Labels: No C#, Bug of the Year 2023 Candidate

#15116 modify base sec job playtime requirements
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#15086 Word replacement accent system
  Content.Server/Speech/Components/DwarfAccentComponent.cs
  Content.Server/Speech/Components/ReplacementAccentComponent.cs
  Content.Server/Speech/EntitySystems/DwarfAccentSystem.cs
  Content.Server/Speech/EntitySystems/MobsterAccentSystem.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Resources/Locale/en-US/accent/dwarf.ftl
  Resources/Locale/en-US/accent/mobster.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/keybinds.yml
Labels: Status: Needs Review

#15125 Tiny poster tweaks
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster27_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster5_contraband.png
Labels: No C#, Changes: Sprites

#15144 DoAfter & misc interaction fixes
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
Labels: Status: Needs Review

#15148 rat servant nerf
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#

#15107 More Musical Cargo
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: No C#, Status: Needs Review

#15149 Double PKA damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#15157 made security's deployable barriers easier to move
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
Labels: No C#

#15143 Do not anchor the bell, do not pass go, do not take 200 zorkmids.
  Resources/Prototypes/Entities/Objects/Misc/desk_bell.yml
Labels: No C#

#14886 Add instant destruction thresholds to everything
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/barrier.yml
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/operating_table.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Furniture/altar.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Entities/Structures/Storage/storage.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
Labels: No C#

#15161 Barratry Update 2.5.1
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#14237 uichange Chemmaster
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
Labels: Changes: UI, Status: Needs Review

#15102 Adds uploadfolder command
  Content.Client/Administration/Commands/UploadFolder.cs
  Resources/Locale/en-US/administration/commands/uploadfolder.ftl
  Resources/clientCommandPerms.yml
Labels: Status: Needs Review

#15146 Implicit gas tile & decal states
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#15117 No ghost role pet suicide
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#15152 [Issue Solution] Dwarf Desc
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
Labels: No C#, Status: Needs Review

#15130 Reagent interactivity (pt. 1)
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Server/Fluids/Components/SpillableComponent.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/SpillableSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Resources/Locale/en-US/fluids/components/puddle-component.ftl
  Resources/Locale/en-US/fluids/components/spillable-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
Labels: Status: Needs Review

#15044 [Fix] Fixed base showcase robot
  Resources/Prototypes/Entities/Structures/Decoration/showcase.yml
Labels: No C#

#15094 Add Alt-click insertion to ItemSlots
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: Status: Needs Review

#15074 Adds the clown recorder (Clown fix)
  Resources/Audio/Items/Toys/licensing.txt
  Resources/Audio/Items/Toys/sitcom_laugh.ogg
  Resources/Audio/Items/Toys/sitcom_laugh2.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Prototypes/SoundCollections/clownrecorder.yml
  Resources/Textures/Objects/Fun/clownrecorder.rsi/icon.png
  Resources/Textures/Objects/Fun/clownrecorder.rsi/meta.json
Labels: No C#, Changes: Sprites

#15188 Remove disposal tubes component references and ECS some of it
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalBendComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalEntryComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalJunctionComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTaggerComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTransitComponent.cs
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Tube/Components/IDisposalTubeComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Tube/GetDisposalsConnectableDirectionsEvent.cs
  Content.Server/Disposal/Tube/GetDisposalsNextDirectionEvent.cs
  Content.Server/Disposal/TubeConnectionsCommand.cs
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
Labels: Status: Needs Review

#15193 Fix NPC arrival distance for nodes
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
Labels: Status: Needs Review

#15209 Detective access is now fluent
  Resources/Locale/en-US/prototypes/access/accesses.ftl
Labels: No C#, Status: Needs Review

#15202 Janimaid sprite fix
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janimaid.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/janimaid.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#15195 Add sharp to shards and broken bottles
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
Labels: No C#

#15134 Use chat emotes for disease
  Content.Server/Disease/DiseaseSystem.cs
  Content.Server/Disease/Effects/DiseaseSnough.cs
  Content.Server/Traits/Assorted/UncontrollableSnoughComponent.cs
  Content.Server/Traits/Assorted/UncontrollableSnoughSystem.cs
  Content.Shared/Disease/Events/AttemptSneezeCoughEvent.cs
  Resources/Audio/Effects/Diseases/license.txt
  Resources/Audio/Voice/Human/female_cough_1.ogg
  Resources/Audio/Voice/Human/female_cough_2.ogg
  Resources/Audio/Voice/Human/female_sneeze_1.ogg
  Resources/Audio/Voice/Human/female_yawn_1.ogg
  Resources/Audio/Voice/Human/license.txt
  Resources/Audio/Voice/Human/male_cough_1.ogg
  Resources/Audio/Voice/Human/male_cough_2.ogg
  Resources/Audio/Voice/Human/male_sneeze_1.ogg
  Resources/Audio/Voice/Human/male_yawn_1.ogg
  Resources/Audio/Voice/Human/snore1.ogg
  Resources/Audio/Voice/Human/snore2.ogg
  Resources/Audio/Voice/Human/snore3.ogg
  Resources/Locale/en-US/disease/disease.ftl
  Resources/Prototypes/Diseases/infectious.yml
  Resources/Prototypes/Diseases/noninfectious.yml
  Resources/Prototypes/Diseases/zombie.yml
  Resources/Prototypes/SoundCollections/disease.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: Status: Needs Review

#15218 Add faxes on dev map
  Resources/Maps/Test/dev_map.yml
Labels: No C#

#15205 Remove id card console component reference
  Content.Client/Access/Components/IdCardConsoleComponent.cs
  Content.Client/Access/UI/IdCardConsoleBoundUserInterface.cs
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Server/Access/Components/IdCardConsoleComponent.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Shared/Access/Components/IdCardConsoleComponent.cs
  Content.Shared/Access/Components/SharedIdCardConsoleComponent.cs
  Content.Shared/Access/Systems/SharedIdCardConsoleSystem.cs
Labels: Changes: UI

#15206 Remove combat mode component reference
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/CombatMode/CombatModeComponent.cs
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
Labels: Status: Needs Review

#15183 Hide ugly float to string conversion results from players in the mixer UI
  Content.Client/Atmos/UI/GasMixerBoundUserInteface.cs
  Content.Client/Atmos/UI/GasMixerWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#15227 UI: Close window hotkeys
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/CloseWindow/CloseAllWindowsUIController.cs
  Content.Client/UserInterface/Systems/CloseWindow/CloseRecentWindowUIController.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#15225 Added clown satchel
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/clown.rsi/meta.json
Labels: No C#, Changes: Sprites

#15213 Adds slight protection to HoS common clothes
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#

#15112 Diona CO2 Respiration
  Resources/Prototypes/Reagents/gases.yml
Labels: Needs Discussion, No C#, Status: Needs Review

#15244 [Sprites] Adds in hand sprites
  Resources/Textures/Clothing/Head/Hoods/moth.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hoods/moth.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hoods/moth.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/blue.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/blue.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/blue.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/green.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/green.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/green.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/red.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/red.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/red.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/zebra.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/zebra.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/zebra.rsi/meta.json
  Resources/Textures/Clothing/Neck/Ties/dettie.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Ties/dettie.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Ties/dettie.rsi/meta.json
  Resources/Textures/Clothing/Neck/Ties/redtie.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Ties/redtie.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Ties/redtie.rsi/meta.json
  Resources/Textures/Clothing/Neck/Ties/scitie.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Ties/scitie.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Ties/scitie.rsi/meta.json
Labels: No C#, Changes: Sprites

#15203 Make broken cuffs trash, fix color for broken makeshift cuffs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: No C#

#15241 [Spawner] New pirates icon
  Resources/Prototypes/Entities/Markers/Spawners/Conditional/pirates.yml
Labels: No C#

#15242 Fix path to boxes.rsi for foam dart ammo box
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/toy.yml
Labels: No C#

#15238 [Spawn] Motobike Spawner
  Resources/Prototypes/Entities/Markers/Spawners/vehicles.yml
Labels: No C#

#15198 [Fix] Chemical bottles
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: No C#, Status: Needs Review

#15119 Sustenance Vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/sustenance.rsi/panel.png
Labels: No C#, Changes: Sprites

#15204 Added MK58 crate
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
Labels: No C#, Status: Needs Review

#15246 Remove mech component references
  Content.Client/Mech/MechComponent.cs
  Content.Client/Mech/MechSystem.cs
  Content.Client/Mech/Ui/MechBoundUserInterface.cs
  Content.Client/Mech/Ui/MechMenu.xaml.cs
  Content.Server/Construction/Completions/BuildMech.cs
  Content.Server/Mech/Components/MechAirComponent.cs
  Content.Server/Mech/Components/MechComponent.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/Components/MechPilotComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mech/Equipment/Components/MechEquipmentComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Changes: UI, Status: Needs Review

#15248 Added small text to Guidebook Security tab.
  Resources/Server Info/Guidebook/Security/Security.xml
Labels: No C#, Status: Needs Review

#15237 Predatory pet for HoS
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Textures/Mobs/Pets/shiva.rsi/meta.json
  Resources/Textures/Mobs/Pets/shiva.rsi/shiva.png
  Resources/Textures/Mobs/Pets/shiva.rsi/shiva_dead.png
Labels: No C#, Changes: Sprites

#15274 [IDK] Robust Nukie in Sustenance Vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
Labels: No C#

#15289 Marathon Updatey Reclaimer and Spoder
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#15291 Meta Reclaimer and Spider
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#15024 Chameleon breath mask fix
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#

#15292 Pills 1984
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: No C#

#14895 prevent nettles from injecting through hardsuit
  Content.Server/Chemistry/Components/MeleeChemicalInjectorComponent.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Resources/Locale/en-US/weapons/melee/melee.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#15287 Rebindable menu + move menu to default F10
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#15303 Fix spreader test
  Content.Server/Spreader/SpreaderSystem.cs
  Resources/Maps/bagel.yml
Labels: Changes: Map

#15294 add the ability to override the equipped state sprite clothing system uses for custom prototypes.
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
Labels: Status: Needs Review

#15319 [Job] Brigmedic
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Roles/Jobs/Security/brigmedic.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/brigmed.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/brigmed.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/brigmedic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/brigmedic.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/Brigmedic.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/brigmed.png
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-brigmed.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idbrigmedic.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#15322 Remove health analyzer component references
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerBoundUserInterface.cs
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerDoAfterEvent.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Content.Shared/MedicalScanner/HealthAnalyzerUiKey.cs
  Content.Shared/MedicalScanner/SharedHealthAnalyzerComponent.cs
Labels: Changes: UI

#15329 Bagel Brig Med Update
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#15323 [IDK] Cleaning the code from useless variables
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/antag.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
Labels: No C#

#15314 Fix misc bugs
  Content.Client/Construction/ConstructionSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Tools/ToolSystem.LatticeCutting.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: Status: Needs Review

#15327 Fix not showing ahelp relay label to players
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/Administration/SharedBwoinkSystem.cs
Labels: Status: Needs Review

#15249 Remove inventory component references
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Inventory/ClientInventoryComponent.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Inventory/InventorySlotsComponent.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.IntegrationTests/Tests/DeleteInventoryTest.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Inventory/ServerInventoryComponent.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Status: Needs Review

#15341 [BUG] fixing lizard's stomach sizes
  Resources/Prototypes/Body/Organs/reptilian.yml
Labels: No C#, Status: Needs Review

#15317 Craftable Clown Hardsuit
  Resources/Audio/Effects/Emotes/attributions.yml
  Resources/Audio/Effects/Emotes/parp1.ogg
  Resources/Locale/en-US/construction/construction-categories.ftl
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/clown_hardsuit.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Hardsuits/clown.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/clown.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/clown.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/clown.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/clown.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/clown.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/clown.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/clown.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/clown.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/clown.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#15344 Meta Brigmed
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map, Status: Needs Review

#15347 Revert "Show ban and note count in ahelp window"
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Server/Administration/Notes/AdminNotesManager.cs
  Content.Server/Administration/Notes/IAdminNotesManager.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/Database/ServerDbManager.cs
  Content.Server/Database/ServerDbPostgres.cs
  Content.Server/Database/ServerDbSqlite.cs
  Content.Shared/Administration/PlayerInfo.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
Labels: Changes: UI, Status: Needs Review

#15326 Add show disconnected button to admin player tab
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
Labels: Changes: UI, Status: Needs Review

#15017 Fingerprints filter for records station computer
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/StationRecords/Components/GeneralStationRecordConsoleComponent.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Shared/StationRecords/GeneralStationRecordsFilter.cs
  Content.Shared/StationRecords/SharedGeneralStationRecordConsoleSystem.cs
  Resources/Locale/en-US/station-records/general-station-records.ftl
Labels: Changes: UI, Status: Needs Review

#15352 Fix biome seed gen
  Content.Server/Maps/PlanetCommand.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
Labels: Status: Needs Review

#15353 Change sleep action icon to syndie pyjama
  Resources/Prototypes/Actions/types.yml
Labels: No C#

#15351 [Spawner] Boxer now spawns
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
Labels: No C#

#15324 [Fix] Security cadet spawner icon
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/security_cadet.png
Labels: No C#, Changes: Sprites

#15190 pens are bought in boxes now
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Objects/Storage/penbox.rsi/e_dagger.png
  Resources/Textures/Objects/Storage/penbox.rsi/exploding_pen.png
  Resources/Textures/Objects/Storage/penbox.rsi/hypopen.png
  Resources/Textures/Objects/Storage/penbox.rsi/meta.json
Labels: Needs Discussion, No C#, Changes: Sprites

#15354 Prevent Shiva suicide
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#15312 Increased passive blood recovery from 0.3u to 1u
  Content.Server/Body/Components/BloodstreamComponent.cs
Labels: Status: Needs Review

#15355 Vending machines use the robot typing indicator
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#

#15357 Kettle 1.7
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13027 Station maps
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Pinpointer/NavMapSystem.cs
  Content.Client/Pinpointer/PinpointerSystem.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/Pinpointer/UI/StationMapBoundUserInterface.cs
  Content.Client/Pinpointer/UI/StationMapWindow.xaml
  Content.Client/Pinpointer/UI/StationMapWindow.xaml.cs
  Content.Client/Shuttles/UI/DockingControl.cs
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/MapGridControl.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Server/Pinpointer/PinpointerSystem.cs
  Content.Server/Pinpointer/StationMapComponent.cs
  Content.Server/Pinpointer/StationMapSystem.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Content.Shared/Pinpointer/NavMapComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Content.Shared/Pinpointer/SharedStationMapSystem.cs
  Content.Shared/Power/SharedPowerDevice.cs
  Resources/Locale/en-US/pinpointer/station_map.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/station_map.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/station_map.yml
  Resources/Textures/Objects/Devices/tablets.rsi/generic.png
  Resources/Textures/Objects/Devices/tablets.rsi/meta.json
  Resources/Textures/Objects/Devices/tablets.rsi/tablet.png
  Resources/Textures/Objects/Devices/tablets.rsi/tabletsol.png
  Resources/Textures/Structures/Machines/station_map.rsi/meta.json
  Resources/Textures/Structures/Machines/station_map.rsi/station_map-panel.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_broken.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame1.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame2.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame3.png
  Resources/Textures/Structures/Machines/station_map.rsi/unshaded.png
Labels: Changes: UI, Status: Derelict, Changes: Sprites, Status: Needs Review

#15356 [Speech] Moth speech bubble
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth0.png
  Resources/Textures/Effects/speech.rsi/moth1.png
  Resources/Textures/Effects/speech.rsi/moth2.png
Labels: No C#, Changes: Sprites

#15389 Ice cream tastes like ice cream
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
Labels: No C#, Status: Needs Review

#15399 Add autocomplete to setgamepreset command
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Resources/Locale/en-US/game-ticking/set-game-preset-command.ftl
Labels: Status: Needs Review

#15301 Add EscapeContext keybind
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Systems/CloseWindow/CloseRecentWindowUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeContextUIController.cs
  Content.Client/UserInterface/Systems/EscapeMenu/EscapeUIController.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#14709 pet dehydrated fish to make him nice to you
  Content.Server/Friends/Components/PettableFriendComponent.cs
  Content.Server/Friends/Systems/PettableFriendSystem.cs
  Content.Server/NPC/Components/FactionExceptionComponent.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/NPCCombatOperator.cs
  Content.Server/NPC/Systems/FactionExceptionSystem.cs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: Status: Needs Review

#15400 Re-add keybindings for removing a word at a time
  Resources/keybinds.yml
Labels: No C#

#15402 Salamader CVar Changes
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: No C#

#15406 refactor toilet
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Toilet/SharedWaterclosetVisuals.cs
  Content.Shared/Toilet/ToiletVisuals.cs
  Resources/Locale/en-US/toilet/toilet-component.ftl
Labels: Status: Needs Review

#15251 Add interaction tests
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/Tests/Construction/Interaction/ComputerContruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/CraftingTests.cs
  Content.IntegrationTests/Tests/Construction/Interaction/GrilleWindowConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/MachineConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/PanelScrewing.cs
  Content.IntegrationTests/Tests/Construction/Interaction/PlaceableDeconstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WallConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WindowConstruction.cs
  Content.IntegrationTests/Tests/Construction/Interaction/WindowRepair.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterCancellationTests.cs
  Content.IntegrationTests/Tests/EncryptionKeys/RemoveEncryptionKeys.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Constants.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.EntitySpecifier.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.EntitySpecifierCollection.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTestSystem.cs
  Content.IntegrationTests/Tests/Payload/ModularGrenadeTests.cs
  Content.IntegrationTests/Tests/Tiles/TileConstructionTests.cs
  Content.IntegrationTests/Tests/Weldable/WeldableTests.cs
  Content.Server/Construction/Completions/BuildComputer.cs
  Content.Server/Construction/Completions/BuildMachine.cs
  Content.Server/Construction/Completions/BuildMech.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Mind/Components/MindComponent.cs
  Content.Shared/Construction/Events.cs
  Content.Shared/DoAfter/DoAfterComponent.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Stacks/StackComponent.cs
Labels: Status: Needs Review, Needs #codebase-changes

#15011 Misc sprite changes
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Objects/Devices/signaller.rsi/meta.json
  Resources/Textures/Objects/Devices/signaller.rsi/signaller.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/icon.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/idle.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/inserting.png
  Resources/Textures/Structures/Machines/fax_machine.rsi/meta.json
  Resources/Textures/Structures/Machines/fax_machine.rsi/printing.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/full.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charged.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-charging.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/light-empty.png
  Resources/Textures/Structures/Power/cell_recharger.rsi/meta.json
  Resources/Textures/Structures/Power/cell_recharger.rsi/open.png
  Resources/Textures/Structures/Storage/Crates/livestock.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/livestock.rsi/closed.png
  Resources/Textures/Structures/Storage/Crates/livestock.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/livestock.rsi/open.png
Labels: No C#, Changes: Sprites

#15336 Use AllEntityQuery<> In power systems
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: Status: Needs Review

#15310 Improved blood pack formula (now restores 15u blood)
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#14369 Add radio jammer
  Content.Server/Radio/Components/ActiveRadioJammerComponent.cs
  Content.Server/Radio/Components/RadioJammerComponent.cs
  Content.Server/Radio/EntitySystems/JammerSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Radio/RadioReceiveEvent.cs
  Resources/Locale/en-US/radio/components/radio-jammer-component.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Tools/jammer.yml
  Resources/Textures/Objects/Devices/jammer.rsi/jammer.png
  Resources/Textures/Objects/Devices/jammer.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#15401 Fix "Syndicate Rubber Btamp"
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: No C#, Status: Needs Review

#15216 Multiline edit everywhere
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml
  Content.Client/Administration/UI/AdminAnnounceWindow.xaml.cs
  Content.Client/Administration/UI/AdminMenuWindowEui.cs
  Content.Client/Communications/UI/CommunicationsConsoleBoundUserInterface.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/keybinds.yml
Labels: Changes: UI, Status: Needs Review

#15416 Add Emisse to CODEOWNERS for maps
  .github/CODEOWNERS
Labels: No C#

#15408 Adds a second pair of jester shoes for the clothing set missing shoes.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
Labels: No C#

#15284 Fix and update VehicleSystem.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: Status: Needs Review

#15426 Remove brigmedic hypospray
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/brigmedichypo.rsi/meta.json
Labels: No C#, Changes: Sprites

#14955 [StartingGear] Update misc SG
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#15361 Cluster 2.0 (Update 2.5)
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#15428 Syndie smokes buff
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
Labels: No C#

#15431 Made Synaptizine treat hallucinations
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#, Status: Needs Review

#15415 [PDA] Centcom PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-centcom.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/pen_centcom.png
Labels: No C#, Changes: Sprites

#15425 [Sprite] Toy Mouse is hat!?
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/mouse-equipped-HELMET.png
Labels: No C#, Changes: Sprites

#15422 Janibucket buffs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_bucket.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: No C#, Changes: Sprites

#15436 Rename "Server Info" to ServerInfo
  Content.Client/Info/RulesAndInfoWindow.cs
  Content.Server/Info/InfoSystem.cs
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/meta.yml
  Resources/Prototypes/Guidebook/radio.yml
  Resources/Prototypes/Guidebook/science.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Gameplay.txt
  Resources/ServerInfo/Guidebook/AME.xml
  Resources/ServerInfo/Guidebook/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Botany.xml
  Resources/ServerInfo/Guidebook/Construction.xml
  Resources/ServerInfo/Guidebook/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Engineering.xml
  Resources/ServerInfo/Guidebook/Fires.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/Power.xml
  Resources/ServerInfo/Guidebook/Science/APE.xml
  Resources/ServerInfo/Guidebook/Science/AnomalousResearch.xml
  Resources/ServerInfo/Guidebook/Science/ArtifactReports.xml
  Resources/ServerInfo/Guidebook/Science/MachineUpgrading.xml
  Resources/ServerInfo/Guidebook/Science/ScannersAndVessels.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/TraversalDistorter.xml
  Resources/ServerInfo/Guidebook/Science/Xenoarchaeology.xml
  Resources/ServerInfo/Guidebook/Security/DNA.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Singularity.xml
  Resources/ServerInfo/Guidebook/Space Station 14.xml
  Resources/ServerInfo/Guidebook/Survival.xml
  Resources/ServerInfo/Intro.txt
  Resources/ServerInfo/RP_Rules.txt
  Resources/ServerInfo/Rules.txt
  Resources/ServerInfo/Sandbox.txt
Labels: Status: Needs Review

#15440 Makes water not slippery
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: No C#, Status: Needs Review

#15441 Revert "Makes water not slippery"
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: No C#

#15446 Minor medical tweaks
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#15445 More Salamander CVar Changes
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: No C#

#15442 Spacelube is now slippery
  Resources/Prototypes/Reagents/cleaning.yml
Labels: No C#, Status: Needs Review

#15433 Shotgun Safe
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: No C#

#15444 Make the admin menu openable in the lobby
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
Labels: Changes: UI, Status: Needs Review

#15456 Reduce lizard's popcap to 80.
  Resources/ConfigPresets/WizardsDen/lizard.toml
Labels: No C#

#15458 Aspid min pop to 25
  Resources/Prototypes/Maps/aspid.yml
Labels: No C#, Changes: Map, Status: Needs Review

#15463 Add more UI helper methods for tests
  Content.IntegrationTests/Tests/Chemistry/DispenserTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
Labels: Needs Engine PR

#15466 Fix gibbing related test warnings
  Content.Server/Body/Systems/BodySystem.cs
Labels: Status: Needs Review

#15465 Salamander whitelist minimum to 10
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: No C#

#15469 Makes emergency EVA and firesuits always spawn in their respective lockers
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#
