Repository space-wizards/space-station-14, pull requests merged in 2023-09, with the labels that each got.

#19710 Suiciding no longer sends you to The Void
  Content.Server/GameTicking/Rules/RespawnRuleSystem.cs
Labels: Status: Needs Review

#19715 Give supplybots/borgs speechverbs
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#19720 Give spears blade sound
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: No C#

#19719 Give animal parts & organs sprites
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Parts/animal.yml
Labels: No C#, Status: Needs Review

#19626 More Speech Verbs
  Content.Shared/Speech/SpeechComponent.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Voice/speech_verbs.yml
Labels: Status: Needs Review

#19709 Show materials as sheets, tweak lathe ui
  Content.Client/Lathe/UI/LatheMaterialEjector.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Recipes/Lathes/1 sheet = 100cm3 of material.txt
Labels: Changes: UI

#19732 Remove remie and Paul from CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#19318 hot potato buff
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
Labels: No C#

#19555 Makes Plant-B-Gone available to cargo, and Diona vulnerable.
  Content.Shared/Weapons/Ranged/Components/SolutionAmmoProviderComponent.cs
  Resources/Locale/en-US/prototypes/catalog/fills/crates/botany-crates.ftl
  Resources/Locale/en-US/species/diona.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/chemistry.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Needs Discussion, Status: Awaiting Changes

#19686 More Petting Sounds and Popups
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#19655 Add grid names to evac shuttles that need it
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/Shuttles/emergency_rod.yml
  Resources/Maps/Shuttles/emergency_transit.yml
  Resources/Maps/Shuttles/escape_pod_small.yml
Labels: No C#

#18712 Signal Button Resprite
  Resources/Textures/Structures/Wallmounts/switch.rsi/dead.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/switch.rsi/off.png
  Resources/Textures/Structures/Wallmounts/switch.rsi/on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#19746 Fix loc warning
  Resources/Locale/en-US/prototypes/catalog/fills/crates/botany-crates.ftl
Labels: No C#

#19743 Fix combat mode context menu
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Server/CombatMode/CombatModeSystem.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
Labels: Status: Needs Review

#19765 Remove outdated access reader method.
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Server/Access/Systems/AccessOverriderSystem.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Lock/LockSystem.cs
Labels: Changes: UI, Status: Needs Review

#19767 Adjust chair buckle offset
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#

#19770 Tech disks sell for 10x less
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
Labels: No C#

#19647 bloody microwaves
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/Components/SharedMicrowave.cs
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody1.png
Labels: Changes: Sprites, Status: Needs Review

#19775 remove my codeowners
  .github/CODEOWNERS
Labels: No C#

#18359 refactor checkerboard
  Content.Server/Tabletop/TabletopCheckerSetup.cs
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/checkers.yml
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/b_checker_crown.png
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/checker_pieces.rsi/w_checker_crown.png
Labels: Changes: Sprites, Status: Awaiting Changes

#19140 mech air overhaul
  Content.Server/Mech/Components/MechAirFilterComponent.cs
  Content.Server/Mech/Components/MechAirIntakeComponent.cs
  Content.Server/Mech/Systems/MechSystem.Filtering.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Status: Needs Review

#19778 Fix MechAir datadefs
  Content.Server/Mech/Components/MechAirFilterComponent.cs
  Content.Server/Mech/Components/MechAirIntakeComponent.cs
Labels: Status: Needs Review

#19784 Add fork & spoon to dinnerware
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
Labels: No C#

#19776 Update my CODEOWNERS entries
  .github/CODEOWNERS
Labels: No C#

#19766 Change "Battery Power" to "Load"
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Resources/Locale/en-US/ui/power-apc.ftl
Labels: Changes: UI

#19783 [Resprite] Taxibot
  Resources/Textures/Mobs/Silicon/Bots/taxibot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/taxibot.rsi/taxibot.png
Labels: No C#, Changes: Sprites

#19779 Make portable generators noRot
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
Labels: No C#

#19737 Chief Engineer's Turtleneck
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/meta.json
Labels: No C#, Changes: Sprites

#19794 Bartender aprons!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Textures/Clothing/OuterClothing/Misc/apronbar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/apronbar.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/apronbar.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/apronbar.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Misc/apronbar.rsi/meta.json
Labels: No C#, Changes: Sprites

#19801 argocytes
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/barrier.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/barrier_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/barrier_naked.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/barrier_naked_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/crawler.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/crawler_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/enforcer.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/enforcer_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/fossilegg.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/fossilegg_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/glider.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/glider_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/harvester.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/harvester_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/molder.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/molder_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/pouncer.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/pouncer_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/skitter.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/skitter_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/slurva.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/slurva_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/swiper.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_common.rsi/swiper_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_large.rsi/founder.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_large.rsi/founder_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_large.rsi/leviathing.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_large.rsi/leviathing_dead.png
  Resources/Textures/Mobs/Aliens/Argocyte/argocyte_large.rsi/meta.json
Labels: No C#, Changes: Sprites

#19803 Blindy changes a bunch of event spawnrates in hopes that it does something.
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#19785 [Fix] Steel stack sprite
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
Labels: No C#

#19780 magazine fill repeating doafter
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: Status: Needs Review

#19704 prevent pulse throw from throwing observers
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ThrowArtifactSystem.cs
  Content.Shared/Anomaly/Effects/SharedGravityAnomalySystem.cs
Labels: Status: Needs Review

#19687 decouple objectives round end text from traitor
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/objectives/round-end.ftl
Labels: Status: Needs Review

#19728 carpsuit and iansuit revival
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Textures/Clothing/Head/Hoods/carpsuit.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/carpsuit.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/carpsuit.rsi/meta.json
  Resources/Textures/Clothing/Head/Hoods/iansuit.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/iansuit.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/iansuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/carpsuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/iansuit.rsi/meta.json
Labels: No C#, Changes: Sprites

#19414 Hot Fix of Gravity Grenades
  Content.Server/Explosion/Components/OnTrigger/TwoStageTriggerComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Explosion/EntitySystems/TwoStageTriggerSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Status: Needs Review

#19796 Allow drag-and-drop insertion of reagents into the ChemMaster
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.Capabilities.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Transfers.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Shared/Chemistry/Components/DumpableSolutionComponent.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
Labels: Status: Needs Review

#19814 Rebalance Ore Conversions
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: No C#

#19598 Plasma fueled radiation collectors
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Resources/Locale/en-US/power/components/radiation-collector.ftl
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
Labels: Status: Needs Review

#19793 gib hitchhikers on ftl
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Status: Needs Review

#19731 NPC/silicon.yml cleaning
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: No C#, Status: Awaiting Changes

#19455 Botany chemicals and gasses mutations.
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#19688 Fix thrusters, add new max velocity calculation
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Shuttles/Components/ShuttleComponent.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
Labels: Status: Needs Review

#19323 Allow solutions to store extra reagent data
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.Client/Kitchen/UI/GrinderMenu.xaml.cs
  Content.Client/Kitchen/UI/MicrowaveBoundUserInterface.cs
  Content.IntegrationTests/Tests/Chemistry/ReagentDataTest.cs
  Content.IntegrationTests/Tests/Chemistry/SolutionSystemTests.cs
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.Server/Administration/Commands/AddReagent.cs
  Content.Server/Administration/Toolshed/SolutionCommand.cs
  Content.Server/Body/Components/StomachComponent.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/StomachSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Server/Chemistry/EntitySystems/RehydratableSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Chemistry/EntitySystems/TransformableContainerSystem.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Chemistry/ReagentEffectConditions/ReagentThreshold.cs
  Content.Server/Chemistry/ReagentEffects/AdjustReagent.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Evaporation.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Server/Nutrition/Components/VapeComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
  Content.Server/Power/Components/RiggableComponent.cs
  Content.Server/Power/EntitySystems/RiggableSystem.cs
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Tools/ToolSystem.Welder.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/Dispenser/ReagentDispenserInventoryPrototype.cs
  Content.Shared/Chemistry/Reaction/ChemicalReactionSystem.cs
  Content.Shared/Chemistry/ReactiveSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentData.cs
  Content.Shared/Chemistry/Reagent/ReagentId.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Chemistry/Reagent/ReagentQuantity.cs
  Content.Shared/Chemistry/SharedChemMaster.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Content.Shared/Kitchen/Components/SharedMicrowave.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Content.Shared/Kitchen/SharedReagentGrinder.cs
  Content.Shared/Materials/PhysicalCompositionComponent.cs
  Content.Tests/Shared/Chemistry/SolutionTests.cs
Labels: Changes: UI, Status: Needs Review

#19835 Update CODEOWNERS
  .github/CODEOWNERS
Labels: No C#

#19836 Fix copy/paste error
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-atmospherics.ftl
Labels: No C#

#19738 The Quartermaster Hardsuit
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-cargo.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/cargo-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/luxury.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/luxury.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/luxury.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/luxury.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/luxury.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/luxury.rsi/meta.json
Labels: Status: DO NOT MERGE, Needs Discussion, No C#, Changes: Sprites, Status: Needs Review

#19830 Add gas tank valve
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Resources/Locale/en-US/atmos/gas-tank-component.ftl
Labels: Status: Needs Review

#19852 Add Atmos paintscheme to spraypainter
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: No C#

#19620 constructed hydroponics trays start empty
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: Status: Needs Review

#19857 [Fix] red glowstick glow duration
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: No C#

#19860 Revert click damage mod
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Status: Needs Review

#19266 Semi revert glass tile resprite
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/glass_alt.png
  Resources/Textures/Tiles/rglass.png
  Resources/Textures/Tiles/rglass_alt.png
Labels: No C#, Status: Needs Review

#19881 Craftable steel secure crate
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cratesecure.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
Labels: No C#

#19870 Add sugar to grog recipe
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#

#19222 Adds Ganja Brownies
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/brownie.rsi/brownie-batch.png
  Resources/Textures/Objects/Consumable/Food/Baked/brownie.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#19002 Use full file path for temp replays
  Content.Server/GameTicking/GameTicker.Replays.cs
Labels: Status: Needs Review

#19879 Gas tank output pressure limit
  Content.Server/Atmos/Components/GasTankComponent.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
Labels: Status: Needs Review

#19877 Hypo can inject solutions back into beakers
  Content.Server/Chemistry/Components/HyposprayComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Status: Needs Review

#19867 Buff hard hat light
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
Labels: No C#

#19824 Radiation collector component and system file scoped namespaces
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
Labels: Status: Needs Review

#19264 Syndie airlocks
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/syndicate.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/welded.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#19896 show non-sheet material units in lathe
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Locale/en-US/materials/units.ftl
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Labels: Changes: UI, Status: Needs Review

#19769 Switch security techfab to produce magazines
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#19875 move advanced laser gun into t3 lasers tech
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#, Status: Needs Review

#19905 no more f toast
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
Labels: No C#

#19908 saltern 4.21
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#19910 Sort jobs in map prototypes
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/saltern.yml
Labels: No C#, Changes: Map, Status: Needs Review

#19915 Add a slightly more useful SCI to the dev map
  Resources/Maps/Test/dev_map.yml
Labels: No C#

#19735 Fix initial infected transformation
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Roles/InitialInfectedRoleComponent.cs
  Content.Server/Roles/RoleSystem.cs
Labels: Status: Needs Review

#19925 Mime Wall Nerf
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#19929 Small Saltern Fixes
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#19931 Revert "Semi revert glass tile resprite"
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/glass_alt.png
  Resources/Textures/Tiles/rglass.png
  Resources/Textures/Tiles/rglass_alt.png
Labels: No C#

#19939 Revert "Revert "Small Saltern Fixes""
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#19934 Fix bloodpack transparency
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bloodpack-blue.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/bloodpack.png
Labels: No C#, Changes: Sprites

#19748 Bench and fixes
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/steel-bench.png
Labels: No C#, Changes: Sprites

#19949 SiliconBase has zombie immune
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#19948 Aghost have syndicate access
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#19909 buff gauze
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: No C#

#19943 Add do not map suffix to stamps
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#

#19922 Crayon buff 5 -> 15
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: No C#

#19843 ways to get a plush moth
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: No C#

#19932 Fingerless gloves in SecDrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
Labels: No C#

#19950 Improved botany's chemical and gas crossbreeding.
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#19964 Fix actions not being usable, ordering, and containers
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Actions.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Actions/ActionsComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Content.Shared/Mobs/Systems/MobStateActionsSystem.cs
  Content.Shared/Spider/SharedSpiderSystem.cs
  Resources/Prototypes/Actions/types.yml
Labels: Status: Needs Review

#19834 Remove IContainer and move functions to the container system.
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Singularity/Events/EntityConsumedByEventHorizonEvent.cs
  Content.Server/Singularity/Events/EventHorizonConsumedEntityEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Interaction/Helpers/SharedUnoccludedExtensions.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Silicons/Borgs/Components/BorgChassisComponent.cs
Labels: Needs Engine PR, Status: Needs Review

#19407 make monkeys better
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Components/AutoTraitorComponent.cs
  Content.Server/Traitor/Systems/AutoTraitorSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: Needs Engine PR, Status: Needs Review

#19821 ian crafting
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/toys.yml
  Resources/Prototypes/Recipes/Crafting/toys.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#19623 Cobwebs
  Content.Shared/DrawDepth/DrawDepth.cs
  Resources/Prototypes/Entities/Structures/Decoration/cobwebs.yml
  Resources/Textures/Structures/Decoration/cobweb.rsi/cobweb1.png
  Resources/Textures/Structures/Decoration/cobweb.rsi/cobweb2.png
  Resources/Textures/Structures/Decoration/cobweb.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#19428 Make PA constructible again
  Content.Server/Construction/ConstructionSystem.Graph.cs
Labels: Status: Awaiting Changes

#19975 Revert "Remove IContainer and move functions to the container system.…
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Singularity/Events/EntityConsumedByEventHorizonEvent.cs
  Content.Server/Singularity/Events/EventHorizonConsumedEntityEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Interaction/Helpers/SharedUnoccludedExtensions.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Silicons/Borgs/Components/BorgChassisComponent.cs
Labels: Status: Needs Review

#19977 ninja bombing target whitelist warp point
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Shared/Ninja/Components/BombingTargetComponent.cs
  Resources/Maps/aspid.yml
  Resources/Maps/saltern.yml
  Resources/Prototypes/Entities/Markers/warp_point.yml
Labels: Changes: Map

#19983 Nerf paramed PDA scanning speed and buff all others to be the same
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#19604 Remove custom tooltip timings
  Content.Client/Examine/ExamineButton.cs
  Content.Client/Lathe/UI/RecipeControl.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Research/UI/MiniTechnologyCardControl.xaml
  Content.Client/UserInterface/Controls/MenuButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.Client/Verbs/UI/VerbMenuElement.cs
Labels: Changes: UI, Status: Needs Review

#19955 Make raw strings sanely formatted in Rider.
  SpaceStation14.sln.DotSettings
Labels: No C#

#19998 Fix makeghostrole eui
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/MakeGhostRoleEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/MakeGhostRoleWindow.xaml.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Ghost/Roles/UI/MakeGhostRoleEui.cs
  Content.Shared/Ghost/Roles/MakeGhostRoleEuiState.cs
Labels: Changes: UI

#20006 Fix admin fax
  Content.Client/Fax/AdminUI/AdminFaxEui.cs
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml.cs
Labels: Changes: UI

#20004 Fix misc commands
  Content.Client/Administration/UI/SetOutfit/SetOutfitEui.cs
  Content.Client/Administration/UI/SetOutfit/SetOutfitMenu.xaml.cs
  Content.Client/Administration/UI/Tabs/AdminbusTab/LoadBlueprintsWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AtmosTab/AddGasWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AtmosTab/FillGasWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/AtmosTab/SetTemperatureWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#20008 Fix ghost warps
  Content.Client/UserInterface/Systems/Ghost/Controls/GhostTargetWindow.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/GhostUIController.cs
Labels: Changes: UI

#19605 Make role timer tooltips pretty
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Roles/JobSystem.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Roles/Jobs/JobSystem.cs
  Content.Shared/Roles/JobRequirements.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Resources/Locale/en-US/job/role-timers.ftl
Labels: Changes: UI

#19701 SSD Indicator
  Content.Client/SSDIndicator/SSDIndicatorSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/StatusEffects/ssd.yml
  Resources/Textures/Effects/ssd.rsi/default0.png
  Resources/Textures/Effects/ssd.rsi/meta.json
Labels: Changes: Sprites, Status: Awaiting Changes

#19707 `InAir` tweaks & chasm fixes
  Content.Server/Tiles/LavaSystem.cs
  Content.Shared/Chasm/ChasmSystem.cs
  Content.Shared/Movement/Components/CanMoveInAirComponent.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
  Content.Shared/StepTrigger/Components/StepTriggerComponent.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flying_animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/lavaland.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
Labels: Status: Needs Review

#19481 Remove SharedEye (but content)
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Drugs/RainbowOverlay.cs
  Content.Client/Drunk/DrunkOverlay.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlurryVisionOverlay.cs
  Content.Client/Eye/EyeLerpingSystem.cs
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/Movement/Systems/ContentEyeSystem.cs
  Content.Client/Outline/InteractionOutlineSystem.cs
  Content.Client/Radiation/Overlays/RadiationPulseOverlay.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/Tabletop/UI/TabletopWindow.xaml.cs
  Content.Client/UserInterface/Systems/DamageOverlays/Overlays/DamageOverlay.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Client/Vehicle/VehicleSystem.cs
  Content.Client/Viewport/ScalingViewport.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Revenant/EntitySystems/CorporealSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/Tabletop/TabletopSystem.Session.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Server/Visible/VisibilityFlags.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
Labels: Changes: UI

#19980 Changed produce spills into dynamic from hardcoded.
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#

#19781 Make some more machines snapCardinals
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#20029 crayon.yml cleaning
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: No C#

#19652 Artifact containers can safely store radioactive objects (version 2)
  Content.Server/Radiation/Components/RadiationBlockingContainerComponent.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
Labels: Needs Engine PR, Status: Needs Review

#15380 Hardbombs & Defusables
  Content.Server/Defusable/Components/DefusableComponent.cs
  Content.Server/Defusable/Systems/DefusableSystem.cs
  Content.Server/Defusable/WireActions/ActivateWireAction.cs
  Content.Server/Defusable/WireActions/BoltWireAction.cs
  Content.Server/Defusable/WireActions/BoomWireAction.cs
  Content.Server/Defusable/WireActions/DelayWireAction.cs
  Content.Server/Defusable/WireActions/ProceedWireAction.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Defusable/SharedDefusableSystem.cs
  Resources/Locale/en-US/defusable/examine.ftl
  Resources/Locale/en-US/defusable/popup.ftl
  Resources/Locale/en-US/defusable/verb.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Prototypes/explosion.yml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/Textures/Structures/Machines/bomb.rsi/base-bomb-active.png
  Resources/Textures/Structures/Machines/bomb.rsi/base-bomb-wires.png
  Resources/Textures/Structures/Machines/bomb.rsi/base-bomb.png
  Resources/Textures/Structures/Machines/bomb.rsi/meta.json
  Resources/Textures/Structures/Machines/bomb.rsi/syndicate-bomb-active.png
  Resources/Textures/Structures/Machines/bomb.rsi/syndicate-bomb-wires.png
  Resources/Textures/Structures/Machines/bomb.rsi/syndicate-bomb.png
  Resources/Textures/Structures/Machines/bomb.rsi/training-bomb-active.png
  Resources/Textures/Structures/Machines/bomb.rsi/training-bomb-wires.png
  Resources/Textures/Structures/Machines/bomb.rsi/training-bomb.png
Labels: Changes: Sprites, Status: Needs Review

#20030 Fix context menu for admin menu
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
Labels: Changes: UI, Status: Needs Review

#20033 Fix solution EUIs
  Content.Client/Administration/UI/ManageSolutions/AddReagentWindow.xaml.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsEui.cs
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#19358 Add ore bag area pickups
  Content.Client/Animations/ReusableAnimations.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Construction/PartExchangerSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.Fill.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Salvage/ore_bag.yml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
Labels: Status: Needs Review

#20066 remove useless file from prototypes
  Resources/Prototypes/Entities/Clothing/Under/will be filled out when implemented -S
Labels: No C#

#20073 make hardbombs indestructible
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: No C#

#20078 Fix: Crossbreeding resulting in all reagents being removed.
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#20075 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#20032 ninja hotfixes
  Content.Server/Ninja/Events/BatteryChangedEvent.cs
  Content.Server/Ninja/Systems/BatteryDrainerSystem.cs
  Content.Server/Ninja/Systems/NinjaGlovesSystem.cs
  Content.Server/Ninja/Systems/NinjaSuitSystem.cs
  Content.Server/Ninja/Systems/StunProviderSystem.cs
  Content.Shared/Ninja/Components/StunProviderComponent.cs
Labels: Status: Needs Review

#20080 Stair decals
  Resources/Prototypes/Decals/stairs.yml
  Resources/Textures/Decals/stairs.rsi/material_e.png
  Resources/Textures/Decals/stairs.rsi/material_n.png
  Resources/Textures/Decals/stairs.rsi/material_s.png
  Resources/Textures/Decals/stairs.rsi/material_w.png
  Resources/Textures/Decals/stairs.rsi/meta.json
  Resources/Textures/Decals/stairs.rsi/stairs_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_l_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_m_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_e.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_n.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_r_w.png
  Resources/Textures/Decals/stairs.rsi/stairs_s.png
  Resources/Textures/Decals/stairs.rsi/stairs_w.png
  Resources/Textures/Decals/stairs.rsi/stone_e.png
  Resources/Textures/Decals/stairs.rsi/stone_n.png
  Resources/Textures/Decals/stairs.rsi/stone_s.png
  Resources/Textures/Decals/stairs.rsi/stone_w.png
  Resources/Textures/Decals/stairs.rsi/wood_e.png
  Resources/Textures/Decals/stairs.rsi/wood_n.png
  Resources/Textures/Decals/stairs.rsi/wood_s.png
  Resources/Textures/Decals/stairs.rsi/wood_w.png
Labels: No C#, Changes: Sprites

#20051 Nukies will be able to buy carp
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#20057 prevent mice going under secret doors
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
Labels: No C#

#19741 Rotating character preview & lobby preview change
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI, Status: Needs Review

#20020 Update dragon devour action icon
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Textures/Interface/Actions/devour.png
  Resources/Textures/Interface/Actions/devour.rsi/icon-on.png
  Resources/Textures/Interface/Actions/devour.rsi/icon.png
  Resources/Textures/Interface/Actions/devour.rsi/meta.json
  Resources/Textures/Interface/Actions/meta.json
Labels: Changes: Sprites

#20099 run fixgridatmos on dev
  Resources/Maps/Test/dev_map.yml
Labels: No C#

#20103 Orderable Security Barriers
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: No C#

#20072 add training bombs to cargo
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-armory.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/armory-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
Labels: No C#

#20110 Add training bomb to kettle.yml
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#20106 Add names for HV&MV power infrastrucutre on Aspid
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#20091 ninja can spawn earlier, 1h reoccurence
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#20114 Revert "Nukies will be able to buy carp"
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#20115 Add new words to zombie, mouse, and cat accent
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Prototypes/Accents/full_replacements.yml
Labels: No C#, Status: Needs Review

#20119 microbomb implant bag fix
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: No C#

#20068 Miscellaneous syndicate bomb tweaks & fixes
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/timer.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: No C#

#20048 Telescopic shield
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/telescopicoff.ogg
  Resources/Audio/Weapons/telescopicon.ogg
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/inhand-left-shield.png
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/inhand-right-shield.png
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/teleriot-icon.png
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/teleriot-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/teleriot-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/teleriot_shield.rsi/teleriot-on.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#19864 Add cryogenic gas tanks
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-atmospherics.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/canisters/gas-canisters.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: No C#

#19816 Guardians (Holo and holoclown) have syndicate faction ai
  Content.Server/Guardian/GuardianSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: Status: Needs Review

#19926 Bug fix: Unable to add/remove hacking protections to/from airlocks
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Tools/Systems/WeldableSystem.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Content.Shared/Wires/WiresPanelComponent.cs
  Content.Shared/Wires/WiresPanelSecurityLevelPrototype.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/wires_panel_security.yml
Labels: Status: Needs Review

#20123 Make Shark Plush Janitor-Bucketable
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Fun/sharkplush.rsi/blue-inhand-left.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/blue-inhand-right.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/blue.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/grey-inhand-left.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/grey-inhand-right.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/grey.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/meta.json
  Resources/Textures/Objects/Fun/sharkplush.rsi/mopbucket_shark_blue.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/mopbucket_shark_grey.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/mopbucket_shark_pink.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/pink-inhand-left.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/pink-inhand-right.png
  Resources/Textures/Objects/Fun/sharkplush.rsi/pink.png
Labels: No C#, Changes: Sprites

#20131 Fix missing localization for bibles, crit, internals, mime, sleeping and voice mask
  Resources/Locale/en-US/abilities/mime.ftl
  Resources/Locale/en-US/actions/actions/crit.ftl
  Resources/Locale/en-US/actions/actions/internals.ftl
  Resources/Locale/en-US/actions/actions/sleep.ftl
  Resources/Locale/en-US/chapel/bible.ftl
  Resources/Locale/en-US/voice-mask.ftl
Labels: No C#

#20128 Add The Holo-Barrier Projector To The Security TechFab
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#, Status: Needs Review

#20118 Makes training bombs unable to space
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: No C#

#19106 Fix hud theme selection
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Resources/Prototypes/hud.yml
Labels: Changes: UI, Status: Awaiting Changes

#20177 Increases Blast Door dmg resistance.
  Resources/Prototypes/Entities/Structures/Doors/Shutter/blast_door.yml
Labels: No C#

#20027 Disable SSD indicator for NPC
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/NPC/Systems/NPCSystem.cs
  Content.Shared/NPC/ActiveNPCComponent.cs
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
Labels: Status: Needs Review

#19859 Try and fix mob prototypes
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Temperature/Components/HeatResistanceComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/base.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/moth.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: Status: Needs Review

#20084 Cyborg health alert and damage examining
  Content.Client/UserInterface/Systems/DamageOverlays/DamageOverlayUiController.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Mobs/Components/MobThresholdsComponent.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/warning_buzzer.ogg
  Resources/Locale/en-US/health-examinable/health-examinable-silicon.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#20197 Fix client gameticker jobs bug
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
Labels: Status: Needs Review

#19933 Add Loungewear
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/loungewear.rsi/meta.json
Labels: No C#, Changes: Sprites

#20171 Tweak: Round start protections for airlocks and doors against hacking
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/highsec.yml
Labels: No C#

#20216 Restore missing tags on BaseMobSpecies
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: No C#, Status: Needs Review

#20222 Fix broken mob state actions
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: No C#
