Repository space-wizards/space-station-14, pull requests merged in 2023-08, with the labels that each got.

#18521 Remove QM access from hop
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
Labels: No C#

#17092 Add Spaceshrooms
  Content.Server/Chemistry/Components/SolutionManager/RandomFillSolutionComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionRandomFillSystem.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
  Content.Shared/Random/RandomFillSolution.cs
  Content.Shared/Random/WeightedRandomFillSolutionPrototype.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Objects/Misc/spaceshroom.rsi/meta.json
  Resources/Textures/Objects/Misc/spaceshroom.rsi/object.png
  Resources/Textures/Objects/Misc/spaceshroom.rsi/spaceshroom_cooked.png
  Resources/Textures/Objects/Misc/spaceshroom.rsi/structure.png
Labels: Changes: Sprites, Status: Needs Review

#17898 Stealthier whispers
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/EntitySystems/ListeningSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: Status: Needs Review

#18535 Spaceshrooms state fix
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: No C#

#18533 Significantly buffs the truncheon
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#, Status: Needs Review

#18532 Removing Head Jumpskirt Armor Values
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: No C#

#18373 Add chemical scanning goggles
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Chemistry/Components/SolutionScannerComponent.cs
  Content.Shared/Chemistry/SolutionScannerSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/chemistry/components/solution-scanner-component.ftl
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/science.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#18542 nerf hristov
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
Labels: No C#

#18545 Auto-check IP on banning panel
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
Labels: Changes: UI, No C#, Status: Needs Review

#18480 Restores Captain's gloves and carapace
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
Labels: Needs Discussion, No C#, Status: Needs Review

#18429 Allow gamemodes to specify custom map pools
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/GameTicking/Presets/GamePresetPrototype.cs
  Content.Server/Maps/GameMapManager.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Status: Needs Review

#18054 security HUD now shows a job icon on entities with a body
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/StatusIcon/StatusIconSystem.cs
  Content.Shared/Inventory/Events/RefreshEquipmentHudEvent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Overlays/ShowSecurityIconsComponent.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/StatusEffects/job.yml
Labels: Changes: UI, Status: Needs Review

#18518 Make pardon command test non-destructive
  Content.IntegrationTests/Tests/Commands/PardonCommand.cs
Labels: Needs Engine PR

#18551 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#18559 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#18560 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#18567 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#18433 Add song name support
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Resources/Locale/en-US/lobby/lobby-state.ftl
Labels: Changes: UI, Status: Needs Review

#17108 Magazine for C20R in uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/red-icon.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18343 Light-reactive interaction outlines
  Resources/Prototypes/Shaders/outline.yml
  Resources/Textures/Shaders/outline.swsl
Labels: No C#

#18577 Oxygen and nitrogen to P block
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/chemistry.yml
Labels: No C#

#18572 All license.txt files in Audio/Ambience removed
  Resources/Audio/Ambience/Objects/license.txt
  Resources/Audio/Ambience/Temporary/license.txt
  Resources/Audio/Ambience/license.txt
Labels: No C#

#18564 Dump stored items in crafting reagents
  Content.Server/Construction/ConstructionSystem.Initial.cs
Labels: Status: Needs Review

#18575 nitrous oxide causes laughing
  Resources/Prototypes/Reagents/gases.yml
Labels: No C#, Status: Needs Review

#18587 Fixes GLES2 not booting due to error in outline.swsl
  Resources/Textures/Shaders/outline.swsl
Labels: No C#

#18591 Toolshed hotfix
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#18590 add wires to core apcs
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#18601 Fix AllCommandsHaveDescriptions test failure
  Resources/Locale/en-US/commands/toolshed-commands.ftl
Labels: No C#, Status: Needs Review

#18581 Remove duplicate Spear prototype information
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: No C#

#18588 add eod closet to kettle sci
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#18526 Clean up lantern
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/migration.yml
Labels: No C#, Status: Needs Review

#18608 new posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster43_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster44_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster45_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster45_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster46_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster47_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster48_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster49_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster50_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster51_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster57_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster58_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster59_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster60_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster61_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster62_contraband.png
Labels: No C#, Changes: Sprites

#17545 make ringtone and uplink code 6 notes long
  Content.Client/PDA/Ringer/RingerBoundUserInterface.cs
  Content.Client/PDA/Ringer/RingtoneMenu.xaml
  Content.Client/PDA/Ringer/RingtoneMenu.xaml.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Shared/PDA/SharedRingerSystem.cs
Labels: Changes: UI, Status: Needs Review

#18612 nukie planet update
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#18610 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#18613 infiltrator update
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#18609 Upstream Discount Dan's resprite
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/eject-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/discount.rsi/panel.png
Labels: No C#, Changes: Sprites

#18603 Add oldhelp to engine commands perms
  Resources/engineCommandPerms.yml
Labels: No C#, Status: Needs Review

#18619 Remove extraneous debug log from PickRule
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
Labels: Status: Needs Review

#18626 centcomm update
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#18625 Syndicate pAI for Nukies
  Resources/Maps/nukieplanet.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
  Resources/Textures/Objects/Fun/pai.rsi/syndicate-pai-off-overlay.png
  Resources/Textures/Objects/Fun/pai.rsi/syndicate-pai-on-overlay.png
  Resources/Textures/Objects/Fun/pai.rsi/syndicate-pai-searching-overlay.png
Labels: No C#, Changes: Map, Changes: Sprites

#18630 add 3x3 shittle for quick testing
  Resources/Maps/Shuttles/shittle.yml
Labels: No C#

#18618 Add names for moths
  Resources/Prototypes/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/Datasets/Names/moth_last.yml
Labels: No C#

#18634 Official Security Anti-Inflatable Armament
  Content.Server/Weapons/Melee/Balloon/BalloonPopperComponent.cs
  Content.Server/Weapons/Melee/Balloon/BalloonPopperSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/balloon-pop.ogg
  Resources/Locale/en-US/weapons/melee/melee.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/needle.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/needle.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/needle.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#18635 Deduplicate & fix prediction reconciliation test
  Content.IntegrationTests/Tests/Networking/AutoPredictReconcileTest.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.IntegrationTests/Tests/Networking/SystemPredictReconcileTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
Labels: Status: Needs Review

#18555 Reverted some of the mechanical changes of #16157
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#

#18553 Fix the incorrect ammo count in the China Lake bundle's description
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: No C#, Status: Needs Review

#18524 Fix godmode mispredicts
  Content.Client/Damage/GodmodeSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Damage/Commands/GodModeCommand.cs
  Content.Server/Damage/Components/GodmodeComponent.cs
  Content.Server/Damage/Systems/GodmodeSystem.cs
  Content.Shared/Damage/Components/GodmodeComponent.cs
  Content.Shared/Damage/Systems/SharedGodmodeSystem.cs
Labels: Status: Needs Review

#18617 Unite reagent THCOil with THC
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#, Status: Needs Review

#18606 Fix turrets
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/NPCs/root.yml
Labels: No C#

#18602 cow ops 2
  Content.Server/Chemistry/ReactionEffects/CreateEntityReactionEffect.cs
  Content.Server/Nutrition/EntitySystems/AnimalHusbandrySystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Status: Needs Review

#18644 give names to moth specie
  Resources/Prototypes/Species/moth.yml
Labels: No C#

#18645 terminal update
  Resources/Maps/Misc/terminal.yml
Labels: No C#

#18648 cluster update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#18647 barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#18650 moths can eat now (probably)
  Resources/Prototypes/Body/Organs/moth.yml
Labels: No C#, Status: Needs Review

#18643 Resprites plastic tiles & dirty steel tiles to match new floortile style
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/dark_plastic.png
  Resources/Textures/Tiles/plastic.png
  Resources/Textures/Tiles/steel_dirty.png
  Resources/Textures/Tiles/white_plastic.png
Labels: No C#

#18578 Add spear embedding
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Shared/Projectiles/EmbeddableProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Throwing/LandEvent.cs
  Content.Shared/Throwing/ThrowingAngleComponent.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#18661 Fix some typos
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
Labels: No C#

#18659 Revert "TG Smartfrige Sprite"
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/deny-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-0.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-1.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-2.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/fill-3.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off-real.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/smartfridge.rsi/panel.png
Labels: No C#, Changes: Sprites

#18653 Moths textures & Layer ordering fix + creampied sprite
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/Effects/creampie.rsi/creampie_moth.png
  Resources/Textures/Effects/creampie.rsi/meta.json
  Resources/Textures/Mobs/Customization/moth_parts.rsi/antenna_default.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/wings_default.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/wings_look1.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/wings_look2.png
  Resources/Textures/Mobs/Customization/moth_parts.rsi/wings_look3.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/eyes.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Moth/parts.rsi/r_leg.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18660 Add laser raptors
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Textures/Mobs/Aliens/laser_raptor.rsi/laser_raptor.png
  Resources/Textures/Mobs/Aliens/laser_raptor.rsi/laser_raptor_dead.png
  Resources/Textures/Mobs/Aliens/laser_raptor.rsi/meta.json
Labels: No C#, Changes: Sprites

#18582 syndi mask tweak
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#

#18637 Fix .csproj bloat
  Content.Client/Content.Client.csproj
  Content.Shared/Content.Shared.csproj
Labels: No C#

#18679 I accidentally stole all the credit for the syndie pAI PR
  Resources/Changelog/Changelog.yml
Labels: No C#

#18669 improve ignite logs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Anomaly/Effects/PyroclasticAnomalySystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Chemistry/ReagentEffects/Ignite.cs
  Content.Server/Tiles/LavaSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/IgniteArtifactSystem.cs
Labels: Status: Needs Review

#18680 Update swat crate gear
  Resources/Locale/en-US/prototypes/catalog/fills/crates/security-crates.ftl
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: No C#, Status: Needs Review

#18678 Remove PoolSettings.ExtraPrototypes option
  Content.Benchmarks/DeviceNetworkingBenchmark.cs
  Content.Benchmarks/Program.cs
  Content.IntegrationTests/PoolManager.Prototypes.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/PoolManagerTestEventHandler.cs
  Content.IntegrationTests/TestPrototypesAttribute.cs
  Content.IntegrationTests/Tests/Atmos/AlarmThresholdTest.cs
  Content.IntegrationTests/Tests/Body/LegTest.cs
  Content.IntegrationTests/Tests/Body/LungTest.cs
  Content.IntegrationTests/Tests/Body/SaveLoadReparentTest.cs
  Content.IntegrationTests/Tests/Buckle/BuckleTest.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.IntegrationTests/Tests/Chemistry/SolutionSystemTests.cs
  Content.IntegrationTests/Tests/Chemistry/TryAllReactionsTest.cs
  Content.IntegrationTests/Tests/Commands/RejuvenateTest.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.IntegrationTests/Tests/ContainerOcclusionTest.cs
  Content.IntegrationTests/Tests/Damageable/DamageableTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageGroupTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDamageTypeTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleDestructionTest.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleTestPrototypes.cs
  Content.IntegrationTests/Tests/Destructible/DestructibleThresholdActivationTest.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.IntegrationTests/Tests/DoAfter/DoAfterServerTest.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/DummyIconTest.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/ActionBlocking/HandCuffTest.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/HumanInventoryUniformSlotsTest.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/InventoryHelpersTest.cs
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.IntegrationTests/Tests/Minds/GhostRoleTests.cs
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
  Content.IntegrationTests/Tests/Tag/TagTest.cs
  Content.IntegrationTests/Tests/Utility/EntitySystemExtensionsTest.cs
  Content.IntegrationTests/Tests/Utility/EntityWhitelistTest.cs
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.MapRenderer/Program.cs
  Content.YAMLLinter/Program.cs
Labels: Status: Needs Review

#18674 Add syndicate pAI to uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Textures/Objects/Fun/pai.rsi/icon-pai-off.png
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
  Resources/Textures/Objects/Fun/pai.rsi/syndicate-icon-pai-off.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18435 Don't raise ContactInteraction for paused entities
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#18248 Add EmpReactionEffect
  Content.Server/Chemistry/ReactionEffects/EmpReactionEffect.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: Status: Needs Review

#18152 Disposable Turrets for all (except nukies)
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review, Merge Conflict

#17743 Chainsaw weapon addition
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/chainsaw.ogg
  Resources/Audio/Weapons/chainsawidle.ogg
  Resources/Audio/Weapons/chainsawwield.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/chainsaw.yml
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/chainsaw.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18693 nerf dungeon dragon damage
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#18696 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#18698 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#18708 Adds TaxiBot
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/taxibot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Textures/Mobs/Silicon/Bots/taxibot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/taxibot.rsi/taxibot.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18716 Make Rejuvenate empty Bloodstream chemicals
  Content.Server/Body/Systems/BloodstreamSystem.cs
Labels: Status: Needs Review

#18710 add decal logs
  Content.Server/Decals/DecalSystem.cs
Labels: Status: Needs Review

#18405 Syndicate Lobbying Bundle (briefcase with spacebucks)
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#, Status: Needs Review

#18715 Refactor PacificationSystem
  Content.Server/Traits/Assorted/PacifistComponent.cs
  Content.Server/Traits/Assorted/PacifistSystem.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/Pacification/PacifiedComponent.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Textures/Interface/Alerts/pacified.rsi/icon.png
  Resources/Textures/Interface/Alerts/pacified.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#18720 Make anchoring nukes require enough nearby floor
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
Labels: Status: Needs Review

#18726 Removes the hueshifting from plating
  Resources/Textures/Tiles/plating.png
Labels: No C#

#18724 set admin.deadmin_on_join to true on wizden
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: No C#

#18686 Mining tweaks
  Content.Server/Gatherable/Components/GatheringToolComponent.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Shared/Gatherable/GatherableDoAfterEvent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/base_pka.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review

#18729 Add linter-friendly WeightedRandom prototypes
  Content.Server/Mining/MiningSystem.cs
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/Mining/Components/OreVeinComponent.cs
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
  Content.Shared/Random/IWeightedRandom.cs
  Content.Shared/Random/WeightedRandomEntityPrototype.cs
  Content.Shared/Random/WeightedRandomOrePrototype.cs
  Content.Shared/Random/WeightedRandomPrototype.cs
  Content.Shared/Random/WeightedRandomSpeciesPrototype.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Species/species_weights.yml
  Resources/Prototypes/ore.yml
Labels: Status: Needs Review

#18632 New Guidebook Additions
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
Labels: No C#, Status: Needs Review

#18401 Brute and Burn auto-injectors
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/bicpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/bicpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/dermpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/dermpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#18416 Lookup changes
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Shared/Blocking/BlockingSystem.cs
Labels: Status: Needs Review

#18458 Add prototype serialization tests.
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.IntegrationTests/Tests/PrototypeTests/PrototypeTests.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Holiday/Celebrate/DefaultHolidayCelebrate.cs
  Content.Server/Holiday/Greet/DefaultHolidayGreet.cs
  Content.Server/Holiday/HolidayPrototype.cs
  Content.Server/Holiday/ShouldCelebrate/DefaultHolidayShouldCelebrate.cs
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Alert/AlertOrderPrototype.cs
  Content.Shared/Body/Prototypes/BodyPrototypeSerializer.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Nutrition/Flavor.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Needs Engine PR, Status: Needs Review, Merge Conflict

#17520 Melee rebalancing
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Melee/MeleeWindupOverlay.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Shared/Weapons/Melee/Events/StartHeavyAttackEvent.cs
  Content.Shared/Weapons/Melee/Events/StopHeavyAttackEvent.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: Status: Needs Review

#18341 Added Candy Bowls for Waiting Lines
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Misc/candy_bowl.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Misc/candy_bowl.rsi/candy_bowl0.png
  Resources/Textures/Objects/Misc/candy_bowl.rsi/candy_bowl1.png
  Resources/Textures/Objects/Misc/candy_bowl.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#18743 changelog fixes
  Resources/Changelog/Changelog.yml
Labels: No C#

#18218 Fixed Kudzu Spread Falling Asleep After Containment
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Spreader/SpreadGroupUpdateRate.cs
  Content.Server/Spreader/SpreaderSystem.cs
Labels: Status: Needs Review

#18747 Fix mobs incorrectly being dynamic
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: No C#, Status: Needs Review

#18746 saltern candy bowls
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#18745 Taxibot fixes
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
Labels: No C#

#18735 pickaxe inhand resprite + wielded sprites
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/pickaxe.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#18751 Changelog fix for taxibot
  Resources/Changelog/Changelog.yml
Labels: No C#

#18728 Add radiators
  Content.Server/Atmos/Components/HeatExchangerComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/EntitySystems/HeatExchangerSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/heBend.png
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/heStraight.png
  Resources/Textures/Structures/Piping/Atmospherics/heatexchanger.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#18676 Adds Checkerboard Tiles, External Hull Plating, Hardened Reinforced Floors, & Monotile Dirty Decal
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Decals/dirty.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Decals/dirty.rsi/dirtheavy-mono.png
  Resources/Textures/Decals/dirty.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/checker-dark.png
  Resources/Textures/Objects/Tiles/tile.rsi/checker-light.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/cafeteria.png
  Resources/Textures/Tiles/checker_dark.png
  Resources/Textures/Tiles/hull.png
  Resources/Textures/Tiles/hull_reinforced.png
  Resources/Textures/Tiles/super_reinforced.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18754 stimulants increase stamina
  Content.Shared/Damage/Components/StaminaModifierComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.Modifier.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/status_effects.yml
Labels: Status: Needs Review

#18762 fixes brute and burn autoinjector inject amount
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#17648 fix reflected projectiles dealing stamina damage
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Projectiles/ProjectileCollideEvent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Weapons/Reflect/SharedReflectSystem.cs
Labels: Status: Awaiting Changes

#18766 Melee rebalancing rebalancing, high damage single-target attacks
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Status: Needs Review

#18769 Spawn Spaceshroom structure instead of item
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: No C#

#18774 Let flesh mobs and xenos climb tables
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: No C#

#18778 Explicitly set float.Parse culture. Again
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
Labels: Changes: UI

#18779 Make Shovel Item size 90
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#18787 Upscales the bleeding alert
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed0.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed1.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed10.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed2.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed3.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed4.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed5.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed6.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed7.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed8.png
  Resources/Textures/Interface/Alerts/bleed.rsi/bleed9.png
  Resources/Textures/Interface/Alerts/bleed.rsi/meta.json
Labels: No C#, Changes: Sprites

#18791 Make chemical analysis goggles cheaper to print
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: No C#

#18780 Validate that client prototypes are serializable
  Content.Client/Atmos/EntitySystems/AtmosPipeAppearanceSystem.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsComponent.cs
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.IntegrationTests/Tests/PrototypeTests/PrototypeTests.cs
  Content.Shared/Atmos/Components/PipeAppearanceComponent.cs
Labels: Status: Needs Review

#18770 Cull remaining Sprite netsync
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/base.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Furniture/sink.yml
Labels: No C#

#18805 Rename spacebucks to spesos
  Content.Server/Cargo/Systems/PricingSystem.cs
  Resources/Locale/en-US/barsign/barsign-component.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/cargo/price-gun-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
Labels: Status: Needs Review

#18799 Fix setmind command
  Content.Server/Administration/Commands/SetMindCommand.cs
  Resources/Locale/en-US/administration/commands/set-mind-command.ftl
Labels: Status: Needs Review

#18580 Examine throwable damage
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Components/DamageExaminableComponent.cs
  Content.Shared/Damage/Events/DamageExamineEvent.cs
  Content.Shared/Damage/Systems/DamageExamineSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Resources/Locale/en-US/damage/damage-examine.ftl
  Resources/Prototypes/Entities/Objects/base_item.yml
Labels: Status: Needs Review

#18809 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#18814 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#18816 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#18817 omega update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#18818 lava brig
  Resources/Maps/Dungeon/lava_brig.yml
Labels: No C#

#18456 Emaggable protolathe
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/EmagLatheComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review

#18802 Fix LoadPrototype admin button
  Content.Client/Administration/UI/Tabs/AdminbusTab/AdminbusTab.xaml.cs
Labels: Changes: UI, Status: Needs Review

#18806 Particle Accelerator power changed admin chat warning
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.ControlBox.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/particle-accelerator/particle-accelerator-admin.ftl
Labels: Status: Needs Review

#18827 Localize walls
  Resources/Locale/en-US/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/barricades.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/girders.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/grille.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/mountain.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/railing.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/walls.ftl
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#18813 Laser raptor fixes
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: No C#

#18772 New skirt in secdrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/security_grey.rsi/meta.json
Labels: No C#, Changes: Sprites

#18838 mined gas is worth 0
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#

#18839 increase bounty payout x10
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: No C#

#18829 Adding Syringe Support for Chemical Analysis Goggles
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#18842 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#18845 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#18846 fix arbitrage test
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: No C#

#16633 RPED can now add parts to in-progress machine frames
  Content.Server/Construction/Components/PartExchangerComponent.cs
  Content.Server/Construction/PartExchangerSystem.cs
Labels: Status: Needs Review

#18785 [Trait] Wheelchair bound
  Content.Server/Traits/Assorted/WheelchairBoundComponent.cs
  Content.Server/Traits/Assorted/WheelchairBoundSystem.cs
  Content.Shared/Traits/Assorted/LegsParalyzedComponent.cs
  Content.Shared/Traits/Assorted/LegsParalyzedSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Textures/Objects/Vehicles/wheelchair.rsi/inhand-left.png
  Resources/Textures/Objects/Vehicles/wheelchair.rsi/inhand-right.png
  Resources/Textures/Objects/Vehicles/wheelchair.rsi/meta.json
  Resources/Textures/Objects/Vehicles/wheelchair.rsi/vehicle.png
  Resources/Textures/Objects/Vehicles/wheelchair.rsi/vehicle_folded.png
Labels: Changes: Sprites, Status: Needs Review

#18855 Remove unused optimized ballistics loc string
  Resources/Locale/en-US/research/technologies.ftl
Labels: No C#, Status: Needs Review

#18857 Remove more references to high velocity ammo
  Content.YAMLLinter/Program.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review

#18859 Add SaveLoadSavePrototype test
  Content.IntegrationTests/Tests/Atmos/AlarmThresholdTest.cs
  Content.IntegrationTests/Tests/PrototypeSaveTest.cs
  Content.IntegrationTests/Tests/PrototypeTests/PrototypeTests.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/DeviceLinking/Components/AutoLinkReceiverComponent.cs
  Content.Server/DeviceLinking/Components/AutoLinkTransmitterComponent.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/IntrinsicUIComponent.cs
  Content.Server/UserInterface/OpenUiActionEvent.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
  Content.Shared/CartridgeLoader/CartridgeLoaderComponent.cs
  Content.Shared/Damage/DamageSpecifierDictionarySerializer.cs
  Content.Shared/FixedPoint/FixedPoint2.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: Needs Engine PR, Status: Needs Review

#18881 Revert "Localize walls (#18827)"
  Resources/Locale/en-US/prototypes/entities/structures/walls/asteroid.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/barricades.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/girders.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/grille.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/mountain.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/railing.ftl
  Resources/Locale/en-US/prototypes/entities/structures/walls/walls.ftl
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/barricades.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Structures/Walls/mountain.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#, Status: Needs Review

#18638 Access configurator
  Content.Client/Access/AccessOverriderSystem.cs
  Content.Client/Access/UI/AccessOverriderBoundUserInterface.cs
  Content.Client/Access/UI/AccessOverriderWindow.xaml
  Content.Client/Access/UI/AccessOverriderWindow.xaml.cs
  Content.Server/Access/Systems/AccessOverriderSystem.cs
  Content.Shared/Access/Components/AccessOverriderComponent.cs
  Content.Shared/Access/Systems/SharedAccessOverriderSystem.cs
  Resources/Locale/en-US/access/systems/access-overrider-system.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Textures/Objects/Tools/access_configurator.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/icon.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#18871 Increase technology disk price
  Resources/Prototypes/Entities/Objects/Specific/Research/disk.yml
Labels: No C#

#18866 brute and burn auto injector sprite fix
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#18777 Thrown batons deal stamina damage + stun baton prediction + visual effect
  Content.Client/Stunnable/StunbatonSystem.cs
  Content.Server/Stunnable/Components/StunbatonComponent.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Damage/Components/StaminaDamageOnCollideComponent.cs
  Content.Shared/Damage/Components/StaminaDamageOnHitComponent.cs
  Content.Shared/Damage/Events/StaminaDamageOnHitAttemptEvent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunbatonSystem.cs
  Content.Shared/Stunnable/StunbatonComponent.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review

#18890 /vg/ nuke sprite
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_base.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_deployed.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_exploding.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_safetyoff.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_timing.png
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbombc.png
Labels: No C#, Changes: Sprites

#18893 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#18895 Add More Fluff To Maintenance Spawners
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Tools/inflatable_wall.yml
Labels: No C#

#18896 Disables wheelchair trait
  Resources/Prototypes/Traits/disabilities.yml
Labels: No C#, Status: Needs Review

#18889 Space cat can survive in space
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#18878 Fix metabolizer exception
  Content.Server/Body/Systems/MetabolizerSystem.cs
Labels: Status: Needs Review

#18849 saltern teg groundworks and comms fix
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map
