Repository space-wizards/space-station-14, pull requests merged in 2023-06, with the labels that each got.

#17004 add whitelist components to CE belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#17038 Board price
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/misc.yml
Labels: No C#

#17000 remove useless tip
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#17047 Fix failing MaterialArbitrageTest
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
Labels: No C#

#16955 bypass interaction range checks for aghosts
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#17046 Fix cowelding tool healing blunt damage
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
Labels: No C#

#17011 Storage bugfixes.
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Resources/Locale/en-US/components/storage-component.ftl
Labels: Status: Needs Review

#17054 add ointment and bruise packs to medfab
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#

#17063 Fix drinks.yml physicalDesc
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: No C#, Status: Needs Review

#17062 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#17080 Swords now use bladeslice.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#

#17099 Add funny hampter plushie
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_hampter.png
Labels: Changes: Sprites, Status: Needs Review

#17090 Adds some Janitorial GuideHelp tags.
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: No C#

#17049 Use THE() for SecretStash
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
  Resources/Locale/en-US/storage/components/secret-stash-component.ftl
Labels: Status: Needs Review

#17067 Add RadiationBlocker to uranium window
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: No C#

#17070 Fix the AdjStationJob command
  Content.Server/Administration/Commands/Station/AdjustStationJobCommand.cs
Labels: Status: Needs Review

#16866 Triple strength of THC
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#, Status: Needs Review

#16597 Update puddle stickiness
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Movement/Components/SlowContactsComponent.cs
  Content.Shared/Movement/Systems/SlowContactsSystem.cs
Labels: Status: Needs Review

#17106 change 70 liter volume tanks to 15 liter
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#17040 dungeon carp and dragon
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Procedural/biome_markers.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
Labels: No C#, Status: Needs Review

#17091 add records console to aghost
  Resources/Locale/en-US/robotics/ai-actions.ftl
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: No C#, Status: Needs Review

#16769 Medical Doctor guidebook.
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/biomass_reclaimer.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Medical/Medical Doctor.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
Labels: No C#, Status: Needs Review

#17093 Fix guidebook examine not working in lobby
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
  Content.Client/Guidebook/GuidebookSystem.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/Verbs/Verb.cs
Labels: Changes: UI

#17120 Chef Guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Chef.xml
  Resources/ServerInfo/Guidebook/Food Recipes.xml
Labels: No C#, Status: Needs Review

#17127 Replace industrial welder with experimental welder for Advanced Tools tech
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#

#17126 Spears and Bats are big now
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
Labels: No C#

#17081 [SG] IHS remove
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#17037 Brigmedic startgear
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#17071 Fix shield modifiers
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/Components/BlockingComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Status: Needs Review

#17095 Transit: NEW Evacuation shuttle
  Resources/Maps/Shuttles/emergency_transit.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: No C#, Changes: Map, Status: Needs Review

#17102 Misc replay related changes
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Gameplay/GameplayState.cs
  Content.Client/MainMenu/UI/MainMenuControl.xaml.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/ChatChannel.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Changes: UI, Status: Needs Review

#15001 Replay client
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Replay/ContentReplayPlaybackManager.cs
  Content.Client/Replay/LoadReplayJob.cs
  Content.Client/Replay/ReplayConGroup.cs
  Content.Client/Replay/Spectator/ReplaySpectatorComponent.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Blockers.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Movement.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.cs
  Content.Client/Replay/UI/Loading/LoadingScreen.cs
  Content.Client/Replay/UI/Loading/LoadingScreenControl.xaml
  Content.Client/Replay/UI/Loading/LoadingScreenControl.xaml.cs
  Content.Client/Replay/UI/ReplayGhostState.cs
  Content.Client/Replay/UI/ReplaySpectateEntityState.cs
  Content.Replay/Content.Replay.csproj
  Content.Replay/EntryPoint.cs
  Content.Replay/GlobalUsings.cs
  Content.Replay/Menu/ReplayMainMenu.cs
  Content.Replay/Menu/ReplayMainMenuControl.xaml
  Content.Replay/Menu/ReplayMainMenuControl.xaml.cs
  Content.Replay/Menu/SelectReplayWindow.xaml
  Content.Replay/Menu/SelectReplayWindow.xaml.cs
  Content.Replay/Program.cs
  Resources/Locale/en-US/replays/replays.ftl
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/base.png
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/mommi.rsi/wiggle.png
  SpaceStation14.sln
Labels: Needs Engine PR, Changes: UI, Holy Shit, Size: Very Large, Changes: Sprites, Status: Needs Review

#14735 More gendered sprite masks
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/female_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/male_top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/meta.json
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/top.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_full.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_none.png
  Resources/Textures/Mobs/Customization/masking_helpers.rsi/unisex_top.png
Labels: Changes: Sprites, Status: Needs Review

#17142 Give categories to some reagents
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/juice.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#, Status: Needs Review

#17143 Bartender guide
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/ServerInfo/Guidebook/Bartender.xml
Labels: No C#, Status: Needs Review

#17145 Chemist Guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
Labels: No C#, Status: Needs Review

#17138 GuideHelp Tags for Medical + Chef
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
Labels: No C#

#17148 Make mop buckets/trolleys spillable again.
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: No C#

#17151 Fix observer command & button
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Movement.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Position.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Spectate.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.cs
  Resources/Locale/en-US/replays/replays.ftl
Labels: Status: Needs Review

#17167 defib tweaks
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Locale/en-US/medical/components/defibrillator.ftl
Labels: Status: Needs Review

#17139 Seclite does 10 blunt
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: No C#

#17174 Botany light balance patch
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#

#17150 Adds Bingus and Space Cat spawners
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: No C#

#17124 No more bloodbag mouse.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#17169 only show flavor above 0.1u
  Content.Server/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
Labels: Status: Needs Review

#16864 Refactoring of roles and notifications about antagonist assignment
  Content.Server/GameTicking/Rules/Components/NukeOperativeComponent.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/PiratesRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Objectives/Conditions/RandomTraitorProgressCondition.cs
  Content.Server/Objectives/Requirements/TraitorRequirement.cs
  Content.Server/Roles/AntagonistRole.cs
  Content.Server/Roles/NukeopsRole.cs
  Content.Server/Roles/TraitorRole.cs
  Content.Server/Roles/ZombieRole.cs
  Content.Server/Store/Conditions/BuyerAntagCondition.cs
  Content.Server/Traitor/TraitorRole.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/nukeops_start.ogg
  Resources/Audio/Ambience/Antag/pirate_start.ogg
  Resources/Audio/Ambience/Antag/traitor_start.ogg
  Resources/Audio/Ambience/Antag/zombie_start.ogg
  Resources/Audio/Misc/license.txt
Labels: Status: Needs Review

#17162 Guidebook links
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Content.Client/UserInterface/Controls/FancyTree/FancyTree.xaml.cs
Labels: Changes: UI, Status: Needs Review

#17159 fix missing cogchamp effect text
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
Labels: No C#, Status: Needs Review

#16058 Reagent "Fat" and reactions for soapification and meatification
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/arachnid.yml
  Resources/Prototypes/Body/Parts/human.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
  Resources/Prototypes/Body/Parts/vox.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: No C#, Status: Needs Review

#17097 Removes linter warnings from the PDA module
  Content.Client/PDA/PDAMenu.xaml.cs
  Content.Client/PDA/PDAProgramItem.xaml.cs
  Content.Client/PDA/PDASettingsButton.xaml.cs
  Content.Client/PDA/PDASystem.cs
  Content.Client/PDA/PDAWindow.xaml.cs
  Content.Client/PDA/Ringer/RingtoneMenu.xaml.cs
  Content.Server/PDA/PDASystem.cs
  Content.Server/PDA/Ringer/RingerComponent.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Shared/PDA/PDAMessagesUI.cs
  Content.Shared/PDA/Ringer/RingerMessagesUI.cs
  Content.Shared/PDA/SharedPDASystem.cs
Labels: Changes: UI

#17194 Fix teleport here for grids
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#17192 Add cargo pallet to cargo products
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
Labels: No C#

#16903 add breakers to power batteries
  Content.Server/Power/Components/BreakerComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BreakerSystem.cs
  Content.Server/Power/Events/BreakerPoppedEvent.cs
  Resources/Locale/en-US/apc/components/apc-component.ftl
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Status: Needs Review

#17180 Change sprites for some medipens
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#, Status: Needs Review

#16943 logic gate stuff
  Content.Server/DeviceLinking/Components/EdgeDetectorComponent.cs
  Content.Server/DeviceLinking/Components/LogicGateComponent.cs
  Content.Server/DeviceLinking/Components/OrGateComponent.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/EdgeDetectorSystem.cs
  Content.Server/DeviceLinking/Systems/LogicGateSystem.cs
  Content.Server/DeviceLinking/Systems/OrGateSystem.cs
  Content.Shared/DeviceLinking/SharedLogicGate.cs
  Resources/Locale/en-US/logic-gates/logic-gates.ftl
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Structures/gates.yml
  Resources/Prototypes/MachineLinking/receiver_ports.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/logic_gate.yml
  Resources/Prototypes/Recipes/Construction/tools.yml
  Resources/Textures/Objects/Devices/gates.rsi/and.png
  Resources/Textures/Objects/Devices/gates.rsi/base.png
  Resources/Textures/Objects/Devices/gates.rsi/edge_detector.png
  Resources/Textures/Objects/Devices/gates.rsi/meta.json
  Resources/Textures/Objects/Devices/gates.rsi/nand.png
  Resources/Textures/Objects/Devices/gates.rsi/nor.png
  Resources/Textures/Objects/Devices/gates.rsi/or.png
  Resources/Textures/Objects/Devices/gates.rsi/or_icon.png
  Resources/Textures/Objects/Devices/gates.rsi/xnor.png
  Resources/Textures/Objects/Devices/gates.rsi/xor.png
  Resources/migration.yml
Labels: Changes: Sprites, Status: Needs Review

#17104 add an event to prevent gun shooting
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Shared/Weapons/Ranged/Events/ShotAttemptedEvent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review

#17187 Emotion
  Resources/Audio/Effects/Emotes/attributions.yml
  Resources/Audio/Effects/Emotes/salute.ogg
  Resources/Audio/Voice/Human/attributions.yml
  Resources/Audio/Voice/Human/cry_female_1.ogg
  Resources/Audio/Voice/Human/cry_female_2.ogg
  Resources/Audio/Voice/Human/cry_female_3.ogg
  Resources/Audio/Voice/Human/cry_female_4.ogg
  Resources/Audio/Voice/Human/cry_male_1.ogg
  Resources/Audio/Voice/Human/cry_male_2.ogg
  Resources/Audio/Voice/Human/cry_male_3.ogg
  Resources/Audio/Voice/Human/cry_male_4.ogg
  Resources/Audio/Voice/Human/whistle_1.ogg
  Resources/Audio/Voice/Human/whistle_2.ogg
  Resources/Audio/Voice/Human/whistle_3.ogg
  Resources/Audio/Voice/Human/whistle_4.ogg
  Resources/Audio/Voice/Slime/attributions.yml
  Resources/Audio/Voice/Slime/slime_squish.ogg
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#, Status: Needs Review

#16393 HAMTR mech (hamster mech) (needs review)
  Content.Server/Mech/Systems/MechEquipmentSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Shared/Mech/Components/MechComponent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
  Resources/Locale/en-US/mech/mech.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/mech.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mech_construction.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mecha_equipment.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Construction/Graphs/mechs/hamtr_construction.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr0.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr1.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr10.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr11.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr12.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr13.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr14.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr15.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr16.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr17.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr18.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr2.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr3.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr4.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr5.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr6.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr7.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr8.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr9.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_chassis.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_harness+o.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_harness.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_l_arm+o.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_l_arm.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_l_leg+o.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_l_leg.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_r_arm+o.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_r_arm.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_r_leg+o.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/hamtr_r_leg.png
  Resources/Textures/Objects/Specific/Mech/hamtr_construction.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hamtr-broken.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hamtr-open.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/hamtr.png
  Resources/Textures/Objects/Specific/Mech/mecha.rsi/meta.json
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/mecha_clamp_small.png
  Resources/Textures/Objects/Specific/Mech/mecha_equipment.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#16386 [Tweak] Default to Traitor instead of Extended when possible
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
Labels: Status: Needs Review

#16708 clean up glass sheets and make their destruction consistent
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
Labels: No C#

#17078 L6 Wielded Sprites
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#17100 Fill in new clientAssemblies list on resource manifest
  Resources/manifest.yml
  Tools/package_client_build.py
Labels: No C#

#17057 RND server boards
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Textures/Structures/Machines/server.rsi/server_o.png
Labels: No C#, Changes: Sprites

#17221 CODEOWNER's ServerInfo assigment fix
  .github/CODEOWNERS
Labels: No C#

#17217 Update nixpkgs to 23.05, improve direnv integration and flake devShell
  .envrc
  flake.lock
  flake.nix
  shell.nix
Labels: No C#

#17210 kettle tweaks
  Resources/Maps/kettle.yml
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#17223 remove useless tip
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#17224 fix chem book causing fails
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#

#17233 Omega
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#17234 meta apc
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#17164 artifact extract tweaks
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleBoundUserInterface.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Xenoarchaeology/Equipment/Components/AnalysisConsoleComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Components/ArtifactAnalyzerComponent.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactAnalyzer.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-analyzer.ftl
Labels: Changes: UI, Status: Needs Review

#17244 Remove Multitools From Salvagers
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: No C#

#17248 Fix cargo pallet collision
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
Labels: No C#

#17240 dont lock escape pod
  Resources/Maps/Shuttles/escape_pod_small.yml
Labels: No C#

#17241 add CannotSuicide to queen and dragon
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#17267 Add grille cut logs
  Resources/Prototypes/Recipes/Construction/Graphs/structures/grille.yml
Labels: No C#

#17266 Add AME shielding welding logs
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/ame_shielding.yml
Labels: No C#

#16378 Add the White Gilgamesh
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/drinks.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#, Status: Needs Review

#17276 Aspid 1.1
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#17198 logic gate momentary pulse, switch status port
  Content.Server/DeviceLinking/Components/SignalSwitchComponent.cs
  Content.Server/DeviceLinking/Systems/LogicGateSystem.cs
  Content.Server/DeviceLinking/Systems/SignalSwitchSystem.cs
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/MachineLinking/transmitter_ports.yml
Labels: Status: Needs Review

#17286 Fixes a minor error in the Food Recipes guidebook.
  Resources/ServerInfo/Guidebook/Food Recipes.xml
Labels: No C#, Status: Needs Review

#17290 nerf xeno speeds + add some xenos to faction
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
Labels: No C#

#16763 make salvage magnets upgradable with capacitors
  Content.Server/Salvage/SalvageMagnetComponent.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Shared/Salvage/SharedSalvageMagnetComponent.cs
  Resources/Locale/en-US/salvage/salvage-system.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/salvage.yml
Labels: Status: Needs Review

#16799 Door opening tweaks
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: Status: Needs Review

#17315 bluespace anomaly / portal bug fixes
  Content.Server/Anomaly/Components/BluespaceAnomalyComponent.cs
  Content.Server/Anomaly/Effects/BluespaceAnomalySystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
Labels: Status: Needs Review

#16686 Sheet-meister 2000
  Content.IntegrationTests/Tests/Materials/MaterialTests.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/tiles.yml
  Resources/Prototypes/Recipes/Crafting/tiles.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Mobs/Aliens/flesh.rsi/lover.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meat-inhand-left.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meat-inhand-right.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meat.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meat_2.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meat_3.png
  Resources/Textures/Objects/Materials/Sheets/meaterial.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/meat-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/meat-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/meat.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/meat.png
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Machines/sheetifier.rsi/base_machine.png
  Resources/Textures/Structures/Machines/sheetifier.rsi/base_machine_processing.png
  Resources/Textures/Structures/Machines/sheetifier.rsi/buttons_on.png
  Resources/Textures/Structures/Machines/sheetifier.rsi/meta.json
  Resources/Textures/Structures/Walls/meat.rsi/full.png
  Resources/Textures/Structures/Walls/meat.rsi/meat0.png
  Resources/Textures/Structures/Walls/meat.rsi/meat1.png
  Resources/Textures/Structures/Walls/meat.rsi/meat2.png
  Resources/Textures/Structures/Walls/meat.rsi/meat3.png
  Resources/Textures/Structures/Walls/meat.rsi/meat4.png
  Resources/Textures/Structures/Walls/meat.rsi/meat5.png
  Resources/Textures/Structures/Walls/meat.rsi/meat6.png
  Resources/Textures/Structures/Walls/meat.rsi/meat7.png
  Resources/Textures/Structures/Walls/meat.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#16615 Corpses spawners
  Resources/Prototypes/Entities/Markers/Spawners/corpses.yml
Labels: No C#

#16568 Added a new cryogenics chemical - Doxarubixadone!
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#17271 Connect to the closest ExtensionCable instead of the first
  Content.IntegrationTests/Tests/Power/PowerTest.cs
  Content.Server/Power/EntitySystems/ExtensionCableSystem.cs
Labels: Status: Needs Review

#17316 wallmount gen board cheaper
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#17339 devmap resave and cargo dock/computers
  Resources/Maps/Test/dev_map.yml
Labels: No C#

#17336 half bloodred slowdown
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#17322 put multitool in susbox
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: No C#

#17331 robust harvest 1984
  Resources/Prototypes/Reagents/botany.yml
Labels: No C#, Status: Needs Review

#17272 smol departments.yml description fix
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: No C#

#17314 Change PvsOverrideSystem captialization
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
Labels: Needs Engine PR

#17250 Add network configurator to non-engi utility belt fill
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: No C#

#17258 [Add] Adds pirate accent trait
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/neutral.yml
Labels: No C#, Status: Needs Review

#17132 Condiment bottle tweaks
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
Labels: No C#

#17201 Fix cables getting 1 morbillion serializations
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: No C#

#17196 adds a link to the science entry from robotics
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
Labels: No C#

#16966 Dumplings
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/dumplings.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#16678 Behonker and Clown Spider (ready for merge)
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/clownspiderstep1.ogg
  Resources/Audio/Effects/Footsteps/clownspiderstep2.ogg
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/laser_clown.ogg
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Body/Prototypes/behonker.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Textures/Mobs/Animals/clownspider.rsi/clown.png
  Resources/Textures/Mobs/Animals/clownspider.rsi/dead.png
  Resources/Textures/Mobs/Animals/clownspider.rsi/meta.json
  Resources/Textures/Mobs/Demons/behonker.rsi/alive.png
  Resources/Textures/Mobs/Demons/behonker.rsi/dead.png
  Resources/Textures/Mobs/Demons/behonker.rsi/meta.json
  Resources/Textures/Objects/Misc/spiderweb.rsi/meta.json
  Resources/Textures/Objects/Misc/spiderweb.rsi/spider_web_clown_1.png
  Resources/Textures/Objects/Misc/spiderweb.rsi/spider_web_clown_2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/behonker_eye.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/behonker_eye.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#17328 More user friendly crew monitor UI
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/en-US/medical/components/crew-monitoring-component.ftl
Labels: Changes: UI, Status: Needs Review

#17304 In game guide books
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-service.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/ServerInfo/Guidebook/Engineering/AME.xml
  Resources/ServerInfo/Guidebook/Engineering/Atmospherics.xml
  Resources/ServerInfo/Guidebook/Engineering/Construction.xml
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/NetworkConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/Networking.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Engineering/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
  Resources/ServerInfo/Guidebook/Service/Chef.xml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: No C#, Status: Needs Review

#17318 give shuttle airlocks a wire layout
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: No C#

#17347 fix bluespace syringe test fails
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#16791 ECS Arcade Machines
  Content.Client/Arcade/BlockGameMenu.cs
  Content.Client/Arcade/SpaceVillainArcadeMenu.cs
  Content.Client/Arcade/UI/BlockGameBoundUserInterface.cs
  Content.Client/Arcade/UI/SpaceVillainArcadeBoundUserInterface.cs
  Content.Server/Arcade/ArcadeSystem.BlockGame.cs
  Content.Server/Arcade/ArcadeSystem.SpaceVillain.cs
  Content.Server/Arcade/ArcadeSystem.cs
  Content.Server/Arcade/BlockGame/BlockGame.GameState.cs
  Content.Server/Arcade/BlockGame/BlockGame.Pieces.cs
  Content.Server/Arcade/BlockGame/BlockGame.Ui.cs
  Content.Server/Arcade/BlockGame/BlockGame.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeComponent.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/Components/BlockGameArcadeComponent.cs
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.Fighter.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.Ui.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainGame.cs
  Content.Server/Arcade/WireActions/ArcadeInvincibilityWireActions.cs
  Content.Server/Arcade/WireActions/ArcadeOverflowWireAction.cs
  Content.Shared/Arcade/BlockGameBlock.cs
Labels: Status: Needs Review

#17332 Fix foam artifacts
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/FoamArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/FoamArtifactSystem.cs
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Status: Needs Review

#16611 [Sprites] guitar back and some resprites
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/blue_flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/flame_welding_mask.rsi/meta.json
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/icon.png
  Resources/Textures/Clothing/Head/Welding/paintedwelding.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#17110 make mice not eat uranium bananium and pills
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Nutrition/Components/BadFoodComponent.cs
  Content.Server/Nutrition/Components/IgnoreBadFoodComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#17349 Allow specific entities to bypass DoAfter delays
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#17293 Ice anomaly buff (anti-box maneuvers)
  Content.Server/Anomaly/Components/ProjectileAnomalyComponent.cs
  Content.Server/Anomaly/Effects/ProjectileAnomalySystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: Status: Needs Review

#17363 Color Coded Anchor Examine Text
  Resources/Locale/en-US/examine/examine-system.ftl
Labels: No C#, Status: Needs Review

#16972 expedition rewards
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Events/CargoConsoleAddOrderMessage.cs
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: Changes: UI, Status: Needs Review

#17200 fix transit power
  Resources/Maps/Shuttles/emergency_transit.yml
Labels: No C#

#17373 arrivals grid name
  Resources/Maps/Shuttles/arrivals.yml
Labels: No C#

#17375 bagel silly update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#17377 add airlock pry logs
  Content.Server/Doors/Systems/DoorSystem.cs
Labels: Status: Needs Review

#17386 ClownHardsuit Fix
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/clown_hardsuit.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#16605 Zooming for everyone with keyboard keys
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#17392 Remove static ILocalizationManager resolves.
  Content.Client/Crayon/CrayonSystem.cs
  Content.Client/NetworkConfigurator/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Armor/ArmorSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Examine/ExamineSystem.cs
Labels: Status: Needs Review

#17393 move hamtr to civilian services tech
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/experimental.yml
Labels: No C#, Status: Needs Review

#17374 use parts crates for rewards, show rewards in ui
  Content.Client/Salvage/UI/SalvageExpeditionWindow.xaml.cs
  Content.Server/Salvage/Expeditions/SalvageExpeditionComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Procedural/Loot/DungeonClusterLoot.cs
  Content.Shared/Salvage/SalvageExpeditions.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Locale/en-US/procedural/expeditions.ftl
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: Changes: UI, Status: Awaiting Changes

#17245 shield values examine
  Content.Shared/Blocking/BlockingSystem.User.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Blocking/Components/BlockingComponent.cs
  Content.Shared/Blocking/Components/BlockingUserComponent.cs
  Resources/Locale/en-US/blocking/blocking-examine.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Status: Needs Review

#17247 Update barratry
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#17402 Fixes armour values for bio suits and winter coats
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: No C#

#17404 fix transit atmos
  Resources/Maps/Shuttles/emergency_transit.yml
Labels: No C#

#17342 cargo guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Cargo.xml
Labels: No C#, Status: Needs Review

#17406 slimes.yml cleaning
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: No C#

#17418 remove zombie bundle from nukie uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#17421 Add bananium ore to expedition loot
  Resources/Prototypes/Procedural/salvage_loot.yml
Labels: No C#

#17411 Dwarf Accent Expansion
  Resources/Locale/en-US/accent/dwarf.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#, Status: Needs Review

#17420 Artifact Fragments
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/artifact.yml
  Resources/Prototypes/Recipes/Crafting/artifact.yml
  Resources/Prototypes/ore.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball3.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball4.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball5.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/ancientball6.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball3.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball4.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball5.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/eldritchball6.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball3.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball4.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball5.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/martianball6.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/meta.json
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball3.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball4.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball5.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/precursorball6.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball1.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball2.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball3.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball4.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball5.png
  Resources/Textures/Objects/Specific/Xenoarchaeology/artifact_fragments.rsi/wizardball6.png
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_artifact_fragment.png
Labels: No C#, Changes: Sprites

#17430 Remove spare CE belt
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#17428 Fix bagel test
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#17399 Fix damage visuals not resetting in some cases
  Content.Client/Damage/DamageVisualsSystem.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Status: Needs Review

#17410 Fix monkey jumpsuits
  Content.Client/Clothing/ClientClothingSystem.cs
Labels: Status: Needs Review

#17168 Add support for client-side replays
  Content.Client/Popups/PopupSystem.cs
  Content.Client/Replay/ContentReplayPlaybackManager.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Position.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Spectate.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.cs
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Replay/Menu/ReplayMainMenu.cs
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/clientCommandPerms.yml
  Resources/engineCommandPerms.yml
Labels: Needs Engine PR, Status: Needs Review

#17433 Make suit storage units anchored, heavier, thicker
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: No C#

#17227 Adds Double bladed Esword
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/e_sword_double.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/e_sword_double_blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/e_sword_double.rsi/wielded-inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#17366 update command role requirements
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
Labels: No C#

#17400 Arsenal tech discipline
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/disciplines.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Interface/Misc/research_disciplines.rsi/arsenal.png
  Resources/Textures/Interface/Misc/research_disciplines.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/hvdisplay.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/incendiarydisplay.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#17443 Fix security techfab having protolathe recipes
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Changes: UI

#17438 Set marker drawdepth to Overdoors
  Resources/Prototypes/Entities/Markers/marker_base.yml
Labels: No C#

#17445 CE belt in locker again, CE doesn't spawn with it.
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
Labels: No C#

#17444 ERT and Death Squad gas mask
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Mask/ert.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/ert.rsi/icon.png
  Resources/Textures/Clothing/Mask/ert.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/ert.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/ert.rsi/meta.json
  Resources/Textures/Clothing/Mask/squadron.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/squadron.rsi/icon.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/squadron.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/squadron.rsi/meta.json
Labels: No C#, Changes: Sprites

#17447 machine part resprite
  Resources/Textures/Objects/Misc/stock_parts.rsi/adv_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/advanced_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/bluespace_matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/femto_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/matter_bin.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/meta.json
  Resources/Textures/Objects/Misc/stock_parts.rsi/micro_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/nano_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/pico_mani.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/quadratic_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_capacitor.png
  Resources/Textures/Objects/Misc/stock_parts.rsi/super_matter_bin.png
Labels: No C#, Changes: Sprites

#17449 Make BOH require less uranium
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: No C#

#17448 Remove security techfab board from expedition loot
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: No C#
