Repository space-wizards/space-station-14, pull requests merged in 2023-12, with the labels that each got.

#22030 aspid christmas update
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#22031 atlas christmas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#22032 bagel christmas update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#22033 barratry christmas update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#22034 box christmas update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#22036 cluster christmas update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#22038 marathon christmas update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#22039 meta christmas update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#22040 omega christmas update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#22041 packed christmas update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#22042 saltern christmas update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#22043 centcomm christmas update
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#22044 nukieplanet christmas update
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#22021 Cryostasis syringe
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/cryo_base0.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#22047 Add more playaudio debugging
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
Labels: Status: Needs Review

#22048 Classic business hair
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/classicbusiness.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#, Changes: Sprites

#22050 Add more global audio debugging yipee
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
Labels: Status: Needs Review

#22052 merry christmas core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#22053 Gave HighSecDoor AccessReaderComponent
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
Labels: No C#

#22054 Winter boot colour fix
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#22051 Improve/fix senior physician beret
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Textures/Clothing/Head/Hats/beret_physician.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_physician.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_physician.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_physician.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_physician.rsi/meta.json
Labels: No C#, Changes: Sprites

#22057 Add even more logging to audio debug comm
  Content.Server/Administration/Commands/PlayGlobalSoundCommand.cs
Labels: Status: Needs Review

#22066 Origin Station Update 01.12.2023 (Christmas)
  Resources/Maps/origin.yml
Labels: No C#, Changes: Map

#21866 Kettle -> Gemini: RnD and Atmos revamp
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Maps/gemini.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/gemini.yml
  Resources/map_attributions.txt
Labels: Changes: Map, Status: Needs Review

#22063 Reduced the fuel decay rate on radiation collectors
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
Labels: No C#

#21957 Lizards can now have taco tuesdays
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
Labels: No C#

#21864 Nerf mothroaches slightly + make them not able to pull
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#22092 Research Server Stripe Texture
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Textures/Structures/Machines/server.rsi/meta.json
  Resources/Textures/Structures/Machines/server.rsi/variant-research.png
Labels: No C#, Changes: Sprites

#21833 added new chemical called Sodium Polyacrylate
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: No C#

#21785 Refactor NPCRetaliationSystem::Update to fix crash caused by Debug Assertion
  Content.Server/NPC/Systems/NPCRetaliationSystem.cs
Labels: Status: Needs Review

#21756 Botany balancing fixes and QoL ('No romerol ambrosia' edition)
  Content.Server/Botany/Systems/MutationSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Hydroponics/mutations.yml
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: Status: Needs Review

#21713 added Dark Green Jumpsuits and Jumpskirts to the Clothesmate
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: No C#

#21929 fix anom scanner interact check
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
Labels: Status: Needs Review

#21737 Add New Reaction : Oil into Ash Reaction
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: No C#

#20958 Ghetto Mindshield Icon
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Shared/Mindshield/Components/MindShieldComponent.cs
  Resources/Prototypes/StatusIcon/antag.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/MindShield.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites

#22096 fix dragon threat
  Resources/Prototypes/threats.yml
Labels: No C#

#21960 Editable "NeedsHands" for SharedPullerComponent using SharedPullingStateManagementSystem
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
Labels: Status: Needs Review

#22085 Replace Crusher Glaive with Crusher in guidebook
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
Labels: No C#, Status: Needs Review

#19670 Decorative Flags (also handheld flags)
  Resources/Prototypes/Entities/Objects/Misc/handy_flags.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Textures/Objects/Misc/Handy_Flags/NT_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/NT_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/NT_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/NT_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/blank_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/blank_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/blank_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/blank_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/lgbtq_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/lgbtq_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/lgbtq_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/lgbtq_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/pirate_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/pirate_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/pirate_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/pirate_handy_flag.rsi/meta.json
  Resources/Textures/Objects/Misc/Handy_Flags/syndie_handy_flag.rsi/icon.png
  Resources/Textures/Objects/Misc/Handy_Flags/syndie_handy_flag.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/Handy_Flags/syndie_handy_flag.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/Handy_Flags/syndie_handy_flag.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/flags.rsi/NT_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/blank_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/lgbtq_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/flags.rsi/pirate_flag.png
  Resources/Textures/Structures/Wallmounts/flags.rsi/syndie_flag.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#20035 Add gas tanks throw damage
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Throwing/IThrown.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownEvent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: Needs Discussion, Status: Needs Review, Status: Awaiting Changes

#21807 localize damage type in armor examine description
  Content.Shared/Armor/SharedArmorSystem.cs
  Resources/Locale/en-US/armor/armor-examine.ftl
Labels: Status: Needs Review

#22136 fix humanoid fire visuals missing
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: No C#, Status: Needs Review

#22134 fix ghost command damage when in crit
  Content.Server/GameTicking/GameTicker.GamePreset.cs
Labels: Status: Needs Review

#22129 add sodium and exterior lights to the autolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#

#22128 allow the jaws of life to fit in the utility belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#22117 Fix conveyors to allow doors to close over top
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
  Content.Shared/Physics/CollisionGroup.cs
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: Status: Needs Review

#22115 Pun pun can become a revolutionary again
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#21999 Fancy speech bubbles - Names over speech bubbles + 1:1 chat parity for emotes and LOOC
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#22113 Makes a whole bunch of raw materials grindable
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
Labels: No C#

#22068 Banana Clown Outfit
  Content.Shared/Clothing/Components/SkatesComponent.cs
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/clown_banana.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Mask/clown_banana.rsi/equipped-MASK-hamster.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/icon.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/clown_banana.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Specific/clown_banana.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/clown_banana.rsi/meta.json
Labels: Changes: Sprites

#22137 global radio for observers
  Content.Server/Radio/Components/ActiveRadioComponent.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Status: Needs Review

#22098 Change Biometrics after using DNA Scrambler Implant
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
Labels: Status: Needs Review

#22139 Fix Christmas tree bounding box
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: No C#

#22150 Adds the paramedic job to barratry
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#22151 adds paramedic to marathon
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: No C#, Changes: Map, Status: Needs Review

#22148 lower chloral hydrate effect minimum to 10u (requires 11u to sleep)
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#

#22143 Removed inadequate hunger in mice
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Prototypes/Animal/animal.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Status: Needs Review

#22146 Removes paramedic suit from medidrobe
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: No C#

#22149 Action Cooldowns Reset on Rejuvenate
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Status: Needs Review

#22154 reduce lines in gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#22073 Add water cups to water coolers
  Content.Shared/Storage/EntitySystems/BinSystem.cs
  Resources/Locale/en-US/entity-systems/bin/bin-system.ftl
  Resources/Locale/en-US/prototypes/entities/structures/storage/tanks/tanks.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: Status: Needs Review

#22144 Cyborg assembly no longer need a power cell
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
Labels: No C#

#22163 Change points per node to 6500
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactComponent.cs
Labels: Status: Needs Review

#22161 Grid inventory fixes
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Textures/Interface/Default/Storage/tile_blocked_opaque.png
  Resources/Textures/Interface/Default/Storage/tile_empty_opaque.png
Labels: Changes: UI

#22167 Change combat boots to a 2x1 grid
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: No C#

#21927 Adds scarfs to Secdrobe and hydrobe.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
Labels: No C#

#21920 Fix wallmount board dropping at random side of the wall
  Content.Server/Construction/Completions/EmptyAllContainers.cs
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/firelock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/secretdoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/shuttle.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/air_alarms.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/intercom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/station_maps.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/timer.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
Labels: Status: Needs Review

#22165 Add public methods to relay inventory events
  Content.Shared/Inventory/InventorySystem.Relay.cs
Labels: Status: Needs Review

#22177 Gemini hotfixes
  Resources/Maps/gemini.yml
Labels: No C#, Changes: Map

#20848 Disposals chute make it go splat
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Status: Awaiting Changes

#22173 EMT belt part 1
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
Labels: No C#

#22185 Options should be statements, not questions
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: No C#

#22186 make boots with storage use itemslot
  Resources/Locale/en-US/clothing/boots.ftl
  Resources/Prototypes/Catalog/Fills/Items/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
Labels: No C#

#22184 trim bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
Labels: No C#

#22189 saltern dispenser update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#22190 atlas dispenser update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#22201 Inventory sprite rotation
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Shared/Item/ItemComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/storage.png
  Resources/Textures/Objects/Tools/wrench.rsi/meta.json
  Resources/Textures/Objects/Tools/wrench.rsi/storage.png
Labels: Changes: Sprites

#22202 tweak crowbar storage sprites
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/storage.png
Labels: No C#, Changes: Sprites

#22200 Lizard Underbelly Marking
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_underbelly.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: No C#, Changes: Sprites

#22168 Mirror speed penalty for worn duffels and hardsuits when in-hand
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Relay.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Item/HeldSpeedModifierComponent.cs
  Content.Shared/Item/HeldSpeedModifierSystem.cs
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Status: Needs Review

#21788 Inventory slot enumerator rejig
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnCollideSystem.cs
  Content.Server/Inventory/ServerInventorySystem.cs
  Content.Server/Movement/StressTestMovementSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Helpers.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Clothing.cs
Labels: Status: Needs Review

#22210 Classic Cornrows 2
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/classiccornrows2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#, Changes: Sprites

#22228 Paramedic loses external access
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
Labels: No C#

#22223 Psychologist bed
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Textures/Structures/Furniture/furniture.rsi/meta.json
  Resources/Textures/Structures/Furniture/furniture.rsi/psychbed.png
Labels: No C#, Changes: Sprites

#22243 restore chemical explosions to previous states
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/pyrotechnic.yml
Labels: No C#

#22238 keybinds for opening bag/belt & context logic for opening storage window
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageContainer.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/keybinds.yml
Labels: Changes: UI

#22230 give command staff brig access
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#22112 Fixes reptilian "full" sprite + adds reptilian template to the raw sprites folder
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/full.png
  Resources/Textures/Template/Humanoid/human.png
  Resources/Textures/Template/Humanoid/reptilian.png
  Resources/Textures/Template/softsuits.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#21733 Fixed credits action failing
  .github/workflows/update-credits.yml
Labels: No C#

#22248 knives get throwing damage
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: No C#

#22256 Fixes a few common incorrect gridinv sprite rotations
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: No C#

#21984 Make audio sliders use gain not volume
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Audio/ContentAudioSystem.AmbientMusic.cs
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#22260 Add audio multipliers back
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/Options/UI/Tabs/AudioTab.xaml.cs
Labels: Changes: UI

#22261 Cluster minor QOL update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#22253 Familiar Garbs
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/familiar_garbs.rsi/meta.json
Labels: No C#, Changes: Sprites

#22250 Prevent entities who do not have hands from setting off bombs.
  Content.Server/Defusable/Systems/DefusableSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
Labels: Status: Needs Review

#22211 Adds placement mode to the wall dispensers
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
Labels: No C#

#22240 Crew monitor revisit
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/Pinpointer/UI/StationMapWindow.xaml.cs
  Content.Server/Access/Components/PresetIdCardComponent.cs
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Access/Systems/PresetIdCardSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Medical/CrewMonitoring/CrewMonitoringShared.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Locale/en-US/medical/components/crew-monitoring-component.ftl
  Resources/Locale/en-US/ui/navmap.ftl
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/alive.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/critical.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/dead.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_crew_monitoring.rsi/meta.json
  Resources/Textures/Interface/NavMap/beveled_circle.png
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#22296 Remove gas tank throwing damage
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#22280 fix monkey pull
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#22245 Medical Gauze Markings
  Resources/Locale/en-US/markings/gauze.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/gauze.yml
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_abdomen.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_leftarm.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_lefteye_1.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_lefteye_2.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_lowerarm_r.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_lowerleg_l.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_lowerleg_r.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_righteye_1.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_righteye_2.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_shoulder.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_upperarm_r.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_upperleg_l.png
  Resources/Textures/Mobs/Customization/gauze.rsi/gauze_upperleg_r.png
  Resources/Textures/Mobs/Customization/gauze.rsi/meta.json
Labels: No C#, Changes: Sprites

#21874 Add PercussionInstrument tag to Woodblock
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: No C#

#22306 Fix hand order
  Resources/Prototypes/Body/Prototypes/a_ghost.yml
  Resources/Prototypes/Body/Prototypes/arachnid.yml
  Resources/Prototypes/Body/Prototypes/diona.yml
  Resources/Prototypes/Body/Prototypes/dwarf.yml
  Resources/Prototypes/Body/Prototypes/human.yml
  Resources/Prototypes/Body/Prototypes/moth.yml
  Resources/Prototypes/Body/Prototypes/reptilian.yml
  Resources/Prototypes/Body/Prototypes/skeleton.yml
  Resources/Prototypes/Body/Prototypes/slime.yml
  Resources/Prototypes/Body/Prototypes/vox.yml
Labels: No C#, Status: Needs Review

#21744 Cooler zombie moths
  Content.Server/Zombies/ZombieAccentOverrideComponent.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Resources/Locale/en-US/accent/accents.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Status: Needs Review

#21810 Added 7 textures of winter boots for each department.
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/meta.json
Labels: No C#, Changes: Sprites

#21922 Animals obey conservation of matter unless they are undead
  Content.Server/Animals/Components/EggLayerComponent.cs
  Content.Server/Animals/Components/UdderComponent.cs
  Content.Server/Animals/Components/WoolyComponent.cs
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Server/Animals/Systems/UdderSystem.cs
  Content.Server/Animals/Systems/WoolySystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: Status: Needs Review

#20928 Add pipe destruction behavior
  Content.Server/Atmos/Piping/EntitySystems/AtmosUnsafeUnanchorSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_pipes.yml
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pipe.rsi/pipeBroken.png
Labels: Changes: Sprites, Status: Awaiting Changes

#22244 Janitorial Bomb Suit
  Resources/Locale/en-US/prototypes/catalog/fills/crates/service-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Textures/Clothing/Head/Helmets/janitor_bombsuit.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/janitor_bombsuit.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/janitor_bombsuit.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/janitor_bombsuit.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/janitor_bombsuit.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/janitor_bombsuit.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/janitor_bombsuit.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/janitor_bombsuit.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/janitor_bombsuit.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/janitor_bombsuit.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/janitor_bomb.png
  Resources/Textures/Structures/Storage/closet.rsi/janitor_bomb_door.png
  Resources/Textures/Structures/Storage/closet.rsi/janitor_bomb_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: No C#, Changes: Sprites

#22314 technical storage board spawner random
  Resources/Prototypes/Entities/Markers/Spawners/Random/techboard.yml
Labels: No C#

#21895 Two variations of human scars
  Resources/Locale/en-US/markings/scars.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Textures/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/Mobs/Customization/scars.rsi/scar_eye_left.png
  Resources/Textures/Mobs/Customization/scars.rsi/scar_eye_right.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#22318 vault fridge for mapping
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#22312 add black gloves to clothesmate
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: No C#

#22310 Emergency light tweaks
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Shuttles/dart.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Shuttles/emergency_box.yml
  Resources/Maps/Shuttles/emergency_lox.yml
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
Labels: No C#

#22316 Kobold ear remake
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_kobold_ears.png
Labels: No C#, Changes: Sprites

#22246 Ert names ops
  Resources/Prototypes/Datasets/Names/military.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#22181 Allow hardsuit helmets to appear in the chameleon menu
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#22088 make syndie bag and rigs explosion resistant
  Content.Server/Explosion/Components/ExplosionResistanceComponent.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Content.Shared/Storage/SharedStorageComponent.cs
  Resources/Locale/en-US/explosions/explosion-resistance.ftl
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
Labels: Status: Needs Review

#21084 Shuffle body container subs slightly
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
Labels: Status: Needs Review

#22328 atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#22329 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#22330 barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#22331 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#22333 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#22334 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#22335 omega update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#22336 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#22337 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#22327 Add Emergency Shotgun Cabinet (#21419)
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/shotgun_cabinet.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-empty-open.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-closed.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet-filled-open.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/cabinet.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass-1.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass-2.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass-3.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass-4.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass-up.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/glass.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/locked.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/shotgun.png
  Resources/Textures/Structures/Wallmounts/shotgun_cabinet.rsi/unlocked.png
Labels: No C#, Changes: Sprites

#22323 Add jensen glasses
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Glasses/jensen.rsi/meta.json
Labels: No C#, Changes: Sprites

#22252 Even spaced hotbar
  Content.Client/UserInterface/Systems/Hands/Controls/HandsContainer.cs
  Content.Client/UserInterface/Systems/Hotbar/Widgets/HotbarGui.xaml
  Content.Client/UserInterface/Systems/Inventory/Controls/ItemSlotUIContainer.cs
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/corpse_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/diona_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/human_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Labels: Changes: UI

#22338 delete kettle files
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: Changes: Map

#22339 Revert "Shuffle body container subs slightly"
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Body/Systems/SharedBodySystem.cs
Labels: Status: Needs Review

#22285 Remove gas prices temporarily
  Resources/Prototypes/Atmospherics/gases.yml
Labels: No C#

#22351 Update guidebook botany entry
  Resources/ServerInfo/Guidebook/Service/Botany.xml
Labels: No C#, Status: Needs Review

#22361 Remove tasers from arsenal tech
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#

#22357 Sell plasma canister at cargo
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
Labels: No C#

#22355 Gemini hotfixes
  Resources/Maps/gemini.yml
Labels: No C#, Changes: Map

#22301 artifact crusher
  Content.Client/Storage/Visualizers/EntityStorageVisualizerSystem.cs
  Content.Client/Storage/Visualizers/EntityStorageVisualsComponent.cs
  Content.Client/Xenoarchaeology/Equipment/ArtifactCrusherSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactCrusherSystem.cs
  Content.Shared/Xenoarchaeology/Equipment/ArtifactCrusherComponent.cs
  Content.Shared/Xenoarchaeology/Equipment/SharedArtifactCrusherSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/hydraulic_press.ogg
  Resources/Audio/Effects/metal_crunch.ogg
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-crusher.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/base.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/door-closed.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/glass.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/lights.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/meta.json
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/piston-push.png
  Resources/Textures/Structures/Machines/artifact_crusher.rsi/piston.png
Labels: Changes: Sprites, Status: Needs Review

#22268 Prevent Pacified players from throwing dangerous stuff
  Content.Server/Damage/Systems/DamageOnLandSystem.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Shared/CombatMode/Pacification/PacificationSystem.cs
  Content.Shared/CombatMode/Pacification/PacifiedComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Throwing/BeforeThrowEvent.cs
  Resources/Locale/en-US/pacified/pacified.ftl
Labels: Status: Needs Review

#22365 Temporarily disable round-end PVS overrides
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#22366 Fix pvs override error
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#22303 Remove senior roles
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/gemini.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/migration.yml
Labels: No C#, Changes: Map, Status: Needs Review

#22370 Minor Cluster update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#21565 Mothroach Cargo Crates
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
Labels: No C#, Status: Needs Review

#22373 Fix history about gas prices
  Resources/Changelog/Changelog.yml
Labels: No C#

#22376 Mayo jar is bigger
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#

#22372 Split up atmos speedup from heat scaling
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Reactions/FrezonCoolantReaction.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#22377 Fixes a box
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
Labels: No C#

#22378 Makes pill canisters Tiny and puts 9 in the box chem gets.
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#22379 Ce's belt is slightly larger than other belts.
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#
