Repository space-wizards/space-station-14, pull requests merged in 2023-10, with the labels that each got.

#20622 Add Winter Boots
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/meta.json
Labels: No C#, Changes: Sprites

#20621 Add QM mantle
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Neck/mantles/qmmantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/qmmantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/qmmantle.rsi/meta.json
Labels: No C#, Changes: Sprites

#20577 Slime mobs breathe nitrogen and resprite their organs
  Resources/Prototypes/Body/Organs/Animal/slimes.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Prototypes/Animal/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Textures/Mobs/Species/Slime/organs.rsi/brain-inhand-left.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/brain-inhand-right.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/brain-slime.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/lung-l-slime.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/lung-r-slime.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#20620 Fix the new lizard horn's consistency + issue
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_argali.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_ayrshire.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_bighorn.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_myrsore.png
Labels: No C#, Changes: Sprites

#20605 Ninja random appearance
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#, Status: Needs Review

#20550 Space cat breathes space
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#20581 Wide anomaly locator
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Objects/Specific/Research/anomalylocatorwide.rsi/icon.png
  Resources/Textures/Objects/Specific/Research/anomalylocatorwide.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Research/anomalylocatorwide.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Research/anomalylocatorwide.rsi/meta.json
  Resources/Textures/Objects/Specific/Research/anomalylocatorwide.rsi/screen.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#20650 Fixed Telescopic Shield Lighting
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: No C#

#20471 Add a special hardsuit for nukie medic
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Head/Hardsuits/syndiemedic.rsi/on-inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndiemedic.rsi/meta.json
Labels: No C#, Changes: Sprites

#20551 Plant species mutation fix.
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/Botany/Systems/MutationSystem.cs
Labels: Status: Needs Review

#20377 make poncho and sombrero spanish accent
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
Labels: No C#

#20657 Butcher pig for bacon and bacon cooking
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
Labels: No C#

#20331 Practice Ammunition Tech
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
Labels: No C#, Status: Needs Review

#19667 Advanced treatment cyborg module for medical borg
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Textures/Objects/Specific/Chemistry/dropper.rsi/borgdropper.png
  Resources/Textures/Objects/Specific/Chemistry/dropper.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/borghypo.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-chemist.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#19193 Sericulture fixes
  Content.Client/Sericulture/SericultureSystem.cs
  Content.Server/Sericulture/SericultureComponent.cs
  Content.Server/Sericulture/SericultureSystem.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Sericulture/SericultureComponent.cs
  Content.Shared/Sericulture/SericultureEvents.cs
  Content.Shared/Sericulture/SericultureSystem.cs
Labels: Status: Awaiting Changes

#19305 Adds vending restocks for ChefVend and Condiment Stations
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_chef.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_condiment.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#20230 Remove SpreaderNodeGroup
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/NodeContainer/NodeGroups/NodeGroupFactory.cs
  Content.Server/Spreader/ActiveEdgeSpreaderComponent.cs
  Content.Server/Spreader/EdgeSpreaderComponent.cs
  Content.Server/Spreader/GrowingKudzuComponent.cs
  Content.Server/Spreader/KudzuComponent.cs
  Content.Server/Spreader/KudzuSystem.cs
  Content.Server/Spreader/SpreadGroupUpdateRate.cs
  Content.Server/Spreader/SpreaderNode.cs
  Content.Server/Spreader/SpreaderNodeGroup.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Shared/Spreader/EdgeSpreaderPrototype.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/edge_spreaders.yml
Labels: Status: Needs Review

#20062 More Boot Fitting Items (Mostly firearms)
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#20661 Electric grill
  Content.Server/Temperature/Components/EntityHeaterComponent.cs
  Content.Server/Temperature/Systems/EntityHeaterSystem.cs
  Content.Shared/Temperature/SharedEntityHeater.cs
  Resources/Locale/en-US/temperature/entity-heater.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/grill.yml
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Structures/Machines/electric_grill.rsi/high.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/icon.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/low.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/medium.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#20667 Packed records computer changes
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#20653 Replace paramedic with medical windoor on Kettle
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#20655 Rename power infra on cluster station
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#20654 Rename power infra on omega station
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#20669 Bug fix for missing notifications when prying open a powered or bolted airlock
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorBoltSystem.cs
Labels: Status: Needs Review

#20672 New Kobold Ears marking for lizards
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_kobold_ears.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: No C#, Changes: Sprites

#20679 actually add jug to medfab + cheaper
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Research/biochemical.yml
Labels: No C#, Status: Needs Review

#20674 Revert "Northstar Gloves dmg reduced from 8 -> 7"
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#20685 Make minigun weigh more
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
Labels: No C#

#20624 rolling pin for flattening dough
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/pizza.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/ServerInfo/Guidebook/Service/FoodRecipes.xml
  Resources/Textures/Objects/Tools/rolling_pin.rsi/icon.png
  Resources/Textures/Objects/Tools/rolling_pin.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/rolling_pin.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/rolling_pin.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#20680 Make bluespace beakers hold 1000u
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#20689 Packed Power Infastructure Names
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#20021 Disable SSD indicators on LRP
  Resources/ConfigPresets/WizardsDen/salamander.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: Needs Discussion, No C#

#20109 Nukeops role restrictions revival
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: No C#, Status: Needs Review

#20693 Box Power Infrastructure Names
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#20712 Meta Power Infrastructure Names
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#20697 Fix omnitool not prying airlocks
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#20719 Fix QM mantle
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#20723 fix magboots equipped sprites
  Resources/Textures/Clothing/Shoes/Boots/magboots-advanced.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-syndicate.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/magboots.rsi/on-equipped-FEET.png
Labels: No C#, Changes: Sprites

#20715 Add trading ship for future implementation
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: No C#

#20713 Space Ninja 3: an old enemy in a new environment
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Mask/ninja.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/ninja.rsi/icon.png
  Resources/Textures/Clothing/Mask/ninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/ninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/ninja.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/spaceninja.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ninja.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/spidercharge.rsi/primed.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/energykatana.rsi/meta.json
Labels: No C#, Changes: Sprites

#20717 Adds clipboards
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_over.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_paper.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_pen.png
  Resources/Textures/Objects/Misc/clipboard.rsi/equipped-BELT.png
  Resources/Textures/Objects/Misc/clipboard.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/clipboard.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/clipboard.rsi/meta.json
Labels: No C#, Changes: Sprites

#20688 Add ashwalker and gladiator starting gear sets
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#20729 Add emag inhand sprite
  Resources/Prototypes/Entities/Objects/Tools/emag.yml
  Resources/Textures/Objects/Tools/emag.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/emag.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/emag.rsi/meta.json
Labels: No C#, Changes: Sprites

#18477 Revolutionaries
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.Client/Revolutionary/RevolutionarySystem.cs
  Content.Client/Zombies/ZombieSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/Rules/Components/RevolutionaryRuleComponent.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Server/Revolutionary/Components/CommandStaffComponent.cs
  Content.Server/Roles/RevolutionaryRoleComponent.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Mindshield/Components/MindShieldComponent.cs
  Content.Shared/Revolutionary/Components/AlwaysRevolutionaryConvertibleComponent.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/RevolutionaryComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Resources/Locale/en-US/administration/antag.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-medical.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/medical-crates.ftl
  Resources/Locale/en-US/round-end/round-end-system.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Fills/Crates/medical.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/StatusIcon/antag.yml
  Resources/Prototypes/ai_factions.yml
  Resources/Prototypes/game_presets.yml
  Resources/Prototypes/secret_weights.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/HeadRevolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Revolutionary.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#20690 Removes unnecessary message for defibbing a patient which has ghosted
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Locale/en-US/medical/components/defibrillator.ftl
Labels: Status: Needs Review

#20736 Adds clipboards to bureaucracy crate and replaces incorrectly credited sprites
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_over.png
  Resources/Textures/Objects/Misc/clipboard.rsi/clipboard_pen.png
  Resources/Textures/Objects/Misc/clipboard.rsi/meta.json
Labels: No C#, Changes: Sprites

#20742 Fix printing $username at round end for head revs when it doesn't have a session
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Status: Needs Review

#20730 Add "Two Strands" hair
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/twostrands.png
Labels: No C#, Changes: Sprites

#20720 Barratry seniors
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#20749 give revs briefing
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Roles/RoleBriefingSystem.cs
  Content.Server/Roles/RoleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Status: Needs Review

#20766 Vulture server config preset
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/vulture.toml
Labels: No C#, Status: Needs Review

#20635 Rock Anomaly
  Content.Server/Anomaly/Effects/EntityAnomalySystem.cs
  Content.Server/Anomaly/Effects/TileAnomalySystem.cs
  Content.Shared/Anomaly/Effects/Components/EntitySpawnAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/TileSpawnAnomaly.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/asteroidcrab.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crystal.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Mobs/Elemental/orecrab.rsi/ironcrab.png
  Resources/Textures/Mobs/Elemental/orecrab.rsi/meta.json
  Resources/Textures/Mobs/Elemental/orecrab.rsi/quartzcrab.png
  Resources/Textures/Mobs/Elemental/orecrab.rsi/uraniumcrab.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6-pulse.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom6.png
  Resources/Textures/Structures/Specific/anomaly.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_asteroid_ore.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_asteroid_ore1.png
Labels: Changes: Sprites, Status: Needs Review

#20761 Make slimes not rot
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, Status: Needs Review

#19589 Set leviathan pop cap to 60
  Resources/ConfigPresets/WizardsDen/leviathan.toml
Labels: No C#

#20757 Add "Shoulder-length Over Eye" hairstyle (I hate those conflicts :/)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/shoulderlengthovereye.png
Labels: No C#, Changes: Sprites

#20760 Power infra names for Barratry
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#20763 Marathon Power Infrastructure Names
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#20762 Power infra names for Kettle
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#20734 Added onion rings
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#20683 Monkey's can wear gas masks now.
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#20775 Add rotation to tree
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
Labels: No C#

#20265 Revision of airlock hacking protections
  Content.Server/Construction/Completions/ChangeWiresPanelSecurityLevel.cs
  Content.Server/Construction/Completions/SetWiresPanelSecurity.cs
  Content.Server/Construction/Conditions/HasTag.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Construction/ConstructionGraphEdge.cs
  Content.Shared/Construction/ConstructionGraphNode.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Content.Shared/Wires/WiresPanelComponent.cs
  Content.Shared/Wires/WiresPanelSecurityComponent.cs
  Content.Shared/Wires/WiresPanelSecurityLevelPrototype.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/wires_panel_security.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/highsec.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#20573 Syndicate Bombs were Intended to Be CanCollide
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: Needs Discussion, No C#, Status: Awaiting Changes

#20791 Remove 3 white spots on Rev Icon
  Resources/Textures/Interface/Misc/job_icons.rsi/Revolutionary.png
Labels: No C#, Changes: Sprites

#20792 Four 'new' signs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/court.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/janitor.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/law.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/psychology.png
Labels: No C#, Changes: Sprites

#20781 Add beret to clothesmate
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
Labels: No C#

#20795 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#20796 Packed New Signs
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#20328 Lizard "Rework"
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/tags.yml
Labels: No C#, Status: Needs Review

#20798 Fix for a bug that prevents the hacking UI from opening on non-airlock entities
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Wires/WiresSystem.cs
Labels: Status: Needs Review

#20626 Liquid anomaly
  Content.Server/Anomaly/Components/InjectionAnomalyComponent.cs
  Content.Server/Anomaly/Components/PuddleCreateAnomalyComponent.cs
  Content.Server/Anomaly/Components/ReagentProducerAnomalyComponent.cs
  Content.Server/Anomaly/Effects/InjectionAnomalySystem.cs
  Content.Server/Anomaly/Effects/PuddleCreateAnomalySystem.cs
  Content.Server/Anomaly/Effects/ReagentProducerAnomalySystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/waterswirl.ogg
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
  Resources/Textures/Mobs/Aliens/elemental.rsi/alive.png
  Resources/Textures/Mobs/Aliens/elemental.rsi/dead.png
  Resources/Textures/Mobs/Aliens/elemental.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/anom.png
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/liquid_anom.rsi/pulse.png
Labels: Changes: Sprites, Status: Needs Review

#19884 make tinned foods use openable
  Content.Server/Destructible/Thresholds/Behaviors/OpenBehavior.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/beans.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/maint_peaches.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon-hot.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/meat.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/icon-open.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Tins/peaches.rsi/trash.png
  Resources/Textures/Objects/Consumable/Food/mre.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/snacks.rsi/meta.json
Labels: Changes: Sprites

#20707 To weld the secret door
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
Labels: No C#

#19901 Add mob retaliation
  Content.Server/Friends/Systems/PettableFriendSystem.cs
  Content.Server/NPC/Components/FactionExceptionComponent.cs
  Content.Server/NPC/Components/FactionExceptionTrackerComponent.cs
  Content.Server/NPC/Components/NPCRetaliationComponent.cs
  Content.Server/NPC/Systems/FactionExceptionSystem.cs
  Content.Server/NPC/Systems/NPCRetaliationSystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.Exception.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/NPCs/mob.yml
Labels: Status: Needs Review

#19497 Spiders inject toxin
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#20814 Tag tinned peaches and meat with Fruit and Meat, respectively
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
Labels: No C#

#20807 Tweaked secret weights
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#20638 Give player species slight passive regen
  Content.Shared/Damage/Components/PassiveDamageComponent.cs
  Content.Shared/Damage/Systems/PassiveDamageSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review, Status: Awaiting Changes

#20822 Reenable kudzu.
  Content.Server/Botany/Systems/MutationSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#20808 Kettle update
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: No C#, Changes: Map, Status: Needs Review

#20820 DamageableSystem cleanup & performance improvements
  Content.Server/Bible/BibleSystem.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Battery.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.Cartridges.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Content.Tests/Shared/DamageTest.cs
Labels: Status: Needs Review

#20383 Changes for SplitContainer Engine PR
  Content.Client/UserInterface/Controls/RecordedSplitContainer.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Needs Engine PR, Changes: UI

#20836 Incendiary bullets no longer deal cold, acid, or shock damage
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: No C#

#20799 Improve action UI performance
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Client/UserInterface/Systems/Actions/Windows/ActionsWindow.xaml.cs
Labels: Changes: UI

#20818 suffix additions: Pinpointer, thruster, gyro
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
  Resources/Prototypes/Entities/Objects/Devices/pinpointer.yml
  Resources/Prototypes/Entities/Objects/Misc/briefcases.yml
  Resources/Prototypes/Entities/Structures/Shuttles/thrusters.yml
Labels: No C#

#20842 Reformat hand examine text
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Resources/Locale/en-US/hands/hands-system.ftl
Labels: Status: Needs Review

#20841 Standardize species speeds
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: No C#, Status: Needs Review

#20780 Give ringtone setting a 0.25 second cooldown, style and fixes
  Content.Client/PDA/Ringer/RingerBoundUserInterface.cs
  Content.Client/PDA/Ringer/RingtoneMenu.xaml
  Content.Server/PDA/Ringer/RingerSystem.cs
Labels: Changes: UI

#20844 Make MMIs work again
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
Labels: Status: Needs Review

#20852 Add Exists check and try catch when creating replay dir
  Content.Server/GameTicking/GameTicker.Replays.cs
Labels: Status: Needs Review

#20843 Revert "Reenable kudzu."
  Content.Server/Botany/Systems/MutationSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#20765 Adds flannel jackets
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/equipped-OUTERCLOTHING-lines.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/icon-lines.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/inhand-left-lines.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/inhand-right-lines.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Misc/flannel_jacket.rsi/meta.json
Labels: No C#, Changes: Sprites

#20868 Just fix dev guide link at README
  README.md
Labels: No C#

#20864 gives a suffix to the strictly human spawning syndicate agent
  Resources/Prototypes/Entities/Mobs/Player/human.yml
Labels: No C#, Status: Needs Review

#20866 cleanup: remove TargetingDoll-related code
  .gitignore
  Content.Client/CombatMode/CombatModeSystem.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Targeting/UI/TargetingDoll.xaml
  Content.Client/Targeting/UI/TargetingDoll.xaml.cs
  Content.Shared/CombatMode/CombatModeComponent.cs
  Content.Shared/CombatMode/Events/CombatModeSystemMessages.cs
  Content.Shared/CombatMode/SharedCombatModeSystem.cs
  Content.Shared/Targeting/TargetingZone.cs
Labels: Changes: UI

#20345 Github actions script to update ingame credits for contributors
  .github/workflows/update-credits.yml
Labels: No C#

#20660 Polymorph Artifact Effect
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/PolyArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PolyArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Status: Needs Review

#20872 Job Spawner icons cleanup
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Textures/Markers/jobs.rsi/atmospherics.png
  Resources/Textures/Markers/jobs.rsi/bartender.png
  Resources/Textures/Markers/jobs.rsi/botanist.png
  Resources/Textures/Markers/jobs.rsi/boxer.png
  Resources/Textures/Markers/jobs.rsi/captain.png
  Resources/Textures/Markers/jobs.rsi/cargo_tech.png
  Resources/Textures/Markers/jobs.rsi/ce.png
  Resources/Textures/Markers/jobs.rsi/centcom.png
  Resources/Textures/Markers/jobs.rsi/chaplain.png
  Resources/Textures/Markers/jobs.rsi/chef.png
  Resources/Textures/Markers/jobs.rsi/chemist.png
  Resources/Textures/Markers/jobs.rsi/clown.png
  Resources/Textures/Markers/jobs.rsi/cmo.png
  Resources/Textures/Markers/jobs.rsi/cyborg.png
  Resources/Textures/Markers/jobs.rsi/detective.png
  Resources/Textures/Markers/jobs.rsi/doctor.png
  Resources/Textures/Markers/jobs.rsi/engineer.png
  Resources/Textures/Markers/jobs.rsi/ertengineer.png
  Resources/Textures/Markers/jobs.rsi/ertengineereva.png
  Resources/Textures/Markers/jobs.rsi/ertjanitor.png
  Resources/Textures/Markers/jobs.rsi/ertjanitoreva.png
  Resources/Textures/Markers/jobs.rsi/ertleader.png
  Resources/Textures/Markers/jobs.rsi/ertleadereva.png
  Resources/Textures/Markers/jobs.rsi/ertmedical.png
  Resources/Textures/Markers/jobs.rsi/ertmedicaleva.png
  Resources/Textures/Markers/jobs.rsi/ertsecurity.png
  Resources/Textures/Markers/jobs.rsi/ertsecurityeva.png
  Resources/Textures/Markers/jobs.rsi/hop.png
  Resources/Textures/Markers/jobs.rsi/hos.png
  Resources/Textures/Markers/jobs.rsi/janitor.png
  Resources/Textures/Markers/jobs.rsi/lawyer.png
  Resources/Textures/Markers/jobs.rsi/librarian.png
  Resources/Textures/Markers/jobs.rsi/medicalintern.png
  Resources/Textures/Markers/jobs.rsi/meta.json
  Resources/Textures/Markers/jobs.rsi/mime.png
  Resources/Textures/Markers/jobs.rsi/musician.png
  Resources/Textures/Markers/jobs.rsi/paramedic.png
  Resources/Textures/Markers/jobs.rsi/passenger.png
  Resources/Textures/Markers/jobs.rsi/prisoner.png
  Resources/Textures/Markers/jobs.rsi/psychologist.png
  Resources/Textures/Markers/jobs.rsi/qm.png
  Resources/Textures/Markers/jobs.rsi/rd.png
  Resources/Textures/Markers/jobs.rsi/reporter.png
  Resources/Textures/Markers/jobs.rsi/researchassistant.png
  Resources/Textures/Markers/jobs.rsi/salvagespecialist.png
  Resources/Textures/Markers/jobs.rsi/scientist.png
  Resources/Textures/Markers/jobs.rsi/security_cadet.png
  Resources/Textures/Markers/jobs.rsi/security_officer.png
  Resources/Textures/Markers/jobs.rsi/seniorengineer.png
  Resources/Textures/Markers/jobs.rsi/seniorofficer.png
  Resources/Textures/Markers/jobs.rsi/seniorphysician.png
  Resources/Textures/Markers/jobs.rsi/seniorresearcher.png
  Resources/Textures/Markers/jobs.rsi/serviceworker.png
  Resources/Textures/Markers/jobs.rsi/technicalassistant.png
  Resources/Textures/Markers/jobs.rsi/warden.png
  Resources/Textures/Markers/jobs.rsi/zookeeper.png
Labels: No C#, Changes: Sprites

#20876 Revert "Revert "Reenable kudzu.""
  Content.Server/Botany/Systems/MutationSystem.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#20254 Use conditions to store progress for Ninja objectives
  Content.Server/Ninja/Systems/NinjaGlovesSystem.cs
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Server/Ninja/Systems/SpiderChargeSystem.cs
  Content.Server/Objectives/Components/DoorjackConditionComponent.cs
  Content.Server/Objectives/Components/SpiderChargeConditionComponent.cs
  Content.Server/Objectives/Components/StealResearchConditionComponent.cs
  Content.Server/Objectives/Components/TerrorConditionComponent.cs
  Content.Server/Objectives/Systems/NinjaConditionsSystem.cs
  Content.Server/Roles/NinjaRoleComponent.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Ninja/Systems/SharedSpaceNinjaSystem.cs
Labels: Status: Needs Review

#20890 Fix species speeds
  Resources/Prototypes/Body/Parts/diona.yml
  Resources/Prototypes/Body/Parts/reptilian.yml
Labels: No C#, Status: Needs Review

#20882 organs edible to lizards, and make their food contents uncooked proteins
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/dwarf.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/moth.yml
  Resources/Prototypes/Body/Organs/rat.yml
  Resources/Prototypes/Body/Organs/reptilian.yml
  Resources/Prototypes/Body/Organs/slime.yml
Labels: No C#, Status: Needs Review

#20896 Bagel Update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#20897 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#20516 Climbing refactor
  Content.Client/Interaction/DragDropHelper.cs
  Content.Client/Interaction/DragDropSystem.cs
  Content.Client/Movement/Systems/ClimbSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.IntegrationTests/Tests/Climbing/ClimbingTest.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Interaction/DragDropSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Climbing/ClimbingComponent.cs
  Content.Shared/Climbing/Components/BonkableComponent.cs
  Content.Shared/Climbing/Components/ClimbableComponent.cs
  Content.Shared/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/Components/GlassTableComponent.cs
  Content.Shared/Climbing/Events/ClimbedOnEvent.cs
  Content.Shared/Climbing/Events/EndClimbEvent.cs
  Content.Shared/Climbing/Events/StartClimbEvent.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Climbing/Systems/BonkSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/DragDrop/SharedDragDropSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#20874 Crabs will look for food.
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#20865 Make electric anom potencially less laggy on supercrit
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
Labels: Status: Needs Review

#20627 glue only mutes if drank
  Resources/Prototypes/Reagents/cleaning.yml
Labels: No C#

#19956 Add a command to hide replay UI
  Content.Client/Ghost/GhostToggleSelfVisibility.cs
  Content.Client/Replay/ContentReplayPlaybackManager.cs
  Content.Client/Replay/ReplayToggleScreenshotModeCommand.cs
  Content.Client/Replay/UI/ReplaySpectateEntityState.cs
Labels: Status: Needs Review

#20847 Add mind entities to PVS overrides
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/Mind/MindSystem.cs
Labels: Needs Engine PR, Status: Needs Review

#20422 Adds casual jumpskirts
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpskirt-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpsuit-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-shirt-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/equipped-INNERCLOTHING-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/icon-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-left-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-jumpskirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-jumpsuit.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/inhand-right-shirt.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/casual.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#20912 Kill `UserInterfaceHelpers`
  Content.Server/Communications/CommunicationsConsoleComponent.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Crayon/CrayonComponent.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Instruments/InstrumentComponent.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/UserInterface/ActivatableUIComponent.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Server/UserInterface/IntrinsicUISystem.cs
  Content.Server/UserInterface/UserInterfaceHelpers.cs
Labels: Status: Needs Review

#20908 Kill `ContainerHelpers`
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Client/Interactable/InteractionSystem.cs
  Content.Server/Containers/EmptyOnMachineDeconstructSystem.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Virtual.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
Labels: Changes: UI, Status: Needs Review

#20098 show battery charge when recharger is examined
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
Labels: No C#

#20919 Fixed "Dropping things makes you teleport"
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
Labels: Status: Needs Review

#20917 Make unary devices unstackable
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#

#20838 Honk reagent now makes you Honk.
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Voice/disease_emotes.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#20417 nukie shuttle gets syndicate airlocks
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#20873 Prettified human_hair.rsi meta.json
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#

#20832 Fix not removing RevolutionaryRoleComponent from minds on mindshield application
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
Labels: Status: Needs Review

#20937 Update Patrons list in the credits
  Resources/Credits/Patrons.yml
Labels: No C#

#20939 Increase carbon dioxide poisoning damage
  Resources/Prototypes/Reagents/gases.yml
Labels: No C#

#20619 Paramedic Suit [RESPRITE]
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/paramedhelm.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/paramed.rsi/meta.json
Labels: No C#, Changes: Sprites

#20849 Add support for multiple changelog files, add admin changelog
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Client/Administration/Managers/IClientAdminManager.cs
  Content.Client/Changelog/ChangelogManager.cs
  Content.Client/Changelog/ChangelogTab.xaml
  Content.Client/Changelog/ChangelogTab.xaml.cs
  Content.Client/Changelog/ChangelogWindow.xaml
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Resources/Changelog/Admin.yml
  Resources/Locale/en-US/changelog/changelog-window.ftl
Labels: Changes: UI, Status: Needs Review

#20929 Kobold floppy ear
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/horns_floppy_kobold_ears.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: No C#, Changes: Sprites

#20960 Increased the number of tanks stocked in tank dispensers
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
Labels: No C#

#20968 carp plushie bite
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#20859 lovable animals
  Content.Server/Interaction/Components/InteractionPopupComponent.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
  Resources/Prototypes/Entities/Effects/hearts.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Effects/hearts.rsi/hearts.png
  Resources/Textures/Effects/hearts.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#20957 Rev guidebook
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
Labels: No C#, Status: Needs Review

#20975 Fix volumepump texture alignment for blocked volumepumps
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpVolumeBlocked.png
Labels: No C#, Changes: Sprites

#20956 Radiation collector sprite update
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Content.Shared/Singularity/Components/SharedRadiationCollectorComponent.cs
  Resources/Locale/en-US/power/components/radiation-collector.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca-o0.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca-o1.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca-o2.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca-o3.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca-tank.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_active.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_deactive.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_off.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/ca_on.png
  Resources/Textures/Structures/Power/Generation/Singularity/collector.rsi/meta.json
Labels: Changes: Sprites

#20979 Added a missing machine part label for power cells
  Resources/Locale/en-US/machine/machine.ftl
Labels: No C#

#20983 add flash and dash sounds to paracusia
  Resources/Prototypes/SoundCollections/traits.yml
Labels: No C#

#20967 Small Liquid Anomaly Patch
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
Labels: No C#, Status: Needs Review

#20977 update landmine sprites from tg
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Prototypes/Recipes/Construction/modular.yml
  Resources/Textures/Objects/Misc/landmine.rsi/landmine-inactive.png
  Resources/Textures/Objects/Misc/landmine.rsi/landmine.png
  Resources/Textures/Objects/Misc/landmine.rsi/meta.json
  Resources/Textures/Objects/Misc/uglymine.rsi/meta.json
  Resources/Textures/Objects/Misc/uglymine.rsi/uglymine-inactive.png
  Resources/Textures/Objects/Misc/uglymine.rsi/uglymine.png
Labels: No C#, Changes: Sprites

#20962 add igniter
  Content.Server/IgnitionSource/IgniteOnTriggerComponent.cs
  Content.Server/IgnitionSource/IgniteOnTriggerSystem.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/igniter.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Devices/igniter.rsi/icon.png
  Resources/Textures/Objects/Devices/igniter.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#20980 Show total playtime in player list and AHelp window
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Shared/Administration/PlayerInfo.cs
  Resources/Changelog/Admin.yml
  Resources/Locale/en-US/administration/ui/tabs/player-tab.ftl
  Resources/Locale/en-US/generic.ftl
Labels: Changes: UI, Status: Needs Review

#20985 Add admin Erase verb, add checkbox to erase from the ban panel
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Client/Administration/UI/BanPanel/BanPanelEui.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/Chat/Managers/IChatManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Administration/BanPanelEuiState.cs
  Content.Shared/Chat/MsgChatMessage.cs
  Content.Shared/Chat/MsgDeleteChatMessagesBy.cs
  Resources/Changelog/Admin.yml
  Resources/Locale/en-US/administration/admin-verbs.ftl
  Resources/Locale/en-US/administration/ui/admin-erase.ftl
  Resources/Locale/en-US/info/ban.ftl
Labels: Changes: UI, Status: Needs Review

#20987 Make the panic bunker UI send cvar updates on focus exit, add erase verb tooltip message
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Resources/Changelog/Admin.yml
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: UI, Status: Needs Review

#20986 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#20988 Add pop sound effect when using the erase admin verb
  Content.Server/Administration/Systems/AdminSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/pop_high.ogg
  Resources/Changelog/Admin.yml
Labels: Status: Needs Review

#20914 Kill `SharedUnoccludedExtensions`
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Interaction/Helpers/SharedUnoccludedExtensions.cs
Labels: Status: Needs Review

#20974 Comms console description update (now with keyboard!)
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#20861 Make starting gear automatically find hands for inhand items
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Shared/Roles/StartingGearPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Prototypes/Roles/Antags/pirate.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/senior_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Fun/cult_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Science/senior_researcher.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/Prototypes/Roles/Jobs/Ship_VS_Ship/nanotrasen.yml
  Resources/Prototypes/Roles/Jobs/Ship_VS_Ship/syndicate.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: Status: Needs Review

#20943 Nerf bombsuit helmet
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#20969 Cluster Burn Chamber Buttons & Jani Sign
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#20916 meta station update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#20810 Barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#21004 Fix not being able to sort by playtime in the F7 players tab
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTabHeader.xaml.cs
  Content.Shared/Administration/PlayerInfo.cs
  Resources/Changelog/Admin.yml
Labels: Changes: UI, Status: Needs Review

#20955 add rainbow fish
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
Labels: No C#, Status: Needs Review
