Repository space-wizards/space-station-14, pull requests merged in 2023-11, with the labels that each got.

#21316 Getting turned to a rev makes the rev antag sound
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
Labels: Status: Needs Review

#21385 Revert "Enable skeletons temporarily for Halloween (#21356)"
  Resources/Prototypes/Species/skeleton.yml
Labels: No C#

#21384 Fix tests fail
  Resources/Prototypes/Entities/Objects/Specific/Medical/medkits.yml
Labels: No C#

#21391 Return the nukie hypo
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
Labels: No C#

#21401 Fix negative tank pressure
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
Labels: Status: Needs Review

#21411 buff bag of holding
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
Labels: No C#

#21409 fixed rat kebab parents
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
Labels: No C#

#21416 Makes a syndicate chemvend so they dont have to hack it on nukie planet.
  Resources/Maps/nukieplanet.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: No C#, Changes: Map

#21412 fish petting
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: No C#

#21414 Fix roaches weight to match new system
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#21403 Security Chunk Salvage
  Resources/Maps/Salvage/security-chunk.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map, Status: Needs Review

#21417 Fix rotation on Moth Head (Moonfly) marking
  Resources/Textures/Mobs/Customization/Moth/moth_parts.rsi/moonfly_head.png
Labels: No C#, Changes: Sprites

#21336 Mind Action Container
  Content.Client/Actions/ActionsSystem.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Mind/MindComponent.cs
Labels: Status: Needs Review

#21418 fix anomaly core size
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: No C#

#21097 Added a penguin plushie!
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_penguin.png
Labels: No C#, Changes: Sprites

#21424 Fixes A Anomaly Core Description Typo
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
Labels: No C#

#21087 Candles
  Content.Client/Toggleable/ToggleableLightVisualsComponent.cs
  Content.Client/Toggleable/ToggleableLightVisualsSystem.cs
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Atmos/Components/ExtinguishOnInteractComponent.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/candle_blowing.ogg
  Resources/Locale/en-US/candle/extinguish-on-interact-component.ftl
  Resources/Locale/en-US/light/components/expendable-light-component.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Misc/torch.yml
  Resources/Textures/Objects/Misc/candles.rsi/candle-big.png
  Resources/Textures/Objects/Misc/candles.rsi/candle-small.png
  Resources/Textures/Objects/Misc/candles.rsi/fire-big.png
  Resources/Textures/Objects/Misc/candles.rsi/fire-small.png
  Resources/Textures/Objects/Misc/candles.rsi/inhand-left-flame.png
  Resources/Textures/Objects/Misc/candles.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/candles.rsi/inhand-right-flame.png
  Resources/Textures/Objects/Misc/candles.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/candles.rsi/meta.json
  Resources/Textures/Objects/Misc/candles.rsi/stand-big.png
  Resources/Textures/Objects/Misc/candles.rsi/stand-small.png
  Resources/Textures/Objects/Storage/boxes.rsi/candle.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#21309 fix hand examine when cuffed
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
Labels: Status: Needs Review

#21428 Soap dont have 100% vomit chance
  Resources/Prototypes/Reagents/cleaning.yml
Labels: No C#

#21426 Senior Physician Beret
  Resources/Prototypes/Roles/Jobs/Medical/senior_physician.yml
Labels: No C#

#21405 Enter mech with drag-drop
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Labels: Status: Needs Review

#21286 Adjust radiation blocker values
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#21406 Fix admin verb PVS issue
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Shared/Verbs/SharedVerbSystem.cs
Labels: Changes: UI, Status: Needs Review

#21433 SO gets sec beret instead of normal beret roundstart
  Resources/Prototypes/Roles/Jobs/Security/senior_officer.yml
Labels: No C#

#21432 Fix ambuzol zombie damage
  Content.Server/Zombies/ZombieSystem.cs
Labels: Status: Needs Review

#21456 Move "id" clothing layer above gloves, shoes, ears, outerclothing, eyes and belt
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#

#21459 Cleanup chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: No C#

#21435 fix susbox slots
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
Labels: No C#

#21463 Wintercoats container max size fixed
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: No C#

#21446 Stop mice eating soap
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
Labels: No C#

#21447 give chemistry bag better storage
  Resources/Prototypes/Catalog/Fills/Boxes/science.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#21465 Convert license.txt to attributions.yml in misc folder
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/license.txt
Labels: No C#

#21466 Convert license.txt to attributions.yml in Items folder
  Resources/Audio/Items/Handcuffs/attributions.yml
  Resources/Audio/Items/Handcuffs/license.txt
  Resources/Audio/Items/Medical/attributions.yml
  Resources/Audio/Items/Medical/license.txt
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/license.txt
Labels: No C#

#21471 Convert license.txt to attributions.yml in Animals folder
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/license.txt
Labels: No C#

#21444 Converted weapons license.txts to attributions.ymls
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/license.txt
  Resources/Audio/Weapons/Guns/Hits/attributions.yml
  Resources/Audio/Weapons/Guns/Hits/licenses.txt
  Resources/Audio/Weapons/Guns/Misc/attributions.yml
  Resources/Audio/Weapons/Guns/Misc/licenses.txt
  Resources/Audio/Weapons/Guns/Miss/attributions.yml
  Resources/Audio/Weapons/Guns/Miss/licenses.txt
  Resources/Audio/Weapons/Xeno/attributions.yml
  Resources/Audio/Weapons/Xeno/license.txt
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/licenses.txt
Labels: No C#, Status: Needs Review

#21364 Adds more sources for sheet paper material
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-materials.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#21443 Bicaridine metabolism bandaid
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#21410 Notice board
  Resources/Prototypes/Entities/Structures/Wallmounts/noticeboard.yml
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-0.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-1.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-2.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-3.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-4.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/notice-5.png
  Resources/Textures/Structures/Wallmounts/noticeboard.rsi/noticeboard.png
Labels: No C#, Changes: Sprites

#21232 Artifact fragments can now stack.
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Stacks/science_stacks.yml
  Resources/Prototypes/ore.yml
Labels: No C#

#21423 Access Configurator Resprite
  Resources/Textures/Objects/Tools/access_configurator.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/icon.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/access_configurator.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#21338 The Mobs of the Living Light
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/bells1.ogg
  Resources/Audio/Effects/Footsteps/bells2.ogg
  Resources/Audio/Effects/Footsteps/bells3.ogg
  Resources/Audio/Effects/Footsteps/bells4.ogg
  Resources/Audio/Effects/Footsteps/bells5.ogg
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Textures/Mobs/Elemental/living_light/luminous_entity.rsi/dead.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_entity.rsi/dead_glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_entity.rsi/glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_entity.rsi/luminous_entity.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_entity.rsi/meta.json
  Resources/Textures/Mobs/Elemental/living_light/luminous_object.rsi/dead.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_object.rsi/dead_glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_object.rsi/glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_object.rsi/luminous_object.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_object.rsi/meta.json
  Resources/Textures/Mobs/Elemental/living_light/luminous_person.rsi/dead.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_person.rsi/dead_glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_person.rsi/glow.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_person.rsi/luminous_person.png
  Resources/Textures/Mobs/Elemental/living_light/luminous_person.rsi/meta.json
Labels: No C#, Changes: Sprites

#21315 Make mobs not suffocate in livestock crates.
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#21260 Nukeops hud
  Content.Client/Overlays/ShowSyndicateIconsSystem.cs
  Content.Server/GameTicking/Rules/Components/NukeOperativeComponent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/NukeOps/NukeOperativeComponent.cs
  Content.Shared/Overlays/ShowSyndicateIconsComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/StatusIcon/antag.yml
  Resources/Textures/Clothing/Eyes/Hud/synd.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/synd.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/synd.rsi/inhand-left.png
  Resources/Textures/Clothing/Eyes/Hud/synd.rsi/inhand-right.png
  Resources/Textures/Clothing/Eyes/Hud/synd.rsi/meta.json
  Resources/Textures/Interface/Misc/job_icons.rsi/Syndicate.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#21182 aspid cargo expansion :trollface:
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#21427 Use object-spaced bounding boxes for putting stuff in crates
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
Labels: Status: Needs Review

#21227 Ice anomaly spawns ice underneath it
  Content.Server/Anomaly/Effects/EntityAnomalySystem.cs
  Content.Shared/Anomaly/Effects/Components/EntitySpawnAnomalyComponent.cs
  Content.Shared/Movement/Components/FrictionContactsComponent.cs
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/ice_crust.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Textures/Objects/Misc/ice_crust.rsi/ice.png
  Resources/Textures/Objects/Misc/ice_crust.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#21473 Microreactor power cell research
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#21457 Replicate the PDA belt slot sprite in the IDSLOT
  Resources/Textures/Objects/Devices/pda.rsi/equipped-IDCARD.png
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Labels: No C#, Changes: Sprites

#20966 add ied
  Content.Server/Construction/Conditions/MinSolution.cs
  Content.Server/Construction/Conditions/SolutionEmpty.cs
  Resources/Locale/en-US/construction/conditions/min-solution.ftl
  Resources/Locale/en-US/construction/conditions/solution-empty.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/ied.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/ied.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Bombs/ied.rsi/base.png
  Resources/Textures/Objects/Weapons/Bombs/ied.rsi/fuel.png
  Resources/Textures/Objects/Weapons/Bombs/ied.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/ied.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/ied.rsi/wires.png
Labels: Changes: Sprites

#19868 mech nitrogen filtering 2
  Content.Server/Atmos/Components/AirFilterComponent.cs
  Content.Server/Atmos/Components/AirIntakeComponent.cs
  Content.Server/Atmos/EntitySystems/AirFilterSystem.cs
  Content.Server/Mech/Components/MechAirComponent.cs
  Content.Server/Mech/Components/MechAirFilterComponent.cs
  Content.Server/Mech/Components/MechAirIntakeComponent.cs
  Content.Server/Mech/Systems/MechSystem.Filtering.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: Status: Needs Review

#20904 Freelance Radio Channel and Encryption Key
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/radio_channels.yml
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/alt-equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/equipped-EARS.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/icon.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/icon_alt.png
  Resources/Textures/Clothing/Ears/Headsets/freelance.rsi/meta.json
Labels: No C#, Changes: Sprites

#20891 (Reagent) Minor blood and uncooked protein rework
  Resources/Locale/en-US/reagents/generic.ftl
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: No C#

#20945 Anomaly Synchronizer
  Content.Server/Anomaly/AnomalySynchronizerSystem.cs
  Content.Server/Anomaly/Components/AnomalySynchronizerComponent.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Audio/Machines/anomaly_sync_connect.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Locale/en-US/anomaly/anomaly.ftl
  Resources/Locale/en-US/machine-linking/transmitter_ports.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_sync.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Structures/Machines/anomaly_sync.rsi/base.png
  Resources/Textures/Structures/Machines/anomaly_sync.rsi/energy.png
  Resources/Textures/Structures/Machines/anomaly_sync.rsi/meta.json
  Resources/Textures/Structures/Machines/anomaly_sync.rsi/pulse.png
Labels: Changes: Sprites, Status: Needs Review

#21089 Add map info to status HTTP API
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: Status: Needs Review

#20503 ninja stun change
  Content.Server/Ninja/Systems/StunProviderSystem.cs
  Content.Shared/Ninja/Components/StunProviderComponent.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: Status: Awaiting Changes

#21481 Convert ItemSize to prototypes
  Content.Client/Storage/UI/StorageWindow.cs
  Content.IntegrationTests/Tests/StorageTest.cs
  Content.Server/Storage/Components/SecretStashComponent.cs
  Content.Server/Storage/EntitySystems/SecretStashSystem.cs
  Content.Server/UserInterface/StatValuesCommand.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Item/ItemComponent.cs
  Content.Shared/Item/ItemSizePrototype.cs
  Content.Shared/Item/ItemToggleComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Fun/candy_bucket.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
  Resources/Prototypes/item_size.yml
Labels: Status: Needs Review

#21498 Bagel Update small
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#21436 Fix Client RoleSystem not inheriting SharedRoleSystem, network job component
  Content.Client/Roles/RoleSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Objectives/Systems/NotJobRequirementSystem.cs
  Content.Server/Roles/Jobs/JobSystem.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Server/Store/Conditions/BuyerJobCondition.cs
  Content.Shared/Roles/Jobs/JobComponent.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
Labels: Status: Needs Review

#21504 Lockers for clown, mime and NT Representative
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Textures/Structures/Storage/closet.rsi/clown.png
  Resources/Textures/Structures/Storage/closet.rsi/clown_door.png
  Resources/Textures/Structures/Storage/closet.rsi/clown_open.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/mime.png
  Resources/Textures/Structures/Storage/closet.rsi/mime_door.png
  Resources/Textures/Structures/Storage/closet.rsi/mime_open.png
  Resources/Textures/Structures/Storage/closet.rsi/representative_door.png
Labels: No C#, Changes: Sprites

#21521 Make old silicons use cyborg stuff
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#21519 Make the cloning pod and medical scanner fit through verical doors
  Resources/Prototypes/Entities/Structures/Machines/cloning_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/medical_scanner.yml
Labels: No C#

#21517 Add method to clear an action's cooldown
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Status: Needs Review

#21438 Speed Boots [Tier 3 Civ-Service]
  Content.Client/PowerCell/PowerCellSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/PowerCell/PowerCellSystem.Draw.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Weapons/Misc/TetherGunSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/Components/ToggleClothingSpeedComponent.cs
  Content.Shared/PowerCell/PowerCellSlotEmptyEvent.cs
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Resources/Locale/en-US/clothing/components/toggleable-clothing-component.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/icon-on.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/on-equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/on-inhand-right.png
Labels: Changes: Sprites, Status: Needs Review

#21492 Origin Station Update 06.11.2023 (notice boards and gasgiant parallax)
  Resources/Maps/origin.yml
  Resources/Prototypes/Parallaxes/origin.yml
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/gas_giant.png
Labels: No C#, Changes: Map

#21506 No more passive zombies
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: Status: Needs Review

#21505 Minor resprite to CE's turtleneck
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ceturtleskirt.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ceturtle.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#21420 Allows reptilians to eat crayons, as is their right
  Resources/Prototypes/Body/Organs/reptilian.yml
Labels: No C#, Status: Needs Review

#21194 Adding damage visuals for directional windows
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_4.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#20495 Add Wheelchair Spawners
  Resources/Prototypes/Entities/Markers/Spawners/vehicles.yml
Labels: No C#

#19984 Arachnid 2: Episode 2
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Shared/Construction/Conditions/EntityWhitelistCondition.cs
  Content.Shared/Construction/Prototypes/ConstructionPrototype.cs
  Resources/Locale/en-US/construction/conditions/crafter-whitelist.ftl
  Resources/Locale/en-US/construction/construction-system.ftl
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
  Resources/Prototypes/Recipes/Construction/web.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
  Resources/Prototypes/Recipes/Crafting/web.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Interface/Classic/Slots/web.png
  Resources/Textures/Interface/Default/Slots/web.png
  Resources/Textures/Interface/Modernized/Slots/web.png
  Resources/Textures/Mobs/Customization/Arachnid/chelicerae.rsi/downwards.png
  Resources/Textures/Mobs/Species/Arachnid/parts.rsi/eyes.png
  Resources/Textures/Objects/Materials/silk.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/web-shield.rsi/icon-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/web-shield.rsi/icon-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/web-shield.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/web-shield.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#21535 Typo fix for auto injector
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#21534 Fix O id prototype
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/living_light.yml
Labels: No C#

#21537 EmergencyMedipen typo "tranexmic -> tranexamic"
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: No C#

#21524 Grill Resprite
  Resources/Textures/Structures/Machines/electric_grill.rsi/high.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/icon.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/low.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/medium.png
  Resources/Textures/Structures/Machines/electric_grill.rsi/meta.json
Labels: No C#, Changes: Sprites

#21509 Add nitrile gloves it's own sprite
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Textures/Clothing/Hands/Gloves/nitrile.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/nitrile.rsi/icon.png
  Resources/Textures/Clothing/Hands/Gloves/nitrile.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/nitrile.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/nitrile.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/nitrile.png
Labels: No C#, Changes: Sprites

#21538 Sling Resprites
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_cannon.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/laser_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/makeshift.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_carbine.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/xray.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Battery/xray.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pie_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/china_lake.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/china_lake.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/rocket.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/ak.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/ak.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/carbine.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/atreides.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/atreides.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/drozd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/bulldog.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/db_shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/enforcer.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/enforcer.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/heavy_sniper.rsi/meta.json
Labels: No C#, Changes: Sprites

#21543 Remove need to toggle vending machine button
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
Labels: Changes: UI, No C#

#21542 Roller Skates fixes
  Content.Server/Clothing/Systems/SkatesSystem.cs
  Content.Shared/Clothing/Components/SkatesComponent.cs
  Content.Shared/Clothing/EntitySystems/SkatesSystem.cs
  Content.Shared/Damage/Components/DamageOnHighSpeedImpactComponent.cs
  Content.Shared/Damage/Systems/DamageOnHighSpeedImpactSystem.cs
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/licensing.txt
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Status: Needs Review

#21536 New crop: Cotton
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/cotton.rsi/stage-3.png
Labels: No C#, Changes: Sprites

#21522 Tweak dwarf accent
  Resources/Locale/en-US/accent/dwarf.ftl
Labels: No C#

#21514 LOOC will appear on top of your head
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI

#20726 Adding a kitten
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Textures/Mobs/Pets/cat.rsi/kitten.png
  Resources/Textures/Mobs/Pets/cat.rsi/kittencollar.png
  Resources/Textures/Mobs/Pets/cat.rsi/kittentag.png
Labels: No C#, Changes: Sprites

#21550 Mark space glue and lube TrashOnSolutionEmpty
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#21548 Minor Borg Qol
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: No C#, Status: Needs Review

#21307 Fix borg mobstates
  Content.Client/Silicons/Borgs/BorgSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Alert/AlertType.cs
  Content.Shared/Mobs/Systems/MobStateSystem.StateMachine.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/borg_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/borg_critical.rsi/critical.png
  Resources/Textures/Interface/Alerts/borg_critical.rsi/meta.json
  Resources/Textures/Interface/Alerts/borg_dead.rsi/dead.png
  Resources/Textures/Interface/Alerts/borg_dead.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#21552 Arachnid strip menu fix.
  Resources/Prototypes/InventoryTemplates/arachnid_inventory_template.yml
Labels: No C#

#21549 Generators were discharged in the admin arena
  Resources/Maps/Test/admin_test_arena.yml
Labels: No C#

#21557 cheaper borg parts and modules
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
Labels: No C#

#21572 Stasis bed and microwave fixes
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Containers/EmptyOnMachineDeconstructSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/Construction/MachineDeconstructedEvent.cs
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
Labels: Status: Needs Review

#21567 Borg QOL, part 3
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/icon-mop-adv.png
  Resources/Textures/Objects/Specific/Robotics/borgmodule.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#21560 Fix missing if statement when logging missing action error
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Status: Needs Review

#21575 Aspid Update
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#21578 Remove welding mask from tech assistant
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: No C#

#21510 Stops plants from growing when they do not have enough resources
  Content.Server/Botany/Systems/PlantHolderSystem.cs
Labels: Status: Needs Review

#21507 Bee's cant become zombies anymore
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#21587 aspid update
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#21585 Convert license.txt to attributions.yml in Announcements
  Resources/Audio/Announcements/attributions.yml
  Resources/Audio/Announcements/license.txt
Labels: No C#

#21588 mining shuttle update
  Resources/Maps/Shuttles/mining.yml
Labels: No C#

#21593 convert license.txt to attributions.yml in Effects/Vehicle
  Resources/Audio/Effects/Vehicle/attributions.yml
  Resources/Audio/Effects/Vehicle/license.txt
Labels: No C#

#21592 convert license.txt to attributions.yml in Voice/Skeleton
  Resources/Audio/Voice/Skeleton/attributions.yml
  Resources/Audio/Voice/Skeleton/license.txt
Labels: No C#

#21586 convert license.txt to attributions.yml in Machines
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/license.txt
Labels: No C#

#21589 convert license.txt to attributions.yml in Voice/Talk
  Resources/Audio/Voice/Talk/attributions.yml
  Resources/Audio/Voice/Talk/license.txt
Labels: No C#

#21602 Fix world targeted actions making the user face in the wrong direction
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Status: Needs Review

#21603 aspid update
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#21604 remove toxin from spider bread
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
Labels: No C#

#21612 Fix radiation interrupting actions
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Status: Needs Review

#21622 Make cornmeal actually obtainable by botany
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#

#21609 Convert other attributions in Resources/Audio
  Resources/Audio/Effects/Cargo/attributions.yml
  Resources/Audio/Effects/Cargo/licenses.txt
  Resources/Audio/Effects/Diseases/attributions.yml
  Resources/Audio/Effects/Diseases/license.txt
  Resources/Audio/Effects/Grenades/Supermatter/attributions.yml
  Resources/Audio/Effects/Lightning/attributions.yml
  Resources/Audio/Effects/Lightning/licenses.txt
  Resources/Audio/Effects/PowerSink/attributions.yml
  Resources/Audio/Effects/PowerSink/licenses.txt
  Resources/Audio/Effects/Shuttle/attributions.yml
  Resources/Audio/Effects/Shuttle/licenses.txt
  Resources/Audio/Effects/Weather/attributions.yml
  Resources/Audio/Effects/Weather/licenses.txt
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/licenses.txt
  Resources/Audio/Magic/attributions.yml
  Resources/Audio/Magic/licenses.txt
  Resources/Audio/Voice/Reptilian/attritbutions.yml
  Resources/Audio/Voice/Reptilian/license.txt
Labels: No C#

#21591 convert license.txt to attributions.yml in Voice/Human
  Resources/Audio/Voice/Human/attributions.yml
  Resources/Audio/Voice/Human/license.txt
Labels: No C#

#21508 Puppy Ian. Awwww (And a puppy crate)
  Resources/Locale/en-US/prototypes/catalog/fills/crates/livestock-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#

#21611 update death squad role description for more universal uses.
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#21551 Thief stuff: Gloves, Spy Crew Monitor, Invisible Crate, Toy
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Clothing/Neck/Cloaks/void.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/void.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/void.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/void.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/void.rsi/meta.json
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/Objects/Fun/figurines.rsi/thiefcharacter.png
  Resources/Textures/Objects/Tools/spy_device.rsi/icon.png
  Resources/Textures/Objects/Tools/spy_device.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/spy_device.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/spy_device.rsi/meta.json
Labels: No C#, Changes: Sprites

#20658 Space Sharkminnow
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Body/Organs/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Prototypes/Animal/bloodsucker.yml
  Resources/Prototypes/Chemistry/metabolizer_types.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/dead_mouth.png
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/icon.png
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/mouth.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#21628 fix egg debug assert
  Content.Shared/Damage/Systems/DamageOnHighSpeedImpactSystem.cs
Labels: Status: Needs Review

#21630 Reduce space music grid range
  Resources/Prototypes/audio.yml
Labels: No C#

#21623 Storage CanInsert() tweaks
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Server/Item/ItemSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
Labels: Status: Needs Review

#21625 make explosions affect containers
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
Labels: Status: Needs Review

#21610 space cleaner and fuel dispensers
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
  Resources/Textures/Structures/Storage/tanks.rsi/cleanerdispenser.png
  Resources/Textures/Structures/Storage/tanks.rsi/fueldispenser.png
  Resources/Textures/Structures/Storage/tanks.rsi/meta.json
  Resources/Textures/Structures/Storage/tanks.rsi/pepperdispenser.png
Labels: No C#, Changes: Sprites

#21639 Cak
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Mobs/Pets/cat.rsi/cak.png
Labels: No C#, Changes: Sprites

#21641 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#21642 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#21643 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#21545 Pet Carrier (Zookeeper gameplay?)
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Misc/pet_carrier.yml
  Resources/Textures/Objects/Storage/petcarrier.rsi/icon.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/inhand-left.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/inhand-right.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/meta.json
  Resources/Textures/Objects/Storage/petcarrier.rsi/pet_carrier_base.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/pet_carrier_door.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/pet_carrier_open.png
  Resources/Textures/Objects/Storage/petcarrier.rsi/welded.png
Labels: Changes: Sprites

#21352 Minimalist Action Bar
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButtonContainer.cs
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml
  Content.Client/UserInterface/Systems/Actions/Widgets/ActionsBar.xaml.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Resources/keybinds.yml
Labels: Changes: UI

#21594 Flammable system bug fixes.
  Content.Server/Atmos/Components/FlammableComponent.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Shared/Timing/UseDelaySystem.cs
Labels: Status: Needs Review

#21460 add MindPlaySound to role system
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
Labels: Status: Needs Review

#21653 Allow mid-round borgs to emote
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: No C#

#21648 craftable cotton cloth
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/cotton.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Labels: No C#

#20802 signal router
  Content.Server/Disposal/Tube/Components/DisposalSignalRouterComponent.cs
  Content.Server/Disposal/Tube/Systems/DisposalSignalRouterSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped-free.png
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-flipped.png
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router-free.png
  Resources/Textures/Structures/Piping/disposal.rsi/signal-router.png
Labels: Changes: Sprites

#21489 Add disposals damage
  Content.Server/Disposal/Tube/Components/DisposalTubeComponent.cs
  Content.Server/Disposal/Tube/DisposalTubeSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
Labels: Status: Needs Review

#21040 Gateway destinations
  Content.Client/Gateway/UI/GatewayBoundUserInterface.cs
  Content.Client/Gateway/UI/GatewayWindow.xaml
  Content.Client/Gateway/UI/GatewayWindow.xaml.cs
  Content.Client/Overlays/StencilOverlay.RestrictedRange.cs
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Overlays/StencilOverlaySystem.cs
  Content.Client/Parallax/BiomeDebugOverlay.cs
  Content.Client/Parallax/Commands/ShowBiomeCommand.cs
  Content.Client/Parallax/ParallaxSystem.cs
  Content.Client/Salvage/RestrictedRangeSystem.cs
  Content.Client/Weather/WeatherOverlay.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Gateway/Components/GatewayComponent.cs
  Content.Server/Gateway/Components/GatewayDestinationComponent.cs
  Content.Server/Gateway/Components/GatewayGeneratorComponent.cs
  Content.Server/Gateway/Components/GatewayGeneratorDestinationComponent.cs
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Gateway/Systems/GatewaySystem.cs
  Content.Server/Maps/PlanetCommand.cs
  Content.Server/Movement/Systems/BoundarySystem.cs
  Content.Server/Parallax/BiomeSystem.Commands.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Salvage/RestrictedRangeSystem.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Shared/Gateway/GatewayUi.cs
  Content.Shared/Gateway/SharedGatewayGeneratorSystem.cs
  Content.Shared/Movement/Components/BoundaryComponent.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
  Content.Shared/Parallax/Biomes/Markers/BiomeMarkerLayerPrototype.cs
  Content.Shared/Parallax/Biomes/Markers/IBiomeMarkerLayer.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Procedural/Loot/BiomeMarkerLoot.cs
  Content.Shared/Salvage/RestrictedRangeComponent.cs
  Content.Shared/Salvage/SharedRestrictedRangeSystem.cs
  Content.Shared/Teleportation/Components/LinkedEntityComponent.cs
  Content.Shared/Teleportation/Components/PortalComponent.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Resources/Locale/en-US/gateway/gateway.ftl
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Structures/Machines/gateway.yml
  Resources/Prototypes/Procedural/biome_markers.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/world_gradient_circle.swsl
  Resources/clientCommandPerms.yml
Labels: Changes: UI, Status: Needs Review

#21660 Remove remote signal from ieds
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/ied.yml
Labels: No C#

#21665 Make bloodloss and asphyxiation damage not ignore resistances
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Status: Needs Review

#21675 terminal update
  Resources/Maps/Misc/terminal.yml
Labels: No C#

#21666 Kettle updoot
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#21671 Fix corgi pup fixture
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_deadcollar.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_deadtag.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_shaved.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppy_shaved_dead.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppycollar.png
  Resources/Textures/Mobs/Pets/corgi.rsi/puppytag.png
Labels: No C#, Changes: Sprites

#21677 remove qm externals access
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: No C#

#21679 give supply bot cargo access
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#21556 Allow unbuckling incapacitated people from vehicles. Fix being able to unbuckle yourself while incapacitated
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
Labels: Status: Needs Review

#21680 janiborg cleaning module starts with trashbag now
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: No C#

#21683 Fix double clicking actions, vote overlap, make adding actions more visible
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
Labels: Changes: UI

#21685 aspid update
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#21687 kettle update
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#21686 cargo update
  Resources/Maps/Shuttles/cargo.yml
Labels: No C#

#21678 Cak Upgrade
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/cat_meow2.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: No C#

#21664 Remove usages of obsolete methods in ChargeBatteryArtifactSystem
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChargeBatteryArtifactSystem.cs
Labels: Status: Needs Review

#21631 Add Voyage Neverending to mining music
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Ambience/voyage_neverending.ogg
  Resources/Prototypes/audio.yml
Labels: No C#

#21694 Lower IED damage
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/ied.yml
Labels: No C#

#21690 Changed NukeOps Shuttle Call Time from 10 Minutes to 3 Minutes
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
Labels: Status: Needs Review

#21154 Operations
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-nukeops.ftl
  Resources/Prototypes/Datasets/Names/Operation_prefix.yml
  Resources/Prototypes/Datasets/Names/Operation_suffix.yml
Labels: Status: Needs Review
