Repository space-wizards/space-station-14, pull requests merged in 2023-02, with the labels that each got.

#13830 remove the funniest changelog of the year
  Resources/Changelog/Changelog.yml
Labels: No C#

#13820 allow to build catwalk on lattice
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Status: Needs Review

#13821 allow to build solar and grille on lattice
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#, Status: Needs Review

#13826 give uranium a stacked visual
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Textures/Objects/Materials/Sheets/other.rsi/meta.json
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_2.png
  Resources/Textures/Objects/Materials/Sheets/other.rsi/uranium_3.png
Labels: No C#, Changes: Sprites

#13842 Bagel Update 16.7
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13864 Remove unused medical half life sounds
  Resources/Audio/Items/Medical/generic_healing_begin.ogg
  Resources/Audio/Items/Medical/generic_healing_end.ogg
Labels: No C#

#13841 small-3 salvage update
  Resources/Maps/Salvage/small-3.yml
Labels: No C#

#13838 tick-colony salvage update
  Resources/Maps/Salvage/tick-colony.yml
Labels: No C#

#13835 ruin-cargo-salvage salvage update
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
Labels: No C#

#13844 centcomm update
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#13774 Research Assistant
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Markers/Spawners/jobs.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/ResearchAssistant.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-internsci.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idintern-sci.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#13862 Rat King AI is Hostile
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#

#13865 Fix bagel
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13869 typo vs webedit who would win
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: No C#, Status: Needs Review

#13920 Hotfix VisualizerDataInt
  Content.Server/Construction/Completions/VisualizerDataInt.cs
Labels: Status: Needs Review

#13881 Resolves SmokeVisualizer is Obsolete
  Content.Client/Chemistry/Visualizers/SmokeVisualizer.cs
  Content.Client/Chemistry/Visualizers/SmokeVisualizerSystem.cs
  Content.Client/Chemistry/Visualizers/SmokeVisualsComponent.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
Labels: Status: Needs Review

#13880 Resolves FoamVisualizer is Obsolete
  Content.Client/Chemistry/Visualizers/FoamVisualizer.cs
  Content.Client/Chemistry/Visualizers/FoamVisualizerSystem.cs
  Content.Client/Chemistry/Visualizers/FoamVisualsComponent.cs
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
Labels: Status: Needs Review

#13922 Ticks Are Now Hostile
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#

#13892 Resolves SignalSwitchVisualizer is Obsolete
  Content.Client/MachineLinking/SignalSwitchVisualizer.cs
  Content.Shared/MachineLinking/SignalSwitchVisuals.cs
Labels: Status: Needs Review

#13930 move one salvage to right folder
  Resources/Maps/Salvage/small-ship-1.yml
  Resources/Maps/small-ship-1.yml
Labels: No C#, Changes: Map

#13833 Barratry 2.3
  Resources/Maps/barratry.yml
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13894 Resolves CreamPiedVisualizer is Obsolete
  Content.Client/Nutrition/Visualizers/CreamPiedVisualizer.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#13936 Fix inaccurate tip
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#13939 Bagel Update 16.9
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13942 Marathon Update 4.5
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13937 Omega map changes [ResearchAssistant && and etc]
  Resources/Maps/omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13933 Cluster map changes [Research assistant && Anomaly lab]
  Resources/Maps/cluster.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13931 Add encryption keys to the PTech
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
Labels: No C#

#13890 Resolve ClustergrenadeVisualizer is Obsolete
  Content.Client/Explosion/ClusterGrenadeVisualizer.cs
  Content.Client/Explosion/ClusterGrenadeVisualizerSystem.cs
  Content.Client/Explosion/ClusterGrenadeVisualsComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
Labels: Status: Needs Review

#13943 Missing Virology Lab Coat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/virodrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/icon-open.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/open-equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/open-inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/open-inhand-right.png
Labels: No C#, Changes: Sprites

#13868 Rat King Resprite
  Resources/Textures/Mobs/Animals/regalrat.rsi/dead.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/icon.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/meta.json
  Resources/Textures/Mobs/Animals/regalrat.rsi/regalrat.png
Labels: No C#, Changes: Sprites

#13923 Fix ScrambledAccent
  Content.Server/Speech/EntitySystems/ScrambledAccentSystem.cs
  Resources/Locale/en-US/accent/scrambled.ftl
Labels: Status: Needs Review

#13927 Anomaly Vessel visuals + audio
  Content.Server/Anomaly/AnomalySystem.Vessel.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/Components/AnomalyVesselComponent.cs
  Content.Shared/Anomaly/SharedAnomaly.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/vessel_warning.ogg
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/anomaly-1.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/anomaly-2.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/anomaly-3.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/meta.json
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/powered-1.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/powered-2.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_vessel.rsi/powered-3.png
Labels: Changes: Sprites

#13877 Airlock painter fixes
  Content.Client/AirlockPainter/UI/AirlockPainterBoundUserInterface.cs
  Content.Client/AirlockPainter/UI/AirlockPainterWindow.xaml
  Content.Client/AirlockPainter/UI/AirlockPainterWindow.xaml.cs
  Content.Shared/AirlockPainter/SharedAirlockPainterSystem.cs
Labels: Changes: UI

#13714 Cabinet random filling fix
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: No C#, Status: Needs Review

#13730 Base grenade prototype
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#, Status: Awaiting Changes

#13946 Shooting target tweaks
  Resources/Prototypes/Entities/Objects/Specific/Security/target.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#13766 More anomalies
  Content.Client/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
  Content.Server/Anomaly/Effects/FleshAnomalySystem.cs
  Content.Server/Anomaly/Effects/PyroclasticAnomalySystem.cs
  Content.Server/Maps/TileSystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/Effects/BluespaceAnomalySystem.cs
  Content.Shared/Anomaly/Effects/Components/BluespaceAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/ElectricityAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/FleshAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/GravityAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/Components/PyroclasticAnomalyComponent.cs
  Content.Shared/Anomaly/Effects/SharedGravityAnomalySystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Structures/Decoration/flesh_blockers.yml
  Resources/Prototypes/Entities/Structures/Specific/anomalies.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Aliens/flesh.rsi/clamp.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/dead.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/golem.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/jared.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/lover.png
  Resources/Textures/Mobs/Aliens/flesh.rsi/meta.json
  Resources/Textures/Objects/Misc/fleshkudzu.rsi/base.png
  Resources/Textures/Objects/Misc/fleshkudzu.rsi/meta.json
  Resources/Textures/Structures/Decoration/flesh_decoration.rsi/ajar.png
  Resources/Textures/Structures/Decoration/flesh_decoration.rsi/closed.png
  Resources/Textures/Structures/Decoration/flesh_decoration.rsi/meta.json
  Resources/Textures/Structures/Decoration/flesh_decoration.rsi/open.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom5-pulse.png
  Resources/Textures/Structures/Specific/anomaly.rsi/anom5.png
  Resources/Textures/Structures/Specific/anomaly.rsi/meta.json
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/meat.png
Labels: Changes: Sprites, Status: Needs Review

#13955 Minor fax notification text change
  Resources/Locale/en-US/fax/fax.ftl
Labels: No C#, Status: Needs Review

#13960 Fix red kudzu
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: No C#

#13860 added singularity guidebook entry
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/end_cap.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/fuel_chamber.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/power_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/singularity.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Server Info/Guidebook/Singularity.xml
Labels: No C#, Status: Needs Review

#13856 Anomaly Generator Tweaks
  Content.Client/Anomaly/Ui/AnomalyGeneratorWindow.xaml.cs
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/AnomalySystem.cs
  Content.Server/Anomaly/Components/AnomalyGeneratorComponent.cs
  Content.Server/Anomaly/Components/GeneratingAnomalyGeneratorComponent.cs
  Content.Shared/Anomaly/SharedAnomaly.cs
  Resources/Audio/Machines/anomaly_generate.ogg
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/beep.ogg
  Resources/Locale/en-US/anomaly/anomaly.ftl
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Textures/Structures/Machines/Anomaly/anomaly_generator.rsi/generating.png
  Resources/Textures/Structures/Machines/Anomaly/anomaly_generator.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#13972 Use locale for singularity guidebook title
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/engineering.yml
Labels: No C#, Status: Needs Review

#13975 Moose 3.3.4
  Resources/Maps/moose.yml
  Resources/Prototypes/Maps/moose.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13976 Kettle 1.6.3
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13958 NCS Aspid
  Resources/Maps/aspid.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13882 Resolves VaporVisualizer is Obsolete
  Content.Client/Chemistry/Visualizers/VaporVisualizer.cs
  Content.Client/Chemistry/Visualizers/VaporVisualizerSystem.cs
  Content.Client/Chemistry/Visualizers/VaporVisualsComponent.cs
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
Labels: Status: Needs Review

#13817 Printable T3 machine parts
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: No C#, Status: Needs Review

#13991 Make APEs lightweight
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: No C#

#14002 Aspid 1.0.1
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#13996 fix wallmount board cheesing (fix #13994)
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
Labels: No C#, Status: Needs Review

#13990 Radio controls guidebook entry
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/meta.yml
  Resources/Prototypes/Guidebook/radio.yml
  Resources/Server Info/Guidebook/Controls/Controls.xml
  Resources/Server Info/Guidebook/Controls/Radio.xml
Labels: No C#, Status: Needs Review

#14005 Enable merge group checks for our workflows.
  .github/workflows/build-test-debug.yml
  .github/workflows/build-test-release.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: No C#

#13992 Make anomaly vessel beeping louder
  Resources/Audio/Machines/vessel_warning.ogg
Labels: No C#

#14023 Legal closets have Judge Robes
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
Labels: No C#

#13351 Improve explosion logs
  Content.Server/Chemistry/EntitySystems/SolutionSpikableSystem.cs
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Destructible/Thresholds/Behaviors/ChangeConstructionNodeBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/DoActsBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/DumpCanisterBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/DumpRestockInventory.cs
  Content.Server/Destructible/Thresholds/Behaviors/EjectVendorItems.cs
  Content.Server/Destructible/Thresholds/Behaviors/EmptyAllContainersBehaviour.cs
  Content.Server/Destructible/Thresholds/Behaviors/ExplodeBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/GibBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/IThresholdBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/PlaySoundBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/SolutionExplosionBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpawnEntitiesBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/SpillBehavior.cs
  Content.Server/Destructible/Thresholds/Behaviors/TriggerBehavior.cs
  Content.Server/Destructible/Thresholds/DamageThreshold.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/MachineLinking/Events/SignalReceivedEvent.cs
  Content.Server/MachineLinking/System/SignalLinkerSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
Labels: Status: Needs Review

#13745 Add ItemStatus for mopping
  Content.Client/Fluids/MoppingSystem.cs
  Content.Client/Fluids/UI/AbsorbentItemStatus.xaml
  Content.Client/Fluids/UI/AbsorbentItemStatus.xaml.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Content.Shared/Fluids/AbsorbentComponent.cs
  Content.Shared/Fluids/SharedMoppingSystem.cs
Labels: Changes: UI

#13770 Carps no longer slide on the floor.
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: No C#

#13775 Changed sci and RD icons
  Resources/Textures/Interface/Misc/job_icons.rsi/ResearchDirector.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Scientist.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idresearchdirector.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idscientist.png
Labels: No C#, Changes: Sprites

#13750 Missing Virology Bags
  Resources/Prototypes/Catalog/VendingMachines/Inventories/virodrobe.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/virology.rsi/meta.json
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/virology.rsi/meta.json
Labels: No C#, Changes: Sprites

#13984 Tweaked Rat King Palette
  Resources/Textures/Mobs/Animals/regalrat.rsi/dead.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/icon.png
  Resources/Textures/Mobs/Animals/regalrat.rsi/regalrat.png
Labels: No C#, Changes: Sprites

#13815 Fix medical doctor's wall locker fill
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: No C#

#13787 Dame Dane Guy Outfit
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/damedanecoat.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Misc/damedaneshoes.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/damedaneoutfit.rsi/meta.json
Labels: No C#, Changes: Sprites

#14031 Bagel Update 17.0
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#14039 Fix nukecodes message
  Resources/Locale/en-US/nuke/nuke-component.ftl
Labels: No C#, Status: Needs Review

#13749 Add solar flare event
  Content.Server/GameTicking/Rules/Configurations/SolarFlareEventRuleConfiguration.cs
  Content.Server/GameTicking/Rules/Configurations/StationEventRuleConfiguration.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Server/Radio/RadioReceiveEvent.cs
  Content.Server/StationEvents/Events/SolarFlare.cs
  Resources/Locale/en-US/radio/radio-event.ftl
  Resources/Locale/en-US/station-events/events/solar-flare.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#13722 move lockcomponent to shared
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
  Content.Server/Cabinet/ItemCabinetSystem.cs
  Content.Server/CardboardBox/CardboardBoxSystem.cs
  Content.Server/Construction/Conditions/Locked.cs
  Content.Server/Foldable/FoldableSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Lock/LockComponent.cs
  Content.Server/Lock/LockSystem.cs
  Content.Server/Lock/LockToggledEvent.cs
  Content.Server/Morgue/CrematoriumSystem.cs
  Content.Server/Morgue/EntityStorageLayingDownOverrideSystem.cs
  Content.Server/Resist/ResistLockerSystem.cs
  Content.Server/Security/Systems/DeployableBarrierSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Storage/Components/EntityStorageComponent.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Content.Server/Storage/EntitySystems/CursedEntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Lock/LockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorage.cs
Labels: Status: Needs Review

#13487 Procgen biomes
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/Parallax/BiomeSystem.cs
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.Server/Maps/PlanetCommand.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Parallax/Biomes/BiomeComponent.cs
  Content.Shared/Parallax/Biomes/BiomePrototype.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Resources/Locale/en-US/maps/planet.ftl
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Decals/planet.yml
  Resources/Prototypes/Entities/Tiles/basalt.yml
  Resources/Prototypes/Parallaxes/default.yml
  Resources/Prototypes/Parallaxes/planet.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/biomes.yml
  Resources/Textures/Tiles/Asteroid/asteroid_dug.png
  Resources/Textures/Tiles/Planet/Desert/desert.png
  Resources/Textures/Tiles/Planet/Desert/desert_dug.png
  Resources/Textures/Tiles/Planet/Desert/low_desert.png
  Resources/Textures/Tiles/Planet/Desert/low_desert_dug.png
  Resources/Textures/Tiles/Planet/Desert/meta.json
  Resources/Textures/Tiles/Planet/Grass/attributions.yml
  Resources/Textures/Tiles/Planet/Grass/double_edge.png
  Resources/Textures/Tiles/Planet/Grass/grass.png
  Resources/Textures/Tiles/Planet/Grass/single_edge.png
  Resources/Textures/Tiles/Planet/Grass/triple_edge.png
  Resources/Textures/Tiles/Planet/Snow/edge0.png
  Resources/Textures/Tiles/Planet/Snow/edge1.png
  Resources/Textures/Tiles/Planet/Snow/edge2.png
  Resources/Textures/Tiles/Planet/Snow/gravsnow.png
  Resources/Textures/Tiles/Planet/Snow/gravsnow_corner.png
  Resources/Textures/Tiles/Planet/Snow/gravsnow_surround.png
  Resources/Textures/Tiles/Planet/Snow/ice.png
  Resources/Textures/Tiles/Planet/Snow/meta.json
  Resources/Textures/Tiles/Planet/Snow/permafrost.png
  Resources/Textures/Tiles/Planet/Snow/plating.png
  Resources/Textures/Tiles/Planet/Snow/platingdrift.png
  Resources/Textures/Tiles/Planet/Snow/snow.png
  Resources/Textures/Tiles/Planet/Snow/snow_corner.png
  Resources/Textures/Tiles/Planet/Snow/snow_piss.png
  Resources/Textures/Tiles/Planet/Snow/snow_surround.png
  Resources/Textures/Tiles/Planet/Snow/snowplating.png
  Resources/Textures/Tiles/Planet/Snow/snowwhite.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass0.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass1.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass2.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass3.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass_corners.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass_edge_corner.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass_edges.png
  Resources/Textures/Tiles/Planet/grass.rsi/grass_edges_old.png
  Resources/Textures/Tiles/Planet/grass.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#14011 Ore veins
  Content.Client/IconSmoothing/IconSmoothSystem.Edge.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Client/Mining/OreVeinVisualsComponent.cs
  Content.Shared/IconSmoothing/SmoothEdgeComponent.cs
  Content.Shared/Mining/Components/OreVeinComponent.cs
  Content.Shared/Mining/OrePrototype.cs
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_bauxite.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_carbon.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_copper.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_diamond.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_east.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_gold.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_hematite.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_lead.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_marble.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_north.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_painite.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_phoron.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_platinum.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_quartz.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_rutile.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_silver.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_south.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_tin.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_uranium.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_verdantium.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_void_opal.png
  Resources/Textures/Structures/Walls/rock.rsi/rock_west.png
Labels: Changes: Sprites

#13950 Add filter change logs for gas filters
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
Labels: Status: Needs Review

#14001 Rename light cvars
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
Labels: Needs Engine PR

#14041 Rename IConsoleHost.RegisteredCommands
  Content.Client/Administration/Managers/ClientAdminManager.cs
  Content.Server/Administration/Managers/AdminManager.cs
Labels: Needs Engine PR, Status: Needs Review

#14026 Meat Anomaly Tweaks
  Content.Shared/Anomaly/Effects/Components/FleshAnomalyComponent.cs
  Content.Shared/Damage/Components/DamageContactsComponent.cs
  Content.Shared/Damage/Components/DamagedByContactComponent.cs
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: Status: Needs Review

#13852 Fix diona scream and add clap, snap, and laugh sounds
  Resources/Audio/Voice/Diona/attributions.yml
  Resources/Audio/Voice/Diona/diona_clap.ogg
  Resources/Audio/Voice/Diona/diona_rustle1.ogg
  Resources/Audio/Voice/Diona/diona_rustle2.ogg
  Resources/Audio/Voice/Diona/diona_rustle3.ogg
  Resources/Audio/Voice/Diona/diona_snap.ogg
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#, Status: Needs Review

#13951 Omega large camera update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#14071 Fix bug in GasTileOverlay state logic
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
Labels: Status: Needs Review

#14086 Set netsync false for some sprites
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
Labels: No C#

#14079 Rename GetOrNewWidget
  Content.Client/Suspicion/SuspicionRoleComponent.cs
Labels: Needs Engine PR

#12929 Conveyor Belt optimization and prediction
  Content.Client/Physics/Controllers/ConveyorController.cs
  Content.Server/Conveyor/ConveyorComponent.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Shared/Conveyor/ActiveConveyorComponent.cs
  Content.Shared/Conveyor/ConveyorComponent.cs
  Content.Shared/Conveyor/SharedConveyorComponent.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
Labels: Status: Needs Review, Status: Awaiting Changes

#12867 Fire MeleeHitEvent on misses.
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Melee.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Obstacles.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Weapons/Melee/Events/MeleeHitEvent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Awaiting Changes

#12973 ECS dragdrop
  Content.Client/DragDrop/DragDropHelper.cs
  Content.Client/DragDrop/DragDropSystem.cs
  Content.Client/Kitchen/Components/KitchenSpikeComponent.cs
  Content.Client/Kitchen/KitchenSpikeSystem.cs
  Content.Client/MedicalScanner/MedicalScannerComponent.cs
  Content.Client/Movement/Systems/ClimbSystem.cs
  Content.Client/Strip/StrippableComponent.cs
  Content.Client/Strip/StrippableSystem.cs
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
  Content.Server/Buckle/Systems/BuckleSystem.Strap.cs
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Interaction/InteractionSystem.cs
  Content.Server/Kitchen/Components/KitchenSpikeComponent.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Medical/Components/MedicalScannerComponent.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/MedicalScannerSystem.cs
  Content.Server/Strip/StrippableComponent.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
  Content.Shared/Body/Components/BodyComponent.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
  Content.Shared/Climbing/BonkSystem.cs
  Content.Shared/Climbing/SharedClimbSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/DragDrop/CanDragDropOnEvent.cs
  Content.Shared/DragDrop/DragDropRequestEvent.cs
  Content.Shared/DragDrop/DraggableEvents.cs
  Content.Shared/DragDrop/DropAttemptEvent.cs
  Content.Shared/DragDrop/IDragDropOn.cs
  Content.Shared/DragDrop/IDraggable.cs
  Content.Shared/DragDrop/SharedDragDropSystem.cs
  Content.Shared/Ghost/SharedGhostSystem.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Kitchen/Components/SharedKitchenSpikeComponent.cs
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Content.Shared/MedicalScanner/SharedMedicalScannerComponent.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Nutrition/Components/ButcherableComponent.cs
  Content.Shared/PAI/SharedPAISystem.cs
  Content.Shared/Strip/Components/SharedStrippingComponent.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
  Content.Shared/Strip/Components/StrippingComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: Status: Needs Review

#14064 APEs are no longer destroyed by mousetraps
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: No C#

#14013 glass 1984
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
Labels: No C#

#13970 no longer able to validhunt based on voice mask description
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#

#14101 Remove reference to deleted mind
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Mind/MindSystem.cs
Labels: Status: Needs Review

#14103 Barratry Pop Cap
  Resources/Prototypes/Maps/barratry.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13889 Resolves LightBulbVisualizer is Obsolete
  Content.Client/Light/EntitySystems/LightBulbSystem.cs
  Content.Client/Light/Visualizers/LightBulbVisualizer.cs
  Content.Server/Light/Components/LightBulbComponent.cs
  Content.Server/Light/Components/LightReplacerComponent.cs
  Content.Server/Light/Components/PoweredLightComponent.cs
  Content.Server/Light/EntitySystems/LightBulbSystem.cs
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Shared/Light/Component/LightBulbComponent.cs
  Content.Shared/Light/SharedLightBulb.cs
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: Status: Needs Review

#14106 Bagel cap @70 like other mid poops
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map, Status: Needs Review

#14105 Box and Meta proto changes
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map, Status: Needs Review

#14051 Add times to departmentban command to match roleban command
  Content.Server/Administration/Commands/DepartmentBanCommand.cs
Labels: Status: Needs Review

#14111 Fix CBURN helmet typo
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: No C#

#14112 Bump upload limit to 10MB
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: No C#

#14085 Make counters climbable
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
Labels: No C#

#14123 Readd tasers
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#

#14118 Bagel Update 17.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#14114 Chat Comma
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
Labels: No C#, Status: Needs Review

#14067 artifact soups
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ChemicalPuddleArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChemicalPuddleArtifactSystem.cs
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Status: Needs Review

#14120 vendomat inventory
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
Labels: No C#, Status: Needs Review

#14107 carp spawners
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: No C#

#14138 Kettle 1.6.4
  Resources/Maps/kettle.yml
  Resources/Prototypes/Maps/kettle.yml
Labels: No C#, Changes: Map, Status: Needs Review

#14136 Aspid 1.0.2
  Resources/Maps/aspid.yml
  Resources/Prototypes/Maps/aspid.yml
Labels: No C#, Changes: Map, Status: Needs Review

#14135 Barratry 2.4
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#13375 Add teleporter logs
  Content.Client/Teleportation/PortalSystem.cs
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Content.Server/Teleportation/PortalSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
Labels: Status: Awaiting Changes

#14139 Add vote logs
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/Voting/VoteCommands.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Voting/MsgVoteMenu.cs
Labels: Changes: UI, Status: Needs Review

#13307 Add prevent suicide to minds and add tag control commands
  Content.Server/Administration/Commands/TagCommands.cs
  Content.Server/Mind/Mind.cs
  Content.Server/Mind/MindSystem.cs
  Resources/Locale/en-US/administration/commands/tag-commands.ftl
  Resources/Locale/en-US/shell.ftl
Labels: Status: Needs Review

#14088 Added honkcult robe
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Clothing/OuterClothing/Coats/clownpriest.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/clownpriest.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/clownpriest.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Coats/clownpriest.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Coats/clownpriest.rsi/meta.json
Labels: No C#, Changes: Sprites

#14147 Marathon Update 4.6
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#14155 Move artifact verbs from admin menu to debug menu
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#14033 Syndicate Logo
  Resources/Prototypes/Decals/syndlogo.yml
  Resources/Textures/Decals/syndlogo.rsi/meta.json
  Resources/Textures/Decals/syndlogo.rsi/syndlogo1.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo10.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo11.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo12.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo13.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo14.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo15.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo16.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo17.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo18.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo19.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo2.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo3.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo4.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo5.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo6.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo7.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo8.png
  Resources/Textures/Decals/syndlogo.rsi/syndlogo9.png
Labels: No C#, Changes: Sprites

#14062 Add atmosian plushie
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_atmosian.png
Labels: Changes: Sprites, Status: Needs Review

#13780 Service Worker Hydro Access
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: No C#

#13777 Update radio prefix parsing
  Content.Client/Chat/Managers/ChatManager.cs
  Content.Client/Chat/Managers/IChatManager.cs
  Content.Client/Radio/EntitySystems/HeadsetSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorButton.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorItemButton.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelSelectorPopup.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Chat/Systems/ChatSystem.Radio.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Radio/Components/HeadsetComponent.cs
  Content.Server/Radio/Components/IntrinsicRadioTransmitterComponent.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/StationEvents/Events/SolarFlare.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Radio/Components/EncryptionKeyComponent.cs
  Content.Shared/Radio/Components/EncryptionKeyHolderComponent.cs
  Content.Shared/Radio/Components/HeadsetComponent.cs
  Content.Shared/Radio/EncryptionChannelsChangedEvent.cs
  Content.Shared/Radio/EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/EntitySystems/SharedHeadsetSystem.cs
  Content.Shared/Radio/GetDefaultRadioChannelEvent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: Changes: UI, Status: Needs Review

#14163 Fix artifact verb permissions
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#14159 Change bottle size from default (5) to 3
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
Labels: No C#

#14161 Cabbage, Red Onion and related salads.
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_meal.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/caesar.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/coleslaw.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/kimchi.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/cabbage.rsi/stage-1.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#14160 Rename migrations to fix CS8981 warnings.
  Content.Server.Database/Migrations/Postgres/20220103235647_whitelist.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220103235647_whitelist.cs
  Content.Server.Database/Migrations/Postgres/20220108185749_add-species.Designer.cs
  Content.Server.Database/Migrations/Postgres/20220108185749_add-species.cs
  Content.Server.Database/Migrations/Sqlite/20220103235637_whitelist.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220103235637_whitelist.cs
  Content.Server.Database/Migrations/Sqlite/20220108185734_add-species.Designer.cs
  Content.Server.Database/Migrations/Sqlite/20220108185734_add-species.cs
Labels: Status: Needs Review

#14168 Make jetpacks wearable in suit storage
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#14170 Add verb to open entity logs
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml.cs
  Content.Client/Administration/UI/Logs/AdminLogsEui.cs
  Content.Server/Administration/Logs/AdminLogsEui.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Shared/Administration/Logs/AdminLogsEuiState.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
Labels: Changes: UI, Status: Needs Review

#14154 Fix adjusting slots on infinite slot jobs
  Content.Server/Station/Systems/StationJobsSystem.cs
Labels: Status: Needs Review

#14156 ECS SolutionTransfer + move to shared
  Content.Server/Chemistry/Components/SolutionTransferComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionTransferSystem.cs
  Content.Server/Extinguisher/FireExtinguisherSystem.cs
  Content.Shared/Chemistry/Components/SolutionTransferComponent.cs
Labels: Status: Needs Review

#14096 make emagged marker component (fixed version of #13867)
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/StasisBedComponent.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Recycling/Components/RecyclerComponent.cs
  Content.Server/Recycling/RecyclerSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Emag/Components/EmaggedComponent.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: Status: Needs Review

#14175 Disable auto shuttle call in debug
  Resources/ConfigPresets/Build/debug.toml
Labels: No C#

#14180 Silly value change
  Content.Server/Atmos/Components/GasTankComponent.cs
Labels: Status: Needs Review

#14183 Fix substation units
  Resources/Prototypes/Entities/Structures/Power/substation.yml
Labels: No C#

#13965 Add the chemistry bag as the default belt for the chemist
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/equipped-BELT.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/icon.png
  Resources/Textures/Objects/Specific/Chemistry/chem_bag.rsi/meta.json
Labels: No C#, Changes: Sprites

#14188 Maint locker 1984
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#14192 Bagel Update 17.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#14187 Revert "Make jetpacks wearable in suit storage"
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#14194 Fix first round after a server restart being displayed as number 0
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.Player.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#14201 Box Station Emergency Shuttle and Pill Update
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Shuttles/emergency_box.yml
  Resources/Prototypes/Maps/box.yml
Labels: No C#, Changes: Map, Status: Needs Review

#14205 Bagel Update 17.3
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#14196 Add APC power meter
  Content.Client/Power/APC/UI/ApcMenu.xaml
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Shared/APC/SharedApc.cs
  Resources/Locale/en-US/ui/power-apc.ftl
Labels: Changes: UI, Status: Needs Review

#14185 Update content for .Owner culling
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Client/Stack/StackSystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/RandomTeleportArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ShuffleArtifactSystem.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Tabletop/SharedTabletopSystem.cs
Labels: Status: Needs Review

#14211 Fix context menu scroll bar visibility
  Content.Client/ContextMenu/UI/ContextMenuPopup.xaml
Labels: Needs Engine PR, Changes: UI, No C#

#14214 Fix emergency shuttle spawning
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#14224 oops acc wire broke
  Content.Server/Access/AccessWireAction.cs
Labels: Status: Needs Review

#14227 Jetpack 2 line balance update
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#14239 Bagel Orbital Body
  Resources/Maps/bagel.yml
  Resources/Prototypes/Parallaxes/bagel.yml
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/licences.txt
  Resources/Textures/Parallaxes/planet.png
Labels: No C#, Changes: Map

#14241 update mini jetpacked filled
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: No C#

#14225 Made gasthermomachines connection pipes rotatable again
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
Labels: No C#

#14202 Barratry 2.4.5
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#14149 implant locale + priority tweaks
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Prototypes/Actions/types.yml
Labels: No C#, Status: Needs Review

#14260 Nukie Planet Update
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#14261 Infiltrator Update
  Resources/Maps/infiltrator.yml
Labels: No C#, Changes: Map

#14081 Alias the FloorBasaslt to FloorBasalt
  Resources/Prototypes/Tiles/floors.yml
Labels: No C#

#14257 Construction debug logs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
Labels: Status: Needs Review

#14212 Add power debug verbs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/Managers/IAdminManager.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Resources/Locale/en-US/power/verb.ftl
Labels: Status: Needs Review

#14272 Fix strip menu opening on regular click
  Content.Server/Buckle/Systems/BuckleSystem.Buckle.cs
  Content.Server/Interaction/InteractionPopupSystem.cs
Labels: Status: Needs Review

#14265 Fix error during DB insert for explosion damage logs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
Labels: Status: Needs Review

#14278 DoAfter Refactor Fixes
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
  Content.Server/Disease/DiseaseDiagnosisSystem.cs
  Content.Server/Medical/Components/HealingComponent.cs
  Content.Server/Medical/HealingSystem.cs
  Content.Server/Nutrition/Components/DrinkComponent.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Tools/Components/TilePryingComponent.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Shared/Chemistry/Components/SharedInjectorComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.MultipleTool.cs
Labels: Status: Needs Review
