Repository space-wizards/space-station-14, pull requests merged in 2023-01, with the labels that each got.

#13254 Fixed missing interaction outline for cardboard boxes
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#

#13245 Solved bug with wrong rotation of APC on Cluster
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#13257 Add empty flashlight
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#

#13243 Fix bloodstream nullref exception
  Content.Server/Body/Components/BloodstreamComponent.cs
Labels: Status: Needs Review

#13223 Good artifact effects
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ChargeBatteryArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/SpawnArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ChargeBatteryArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/RandomInstrumentArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/SpawnArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/xenoarchaeology/misc-artifact.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review

#13238 Mopping and puddle tweaks
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Server/Fluids/Components/AbsorbentComponent.cs
  Content.Server/Fluids/EntitySystems/EvaporationSystem.cs
  Content.Server/Fluids/EntitySystems/MoppingSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: Status: Needs Review

#13248 machine frame tweaks
  Content.Client/Construction/MachineFrameVisualizer.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Shared/Construction/MachineFrameVisuals.cs
  Resources/Locale/en-US/construction/conditions/machine-frame-complete.ftl
  Resources/Prototypes/Entities/Structures/Machines/frame.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/machine.yml
Labels: Status: Needs Review

#13222 Meta Update 1.5 (rerotation)
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13026 Redirects :h to department radio channel for headsets
  Content.Server/Chat/Systems/ChatSystem.Radio.cs
  Content.Server/Radio/Components/HeadsetComponent.cs
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
Labels: Status: Needs Review

#12724 Complete #5177
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasCanisterSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Status: Needs Review

#13262 Add recipient to air gush message and change pop-up type
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Shared/Doors/DoorEvents.cs
Labels: Status: Needs Review

#13268 Kettle 1.6
  Resources/Maps/kettle.yml
Labels: No C#, Changes: Map

#13265 Omega Update 1.4
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#13264 Box Update 2.4
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#13263 Marathon Update 4.0
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#13261 Bagel Update 16.0
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#11506 Add supplies to restock vending machines.
  Content.IntegrationTests/Tests/VendingMachineRestockTest.cs
  Content.Server/Destructible/Thresholds/Behaviors/DumpRestockInventory.cs
  Content.Server/VendingMachines/Restock/VendingMachineRestockComponent.cs
  Content.Server/VendingMachines/Restock/VendingMachineRestockSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/vending_restock_done.ogg
  Resources/Audio/Machines/vending_restock_start.ogg
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/vending-crates.ftl
  Resources/Locale/en-US/vending-machines/vending-machine-restock-component.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
  Resources/Prototypes/Entities/Markers/Spawners/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/base.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/green_bit.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/meta.json
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_booze.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_chinese.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_clothes.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_cola.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_costume.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_custom.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_dinner.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_discount.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_donksoft.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_donuts.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_engi.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_games.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_joe.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_medical.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_parts.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_plant.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_ptech.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_salvage.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_sec.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_smoke.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_snack.png
  Resources/Textures/Objects/Specific/Service/vending_machine_restock.rsi/refill_tanks.png
Labels: Changes: Sprites, Status: Needs Review

#13218 Increased NT Mug Budget (Mugs have uniform capacity with Coffee mugs)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
Labels: No C#

#12944 lathe recipes no longer specify textures
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/LatheQueueMenu.xaml.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Resources/Prototypes/Recipes/Lathes/Parts.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: Changes: UI

#13208 Attack sound for animals (bite/slash)
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/bear.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#13125 Add RGB staff
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Server/Actions/ActionOnInteractComponent.cs
  Content.Server/Actions/ActionOnInteractSystem.cs
  Content.Server/Actions/ActionsSystem.cs
  Content.Server/Magic/Events/ChangeComponentsSpellEvent.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Shared/Actions/ActionTypes/ActionType.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Magic/staves.yml
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/nothing-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/staff-inhand-left-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Basic/staves.rsi/staff-inhand-right-unshaded.png
Labels: Changes: Sprites

#13195 Adds delay to internals alert
  Content.Server/Alert/Click/ToggleInternals.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: Status: Needs Review

#13278 Grenade Penguin 2: The Reckoning
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Status: Needs Review

#13281 Fix hammy cage collision
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#13276 Allow fax machines on top of tables.
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: No C#

#13280 Relax water vapor threshold
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Resources/Prototypes/Atmospherics/thresholds.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Specific/Atmospherics/sensor.yml
Labels: Changes: UI, Status: Needs Review

#13266 Portals & hand teleporter
  Content.Server/Teleportation/HandTeleporterSystem.cs
  Content.Shared/Teleportation/Components/HandTeleporterComponent.cs
  Content.Shared/Teleportation/Components/LinkedEntityComponent.cs
  Content.Shared/Teleportation/Components/PortalComponent.cs
  Content.Shared/Teleportation/Components/PortalTimeoutComponent.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
  Content.Shared/Teleportation/Systems/PortalSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/teleport_arrival.ogg
  Resources/Audio/Effects/teleport_departure.ogg
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Objects/Devices/hand_teleporter.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/traitorObjectives.yml
  Resources/Textures/Effects/portal.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/portal-blue.png
  Resources/Textures/Effects/portal.rsi/portal-red.png
  Resources/Textures/Effects/portal.rsi/portal.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/icon.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/hand_teleporter.rsi/meta.json
Labels: Changes: Sprites

#13304 Fix damage mispredict
  Content.Shared/Damage/Systems/DamageableSystem.cs
Labels: Status: Needs Review

#13297 Remove IPhysBody
  Content.Client/Suspicion/TraitorOverlay.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/GameObjects/Components/Movement/ClimbUnitTest.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Administration/Commands/WarpCommand.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Disposal/Tube/Components/DisposalRouterComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalHolderComponent.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Server/Storage/EntitySystems/EntityStorageSystem.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Pulling/Events/PullAttemptEvent.cs
  Content.Shared/Pulling/Events/PullMessage.cs
  Content.Shared/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Status: Needs Review

#13312 Fix nukieplanet assert
  Resources/Maps/bagel.yml
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#13300 More artifact effects
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Actions.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/ClearFixturesArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ClearFixturesArtifactSystem.cs
  Content.Shared/Xenoarchaeology/XenoArtifacts/SharedArtifact.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Locale/en-US/xenoarchaeology/misc-artifact.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review

#13317 More no-local-rotation map fixes
  Resources/Maps/Salvage/small-4.yml
  Resources/Maps/Salvage/stationstation.yml
  Resources/Maps/Salvage/wh-salvage.yml
  Resources/Maps/bagel.yml
  Resources/Maps/box.yml
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#13309 Add DisposalUnit logs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#13306 Add mind and ghost logs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/Ghost/Ghost.cs
  Content.Server/Mind/Mind.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#13319 Bagel Update 16.1
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#12933 ejectOnBreak ejects locked slots too
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Status: Needs Review

#13287 Refactored PowerNet
  Content.Server/Power/NodeGroups/PowerNet.cs
Labels: Status: Needs Review

#13282 `EmitSound` prediction
  Content.Client/Sound/EmitSoundSystem.cs
  Content.Server/Sound/Components/EmitSoundOnTriggerComponent.cs
  Content.Server/Sound/Components/EmitSoundOnUIOpenComponent.cs
  Content.Server/Sound/Components/SpamEmitSoundComponent.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Shared/Sound/Components/BaseEmitSoundComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnActivateComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnDropComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnLandComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnPickupComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnSpawnComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnThrowComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnUseComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Labels: Status: Needs Review

#13327 Fixes mass scanner UIs being smol by default by defining a setsize
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
Labels: Changes: UI, No C#

#13330 Remove some explosion resolves
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Airtight.cs
Labels: Status: Needs Review

#13328 Bagel Hotfix
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13331 Centcomm Hotfix
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#13290 Geiger component for utility and CE belts whitelist
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#13343 Allow RD, CMO, and QM to be traitors
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
Labels: No C#

#13314 Cluster Update 2.0
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#12985 Fix eye rotation on suicide command
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.cs
Labels: Status: Needs Review

#13353 wallmount gen and sub fixes
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_generator.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
Labels: No C#, Status: Needs Review

#13359 More portal fixes
  Content.Server/Explosion/Components/TriggerOnCollideComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Teleportation/Systems/LinkedEntitySystem.cs
Labels: Status: Needs Review

#13349 Reword alert levels
  Resources/Locale/en-US/alert-levels/alert-levels.ftl
Labels: No C#, Status: Needs Review

#13363 Tile prying removes decals
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Utils.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Chemistry/TileReactions/PryTileReaction.cs
  Content.Server/Maps/TileSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Tools/ToolSystem.LatticeCutting.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ThrowArtifactSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: Status: Needs Review

#13250 Misc replay related changes
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Administration/NetworkResourceManager.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Shared/Administration/IGamePrototypeLoadManager.cs
  Content.Shared/Administration/SharedNetworkResourceManager.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Spawners/EntitySystems/SharedTimedDespawnSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Changes: UI, Status: Needs Review

#12489 Generalized material spawning
  Content.IntegrationTests/Tests/Materials/MaterialTests.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/CloningPodComponent.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Labels: Status: Needs Review

#13368 Fix #13250
  Content.Server/Administration/GamePrototypeLoadManager.cs
  Content.Server/Administration/NetworkResourceManager.cs
Labels: Status: Needs Review

#13326 MaterialComponent cleanup
  Content.IntegrationTests/Tests/Materials/MaterialTests.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Materials/MaterialComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Reagents/Materials/glass.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
Labels: Status: Needs Review

#13242 decouple material insertion visualization from lathes
  Content.Client/Lathe/LatheSystem.cs
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Server/Lathe/Components/LatheInsertingComponent.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Materials/InsertingMaterialStorageComponent.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: Status: Needs Review

#13251 mug solution level visuals
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_black.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_blue.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_green.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_heart.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_metal.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_moebius.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_one.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_rainbow.rsi/icon-3.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-1.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-2.png
  Resources/Textures/Objects/Consumable/Drinks/mug_red.rsi/icon-3.png
Labels: No C#, Changes: Sprites

#13318 Context menu UI backend refactor & better UX
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
  Content.Client/CombatMode/CombatModeComponent.cs
  Content.Client/Commands/GroupingEntityMenuCommand.cs
  Content.Client/ContextMenu/UI/ContextMenuPopup.xaml.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenterGrouping.cs
  Content.Client/ContextMenu/UI/EntityMenuUIController.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Storage/StorageBoundUserInterface.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.Client/Verbs/VerbSystem.cs
Labels: Changes: UI, Status: Needs Review

#13383 Update tilechangedevent to ref structs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Shared/SubFloor/SharedSubFloorHideSystem.cs
Labels: Status: Needs Review

#13286 Fix crew manifest sorting
  Content.Client/CrewManifest/CrewManifestUi.xaml.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
Labels: Changes: UI

#13279 Big evac shuttle more firelocks
  Resources/Maps/Shuttles/emergency_courser.yml
Labels: No C#

#13120 Have crew monitor display entity coordinates instead
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringConsoleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Medical/SuitSensor/SharedSuitSensor.cs
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Changes: UI, Status: Needs Review

#13410 Box Update 2.5
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#13310 Add door remote logs
  Content.Server/Remotes/DoorRemoteSystem.cs
Labels: Status: Needs Review

#13130 Baseball bat now wieldable
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/baseball_bat.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#13379 Improve issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: No C#

#13398 Dont refresh movespeed in clothing handler
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
Labels: Status: Needs Review

#13394 Don't allocate door crushes unless necessary
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#13395 Remove 1 protomanager TryIndex per drawn decal
  Content.Client/Decals/DecalOverlay.cs
Labels: Status: Needs Review

#13386 Moose 3.3.1
  Resources/Maps/moose.yml
Labels: No C#, Changes: Map

#13374 Clean up the JobRequirements
  Content.Shared/Roles/JobRequirements.cs
Labels: Status: Needs Review

#13392 Random name cleanup
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/first_female.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
  Resources/Prototypes/Datasets/Names/last.yml
Labels: No C#, Status: Needs Review

#13416 Fix AHelp erroring when sending empty avatar and footer icon urls
  Content.Server/Administration/Systems/BwoinkSystem.cs
Labels: Status: Needs Review

#13422 Fix not showing player names on context menu for admins
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
Labels: Status: Needs Review

#13430 Bagel Update 16.2
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13431 Box Update 2.6
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#13432 Marathon Update 4.1
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13433 Meta Update 1.6
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map, Status: Needs Review

#13434 Omega Update 1.5
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#13427 Narcolepsy Treatment
  Content.Server/Chemistry/ReagentEffects/ResetNarcolepsy.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Resources/Prototypes/Reagents/narcotics.yml
Labels: Status: Needs Review

#13362 Add prayer logs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Prayer/PrayerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#13329 Optimise spreadersystem
  Content.Server/Atmos/EntitySystems/AirtightSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Kudzu/SpreaderSystem.cs
Labels: Status: Needs Review

#13429 Add scream action popup message
  Content.Server/Speech/VocalSystem.cs
  Resources/Locale/en-US/actions/actions/vocal.ftl
Labels: Status: Needs Review

#13283 Ports goliath cloaks from TG
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Head/Hoods/goliathcloak.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hoods/goliathcloak.rsi/icon.png
  Resources/Textures/Clothing/Head/Hoods/goliathcloak.rsi/meta.json
  Resources/Textures/Clothing/Neck/Cloaks/goliathcloak.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/goliathcloak.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/goliathcloak.rsi/meta.json
Labels: No C#, Changes: Sprites

#13420 Reword the PR template to be more concise
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#, Status: Needs Review

#13445 Lawyer badge changes typing indicator
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Server/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorClothingComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/typing_indicator.yml
Labels: Status: Needs Review

#13252 Botany research/lathe missing tools
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/botany.yml
Labels: No C#

#13247 Adds Booze/Soda Dispenser boards
  Resources/Locale/en-US/prototypes/catalog/research/technologies.ftl
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#, Status: Needs Review

#13451 Meta Update 1.7
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#13397 Bluespace locker event prep
  Content.Server/Administration/Commands/LinkBluespaceLocker.cs
  Content.Server/StationEvents/Events/BluespaceLocker.cs
  Content.Server/Storage/Components/BluespaceLockerComponent.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#13456 Fix solution visuals
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionContainerSystem.cs
  Content.Shared/Chemistry/SolutionVisuals.cs
Labels: Status: Needs Review

#13457 Remove some obsoleted transform methods/properties
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.IntegrationTests/Tests/HumanInventoryUniformSlotsTest.cs
  Content.IntegrationTests/Tests/Interaction/Click/InteractionSystemTests.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Salvage/SalvageSystem.cs
Labels: Needs Engine PR

#12582 Update diona scream
  Resources/Audio/Voice/Diona/attributions.yml
  Resources/Audio/Voice/Diona/diona_scream.ogg
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
Labels: No C#, Status: Needs Review

#13463 replace incorrectly licensed sprites
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/mouth_swab.rsi/meta.json
  Resources/Textures/Structures/Machines/diagnoser.rsi/icon.png
  Resources/Textures/Structures/Machines/diagnoser.rsi/meta.json
  Resources/Textures/Structures/Machines/diagnoser.rsi/running.png
  Resources/Textures/Structures/Machines/diagnoser.rsi/unlit.png
  Resources/Textures/Structures/Machines/vaccinator.rsi/icon.png
  Resources/Textures/Structures/Machines/vaccinator.rsi/meta.json
  Resources/Textures/Structures/Machines/vaccinator.rsi/running.png
  Resources/Textures/Structures/Machines/vaccinator.rsi/unlit.png
Labels: No C#, Changes: Sprites

#12801 Textile crate
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-materials.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/materials-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Fills/Crates/materials.yml
Labels: No C#, Status: Needs Review

#12800 Split Kitchen supply crate into Dinnerware and Bar Supply crates
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-food.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/food-crates.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
Labels: No C#, Status: Needs Review

#12855 Prize limit for Arcades
  Content.Server/Arcade/Components/SpaceVillainArcadeComponent.cs
  Resources/Maps/bagel.yml
  Resources/Maps/box.yml
  Resources/Maps/cluster.yml
  Resources/Maps/marathon.yml
  Resources/Maps/meta.yml
  Resources/Maps/nukieplanet.yml
  Resources/Maps/omega.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/arcade.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: Changes: Map, Status: Needs Review

#13471 Fix decal error
  Content.Client/Decals/DecalSystem.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#13458 Remove ISpriteComponent
  Content.Client/Animations/AnimationsTestComponent.cs
  Content.Client/CharacterInfo/CharacterInfoSystem.cs
  Content.Client/Chemistry/Visualizers/FoamVisualizer.cs
  Content.Client/Chemistry/Visualizers/SmokeVisualizer.cs
  Content.Client/Chemistry/Visualizers/VaporVisualizer.cs
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/ContextMenu/UI/EntityMenuElement.cs
  Content.Client/ContextMenu/UI/EntityMenuPresenterGrouping.cs
  Content.Client/Disposal/Visualizers/DisposalUnitVisualizer.cs
  Content.Client/Doors/AirlockVisualizer.cs
  Content.Client/Examine/ExamineSystem.cs
  Content.Client/Explosion/ClusterGrenadeVisualizer.cs
  Content.Client/Hands/ShowHandItemOverlay.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Jittering/JitteringSystem.cs
  Content.Client/Kitchen/Visualizers/ReagentGrinderVisualizer.cs
  Content.Client/Light/Visualizers/PoweredLightVisualizer.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Client/MedicalScanner/MedicalScannerVisualizer.cs
  Content.Client/Nutrition/Visualizers/CreamPiedVisualizer.cs
  Content.Client/Nutrition/Visualizers/DrinkCanVisualizer.cs
  Content.Client/Orbit/OrbitVisualsSystem.cs
  Content.Client/PDA/PDAVisualizer.cs
  Content.Client/ParticleAccelerator/ParticleAcceleratorPartVisualizer.cs
  Content.Client/Power/APC/ApcVisualizer.cs
  Content.Client/Power/SMES/SmesVisualizer.cs
  Content.Client/Power/Visualizers/PowerDeviceVisualizer.cs
  Content.Client/PowerCell/PowerChargerVisualizer.cs
  Content.Client/Recycling/RecyclerVisualizer.cs
  Content.Client/Rotation/RotationVisualizerSystem.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/Singularity/Visualizers/RadiationCollectorVisualizer.cs
  Content.Client/Stack/StackVisualizer.cs
  Content.Client/Storage/UI/StorageWindow.cs
  Content.Client/Storage/Visualizers/StorageVisualizer.cs
  Content.Client/Tabletop/Visualizers/TabletopItemVisualizer.cs
  Content.Client/Trigger/TimerTriggerVisualizer.cs
  Content.Client/Verbs/UI/VerbMenuElement.cs
  Content.Client/Visualizer/GenericEnumVisualizer.cs
  Content.Client/Wall/ReinforcedWallVisualizer.cs
Labels: Status: Needs Review

#13289 ECS ComputerVisualizer
  Content.Client/Computer/ComputerVisualizer.cs
  Content.Shared/Computer/SharedComputerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/techdiskterminal.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Textures/Structures/Machines/computers.rsi/generic_keyboard.png
  Resources/Textures/Structures/Machines/computers.rsi/generic_keys.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/screen_broken.png
Labels: Changes: Sprites

#13226 Trimmed Our Boxes! (Box size reduced to original)
  Resources/Prototypes/Entities/Objects/Misc/box.yml
Labels: No C#

#12576 More diona customization
  Resources/Locale/en-US/markings/diona.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/diona.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Textures/Mobs/Customization/diona.rsi/bloom.png
  Resources/Textures/Mobs/Customization/diona.rsi/bracket.png
  Resources/Textures/Mobs/Customization/diona.rsi/brush.png
  Resources/Textures/Mobs/Customization/diona.rsi/cornflower.png
  Resources/Textures/Mobs/Customization/diona.rsi/ficus.png
  Resources/Textures/Mobs/Customization/diona.rsi/garland.png
  Resources/Textures/Mobs/Customization/diona.rsi/king.png
  Resources/Textures/Mobs/Customization/diona.rsi/laurel.png
  Resources/Textures/Mobs/Customization/diona.rsi/leafy.png
  Resources/Textures/Mobs/Customization/diona.rsi/lotus.png
  Resources/Textures/Mobs/Customization/diona.rsi/meadow.png
  Resources/Textures/Mobs/Customization/diona.rsi/meta.json
  Resources/Textures/Mobs/Customization/diona.rsi/oak.png
  Resources/Textures/Mobs/Customization/diona.rsi/palm.png
  Resources/Textures/Mobs/Customization/diona.rsi/root.png
  Resources/Textures/Mobs/Customization/diona.rsi/rose.png
  Resources/Textures/Mobs/Customization/diona.rsi/rosey.png
  Resources/Textures/Mobs/Customization/diona.rsi/shrub.png
  Resources/Textures/Mobs/Customization/diona.rsi/spinner.png
  Resources/Textures/Mobs/Customization/diona.rsi/sprout.png
  Resources/Textures/Mobs/Customization/diona.rsi/vine.png
  Resources/Textures/Mobs/Customization/diona.rsi/vinel.png
  Resources/Textures/Mobs/Customization/diona.rsi/vines.png
  Resources/Textures/Mobs/Customization/diona.rsi/wildflower.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#13480 Fixing health alerts not properly updating when players are damaged
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/human_alive.rsi/health0.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health1.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health2.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health3.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/meta.json
  Resources/Textures/Interface/Alerts/human_critical.rsi/critical.png
  Resources/Textures/Interface/Alerts/human_critical.rsi/meta.json
  Resources/Textures/Interface/Alerts/human_dead.rsi/dead.png
  Resources/Textures/Interface/Alerts/human_dead.rsi/meta.json
  Resources/Textures/Interface/Alerts/human_health.rsi/health0.png
Labels: Changes: Sprites

#13477 Meta Small Fixes
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#13315 Add material arbitrage tests
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.IntegrationTests/Tests/Construction/ConstructionPrototypeTest.cs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Construction/Components/MachinePartComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/tin.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Entities/Structures/Walls/girders.yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: Changes: UI, Status: Needs Review

#13481 Fixing alert tests
  Resources/Prototypes/Alerts/alerts.yml
Labels: No C#

#13482 Cluster 2.1
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#13484 Singulo drink - speed up animation
  Resources/Textures/Objects/Consumable/Drinks/singulo.rsi/meta.json
Labels: No C#

#13491 Fix decals
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#13460 Decal placement preview
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/Decals/DecalSystem.cs
  Content.Client/Decals/Overlays/DecalOverlay.cs
  Content.Client/Decals/Overlays/DecalPlacementOverlay.cs
  Content.Client/Gameplay/GameplayState.cs
Labels: Status: Needs Review

#12861 Add logging for hacking
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Arcade/WireActions/ArcadeInvincibilityWireActions.cs
  Content.Server/Arcade/WireActions/ArcadeOverflowWireAction.cs
  Content.Server/Atmos/Monitor/WireActions/AirAlarmPanicWire.cs
  Content.Server/Atmos/Monitor/WireActions/AtmosAlarmableAlarmWire.cs
  Content.Server/Doors/WireActions/DoorBoltLightWireAction.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Doors/WireActions/DoorSafetyWireAction.cs
  Content.Server/Doors/WireActions/DoorTimingWireAction.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Server/VendingMachines/VendingMachineEjectItemWireAction.cs
  Content.Server/Wires/BaseToggleWireAction.cs
  Content.Server/Wires/BaseWireAction.cs
  Content.Server/Wires/DummyWireAction.cs
Labels: Status: Needs Review

#13493 Decal system cleanup
  Content.Client/Decals/DecalSystem.cs
  Content.Client/Decals/Overlays/DecalOverlay.cs
  Content.Server/Decals/Commands/EditDecalCommand.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Shared/Decals/DecalGridChunkCollectionTypeSerializer.cs
  Content.Shared/Decals/DecalGridComponent.cs
  Content.Shared/Decals/SharedDecalSystem.cs
Labels: Status: Needs Review

#13470 Fix construction popup messages
  Content.Server/Construction/ConstructionSystem.Initial.cs
Labels: Status: Needs Review

#13495 Pill dumping
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#

#13426 Add fancy tree control
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/FancyTree/FancyTree.xaml
  Content.Client/UserInterface/Controls/FancyTree/FancyTree.xaml.cs
  Content.Client/UserInterface/Controls/FancyTree/TreeItem.xaml
  Content.Client/UserInterface/Controls/FancyTree/TreeItem.xaml.cs
  Content.Client/UserInterface/Controls/FancyTree/TreeLine.cs
  Resources/Textures/Interface/Nano/triangle_right.png
  Resources/Textures/Interface/Nano/triangle_right.png.yml
  Resources/Textures/Interface/Nano/triangle_right_hollow.svg
  Resources/Textures/Interface/Nano/triangle_right_hollow.svg.png
  Resources/Textures/Interface/Nano/triangle_right_hollow.svg.png.yml
Labels: Changes: UI

#13437 Ghost sheet!
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#13407 Adds empty medkits to medical lathe
  Resources/Prototypes/Catalog/Research/technologies.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#

#13321 Banana Phone (:
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Textures/Objects/Fun/Instruments/otherinstruments.rsi/banana_phone.png
  Resources/Textures/Objects/Fun/Instruments/otherinstruments.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#13513 Minor guidebook stuff
  Resources/Server Info/Guidebook/Controls.xml
  Resources/Server Info/Guidebook/Jobs.xml
Labels: Status: Needs Review

#13509 Tips system
  Content.Server/Tips/TipsSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/tips/tips-system.ftl
  Resources/Prototypes/Datasets/tips.yml
Labels: Status: Needs Review

#13296 Gunify pneumatic cannon
  Content.Client/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Client/PneumaticCannon/PneumaticCannonVisualizer.cs
  Content.Server/PneumaticCannon/PneumaticCannonComponent.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/PneumaticCannon/PneumaticCannonComponent.cs
  Content.Shared/PneumaticCannon/SharedPneumaticCannon.cs
  Content.Shared/PneumaticCannon/SharedPneumaticCannonSystem.cs
  Content.Shared/Storage/Components/ItemMapperComponent.cs
  Content.Shared/Storage/EntitySystems/SharedItemMapperSystem.cs
  Content.Shared/Weapons/Ranged/Components/ContainerAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Container.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/pneumatic-cannon/pneumatic-cannon-component.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/pneumatic_cannon.rsi/tank.png
Labels: Changes: Sprites, Status: Needs Review

#13507 Mechs now subscribe and handle UpdateCanMove Events.
  Content.Server/Mech/Systems/MechSystem.cs
Labels: Status: Needs Review

#13518 Remove 2 unused map files
  Resources/Maps/knightshuttle.yml
  Resources/Maps/syndiepuddle.yml
Labels: No C#, Changes: Map

#13520 Atmos,Engi,Cargo locked external airlocks, hop windoor
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: No C#

#13277 Epinephrine can now stabilize animals in critical condition
  Content.Server/Chemistry/ReagentEffectConditions/MobStateCondition.cs
  Resources/Prototypes/Reagents/medicine.yml
Labels: Status: Needs Review

#13472 LGBTQIA+ pins
  Resources/Prototypes/Catalog/Fills/Crates/salvage.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aro-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aro.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/asex-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/asex.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/bi-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/bi.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/inter-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/inter.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/les-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/les.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/lgbt-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/lgbt.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/non-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/non.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/pan-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/pan.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/trans-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/trans.png
Labels: No C#, Changes: Sprites

#13521 Fixes Syndie Reinforcements and modifies the syndicate reinforcement teleporter
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/emergency_meeting.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: No C#, Status: Needs Review

#13515 Remove server-sprite references from handcuffs
  Content.Server/Cuffs/Components/CuffableComponent.cs
  Content.Server/Cuffs/Components/HandcuffComponent.cs
  Content.Server/Cuffs/CuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Resources/Locale/en-US/cuffs/components/handcuff-broken.ftl
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Status: Needs Review

#13527 Flashlight buff
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: No C#

#13530 Bagel Update 16.3
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#13532 Marathon Update 4.2
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#13533 Meta Update 1.8
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#13534 Omega Update 1.6
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#13529 Make anomaly generator 1x3 instead of 3x3
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
Labels: No C#

#13494 Improve Paper UI, allow an to entity configure how it's UI looks
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/Paper/UI/StampWidget.xaml
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Cargo/Components/CargoTelepadComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxMachineComponent.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Cargo/Components/CargoShuttleComponent.cs
  Content.Shared/Paper/SharedPaperComponent.cs
  Resources/Locale/en-US/paper/paper-component.ftl
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/disease_diagnoser.yml
  Resources/Textures/Interface/Nano/lined_paper.svg
  Resources/Textures/Interface/Nano/lined_paper.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_background_book.svg
  Resources/Textures/Interface/Paper/paper_background_book.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_background_default.svg
  Resources/Textures/Interface/Paper/paper_background_default.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_background_dotmatrix.svg
  Resources/Textures/Interface/Paper/paper_background_dotmatrix.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_background_perforated.svg
  Resources/Textures/Interface/Paper/paper_background_perforated.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_content_dotmatrix.svg
  Resources/Textures/Interface/Paper/paper_content_dotmatrix.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_content_lined.svg
  Resources/Textures/Interface/Paper/paper_content_lined.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_artifact_analyzer.svg
  Resources/Textures/Interface/Paper/paper_heading_artifact_analyzer.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_captains_thoughts.svg
  Resources/Textures/Interface/Paper/paper_heading_captains_thoughts.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_cargo_invoice.svg
  Resources/Textures/Interface/Paper/paper_heading_cargo_invoice.svg.96dpi.png
  Resources/Textures/Interface/Paper/paper_heading_virus.svg
  Resources/Textures/Interface/Paper/paper_heading_virus.svg.96dpi.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_dotmatrix.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_dotmatrix_words.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_receipt.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_receipt_words.png
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#12528 Weather effects
  Content.Client/Parallax/ParallaxOverlay.cs
  Content.Client/Parallax/ParallaxSystem.cs
  Content.Client/Weather/WeatherOverlay.cs
  Content.Client/Weather/WeatherSystem.cs
  Content.Server/Weather/WeatherSystem.cs
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/Weather/SharedWeatherSystem.cs
  Content.Shared/Weather/WeatherComponent.cs
  Content.Shared/Weather/WeatherPrototype.cs
  Resources/Audio/Effects/Weather/licenses.txt
  Resources/Audio/Effects/Weather/rain.ogg
  Resources/Audio/Effects/Weather/rain2.ogg
  Resources/Audio/Effects/Weather/rain_heavy.ogg
  Resources/Audio/Effects/Weather/snowstorm.ogg
  Resources/Audio/Effects/Weather/snowstorm_weak.ogg
  Resources/Audio/Effects/Weather/wind_2_1.ogg
  Resources/Audio/Effects/Weather/wind_2_2.ogg
  Resources/Audio/Effects/Weather/wind_3_1.ogg
  Resources/Audio/Effects/Weather/wind_4_1.ogg
  Resources/Audio/Effects/Weather/wind_4_2.ogg
  Resources/Audio/Effects/Weather/wind_5_1.ogg
  Resources/Locale/en-US/weather/weather.ftl
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/weather.yml
  Resources/Textures/Effects/weather.rsi/ashfall.png
  Resources/Textures/Effects/weather.rsi/ashfall_heavy.png
  Resources/Textures/Effects/weather.rsi/ashfall_light.png
  Resources/Textures/Effects/weather.rsi/fallout.png
  Resources/Textures/Effects/weather.rsi/hail.png
  Resources/Textures/Effects/weather.rsi/meta.json
  Resources/Textures/Effects/weather.rsi/rain.png
  Resources/Textures/Effects/weather.rsi/sandstorm.png
  Resources/Textures/Effects/weather.rsi/sandstorm_heavy.png
  Resources/Textures/Effects/weather.rsi/snowfall_heavy.png
  Resources/Textures/Effects/weather.rsi/snowfall_light.png
  Resources/Textures/Effects/weather.rsi/snowfall_med.png
  Resources/Textures/Effects/weather.rsi/storm.png
Labels: Changes: Sprites, Status: Needs Review

#13525 360 PDA Light
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#13522 RPG-7 Icon Visual fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: No C#

#13528 Update Golden Toolbox
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: No C#

#13537 Cluster 2.2
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#13414 Cult weapons
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cult.yml
  Resources/Textures/Objects/Weapons/Melee/cult_blade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/cult_blade.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cult_blade.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cult_blade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cult_dagger.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/cult_dagger.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cult_dagger.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cult_dagger.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/cult_halberd.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#13438 Add lava
  Content.Server/Climbing/ClimbSystem.cs
  Content.Server/Damage/Systems/DamageOnLandSystem.cs
  Content.Server/Dice/DiceSystem.cs
  Content.Server/Fluids/EntitySystems/SpillableSystem.cs
  Content.Server/Light/EntitySystems/LightBulbSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Tiles/LavaComponent.cs
  Content.Server/Tiles/LavaSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactLandSystem.cs
  Content.Shared/Climbing/Events/EndClimbEvent.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Throwing/LandEvent.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Resources/Prototypes/Entities/Tiles/lava.yml
  Resources/Textures/Tiles/Planet/lava.rsi/full.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava0.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava1.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava2.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava3.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava4.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava5.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava6.png
  Resources/Textures/Tiles/Planet/lava.rsi/lava7.png
  Resources/Textures/Tiles/Planet/lava.rsi/meta.json
Labels: Changes: Sprites

#13462 Add basalt tiles
  Content.Shared/Tiles/RequiresTileComponent.cs
  Content.Shared/Tiles/RequiresTileSystem.cs
  Resources/Prototypes/Decals/rock.yml
  Resources/Prototypes/Entities/Tile/basalt.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Decals/basalt.rsi/basalt1.png
  Resources/Textures/Decals/basalt.rsi/basalt2.png
  Resources/Textures/Decals/basalt.rsi/basalt3.png
  Resources/Textures/Decals/basalt.rsi/basalt4.png
  Resources/Textures/Decals/basalt.rsi/basalt5.png
  Resources/Textures/Decals/basalt.rsi/basalt6.png
  Resources/Textures/Decals/basalt.rsi/basalt7.png
  Resources/Textures/Decals/basalt.rsi/basalt8.png
  Resources/Textures/Decals/basalt.rsi/basalt9.png
  Resources/Textures/Decals/basalt.rsi/meta.json
  Resources/Textures/Tiles/Planet/attributions.yml
  Resources/Textures/Tiles/Planet/basalt.png
  Resources/Textures/Tiles/Planet/basalt.rsi/basalt1.png
  Resources/Textures/Tiles/Planet/basalt.rsi/basalt2.png
  Resources/Textures/Tiles/Planet/basalt.rsi/basalt3.png
  Resources/Textures/Tiles/Planet/basalt.rsi/basalt4.png
  Resources/Textures/Tiles/Planet/basalt.rsi/basalt5.png
  Resources/Textures/Tiles/Planet/basalt.rsi/meta.json
Labels: Changes: Sprites

#12892 Make phones functional
  Content.Server/Prayer/PrayableComponent.cs
  Content.Server/Prayer/PrayerSystem.cs
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
Labels: Status: Needs Review

#13500 ECS airlocks
  Content.Client/Doors/AirlockComponent.cs
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Construction/Conditions/AirlockBolted.cs
  Content.Server/Doors/Components/AirlockComponent.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Doors/Systems/DoorSystem.cs
  Content.Server/Doors/WireActions/DoorBoltLightWireAction.cs
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
  Content.Server/Doors/WireActions/DoorSafetyWireAction.cs
  Content.Server/Doors/WireActions/DoorTimingWireAction.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Server/Power/EntitySystems/StaticPowerSystem.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Doors/Components/AirlockComponent.cs
  Content.Shared/Doors/Components/SharedAirlockComponent.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
Labels: Status: Needs Review

#13489 Added CMO's beret
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_cmo.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#13547 Ahelp popout button
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Client/Administration/UI/BwoinkWindow.xaml
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
Labels: Changes: UI, Status: Needs Review

#13554 Update patrons and credits
  Resources/Credits/GitHub.txt
  Resources/Credits/Patrons.yml
  Tools/dump_patrons.ps1
Labels: No C#

#13439 Proper ERT Uniforms
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_engineer.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_janitor.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_leader.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_medic.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ert_security.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#13391 Makes mobs visually float when weightless
  Content.Client/Gravity/FloatingVisualizerSystem.cs
  Content.Client/Pointing/Components/PointingArrowComponent.cs
  Content.Client/Pointing/PointingSystem.cs
  Content.Server/Gravity/FloatingVisualizerSystem.cs
  Content.Shared/Gravity/FloatingVisualsComponent.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#13553 Fix not being able to message players that weren't filtered by the ahelp menu
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/CustomControls/PlayerListControl.xaml.cs
Labels: Changes: UI, Status: Needs Review
