Repository space-wizards/space-station-14, pull requests merged in 2023-07, with the labels that each got.

#17776 Fix changelog author names for 0x6273
  Resources/Changelog/Changelog.yml
Labels: No C#

#17775 Network bolting for windoors
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: No C#

#17774 Make singulo artifact effect more rare
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: No C#

#17782 Makes shutters close on certain objects again
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: Status: Needs Review

#17788 Publish changelogs via RSS
  .github/workflows/publish.yml
  Tools/actions_changelog_rss.py
Labels: No C#

#17786 Fix bugs when updating paper UI
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Paper/PaperSystem.cs
Labels: Changes: UI

#17278 add immovable rod event
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/StationEvents/Components/ImmovableRodRuleComponent.cs
  Content.Server/StationEvents/Events/ImmovableRodRule.cs
  Resources/Locale/en-US/station-events/events/immovable-rod.ftl
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#17797 Hamlet error on revival fix.
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Pets/hamlet.rsi/hamster-0.png
  Resources/Textures/Mobs/Pets/hamlet.rsi/meta.json
Labels: No C#, Changes: Sprites

#17801 Damage on forced uncuff
  Content.Shared/Cuffs/Components/CuffableComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Status: Needs Review

#17791 Nukie Bundle Price Changes for Balance
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#17757 Simple Tweak to Ale Sprite to look more like a type of Ale
  Resources/Textures/Objects/Consumable/Drinks/aleglass.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/aleglass.rsi/meta.json
Labels: No C#, Changes: Sprites

#17819 Add Colors Crew Monitor
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
Labels: Changes: UI

#17824 Changes 6 slices to 8 for pizza.
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
Labels: No C#

#17814 Balance a laser carbine craft
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: No C#

#17812 Fixes airlock deconstruction issues
  Resources/Prototypes/Recipes/Construction/Graphs/structures/airlock.yml
Labels: No C#

#17794 Archaic Accent Trait
  Content.Server/Speech/Components/ArchaicAccentComponent.cs
  Content.Server/Speech/EntitySystems/ArchaicAccentSystem.cs
  Resources/Locale/en-US/accent/archaic.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Traits/neutral.yml
Labels: Status: Needs Review

#17745 reformatted syndicate objectives for readability
  Content.Client/UserInterface/Systems/Character/CharacterUIController.cs
  Content.Client/UserInterface/Systems/Character/Windows/CharacterWindow.xaml
  Content.Client/UserInterface/Systems/Objectives/Controls/ObjectiveConditionsControl.xaml
Labels: Changes: UI

#17826 Extends the emergency shuttle timer to 20m green / 10m on blue
  Resources/Prototypes/AlertLevels/alert_levels.yml
Labels: No C#

#17830 Adds the italian moustache
  Resources/Locale/en-US/accent/italian.ftl
  Resources/Prototypes/Accents/word_replacements.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/icon.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/italian_moustache.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#17825 Major-ish™ armor rebalance, adds basic security armor and removes Kevlar armor
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Command/centcom_official.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/security.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/security_slim.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/kevlar.rsi/inhand-right.png
  Resources/migration.yml
Labels: No C#, Changes: Sprites

#17827 Heavily nerf Cargo gun prices
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: No C#

#17803 Disposals refactor
  Content.Client/Disposal/Components/DisposalUnitComponent.cs
  Content.Client/Disposal/DisposalUnitComponent.cs
  Content.Client/Disposal/Systems/DisposalUnitSystem.cs
  Content.Client/Disposal/UI/DisposalUnitBoundUserInterface.cs
  Content.Client/Disposal/UI/DisposalUnitWindow.xaml.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.Server/Disposal/Unit/Components/ActiveDisposalUnitComponent.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Storage/EntitySystems/DumpableSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Disposal/Components/SharedDisposalUnitComponent.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
  Resources/Locale/en-US/disposal/unit/components/disposal-unit-component.ftl
  Resources/Maps/Salvage/small-4.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: Changes: UI, Status: Needs Review

#17846 Add smashing to carp NPCs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#17844 Fix mime wall & turf/tile helper issues.
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Maps/TileSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Tools/ToolSystem.TilePrying.cs
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Coordinates/Helpers/SnapgridHelper.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Maps/TurfSystem.cs
Labels: Status: Needs Review

#17864 Packed
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/packed.yml
Labels: No C#, Changes: Map

#17853 balance a explosive payload craft
  Resources/Prototypes/Recipes/Lathes/devices.yml
Labels: No C#

#17854 Add chem solution atmos heating and cooling
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Chemistry/Components/SolutionManager/SolutionGasHeatConductivityComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionGasHeatConductivitySystem.cs
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#17869 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#17866 [Fix] Dresser and broken ballistic turret
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: No C#

#17834 Adding sounds to stamps
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Audio/Items/Stamp/attributions.yml
  Resources/Audio/Items/Stamp/automatic_stamp.ogg
  Resources/Audio/Items/Stamp/thick_stamp_sub.ogg
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Status: Needs Review

#17784 Fixes Romerol & Corpium, Small Zombie Tweaks
  Content.Server/Chemistry/ReagentEffects/CauseZombieInfection.cs
  Content.Server/Chemistry/ReagentEffects/CureZombieInfection.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: Status: Needs Review

#17856 Adds ExaminableSolution to jani trolley
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: No C#

#17870 Zombie chem tweaks
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#17872 some silly paintings and posters
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/paintings.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/paintings.rsi/painting19.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster40_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster41_legit.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster42_legit.png
Labels: No C#, Changes: Sprites

#17845 Self-attack nerfs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: Status: Needs Review

#17835 Communicate self-uncuff damage a bit more prominently
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Resources/Locale/en-US/cuffs/components/cuffable-component.ftl
Labels: Status: Needs Review

#17880 saltern armoury and vault changes
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#17632 Revert "add breakers to power batteries"
  Content.Server/Power/Components/BreakerComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Server/Power/EntitySystems/BreakerSystem.cs
  Content.Server/Power/Events/BreakerPoppedEvent.cs
  Resources/Locale/en-US/apc/components/apc-component.ftl
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Status: Needs Review

#17887 fix test fail from ambuzol reaction
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#17875 Make planets have significantly more rocks
  Resources/Prototypes/Procedural/biome_templates.yml
Labels: No C#

#17288 Implement RiggableSystem, stunbatons injectable
  Content.Server/Power/Components/BatteryComponent.cs
  Content.Server/Power/Components/RiggableComponent.cs
  Content.Server/Power/EntitySystems/RiggableSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Shared/PowerCell/Components/PowerCellComponent.cs
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review

#17894 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#17897 Archaic Accent fixes
  Content.Server/Speech/EntitySystems/ArchaicAccentSystem.cs
  Resources/Locale/en-US/accent/archaic.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: Status: Needs Review

#17763 Minor visual fixups from StyleboxTexture scaling
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/UserInterface/Controls/StripeBack.cs
  Resources/Textures/Interface/Nano/button.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/geometric_panel_border.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/stripeback.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_background_book.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_background_default.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_background_dotmatrix.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_background_perforated.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_content_dotmatrix.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_content_lined.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_artifact_analyzer.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_captains_thoughts.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_cargo_invoice.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_forensic_scanner.svg.96dpi.png.yml
  Resources/Textures/Interface/Paper/paper_heading_virus.svg.96dpi.png.yml
Labels: Changes: UI

#17896 return lube to lockers loot
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#17850 Remove mob crit states
  Content.IntegrationTests/Tests/Commands/RejuvenateTest.cs
  Content.IntegrationTests/Tests/Disposal/DisposalUnitTest.cs
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
Labels: Status: Needs Review

#17849 Make containment field generator non-rotatable
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/containment.yml
Labels: No C#, Status: Needs Review

#17885 [VM] SyndieDrobe
  Resources/Locale/en-US/advertisements/vending/syndiedrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/syndiedrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/syndiedrobe.rsi/broken.png
  Resources/Textures/Structures/Machines/VendingMachines/syndiedrobe.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/syndiedrobe.rsi/normal-unshaded.png
  Resources/Textures/Structures/Machines/VendingMachines/syndiedrobe.rsi/off.png
  Resources/Textures/Structures/Machines/VendingMachines/syndiedrobe.rsi/panel.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#17883 Deflate the "valid" sticker economy and ward off permahungry sec
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/packs.yml
Labels: No C#, Status: Needs Review

#17909 Xeno salvage tweaks
  Resources/Prototypes/Entities/Structures/Specific/xeno.yml
  Resources/Prototypes/Procedural/salvage_factions.yml
Labels: No C#

#17912 Fix keep traitor alive objective
  Content.Server/Objectives/Conditions/RandomTraitorAliveCondition.cs
Labels: Status: Needs Review

#17874 Add the ability to disable the automatic change of air alarm modes.
  Content.Client/Atmos/Monitor/UI/AirAlarmBoundUserInterface.cs
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Server/Atmos/Monitor/Components/AirAlarmComponent.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Monitor/Components/SharedAirAlarmComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Labels: Changes: UI, Status: Needs Review

#17841 Syndicate sponge for uplink
  Content.Server/Chemistry/Components/RehydratableComponent.cs
  Content.Server/Chemistry/EntitySystems/RehydratableSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/monkeycube.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: Status: Needs Review

#17913 untypo my name in the CL
  Resources/Changelog/Changelog.yml
Labels: No C#

#17915 Align filled gas tanks with intended capacity
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#

#17917 Update GDPR scripts for latest DB schema
  Tools/dump_user_data.py
  Tools/erase_user_data.py
Labels: No C#

#17908 Fix jumpskirts parents
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: No C#

#17916 Revert "encryption-key-component.ftl locale update"
  Resources/Locale/en-US/radio/components/encryption-key-component.ftl
Labels: No C#, Status: Needs Review

#17890 escape + kill objective changes
  Content.Server/Objectives/Conditions/EscapeShuttleCondition.cs
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Resources/Locale/en-US/objectives/conditions/escape-shuttle-condition.ftl
  Resources/Locale/en-US/objectives/conditions/kill-person-condition.ftl
Labels: Status: Needs Review

#17884 Ambuzol Plus
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Chemistry/ReagentEffects/CureZombieInfection.cs
  Content.Server/Zombies/ZombieImmuneComponent.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Server/Zombies/ZombifyOnDeathSystem.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/biological.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Status: Needs Review

#17914 Fix high UI scale chat box layout.
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
Labels: Changes: UI, No C#

#16820 interrogator lamp
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/burnt.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/flashing.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/lamp-int-on.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/lamp-int.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/off-inhand-left.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/off-inhand-right.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/on-inhand-left.png
  Resources/Textures/Objects/Misc/Lights/lampint.rsi/on-inhand-right.png
Labels: No C#, Changes: Sprites

#17140 Animal Husbandry
  Content.Client/Nutrition/EntitySystems/InfantSystem.cs
  Content.Server/Nutrition/EntitySystems/AnimalHusbandrySystem.cs
  Content.Shared/Nutrition/AnimalHusbandry/InfantComponent.cs
  Content.Shared/Nutrition/AnimalHusbandry/ReproductiveComponent.cs
  Content.Shared/Nutrition/AnimalHusbandry/ReproductivePartnerComponent.cs
  Resources/Locale/en-US/nutrition/components/animal-husbandry.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#17583 Adds Advanced ointment and bruisepack recipes
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Textures/Objects/Specific/Medical/medical.rsi/medicated-suture-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/medicated-suture-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/medicated-suture.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medical.rsi/regenerative-mesh-inhand-left.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/regenerative-mesh-inhand-right.png
  Resources/Textures/Objects/Specific/Medical/medical.rsi/regenerative-mesh.png
Labels: No C#, Changes: Sprites

#17891 add kill head objective
  Content.Server/Objectives/Conditions/KillRandomHeadCondition.cs
  Resources/Locale/en-US/objectives/conditions/kill-head-condition.ftl
  Resources/Prototypes/Objectives/traitorObjectives.yml
Labels: Status: Needs Review

#17548 Adds Bike Horn Implants
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/fun-crates.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: No C#, Status: Needs Review

#17867 Nukie Guidebook 2
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/antagonist.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
Labels: No C#, Status: Needs Review

#17920 Remove false desc from bicaridine
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: No C#, Status: Needs Review

#17924 nukie planet update
  Resources/Maps/nukieplanet.yml
Labels: No C#, Changes: Map

#17923 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#17863 Fix warnings in YAMLLinter module
  Content.YAMLLinter/Program.cs
Labels: Status: Needs Review

#17938 Temp pull spongebox off uplink
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#17934 fix clown mask tags
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: No C#

#17942 really fix kill person %
  Content.Server/Objectives/Conditions/KillPersonCondition.cs
Labels: Status: Needs Review

#17952 make aberrant flesh smash through walls, windows, and railings
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
Labels: No C#

#17961 Add required dependencies for CEF to Nix shell
  shell.nix
Labels: No C#

#17963 Fix (?) sindy formal suit id and name
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/syndieformal.rsi/meta.json
Labels: No C#, Changes: Sprites

#17962 kimono and casa for AutoDrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Textures/Clothing/Head/Hats/casa.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/casa.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/casa.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/casa.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/casa.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/kimono.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/kimono.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/kimono.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/kimono.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/kimono.rsi/meta.json
Labels: No C#, Changes: Sprites

#17958 Fixed ChemVend restock crate description
  Resources/Locale/en-US/prototypes/catalog/cargo/cargo-vending.ftl
  Resources/Locale/en-US/prototypes/catalog/fills/crates/vending-crates.ftl
Labels: No C#, Status: Needs Review

#17957 Minor revision of mercenary items 2
  Resources/Textures/Clothing/Back/Backpacks/merc.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/merc_helmet.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/kukri_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/kukri_knife.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#17948 New glass floor textures
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/glass.png
  Resources/Textures/Tiles/rglass.png
Labels: No C#

#17943 Syndicate sponge nerf to 7 tc
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#17967 [Fix] Some small fixes
  Resources/Locale/en-US/advertisements/vending/syndiedrobe.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#, Status: Needs Review

#17950 Good Intercoms
  Content.Client/Radio/Ui/IntercomBoundUserInterface.cs
  Content.Client/Radio/Ui/IntercomMenu.xaml
  Content.Client/Radio/Ui/IntercomMenu.xaml.cs
  Content.Server/Radio/Components/RadioMicrophoneComponent.cs
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/IntercomComponent.cs
  Content.Shared/Radio/RadioVisuals.cs
  Content.Shared/Radio/SharedIntercom.cs
  Resources/Locale/en-US/radio/components/intercom.ftl
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/structure_artifacts.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/intercom.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/intercom.rsi/speaker.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
  Resources/migration.yml
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#17972 Let recyclers grind up people
  Resources/Prototypes/Entities/Structures/Machines/recycler.yml
Labels: No C#

#17971 Sawn-off shotgun are now empty when made
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shotgunsawn.yml
Labels: No C#

#17626 Minibomb Buff (+ slightly better explosive descriptions)
  Resources/Audio/Effects/minibombcountdown.ogg
  Resources/Audio/Items/attributions.yml
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#, Status: Awaiting Changes

#17311 Shotgun Shell Box Inventory Removal
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
Labels: No C#

#17977 Dart update
  Resources/Maps/Shuttles/dart.yml
Labels: No C#

#17984 starving damage real again
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: No C#, Status: Needs Review

#17985 terminal update
  Resources/Maps/Misc/terminal.yml
Labels: No C#

#17988 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#17989 striker update
  Resources/Maps/Shuttles/striker.yml
Labels: No C#

#17996 Return of the bulletproof vest to the bartender
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
Labels: No C#

#17997 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#17956 Sutures and regen mesh in medkits
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
Labels: No C#

#17994 add 4 empty jugs to chem vend
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: No C#

#17998 Dehydrated carp nerf
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#17999 nerf youtool
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: No C#

#18000 sussy toolbox 2tc again
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#17992 Gas analyzer compref removal
  Content.Client/Atmos/Components/GasAnalyzerComponent.cs
  Content.Client/Atmos/UI/GasAnalyzerBoundUserInterface.cs
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml.cs
  Content.Server/Atmos/Components/GasAnalyzerComponent.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Shared/Atmos/Components/GasAnalyzerComponent.cs
  Content.Shared/Atmos/Components/SharedGasAnalyzerComponent.cs
Labels: Changes: UI

#17959 Everyone in sec starts with filled combat boots
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#18006 Standard issue handguns for security
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#18009 Normalizes atmos tech traitor tc to 20
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
Labels: No C#

#18004 Syndie Axe description clarity
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/fireaxe.yml
Labels: No C#, Status: Needs Review

#17955 Fix stamp sound
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Paper/StampComponent.cs
  Resources/Audio/Items/Stamp/attributions.yml
  Resources/Audio/Items/Stamp/automatic_stamp.ogg
  Resources/Audio/Items/Stamp/thick_stamp_sub.ogg
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Status: Needs Review

#18007 Add Missing Tiger Lizard Stripes
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/head_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/l_leg_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_arm_tiger.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/r_leg_tiger.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#17991 Component ECS
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.IntegrationTests/Tests/Networking/SimplePredictReconcileTest.cs
  Content.Server/Chemistry/Components/HyposprayComponent.cs
  Content.Server/Chemistry/EntitySystems/ChemistrySystemHypospray.cs
  Content.Shared/Chemistry/Components/SharedHyposprayComponent.cs
  Content.Shared/Hands/Components/HandVirtualItemComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Virtual.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Hands/SharedHandVirtualItemSystem.cs
  Content.Tests/Shared/Alert/ServerAlertsComponentTests.cs
  Content.Tests/Shared/Gamestates/ComponentStateNullTest.cs
Labels: Status: Needs Review

#17973 Disposable turret for uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Tools/toolbox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
Labels: No C#, Status: Needs Review

#18046 fix accent-archaic-replacement-121 and 122
  Resources/Locale/en-US/accent/archaic.ftl
Labels: No C#, Status: Needs Review

#18058 Food HUD Icons and Onion Goggles (Art Dump)
  Resources/Textures/Clothing/Eyes/Glasses/friedoniongoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/friedoniongoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/friedoniongoggles.rsi/meta.json
  Resources/Textures/Interface/Misc/food_icons.rsi/meta.json
  Resources/Textures/Interface/Misc/food_icons.rsi/overfed.png
  Resources/Textures/Interface/Misc/food_icons.rsi/overhydrated.png
  Resources/Textures/Interface/Misc/food_icons.rsi/parched.png
  Resources/Textures/Interface/Misc/food_icons.rsi/peckish.png
  Resources/Textures/Interface/Misc/food_icons.rsi/starving.png
  Resources/Textures/Interface/Misc/food_icons.rsi/thirsty.png
Labels: No C#, Changes: Sprites

#18043 Make minibomb a little louder
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#18012 Make quartermaster airlock has command sprite
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: No C#

#17722 Deathrattle implant for uplink and slight tracking implant tweak
  Content.Server/Explosion/Components/TriggerOnMobstateChangeComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Mobstate.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Implants/Components/RattleComponent.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: Status: Needs Review

#18067 Adding Scrubs to the MediDrobe
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
Labels: No C#

#18028 fix chameleon menu
  Content.Server/Clothing/Systems/ChameleonClothingSystem.cs
Labels: Status: Needs Review

#18064 Allow Dwarves To Use Human Tattoos/Markings
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
Labels: No C#

#17993 Collectible figurines!
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/figurine_boxes.yml
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/mech_figurines.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/figurines.rsi/atmos.png
  Resources/Textures/Objects/Fun/figurines.rsi/captain.png
  Resources/Textures/Objects/Fun/figurines.rsi/cargotech.png
  Resources/Textures/Objects/Fun/figurines.rsi/clown.png
  Resources/Textures/Objects/Fun/figurines.rsi/engineer.png
  Resources/Textures/Objects/Fun/figurines.rsi/fig_box.png
  Resources/Textures/Objects/Fun/figurines.rsi/fig_box_unfolded.png
  Resources/Textures/Objects/Fun/figurines.rsi/figurine_spawner.png
  Resources/Textures/Objects/Fun/figurines.rsi/footsoldier.png
  Resources/Textures/Objects/Fun/figurines.rsi/griffinprize.png
  Resources/Textures/Objects/Fun/figurines.rsi/librarian.png
  Resources/Textures/Objects/Fun/figurines.rsi/medical.png
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
  Resources/Textures/Objects/Fun/figurines.rsi/mime.png
  Resources/Textures/Objects/Fun/figurines.rsi/nukie.png
  Resources/Textures/Objects/Fun/figurines.rsi/nukie_commander.png
  Resources/Textures/Objects/Fun/figurines.rsi/nukie_elite.png
  Resources/Textures/Objects/Fun/figurines.rsi/owlprize.png
  Resources/Textures/Objects/Fun/figurines.rsi/passenger.png
  Resources/Textures/Objects/Fun/figurines.rsi/passenger_greytide.png
  Resources/Textures/Objects/Fun/figurines.rsi/qm.png
  Resources/Textures/Objects/Fun/figurines.rsi/queen.png
  Resources/Textures/Objects/Fun/figurines.rsi/salvage.png
  Resources/Textures/Objects/Fun/figurines.rsi/scientist.png
  Resources/Textures/Objects/Fun/figurines.rsi/security.png
  Resources/Textures/Objects/Fun/figurines.rsi/skeletonprize.png
  Resources/Textures/Objects/Fun/figurines.rsi/slime.png
  Resources/Textures/Objects/Fun/figurines.rsi/wizard.png
  Resources/Textures/Objects/Fun/figurines.rsi/wizard_fake.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/deathripley.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/durand.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/fireripley.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/gygax.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/honk.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/marauder.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/mauler.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/meta.json
  Resources/Textures/Objects/Fun/mech_figurines.rsi/odysseus.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/phazon.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/reticence.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/ripley.png
  Resources/Textures/Objects/Fun/mech_figurines.rsi/seraph.png
  Resources/Textures/Objects/Fun/toys.rsi/doll-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/doll-inhand-right.png
  Resources/Textures/Objects/Fun/toys.rsi/doll.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites

#16120 prevent rcd destroying planets
  Content.Shared/Maps/ContentTileDefinition.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Resources/Locale/en-US/rcd/components/rcd-component.ftl
  Resources/Prototypes/Tiles/planet.yml
Labels: Status: Needs Review

#16695 Gravity "Inherent" property for planet maps
  Content.Server/Gravity/GravitySystem.cs
  Content.Server/Maps/PlanetCommand.cs
  Content.Shared/Gravity/GravityComponent.cs
Labels: Status: Needs Review

#18079 Rename Faction to NpcFaction
  Content.Client/Entry/EntryPoint.cs
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/NPC/Components/NpcFactionMemberComponent.cs
  Content.Server/NPC/Components/NpcFactionPrototype.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/mimic.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Mobs/Player/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Player/diona.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Player/familiars.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Entities/Mobs/Player/slime.yml
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/ai_factions.yml
Labels: Status: Needs Review

#18023 Display popup when butchering with the wrong tool
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Resources/Locale/en-US/kitchen/components/butcherable-component.ftl
Labels: Status: Awaiting Changes

#17986 Mime satchel
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/meta.json
Labels: No C#, Changes: Sprites

#18093 Add fallback despawning for some effects
  Resources/Prototypes/Entities/Effects/weapon_arc.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/hitscan.yml
Labels: No C#

#17041 Librarian gameplay (DND, but in SS14)
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Server/Tabletop/Components/TabletopGameComponent.cs
  Content.Server/Tabletop/TabletopBackgammonSetup.cs
  Content.Server/Tabletop/TabletopCheckerSetup.cs
  Content.Server/Tabletop/TabletopChessSetup.cs
  Content.Server/Tabletop/TabletopEmptySetup.cs
  Content.Server/Tabletop/TabletopHologramComponent.cs
  Content.Server/Tabletop/TabletopParchisSetup.cs
  Content.Server/Tabletop/TabletopSetup.cs
  Content.Server/Tabletop/TabletopSystem.cs
  Content.Shared/Tabletop/SharedTabletopSystem.cs
  Resources/Locale/en-US/paper/book-dnd.ftl
  Resources/Locale/en-US/tabletop/tabletop.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/backgammon.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/base.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/checkers.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/chess.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/dnd.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/parchis.yml
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/tabletopGeneric.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/grassbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/moonbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/moonbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/moonbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/moonbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/sandbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/sandbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/sandbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/sandbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/shipbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/shipbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/shipbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/shipbm_tabletop.rsi/tabletop.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/snowbm.rsi/icon.png
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/snowbm.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/snowbm_tabletop.rsi/meta.json
  Resources/Textures/Objects/Fun/Tabletop/Battlemaps/snowbm_tabletop.rsi/tabletop.png
Labels: Changes: Sprites, Status: Awaiting Changes

#18094 spider and diona hunger balance
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: No C#, Status: Needs Review

#18097 Saline
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#, Status: Needs Review

#18108 fix diona hunger/thirst decay rate
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
Labels: No C#, Status: Needs Review

#18112 reduce artifact container weight
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
Labels: No C#

#18111 reädd structure tag to bookshelf
  Resources/Prototypes/Entities/Structures/Furniture/bookshelf.yml
Labels: No C#

#18109 CentCom PDAs and other ID card changes
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#18107 Add holy hand grenade
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/hallelujah.ogg
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/holyhandgrenade.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/holyhandgrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/holyhandgrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/holyhandgrenade.rsi/primed.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#18103 Slightly buffs the E-Pen, makes jetpacks 2tc
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#

#18038 New implanters for uplink
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Resources/Locale/en-US/implant/implant.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Status: Needs Review

#18114 Fix warden's armored winter coat sprite
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
Labels: No C#

#18113 Deathsquad PDA starting gear
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#18116 PA Fixes
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Parts.cs
  Resources/Textures/Structures/Power/Generation/PA/emitter_port.rsi/unlitp0.png
  Resources/Textures/Structures/Power/Generation/PA/emitter_starboard.rsi/unlitp0.png
Labels: Changes: Sprites

#18080 give description for t-ray
  Resources/Prototypes/Entities/Objects/Tools/t-ray.yml
Labels: No C#, Status: Needs Review

#18034 nukie reinforcements
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: No C#, Status: Needs Review

#18066 Hunger and thirst HUDs
  Content.Client/Overlays/ComponentAddedOverlaySystemBase.cs
  Content.Client/Overlays/ShowHungerIconsSystem.cs
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Client/Overlays/ShowThirstIconsSystem.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Server/Chemistry/ReagentEffects/SatiateThirst.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Nutrition/Components/ThirstComponent.cs
  Content.Shared/Nutrition/Components/ThirstComponent.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Overlays/ShowHungerIconsComponent.cs
  Content.Shared/Overlays/ShowSecurityIconsComponent.cs
  Content.Shared/Overlays/ShowThirstIconsComponent.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Roles/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chef.yml
  Resources/Prototypes/StatusEffects/hunger.yml
  Resources/Prototypes/StatusEffects/job.yml
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/beergoggles.rsi/meta.json
  Resources/Textures/Clothing/Eyes/Hud/friedoniongoggles.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Hud/friedoniongoggles.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Hud/friedoniongoggles.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#18096 Trashbag stuff
  Content.Client/Animations/ReusableAnimations.cs
  Content.Client/Disposal/DisposalUnitComponent.cs
  Content.Client/Hands/Systems/HandsSystem.cs
  Content.Client/Storage/ClientStorageComponent.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Server/Disposal/Unit/Components/DisposalUnitComponent.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Storage/EntitySystems/StorageSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Hands/HandEvents.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/Storage/SharedStorageComponent.cs
Labels: Status: Needs Review

#18121 attribute RamZ for zombie icon
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: No C#

#17440 update non-command role requirements
  Resources/Prototypes/Maps/aspid.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/barratry.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/kettle.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/moose.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Roles/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Roles/Jobs/Medical/chemist.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Roles/Jobs/Science/research_assistant.yml
  Resources/Prototypes/Roles/Jobs/Science/scientist.yml
  Resources/Prototypes/Roles/Jobs/Security/detective.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#, Changes: Map, Status: Needs Review

#18128 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#18129 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#18123 Use new TG stamp icons
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-centcom.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-ok.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cap.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-ce.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cent.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-centcom.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-chaplain.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-clown.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-cmo.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-deny.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hop.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-hos.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-iaa.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-mime.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-ok.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-qm.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-rd.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-syndicate.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/stamp-warden.png
Labels: No C#, Changes: Sprites

#18122 Set door bolt wire cut to false when mended
  Content.Server/Doors/WireActions/DoorBoltWireAction.cs
Labels: Status: Needs Review

#18029 [Dresser] Filling with garbage
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
Labels: No C#, Status: Needs Review

#18048 Add machine frame completion feedback
  Content.Server/Construction/MachineFrameSystem.cs
  Resources/Locale/en-US/construction/components/machine-frame-component.ftl
Labels: Status: Needs Review

#17990 Small addition to the rewards for expeditions
  Resources/Prototypes/Procedural/salvage_rewards.yml
Labels: No C#
