Repository space-wizards/space-station-14, pull requests merged in 2024-07, with the labels that each got.

#29628 comment out Exterminator reference in Ion Laws
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: No C#

#29364 Add Slowdown to Dragging Items that Slow when Held
  Content.Shared/Item/HeldSpeedModifierSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Status: Needs Review

#29402 Add FTL arrival visuals
  Content.Client/Shuttles/FtlArrivalOverlay.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/Components/FTLComponent.cs
  Content.Shared/Shuttles/Components/FtlVisualizerComponent.cs
  Resources/Prototypes/Entities/Effects/shuttle.yml
  Resources/Textures/Effects/medi_holo.rsi/medi_holo.png
  Resources/Textures/Effects/medi_holo.rsi/meta.json
Labels: Changes: Sprites

#29640 Fix showing tips on the login screen from the localized tip dataset
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
Labels: Changes: UI

#29641 Remove bad annotation from GasMinerSystem
  Content.Server/Atmos/Piping/Other/EntitySystems/GasMinerSystem.cs
Labels: Status: Needs Review, Atmos

#29476 Allow Flares to light cigarettes
  Content.Server/IgnitionSource/IgnitionEvent.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/flare.yml
Labels: Status: Needs Review

#29642 Fix nukeops ending early if an operative dies at base
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#18672 add more info to entity json in logs
  Content.Server/Administration/Logs/Converters/EntityStringRepresentationConverter.cs
Labels: Status: Needs Review

#29636 Add ability to add additional friendly and hostile factions in prototypes
  Content.Shared/NPC/Components/NpcFactionMemberComponent.cs
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
Labels: Status: Needs Review

#29392 space law book
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
Labels: No C#

#29271 fix(greenshift): remove meteors from greenshift
  Resources/Prototypes/game_presets.yml
Labels: No C#

#29667 pipetka)
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Chemistry/chem_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#29657 Gas Miner refactor
  Content.Server/Atmos/Piping/Other/Components/GasMinerComponent.cs
  Content.Server/Atmos/Piping/Other/EntitySystems/GasMinerSystem.cs
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: Atmos

#29429 Nerf the elite hardsuit
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: No C#

#29146 Fix camera recoil system overriding all other eye offsets
  Content.Shared/Camera/GetEyeOffsetEvent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
Labels: Status: Needs Review

#29245 Allow `zoom` command to modify an eye's PVS range
  Content.Client/Commands/ZoomCommand.cs
  Content.Client/Movement/Systems/ContentEyeSystem.cs
  Content.Shared/Camera/CameraRecoilComponent.cs
  Content.Shared/Camera/SharedCameraRecoilSystem.cs
  Content.Shared/Movement/Systems/SharedContentEyeSystem.cs
  Resources/Locale/en-US/commands/zoom-command.ftl
Labels: Status: Needs Review

#29120 New anomaly behaviour: Invisibility
  Resources/Locale/en-US/anomaly/anomaly.ftl
  Resources/Prototypes/Anomaly/behaviours.yml
Labels: No C#

#29294 feat: allow developers to customize vscode settings, closes #29285
  .vscode/settings.json
Labels: No C#

#29687 Allow construction of rotated railings
  Resources/Prototypes/Recipes/Construction/Graphs/structures/railing.yml
Labels: No C#

#29700 improved wrench description
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
Labels: No C#

#29678 Dynamic Radial Menus
  Content.Client/UserInterface/Controls/RadialContainer.cs
Labels: Status: Needs Review

#29694 Fixes objects changing physics behavior after being pulled
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Status: Needs Review

#29564 Makes portable flashers destructable
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#29685 Starting gear for vox crewmembers
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Vests/tankharness.rsi/meta.json
Labels: No C#, Changes: Sprites

#29696 Added Health Analyzer to basic treatment module.
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: No C#

#29411 fix(marathon): Fixing more issues
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#29422 fix(packed): Fix a couple of issues
  Resources/Maps/packed.yml
Labels: Needs Discussion, No C#, Changes: Map

#29709 Fix Vox clothing in character creation menu
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#

#29714 Fix typo in pineapple pizza description
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
Labels: No C#

#29389 Move checking code for BlacklistedRange to the right place in sqlite
  Content.Server/Database/ServerDbSqlite.cs
Labels: Status: Needs Review

#28866 Fire Axe resprite 45 degrees v3
  Resources/Textures/Objects/Weapons/Melee/fireaxeflaming.rsi/icon.png
Labels: No C#, Changes: Sprites

#29751 nuke biochem
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Science/Technologies.xml
Labels: No C#, Status: Needs Review

#29757 Shuttle map button tweaks
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: Changes: UI

#29753 Don't allow toggling internals while asleep
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#29717 Fixes a minor typo for the base gingerbread body part
  Resources/Prototypes/Body/Parts/gingerbread.yml
Labels: No C#, Status: Needs Review

#29747 Phoronman 1984
  Resources/Textures/Mobs/Species/lungs_phoronman.png
Labels: No C#

#29795 Add supplybot moving states
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/Mobs/Silicon/Bots/supplybot.rsi/meta.json
  Resources/Textures/Mobs/Silicon/Bots/supplybot.rsi/supplybot-moving.png
  Resources/Textures/Mobs/Silicon/Bots/supplybot.rsi/supplybot.png
Labels: No C#, Changes: Sprites

#29737 Raise ratking migration minimum players to 30 from 15
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#29580 Intercom buffs and fixes
  Content.Client/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Client/Radio/Ui/IntercomBoundUserInterface.cs
  Content.Client/Radio/Ui/IntercomMenu.xaml.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Radio/EntitySystems/RadioSystem.cs
  Content.Shared/Radio/Components/IntercomComponent.cs
  Content.Shared/Radio/Components/TelecomExemptComponent.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Radio/SharedIntercom.cs
  Content.Shared/Wires/SharedWiresSystem.cs
  Resources/Locale/en-US/radio/components/intercom.ftl
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/intercom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/intercom.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Wallmounts/intercom.rsi/base.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/broadcasting.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/build.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/panel.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/speaker.png
  Resources/Textures/Structures/Wallmounts/intercom.rsi/unshaded.png
  Resources/migration.yml
Labels: Changes: UI, Changes: Sprites

#29005 Slicing food with Swords
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#, Status: Awaiting Changes

#29322 fix(hardsuits): Give the carp suit and hardsuit a suit storage slot
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: No C#

#29428 metal foam grenades
  Content.Server/EntityEffects/Effects/AreaReactionEffect.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Shared/Spreader/EdgeSpreaderPrototype.cs
  Content.Shared/Tiles/ReplaceFloorOnSpawnComponent.cs
  Content.Shared/Tiles/ReplaceFloorOnSpawnSystem.cs
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Prototypes/edge_spreaders.yml
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/metalfoam.rsi/primed.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/foammetal.png
Labels: Changes: Sprites

#29712 Removes max damage threshold on healing for hyperzine
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#

#29801 Silence ringtones on admin PDAs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Resources/Locale/en-US/mass-media/news-ui.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Status: Needs Review

#29805 Fixed the guide book entry for Diona's blood type
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
Labels: No C#, Status: Needs Review

#29811 Don't treat vgroid as station grid
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#29713 Vox guidebook entry
  Resources/Prototypes/Guidebook/species.yml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: No C#, Status: Needs Review

#29832 Restore a panic bunker cvar in wizardsDen.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: No C#

#29833 all toggle light actions have a 1 second use delay
  Resources/Prototypes/Actions/types.yml
Labels: No C#

#29827 Fix Shotgun Spam Loading
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: Status: Needs Review

#29804 Add popup for healing target
  Content.Server/Medical/HealingSystem.cs
  Resources/Locale/en-US/medical/components/healing-component.ftl
Labels: Status: Needs Review

#29844 localization and change of appearance of the phrase about the remaining time
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Resources/Locale/en-US/communications/communications-console-component.ftl
Labels: Changes: UI

#29839 Action menu localization
  Content.Client/UserInterface/Systems/Actions/Windows/ActionsWindow.xaml
  Content.Client/UserInterface/Systems/Actions/Windows/ActionsWindow.xaml.cs
  Resources/Locale/en-US/actions/ui/actionmenu.ftl
Labels: Changes: UI

#29820 fix passive vent sprite in construction menu
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#

#29841 Fix lobby time typo
  Resources/Locale/en-US/lobby/lobby-state.ftl
Labels: No C#

#29849 Nozzle Direction Localization
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
Labels: Status: Needs Review

#29360 Aghosts can now /ghost
  Content.Server/GameTicking/GameTicker.GamePreset.cs
Labels: Status: Needs Review

#29828 Change Cluster evac
  Resources/Prototypes/Maps/cluster.yml
Labels: No C#, Changes: Map

#29858 Update map changes labeler
  .github/labeler.yml
Labels: No C#

#29856 Fix colornetwork desc and help
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Resources/Locale/en-US/commands/colornetwork-command.ftl
Labels: Status: Needs Review

#29048 made the guitars be able to be worn on suitstorage
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/bassguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/eguitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/guitar.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Fun/Instruments/rockguitar.rsi/meta.json
Labels: No C#, Changes: Sprites

#29779 Add scarf to warm clothing bounty
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#28972 Add an option to the admin fax menu to lock papers such that they can't be edited by cybersun pens
  Content.Client/Fax/AdminUI/AdminFaxEui.cs
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml
  Content.Client/Fax/AdminUI/AdminFaxWindow.xaml.cs
  Content.Server/Fax/AdminUI/AdminFaxEui.cs
  Content.Server/Fax/FaxConstants.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Shared/Fax/AdminFaxEui.cs
  Content.Shared/Fax/Components/FaxMachineComponent.cs
  Resources/Locale/en-US/fax/fax-admin.ftl
  Resources/Locale/en-US/paper/paper-component.ftl
Labels: Changes: UI, Status: Needs Review

#29863 books bag tabletop
  Resources/Prototypes/Entities/Objects/Fun/Tabletop/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
Labels: No C#

#29492 Fix typing indicators!
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingChangedEvent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorClothingComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
Labels: Status: Needs Review

#29680 Crafting pizza boxes.
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/foodboxpizza.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
Labels: No C#

#29878 Fixed jobwhitelist locale
  Resources/Locale/en-US/commands/job-whitelist-command.ftl
Labels: No C#

#29880 Update Core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#29875 Character menu asks if you want to save your character on exit
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/CharacterSetupGuiSavePanel.xaml
  Content.Client/Lobby/UI/CharacterSetupGuiSavePanel.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Resources/Locale/en-US/preferences/ui/character-setup-gui.ftl
Labels: Changes: UI, Status: Needs Review

#29891 Revert Baby Jail
  Content.Client/Administration/UI/AdminMenuWindow.xaml
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/BabyJailCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Shared/Administration/Events/BabyJailChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/WizardsDen/wizardsDenGateway.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenLRPTide.toml
  Resources/Locale/en-US/administration/commands/babyjail.ftl
  Resources/Locale/en-US/administration/ui/admin-menu-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/en-US/connection-messages.ftl
Labels: Changes: UI, Status: Needs Review

#29703 Allow attack while pulling
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#29896 Fix baby jail
  Content.Client/Administration/UI/AdminMenuWindow.xaml
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/BabyJailCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Shared/Administration/Events/BabyJailChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/WizardsDen/wizardsDenGateway.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenLRPTide.toml
  Resources/Locale/en-US/administration/commands/babyjail.ftl
  Resources/Locale/en-US/administration/ui/admin-menu-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/en-US/connection-messages.ftl
Labels: Changes: UI, Status: Needs Review

#28961 Fix the ability to shoot out of crates
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
Labels: Status: Needs Review, PR: Bug Fix

#29869 Glass Airlocks In Spray Painter
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
Labels: No C#

#29790 Picking a ghostrole as an admin will now deadmin you.
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#29752 Fix AtmosDeviceSystem debug assert Heisenbug
  Content.IntegrationTests/Tests/Atmos/GridJoinTest.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosDeviceSystem.cs
Labels: Status: Needs Review, Atmos

#29909 Better admin note popups text visibility
  Content.Client/Administration/UI/Notes/AdminNotesLinePopup.xaml
Labels: Changes: UI, No C#, Status: Needs Review

#29910 Made musket wieldable.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/musket.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#29851 Allow notice boards to be built on walls
  Resources/Prototypes/Recipes/Construction/furniture.yml
Labels: No C#

#29883 Make stun batons be thrown like a throwing weapon
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/stunprod.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: No C#

#29938 Update MapScreen.xaml.cs to not use Component.Owner
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
Labels: Changes: UI, Status: Needs Review

#29944 Fix supplybot movement state
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#29922 Implement Health Consideration for NPCs
  Content.Server/NPC/Queries/Considerations/TargetHealthCon.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
Labels: Status: Needs Review

#29917 Fix timer deconstruction
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
Labels: No C#

#29934 Updates GasTankSystem and InternalsSystem to not use Component.Owner
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#29953 Centered hard hat sprites
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/armored.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/blue.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/dark_yellow.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/orange.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/red.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/white.rsi/light-icon.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/icon.png
  Resources/Textures/Clothing/Head/Hardhats/yellow.rsi/light-icon.png
Labels: No C#, Changes: Sprites

#29941 Use reinforced glass damage modifier for secure windoors
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: No C#

#29966 Update ShuttleDockControl.xaml.cs to not use Component.Owner
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
Labels: Changes: UI

#29975 Update ActionAlertTooltip.cs to use TryFromMarkup
  Content.Client/Actions/UI/ActionAlertTooltip.cs
Labels: PR: Approved

#29789 Dummy vox deserves a proper vox name
  Resources/Prototypes/Entities/Mobs/Player/vox.yml
Labels: No C#, Status: Needs Review

#28295 make cargo balance ui updating its own component
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/Cargo/Components/BankClientComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Status: Needs Review

#29656 fix(SharedGunSystem): Return and debug log on CreateEffect.
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: Status: Needs Review

#29992 Replace DetachParentToNull() with DetachEntity()
  Content.Client/Materials/MaterialStorageSystem.cs
  Content.Client/Stack/StackSystem.cs
  Content.Shared/Actions/ActionContainerSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
Labels: Status: Needs Review

#25750 Shiny Diamonds
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Locale/en-US/salvage/salvage-magnet.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Entities/World/Debris/asteroids.yml
  Resources/Prototypes/Procedural/Magnet/asteroid.yml
  Resources/Prototypes/Procedural/biome_ore_templates.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Reagents/Materials/ores.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/ore.yml
  Resources/Textures/Objects/Materials/materials.rsi/diamond-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond_2.png
  Resources/Textures/Objects/Materials/materials.rsi/diamond_3.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/ore.rsi/diamond.png
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
  Resources/Textures/Structures/Walls/rock.rsi/rock_diamond.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#29999 Vgroid diamonds hotfix
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/vgroid.yml
Labels: No C#

#30009 New CDN publish workflow
  .github/workflows/publish.yml
  SpaceStation14.sln
  Tools/gen_build_info.py
  Tools/publish_github_artifact.py
Labels: No C#

#30018 Remove outdated steps from Test Packaging workflow
  .github/workflows/test-packaging.yml
Labels: No C#

#30010 Replace obsolete xform.ToMap() with xformSystem.ToMapCoordinates()
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/ContextMenu/UI/EntityMenuUIController.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/Physics/JointVisualsOverlay.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/RCD/AlignRCDConstruction.cs
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.Console.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: Changes: UI

#29993 Replace obsolete EntityCoordiates.InRange() with TransformSystem.InRange()
  Content.Client/RCD/AlignRCDConstruction.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Server/Atmos/EntitySystems/GasAnalyzerSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Guardian/GuardianSystem.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Movement/Systems/PullController.cs
  Content.Server/NPC/HTN/Preconditions/CoordinatesInRangePrecondition.cs
  Content.Server/NPC/HTN/Preconditions/CoordinatesNotInRangePrecondition.cs
  Content.Server/NPC/HTN/Preconditions/TargetInRangePrecondition.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
Labels: Status: Needs Review

#29957 Update IdExaminableSystem.cs to use TryFromMarkup
  Content.Shared/Access/Systems/IdExaminableSystem.cs
Labels: Status: Needs Review

#29988 Update MainMenu.cs to use ISawmill
  Content.Client/MainMenu/MainMenu.cs
Labels: Status: Needs Review

#30005 NPC exits MeleeOperator on invalid EntityUid
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Melee/MeleeOperator.cs
  Content.Server/NPC/Systems/NPCJukeSystem.cs
Labels: Status: Needs Review

#29987 Update AccessLevelControl.xaml.cs to use ISawmill
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
Labels: Changes: UI

#29945 Fix AGhostCommand naming
  Content.Server/Administration/Commands/AGhostCommand.cs
  Resources/Locale/en-US/administration/commands/aghost.ftl
Labels: Status: Needs Review

#30036 Change wristwatch meta description
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
Labels: No C#

#30023 Fix RGB toys color when worn/in-hand
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/rainbowcarpplush-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/rainbowcarpplush-inhand-right.png
Labels: No C#, Changes: Sprites

#29904 Clumsy proof grappling gun
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: No C#

#30017 Fix HTN/NPC better plan selection
  Content.Server/NPC/HTN/HTNPlanJob.cs
Labels: Status: Needs Review

#29921 Ambient music rules refactor
  Content.Client/Audio/ContentAudioSystem.AmbientMusic.cs
  Content.Shared/Audio/AmbientMusicPrototype.cs
  Content.Shared/Random/Rules/AlwaysTrue.cs
  Content.Shared/Random/Rules/GridInRange.cs
  Content.Shared/Random/Rules/InSpace.cs
  Content.Shared/Random/Rules/NearbyAccess.cs
  Content.Shared/Random/Rules/NearbyComponents.cs
  Content.Shared/Random/Rules/NearbyEntities.cs
  Content.Shared/Random/Rules/NearbyTilesPercent.cs
  Content.Shared/Random/Rules/OnMapGrid.cs
  Content.Shared/Random/Rules/RulesSystem.cs
  Content.Shared/Random/RulesPrototype.cs
  Content.Shared/Random/RulesSystem.cs
Labels: Status: Needs Review

#30020 Prevent virtual item storage and popups
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
  Resources/Prototypes/Entities/Virtual/virtual_item.yml
Labels: Status: Needs Review

#30037 Add petting cyborgs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: No C#

#28586 make ninja shoes magboots
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: No C#

#29959 make scarves eatable again
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
Labels: No C#

#30045 Fix AccessLevelControl breaking
  Content.Client/Access/UI/AccessLevelControl.xaml.cs
Labels: Issue: Bug, Changes: UI

#30067 Fix invalid UI hover/click sounds breaking client
  Content.Client/Audio/AudioUIController.cs
Labels: Status: Needs Review

#30072 Fix some markup related obsolete warnings in research and anomaly related systems
  Content.Client/Research/UI/DiskConsoleBoundUserInterface.cs
  Content.Client/Research/UI/ResearchClientBoundUserInterface.cs
  Content.Client/Research/UI/ResearchConsoleBoundUserInterface.cs
  Content.Client/Research/UI/ResearchConsoleMenu.xaml.cs
  Content.Client/Research/UI/TechnologyCardControl.xaml.cs
  Content.Server/Anomaly/AnomalySystem.Scanner.cs
Labels: Changes: UI, Status: Needs Review

#29912 Make addgamerule command process only valid game rules
  Content.Server/GameTicking/GameTicker.GameRule.cs
Labels: Status: Needs Review

#30071 Add missing command description to replay_toggleui
  Resources/Locale/en-US/replays/replays.ftl
Labels: No C#

#30070 Revert "Change wristwatch meta description"
  Resources/Prototypes/Entities/Objects/Devices/wristwatch.yml
Labels: No C#

#29731 Remove Geras from Slimes to address combat balance
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Status: DO NOT MERGE, No C#

#27879 Nerf & standardised slip times
  Content.Shared/Slippery/SlipperyComponent.cs
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/error.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Tiles/bananium.yml
  Resources/Prototypes/Reagents/cleaning.yml
Labels: No C#, Status: Awaiting Changes

#29989 Add examine for caustic and cold damage
  Resources/Locale/en-US/health-examinable/health-examinable-carbon.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
Labels: No C#

#29995 Little saw debuff
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: No C#

#29824 Vox displacement updates
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Clothing/Hands/Gloves/Color/yellow.rsi/equipped-HAND-vox.png
  Resources/Textures/Clothing/Hands/Gloves/Color/yellow.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_chem.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_chem.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_cmo.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_cmo.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_gene.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_sci.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Coats/labcoat_viro.rsi/open-equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/combatboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/magboots-science.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/speedboots.rsi/on-equipped-FEET-vox.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_stenciled.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/back.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/eyes.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/parts.rsi/torso.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#30033 Make the super door remote to be able to control Syndicate doors
  Resources/Prototypes/Entities/Objects/Devices/door_remote.yml
Labels: No C#

#30122 Fix 65 formatting warnings in botany
  Content.Server/Botany/Components/SeedComponent.cs
  Content.Server/Botany/Systems/MutationSystem.cs
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
Labels: Status: Needs Review

#30099 Temporarily remove Vox from space ninja and Unknown Shuttle ghostroles
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/GameRules/events.yml
Labels: No C#, Status: Needs Review

#30121 Updated slime storage capacity text in guidebook
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: No C#, Status: Needs Review

#29200 Prevent Quantum Spin Inverter from Teleporting Things into Microwaves
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Teleportation/Systems/SwapTeleporterSystem.cs
  Resources/Locale/en-US/portal/swap-teleporter.ftl
Labels: Status: Needs Review

#30136 Fix stun batons using excess charges when thrown
  Content.Shared/Damage/Systems/StaminaSystem.cs
Labels: Status: Needs Review

#30098 fix(dev_map): resave dev map
  Resources/Maps/Test/dev_map.yml
Labels: No C#, Changes: Map

#30132 Correct .editorconfig to use no space after casting
  .editorconfig
Labels: No C#

#30148 LatheSystem independently of energy
  Content.Server/Power/EntitySystems/StaticPowerSystem.cs
Labels: Status: Needs Review

#30019 Add item checking for moth food
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
Labels: Status: Needs Review

#30095 fix: give reptilians species mask sprites in lobby
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: No C#, Status: Needs Review

#30110 Remove all Assigned Values that are Never Used
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Construction/ConstructionSystem.cs
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/Doors/Systems/FirelockSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Ninja/Systems/SpaceNinjaSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/EntitySystems/PowerReceiverSystem.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Beeper/Systems/ProximityBeeperSystem.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Ninja/Systems/DashAbilitySystem.cs
Labels: Changes: UI, Status: Needs Review

#28158 randomize iconSmoothing
  Content.Client/IconSmoothing/ClientRandomIconSmoothSystem.cs
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Server/IconSmoothing/RandomIconSmoothSystem.cs
  Content.Shared/IconSmoothing/RandomIconSmoothComponent.cs
  Content.Shared/IconSmoothing/SharedRandomIconSmoothSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Textures/Structures/Walls/mining.rsi/meta.json
  Resources/Textures/Structures/Walls/mining.rsi/miningB0.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB1.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB2.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB3.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB4.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB5.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB6.png
  Resources/Textures/Structures/Walls/mining.rsi/miningB7.png
Labels: Changes: Sprites, Status: Needs Review

#30140 Remove geras description in Slime Person guidebook page
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: No C#

#29845 Add the Syndicate Raid Suit
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/syndie-raid.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-light.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/light-overlay.png
  Resources/Textures/Clothing/OuterClothing/Armor/syndie-raid.rsi/meta.json
Labels: No C#, Changes: Sprites

#30169 Fix Markup Tags in Station News
  Content.Client/CartridgeLoader/Cartridges/NewsReaderUiFragment.xaml.cs
Labels: Changes: UI

#30174 Fix mailing unit UI
  Content.Client/Disposal/UI/MailingUnitWindow.xaml.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
Labels: Changes: UI

#28088 Give NukeOps Reinforcements an ID Card (in a PDA)
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
Labels: No C#, Status: Needs Review

#30181 Removed references to pipestacking and changed example setup in Guidebook
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
Labels: No C#

#30156 Fix Chameleon Scarf menu being blank
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/Neck/specific.yml
Labels: No C#

#27772 Directional Fans
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/special.yml
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/directionalfan.rsi/meta.json
Labels: No C#, Changes: Sprites, Atmos

#29792 Add a background for OptionsButton popup
  Content.Client/Stylesheets/StyleNano.cs
Labels: Needs Engine PR

#30055 Fix NPC line of sight not working if trying to ranged target a blocking entity
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
Labels: Status: Needs Review

#28748 MassHallucinationsRule Minor Refactor
  Content.Server/StationEvents/Components/MassHallucinationsComponent.cs
  Content.Server/StationEvents/Components/MassHallucinationsRuleComponent.cs
  Content.Server/StationEvents/Events/MassHallucinationsRule.cs
Labels: Status: Needs Review, PR: Bug Fix

#29455 Remove HighImpassable from TableTopLayer
  Content.Shared/Physics/CollisionGroup.cs
Labels: Status: Needs Review

#30182 Update oasis
  Resources/Maps/oasis.yml
Labels: No C#, Changes: Map
