Repository space-wizards/space-station-14, pull requests merged in 2024-11, with the labels that each got.

#32820 ExaminableDamage now puts its message at the bottom and in color
  Content.Server/Damage/Systems/ExaminableDamageSystem.cs
  Resources/Locale/en-US/window/window-component.ftl
Labels: PR: Approved

#33013 Fixed trash not being spawned when throwing pies
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
Labels: PR: Approved

#32953 Lower in-round votekick requirements
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/voting/ui/vote-call-menu.ftl
Labels: Changes: UI

#32528 Allow votekicks to be initiated in the lobby
  Content.Client/Voting/UI/VoteCallMenu.xaml.cs
  Content.Client/Voting/VotingSystem.cs
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
  Content.Server/Voting/VotingSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#33063 Fixes bolt lights of previously unpowered bolted doors
  Content.Server/Doors/Systems/DoorSystem.cs
Labels: PR: Approved

#29318 Muffins
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/plate.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/muffin-banana.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/muffin-berry.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/muffin-cherry.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/muffin-chocolate.png
  Resources/Textures/Objects/Consumable/Food/plates.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/plates.rsi/muffin-tin.png
Labels: No C#, Changes: Sprites, PR: Approved, Undergoing Maintainer Discussion

#33069 Borgs can no longer see mindshield + AI can no longer toggle off seeing job icons
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/job_view.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
Labels: No C#, Changes: Sprites, PR: Approved

#32975 add IsMemberOfAny to faction system
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
Labels: PR: Approved

#33022 Remove CargoPallet component from the cargo pallet
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
Labels: No C#, Changes: Map, PR: Approved

#32824 Minor antagonist guidebook changes
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Revolutionaries.xml
  Resources/ServerInfo/Guidebook/Antagonist/SpaceNinja.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
Labels: No C#, PR: Approved

#33053 Give Nukies a Hand Labeler
  Resources/Maps/Nonstations/nukieplanet.yml
Labels: No C#, Changes: Map, PR: Approved

#28856 Fix `ItemSlotSystem` popup Logic
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
Labels: Status: Awaiting Changes, PR: Approved, PR: Bug Fix

#32490 Add cvars to votekick to customize requirements for the initiator.
  Content.Server/Voting/VotingSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/voting/ui/vote-call-menu.ftl
Labels: Status: Needs Review, PR: Approved

#30443 Add on-call functionality for adminning
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: PR: Approved

#32458 Pills are explosion resistant (partially reverts #15851)
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#, PR: Approved

#32744 Hasten handcraft gauze recipe & decrease techfab gauze cost
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/gauze.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#, PR: Approved

#31359 Service workers antagonist fix.
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: No C#, Undergoing Maintainer Discussion

#33097 Adds a new AME sound effect!
  Content.Server/Ame/Components/AmeControllerComponent.cs
  Resources/Audio/Machines/ame_fuelinjection.ogg
  Resources/Audio/Machines/attributions.yml
Labels: PR: Approved

#32461 Allow for the ai's laws to be changed from its core and eye
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review, PR: Approved

#31521 clean up tools lathe recipes
  Resources/Prototypes/Recipes/Lathes/botany.yml
  Resources/Prototypes/Recipes/Lathes/cooking.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
Labels: No C#, PR: Approved

#32737 Intercoms and Radios both pick up proximate speech
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
Labels: PR: Approved, PR: Bug Fix

#33067 Adds headphones to loadouts
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, PR: Approved

#32743 Cardboard Box Capacity 4 -> 5
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#

#33119 Hotfix add debug info to traitor activation
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: Status: Needs Review

#32355 change ShowHealthBars and ShowHealthIcons to use protoId
  Content.Client/Commands/ShowHealthBarsCommand.cs
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
  Content.Shared/Overlays/ShowHealthIconsComponent.cs
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: PR: Approved

#33111 Combat and survival knife storage/inhand sprites
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/combat_knife.rsi/storage.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/survival_knife.rsi/storage.png
Labels: No C#, Changes: Sprites, PR: Approved

#33102 Delete conveyer_old.rsi
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_loose.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_started_ccw.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_started_ccw_r.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_started_cw.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_started_cw_r.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_stopped_ccw.png
  Resources/Textures/Structures/conveyor_old.rsi/conveyor_stopped_cw.png
  Resources/Textures/Structures/conveyor_old.rsi/meta.json
Labels: No C#, Changes: Sprites, PR: Approved

#33103 Fix broken computer white shadows
  Resources/Textures/Structures/Machines/computers.rsi/broken.png
Labels: No C#, Changes: Sprites

#33134 Bugfix: Wielding now uses identity system.
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: PR: Approved

#32717 Collapsible ghost roles menu
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleButtonsBox.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleButtonsBox.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleEntryButtons.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleInfoBox.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRoleInfoBox.xaml.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEntry.xaml
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesWindow.xaml.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
Labels: Changes: UI, Status: Needs Review

#33136 Added Popup for the Ligneous plant mutation when using hands.
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
Labels: PR: Approved

#33145 fix: Remove duplicate light blue towel from misc loadout
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#, PR: Approved

#33126 Made the SpeciesChange mutation no longer transfer with Sterile Swabs.
  Resources/Prototypes/Hydroponics/randomMutations.yml
Labels: No C#, PR: Approved

#32945 make emergency lights (de)constructable
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/lighting.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, PR: Approved

#33121 Fix: Web Clothing Butcher Issues
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/web.yml
Labels: No C#, PR: Approved

#32887 Add Silicon Law cues to Every method a Silicon can have their laws change
  Content.Server/Silicons/Laws/SiliconLawEui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawProviderComponent.cs
Labels: PR: Approved

#33180 HOTFIX latejoin traitor activations
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#33181 Don't show Reinforcement codewords on round end
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: PR: Approved

#33177 Fix AI in Intelicard can see through walls
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: PR: Approved

#33084 remove wanted list cartridge from captain PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: No C#

#33153 make admeme mouse eternally hungry and thirsty by increasing decay rate
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, PR: Approved

#31292 Changes to "Burst" firemode; Drozd, WT550 and C20-r
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.AutoFire.cs
  Content.Shared/Weapons/Ranged/Components/GunComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: Status: Needs Review, PR: Approved, Undergoing Maintainer Discussion

#33196 AI can now speak once more.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, PR: Approved, PR: Bug Fix

#32981 Meta map: remove arrivals chair, changed maints shotgun to beanbag rounds
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#33065 Fixes Lambordeere bolt buttons not being connected
  Resources/Maps/Shuttles/ShuttleEvent/lambordeere.yml
Labels: No C#, Changes: Map, PR: Bug Fix

#33214 Core Station: Telecoms air alarm connection to atmos devices
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#33205 Fix research disk crash
  Content.Server/Research/Disk/ResearchDiskSystem.cs
Labels: PR: Approved

#33014 Fix cursed mask bug
  Content.Server/Clothing/Systems/CursedMaskSystem.cs
Labels: PR: Approved

#27111 cham projector fixes/rewrite
  Content.Client/Effects/ColorFlashEffectSystem.cs
  Content.Client/Polymorph/Systems/ChameleonProjectorSystem.cs
  Content.Server/Polymorph/Systems/ChameleonProjectorSystem.cs
  Content.Shared/Polymorph/Components/ChameleonDisguiseComponent.cs
  Content.Shared/Polymorph/Components/ChameleonDisguisedComponent.cs
  Content.Shared/Polymorph/Components/ChameleonProjectorComponent.cs
  Content.Shared/Polymorph/Systems/SharedChameleonProjectorSystem.cs
  Resources/Locale/en-US/chameleon-projector/chameleon-projector.ftl
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
Labels: PR: Approved

#33218 Stable Merge
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Thief/Systems/ThiefBeaconSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Status: Needs Review

#31710 dark green jumpsuit recolor, casual green jumpsuits added
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpsuits.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: No C#, Status: Needs Review, PR: Approved, Undergoing Maintainer Discussion

#33220 Label workflow - stable
  .github/workflows/labeler-stable.yml
Labels: No C#

#33221 Label workflow - staging
  .github/workflows/labeler-staging.yml
Labels: No C#

#32954 Add a Walking alert
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Alert/ServerAlertsSystem.cs
  Content.Shared/Alert/AlertsComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/walking.rsi/meta.json
  Resources/Textures/Interface/Alerts/walking.rsi/walking.png
Labels: Changes: Sprites, Status: Needs Review, PR: Approved

#33096 The Jumpsuit Re-Detailening
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/prisoner-inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/prisoner-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/color.rsi/trinkets-inhand-right.png
Labels: No C#, Changes: Sprites

#33198 Intellicards now have a doAfter.
  Content.Server/Silicons/StationAi/StationAiSystem.cs
  Content.Shared/Intellicard/Components/IntellicardComponent.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Resources/Locale/en-US/intellicard/intellicard.ftl
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: PR: Approved

#32989 Removed bola stam damage
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: No C#, Status: Needs Review

#33130 tweak: weather command tooltip
  Content.Server/Weather/WeatherSystem.cs
  Resources/Locale/en-US/weather/weather.ftl
Labels: PR: Approved

#31492 Goliath rebalance
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
Labels: No C#

#33216 Omega Station: Fix Air Alarm in CMO office
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#33245 Fix vape use without check if doafter cancelled
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
Labels: PR: Approved

#33247 HOTFIX: Fix Security Shell Gun being uncraftable.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Hotfix, Branch: stable

#33248 Make the Flare Gun & Security Shell Gun be unbolted by default.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
Labels: No C#, PR: Approved

#33260 Merge Shell Gun Hotfix into Master
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#32493 BUGFIX: Fix APEs being able to be turned on without power
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
Labels: PR: Approved

#33113 improve BiomeDunGen
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenBiome.cs
  Content.Shared/Parallax/Biomes/SharedBiomeSystem.cs
  Content.Shared/Procedural/PostGeneration/BiomeDunGen.cs
Labels: PR: Approved

#33254 Allow editing angle of the fired projectile
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: Status: Needs Review, PR: Approved

#30659 Fix unban/editing role bans placed in groups.
  Content.Server/Database/ServerDbBase.cs
Labels: Status: Needs Review

#33176 Adds new sprites for shotgun shell boxes
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/beanbag.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/flare.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/incendiary.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/lethal.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/mag-alt-4.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/slug.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/tranquilizer.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.rsi/uranium.png
Labels: No C#, Changes: Sprites

#33223 Added the ability to microwave inert flesh anomaly cores to turn into an anomalous meat mass
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/anomalymeat-cooked.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/anomalymeat.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, PR: Approved

#31751 tag:with toolshed command
  Content.Server/Administration/Toolshed/TagCommand.cs
  Resources/Locale/en-US/commands/toolshed-commands.ftl
Labels: Size: Very Small, Status: Needs Review, Toolshed, PR: Approved

#33201 Ethereal Jaunt Spell for Wizard & Jaunt ECS
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Jaunt/JauntComponent.cs
  Content.Shared/Jaunt/JauntSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Audio/Magic/attributions.yml
  Resources/Audio/Magic/ethereal_enter.ogg
  Resources/Audio/Magic/ethereal_exit.ogg
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Actions/polymorph.yml
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Mobs/Player/jaunt_mobs.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/jaunt.png
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
Labels: Changes: Sprites, PR: Approved

#33160 Half Revert #31978
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window_diagonal.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#33302 Hotfix 33160
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window_diagonal.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: No C#

#33310 Update Label workflows to use new labels
  .github/labeler.yml
  .github/workflows/labeler-conflict.yml
  .github/workflows/labeler-needsreview.yml
  .github/workflows/labeler-size.yml
  .github/workflows/labeler-stable.yml
  .github/workflows/labeler-staging.yml
  .github/workflows/labeler-untriaged.yml
Labels: S: DO NOT MERGE, No C#

#33303 Fix mime broken vow alert
  Content.Server/Abilities/Mime/MimePowersSystem.cs
Labels: C: Bug, Size: Very Small, S: Approved, A: Service, A: General Interactions

#32586 Borg type switching.
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Overlays/EquipmentHudSystem.cs
  Content.Client/Overlays/ShowHealthBarsSystem.cs
  Content.Client/Overlays/ShowHealthIconsSystem.cs
  Content.Client/Silicons/Borgs/BorgMenu.xaml.cs
  Content.Client/Silicons/Borgs/BorgModuleControl.xaml.cs
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml
  Content.Client/Silicons/Borgs/BorgSelectTypeMenu.xaml.cs
  Content.Client/Silicons/Borgs/BorgSelectTypeUserInterface.cs
  Content.Client/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Client/Silicons/Borgs/BorgSystem.cs
  Content.Server/Silicons/Borgs/BorgSwitchableTypeSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Server/Silicons/Borgs/BorgSystem.Ui.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Interaction/InteractionPopupSystem.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
  Content.Shared/Overlays/ShowHealthIconsComponent.cs
  Content.Shared/Silicons/Borgs/BorgTypePrototype.cs
  Content.Shared/Silicons/Borgs/Components/BorgChassisComponent.cs
  Content.Shared/Silicons/Borgs/Components/BorgModuleComponent.cs
  Content.Shared/Silicons/Borgs/Components/BorgSwitchableTypeComponent.cs
  Content.Shared/Silicons/Borgs/SharedBorgSwitchableTypeSystem.cs
  Content.Shared/Silicons/Borgs/SharedBorgSystem.cs
  Resources/Locale/en-US/borg/borg.ftl
  Resources/Prototypes/Actions/borgs.yml
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/InventoryTemplates/borg.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
  Resources/Prototypes/borg_types.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Science/Cyborgs.xml
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_borg.rsi/select-type.png
  Resources/migration.yml
Labels: Changes: UI, Changes: Sprites, S: Approved, S: Undergoing Maintainer Discussion

#33213 Marathon Station: Added air alarms to CMO, Surgery, Security Checkpoint
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#32941 Meta Station: Add a fully functional TEG room
  Resources/Maps/meta.yml
Labels: Ch: No C#, Ch: Map, S: Untriaged, size/XL

#33287 Rule amendment - Remove role abandonment aHelp requirement.
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR12RoleAbandonment.xml
Labels: P: High, Changes: No C#, I: Hotfix, A: Command, C: Of Admin Interest, size/S

#33262 Note expiry time now use times instead of timestamps!
  Content.Client/Administration/UI/Notes/NoteEdit.xaml
  Content.Client/Administration/UI/Notes/NoteEdit.xaml.cs
  Resources/Locale/en-US/administration/ui/admin-notes.ftl
Labels: P: High, Changes: UI, D: Low, A: UI, S: Approved, A: Admin Tooling, C: Of Admin Interest

#33324 Hotfix merge into master: Rule amendment - Remove role abandonment aHelp requirement. (#33287)
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR12RoleAbandonment.xml
Labels: P: High, Changes: No C#, D: Beginner Friendly, S: Approved, I: Hotfix, A: Rules, C: Of Admin Interest, size/S

#33325 Update Core
  Resources/Maps/core.yml
Labels: Changes: No C#, Changes: Map, A: Mapping, size/XL

#33315 Prevent Digiboard recycling
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: C: Bug, P: High, Changes: No C#, S: Approved, A: Command, size/XS

#33333 Command external airlocks
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: P: Medium, C: New Feature, Changes: No C#, Size: Very Small, D: Low, A: Mapping, S: Approved, size/S

#33332 New ruin variant
  Resources/Maps/Ruins/abandoned_outpost.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: P-2: Raised, C: New Feature, Changes: No C#, Changes: Map, D: Low, S: Needs Review, A: Mapping, size/XL

#33331 Edited Snow White reaction to output proper amount of drink.
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Service, size/XS

#32985 Add succumb action 10 sec delay
  Resources/Prototypes/Actions/crit.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, S: Approved, A: Combat, A: General Interactions, size/XS

#33167 Adds gorilla gauntlet storage sprite and updates hit sound
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Textures/Objects/Weapons/Melee/gorilla.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/gorilla.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/gorilla.rsi/storage.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, A: Science, T: Visual Change, Changes: Audio

#31147 Clumsy system refactor
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Systems/SuperBonkSystem.cs
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/Events/HyposprayEvents.cs
  Content.Shared/Climbing/Components/BonkableComponent.cs
  Content.Shared/Climbing/Events/BeforeClimbEvents.cs
  Content.Shared/Climbing/Systems/BonkSystem.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
  Content.Shared/Clumsy/ClumsyComponent.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/Interaction/Components/ClumsyComponent.cs
  Content.Shared/Interaction/SharedInteractionSystem.Clumsy.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Medical/DefibrillatorEvents.cs
  Content.Shared/Medical/TargetDefibrillatedEvent.cs
  Content.Shared/Weapons/Ranged/Events/BeforeGunShootEvent.cs
  Resources/Locale/en-US/bonk/components/bonkable-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: T: Refactor, S: Approved, A: General Interactions, size/L

#33101 Improve crayon UI to not be stuck in 1996
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonWindow.xaml
  Content.Client/Crayon/UI/CrayonWindow.xaml.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Shared/Crayon/SharedCrayonComponent.cs
  Resources/Locale/en-US/crayon/crayon-component.ftl
  Resources/Prototypes/Decals/crayons.yml
Labels: P3: Standard, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/L

#33341 BRB sign in the Bureaucracy Crate
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, S: Approved, A: Command

#33326 Fix utensils not being thrown away
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#33312 Fix server crash when the seed extractor is used on the dev map
  Content.Server/Botany/Systems/SeedExtractorSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Service, size/XS

#33019 Solar assembly crate buff
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Fills/Crates/engines.yml
Labels: Changes: No C#, S: Needs Review, T: Balance Change, S: Approved, A: Cargo/Salvage, A: Engineering, size/XS

#31761 Add admin remarks button to lobby
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/CharacterSetupGui.xaml
  Content.Client/Lobby/UI/CharacterSetupGui.xaml.cs
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Locale/en-US/preferences/ui/character-setup-gui.ftl
Labels: P1: High, T: New Feature, Changes: UI, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Core Tech, T: Of Admin Interest, size/M

#33340 Box Holiday Update
  Resources/Maps/box.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, T: Cleanup, D2: Medium, S: Needs Review, A: Mapping, size/XL

#33335 Marathon holiday update
  Resources/Maps/marathon.yml
Labels: P2: Raised, Changes: No C#, Changes: Map, D2: Medium, S: Needs Review, A: Mapping, size/L

#33347 bagel christmas update
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#33349 Throwing Knife description tweak
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#33318 Adds paper label visuals to closets and lockers
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Textures/Structures/Storage/Crates/labels.rsi/bounty.png
  Resources/Textures/Structures/Storage/Crates/labels.rsi/captains_paper.png
  Resources/Textures/Structures/Storage/Crates/labels.rsi/invoice.png
  Resources/Textures/Structures/Storage/Crates/labels.rsi/meta.json
  Resources/Textures/Structures/Storage/Crates/labels.rsi/paper.png
  Resources/Textures/Structures/Storage/closet_labels.rsi/bounty.png
  Resources/Textures/Structures/Storage/closet_labels.rsi/captains_paper.png
  Resources/Textures/Structures/Storage/closet_labels.rsi/invoice.png
  Resources/Textures/Structures/Storage/closet_labels.rsi/meta.json
  Resources/Textures/Structures/Storage/closet_labels.rsi/paper.png
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Awaiting Changes, S: Approved, A: General Interactions, T: Visual Change, size/M

#33357 Omega Update (Christmas Edition)
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#33356 Packed Update (Christmas Edition)
  Resources/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, size/XL

#33345 Chemical synthesis kit tweak
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Approved, A: Medical, size/XS

#33383 Dim light bulbs
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, A: Mapping, size/M

#33379 Shift air alarm sprites to better reflect their direction
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm0.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b1.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_b2.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarm_bitem.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmp.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/alarmx.png
  Resources/Textures/Structures/Wallmounts/air_monitors.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Awaiting Changes, DB: Beginner Friendly, S: Approved, A: Art, A: Engineering, T: Visual Change, size/XS

#33222 Replace direct uses of GameTicker dictionary with `TryGetValue`
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
Labels: T: Bugfix, P1: High, D2: Medium, S: Needs Review, A: Roundflow/Antag, size/XS

#32381 fix viewing nav slowing shuttle down
  Content.Server/Physics/Controllers/MoverController.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, A: Cargo/Salvage, A: General Interactions, size/S

#33365 Welded secret doors no longer say they are welded shut.
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions

#33400 Increase softcap back to 80
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: P1: High, Changes: No C#, DB: Beginner Friendly, S: Approved, Intent: Hotfix, Branch: Stable, A: Admin Tooling, T: Of Admin Interest, size/XS

#32826 Toggle clothing fix
  Content.Shared/Clothing/Components/ToggleClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/ToggleClothingSystem.cs
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: T: Bugfix, P1: High, D2: Medium, S: Awaiting Changes, A: Core Tech, size/S

#33421 .NET 9 forward compatibility changes
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Breadth.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Splines.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Widen.cs
  Content.Shared/Forensics/Events.cs
  Content.Shared/Silicons/StationAi/StationAiVisionSystem.cs
Labels: P1: High, T: Cleanup, D1: High, S: Needs Review, A: Core Tech, size/S

#33415 Fix security riot crate
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, T: Balance Change, S: Approved, A: Cargo/Salvage, A: Security

#33398 Localize planet dataset names
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Salvage/SalvageSystem.ExpeditionConsole.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Shuttles/Components/GridSpawnComponent.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Salvage/SharedSalvageSystem.cs
  Resources/Locale/en-US/datasets/names/borer.ftl
  Resources/Prototypes/Datasets/Names/borer.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: P2: Raised, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#32706 Remove drag & drop dropping items from containers
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, S: Undergoing Maintainer Discussion, A: General Interactions, size/M

#33337 Automatically add "Approved" to maintainer PRs
  .github/workflows/labeler-review.yml
Labels: P1: High, T: New Feature, Changes: No C#, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/S

#32138 Fix toggle verbs
  Content.Shared/Item/ItemToggle/Components/ItemToggleComponent.cs
  Content.Shared/Item/ItemToggle/Components/ToggleVerbComponent.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Item/ItemToggle/ToggleVerbSystem.cs
  Resources/Locale/en-US/clothing/components/magboots-component.ftl
  Resources/Locale/en-US/fire-extinguisher/fire-extinguisher-component.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: General Interactions, size/M

#32577 Construction menu grid view
  Content.Client/Construction/UI/ConstructionMenu.xaml
  Content.Client/Construction/UI/ConstructionMenu.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Resources/Locale/en-US/construction/ui/construction-menu.ftl
Labels: P2: Raised, Changes: UI, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/M

#33419 Merge into master: Increase softcap back to 80 (#33400)
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: P1: High, Changes: No C#, D3: Low, Intent: Hotfix, size/XS

#33064 Fix: Examine Damage now specifies no damage
  Content.Shared/Damage/Systems/DamageExamineSystem.cs
  Resources/Locale/en-US/damage/damage-examine.ftl
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, S: Approved, A: Core Tech

#33428 Move PlayerBeforeSpawnEvent and PlayerSpawnCompleteEvent to Shared
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/GameTicking/PlayerBeforeSpawnEvent.cs
  Content.Shared/GameTicking/PlayerSpawnCompleteEvent.cs
Labels: S: Needs Review, S: Untriaged, size/L

#33358 Temporarily make singularity a bit harder to loose as non-antag
  Content.Client/Singularity/Systems/EventHorizonSystem.cs
  Content.Client/Singularity/Systems/SingularityGeneratorSystem.cs
  Content.Client/Singularity/Systems/SingularitySystem.cs
  Content.Server/Singularity/Components/SingularityGeneratorComponent.cs
  Content.Server/Singularity/EntitySystems/SingularityGeneratorSystem.cs
  Content.Shared/Emag/Systems/EmagSystem.cs
  Content.Shared/Singularity/Components/SingularityGeneratorComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedSingularityGeneratorSystem.cs
  Resources/Locale/en-US/singularity/components/generator-component.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/generator.yml
Labels: P1: High, D2: Medium, S: Needs Review, S: Approved, A: Engineering, T: Of Admin Interest, size/L

#31966 Capacitor Crafting Change
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/medsec_hud.yml
  Resources/Prototypes/Recipes/Construction/Graphs/tools/logic_gate.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/wallmount_substation.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/potato.yml
  Resources/Prototypes/Stacks/science_stacks.yml
Labels: T: Bugfix, P1: High, Changes: No C#, D2: Medium, S: Needs Review, S: Approved, A: General Interactions, size/M

#32484 Set airlock unlit layers as invisible
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
Labels: Changes: No C#, S: Untriaged

#33435 Syndicate item fix ups
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Cleanup, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/S

#33147 Coal presents and chrimmas tree options. Presents no longer itemify
  Content.Server/Holiday/Christmas/RandomGiftSystem.cs
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/migration.yml
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, T: Balance Change, A: Mapping, A: Roleplay/Lore, size/M

#33440 Fix approval labeler
  .github/workflows/labeler-review.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#31076 Fix admin ghosts not being able to see items in pockets or interact with them
  Content.Client/Inventory/StrippableBoundUserInterface.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/M

#33128 Gas pipe sensors
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Resources/Locale/en-US/atmos/gas-pipe-sensor.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/gas_pipe_sensor.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/Atmospherics/gas_pipe_sensor.rsi/base.png
  Resources/Textures/Structures/Piping/Atmospherics/gas_pipe_sensor.rsi/blank.png
  Resources/Textures/Structures/Piping/Atmospherics/gas_pipe_sensor.rsi/icon.png
  Resources/Textures/Structures/Piping/Atmospherics/gas_pipe_sensor.rsi/lights.png
  Resources/Textures/Structures/Piping/Atmospherics/gas_pipe_sensor.rsi/meta.json
Labels: P2: Raised, T: New Feature, D1: High, Changes: Sprites, S: Approved, Changes: Atmospherics Code, A: Engineering, T: Of Admin Interest

#33459 Add telegram to the server info-links
  Content.Client/Info/LinkBanner.cs
  Content.Server/ServerInfo/ServerInfoManager.cs
  Content.Shared/CCVar/CCVars.Game.Infolinks.cs
  Resources/Locale/en-US/info/server-info.ftl
  Resources/Locale/en-US/server-info/info-links.ftl
Labels: S: Untriaged, size/S

#33461 Fix sandbox error with new HWID code.
  Content.Shared.Database/TypedHwid.cs
Labels: S: Needs Review, S: Untriaged, Branch: Staging, size/XS

#33281 baby proof the terminal
  Content.Server/Power/Components/CableComponent.cs
  Content.Server/Power/EntitySystems/CableSystem.cs
  Resources/Maps/Misc/terminal.yml
  Resources/Prototypes/Entities/Structures/Power/cable_terminal.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: P1: High, Changes: No C#, Changes: Map, D2: Medium, S: Needs Review, A: Mapping, A: Roundflow/Antag, T: Of Admin Interest

#33437 Fix salvage vendor inventory
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Cargo/Salvage, size/XS

#33466 Allow AI and observers to see electrified doors
  Content.Client/Electrocution/ElectrocutionHUDVisualizerSystem.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Power/PowerWireAction.cs
  Content.Shared/Electrocution/Components/ElectrocutionHUDVisualsComponent.cs
  Content.Shared/Electrocution/Components/ShowElectrocutionHUDComponent.cs
  Content.Shared/Electrocution/SharedElectrocution.cs
  Content.Shared/Electrocution/SharedElectrocutionSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_metal.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Textures/Interface/Misc/ai_hud.rsi/apc_hacked.png
  Resources/Textures/Interface/Misc/ai_hud.rsi/electrified.png
  Resources/Textures/Interface/Misc/ai_hud.rsi/meta.json
Labels: P2: Raised, T: New Feature, D2: Medium, Changes: Sprites, S: Needs Review, A: Silicons, size/L

#33456 Disable submit admin note button on switch to note
  Content.Client/Administration/UI/Notes/NoteEdit.xaml.cs
Labels: T: Bugfix, P1: High, Changes: UI, DB: Beginner Friendly, S: Approved, A: Admin Tooling, size/XS

#33394 Fix startingGear storage
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: P1: High, T: Cleanup, D3: Low, S: Needs Review, A: General Interactions, size/S

#31623 Minor improvements & fixes to Shuttle Console UI
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleConsoleWindow.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: P3: Standard, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Core Tech

#33477 Don't show drag-drop outline if climbing
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, A: Core Tech, size/XS

#32447 Ensure wires can always be cut
  Content.Server/Wires/ComponentWireAction.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions

#33284 babyproof arrivals shuttle
  Resources/Maps/Shuttles/arrivals.yml
Labels: P1: High, Changes: No C#, Changes: Map, D2: Medium, S: Needs Review, A: Mapping, A: Roundflow/Antag, T: Of Admin Interest, size/XL

#33479 Add delay to AutoOrient
  Content.Shared/CCVar/CCVars.Shuttle.cs
  Content.Shared/Movement/Components/AutoOrientComponent.cs
  Content.Shared/Movement/Systems/AutoOrientSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, A: Core Tech, Changes: Audio, size/M

#33465 Draw muzzle flash below mobs
  Content.Shared/DrawDepth/DrawDepth.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: P3: Standard, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, T: Visual Change, size/M

#33507 Allow shuttles on planets to make FTL jump
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, S: Approved, A: Cargo/Salvage, A: Core Tech, size/XS

#32890 fix exped caves generation
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenWallMount.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, A: Cargo/Salvage

#33342 various material & ore inhands
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/ore.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Textures/Objects/Materials/hide.rsi/goliathhide-inhand-left.png
  Resources/Textures/Objects/Materials/hide.rsi/goliathhide-inhand-right.png
  Resources/Textures/Objects/Materials/hide.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/bananium-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/bananium-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/bones-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/bones-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/cardboard-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/cardboard-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/cloth-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/cloth-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/corgihide-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/corgihide-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/cotton-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/cotton-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/durathread-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/durathread-inhand-right.png
  Resources/Textures/Objects/Materials/materials.rsi/meta.json
  Resources/Textures/Objects/Materials/materials.rsi/pyrotton-inhand-left.png
  Resources/Textures/Objects/Materials/materials.rsi/pyrotton-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/bananium-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/bananium-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/coal-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/coal-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/diamond-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/diamond-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/gold-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/gold-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/iron-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/iron-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Objects/Materials/ore.rsi/plasma-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/plasma-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/salt-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/salt-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/silver-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/silver-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/spacequartz-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/spacequartz-inhand-right.png
  Resources/Textures/Objects/Materials/ore.rsi/uranium-inhand-left.png
  Resources/Textures/Objects/Materials/ore.rsi/uranium-inhand-right.png
  Resources/Textures/Objects/Materials/parts.rsi/meta.json
  Resources/Textures/Objects/Materials/parts.rsi/rods-inhand-left.png
  Resources/Textures/Objects/Materials/parts.rsi/rods-inhand-right.png
  Resources/Textures/Objects/Materials/silk.rsi/meta.json
  Resources/Textures/Objects/Materials/silk.rsi/silk-inhand-left.png
  Resources/Textures/Objects/Materials/silk.rsi/silk-inhand-right.png
Labels: P3: Standard, Changes: No C#, D2: Medium, Changes: Sprites, S: Needs Review, A: Art, T: Visual Change, size/L

#33234 Delete HOS headset from warden's locker
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: P2: Raised, Changes: No C#, D3: Low, Changes: Sprites, T: Balance Change, S: Awaiting Changes, S: Undergoing Maintainer Discussion, A: Security, size/XS

#33524 fix airlocks inconsistently auto-closing after unbolting
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/Doors/DoorEvents.cs
  Content.Shared/Doors/Systems/SharedAirlockSystem.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.Bolts.cs
  Content.Shared/Doors/Systems/SharedDoorSystem.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: General Interactions, size/M

#33529 [BUGFIX] "Ghost" in the lobby lets you see the whole chat
  Content.Server/Ghost/GhostCommand.cs
  Resources/Locale/en-US/chat/commands/ghost-command.ftl
Labels: T: Bugfix, P1: High, S: Needs Review, S: Approved, A: Core Tech, T: Of Admin Interest, size/S

#33542 removed obsolete netmessage creator
  Content.Client/Eui/BaseEui.cs
Labels: S: Untriaged, size/XS

#33531 Fix RA0003 warning for ChatBox
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: P2: Raised, Changes: UI, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech, size/XS
