Repository space-wizards/space-station-14, pull requests merged in 2024-06, with the labels that each got.

#27997 Randomizes more humanoid appearances
  Content.Server/Humanoid/Components/RandomHumanoidAppearanceComponent.cs
  Content.Server/Humanoid/Systems/RandomHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/Prototypes/RandomHumanoidSettingsPrototype.cs
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: No C#, Status: Needs Review

#28391 Gives Mediborg the Medical Hud
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#, Status: Needs Review

#28101 Added verb for removing evidence!
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Resources/Locale/en-US/forensics/forensics.ftl
Labels: Status: Awaiting Changes

#28424 Increase Tesla coil power output
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
Labels: No C#

#27776 Adds a Pii Flag, Censors Hwid and Ip
  Content.Server/Administration/BanList/BanListEui.cs
  Content.Shared/Administration/AdminFlags.cs
Labels: Status: Needs Review

#28451 Clean up command perms
  Content.Server/Administration/Commands/AdminWhoCommand.cs
  Content.Server/Administration/Commands/AnnounceUiCommand.cs
  Content.Server/Administration/Commands/BanExemptionCommands.cs
  Content.Server/Administration/Commands/DSay.cs
  Content.Server/Administration/Commands/FaxUiCommand.cs
  Content.Server/Administration/Commands/LinkBluespaceLocker.cs
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Administration/Commands/SetAdminOOC.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Announcements/AnnounceCommand.cs
  Content.Server/Chat/Commands/SetOOCCommand.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Damage/Commands/GodModeCommand.cs
  Content.Server/GhostKick/GhostKickManager.cs
  Content.Server/Motd/SetMOTDCommand.cs
  Content.Server/Toolshed/Commands/Verbs/RunVerbAsCommand.cs
  Content.Server/Verbs/Commands/ListVerbsCommand.cs
  Content.Server/Voting/Managers/VoteManager.cs
  Content.Server/Voting/VoteCommands.cs
  Content.Shared/Administration/AdminFlags.cs
  Resources/engineCommandPerms.yml
Labels: Status: Needs Review

#28463 Clean up store system
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/PDA/Ringer/RingerSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/Store/Conditions/BuyBeforeCondition.cs
  Content.Server/Store/Systems/StoreSystem.Command.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Refund.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/Traitor/Uplink/SurplusBundle/SurplusBundleComponent.cs
  Content.Server/Traitor/Uplink/SurplusBundle/SurplusBundleSystem.cs
  Content.Server/Traitor/Uplink/UplinkComponent.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/Store/StoreUi.cs
  Resources/Locale/en-US/store/store.ftl
  Resources/Prototypes/Catalog/Fills/Crates/syndicate.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Specific/syndicate.yml
  Resources/Prototypes/Store/presets.yml
Labels: Changes: UI

#28462 Fixed bug where ID card computer defaulted to the atmos as the job icon.
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
Labels: Changes: UI

#28434 Makes machine parts stackable, removes unused field in stack prototypes
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Construction/MachinePartSystem.cs
  Content.Shared/Materials/MaterialPrototype.cs
  Content.Shared/Stacks/StackPrototype.cs
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
  Resources/Prototypes/Stacks/Materials/Sheets/glass.yml
  Resources/Prototypes/Stacks/Materials/Sheets/metal.yml
  Resources/Prototypes/Stacks/Materials/Sheets/other.yml
  Resources/Prototypes/Stacks/Materials/crystals.yml
  Resources/Prototypes/Stacks/Materials/ingots.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/Stacks/Materials/ore.yml
  Resources/Prototypes/Stacks/Materials/parts.yml
  Resources/Prototypes/Stacks/consumable_stacks.yml
  Resources/Prototypes/Stacks/engineering_stacks.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Stacks/medical_stacks.yml
  Resources/Prototypes/Stacks/power_stacks.yml
  Resources/Prototypes/Stacks/science_stacks.yml
Labels: Status: Needs Review

#28331 Station event component and system tweaks
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/StationEvents/Components/StationEventComponent.cs
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Server/StationEvents/Events/BluespaceArtifactRule.cs
  Content.Server/StationEvents/Events/BreakerFlipRule.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Server/StationEvents/Events/FalseAlarmRule.cs
  Content.Server/StationEvents/Events/GasLeakRule.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMicrophoneSystem.cs
  Resources/Locale/en-US/station-events/events/anomaly-spawn.ftl
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#28487 Adjust power monitor power display
  Content.Client/Power/PowerMonitoringWindow.xaml.Widgets.cs
  Resources/Locale/en-US/components/power-monitoring-component.ftl
Labels: Changes: UI

#28114 Hiding and clearing department prototype code
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Shared/Roles/DepartmentPrototype.cs
Labels: Changes: UI, Status: Needs Review

#28272 Cleans up tag system
  Content.Client/Verbs/VerbSystem.cs
  Content.IntegrationTests/Tests/Tag/TagTest.cs
  Content.Server/Administration/Toolshed/TagCommand.cs
  Content.Server/Mech/Systems/MechAssemblySystem.cs
  Content.Server/Procedural/DungeonJob.PostGen.cs
  Content.Server/Procedural/DungeonJob.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Construction/Steps/MultipleTagsConstructionGraphStep.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Content.Shared/Tag/TagComponent.cs
  Content.Shared/Tag/TagComponentState.cs
  Content.Shared/Tag/TagPrototype.cs
  Content.Shared/Tag/TagSystem.cs
Labels: Status: Needs Review

#28465 Replace obsolete EntityWhitelist IsValid usages
  Content.Client/Chat/UI/EmotesMenu.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Gatherable/GatherableSystem.cs
  Content.Server/NPC/Systems/NPCImprintingOnSpawnBehaviourSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Power/EntitySystems/ChargerSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Storage/EntitySystems/PickRandomSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
  Content.Shared/Devour/SharedDevourSystem.cs
  Content.Shared/Disposal/SharedDisposalUnitSystem.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Interaction/SmartEquipSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Content.Shared/Polymorph/Systems/SharedChameleonProjectorSystem.cs
  Content.Shared/Salvage/Fulton/SharedFultonSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Weapons/Marker/SharedDamageMarkerSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: Changes: UI, Status: Needs Review

#27443 Replace Matrix3 with System.Numerics.Matrix3x2
  Content.Client/Administration/UI/SpawnExplosion/ExplosionDebugOverlay.cs
  Content.Client/Atmos/Overlays/AtmosDebugOverlay.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/Clickable/ClickableComponent.cs
  Content.Client/Decals/Overlays/DecalOverlay.cs
  Content.Client/Decals/Overlays/DecalPlacementOverlay.cs
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Fluids/PuddleOverlay.cs
  Content.Client/Maps/GridDraggingSystem.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/Overlays/StencilOverlay.RestrictedRange.cs
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Paper/UI/StampLabel.xaml.cs
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/NavScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/Storage/Systems/StorageSystem.cs
  Content.Client/UserInterface/Controls/DirectionIcon.cs
  Content.Client/UserInterface/Controls/MapGridControl.xaml.cs
  Content.Client/Viewport/ScalingViewport.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Client/Weapons/Ranged/ItemStatus/BulletRender.cs
  Content.Server/Explosion/EntitySystems/ExplosionGridTileFlood.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/Fluids/EntitySystems/AbsorbentSystem.cs
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Distance.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.cs
  Content.Server/Procedural/DungeonJob.PrefabDunGen.cs
  Content.Server/Procedural/DungeonSystem.Rooms.cs
  Content.Server/Radiation/Systems/RadiationSystem.GridCast.cs
  Content.Server/Salvage/FultonSystem.cs
  Content.Server/Shuttles/Events/FTLStartedEvent.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Explosion/Components/ExplosionVisualsComponent.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Maps/TurfSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Changes: UI, Status: Needs Review

#27232 Content changes for entity categories PR
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.Server/GameTicking/Rules/Components/NukeOperativeSpawnerComponent.cs
  Content.Server/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
  Content.Server/Humanoid/Components/RandomHumanoidSpawnerComponent.cs
  Content.Server/Spawners/Components/ConditionalSpawnerComponent.cs
  Content.Server/Spawners/Components/RandomSpawnerComponent.cs
  Content.Server/Spawners/Components/TimedSpawnerComponent.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Body/Prototypes/BodyPrototypeSerializer.cs
  Content.Shared/Dragon/SharedDragonRiftComponent.cs
  Resources/Locale/en-US/entity-categories.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/categories.yml
Labels: Needs Engine PR, Status: Needs Review

#28065 Fix Lasers Being Blocked by External Airlocks and Shuttle Airlocks
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: No C#, Status: Needs Review

#27369 Flash overlay rework and bugfixes
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/Flash/FlashSystem.cs
  Content.Server/Flash/Components/DamagedByFlashingComponent.cs
  Content.Server/Flash/Components/FlashImmunityComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/Components/FlashComponent.cs
  Content.Shared/Flash/Components/FlashedComponent.cs
  Content.Shared/Flash/FlashableComponent.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/argocyte.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/base_shadow.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Shaders/flashed_effect.swsl
Labels: Issue: Bug, Status: Awaiting Changes

#28495 Add debug asserts to ensure that network groups are up to date.
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
Labels: Status: Needs Review

#28510 Emergency Fix for Whitelist logic
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: Status: Needs Review

#28508 Remove `noSpawn: true` from action entity prototypes
  Resources/Prototypes/Actions/borgs.yml
  Resources/Prototypes/Actions/crit.yml
  Resources/Prototypes/Actions/diona.yml
  Resources/Prototypes/Actions/internals.yml
  Resources/Prototypes/Actions/mech.yml
  Resources/Prototypes/Actions/ninja.yml
  Resources/Prototypes/Actions/polymorph.yml
  Resources/Prototypes/Actions/revenant.yml
  Resources/Prototypes/Actions/speech.yml
  Resources/Prototypes/Actions/spider.yml
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Magic/event_spells.yml
  Resources/Prototypes/Magic/forcewall_spells.yml
  Resources/Prototypes/Magic/knock_spell.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Prototypes/Magic/rune_spells.yml
  Resources/Prototypes/Magic/smite_spells.yml
  Resources/Prototypes/Magic/spawn_spells.yml
  Resources/Prototypes/Magic/staves.yml
  Resources/Prototypes/Magic/teleport_spells.yml
  Resources/Prototypes/Magic/utility_spells.yml
  Resources/Prototypes/Roles/Jobs/Civilian/mime.yml
Labels: No C#, Status: Needs Review

#26639 Drawl capitalization coldfix (part 2: rise of accidentally commiting to master)
  Content.Server/Speech/EntitySystems/SouthernAccentSystem.cs
Labels: Status: Awaiting Changes

#28515 fix typos in bonfire descriptions
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
Labels: No C#

#28529 Update to nixpkgs 24.05
  flake.lock
  flake.nix
Labels: No C#

#28538 Shut up a child throwing a tantrum
  Resources/Credits/GitHub.txt
  Tools/contribs_shared.ps1
  Tools/dump_github_contributors.ps1
Labels: No C#

#28540 rename admin cloak to lizard cloak
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
Labels: No C#

#28528 RespawnRuleSystem tweaks.
  Content.Server/GameTicking/Rules/Components/RespawnDeadRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/RespawnTrackerComponent.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Content.Server/GameTicking/Rules/RespawnRuleSystem.cs
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Status: Needs Review

#27959 Welding tweaks
  Content.Server/Configurable/ConfigurationSystem.cs
  Content.Server/Damage/Components/DamageOnToolInteractComponent.cs
  Content.Server/Damage/Systems/DamageOnToolInteractSystem.cs
  Content.Server/Mech/Systems/MechAssemblySystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/PneumaticCannon/PneumaticCannonSystem.cs
  Content.Server/Weapons/Melee/EnergySword/EnergySwordSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactElectricityTriggerSystem.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Content.Shared/Tools/Components/ToolComponent.cs
  Content.Shared/Tools/Components/ToolRefinableComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
  Content.Shared/Tools/Systems/ToolRefinableSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/broken_bottle.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baseball_bat.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: Status: Needs Review

#28544 Strip Items From Things Before Biomassing Them
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Status: Needs Review

#28492 Changes SyndiCat spawner to a radio
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
Labels: No C#

#28543 Gives Medibots Random Lines(not a good title)
  Resources/Locale/en-US/advertisements/other/medibot.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#28387 prevent nukie kidnapping
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: Status: Awaiting Changes

#28294 make GameRule use entity category
  Content.Server/GameTicking/Components/GameRuleComponent.cs
  Resources/Locale/en-US/entity-categories.ftl
  Resources/Prototypes/Entities/categories.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/variation.yml
Labels: Status: Needs Review

#28072 Make projectiles not hit crates unless clicked on
  Content.Shared/Damage/Components/RequireProjectileTargetComponent.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
Labels: Status: Needs Review

#28547 Remove locale related changelog
  Resources/Changelog/Changelog.yml
Labels: No C#, Status: Awaiting Changes

#28357 Add a test for sliceable cargo bounty exploits
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: Status: Needs Review

#28555 Tip 51 does not exist
  Resources/Locale/en-US/tips.ftl
Labels: No C#

#28046 Accent trait limit
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml
  Content.Client/Lobby/UI/Roles/TraitPreferenceSelector.xaml.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Traits/TraitCategoryPrototype.cs
  Content.Shared/Traits/TraitPrototype.cs
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Traits/categories.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/Traits/inconveniences.yml
  Resources/Prototypes/Traits/neutral.yml
  Resources/Prototypes/Traits/speech.yml
Labels: Changes: UI, Status: Needs Review

#28409 "Death gasp" for a moth
  Resources/Audio/Effects/Gasp/attributions.yml
  Resources/Audio/Effects/Gasp/moth_DeathGasp.ogg
  Resources/Prototypes/SoundCollections/deathgasp.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#, Status: Needs Review

#27788 Make borgs shown in logprobe
  Content.Shared/Access/Systems/AccessReaderSystem.cs
Labels: Status: Needs Review

#28485 Add integration test for LocalizedDatasets
  Content.IntegrationTests/Tests/Localization/LocalizedDatasetPrototypeTest.cs
Labels: Status: Needs Review

#28561 Remove duplicate entities
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/migration.yml
Labels: No C#

#28210 LoadMapRule grid storage rework
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.Server/GameTicking/Rules/Components/LoadMapRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/RuleGridsComponent.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/RuleGridsSystem.cs
  Content.Server/GridPreloader/GridPreloaderSystem.cs
  Content.Server/StationEvents/Events/StationEventSystem.cs
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: Status: Needs Review

#28539 Make projectile & hitscan reflection only try once with the best reflector
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Content.Shared/Weapons/Reflect/ReflectUserComponent.cs
Labels: Status: Needs Review

#28488 Add CVar to disable pow3r parallel processing
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Server/Power/Pow3r/BatteryRampPegSolver.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#28590 Add "fill level" sprites to mops and damp rag
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/advmop.rsi/wielded-inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/fill-3.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-left-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/mop.rsi/wielded-inhand-right-fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-1.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-2.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/fill-3.png
  Resources/Textures/Objects/Specific/Janitorial/rag.rsi/meta.json
Labels: No C#, Changes: Sprites

#28597 Reword some criminal records text
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
Labels: No C#

#28549 Use dummy sessions in NukeOpsTest
  Content.Benchmarks/PvsBenchmark.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Pair/TestPair.Recycle.cs
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
Labels: Needs Engine PR

#28625 Add Job preference tests
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/CharacterPickerButton.xaml.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Pair/TestPair.Recycle.cs
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.IntegrationTests/Tests/EntityTest.cs
  Content.IntegrationTests/Tests/GameRules/AntagPreferenceTest.cs
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Content.IntegrationTests/Tests/Round/JobTest.cs
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
  Content.Server/Database/ServerDbBase.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/Preferences/Managers/ServerPreferencesManager.cs
  Content.Server/Spawners/Components/SpawnPointComponent.cs
  Content.Server/Spawners/EntitySystems/SpawnPointSystem.cs
  Content.Server/Station/Components/StationJobsComponent.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Resources/Prototypes/Maps/arenas.yml
  Resources/Prototypes/Maps/atlas.yml
  Resources/Prototypes/Maps/bagel.yml
  Resources/Prototypes/Maps/box.yml
  Resources/Prototypes/Maps/cluster.yml
  Resources/Prototypes/Maps/core.yml
  Resources/Prototypes/Maps/debug.yml
  Resources/Prototypes/Maps/europa.yml
  Resources/Prototypes/Maps/fland.yml
  Resources/Prototypes/Maps/marathon.yml
  Resources/Prototypes/Maps/meta.yml
  Resources/Prototypes/Maps/oasis.yml
  Resources/Prototypes/Maps/omega.yml
  Resources/Prototypes/Maps/origin.yml
  Resources/Prototypes/Maps/packed.yml
  Resources/Prototypes/Maps/reach.yml
  Resources/Prototypes/Maps/saltern.yml
  Resources/Prototypes/Maps/train.yml
Labels: Changes: UI, Changes: Map, Status: Needs Review

#28628 Add logs that provide session to player admin logs
  Content.Server/Administration/Logs/AdminLogManager.Json.cs
Labels: Status: Needs Review

#28627 Cluster Update
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#28636 minor banner changes
  Resources/Prototypes/Entities/Structures/Decoration/banners.yml
Labels: No C#

#28638 Revenant spell catalog locale
  Resources/Locale/en-US/store/revenant-catalog.ftl
  Resources/Prototypes/Catalog/revenant_catalog.yml
Labels: No C#

#28489 Machine-code cleanup
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.IntegrationTests/Tests/MachineBoardTest.cs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Construction/Components/IRefreshParts.cs
  Content.Server/Construction/Components/MachineComponent.cs
  Content.Server/Construction/Components/MachineFrameComponent.cs
  Content.Server/Construction/Components/PartExchangerComponent.cs
  Content.Server/Construction/Conditions/MachineFrameComplete.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Construction/ConstructionSystem.Guided.cs
  Content.Server/Construction/ConstructionSystem.Initial.cs
  Content.Server/Construction/ConstructionSystem.Machine.cs
  Content.Server/Construction/ConstructionSystem.cs
  Content.Server/Construction/MachineFrameSystem.cs
  Content.Server/Construction/PartExchangerSystem.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Construction/Components/MachineBoardComponent.cs
  Content.Shared/Construction/Components/MachinePartComponent.cs
  Content.Shared/Construction/MachinePartSystem.cs
  Content.Shared/Construction/Prototypes/MachinePartPrototype.cs
  Content.Shared/Construction/SharedConstructionSystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Resources/Locale/en-US/construction/steps/arbitrary-insert-construction-graph-step.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/cannons.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/particle_accelerator.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Power/powercells.yml
  Resources/Prototypes/MachineParts/machine_parts.yml
  Resources/Prototypes/Stacks/science_stacks.yml
Labels: Changes: UI

#28571 Make Projectiles Only Hit a Variety of Station Objects Unless Clicked on
  Resources/Prototypes/Entities/Objects/Fun/Instruments/base_instruments.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/chemistry_machines.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/disease_diagnoser.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/vaccinator.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Prototypes/Entities/Structures/Machines/wireless_surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/portable_generator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: No C#, Status: Needs Review

#28593 Fix Smoke-grenade.ogg not being mono
  Resources/Audio/Effects/Smoke-grenade.ogg
Labels: No C#

#28641 Fix Cigars Sprites + YAML fix for Inhand unlit cigars/cigs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/cigarette.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigars/cigar.yml
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar-gold.rsi/unlit-inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/lit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/lit-inhand-right.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/unlit-inhand-left.png
  Resources/Textures/Objects/Consumable/Smokeables/Cigars/cigar.rsi/unlit-inhand-right.png
Labels: No C#, Changes: Sprites

#28602 Clean up Eva and Hardsuit helm yml + Lets atmos firesuit helm work as a BreathMask
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#28600 Shifts borgs hats to the right a bit
  Resources/Prototypes/InventoryTemplates/borg.yml
Labels: No C#

#28623 Fix mouse inhands
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#28591 Adjust some touch reaction damage levels
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: No C#, Status: Needs Review

#28609 Fix Admin Object tab sorting and search
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabEntry.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabHeader.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabHeader.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Resources/Locale/en-US/administration/ui/tabs/object-tab.ftl
Labels: Changes: UI, Status: Needs Review

#28595 Internals are kept on as long as any breathing tool is on
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.BreathTool.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Body/Components/InternalsComponent.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Body/Systems/LungSystem.cs
Labels: Status: Awaiting Changes

#28621 Gives Insulation and NoSlip to all bots
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#28650 Nerfs welderbombing
  Resources/Prototypes/Entities/Structures/Storage/Tanks/tanks.yml
Labels: No C#

#28614 Give jobs & antags prototypes a guide field
  Content.Client/Guidebook/Components/GuideHelpComponent.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/DocumentParsingManager.cs
  Content.Client/Guidebook/GuidebookSystem.cs
  Content.Client/Info/RulesControl.xaml.cs
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml
  Content.Client/Lobby/UI/Roles/RequirementsSelector.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/FancyWindow.xaml.cs
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Content.Client/UserInterface/Systems/Info/InfoUIController.cs
  Content.IntegrationTests/Tests/Guidebook/GuideEntryPrototypeTests.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Shared/Guidebook/GuideEntry.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Guidebook/medical.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: Changes: UI, PR: Approved

#28671 fixed "silicones" typo in new rules
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR0.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenLRPRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenMRPRules.xml
Labels: No C#, Status: Needs Review

#28669 fix janitor not spawning with a survival box
  Resources/Prototypes/Roles/Jobs/Civilian/janitor.yml
Labels: No C#

#28682 Fix typo in slime naming conventions
  Resources/ServerInfo/Guidebook/ServerRules/CoreRules/RuleC13CharacterNames.xml
Labels: No C#, Status: Needs Review

#28417 Flatpacker fixes
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
Labels: Changes: UI

#28679 Return medicine recipe solid material costs to 1
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: No C#

#28689 Update Core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#28607 Add JobRequirementOverride prototypes
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Ghost/Roles/GhostRolePrototype.cs
  Content.Shared/Ghost/Roles/GhostRolesEuiMessages.cs
  Content.Shared/Roles/AntagPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/JobRequirementOverridePrototype.cs
  Content.Shared/Roles/JobRequirements.cs
  Content.Shared/Roles/SharedRoleSystem.cs
  Resources/Prototypes/Roles/requirement_overrides.yml
Labels: Changes: UI

#28703 Tweak chapel salvage wreck
  Resources/Maps/Salvage/small-chapel.yml
Labels: No C#

#28708 Add locale support for booze and soda jugs labels
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: No C#

#28706 Swap some InRangeUnobstructed for InRangeUnoccluded
  Content.Client/Construction/ConstructionSystem.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Instruments/InstrumentSystem.cs
Labels: PR: Approved

#28720 Ports the singularity's values from vgstation
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
Labels: Status: Needs Review

#28715 Improve grammar of various petting messages
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
Labels: No C#

#28735 Update Core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#28736 Fix flatpacker
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
Labels: Changes: UI

#28674 rn, atp
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#

#28664 Make freeze, freeze & mute, and unmute verbs work on disconnected players.
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#28603 Guidebook Updates for the Amateur Spessman
  Resources/Locale/en-US/guidebook/guidebook.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/botany.yml
  Resources/Prototypes/Guidebook/cargo.yml
  Resources/Prototypes/Guidebook/command.yml
  Resources/Prototypes/Guidebook/meta.yml
  Resources/Prototypes/Guidebook/newplayer.yml
  Resources/Prototypes/Guidebook/radio.yml
  Resources/Prototypes/Guidebook/references.yml
  Resources/Prototypes/Guidebook/salvage.yml
  Resources/Prototypes/Guidebook/service.yml
  Resources/Prototypes/Guidebook/shiftandcrew.yml
  Resources/Prototypes/Guidebook/station.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Command.xml
  Resources/ServerInfo/Guidebook/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/Engineering/Engineering.xml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/Medical/Chemist.xml
  Resources/ServerInfo/Guidebook/Medical/Medical.xml
  Resources/ServerInfo/Guidebook/Medical/MedicalDoctor.xml
  Resources/ServerInfo/Guidebook/NewPlayer/CharacterCreation.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Radio.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
  Resources/ServerInfo/Guidebook/NewPlayer/YourFirstCharacter.xml
  Resources/ServerInfo/Guidebook/ReferenceTables/Drinks.xml
  Resources/ServerInfo/Guidebook/References.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
  Resources/ServerInfo/Guidebook/Service/Bartender.xml
  Resources/ServerInfo/Guidebook/Service/Botany.xml
  Resources/ServerInfo/Guidebook/Service/Chef.xml
  Resources/ServerInfo/Guidebook/Service/Service.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
  Resources/ServerInfo/Guidebook/Survival.xml
Labels: No C#, Status: Needs Review

#28755 Add suffixes to excap survival boxes
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#

#28724 Add Jani lobby background
  Resources/Prototypes/lobbyscreens.yml
  Resources/Textures/LobbyScreens/attributions.yml
  Resources/Textures/LobbyScreens/janishootout.webp
  Resources/Textures/LobbyScreens/janishootout.webp.yml
Labels: No C#

#28596 Strip markdown from silicon laws before saying them
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
Labels: Changes: UI, Status: Awaiting Changes

#28773 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#28787 Fix admin menu objects list
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
Labels: Changes: UI, Status: Needs Review

#28772 add default page support for the guidebook
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#28774 Open the guidebook when people with less than an hour playing join the round
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/station.yml
Labels: Changes: UI

#28794 Redo new player & controls guidebooks
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Controls.xml
  Resources/ServerInfo/Guidebook/NewPlayer/NewPlayer.xml
Labels: No C#

#28799 new station and shifts guide
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: No C#

#28775 Update Cargo Guidebook
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Cargo/CargoBounties.xml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/ServerInfo/Guidebook/Cargo/TradeStation.xml
Labels: No C#, Status: Needs Review

#28763 SS14-28662 Add Baby Jail: a Jail for Babies (inverse panic bunker)
  Content.Client/Administration/UI/AdminMenuWindow.xaml
  Content.Client/Administration/UI/AdminMenuWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailTab.xaml.cs
  Content.Client/UserInterface/Systems/Admin/AdminUIController.cs
  Content.Server.Database/Model.cs
  Content.Server/Administration/Commands/BabyJailCommand.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Server/GameTicking/GameTicker.StatusShell.cs
  Content.Shared/Administration/Events/BabyJailChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/administration/commands/babyjail.ftl
  Resources/Locale/en-US/administration/ui/admin-menu-window.ftl
  Resources/Locale/en-US/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/generic.ftl
Labels: Changes: UI, Status: Needs Review

#28705 Implement map text
  Content.Client/MapText/MapTextComponent.cs
  Content.Client/MapText/MapTextOverlay.cs
  Content.Client/MapText/MapTextSystem.cs
  Content.Server/MapText/MapTextComponent.cs
  Content.Server/MapText/MapTextSystem.cs
  Content.Shared/MapText/SharedMapTextComponent.cs
  Content.Shared/MapText/SharedMapTextSystem.cs
  Resources/Locale/en-US/mapping/map-text-component.ftl
  Resources/Prototypes/Entities/Markers/map_text.yml
Labels: Status: Needs Review

#28805 Panic Bunker uses minutes not hours
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml
  Content.Client/Administration/UI/Tabs/BabyJailTab/BabyJailStatusWindow.xaml.cs
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml
  Content.Client/Administration/UI/Tabs/PanicBunkerTab/PanicBunkerTab.xaml.cs
  Content.Server/Administration/Commands/PanicBunkerCommand.cs
  Content.Server/Administration/ServerApi.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/Administration/Events/PanicBunkerChangedEvent.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/administration/commands/panicbunker.ftl
  Resources/Locale/en-US/administration/ui/tabs/babyjail-tab.ftl
  Resources/Locale/en-US/administration/ui/tabs/panicbunker-tab.ftl
  Resources/Locale/en-US/connection-messages.ftl
Labels: Changes: UI, Status: Needs Review

#28780 Temporarily update server configs
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/lizard.toml
  Resources/ConfigPresets/WizardsDen/salamander.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenCoreOnly.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenGateway.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenLRPTide.toml
Labels: Status: DO NOT MERGE, No C#

#28807 Fix wizardsDenCoreOnly.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenCoreOnly.toml
Labels: No C#, Status: Needs Review

#28812 Disable panic bunker for servers
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
  Resources/ConfigPresets/WizardsDen/wizardsDenCoreOnly.toml
Labels: No C#, Status: Needs Review

#28818 Fixes a typo in the glossary
  Resources/ServerInfo/Guidebook/Glossary.xml
Labels: No C#, Status: Needs Review

#28815 enable search filters on drinks guidebook
  Resources/Prototypes/Guidebook/references.yml
Labels: No C#

#28839 Enable save button on changing job unavailable preference
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: Changes: UI

#28819 Fix some wideswing animations
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
Labels: No C#

#28854 Cluster Update
  Resources/Maps/cluster.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: No C#, Changes: Map, Status: Needs Review

#28868 Removes Trials of Mana grassland sprites: Bare Minimum Edition
  Resources/Prototypes/Tiles/planet.yml
  Resources/Textures/Objects/Tiles/tile.rsi/astrograss.png
  Resources/Textures/Objects/Tiles/tile.rsi/grass.png
  Resources/Textures/Objects/Tiles/tile.rsi/grassjungle.png
  Resources/Textures/Tiles/Planet/Grass/attributions.yml
  Resources/Textures/Tiles/Planet/Grass/double_edge.png
  Resources/Textures/Tiles/Planet/Grass/grass.png
  Resources/Textures/Tiles/Planet/Grass/single_edge.png
  Resources/Textures/Tiles/Planet/Grass/triple_edge.png
  Resources/Textures/Tiles/Planet/dirt.rsi/dirt.png
  Resources/Textures/Tiles/Planet/dirt.rsi/meta.json
  Resources/Textures/Tiles/grassjungle.png
Labels: No C#, Changes: Sprites

#28885 Fix "no materials loaded" messege in lathes
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
Labels: Changes: UI, Status: Needs Review

#28803 Comms Consoles without CanShuttle can no longer recall
  Content.Server/Communications/CommunicationsConsoleSystem.cs
Labels: PR: Approved

#28898 Add new icon for Remove Evidence verb
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
  Resources/Textures/Interface/VerbIcons/bubbles.svg
  Resources/Textures/Interface/VerbIcons/bubbles.svg.192dpi.png
Labels: Status: Needs Review

#28913 Reach Fixes
  Resources/Maps/reach.yml
Labels: No C#, Changes: Map

#28907 Make automatic gasps not create a chat message
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Status: Needs Review

#28904 Pets toggle internals fix
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#28903 New Sprites for Tranq Shells + Add consistancy to printing Tranqs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/shelltranquilizer.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/tranquilizer-spent.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/shotgun_shell.rsi/tranquilizer.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#28844 Fix gauze stopping if it stops bleeding
  Content.Server/Medical/HealingSystem.cs
Labels: Status: Needs Review

#28884 added a new sprite for the super synthesizer.
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/meta.json
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-left.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/super-inhand-right.png
  Resources/Textures/Objects/Fun/Instruments/h_synthesizer.rsi/supersynth.png
Labels: No C#, Changes: Sprites

#28919 Fix .30 ammo listing wrong number of bullets in uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: No C#

#28756 Fix guns appearing to cycle bolt when wielded
  Content.Shared/Wieldable/WieldableSystem.cs
Labels: PR: Bug Fix

#28783 Fix `playtime_addrole` command printing the wrong time
  Content.Server/Administration/Commands/PlayTimeCommands.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
Labels: Status: Needs Review, PR: Bug Fix

#28871 Fix ninja Spider Clan charge not getting a target
  Resources/Prototypes/Objectives/ninja.yml
Labels: No C#, PR: Bug Fix

#28876 Fix playtime on player tab getting set to Unknown
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingManager.cs
Labels: Status: Needs Review, PR: Bug Fix

#28728 Fix Drozd and C-20r unwielding on use-in-hand
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
Labels: No C#, PR: Bug Fix

#28427 construction rotation fix
  Content.Server/Construction/ConstructionSystem.Initial.cs
Labels: Needs Engine PR, PR: Bug Fix

#28934 Change drinks restock name because it is confusing
  Resources/Prototypes/Catalog/Fills/Crates/vending.yml
Labels: No C#

#28946 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#28909 Implement air vent pressure lockout override
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedVentPumpComponent.cs
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
Labels: Status: Needs Review, Atmos

#28086 Fix no combat knives in sec techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, Feature Freeze: Closed from May 10 to June 14

#26873 Nodescanner now works with right click
  Content.Server/Xenoarchaeology/Equipment/Systems/NodeScannerSystem.cs
  Resources/Locale/en-US/xenoarchaeology/node-scanner.ftl
Labels: Status: Awaiting Changes

#28922 Add trailing comments on multiline lists - editorconfig.
  .editorconfig
Labels: No C#

#28872 Remove Rat King from MouseMigration and add it to it's own Event
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#27476 makes PKA able to mine rocks in one hit
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: No C#, Feature Freeze: Closed from May 10 to June 14, Feature Freeze: Priority

#28948 Chickens now cluck when they speak
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_sounds.yml
Labels: No C#

#27998 Evac shuttle for Oasis
  Resources/Maps/Shuttles/emergency_accordia.yml
  Resources/Prototypes/Maps/oasis.yml
Labels: No C#, Changes: Map, Status: Needs Review

#28095 uncuffCooldown *= 5
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: No C#, Feature Freeze: Closed from May 10 to June 14

#28968 cargo can now order fax machines
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/fax-machine.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#28977 Lighten throwing knive's border
  Resources/Textures/Objects/Weapons/Melee/throwing_knife.rsi/icon.png
Labels: No C#, Changes: Sprites

#28989 Rename generic drugs
  Resources/Locale/en-US/reagents/meta/narcotics.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLControlledSubstances.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: No C#, Status: Needs Review

#28992 It is pride month, nukies. You know what that means.
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/Entities/Structures/Machines/nuke.yml
  Resources/Prototypes/holidays.yml
  Resources/Textures/Objects/Devices/nuke.rsi/meta.json
  Resources/Textures/Objects/Devices/nuke.rsi/nuclearbomb_gay.png
Labels: No C#, Changes: Sprites

#28952 Move secure crate labels to the left
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
Labels: No C#

#28954 Changes all the uplink ally icons to be a combination of the mob + radio
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Textures/Objects/Devices/communication.rsi/meta.json
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-ancestor.png
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-borg-assault.png
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-syndicat.png
  Resources/Textures/Objects/Devices/communication.rsi/old-radio-urist.png
Labels: No C#, Changes: Sprites

#28965 Adds witch robes
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/witchrobe.rsi/meta.json
Labels: No C#, Changes: Sprites

#28943 Prevent borgs from getting duplicate modules
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Resources/Locale/en-US/borg/borg.ftl
Labels: Status: Needs Review

#28951 Donk co. microwave + microwave tweaks
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Resources/Maps/Nonstations/nukieplanet.yml
  Resources/Maps/Shuttles/infiltrator.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwo.png
Labels: Changes: Sprites

#28999 fix(uplink): Remove useless gps from death rattle box
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
Labels: No C#

#28974 Revamped Meteor Swarm
  Content.Server/Destructible/DestructibleSystem.cs
  Content.Server/Mining/MeteorComponent.cs
  Content.Server/Mining/MeteorSystem.cs
  Content.Server/StationEvents/Components/MeteorSchedulerComponent.cs
  Content.Server/StationEvents/Components/MeteorSwarmComponent.cs
  Content.Server/StationEvents/Components/MeteorSwarmRuleComponent.cs
  Content.Server/StationEvents/Events/MeteorSwarmRule.cs
  Content.Server/StationEvents/Events/MeteorSwarmSystem.cs
  Content.Server/StationEvents/MeteorSchedulerSystem.cs
  Content.Shared/Mobs/Systems/MobThresholdSystem.cs
  Resources/Locale/en-US/station-events/events/meteor-swarm.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/game_presets.yml
  Resources/Textures/Objects/Misc/meteor.rsi/big.png
  Resources/Textures/Objects/Misc/meteor.rsi/big_cluster.png
  Resources/Textures/Objects/Misc/meteor.rsi/big_cluster_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/big_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/firework.png
  Resources/Textures/Objects/Misc/meteor.rsi/firework_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/human.png
  Resources/Textures/Objects/Misc/meteor.rsi/human_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium_piercing.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium_piercing_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium_radioactive.png
  Resources/Textures/Objects/Misc/meteor.rsi/medium_radioactive_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/meta.json
  Resources/Textures/Objects/Misc/meteor.rsi/small.png
  Resources/Textures/Objects/Misc/meteor.rsi/small_flash.png
  Resources/Textures/Objects/Misc/meteor.rsi/small_flash_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/small_pixel.png
  Resources/Textures/Objects/Misc/meteor.rsi/space_dust.png
Labels: Changes: Sprites, Status: Needs Review

#29009 Moon Boots
  Content.Client/Clothing/MagbootsSystem.cs
  Content.Server/Atmos/Components/MovedByPressureComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Clothing/MagbootsSystem.cs
  Content.Server/Damage/Systems/GodmodeSystem.cs
  Content.Server/Gravity/GravitySystem.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
  Content.Shared/Atmos/Components/MovedByPressureComponent.cs
  Content.Shared/Clothing/Components/AntiGravityClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/SharedMagbootsSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/moonboots.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#29008 make pulled uncuffing slower & reduce uncuff spam cooldown
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
Labels: Status: Needs Review

#29010 fix drinking from openable containers
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
Labels: PR: Bug Fix

#29001 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#28971 Adds 2 new space ruins
  Resources/Maps/Ruins/chunked_tcomms.yml
  Resources/Maps/Ruins/empty_flagship.yml
  Resources/Maps/Ruins/relaystation.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: No C#

#29014 Set ahelp new player icon to use minutes, not seconds
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
Labels: Changes: UI, Status: Needs Review

#29015 Fix IComponentFactory mock in benchmark
  Content.Benchmarks/EntityManagerGetAllComponents.cs
Labels: Needs Engine Update
