Repository space-wizards/space-station-14, pull requests merged in 2024-03, with the labels that each got.

#25708 Cargo request console search now includes crate descriptions
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
Labels: Changes: UI

#24609 make suicide actions require confirming
  Content.Shared/Actions/ConfirmableActionComponent.cs
  Content.Shared/Actions/ConfirmableActionSystem.cs
  Content.Shared/Actions/Events/ActionAttemptEvent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Resources/Locale/en-US/actions/actions/suicide.ftl
  Resources/Prototypes/Actions/types.yml
Labels: Status: Needs Review

#25741 Make the round end sound collection a cvar
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#25752 CryoSleep Access Fix
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#25724 New item: Expensive coat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Textures/Clothing/OuterClothing/Coats/expensive_coat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Coats/expensive_coat.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Coats/expensive_coat.rsi/meta.json
Labels: No C#, Changes: Sprites

#25753 Security Belts for Cadets
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#25766 Additional Signage
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Wallmounts/signs.rsi/arcade.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/barbershop.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_exam.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/direction_icu.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/laundromat.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/news.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/reception.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/salvage.png
Labels: No C#, Changes: Sprites

#25735 move space heaters into cargo
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#

#25764 removes the free syndicate headset from the syndicate footsoldier
  Resources/Prototypes/Entities/Mobs/NPCs/human.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: No C#

#25743 fix(research): Fix `ResearchSystem.Client` `UpdateClientInterface` preconditions.
  Content.Server/Research/Systems/ResearchSystem.Client.cs
Labels: Status: Needs Review

#24484 Alerts for breathing plasma/tritium
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Server/Chemistry/ReagentEffects/AdjustAlert.cs
  Content.Shared/Alert/AlertAutoRemoveComponent.cs
  Content.Shared/Alert/AlertState.cs
  Content.Shared/Alert/AlertsSystem.cs
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: UI, Status: Needs Review

#25760 Make the MRE wrapper count as trash
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: No C#

#25740 make thief a subgamemode
  Content.Server/GameTicking/Rules/Components/SubGamemodesComponent.cs
  Content.Server/GameTicking/Rules/Components/ThiefRuleComponent.cs
  Content.Server/GameTicking/Rules/SubGamemodesSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Resources/Prototypes/GameRules/midround.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/game_presets.yml
Labels: Status: Needs Review

#25722 fix(seizures): remove seizures from the game
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: No C#

#25718 Small news manager localisation
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml
  Resources/Locale/en-US/mass-media/news-ui.ftl
Labels: Changes: UI, No C#

#25530 fix: lobby music volume will be changed on options change without restart (also lobby music not looped anymore)
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Audio/ContentAudioSystem.LobbyMusic.cs
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Content.Server/Audio/ContentAudioSystem.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Content.Server/GameTicking/GameTicker.LobbyMusic.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/Audio/Events/LobbyPlaylistChangedEvent.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Changes: UI, Status: Needs Review

#25682 Cleanup chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
Labels: No C#

#25784 Service and External Cadet Access
  Resources/Prototypes/Roles/Jobs/Security/security_cadet.yml
Labels: No C#

#25704 reenable revs
  Resources/Prototypes/secret_weights.yml
Labels: No C#

#25782 Moved Grapple to T1 Industrial
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#25732 Curadrobe Additions
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
Labels: No C#

#25779 Make `ItemSlots` more verbose + AME proof of concept
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsComponent.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Resources/Locale/en-US/ame/components/ame-controller-component.ftl
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
Labels: Status: Needs Review

#25795 Revert "make galoshes obtainable and slowing you"
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: No C#

#25781 Remove doafter from toggling your own internals
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#25713 Fix arachnids being unable to clean pie stains
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
Labels: No C#, Status: Needs Review

#25807 Fix shuttle console UI scaling
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/UserInterface/Controls/MapGridControl.xaml.cs
Labels: Changes: UI

#23946 System for single device net server per station functionality
  Content.Server/DeviceNetwork/Components/SingletonDeviceNetServerComponent.cs
  Content.Server/DeviceNetwork/Systems/SingletonDeviceNetServerSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerComponent.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/crew_monitor_server.yml
Labels: Status: Needs Review

#22273 Blood-red monkey hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#25821 Fix shuttle IFF drawing
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: Changes: UI

#25823 Fix exped FTL
  Content.Client/Shuttles/Systems/ShuttleSystem.Console.cs
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
Labels: Changes: UI

#25733 Mineshaft
  Content.Server/Procedural/DungeonJob.PostGen.cs
  Content.Shared/Procedural/PostGeneration/AutoCablingPostGen.cs
  Content.Shared/Procedural/PostGeneration/CorridorPostGen.cs
  Resources/Maps/Dungeon/mineshaft.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/mineshaft.yml
  Resources/Prototypes/Entities/Objects/Decoration/mining.yml
  Resources/Prototypes/Entities/Structures/Decoration/bonfire.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/Themes/mineshaft.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#25829 Suffix for boxes of hugs
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
Labels: No C#

#25842 Lathe-able Welding Masks
  Resources/Prototypes/Entities/Clothing/Head/welding.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#

#25837 Frozen hydroponic dungeon
  Resources/Maps/Dungeon/snowy_labs.yml
  Resources/Prototypes/Procedural/Themes/snowylabs.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/Prototypes/Procedural/salvage_mods.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#25847 Shot glass max volume decrease
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
Labels: No C#

#25848 resave europa
  Resources/Maps/europa.yml
Labels: No C#, Changes: Map

#25785 Remove the ability for command or any antag-safe role from being initial infected in zombie mode #25529
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
Labels: Status: Needs Review

#25853 Change keybindings for paper
  Resources/keybinds.yml
Labels: No C#

#25835 Enforce Space Heater max/min temperatures server side
  Content.Server/Atmos/Portable/SpaceHeaterSystem.cs
Labels: Status: Needs Review

#25780 the bladed flatcap
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/bladed_hats.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Prototypes/tags.yml
Labels: No C#, Status: Needs Review

#25749 Add nutribricks to other survival boxes
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: No C#

#25861 Adds paramedic cap to the uniform printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#

#25863 Fixes glowsticks being unable to be inserted into trashbags
  Resources/Prototypes/Entities/Objects/Tools/glowstick.yml
Labels: No C#

#25862 Allow livestock and artifact crate to go under plastic flaps
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#25870 Paper save button, back to ctrl+enter save.
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Resources/Locale/en-US/paper/paper-component.ftl
  Resources/keybinds.yml
Labels: Changes: UI

#25674 Separate Certain Walls
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#25825 Add water to water tiles.
  Resources/Prototypes/Entities/Tiles/water.yml
Labels: No C#

#25814 Post light update
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/base.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/broken.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/burned.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/burnt.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/empty.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/glow.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/meta.json
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/off.png
  Resources/Textures/Structures/Lighting/LightPosts/small_light_post.rsi/on.png
Labels: No C#, Changes: Sprites

#25868 Update wideswing rotations
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/Entities/Objects/Tools/cowtools.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
  Resources/Prototypes/Entities/Objects/Tools/jaws_of_life.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sledgehammer.yml
Labels: No C#

#25772 New cloth & hair
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/bob5.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/longbundled.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#25063 Readmin enables Debug Coordinates in F3 overlay
  Content.Client/Administration/Managers/ClientAdminManager.cs
Labels: Status: Needs Review

#25695 adds barber scissors to hristov bundle
  Resources/Prototypes/Catalog/Fills/Items/briefcases.yml
Labels: No C#

#25883 Make flasks fit in dispensers again
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
Labels: No C#

#25816 Monkeys can wear all types of masks, not just breath/gas masks
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/InventoryTemplates/monkey_inventory_template.yml
Labels: No C#

#25651 PotencyDivisor typo fix
  Resources/Prototypes/Hydroponics/seeds.yml
Labels: No C#

#25885 ATV resprite
  Resources/Textures/Objects/Vehicles/atv.rsi/meta.json
  Resources/Textures/Objects/Vehicles/atv.rsi/vehicle.png
Labels: No C#, Changes: Sprites

#25325 body bag fix
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: No C#

#25882 remove cargo pallet from cargo request
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
Labels: No C#

#25299 Lawdrobe update
  Resources/Locale/en-US/advertisements/vending/lawdrobe.ftl
  Resources/Prototypes/Catalog/VendingMachines/Advertisements/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: No C#

#24650 Vegan Meatball
  Resources/Locale/en-US/salvage/salvage-magnet.ftl
  Resources/Maps/Salvage/vegan-meatball.yml
  Resources/Prototypes/Maps/salvage.yml
Labels: No C#, Changes: Map, Status: Needs Review

#25889 Slimes can drink fourteenloko
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
Labels: No C#, Status: Needs Review

#25876 Buff zombie resists
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: No C#

#25921 Remove Hamlet, Smile and Pun Pun from Thief objective
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#

#25920 Barber scissors in uplink and chameleon bundle.
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#25923 infiltrator update
  Resources/Maps/Shuttles/infiltrator.yml
Labels: No C#

#25926 Fix air not existing in corner window tiles
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: No C#

#25819 Fix chromite chasm sprite
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/basalt_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/chromite_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/desert_chasm.rsi/chasm6.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm1.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm3.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm4.png
  Resources/Textures/Tiles/Planet/Chasms/snow_chasm.rsi/chasm6.png
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#25765 New Nukie Song
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/clearly_nuclear.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: No C#

#25893 Remove unecessary easy pry prototypes
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/easy_pry.yml
  Resources/migration.yml
Labels: No C#

#25931 CargoConsoleMenu localization
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Resources/Locale/en-US/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/Catalog/Cargo/cargo_cargo.yml
  Resources/Prototypes/Catalog/Cargo/cargo_circuitboards.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Catalog/Cargo/cargo_medical.yml
  Resources/Prototypes/Catalog/Cargo/cargo_science.yml
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Cargo/cargo_shuttle.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: Changes: UI

#25939 Disable the publish and preview buttons on news management console when bounds are exceeded
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml.cs
Labels: Changes: UI

#25881 Syringes that spawn with content start in inject mode
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: Status: Needs Review

#25318 Add a toggle for colorblind friendly progress bar colors
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/UserInterface/Controls/ProgressTextureRect.cs
  Content.Client/UserInterface/Systems/ProgressColorSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#25941 Obsolete `Logger` cleanup for `EntitySystem`s
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Content.Client/Info/InfoSystem.cs
  Content.Client/Light/RgbLightControllerSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Server/Atmos/EntitySystems/AutomaticAtmosSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Server/Info/InfoSystem.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Emitter.cs
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Server/Station/Systems/StationJobsSystem.Roundstart.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Strip/StrippableSystem.cs
  Content.Server/Traits/TraitSystem.cs
  Content.Server/Worldgen/Systems/Biomes/BiomeSelectionSystem.cs
  Content.Server/Worldgen/Systems/WorldgenConfigSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#25945 recolor detective stamp
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-detective.png
Labels: No C#, Changes: Sprites

#25897 Shuttle map IFF tweaks
  Content.Client/Shuttles/UI/MapScreen.xaml.cs
  Content.Client/Shuttles/UI/ShuttleMapControl.xaml.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.IFF.cs
  Content.Shared/Shuttles/UI/MapObjects/GridMapObject.cs
  Content.Shared/Shuttles/UI/MapObjects/IMapObject.cs
  Content.Shared/Shuttles/UI/MapObjects/ShuttleBeaconObject.cs
  Content.Shared/Shuttles/UI/MapObjects/ShuttleExclusionObject.cs
Labels: Changes: UI

#25844 Species info in Guidebook and at chargen
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
  Resources/Prototypes/Guidebook/species.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/ServerInfo/Guidebook/Mobs/Arachnid.xml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/ServerInfo/Guidebook/Mobs/Dwarf.xml
  Resources/ServerInfo/Guidebook/Mobs/Human.xml
  Resources/ServerInfo/Guidebook/Mobs/Moth.xml
  Resources/ServerInfo/Guidebook/Mobs/Reptilian.xml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
  Resources/ServerInfo/Guidebook/Mobs/Species.xml
Labels: Changes: UI, Status: Needs Review

#25192 Criminal record hud icons
  Content.Client/CriminalRecords/CriminalRecordsConsoleBoundUserInterface.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Client/Overlays/ShowSecurityIconsSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Shared/CriminalRecords/Systems/SharedCriminalRecordsConsoleSystem.cs
  Content.Shared/IdentityManagement/Components/IdentityComponent.cs
  Content.Shared/IdentityManagement/SharedIdentitySystem.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/Security/SecurityStatus.cs
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
  Resources/Prototypes/StatusEffects/security.yml
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_discharged.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_incarcerated.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_paroled.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_suspected.png
  Resources/Textures/Interface/Misc/security_icons.rsi/hud_wanted.png
  Resources/Textures/Interface/Misc/security_icons.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#25878 buff cargo hydroponics crate
  Resources/Prototypes/Catalog/Fills/Crates/botany.yml
Labels: No C#

#25983 New salvage expedition ambience.
  Resources/Audio/Ambience/attributions.yml
  Resources/Audio/Ambience/unanchored.ogg
  Resources/Prototypes/audio.yml
Labels: No C#

#26001 FIX Criminal SecHud icon Rsi path BUG
  Resources/Prototypes/StatusEffects/security.yml
Labels: No C#

#23731 allow biomass reclaimer to reclaim plants
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerComponent.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
Labels: Status: Needs Review

#26016 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#26003 Add "Juice that makes you Weh" to moths eating Lizard plushies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#26017 Fix RUN_THIS.py so it would be cross-platform and it would be possible to use it from cmd on Windows
  RUN_THIS.py
Labels: No C#

#25770 Space damage now causes heat along with blunt
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Needs Discussion, No C#, Status: Needs Review

#26008 Add logs to recycler gibbing and broadcasting.
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#26005 Enable multiple Solution Editor windows
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Administration/UI/EditSolutionsEui.cs
Labels: Status: Needs Review

#26033 Fix arrivals not docking on spinning stations
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
Labels: Issue: Bug, Size: Very Small

#26043 Remove random Cyrillic characters from locale files
  Resources/Locale/en-US/game-ticking/game-presets/preset-thief.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/food.ftl
Labels: No C#

#25984 kobolds no longer die at 40 hp
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#25954 Buff Zombie Infection
  Content.Server/Zombies/PendingZombieComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Status: Needs Review

#25935 new haircut alternative (brought back old one)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/crewcut2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#, Changes: Sprites

#25545 Improvised shell crafting recipe
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/improvised_shotgun_shell.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
Labels: No C#

#26050 skeleton minplayers restriction
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#26047 Remove recycling for Syndicate implanters
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: No C#

#26049 Fix Sky Blue carpet making red tables
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#26044 Add fancy table spawner
  Resources/Prototypes/Entities/Markers/Spawners/Random/fancytables.yml
Labels: No C#

#25668 Add's Senior role drip to the Uniform Printer.
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#

#25911 More fax logging
  Content.Server/Fax/FaxSystem.cs
Labels: Status: Needs Review

#25464 Grey Matter Addition and Slime Organ Tweak
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/biological.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Entities/Structures/Machines/material_reclaimer.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: No C#, Status: Needs Review

#25566 Cycle injector transfer amount on alt. use
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedInjectorSystem.cs
  Resources/Locale/en-US/chemistry/components/solution-transfer-component.ftl
Labels: Status: Needs Review

#26064 zombie wideswing and misc fix
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Weapons/Melee/MeleeWeaponComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: Status: Needs Review

#25661 Fix Butcherable handling, ItemSlots for clown shoes
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Resources/Locale/en-US/clothing/boots.ftl
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/utensils.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#25974 Contraband Storage Crate
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#25992 foxes are now neutral🦊
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#26012 The lawyer finally gets a stamp
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Roles/Jobs/Civilian/lawyer.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-lawyer.png
  Resources/Textures/Objects/Misc/stamps.rsi/meta.json
  Resources/Textures/Objects/Misc/stamps.rsi/stamp-lawyer.png
Labels: No C#, Changes: Sprites

#25989 Fix vox custom sprites
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, Status: Needs Review

#25962 Make fireaxe & shotgun cabinets destructible
  Resources/Prototypes/Entities/Structures/Wallmounts/fireaxe_cabinet.yml
Labels: No C#

#26085 Some more whitelists for belts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#26090 More good looking inventory part 2.2 (instruments version)
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_misc.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: No C#

#26091 Add log when a player starts observing.
  Content.Server/GameTicking/GameTicker.Spawning.cs
Labels: Status: Needs Review

#25955 Trading Outpost now has half buy-only and half sell-only pallets
  Content.Server/Cargo/Components/CargoPalletComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Prototypes/Entities/Objects/Specific/Cargo/cargo_pallet.yml
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_buy.png
  Resources/Textures/Structures/cargo_pallets.rsi/cargo_pallet_sell.png
  Resources/Textures/Structures/cargo_pallets.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#26088 Fix some tags for prototypes
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
Labels: No C#

#26094 Typo in guidebook for cyro pressure
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
Labels: No C#, Status: Needs Review

#26101 Remove the blue tint from the health analyzer
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/healthanalyzer.rsi/meta.json
Labels: No C#, Changes: Sprites

#25705 pipebombs and IED rework
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Shared/Explosion/ExplosionPrototype.cs
  Resources/Locale/en-US/materials/materials.ftl
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/firebomb.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/pipebomb.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Stacks/Materials/materials.yml
  Resources/Prototypes/explosion.yml
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/base.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/icon.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/meta.json
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/primed.png
  Resources/Textures/Objects/Weapons/Bombs/pipebomb.rsi/wires.png
  Resources/migration.yml
Labels: Changes: Sprites

#20972 Throttle people trying to connect to a full server.
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml.cs
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Changes: UI

#26095 Split smoke grenade sound into two parts
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/smoke_grenade_prime.ogg
  Resources/Audio/Items/smoke_grenade_smoke.ogg
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#26086 Democratize C-20r SMG Magazines
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#26058 Sort agents by success rate in end game summary
  Content.Server/Objectives/ObjectivesSystem.cs
Labels: Status: Needs Review

#26046 Make radio jammer block suit sensors
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Radio/EntitySystems/JammerSystem.cs
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Tools/jammer.yml
Labels: Status: Needs Review

#25993 Agent IDs default to passenger icon
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: No C#

#26114 Sort all tags in aplhabetical order
  Resources/Prototypes/tags.yml
Labels: No C#

#25994 StrippableSystem doafter overhaul
  Content.Server/Strip/StrippableSystem.cs
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
  Content.Shared/Inventory/InventoryTemplatePrototype.cs
  Content.Shared/Strip/Components/StrippableComponent.cs
  Content.Shared/Strip/Components/ThievingComponent.cs
  Content.Shared/Strip/SharedStrippableSystem.cs
  Content.Shared/Strip/ThievingSystem.cs
Labels: Status: Needs Review

#26081 add more carp plushies
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/holoplush.png
  Resources/Textures/Objects/Fun/toys.rsi/magicplush.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/rainbowcarpplush.png
Labels: No C#, Changes: Sprites

#26124 Add PVS command permissions
  Resources/engineCommandPerms.yml
Labels: No C#, Status: Needs Review

#26115 Color all wires green to save planet(s)
  Content.Shared/Wires/SharedWiresComponent.cs
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilall-30.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-10.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-20.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-30.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-equipped-BELT.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-inhand-left.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilhv-inhand-right.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-10.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-20.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-30.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-equipped-BELT.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-inhand-left.png
  Resources/Textures/Objects/Tools/cable-coils.rsi/coilmv-inhand-right.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_1.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_10.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_11.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_12.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_13.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_14.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_15.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_2.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_3.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_4.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_5.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_6.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_7.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_8.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_9.png
Labels: Changes: Sprites, April Fools (merge for one day)

#25479 Added cheap sunglasses into ClothesMate
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: No C#, Status: Needs Review, Merge Conflict

#25888 Fashion is my profession - Procedural jumpsuit variants
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Sprite/RandomSpriteSystem.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/random_suit.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_short.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_skirt.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_skirt_long.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_leg_standart.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_armless.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_bra.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_shirt.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standart.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/base_torso_standart2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless10.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless6.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless7.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless8.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_armless9.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_bra5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_shirt3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart1.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart2.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart3.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart4.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart5.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart6.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart7.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart8.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/decor_torso_standart9.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/mask_null.png
  Resources/Textures/Clothing/Uniforms/procedural.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#25891 Red Neck Gaiter
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/equipped-MASK-reptilian.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/icon.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/neckgaiterred.rsi/meta.json
Labels: No C#, Changes: Sprites

#26129 Sleep on Stasis Beds
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
Labels: No C#

#26146 fix eggsplosion
  Resources/Prototypes/Recipes/Construction/Graphs/food/egg.yml
Labels: No C#

#25999 SS14-12462 Nerf food and drink vending machines
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Status: Needs Review

#26165 Round start Ion storms
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#26156 less fish in maints
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
Labels: No C#

#26180 Fix anomaly decay logs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: Status: Needs Review

#26183 Small species melee weapon change
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: No C#, Status: Needs Review

#26194 Recolor paper-stamp detective
  Resources/Textures/Objects/Misc/bureaucracy.rsi/paper_stamp-detective.png
Labels: No C#, Changes: Sprites

#26193 Change collision mask of canisters to allow passing through cargo flaps
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: No C#

#26187 Backpacks
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Backpacks/syndicate.rsi/meta.json
Labels: No C#, Changes: Sprites

#26154 Gives glue tag to crazy glue
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#26110 SlowContactsSystem to SpeedModifierContactsSystem mini rework
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Shared/Movement/Components/SpeedModifiedByContactComponent.cs
  Content.Shared/Movement/Components/SpeedModifierContactsComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Objects/Misc/spider_web.yml
  Resources/Prototypes/Entities/Tiles/water.yml
Labels: Status: Needs Review

#26034 add decoy syndicate bomb to uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
Labels: No C#

#26159 Obsolete `Logger` cleanup for `EntitySystem`s part 2
  Content.Client/CardboardBox/CardboardBoxSystem.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Popups/PopupSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Monstermos.cs
  Content.Server/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Server/GameTicking/Rules/PiratesRuleSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Remotes/DoorRemoteSystem.cs
  Content.Server/Tabletop/TabletopSystem.Session.cs
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: Status: Needs Review

#25809 Update blood related tips!
  Resources/Prototypes/Datasets/tips.yml
Labels: No C#

#26216 Unify `Content`'s `EntitySystem` logging
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceListSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Mapping/MappingSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Movement/Systems/LagCompensationSystem.cs
  Content.Server/NPC/Systems/NpcFactionSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/EventManagerSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
Labels: Status: Needs Review

#26182 New wooden furniture
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Walls/fence_wood.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/fence_wood.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Furniture/chairs.rsi/meta.json
  Resources/Textures/Structures/Furniture/chairs.rsi/wooden-bench.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/corner.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/corner_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_closed.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_closed_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/door_opened_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/end.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/end_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/meta.json
  Resources/Textures/Structures/Walls/wooden_fence.rsi/straight.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/straight_small.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/tjunction.png
  Resources/Textures/Structures/Walls/wooden_fence.rsi/tjunction_small.png
  Resources/Textures/Structures/stairs.rsi/meta.json
  Resources/Textures/Structures/stairs.rsi/stairs_stage_wood.png
  Resources/Textures/Structures/stairs.rsi/stairs_wood.png
Labels: No C#, Changes: Sprites

#26171 Make puddle smoothing better
  Resources/Textures/Fluids/puddle.rsi/meta.json
  Resources/Textures/Fluids/puddle.rsi/splat10.png
  Resources/Textures/Fluids/puddle.rsi/splat11.png
  Resources/Textures/Fluids/puddle.rsi/splat12.png
  Resources/Textures/Fluids/puddle.rsi/splat13.png
  Resources/Textures/Fluids/puddle.rsi/splat14.png
  Resources/Textures/Fluids/puddle.rsi/splat3.png
  Resources/Textures/Fluids/puddle.rsi/splat5.png
  Resources/Textures/Fluids/puddle.rsi/splat6.png
  Resources/Textures/Fluids/puddle.rsi/splat7.png
  Resources/Textures/Fluids/puddle.rsi/splat9.png
Labels: No C#, Changes: Sprites

#26214 Change Syndie Monkey Price 8-6 TC
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#
