Repository space-wizards/space-station-14, pull requests merged in 2024-12, with the labels that each got.

#33669 Fix formatting IDE0055 warnings in VS Code
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Clothing/FlippableClothingVisualizerSystem.cs
  Content.Shared/Chemistry/Events/HyposprayEvents.cs
Labels: S: Untriaged, S: Approved, size/S

#32455 Replace obsolete GetTilesIntersecting methods
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Overlays/StencilOverlaySystem.cs
  Content.Server/Anomaly/Effects/GasProducerAnomalySystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ThrowArtifactSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/Random/Rules/NearbyTilesPercent.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech

#33364 Update Snowasis
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Maps/oasis.yml
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/gingerbread.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Textures/Mobs/Animals/reindeer_buck.rsi/meta.json
  Resources/Textures/Mobs/Animals/reindeer_buck.rsi/reindeer_buck.png
  Resources/Textures/Mobs/Animals/reindeer_buck.rsi/reindeer_buck_dead.png
  Resources/Textures/Mobs/Animals/reindeer_buck.rsi/reindeer_buck_still.png
  Resources/Textures/Mobs/Animals/reindeer_doe.rsi/meta.json
  Resources/Textures/Mobs/Animals/reindeer_doe.rsi/reindeer_doe.png
  Resources/Textures/Mobs/Animals/reindeer_doe.rsi/reindeer_doe_dead.png
  Resources/Textures/Mobs/Animals/reindeer_doe.rsi/reindeer_doe_still.png
Labels: P2: Raised, Changes: No C#, Changes: Map, D2: Medium, Changes: Sprites, A: Mapping, S: Approved, T: Visual Change, size/XL

#33679 Fix wrong system usage
  Content.Shared/Random/Rules/NearbyTilesPercent.cs
Labels: S: Untriaged, S: Approved, P0: Critical, size/XS

#33602 Fix BuckleSystem always marking InteractHandEvent as Handled
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, A: Core Tech, size/XS

#33680 Touching up Bagel Security Brig
  Resources/Maps/bagel.yml
Labels: T: Bugfix, P2: Raised, T: New Feature, Changes: No C#, Changes: Map, D1: High, S: Needs Review, T: Balance Change, A: Mapping, A: Security, size/XL

#32457 Fixed ghost role rules for some syndicate familiars
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/Roles/Ghostroles/syndicate.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Roundflow/Antag, A: Rules, T: Of Admin Interest, size/M

#33685 Fix lobby countdown not showing hours
  Content.Client/Lobby/LobbyState.cs
Labels: T: Bugfix, P3: Standard, D3: Low, T: UI / UX Improvement, S: Approved, A: General Interactions, size/XS

#33441 New Low-Mid Pop Station - Amber Station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/amber.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/amber.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, D1: High, S: Needs Review, A: Mapping, size/XL

#33661 Makes kukri not use combat knife's storage sprite
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: Changes: No C#, S: Approved, size/XS

#33693 Adds a morgue locked maints airlock
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#33660 Juiceable slimeballs
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#33637 Add missing nacho recipes
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, S: Approved, A: Service, size/M

#33698 Amber Station Seasonal Update
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33707 Amber Improvements
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33691 Fix sinks and toilets not draining
  Content.Server/Fluids/EntitySystems/DrainSystem.cs
  Content.Shared/Fluids/Components/DrainComponent.cs
Labels: S: Untriaged, S: Approved, size/M

#33714 Fix layout on wires UI
  Content.Client/Wires/UI/WiresMenu.cs
Labels: T: Bugfix, Changes: UI, S: Untriaged, A: General Interactions, size/XS

#33700 Fix for towels not having a cooldown for cleaning
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#31490 Add cooldown to buttons in borg's laws UI
  Content.Client/Silicons/Laws/Ui/LawDisplay.xaml.cs
Labels: T: Bugfix, P3: Standard, Changes: UI, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, A: Chat

#33710 Adds Store on Collide and Wand of the Locker
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Storage/Components/StoreOnCollideComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Content.Shared/Storage/EntitySystems/StoreOnCollideSystem.cs
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Access/wizard.yml
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/wands.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Textures/Objects/Weapons/Guns/Basic/wands.rsi/locker-effect.png
  Resources/Textures/Objects/Weapons/Guns/Basic/wands.rsi/locker-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Basic/wands.rsi/locker-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Basic/wands.rsi/locker.png
  Resources/Textures/Objects/Weapons/Guns/Basic/wands.rsi/meta.json
Labels: P2: Raised, T: New Feature, D1: High, Changes: Sprites, S: Awaiting Changes, A: Combat, A: Roundflow/Antag, size/L

#33725 Amber Station - Removed Vox Box
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33726 bagel update
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33729 Box Station - Removed Vox Box
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33664 More device configurator serialization fixes
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, A: Mapping, size/M

#33556 Fix meteor's ArithmeticException
  Content.Server/Projectiles/ProjectileSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: General Interactions, size/XS

#33722 Give vox health regen for poison below 20 damage
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#33733 set n2 survival box sprite layers
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
Labels: T: Bugfix, P1: High, Changes: No C#, size/S

#33584 fix a station event weighting bug
  Content.Server/StationEvents/EventManagerSystem.cs
Labels: T: Bugfix, P1: High, Changes: No C#, D3: Low, S: Approved, A: Core Tech, size/S

#33711 Adds Station Anchor Beacon
  Resources/Locale/en-US/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: Changes: No C#, S: Approved, size/XS

#33740 Fix name duplications
  Resources/Prototypes/Datasets/Names/arachnid_first.yml
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Datasets/Names/fake_human_first.yml
  Resources/Prototypes/Datasets/Names/fake_human_last.yml
  Resources/Prototypes/Datasets/Names/last.yml
  Resources/Prototypes/Datasets/Names/vox.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#33467 Add a maintenance panel to bar signs
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#33433 Derelict Borg Revival
  Content.Server/Silicons/Laws/StartIonStormedSystem.cs
  Content.Shared/Silicons/Laws/Components/StartIonStormedComponent.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/cyborg.yml
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_e_r.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_icon.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/derelict_l.png
  Resources/Textures/Mobs/Silicon/chassis.rsi/meta.json
Labels: P2: Raised, T: New Feature, D2: Medium, Changes: Sprites, S: Approved, A: Roundflow/Antag, A: Silicons, size/L

#33743 Amber Station - Added Evac Shuttle
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
  Resources/Prototypes/Maps/amber.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, size/XL

#33739 vox guidebook update poison regen
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#33747 Fix debris chunks loot spawning
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGenBiome.cs
Labels: T: Bugfix, S: Needs Review, S: Approved, A: Cargo/Salvage, A: Core Tech, P0: Critical, size/XS

#33715 Added several variables to make ClumsyComponent more modular for developers.
  Content.Shared/Clumsy/ClumsyComponent.cs
  Content.Shared/Clumsy/ClumsySystem.cs
Labels: P2: Raised, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/M

#33277 Add Sprite changes to Logic Gates to show the input/output state
  Content.Server/DeviceLinking/Systems/LogicGateSystem.cs
  Content.Shared/DeviceLinking/SharedLogicGate.cs
  Resources/Prototypes/Entities/Structures/gates.yml
  Resources/Textures/Objects/Devices/gates.rsi/logic_a.png
  Resources/Textures/Objects/Devices/gates.rsi/logic_b.png
  Resources/Textures/Objects/Devices/gates.rsi/logic_o.png
  Resources/Textures/Objects/Devices/gates.rsi/meta.json
Labels: P3: Standard, T: New Feature, D3: Low, Changes: Sprites, S: Approved, A: Art, T: Visual Change, size/M

#33699 Samurai dogi is now major contraband
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, T: Balance Change, S: Approved, A: General Interactions, size/XS

#33608 Localize ai dataset names
  Content.Shared/Preferences/Loadouts/RoleLoadoutPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Locale/en-US/datasets/names/ai.ftl
  Resources/Prototypes/Datasets/Names/ai.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: P2: Raised, T: Cleanup, D2: Medium, S: Approved, A: Core Tech, size/L

#31525 clean up random lathe recipes
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Recipes/Lathes/mech_parts.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/powercells.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
Labels: P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/L, Merge Conflict

#33450 Make unknown shuttle events trigger an announcement
  Content.Server/GameTicking/Rules/LoadMapRuleSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, A: Roundflow/Antag, size/XS

#33717 Predicted gas pumps
  Content.Client/Atmos/EntitySystems/GasPressurePumpSystem.cs
  Content.Client/Atmos/UI/GasPressurePumpBoundUserInterface.cs
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Binary/Components/GasPressurePumpComponent.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressurePumpSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasRecyclerSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Components/AtmosDeviceComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosDeviceSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/PressureControlledValveSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Shared/Atmos/Components/GasPressurePumpComponent.cs
  Content.Shared/Atmos/EntitySystems/SharedGasPressurePumpSystem.cs
  Content.Shared/Atmos/Piping/Binary/Components/SharedGasPressurePumpComponent.cs
  Content.Shared/Atmos/Piping/Components/AtmosDeviceDisabledEvent.cs
  Content.Shared/Atmos/Piping/Components/AtmosDeviceEnabledEvent.cs
  Content.Shared/UserInterface/ActivatableUIRequiresAnchorComponent.cs
  Content.Shared/UserInterface/ActivatableUIRequiresAnchorSystem.cs
  Resources/Locale/en-US/components/gas-pump-component.ftl
  Resources/Locale/en-US/ui/general.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
Labels: T: Bugfix, P2: Raised, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, A: Engineering, size/L

#33752 Christmas Nuke Song
  Resources/Audio/StationEvents/attributions.yml
  Resources/Audio/StationEvents/nukemass.ogg
  Resources/Prototypes/SoundCollections/NukeMusic.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, S: Approved, A: General Interactions, size/S

#33751 Box Station - Now more festive!
  Resources/Maps/box.yml
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, size/L

#33759 infiltrator update
  Resources/Maps/Shuttles/infiltrator.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#33684 Organize the Sandbox Panel window
  Content.Client/Sandbox/SandboxSystem.cs
  Content.Client/UserInterface/Systems/Sandbox/SandboxUIController.cs
  Content.Client/UserInterface/Systems/Sandbox/Windows/SandboxWindow.xaml
  Resources/Locale/en-US/sandbox/sandbox-manager.ftl
Labels: P3: Standard, Changes: UI, D3: Low, S: Needs Review, T: UI / UX Improvement, A: Core Tech

#33769 let bagel be played at max pop
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#33297 Codeowners cleanup
  .github/CODEOWNERS
Labels: P1: High, Changes: No C#, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech, size/M

#33763 Give silicons proper lobby/character editor previews
  Content.Client/Lobby/LobbyUIController.cs
  Content.Client/Lobby/UI/CharacterPickerButton.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml
  Content.Shared/Roles/JobPrototype.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: T: Bugfix, P2: Raised, Changes: UI, D2: Medium, S: Approved, A: Silicons, size/M

#33773 Amber Station - Playtest Fixes
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, size/XL

#33785 Revert "Simplify separated screen top menu (#33047)" (Stable -> Master)
  Content.Client/UserInterface/Systems/MenuBar/Widgets/GameTopMenuBar.xaml
Labels: Changes: UI, Changes: No C#, S: Untriaged, size/S

#33762 Singularity equipment can now be activated with E interact
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#33765 Fix detective Vox spawning with their chosen outer clothing on the floor, force detective to have a selected outerclothing like all other sec roles
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Character/Species, size/XS

#33781 Signal timer duration limit
  Content.Server/DeviceLinking/Components/SignalTimerComponent.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#33612 Popup when being pulled shows who is pulling you
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Resources/Locale/en-US/movement/pulling.ftl
Labels: P2: Raised, T: New Feature, D3: Low, S: Approved, A: General Interactions, size/XS

#33468 Fix Disposals Ejections
  Content.Server/Disposal/Unit/EntitySystems/DisposableSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/XS

#33688 Major Marathon atmospherics rework
  Resources/Maps/marathon.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, T: Cleanup, D2: Medium, S: Needs Review, size/XL

#33348 Adds an introductory message to the user-facing ahelp chat window
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Resources/Locale/en-US/administration/bwoink.ftl
Labels: P1: High, Changes: UI, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/S

#33790 add "Changes: Audio" label to labeler
  .github/labeler.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Approved, A: Core Tech, size/XS

#33768 Derelict icon hotfix
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, DB: Beginner Friendly, S: Approved, Branch: Stable, A: Silicons, size/XS

#33788 You can now pet the AI core.
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, A: Silicons, size/S

#33505 Bar related tweaks
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Service, size/L

#33791 Meta station TEG power fixes + misc stuff
  Resources/Maps/meta.yml
Labels: Changes: No C#, Changes: Map, size/XL

#33808 Fix: SMES now has wirepanels visuals
  Resources/Prototypes/Entities/Structures/Power/smes.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Art, A: Engineering, T: Visual Change, size/XS

#33802 Merge into master: Derelict icon hotfix (#33768)
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#33813 Fix blank newline on empty examine groups
  Content.Shared/Examine/ExamineSystemShared.cs
Labels: T: Bugfix, S: Approved, A: General Interactions, size/XS

#33810 Made anchor visuals generic
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasPortableSystem.cs
  Content.Shared/Atmos/Piping/Unary/Components/SharedGasPortableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: S: Untriaged, S: Approved, size/M

#33806 Fix greytide virus hitting other maps
  Content.Server/StationEvents/Events/GreytideVirusRule.cs
Labels: S: Untriaged, S: Approved, size/S

#33496 Names camera routers
  Resources/Prototypes/Entities/Structures/Machines/surveillance_camera_routers.yml
Labels: P2: Raised, Changes: No C#, T: Cleanup, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#33384 Fix battery self-recharge mispredicts
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Battery.cs
Labels: T: Bugfix, P1: High, D2: Medium, S: Needs Review, A: General Interactions, size/XS

#32104 Rework the HoS's Energy Shotgun (Varying energy consumption depending on fire-mode + re-adds a toned down self recharge.)
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Power/Components/BatterySelfRechargerComponent.cs
  Content.Server/Power/EntitySystems/BatterySystem.cs
  Content.Shared/Weapons/Ranged/Events/UpdateClientAmmoEvent.cs
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: P2: Raised, D2: Medium, T: Balance Change, S: Approved, A: Combat, A: Security, size/L

#33521 Warden headdresses In-hand Sprites
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_warden.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/warden.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/warden.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/warden.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Art, T: Visual Change, size/S

#33558 Update APE guidebook to contain Sigma particles, Transformation and colors for effects
  Resources/ServerInfo/Guidebook/Science/APE.xml
Labels: T: Bugfix, P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Guidebook, size/XS

#33838 fix ghost command error string
  Content.Server/Ghost/GhostCommand.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#33464 Safari hat In-hand Sprites
  Resources/Textures/Clothing/Head/Hats/safarihat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/safarihat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/safarihat.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Awaiting Changes, DB: Beginner Friendly, A: Art, T: Visual Change, size/S

#33628 Increase war ops evac time
  Content.Server/GameTicking/Rules/Components/NukeopsRuleComponent.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: P2: Raised, T: New Feature, DB: Beginner Friendly, S: Approved, S: Undergoing Maintainer Discussion, A: Roundflow/Antag, size/XS

#33848 Add meat tag to Five Alarm Burger
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Service, A: Character/Species, size/XS

#31779 Secret stash wrench anchoring fix
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, size/S

#33811 Cherry-pick to stable: Amber Station - Playtest Fixes (#33773)
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, D2: Medium, A: Mapping, S: Approved, Branch: Stable, size/XL

#33845 Amber station updates
  Resources/Maps/amber.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, T: Cleanup, D2: Medium, A: Mapping, S: Approved, size/XL

#33841 Other colour of the binary channel
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/radio_channels.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Medical, A: Silicons, size/XS

#33876 Separate RGlass recipe for autolathe and ore processor
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/sheet.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#33678 Rename Dungeon Master Laws to not run into copyright problems
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
  Resources/migration.yml
Labels: P2: Raised, Changes: No C#, Changes: Map, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#33665 Zombies can see Initial Infected
  Resources/Locale/en-US/zombies/zombie.ftl
  Resources/Prototypes/StatusIcon/faction.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, S: Approved, S: Undergoing Maintainer Discussion, A: Roundflow/Antag, size/XS

#31108 Cluster grenade refactor and contra markings
  Content.Client/Explosion/ScatteringGrenadeSystem.cs
  Content.Server/Explosion/Components/ClusterGrenadeComponent.cs
  Content.Server/Explosion/Components/ProjectileGrenadeComponent.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/ProjectileGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/ScatteringGrenadeSystem.cs
  Content.Shared/Damage/Systems/RequireProjectileTargetSystem.cs
  Content.Shared/Explosion/Components/ScatteringGrenadeComponent.cs
  Content.Shared/Explosion/EntitySystems/SharedScatteringGrenadeSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/scattering_grenades.yml
  Resources/Prototypes/tags.yml
Labels: T: Bugfix, P3: Standard, T: Refactor, D2: Medium, S: Needs Review, S: Approved, A: Combat, size/XL

#33416 Wizard Mind Swap Spell
  Content.Shared/Magic/Events/MindSwapSpellEvent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Magic/mindswap_spell.yml
Labels: P3: Standard, T: New Feature, D2: Medium, S: Needs Review, T: Balance Change, A: Roundflow/Antag, size/M

#32620 add SpawnTableOnUse
  Content.Server/Storage/Components/SpawnTableOnUseComponent.cs
  Content.Server/Storage/EntitySystems/SpawnTableOnUseSystem.cs
  Content.Shared/Sound/Components/BaseEmitSoundComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
Labels: P2: Raised, T: New Feature, D2: Medium, S: Approved, A: Core Tech, size/M

#33886 LightOnCollide entityquery
  Content.Shared/Light/EntitySystems/LightCollideSystem.cs
Labels: S: Untriaged, size/S

#32198 Add generator scrap (Plasma / uranium scrap)
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/generator_frame.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/meta.json
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/nothing.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/old_generator_plasma.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/old_generator_plasma_fuel_leak.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/rad_dripping.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/rad_outline.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/red_x.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/uranium_generator.png
  Resources/Textures/Objects/Materials/Scrap/generator.rsi/uranium_generator_fuel_tank.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, S: Undergoing Maintainer Discussion, A: Cargo/Salvage, A: General Interactions, size/L

#33868 Add a test to check that lathe recipes are possible
  Content.IntegrationTests/Tests/Lathe/LatheTest.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, A: Integration Tests, A: General Interactions, size/L

#32905 Fix udder wooly reagent creation V2
  Content.Server/Animals/Components/EggLayerComponent.cs
  Content.Server/Animals/Components/UdderComponent.cs
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Animals/UdderComponent.cs
  Content.Shared/Animals/UdderSystem.cs
  Content.Shared/Animals/WoolyComponent.cs
  Content.Shared/Animals/WoolySystem.cs
  Content.Shared/Nutrition/IngestionEvents.cs
  Resources/Locale/en-US/animals/udder/udder-system.ftl
Labels: T: Bugfix, P1: High, D2: Medium, S: Needs Review, S: Approved, A: Service

#33252 Prevent pulling when teleporting
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Shared/Ninja/Systems/DashAbilitySystem.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, T: Balance Change, S: Approved, A: General Interactions

#32583 Add an in-hand sprite for the lizard plushie
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizard-inhand-right.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Art, T: Visual Change, size/S

#33424 Makes admins not count towards the playercount cap
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.Admin.cs
Labels: P1: High, T: New Feature, S: Needs Review, S: Approved, A: Core Tech, size/S

#32802 Add the Zombie, a new cocktail
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/zombiecocktail.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Service, A: Roundflow/Antag, size/M

#32755 Add Holy damage
  Resources/Locale/en-US/armor/armor-examine.ftl
  Resources/Locale/en-US/damage/damage-groups.ftl
  Resources/Locale/en-US/damage/damage-types.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Damage/groups.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Damage/types.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/hellspawn.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/gohei.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Textures/Objects/Devices/health_analyzer.rsi/meta.json
  Resources/Textures/Objects/Devices/health_analyzer.rsi/metaphysical.png
Labels: P1: High, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, T: Balance Change, S: Undergoing Maintainer Discussion, A: Combat, A: General Interactions, A: Roundflow/Antag, size/M

#33253 Add Explosion Resistance to SecBelts
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Combat, A: Security

#33328 Chem master UI
  Content.Client/Chemistry/UI/ChemMasterWindow.xaml.cs
Labels: P2: Raised, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Medical, size/L

#31872 Spaceshroom grilling
  Resources/Prototypes/Entities/Objects/Misc/spaceshroom.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/spaceshroom.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, A: Service, size/M

#32769 Figures can now be activated remotely
  Content.Server/Chat/SpeakOnTriggerComponent.cs
  Content.Server/Chat/SpeakOnUseComponent.cs
  Content.Server/Chat/Systems/SpeakOnTriggerSystem.cs
  Content.Server/Chat/Systems/SpeakOnUseSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/figurines.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Approved, A: General Interactions, size/L

#33839 Flora clean up
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/flora.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/mineshaft.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/shadowkudzu.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Procedural/dungeon_configs.yml
  Resources/ServerInfo/Guidebook/Mobs/Diona.xml
  Resources/Textures/Objects/Decoration/Flora/flora_trees.rsi/icon.png
  Resources/Textures/Objects/Decoration/Flora/flora_trees.rsi/meta.json
  Resources/migration.yml
Labels: P2: Raised, Changes: No C#, T: Cleanup, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, size/L

#32294 Atmospheric network monitor
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleBoundUserInterface.cs
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleNavMapControl.cs
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleSystem.cs
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleWindow.xaml
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleWindow.xaml.cs
  Content.Client/Atmos/Consoles/AtmosMonitoringEntryContainer.xaml
  Content.Client/Atmos/Consoles/AtmosMonitoringEntryContainer.xaml.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/Atmos/Consoles/AtmosMonitoringConsoleSystem.cs
  Content.Server/Atmos/Piping/Components/AtmosPipeColorComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosPipeColorSystem.cs
  Content.Shared/Atmos/Atmospherics.cs
  Content.Shared/Atmos/Components/GasPipeSensorComponent.cs
  Content.Shared/Atmos/Consoles/Components/AtmosMonitoringConsoleComponent.cs
  Content.Shared/Atmos/Consoles/Components/AtmosMonitoringConsoleDeviceComponent.cs
  Content.Shared/Atmos/Consoles/SharedAtmosMonitoringConsoleSystem.cs
  Content.Shared/Prototypes/NavMapBlipPrototype.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Locale/en-US/atmos/gases.ftl
  Resources/Locale/en-US/components/atmos-monitoring-component.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/nav_map_blips.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Textures/Interface/NavMap/attributions.yml
  Resources/Textures/Interface/NavMap/beveled_arrow_east.png
  Resources/Textures/Interface/NavMap/beveled_arrow_east.png.yml
  Resources/Textures/Interface/NavMap/beveled_arrow_north.png
  Resources/Textures/Interface/NavMap/beveled_arrow_north.png.yml
  Resources/Textures/Interface/NavMap/beveled_arrow_south.png
  Resources/Textures/Interface/NavMap/beveled_arrow_south.png.yml
  Resources/Textures/Interface/NavMap/beveled_arrow_west.png
  Resources/Textures/Interface/NavMap/beveled_arrow_west.png.yml
  Resources/Textures/Interface/NavMap/beveled_diamond.png
  Resources/Textures/Interface/NavMap/beveled_diamond.png.yml
  Resources/Textures/Interface/NavMap/beveled_diamond_east_west.png
  Resources/Textures/Interface/NavMap/beveled_diamond_east_west.png.yml
  Resources/Textures/Interface/NavMap/beveled_diamond_north_south.png
  Resources/Textures/Interface/NavMap/beveled_diamond_north_south.png.yml
  Resources/Textures/Interface/NavMap/beveled_star.png
  Resources/Textures/Interface/NavMap/beveled_star.png.yml
Labels: P2: Raised, T: New Feature, Changes: UI, D2: Medium, Changes: Sprites, S: Needs Review, T: UI / UX Improvement, S: Approved, Changes: Atmospherics Code, A: Engineering, size/XL

#33899 Amber station updates
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#33867 Zombies keep their anomalies on zombification
  Content.Server/Anomaly/Effects/InnerBodyAnomalySystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Anomaly/Components/InnerBodyAnomalyComponent.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, A: Roundflow/Antag, A: Science, size/S

#33427 Anomaly Scanner In-hand Sprites
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Research/anomalyscanner.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, T: Visual Change, size/S

#33909 HOTFIX: Add [MRP] tag to the hostname for Salamander
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: P1: High, Intent: Hotfix, Branch: Stable, A: Core Tech, T: Of Admin Interest

#33912 Oasis - remove vox box
  Resources/Maps/oasis.yml
Labels: Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, S: Untriaged, Intent: Hotfix, Branch: Stable, P0: Critical, size/L

#33911 Core - remove vox box
  Resources/Maps/core.yml
Labels: T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, Intent: Hotfix, Branch: Stable, P0: Critical, size/L

#33914 Test can now run on stable prs
  .github/workflows/build-map-renderer.yml
  .github/workflows/build-test-debug.yml
  .github/workflows/test-packaging.yml
  .github/workflows/validate-rgas.yml
  .github/workflows/validate-rsis.yml
  .github/workflows/validate_mapfiles.yml
  .github/workflows/yaml-linter.yml
Labels: Changes: No C#, Branch: Stable, size/S

#33818 Fix horrible lag in Zombies mode
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: T: Bugfix, P1: High, T: Performance, D3: Low, S: Needs Review, Intent: Hotfix, Branch: Stable, A: Core Tech, size/XL

#33917 Master merge: Fix horrible lag in Zombies mode (#33818)
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
Labels: S: Untriaged, size/S

#33915 Update PR size labeler line counts
  .github/workflows/labeler-size.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#32825 Fix AME power generation
  Content.Server/Ame/AmeNodeGroup.cs
Labels: T: Bugfix, P1: High, D3: Low, D2: Medium, S: Needs Review, A: Engineering, size/XS

#33757 Adds Advanced SMES, an SMES with higher capacity for mapping
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/smes.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-open.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes-static.png
  Resources/Textures/Structures/Power/smes.rsi/advancedsmes.png
  Resources/Textures/Structures/Power/smes.rsi/meta.json
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, S: Undergoing Maintainer Discussion, A: Engineering, size/M

#33920 Ground Light Post Crafting Description Fix
  Resources/Prototypes/Recipes/Construction/structures.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#33884 Fix admins not being able to health scan slimes
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: T: Bugfix, P1: High, D2: Medium, S: Needs Review, S: Approved, A: Admin Tooling, size/S

#33923 Amber Station - Added Holopads, Atmos Monitoring, and Advanced SMESes
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
Labels: T: Bugfix, P1: High, T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, size/L

#33925 Bagel Power Rebalance + Gas Pipe Sensors
  Resources/Maps/bagel.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XL

#33926 Omega Update (Holopads & Engi Stuff)
  Resources/Maps/omega.yml
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Map, D3: Low, A: Mapping

#33929 Box Power Rebalance + Holopads, Gas Pipe Sensors
  Resources/Maps/box.yml
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Map, DB: Beginner Friendly, A: Mapping, size/L

#33927 Cargo Shuttle/ATS Update
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Map, DB: Beginner Friendly, A: Mapping, size/M

#32694 Make safes craftable
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/tallbox.yml
  Resources/Prototypes/Recipes/Crafting/tallbox.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, T: Balance Change, S: Approved, A: Security

#33931 Holopad prototypes for mapping
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: P1: High, T: New Feature, Changes: No C#, T: Cleanup, D3: Low, A: Mapping, S: Approved, size/M

#32986 Reduce network burden of the hunger system
  Content.Server/Animals/Systems/EggLayerSystem.cs
  Content.Server/EntityEffects/EffectConditions/TotalHunger.cs
  Content.Server/Nutrition/EntitySystems/FatExtractorSystem.cs
  Content.Server/RatKing/RatKingSystem.cs
  Content.Shared/Nutrition/Components/HungerComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Sericulture/SericultureSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: P1: High, T: Performance, T: Refactor, D2: Medium, S: Needs Review, S: Approved, A: General Interactions, size/L

#33879 Only disable panicbunker for admins with AdminFlags.Admin
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Shared/Administration/AdminData.cs
  Content.Shared/Administration/Managers/ISharedAdminManager.cs
  Content.Shared/CCVar/CCVars.Game.cs
Labels: P1: High, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/M

#33635 Fix hugging buckled mobs instead of unbuckling
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/XS

#33104 Replace Cellular Slime mob damage with Caustic
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Medical, A: Roundflow/Antag, size/XS

#33647 Mercenary gear contraband tweaks.
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/vests.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#33494 Sprite Movement working with AI movement
  Content.Client/Movement/Systems/ClientSpriteMovementSystem.cs
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Server/Movement/Systems/SpriteMovementSystem.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Shared/Movement/Components/SpriteMovementComponent.cs
  Content.Shared/Movement/Events/SpriteMoveEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedSpriteMovementSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: T: Bugfix, P2: Raised, D1: High, S: Needs Review, S: Approved, A: Art, T: Visual Change, size/L

#33776 New Drazil plushie (inverse lizard plushie)
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/hew.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/SoundCollections/emotes.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/hew.png
  Resources/Textures/Objects/Fun/toys.rsi/lizard-inversed-equipped-HELMET.png
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lizard_inversed.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizardinversed-inhand-left.png
  Resources/Textures/Objects/Fun/toys.rsi/plushielizardinversed-inhand-right.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, Changes: Audio, size/L

#33938 Marathon Power Rebalance + Gas Pipe Sensors, Holopads
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, size/XL

#33934 Localized holopads for Bagel
  Resources/Maps/bagel.yml
Labels: P2: Raised, Changes: No C#, Changes: Map, T: Cleanup, D2: Medium, S: Needs Review, A: Mapping, size/M

#33940 Packed Update (Holopads & Engi Stuff)
  Resources/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#33941 Localized holopads + atmos network for Oasis
  Resources/Maps/oasis.yml
Labels: Changes: No C#, Changes: Map, size/XL

#33943 Reach/Cargo Update (Holopads & Atmos)
  Resources/Maps/Shuttles/cargo.yml
  Resources/Maps/Shuttles/trading_outpost.yml
  Resources/Maps/reach.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#33922 [Christmas] Y'all want a Smite Cranberry?
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/soda.ftl
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/shamblersjuice.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_soda.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_fun.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Hydroponics/randomChemicals.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/lemon-lime-cranberry.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/lemon-lime-cranberry.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/lemon-lime-cranberry.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/lemon-lime-cranberry.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/lemon-lime-cranberry.rsi/meta.json
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/M

#33497 Comment LogTypes
  Content.Shared.Database/LogType.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/L

#33854 Show battery level for selected devices in Power Monitoring Console
  Content.Client/Power/PowerMonitoringWindow.xaml.Widgets.cs
  Content.Server/Power/EntitySystems/PowerMonitoringConsoleSystem.cs
  Content.Shared/Power/SharedPowerMonitoringConsoleComponent.cs
  Resources/Locale/en-US/components/power-monitoring-component.ftl
Labels: P2: Raised, T: New Feature, Changes: UI, S: Needs Review, S: Approved, A: Engineering, size/L

#33946 Omega Update (Localized Holopads)
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, size/M

#33948 Amber Statio - Localized Holopads and Balance Updates
  Resources/Locale/en-US/holopad/holopad.ftl
  Resources/Maps/Shuttles/emergency_amber.yml
  Resources/Maps/amber.yml
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#33949 Meta Power Rebalance + Gas Pipe Sensors, Holopads
  Resources/Maps/meta.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#33955 Packed Power Rebalance + Gas Sensors Adjustments
  Resources/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, size/L

#33956 Omega Power Rebalance
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#33697 New mid pop station: Loop
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/loop.yml
  Resources/Prototypes/Maps/Pools/default.yml
  Resources/Prototypes/Maps/loop.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, D1: High, S: Needs Review, A: Mapping, size/XL

#33792 Logic Gate Compatibility with Non-Logic Signals bugfix
  Content.Server/DeviceLinking/Systems/LogicGateSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#33855 Remove plushie_lizard_mirrored.png
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_lizard_mirrored.png
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, Changes: Sprites, S: Approved, A: Art, size/XS

#33414 Fix: Update armor crate description
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Catalog/Fills/Crates/security.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, T: Cleanup, DB: Beginner Friendly, S: Approved, A: Cargo/Salvage, A: Security, size/XS

#33958 Loopstation hotfix
  Resources/Maps/loop.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#33960 Fixes/removes borg spawnpoint from Oasis Engineering, added one to Robotics
  Resources/Maps/oasis.yml
Labels: Changes: No C#, Changes: Map

#33969 Minor fixes for the holopad
  Content.Server/Holopad/HolopadSystem.cs
  Content.Server/Telephone/TelephoneSystem.cs
  Content.Shared/Telephone/TelephoneComponent.cs
  Resources/Locale/en-US/holopad/holopad.ftl
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, S: Approved, Intent: Hotfix, A: General Interactions, A: Roleplay/Lore, A: Silicons, size/S
