Repository space-wizards/space-station-14, pull requests merged in 2024-02, with the labels that each got.

#24765 Removes Syndicate headset from uplink and changes TC prices around to be slightly viable
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#24681 Remove vehicles
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Vehicle/VehicleSystem.cs
  Content.Server/Vehicle/VehicleSystem.cs
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/Traits/Assorted/LegsParalyzedComponent.cs
  Content.Shared/Vehicle/Components/InVehicleComponent.cs
  Content.Shared/Vehicle/Components/RiderComponent.cs
  Content.Shared/Vehicle/Components/VehicleComponent.cs
  Content.Shared/Vehicle/SharedVehicleSystem.Rider.cs
  Content.Shared/Vehicle/SharedVehicleSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Locale/en-US/vehicle/vehicle.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Markers/Spawners/vehicles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Vehicles/actions.yml
  Resources/Prototypes/Entities/Objects/Vehicles/buckleable.yml
  Resources/Prototypes/Entities/Objects/Vehicles/keys.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Procedural/salvage_rewards.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/supplybot.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/taxibot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/Traits/disabilities.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/migration.yml
Labels: Status: Needs Review

#24779 add 1hr overall playtime limit to TA
  Resources/Prototypes/Roles/Jobs/Engineering/technical_assistant.yml
Labels: No C#

#24789 Health analyzers now show if somebody is starving
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Textures/Objects/Devices/health_analyzer.rsi/malnutrition.png
  Resources/Textures/Objects/Devices/health_analyzer.rsi/meta.json
Labels: Changes: UI, Changes: Sprites

#24747 New sprite for the arachnid plushie.
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_arachnid.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#24365 A beer can and a wine can
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_soda.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Textures/Objects/Consumable/Drinks/beer_can.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/beer_can.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/beer_can.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/wine_can.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/wine_can.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/wine_can.rsi/meta.json
Labels: No C#, Changes: Sprites

#24374 Remove yellow oxygen tank
  Resources/Prototypes/Catalog/Fills/Crates/emergency.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-cat.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-fox.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-hamster.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-kangaroo.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-possum.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-puppy.png
  Resources/Textures/Objects/Tanks/yellow.rsi/equipped-SUITSTORAGE-sloth.png
  Resources/Textures/Objects/Tanks/yellow.rsi/icon.png
  Resources/Textures/Objects/Tanks/yellow.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/yellow.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/yellow.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites, Status: Needs Review

#24556 Adds emote "Buzz" for moth
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#24800 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#24776 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#24333 Ghost Role description clarity
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: No C#, Status: Awaiting Changes

#24699 Added Warning state for AME
  Content.Server/Ame/EntitySystems/AmeControllerSystem.cs
  Content.Shared/Ame/SharedAmeControllerComponent.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Textures/Structures/Power/Generation/ame.rsi/control_warning.png
  Resources/Textures/Structures/Power/Generation/ame.rsi/meta.json
Labels: Changes: Sprites

#24464 Lock Anomaly generator to research access
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
  Content.Server/Drone/DroneSystem.cs
  Content.Server/Eye/Blinding/ActivatableUIRequiresVisionSystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Gateway/Systems/GatewaySystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/Lock/EntitySystems/ActivatableUIRequiresLockSystem.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/NukeOps/WarDeclaratorSystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Power/EntitySystems/ActivatableUIRequiresPowerSystem.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/TechnologyDisk/Systems/DiskConsoleSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.Drone.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Ui.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Sound/EmitSoundSystem.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Server/UserInterface/ActivatableUISystem.Power.cs
  Content.Server/UserInterface/ActivatableUISystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Access/Components/ActivatableUIRequiresAccessComponent.cs
  Content.Shared/Access/Systems/ActivatableUIRequiresAccessSystem.cs
  Content.Shared/UserInterface/ActivatableUIEvents.cs
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: Status: Needs Review

#24790 Remove starvation damage
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Status: DO NOT MERGE, Needs Discussion, No C#, Status: Needs Review

#23821 Airlock assembly prototypes
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_assembly.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/centcomm.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/external.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/external.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/firelock.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/glass.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/shuttle_syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/external.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/external.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/shuttle_syndicate.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/syndicate.rsi/assembly.png
Labels: No C#, Changes: Sprites

#23972 Visitor job
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Shared/Roles/JobPrototype.cs
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Jobs/Civilian/visitor.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/Roles/play_time_trackers.yml
  Resources/Prototypes/StatusEffects/job.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Visitor.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, Status: Awaiting Changes

#24169 Paraplegicn't zombies
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: Status: Needs Review

#22914 Newton cradle
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/newton_cradle.ogg
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Textures/Objects/Fun/newton_cradle.rsi/icon-off.png
  Resources/Textures/Objects/Fun/newton_cradle.rsi/icon.png
  Resources/Textures/Objects/Fun/newton_cradle.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#23721 Cleanups PolymorphSystem/Components/Prototypes
  Content.Server/Administration/Commands/AddPolymorphActionCommand.cs
  Content.Server/Chemistry/ReagentEffects/Polymorph.cs
  Content.Server/Polymorph/Components/PolymorphOnCollideComponent.cs
  Content.Server/Polymorph/Components/PolymorphableComponent.cs
  Content.Server/Polymorph/Components/PolymorphedEntityComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.Collide.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.Map.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Polymorph/Toolshed/PolymorphCommand.cs
  Content.Server/Polymorph/Toolshed/UnpolymorphCommand.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/PolyOthersArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PolyOthersArtifactSystem.cs
  Content.Shared/Polymorph/PolymorphActions.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Polymorphs/admin.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
Labels: Status: Needs Review

#24810 Remove tiered part crates from expeditions
  Resources/Prototypes/Procedural/salvage_loot.yml
Labels: No C#

#24767 Open some windows non-centered to avoid covering the player
  Content.Client/Atmos/UI/GasAnalyzerBoundUserInterface.cs
  Content.Client/Crayon/UI/CrayonBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
Labels: Status: Needs Review

#24677 make dialog window not evil
  Content.Client/Administration/QuickDialogSystem.cs
  Content.Client/UserInterface/Controls/DialogWindow.xaml
  Content.Client/UserInterface/Controls/DialogWindow.xaml.cs
  Content.Shared/Administration/QuickDialogOpenEvent.cs
Labels: Changes: UI, Status: Needs Review

#24813 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#24306 Make plushies, whoopie cushions, and some toys usable as modular grenade payloads
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
  Resources/Prototypes/Entities/Objects/Fun/skub.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/desk_bell.yml
Labels: No C#

#24482 Fix aHelp relay to detect AFK Admins
  Content.Server/Administration/Systems/BwoinkSystem.cs
  Content.Server/Afk/AfkManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#24498 Minor bizzaresoft_flipped visual issues.
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/icon.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Soft/bizarresoft_flipped.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#22194 Rev Components are no longer leaked + Rev and Zombie icon visibility to ghosts is now controlled by a cvar
  Content.Client/Antag/AntagStatusIconSystem.cs
  Content.Client/Revolutionary/RevolutionarySystem.cs
  Content.Client/Zombies/ZombieSystem.cs
  Content.Shared/Antag/IAntagStatusIconComponent.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/RevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/ShowRevIconsComponent.cs
  Content.Shared/Revolutionary/SharedRevolutionarySystem.cs
  Content.Shared/StatusIcon/Components/StatusIconComponent.cs
  Content.Shared/Zombies/ShowZombieIconsComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: Status: Needs Review

#23365 add lizard speech bubble
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/lizard0.png
  Resources/Textures/Effects/speech.rsi/lizard1.png
  Resources/Textures/Effects/speech.rsi/lizard2.png
  Resources/Textures/Effects/speech.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#22691 Move grenade components to shared
  .run/Content Server+Client.run.xml
  Content.Client/Explosion/ClusterGrenadeVisualizerSystem.cs
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Explosion/ExplosionOverlaySystem.cs
  Content.Client/Explosion/SmokeOnTriggerSystem.cs
  Content.Client/Explosion/TriggerOnProximityComponent.cs
  Content.IntegrationTests/Tests/Payload/ModularGrenadeTests.cs
  Content.Server/Defusable/Systems/DefusableSystem.cs
  Content.Server/Explosion/Components/ActiveTimerTriggerComponent.cs
  Content.Server/Explosion/Components/TriggerOnProximityComponent.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Visuals.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Mobstate.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.OnUse.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Flash/Components/FlashOnTriggerComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Shared/Administration/SpawnExplosionEuiMsg.cs
  Content.Shared/Explosion/Components/ActiveTimerTriggerComponent.cs
  Content.Shared/Explosion/Components/ExplosionVisualsComponent.cs
  Content.Shared/Explosion/Components/OnTrigger/ExplodeOnTriggerComponent.cs
  Content.Shared/Explosion/Components/OnTrigger/SmokeOnTriggerComponent.cs
  Content.Shared/Explosion/Components/OnUseTimerTriggerComponent.cs
  Content.Shared/Explosion/Components/SharedClusterGrenadeComponent.cs
  Content.Shared/Explosion/Components/SharedTriggerOnProximityComponent.cs
  Content.Shared/Explosion/EntitySystems/SharedSmokeOnTriggerSystem.cs
  Content.Shared/Explosion/EntitySystems/SharedTriggerSystem.cs
  Content.Shared/Flash/Components/FlashComponent.cs
  Content.Shared/Flash/Components/FlashOnTriggerComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Electronics/triggers.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/funny.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/ied.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: Status: Needs Review, Needs #codebase-changes

#24063 Fix clientside storage Whitelists
  Content.Client/Botany/Components/ProduceComponent.cs
  Content.Client/Botany/Components/SeedComponent.cs
  Content.Server/Botany/Components/ProduceComponent.cs
  Content.Server/Botany/Components/SeedComponent.cs
  Content.Server/Explosion/EntitySystems/ClusterGrenadeSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Light/EntitySystems/LightReplacerSystem.cs
  Content.Server/Nutrition/Components/FoodComponent.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Shared/Botany/Components/SharedProduceComponent.cs
  Content.Shared/Botany/Components/SharedSeedComponent.cs
  Content.Shared/Explosion/Components/OnTrigger/SmokeOnTriggerComponent.cs
  Content.Shared/Explosion/EntitySystems/SharedSmokeOnTriggerSystem.cs
  Content.Shared/Flash/Components/FlashOnTriggerComponent.cs
  Content.Shared/Light/Components/LightReplacerComponent.cs
  Content.Shared/Light/EntitySystems/SharedLightReplacerSystem.cs
  Content.Shared/Mousetrap/MousetrapComponent.cs
  Content.Shared/Nutrition/Components/UtensilComponent.cs
  Content.Shared/Nutrition/EntitySystems/SharedUtensilSystem.cs
  Content.Shared/SprayPainter/Components/SprayPainterComponent.cs
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#24217 Remove obsolete transform call
  Content.Server/Anomaly/Effects/EntityAnomalySystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
Labels: Status: Needs Review

#24820 Remove bad tag
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: No C#

#24094 Action for closing prs submitted by the submitters master branch
  .github/workflows/close-master-pr.yml
Labels: No C#

#24838 Adds ExaminableSolutionComponent to spray bottles
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
Labels: No C#

#24826 Fix dylovene OD damage
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#24655 Remove gondola donkpocket & change berry box description
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/donkpocketbox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/gondola-box.png
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/gondola.png
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/meta.json
  Resources/migration.yml
Labels: No C#, Changes: Sprites

#24830 Fix cryopod debug assert
  Content.Server/Medical/CryoPodSystem.cs
Labels: Status: Needs Review

#24836 Add Diona salute sound
  Resources/Audio/Voice/Diona/attributions.yml
  Resources/Audio/Voice/Diona/diona_salute.ogg
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: No C#

#24739 detective patch
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Roles/Jobs/Civilian/detective.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Textures/Interface/Misc/job_icons.rsi/Detective.png
  Resources/Textures/Objects/Misc/id_cards.rsi/iddetective.png
Labels: No C#, Changes: Sprites

#24844 Nerf the fridge explosion resistance
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
Labels: No C#

#24848 Booze/Soda Dispenser label fix
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: No C#

#24850 Fix slipping through fences
  Resources/Prototypes/Entities/Structures/Walls/fence_metal.yml
Labels: No C#, Status: Needs Review

#24622 Fix Heartbreaker Toxin and Lexorin descriptions
  Resources/Locale/en-US/reagents/meta/toxins.ftl
Labels: No C#, Status: Needs Review

#22485 Fix mob pull issue
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#, Status: Awaiting Changes

#22957 Remove puller from simplemob
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
Labels: No C#

#24876 Add Stonk Pockets
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/donkpocketbox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/stonk-box.png
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/stonk.png
Labels: No C#, Changes: Sprites

#24828 Completely update cargo guidebook entry (+trade stations) and other minor guidebook changes
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Cargo/TradeStation.xml
  Resources/ServerInfo/Guidebook/Medical/Cloning.xml
  Resources/ServerInfo/Guidebook/Survival.xml
Labels: No C#, Status: Needs Review

#24884 freezer prevents nuclear annihilation
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: No C#

#24863 Space-Up flavor quick-fix
  Resources/Prototypes/Flavors/flavors.yml
Labels: No C#

#24754 Actually fix round restart audio this time
  Content.Client/Audio/BackgroundAudioSystem.cs
  Content.Client/Audio/ContentAudioSystem.cs
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#24735 Make scarfs craftable
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: No C#, Status: Needs Review

#24878 Fix pressing shift while held triggering escape
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Shared/Movement/Events/MoveInputEvent.cs
Labels: Status: Needs Review

#20906 Pulling rework
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Client/Pulling/PullingSystem.cs
  Content.Client/Replay/Spectator/ReplaySpectatorSystem.Blockers.cs
  Content.Client/Throwing/ThrownItemVisualizerSystem.cs
  Content.IntegrationTests/Tests/Puller/PullerTest.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/NPC/HTN/Preconditions/PulledPrecondition.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Content.Server/Physics/Controllers/PullController.cs
  Content.Server/Pulling/PullingSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Triggers/Systems/ArtifactInteractionTriggerSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Administration/AdminFrozenSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Events/AttemptPullEvent.cs
  Content.Shared/Movement/Pulling/Events/AttemptStopPullingEvent.cs
  Content.Shared/Movement/Pulling/Events/BeingPulledAttemptEvent.cs
  Content.Shared/Movement/Pulling/Events/PullMessage.cs
  Content.Shared/Movement/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Movement/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Movement/Pulling/Events/StartPullAttemptEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Pulling/Components/PullableComponent.cs
  Content.Shared/Pulling/Components/SharedPullerComponent.cs
  Content.Shared/Pulling/Events/PullAttemptEvent.cs
  Content.Shared/Pulling/Events/PullMessage.cs
  Content.Shared/Pulling/Events/PullStartedMessage.cs
  Content.Shared/Pulling/Events/PullStoppedMessage.cs
  Content.Shared/Pulling/PullableMoveMessage.cs
  Content.Shared/Pulling/PullableStopMovingMessage.cs
  Content.Shared/Pulling/Systems/SharedPullableSystem.cs
  Content.Shared/Pulling/Systems/SharedPullerSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingStateManagementSystem.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.Actions.cs
  Content.Shared/Pulling/Systems/SharedPullingSystem.cs
  Content.Shared/Security/Systems/DeployableBarrierSystem.cs
  Content.Shared/Teleportation/Systems/SharedPortalSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemComponent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: Status: Needs Review

#24864 Travelling pointing arrows, brains can no longer point
  Content.Client/Pointing/Components/PointingArrowComponent.cs
  Content.Client/Pointing/PointingSystem.Visualizer.cs
  Content.Client/Pointing/PointingSystem.cs
  Content.Server/Body/Systems/BrainSystem.cs
  Content.Server/Pointing/EntitySystems/PointingSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Bed/Sleep/SharedSleepingSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.Subscribers.cs
  Content.Shared/Pointing/Components/SharedPointingArrowComponent.cs
  Content.Shared/Pointing/SharedPointingSystem.cs
Labels: Status: Needs Review

#24846 Fix sliding bug
  Content.Shared/Slippery/SlidingSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
Labels: Status: Awaiting Changes

#24895 Fixed incorrect path to the uranium spear image in the construction menu
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: No C#

#24888 add carp pocket
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Procedural/salvage_loot.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/carp-box.png
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/carp.png
  Resources/Textures/Objects/Consumable/Food/Baked/donkpocket.rsi/meta.json
Labels: No C#, Changes: Sprites

#24871 nuke biochem
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Machines/research.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Prototypes/Research/civilianservices.yml
  Resources/Prototypes/Research/disciplines.yml
Labels: No C#, Status: Needs Review

#24518 Adds a refund button & action upgrades for stores
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreMenu.xaml
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.Server/Store/Components/StoreComponent.cs
  Content.Server/Store/StoreRefundComponent.cs
  Content.Server/Store/Systems/StoreSystem.Refund.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StoreUi.cs
Labels: Changes: UI, Status: Needs Review

#24869 EMP disables suit sensors
  Content.Server/Medical/SuitSensors/SuitSensorComponent.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
Labels: Status: Needs Review

#24597 Add face bandanas
  Content.Shared/Clothing/ClothingEvents.cs
  Content.Shared/Clothing/Components/FoldableClothingComponent.cs
  Content.Shared/Clothing/Components/MaskComponent.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/FoldableClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/MaskSystem.cs
  Content.Shared/Foldable/FoldableComponent.cs
  Content.Shared/Foldable/FoldableSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/bandanas.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Textures/Clothing/Head/Bandanas/black.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/black.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/blue.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/blue.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/botany.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/botany.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/brown.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/brown.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/gold.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/gold.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/green.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/green.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/grey.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/grey.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/merc.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/merc.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/red.rsi/meta.json
  Resources/Textures/Clothing/Head/Bandanas/skull.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Head/Bandanas/skull.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#24938 Adds navmap beacon for escape pods
  Resources/Locale/en-US/navmap-beacons/station-beacons.ftl
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: No C#

#24881 grille is flimsy
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: No C#

#24947 fix guidebook for Trade Station
  Resources/ServerInfo/Guidebook/Cargo/TradeStation.xml
Labels: No C#, Status: Needs Review

#24944 Auto Attack for Holoparasites
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: No C#, Status: Needs Review

#22510 criminal records revival
  Content.Client/CriminalRecords/CrimeHistoryWindow.xaml
  Content.Client/CriminalRecords/CrimeHistoryWindow.xaml.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleBoundUserInterface.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleBoundUserInterface.cs
  Content.Client/StationRecords/GeneralStationRecordConsoleWindow.xaml.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/CriminalRecords/Components/CriminalRecordsConsoleComponent.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsSystem.cs
  Content.Server/Mind/Commands/RenameCommand.cs
  Content.Server/StationEvents/Events/ClericalErrorRule.cs
  Content.Server/StationRecords/Components/GeneralStationRecordConsoleComponent.cs
  Content.Server/StationRecords/StationRecordSet.cs
  Content.Server/StationRecords/Systems/GeneralStationRecordConsoleSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/CriminalRecords/CriminalRecord.cs
  Content.Shared/CriminalRecords/CriminalRecordsUi.cs
  Content.Shared/Security/SecurityStatus.cs
  Content.Shared/StationRecords/GeneralRecordsUi.cs
  Content.Shared/StationRecords/GeneralStationRecord.cs
  Content.Shared/StationRecords/GeneralStationRecordsFilter.cs
  Content.Shared/StationRecords/StationRecordKey.cs
  Content.Shared/StationRecords/StationRecordsFilter.cs
  Resources/Locale/en-US/criminal-records/criminal-records.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Locale/en-US/station-records/general-station-records.ftl
  Resources/Prototypes/Datasets/criminal_records.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/ServerInfo/Guidebook/Security/CriminalRecords.xml
Labels: Changes: UI, Status: Needs Review

#24953 criminal records cl
  Resources/Changelog/Parts/parts_22510.yaml
Labels: No C#

#24965 Sectech Advert Change
  Resources/Locale/en-US/advertisements/vending/sectech.ftl
Labels: No C#

#24966 Update log probe UI for better looking
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiEntry.xaml
  Content.Client/CartridgeLoader/Cartridges/LogProbeUiFragment.xaml
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
Labels: Changes: UI, No C#

#24829 Rebalances electrocution damage to a log scale
  Content.Server/Electrocution/ElectrocutionSystem.cs
Labels: Needs Discussion

#24968 Adjust drink reagent colors
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
Labels: No C#

#24973 fix criminal records cl real
  Resources/Changelog/Parts/parts_22510.yml
Labels: No C#

#24976 readd station records locale
  Resources/Locale/en-US/station-records/general-station-records.ftl
Labels: No C#

#24971 Restore Outlaw Glasses full identity blocking coverage
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: No C#

#24849 Pen Embeds
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pen.yml
Labels: No C#

#24704 Minor addition to Cybersun pen description
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#

#24702 Borg Module QoL and Gas Analyzer Module Removal
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#22449 Make Health Analysers UI continuously update
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
Labels: Changes: UI, Status: Needs Review

#24978 Make radiation collector a power supplier
  Content.Server/Singularity/Components/RadiationCollectorComponent.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Singularity/collector.yml
Labels: Status: Needs Review

#25003 Fixed glass cargo opened sprite
  Resources/Textures/Structures/Doors/Airlocks/Glass/cargo.rsi/open.png
Labels: No C#, Changes: Sprites

#24952 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#25012 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#25016 Add New Fland Shuttle
  Resources/Maps/Shuttles/cargo_fland.yml
  Resources/Prototypes/Maps/fland.yml
Labels: No C#, Changes: Map, Status: Needs Review

#25027 Disable voting for Sandbox mode
  Resources/Prototypes/game_presets.yml
Labels: No C#

#24943 Fixed GluedComponent interactions with metamorphic glasses
  Content.Server/Glue/GlueSystem.cs
Labels: Status: Needs Review

#25065 Paper is now bad food
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: No C#

#25057 allow building atmos devices on lattice or thindow tiles
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#

#25047 Small t-ray scanner resprite
  Resources/Textures/Objects/Tools/t-ray.rsi/meta.json
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-off.png
  Resources/Textures/Objects/Tools/t-ray.rsi/tray-on.png
Labels: No C#, Changes: Sprites

#25032 fix follow comannd help locale
  Content.Server/Administration/Commands/FollowCommand.cs
Labels: Status: Needs Review

#25001 Fixes indestructible mop buckets
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: No C#

#24997 Straw hat.
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/strawhat.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/straw_hat.rsi/meta.json
Labels: No C#, Changes: Sprites

#24963 Alphabetically sorted guidebook entries
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
Labels: Changes: UI

#25071 atlas update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#25074 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#25076 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#25077 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#25085 Syndicate key grammar fix
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
Labels: No C#

#23198 Added Tourniquets to stop bleeds
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Textures/Objects/Specific/Medical/medical.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medical.rsi/tourniquet.png
Labels: Needs Discussion, No C#, Changes: Sprites, Status: Awaiting Changes

#25088 Update Skelly Vs The Rev lobby art
  Resources/Textures/LobbyScreens/skellyvstherev.png
Labels: No C#

#25073 Minor airlock assembly clean up
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
Labels: No C#

#25067 Update README.md
  README.md
Labels: No C#

#25000 Remove battery from crew observation kit, fix description
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
Labels: No C#

#25089 Laughin' Peas
  Resources/Locale/en-US/reagents/laughter.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Locale/en-US/seeds/seeds.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/dead.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/harvest.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/produce.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/seed.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/stage-1.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/stage-2.png
  Resources/Textures/Objects/Specific/Hydroponics/laughin_pea.rsi/stage-3.png
Labels: No C#, Changes: Sprites

#24477 QM drip DLC
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET-hamster.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_qm.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/qmformal.rsi/meta.json
Labels: No C#, Changes: Sprites

#24289 EMT Belt Part 2
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Roles/Jobs/Medical/paramedic.yml
  Resources/Textures/Clothing/Belt/emt.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Belt/emt.rsi/icon.png
  Resources/Textures/Clothing/Belt/emt.rsi/inhand-left.png
  Resources/Textures/Clothing/Belt/emt.rsi/inhand-right.png
  Resources/Textures/Clothing/Belt/emt.rsi/meta.json
Labels: No C#, Changes: Sprites

#24653 Nerf Beanbags
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
Labels: No C#

#25096 GPS In Paramed Locker
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: No C#

#25106 Remove 'travis scott day' from the game
  Resources/Locale/en-US/holiday/greet/holiday-greet.ftl
  Resources/Prototypes/holidays.yml
Labels: No C#

#25107 Remove erroneous changelog
  Resources/Changelog/Changelog.yml
Labels: No C#

#25095 fixed fland cargo shuttle not having tiny fans (sorry)
  Resources/Maps/Shuttles/cargo_fland.yml
Labels: No C#

#25104 Glass box for antique laser pistol
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Structures/Storage/glass_box.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Storage/glassbox.rsi/caplaser.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-up.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glassbox-empty-open.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glassbox-filled-closed.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glassbox-filled-open.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glassbox.png
  Resources/Textures/Structures/Storage/glassbox.rsi/locked.png
  Resources/Textures/Structures/Storage/glassbox.rsi/meta.json
  Resources/Textures/Structures/Storage/glassbox.rsi/unlocked.png
Labels: No C#, Changes: Sprites

#24989 Gibbing refactor (Per-part gibbing and giblet throwing!)
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactCrusherSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Body.cs
  Content.Shared/Gibbing/Components/GibbableComponent.cs
  Content.Shared/Gibbing/Events/GibbingEvents.cs
  Content.Shared/Gibbing/Systems/GibbingSystem.cs
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Parts/animal.yml
  Resources/Prototypes/Body/Parts/base.yml
  Resources/Prototypes/Body/Parts/skeleton.yml
  Resources/Prototypes/Body/Parts/terminator.yml
Labels: Status: Needs Review

#25043 Predict two-way levers
  Content.Benchmarks/DeviceNetworkingBenchmark.cs
  Content.Client/DeviceLinking/DeviceLinkSystem.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTest.cs
  Content.IntegrationTests/Tests/DeviceNetwork/DeviceNetworkTestSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosDeviceNetwork.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasVolumePumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasThermoMachineSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/DeviceLinking/Components/TwoWayLeverComponent.cs
  Content.Server/DeviceLinking/Events/SignalReceivedEvent.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceNetwork/NetworkPayload.cs
  Content.Server/DeviceNetwork/Systems/Devices/ApcNetSwitchSystem.cs
  Content.Server/Disposal/Mailing/MailingUnitSystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Medical/CrewMonitoring/CrewMonitoringServerSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/Power/Generation/Teg/TegSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/SensorMonitoring/BatterySensorSystem.cs
  Content.Server/SensorMonitoring/SensorMonitoringConsoleSystem.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.Console.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraMonitorSystem.cs
  Content.Shared/DeviceLinking/Components/TwoWayLeverComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/DeviceLinking/Systems/TwoWayLeverSystem.cs
  Content.Shared/DeviceNetwork/NetworkPayload.cs
Labels: Status: Needs Review

#25108 Replace Romerol with Ambuzol in chemist guidebook
  Resources/ServerInfo/Guidebook/Medical/Medicine.xml
Labels: No C#, Status: Needs Review

#24748 Fix borgs being able to emag themselves
  Content.Shared/Silicons/Laws/SharedSiliconLawSystem.cs
  Resources/Locale/en-US/station-laws/laws.ftl
Labels: Status: Awaiting Changes

#25053 Ectoplasm is grindable into Necrosol
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: No C#

#25046 Roundstart Food Service research
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: No C#, Status: Needs Review

#24625 Add option for character name colors in chat & move coloration to clientside
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Chat/SharedChatSystem.cs
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, Status: Needs Review

#25134 Replace fixed drink glasses with metamorphic versions
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
Labels: No C#

#25119 ambuzol beef
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: No C#

#25127 Shuttle floor resprite
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/astrograss.png
  Resources/Textures/Objects/Tiles/tile.rsi/astroice.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/shuttleblack.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttleblue.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlegrey.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttleorange.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlepurple.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlered.png
  Resources/Textures/Objects/Tiles/tile.rsi/shuttlewhite.png
  Resources/Textures/Objects/Tiles/tile.rsi/snow.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/shuttleblack.png
  Resources/Textures/Tiles/shuttleblue.png
  Resources/Textures/Tiles/shuttlegrey.png
  Resources/Textures/Tiles/shuttleorange.png
  Resources/Textures/Tiles/shuttlepurple.png
  Resources/Textures/Tiles/shuttlered.png
  Resources/Textures/Tiles/shuttlewhite.png
Labels: No C#, Changes: Sprites

#25138 Adding a period to an object description
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
Labels: No C#

#25144 Door Remote Changelog Entry
  Resources/Changelog/Parts/doorRemote.yml
Labels: No C#

#25135 Lowered Ion Storm Reoccurence Delay to 20
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#25094 Re-added shivs to crafting menus
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/shiv.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
Labels: No C#

#25103 Color Tipped Ammo
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Casings/ammo_casing.rsi/tip.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#24949 Add overlay decals for mini tiles and bricks
  Resources/Prototypes/Decals/Overlays/grayscale.yml
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/brick_line_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/meta.json
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_box.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_corner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_end_w.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_ne.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_nw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_se.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_inner_sw.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_e.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_n.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_s.png
  Resources/Textures/Decals/Overlays/greyscale.rsi/minitile_line_w.png
Labels: No C#, Changes: Sprites

#24862 Update Core
  Resources/Maps/core.yml
  Resources/Prototypes/Parallaxes/core.yml
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/core_planet.png
  Resources/Textures/Parallaxes/meta.json
Labels: No C#, Changes: Map, Status: Needs Review

#25139 Buyable Jani Trolley
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/icon-cart.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: No C#, Changes: Sprites

#25130 autolatheable air tanks
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#

#25041 make linking logic gates 1000% better
  Content.Client/NetworkConfigurator/NetworkConfiguratorLinkMenu.xaml.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Shared/DeviceLinking/DeviceLinkSourceComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
  Content.Shared/DeviceNetwork/NetworkConfiguratorUserInterfaceState.cs
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/Prototypes/Entities/Structures/gates.yml
Labels: Changes: UI, Status: Needs Review

#24225 Buff emergency toolbox fill
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
Labels: No C#

#25150 Void jetpack resprite
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon-on.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/icon.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/meta.json
  Resources/Textures/Objects/Tanks/Jetpacks/void.rsi/on-equipped-BACKPACK.png
Labels: No C#, Changes: Sprites

#25162 Allow configuring gen_build_info.py through environment variables
  Tools/gen_build_info.py
Labels: No C#

#25068 Significantly nerf Deathnettles
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: No C#

#25168 Fix spelling errors in mechs.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
Labels: No C#

#25157 fix showhealthbars perms
  Resources/clientCommandPerms.yml
Labels: No C#, Status: Needs Review

#25170 Restore MonoOverlay
  Resources/Prototypes/Decals/Overlays/grayscale.yml
Labels: No C#

#25176 The medical beret is real
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/beret_medic.rsi/meta.json
Labels: No C#, Changes: Sprites

#25136 Glassbox shatter resprite
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_12.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Storage/glassbox.rsi/glass-4.png
  Resources/Textures/Structures/Storage/glassbox.rsi/meta.json
Labels: No C#, Changes: Sprites

#24948 Decrease the chemical cost of regen mesh and sutures and move them to their own file
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/medical_recipes.yml
Labels: No C#

#24851 Require plants to be harvestable before sampling
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
Labels: Needs Discussion

#24780 Add verbs to Open/Close Openable containers, and add optional seals
  Content.Server/Nutrition/Components/OpenableComponent.cs
  Content.Server/Nutrition/EntitySystems/OpenableSystem.cs
  Content.Shared/Nutrition/Components/SealableComponent.cs
  Content.Shared/Nutrition/Components/SharedFoodComponent.cs
  Content.Shared/Nutrition/EntitySystems/SealableSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedOpenableSystem.cs
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/bottle_close1.ogg
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
  Resources/Locale/en-US/nutrition/components/openable-component.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/SoundCollections/drink_close_sounds.yml
Labels: Status: Needs Review

#24629 Shadow anomaly returns
  Content.Server/Flash/Components/DamagedByFlashingComponent.cs
  Content.Server/Flash/DamagedByFlashingSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Shared/Flash/FlashableComponent.cs
  Resources/Audio/Ambience/anomaly_scary.ogg
  Resources/Audio/Ambience/attributions.yml
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Damage/containers.yml
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/shadowkudzu.yml
  Resources/Prototypes/Entities/Mobs/NPCs/shadows.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Objects/base_shadow.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Prototypes/audio.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/spookysmoke.rsi/meta.json
  Resources/Textures/Effects/spookysmoke.rsi/spookysmoke.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/shadow_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/anom.png
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/shadow_anom.rsi/pulse.png
Labels: Changes: Sprites, Status: Needs Review

#24547 Microwave UX enhancements
  Content.Client/Kitchen/UI/MicrowaveBoundUserInterface.cs
  Content.Client/Kitchen/UI/MicrowaveMenu.xaml
  Content.Client/Kitchen/UI/MicrowaveMenu.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Kitchen/Components/MicrowaveComponent.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/Components/SharedMicrowave.cs
  Resources/Locale/en-US/kitchen/components/microwave-component.ftl
Labels: Changes: UI, Status: Needs Review

#24461 Anomaly Synchronizer + Signallers tweaks
  Content.Server/Anomaly/AnomalySynchronizerSystem.cs
  Content.Server/Anomaly/Components/AnomalySynchronizerComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_sync.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/devices.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Objects/Devices/signaller.rsi/meta.json
  Resources/Textures/Objects/Devices/signaller.rsi/signaller2.png
Labels: Changes: Sprites, Status: Needs Review

#25182 saltern update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#25200 Allow players to run saveconfig command.
  Resources/clientCommandPerms.yml
Labels: No C#, Status: Needs Review

#25201 Revert "Allow configuring gen_build_info.py through environment variables"
  Tools/gen_build_info.py
Labels: No C#

#23262 Fax machines can print from text file
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Fax/UI/FaxWindow.xaml
  Content.Client/Fax/UI/FaxWindow.xaml.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Shared/Fax/SharedFax.cs
  Resources/Locale/en-US/fax/fax.ftl
Labels: Changes: UI, Status: Awaiting Changes
