Repository space-wizards/space-station-14, pull requests merged in 2024-09, with the labels that each got.

#31685 Adds flavors to a bunch of things without them
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Clothing/base_clothing.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Flavors/flavors.yml
Labels: No C#

#29686 Update StackSystem and add SpawnMultiple targeting EntityUid
  Content.Server/Stack/StackSystem.cs
Labels: Status: Needs Review

#31706 Remove calls to FormattedMessage obsolete methods
  Content.Client/Administration/UI/AdminRemarks/AdminMessagePopupMessage.xaml.cs
  Content.Client/Administration/UI/AdminRemarks/AdminMessagePopupWindow.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkPanel.xaml.cs
  Content.Client/Changelog/ChangelogTab.xaml.cs
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Credits/CreditsWindow.xaml.cs
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentReaction.xaml.cs
  Content.Client/Info/InfoSection.xaml.cs
  Content.Client/Info/ServerInfo.cs
  Content.Client/Message/RichTextLabelExt.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/Power/PowerMonitoringWindow.xaml.Widgets.cs
  Content.Client/Robotics/UI/RoboticsConsoleWindow.xaml.cs
  Content.Client/RoundEnd/RoundEndSummaryWindow.cs
  Content.Client/UserInterface/Systems/Alerts/Controls/AlertControl.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/Xenoarchaeology/Ui/AnalysisConsoleMenu.xaml.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/DetailExaminable/DetailExaminableystem.cs
  Content.Server/Dragon/DragonRiftSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Gateway/Systems/GatewayGeneratorSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Points/PointSystem.cs
  Content.Server/Power/EntitySystems/CableMultitoolSystem.cs
  Content.Server/Station/Commands/StationCommand.cs
  Content.Server/Traitor/Systems/TraitorCodePaperSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Examine/ExamineSystemShared.Group.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/HealthExaminable/HealthExaminableSystem.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Content.Shared/Preferences/Loadouts/Effects/GroupLoadoutEffect.cs
  Content.Shared/Preferences/Loadouts/RoleLoadout.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: Changes: UI, Status: Needs Review, Status: Awaiting Changes

#31705 remove misinformation from tip 26
  Resources/Locale/en-US/tips.ftl
Labels: No C#

#31718 Replace obsolete code in AnomalySystem.Generator.cs
  Content.Server/Anomaly/AnomalySystem.Generator.cs
Labels: Status: Needs Review

#31725 Added cursor indicator for space dragon fire breath ability
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, Status: Needs Review

#31720 small yml cleanup
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/rings.yml
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
Labels: No C#

#31713 Updates descriptions of station specific jobs.
  Resources/Locale/en-US/job/job-description.ftl
Labels: No C#

#31704 Remove unused IoC dependency references.
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/Computer/ComputerBoundUserInterface.cs
  Content.Client/Light/Components/LightBehaviourComponent.cs
  Content.Client/MachineLinking/UI/SignalTimerBoundUserInterface.cs
  Content.Client/Silicons/StationAi/StationAiMenu.xaml.cs
  Content.Client/Verbs/VerbSystem.cs
  Content.Server/Administration/BanPanelEui.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/Damage/Systems/DamageOtherOnHitSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Thief/Systems/ThiefBeaconSystem.cs
  Content.Shared/Damage/Systems/DamageOnAttackedSystem.cs
  Content.Shared/Damage/Systems/DamageOnInteractSystem.cs
  Content.Shared/Execution/SharedExecutionSystem.cs
  Content.Shared/Mobs/Systems/MobStateSystem.cs
Labels: Changes: UI, Status: Needs Review

#31211 cleanup filing cabinets yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
Labels: No C#, Status: Needs Review

#31618 Cleanup railings yml
  Resources/Prototypes/Entities/Structures/Walls/railing.yml
Labels: No C#

#31737 Roundstart Grappling Gun
  Content.Client/Physics/JointVisualsOverlay.cs
  Content.Shared/Physics/JointVisualsComponent.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/base-unshaded-off.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/base-unshaded.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/hook.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Launchers/grappling_gun.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#31731 Added in-hand sprite for Smile the Slime
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Textures/Mobs/Pets/smile.rsi/inhand-left.png
  Resources/Textures/Mobs/Pets/smile.rsi/inhand-right.png
  Resources/Textures/Mobs/Pets/smile.rsi/meta.json
Labels: No C#, Changes: Sprites

#31712 Adds a salvage jobspawn to reach
  Resources/Maps/reach.yml
  Resources/Prototypes/Maps/reach.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31699 updated cog
  Resources/Maps/cog.yml
  Resources/Prototypes/Maps/cog.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31629 Add ERT time stats
  Content.Server/Ghost/Roles/Components/GhostRoleComponent.cs
  Content.Server/Ghost/Roles/Components/ToggleableGhostRoleComponent.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Ghost/Roles/ToggleableGhostRoleSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#31741 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#31743 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#31744 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#31745 omega update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#31746 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#31748 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31740 Fix CS0642 - Possible mistaken empty statement
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
Labels: Status: Needs Review

#31387 Throw the book at em! The space law book now does 1 blunt projectile damage
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#, Status: Awaiting Changes, Undergoing Maintainer Discussion

#31239 Add Donk Co. microwave board to Combat Bakery Kit
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Shared/Kitchen/Components/RecipeProviderComponent.cs
  Content.Shared/Kitchen/GetSecretRecipesEvent.cs
  Content.Shared/Kitchen/MicrowaveMealRecipePrototype.cs
  Content.Shared/Kitchen/RecipeManager.cs
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#31759 Actions bar dynamic resizing
  Content.Client/UserInterface/Screens/DefaultGameScreen.xaml.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Changes: UI

#31766 ats update
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: No C#, Changes: Map

#31767 Oasis Update (AI)
  Resources/Maps/oasis.yml
  Resources/Prototypes/Maps/oasis.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31772 added AI to cog
  Resources/Maps/cog.yml
  Resources/Prototypes/Maps/cog.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31771 boxstation AI update
  Resources/Maps/box.yml
  Resources/Prototypes/Maps/box.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31774 Update Core
  Resources/Maps/core.yml
  Resources/Prototypes/Maps/core.yml
Labels: No C#, Changes: Map, Status: Needs Review

#31775 Oasis Update. I forgor law boards
  Resources/Maps/oasis.yml
Labels: No C#, Changes: Map

#31679 vox voices revamp
  Resources/Audio/Voice/Talk/vox.ogg
  Resources/Audio/Voice/Talk/vox_ask.ogg
  Resources/Audio/Voice/Talk/vox_exclaim.ogg
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: No C#, Undergoing Maintainer Discussion

#31778 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31773 fixed broken pipe sprites
  Resources/Textures/Structures/Piping/disposal.rsi/pipe-b.png
  Resources/Textures/Structures/Piping/disposal.rsi/pipe-bf.png
Labels: No C#, Changes: Sprites

#30963 Return Long2 and Long3 hairstyles
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/classiclong2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/classiclong3.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#31664 Added many old ion lawsets for borgs and AI.
  Resources/Locale/en-US/station-laws/laws.ftl
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/silicon-laws.yml
Labels: No C#, Status: Needs Review, Undergoing Maintainer Discussion

#31783 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31784 lox update
  Resources/Maps/Shuttles/emergency_lox.yml
Labels: No C#, Changes: Map

#31785 Meta
  Resources/Maps/meta.yml
  Resources/Prototypes/Maps/meta.yml
Labels: No C#, Changes: Map

#30765 Add Snails
  Content.Shared/Mobs/Systems/MobStateActionsSystem.cs
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Locale/en-US/species/species.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Mobs/Animals/snail.rsi/dead.png
  Resources/Textures/Mobs/Animals/snail.rsi/meta.json
  Resources/Textures/Mobs/Animals/snail.rsi/snail.png
  Resources/Textures/Mobs/Animals/snail.rsi/snoth.png
  Resources/Textures/Mobs/Animals/snail.rsi/snothdead.png
  Resources/Textures/Mobs/Animals/snail.rsi/spacedead.png
  Resources/Textures/Mobs/Animals/snail.rsi/spacesnail.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/escargot.png
  Resources/Textures/Objects/Consumable/Food/bowl.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/meat.rsi/snail-cooked.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/snail.png
Labels: Changes: Sprites, Status: Awaiting Changes, Undergoing Maintainer Discussion

#31793 Remove testbed command
  Resources/engineCommandPerms.yml
Labels: No C#, Status: Needs Review

#31170 feat: now when research is unlocked in console, approver of reasearch is radio-ed too
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Communications/CommunicationsConsoleSystem.cs
  Content.Server/CriminalRecords/Systems/CriminalRecordsConsoleSystem.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/IdentityManagement/TryGetIdentityShortInfoEvent.cs
  Content.Shared/Silicons/Borgs/SharedBorgSystem.cs
  Resources/Locale/en-US/research/components/research-console-component.ftl
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#30873 New chemical based artifact nodes
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/XenoArch/artifact_triggers.yml
Labels: No C#, Undergoing Maintainer Discussion

#31804 marathon update
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: No C#, Changes: Map

#31805 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#31806 Bagel
  Resources/Maps/bagel.yml
  Resources/Prototypes/Maps/bagel.yml
Labels: No C#, Changes: Map

#31808 omega update
  Resources/Maps/omega.yml
  Resources/Prototypes/Maps/omega.yml
Labels: No C#, Changes: Map

#31807 packed update
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/packed.yml
Labels: No C#, Changes: Map

#31811 Fixed typos
  Resources/Locale/en-US/station-laws/laws.ftl
Labels: No C#

#31815 Updated Cog (library time)
  Resources/Maps/cog.yml
  Resources/Prototypes/Maps/cog.yml
Labels: No C#, Changes: Map

#31794 Add disabled station anchors version
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
Labels: No C#

#31834 No Mr.Snail, I expect you to die! (fix sprite)
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
Labels: No C#

#31360 Allow some mobs to walk slowly
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Undergoing Maintainer Discussion

#31425 Delete nonsense solar assembly construction through the Construction window
  Resources/Prototypes/Entities/Objects/Devices/Electronics/power_electronics.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: No C#

#31357 make tesla brighter
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Labels: No C#, Status: Needs Review, Undergoing Maintainer Discussion

#30960 CorrectContraband levels on each type of magboots
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
Labels: No C#, Status: Needs Review

#30266 Make midround zombie outbreaks much rarer
  Resources/Prototypes/GameRules/events.yml
Labels: No C#, Status: Awaiting Changes, Undergoing Maintainer Discussion

#30741 quietify stealthbox
  Resources/Prototypes/Entities/Structures/Storage/Closets/big_boxes.yml
Labels: No C#, Undergoing Maintainer Discussion

#25938 Atmospheric alerts computer
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsComputerComponent.cs
  Content.Shared/Atmos/Consoles/Components/AtmosAlertsDeviceComponent.cs
  Content.Shared/Atmos/Consoles/SharedAtmosAlertsComputerSystem.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/fire_alarm.yml
  Resources/Textures/Interface/AtmosMonitoring/status_bg.png
Labels: Changes: UI, Status: Needs Review, Undergoing Maintainer Discussion

#31858 Day 0 bug fix for atmos alerts computer
  Content.Client/Atmos/Consoles/AtmosAlarmEntryContainer.xaml.cs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
Labels: Changes: UI, Status: Needs Review

#31861 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31859 Oasis Update (AI movin fast)
  Resources/Maps/oasis.yml
Labels: No C#, Changes: Map

#31730 Basically every electronic device can now be used by the AI.
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
  Resources/Prototypes/Entities/Structures/Machines/gravity_generator.yml
  Resources/Prototypes/Entities/Structures/Machines/jukebox.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/portable.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/unary.yml
  Resources/Prototypes/Entities/Structures/Shuttles/station_anchor.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/air_alarm.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: No C#, Status: Awaiting Changes, Undergoing Maintainer Discussion

#31856 Fix a typo in the 10 commandments
  Resources/Locale/en-US/station-laws/laws.ftl
Labels: No C#

#26297 feat: #26107 uplink discounts for traitors (no nukies for now)
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/Store/Ui/StoreListingControl.xaml
  Content.Client/Store/Ui/StoreListingControl.xaml.cs
  Content.Client/Store/Ui/StoreMenu.xaml.cs
  Content.IntegrationTests/Tests/StoreTests.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Store/Conditions/BuyBeforeCondition.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Refund.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Content.Server/StoreDiscount/Systems/StoreDiscountSystem.cs
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Content.Shared/Store/ListingPrototype.cs
  Content.Shared/Store/StoreUi.cs
  Content.Shared/StoreDiscount/Components/StoreDiscountComponent.cs
  Resources/Locale/en-US/administration/commands/add-uplink-command.ftl
  Resources/Locale/en-US/store/categories.ftl
  Resources/Locale/en-US/store/store.ftl
  Resources/Prototypes/Catalog/discount_categories.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Store/categories.yml
Labels: Changes: UI, Status: Needs Review, Undergoing Maintainer Discussion

#31823 Fixed AI Actions
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Shuttles/emergency_box.yml
  Resources/Maps/Shuttles/emergency_cluster.yml
  Resources/Maps/Shuttles/emergency_courser.yml
  Resources/Maps/Shuttles/emergency_delta.yml
  Resources/Maps/Shuttles/emergency_lox.yml
  Resources/Maps/Shuttles/emergency_meta.yml
  Resources/Maps/Shuttles/emergency_omega.yml
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/Shuttles/emergency_rod.yml
  Resources/Maps/Shuttles/emergency_wode.yml
  Resources/Prototypes/Actions/station_ai.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/screen.yml
  Resources/Textures/Interface/Actions/actions_ai.rsi/ai_core.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/camera_light.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/comms_console.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/crew_monitor.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/job_view.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/mass_scanner.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_ai.rsi/state_laws.png
  Resources/Textures/Interface/Actions/actions_ai.rsi/station_records.png
Labels: No C#, Changes: Map, Changes: Sprites, Status: Needs Review

#31738 A kit to help new botanists discover chemistry
  Resources/Locale/en-US/paper/paper-misc.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/Catalog/Fills/Paper/manuals.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Textures/Objects/Storage/boxes.rsi/agrichemkit.png
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
Labels: No C#, Changes: Sprites, Undergoing Maintainer Discussion

#31867 Board for the AI upload console
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#31869 Fix typo in agri-chem manual
  Resources/Locale/en-US/paper/paper-misc.ftl
Labels: No C#, Status: Awaiting Changes

#31838 Cleanup books.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
Labels: No C#

#31845 Vox sign/N2 locker update
  Resources/Prototypes/Entities/Structures/Storage/Closets/closets.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/closet.rsi/n2.png
  Resources/Textures/Structures/Storage/closet.rsi/n2_door.png
  Resources/Textures/Structures/Storage/closet.rsi/n2_open.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signs.rsi/vox.png
  Resources/Textures/Structures/Wallmounts/signs.rsi/voxcross.png
Labels: No C#, Changes: Sprites

#31883 Pizza boxes now have a chance to contain cotton pizza
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
Labels: No C#

#31764 Tech Anomaly
  Content.Server/Anomaly/Components/TechAnomalyComponent.cs
  Content.Server/Anomaly/Effects/TechAnomalySystem.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/cores.yml
  Resources/Textures/Effects/techanom_beam.rsi/beam.png
  Resources/Textures/Effects/techanom_beam.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/tech_core.rsi/core.png
  Resources/Textures/Structures/Specific/Anomalies/Cores/tech_core.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/Cores/tech_core.rsi/pulse.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/bg.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/bg_powered.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/meta.json
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/part1.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/part2.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/part3.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/part4.png
  Resources/Textures/Structures/Specific/Anomalies/tech_anom.rsi/pulse.png
Labels: Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#31889 Fixed throngler name inconsistencies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: No C#

#31390 Mineral Scanner
  Content.Client/Mining/MiningOverlay.cs
  Content.Client/Mining/MiningOverlaySystem.cs
  Content.Client/Mining/OreVeinVisualsComponent.cs
  Content.Server/Mining/MiningSystem.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Mining/Components/MiningScannerComponent.cs
  Content.Shared/Mining/Components/MiningScannerViewableComponent.cs
  Content.Shared/Mining/Components/MiningScannerViewerComponent.cs
  Content.Shared/Mining/Components/OreVeinComponent.cs
  Content.Shared/Mining/MiningScannerSystem.cs
  Content.Shared/Mining/OrePrototype.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/sonar-ping.ogg
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/scanner.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Recipes/Lathes/salvage.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/adv-o.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/adv.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/icon-o.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/mineral_scanner.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#31900 Fix ai upload console itemslot whitelist
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: No C#

#31798 improved vox laugh
  Resources/Audio/Voice/Vox/vox_laugh.ogg
Labels: No C#, Undergoing Maintainer Discussion

#31885 fix pump shotgun wielded sprite
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#31884 fix: Snail event wasnt tabled
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: No C#

#31893 Force stop pulling when fall asleep
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: Status: Needs Review

#31235 Energy Shotgun Change 2 - Narrow Nerf + instances from NoSpawn --> categories: [ HideSpawnMenu ] + self recharge removed + 1 more shot + normal recharge speed
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/traitor.yml
Labels: No C#, Undergoing Maintainer Discussion

#31905 Add justice helm
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Recipes/Construction/Graphs/clothing/helmet_justice.yml
  Resources/Prototypes/Recipes/Construction/clothing.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/icon-light.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/meta.json
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/justice.rsi/on-equipped-HELMET.png
Labels: No C#, Changes: Sprites

#31909 Delete RDs binary encryption key
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#30662 split temperature protection into heating and cooling
  Content.Server/Temperature/Components/TemperatureProtectionComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: Undergoing Maintainer Discussion

#31691 makes the maple wing marking have a primary and a secondary color
  Resources/Locale/en-US/markings/moth.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/moth.yml
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/maple.png
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/maple_primary.png
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/maple_secondary.png
  Resources/Textures/Mobs/Customization/Moth/moth_wings.rsi/meta.json
Labels: No C#, Changes: Sprites, Undergoing Maintainer Discussion

#29956 Remake bottles and syringes names to use labels
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#, Status: Awaiting Changes, Undergoing Maintainer Discussion

#31896 guide on agrichem and botanicals guidebook update
  Resources/Prototypes/Catalog/Fills/Boxes/service.yml
  Resources/Prototypes/Guidebook/chemicals.yml
  Resources/ServerInfo/Guidebook/ChemicalTabs/Botany.xml
  Resources/ServerInfo/Guidebook/Medical/Botanicals.xml
Labels: No C#

#31911 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31908 Remove Antimov and Overlord law boards from maps
  Resources/migration.yml
Labels: No C#

#31915 Lost evac pod thing tiny fan
  Resources/Maps/Shuttles/ShuttleEvent/disaster_evacpod.yml
Labels: No C#, Changes: Map

#31919 fix paper label whitelist
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
Labels: No C#, Status: Awaiting Changes

#31917 Update box disposals (jani rejoice)
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#31935 Updated cog (Maints edition)
  Resources/Locale/en-US/job/job-description.ftl
  Resources/Maps/cog.yml
  Resources/Prototypes/Maps/cog.yml
Labels: No C#, Changes: Map

#31934 uranium ammo mag being called rubber ammo mag fixed
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
Labels: No C#

#31933 fix wall closet storage range
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
Labels: No C#

#31930 fix flammable reagents deigniting you
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
Labels: Status: Needs Review

#31921 Damaged by contact fix
  Content.Shared/Damage/Systems/DamageContactsSystem.cs
Labels: Status: Needs Review

#31903 Returned functionality to industrial reagent grinders
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.Capabilities.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: Status: Needs Review

#31942 Update core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#30694 Biogenerator
  Content.Server/Materials/Components/ProduceMaterialExtractorComponent.cs
  Content.Server/Materials/ProduceMaterialExtractorSystem.cs
  Resources/Locale/en-US/lathe/components/lathe-component.ftl
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/biogen.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: Undergoing Maintainer Discussion

#31012 Metamorphosis - FoodSequence 3
  Content.Client/Nutrition/EntitySystems/ClientFoodSequenceSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Shared/Nutrition/Components/FoodMetamorphableByAddingComponent.cs
  Content.Shared/Nutrition/Components/FoodSequenceElementComponent.cs
  Content.Shared/Nutrition/Components/FoodSequenceStartPointComponent.cs
  Content.Shared/Nutrition/Events.cs
  Content.Shared/Nutrition/FoodMetamorphRules/FoodMetamorphRule.cs
  Content.Shared/Nutrition/Prototypes/FoodSequenceElementPrototype.cs
  Content.Shared/Nutrition/Prototypes/MetamorphRecipePrototype.cs
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/skewer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/leaves.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Prototypes/Recipes/Cooking/sequence_metamorph.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Species/Human/organs.rsi/brain.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/burger.rsi/screwed.png
  Resources/Textures/Objects/Consumable/Food/burger_sequence.rsi/bun_bottom.png
  Resources/Textures/Objects/Consumable/Food/burger_sequence.rsi/bun_top.png
  Resources/Textures/Objects/Consumable/Food/burger_sequence.rsi/cheese.png
  Resources/Textures/Objects/Consumable/Food/burger_sequence.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/skewer.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/skewer.rsi/skewer-tomato.png
  Resources/Textures/Objects/Consumable/Food/skewer.rsi/skewer-watermelon.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/beeftaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/beeftacosupreme.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/chickentaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/chickentacosupreme.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/fishtaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/taco.rsi/rattaco.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_back.png
  Resources/Textures/Objects/Consumable/Food/taco.rsi/tacoshell_forward.png
  Resources/Textures/Objects/Consumable/Food/taco_sequence.rsi/cheese.png
  Resources/Textures/Objects/Consumable/Food/taco_sequence.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/taco_sequence.rsi/rat.png
  Resources/Textures/Objects/Consumable/Food/taco_sequence.rsi/tacoshell_back.png
  Resources/Textures/Objects/Consumable/Food/taco_sequence.rsi/tacoshell_forward.png
  Resources/Textures/Objects/Specific/Hydroponics/pineapple.rsi/slice.png
Labels: Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#31944 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#31945 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#31947 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#31948 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#31949 omega update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#31950 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#30456 Add completions to addobjective and localize it
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Objectives/Commands/AddObjectiveCommand.cs
  Content.Server/Objectives/ObjectivesSystem.cs
  Resources/Locale/en-US/objectives/commands/addobjectives.ftl
Labels: Status: Needs Review

#31952 FTL + AI fixes
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLSmashImmuneComponent.cs
  Content.Shared/Shuttles/Components/NoFTLComponent.cs
  Resources/Prototypes/Entities/Markers/shuttle.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Status: Needs Review

#31957 Fixes being able to craft the justice helmet with a justice helmet
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
Labels: No C#

#31956 some securiby contra fixes
  Resources/Prototypes/Entities/Objects/Fun/whistles.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Tools/flashlights.yml
Labels: No C#

#31953 Make random sentience actually happen
  Resources/Prototypes/GameRules/events.yml
Labels: No C#

#31971 remove HatBase
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/migration.yml
Labels: No C#

#31968 Revert "FTL + AI fixes (#31952)"
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/Shuttles/Components/FTLSmashImmuneComponent.cs
  Content.Shared/Shuttles/Components/NoFTLComponent.cs
  Resources/Prototypes/Entities/Markers/shuttle.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: Status: Needs Review

#31847 Rings now give a small amout of gold / silver when scrapped
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/rings.yml
Labels: No C#, Status: Awaiting Changes, Undergoing Maintainer Discussion

#31046 Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#, Status: Needs Review, Undergoing Maintainer Discussion

#31975 Radiation blocker values for directional plasma and uranium windows
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: No C#

#31989 Corrects some typos in the uplink catalog, adjusts grammar
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: No C#

#31981 fix moffra antennae
  Resources/Textures/Mobs/Customization/Moth/moth_antennas.rsi/moffra.png
Labels: No C#, Changes: Sprites

#31907 Set Salamander Max Pop to 80
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: No C#, Status: Needs Review, Undergoing Maintainer Discussion

#31496 Extend shuttle dock time if the shuttle doesn't dock at evac.
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Commands/DockEmergencyShuttleCommand.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/Locale/en-US/shuttles/emergency.ftl
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#32008 make laid power cables more visible v2
  Resources/Prototypes/Entities/Structures/Power/cables.yml
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_0.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_1.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_10.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_11.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_12.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_13.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_14.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_15.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_2.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_3.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_4.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_5.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_6.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_7.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_8.png
  Resources/Textures/Structures/Power/Cables/hv_cable.rsi/hvcable_9.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_0.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_1.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_10.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_11.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_12.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_13.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_14.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_15.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_2.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_3.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_4.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_5.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_6.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_7.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_8.png
  Resources/Textures/Structures/Power/Cables/lv_cable.rsi/lvcable_9.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_0.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_1.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_10.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_11.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_12.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_13.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_14.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_15.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_2.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_3.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_4.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_5.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_6.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_7.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_8.png
  Resources/Textures/Structures/Power/Cables/mv_cable.rsi/mvcable_9.png
Labels: No C#, Changes: Sprites

#32006 Allow all bots to be used for chameleon projector
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#31997 Trooper Uniform and Hat
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/security_trooper_hat.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/meta.json
Labels: No C#, Changes: Sprites

#31890 fix dragon spawn location and round end summary
  Content.Server/Dragon/Components/DragonRuleComponent.cs
  Content.Server/GameTicking/Rules/Components/DragonRuleComponent.cs
  Content.Server/GameTicking/Rules/DragonRuleSystem.cs
  Resources/Locale/en-US/dragon/dragon.ftl
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Needs Review

#31978 Add easy window upgrading, fix some other window issues.
  Resources/Prototypes/Entities/Structures/Windows/clockwork.yml
  Resources/Prototypes/Entities/Structures/Windows/mining.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/window_diagonal.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windowdirectional.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Windows/cracks.rsi/DamageOverlay_10.png
  Resources/Textures/Structures/Windows/cracks.rsi/DamageOverlay_20.png
  Resources/Textures/Structures/Windows/cracks.rsi/DamageOverlay_5.png
  Resources/Textures/Structures/Windows/cracks.rsi/meta.json
  Resources/Textures/Structures/Windows/cracks_diagonal.rsi/DamageOverlay_10.png
  Resources/Textures/Structures/Windows/cracks_diagonal.rsi/DamageOverlay_20.png
  Resources/Textures/Structures/Windows/cracks_diagonal.rsi/DamageOverlay_5.png
  Resources/Textures/Structures/Windows/cracks_diagonal.rsi/meta.json
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_10.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_20.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/DamageOverlay_5.png
  Resources/Textures/Structures/Windows/cracks_directional.rsi/meta.json
Labels: No C#, Changes: Sprites

#29565 Nuke Now Requires the Disk to be Inserted to Toggle Anchor
  Content.Client/Nuke/NukeMenu.xaml.cs
  Content.Server/Nuke/NukeSystem.cs
  Resources/Locale/en-US/nuke/nuke-component.ftl
Labels: Changes: UI

#31739 Properly credit contributors who were truncated by GitHub API
  .github/workflows/update-credits.yml
  Tools/contribs_shared.ps1
  Tools/dump_github_contributors.ps1
Labels: No C#

#31524 clean up electronics lathe recipes
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#

#30794 Completes secure wiring across all airlocks and windoors
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
  Resources/Prototypes/Wires/layouts.yml
  Resources/Prototypes/tags.yml
Labels: No C#

#31491 Save unpublished news articles
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml
  Content.Client/MassMedia/Ui/ArticleEditorPanel.xaml.cs
  Content.Client/MassMedia/Ui/NewsWriterBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsWriterMenu.xaml.cs
  Content.Server/MassMedia/Components/NewsWriterComponent.cs
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Shared/MassMedia/Components/NewsWriterBuiMessages.cs
  Resources/Locale/en-US/mass-media/news-ui.ftl
Labels: Changes: UI

#31991 Special latejoin message for captain
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Status: Needs Review

#31865 Silly teal gloves for realsies this time :3
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
Labels: No C#, Undergoing Maintainer Discussion

#32018 Revert "Fix spawnpref"
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Spawners/EntitySystems/ContainerSpawnPointSystem.cs
Labels: Status: Needs Review

#32019 Adds Trooper Uniform to Loadouts
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: No C#

#31914 Renamed circuit boards to law boards
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, Undergoing Maintainer Discussion

#32037 Arrivals timer fix
  Resources/Prototypes/Entities/Structures/Wallmounts/screen.yml
Labels: No C#

#32045 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#31437 Removal of Maxcaps via cvar
  Content.Server/Atmos/EntitySystems/GasTankSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: Status: Needs Review, Atmos, Undergoing Maintainer Discussion

#32048 makes advanced atmospherics require the basic atmospherics tech
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#32051 Fixes some common iconsmoothing oddities
  Resources/Textures/Structures/Furniture/Tables/reinforced.rsi/state_7.png
  Resources/Textures/Structures/Walls/solid.rsi/meta.json
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_construct-5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over1.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over2.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over3.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over4.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over5.png
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over6.png
  Resources/Textures/Structures/Walls/solid.rsi/rgeneric.png
  Resources/Textures/Structures/Walls/solid.rsi/solid0.png
  Resources/Textures/Structures/Walls/solid.rsi/solid1.png
  Resources/Textures/Structures/Walls/solid.rsi/solid2.png
  Resources/Textures/Structures/Walls/solid.rsi/solid3.png
  Resources/Textures/Structures/Walls/solid.rsi/solid4.png
  Resources/Textures/Structures/Walls/solid.rsi/solid5.png
  Resources/Textures/Structures/Walls/solid.rsi/solid6.png
  Resources/Textures/Structures/Walls/solid.rsi/solid7.png
Labels: No C#, Changes: Sprites

#31996 Adds salvage magnet board to the circuit imprinter
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
Labels: No C#, Undergoing Maintainer Discussion

#32052 Revert Unknown Shuttle Antagonists
  Resources/Maps/Shuttles/ShuttleEvent/bang.yml
  Resources/Maps/Shuttles/ShuttleEvent/drone.yml
  Resources/Maps/Shuttles/ShuttleEvent/hook.yml
  Resources/Maps/Shuttles/ShuttleEvent/instigator.yml
  Resources/Maps/Shuttles/ShuttleEvent/manowar.yml
  Resources/Maps/Shuttles/ShuttleEvent/raider.yml
  Resources/Maps/Shuttles/ShuttleEvent/scooner.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: No C#, Changes: Map

#31638 Mining Asteroid Treasure Vaults
  Content.Server/Procedural/DungeonJob/DungeonJob.DunGenFill.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.cs
  Content.Shared/Procedural/DungeonGenerators/FillGridDunGen.cs
  Resources/Maps/Dungeon/vgroidinterior.yml
  Resources/Prototypes/Procedural/Themes/vgroidinterior.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/tags.yml
Labels: Changes: Map

#32057 Remove ERP from RD Figurine voiceline
  Resources/Locale/en-US/datasets/figurines.ftl
Labels: No C#

#31976 Add "X.A.N.A." as an AI name
  Resources/Prototypes/Datasets/Names/ai.yml
Labels: No C#, Undergoing Maintainer Discussion

#32021 Fix Station AI being affected by Bureaucratic Event
  Content.Server/StationEvents/Components/BureaucraticErrorRuleComponent.cs
  Content.Server/StationEvents/Events/BureaucraticErrorRule.cs
  Resources/Prototypes/GameRules/events.yml
Labels: Status: Awaiting Changes

#31965 Reduced atmos canister sell price
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: No C#, Undergoing Maintainer Discussion

#31322 Hivelord mob
  Content.Shared/Atmos/Rotting/PerishableComponent.cs
  Content.Shared/Atmos/Rotting/SharedRottingSystem.cs
  Content.Shared/Damage/Components/IgnoreSlowOnDamageComponent.cs
  Content.Shared/Damage/Systems/SlowOnDamageSystem.cs
  Content.Shared/Weapons/Ranged/Components/RechargeBasicEntityAmmoComponent.cs
  Content.Shared/Weapons/Ranged/Systems/RechargeBasicEntityAmmoSystem.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/spawners.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_alert.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_alert_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_dead.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_dead_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelord_nocore.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/hivelordbrood.png
  Resources/Textures/Mobs/Aliens/Asteroid/hivelord.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/boiled.png
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/icon.png
  Resources/Textures/Objects/Consumable/Food/rorocore.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review
