Repository space-wizards/space-station-14, pull requests merged in 2024-08, with the labels that each got.

#30426 Update RespiratorSystem.cs to not use Component.Owner
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: Status: Needs Review

#30544 Remove obsolete code from VomitSystem
  Content.Server/Medical/VomitSystem.cs
Labels: Status: Needs Review

#30419 Meteors now leave behind a bit of ore
  Content.Server/Destructible/Thresholds/Behaviors/WeightedSpawnEntityBehavior.cs
  Content.Server/Spawners/EntitySystems/SpawnOnDespawnSystem.cs
  Resources/Prototypes/Entities/Markers/Spawners/temp.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: Status: Needs Review

#29898 Change Social Anxiety ----> Stutter
  Resources/Locale/en-US/traits/traits.ftl
Labels: No C#

#29958 Adds hand labelers to the ChemDrobe, LawDrobe, and PTech
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
Labels: No C#, Merge Conflict

#30476 Add support for printing reagents in lathes
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Lathe/UI/RecipeControl.xaml
  Content.Client/Lathe/UI/RecipeControl.xaml.cs
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
  Content.Server/Cargo/Systems/PricingSystem.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Server/UserInterface/StatValuesCommand.cs
  Content.Shared/Construction/MachinePartSystem.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Research/Prototypes/LatheRecipePrototype.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
  Content.Shared/Research/TechnologyDisk/Systems/TechnologyDiskSystem.cs
  Resources/Locale/en-US/lathe/recipes.ftl
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: Changes: UI

#30431 Cutter machine & steel mozaic item tiles
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/cutter.ogg
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/concrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/dark.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/grayconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/oldconcrete-smooth.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/steel.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-diagonal.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-herringbone.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mini.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-mono.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-offset.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement-vertical.png
  Resources/Textures/Objects/Tiles/tile.rsi/white-pavement.png
  Resources/Textures/Objects/Tiles/tile.rsi/white.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/building.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/icon.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/meta.json
  Resources/Textures/Structures/Machines/cuttermachine.rsi/panel.png
  Resources/Textures/Structures/Machines/cuttermachine.rsi/unlit.png
Labels: No C#, Changes: Sprites

#30556 added paramedic to train
  Resources/Maps/train.yml
  Resources/Prototypes/Maps/train.yml
Labels: No C#, Changes: Map

#30534 Update Marathon
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#30547 Remove cubes from nukie outpost.
  Resources/Maps/Nonstations/nukieplanet.yml
Labels: No C#, Changes: Map

#30501 Detective's closet now has a hand labeler
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
Labels: No C#

#30464 add(TransferAmountWindow): QoL stuff
  Content.Client/Chemistry/UI/TransferAmountBoundUserInterface.cs
  Content.Client/Chemistry/UI/TransferAmountWindow.xaml
  Content.Client/Chemistry/UI/TransferAmountWindow.xaml.cs
  Resources/Locale/en-US/chemistry/components/solution-transfer-component.ftl
Labels: Changes: UI

#29965 Update MoverController.cs to not use Component.Owner
  Content.Client/Movement/Systems/SpriteMovementSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Shared/Movement/Events/MoveInputEvent.cs
  Content.Shared/Movement/Systems/SharedMoverController.Input.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
Labels: Status: Needs Review

#30564 susbox locale fix
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: No C#

#30519 Show the player a server message when they get booted from the arrivals shuttle
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Resources/Locale/en-US/game-ticking/game-ticker.ftl
Labels: Status: Needs Review

#30117 Revolver fixes for caseless ammo and wielding
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Revolver.cs
Labels: Status: Needs Review

#29199 Adjusts the lethality of meteor explosions
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: No C#

#29248 add flash bounty for revs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: No C#

#30508 WRU and FS autocompletion
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#

#30283 Add PR guidelines checkbox to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No C#

#30504 Adjusts the Bingus steal target to include any of the named cats
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: No C#

#30498 Remove duplicate cartridge rsi
  Resources/Textures/Objects/Devices/cartridge.rsi/cart-ord.png
  Resources/Textures/Objects/Devices/cartridge.rsi/insert_overlay.png
  Resources/Textures/Objects/Devices/cartridge.rsi/meta.json
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-a.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-b.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-c.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-ce.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-chem.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-clown.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-cmo.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-e.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-eye.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-h.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-hos.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-j.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-lib.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-m.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-mi.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-q.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-rd.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-s.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart-tear.png
  Resources/Textures/Objects/Devices/cartridges.rsi/cart.png
  Resources/Textures/Objects/Devices/cartridges.rsi/meta.json
Labels: No C#, Changes: Sprites

#30319 Add DoAfter handling to `InteractWithOperator`
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Interactions/InteractWithOperator.cs
Labels: Status: Needs Review

#30000 Deploy foldable
  Content.Shared/Foldable/DeployFoldableComponent.cs
  Content.Shared/Foldable/DeployFoldableSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/rollerbeds.yml
  Resources/Prototypes/Entities/foldable.yml
Labels: Status: Needs Review

#30402 Allow ai to understand if its handcuffed.
  Content.Server/NPC/HTN/Preconditions/HandcuffedPrecondition.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Status: Needs Review

#30568 'Spawn Here' Verb Forces Mind Transfer
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: Status: Needs Review

#28865 Add "fill levels" to spear in-hand/wielded/equipped sprites
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Shared/Chemistry/Components/SolutionContainerVisualsComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Melee/spear.yml
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/bone_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/plasma_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/reinforced_spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/spear.rsi/wielded-inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-back-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Melee/uranium_spear.rsi/wielded-inhand-right-fill-1.png
Labels: Changes: Sprites

#30460 apc touchup sprite
  Resources/Textures/Structures/Power/apc.rsi/base.png
  Resources/Textures/Structures/Power/apc.rsi/broken.png
  Resources/Textures/Structures/Power/apc.rsi/display-charging.png
  Resources/Textures/Structures/Power/apc.rsi/display-full.png
  Resources/Textures/Structures/Power/apc.rsi/display-lack.png
  Resources/Textures/Structures/Power/apc.rsi/display-remote.png
  Resources/Textures/Structures/Power/apc.rsi/emag-unlit.png
  Resources/Textures/Structures/Power/apc.rsi/frame.png
  Resources/Textures/Structures/Power/apc.rsi/static.png
Labels: No C#, Changes: Sprites

#30560 Remove obsolete code from Food, Drink and Respirator systems.
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
Labels: Status: Needs Review

#30571 make the digital audio workstation rotatable
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_structures.yml
Labels: No C#

#30575 Use EntityQuery for footstep modifier and map grid in SharedMoverController
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Status: Needs Review

#30562 Debug command to make you thirsty
  Content.Server/Nutrition/Thirsty.cs
  Resources/Locale/en-US/nutrition/nutrition-commands.ftl
Labels: Status: Needs Review

#27454 Add haloperidol, potassium iodide
  Content.Client/Drowsiness/DrowsinessOverlay.cs
  Content.Client/Drowsiness/DrowsinessSystem.cs
  Content.Server/Drowsiness/DrowsinessSystem.cs
  Content.Server/Radiation/Components/RadiationProtectionComponent.cs
  Content.Server/Radiation/Systems/RadiationProtectionSystem.cs
  Content.Shared/Damage/Components/DamageProtectionBuffComponent.cs
  Content.Shared/Damage/Systems/DamageProtectionBuffSystem.cs
  Content.Shared/Drowsiness/DrowsinessComponent.cs
  Content.Shared/Drowsiness/DrowsinessSystem.cs
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
  Resources/Prototypes/Reagents/Consumable/Drink/soda.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Shaders/radial_blur.swsl
Labels: Status: Awaiting Changes, Changes: Shaders

#30584 Marathon had extra pipes under windows
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#30572 Packed Singulo Substation & Chemistry Windoors
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#30585 Toxins Guidebook spelling mistakes
  Resources/Locale/en-US/reagents/meta/toxins.ftl
Labels: No C#

#30350 Recolor winter boots
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterboots.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootscargo.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsengi.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsmed.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssci.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssec.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootssyndicate.rsi/meta.json
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/winterbootsweb.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#30589 Add Ngl to chatsan
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#

#27773 Shotgun spread refactor
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Projectiles/ProjectileSpreadComponent.cs
  Content.Shared/Weapons/Ranged/Components/AmmoComponent.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/explosives.yml
Labels: Status: Awaiting Changes

#30430 Made the dank pizza actually dank
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: No C#

#30195 Docking ports now block air only in the direction their port is.
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
Labels: No C#

#30612 Fix a typo in the raid suit's description
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
Labels: No C#

#23427 Add mapping editor
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Commands/ActionsCommands.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/ContextMenu/UI/ContextMenuUIController.cs
  Content.Client/Decals/Overlays/DecalPlacementOverlay.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Mapping/MappingActionsButton.xaml
  Content.Client/Mapping/MappingActionsButton.xaml.cs
  Content.Client/Mapping/MappingDoNotMeasure.xaml
  Content.Client/Mapping/MappingDoNotMeasure.xaml.cs
  Content.Client/Mapping/MappingManager.cs
  Content.Client/Mapping/MappingOverlay.cs
  Content.Client/Mapping/MappingPrototype.cs
  Content.Client/Mapping/MappingPrototypeList.xaml
  Content.Client/Mapping/MappingPrototypeList.xaml.cs
  Content.Client/Mapping/MappingScreen.xaml
  Content.Client/Mapping/MappingScreen.xaml.cs
  Content.Client/Mapping/MappingSpawnButton.xaml
  Content.Client/Mapping/MappingSpawnButton.xaml.cs
  Content.Client/Mapping/MappingState.cs
  Content.Client/Mapping/MappingSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Client/Verbs/UI/VerbMenuUIController.cs
  Content.IntegrationTests/Tests/MappingEditorTest.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Server/Mapping/MappingManager.cs
  Content.Shared/Decals/DecalPrototype.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Mapping/MappingMapDataMessage.cs
  Content.Shared/Mapping/MappingSaveMapErrorMessage.cs
  Content.Shared/Mapping/MappingSaveMapMessage.cs
  Resources/Locale/en-US/mapping/editor.ftl
  Resources/Textures/Interface/eraser.svg
  Resources/Textures/Interface/eraser.svg.png
  Resources/Textures/Interface/eyedropper.svg
  Resources/Textures/Interface/eyedropper.svg.png
  Resources/keybinds.yml
Labels: Changes: UI, Status: Awaiting Changes

#30462 added relevant guides to help menus
  Resources/Prototypes/Body/Parts/silicon.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Misc/handcuffs.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/disease.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/endoskeleton.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
  Resources/Prototypes/Entities/Structures/meat_spike.yml
Labels: No C#, Status: Needs Review

#30622 Don't show toggle internals verb if no breath tools are found while off
  Content.Server/Body/Systems/InternalsSystem.cs
Labels: Status: Needs Review

#30583 replace all uses of TryGetContainingContainer with non-obsolete overload
  Content.Client/Commands/HideMechanismsCommand.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Client/Items/Systems/ItemSystem.cs
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Server/Atmos/Rotting/RottingSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/PowerCell/PowerCellSystem.cs
  Content.Server/Resist/EscapeInventorySystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Shared/Body/Systems/SharedBodySystem.Organs.cs
  Content.Shared/Body/Systems/SharedBodySystem.Parts.cs
  Content.Shared/Clothing/ClothingSpeedModifierSystem.cs
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/Damage/Systems/DamageOnHoldingSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Item/SharedItemSystem.cs
  Content.Shared/Materials/SharedMaterialReclaimerSystem.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Clothing.cs
Labels: Changes: UI, Status: Needs Review

#30594 Give rotten meat `Trash` and `Recyclable` tag
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#

#30652 Meta Robotics Console
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#30635 Cluster Christmas Removal
  Resources/Maps/cluster.yml
Labels: No C#, Changes: Map

#30633 Update Core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#30610 Box Atmos Miners Grille Removal
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#30651 fml to chatsan
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: No C#

#30641 tweak(grammar): Correct multiple instances of incorrect "it's" usage
  Resources/Locale/en-US/administration/admin-verbs.ftl
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
Labels: No C#, Status: Needs Review

#30650 Fix GhostRoleRadio icons
  Content.Client/Ghost/GhostRoleRadioBoundUserInterface.cs
  Content.Client/Ghost/GhostRoleRadioMenu.xaml.cs
Labels: Changes: UI

#30661 Fix falsely showing damage color effect to entities that aren't allowed to be attacked
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#30644 Fix some descriptions
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Decoration/flora.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/cannons.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/particle_accelerator.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/atmos_alarms.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/intercom.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/triggers.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/forensic_scanner.yml
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_string.yml
  Resources/Prototypes/Entities/Objects/Fun/darts.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Power/portable_recharger.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Entities/Objects/Specific/Chapel/urn.yml
  Resources/Prototypes/Entities/Objects/Specific/Librarian/books_bag.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/barber.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/HMGs/hmgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/magic.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/turrets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/pickaxe.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/bombs.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/signs.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/shelfs.yml
  Resources/Prototypes/Entities/Structures/Walls/grille.yml
  Resources/Prototypes/Entities/Tiles/basalt.yml
Labels: No C#

#30495 Improve communications console countdown formatting
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
Labels: Changes: UI

#30022 Gets rid of all leftover usages of IEyeManager.CurrentMap
  Content.Client/Administration/AdminNameOverlay.cs
Labels: Status: Needs Review

#30487 Give Mice Combat Mode and a 0 Damage Attack
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#30253 Fix warnings in ShuttleSystem.GridFill.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
Labels: Status: Needs Review

#30592 Move PaperSystem to Shared
  Content.Client/Paper/PaperComponent.cs
  Content.Client/Paper/UI/PaperBoundUserInterface.cs
  Content.Client/Paper/UI/PaperVisualizerSystem.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Client/Tips/TippyUI.xaml.cs
  Content.Client/Tips/TippyUIController.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/Paper/PaperComponent.cs
  Content.Server/Paper/PaperRandomStorySystem.cs
  Content.Server/Paper/PaperSystem.cs
  Content.Server/Xenoarchaeology/Equipment/Systems/ArtifactAnalyzerSystem.cs
  Content.Shared/Paper/ActivateOnPaperOpenedComponent.cs
  Content.Shared/Paper/PaperComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Changes: UI, Status: Awaiting Changes

#30347 JobRequirement refactor
  Content.Client/LateJoin/LateJoinGui.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/GhostRolesEui.cs
  Content.Server/Players/PlayTimeTracking/PlayTimeTrackingSystem.cs
  Content.Shared/Preferences/Loadouts/Effects/JobRequirementLoadoutEffect.cs
  Content.Shared/Roles/DepartmentPrototype.cs
  Content.Shared/Roles/JobRequirement/AgeRequirement.cs
  Content.Shared/Roles/JobRequirement/DepartmentTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/OverallPlaytimeRequirement.cs
  Content.Shared/Roles/JobRequirement/RoleTimeRequirement.cs
  Content.Shared/Roles/JobRequirement/SpeciesRequirement.cs
  Content.Shared/Roles/JobRequirements.cs
  Resources/Locale/en-US/job/role-requirements.ftl
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Roles/Jobs/Science/research_director.yml
  Resources/Prototypes/Roles/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: UI, Status: Needs Review

#30404 Restore the longer traitor briefing message
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
Labels: Status: Needs Review

#30341 De-duplicate loadout gear
  Content.Client/Lobby/LobbyUIController.cs
  Content.IntegrationTests/Tests/Preferences/LoadoutTests.cs
  Content.IntegrationTests/Tests/Roles/StartingGearStorageTests.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Content.Shared/Preferences/Loadouts/LoadoutPrototype.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/Roles/StartingGearPrototype.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/salvage_specialist.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/chef.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/clown.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/janitor.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/lawyer.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/librarian.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/mime.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/musician.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Prototypes/Loadouts/Jobs/Command/captain.yml
  Resources/Prototypes/Loadouts/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/chief_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Loadouts/Jobs/Engineering/technical_assistant.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chemist.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/chief_medical_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/medical_intern.yml
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/Jobs/Science/research_director.yml
  Resources/Prototypes/Loadouts/Jobs/Science/scientist.yml
  Resources/Prototypes/Loadouts/Jobs/Security/detective.yml
  Resources/Prototypes/Loadouts/Jobs/Security/head_of_security.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_cadet.yml
  Resources/Prototypes/Loadouts/Jobs/Security/security_officer.yml
  Resources/Prototypes/Loadouts/Jobs/Security/warden.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/reporter.yml
  Resources/Prototypes/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/Loadouts/Miscellaneous/instruments.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
Labels: Status: Needs Review

#30639 Change the mimebot and killer tomato's descriptions
  Resources/Prototypes/Entities/Mobs/NPCs/miscellaneous.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#

#30616 add(Spawners): Add a honk bot spawner
  Resources/Prototypes/Entities/Markers/Spawners/mobs.yml
Labels: No C#

#30563 Debug command to set either your hunger or thirst to one of their respective threshold levels
  Content.Server/Nutrition/SetNutrit.cs
  Resources/Locale/en-US/nutrition/nutrition-commands.ftl
Labels: Status: Needs Review

#29948 Fix random unused field warnings
  Content.Server/Antag/Components/AntagImmuneComponent.cs
  Content.Server/Station/Systems/StationJobsSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
Labels: Status: Needs Review

#30446 Change Thief Syndie & Chameleon kit contents, add Syndie codeword paper
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Components/TraitorCodePaperComponent.cs
  Content.Server/Traitor/Systems/TraitorCodePaperSystem.cs
  Resources/Locale/en-US/thief/backpack.ftl
  Resources/Locale/en-US/traitor/traitor-codes-component.ftl
  Resources/Prototypes/Catalog/thief_toolbox_sets.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: Status: Needs Review

#29692 Add slowdown to low temperatures
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Temperature/Components/TemperatureComponent.cs
  Content.Server/Temperature/Systems/TemperatureSystem.cs
  Content.Shared/Temperature/Components/TemperatureSpeedComponent.cs
  Content.Shared/Temperature/Systems/SharedTemperatureSystem.cs
  Content.Shared/Temperature/TemperatureEvents.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: Status: Awaiting Changes

#29969 tweak(SolutionTransfer): Raise default max transfer amount.
  Content.Shared/Chemistry/Components/SolutionTransferComponent.cs
Labels: No C#

#30687 Fix admin logs cache caching rounds forever if multiple game servers are ran on the same db
  Content.Server/Administration/Logs/AdminLogManager.Cache.cs
Labels: Status: Needs Review

#30697 add(reach): Add a space cleaner dispenser to flands janitoral department
  Resources/Maps/reach.yml
Labels: No C#, Changes: Map

#30693 add(emergency_omega): Add defib to medical treatment area
  Resources/Maps/Shuttles/emergency_omega.yml
Labels: No C#, Changes: Map

#30696 Make biofab distinct from biogen
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#30682 Add comment into jetpack system, to prevent future grid jetpack PRs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
Labels: Status: Needs Review

#29783 Vox nukies and ninjafix
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Shared/Clothing/LoadoutSystem.cs
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Antags/ninja.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
Labels: Status: Needs Review

#30574 Add whitelist to cryostorage
  Content.Shared/Bed/Cryostorage/CanEnterCryostorageComponent.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: Status: Needs Review

#30029 Replace xform.WorldPosition with xformSystem method for Setting/Getting
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Fluids/PuddleOverlay.cs
  Content.Client/Interaction/DragDropSystem.cs
  Content.Client/Maps/GridDraggingSystem.cs
  Content.Client/NPC/HTN/HTNOverlay.cs
  Content.Client/NPC/NPCSteeringSystem.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorLinkOverlay.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Stealth/StealthSystem.cs
  Content.Client/Tabletop/TabletopSystem.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
  Content.Client/Weapons/Melee/MeleeWeaponSystem.Effects.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Commands/CommandUtils.cs
  Content.Server/DeviceNetwork/Systems/WirelessNetworkSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Maps/GridDraggingSystem.cs
  Content.Server/Mech/Equipment/EntitySystems/MechGrabberSystem.cs
  Content.Server/Movement/StressTestMovementSystem.cs
  Content.Server/Pointing/EntitySystems/RoguePointingSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldSystem.cs
  Content.Server/Solar/EntitySystems/PowerSolarSystem.cs
  Content.Server/Worldgen/Systems/BaseWorldSystem.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/ThrowArtifactSystem.cs
  Content.Shared/Construction/Conditions/WallmountCondition.cs
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: Status: Needs Review

#30699 Vox head displacement map
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/head.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#29255 fix(emergency_meta): Lock the doors on evac shuttle
  Resources/Maps/Shuttles/emergency_meta.yml
Labels: No C#, Changes: Map

#30714 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#30716 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#30721 train update
  Resources/Maps/train.yml
  Resources/Prototypes/Maps/train.yml
Labels: No C#, Changes: Map

#30725 Add more storage admin logs & fix some interaction validation
  Content.Shared.Database/LogType.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: Status: Needs Review

#30727 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#30702 Vox Medical Mask sprite fix
  Resources/Textures/Clothing/Mask/medical.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/medical.rsi/up-equipped-MASK-vox.png
Labels: No C#, Changes: Sprites

#30728 Replace IClickAlert with events
  Content.Client/Alerts/ClientAlertsSystem.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Alert/Click/BreakVow.cs
  Content.Server/Alert/Click/RemoveCuffs.cs
  Content.Server/Alert/Click/RemoveEnsnare.cs
  Content.Server/Alert/Click/ResistFire.cs
  Content.Server/Alert/Click/RetakeVow.cs
  Content.Server/Alert/Click/StopBeingPulled.cs
  Content.Server/Alert/Click/StopPiloting.cs
  Content.Server/Alert/Click/StopPulling.cs
  Content.Server/Alert/Click/ToggleInternals.cs
  Content.Server/Alert/Click/Unbuckle.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/Body/Components/InternalsComponent.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Abilities/Mime/MimePowers.cs
  Content.Shared/Alert/AlertPrototype.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Alert/IAlertClick.cs
  Content.Shared/Atmos/Components/ExtinguishOnInteractComponent.cs
  Content.Shared/Buckle/Components/BuckleComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Cuffs/Components/CuffableComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Ensnaring/Components/EnsnareableComponent.cs
  Content.Shared/Internals/InternalsDoAfterEvent.cs
  Content.Shared/Movement/Pulling/Components/PullableComponent.cs
  Content.Shared/Movement/Pulling/Components/PullerComponent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
  Content.Shared/Shuttles/Components/PilotComponent.cs
  Resources/Prototypes/Alerts/alerts.yml
Labels: Status: Needs Review

#30658 Space Dragons can't be flashed
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#

#30730 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#30731 martathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#29746 Updated remaining ghostroles for species loadouts
  Content.Shared/Clothing/Components/LoadoutComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Status: Needs Review

#30729 Rename mining walls as "mining walls"
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#30672 Fix warning cone rotation in inventory
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
Labels: No C#

#29772 butter is slippery
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: No C#, Status: Needs Review

#30653 Add more advertisements
  Resources/Locale/en-US/advertisements/vending/atmosdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/chefdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/chemdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/donut.ftl
  Resources/Locale/en-US/advertisements/vending/hydrobe.ftl
  Resources/Locale/en-US/advertisements/vending/janidrobe.ftl
  Resources/Locale/en-US/advertisements/vending/lawdrobe.ftl
  Resources/Locale/en-US/advertisements/vending/medidrobe.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
Labels: No C#

#30480 Add verbose (client predicted!) examine text to Gas Miners
  Content.Client/Atmos/EntitySystems/GasMinerSystem.cs
  Content.Server/Atmos/EntitySystems/GasMinerSystem.cs
  Content.Server/Atmos/Piping/Other/Components/GasMinerComponent.cs
  Content.Server/Atmos/Piping/Other/EntitySystems/GasMinerSystem.cs
  Content.Shared/Atmos/Components/GasMinerComponent.cs
  Content.Shared/Atmos/EntitySystems/SharedGasMinerSystem.cs
  Resources/Locale/en-US/atmos/gas-miner-component.ftl
Labels: Status: Needs Review

#30724 Remove obsolete occurrences of IComponent.Owner being assigned just before AddComponent
  Content.Server/Explosion/EntitySystems/TwoStageTriggerSystem.cs
  Content.Server/Humanoid/Systems/RandomHumanoidSystem.cs
  Content.Server/Jobs/AddComponentSpecial.cs
  Content.Server/Worldgen/Prototypes/BiomePrototype.cs
  Content.Server/Worldgen/Prototypes/WorldgenConfigPrototype.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
  Content.Shared/Magic/SharedMagicSystem.cs
Labels: Status: Needs Review

#30551 Improved Spanish accent
  Content.Server/Speech/AccentSystem.cs
  Content.Server/Speech/Components/FrenchAccentComponent.cs
  Content.Server/Speech/Components/SpanishAccentComponent.cs
  Content.Server/Speech/EntitySystems/FrenchAccentSystem.cs
  Content.Server/Speech/EntitySystems/SpanishAccentSystem.cs
Labels: Status: Awaiting Changes

#28218 remove GenericAntag completely
  Content.Server/GameTicking/Rules/Components/GenericAntagRuleComponent.cs
  Content.Server/GameTicking/Rules/GenericAntagRuleSystem.cs
  Content.Server/GenericAntag/GenericAntagComponent.cs
  Content.Server/GenericAntag/GenericAntagSystem.cs
Labels: Status: Needs Review

#30397 ai stays seated and pulled while cuffed.
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnPullOperator.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/UnbuckleOperator.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
Labels: Status: Awaiting Changes

#29217 more consistent CentComm naming
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/headset/headset-component.ftl
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Locale/en-US/paper/stamp-component.ftl
  Resources/Locale/en-US/prayers/prayers.ftl
  Resources/Locale/en-US/shuttles/emergency.ftl
  Resources/Maps/atlas.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Datasets/ion_storm.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Player/ratvar.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/bedsheets.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Misc/rubber_stamp.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/ServerInfo/Guidebook/Glossary.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR3NormalRP.xml
Labels: No C#, Changes: Map, Status: Needs Review

#30660 Buff EMP implant and grenade range
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#28914 Teleport and delete buttons in objects tab.
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabEntry.xaml
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabEntry.xaml.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabHeader.xaml
  Resources/Locale/en-US/administration/ui/tabs/object-tab.ftl
Labels: Changes: UI, Status: Needs Review

#30361 Add BreakOnDropItem, update do afters, remove unnecessary declarations
  Content.Server/Botany/Systems/BotanySwabSystem.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Disposal/Unit/EntitySystems/DisposalUnitSystem.cs
  Content.Server/Ensnaring/EnsnareableSystem.Ensnaring.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Kitchen/EntitySystems/KitchenSpikeSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Server/Medical/BiomassReclaimer/BiomassReclaimerSystem.cs
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Server/Resist/ResistLockerSystem.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Server/Sticky/Systems/StickySystem.cs
  Content.Shared/Burial/BurialSystem.cs
  Content.Shared/DoAfter/DoAfterArgs.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Magic/SpellbookSystem.cs
  Content.Shared/Salvage/Fulton/SharedFultonSystem.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.Restock.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: PR: Approved

#30788 Fix for issue #30781
  Resources/Prototypes/Entities/Clothing/Uniforms/ship_vs_ship.yml
Labels: No C#

#30795 Remove suspect figurine line
  Resources/Locale/en-US/datasets/figurines.ftl
  Resources/Prototypes/Datasets/figurines.yml
Labels: No C#

#30797 train update
  Resources/Maps/train.yml
Labels: No C#, Changes: Map

#30671 Add RD labcoat in RD's dresser
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
Labels: No C#

#26699 Better DNA forensics & ReagentData
  Content.Client/Forensics/ForensicScannerMenu.xaml.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Chemistry/EntitySystems/VaporSystem.cs
  Content.Server/Chemistry/TileReactions/CleanDecalsReaction.cs
  Content.Server/Chemistry/TileReactions/CleanTileReaction.cs
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
  Content.Server/Chemistry/TileReactions/ExtinguishTileReaction.cs
  Content.Server/Chemistry/TileReactions/FlammableTileReaction.cs
  Content.Server/Chemistry/TileReactions/PryTileReaction.cs
  Content.Server/Chemistry/TileReactions/SpillIfPuddlePresentTileReaction.cs
  Content.Server/Chemistry/TileReactions/SpillTileReaction.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Fluids/EntitySystems/SmokeSystem.cs
  Content.Server/Forensics/Components/DnaSubstanceTraceComponent.cs
  Content.Server/Forensics/Components/ForensicScannerComponent.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Shared/Chemistry/Components/Solution.cs
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
  Content.Shared/Chemistry/Reaction/ITileReaction.cs
  Content.Shared/Chemistry/Reagent/DNAData.cs
  Content.Shared/Chemistry/Reagent/ReagentId.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Chemistry/Reagent/ReagentQuantity.cs
  Content.Shared/Forensics/Events.cs
  Content.Shared/Forensics/ForensicScannerEvent.cs
  Resources/Locale/en-US/forensics/forensics.ftl
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks-cartons.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cups.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/trash_drinks.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/chemical-containers.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/tags.yml
Labels: Changes: UI, Changes: Map, Status: Needs Review

#30762 Scrap
  Resources/Prototypes/Entities/Objects/Materials/scrap.yml
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/airlock-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/airlock-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/closet-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/closet-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/firelock-1-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/firelock-1-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/firelock-2-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/firelock-2-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-3.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-4.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-5.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-6.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/glass-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/jetpack-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/jetpack-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-airlock-3.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-bucket.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-camera.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-canister-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-canister-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-closet.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-fax.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-fireextinguisher.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-firelock-3.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-intercom-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-intercom-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-intercom-3.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-jetpack.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-medkit-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-medkit-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-mop-bucket.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-pai-gold.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-pai.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/junk-target.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/meta.json
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/metal-1.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/metal-2.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/metal-3.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/metal-inhand-left.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/metal-inhand-right.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube-bk.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube-bl.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube-g.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube-r.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube-y.png
  Resources/Textures/Objects/Materials/Scrap/generic.rsi/tube.png
Labels: No C#, Changes: Sprites

#30789 Add butter slices
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/butter-slice.png
  Resources/Textures/Objects/Consumable/Food/ingredients.rsi/meta.json
Labels: No C#, Changes: Sprites

#29396 Secret stash refractor
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Shared/Plants/PottedPlantHideComponent.cs
  Content.Shared/Plants/PottedPlantHideSystem.cs
  Content.Shared/Storage/Components/SecretStashComponent.cs
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
  Content.Shared/Tools/Components/ToolOpenableComponent.cs
  Content.Shared/Tools/Systems/ToolOpenableSystem.cs
  Resources/Locale/en-US/storage/components/secret-stash-component.ftl
  Resources/Locale/en-US/tools/components/tool-openable-component.ftl
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: Status: Needs Review

#29383 offgrid mob friction
  Content.Shared/Movement/Components/MovementSpeedModifierComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: Status: Needs Review

#30244 Create Generic DamageOnInteract/Attacked Comps/Systems
  Content.Server/Clothing/Components/GloveHeatResistanceComponent.cs
  Content.Server/Light/Components/PoweredLightComponent.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
  Content.Shared/Damage/Components/DamageOnAttackedComponent.cs
  Content.Shared/Damage/Components/DamageOnAttackedProtectionComponent.cs
  Content.Shared/Damage/Components/DamageOnInteractComponent.cs
  Content.Shared/Damage/Components/DamageOnInteractProtectionComponent.cs
  Content.Shared/Damage/Systems/DamageOnAttackedSystem.cs
  Content.Shared/Damage/Systems/DamageOnInteractSystem.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/behonker.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/ground_lighting.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/service_light.yml
Labels: Status: Needs Review

#30238 Implement a playerpanel
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Server/Administration/Commands/PlayerPanelCommand.cs
  Content.Server/Administration/PlayerPanelEui.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Content.Shared/Administration/PlayerPanelEuiState.cs
  Resources/Locale/en-US/administration/ui/actions.ftl
  Resources/Locale/en-US/administration/ui/player-panel.ftl
  Resources/Locale/en-US/connection-messages.ftl
  Resources/Locale/en-US/info/playerpanel.ftl
Labels: Changes: UI, Status: Awaiting Changes

#30745 require the warden to notify admins on disconnect
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: No C#

#30593 Add minimum required trigger speed to mouse traps
  Resources/Prototypes/Entities/Objects/Devices/mousetrap.yml
Labels: No C#

#28942 Create In-Guidebook Errors
  Content.Client/Guidebook/Controls/GuidebookError.xaml
  Content.Client/Guidebook/Controls/GuidebookError.xaml.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/DocumentParsingManager.cs
  Content.Client/Guidebook/DocumentParsingManager.static.cs
  Resources/Locale/en-US/guidebook/guidebook.ftl
Labels: Changes: UI, Status: Needs Review

#28575 Add tooltips to the agent ID job icons and improve status icon prototypes
  Content.Client/Access/UI/AgentIDCardBoundUserInterface.cs
  Content.Client/Access/UI/AgentIDCardWindow.xaml
  Content.Client/Access/UI/AgentIDCardWindow.xaml.cs
  Content.Client/CrewManifest/UI/CrewManifestSection.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringWindow.xaml.cs
  Content.Client/Overlays/EntityHealthBarOverlay.cs
  Content.Client/Overlays/ShowHealthIconsSystem.cs
  Content.Client/Overlays/ShowJobIconsSystem.cs
  Content.Client/Overlays/ShowSyndicateIconsSystem.cs
  Content.Server/Access/Components/AgentIDCardComponent.cs
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/SharedAgentIDCardSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Mindshield/Components/MindShieldComponent.cs
  Content.Shared/NukeOps/NukeOperativeComponent.cs
  Content.Shared/Nutrition/EntitySystems/HungerSystem.cs
  Content.Shared/Nutrition/EntitySystems/ThirstSystem.cs
  Content.Shared/Overlays/ShowHealthBarsComponent.cs
  Content.Shared/Revolutionary/Components/HeadRevolutionaryComponent.cs
  Content.Shared/Revolutionary/Components/RevolutionaryComponent.cs
  Content.Shared/Roles/JobPrototype.cs
  Content.Shared/SSDIndicator/SSDIndicatorComponent.cs
  Content.Shared/Security/Components/CriminalRecordComponent.cs
  Content.Shared/StatusIcon/StatusIconPrototype.cs
  Content.Shared/Zombies/InitialInfectedComponent.cs
  Content.Shared/Zombies/ZombieComponent.cs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/StatusIcon/StatusEffects/health.yml
  Resources/Prototypes/StatusIcon/StatusEffects/satiation.yml
  Resources/Prototypes/StatusIcon/StatusEffects/ssd.yml
  Resources/Prototypes/StatusIcon/debug.yml
  Resources/Prototypes/StatusIcon/faction.yml
  Resources/Prototypes/StatusIcon/job.yml
  Resources/Prototypes/StatusIcon/security.yml
Labels: Changes: UI, Status: Needs Review

#28483 UI to edit silicon laws from admin verb
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawContainer.xaml
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawContainer.xaml.cs
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawEui.cs
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawUi.xaml
  Content.Client/Silicons/Laws/SiliconLawEditUi/SiliconLawUi.xaml.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Silicons/Laws/SiliconLawEui.cs
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/SiliconLawEditEuiState.cs
  Resources/Locale/en-US/administration/ui/silicon-law-ui.ftl
Labels: Changes: UI, Status: Needs Review

#30467 tweak(HealthAnalyzer): Stop showing poup when used on self or when cancelled (by twitter)
  Content.Server/Medical/HealthAnalyzerSystem.cs
Labels: Status: Needs Review

#29762 Log enrichment: Explosion damage to players
  Content.Server/Administration/Commands/ExplosionCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/Lightning/LightningTargetSystem.cs
  Content.Server/Storage/EntitySystems/BluespaceLockerSystem.cs
  Content.Shared.Database/LogType.cs
Labels: Status: Needs Review

#29454 Make hotplate and grill anchorable on table part 2
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
Labels: No C#, Status: Needs Review

#30746 add ghost role raffle to sentient artifact
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
Labels: No C#

#30756 setgamepreset command rework
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/game-ticking/set-game-preset-command.ftl
Labels: Status: Needs Review

#30374 New decals for mapping
  Resources/Prototypes/Decals/Overlays/markups.yml
  Resources/Textures/Decals/Overlays/markups.rsi/meta.json
  Resources/Textures/Decals/Overlays/markups.rsi/rectangle1x2.png
  Resources/Textures/Decals/Overlays/markups.rsi/rectangle1x2center.png
  Resources/Textures/Decals/Overlays/markups.rsi/square.png
  Resources/Textures/Decals/Overlays/markups.rsi/squareQuater.png
  Resources/Textures/Decals/Overlays/markups.rsi/squareQuaterCenter.png
Labels: No C#, Changes: Sprites

#30688 Add access to gun components
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Shared/Weapons/Ranged/Components/BallisticAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/ChamberMagazineAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/ContainerAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Components/MagazineAmmoProviderComponent.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: Status: Needs Review

#30807 Revert "setgamepreset command rework"
  Content.Server/GameTicking/Commands/SetGamePresetCommand.cs
  Content.Server/GameTicking/GameTicker.GamePreset.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Locale/en-US/game-ticking/set-game-preset-command.ftl
Labels: Status: Needs Review

#30292 Improve Criminal Records Computer usability
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
Labels: Changes: UI

#30753 improve job special
  Content.Server/Jobs/AddComponentSpecial.cs
  Content.Server/Jobs/RemoveComponentSpecial.cs
Labels: Status: Needs Review

#30809 Resprite the equipped gas canister suit slots
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/generic.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/generic.rsi/meta.json
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/oxygen.rsi/meta.json
  Resources/Textures/Objects/Tanks/red.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Tanks/red.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Tanks/red.rsi/meta.json
Labels: No C#, Changes: Sprites

#28719 [Sprites/Fix] In hand for BlueSpace beaker & CMO's equipped cloak
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/cmo.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chemistry/beaker_bluespace.rsi/meta.json
Labels: No C#, Changes: Sprites

#28988 Crowbar variants
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
  Resources/Prototypes/Entities/Objects/Tools/tools.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-equipped-BELT.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-inhand-left.png
  Resources/Textures/Objects/Tools/crowbar.rsi/cover-inhand-right.png
  Resources/Textures/Objects/Tools/crowbar.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/crowbar.rsi/green-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/meta.json
  Resources/Textures/Objects/Tools/crowbar.rsi/orange-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-equipped-BELT.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-icon.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-inhand-left.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-inhand-right.png
  Resources/Textures/Objects/Tools/crowbar.rsi/red-storage.png
  Resources/Textures/Objects/Tools/crowbar.rsi/yellow-storage.png
Labels: No C#, Changes: Sprites, Status: Needs Review

#30828 Crowbars fix
  Resources/Prototypes/Entities/Objects/Tools/crowbars.yml
Labels: No C#

#30830 Revert "Make hotplate and grill anchorable on table part 2"
  Resources/Prototypes/Entities/Structures/Machines/hotplate.yml
Labels: No C#

#30579 Entity Tables (EntitySpawnEntry replacement)
  Content.Server/Spawners/Components/EntityTableSpawnerComponent.cs
  Content.Server/Spawners/EntitySystems/ConditionalSpawnerSystem.cs
  Content.Shared/Containers/ContainerFillSystem.cs
  Content.Shared/Containers/EntityTableContainerFillComponent.cs
  Content.Shared/EntityTable/EntitySelectors/AllSelector.cs
  Content.Shared/EntityTable/EntitySelectors/EntSelector.cs
  Content.Shared/EntityTable/EntitySelectors/EntityTableSelector.cs
  Content.Shared/EntityTable/EntitySelectors/GroupSelector.cs
  Content.Shared/EntityTable/EntitySelectors/NestedSelector.cs
  Content.Shared/EntityTable/EntitySelectors/NoneSelector.cs
  Content.Shared/EntityTable/EntityTablePrototype.cs
  Content.Shared/EntityTable/EntityTableSystem.cs
  Content.Shared/EntityTable/ValueSelector/ConstantNumberSelector.cs
  Content.Shared/EntityTable/ValueSelector/NumberSelector.cs
  Content.Shared/EntityTable/ValueSelector/RangeNumberSelector.cs
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
Labels: Status: Awaiting Changes

#30666 Changed chemistry airlock color
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/chemistry.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/chemistry.rsi/welded.png
Labels: No C#, Changes: Sprites

#30634 Bent pipes deal 8 thrown damage
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
Labels: No C#

#30836 Change siren.ogg to gamma.ogg
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/gamma.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/Entities/Structures/Lighting/strobe_lighting.yml
Labels: No C#

#30808 Add Rat Kings wideswinging
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
Labels: No C#

#30709 Added suitskirt for psychologist
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Loadouts/Jobs/Wildcards/psychologist.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/psychologist.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/psychologist.rsi/meta.json
Labels: No C#, Changes: Sprites

#30855 ERT Chaplain Loadout fixer
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: No C#

#29091 Partially revert light tube sprites
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/broken.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/burned.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/empty.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review

#29659 Cursed Mask
  Content.Client/Clothing/Systems/CursedMaskSystem.cs
  Content.Server/Clothing/Systems/CursedMaskSystem.cs
  Content.Shared/Clothing/Components/CursedMaskComponent.cs
  Content.Shared/Clothing/SharedCursedMaskSystem.cs
  Content.Shared/Inventory/Events/UnequipAttemptEvent.cs
  Content.Shared/Inventory/SelfEquipOnlyComponent.cs
  Content.Shared/Inventory/SelfEquipOnlySystem.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
  Resources/Locale/en-US/clothing/components/cursed-mask.ftl
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Textures/Clothing/Mask/goldenmask.rsi/equipped-MASK-vox.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/equipped-MASK.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/icon-anger.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/icon-despair.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/icon-joy.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/icon.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/inhand-left.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/inhand-right.png
  Resources/Textures/Clothing/Mask/goldenmask.rsi/meta.json
Labels: Changes: Sprites

#30860 Fix some locales
  Resources/Locale/en-US/actions/actions/disarm-action.ftl
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/glue/glue.ftl
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
  Resources/Locale/en-US/lube/lube.ftl
  Resources/Locale/en-US/power/components/generator.ftl
  Resources/Locale/en-US/storage/components/secret-stash-component.ftl
  Resources/Locale/en-US/wieldable/wieldable-component.ftl
Labels: No C#

#30868 Remove meta voiceline from the passenger figure
  Resources/Locale/en-US/datasets/figurines.ftl
Labels: No C#

#29315 Standartize clothing recipes
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Needs Discussion, No C#

#30782 Reach tweaks reattempt 2
  Resources/Maps/reach.yml
Labels: No C#, Changes: Map, Status: Needs Review

#30875 tweak(snowy_labs): Remove non-valid holoparasite
  Resources/Maps/Dungeon/snowy_labs.yml
Labels: No C#, Changes: Map
