Repository space-wizards/space-station-14, pull requests merged in 2024-10, with the labels that each got.

#32482 Added Firebots - Real
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/NPC/Queries/Considerations/TargetOnFireCon.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Locale/en-US/npc/firebot.ftl
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/NPCs/firebot.yml
  Resources/Prototypes/NPCs/utility_queries.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/bots/firebot.yml
  Resources/Prototypes/Recipes/Crafting/bots.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Mobs/Silicon/Bots/firebot.rsi/firebot.png
  Resources/Textures/Mobs/Silicon/Bots/firebot.rsi/meta.json
Labels: Changes: Sprites, Undergoing Maintainer Discussion

#32327 Update binary key to use AI icon
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Devices/encryption_keys.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/ai_label.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
Labels: No C#, Changes: Sprites, Undergoing Maintainer Discussion

#32584 Gay Boykissers
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay-equipped.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
Labels: No C#, Changes: Sprites

#32578 Reinforced walls sprite see throu top
  Resources/Textures/Structures/Walls/solid.rsi/reinf_over0.png
Labels: No C#, Changes: Sprites

#32569 fixed it so blue bandana head and mask sprite is not reversed on vox
  Resources/Textures/Clothing/Head/Bandanas/blue.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Bandanas/blue.rsi/equipped-MASK-vox.png
Labels: No C#, Changes: Sprites

#32459 Seismic charge now craftable
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: Status: Needs Review

#32546 fix voice mask chameleon menu
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
Labels: No C#

#32574 Added LV cables to Marathon SMES room
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#32575 Hydroponics doors
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/assembly.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Glass/hydroponics.rsi/welded.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/assembly.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/bolted_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closed_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/closing_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/deny_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/emergency_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/meta.json
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/opening_unlit.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_closing.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/panel_opening.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_broken.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_damaged.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/sparks_open.png
  Resources/Textures/Structures/Doors/Airlocks/Standard/hydroponics.rsi/welded.png
Labels: No C#, Changes: Sprites

#32557 Red circuit floor
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
  Resources/Prototypes/Tiles/floors.yml
  Resources/Textures/Objects/Tiles/tile.rsi/meta.json
  Resources/Textures/Objects/Tiles/tile.rsi/rcircuit-inhand-left.png
  Resources/Textures/Objects/Tiles/tile.rsi/rcircuit-inhand-right.png
  Resources/Textures/Objects/Tiles/tile.rsi/rcircuit.png
  Resources/Textures/Tiles/attributions.yml
  Resources/Textures/Tiles/blue_circuit.png
  Resources/Textures/Tiles/green_circuit.png
  Resources/Textures/Tiles/red_circuit.png
Labels: No C#, Changes: Sprites

#32450 MedTek Cartridge
  Content.Server/CartridgeLoader/Cartridges/MedTekCartridgeComponent.cs
  Content.Server/CartridgeLoader/Cartridges/MedTekCartridgeSystem.cs
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/Objects/Devices/cartridge.rsi/cart-med.png
  Resources/Textures/Objects/Devices/cartridge.rsi/meta.json
Labels: Changes: Sprites, Undergoing Maintainer Discussion

#32576 Bandaid fix to entityeffects on plant trays
  Resources/Prototypes/Hydroponics/randomMutations.yml
Labels: No C#

#32594 cleanup and fix dinky star
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Objects/Misc/dinkystar.yml
  Resources/Textures/Clothing/Neck/Misc/dinkystar.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/dinkystar.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#32593 Cleanup pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Textures/Clothing/Neck/Misc/autismpin.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/goldautismpin.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aro-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/asex-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/autism-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/autism.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/bi-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gay-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/goldautism-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/goldautism.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/inter-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/les-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/lgbt-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/non-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/pan-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/trans-equipped-NECK.png
Labels: No C#, Changes: Sprites

#32597 fix instigator not existing
  Resources/Prototypes/GameRules/unknown_shuttles.yml
Labels: No C#

#32598 Fix accidental erase of paper contents by spamming save action
  Content.Client/Paper/UI/PaperWindow.xaml.cs
Labels: Changes: UI

#32596 Steel tile variantization fix
  Resources/Textures/Tiles/steel.png
Labels: No C#

#32561 Disable bioluminescence plant mutations because it breaks the engine
  Resources/Prototypes/Hydroponics/randomMutations.yml
Labels: No C#

#32614 Various item contraband fixes
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/clusterbang.yml
Labels: No C#

#32383 Remove sentience from clean and medi bot
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: No C#, Undergoing Maintainer Discussion

#32608 Box Station - Connected Recycler, rerouted power for Singlo Substation, added law boards to AI upload room
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#32627 Disable Auto-Publish
  .github/workflows/publish.yml
Labels: No C#

#32558 Two additional checks to prevent FTLing stations
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.FTL.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Locale/en-US/shuttles/console.ftl
Labels: Status: Needs Review

#32568 Give dragon pull ability
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
Labels: No C#, PR: Approved, Undergoing Maintainer Discussion

#32428 Make the explosions throw the container/item they originated from
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
Labels: Undergoing Maintainer Discussion

#32423 Change the syndicate charge to start a timer on signal
  Content.Server/Explosion/Components/TimerStartOnSignalComponent.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Resources/Locale/en-US/machine-linking/receiver_ports.ftl
  Resources/Prototypes/DeviceLinking/sink_ports.yml
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: Undergoing Maintainer Discussion

#32638 `BaseAdvancedPen` migration
  Resources/migration.yml
Labels: No C#, PR: Approved

#32603 Marathon Removed double walls and a wrong cable
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#32452 fix light bulbs not fitting into the trash bag
  Resources/Prototypes/Entities/Objects/Power/lights.yml
Labels: No C#, PR: Bug Fix

#32097 Add flowers to loadout
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/hairflower.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, PR: Approved, Undergoing Maintainer Discussion

#32652 Fully Revert Clown Waddling
  Content.Client/Movement/Systems/WaddleAnimationSystem.cs
  Content.Server/Movement/Systems/WaddleAnimationSystem.cs
  Content.Shared/Clothing/Components/WaddleWhenWornComponent.cs
  Content.Shared/Clothing/EntitySystems/WaddleClothingSystem.cs
  Content.Shared/Movement/Components/WaddleAnimationComponent.cs
  Content.Shared/Movement/Systems/SharedWaddleAnimationSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: PR: Approved, Undergoing Maintainer Discussion

#32679 oasis update
  Resources/Maps/oasis.yml
Labels: No C#, Changes: Map

#32687 Move client dumpentities command to "DEBUG"
  Resources/clientCommandPerms.yml
Labels: No C#

#32429 Change minibomb to be explosion resistant and start timer on damage
  Content.Server/Destructible/Thresholds/Behaviors/TimerStartBehavior.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Undergoing Maintainer Discussion

#32665 Update Core
  Resources/Maps/core.yml
Labels: No C#, Changes: Map

#32654 Fix cryo locale again
  Content.Server/Bed/Cryostorage/CryostorageSystem.cs
  Resources/Locale/en-US/bed/cryostorage/cryogenic-storage.ftl
Labels: PR: Approved

#32685 Fix cloth dupe
  Resources/Prototypes/Entities/Structures/Decoration/curtains.yml
Labels: No C#, PR: Approved

#32683 Added proper capitalisation for supervisors when entering the game
  Resources/Locale/en-US/job/job-supervisors.ftl
Labels: No C#, PR: Approved

#32648 Replace the Librarian's round-start D10 with a D20
  Resources/Prototypes/Roles/Jobs/Civilian/librarian.yml
Labels: No C#, PR: Approved

#32690 CHIMP and APE particle speed increase
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Machines/anomaly_equipment.yml
Labels: No C#, PR: Approved

#32623 Add pumpkin pie!
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/pumpkin-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pie.rsi/pumpkin.png
Labels: No C#, Changes: Sprites, PR: Approved, Undergoing Maintainer Discussion

#32531 Add admin log for codewords
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: PR: Approved

#32712 fix typo
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
Labels: No C#, PR: Approved

#32472 Decrease price of radio jammer from 4 tc -> 3 tc
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#, PR: Approved, Undergoing Maintainer Discussion

#32338 Job title localization
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/Medical/SuitSensors/SuitSensorSystem.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
  Content.Shared/Access/Systems/IdExaminableSystem.cs
  Content.Shared/Access/Systems/SharedIdCardSystem.cs
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
Labels: Status: Needs Review

#30805 Plushies can now have pAIs stuffed into them (v2)!
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/ChangeNameInContainer/ChangeNameInContainerComponent.cs
  Content.Shared/ChangeNameInContainer/ChangeNameInContainerSystem.cs
  Content.Shared/Storage/Components/SecretStashComponent.cs
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
  Resources/Locale/en-US/storage/components/secret-stash-component.ftl
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Misc/dat_fukken_disk.yml
  Resources/Prototypes/Entities/Structures/Furniture/potted_plants.yml
  Resources/Prototypes/tags.yml
Labels: PR: Approved, Undergoing Maintainer Discussion

#32723 Fix error log when recycling something with small material counts.
  Content.Server/Materials/MaterialStorageSystem.cs
Labels: Issue: Bug, Status: Needs Review

#32700 Fix bounties(and potentially other things) running out of ids
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/NameIdentifier/NameIdentifierSystem.cs
Labels: PR: Bug Fix

#32746 Fix Centcom cloning scanner
  Resources/Maps/centcomm.yml
Labels: No C#, Changes: Map

#32753 Fix random test fail in DeleteAllThenGhost
  Content.Shared/Roles/SharedRoleSystem.cs
Labels: PR: Bug Fix

#32465 Make APC UI work correctly with multiple users
  Content.Client/Power/APC/ApcBoundUserInterface.cs
  Content.Client/Power/APC/UI/ApcMenu.xaml.cs
  Content.Server/Power/Components/ApcComponent.cs
  Content.Server/Power/EntitySystems/ApcSystem.cs
  Content.Shared/APC/SharedApc.cs
  Resources/Prototypes/Entities/Structures/Power/apc.yml
Labels: Changes: UI

#32756 Marathon AI tweaks
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#29850 Changes to CE's suits
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/ce_turtle.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/s-equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce.rsi/s.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ce_turtle.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#32631 Qm external access
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: No C#, PR: Approved, Undergoing Maintainer Discussion

#32629 Firebot Tweaks
  Resources/Locale/en-US/advertisements/other/firebot.ftl
  Resources/Prototypes/Catalog/VendingMachines/advertisements.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/NPCs/firebot.yml
Labels: No C#, PR: Approved

#32764 Fixing Thief Beacon Role Check Logic (to use new mindrole system)
  Content.Server/Thief/Systems/ThiefBeaconSystem.cs
Labels: PR: Approved, PR: Bug Fix

#32007 Increase AI Playtime Requirements
  Resources/Locale/en-US/job/job-supervisors.ftl
  Resources/Prototypes/Roles/Jobs/Science/borg.yml
Labels: No C#, PR: Approved, Undergoing Maintainer Discussion

#32736 Add poster about the SSD term
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster52_legit.png
Labels: No C#, Changes: Sprites

#32792 Fix some rounds failing to end due to mind roles
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Labels: Status: Needs Review

#32253 Warden Hat Texture Change
  Resources/Textures/Clothing/Head/Hats/warden.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/warden.rsi/meta.json
Labels: No C#, Changes: Sprites, PR: Approved

#32564 rainbow lizard plushie
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: No C#, Status: Needs Review, PR: Approved

#32801 Add role prototype validation tests
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Tests/Minds/RoleTests.cs
  Content.IntegrationTests/Tests/Sprite/ItemSpriteTest.cs
  Content.IntegrationTests/Tests/StorageTest.cs
  Content.Server/EntityEffects/EffectConditions/JobCondition.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Shared/Roles/Jobs/SharedJobSystem.cs
  Content.Shared/Roles/SharedRoleSystem.cs
Labels: Status: Needs Review

#32798 Hide role entities in the spawn menu
  Content.Server/Atmos/Components/AtmosFixMarkerComponent.cs
  Content.Shared/Roles/MindRoleComponent.cs
  Resources/Locale/en-US/entity-categories.ftl
  Resources/Prototypes/Entities/categories.yml
Labels: Status: Needs Review

#32768 ping emisse for shuttle changes
  .github/CODEOWNERS
Labels: No C#

#32725 Fix role ban loading bugs
  Content.Client/Players/PlayTimeTracking/JobRequirementsManager.cs
  Content.Server/Administration/Managers/BanManager.cs
  Content.Server/Administration/Managers/IBanManager.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review, PR: Bug Fix

#32758 Fix Industrial Reagent Grinder sprite
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: No C#

#32486 cleanup melee
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#32677 Fixed portal artifacts targeting the Ai
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PortalArtifactSystem.cs
Labels: PR: Approved, PR: Bug Fix

#32505 Cyborg module action icons
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Shared/Silicons/Borgs/Components/BorgModuleIconComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Textures/Interface/Actions/actions_borg.rsi/adv-cleaning-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/adv-diagnosis-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/adv-tools-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/anomaly-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/appraisal-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/cleaning-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/clowning-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/construction-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/defib-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/diagnosis-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/extinguisher-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/gardening-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/geiger-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/gps-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/grappling-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/harvesting-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/light-replacer-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/meta.json
  Resources/Textures/Interface/Actions/actions_borg.rsi/mining-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/musical-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/no-action.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/node-scanner-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/rcd-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/service-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-esword-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-l6c-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-martyr-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-operative-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/syndicate-weapon-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/tool-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/treatment-module.png
  Resources/Textures/Interface/Actions/actions_borg.rsi/wire-module.png
Labels: Changes: Sprites

#32805 Fix tech anomaly nexttimer
  Content.Server/Anomaly/Effects/TechAnomalySystem.cs
Labels: Status: Needs Review

#32807 HOTFIX: Fix tech anomaly nexttimer (#32805)
  Content.Server/Anomaly/Effects/TechAnomalySystem.cs
Labels: Status: Needs Review

#32799 Marathon: Add EVA Helmets to Perma and add Disposal Unit front of Atmos
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#32762 organ sprite touch-ups
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
  Resources/Prototypes/Body/Organs/diona.yml
  Resources/Prototypes/Body/Organs/human.yml
  Resources/Prototypes/Body/Organs/slime.yml
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/eyeballs-inhand-left.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/eyeballs-inhand-right.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/heart-inhand-left.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/heart-inhand-right.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/stomach-inhand-left.png
  Resources/Textures/Mobs/Species/Arachnid/organs.rsi/stomach-inhand-right.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/brain-inhand-left.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/brain-inhand-right.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/lungs-inhand-left.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/lungs-inhand-right.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/lungs.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Diona/organs.rsi/stomach-inhand-left.png
  Resources/Textures/Mobs/Species/Diona/organs.rsi/stomach-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/brain-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/brain-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/eyeballs-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/eyeballs-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/heart-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/heart-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/kidneys-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/kidneys-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/liver-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/liver-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/lungs-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/lungs-inhand-right.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Human/organs.rsi/stomach-inhand-left.png
  Resources/Textures/Mobs/Species/Human/organs.rsi/stomach-inhand-right.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/brain-inhand-left.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/brain-inhand-right.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/lungs-inhand-left.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/lungs-inhand-right.png
  Resources/Textures/Mobs/Species/Slime/organs.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/organs.rsi/lung-l.png
  Resources/Textures/Mobs/Species/Vox/organs.rsi/lung-r.png
  Resources/Textures/Mobs/Species/Vox/organs.rsi/lungs-inhand-left.png
  Resources/Textures/Mobs/Species/Vox/organs.rsi/lungs-inhand-right.png
  Resources/Textures/Mobs/Species/Vox/organs.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Needs Review, PR: Approved

#32309 Arcade Prize Additions
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
Labels: No C#, PR: Approved

#32565 Adds nitrogen to engi tank dispenser
  Resources/Prototypes/Catalog/VendingMachines/Inventories/tankdispenser.yml
Labels: No C#, Undergoing Maintainer Discussion

#32813 fix plant holder double solution transfer
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/botany/components/plant-holder-component.ftl
Labels: Status: Needs Review

#32064 New reptile sounds
  Resources/Audio/Voice/Reptilian/attritbutions.yml
  Resources/Audio/Voice/Reptilian/reptilian_tailthump.ogg
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/tailslap.png
Labels: No C#, Status: Needs Review, PR: Approved, Undergoing Maintainer Discussion

#32846 Fix uplink name
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: No C#, PR: Approved

#32844 Fix omega cursed smite code.
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/administration/smites.ftl
Labels: Status: Needs Review

#32738 fix grappling hooks getting bricked
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
Labels: Status: Needs Review, PR: Approved

#28075 FTL coordinate disk command for admins: ftldisk
  Content.Server/Shuttles/Commands/FTLDiskCommand.cs
  Resources/Locale/en-US/shuttles/commands.ftl
Labels: Status: Needs Review

#28897 Several small SFX tweaks
  Content.Server/Botany/Components/PlantHolderComponent.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
  Resources/Audio/Machines/attributions.yml
  Resources/Audio/Machines/machine_vend.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/hydro_tray.yml
Labels: PR: Approved

#32810 Fix Reagent Description for Bananium
  Resources/Locale/en-US/reagents/meta/elements.ftl
Labels: No C#, PR: Approved

#32848 Added new Microphone instrument style "Kweh"
  Resources/Audio/MidiCustom/space-station-14.sf2
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_percussion.yml
Labels: No C#

#32854 enable ejecting in biogenerator UI
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, PR: Approved

#32808 Fix holosignsystem popup
  Content.Server/Holosign/HolosignSystem.cs
Labels: PR: Approved

#32625 Give AI a Sound Cue when an Antimov board is inserted
  Content.Server/Silicons/Laws/SiliconLawSystem.cs
  Content.Shared/Silicons/Laws/Components/SiliconLawProviderComponent.cs
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/silicon_lawboard_antimov.ogg
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/cryo_warning.ogg
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: PR: Approved

#32480 Fix saving prefered quick store item locations
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: PR: Approved

#32851 Enhance Vending Machine UI: Adjust Minimum Height for better User Experience
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml
Labels: Changes: UI, No C#, PR: Approved

#32547 Change the window titlebar to show the joined server
  Content.Client/Entry/EntryPoint.cs
  Content.Client/GameTicking/Managers/TitleWindowManager.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#28645 Sanitize shorthand emotes throughought the whole message
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Managers/IChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
Labels: Status: Needs Review

#32856 fix playtime stats window
  Content.Client/Info/PlaytimeStats/PlaytimeStatsEntry.cs
Labels: Changes: UI, PR: Bug Fix

#32837 Fixes smile's ghost role to not need a raffle, very nice
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: No C#, PR: Approved

#32830 Added relevant tags to several cakes, and changed chem in Spacemans cake
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
Labels: No C#, PR: Approved

#32563 Remove flares and shotgun flares from lathe options
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#, PR: Approved, Undergoing Maintainer Discussion

#32874 Fix PlantHolder interactions & InteractionSystem assert
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: Status: Needs Review

#32721 Fix warden being and qm being not considered head for tot kill head objective
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/Objectives/Systems/NotCommandRequirementSystem.cs
  Content.Server/Revolutionary/Components/CommandStaffComponent.cs
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
Labels: PR: Approved

#32776 Set Salamander round restart time to 5 minutes
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: No C#, PR: Approved

#32817 Fix: Radio jammer now doesn't show setting changes to other players
  Content.Shared/Radio/EntitySystems/SharedJammerSystem.cs
Labels: PR: Approved

#30359 Traitor activation fix for missing PDA
  Content.Server/GameTicking/Rules/Components/TraitorRuleComponent.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
  Content.Server/Traitor/Components/AutoTraitorComponent.cs
  Content.Server/Traitor/Systems/AutoTraitorSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
Labels: Status: Needs Review, Undergoing Maintainer Discussion

#32838 Fix: Plushies no longer delete items when recycled
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
Labels: PR: Approved, PR: Bug Fix

#32866 HOTFIX spider clan charges can be armed again
  Content.Server/Ninja/Systems/SpiderChargeSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
Labels: PR: Bug Fix

#32323 ghost locator maints loot
  Content.Shared/Ghost/SpectralComponent.cs
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Mobs/Player/replay_observer.yml
  Resources/Prototypes/Entities/Objects/Fun/spectral_locator.yml
  Resources/Textures/Objects/Fun/spectrallocator.rsi/icon.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/spectrallocator.rsi/meta.json
  Resources/Textures/Objects/Fun/spectrallocator.rsi/screen.png
Labels: Changes: Sprites, PR: Approved, Undergoing Maintainer Discussion

#32235 Add Towels
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Loadouts/Miscellaneous/glasses.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Multiple/towel.rsi/NTmono.png
  Resources/Textures/Clothing/Multiple/towel.rsi/equipped-BELT.png
  Resources/Textures/Clothing/Multiple/towel.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Multiple/towel.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Multiple/towel.rsi/icon.png
  Resources/Textures/Clothing/Multiple/towel.rsi/iconstripe.png
  Resources/Textures/Clothing/Multiple/towel.rsi/inhand-left.png
  Resources/Textures/Clothing/Multiple/towel.rsi/inhand-right.png
  Resources/Textures/Clothing/Multiple/towel.rsi/meta.json
Labels: No C#, Changes: Sprites, PR: Approved, Undergoing Maintainer Discussion

#32858 Scalpels now cut like knives
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
Labels: No C#, PR: Approved

#32532 Fix for low zombie blood
  Content.Server/Body/Systems/BloodstreamSystem.cs
Labels: PR: Approved, PR: Bug Fix

#32914 MMIs and positronic brains now talk like pAIs in plushies
  Resources/Prototypes/Entities/Objects/Specific/Robotics/mmi.yml
Labels: No C#, PR: Approved

#32422 Blunt damage will do stamina damage on wide attacks
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: Status: Needs Review

#32718 Fix starting gear multiple storage fills and tests
  Content.IntegrationTests/Tests/Roles/StartingGearStorageTests.cs
  Content.Shared/Station/SharedStationSpawningSystem.cs
Labels: PR: Bug Fix

#32908 Reduce player softcap for wizden servers and panic bunker wizden Levi
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: No C#, PR: Approved

#32915 Mutetoxin buff
  Resources/Prototypes/Reagents/narcotics.yml
Labels: No C#, PR: Approved

#32906 prevent typing sound from playing when AI interacts with consoles
  Content.Shared/Sound/Components/EmitSoundOnUIOpenComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/tags.yml
Labels: PR: Approved

#32929 Let station AI use long range fax machines
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
Labels: No C#, PR: Approved

#32950 Box Station - Resolved #32771, #32949, and #32921
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#32930 Ammo boxes now have sprites for being parially filled!
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/magb-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/anti_materiel.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag10-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag10-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/mag10-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/magb-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/magb-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/caseless_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/magb-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/magb-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/light_rifle.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/magnum.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/pistol.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/magb-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/magb-2.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/magb-3.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Boxes/rifle.rsi/meta.json
Labels: No C#, Changes: Sprites

#32112 Syringe gun!
  Content.Server/Chemistry/Components/SolutionInjectWhileEmbeddedComponent.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectWhileEmbeddedSystem.cs
  Content.Shared/Chemistry/InjectOverTimeEvent.cs
  Content.Shared/Projectiles/EmbeddableProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Audio/Weapons/Guns/Gunshots/attributions.yml
  Resources/Audio/Weapons/Guns/Gunshots/syringe_gun.ogg
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/meta.json
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe1.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe2.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/minisyringe3.png
  Resources/Textures/Objects/Specific/Chemistry/syringe.rsi/syringeproj.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Cannons/syringe_gun.rsi/syringe_gun.png
Labels: Changes: Sprites, Status: Needs Review, Undergoing Maintainer Discussion

#32347 Adding intellicard functionality.
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/UserInterface/IntrinsicUISystem.cs
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/Objects/Devices/ai_card.rsi/base.png
  Resources/Textures/Objects/Devices/ai_card.rsi/empty.png
  Resources/Textures/Objects/Devices/ai_card.rsi/full.png
Labels: Changes: Sprites, Status: Needs Review

#32441 Add Nuclear Cola centrifuge recipe
  Resources/Prototypes/Recipes/Reactions/drinks.yml
Labels: No C#, Undergoing Maintainer Discussion

#32925 Hotfix server config changes for playercap and Levi bunker
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: No C#, Status: Needs Review

#32902 Several Ninja Suit power cell upgrade fixes.
  Content.Server/Ninja/Systems/NinjaSuitSystem.cs
  Resources/Locale/en-US/ninja/ninja-actions.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Status: Needs Review, PR: Approved, PR: Bug Fix

#32849 In-hand apprasial tool sprite
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/appraisal-tool.rsi/meta.json
Labels: No C#, Changes: Sprites, PR: Approved

#31910 Visualized regions for NavMapControl
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
  Content.Client/Pinpointer/NavMapSystem.Regions.cs
  Content.Client/Pinpointer/NavMapSystem.cs
  Content.Client/Pinpointer/UI/NavMapControl.cs
  Content.Server/Atmos/Consoles/AtmosAlertsComputerSystem.cs
  Content.Shared/Pinpointer/NavMapComponent.cs
  Content.Shared/Pinpointer/SharedNavMapSystem.cs
  Resources/Locale/en-US/atmos/atmos-alerts-console.ftl
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
Labels: Changes: UI, Status: Needs Review, PR: Approved

#32971 Packed Update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#32965 adds Meat Tag to FoodMeatSnake
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#, PR: Approved

#32940 Fix Emote Chat Sanitizer
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Shared/Chat/SharedChatSystem.cs
Labels: PR: Approved, PR: Bug Fix

#32991 Bug fix: Fixed an issue related to multiplying colors of differing nullabilities
  Content.Client/Atmos/Consoles/AtmosAlertsComputerWindow.xaml.cs
Labels: Status: Needs Review, PR: Approved, PR: Bug Fix

#32377 Add flash reaction effect
  Content.Server/EntityEffects/Effects/FlashReactionEffect.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: PR: Approved

#32942 Fix loneop spawnrate by reverting it to not use the shuttle event system.
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/Shuttles/shuttle_incoming_event.yml
Labels: No C#

#32460 add atmosia to devmap
  Resources/Maps/Test/dev_map.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/miners.yml
Labels: No C#, Changes: Map

#32819 bowls now make drinking sounds
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/bowl.yml
Labels: No C#, PR: Approved

#32636 Add health analyzer unrevivability warning
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml
  Content.Client/HealthAnalyzer/UI/HealthAnalyzerWindow.xaml.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Shared/MedicalScanner/HealthAnalyzerScannedUserMessage.cs
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
Labels: Changes: UI, PR: Approved

#32998 Removed the name "Hujsak"
  Resources/Prototypes/Datasets/Names/last.yml
Labels: No C#, PR: Approved

#32997 Fix Bug With Uppercase Radio Keys
  Content.Shared/Chat/SharedChatSystem.cs
Labels: Status: Needs Review, PR: Bug Fix

#33030 Fix TestSuicideByHeldItem and TestSuicideByHeldItemSpreadDamage
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
Labels: PR: Approved, PR: Bug Fix

#33025 make ai speak robotically
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: No C#, PR: Approved

#32876 Extends the minimum round time for meteor swarm events
  Resources/Prototypes/GameRules/meteorswarms.yml
Labels: No C#, PR: Approved

#33026 add StartDelay bool to actions
  Content.Server/Ghost/GhostSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: PR: Approved

#33042 fix lava expeds
  Resources/Prototypes/Procedural/dungeon_configs.yml
Labels: No C#

#33046 Fix separated game screen bumping
  Content.Client/Mapping/MappingScreen.xaml
  Content.Client/Mapping/MappingScreen.xaml.cs
  Content.Client/UserInterface/Controls/RecordedSplitContainer.cs
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml
  Content.Client/UserInterface/Screens/SeparatedChatGameScreen.xaml.cs
Labels: Changes: UI, PR: Approved

#33061 Fix: Make Plushie Damage Unexaminable
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#, PR: Approved

#33055 fix chameleon projector bot whitelist
  Resources/Prototypes/Entities/Objects/Devices/chameleon_projector.yml
Labels: No C#, PR: Approved

#32786 Various Vaugely Connected Sprite Updates™: Encryption Keys, Station Map, Brig Timer
  Resources/Prototypes/Entities/Structures/Wallmounts/timer.yml
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_blue.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_gold.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_gray.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_orange.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_red.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_rusted.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/crypt_silver.png
  Resources/Textures/Objects/Devices/encryption_keys.rsi/meta.json
  Resources/Textures/Objects/Devices/tablets.rsi/generic.png
  Resources/Textures/Objects/Devices/tablets.rsi/meta.json
  Resources/Textures/Objects/Devices/tablets.rsi/tablet.png
  Resources/Textures/Objects/Devices/tablets.rsi/tabletsol.png
  Resources/Textures/Structures/Machines/station_map.rsi/meta.json
  Resources/Textures/Structures/Machines/station_map.rsi/station_map0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_broken.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame0.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame1.png
  Resources/Textures/Structures/Machines/station_map.rsi/station_map_frame2.png
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/signalscreen.rsi/signalscreen.png
Labels: No C#, Changes: Sprites

#32212 Give proto-kinetic crushers, glaives, and daggers better inhands. Update the crusher and glaive icons.
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Textures/Objects/Weapons/Melee/crusher-inhands.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher-inhands.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher-inhands.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher-inhands.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher_dagger.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher_dagger.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher_dagger.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive-inhands.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive-inhands.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive-inhands.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive-inhands.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive-inhands.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/wielded-inhand-right.png
Labels: No C#, Changes: Sprites

#32291 Make the security belt contain more useful items by default
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
Labels: No C#, Undergoing Maintainer Discussion

#33018 Add 3 bottle boxes to nanomed plus
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
Labels: No C#

#32720 Nukie med bundle now costs 24 tc and contains a unique defibrillator
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/ready.png
  Resources/Textures/Objects/Specific/Medical/defibsmall.rsi/screen.png
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/icon.png
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/ready.png
  Resources/Textures/Objects/Specific/Medical/defibsyndi.rsi/screen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/dexpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/dexpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/punctpen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/punctpen_empty.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/pyrapen.png
  Resources/Textures/Objects/Specific/Medical/medipen.rsi/pyrapen_empty.png
Labels: No C#, Changes: Sprites

#33074 Pill Bottles can only store pills now
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
Labels: No C#, PR: Approved

#28358 New workflow to apply the pr approved label
  .github/workflows/labeler-approved.yml
Labels: No C#, Status: Awaiting Changes

#33083 Potencially fix approved labeler
  .github/workflows/labeler-approved.yml
Labels: No C#

#33087 Fixed spelling mistake in water blaster description.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
Labels: No C#, PR: Approved
