Repository space-wizards/space-station-14, pull requests merged in 2024-01, with the labels that each got.

#22956 Fix fulton size inconsistency
  Resources/Prototypes/Entities/Objects/Tools/fulton.yml
Labels: No C#

#23306 Fix tesla coil showing at power monitoring puter
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
Labels: No C#

#22574 More artifact content
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Components/PortalArtifactComponent.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/Effects/Systems/PortalArtifactSystem.cs
  Resources/Locale/en-US/xenoarchaeology/artifact-hints.ftl
  Resources/Prototypes/Entities/Effects/portal.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Prototypes/XenoArch/Effects/utility_effects.yml
  Resources/Prototypes/XenoArch/artifact_triggers.yml
  Resources/Textures/Effects/portal.rsi/meta.json
  Resources/Textures/Effects/portal.rsi/portal-artifact.png
Labels: Changes: Sprites, Status: Needs Review

#23309 grand lottery tree hotfix
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
Labels: No C#

#23269 minor science tree changes
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Prototypes/Research/industrial.yml
Labels: No C#, Status: Needs Review

#23270 Ensure correct number of thieves are selected
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
Labels: Status: Needs Review

#23267 add cvar for custom panic bunker reason
  Content.Server/Connection/ConnectionManager.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Awaiting Changes

#23295 artifact effect fauna and flora spawn
  Resources/Prototypes/Entities/Markers/Spawners/Random/flora.yml
  Resources/Prototypes/XenoArch/Effects/normal_effects.yml
  Resources/Textures/Objects/Decoration/Flora/flora_trees.rsi/icon.png
  Resources/Textures/Objects/Decoration/Flora/flora_trees.rsi/meta.json
Labels: No C#, Changes: Sprites, Status: Awaiting Changes

#23308 Make the material ejection control completely generic
  Content.Client/Lathe/UI/LatheBoundUserInterface.cs
  Content.Client/Lathe/UI/LatheMaterialEjector.xaml.cs
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.Client/Materials/UI/MaterialDisplay.xaml
  Content.Client/Materials/UI/MaterialDisplay.xaml.cs
  Content.Client/Materials/UI/MaterialStorageControl.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Client/Materials/UI/MaterialStorageUIController.cs
  Content.Server/Materials/MaterialStorageSystem.cs
  Content.Shared/Materials/MaterialStorageComponent.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
Labels: Changes: UI, Status: Needs Review

#23235 Major Tesla tweaks
  Content.Server/Lightning/Components/LightningTargetComponent.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Server/Lightning/LightningTargetSystem.cs
  Content.Server/Tesla/Components/TeslaCoilComponent.cs
  Content.Server/Tesla/EntitySystem/TeslaCoilSystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/coil.yml
  Resources/Textures/Structures/Power/Generation/Tesla/coil_cracks.rsi/DamageOverlay_16.png
  Resources/Textures/Structures/Power/Generation/Tesla/coil_cracks.rsi/DamageOverlay_25.png
  Resources/Textures/Structures/Power/Generation/Tesla/coil_cracks.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Power/Generation/Tesla/coil_cracks.rsi/meta.json
  Resources/Textures/Structures/Power/Generation/Tesla/groundingrod_cracks.rsi/DamageOverlay_16.png
  Resources/Textures/Structures/Power/Generation/Tesla/groundingrod_cracks.rsi/DamageOverlay_25.png
  Resources/Textures/Structures/Power/Generation/Tesla/groundingrod_cracks.rsi/DamageOverlay_8.png
  Resources/Textures/Structures/Power/Generation/Tesla/groundingrod_cracks.rsi/meta.json
Labels: Changes: Sprites

#22536 Remove ambient sound from lv/mv/pipes + up default ambience volume
  Content.Shared/CCVar/CCVars.cs
  Resources/Maps/Dungeon/experiment.yml
  Resources/Maps/Dungeon/lava_brig.yml
  Resources/Maps/Salvage/asteroid-base.yml
  Resources/Maps/Salvage/cargo-1.yml
  Resources/Maps/Salvage/medium-1.yml
  Resources/Maps/Salvage/medium-crashed-shuttle.yml
  Resources/Maps/Salvage/medium-dock.yml
  Resources/Maps/Salvage/medium-pet-hospital.yml
  Resources/Maps/Salvage/medium-pirate.yml
  Resources/Maps/Salvage/medium-vault-1.yml
  Resources/Maps/Salvage/ruin-cargo-salvage.yml
  Resources/Maps/Salvage/small-2.yml
  Resources/Maps/Salvage/small-4.yml
  Resources/Maps/Salvage/small-ai-survey-drone.yml
  Resources/Maps/Shuttles/arrivals.yml
  Resources/Maps/Shuttles/dart.yml
  Resources/Maps/Shuttles/emergency.yml
  Resources/Maps/Shuttles/emergency_courser.yml
  Resources/Maps/Shuttles/emergency_omega.yml
  Resources/Maps/Shuttles/emergency_raven.yml
  Resources/Maps/Shuttles/escape_pod_small.yml
  Resources/Maps/Shuttles/shittle.yml
  Resources/Maps/Shuttles/striker.yml
  Resources/Maps/Shuttles/wizard.yml
  Resources/Maps/Test/admin_test_arena.yml
  Resources/Maps/Test/test_teg.yml
  Resources/Maps/europa.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/pipes.yml
  Resources/Prototypes/Entities/Structures/Power/cables.yml
Labels: Changes: Map

#23264 fix cauterization
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Tests/Shared/DamageTest.cs
Labels: Status: Needs Review

#23173 Electric anomaly rework
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Shared/Anomaly/Effects/Components/ElectricityAnomalyComponent.cs
Labels: Status: Needs Review

#23320 Localize hand labeler ui header
  Content.Client/Labels/UI/HandLabelerWindow.xaml
  Resources/Locale/en-US/hand-labeler/hand-labeler.ftl
Labels: Changes: UI, No C#

#23274 Fix windoor secure graph
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/windoor.yml
Labels: No C#

#23219 Lizards get more marking availability
  Resources/Prototypes/Species/reptilian.yml
Labels: No C#

#23066 Fix reptilians pulling after being zombiefied
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: Status: Needs Review

#23104 L gun reshape
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: No C#, Status: Needs Review

#23304 Hair Redo
  Resources/Textures/Mobs/Customization/human_hair.rsi/afro.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/afro2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/bigafro.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/cornrows2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/emofringe.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/keanu.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/long.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/long2.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/long3.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/lowfade.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/medfade.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/modern.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/nofade.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/quiff.png
Labels: No C#, Changes: Sprites

#23330 Adds current panic bunker status to the server's /status API
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: Status: Needs Review

#23187 Anti Anomaly zones
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Anomaly/Components/AntiAnomalyZoneComponent.cs
  Resources/Prototypes/Entities/Markers/anti_anomaly_zone.yml
Labels: Status: Needs Review

#23334 Two more station beacons
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: No C#

#23340 Fix defibs resetting rot timer + slimes not having perishable
  Content.Server/Medical/DefibrillatorSystem.cs
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Prototypes/Entities/Mobs/Species/human.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
Labels: Status: Needs Review

#23343 Happy new year!
  LICENSE.TXT
Labels: No C#

#23346 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#23347 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#23318 fix emagged lathes
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/EmagLatheComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
Labels: Status: Needs Review, Status: Awaiting Changes

#23361 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#23362 omega update
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#23363 packed update
  Resources/Maps/packed.yml
Labels: No C#, Changes: Map

#23355 Remove salvage mobs being able to be ghost roles.
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#

#23367 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#23351 atlas dresser update
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#23349 saltern dressers update
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#23375 Add Research Director's Dresser
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: No C#

#23377 Tesla Ball no longer gets kicked around by explosions. Fixes 23331.
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
Labels: No C#

#23333 Add admin logs for drawing with syringe.
  Content.Server/Chemistry/EntitySystems/ChemistrySystem.Injector.cs
Labels: Status: Needs Review

#23322 Fixed mice behavior of eating everything
  Content.Server/NPC/HTN/Preconditions/HungryPrecondition.cs
  Content.Server/NPC/HTN/Preconditions/ThirstyPrecondition.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/NPCs/nutrition.yml
Labels: Status: Needs Review

#23319 biofabricator
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Recipes/Lathes/rehydrateable.yml
  Resources/Prototypes/Research/biochemical.yml
  Resources/Textures/Structures/Machines/biofabricator.rsi/building.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/icon.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/inserting.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/meta.json
  Resources/Textures/Structures/Machines/biofabricator.rsi/panel.png
  Resources/Textures/Structures/Machines/biofabricator.rsi/unlit.png
Labels: No C#, Changes: Sprites, Status: Needs Review, Status: Awaiting Changes

#23376 refill welders from wall dispensers
  Resources/Prototypes/Entities/Structures/Wallmounts/walldispenser.yml
Labels: No C#

#23385 Limits marking for certain species.
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
Labels: No C#

#23381 atlas rd drip
  Resources/Maps/atlas.yml
Labels: No C#, Changes: Map

#23379 saltern rd drip
  Resources/Maps/saltern.yml
Labels: No C#, Changes: Map

#23398 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#23399 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#23401 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#23402 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#23407 Added info to body bag description.
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
Labels: No C#

#23410 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#23415 Wire up the slime people TypingIndicator to use the existing slime speech.
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
  Resources/Prototypes/typing_indicator.yml
Labels: No C#, Status: Needs Review

#23418 Disposals resprite [take 2]
  Resources/Textures/Structures/Piping/disposal.rsi/condisposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/conmailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/disposal.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-charge.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-full.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/dispover-ready.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-charging.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing-flush.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailing.png
  Resources/Textures/Structures/Piping/disposal.rsi/mailover-handle.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
Labels: No C#, Changes: Sprites

#23406 Allow plungers to be fired by bows and embedded into entities
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/pop.ogg
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/unwielded-plunger.png
  Resources/Textures/Objects/Weapons/Guns/Bow/bow.rsi/wielded-plunger.png
Labels: No C#, Changes: Sprites

#23338 Flatpacks and the Flatpacker 1001
  Content.Client/Construction/FlatpackSystem.cs
  Content.Client/Construction/UI/FlatpackCreatorBoundUserInterface.cs
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.Client/Materials/UI/MaterialDisplay.xaml
  Content.Client/Materials/UI/MaterialStorageControl.xaml.cs
  Content.Server/Ame/Components/AmePartComponent.cs
  Content.Server/Ame/EntitySystems/AmePartSystem.cs
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/FlatpackComponent.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Construction/MachinePartSystem.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Content.Shared/Materials/SharedMaterialStorageSystem.cs
  Resources/Locale/en-US/construction/components/flatpack.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Locale/en-US/wires/wire-names.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
  Resources/Prototypes/Entities/Objects/Power/antimatter_part.yml
  Resources/Prototypes/Entities/Objects/Power/solar_parts.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/solar.yml
  Resources/Prototypes/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Devices/flatpack.rsi/base.png
  Resources/Textures/Objects/Devices/flatpack.rsi/icon-default.png
  Resources/Textures/Objects/Devices/flatpack.rsi/meta.json
  Resources/Textures/Objects/Devices/flatpack.rsi/overlay.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/base.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/inserting.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/meta.json
  Resources/Textures/Structures/Machines/flatpacker.rsi/packing.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/panel.png
  Resources/Textures/Structures/Machines/flatpacker.rsi/screen.png
  SpaceStation14.sln.DotSettings
Labels: Changes: UI, Changes: Sprites, Status: Needs Review

#23420 syndicate agents are now red
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
Labels: No C#

#23391 Fix a few cyborg interactions
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasFilterSystem.cs
  Content.Server/Atmos/Piping/Trinary/EntitySystems/GasMixerSystem.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Status: Needs Review

#23305 Lil profile editor rearrange
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
Labels: Changes: UI, No C#

#23432 head revolutionaries are now blue
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Resources/Locale/en-US/game-ticking/game-presets/preset-revolutionary.ftl
Labels: Status: Awaiting Changes

#23294 Shader cleanup - applies DRY to various shaders in the game
  Resources/Textures/Shaders/greyscale.swsl
  Resources/Textures/Shaders/greyscale_fullscreen.swsl
  Resources/Textures/Shaders/outline.swsl
  Resources/Textures/Shaders/paperstamp.swsl
  Resources/Textures/Shaders/radiation.swsl
  Resources/Textures/Shaders/rainbow.swsl
Labels: No C#

#22902 make plushie rouney rotateable
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#23428 Glowy lights - light fixtures now actually glow
  Content.Client/Light/Visualizers/PoweredLightVisualizerSystem.cs
  Content.Shared/Light/SharedPoweredLightVisuals.cs
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/service_light.yml
  Resources/Prototypes/Recipes/Construction/structures.yml
  Resources/Textures/Structures/Wallmounts/Lighting/light_small.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_small.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_small.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/light_small.rsi/on.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/base.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/Lighting/light_tube.rsi/on.png
  Resources/Textures/Structures/Wallmounts/service_light.rsi/base.png
  Resources/Textures/Structures/Wallmounts/service_light.rsi/glow.png
  Resources/Textures/Structures/Wallmounts/service_light.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/service_light.rsi/on.png
Labels: Changes: Sprites

#23212 Blindness rework - damaged eyes are now a stylized simulation of legal blindness
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlurryVisionOverlay.cs
  Content.Client/Options/UI/Tabs/MiscTab.xaml
  Content.Client/Options/UI/Tabs/MiscTab.xaml.cs
  Content.Server/Eye/Blinding/EyeProtection/EyeProtectionSystem.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Examine/ExamineSystemShared.cs
  Content.Shared/Eye/Blinding/Components/BlindableComponent.cs
  Content.Shared/Eye/Blinding/Components/BlurryVisionComponent.cs
  Content.Shared/Eye/Blinding/Components/EyeClosingComponent.cs
  Content.Shared/Eye/Blinding/Components/VisionCorrectionComponent.cs
  Content.Shared/Eye/Blinding/Systems/BlindableSystem.cs
  Content.Shared/Eye/Blinding/Systems/BlindfoldSystem.cs
  Content.Shared/Eye/Blinding/Systems/BlurryVisionSystem.cs
  Content.Shared/Eye/Blinding/Systems/EyeClosingSystem.cs
  Content.Shared/Traits/Assorted/PermanentBlindnessSystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/eye_close.ogg
  Resources/Audio/Effects/eye_open.ogg
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Interface/Actions/eyeclose.png
  Resources/Textures/Interface/Actions/eyeopen.png
  Resources/Textures/Interface/Actions/meta.json
  Resources/Textures/Shaders/cataracts.swsl
  Resources/Textures/Shaders/circle_mask.swsl
Labels: Needs Engine PR, Changes: UI

#23433 skull warning border
  Resources/Textures/Interface/Alerts/human_alive.rsi/health4.png
  Resources/Textures/Interface/Alerts/human_alive.rsi/meta.json
Labels: No C#, Changes: Sprites

#23440 striker update
  Resources/Maps/Shuttles/striker.yml
Labels: No C#

#23447 fix(artifact_analyzer.yml): decrease required power
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
Labels: No C#

#23457 Add hand labeler to autolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#23464 Monkey Visual Change
  Resources/Textures/Mobs/Animals/monkey.rsi/meta.json
  Resources/Textures/Mobs/Animals/monkey.rsi/monkey.png
Labels: No C#, Changes: Sprites

#23467 Circuit floor tile print
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: No C#

#23409 Gauze Recolor
  Resources/Textures/Objects/Specific/Medical/medical.rsi/gauze.png
Labels: No C#, Changes: Sprites

#23455 RPED
  Resources/Prototypes/Entities/Objects/Specific/Research/rped.yml
Labels: No C#

#23437 Dims the light source of service lights
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/service_light.yml
Labels: No C#

#23468 let terminator endoskeleton pry doors
  Resources/Prototypes/Entities/Mobs/Player/terminator.yml
Labels: No C#, Status: Needs Review

#22954 Ports the /tg/ airlock deny sounds
  Resources/Audio/Machines/airlock_deny.ogg
  Resources/Audio/Machines/attributions.yml
Labels: No C#

#23417 Gauze recipe in medfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
Labels: No C#

#23474 Replace EntityUid parsing with NetEntity
  Content.Server/Administration/Commands/ControlMob.cs
  Content.Server/Administration/Commands/OwoifyCommand.cs
  Content.Server/Administration/Commands/SetMindCommand.cs
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Administration/UI/SetOutfitEui.cs
  Content.Server/Commands/ActionCommands.cs
  Content.Server/Humanoid/Systems/RandomHumanoidSystem.cs
  Content.Server/Jobs/AddComponentSpecial.cs
  Content.Server/NPC/Commands/AddNPCCommand.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/Traitor/Uplink/Commands/AddUplinkCommand.cs
  Content.Server/Verbs/Commands/InvokeVerbCommand.cs
  Content.Server/Verbs/Commands/ListVerbsCommand.cs
  Content.Server/Xenoarchaeology/XenoArtifacts/ArtifactSystem.Nodes.cs
Labels: Status: Needs Review

#23480 bagel update
  Resources/Maps/bagel.yml
Labels: No C#, Changes: Map

#23481 box update
  Resources/Maps/box.yml
Labels: No C#, Changes: Map

#23483 marathon update
  Resources/Maps/marathon.yml
Labels: No C#, Changes: Map

#23484 meta update
  Resources/Maps/meta.yml
Labels: No C#, Changes: Map

#23486 gemini update
  Resources/Maps/gemini.yml
Labels: No C#, Changes: Map

#23448 Beacon Update Aspid
  Resources/Maps/aspid.yml
Labels: No C#, Changes: Map

#23411 Chill bounties + fixes
  Content.Client/Cargo/BUI/CargoBountyConsoleBoundUserInterface.cs
  Content.Client/Cargo/UI/BountyEntry.xaml
  Content.Client/Cargo/UI/BountyEntry.xaml.cs
  Content.Client/Cargo/UI/CargoBountyMenu.xaml.cs
  Content.IntegrationTests/Tests/CargoTest.cs
  Content.Server/Cargo/Components/CargoBountyLabelComponent.cs
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Shuttle.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/NameIdentifier/NameIdentifierSystem.cs
  Content.Server/Station/Commands/StationCommand.cs
  Content.Shared/Cargo/CargoBountyData.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Locale/en-US/cargo/cargo-bounty-console.ftl
  Resources/Locale/en-US/commands/toolshed-commands.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Prototypes/name_identifier_groups.yml
  Resources/Prototypes/tags.yml
Labels: Changes: UI

#23487 barratry update
  Resources/Maps/barratry.yml
Labels: No C#, Changes: Map

#23476 Fixes license violation with Smoke-grenade.ogg by replacing it with a freshly-made sound
  Resources/Audio/Effects/Smoke-grenade.ogg
  Resources/Audio/Effects/attributions.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: No C#

#23393 Kobold variety - allows kobolds to have random colors and horns (+ allows RandomSpriteComponent to uh. Actually choose random sprites for specific layers)
  Content.Server/Sprite/RandomSpriteSystem.cs
  Content.Shared/Sprite/RandomSpriteComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Palettes/critters.yml
  Resources/Textures/Mobs/Animals/kobold.rsi/kobold.png
  Resources/Textures/Mobs/Animals/kobold.rsi/meta.json
  Resources/Textures/Mobs/Animals/kobold.rsi/outline.png
Labels: Changes: Sprites

#23449 Tarantula improvement
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#

#23454 Green-Red Jester Outfit Change
  Resources/Textures/Clothing/Head/Hats/jester.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/jester.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/jester.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Hats/jester.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Hats/jester.rsi/meta.json
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpsuit/jester.rsi/meta.json
Labels: No C#, Changes: Sprites

#23166 Add PVS benchmark
  Content.Benchmarks/MapLoadBenchmark.cs
  Content.Benchmarks/Program.cs
  Content.Benchmarks/PvsBenchmark.cs
Labels: Needs Engine PR

#23473 Makes vials work in dispensers
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
Labels: No C#

#23339 Fix MIDI Loading Failing Whilst a MIDI is playing
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
Labels: Changes: UI

#23496 Cleans up/condenses a bunch of RandomSpriteComponent yaml entries
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/egg.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Materials/shards.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/item_artifacts.yml
  Resources/Prototypes/Entities/Objects/Tools/lighters.yml
  Resources/Prototypes/Entities/Structures/Decoration/flesh_blockers.yml
  Resources/Prototypes/Entities/Tiles/basalt.yml
  Resources/Prototypes/Entities/Tiles/shadow_basalt.yml
Labels: No C#

#21905 Use IComponentState for compstates
  Content.Shared/Atmos/Components/GasTileOverlayComponent.cs
  Content.Shared/Decals/DecalGridComponent.cs
Labels: Status: Needs Review

#23495 Add clown emergency oxygen tank
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Tools/gas_tanks.yml
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-BELT.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-cat.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-dog.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-fox.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-hamster.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-kangaroo.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-pig.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-possum.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-puppy.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/equipped-SUITSTORAGE-sloth.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/icon.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/inhand-left.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/inhand-right.png
  Resources/Textures/Objects/Tanks/emergency_clown.rsi/meta.json
Labels: No C#, Changes: Sprites

#23299 Makes`GameTicker` use `FlushEntities()`
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
Labels: Status: Needs Review

#22447 Small adjustment for elookup api
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
Labels: Status: Needs Review

#23471 The Flatpacker 1001 can now make flatpacks for computers.
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.Server/Construction/FlatpackSystem.cs
  Content.Shared/Construction/Components/ComputerBoardComponent.cs
  Content.Shared/Construction/Components/FlatpackCreatorComponent.cs
  Content.Shared/Construction/SharedFlatpackSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
Labels: Changes: UI, Status: Needs Review

#23265 Add cvar to show new players in ahelp
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Shared/CCVar/CCVars.cs
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: Changes: UI, Status: Needs Review

#23502 Aghost Now Can Drop Things Wherever They Want
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Resources/Changelog/Admin.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/tags.yml
Labels: Status: Needs Review

#23456 give slime mob speech sounds
  Resources/Prototypes/Entities/Mobs/NPCs/slimes.yml
Labels: No C#

#23505 kobold monkey have KB name identifier
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/name_identifier_groups.yml
Labels: No C#

#23370 Toy Tesla
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: No C#

#23388 makes the shotgun cartridge dispensers like the ammo boxes
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
Labels: No C#

#23220 Spinal spike marking for Reptilians
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/body_backspikes.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
Labels: No C#, Changes: Sprites

#23512 Tweak Spell of All-Consuming Cleanliness
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/trashbag.yml
Labels: No C#

#23283 much cheaper plasma
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
Labels: No C#

#23515 buff holo and mild structural adjustment
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: No C#, Status: Needs Review

#23513 make some implants cheaper
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: No C#

#23518 Human plushie
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_human.png
Labels: No C#, Changes: Sprites

#23509 Thief role description fix
  Resources/Prototypes/Roles/Antags/Thief.yml
Labels: No C#

#23503 Adds more Ichor Per dragon meat.
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
Labels: No C#

#23384 Observation Kit
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/handheld_crew_monitor.yml
  Resources/Textures/Objects/Specific/Medical/syndihandheldcrewmonitor.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/syndihandheldcrewmonitor.rsi/syndiscanner.png
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/tracks.png
Labels: No C#, Changes: Sprites

#21086 Adding PAI Slot to PDA
  Content.Client/PDA/PdaBoundUserInterface.cs
  Content.Client/PDA/PdaMenu.xaml
  Content.Client/PDA/PdaMenu.xaml.cs
  Content.Server/PDA/PdaSystem.cs
  Content.Shared/PDA/PdaComponent.cs
  Content.Shared/PDA/PdaUpdateState.cs
  Content.Shared/PDA/SharedPdaSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Textures/Interface/pai.png
Labels: Changes: UI, Status: Needs Review

#23522 buff emergency eva speed
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
Labels: No C#

#21636 Fix robusted dionas not being recoverable
  Content.Server/Polymorph/Components/PolymorphableComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: Status: Needs Review

#23535 Fix Guidebook Singularity entry
  Resources/ServerInfo/Guidebook/Engineering/Singularity.xml
Labels: No C#, Status: Needs Review

#23534 Fix tiny grammar/spelling issues
  Resources/Locale/en-US/advertisements/vending/happyhonk.ftl
  Resources/Locale/en-US/defusable/popup.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
  Resources/ServerInfo/Gameplay.txt
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Engineering/Power.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
Labels: No C#, Status: Needs Review

#23537 Added reaction OilBreakdown
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: No C#

#23541 Use default panic bunker messages on Leviathan and Lizard
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/lizard.toml
Labels: No C#

#23177 Created Proximity Detection and Beeper Systems
  Content.Server/Pinpointer/ProximityBeeperComponent.cs
  Content.Server/Pinpointer/ProximityBeeperSystem.cs
  Content.Shared/Beeper/BeeperEvents.cs
  Content.Shared/Beeper/Components/BeeperComponent.cs
  Content.Shared/Beeper/Components/ProximityBeeperComponent.cs
  Content.Shared/Beeper/Systems/BeeperSystem.cs
  Content.Shared/Beeper/Systems/ProximityBeeperSystem.cs
  Content.Shared/ProximityDetection/Components/ProximityDetectorComponent.cs
  Content.Shared/ProximityDetection/ProximityDetectionEvents.cs
  Content.Shared/ProximityDetection/Systems/ProximityDetectionSystem.cs
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: Status: Needs Review

#23504 Arachnid plushie
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/toy.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Textures/Objects/Fun/toys.rsi/meta.json
  Resources/Textures/Objects/Fun/toys.rsi/plushie_arachnid.png
Labels: No C#, Changes: Sprites

#23546 Revert "Electric anomaly rework"
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Shared/Anomaly/Effects/Components/ElectricityAnomalyComponent.cs
Labels: Status: Needs Review

#23547 fix pda pai ejection slot image
  Content.Client/PDA/PdaMenu.xaml.cs
Labels: Changes: UI

#23209 Penguins are more tolerant to the cold
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: No C#, Status: Awaiting Changes

#23549 Revert "Revert "Electric anomaly rework""
  Content.Server/Anomaly/Effects/ElectricityAnomalySystem.cs
  Content.Server/Lightning/LightningSystem.cs
  Content.Shared/Anomaly/Effects/Components/ElectricityAnomalyComponent.cs
Labels: Status: Needs Review

#23542 Hyper convection lathe buff
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: No C#

#23444 Teslaloose and Singuloose counterplay
  Content.Server/Tesla/Components/TeslaEnergyBallComponent.cs
  Content.Server/Tesla/EntitySystem/TeslaEnergyBallSystem.cs
  Resources/Locale/en-US/prototypes/catalog/fills/crates/engineering-crates.ftl
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_engineering.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Entities/Objects/Devices/holoprojectors.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Structures/Holographic/projections.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/Tesla/energyball.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/Research/experimental.yml
  Resources/Textures/Objects/Devices/Holoprojectors/field.rsi/icon.png
  Resources/Textures/Objects/Devices/Holoprojectors/field.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Battery/particle_decelerator.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/particle_decelerator.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/particle_decelerator.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/particle_decelerator.rsi/meta.json
  Resources/Textures/Structures/Holo/field.rsi/icon.png
  Resources/Textures/Structures/Holo/field.rsi/meta.json
Labels: Changes: Sprites, Status: Needs Review

#23544 Ports the derelict sign decal
  Resources/Prototypes/Decals/derelictsign.yml
  Resources/Textures/Decals/derelictsign.rsi/derelict1.png
  Resources/Textures/Decals/derelictsign.rsi/derelict10.png
  Resources/Textures/Decals/derelictsign.rsi/derelict11.png
  Resources/Textures/Decals/derelictsign.rsi/derelict12.png
  Resources/Textures/Decals/derelictsign.rsi/derelict13.png
  Resources/Textures/Decals/derelictsign.rsi/derelict14.png
  Resources/Textures/Decals/derelictsign.rsi/derelict15.png
  Resources/Textures/Decals/derelictsign.rsi/derelict16.png
  Resources/Textures/Decals/derelictsign.rsi/derelict2.png
  Resources/Textures/Decals/derelictsign.rsi/derelict3.png
  Resources/Textures/Decals/derelictsign.rsi/derelict4.png
  Resources/Textures/Decals/derelictsign.rsi/derelict5.png
  Resources/Textures/Decals/derelictsign.rsi/derelict6.png
  Resources/Textures/Decals/derelictsign.rsi/derelict7.png
  Resources/Textures/Decals/derelictsign.rsi/derelict8.png
  Resources/Textures/Decals/derelictsign.rsi/derelict9.png
  Resources/Textures/Decals/derelictsign.rsi/meta.json
Labels: No C#, Changes: Sprites

#23526 Uranium Ore Visual Change
  Resources/Textures/Objects/Materials/ore.rsi/meta.json
  Resources/Textures/Objects/Materials/ore.rsi/uranium.png
Labels: No C#, Changes: Sprites

#23446 Map Readability
  Resources/Prototypes/Entities/Objects/Devices/station_beacon.yml
Labels: No C#

#23298 Allows a possibility for a new reagant to work on dead if applied.
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
Labels: Status: Needs Review

#23552 Flatpacker Tweaks
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml
  Content.Client/Construction/UI/FlatpackCreatorMenu.xaml.cs
  Content.Server/Construction/FlatpackSystem.cs
  Resources/Locale/en-US/construction/components/flatpack.ftl
  Resources/Prototypes/Entities/Structures/Machines/flatpacker.yml
Labels: Changes: UI

#21333 Fixed client console flooding with warnings on RGB color slider changes
  Content.Client/Lobby/UI/LobbyCharacterPreviewPanel.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: Status: Needs Review

#23009 Fix atmos UI decimal separator bug
  Content.Client/Atmos/UI/GasFilterBoundUserInterface.cs
  Content.Client/Atmos/UI/GasFilterWindow.xaml
  Content.Client/Atmos/UI/GasFilterWindow.xaml.cs
  Content.Client/Atmos/UI/GasMixerBoundUserInteface.cs
  Content.Client/Atmos/UI/GasMixerWindow.xaml
  Content.Client/Atmos/UI/GasMixerWindow.xaml.cs
  Content.Client/Atmos/UI/GasPressurePumpBoundUserInterface.cs
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml
  Content.Client/Atmos/UI/GasPressurePumpWindow.xaml.cs
  Content.Client/Atmos/UI/GasVolumePumpBoundUserInterface.cs
  Content.Client/Atmos/UI/GasVolumePumpWindow.xaml
  Content.Client/Atmos/UI/GasVolumePumpWindow.xaml.cs
  Content.Shared/Localizations/UserInputParser.cs
  Content.Tests/Shared/Localizations/UserInputParserTest.cs
Labels: Changes: UI, Status: Needs Review

#23561 remove salvage mob ghost roles for real
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: No C#

#23566 gemini update
  Resources/Maps/gemini.yml
Labels: No C#, Changes: Map

#23567 Beacon Update Omega
  Resources/Maps/omega.yml
Labels: No C#, Changes: Map

#23188 More Buildable Furniture + Tweaks
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Furniture/dresser.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/dresser.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/filing_cabinet.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/seats.yml
  Resources/Prototypes/Recipes/Construction/furniture.yml
  Resources/Prototypes/Recipes/Construction/storage.yml
Labels: No C#

#23580 Diagnostic Hud can see health silicon
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
Labels: No C#

#23581 make chem layer in bottles not semitransparent
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-1.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-2.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-3.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-4.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-5.png
  Resources/Textures/Objects/Specific/Chemistry/bottle.rsi/bottle-1-6.png
Labels: No C#, Changes: Sprites

#23579 Fix epinephrine yaml
  Resources/Prototypes/Reagents/medicine.yml
Labels: No C#

#23576 Slightly nerf rigged boxing gloves
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#23560 Ghost Sheet Inhand Fix
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Misc/ghostsheet.rsi/inhand-right.png
Labels: No C#, Changes: Sprites

#23564 add secret weight prototype cvar
  Content.Server/GameTicking/Rules/SecretRuleSystem.cs
  Content.Shared/CCVar/CCVars.cs
Labels: Status: Needs Review

#23592 Nerf rigged gloves PROPERLY
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: No C#

#23548 More arachnid emote noises
  Resources/Audio/Voice/Arachnid/arachnid_chitter.ogg
  Resources/Audio/Voice/Arachnid/arachnid_click.ogg
  Resources/Audio/Voice/Arachnid/attributions.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: No C#

#23586 Expose preset in status
  Content.Server/GameTicking/GameTicker.StatusShell.cs
Labels: Status: Needs Review

#23387 Fix Round Restarted Announcements not playing
  Content.Client/GameTicking/Managers/ClientGameTicker.cs
  Content.Server/GameTicking/GameTicker.RoundFlow.cs
  Content.Shared/GameTicking/SharedGameTicker.cs
Labels: Status: Needs Review

#23568 Fix player rolling agent and operative at the same time
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
Labels: Status: Needs Review

#23598 Adds steel tiles to construction module
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: No C#

#23596 Remove dummy gameticker cvars
  Content.Server/GameTicking/GameTicker.CVars.cs
Labels: Status: Needs Review

#23595 Lizzer axolotl frills no longer look bad (it had messed up offset)
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/frills_axolotl.png
Labels: No C#, Changes: Sprites
