Repository space-wizards/space-station-14, pull requests merged in 2025-05, with the labels that each got.

#37076 Fix action ent prediction
  Content.Client/Actions/ActionsSystem.cs
Labels: S: Untriaged, size/XS

#37079 Make universal access config better
  Content.Server/Access/Systems/AccessOverriderSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
Labels: S: Untriaged, S: Approved, size/XS

#37089 Fix listcontainer constantly disposing children
  Content.Client/UserInterface/Controls/ListContainer.cs
Labels: S: Untriaged, size/XS

#37085 Fixes battery weapons changing firemode on wield
  Content.Shared/Weapons/Ranged/Systems/BatteryWeaponFireModesSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
Labels: T: Bugfix, S: Needs Review, size/XS

#37094 cleanup snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37095 cleanup revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: No C#, size/XS

#35681 Vox now can eat trash other other inedible things
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/toxins.ftl
  Resources/Prototypes/Body/Organs/vox.yml
  Resources/Prototypes/Body/Prototypes/vox.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bagel.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/meals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/noodles.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/soup.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/pyrotechnic.yml
  Resources/Prototypes/Reagents/toxins.yml
  Resources/Prototypes/tags.yml
  Resources/ServerInfo/Guidebook/Mobs/Vox.xml
Labels: P3: Standard, T: New Feature, Changes: No C#, D2: Medium, S: Needs Review, A: Service, S: Undergoing Maintainer Discussion, A: Character/Species, A: Roleplay/Lore, size/M

#37105 Fix food slicing showing utensil popup
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
Labels: S: Untriaged, size/XS

#37098 Select current target in mailing unit UI, prevent UI jumping
  Content.Client/Disposal/Mailing/MailingUnitBoundUserInterface.cs
Labels: S: Untriaged, size/S

#37061 Atmos air (6500 kPa) marker
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Content.Shared/Atmos/Atmospherics.cs
  Resources/Prototypes/Entities/Markers/atmos_blocker.yml
  Resources/Textures/Markers/atmos.rsi/air.png
  Resources/Textures/Markers/atmos.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#37027 Updates the Pirate Captain Hardsuit Helmet light sprites.
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-light-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-light.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-unshaded-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-unshaded.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/icon-flash.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/piratecaptainhelm.rsi/on-equipped-HELMET.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S

#36923 Add noir glasses
  Content.Client/Overlays/BlackAndWhiteOverlay.cs
  Content.Client/Overlays/BlackAndWhiteOverlaySystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Overlays/BlackAndWhiteOverlayComponent.cs
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/equipped-EYES.png
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/icon.png
  Resources/Textures/Clothing/Eyes/Glasses/noir.rsi/meta.json
Labels: Changes: Sprites, S: Untriaged, size/M

#36336 Overhauled stamina slowdown behavior
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: Combat, size/M

#37100 Fix vending machine manager wire error
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
Labels: T: Bugfix, P2: Raised, Changes: UI, D3: Low, A: General Interactions, size/XS

#37103 fix asteroid tiles
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: No C#

#37084 Wizard Helmet in the Magic Vend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/magivend.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37053 fix logic gate draw depth
  Resources/Prototypes/Entities/Structures/gates.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37057 Species are now picked at random in the developer environment!
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Shared/CCVar/CCVars.Ic.cs
  Resources/ConfigPresets/Build/development.toml
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, A: Core Tech, size/S

#37114 Fix AI movement
  Content.Shared/Interaction/SharedInteractionSystem.Blocking.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Untriaged, size/S

#37115 New Salvage Ruin - Atmos Interchange
  Resources/Maps/Ruins/atmos_interchange.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: Changes: No C#, Changes: Map, size/XL

#37121 Fix station beacon not updating
  Content.Server/Pinpointer/NavMapSystem.cs
Labels: S: Untriaged, size/XS

#37125 noRot on 2-way lever
  Resources/Prototypes/Entities/Structures/Wallmounts/switch.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37126 Traumoxadone
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, S: Untriaged, size/S

#37130 fix clone appearance
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/IdentityManagement/SharedIdentitySystem.cs
Labels: S: Untriaged, size/XS

#33470 New Weapon: Knuckle Dusters
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Actions/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/weapons/brass_knuckles.yml
  Resources/Prototypes/Recipes/Construction/weapons.yml
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/brassknuckleduster.rsi/brassknuckleduster.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/brassknuckleduster.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/brassknuckleduster.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/brassknuckleduster.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/brassknuckleduster.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/knuckleduster_nocell.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/knuckleduster_off.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/knuckleduster_on.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/off-equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/off-inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/off-inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/on-equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/on-inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/electricknuckleduster.rsi/on-inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/goldenknuckleduster.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/goldenknuckleduster.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/knuckleduster.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/knuckleduster.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/knuckleduster.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/knuckleduster.rsi/knuckleduster.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/knuckleduster.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/syndicateknuckleduster.rsi/equipped-HAND.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/syndicateknuckleduster.rsi/inhand-left.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/syndicateknuckleduster.rsi/inhand-right.png
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/syndicateknuckleduster.rsi/meta.json
  Resources/Textures/Clothing/Hands/Gloves/KnuckleDusters/syndicateknuckleduster.rsi/syndicateknuckleduster.png
Labels: P2: Raised, T: New Feature, Changes: No C#, D2: Medium, Changes: Sprites, S: Needs Review, T: Balance Change, A: Cargo/Salvage, A: Combat, A: Roundflow/Antag, size/M

#31218 Renders reagent grinders over lights
  Content.Shared/DrawDepth/DrawDepth.cs
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: Art, T: Visual Change, size/S

#37142 fix atmos grid markers
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Commands.cs
  Resources/Changelog/Maps.yml
Labels: T: Bugfix, P2: Raised, D3: Low, S: Approved, A: Engineering, size/S

#37143 randomize names for mindshielded eventhumanoids
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#37146 make node scanner don't show interface if scanned entity not a artefact
  Content.Shared/Xenoarchaeology/Equipment/NodeScannerSystem.cs
Labels: S: Untriaged, size/XS

#36735 Fix some maintenance doors not using wires configuration + cleanup + minor changes
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/access.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Needs Review, A: General Interactions, size/M

#37086 Fix throwing prediction
  Content.Shared/Throwing/LandEvent.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: S: Untriaged, S: Approved, size/S

#36738 ClothingOuterEVASuitSyndicate
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Crates/permaescape.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/migration.yml
Labels: Changes: No C#, S: Needs Review, size/XS

#35149 Sentry turrets - Part 5: Reuseable UI components
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/UserInterface/Controls/MonotoneButton.cs
  Content.Client/UserInterface/Controls/MonotoneCheckBox.cs
  Resources/Fonts/RobotoMono/ATTRIBUTION.txt
  Resources/Fonts/RobotoMono/LICENSE.txt
  Resources/Fonts/RobotoMono/RobotoMono-Bold.ttf
  Resources/Fonts/RobotoMono/RobotoMono-Italic.ttf
  Resources/Fonts/RobotoMono/RobotoMono-Regular.ttf
  Resources/Textures/Interface/Nano/Monotone/attributions.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_button.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_button.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_both.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_both.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_left.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_left.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_right.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_button_open_right.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_checkbox_checked.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_checkbox_checked.svg.96dpi.png.yml
  Resources/Textures/Interface/Nano/Monotone/monotone_checkbox_unchecked.svg.96dpi.png
  Resources/Textures/Interface/Nano/Monotone/monotone_checkbox_unchecked.svg.96dpi.png.yml
Labels: P2: Raised, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Combat, A: General Interactions, size/M

#37060 Revert "Resprited the Chief Engineer's mantle/manica"
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/icon.png
  Resources/Textures/Clothing/Neck/mantles/cemantle.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Undergoing Maintainer Discussion, size/S

#37151 Fix skeletons spawning in folded body bags
  Content.Shared/Foldable/FoldableSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, A: Roundflow/Antag, size/S

#36369 Replace uplink thieving gloves with chameleon thieving gloves
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Roundflow/Antag, size/S

#37157 Omega Update (Genpop)
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, size/XL

#37161 Add more ruins
  Resources/Maps/Lavaland/generator_scrapyard.yml
  Resources/Maps/Lavaland/lava_farm.yml
  Resources/Maps/Lavaland/mug_factory.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#37160 Salvage Threat: Gibtonite
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/Magnet/asteroid.yml
  Resources/Prototypes/Procedural/vgroid.yml
  Resources/Textures/Structures/Walls/rock.rsi/gibtonite_active.png
  Resources/Textures/Structures/Walls/rock.rsi/gibtonite_inactive.png
  Resources/Textures/Structures/Walls/rock.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/M

#37149 Revert "add material composition to some salv treasure"
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Objects/Misc/treasure.yml
Labels: Changes: No C#, S: Untriaged, size/S

#37169 Don't despawn off-grid salv mob corpses
  Content.Server/Salvage/SalvageSystem.Magnet.cs
Labels: S: Untriaged, size/XS

#37171 Bagel Station - Removed Gamer Loot
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, size/XS

#37162 Update GDPR erase script to latest DB schema
  Tools/erase_user_data.py
Labels: Changes: No C#, S: Untriaged, size/S, A: Database

#37152 Remove update from DeviceLinkSystem
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Shared/DeviceLinking/DeviceLinkSinkComponent.cs
  Content.Shared/DeviceLinking/SharedDeviceLinkSystem.cs
Labels: P2: Raised, T: Performance, S: Needs Review, S: Untriaged, size/S

#36328 Refactor magic speak system to be a component added to actions
  Content.Server/Magic/MagicSystem.cs
  Content.Server/Speech/EntitySystems/SpeakOnActionSystem.cs
  Content.Shared/Magic/Events/ChangeComponentSpellEvent.cs
  Content.Shared/Magic/Events/ChargeSpellEvent.cs
  Content.Shared/Magic/Events/InstantSpawnSpellEvent.cs
  Content.Shared/Magic/Events/KnockSpellEvent.cs
  Content.Shared/Magic/Events/MindSwapSpellEvent.cs
  Content.Shared/Magic/Events/ProjectileSpellEvent.cs
  Content.Shared/Magic/Events/RandomGlobalSpawnSpellEvent.cs
  Content.Shared/Magic/Events/SmiteSpellEvent.cs
  Content.Shared/Magic/Events/SpeakSpellEvent.cs
  Content.Shared/Magic/Events/TeleportSpellEvent.cs
  Content.Shared/Magic/Events/VoidApplauseSpellEvent.cs
  Content.Shared/Magic/Events/WorldSpawnSpellEvent.cs
  Content.Shared/Magic/ISpeakSpell.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/Speech/Components/SpeakOnActionComponent.cs
  Content.Shared/Speech/EntitySystems/SharedSpeakOnActionSystem.cs
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Prototypes/Magic/animate_spell.yml
  Resources/Prototypes/Magic/event_spells.yml
  Resources/Prototypes/Magic/forcewall_spells.yml
  Resources/Prototypes/Magic/knock_spell.yml
  Resources/Prototypes/Magic/mindswap_spell.yml
  Resources/Prototypes/Magic/projectile_spells.yml
  Resources/Prototypes/Magic/spawn_spells.yml
  Resources/Prototypes/Magic/touch_spells.yml
  Resources/Prototypes/Magic/utility_spells.yml
Labels: P3: Standard, T: Refactor, D2: Medium, S: Needs Review, A: Roundflow/Antag, size/M

#37186 Allow shelves to be placed rotated when built by hand
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/shelfs.yml
Labels: T: Bugfix, Changes: No C#, S: Untriaged, size/S

#36984 Fix for Whoopie Cushions (Fixes #32028)
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37193 Salv Ruins Again
  Resources/Maps/Lavaland/cave_murder.yml
  Resources/Maps/Lavaland/escape_pod_crash.yml
  Resources/Maps/Lavaland/lava_river.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#37198 Fix `ComponentTogglerSystem` deletion error
  Content.Shared/Item/ItemToggle/ComponentTogglerSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, A: Core Tech, size/XS

#37124 Ghost friction fix
  Content.Shared/Movement/Components/FrictionContactsComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Needs Review, S: Untriaged, size/S

#37215 Removing redundant trash tags on medipens
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
Labels: Changes: No C#, S: Untriaged, size/S

#37199 StaminaSystem to SharedStaminaSystem
  Content.Client/Damage/Systems/StaminaSystem.cs
  Content.Server/Damage/Systems/StaminaSystem.cs
  Content.Server/Hands/Systems/HandsSystem.cs
  Content.Server/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Damage/Components/StaminaDamageOnEmbedComponent.cs
  Content.Shared/Damage/Components/StaminaModifierComponent.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.Modifier.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.Resistance.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#37195 AI Law Board File Clean Up
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/law_boards.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged

#37183 Fix dough rolling
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
Labels: S: Untriaged, size/XS

#37179 Fix effects of hosted anomaly when transform is parented
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Core Tech, A: Science, size/S

#37155 Split out the CloneComponents into its own method
  Content.Server/Cloning/CloningSystem.cs
  Content.Shared/Cloning/CloningSettingsPrototype.cs
Labels: S: Untriaged, S: Approved, size/M

#37148 Fix brains, borgs etc not counting as marooned
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
Labels: S: Untriaged, size/S

#37140 Add collapse button to lobby right panel
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Lobby/UI/LobbyGui.xaml.cs
  Resources/Textures/Interface/Default/filled_left_arrow.svg
  Resources/Textures/Interface/Default/filled_left_arrow.svg.192dpi.png
  Resources/Textures/Interface/Default/filled_left_arrow.svg.192dpi.png.yml
  Resources/Textures/Interface/Default/filled_right_arrow.svg
  Resources/Textures/Interface/Default/filled_right_arrow.svg.192dpi.png
  Resources/Textures/Interface/Default/filled_right_arrow.svg.192dpi.png.yml
Labels: P3: Standard, T: New Feature, Changes: UI, S: Needs Review, S: Approved, size/S

#29349 Port fancy speech bubbles
  Content.Client/Chat/TypingIndicator/TypingIndicatorSystem.cs
  Content.Client/Chat/TypingIndicator/TypingIndicatorVisualizerSystem.cs
  Content.Client/Holopad/HolopadSystem.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Server/Holopad/HolopadSystem.cs
  Content.Shared/Chat/TypingIndicator/SharedTypingIndicatorSystem.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorEvents.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorPrototype.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorState.cs
  Content.Shared/Chat/TypingIndicator/TypingIndicatorVisuals.cs
  Content.Shared/Holopad/HolopadUserComponent.cs
  Resources/Prototypes/typing_indicator.yml
  Resources/Textures/Effects/speech.rsi/alien3.png
  Resources/Textures/Effects/speech.rsi/alienroyal3.png
  Resources/Textures/Effects/speech.rsi/default3.png
  Resources/Textures/Effects/speech.rsi/guardian3.png
  Resources/Textures/Effects/speech.rsi/holo3.png
  Resources/Textures/Effects/speech.rsi/lawyer3.png
  Resources/Textures/Effects/speech.rsi/lizard3.png
  Resources/Textures/Effects/speech.rsi/meta.json
  Resources/Textures/Effects/speech.rsi/moth3.png
  Resources/Textures/Effects/speech.rsi/robot3.png
  Resources/Textures/Effects/speech.rsi/slime3.png
  Resources/Textures/Effects/speech.rsi/spider3.png
  Resources/Textures/Effects/speech.rsi/syndibot3.png
Labels: P3: Standard, Changes: UI, D3: Low, Changes: Sprites, S: Needs Review, T: UI / UX Improvement, S: Approved, S: Undergoing Maintainer Discussion, A: Chat, T: Visual Change, size/M, S: Art Approval

#37108 Water bottle dispenser fix & Bottle Yaml Organizing
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/sodawater-bottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/tonic-bottle.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-3.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-4.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/fill-5.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/waterbottle.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/M

#37107 Ichor double-metabolize fix + Very minor cleanup
  Content.Server/Devour/DevourSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Reagents/biological.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#37082 Darken reptilian eye sockets to reduce the effect of mixels
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/full.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_f.png
  Resources/Textures/Mobs/Species/Reptilian/parts.rsi/head_m.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/XS

#37106 Fixed holy water metabolism rate
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#36944 Make departmental orders consoles print slips
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoOrderRow.xaml
  Content.Client/Cargo/UI/CargoShuttleMenu.xaml.cs
  Content.Client/Paper/UI/PaperVisualsComponent.cs
  Content.Client/Paper/UI/PaperWindow.xaml
  Content.Client/Paper/UI/PaperWindow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/CargoOrderData.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Content.Shared/Cargo/Components/CargoSlipComponent.cs
  Content.Shared/Cargo/Prototypes/CargoAccountPrototype.cs
  Resources/Audio/Effects/Cargo/attributions.yml
  Resources/Audio/Effects/Cargo/beep.ogg
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Prototypes/Catalog/cargo_accounts.yml
  Resources/Prototypes/Entities/Objects/Misc/acquisition_slips.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Machines/fax_machine.yml
  Resources/Prototypes/SoundCollections/machines.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/barcode.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/cargo.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/engineering.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/medical.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/science.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/security.svg.192dpi.png.yml
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png
  Resources/Textures/Interface/Paper/AcquisitionSlips/service.svg.192dpi.png.yml
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_header.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/acquisition_form_words.png
  Resources/Textures/Objects/Misc/bureaucracy.rsi/meta.json
Labels: Changes: UI, Changes: Sprites, S: Needs Review, S: Untriaged, Changes: Audio, size/M

#36961 Borg Hands is Kill
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: Changes: No C#, S: Untriaged, size/S

#37240 Cryotube draw-depth
  Content.Client/Medical/Cryogenics/CryoPodSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-off.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-on.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-open.png
Labels: Changes: Sprites, size/XS

#37241 Fire damage system fixes
  Content.Shared/Atmos/GetFireProtectionEvent.cs
  Content.Shared/Clothing/EntitySystems/FireProtectionSystem.cs
Labels: S: Untriaged, size/XS

#37228 Make animals drop giblets into container or floor when they inserted into container
  Content.Shared/Gibbing/Systems/GibbingSystem.cs
Labels: S: Untriaged, size/S

#37231 Moth displacement maps
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/back.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/hand.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-male.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/outerclothing.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/shoes.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/M, S: Art Approval

#37092 Four-way pipe junction, swapping junction construction fix
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/Textures/Structures/Piping/disposal.rsi/conpipe-x.png
  Resources/Textures/Structures/Piping/disposal.rsi/meta.json
  Resources/Textures/Structures/Piping/disposal.rsi/pipe-u.png
  Resources/Textures/Structures/Piping/disposal.rsi/pipe-x.png
  Resources/Textures/Structures/Piping/disposal.rsi/pipe-xf.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/M

#37065 Raises max chest markings for all species (except Reptilian) to 2
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
Labels: Changes: No C#, S: Untriaged

#36873 make throw insert container code more clear
  Content.Server/Containers/ThrowInsertContainerComponent.cs
  Content.Server/Containers/ThrowInsertContainerSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#37255 fix pka admin log
  Content.Shared/Weapons/Ranged/Upgrades/GunUpgradeSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#37237 Genpop closet cargo orders
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/S

#30683 Make container draw disableble for mob-affecting Hyposprays
  Content.Client/Chemistry/UI/HyposprayStatusControl.cs
  Content.Server/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, A: Medical, T: Visual Change, size/S

#37261 Fix chairs deleting players
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Strap.cs
Labels: T: Bugfix, P1: High, D3: Low, A: General Interactions, size/XS

#37260 Add 3 new Exomorph posters
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster64_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster65_contraband.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster66_contraband.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S, S: Art Approval

#37224 AI context menu fix
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#36950 Cleanup warnings: CS0414
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Maps/MapMigrationSystem.cs
  Content.Shared/Bed/Cryostorage/SharedCryostorageSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#36949 Cleanup warnings: CS8321, CS0105, CS0168
  Content.Server/Entry/EntryPoint.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.Processing.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: S: Untriaged, size/XS

#37234 Cargo request and bounty console deny sound cooldown
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Shared/Cargo/Components/CargoBountyConsoleComponent.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#37258 Move random species selection earlier in player spawning logic
  Content.Server/GameTicking/GameTicker.Spawning.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: Character/Species, size/S

#37252 For DamagedSiliconAccent use Destructible threshold for default "DamageAtMaxThreshold"
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
  Content.Shared/Speech/Components/DamagedSiliconAccentComponent.cs
Labels: S: Untriaged, size/S

#37265 Small InventorySystem.Equip Unequip Reason bugfix
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: S: Untriaged, size/XS

#37262 Amber Station - Security and AI Sat Overhaul
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#35314 Fix debug asserts in WoolySystem and UdderSystem
  Content.Shared/Animals/UdderSystem.cs
  Content.Shared/Animals/WoolySystem.cs
Labels: T: Bugfix, P1: High, D2: Medium, S: Awaiting Changes, A: Core Tech, size/S

#37200 Implement Rules amendment
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, Branch: Stable, size/S

#37277 merge stable into master
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR9MassSabotage.xml
Labels: Changes: No C#, S: Needs Review, size/S

#37276 Fix borg chassis gibbing not dropping items
  Content.Server/Silicons/Borgs/BorgSystem.Ui.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
Labels: S: Untriaged, size/S

#37051 Add ratelimit retry to discord changelog bot and continue publish changelog error.
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: T: Bugfix, P1: High, Changes: No C#, D3: Low, S: Needs Review, A: Core Tech, size/S

#37286 merge stable into master
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: No C#

#37284 Revert "Traumoxadone"
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: Changes: No C#, S: Untriaged, size/S

#37280 changing sprite of mime satchel
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/mime.rsi/inhand-right.png
Labels: Changes: No C#, Changes: Sprites, size/XS

#37271 Validate Cargo Markets
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Content.Shared/Cargo/Prototypes/CargoMarketPrototype.cs
  Content.Shared/Cargo/Prototypes/CargoProductPrototype.cs
  Resources/Prototypes/Catalog/Cargo/markets.yml
Labels: S: Untriaged, size/S

#36700 Link to reagent ingredients on the same Guidebook page
  Content.Client/Guidebook/Controls/GuideMicrowaveEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentEmbed.xaml.cs
  Content.Client/Guidebook/Controls/GuideReagentReaction.xaml
  Content.Client/Guidebook/Controls/GuideReagentReaction.xaml.cs
  Content.Client/Guidebook/Controls/GuidebookRichPrototypeLink.cs
  Content.Client/Guidebook/Controls/GuidebookWindow.xaml.cs
  Content.Client/Guidebook/Controls/IPrototypeLinkControl.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Content.Client/UserInterface/ControlExtensions/ControlExtension.cs
Labels: P2: Raised, T: New Feature, Changes: UI, Changes: Map, D2: Medium, Changes: Sprites, S: Needs Review, S: Approved, A: Guidebook, A: Medical, size/M

#37296 readded trashbags to Autolathe recipes
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions

#37291 Rainbow Jumpskirt
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/color_jumpskirts.yml
  Resources/Prototypes/Entities/Objects/Decoration/present.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/passenger.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/rainbow.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: General Interactions, size/S, S: Art Approval

#37305 Fixed Silo not accepting diamonds
  Resources/Prototypes/Entities/Structures/Machines/silo.yml
Labels: Changes: No C#, S: Untriaged

#34926 [Cargo]New Bounty: Salvage
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/tags.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Cargo/Salvage, size/S

#37307 Add test that mob damage thresholds have alerts
  Content.IntegrationTests/Tests/Damageable/MobThresholdsTest.cs
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
Labels: T: Bugfix, P3: Standard, D3: Low, A: Integration Tests, A: Silicons, size/S

#37314 Fix: Make gas canisters eject inserted tank/jetpack on break
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Changes: No C#, size/XS

#37303 move SignalState to shared
  Content.Server/DeviceLinking/Components/LogicGateComponent.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/EdgeDetectorSystem.cs
  Content.Shared/DeviceLinking/SharedLogicGate.cs
Labels: S: Untriaged, S: Approved, size/S

#37318 Change atmos plaques to yaml
  Content.Server/Atmos/Components/AtmosPlaqueComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosPlaqueSystem.cs
  Content.Shared/Atmos/Visuals/AtmosPlaqueVisuals.cs
  Resources/Locale/en-US/atmos/plaque-component.ftl
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/atmos_plaque.yml
Labels: S: Untriaged, size/M

#34205 Make reagent dispensers gridinv-based instead of pseudo-listinv
  Content.Client/Chemistry/UI/ReagentCardControl.xaml.cs
  Content.Client/Chemistry/UI/ReagentDispenserBoundUserInterface.cs
  Content.Client/Chemistry/UI/ReagentDispenserWindow.xaml.cs
  Content.Server/Chemistry/Components/ReagentDispenserComponent.cs
  Content.Server/Chemistry/EntitySystems/ReagentDispenserSystem.cs
  Content.Shared/Chemistry/Dispenser/ReagentDispenserInventoryPrototype.cs
  Content.Shared/Chemistry/SharedReagentDispenser.cs
  Resources/Prototypes/Catalog/ReagentDispensers/beverage.yml
  Resources/Prototypes/Catalog/ReagentDispensers/chemical.yml
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
Labels: T: Bugfix, P2: Raised, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, S: Approved, A: Service, A: Medical, size/M

#37320 Fix meteors deceleration
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/meteors.yml
Labels: Changes: No C#, size/XS

#37256 Mob pull spin fix
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: S: Needs Review, S: Untriaged, size/S

#37324 Fix reagent dispenser test
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37020 Better Godmode
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/ImmovableRod/ImmovableRodSystem.cs
  Content.Server/Kitchen/EntitySystems/ReagentGrinderSystem.cs
  Content.Server/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/Damage/Systems/SharedGodmodeSystem.cs
  Content.Shared/Destructible/SharedDestructibleSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, A: General Interactions, T: Of Admin Interest, size/S

#37308 Modified the T2/T3 laser recipies to (hopefully) see more than just xray cannons
  Resources/Prototypes/Recipes/Lathes/security.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#36761 Fix MagazineVisualsSpritesExist for engine PR
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Tests/MagazineVisualsSpriteTest.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Integration Tests, size/S

#37129 Add EvenHealthChange effect
  Content.Server/EntityEffects/Effects/EvenHealthChange.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/medicine.yml
Labels: S: Untriaged, size/M

#37330 Fix: Add ability to execute using crusher weapons
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
Labels: Changes: No C#, S: Approved, size/XS

#37270 Increase paper max char limit to 10,000
  Content.Shared/Paper/PaperComponent.cs
Labels: S: Untriaged, S: Approved, size/XS

#36807 Station news Discord webhook
  Content.Server/MassMedia/Systems/NewsSystem.cs
  Content.Shared/CCVar/CCVars.Discord.cs
  Resources/Locale/en-US/mass-media/news-discord.ftl
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, S: Approved, A: Roundflow/Antag, size/M

#37335 Fix observer pointlights being broken
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#37322 New ID interface sprites.
  Resources/Textures/Interface/Ashen/Slots/id.png
  Resources/Textures/Interface/Ashen/Slots/pda.png
  Resources/Textures/Interface/Clockwork/Slots/id.png
  Resources/Textures/Interface/Default/Slots/id.png
  Resources/Textures/Interface/Default/meta.json
  Resources/Textures/Interface/Minimalist/Slots/id.png
  Resources/Textures/Interface/Minimalist/Slots/pda.png
  Resources/Textures/Interface/Plasmafire/Slots/id.png
  Resources/Textures/Interface/Retro/Slots/id.png
  Resources/Textures/Interface/Slimecore/Slots/id.png
Labels: P2: Raised, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, T: Visual Change, size/XS

#37181 Dragon Direction Briefing Fixed
  Content.Server/GameTicking/Rules/DragonRuleSystem.cs
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Labels: S: Needs Review, S: Untriaged, size/S

#36613 New hairs2
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/longwithbangs.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Character/Species, size/S, S: Art Approval

#37206 Elkridge - Botany Update
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, size/L

#37029 Increase benchmark BuildTimeout
  Content.Benchmarks/ComponentQueryBenchmark.cs
  Content.Benchmarks/Program.cs
  Content.Benchmarks/RaiseEventBenchmark.cs
Labels: T: Bugfix, P3: Standard, D3: Low, A: Core Tech, size/M

#37347 Booze and soda dispenser activate ui fix
  Resources/Prototypes/Entities/Structures/Dispensers/booze.yml
  Resources/Prototypes/Entities/Structures/Dispensers/soda.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#37337 Cleanup warnings in `IconSmoothSystem`
  Content.Client/IconSmoothing/IconSmoothSystem.Edge.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37343 Fix allowRotationMirror not appearing for the YAML linter
  Content.Shared/Maps/ContentTileDefinition.cs
Labels: S: Untriaged, size/XS

#37306 Map renderer rework
  Content.MapRenderer/CommandLineArguments.cs
  Content.MapRenderer/Painters/DecalPainter.cs
  Content.MapRenderer/Painters/EntityPainter.cs
  Content.MapRenderer/Painters/GridPainter.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Painters/TilePainter.cs
  Content.MapRenderer/Program.cs
Labels: S: Needs Review, S: Untriaged, size/M

#35133 Refactor: ProximityDetectionSystem
  Content.Shared/Beeper/Systems/ProximityBeeperSystem.cs
  Content.Shared/ProximityDetection/Components/ProximityDetectorComponent.cs
  Content.Shared/ProximityDetection/ProximityDetectionEvents.cs
  Content.Shared/ProximityDetection/Systems/ProximityDetectionSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/spectral_locator.yml
  Resources/Prototypes/Entities/Objects/Specific/Research/anomaly.yml
Labels: P3: Standard, T: Refactor, D3: Low, S: Needs Review, A: Core Tech, size/M

#37351 Fix: Play sound when equiping clothing by using it in hand
  Content.Shared/Clothing/EntitySystems/ClothingSystem.cs
Labels: S: Untriaged, size/XS

#37346 [HOTFIX] Ensure that mobs wake up when zombified
  Content.Shared/Bed/Sleep/SleepingSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, Intent: Hotfix, Branch: Staging, A: Roundflow/Antag, size/S

#37356 Stable merge for hotfix
  Content.Shared/Bed/Sleep/SleepingSystem.cs
Labels: S: Untriaged, size/S

#37251 Make the Syringe gun a science research
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Research/civilianservices.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, S: Undergoing Maintainer Discussion, size/S

#37333 Cleanup: Make separate event for the equip/unequip target
  Content.Shared/Inventory/Events/EquipAttemptEvents.cs
  Content.Shared/Inventory/Events/UnequipAttemptEvent.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/M

#37299 EVA suit re-resprite
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva_large.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/eva_syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_prisoner.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_syndicate.rsi/inhand-right.png
  Resources/Textures/Template/softsuits.png
Labels: Changes: No C#, Changes: Sprites, size/XS, S: Art Approval

#37204 Add chem barrels to salvage
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Structures/Storage/barrels.yml
  Resources/Textures/Structures/Storage/barrels.rsi/flamingmetalbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/iedweldbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/meta.json
  Resources/Textures/Structures/Storage/barrels.rsi/metalbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/radbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/silicatebarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/waterbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/weldbarrel.png
  Resources/Textures/Structures/Storage/barrels.rsi/woodenbarrel.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Cargo/Salvage, size/M, S: Art Approval

#36953 Cotton baguette for moths
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Loadouts/Miscellaneous/survival.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, S: Approved, A: Character/Species, size/S

#37360 Yellowtexting
  Content.Server/Objectives/ObjectivesSystem.cs
  Resources/Locale/en-US/objectives/round-end.ftl
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/S

#37361 Bugfix - restore the cable module to the lathe
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Recipes/Lathes/robotics.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#37372 Cleanup warnings in DamageVisualsSystem
  Content.Client/Damage/DamageVisualsSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/M

#35172 New Feature: Slot blockers
  Content.Shared/Inventory/Events/EquipAttemptEvents.cs
  Content.Shared/Inventory/Events/UnequipAttemptEvent.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/SlotBlockComponent.cs
  Content.Shared/Inventory/SlotBlockSystem.cs
  Resources/Locale/en-US/inventory/components/slot-block-component.ftl
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
Labels: P3: Standard, T: New Feature, Changes: UI, Changes: Map, D2: Medium, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, Changes: Audio, size/S

#36948 Add utensil box, add muffin tins to Kitchen Dinnerware Crate
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/food.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/utensils.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Service, size/S

#37382 Cleanup warnings in `TextScreenSystem`
  Content.Client/TextScreen/TextScreenSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37380 ssd sleep time setting for dev
  Resources/ConfigPresets/Build/development.toml
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, size/XS

#37378 Cleanup warnings in `TippyUIController`
  Content.Client/Tips/TippyUIController.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37376 Bleeding Text Tweak & Color Alerts
  Resources/Locale/en-US/medical/components/health-analyzer-component.ftl
Labels: Changes: No C#, size/XS

#37384 Cleanup warnings in `ClientClothingSystem`
  Content.Client/Clothing/ClientClothingSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37385 Cleanup warnings in `EntityStorageVisualizerSystem`
  Content.Client/Storage/Visualizers/EntityStorageVisualizerSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37373 Cleanup warnings in `GunSystem.MagazineVisuals`
  Content.Client/Weapons/Ranged/Systems/GunSystem.MagazineVisuals.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, size/S

#37364 fix: don't retroactively drain disabled batteries
  Content.Shared/PowerCell/SharedPowerCellSystem.cs
  Content.Shared/PowerCell/ToggleCellDrawSystem.cs
Labels: S: Awaiting Changes, S: Untriaged, size/S

#37366 [Hotfix] Fix anomalies breaking your legs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, Intent: Hotfix, A: Core Tech, size/XS

#37387 Merge stable into master
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#37388 Cleanup warnings in `GravitySystem`
  Content.Client/Gravity/GravitySystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#37389 Cleanup warnings in `DisposalUnitSystem`
  Content.Client/Disposal/Unit/DisposalUnitSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S
