Repository space-wizards/space-station-14, pull requests merged in 2025-03, with the labels that each got.

#35572 Wizard PDA
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Roles/Jobs/Fun/wizard_startinggear.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-wizard.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/S

#35591 Increase line spacing of the admin overlay
  Content.Client/Administration/AdminNameOverlay.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Admin Tooling, T: Of Admin Interest

#35158 make slime hair less transparent
  Resources/Prototypes/Species/slime.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, A: Character/Species, T: Visual Change, size/XS

#35596 Fix being able to write on/stamp/fax paper scrap
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/S

#35602 Changed Pride to Hubris in ion_storm.yml
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: Changes: No C#

#35058 Sentry turrets - Part 3: Turret AI
  Content.Server/Access/Systems/IdCardSystem.cs
  Content.Server/NPC/Components/NPCRangedCombatComponent.cs
  Content.Server/NPC/HTN/HTNComponent.cs
  Content.Server/NPC/HTN/HTNSystem.cs
  Content.Server/NPC/HTN/Preconditions/TargetInLOSPrecondition.cs
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/Combat/Ranged/GunOperator.cs
  Content.Server/NPC/Queries/Considerations/TargetTargetingCon.cs
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Shared/Access/AccessLevelPrototype.cs
  Content.Shared/Turrets/TurretTargetSettingsComponent.cs
  Content.Shared/Turrets/TurretTargetSettingsSystem.cs
  Resources/Locale/en-US/prototypes/access/accesses.ftl
  Resources/Prototypes/Access/command.yml
  Resources/Prototypes/Access/silicon.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
  Resources/Prototypes/NPCs/root.yml
  Resources/Prototypes/NPCs/utility_queries.yml
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, S: Approved, A: Combat, A: Core Tech, A: Silicons, size/M

#35438 DetGadget Hat Revitalization
  Content.Server/Explosion/EntitySystems/TriggerSystem.Voice.cs
  Content.Server/VoiceTrigger/StorageVoiceControlComponent.cs
  Content.Server/VoiceTrigger/StorageVoiceControlSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Locale/en-US/components/storage-voice-control-component.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
Labels: P3: Standard, T: New Feature, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Security, size/M

#35600 Fingerprint Reader System
  Content.Shared/FingerprintReader/FingerprintReaderComponent.cs
  Content.Shared/FingerprintReader/FingerprintReaderSystem.cs
  Resources/Locale/en-US/fingerprint-reader/fingerprint-reader.ftl
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, A: Security, size/M

#35583 Remove cellular resistance for slimes
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/ServerInfo/Guidebook/Mobs/SlimePerson.xml
Labels: P1: High, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, Branch: Staging, A: Roundflow/Antag, size/XS

#35605 Give the station map inhand sprites
  Resources/Textures/Objects/Devices/tablets.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/tablets.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/tablets.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art

#35608 Reagent guidebook reactions UI dividers
  Content.Client/Guidebook/Controls/GuideReagentReaction.xaml
Labels: P3: Standard, Changes: UI, Changes: No C#, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, size/S

#35611 fix cluwne pda pen slot
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: T: Bugfix, Changes: No C#, S: Untriaged, S: Approved, size/S

#35330 Revert "Make radioactive material radioactive"
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/meteor.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S, T: Content Removal

#33412 Predict vending machine UI
  Content.Client/Advertise/Systems/SpeakOnUIClosedSystem.cs
  Content.Client/UserInterface/Controls/ListContainer.cs
  Content.Client/VendingMachines/UI/VendingMachineItem.xaml.cs
  Content.Client/VendingMachines/UI/VendingMachineMenu.xaml.cs
  Content.Client/VendingMachines/VendingMachineBoundUserInterface.cs
  Content.Client/VendingMachines/VendingMachineSystem.cs
  Content.Server/Advertise/EntitySystems/SpeakOnUIClosedSystem.cs
  Content.Server/Arcade/BlockGame/BlockGameArcadeSystem.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Shared/Advertise/Components/SpeakOnUIClosedComponent.cs
  Content.Shared/Advertise/Systems/SharedSpeakOnUIClosedSystem.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.Restock.cs
  Content.Shared/VendingMachines/SharedVendingMachineSystem.cs
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: P1: High, Changes: UI, T: Performance, D1: High, S: Awaiting Changes, T: UI / UX Improvement, A: General Interactions, size/M

#32209 Change Phalanximine to be more complex, increase Arithrazine damage
  Resources/Prototypes/Reagents/medicine.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, S: Undergoing Maintainer Discussion, A: Medical

#35619 #32209 changelog
  Resources/Changelog/Parts/32209.yml
Labels: Changes: No C#, size/XS

#35620 Stable merge
  Resources/Prototypes/Reagents/medicine.yml
Labels: Changes: No C#, S: Untriaged, size/S

#35555 Cloning Refactor and bugfixes
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Cloning/AcceptCloningEui.cs
  Content.Server/Cloning/CloningConsoleSystem.cs
  Content.Server/Cloning/CloningPodSystem.cs
  Content.Server/Cloning/CloningSystem.cs
  Content.Server/Cloning/Components/RandomCloneSpawnerComponent.cs
  Content.Server/Cloning/RandomCloneSpawnerSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Speech/EntitySystems/AddAccentClothingSystem.cs
  Content.Server/Traits/Assorted/UnrevivableSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Server/Zombies/ZombieSystem.cs
  Content.Shared/Cloning/CloningEvents.cs
  Content.Shared/Cloning/CloningPodComponent.cs
  Content.Shared/Cloning/CloningSettingsPrototype.cs
  Content.Shared/Forensics/Components/DnaComponent.cs
  Content.Shared/Forensics/Events.cs
  Content.Shared/Traits/Assorted/UnrevivableComponent.cs
  Resources/Locale/en-US/medical/components/cloning-console-component.ftl
  Resources/Prototypes/DeviceLinking/source_ports.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Entities/Mobs/Species/dwarf.yml
  Resources/Textures/Markers/paradox_clone.rsi/meta.json
  Resources/Textures/Markers/paradox_clone.rsi/preview.png
Labels: P2: Raised, T: Refactor, D1: High, Changes: Sprites, S: Needs Review, A: Core Tech, size/L

#35334 Hotfix: Fix uplinks allowing buying conditionally restricted items
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, Intent: Hotfix, Branch: Stable, A: Roundflow/Antag, size/S

#35455 add altered silicon to rules
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Admin Tooling, A: Silicons, T: Of Admin Interest, size/XS

#35564 [HOTFIX] - Players with unknown playtimes now are tagged as new players
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
Labels: T: Bugfix, P1: High, Changes: UI, D2: Medium, S: Needs Review, Intent: Hotfix, Branch: Stable, A: Admin Tooling, T: Of Admin Interest, size/S

#35626 Merge stable into master
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Server/Store/Systems/StoreSystem.Listings.cs
  Content.Server/Store/Systems/StoreSystem.Ui.cs
  Resources/ServerInfo/Guidebook/ServerRules/RoleTypes.xml
Labels: Changes: UI, size/S

#35627 centcomm update
  Resources/Maps/centcomm.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#35633 Add GetBaseName method to NameModifierSystem
  Content.Shared/NameModifier/EntitySystems/NameModifierSystem.cs
Labels: P3: Standard, T: New Feature, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#35639 Revert "[HOTFIX] - Players with unknown playtimes now are tagged as new players"
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
Labels: Changes: UI, S: Needs Review, S: Untriaged, Branch: Stable, size/S

#35640 Merge stable to master
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
Labels: Changes: UI, S: Needs Review, S: Untriaged, size/S

#35587 Save Space Station 14 from the Toilet Gibber Forever
  Content.Shared/Foldable/FoldableSystem.cs
  Content.Shared/Storage/Components/SharedEntityStorageComponent.cs
  Content.Shared/Storage/EntitySystems/SharedEntityStorageSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/arabianlamp.yml
  Resources/Prototypes/Entities/Objects/Misc/pet_carrier.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Structures/Machines/artifact_analyzer.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Needs Review, A: General Interactions, size/M

#34535 Changed Damage Overlay to check Burn Damage
  Content.Client/UserInterface/Systems/DamageOverlays/DamageOverlayUiController.cs
  Content.Client/UserInterface/Systems/DamageOverlays/Overlays/DamageOverlay.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#35643 Added decelerator percentage drain
  Content.Server/Singularity/Components/SinguloFoodComponent.cs
  Content.Server/Singularity/EntitySystems/SingularitySystem.cs
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#35650 Made butter require less milk
  Resources/Prototypes/Recipes/Reactions/food.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#35654 Delete SolutionContainerVisualsComponent.InitialName
  Content.Client/Chemistry/Visualizers/SolutionContainerVisualsSystem.cs
  Content.Shared/Chemistry/Components/SolutionContainerVisualsComponent.cs
Labels: S: Untriaged, size/XS

#35657 Fix name of cotton dough rope
  Resources/Prototypes/Entities/Objects/Consumable/Food/ingredients.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/XS

#35651 CVar - Toggle display of round-end greentext
  Content.Server/Objectives/ObjectivesSystem.cs
  Content.Shared/CCVar/CCVars.Game.cs
Labels: S: Untriaged, S: Approved, size/S

#35666 Open State for cowtools
  Resources/Textures/Objects/Tools/Cowtools/cow_toolbox.rsi/icon-open.png
  Resources/Textures/Objects/Tools/Cowtools/cow_toolbox.rsi/meta.json
Labels: T: Bugfix, Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/XS

#35667 Make implants unshielded
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: Changes: No C#, S: Needs Review, size/S

#35669 Merge stable into master
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
Labels: S: Needs Review, S: Untriaged, size/S

#33185 Add undergarments & "Censor Nudity" toggle to options
  Content.Client/Humanoid/HumanoidAppearanceSystem.cs
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml
  Content.Client/Options/UI/Tabs/AccessibilityTab.xaml.cs
  Content.Shared/CCVar/CCVars.Accessibility.cs
  Content.Shared/Humanoid/HumanoidAppearanceComponent.cs
  Content.Shared/Humanoid/HumanoidVisualLayers.cs
  Content.Shared/Humanoid/Markings/MarkingCategories.cs
  Content.Shared/Humanoid/Markings/MarkingColoring.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/markings/undergarment.ftl
  Resources/Locale/en-US/preferences/ui/markings-picker.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Prototypes/Entities/Mobs/Species/arachnid.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/human.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/Mobs/Customization/undergarments.rsi/binder.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/binder_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/boxers.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/boxers_reptilian.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/boxers_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/briefs.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/briefs_reptilian.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/briefs_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/classic.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/classic_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/meta.json
  Resources/Textures/Mobs/Customization/undergarments.rsi/satin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/satin_reptilian.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/satin_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/sports.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/sports_vox.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/tanktop.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/tanktop_vox.png
Labels: P1: High, T: New Feature, Changes: UI, D2: Medium, Changes: Sprites, S: Needs Review, A: Accessibility, A: General Interactions, T: Of Admin Interest, size/M, Merge Conflict

#35570 Lathe menu UI displays a count of available recipes
  Content.Client/Lathe/UI/LatheMenu.xaml
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Resources/Locale/en-US/lathe/ui/lathe-menu.ftl
Labels: P3: Standard, T: New Feature, Changes: UI, D3: Low, T: UI / UX Improvement, S: Approved, A: General Interactions, size/XS

#35648 Players with unknown playtimes now are tagged as new players, take 2
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml.cs
  Content.Client/Administration/UI/Bwoink/BwoinkWindow.xaml.cs
  Content.Server/Administration/Systems/AdminSystem.cs
Labels: T: Bugfix, P2: Raised, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, A: Admin Tooling, T: Of Admin Interest, size/S

#35684 Elkridge Tesla and TEG Improvements + Other stuff
  Resources/Maps/elkridge.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, size/L

#35358 [April Fools] Give airlocks genuine people personality
  Content.Server/Doors/Systems/SpeakOnDoorOpenedSystem.cs
  Content.Shared/Doors/Components/SpeakOnDoorOpenedComponent.cs
  Resources/Locale/en-US/datasets/doors.ftl
  Resources/Prototypes/Datasets/doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
Labels: P3: Standard, T: New Feature, DB: Beginner Friendly, Branch: April Fools, A: Chat, size/M

#35367 [April Fools] Let the intern do the announcements.
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/StationEvents/Components/MeteorSwarmComponent.cs
  Resources/Audio/Announcements/Intern/alert1.ogg
  Resources/Audio/Announcements/Intern/alert10.ogg
  Resources/Audio/Announcements/Intern/alert11.ogg
  Resources/Audio/Announcements/Intern/alert12.ogg
  Resources/Audio/Announcements/Intern/alert13.ogg
  Resources/Audio/Announcements/Intern/alert2.ogg
  Resources/Audio/Announcements/Intern/alert3.ogg
  Resources/Audio/Announcements/Intern/alert4.ogg
  Resources/Audio/Announcements/Intern/alert5.ogg
  Resources/Audio/Announcements/Intern/alert6.ogg
  Resources/Audio/Announcements/Intern/alert7.ogg
  Resources/Audio/Announcements/Intern/alert8.ogg
  Resources/Audio/Announcements/Intern/alert9.ogg
  Resources/Audio/Announcements/Intern/aliens.ogg
  Resources/Audio/Announcements/Intern/animes.ogg
  Resources/Audio/Announcements/Intern/attributions.yml
  Resources/Audio/Announcements/Intern/granomalies.ogg
  Resources/Audio/Announcements/Intern/intercept.ogg
  Resources/Audio/Announcements/Intern/ionstorm.ogg
  Resources/Audio/Announcements/Intern/meteors.ogg
  Resources/Audio/Announcements/Intern/outbreak5.ogg
  Resources/Audio/Announcements/Intern/outbreak7.ogg
  Resources/Audio/Announcements/Intern/poweroff.ogg
  Resources/Audio/Announcements/Intern/poweron.ogg
  Resources/Audio/Announcements/Intern/radiation.ogg
  Resources/Audio/Announcements/Intern/shuttlecalled.ogg
  Resources/Audio/Announcements/Intern/shuttledock.ogg
  Resources/Audio/Announcements/Intern/shuttlerecalled.ogg
  Resources/Audio/Announcements/Intern/spanomalies.ogg
  Resources/Audio/Announcements/Intern/welcome1.ogg
  Resources/Audio/Announcements/Intern/welcome2.ogg
  Resources/Audio/Announcements/Intern/welcome3.ogg
  Resources/Audio/Announcements/Intern/welcome4.ogg
  Resources/Audio/Announcements/Intern/welcome5.ogg
  Resources/Audio/Announcements/Intern/welcome6.ogg
  Resources/Prototypes/AlertLevels/alert_levels.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/meteorswarms.yml
  Resources/Prototypes/GameRules/pests.yml
  Resources/Prototypes/GameRules/random_sentience.yml
  Resources/Prototypes/GameRules/unknown_shuttles.yml
  Resources/Prototypes/SoundCollections/announcements.yml
  Resources/Prototypes/round_announcements.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, Branch: April Fools, A: Chat, A: Roleplay/Lore, Changes: Audio, size/S

#35371 [April Fools] Flip
  Content.Client/Flip/FlipAnimationSystem.cs
  Content.Server/Flip/FlipAnimationSystem.cs
  Content.Shared/Flip/FlipAnimationComponent.cs
  Content.Shared/Flip/SharedFlipAnimationSystem.cs
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Voice/speech_emotes.yml
  Resources/Textures/Interface/Emotes/attributions.yml
  Resources/Textures/Interface/Emotes/flip.png
Labels: P3: Standard, T: New Feature, D3: Low, Branch: April Fools, A: General Interactions, size/M

#35429 Cargo Mail System
  Content.Client/Delivery/DeliverySystem.cs
  Content.Client/Delivery/DeliveryVisualizerSystem.cs
  Content.Server/Delivery/CargoDeliveryDataComponent.cs
  Content.Server/Delivery/DeliverySystem.Spawning.cs
  Content.Server/Delivery/DeliverySystem.cs
  Content.Server/Shuttles/Systems/SpaceGarbageSystem.cs
  Content.Server/Singularity/EntitySystems/ContainmentFieldSystem.cs
  Content.Shared/Delivery/DeliveryComponent.cs
  Content.Shared/Delivery/DeliverySpawnerComponent.cs
  Content.Shared/Delivery/DeliveryVisuals.cs
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Content.Shared/FingerprintReader/FingerprintReaderSystem.cs
  Content.Shared/Interaction/Events/GettingUsedAttemptEvent.cs
  Content.Shared/Labels/Components/LabelComponent.cs
  Content.Shared/Labels/EntitySystems/SharedLabelSystem.cs
  Content.Shared/Shuttles/Components/SpaceGarbageComponent.cs
  Resources/Locale/en-US/delivery/delivery-component.ftl
  Resources/Locale/en-US/delivery/delivery-spam.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_items.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Entities/Stations/base.yml
  Resources/Prototypes/Entities/Stations/nanotrasen.yml
  Resources/Prototypes/Entities/Structures/Machines/mail_teleporter.yml
  Resources/Prototypes/SoundCollections/deliveries.yml
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/broken.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/fragile.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/meta.json
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/postmark.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/priority.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/priority_inactive.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/trash.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/broken.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/fragile.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/meta.json
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/postmark.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/priority.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/priority_inactive.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/trash.png
  Resources/Textures/Structures/mailbox.rsi/icon.png
  Resources/Textures/Structures/mailbox.rsi/meta.json
  Resources/Textures/Structures/mailbox.rsi/unlit.png
Labels: P3: Standard, T: New Feature, D2: Medium, Changes: Sprites, S: Needs Review, S: Approved, A: Cargo/Salvage, size/L

#35662 add AssertMultiple to ContrabandTest
  Content.IntegrationTests/Tests/ContrabandTest.cs
  Content.IntegrationTests/Tests/MagazineVisualsSpriteTest.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Integration Tests, size/S

#35518 add forceghost admin command
  Content.Server/Administration/Commands/ForceGhostCommand.cs
  Content.Server/Ghost/GhostCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Resources/Locale/en-US/administration/commands/forceghost.ftl
Labels: P2: Raised, D3: Low, S: Needs Review, A: Admin Tooling, T: Of Admin Interest, size/S

#35630 Text related keybinds can now be changed in Controls
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: P3: Standard, Changes: UI, D3: Low, T: UI / UX Improvement, A: Accessibility, size/S

#30630 Update b2dynamictree
  Content.Benchmarks/DynamicTreeBenchmark.cs
  Content.IntegrationTests/Tests/Construction/Interaction/CraftingTests.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
Labels: P3: Standard, S: Needs Engine PR Merged, T: Performance, D3: Low, A: Core Tech, size/S

#35145 Add sun shadows (planet lighting stage 2)
  Content.Client/Light/AfterLightTargetOverlay.cs
  Content.Client/Light/EntitySystems/PlanetLightSystem.cs
  Content.Client/Light/EntitySystems/SunShadowSystem.cs
  Content.Client/Light/LightCycleSystem.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Client/Light/SunShadowOverlay.cs
  Content.Server/Light/EntitySystems/LightCycleSystem.cs
  Content.Server/Light/EntitySystems/SunShadowSystem.cs
  Content.Server/Parallax/BiomeSystem.cs
  Content.Shared/Light/Components/IsRoofComponent.cs
  Content.Shared/Light/Components/SunShadowCastComponent.cs
  Content.Shared/Light/Components/SunShadowComponent.cs
  Content.Shared/Light/Components/SunShadowCycleComponent.cs
  Content.Shared/Light/EntitySystems/SharedLightCycleSystem.cs
  Content.Shared/Light/EntitySystems/SharedRoofSystem.cs
  Content.Shared/Light/EntitySystems/SharedSunShadowSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: P2: Raised, T: New Feature, T: Performance, D1: High, S: Needs Review, S: Approved, A: Core Tech, size/M

#35705 Omega Mail Teleporter
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#35706 Packed Mail Teleporter
  Resources/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#35707 Box Mail Teleporter
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, size/S

#35708 Oasis Mail Teleporter
  Resources/Maps/oasis.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#35709 Meta Mail Teleporter
  Resources/Maps/meta.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#35710 Marathon Mail Teleporter
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#35716 Plasma fixes 4
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#35718 Aroace pride pin, scarf, and cloak
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Neck/Cloaks/aroace.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Cloaks/aroace.rsi/icon.png
  Resources/Textures/Clothing/Neck/Cloaks/aroace.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Cloaks/aroace.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Cloaks/aroace.rsi/meta.json
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aroace-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/aroace.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aroace.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aroace.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aroace.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aroace.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/aroace.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/M, S: Art Approval

#33352 [Part of #32893] Localize silicon dataset names
  Resources/Locale/en-US/datasets/names/atv.ftl
  Resources/Locale/en-US/datasets/names/autoborg.ftl
  Resources/Locale/en-US/datasets/names/borg.ftl
  Resources/Prototypes/Datasets/Names/atv.yml
  Resources/Prototypes/Datasets/Names/autoborg.yml
  Resources/Prototypes/Datasets/Names/borg.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, A: Silicons, size/M

#33353 [Part of #32893] Localize arachnid dataset names
  Resources/Locale/en-US/datasets/names/arachnid_first.ftl
  Resources/Locale/en-US/datasets/names/arachnid_last.ftl
  Resources/Prototypes/Datasets/Names/arachnid.yml
  Resources/Prototypes/Datasets/Names/arachnid_first.yml
  Resources/Prototypes/Datasets/Names/arachnid_last.yml
  Resources/Prototypes/Species/arachnid.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#33392 [Part of #32893] Localize summonable creatures dataset names
  Resources/Locale/en-US/datasets/names/clown.ftl
  Resources/Locale/en-US/datasets/names/golem.ftl
  Resources/Locale/en-US/datasets/names/hologram.ftl
  Resources/Prototypes/Datasets/Names/clown.yml
  Resources/Prototypes/Datasets/Names/golem.yml
  Resources/Prototypes/Datasets/Names/hologram.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#33393 [Part of #32893] Localize antagonists dataset names
  Resources/Locale/en-US/datasets/names/fake_human_first.ftl
  Resources/Locale/en-US/datasets/names/fake_human_last.ftl
  Resources/Locale/en-US/datasets/names/ninja.ftl
  Resources/Locale/en-US/datasets/names/ninja_title.ftl
  Resources/Locale/en-US/datasets/names/operation_prefix.ftl
  Resources/Locale/en-US/datasets/names/operation_suffix.ftl
  Resources/Locale/en-US/datasets/names/regalrat_kingdom.ftl
  Resources/Locale/en-US/datasets/names/regalrat_title.ftl
  Resources/Locale/en-US/datasets/names/revenant_adjective.ftl
  Resources/Locale/en-US/datasets/names/revenant_theme.ftl
  Resources/Locale/en-US/datasets/names/revenant_type.ftl
  Resources/Locale/en-US/datasets/names/syndicate_elite.ftl
  Resources/Locale/en-US/datasets/names/syndicate_normal.ftl
  Resources/Locale/en-US/datasets/names/syndicate_prefix.ftl
  Resources/Locale/en-US/datasets/names/wizard_first.ftl
  Resources/Locale/en-US/datasets/names/wizard_last.ftl
  Resources/Prototypes/Datasets/Names/Operation_prefix.yml
  Resources/Prototypes/Datasets/Names/Operation_suffix.yml
  Resources/Prototypes/Datasets/Names/fake_human.yml
  Resources/Prototypes/Datasets/Names/fake_human_first.yml
  Resources/Prototypes/Datasets/Names/fake_human_last.yml
  Resources/Prototypes/Datasets/Names/ninja.yml
  Resources/Prototypes/Datasets/Names/ninja_title.yml
  Resources/Prototypes/Datasets/Names/operation.yml
  Resources/Prototypes/Datasets/Names/regalrat.yml
  Resources/Prototypes/Datasets/Names/revenant.yml
  Resources/Prototypes/Datasets/Names/syndicate.yml
  Resources/Prototypes/Datasets/Names/wizard.yml
  Resources/Prototypes/Datasets/Names/wizard_first.yml
  Resources/Prototypes/Datasets/Names/wizard_last.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#33395 [Part of #32893] Localize humanoid species dataset names
  Resources/Locale/en-US/datasets/names/diona_first.ftl
  Resources/Locale/en-US/datasets/names/diona_last.ftl
  Resources/Locale/en-US/datasets/names/moth_first_female.ftl
  Resources/Locale/en-US/datasets/names/moth_first_male.ftl
  Resources/Locale/en-US/datasets/names/moth_last.ftl
  Resources/Locale/en-US/datasets/names/mushman_first.ftl
  Resources/Locale/en-US/datasets/names/mushman_last.ftl
  Resources/Locale/en-US/datasets/names/reptilian_female.ftl
  Resources/Locale/en-US/datasets/names/reptilian_male.ftl
  Resources/Locale/en-US/datasets/names/skeleton_first.ftl
  Resources/Prototypes/Datasets/Names/diona.yml
  Resources/Prototypes/Datasets/Names/moth.yml
  Resources/Prototypes/Datasets/Names/moth_first_female.yml
  Resources/Prototypes/Datasets/Names/moth_first_male.yml
  Resources/Prototypes/Datasets/Names/moth_last.yml
  Resources/Prototypes/Datasets/Names/mushman_first.yml
  Resources/Prototypes/Datasets/Names/mushman_last.yml
  Resources/Prototypes/Datasets/Names/reptilian_female.yml
  Resources/Prototypes/Datasets/Names/reptilian_male.yml
  Resources/Prototypes/Datasets/Names/skeleton_first.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/skeleton.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/L

#33396 [Part of #32893] Localize vox dataset names
  Resources/Locale/en-US/datasets/names/vox.ftl
  Resources/Prototypes/Datasets/Names/vox.yml
  Resources/Prototypes/Species/vox.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/XL

#33401 [Part of #32893] Localize first & last dataset names
  Resources/Locale/en-US/datasets/names/first.ftl
  Resources/Locale/en-US/datasets/names/last.ftl
  Resources/Prototypes/Datasets/Names/base.yml
  Resources/Prototypes/Datasets/Names/first.yml
  Resources/Prototypes/Datasets/Names/last.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/XL

#33402 [Part of #32893] Localize first male & female dataset names
  Resources/Locale/en-US/datasets/names/first_female.ftl
  Resources/Locale/en-US/datasets/names/first_male.ftl
  Resources/Prototypes/Datasets/Names/base_gendered.yml
  Resources/Prototypes/Datasets/Names/first_female.yml
  Resources/Prototypes/Datasets/Names/first_male.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/XL

#33404 [Part of #32893] Localize misc dataset names
  Resources/Locale/en-US/datasets/names/cargo_shuttle.ftl
  Resources/Locale/en-US/datasets/names/cookie_fortune.ftl
  Resources/Locale/en-US/datasets/names/death_commando.ftl
  Resources/Locale/en-US/datasets/names/military_first.ftl
  Resources/Locale/en-US/datasets/names/military_first_leader.ftl
  Resources/Locale/en-US/datasets/names/military_last.ftl
  Resources/Locale/en-US/datasets/names/rollie.ftl
  Resources/Prototypes/Datasets/Names/cargo_shuttle.yml
  Resources/Prototypes/Datasets/Names/death_commando.yml
  Resources/Prototypes/Datasets/Names/fortunes.yml
  Resources/Prototypes/Datasets/Names/military.yml
  Resources/Prototypes/Datasets/Names/rollie.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: S: DO NOT MERGE, P2: Raised, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/M

#32893 Localize all dataset names
  Content.Shared/Humanoid/NamingSystem.cs
Labels: S: DO NOT MERGE, P2: Raised, T: Cleanup, D1: High, S: Approved, A: Core Tech, size/S

#35727 Fix integration tests
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/joints.yml
Labels: S: DO NOT MERGE, Changes: No C#, S: Needs Review, size/S

#35728 Initial delivery balance changes
  Content.Server/Delivery/CargoDeliveryDataComponent.cs
  Content.Server/Delivery/DeliverySystem.Spawning.cs
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
Labels: S: Untriaged, S: Approved, size/S

#35724 Fixed delivery popups
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Content.Shared/FingerprintReader/FingerprintReaderSystem.cs
  Resources/Locale/en-US/delivery/delivery-component.ftl
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, A: Cargo/Salvage, A: General Interactions, size/S

#35731 Remove a bonus Loc.GetString
  Content.Shared/Delivery/SharedDeliverySystem.cs
Labels: S: Untriaged, size/XS

#35717 Bagel Engineering Improvements
  Resources/Maps/bagel.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XL

#35729 Loop mail teleporter
  Resources/Maps/loop.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#35719 Core mail update
  Resources/Maps/core.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/M

#35738 Elkridge Mail Update
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#35741 Plasma Mail Teleporter
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/S

#35739 Remove unneeded Loc.GetString
  Content.Shared/Humanoid/NamingSystem.cs
Labels: T: Cleanup, S: Untriaged, S: Approved, size/XS

#35746 Steal the mail thieving objective
  Content.Server/Objectives/Components/StealTargetComponent.cs
  Content.Server/Objectives/Systems/StealConditionSystem.cs
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Content.Shared/Objectives/Components/StealTargetComponent.cs
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/thief.yml
Labels: S: Untriaged, S: Approved, size/S

#35749 fix UpdateBankAccount
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Server/Delivery/DeliverySystem.cs
  Content.Shared/Cargo/Components/BankClientComponent.cs
Labels: P2: Raised, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/S

#35748 Slightly better letter loot table
  Resources/Prototypes/Catalog/Fills/Books/bookshelf.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_soda.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries_tables.yml
  Resources/Prototypes/Entities/Objects/Deliveries/letter_loot_tables.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Approved, A: Cargo/Salvage, A: General Interactions, size/M

#35593 Python Suit Storage Visual
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Revolvers/python.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, S: Awaiting Changes, DB: Beginner Friendly, S: Approved, A: Art, T: Visual Change, size/XS, S: Art Approval

#35753 fix nukeops commander name
  Resources/Prototypes/GameRules/roundstart.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#35754 bagel update
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#35757 Fix sun shadows in ANGLE
  Content.Client/Light/SunShadowOverlay.cs
Labels: S: Untriaged, size/XS

#35758 Tweak sun shadow rotations
  Content.Client/Light/SunShadowOverlay.cs
Labels: S: Untriaged, size/XS

#35747 Fix Ahelp window playerlist resize
  Content.Client/Administration/UI/Bwoink/BwoinkControl.xaml
Labels: P2: Raised, Changes: UI, Changes: No C#, D3: Low, S: Needs Review, T: UI / UX Improvement, A: Admin Tooling, size/S

#35763 Cleanup: Fix ``PaperWriteEvent`` in ``PaperSystem``
  Content.Shared/Paper/PaperSystem.cs
Labels: T: Bugfix, S: Untriaged, size/XS

#35766 Cleanup: Add missing locale ``cmd-planet-map-prototype``
  Resources/Locale/en-US/maps/planet.ftl
Labels: T: Bugfix, Changes: No C#, S: Untriaged, S: Approved, size/XS

#35764 Performer's Wig
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/icon.png
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/meta.json
Labels: Fun: Holy Shit, Changes: No C#, Changes: Sprites, S: Untriaged, size/S, S: Art Approval

#33682 Merge showsubfloorforever into showsubfloor
  Content.Client/Commands/DebugCommands.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Content.Client/SubFloor/SubFloorHideSystem.cs
  Resources/Locale/en-US/commands/debug-command.ftl
  Resources/clientCommandPerms.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, T: UI / UX Improvement, A: Mapping, size/S

#35776 Mail Resprite
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/broken.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/fragile.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/meta.json
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/postmark.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/priority.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/priority_inactive.png
  Resources/Textures/Objects/Specific/Cargo/mail.rsi/trash.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/broken.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/fragile.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/icon.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/locked.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/meta.json
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/postmark.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/priority.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/priority_inactive.png
  Resources/Textures/Objects/Specific/Cargo/mail_large.rsi/trash.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, T: Visual Change, size/M, S: Art Approval

#35782 Fix Chameleon PDAs renaming the user in station records
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
Labels: S: Untriaged, size/XS

#35783 Restore the order of admin overlay elements
  Content.Client/Administration/AdminNameOverlay.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#35603 [April Fools] Sun Baton
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-left-sun.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/on-inhand-right-sun.png
  Resources/Textures/Objects/Weapons/Melee/stunbaton.rsi/stunbaton_on_sun.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, Branch: April Fools, S: Approved, A: Security, size/M

#33859 Fixes and refactoring to discord changelog script
  Tools/actions_changelogs_since_last_run.py
Labels: P2: Raised, T: Refactor, Changes: No C#, D2: Medium, S: Needs Review, A: Core Tech

#35751 Update to borg ion storms
  Content.Server/Silicons/Laws/IonStormSystem.cs
  Resources/Locale/en-US/station-events/events/ion-storm.ftl
Labels: P2: Raised, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, S: Undergoing Maintainer Discussion, A: Silicons, size/XS

#35784 Roleban command error handling
  Content.Server/Administration/Commands/RoleBanCommand.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#35774 Localize news dataset
  Resources/Locale/en-US/datasets/news.ftl
  Resources/Prototypes/Datasets/news.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/M

#35780 Localize rat king commands datasets
  Content.Server/RatKing/RatKingSystem.cs
  Resources/Locale/en-US/datasets/rat_king_commands.ftl
  Resources/Prototypes/Datasets/rat_king_commands.yml
Labels: S: Untriaged, S: Approved, size/S

#35786 Amber Station - Added Mail Room
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map

#35701 Update Space Law to reflect Implant changes
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: P1: High, Changes: No C#, D3: Low, T: Balance Change, S: Approved, Intent: Hotfix, Branch: Stable, A: Guidebook, A: Security, T: Of Admin Interest, size/XS

#35795 forensics cleanup
  Content.Server/Forensics/Systems/ForensicsSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#35796 polymorph popup fixes
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Polymorph/PolymorphPrototype.cs
  Resources/Locale/en-US/polymorph/polymorph.ftl
Labels: S: Untriaged, size/S

#35788 fix more syndicate names
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#35369 [April Fools] Salvage shuttle toy to the salvage lockers
  Resources/Prototypes/Catalog/Fills/Lockers/cargo.yml
  Resources/Prototypes/Entities/Objects/Specific/Salvage/shuttle.yml
  Resources/Textures/Objects/Specific/Mining/salvage_shuttle.rsi/icon.png
  Resources/Textures/Objects/Specific/Mining/salvage_shuttle.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, Branch: April Fools, S: Approved, A: Art, size/S

#35364 [april fools] breathing toggle
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Shared/Body/Events/RespiratorEvents.cs
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Textures/Interface/Alerts/breathing.rsi/meta.json
  Resources/Textures/Interface/Alerts/breathing.rsi/off.png
  Resources/Textures/Interface/Alerts/breathing.rsi/on.png
Labels: P3: Standard, T: New Feature, Changes: UI, D3: Low, Changes: Sprites, T: UI / UX Improvement, Branch: April Fools, S: Approved, A: General Interactions, size/M

#35313 New Feature: Warden job rolls before security officer/cadet/detective
  Resources/Prototypes/Roles/Jobs/Security/warden.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, A: Security, size/XS

#34297 Fix anomaly doublelogging
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, size/S

#34042 Add wallmount N2 closets, Revived
  Resources/Prototypes/Catalog/Fills/Lockers/misc.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
  Resources/Textures/Structures/Storage/wall_locker.rsi/n2.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/n2_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/n2_open.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/S, S: Art Approval

#34842 Cryo and grinder cleanup
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Resources/Prototypes/Chemistry/mixing_types.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/cover-off.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/cover-on.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/meta.json
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-off.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-on.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-open.png
  Resources/Textures/Structures/Machines/Medical/cryopod.rsi/pod-panel.png
  Resources/Textures/Structures/Machines/grinder.rsi/grinder_beaker_attached.png
  Resources/Textures/Structures/Machines/grinder.rsi/grinder_empty.png
  Resources/Textures/Structures/Machines/grinder.rsi/meta.json
  Resources/Textures/Structures/Machines/juicer.rsi/meta.json
Labels: P3: Standard, T: Cleanup, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Core Tech, size/S

#34809 Add Gold and Coal Rock Anomalies
  Resources/Prototypes/Entities/Effects/mobspawn.yml
  Resources/Prototypes/Entities/Effects/wallspawn.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/anomaly.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/crystal.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Objects/Materials/crystal_shard.yml
  Resources/Prototypes/Entities/Objects/Power/lights.yml
  Resources/Prototypes/Entities/Structures/Decoration/crystals.yml
  Resources/Prototypes/Entities/Structures/Lighting/base_lighting.yml
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomalies.yml
  Resources/Prototypes/Entities/Structures/Walls/asteroid.yml
  Resources/Prototypes/Procedural/biome_templates.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/lighting.yml
  Resources/Prototypes/Recipes/Construction/lighting.yml
  Resources/Prototypes/ore.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Effects/mobspawn.rsi/crab_coal.png
  Resources/Textures/Effects/mobspawn.rsi/crab_gold.png
  Resources/Textures/Effects/mobspawn.rsi/meta.json
  Resources/Textures/Mobs/Elemental/orecrab.rsi/coal_crab.png
  Resources/Textures/Mobs/Elemental/orecrab.rsi/gold_crab.png
  Resources/Textures/Mobs/Elemental/orecrab.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Science, size/M

#33689 Tools/Devices: In-hand Sprites
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
  Resources/Textures/Objects/Devices/gps.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/gps.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/gps.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/floodlight-broken-inhand-left.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/floodlight-broken-inhand-right.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/floodlight-broken.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/floodlight-on.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/meta.json
  Resources/Textures/Objects/Misc/Lights/lights.rsi/off-inhand-left.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/off-inhand-right.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/on-inhand-left.png
  Resources/Textures/Objects/Misc/Lights/lights.rsi/on-inhand-right.png
  Resources/Textures/Objects/Specific/Atmos/gasanalyzer.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Atmos/gasanalyzer.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Atmos/gasanalyzer.rsi/meta.json
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/handheld_mass_scanner.rsi/meta.json
  Resources/Textures/Objects/Tools/scissors.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/scissors.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/scissors.rsi/meta.json
  Resources/Textures/Objects/Tools/spray_painter.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/meta.json
Labels: P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Art, T: Visual Change, size/S, S: Art Approval

#35790 IconSmooth additional smoothing keys
  Content.Client/IconSmoothing/IconSmoothComponent.cs
  Content.Client/IconSmoothing/IconSmoothSystem.cs
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Tiles/chasm.yml
  Resources/Prototypes/Entities/Tiles/lava.yml
Labels: P3: Standard, D3: Low, S: Approved, A: Art, T: Visual Change, size/S

#35785 Locks nitrous oxide canisters
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#35802 Cleanup Objective files, add PickSpecificPersonComponent
  Content.Server/Objectives/Components/PickRandomHeadComponent.cs
  Content.Server/Objectives/Components/PickRandomPersonComponent.cs
  Content.Server/Objectives/Components/PickSpecificPersonComponent.cs
  Content.Server/Objectives/Components/RandomTraitorAliveComponent.cs
  Content.Server/Objectives/Components/RandomTraitorProgressComponent.cs
  Content.Server/Objectives/Components/TargetOverrideComponent.cs
  Content.Server/Objectives/Systems/HelpProgressConditionSystem.cs
  Content.Server/Objectives/Systems/KeepAliveCondition.cs
  Content.Server/Objectives/Systems/KillPersonConditionSystem.cs
  Content.Server/Objectives/Systems/PickObjectiveTargetSystem.cs
Labels: S: Untriaged, S: Approved, size/M

#34816 Adds popup when firing gun while gun has no ammo
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/weapons/ranged/gun.ftl
Labels: P3: Standard, T: New Feature, DB: Beginner Friendly, S: Approved, A: Combat, size/XS

#35819 Add the ability to pet the mail teleporter
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/mail_teleporter.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#35821 Whitehole/Singularity grenade price adjustments + whitehole grenade fix
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: Changes: No C#, S: Untriaged, size/S

#35794 Paradox Clone
  Content.Server/GameTicking/Rules/Components/ParadoxCloneRuleComponent.cs
  Content.Server/GameTicking/Rules/ParadoxCloneRuleSystem.cs
  Content.Server/Gibbing/Systems/GibOnRoundEndSystem.cs
  Content.Server/Roles/ParadoxCloneRoleComponent.cs
  Content.Shared/Gibbing/Components/GibOnRoundEndComponent.cs
  Resources/Audio/Misc/attributions.yml
  Resources/Audio/Misc/paradox_clone_greeting.ogg
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Locale/en-US/paradox-clone/role.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Catalog/Fills/Items/toolboxes.yml
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Entities/Mobs/Player/paradox_clone.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/Roles/Antags/paradoxClone.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/Textures/Markers/paradox_clone.rsi/meta.json
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/meta.json
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/paradox.png
  Resources/Textures/Mobs/Aliens/paradox_clone.rsi/preview.png
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, Changes: Audio, size/M

#35822 Improvements to antag-before-job selection system
  Content.Server/Antag/AntagSelectionSystem.API.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagSelectionComponent.cs
  Content.Shared.Database/LogType.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: Core Tech, A: Roundflow/Antag, size/M

#35823 Enable antag-before-job rolling for roundstart antags
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Core Tech, A: Roundflow/Antag

#35306 Added Bacchus' Blessing Drink
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/consumable/drink/alcohol.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/drinks_glass.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Textures/Objects/Consumable/Drinks/bacchusblessing.rsi/fill-1.png
  Resources/Textures/Objects/Consumable/Drinks/bacchusblessing.rsi/fill-2.png
  Resources/Textures/Objects/Consumable/Drinks/bacchusblessing.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/bacchusblessing.rsi/icon_empty.png
  Resources/Textures/Objects/Consumable/Drinks/bacchusblessing.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Service, size/M, S: Art Approval

#35318 Corrupt borg speech if they are damaged or low power
  Content.Server/Speech/EntitySystems/DamagedSiliconAccentSystem.cs
  Content.Shared/Speech/Components/DamagedSiliconAccentComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: Chat, A: Silicons, size/M

#35835 Moths can eat lizard plushes again
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: T: Bugfix, Changes: No C#, S: Approved, size/XS

#35843 Fix thrown item prediction weirdness
  Content.Shared/Throwing/ThrownItemSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, A: General Interactions, size/XS

#35801 Add interaction tests for vending machines
  Content.IntegrationTests/Tests/Vending/VendingInteractionTest.cs
Labels: P3: Standard, T: New Feature, D3: Low, A: Integration Tests, A: General Interactions, size/M

#34578 Reduce base electrocution stun time from 8 to 5 seconds
  Content.Shared/Electrocution/Components/ElectrifiedComponent.cs
Labels: P3: Standard, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#34095 NanoTask
  Content.Client/CartridgeLoader/Cartridges/NanoTaskCartridgeSystem.cs
  Content.Client/CartridgeLoader/Cartridges/NanoTaskItemControl.xaml
  Content.Client/CartridgeLoader/Cartridges/NanoTaskItemControl.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/NanoTaskItemPopup.xaml
  Content.Client/CartridgeLoader/Cartridges/NanoTaskItemPopup.xaml.cs
  Content.Client/CartridgeLoader/Cartridges/NanoTaskUi.cs
  Content.Client/CartridgeLoader/Cartridges/NanoTaskUiFragment.xaml
  Content.Client/CartridgeLoader/Cartridges/NanoTaskUiFragment.xaml.cs
  Content.Server/CartridgeLoader/Cartridges/NanoTaskCartridgeSystem.cs
  Content.Shared/CartridgeLoader/Cartridges/NanoTaskCartridgeComponent.cs
  Content.Shared/CartridgeLoader/Cartridges/NanoTaskPrintedComponent.cs
  Content.Shared/CartridgeLoader/Cartridges/NanoTaskUiMessageEvent.cs
  Content.Shared/CartridgeLoader/Cartridges/NanoTaskUiState.cs
  Content.Shared/CartridgeLoader/Cartridges/SharedNanoTaskCartridgeSystem.cs
  Resources/Locale/en-US/cartridge-loader/cartridges.ftl
  Resources/Prototypes/Entities/Objects/Devices/cartridges.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/paper.yml
  Resources/Textures/Interface/Misc/program_icons.rsi/meta.json
  Resources/Textures/Interface/Misc/program_icons.rsi/nano_task.png
Labels: P2: Raised, T: New Feature, Changes: UI, D2: Medium, Changes: Sprites, S: Needs Review, A: General Interactions, size/M

#35326 Take 2: Rename ammunition box (.50), Liberation Station .50 stock
  Resources/Prototypes/Catalog/VendingMachines/Inventories/ammo.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: General Interactions, size/S

#35847 clear buyer conditions in StoreDiscountAndRefundTest
  Content.IntegrationTests/Tests/StoreTests.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: Integration Tests, S: Approved, size/XS

#35857 Light replacer is back on the menu
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
Labels: Changes: No C#, size/XS

#35856 Puddles on the floor sticking to the walls
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#35858 HOTFIX: Fix paradox clone event
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, Intent: Hotfix, Branch: Staging, size/XS

#35859 Merge staging into master
  Resources/Prototypes/GameRules/events.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#34300 Fix holopads phasing through walls.
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/S

#35870 Stable merge
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#35873 Make NukeOpsTest list RuleGrids on failure
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
Labels: P1: High, D3: Low, A: Integration Tests, size/XS

#35875 [April Fools] Give carps goofy eyes.
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/alive-unshaded.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/crit.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/dead.png
  Resources/Textures/Mobs/Aliens/Carps/dragon.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/holo.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/magic.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/sharkminnow.rsi/meta.json
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/alive.png
  Resources/Textures/Mobs/Aliens/Carps/space.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/S

#35855 Fix salvage sites ejecting borg brains when they despawn
  Content.Server/Salvage/SalvageSystem.Magnet.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, A: Cargo/Salvage, A: Silicons, size/S

#35625 Fix development and debug configurations for tests
  Resources/ConfigPresets/Build/debug.toml
  Resources/ConfigPresets/Build/development.toml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Needs Review, A: Integration Tests, size/S

#35871 [April Fools] Genetic damage is more accurately named
  Resources/Locale/en-US/damage/damage-groups.ftl
  Resources/Locale/en-US/implant/implant.ftl
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#35861 Add viewer parameter to Identity.Entity
  Content.Shared/IdentityManagement/Identity.cs
Labels: P3: Standard, T: New Feature, D3: Low, A: Core Tech, size/XS

#35876 Let LocalizedDatasetPrototypeTest report multiple failures
  Content.IntegrationTests/Tests/Localization/LocalizedDatasetPrototypeTest.cs
Labels: T: Bugfix, P3: Standard, D3: Low, A: Integration Tests, size/S

#35838 Paradox clones get all storage items the original has.
  Content.Server/Cloning/CloningSystem.cs
  Content.Shared/Cloning/CloningSettingsPrototype.cs
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, A: Roundflow/Antag, size/M

#35832 Mark all hostile mind roles as antag
  Resources/Locale/en-US/prototypes/roles/antags.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Mobs/Player/dragon.yml
  Resources/Prototypes/Roles/Antags/generic.yml
  Resources/Prototypes/Roles/MindRoles/mind_roles.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D2: Medium, S: Needs Review, S: Approved, A: Admin Tooling, A: Roundflow/Antag, T: Of Admin Interest, size/M

#35829 make paradox clone receive the original's objectives
  Content.Server/GameTicking/Rules/Components/ParadoxCloneRuleComponent.cs
  Content.Server/GameTicking/Rules/ParadoxCloneRuleSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/tags.yml
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, A: Roundflow/Antag, T: Of Admin Interest, size/S

#35810 Localize criminal records reason placeholder dataset
  Content.Client/CriminalRecords/CriminalRecordsConsoleWindow.xaml.cs
  Content.Shared/CriminalRecords/Components/CriminalRecordsHackerComponent.cs
  Resources/Locale/en-US/datasets/criminal_records.ftl
  Resources/Prototypes/Datasets/criminal_records.yml
Labels: P3: Standard, Changes: UI, D3: Low, T: UI / UX Improvement, A: Accessibility, S: Approved, size/S

#35864 Hotfix: Fix AntagRandomSpawn location preview
  Content.Server/Antag/AntagRandomSpawnRule.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagRandomSpawnComponent.cs
Labels: S: Untriaged, S: Approved, Intent: Hotfix, Branch: Stable, size/S

#35883 Merge stable into master
  Content.Server/Antag/AntagRandomSpawnRule.cs
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/Antag/Components/AntagRandomSpawnComponent.cs
Labels: S: Untriaged, size/S

#35892 add missing unknown shuttle ghostrole mindroles
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: T: Bugfix, P2: Raised, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/S
