Repository space-wizards/space-station-14, pull requests merged in 2025-07, with the labels that each got.

#38504 ci: include pull request id in changelog link
  Tools/actions_changelogs_since_last_run.py
Labels: T: New Feature, Changes: No C#, S: Approved, A: Core Tech, size/XS

#38661 Resolving Wizard casting recall on nuke disk making it impossible to disarm
  Content.Server/Nuke/NukeComponent.cs
  Content.Server/Nuke/NukeSystem.cs
Labels: S: Awaiting Changes, S: Untriaged, S: Approved, size/S

#37569 make telesci wreck easier
  Resources/Maps/Ruins/displaced_telescience.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, T: Balance Change, A: Cargo/Salvage

#38434 Switch HSV to the default colorspace for character customization
  Content.Client/Humanoid/EyeColorPicker.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: P3: Standard, Changes: UI, S: Needs Review, T: UI / UX Improvement, S: Approved, size/XS, A: Preferences

#36708 Pressure Relief Valve
  Content.Client/Atmos/EntitySystems/GasPressureRegulatorSystem.cs
  Content.Client/Atmos/UI/GasPressureRegulatorBoundUserInterface.cs
  Content.Client/Atmos/UI/GasPressureRegulatorWindow.xaml
  Content.Client/Atmos/UI/GasPressureRegulatorWindow.xaml.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Piping/Binary/EntitySystems/GasPressureRegulatorSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasPressureRegulatorSystem.cs
  Content.Shared/Atmos/Piping/Binary/Components/GasPressureRegulatorComponent.cs
  Content.Shared/Atmos/Piping/Binary/Components/SharedGasPressureRegulatorComponent.cs
  Content.Shared/Atmos/Piping/EnabledAtmosDeviceVisuals.cs
  Resources/Locale/en-US/atmos/gas-pressure-regulator-system.ftl
  Resources/Locale/en-US/components/gas-pressure-regulator-component.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
  Resources/ServerInfo/Guidebook/Engineering/GasManipulation.xml
  Resources/ServerInfo/Guidebook/Engineering/PressureRegulator.xml
  Resources/ServerInfo/Guidebook/Engineering/Valves.xml
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump.rsi/pumpPressureRegulatorOn.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt1.rsi/pumpPressureRegulatorOn.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/meta.json
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressure.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressureRegulator.png
  Resources/Textures/Structures/Piping/Atmospherics/pump_alt2.rsi/pumpPressureRegulatorOn.png
Labels: P3: Standard, T: New Feature, Changes: UI, D2: Medium, Changes: Sprites, S: Awaiting Changes, S: Approved, Changes: Atmospherics Code, A: Engineering, size/L

#38689 Exo - Minor balance changes and fixes
  Resources/Maps/Shuttles/emergency_exo.yml
  Resources/Maps/exo.yml
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/tables.yml
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
  Resources/Prototypes/Maps/exo.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
Labels: Changes: No C#, Changes: Map, S: Awaiting Changes, S: Untriaged, S: Approved, size/L

#32203 Fix TextLinkTag
  Content.Client/Guidebook/Richtext/KeyBindTag.cs
  Content.Client/Guidebook/Richtext/ProtodataTag.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Engine Update, A: Core Tech, size/S

#38596 Adjust uplink buy button to be under item icon
  Content.Client/Store/Ui/StoreListingControl.xaml
Labels: Changes: UI, Changes: No C#, T: UI / UX Improvement, S: Approved, size/S

#38699 More guidebook fixes
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/MinorAntagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Nuclear Operatives.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/ServerInfo/Guidebook/Antagonist/Zombies.xml
  Resources/ServerInfo/Guidebook/Cargo/CargoBounties.xml
  Resources/ServerInfo/Guidebook/Cargo/Salvage.xml
  Resources/ServerInfo/Guidebook/Science/Robotics.xml
  Resources/ServerInfo/Guidebook/Science/ScannersAndVessels.xml
  Resources/ServerInfo/Guidebook/Science/Science.xml
  Resources/ServerInfo/Guidebook/Security/Defusal.xml
  Resources/ServerInfo/Guidebook/Security/Forensics.xml
  Resources/ServerInfo/Guidebook/Security/Security.xml
Labels: P3: Standard, Changes: No C#, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, A: Guidebook, size/S

#38728 Validate `ShaderPrototype` IDs
  Content.Benchmarks/SpawnEquipDeleteBenchmark.cs
  Content.Client/Atmos/Overlays/GasTileOverlay.cs
  Content.Client/CombatMode/ColoredScreenBorderOverlay.cs
  Content.Client/Cooldown/CooldownGraphic.cs
  Content.Client/DoAfter/DoAfterOverlay.cs
  Content.Client/Drowsiness/DrowsinessOverlay.cs
  Content.Client/Drugs/RainbowOverlay.cs
  Content.Client/Drunk/DrunkOverlay.cs
  Content.Client/Explosion/ExplosionOverlay.cs
  Content.Client/Eye/Blinding/BlindOverlay.cs
  Content.Client/Eye/Blinding/BlurryVisionOverlay.cs
  Content.Client/Flash/FlashOverlay.cs
  Content.Client/Interactable/Components/InteractionOutlineComponent.cs
  Content.Client/Interaction/DragDropSystem.cs
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Content.Client/Light/SunShadowOverlay.cs
  Content.Client/Mapping/MappingOverlay.cs
  Content.Client/Movement/Systems/FloorOcclusionSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Overlays/BlackAndWhiteOverlay.cs
  Content.Client/Overlays/NoirOverlay.cs
  Content.Client/Overlays/StencilOverlay.RestrictedRange.cs
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Paper/UI/StampLabel.xaml.cs
  Content.Client/Paper/UI/StampWidget.xaml.cs
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.xaml.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Radiation/Overlays/RadiationPulseOverlay.cs
  Content.Client/Shuttles/FtlArrivalOverlay.cs
  Content.Client/Silicons/StationAi/StationAiOverlay.cs
  Content.Client/Singularity/SingularityOverlay.cs
  Content.Client/StatusIcon/StatusIconOverlay.cs
  Content.Client/Stealth/StealthSystem.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraMonitorWindow.xaml.cs
  Content.Client/UserInterface/Systems/DamageOverlays/Overlays/DamageOverlay.cs
Labels: P3: Standard, Changes: UI, T: Cleanup, D3: Low, S: Awaiting Changes, S: Approved, A: Core Tech, size/M

#38667 Janitor Tool: Wire Brush
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/wirebrushing.ogg
  Resources/Locale/en-US/tools/tool-qualities.ftl
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/Fills/Items/belt.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/janitorial.yml
  Resources/Prototypes/tags.yml
  Resources/Prototypes/tool_qualities.yml
  Resources/ServerInfo/Guidebook/Service/Janitorial.xml
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/icon.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/wirebrush.rsi/storage.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Service, Changes: Audio, size/M, S: Art Approval

#38734 Tiny Tiny Cleanup of the EyeClosingSystem.
  Content.Shared/Eye/Blinding/Systems/EyeClosingSystem.cs
Labels: T: Cleanup, D3: Low, S: Awaiting Changes, S: Approved, A: Core Tech, size/XS

#38737 Typofixes for figurine dialogue
  Resources/Locale/en-US/datasets/figurines.ftl
Labels: Changes: No C#, S: Awaiting Changes, S: Untriaged, S: Approved, size/S

#38729 fix: Use PredictedQueueDel for gib spell
  Content.Shared/Gibbing/Systems/GibbingSystem.cs
Labels: S: Awaiting Changes, S: Untriaged, S: Approved, size/XS

#38730 fix: don't default to uncharged sprite state for cells
  Content.Client/PowerCell/PowerCellSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#38592 Vox scars
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Locale/en-US/markings/vox_tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_scars.yml
  Resources/Textures/Mobs/Customization/vox_scars.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_chest.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_chest_bullets.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_eye_left.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_eye_left_small.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_eye_right.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_eye_right_small.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_face_1.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_face_2.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_neck.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_scar_stomach_bullets.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_top_surgery_long.png
  Resources/Textures/Mobs/Customization/vox_scars.rsi/vox_top_surgery_short.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, A: Art, size/M, S: Art Approval

#38751 UnlockNode command to LEC.
  Content.Server/Xenoarchaeology/Artifact/UnlockNodeCommand.cs
  Content.Server/Xenoarchaeology/Artifact/XenoArtifactUnlockNodeCommand.cs
  Resources/Locale/en-US/commands/unlocknode-command.ftl
  Resources/Locale/en-US/xenoarchaeology/artifact-component.ftl
Labels: T: Cleanup, S: Approved, A: Admin Tooling, size/M

#38376 fix: spellbooks can have infinite charges
  Content.Shared/Magic/Components/SpellbookComponent.cs
  Content.Shared/Magic/SpellbookSystem.cs
  Resources/Prototypes/Entities/Objects/Magic/books.yml
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: General Interactions, size/S

#38779 merge staging into master
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#38782 Log an error when adding an admin log containing a null char
  Content.Server/Administration/Logs/AdminLogManager.cs
Labels: T: New Feature, D3: Low, S: Awaiting Changes, S: Approved, A: Admin Tooling, P0: Critical, size/XS, A: Database

#38783 Fix incorrect conditions on black pepper's forced cough
  Content.Shared/EntityEffects/EffectConditions/InternalsCondition.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#38785 Fixing incorrect headset being given to QM visitor
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#38762 Stasis bed cleanup and bugfixes.
  Content.Client/Bed/StasisBedSystem.cs
  Content.Client/Body/Systems/MetabolizerSystem.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Bed/Components/StasisBedComponent.cs
  Content.Server/Body/Components/MetabolizerComponent.cs
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
  Content.Shared/Bed/Components/StasisBedBuckledComponent.cs
  Content.Shared/Bed/Components/StasisBedComponent.cs
  Content.Shared/Bed/SharedBedSystem.cs
  Content.Shared/Bed/StasisBedVisuals.cs
  Content.Shared/Body/Components/BloodstreamComponent.cs
  Content.Shared/Body/Components/StomachComponent.cs
  Content.Shared/Body/Events/ApplyMetabolicMultiplierEvent.cs
  Content.Shared/Body/Events/MetabolizerEvents.cs
  Content.Shared/Body/Systems/SharedBloodstreamSystem.cs
  Content.Shared/Body/Systems/SharedMetabolizerSystem.cs
  Content.Shared/Body/Systems/StomachSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
Labels: T: Bugfix, P2: Raised, T: Refactor, S: Awaiting Changes, S: Approved, A: Medical, size/M

#38793 Cleanup warnings: CS0414
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/Worldgen/Systems/Debris/SimpleFloorPlanPopulatorSystem.cs
  Content.Shared/Actions/ActionUpgradeSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#38795 Move moth movement modifiers to the Base
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38778 Scurrets get emergency EVA suit access
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-scurret.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-scurret.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
Labels: T: New Feature, Changes: No C#, Changes: Sprites, T: Balance Change, S: Approved, Branch: Staging, A: Character/Species, size/S, S: Art Approval

#38796 fix centcom pda
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38799 merge staging into master
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/equipped-OUTERCLOTHING-scurret.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/syndicate.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-scurret.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#37702 Catchable items, playable basketball
  Content.Shared/Body/Systems/SharedBloodstreamSystem.cs
  Content.Shared/Clumsy/ClumsyComponent.cs
  Content.Shared/Clumsy/ClumsySystem.cs
  Content.Shared/Random/Helpers/SharedRandomExtensions.cs
  Content.Shared/Throwing/CatchAttemptEvent.cs
  Content.Shared/Throwing/CatchableComponent.cs
  Content.Shared/Throwing/CatchableSystem.cs
  Resources/Locale/en-US/bonk/components/bonkable-component.ftl
  Resources/Locale/en-US/chemistry/components/hypospray-component.ftl
  Resources/Locale/en-US/clown/components/clumsy-component.ftl
  Resources/Locale/en-US/throwing/catchable.ftl
  Resources/Locale/en-US/weapons/ranged/gun.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Player/guardian.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Roles/Jobs/Civilian/clown.yml
Labels: P2: Raised, S: Approved, A: General Interactions, size/M

#38775 Scurret displacement map fixes
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/back.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/hand.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/meta.json
Labels: T: Bugfix, Changes: No C#, Changes: Sprites, A: Art, Branch: Staging, size/S, S: Art Approval

#38810 Fix storage voice control bug after handssystem refactor
  Content.Server/VoiceTrigger/StorageVoiceControlSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#38808 Reducing the amount of space in the gogo hat
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#38549 Golden pai
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Fun/pai.yml
  Resources/Textures/Objects/Fun/pai.rsi/golden-icon-pai-off.png
  Resources/Textures/Objects/Fun/pai.rsi/golden-pai-base.png
  Resources/Textures/Objects/Fun/pai.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Silicons, T: Visual Change, size/S, S: Art Approval

#38663 Add Breach of Permanent Confinement to Space Law
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
Labels: P2: Raised, Changes: UI, Changes: No C#, Changes: Map, Changes: Sprites, S: Awaiting Changes, S: Approved, A: Security, T: Of Admin Interest, Changes: Audio, size/S

#36862 JumpBoots Attempt №2
  Content.Shared/Actions/ActionGrantSystem.cs
  Content.Shared/Actions/ItemActionGrantComponent.cs
  Content.Shared/Movement/Components/JumpAbilityComponent.cs
  Content.Shared/Movement/Systems/SharedJumpAbilitySystem.cs
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/stealthoff.ogg
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Research/industrial.yml
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/equipped-FEET-vox.png
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/icon.png
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/inhand-left.png
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/inhand-right.png
  Resources/Textures/Clothing/Shoes/Boots/jumpboots.rsi/meta.json
  Resources/Textures/Interface/Actions/jump.rsi/icon.png
  Resources/Textures/Interface/Actions/jump.rsi/meta.json
Labels: P3: Standard, T: New Feature, D2: Medium, Changes: Sprites, S: Awaiting Changes, S: Merge Conflict, S: Approved, A: Cargo/Salvage, A: General Interactions, Changes: Audio, size/M

#38824 New science unlock: the H.A.R.M.P.A.C.K
  Content.Shared/Hands/Components/ExtraHandsEquipmentComponent.cs
  Content.Shared/Hands/EntitySystems/ExtraHandsEquipmentSystem.cs
  Resources/Locale/en-US/research/technologies.ftl
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Textures/Clothing/Back/Specific/harmpack.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Specific/harmpack.rsi/icon.png
  Resources/Textures/Clothing/Back/Specific/harmpack.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Specific/harmpack.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Specific/harmpack.rsi/meta.json
Labels: T: New Feature, D3: Low, Changes: Sprites, S: Approved, A: Science, A: Security, size/M, S: Art Approval

#38835 Fix: Add cluwne translation in ftl
  Resources/Locale/en-US/job/job-names.ftl
Labels: Changes: No C#, T: Cleanup, S: Approved, size/XS

#38670 Artifact glue reagent
  Content.Shared/EntityEffects/Effects/ArtifactDurabilityRestore.cs
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Locale/en-US/reagents/meta/physical-desc.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: P3: Standard, T: New Feature, D2: Medium, S: Approved, A: Science, size/S

#38484 fix: Register OnRequestMovePulledObject under the right system
  Content.Server/Movement/Systems/PullController.cs
Labels: S: Untriaged, S: Approved, size/XS

#38867 fix: correct ToggleableVisuals for toy sword and pirate helm
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Art, size/XS

#38788 Fix lingering ghost roles (and expand tests to catch it)
  Content.IntegrationTests/Tests/Minds/GhostRoleTests.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
Labels: T: Bugfix, S: Awaiting Changes, A: Integration Tests, S: Approved, A: General Interactions, size/M

#38879 Prefer file-scoped namespaces in `.editorconfig`
  .editorconfig
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Core Tech, size/XS

#38243 Parroting Parrots part 1: Help maints! SQUAWK! Maints!
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Animals/Components/ParrotListenerComponent.cs
  Content.Server/Animals/Components/ParrotMemoryComponent.cs
  Content.Server/Animals/Systems/ParrotMemorySystem.cs
  Content.Server/Radio/EntitySystems/HeadsetSystem.cs
  Content.Server/Radio/RadioEvent.cs
  Content.Server/Vocalization/Components/RadioVocalizerComponent.cs
  Content.Server/Vocalization/Components/VocalizerComponent.cs
  Content.Server/Vocalization/Systems/RadioVocalizationSystem.cs
  Content.Server/Vocalization/Systems/VocalizationSystem.cs
  Resources/Locale/en-US/animals/parrot/parrot.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_livestock.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/animals.yml
  Resources/Prototypes/Entities/Markers/Spawners/Mobs/pets.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/InventoryTemplates/parrot_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Textures/Interface/AdminActions/clear-parrot.png
  Resources/Textures/Mobs/Animals/parrot.rsi/parrot.png
  Resources/Textures/Mobs/Animals/parrot/displacement.rsi/ears.png
  Resources/Textures/Mobs/Animals/parrot/displacement.rsi/meta.json
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/dead.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/icon.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/meta.json
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/parrot.png
  Resources/Textures/Mobs/Animals/parrot/parrot.rsi/sit.png
Labels: P2: Raised, T: New Feature, Changes: Sprites, S: Awaiting Changes, S: Approved, A: General Interactions, T: Of Admin Interest, size/M

#38886 Predict RepairableSystem
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Server/Repairable/RepairableComponent.cs
  Content.Server/Repairable/RepairableSystem.cs
  Content.Server/Turrets/DeployableTurretSystem.cs
  Content.Shared/Repairable/RepairableComponent.cs
  Content.Shared/Repairable/RepairableSystem.cs
  Content.Shared/Repairable/SharedRepairableSystem.cs
Labels: T: Refactor, S: Awaiting Changes, S: Approved, A: General Interactions, size/M

#38889 Add VV button to the solution editor
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml
  Content.Client/Administration/UI/ManageSolutions/EditSolutionsWindow.xaml.cs
  Resources/Locale/en-US/administration/ui/manage-solutions/manage-solutions.ftl
Labels: P3: Standard, T: New Feature, Changes: UI, D3: Low, S: Approved, A: Core Tech, size/S

#37824 reduced motion flash effect version 3
  Content.Client/Flash/FlashOverlay.cs
Labels: P1: High, A: Accessibility, S: Approved, Changes: Shaders, S: Undergoing Discussion, A: Security, size/S

#38104 Operation Remove Gun Bloat
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/tags.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, S: Approved, A: Combat, size/M, T: Content Removal

#38902 Add Bolas to SecTech vendor
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
Labels: Changes: No C#, T: Balance Change, S: Approved, A: Security, size/XS

#38888 Kobold/monkey AI holograms
  Resources/Locale/en-US/silicons/station-ai.ftl
  Resources/Prototypes/AppearanceCustomization/station_ai.yml
  Resources/Textures/Mobs/Silicon/holograms.rsi/ai_kobold.png
  Resources/Textures/Mobs/Silicon/holograms.rsi/ai_monkey.png
  Resources/Textures/Mobs/Silicon/holograms.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Character/Species, T: Visual Change, size/S

#38907 Fix localization error when trying to change hair on someone with a hat
  Content.Server/MagicMirror/MagicMirrorSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: General Interactions, size/XS

#38887 Replace `AdvertiseComponent` with `DatasetVocalizerComponent`
  Content.Server/Advertise/Components/AdvertiseComponent.cs
  Content.Server/Advertise/EntitySystems/AdvertiseSystem.cs
  Content.Server/VendingMachines/VendingMachineSystem.cs
  Content.Server/Vocalization/Components/DatasetVocalizerComponent.cs
  Content.Server/Vocalization/Components/VocalizerComponent.cs
  Content.Server/Vocalization/Components/VocalizerRequiresPowerComponent.cs
  Content.Server/Vocalization/Systems/DatasetVocalizationSystem.cs
  Content.Server/Vocalization/Systems/VocalizationSystem.cs
  Resources/Maps/Nonstations/dm01-entryway.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Entities/Structures/Machines/fatextractor.yml
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: P3: Standard, T: Refactor, Changes: Map, D2: Medium, S: Approved, A: General Interactions, size/M

#38829 Bagel genpop
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Awaiting Changes, S: Untriaged, size/XL

#37341 Make more objects spray paintable (Reviving #31328)
  Content.Client/Atmos/EntitySystems/GasCanisterAppearanceSystem.cs
  Content.Client/Doors/DoorSystem.cs
  Content.Client/SprayPainter/SprayPainterSystem.cs
  Content.Client/SprayPainter/UI/SprayPainterBoundUserInterface.cs
  Content.Client/SprayPainter/UI/SprayPainterDecals.xaml
  Content.Client/SprayPainter/UI/SprayPainterDecals.xaml.cs
  Content.Client/SprayPainter/UI/SprayPainterGroup.xaml
  Content.Client/SprayPainter/UI/SprayPainterGroup.xaml.cs
  Content.Client/SprayPainter/UI/SprayPainterWindow.xaml
  Content.Client/SprayPainter/UI/SprayPainterWindow.xaml.cs
  Content.Client/Storage/Visualizers/EntityStorageVisualizerSystem.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/SprayPainter/Components/PaintableAirlockComponent.cs
  Content.Shared/SprayPainter/Components/PaintableComponent.cs
  Content.Shared/SprayPainter/Components/PaintedComponent.cs
  Content.Shared/SprayPainter/Components/SprayPainterAmmo.cs
  Content.Shared/SprayPainter/Components/SprayPainterComponent.cs
  Content.Shared/SprayPainter/Prototypes/AirlockDepartmentsPrototype.cs
  Content.Shared/SprayPainter/Prototypes/AirlockGroupPrototype.cs
  Content.Shared/SprayPainter/Prototypes/PaintableGroupCategoryPrototype.cs
  Content.Shared/SprayPainter/Prototypes/PaintableGroupPrototype.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
  Content.Shared/SprayPainter/SprayPainterAmmoSystem.cs
  Content.Shared/SprayPainter/SprayPainterEvents.cs
  Resources/Locale/en-US/engineer-painter/engineer-painter.ftl
  Resources/Locale/en-US/spray-painter/spray-painter.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/clockwork.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Paintables/airlock_groups.yml
  Resources/Prototypes/Paintables/canister_groups.yml
  Resources/Prototypes/Paintables/categories.yml
  Resources/Prototypes/Paintables/crate_groups.yml
  Resources/Prototypes/Paintables/locker_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo-inhand-left.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo-inhand-right.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/meta.json
Labels: Changes: UI, Changes: Map, Changes: Sprites, S: Approved, size/L, S: Art Approval

#38921 Add Serializable, NetSerializable attributes to DecalPaintMode
  Content.Shared/SprayPainter/Components/SprayPainterComponent.cs
Labels: S: Untriaged, S: Approved, size/XS

#38464 Rotated turret wall panel sprites
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/base.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/lethal.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/safe.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/stun.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/wires.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Art, A: Silicons, T: Visual Change, S: Art Approval

#37196 Stun and Stamina Visuals
  Content.Client/Damage/Systems/StaminaSystem.cs
  Content.Client/Stunnable/StunSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Visualizer.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunVisualsComponent.cs
  Content.Shared/Stunnable/StunnedComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Textures/Mobs/Effects/stunned.rsi/meta.json
  Resources/Textures/Mobs/Effects/stunned.rsi/stunned.png
Labels: P3: Standard, T: New Feature, D2: Medium, Changes: Sprites, S: Approved, A: Combat, A: Security, size/M

#38866 Fix AddHandCommand not working on aghosts
  Content.Server/Body/Commands/AddHandCommand.cs
Labels: S: Untriaged, S: Approved, size/S

#32588 Component for clothes to suppress emotes and scream action in general, and the muzzle to suppress vocal emotes in particular
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/Components/EmoteBlockerComponent.cs
  Content.Server/Speech/EntitySystems/EmoteBlockerSystem.cs
  Content.Shared/Emoting/EmoteAttemptEvent.cs
  Content.Shared/Emoting/EmoteEvents.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/chat/emotes.ftl
  Resources/Locale/en-US/emote/emote.ftl
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
Labels: T: Bugfix, P3: Standard, T: New Feature, D2: Medium, S: Approved, A: General Interactions, size/M, Merge Conflict

#38254 Convert Locker/Closet fills to Entity Tables: Part 2
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Catalog/Fills/Lockers/service.yml
  Resources/Prototypes/Catalog/Fills/Lockers/space_ruin.yml
  Resources/Prototypes/Catalog/Fills/Lockers/suit_storage.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_colors.yml
  Resources/Prototypes/Catalog/Fills/Lockers/wardrobe_job.yml
Labels: Changes: No C#, S: Approved, size/L

#38936 Fixing a singular pixel on the frame of the AI
  Resources/Textures/Mobs/Silicon/station_ai.rsi/base.png
  Resources/Textures/Mobs/Silicon/station_ai.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/XS

#38943 refactor: rework the new status effect system to use containers (#38915)
  Content.Client/Drowsiness/DrowsinessOverlay.cs
  Content.Client/Drowsiness/DrowsinessSystem.cs
  Content.Client/Drugs/RainbowOverlay.cs
  Content.Client/StatusEffectNew/ClientStatusEffectsSystem.cs
  Content.Server/Drowsiness/DrowsinessSystem.cs
  Content.Server/StatusEffectNew/StatusEffectsSystem.cs
  Content.Server/Traits/Assorted/NarcolepsySystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/EntityEffects/Effects/StatusEffects/ModifyStatusEffect.cs
  Content.Shared/SSDIndicator/SSDIndicatorSystem.cs
  Content.Shared/StatusEffect/StatusEffectsSystem.cs
  Content.Shared/StatusEffectNew/Components/StatusEffectAlertComponent.cs
  Content.Shared/StatusEffectNew/Components/StatusEffectComponent.cs
  Content.Shared/StatusEffectNew/Components/StatusEffectContainerComponent.cs
  Content.Shared/StatusEffectNew/StatusEffectAlertSystem.cs
  Content.Shared/StatusEffectNew/StatusEffectSystem.API.cs
  Content.Shared/StatusEffectNew/StatusEffectSystem.Relay.cs
  Content.Shared/StatusEffectNew/StatusEffectsSystem.cs
Labels: T: Bugfix, T: Refactor, D2: Medium, S: Approved, Intent: Hotfix, Branch: Stable, A: Core Tech, size/M

#38946 fix: don't divide by zero in FragmentIntoProjectiles
  Content.Server/Explosion/EntitySystems/ProjectileGrenadeSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, size/XS

#38960 SharedGunSystem spread bugfix
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#38950 Fixed error thrown when examining indestructible plastitanium windows
  Resources/Prototypes/Entities/Structures/Windows/plastitanium.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#38961 Fix extra dollar sign in admin log for machine toggle
  Content.Server/Power/EntitySystems/PowerChargeSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#38634 Hats (and glasses) for pets - Part 1 - Ian and McGriff
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/InventoryTemplates/pet_inventory_template.yml
  Resources/Prototypes/InventoryTemplates/smartcorgi_inventory_template.yml
  Resources/Textures/Mobs/Pets/corgi.rsi/belt_displacement.png
  Resources/Textures/Mobs/Pets/corgi.rsi/meta.json
  Resources/Textures/Mobs/Pets/displacements.rsi/corgi_belt_displacement.png
  Resources/Textures/Mobs/Pets/displacements.rsi/corgi_head_displacement.png
  Resources/Textures/Mobs/Pets/displacements.rsi/lisa_head_displacement.png
  Resources/Textures/Mobs/Pets/displacements.rsi/mcgriff_eyes_displacement.png
  Resources/Textures/Mobs/Pets/displacements.rsi/mcgriff_head_displacement.png
  Resources/Textures/Mobs/Pets/displacements.rsi/meta.json
Labels: P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Art, T: Visual Change, size/M, S: Art Approval

#38951 [BUGFIX] Stops scurrets from suffocating in crates
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Character/Species, size/XS

#38971 make ocarina small
  Resources/Prototypes/Entities/Objects/Fun/Instruments/instruments_wind.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38972 Add contraband parent to war declarator
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/war_declarator.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38906 Vox customization additions (+eyeshadows)
  Resources/Locale/en-US/accessories/vox-hair.ftl
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_hair.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_tattoos.yml
  Resources/Textures/Mobs/Customization/tattoos.rsi/eyeshadow_lower.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/eyeshadow_upper.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_hair.rsi/bushy_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/hedgehog_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/mad_scientist_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_hair.rsi/slick_s.png
  Resources/Textures/Mobs/Customization/vox_hair.rsi/wise_braid_s.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_big.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_full.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_short.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_stenciled.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/eyeshadow_large.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/eyeshadow_medium.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/eyeshadow_small.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/tail_ring.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/torso.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Approved, A: Character/Species, size/M, S: Art Approval

#38964 Voltage enum to shared
  Content.Server/Power/Components/BaseNetConnectorComponent.cs
  Content.Server/Power/Generator/PowerSwitchableSystem.cs
  Content.Shared/Power/SharedPower.cs
Labels: P3: Standard, T: Cleanup, DB: Beginner Friendly, S: Approved, size/S

#38647 Fix devices in terminal mispredicting power state
  Content.Client/Power/EntitySystems/StaticPowerSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#38155 Make RunVerbAs take and return EntityUids
  Content.Server/Toolshed/Commands/Verbs/RunVerbAsCommand.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Awaiting Changes, A: Toolshed, S: Approved, A: Admin Tooling, size/S

#38984 Buff parrot learn rates and radio chatter
  Content.Server/Animals/Components/ParrotMemoryComponent.cs
  Content.Server/Vocalization/Components/RadioVocalizerComponent.cs
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: P3: Standard, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#38988 Remove prototype caching from `TransformableContainerComponent`
  Content.Server/Chemistry/Components/TransformableContainerComponent.cs
  Content.Server/Chemistry/EntitySystems/TransformableContainerSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/S

#38986 New holy books
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Specific/Chapel/bibles.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/chaplain.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Civilian/chaplain.yml
  Resources/Textures/Objects/Specific/Chapel/codexnanotrasimus.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/codexnanotrasimus.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/codexnanotrasimus.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/codexnanotrasimus.rsi/meta.json
  Resources/Textures/Objects/Specific/Chapel/communistmanifesto.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/communistmanifesto.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/communistmanifesto.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/communistmanifesto.rsi/meta.json
  Resources/Textures/Objects/Specific/Chapel/mysteryofthedruids.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/mysteryofthedruids.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/mysteryofthedruids.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/mysteryofthedruids.rsi/meta.json
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/meta.json
  Resources/Textures/Objects/Specific/Chapel/tanakh.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/tanakh.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/tanakh.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Chapel/tanakh.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Art, A: Service, T: Visual Change, size/M, S: Art Approval

#38295 Made the Mosin bayonet usable.
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/base1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-backpack-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/equipped-suitstorage-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/inhand-right-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-left-fill-1.png
  Resources/Textures/Objects/Weapons/Guns/Snipers/bolt_gun_wood.rsi/wielded-inhand-right-fill-1.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Combat, size/S, S: Art Approval

#38985 Adjust throwables hitboxes to match sprites
  Resources/Prototypes/Entities/Objects/Misc/pen.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/scattering_grenades.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Combat, size/M

#39002 Convert some voice samples to mono
  Resources/Audio/Voice/Human/female_cough_1.ogg
  Resources/Audio/Voice/Human/female_cough_2.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_ask.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_bikehorn.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_buzz-sigh.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_buzz-two.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_chime.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_exclaim.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_laugh_1.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_laugh_2.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_laugh_3.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_laugh_4.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_ping.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_talk.ogg
  Resources/Audio/Voice/Xenoborg/xenoborg_twobeep.ogg
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, Changes: Audio, size/XS

#35212 Whitelist extension for tool belt
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/signaller.yml
  Resources/Prototypes/tags.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, S: Undergoing Discussion, A: General Interactions, size/XS

#38384 Give admin bags explosion resistance
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
Labels: Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, T: Of Admin Interest, size/S

#39029 Re-id 'Medical Doctor' guide entry to 'MedicalDoctor'
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/defib.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healthanalyzer.yml
  Resources/Prototypes/Entities/Structures/Furniture/beds.yml
  Resources/Prototypes/Entities/Structures/Machines/stasisbed.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Guidebook/medical.yml
Labels: P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Guidebook, T: Chore

#39032 Make diagonal windows prevent electrocution
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#39033 Carps Can No Longer Suicide
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, S: Approved, A: Roundflow/Antag, size/XS

#38911 Fix Respirator Asserts
  Content.Server/Body/Components/RespiratorComponent.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
Labels: S: Untriaged, S: Approved, size/M

#38953 Metashield Rules Update (Removal)
  Resources/ServerInfo/Guidebook/ServerRules/MRPRules/RuleM1DoNotPowergame.xml
  Resources/ServerInfo/Guidebook/ServerRules/RoleplayRules/RuleR4Metashield.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenLRPRules.xml
  Resources/ServerInfo/Guidebook/ServerRules/WizDenMRPRules.xml
Labels: Changes: No C#, S: Approved, Branch: Staging, A: Rules, T: Of Admin Interest, size/M, S: Conceptual Approval

#36839 Tweak Vendor Emag Inventory
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donut.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/smite.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/winterdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, S: Undergoing Discussion, A: Roundflow/Antag, size/S

#39045 Reword thief-role-greeting-equipment to mention innate ability rather than gloves
  Resources/Locale/en-US/game-ticking/game-presets/preset-thief.ftl
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#39043 Allow GenPop access perms on the AccessConfigurator
  Resources/Prototypes/Entities/Objects/Tools/access_configurator.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38098 Fix bar mailing unit tag on plasma
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Approved, size/XS

#38152 Remove omnizine from unwarmed honk pockets, honk pockets make you honk
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donkpocket.yml
Labels: Changes: No C#, T: Balance Change, S: Approved, A: Service, size/XS

#38170 Add empty line between changelogs discord entries
  Tools/actions_changelogs_since_last_run.py
Labels: Changes: No C#, S: Untriaged, size/XS

#37731 Tighten DB shotgun spread, widened sawn off spread
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
Labels: Changes: No C#, size/XS

#39041 Fix the max scanner distances
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: T: Bugfix, P3: Standard, Changes: UI, D3: Low, T: UI / UX Improvement, S: Approved, A: General Interactions, size/XS

#38987 Guidebook changes
  Resources/ServerInfo/Guidebook/Antagonist/Antagonists.xml
  Resources/ServerInfo/Guidebook/Antagonist/Thieves.xml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
Labels: Changes: No C#, S: Awaiting Changes, S: Untriaged, S: Approved, size/S

#38494 Golden plunger Trolley and Bucket Carp
  Resources/Locale/en-US/janitorial/janitorial-slot-component.ftl
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
  Resources/Prototypes/Entities/Structures/Specific/Janitor/janicart.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Fun/Plushies/carp.rsi/holocarpplush-inhand-left.png
  Resources/Textures/Objects/Fun/Plushies/carp.rsi/holocarpplush-inhand-right.png
  Resources/Textures/Objects/Fun/Plushies/carp.rsi/magicarpplush-inhand-left.png
  Resources/Textures/Objects/Fun/Plushies/carp.rsi/magicarpplush-inhand-right.png
  Resources/Textures/Objects/Fun/Plushies/carp.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/meta.json
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_holocarpplush.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial.rsi/mopbucket_magicarpplush.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/cart_goldenplunger.png
  Resources/Textures/Objects/Specific/Janitorial/janitorial_cart.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Service, T: Visual Change, size/M, S: Art Approval

#39072 Dehardcoded Air Alarm's UI window title
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Labels: Changes: UI, Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#38672 More atmos devices can be placed on layers easier.
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/alt_layers.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/binary.yml
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/gas_pipe_sensor.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/atmos_binary.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/gas_pipe_sensor.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/L

#30645 Fix bug with pipe color
  Content.Client/Atmos/EntitySystems/PipeColorVisualizerSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosPipeColorSystem.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Shared/Atmos/Components/AtmosPipeColorComponent.cs
  Content.Shared/Atmos/EntitySystems/AtmosPipeColorSystem.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Approved, A: Engineering, size/M

#39071 Fix mouse rotator error spam
  Content.Client/MouseRotator/MouseRotatorSystem.cs
  Content.Shared/MouseRotator/MouseRotatorComponent.cs
  Content.Shared/MouseRotator/SharedMouseRotatorSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Approved, A: General Interactions, size/S

#36881 Crawling Part 1: The Knockdownening
  Content.Client/Input/ContentContexts.cs
  Content.Client/Options/UI/Tabs/KeyRebindTab.xaml.cs
  Content.Client/Stunnable/StunSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Stunnable/Components/StunOnCollideComponent.cs
  Content.Server/Stunnable/StunSystem.cs
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Server/Stunnable/Systems/StunSystem.cs
  Content.Shared/Bed/Sleep/SleepingSystem.cs
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Damage/Components/StaminaComponent.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.EventListeners.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Input/ContentKeyFunctions.cs
  Content.Shared/Movement/Components/FrictionStatusEffectComponent.cs
  Content.Shared/Movement/Components/WormComponent.cs
  Content.Shared/Movement/Systems/MovementModStatusSystem.cs
  Content.Shared/Movement/Systems/MovementSpeedModifierSystem.cs
  Content.Shared/Movement/Systems/WormSystem.cs
  Content.Shared/Slippery/SlidingComponent.cs
  Content.Shared/Slippery/SlidingSystem.cs
  Content.Shared/Slippery/SlipperyComponent.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/StatusEffectNew/StatusEffectSystem.Relay.cs
  Content.Shared/Stunnable/KnockedDownComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunOnContactComponent.cs
  Content.Shared/Stunnable/StunnableEvents.cs
  Content.Shared/Throwing/ThrowAttemptEvent.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
  Resources/Locale/en-US/stunnable/components/stunnable-component.ftl
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/elemental.yml
  Resources/Prototypes/Entities/Mobs/NPCs/silicon.yml
  Resources/Prototypes/Entities/Mobs/NPCs/simplemob.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_fun.yml
  Resources/Prototypes/Entities/Objects/Fun/error.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/StatusEffects/misc.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/status_effects.yml
  Resources/Textures/Interface/Alerts/stunnable.rsi/knocked-down.png
  Resources/Textures/Interface/Alerts/stunnable.rsi/meta.json
  Resources/keybinds.yml
Labels: P2: Raised, T: New Feature, Changes: UI, T: Refactor, D1: High, Changes: Sprites, S: Awaiting Changes, S: Approved, S: Undergoing Discussion, A: Combat, A: General Interactions, size/M, S: Art Approval

#39082 Stray Pixels on Vox Tails
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_big.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, A: Character/Species, T: Visual Change, size/XS, S: Art Approval

#39085 Crawling Fixes 2: Salvage Nerf (NPCs can shoot downed targets)
  Content.Server/NPC/Systems/NPCCombatSystem.Ranged.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#38648 Implement SmartFridge functionality
  Content.Client/SmartFridge/SmartFridgeBoundUserInterface.cs
  Content.Client/SmartFridge/SmartFridgeItem.xaml
  Content.Client/SmartFridge/SmartFridgeItem.xaml.cs
  Content.Client/SmartFridge/SmartFridgeMenu.xaml
  Content.Client/SmartFridge/SmartFridgeMenu.xaml.cs
  Content.Client/SmartFridge/SmartFridgeUISystem.cs
  Content.IntegrationTests/Tests/SmartFridge/SmartFridgeInteractionTest.cs
  Content.Shared/Disposal/Unit/SharedDisposalUnitSystem.cs
  Content.Shared/Placeable/PlaceableSurfaceSystem.cs
  Content.Shared/SmartFridge/SmartFridgeComponent.cs
  Content.Shared/SmartFridge/SmartFridgeSystem.cs
  Content.Shared/Storage/Components/DumpableComponent.cs
  Content.Shared/Storage/EntitySystems/DumpableSystem.cs
  Resources/Locale/en-US/smartfridge/smartfridge.ftl
  Resources/Locale/en-US/storage/components/dumpable-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/smartfridge.yml
  Resources/Prototypes/SoundCollections/machines.yml
Labels: P3: Standard, T: New Feature, Changes: UI, D2: Medium, T: UI / UX Improvement, S: Approved, A: Service, A: Medical, size/M

#39109 Crawling Fixes Part 5: Holy Fuck
  Content.Shared/Cuffs/Components/HandcuffComponent.cs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
Labels: S: Untriaged, S: Approved, size/M

#39116 P0 BUGFIX: Master doesn't build because of uncaught git merge conflict.
  Content.Shared/Bed/Sleep/SleepingSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#39086 Content fixes for engine PR
  Content.Shared/Sound/Components/BaseEmitSoundComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnActivateComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnCollideComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnDropComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnInteractUsingComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnLandComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnPickupComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnSpawnComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnThrowComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnUIOpenComponent.cs
  Content.Shared/Sound/Components/EmitSoundOnUseComponent.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Weapons/Misc/ForceGunComponent.cs
  Content.Shared/Weapons/Misc/TetherGunComponent.cs
Labels: S: Requires Engine PR, A: Core Tech, size/M

#39106 China lake rebalance
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/grenade.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: P3: Standard, Changes: No C#, D3: Low, T: Balance Change, S: Approved, A: Combat, A: Roundflow/Antag, size/S

#38731 fix: fix non-access checking EntityTargetActions
  Content.Client/Actions/ActionsSystem.cs
  Content.Shared/Actions/Components/TargetActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Magic/teleport_spells.yml
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Approved, A: Roundflow/Antag, size/S

#39147 Add Polly to Bagel station
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39141 Add polly to Marathon station
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39140 Add polly to Box station
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39139 Add Polly to Amber station
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/XS

#39138 Minor plasma fixes, add Polly to Plasma station
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39150 Add Polly to Elkridge station
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/XS

#38565 Localize makesentient command. Move makesentient method to mind system.
  Content.IntegrationTests/Tests/Minds/MindTests.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Ghost/Roles/GhostRoleSystem.cs
  Content.Server/Mind/Commands/MakeSentientCommand.cs
  Content.Server/Mind/MindSystem.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Server/Station/Systems/StationSpawningSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Resources/Locale/en-US/commands/makesentient-command.ftl
Labels: P3: Standard, T: Refactor, D3: Low, S: Approved, size/M

#38974 Properly dispose of stale pipedata chunks for the atmos monitor
  Content.Client/Atmos/Consoles/AtmosMonitoringConsoleNavMapControl.cs
  Content.Server/Atmos/Consoles/AtmosMonitoringConsoleSystem.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Shared/Atmos/Consoles/Components/AtmosMonitoringConsoleComponent.cs
Labels: P2: Raised, T: Performance, D2: Medium, S: Approved, A: Atmospherics, size/S

#39167 Fix some debugging permissions
  Resources/engineCommandPerms.yml
Labels: Changes: No C#, DB: Beginner Friendly, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/XS

#39168 Crawling Bugfix: Don't drop items when falling.
  Content.Shared/Stunnable/SharedStunSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#39187 bagel update (best med update)
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39208 Admin logs for batteries UI
  Content.Server/Power/EntitySystems/BatteryInterfaceSystem.cs
Labels: T: New Feature, S: Approved, A: Admin Tooling, A: Engineering, size/XS

#37924 Change potassium-water explosion scaling
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: General Interactions, size/XS

#37915 Change smoke/foam/explosion chemistry reaction order & energy transfer
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, A: Medical

#36969 Admin Tool: Observe entities in an extra viewport
  Content.Client/Administration/UI/AdminCamera/AdminCameraControl.xaml
  Content.Client/Administration/UI/AdminCamera/AdminCameraControl.xaml.cs
  Content.Client/Administration/UI/AdminCamera/AdminCameraEui.cs
  Content.Client/Administration/UI/AdminCamera/AdminCameraWindow.xaml
  Content.Client/Administration/UI/AdminCamera/AdminCameraWindow.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Server/Administration/Commands/CameraCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.cs
  Content.Server/Administration/UI/AdminCameraEui.cs
  Content.Shared/Administration/AdminCameraEuiState.cs
  Content.Shared/Eye/VisibilityFlags.cs
  Content.Shared/Follower/FollowerSystem.cs
  Resources/Locale/en-US/administration/admin-verbs.ftl
  Resources/Locale/en-US/administration/commands/camera.ftl
  Resources/Locale/en-US/administration/ui/admin-camera-window.ftl
  Resources/Locale/en-US/administration/ui/player-panel.ftl
  Resources/Prototypes/Entities/Interface/admin_tools.yml
Labels: P1: High, T: New Feature, Changes: UI, S: Requires Engine PR, D2: Medium, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/M

#39011 Added Kill Tome (Death Note).
  Content.Shared/KillTome/KillTomeComponent.cs
  Content.Shared/KillTome/KillTomeSystem.cs
  Content.Shared/KillTome/KillTomeTargetComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Locale/en-US/killtome.ftl
  Resources/Prototypes/Entities/Objects/Misc/killtome.yml
  Resources/Textures/Objects/Misc/killtome.rsi/icon.png
  Resources/Textures/Objects/Misc/killtome.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: Sprites, S: Approved, A: Roundflow/Antag, T: Of Admin Interest, size/M, S: Art Approval

#38290 Optimizations from server profile
  Content.Server/Atmos/Monitor/Components/AtmosAlarmableComponent.cs
  Content.Server/Atmos/Monitor/Components/AtmosMonitorComponent.cs
  Content.Server/Atmos/Monitor/Systems/AtmosAlarmableSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
  Content.Server/NPC/Systems/NPCSystem.cs
  Content.Server/Physics/Controllers/MoverController.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Content.Server/Tips/TipsSystem.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
  Content.Shared/CCVar/CCVars.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Resources/ConfigPresets/WizardsDen/vulture.toml
Labels: P1: High, T: Performance, S: Needs Review, S: Approved, A: Chat, A: Core Tech, size/M

#34329 Some wallmount .yml cleanup
  Resources/Prototypes/Entities/Structures/Lighting/service_light.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/wooden_television.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Misc/bell.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Misc/mirror.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Misc/noticeboard.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base_structuresigns.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/flags.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/paintings.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/Cabinets/base_wallmount_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/Cabinets/defib_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/Cabinets/extinguisher_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/Cabinets/fireaxe_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/Cabinets/shotgun_cabinet.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/shelfs.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/wall_dispensers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch_autolink.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/Monitors/telescreens.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/Monitors/televisions.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/air_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/fire_alarm.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/intercom.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/surveillance_camera.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/timer.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/monitors_televisions.yml
  Resources/Prototypes/Entities/Structures/lever.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/M

#39230 Make the cherry pit tiny
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, A: Service, size/XS

#39111 Add scaling filter option (Nearest/Bilinear)
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml
  Content.Client/Options/UI/Tabs/GraphicsTab.xaml.cs
  Content.Client/UserInterface/Controls/MainViewport.cs
  Content.Shared/CCVar/CCVars.Viewport.cs
  Resources/Locale/en-US/escape-menu/ui/options-menu.ftl
Labels: Changes: UI, S: Untriaged, S: Approved, size/S

#39246 Handle inventory template updating V2
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Shared/DisplacementMap/DisplacementData.cs
  Content.Shared/Inventory/InventoryComponent.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: S: Untriaged, S: Approved, size/M

#39216 update bagel (fix button connected to doors)
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/S

#39250 [Mald PR] Plushie sound 1984
  Content.Shared/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/Weapons/Melee/MeleeSoundSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
Labels: P1: High, T: Cleanup, D3: Low, A: Accessibility, S: Approved, Changes: Audio, size/M

#39257 fix foldable clothes not working while worn
  Content.Shared/Clothing/Components/FoldableClothingComponent.cs
  Content.Shared/Clothing/EntitySystems/FoldableClothingSystem.cs
Labels: S: Untriaged, S: Approved, size/S

#39261 rolebriefingcomponent bugfix
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#39245 last words error fix
  Content.Server/Mobs/CritMobActionsSystem.cs
Labels: T: Bugfix, S: Approved, A: General Interactions, size/XS

#39213 allow janibelt to hold golden plunger
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: T: Bugfix, Changes: No C#, S: Approved, A: Service, size/XS

#38589 Convert a few debugging commands and the mapping setup command to LEC.
  Content.Client/Commands/DebugCommands.cs
  Content.Client/Commands/MappingClientSideSetupCommand.cs
  Resources/Locale/en-US/commands/mappingclientsidesetup-command.ftl
Labels: S: Untriaged, S: Approved, size/S

#38859 Predict mimepowers
  Content.Server/Abilities/Mime/MimePowersComponent.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
  Content.Shared/Abilities/Mime/MimePowersComponent.cs
  Content.Shared/Abilities/Mime/MimePowersSystem.cs
  Resources/Locale/en-US/abilities/mime.ftl
Labels: T: Refactor, S: Approved, A: General Interactions, size/M

#39219 Several Vox Sprite Displacement and Layering Fixes
  Resources/Prototypes/Entities/Mobs/Species/vox.yml
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/meta.json
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/neck.png
Labels: P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Art, T: Visual Change, size/S, S: Art Approval

#39266 Make RemoveReagent return a FixedPoint2
  Content.Shared/Chemistry/EntitySystems/SharedSolutionContainerSystem.cs
Labels: T: Refactor, S: Approved, A: Core Tech, A: Medical, size/S

#38811 Retry of Advanced Chem Tweaks
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, S: Approved, A: Medical

#38876 Predict passive welding fuel consumption
  Content.Server/Tools/ToolSystem.cs
  Content.Shared/Tools/Components/WelderComponent.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
Labels: T: Bugfix, P3: Standard, T: Refactor, DB: Beginner Friendly, S: Approved, A: General Interactions

#39222 New recipe: Cotton Cakes
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton-slice-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton-slice-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Service, T: Visual Change, size/S, S: Art Approval

#38890 Allow EmoteSoundsPrototype to have parents
  Content.Shared/Chat/Prototypes/EmoteSoundsPrototype.cs
Labels: S: Awaiting Changes, S: Untriaged, size/S

#38406 Make VendingMachineInventoryEntry a data definition for post-init savegrid
  Content.Shared/VendingMachines/VendingMachineComponent.cs
Labels: S: Untriaged, size/S
