Repository space-wizards/space-station-14, pull requests merged in 2025-06, with the labels that each got.

#37899 Mirror resprite
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
  Resources/Textures/Structures/Wallmounts/mirror.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror-broke.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/mirror_broke.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/rectangle-mirror-broke.png
  Resources/Textures/Structures/Wallmounts/mirror.rsi/rectangle-mirror.png
Labels: T: Bugfix, P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, A: Art, T: Visual Change, size/S

#37986 Further Mail Balancing
  Content.Shared/Delivery/DeliveryBombComponent.cs
  Content.Shared/Delivery/DeliveryPriorityComponent.cs
  Resources/Prototypes/Entities/Objects/Deliveries/deliveries.yml
Labels: S: Untriaged, size/S

#37969 Fix center of mass mispredict when placing tiles
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Shared/Shuttles/Systems/SharedShuttleSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: General Interactions, size/S

#37989 Adding a new trait: Monochromacy!
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Traits/disabilities.yml
Labels: Changes: No C#, S: Needs Review, S: Approved, size/S

#37997 [HOTFIX] Salvage Job Computer Eating your Jobs
  Content.Server/Salvage/JobBoard/SalvageJobBoardSystem.cs
Labels: S: Untriaged, Branch: Stable, size/XS

#37981 Fixes maploadbenchmark typo
  Content.Benchmarks/MapLoadBenchmark.cs
Labels: S: Untriaged, size/XS

#38001 remove empty file
  Content.Client/Ensnaring/Components/EnsnaringComponent.cs
Labels: S: Untriaged, size/XS

#38000 Added bulk cleanades crate
  Resources/Prototypes/Catalog/Cargo/cargo_service.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
Labels: Changes: No C#, S: Approved

#38004 Made C-4 Major contraband instead of syndicate contraband
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: Changes: No C#, S: Approved, size/XS

#37998 Lube Evaporates Slowly
  Resources/Prototypes/Reagents/cleaning.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#35969 Add multipart machines
  Content.Client/Machines/Components/MultipartMachineGhostComponent.cs
  Content.Client/Machines/EntitySystems/MultipartMachineSystem.cs
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.xaml
  Content.Client/ParticleAccelerator/UI/ParticleAcceleratorControlMenu.xaml.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Server/Entry/IgnoredComponents.cs
  Content.Server/Machines/EntitySystems/MultipartMachineSystem.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorControlBoxComponent.cs
  Content.Server/ParticleAccelerator/Components/ParticleAcceleratorPartComponent.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.ControlBox.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Emitter.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.Parts.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.PowerBox.cs
  Content.Server/ParticleAccelerator/EntitySystems/ParticleAcceleratorSystem.cs
  Content.Server/ParticleAccelerator/Wires/ParticleAcceleratorToggleWireAction.cs
  Content.Server/Singularity/StartSingularityEngineCommand.cs
  Content.Shared/Machines/Components/MultipartMachineComponent.cs
  Content.Shared/Machines/Components/MultipartMachinePartComponent.cs
  Content.Shared/Machines/EntitySystems/SharedMultipartMachineSystem.cs
  Content.Shared/Machines/Events/MultipartMachineEvents.cs
  Content.Shared/ParticleAccelerator/AcceleratorParts.cs
  Content.Shared/ParticleAccelerator/Components/ParticleAcceleratorEmitterComponent.cs
  Content.Shared/ParticleAccelerator/Components/ParticleAcceleratorEndCapComponent.cs
  Content.Shared/ParticleAccelerator/Components/ParticleAcceleratorFuelChamberComponent.cs
  Content.Shared/ParticleAccelerator/Components/ParticleAcceleratorPowerBoxComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/multipart.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/base_particleaccelerator.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/control_box.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/emitter.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/end_cap.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/fuel_chamber.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/power_box.yml
Labels: P2: Raised, T: New Feature, Changes: UI, T: Refactor, D1: High, S: Needs Review, A: Core Tech, size/L

#37246 Add checks for various complex interactions
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/RadiationCollectorSystem.cs
  Content.Server/Stunnable/Systems/StunbatonSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraRouterSystem.cs
  Content.Server/SurveillanceCamera/Systems/SurveillanceCameraSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Buckle/SharedBuckleSystem.Interaction.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Stunnable/SharedStunbatonSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.Welder.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.ChamberMagazine.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Interactions.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, T: Balance Change, S: Approved, A: General Interactions, size/M

#38028 Plasma genpop
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#37768 Adds air atmospherics markers to emergency_plasma.yml
  Resources/Maps/Shuttles/emergency_plasma.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/M

#38038 Fix directional window inconsistencies
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
Labels: Changes: No C#, size/XS

#38020 Loc fix for emote guidebook
  Content.Shared/EntityEffects/Effects/Emote.cs
Labels: T: Bugfix, P3: Standard, S: Approved, A: Guidebook, size/XS

#38011 Fixes electropacks not ignoring insulation
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#37362 Change "Terrorism" to "Station-Wide Destruction" in Space Law
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, Branch: Stable, A: Guidebook, A: Rules, A: Security, T: Of Admin Interest, size/XS

#38058 Merge stable into master
  Content.Server/Salvage/JobBoard/SalvageJobBoardSystem.cs
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SLCrimeList.xml
  Resources/ServerInfo/Guidebook/ServerRules/SpaceLaw/SpaceLaw.xml
Labels: S: Needs Review, S: Untriaged, size/S

#32782 Add Diona rooting
  Content.Client/Rootable/RootableSystem.cs
  Content.Server/Damage/Systems/DamageUserOnTriggerSystem.cs
  Content.Server/Rootable/RootableSystem.cs
  Content.Shared/Damage/Components/DamageUserOnTriggerComponent.cs
  Content.Shared/Rootable/RootableComponent.cs
  Content.Shared/Rootable/SharedRootableSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/actions/actions/rootable.ftl
  Resources/Locale/en-US/alerts/alerts.ftl
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Alerts/alerts.yml
  Resources/Prototypes/Alerts/rooted.yml
  Resources/Prototypes/Entities/Mobs/Species/diona.yml
  Resources/Textures/Interface/Actions/rooting.png
  Resources/Textures/Interface/Alerts/Rooted/rooted.png
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, T: Balance Change, S: Approved, A: Character/Species, size/M

#38013 Blood-Red Magboots now correctly show if magboots are active
  Content.Client/Movement/Systems/JetpackSystem.cs
  Content.Shared/Movement/Systems/SharedJetpackSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
Labels: T: Bugfix, P3: Standard, S: Approved, A: Art, size/S

#38048 Remove Lube From Trash Puddle Spawns
  Resources/Prototypes/GameRules/variation.yml
Labels: Changes: No C#

#38066 Omega Update
  Resources/Maps/omega.yml
Labels: Changes: No C#, Changes: Map, size/M

#38075 Evac Repair Lockers
  Resources/Prototypes/Catalog/Fills/Lockers/engineer.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/Structures/Storage/closet.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_evac_door.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/eng_open.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Engineering, size/S, S: Art Approval

#38059 Tweak for the visual coverage granted to station AIs by holopads
  Content.Shared/Silicons/StationAi/StationAiVisionComponent.cs
  Content.Shared/Silicons/StationAi/StationAiVisionSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: P2: Raised, S: Needs Review, T: Balance Change, S: Approved, A: Silicons, size/S

#37923 Fix soap recipe so it actually works
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions

#37863 Reorganized Turret Prototypes
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/turrets.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: Command, A: Security, A: Silicons, size/M

#37828 Standardized running and walking speed debuffs for equipped gear.
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/base_clothingouter.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Power/powersink.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#38086 Add hair back to hardhats
  Resources/Prototypes/Entities/Clothing/Head/hardhats.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#37772 Access Reader Refactor
  Content.IntegrationTests/Tests/Access/AccessReaderTest.cs
  Content.Server/Access/AccessWireAction.cs
  Content.Server/Access/AddAccessLogCommand.cs
  Content.Server/Access/LogWireAction.cs
  Content.Server/Access/Systems/AccessOverriderSystem.cs
  Content.Server/Doors/Electronics/Systems/DoorElectronicsSystem.cs
  Content.Shared/Access/Components/AccessReaderComponent.cs
  Content.Shared/Access/Systems/AccessReaderSystem.cs
Labels: P3: Standard, T: Refactor, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#37917 Adds individual Bulldog magazines to the syndicate uplink
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/shotgun.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#35535 Rifle crate order
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Fills/Crates/armory.yml
  Resources/Prototypes/GameRules/cargo_gifts.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, T: Balance Change, S: Approved, A: Cargo/Salvage, A: Combat, size/S

#34444 Muzzles reduce emote sound
  Content.Server/Chat/Systems/ChatSystem.Emote.cs
  Content.Server/Speech/Components/MumbleAccentComponent.cs
  Content.Server/Speech/EntitySystems/MumbleAccentSystem.cs
  Content.Server/Speech/Muting/MutingSystem.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#37601 Added Scrap Armor [Reupload].
  Resources/Locale/en-US/recipes/tags.ftl
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Head/scraphelmet.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/misc.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/scraparmor.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraparmor.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/improvised/scraphelmet.yml
  Resources/Prototypes/Recipes/Crafting/improvised.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-1.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-2.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/construction-3.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/icon.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Helmets/scrap_helmet.rsi/meta.json
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-1.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-2.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/construction-3.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/icon.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/inhand-left.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/inhand-right.png
  Resources/Textures/Clothing/OuterClothing/Armor/scrap_armor.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Approved, size/M, S: Art Approval

#38088 Make improvised explosive devices minor contra
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38113 Shark toys use the bite animation.
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38106 Fix throwing items into disposal units
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, A: General Interactions, size/XS

#38115 Don't show climb verb for objects that cannot be climbed
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: S: Untriaged, size/XS

#38100 Reduce Liquid Frezon Duration
  Resources/Prototypes/Reagents/gases.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#38074 Add player autofill to rename command.
  Content.Server/Mind/Commands/RenameCommand.cs
Labels: S: Untriaged, size/XS

#38092 Light Up Landmines
  Resources/Prototypes/Entities/Objects/Misc/land_mine.yml
  Resources/Textures/Objects/Misc/landmine.rsi/landmine-inactive.png
  Resources/Textures/Objects/Misc/landmine.rsi/landmine-unshaded.png
  Resources/Textures/Objects/Misc/landmine.rsi/landmine.png
  Resources/Textures/Objects/Misc/landmine.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/S, S: Art Approval

#38002 Fix serialization of `SunShadowCycleComponent`
  Content.Shared/Light/Components/SunShadowCycleComponent.cs
Labels: S: Untriaged, size/S

#37993 ShowEmergencyShuttleCommand and MeleeSpreadCommand LEC conversion.
  Content.Client/Shuttles/Commands/ShowEmergencyShuttleCommand.cs
  Content.Client/Weapons/Melee/MeleeSpreadCommand.cs
  Resources/Locale/en-US/commands/melee-spread-command.ftl
  Resources/Locale/en-US/commands/show-emergency-shuttle-command.ftl
Labels: S: Needs Review, S: Untriaged, size/S

#38117 Add name to chameleon controller implanter
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, A: Roundflow/Antag, size/XS

#38129 chem.yml cleanup
  Resources/Prototypes/Entities/Structures/Dispensers/chem.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38102 Genpop wall lockers
  Content.Server/Security/GenpopSystem.cs
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/wall_lockers.yml
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_1.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_2.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_3.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_4.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_5.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_6.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_7.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_door_8.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/genpop_open.png
  Resources/Textures/Structures/Storage/wall_locker.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/M, S: Art Approval

#38140 Forbid string literals for `NpcFactionSystem` methods
  Content.IntegrationTests/Tests/GameRules/NukeOpsTest.cs
  Content.IntegrationTests/Tests/GameRules/TraitorRuleTest.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/NPC/Systems/NpcFactionSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/S

#38101 No raffle for space carp
  Resources/Prototypes/Entities/Mobs/NPCs/carp.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#37521 Missing contraband tags on explosives
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/firebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/pipebomb.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, S: Approved, A: Security, size/S

#38164 Fix eating and drinking verbs showing up after a short delay and making your verb UI bounce
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/MakeGhostRoleEui.cs
  Content.Client/UserInterface/Systems/Ghost/Controls/Roles/MakeGhostRoleWindow.xaml.cs
  Content.Server/Bed/BedSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Body/Systems/BodySystem.cs
  Content.Server/Body/Systems/MetabolizerSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Crayon/CrayonSystem.cs
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Server/Nutrition/Components/BadFoodComponent.cs
  Content.Server/Nutrition/Components/IgnoreBadFoodComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
  Content.Server/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Shared/Body/Components/StomachComponent.cs
  Content.Shared/Body/Events/ApplyMetabolicMultiplierEvent.cs
  Content.Shared/Body/Systems/StomachSystem.cs
  Content.Shared/Burial/BurialSystem.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Content.Shared/EntityEffects/EffectConditions/InternalsCondition.cs
  Content.Shared/Ghost/Roles/Raffles/GhostRoleRaffleSettings.cs
  Content.Shared/Ghost/Roles/Raffles/GhostRoleRaffleSettingsPrototype.cs
  Content.Shared/Light/Components/LightReplacerComponent.cs
  Content.Shared/Medical/Cryogenics/ActiveCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Content.Shared/Nutrition/Components/FlavorProfileComponent.cs
  Content.Shared/Nutrition/Components/FoodComponent.cs
  Content.Shared/Nutrition/Components/IngestionBlockerComponent.cs
  Content.Shared/Nutrition/Components/UtensilComponent.cs
  Content.Shared/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Shared/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/Nutrition/EntitySystems/IngestionBlockerSystem.cs
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedDrinkSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedUtensilSystem.cs
  Content.Shared/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Shared/Storage/Components/MagnetPickupComponent.cs
  Content.Shared/Storage/EntitySystems/MagnetPickupSystem.cs
Labels: Changes: UI, S: Untriaged, size/M

#37943 Allow cargo request computers to send orders to the primary account
  Content.Client/Cargo/UI/CargoConsoleMenu.xaml.cs
  Content.Client/Cargo/UI/CargoOrderRow.xaml.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Shared/Cargo/Components/CargoOrderConsoleComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: UI, S: Needs Review, S: Untriaged, size/M

#38181 Cleanup unused fields in `DrinkSystem`
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
Labels: P3: Standard, T: Cleanup, DB: Beginner Friendly, size/XS

#38185 Revert tile aligned barsigns
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/migration.yml
Labels: Changes: No C#, S: Needs Review, Branch: Staging, size/M

#37279 New Recipes: Breakfasts
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_breakfast.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/breakfast.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/breakfast.rsi/fullamerican.png
  Resources/Textures/Objects/Consumable/Food/breakfast.rsi/fullenglish.png
  Resources/Textures/Objects/Consumable/Food/breakfast.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: Service, size/M, S: Art Approval

#38193 Typo fix in coffin description
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
Labels: Changes: No C#, S: Approved

#38192 Stable master merge yippe among us print
  Resources/Changelog/Changelog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/plastic.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/migration.yml
Labels: Changes: No C#, size/M

#38196 Bring back low pressure damage to its unnerfed value
  Content.Shared/Atmos/Atmospherics.cs
Labels: S: Untriaged, size/XS

#38093 Remade the AI Camera Static Shader
  Resources/Textures/Shaders/camera_static.swsl
Labels: Changes: No C#, S: Untriaged, S: Approved, Changes: Shaders, size/S

#38209 stop amber AI core from inducing seizures
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#38212 HOTFIX: Stop AI turrets from causing flickering lights
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_base.yml
Labels: Changes: No C#, Intent: Hotfix, Branch: Stable, P0: Critical

#38222 cleanup mirror.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/mirror.yml
Labels: Changes: No C#, S: Untriaged

#38229 Cleanup `ChameleonJobLoadoutTest`
  Content.IntegrationTests/Tests/Chameleon/ChameleonJobLoadoutTest.cs
Labels: P3: Standard, T: Cleanup, D3: Low, A: Integration Tests, size/S

#38214 Fix construction menu grid view quirky button selection
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: General Interactions, size/S

#38157 Add technology to tech disk names
  Content.Shared/Research/TechnologyDisk/Systems/TechnologyDiskSystem.cs
  Resources/Locale/en-US/research/components/technology-disk.ftl
Labels: S: Untriaged, S: Approved, size/S

#38250 Forbid string literals for `SharedToolSystem` methods
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Mech/Systems/MechSystem.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Server/Wires/WiresSystem.cs
  Content.Shared/Tools/Systems/SharedToolSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, size/S

#38252 Fix mops, rags, and towels interacting with drains
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, S: Approved, A: General Interactions, size/S

#38219 Makes the grenadine bottle start closed.
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_bottles.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38263 Cleanup 2 `SpriteComponent.GetPrototypeTextures` uses
  Content.Client/Mapping/MappingState.cs
  Content.IntegrationTests/Tests/DummyIconTest.cs
Labels: P3: Standard, T: Cleanup, D3: Low, size/XS

#38083 Add the instrument names to the MIDI channel selector
  Content.Client/Instruments/InstrumentSystem.MidiParsing.cs
  Content.Client/Instruments/InstrumentSystem.cs
  Content.Client/Instruments/MidiParser/MidiInstrument.cs
  Content.Client/Instruments/MidiParser/MidiParser.cs
  Content.Client/Instruments/MidiParser/MidiStreamWrapper.cs
  Content.Client/Instruments/UI/ChannelsMenu.xaml
  Content.Client/Instruments/UI/ChannelsMenu.xaml.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Server/Instruments/InstrumentSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/CCVar/CCVars.Midi.cs
  Content.Shared/Instruments/SharedInstrumentComponent.cs
  Resources/Locale/en-US/instruments/instruments-component.ftl
Labels: P3: Standard, Changes: UI, S: Needs Review, T: UI / UX Improvement, S: Approved, size/M, A: MIDI

#37709 Magazine rsi Cleanup + Magazine Type Recolor
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/rifle.yml
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_pistol_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/CaselessRifle/caseless_rifle_mag_short.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/LightRifle/light_rifle_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/piercing.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Magnum/magnum_smg_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/piercing.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_high_capacity_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/piercing.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/pistol_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Pistol/smg_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/stripe.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/uranium.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, S: Approved, size/M, S: Art Approval

#38089 Basilisk Nerfs for Gameplay
  Resources/Prototypes/Entities/Mobs/NPCs/asteroid.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#35645 scar availability for more species
  Resources/Locale/en-US/markings/scars.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/scars.yml
  Resources/Textures/Mobs/Customization/scars.rsi/meta.json
  Resources/Textures/Mobs/Customization/scars.rsi/scar_eye_left_small.png
  Resources/Textures/Mobs/Customization/scars.rsi/scar_eye_right_small.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Undergoing Discussion, A: Character/Species, size/S, S: Art Approval

#38269 Minor Relic improvements
  Resources/Maps/Shuttles/arrivals_relic.yml
  Resources/Maps/relic.yml
  Resources/Prototypes/Maps/relic.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/L

#38260 Add propeller hat & swirl lollipop
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_snacks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/icon-on.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/icon.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/meta.json
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/off-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hats/propellerhat.rsi/on-equipped-HELMET.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/candy.rsi/swirl_lollipop.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/M, S: Art Approval

#38244 Fix some popup issues with pipe layer changes
  Content.Server/Atmos/EntitySystems/AtmosPipeLayersSystem.cs
  Content.Shared/Atmos/EntitySystems/SharedAtmosPipeLayersSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#38275 Make BODAs start with Russian accent.
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#38288 fix: Correct respath for lizard smite icon
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#38286 Use correct on-head rainbow lizard plushie sprite
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
  Resources/Textures/Objects/Fun/Plushies/lizard.rsi/meta.json
  Resources/Textures/Objects/Fun/Plushies/lizard.rsi/rainbowlizardplush-equipped-HELMET.png
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, size/S

#38297 Prediction for use of utensil on incompatible food
  Content.Shared/Nutrition/EntitySystems/UtensilSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#36440 Transparent tear gas
  Resources/Prototypes/Entities/Effects/chemistry_effects.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Textures/Effects/chemsmoke.rsi/chemsmoke_white.png
  Resources/Textures/Effects/chemsmoke.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D2: Medium, Changes: Sprites, S: Needs Review, T: Balance Change, S: Approved, A: Combat, A: Security, size/S

#37660 Added monkey/kobold emergency EVA sprites & the ability for them to wear them.
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/equipped-OUTERCLOTHING-monkey.png
  Resources/Textures/Clothing/OuterClothing/Suits/eva_emergency.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, size/S, S: Art Approval

#38259 Elkridge - Major Update
  Resources/Maps/Shuttles/emergency_elkridge.yml
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XL

#38128 Zombies won't attack Initial Infected
  Content.Server/Zombies/ZombieSystem.cs
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#38283 Added warden's uniforms to their dresser.
  Resources/Prototypes/Catalog/Fills/Lockers/dressers.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Approved, A: Security, size/XS

#37951 Add corgium
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Locale/en-US/reagents/meta/fun.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Polymorphs/polymorph.yml
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: Changes: No C#, S: Approved, S: Undergoing Discussion, size/S, S: Conceptual Approval

#36659 Fix for holoparasite's ability to attack the host through containers
  Content.Server/Guardian/GuardianSystem.cs
  Content.Shared/Guardian/GuardianCreatorDoAfterEvent.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.Relay.cs
  Content.Shared/Mech/EntitySystems/SharedMechSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, S: Approved, A: Roundflow/Antag, size/S

#38150 Retractable items + Arm Blade
  Content.Server/Glue/GlueSystem.cs
  Content.Shared/Containers/ItemSlot/ItemSlotsSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/RetractableItemAction/ActionRetractableItemComponent.cs
  Content.Shared/RetractableItemAction/ItemActionEvents.cs
  Content.Shared/RetractableItemAction/RetractableItemActionComponent.cs
  Content.Shared/RetractableItemAction/RetractableItemActionSystem.cs
  Resources/Locale/en-US/retractable-item-action/retractable-item-action.ftl
  Resources/Prototypes/Actions/changeling.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/armblade.yml
  Resources/Textures/Interface/Actions/changeling.rsi/armblade.png
  Resources/Textures/Interface/Actions/changeling.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, S: Approved, size/M, S: Art Approval

#37466 Ensure large entities don't get stuck on conveyor belt corners
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/S

#34765 Randomized Markings
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: Character/Species, size/M

#37267 Add hints towards flash protection to all items which provide it
  Content.Server/Flash/FlashSystem.cs
  Resources/Locale/en-US/flash/components/flash-immunity-component.ftl
Labels: P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, A: General Interactions, size/XS

#38349 Fix Smart Corgis not being targeted by hostile faction entities
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, T: Balance Change, S: Approved, A: Character/Species

#38294 Gun Inhand Sprite Fixes
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_pistol.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/pulse_pistol.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/LMGs/l6.rsi/wielded-inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/cobra.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/mk58.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/viper.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/viper.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Pistols/viper.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/c20r.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/wt550.rsi/meta.json
Labels: P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, DB: Beginner Friendly, A: Art, T: Visual Change, S: Art Approval

#38046 predicted hyposprays
  Content.Client/Chemistry/EntitySystems/HyposprayStatusControlSystem.cs
  Content.Shared/Chemistry/Components/HyposprayComponent.cs
  Content.Shared/Chemistry/EntitySystems/HypospraySystem.cs
  Content.Shared/Chemistry/EntitySystems/SharedHypospraySystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/M

#38331 fix: no longer accidentally rotate held items
  Content.Client/UserInterface/Systems/Storage/StorageUIController.cs
Labels: P3: Standard, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/XS

#38358 Fix SharedActionSystem spamming errors
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: T: Bugfix, D2: Medium, S: Needs Review, Intent: Hotfix, Branch: Stable, A: General Interactions, P0: Critical, size/XS

#38377 Fix adjacent north/south cable terminals breaking east/west HV cable
  Content.Server/Power/Nodes/CableNode.cs
Labels: S: Untriaged, size/XS

#38372 Fix some crafting menu oddities
  Resources/Locale/en-US/stack/stacks.ftl
  Resources/Prototypes/Recipes/Construction/Graphs/tools/logic_gate.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/APC.yml
  Resources/Prototypes/Stacks/floor_tile_stacks.yml
Labels: Changes: No C#, S: Untriaged, size/S

#38378 Command resolve and LEC conversion batch 3
  Content.Server/GameTicking/Commands/ForceMapCommand.cs
  Content.Server/GameTicking/Commands/ForcePresetCommand.cs
  Content.Server/GameTicking/Commands/GoLobbyCommand.cs
  Content.Server/GhostKick/GhostKickManager.cs
  Content.Server/Interaction/TilePryCommand.cs
  Content.Server/Mapping/MappingCommand.cs
  Content.Server/Maps/GridDraggingCommand.cs
  Content.Server/Mind/Commands/MindInfoCommand.cs
  Resources/Locale/en-US/commands/force-map-command.ftl
  Resources/Locale/en-US/commands/force-preset-command.ftl
  Resources/Locale/en-US/commands/ghost-kick-command.ftl
  Resources/Locale/en-US/commands/go-lobby-command.ftl
  Resources/Locale/en-US/commands/grid-drag-command.ftl
  Resources/Locale/en-US/commands/mind-info-command.ftl
  Resources/Locale/en-US/commands/tile-pry-command.ftl
  Resources/Locale/en-US/game-ticking/forcemap-command.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#38049 remove explosions from destroying a explosive payload
  Resources/Prototypes/Entities/Objects/Devices/payload.yml
Labels: Changes: No C#, S: Approved, size/XS

#38332 Thief objectives now verify animal stealing objectives if they actually exist
  Resources/Prototypes/Objectives/thief.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Approved, A: Roundflow/Antag, size/XS

#38400 Switch Discord integration to use NetCord instead of Discord.Net
  Content.Packaging/ServerPackaging.cs
  Content.Server/Content.Server.csproj
  Content.Server/Discord/DiscordLink/DiscordChatLink.cs
  Content.Server/Discord/DiscordLink/DiscordLink.cs
  Content.Server/Discord/DiscordLink/DiscordSawmillLogger.cs
  Directory.Packages.props
Labels: P1: High, T: Refactor, S: Needs Review, S: Approved, A: Core Tech, size/M

#38398 Command resolve mega pr 6
  Content.Server/Administration/Commands/AdminWhoCommand.cs
  Content.Server/Administration/Commands/AnnounceUiCommand.cs
  Content.Server/Administration/Commands/DeAdminCommand.cs
  Content.Server/Administration/Commands/DeleteComponent.cs
  Content.Server/Administration/Commands/ExplosionCommand.cs
  Content.Server/Administration/Commands/FaxUiCommand.cs
  Content.Server/Administration/Commands/LoadGameMapCommand.cs
  Content.Server/Administration/Commands/OpenAdminLogsCommand.cs
  Content.Server/Administration/Commands/OpenPermissionsCommand.cs
  Content.Server/Administration/Commands/PardonCommand.cs
  Resources/Locale/en-US/administration/ui/admin-announce-window.ftl
  Resources/Locale/en-US/administration/ui/admin-spawn-explosion-eui.ftl
  Resources/Locale/en-US/administration/ui/permissions-eui.ftl
  Resources/Locale/en-US/commands/admin-logs-command.ftl
  Resources/Locale/en-US/commands/admin-who-command.ftl
  Resources/Locale/en-US/commands/deadmin-command.ftl
  Resources/Locale/en-US/commands/delete-component-command.ftl
  Resources/Locale/en-US/commands/map-commands.ftl
  Resources/Locale/en-US/commands/pardon-command.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#38367 Command resolve killing and LEC conversions batch 2
  Content.Server/Movement/LockEyesCommand.cs
  Content.Server/Movement/RotateEyesCommand.cs
  Content.Server/NPC/Commands/NPCCommand.cs
  Content.Server/Power/SetBatteryPercentCommand.cs
  Content.Server/Radiation/Systems/RadiationSystem.Debug.cs
  Content.Server/Roles/AddRoleCommand.cs
  Content.Server/Roles/ListRolesCommand.cs
  Content.Server/Roles/RemoveRoleCommand.cs
  Content.Server/Singularity/StartSingularityEngineCommand.cs
  Resources/Locale/en-US/commands/eye-commands.ftl
  Resources/Locale/en-US/commands/npc-command.ftl
  Resources/Locale/en-US/commands/radiation-command.ftl
  Resources/Locale/en-US/commands/role-commands.ftl
  Resources/Locale/en-US/commands/set-battery-percent-command.ftl
  Resources/Locale/en-US/commands/start-singularity-command.ftl
  Resources/Locale/en-US/movement/eye.ftl
  Resources/Locale/en-US/radiation/radiation-command.ftl
  Resources/Locale/en-US/shell.ftl
Labels: P3: Standard, T: Cleanup, A: Admin Tooling, size/M

#38409 fix polymorph errors
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Resources/Prototypes/Polymorphs/polymorph.yml
Labels: S: Untriaged, size/XS

#38389 Command resolve mega pr batch 5
  Content.Server/Administration/Commands/PromoteHostCommand.cs
  Content.Server/Administration/Commands/ReAdminCommand.cs
  Content.Server/Administration/Commands/RemoveExtraComponents.cs
  Content.Server/Administration/Commands/RoleUnbanCommand.cs
  Content.Server/Administration/Commands/SetAdminOOC.cs
  Content.Server/Administration/Commands/SetMindCommand.cs
  Content.Server/Administration/Commands/ShuttleCommands.cs
  Content.Server/Afk/IsAfkCommand.cs
  Content.Server/Body/Commands/DestroyMechanismCommand.cs
  Resources/Locale/en-US/administration/commands/call-shuttle-command.ftl
  Resources/Locale/en-US/administration/commands/set-admin-ooc-command.ftl
  Resources/Locale/en-US/administration/commands/set-mind-command.ftl
  Resources/Locale/en-US/commands/destroy-mechanism-command.ftl
  Resources/Locale/en-US/commands/is-afk-command.ftl
  Resources/Locale/en-US/commands/promote-host-command.ftl
  Resources/Locale/en-US/commands/readmin-command.ftl
  Resources/Locale/en-US/commands/remove-extra-components-command.ftl
  Resources/Locale/en-US/job/role-ban-command.ftl
  Resources/Locale/en-US/shell.ftl
Labels: P3: Standard, T: Cleanup, S: Needs Review, A: Admin Tooling, size/M

#38403 Convert `AtmosphereSystem` sound path strings to `SoundSpecifier`s
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Resources/Prototypes/SoundCollections/atmospherics.yml
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, size/S

#37817 fix: deglitchify drowsiness effect on macOS
  Resources/Textures/Shaders/radial_blur.swsl
Labels: Changes: No C#, S: Needs Review, Changes: Shaders, size/S

#38415 Command resolves
  Content.Server/Radiation/Systems/RadiationSystem.Debug.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/Voting/VoteCommands.cs
Labels: S: Untriaged, size/S

#38199 show reflection prob on examine
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
  Resources/Locale/en-US/reflect/reflect-component.ftl
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#38423 Fixed vapes unintentionally dealing all burn damage types
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#38405 Cleanup static `Logger` use in `ChatBox`
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
Labels: P3: Standard, Changes: UI, T: Cleanup, D3: Low, S: Approved, size/XS

#38391 Relocate SetOutfit method to ServerClothingSystem and LEC setoutfit command.
  Content.Server/Administration/Commands/SetOutfitCommand.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Clothing/Systems/OutfitSystem.cs
  Content.Server/Cluwne/CluwneSystem.cs
  Content.Server/GameTicking/Rules/DeathMatchRuleSystem.cs
  Resources/Locale/en-US/administration/commands/set-outfit-command.ftl
Labels: P3: Standard, T: Cleanup, S: Needs Review, A: Admin Tooling, A: Core Tech, size/M

#38382 Command resolves and LEC conversions batch 4
  Content.Server/Chat/Commands/AdminChatCommand.cs
  Content.Server/Chat/Commands/MeCommand.cs
  Content.Server/Chat/Commands/OOCCommand.cs
  Content.Server/Chat/Commands/SayCommand.cs
  Content.Server/Chat/Commands/SetLOOCCommand.cs
  Content.Server/Chat/Commands/SetOOCCommand.cs
  Content.Server/Chat/Commands/WhisperCommand.cs
  Content.Server/EntityList/SpawnEntityListCommand.cs
  Content.Server/GameTicking/Commands/ToggleDisallowLateJoinCommand.cs
  Resources/Locale/en-US/administration/commands/set-looc-command.ftl
  Resources/Locale/en-US/administration/commands/set-ooc-command.ftl
  Resources/Locale/en-US/commands/asay-command.ftl
  Resources/Locale/en-US/commands/me-command.ftl
  Resources/Locale/en-US/commands/ooc-command.ftl
  Resources/Locale/en-US/commands/say-command.ftl
  Resources/Locale/en-US/commands/spawn-entity-list-command.ftl
  Resources/Locale/en-US/commands/toggle-disallow-late-join-command.ftl
  Resources/Locale/en-US/commands/whisper-command.ftl
Labels: P3: Standard, T: Cleanup, S: Needs Review, A: Admin Tooling, size/M, I triaged the issue properly

#36483 Playtime Reminders - Raising awareness of addiction by highlighting excessive playtime
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/Playtime/ClientsidePlaytimeTrackingManager.cs
  Content.Shared/CCVar/CCVars.Misc.cs
  Resources/Locale/en-US/lobby/lobby-state.ftl
Labels: P2: Raised, T: New Feature, Changes: UI, D3: Low, S: Needs Review, S: Undergoing Discussion, A: Core Tech, size/M

#38435 Exo - Minor balance changes and fixes
  Resources/Maps/Shuttles/emergency_exo.yml
  Resources/Maps/exo.yml
  Resources/Prototypes/Entities/Structures/Shuttles/cannons.yml
  Resources/Prototypes/Maps/exo.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/L

#38432 Add advertised reagents to puddles
  Resources/Prototypes/Entities/Effects/puddle.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved

#38443 Give APCs wirepanels
  Resources/Prototypes/Entities/Structures/Power/apc.yml
  Resources/Prototypes/Wires/layouts.yml
Labels: Changes: No C#, S: Untriaged

#38447 Revert "Add stamina damage resists to the bloodred raid/hard-suits (and ERT hardsuits). [TEST MERGE]"
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, size/S

#38454 Fix the tail wagging action being blocked by cuffs.
  Resources/Prototypes/Actions/types.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38463 fix: trim five minutes of silence from bottle_clunk_2
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/bottle_clunk.ogg
  Resources/Audio/Items/bottle_clunk_2.ogg
Labels: Changes: No C#, Changes: Audio, size/XS

#38470 Update patrons
  Resources/Credits/Patrons.yml
Labels: P3: Standard, Changes: No C#, S: Approved, size/L, I triaged the issue properly

#38472 Forbid string literals for `SharedActionsSystem` methods
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/XS

#38439 Chameleon Controller Implants can be deimplanted
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Approved, A: Security

#38473 Cleanup duplicate dependency in `AdminVerbSystem.Smites`
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: P3: Standard, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, size/XS

#38458 fix: set correct layer visibility for power cell sprites
  Content.Client/PowerCell/PowerCellSystem.cs
Labels: S: Untriaged, size/S

#38456 Remove Icon Smoothing for Airlocks, Doors, and Plastic Flaps, and Shutters from Walls
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S, S: Art Approval

#38218 Scurrets
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/traitor_wawa.ogg
  Resources/Audio/Animals/attributions.yml
  Resources/Audio/Animals/wawa_achoo.ogg
  Resources/Audio/Animals/wawa_chatter.ogg
  Resources/Audio/Animals/wawa_chillin.ogg
  Resources/Audio/Animals/wawa_depression.ogg
  Resources/Audio/Animals/wawa_exclaim.ogg
  Resources/Audio/Animals/wawa_mock.ogg
  Resources/Audio/Animals/wawa_protest.ogg
  Resources/Audio/Animals/wawa_question.ogg
  Resources/Audio/Animals/wawa_statement.ogg
  Resources/Locale/en-US/chat/managers/chat-manager.ftl
  Resources/Locale/en-US/datasets/names/scurret_first.ftl
  Resources/Locale/en-US/datasets/names/scurret_last.ftl
  Resources/Locale/en-US/scurret copy/role.ftl
  Resources/Prototypes/Accents/full_replacements.yml
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Datasets/Names/scurret.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/posters.yml
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
  Resources/Prototypes/InventoryTemplates/scurret_inventory_template.yml
  Resources/Prototypes/Palettes/critters.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/SoundCollections/scurret.yml
  Resources/Prototypes/Voice/speech_emote_sounds.yml
  Resources/Prototypes/Voice/speech_sounds.yml
  Resources/Prototypes/Voice/speech_verbs.yml
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/ears.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/eyes.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/gloves.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/hand.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/head.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/id.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/jumpsuit.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/mask.png
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/meta.json
  Resources/Textures/Mobs/Animals/scurret/displacement.rsi/neck.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/meta.json
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret_oof.png
  Resources/Textures/Mobs/Animals/scurret/scurret.rsi/scurret_rip.png
  Resources/Textures/Structures/Wallmounts/posters.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/posters.rsi/poster55_legit.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Service, Changes: Audio, size/M, S: Conceptual Approval, S: Art Approval

#38431 Fail if we attempt to run publish on master
  .github/workflows/publish.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38261 Fix styling for Admin Menu lists
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Administration/UI/Tabs/PlayerTab/PlayerTab.xaml.cs
Labels: P1: High, Changes: UI, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, A: Admin Tooling, size/XS

#38452 Add interaction test for retractable arm blade
  Content.IntegrationTests/Tests/Actions/RetractableItemActionTest.cs
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, A: Integration Tests, S: Approved, A: Roundflow/Antag, size/S

#38184 Make gas tank UI a bit more network-happy
  Content.Client/UserInterface/Systems/Atmos/GasTank/GasTankWindow.cs
  Content.Shared/Atmos/Components/GasTankComponent.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTankSystem.cs
Labels: S: Untriaged, size/XS

#35262 allow to publish news without ui
  Content.Server/MassMedia/Systems/NewsSystem.cs
Labels: P3: Standard, T: Refactor, D3: Low, S: Needs Review, A: Service, size/S

#38475 add some documentation for visiting entity
  Content.Shared/Mind/MindComponent.cs
Labels: S: Untriaged, size/XS

#38477 Fix compile
  Content.Server/MassMedia/Systems/NewsSystem.cs
Labels: S: Untriaged, size/XS

#38111 Fix wallmount interaction
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: D1: High, S: Approved, A: General Interactions, size/S

#38032 Flask Visual Overhaul & YML Organizing
  Resources/Audio/Items/attributions.yml
  Resources/Audio/Items/flask_close1.ogg
  Resources/Audio/Items/flask_open1.ogg
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_flasks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/SoundCollections/drink_close_sounds.yml
  Resources/Prototypes/SoundCollections/drink_open_sounds.yml
  Resources/Textures/Objects/Consumable/Drinks/barflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/barflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/detflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/flask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/flask_old.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/hosflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/lithiumflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/mreflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shinyflask.rsi/meta.json
  Resources/Textures/Objects/Consumable/Drinks/vacuumflask.rsi/icon_open.png
  Resources/Textures/Objects/Consumable/Drinks/vacuumflask.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, Changes: Audio, size/M, S: Art Approval

#37939 Kills TurfHelpers
  Content.Client/Mapping/MappingState.cs
  Content.Server/Abilities/Mime/MimePowersSystem.cs
  Content.Server/Administration/Commands/VariantizeCommand.cs
  Content.Server/Chemistry/TileReactions/CreateEntityTileReaction.cs
  Content.Server/Construction/Conditions/ComponentInTile.cs
  Content.Server/Decals/Commands/AddDecalCommand.cs
  Content.Server/Decals/DecalSystem.cs
  Content.Server/Dragon/DragonSystem.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/Explosion/EntitySystems/SmokeOnTriggerSystem.cs
  Content.Server/Fluids/EntitySystems/PuddleSystem.cs
  Content.Server/Nuke/NukeSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.Exterior.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.cs
  Content.Server/Procedural/DungeonSystem.cs
  Content.Server/Respawn/SpecialRespawnSystem.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
  Content.Server/Spider/SpiderSystem.cs
  Content.Server/Spreader/SpreaderSystem.cs
  Content.Server/Worldgen/Systems/Debris/SimpleFloorPlanPopulatorSystem.cs
  Content.Shared/Abilities/Goliath/GoliathTentacleSystem.cs
  Content.Shared/Blocking/BlockingSystem.cs
  Content.Shared/Construction/Conditions/TileNotBlocked.cs
  Content.Shared/Construction/Conditions/TileType.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
  Content.Shared/Maps/TurfSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
  Content.Shared/Sound/SharedEmitSoundSystem.cs
  Content.Shared/Tiles/FloorTileSystem.cs
Labels: P3: Standard, T: Refactor, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Core Tech, A: General Interactions, size/M

#38385 Allow Maintainers to use customvote command
  Content.Server/Voting/VoteCommands.cs
Labels: P3: Standard, D3: Low, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/XS

#37952 Make role ban pannel pretty
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml
  Content.Client/Administration/UI/BanPanel/BanPanel.xaml.cs
  Resources/Locale/en-US/administration/ui/role-bans.ftl
Labels: P2: Raised, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/M

#38488 Fix styles for group button in loadout menu
  Content.Client/Lobby/UI/Loadouts/LoadoutGroupContainer.xaml.cs
  Resources/Locale/en-US/preferences/loadouts.ftl
Labels: T: Bugfix, P3: Standard, Changes: UI, S: Needs Review, size/S

#38486 fix: mops with liquid can hit people again
  Content.Server/Fluids/EntitySystems/PuddleSystem.Spillable.cs
  Content.Shared/Fluids/Components/SpillableComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/janitor.yml
Labels: T: Bugfix, A: General Interactions, size/S

#38441 Retractable items get removed by handcuffs
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Relay.cs
  Content.Shared/RetractableItemAction/RetractableItemActionSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#38500 Fixed dirt tiles having identical names
  Resources/Locale/en-US/tiles/tiles.ftl
  Resources/Prototypes/Tiles/planet.yml
Labels: T: Bugfix, Changes: No C#, A: Mapping, size/XS

#38206 Allow admins to export round logs to CSV files
  Content.Client/Administration/UI/Logs/AdminLogsControl.xaml
  Content.Client/Administration/UI/Logs/AdminLogsEui.cs
  Resources/Locale/en-US/administration/ui/admin-logs.ftl
Labels: P2: Raised, T: New Feature, Changes: UI, D3: Low, S: Needs Review, A: Admin Tooling, T: Of Admin Interest, size/S

#38509 Staff of Healing for Pacifists
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/staves.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#38519 Command resolves.
  Content.Server/Administration/Commands/BanListCommand.cs
  Content.Server/Administration/Commands/OpenAdminNotesCommand.cs
  Content.Server/Administration/Commands/StealthminCommand.cs
  Content.Server/AlertLevel/Commands/SetAlertLevelCommand.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/Whitelist/WhitelistCommands.cs
  Resources/Locale/en-US/administration/commands/stealthmin-command.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#38518 Emotional Support Scurret locstrings
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#38133 Content fix for `LocalizedCommands` `Loc` change
  Content.Server/Administration/Commands/PanicBunkerCommand.cs
Labels: P3: Standard, T: Cleanup, S: Needs Review, size/S

#37640 Predict Flashes
  Content.Client/Flash/FlashSystem.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Server/Flash/Components/DamagedByFlashingComponent.cs
  Content.Server/Flash/Components/FlashImmunityComponent.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/GameTicking/Rules/RevolutionaryRuleSystem.cs
  Content.Shared/EntityEffects/Effects/FlashReactionEffect.cs
  Content.Shared/Flash/Components/ActiveFlashComponent.cs
  Content.Shared/Flash/Components/DamagedByFlashingComponent.cs
  Content.Shared/Flash/Components/FlashComponent.cs
  Content.Shared/Flash/Components/FlashImmunityComponent.cs
  Content.Shared/Flash/Components/FlashOnTriggerComponent.cs
  Content.Shared/Flash/Components/FlashedComponent.cs
  Content.Shared/Flash/DamagedByFlashingSystem.cs
  Content.Shared/Flash/FlashEvents.cs
  Content.Shared/Flash/FlashVisuals.cs
  Content.Shared/Flash/SharedFlashSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Light/SharedHandheldLightSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
  Resources/Prototypes/Entities/Objects/Tools/lantern.yml
  Resources/Prototypes/Entities/Objects/Weapons/security.yml
Labels: P2: Raised, T: Refactor, D2: Medium, S: Approved, size/M

#38536 Remove excess `SingularityLevelChangedEvent` subscriptions
  Content.Shared/Singularity/EntitySystems/SharedSingularitySystem.cs
Labels: P3: Standard, T: Performance, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/S
