Repository space-wizards/space-station-14, pull requests merged in 2025-04, with the labels that each got.

#36241 Add prediction to electric grills
  Content.Client/Temperature/Systems/EntityHeaterSystem.cs
  Content.Server/Temperature/Systems/EntityHeaterSystem.cs
  Content.Shared/Temperature/Components/EntityHeaterComponent.cs
  Content.Shared/Temperature/Systems/SharedEntityHeaterSystem.cs
Labels: S: Needs Review, S: Untriaged, size/M

#36246 [April fools] Remove drunkenness/damage from Very Bad Day gamemode
  Content.Server/StationEvents/Events/VeryBadDayRule.cs
Labels: S: Untriaged, size/XS

#36249 Move medical locker fills to entityTables
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
Labels: Changes: No C#, S: Approved

#36197 Rotation warnings cleanup
  Content.Client/Rotation/RotationVisualizerSystem.cs
  Content.Server/Rotatable/RotatableSystem.cs
Labels: P3: Standard, T: Cleanup, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#35191 New food recipe: World Peazza
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pizza.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/worldpeas-slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/pizza.rsi/worldpeas.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Service, size/S, S: Art Approval

#36221 Fix KeyNotFoundException that sometimes happens on server shutdown
  Content.Server/Mind/MindSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: Core Tech, size/XS

#36253 Fix "other player points at you" message formatting
  Resources/Locale/en-US/entity-systems/pointing/pointing-system.ftl
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, A: General Interactions, size/XS

#36256 Light replacer description typo fix
  Resources/Prototypes/Entities/Objects/Tools/light_replacer.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#36255 fix: re-add missing RCD deconstruct action #36243
  Resources/Prototypes/RCD/rcd.yml
Labels: T: Bugfix, P1: High, Changes: No C#, DB: Beginner Friendly, A: Engineering, size/S

#36216 add: Dragon rift color changes based on charge
  Content.Server/Dragon/DragonRiftSystem.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Approved, A: Roundflow/Antag, size/S

#36263 Convert AgentIDCard message to use a Fluent selector
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Resources/Locale/en-US/access/components/agent-id-card-component.ftl
Labels: P3: Standard, T: Cleanup, D3: Low, size/S, A: Localization

#36189 NPC Warnings cleanup
  Content.Server/NPC/HTN/PrimitiveTasks/Operators/MoveToOperator.cs
  Content.Server/NPC/Pathfinding/PathfindingSystem.Grid.cs
  Content.Server/NPC/Systems/NPCSteeringSystem.cs
Labels: P3: Standard, T: Cleanup, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#36268 Fix entities burning to ash not using identity, and bad formatting
  Content.Server/Destructible/Thresholds/Behaviors/BurnBodyBehavior.cs
  Resources/Locale/en-US/burning/bodyburn.ftl
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, A: General Interactions, size/XS

#36266 Localize air alarm states
  Content.Client/Atmos/Monitor/UI/AirAlarmWindow.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
Labels: T: Bugfix, P3: Standard, Changes: UI, D3: Low, size/S, A: Localization

#36269 Fix a few loc bugs with magic mirror/scissors
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Resources/Locale/en-US/character-appearance/components/magic-mirror-component.ftl
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, A: General Interactions, size/S

#36234 Add autocomplete to controlmob
  Content.Server/Administration/Commands/ControlMob.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#36212 Diphenhydramine causes drowsiness
  Resources/Locale/en-US/reagents/meta/medicine.ftl
  Resources/Prototypes/Reagents/medicine.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Medical, size/XS, S: Conceptual Approval

#35863 Improve sprite fading behaviour
  Content.Client/Clickable/ClickableSystem.cs
  Content.Client/Gameplay/GameplayStateBase.cs
  Content.Client/Sprite/SpriteFadeSystem.cs
  Content.IntegrationTests/Tests/ClickableTest.cs
Labels: P2: Raised, T: New Feature, D2: Medium, Changes: Sprites, S: Needs Review, A: Accessibility, S: Approved, size/M

#33721 Recipes for curtains and tables using carpets now respect stacks.
  Resources/Prototypes/Entities/Objects/Misc/carpets.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/curtains.yml
  Resources/Prototypes/Recipes/Construction/Graphs/furniture/tables.yml
  Resources/Prototypes/tags.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#36261 Stop ghosts from being logged to Airlocks
  Content.Shared/Access/Systems/AccessReaderSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/tags.yml
Labels: T: Bugfix, P1: High, S: Needs Review, S: Approved, A: Admin Tooling, size/S

#36285 Fix loc issues with syringes
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, A: General Interactions, size/S

#36283 [Hotfix] Change ID card console admin log severity to Medium
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
Labels: S: Untriaged, Branch: Stable, size/XS

#36291 Stable merge
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
Labels: S: Untriaged, size/XS

#36284 Fix loc issues with suicide popup
  Content.Server/Chat/SuicideSystem.cs
  Resources/Locale/en-US/chat/commands/suicide-command.ftl
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, A: General Interactions, size/XS

#34566 Add PKA and PTK-800 shuttle gun recipes to sec techfab
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Security, size/S

#34580 Mob collisions
  Content.Client/Buckle/BuckleSystem.cs
  Content.Client/Movement/Systems/MobCollisionSystem.cs
  Content.Client/Physics/Controllers/MoverController.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.Server/Movement/Commands/ToggleMobCollisionCommand.cs
  Content.Server/Movement/Systems/MobCollisionSystem.cs
  Content.Shared/CCVar/CCVars.Movement.cs
  Content.Shared/CCVar/CCVars.Physics.cs
  Content.Shared/Movement/Components/MobCollisionComponent.cs
  Content.Shared/Movement/Systems/SharedMobCollisionSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.Relay.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: P3: Standard, T: New Feature, Changes: Map, D2: Medium, S: Needs Review, A: General Interactions, size/M

#36296 Mob collision tweaks
  Content.Server/Movement/Commands/ToggleMobCollisionCommand.cs
  Content.Shared/CCVar/CCVars.Movement.cs
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: S: Untriaged, size/S

#36294 Rotate Adv Mineral Scanner in Inventory
  Resources/Prototypes/Entities/Objects/Specific/Salvage/scanner.yml
Labels: Changes: No C#

#36299 Fix ninjas not being able to hack criminal records
  Content.Server/CriminalRecords/Systems/CriminalRecordsHackerSystem.cs
Labels: S: Untriaged, size/XS

#36297 Remove embed mispredict
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: S: Untriaged, size/XS

#36276 Antagonist roles now require 1h playtime.
  Resources/Prototypes/Roles/Antags/revolutionary.yml
  Resources/Prototypes/Roles/Antags/thief.yml
  Resources/Prototypes/Roles/Antags/traitor.yml
  Resources/Prototypes/Roles/Antags/zombie.yml
Labels: P2: Raised, Changes: No C#, D3: Low, T: Balance Change, S: Undergoing Maintainer Discussion, A: Roundflow/Antag, T: Of Admin Interest, size/S

#36305 Extracts magic strings from Tag calls
  Content.Client/Verbs/VerbSystem.cs
  Content.IntegrationTests/Tests/Commands/SuicideCommandTests.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Chat/SuicideSystem.cs
  Content.Server/Chemistry/EntitySystems/SolutionInjectOnEventSystem.cs
  Content.Server/Construction/Commands/FixRotationsCommand.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Flash/FlashSystem.cs
  Content.Server/Forensics/Systems/ForensicScannerSystem.cs
  Content.Server/GameTicking/Rules/SurvivorRuleSystem.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Light/EntitySystems/ExpendableLightSystem.cs
  Content.Server/Magic/MagicSystem.cs
  Content.Server/MagicMirror/MagicMirrorSystem.cs
  Content.Server/Nutrition/EntitySystems/TrashOnSolutionEmptySystem.cs
  Content.Server/Payload/EntitySystems/PayloadSystem.cs
  Content.Server/Procedural/DungeonJob/DungeonJob.PostGen.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Tools/Innate/InnateToolSystem.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Construction/Conditions/NoWindowsInTile.cs
  Content.Shared/Construction/Conditions/WallmountCondition.cs
  Content.Shared/Delivery/SharedDeliverySystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Drop.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Paper/PaperSystem.cs
  Content.Shared/RCD/Systems/RCDSystem.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/M

#36082 Fix shutter construction ghost rotation
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#36280 Add 10u of plasma to SyndieJuice
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
Labels: Changes: No C#, S: Approved, size/XS

#36318 Typo fix in Syndicate agent locale resources
  Resources/Locale/en-US/game-ticking/game-presets/preset-traitor.ftl
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: No C#

#36317 Remove "SHUTTLES" from the allergy list in ion_storm.yml
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Silicons, T: Of Admin Interest, size/XS, T: Content Removal

#36272 Reduce storage implant to a 2x L shape/6 slots
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#36300 Add additional Biome Markers.
  Resources/Prototypes/Procedural/biome_markers.yml
  Resources/Prototypes/Procedural/biome_ore_templates_low.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, A: Mapping, S: Approved, size/M

#36307 move DeviceLinking events to shared
  Content.Server/Atmos/Piping/Binary/EntitySystems/SignalControlledValveSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/DeviceLinking/Components/Overload/SoundOnOverloadComponent.cs
  Content.Server/DeviceLinking/Components/Overload/SpawnOnOverloadComponent.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkOverloadSystem.cs
  Content.Server/DeviceLinking/Systems/DeviceLinkSystem.cs
  Content.Server/DeviceLinking/Systems/DoorSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/EdgeDetectorSystem.cs
  Content.Server/DeviceLinking/Systems/GunSignalControlSystem.cs
  Content.Server/DeviceLinking/Systems/LogicGateSystem.cs
  Content.Server/DeviceLinking/Systems/MemoryCellSystem.cs
  Content.Server/DeviceLinking/Systems/SignalTimerSystem.cs
  Content.Server/Disposal/Tube/Systems/DisposalSignalRouterSystem.cs
  Content.Server/Doors/Systems/AirlockSystem.cs
  Content.Server/Explosion/EntitySystems/TriggerSystem.Signal.cs
  Content.Server/Kitchen/EntitySystems/MicrowaveSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Physics/Controllers/ConveyorController.cs
  Content.Server/Power/Generator/GeneratorSignalControlSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/DeviceLinking/Events/DeviceLinkOverloadedEvent.cs
  Content.Shared/DeviceLinking/Events/SignalReceivedEvent.cs
Labels: S: Needs Review, S: Untriaged, size/S

#35952 Displacement Map Visualizer update
  Tools/SS14 Aseprite Plugins/Displacement Map Visualizer.lua
Labels: Changes: No C#, A: Core Tech, size/S

#36324 remove evil shitcode from randommetadata
  Content.Server/RandomMetadata/RandomMetadataComponent.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Resources/Locale/en-US/datasets/names/joining.ftl
  Resources/Locale/en-US/datasets/names/nukie_first.ftl
  Resources/Prototypes/Datasets/Names/joining.yml
  Resources/Prototypes/Datasets/Names/nukies.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/GameRules/roundstart.yml
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#36113 Centcomm death rattle implant
  Content.Shared/Implants/Components/RattleComponent.cs
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
  Resources/Prototypes/Roles/Jobs/CentComm/cburn.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#36151 Elkridge - AI update and maints expansion + fixes
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, size/XL

#36323 Remove toxins from the chemical synthesis kit description
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/syndicate.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#36319 Fix blocked UI interaction on unpowered devices
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
Labels: T: Bugfix, D3: Low, S: Needs Review, A: General Interactions, P0: Critical

#35914 Salvage melee weapon tweaks
  Resources/Prototypes/Entities/Objects/Weapons/Melee/mining.yml
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Melee/crusher_glaive.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Art, A: Cargo/Salvage, A: Combat, T: Visual Change, size/S, S: Art Approval

#36347 Make Health Analyzer scan range nullable and adjust admin PDA
  Content.Server/Medical/Components/HealthAnalyzerComponent.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
Labels: S: Untriaged, S: Approved, size/XS

#36325 Allow Aghosts to load biomes.
  Content.Server/Parallax/BiomeSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/tags.yml
Labels: S: Needs Review, S: Untriaged, size/XS

#36343 Make `RandomMetadata` properly support localization
  Content.Server/RandomMetadata/RandomMetadataComponent.cs
  Content.Server/RandomMetadata/RandomMetadataSystem.cs
  Resources/Locale/en-US/datasets/names/joining.ftl
  Resources/Locale/en-US/datasets/names/nukie_first.ftl
  Resources/Locale/en-US/random-metadata/random-metadata-formats.ftl
  Resources/Prototypes/Datasets/Names/joining.yml
  Resources/Prototypes/Datasets/Names/nukies.yml
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Mobs/NPCs/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/human.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Objects/Misc/books.yml
  Resources/Prototypes/Entities/Objects/Tools/decoys.yml
  Resources/Prototypes/GameRules/events.yml
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/GameRules/subgamemodes.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, size/M, A: Localization

#36310 predict IgnitionSourceComponent
  Content.Client/IgnitionSource/IgnitionSourceSystem.cs
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/IgnitionSource/IgniteOnTriggerComponent.cs
  Content.Server/IgnitionSource/IgniteOnTriggerSystem.cs
  Content.Server/IgnitionSource/IgnitionSourceComponent.cs
  Content.Server/IgnitionSource/IgnitionSourceSystem.cs
  Content.Shared/IgnitionSource/IgnitionEvent.cs
  Content.Shared/IgnitionSource/IgnitionSourceComponent.cs
  Content.Shared/IgnitionSource/SharedIgnitionSourceSystem.cs
Labels: S: Needs Review, S: Untriaged, size/M

#36332 Make spam delivery headers easier to reuse
  Resources/Locale/en-US/delivery/delivery-spam.ftl
Labels: Changes: No C#, S: Untriaged, size/S

#36387 Make FlammableTileReaction additive instead of multiplicative.
  Content.Server/Chemistry/TileReactions/FlammableTileReaction.cs
Labels: S: Untriaged, S: Approved, A: Art, size/XS

#35057 New security box fills, renamed and replaced sechud box icon
  Resources/Prototypes/Catalog/Fills/Boxes/security.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/secglasses.png
  Resources/Textures/Objects/Storage/boxes.rsi/sechud.png
  Resources/Textures/Objects/Storage/boxes.rsi/sunglasses.png
  Resources/Textures/Objects/Storage/boxicons.rsi/meta.json
  Resources/Textures/Objects/Storage/boxicons.rsi/secglasses.png
  Resources/Textures/Objects/Storage/boxicons.rsi/sechud.png
  Resources/Textures/Objects/Storage/boxicons.rsi/sunglasses.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Art, S: Undergoing Maintainer Discussion, A: Security, T: Visual Change, size/M

#36260 Allow sound to play at the start of anomaly supercritical animation
  Content.Server/Anomaly/AnomalySystem.Commands.cs
  Content.Shared/Anomaly/Components/AnomalyComponent.cs
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#36380 Printable vials
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/chemistry.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#35506 DocumentParsingManager: Ignore XML comments in guidebook pages
  Content.Client/Guidebook/DocumentParsingManager.cs
Labels: T: Bugfix, P2: Raised, T: Cleanup, D2: Medium, A: Core Tech, size/XS

#36398 Fix `lsobjectives` target player logic
  Content.Server/Objectives/Commands/ListObjectivesCommand.cs
Labels: T: Bugfix, P3: Standard, D3: Low, A: Admin Tooling, size/S

#31418 Fix matchstick prediction issues
  Content.Server/Light/Components/MatchboxComponent.cs
  Content.Server/Light/Components/MatchstickComponent.cs
  Content.Server/Light/EntitySystems/MatchboxSystem.cs
  Content.Server/Light/EntitySystems/MatchstickSystem.cs
  Content.Shared/IgnitionSource/Components/MatchboxComponent.cs
  Content.Shared/IgnitionSource/Components/MatchstickComponent.cs
  Content.Shared/IgnitionSource/EntitySystems/MatchboxSystem.cs
  Content.Shared/IgnitionSource/EntitySystems/MatchstickSystem.cs
  Resources/Prototypes/Entities/Objects/Tools/matches.yml
Labels: T: Bugfix, P1: High, T: Cleanup, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/M

#36036 Add inhands for Holoprojectors, labelers, cone, brb sign, fartbag
  Resources/Prototypes/Entities/Objects/Misc/brb_sign.yml
  Resources/Textures/Clothing/Head/Misc/cone.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Head/Misc/cone.rsi/inhand-left.png
  Resources/Textures/Clothing/Head/Misc/cone.rsi/inhand-right.png
  Resources/Textures/Clothing/Head/Misc/cone.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/Holoprojectors/atmos.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/custodial.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/Holoprojectors/custodial.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/Holoprojectors/custodial.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/field.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/Holoprojectors/field.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/Holoprojectors/field.rsi/meta.json
  Resources/Textures/Objects/Devices/Holoprojectors/security.rsi/inhand-left.png
  Resources/Textures/Objects/Devices/Holoprojectors/security.rsi/inhand-right.png
  Resources/Textures/Objects/Devices/Holoprojectors/security.rsi/meta.json
  Resources/Textures/Objects/Fun/whoopie.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/whoopie.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/whoopie.rsi/meta.json
  Resources/Textures/Objects/Misc/brbsign.rsi/equipped-NECK-vox.png
  Resources/Textures/Objects/Misc/brbsign.rsi/equipped-NECK.png
  Resources/Textures/Objects/Misc/brbsign.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/brbsign.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/brbsign.rsi/meta.json
  Resources/Textures/Objects/Tools/hand_labeler.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/hand_labeler.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/hand_labeler.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Art, A: General Interactions, T: Visual Change, size/M, S: Art Approval

#36399 Replaced Sterile Swabs in NutriMax with a Swab Dispenser
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#36421 Mark the spider clan explosive as major contraband
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/spider.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#32420 Predict inflatable barriers verb
  Content.Server/Engineering/Components/DisassembleOnAltVerbComponent.cs
  Content.Server/Engineering/EntitySystems/DisassembleOnAltVerbSystem.cs
  Content.Shared/Engineering/Components/DisassembleOnAltVerbComponent.cs
  Content.Shared/Engineering/Systems/DisassembleOnAltVerbSystem.cs
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
Labels: T: Bugfix, P2: Raised, T: Cleanup, D2: Medium, S: Needs Review, A: General Interactions, size/M

#35152 Feature/shader radial menu
  Content.Client/UserInterface/Controls/RadialContainer.cs
  Content.Client/UserInterface/Controls/RadialMenu.cs
  Content.Client/UserInterface/Controls/SimpleRadialMenu.xaml.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/radial-menu.swsl
Labels: P3: Standard, Changes: UI, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Stale, Changes: Shaders, A: General Interactions, size/M, S: Draft, S: Art Approval

#36340 Fixed the empty mass scanner still being a normal item, whoops.
  Resources/Prototypes/Entities/Objects/Tools/handheld_mass_scanner.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/S

#36089 remove mind roles from EntityWhitelist
  Content.Server/Objectives/Components/RoleRequirementComponent.cs
  Content.Server/Objectives/Systems/RoleRequirementSystem.cs
  Content.Shared/Whitelist/EntityWhitelist.cs
  Content.Shared/Whitelist/EntityWhitelistSystem.cs
  Resources/Prototypes/Objectives/dragon.yml
  Resources/Prototypes/Objectives/ninja.yml
  Resources/Prototypes/Objectives/paradoxClone.yml
  Resources/Prototypes/Objectives/thief.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Objectives/wizard.yml
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech, size/S

#36169 Various UI warnings cleanup
  Content.Client/Changelog/ChangelogWindow.xaml.cs
  Content.Client/Chasm/ChasmFallingVisualsSystem.cs
  Content.Client/Chat/UI/SpeechBubble.cs
  Content.Client/Communications/UI/CommunicationsConsoleMenu.xaml.cs
  Content.Client/Decals/DecalPlacementSystem.cs
  Content.Client/Decals/UI/DecalPlacerWindow.xaml.cs
  Content.Client/Guidebook/GuidebookSystem.cs
  Content.Client/Holopad/HolopadBoundUserInterface.cs
  Content.Client/Humanoid/MarkingPicker.xaml.cs
  Content.Client/Humanoid/SingleMarkingPicker.xaml.cs
  Content.Client/Implants/UI/DeimplantBoundUserInterface.cs
  Content.Client/Jittering/JitteringSystem.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/Parallax/ParallaxGenerator.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Singularity/Visualizers/RadiationCollectorSystem.cs
  Content.Client/SprayPainter/UI/SprayPainterWindow.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatUIController.cs
  Content.Client/UserInterface/Systems/Storage/Controls/StorageWindow.cs
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
Labels: P3: Standard, S: Needs Engine PR Merged, Changes: UI, T: Cleanup, D2: Medium, S: Needs Review, S: Awaiting Changes, A: General Interactions, size/S

#35804 Lower minimum size of absorbent item status
  Content.Client/Fluids/UI/AbsorbentItemStatus.xaml.cs
Labels: P3: Standard, Changes: UI, DB: Beginner Friendly, T: UI / UX Improvement, A: Service, size/XS

#36431 Fix power cells/cages counting for laser weapon bounties
  Resources/Prototypes/Catalog/Bounties/bounties.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Cargo/Salvage, size/XS

#36341 Holopad fixtures bugfix
  Resources/Prototypes/Entities/Structures/Machines/holopad.yml
Labels: Changes: No C#, size/S

#36273 Add cooked dragon steak and cutlets
  Resources/Prototypes/Entities/Objects/Consumable/Food/meat.yml
  Resources/Prototypes/Recipes/Construction/Graphs/food/steak.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragon-cooked.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragoncutlet-cooked.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragoncutlet.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/dragoncutlet_veins.png
  Resources/Textures/Objects/Consumable/Food/meat.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: Service, A: Roundflow/Antag, size/M, S: Art Approval

#36436 Changes the name of the Detectives suitskirts from "... suit" to "... suitskirt"
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
Labels: Changes: No C#, size/XS

#36444 Change ambuzol plus guidebook entry to match recipe.
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: Changes: No C#, T: Cleanup, S: Untriaged, S: Approved, size/XS

#35890 Decrease Syndicate raid suit size, add bundle backpack
  Resources/Prototypes/Catalog/Fills/Backpacks/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/S

#36452 Hypospray Inhand Fix
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/inhand-right.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/inhand-left.png
Labels: Changes: No C#, Changes: Sprites, S: Approved, A: Art, size/XS

#36449 Add Aluminum Source (Cans)
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_cans.yml
Labels: Changes: No C#, S: Approved, size/M

#36446 Made the mosin major contraband, fixed uplink name.
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: Changes: No C#, S: Approved, size/XS

#36453 Zombies can no longer Suicide take 2
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: S: Untriaged, S: Approved, size/XS

#36447 fix cargo products
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_vending.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#36409 Choose correct state when rendering entities
  Content.MapRenderer/Painters/EntityPainter.cs
Labels: S: Untriaged, size/XS

#36408 Wizard added in all at once!
  Resources/Prototypes/game_presets.yml
Labels: Changes: No C#, S: Untriaged, S: Approved

#36428 Fix gas mixers and pneumatic valves being hidden by floor tiles
  Resources/Prototypes/Entities/Structures/Piping/Atmospherics/trinary.yml
Labels: Changes: No C#, S: Untriaged

#36383 Descriptions for .45 magnum
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Boxes/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/SpeedLoaders/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#36406 Predict Labels
  Content.Client/Labels/EntitySystems/LabelSystem.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/CartridgeLoader/Cartridges/LogProbeCartridgeSystem.cs
  Content.Server/Chemistry/EntitySystems/ChemMasterSystem.cs
  Content.Server/Cloning/CloningSystem.Subscriptions.cs
  Content.Server/Delivery/DeliverySystem.cs
  Content.Server/Fax/FaxSystem.cs
  Content.Server/Forensics/Systems/ForensicPadSystem.cs
  Content.Server/Labels/Label/Components/PaperLabelComponent.cs
  Content.Server/Labels/Label/LabelSystem.cs
  Content.Server/Salvage/SalvageSystem.cs
  Content.Server/Shuttles/Commands/FTLDiskCommand.cs
  Content.Shared/Labels/Components/LabelComponent.cs
  Content.Shared/Labels/Components/PaperLabelComponent.cs
  Content.Shared/Labels/Components/PaperLabelTypeComponent.cs
  Content.Shared/Labels/EntitySystems/LabelSystem.cs
  Content.Shared/Labels/EntitySystems/SharedHandLabelerSystem.cs
  Content.Shared/Labels/EntitySystems/SharedLabelSystem.cs
Labels: S: Untriaged, S: Approved, size/M

#36430 predict borg selection
  Content.Client/Silicons/Borgs/BorgSelectTypeUserInterface.cs
Labels: S: Untriaged, S: Approved, size/XS

#36377 RD Windoor
  Resources/Prototypes/Entities/Structures/Doors/Windoors/windoor.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#36320 directional BoundUserInterfaceMessageAttempt content edition
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.Held.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: P1: High, S: Needs Engine PR Merged, D3: Low, S: Needs Review, A: Core Tech, size/S

#36458 Fixed phalanxamines guidebook entry.
  Resources/Locale/en-US/reagents/meta/medicine.ftl
Labels: Changes: No C#, S: Untriaged, size/XS

#36461 Fix ninja battery drain debug assertion
  Content.Server/Ninja/Systems/BatteryDrainerSystem.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, A: Roundflow/Antag, size/XS

#36468 PlayerPanel username copy fix
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
Labels: P2: Raised, Changes: UI, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/XS

#36470 Revert "Feature/shader radial menu" due to shader issue
  Content.Client/UserInterface/Controls/RadialContainer.cs
  Content.Client/UserInterface/Controls/RadialMenu.cs
  Content.Client/UserInterface/Controls/SimpleRadialMenu.xaml.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/radial-menu.swsl
Labels: P1: High, Changes: UI, S: Needs Review, DB: Beginner Friendly, A: Accessibility, Changes: Shaders, size/M, T: Content Removal

#36434 Increase Bagel's secoff job slots to 6
  Resources/Prototypes/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/XS

#36476 Lobby duration is now 5 minutes on wizden
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, A: Accessibility, S: Approved, A: General Interactions, size/XS, I triaged the issue properly

#36474 add debug verb for inspecting mind entities
  Content.Client/Administration/Systems/AdminVerbSystem.cs
  Resources/Locale/en-US/mind/verbs/inspect-mind.ftl
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#36281 Add warnings when TagSystem methods are called with string literals
  Content.Shared/Tag/TagSystem.cs
Labels: P2: Raised, D3: Low, A: Core Tech, size/S

#36466 PlayerPanel Follow button
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml
  Content.Client/Administration/UI/PlayerPanel/PlayerPanel.xaml.cs
  Content.Client/Administration/UI/PlayerPanel/PlayerPanelEui.cs
  Content.Server/Administration/PlayerPanelEui.cs
  Content.Shared/Administration/PlayerPanelEuiState.cs
  Resources/Locale/en-US/administration/ui/player-panel.ftl
Labels: P1: High, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/S

#36494 Dehardcode zombie damage values
  Content.Server/Zombies/ZombieSystem.Transform.cs
  Content.Shared/Zombies/ZombieComponent.cs
Labels: T: Bugfix, S: Untriaged, S: Approved, size/S

#36489 Fix for anomaly double explosion sound and sprite scaling flicker before removal
  Content.Shared/Anomaly/SharedAnomalySystem.cs
Labels: T: Bugfix, S: Needs Review, S: Untriaged, size/XS

#36416 Changed misleading line in the Traitors guidebook
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
Labels: Changes: No C#, T: Cleanup, S: Needs Review

#36348 Fix docks clipping on shuttle nav
  Content.Client/Shuttles/UI/BaseShuttleControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
Labels: Changes: UI, S: Untriaged, size/S

#32227 Skirt of Life resprite + white shoes to paramedic loadout
  Resources/Prototypes/Loadouts/Jobs/Medical/paramedic.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/equipped-INNERCLOTHING-monkey.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/icon.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/inhand-left.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/inhand-right.png
  Resources/Textures/Clothing/Uniforms/Jumpskirt/skirtoflife.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Medical, T: Visual Change, size/XS, S: Art Approval

#34203 Fixes hitscan weapons not respecting reflectTypes
  Content.Shared/Weapons/Reflect/ReflectSystem.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: Combat, A: Core Tech, size/S

#36071 ParallaxControl UI Dehardcode
  Content.Client/Info/RulesPopup.xaml
  Content.Client/Launcher/LauncherConnectingGui.xaml
  Content.Client/MainMenu/UI/MainMenuControl.xaml
  Content.Client/Parallax/ParallaxControl.cs
  Content.Client/Replay/UI/Loading/LoadingScreenControl.xaml
  Content.Client/Replay/UI/Loading/ReplayLoadingFailedControl.xaml
  Content.Replay/Menu/ReplayMainMenuControl.xaml
Labels: P3: Standard, Changes: UI, T: Refactor, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Art, size/S

#36503 Neutralised anomaly infections drop inert cores
  Resources/Prototypes/Entities/Structures/Specific/Anomaly/anomaly_injectors.yml
Labels: Changes: No C#, S: Needs Review, S: Approved, size/S

#31637 Fix sometimes still not dropping pulls after crit/death
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, DB: Beginner Friendly, A: General Interactions

#31648 Condensed gases can now be metabolized.
  Resources/Prototypes/Reagents/gases.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Needs Review, A: Medical

#31814 Examining now shows Coords on Handheld GPS, Coord readout update frequency increased
  Content.Shared/GPS/Systems/HandheldGpsSystem.cs
Labels: P2: Raised, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/S

#32308 ID card computer bug fixed (And made it more fun!)
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Resources/Locale/en-US/access/components/id-card-console-component.ftl
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Recipes/Construction/Graphs/machines/computer.yml
Labels: T: Bugfix, P1: High, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#32867 add some error logging to exped generation
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
Labels: T: Bugfix, P1: High, T: Cleanup, D2: Medium, S: Approved, A: Cargo/Salvage

#36480 Fix user interface interaction validation
  Content.Shared/Interaction/SharedInteractionSystem.cs
Labels: T: Bugfix, P3: Standard, S: Untriaged

#36394 Remove flash payload from stinger grenades
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#36514 antag role placeholder loc text
  Resources/Locale/en-US/character-info/components/character-info-component.ftl
Labels: Changes: No C#, size/XS

#36509 Sprite fade review
  Content.Client/Sprite/SpriteFadeSystem.cs
Labels: S: Untriaged, size/S

#36338 Added a crate of shark plushies to cargo
  Resources/Prototypes/Catalog/Cargo/cargo_fun.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/S

#36199 Worldgen spring cleaning
  Content.Server/Worldgen/Systems/Carvers/NoiseRangeCarverSystem.cs
  Content.Server/Worldgen/Systems/Debris/DebrisFeaturePlacerSystem.cs
  Content.Server/Worldgen/Systems/Debris/NoiseDrivenDebrisSelectorSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech, size/S

#36166 Entity effects warnings cleanup
  Content.Server/EntityEffects/Effects/AreaReactionEffect.cs
  Content.Server/EntityEffects/Effects/MovespeedModifier.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Core Tech, size/XS

#36190 Admin spring cleaning
  Content.Server/Administration/Commands/AGhostCommand.cs
  Content.Server/Administration/Commands/ForceGhostCommand.cs
  Content.Server/Administration/Logs/Converters/EntityCoordinatesConverter.cs
  Content.Server/Administration/Managers/AdminManager.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Administration/Toolshed/TagCommand.cs
  Content.Server/Station/Commands/JobsCommand.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Admin Tooling, size/S

#36529 Remove invalid error logging in HideLayerClothingSystem
  Content.Shared/Clothing/EntitySystems/HideLayerClothingSystem.cs
Labels: T: Bugfix, P3: Standard, S: Untriaged, size/XS

#36527 Hotfix for water/fuel tank fixtures
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, Intent: Hotfix, Branch: Stable, A: General Interactions, size/XS

#35805 Adds 10% slowdown to syndicate commander hardsuit
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: Roundflow/Antag

#35759 Binocular Neck Slots!
  Resources/Prototypes/Entities/Objects/Tools/binoculars.yml
  Resources/Textures/Objects/Tools/binoculars.rsi/equipped-NECK.png
  Resources/Textures/Objects/Tools/binoculars.rsi/meta.json
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, T: Visual Change, size/S, S: Art Approval

#36532 Change colour tone of blue and green crayons
  Resources/Prototypes/Entities/Objects/Fun/crayons.yml
Labels: Changes: No C#, size/XS

#36267 Fire extinguishers can now extinguish items, including when held/worn
  Content.Server/Atmos/EntitySystems/FlammableSystem.cs
  Content.Server/EntityEffects/Effects/ExtinguishReaction.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.cs
  Content.Shared/Atmos/Components/ExtinguishableSetCollisionWakeComponent.cs
  Content.Shared/Atmos/EntitySystems/ExtinguishableSetCollisionWakeSystem.cs
  Content.Shared/Atmos/FireEvents.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Relay.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Inventory/RelaySubscriptionHelpers.cs
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/base_smokeables.yml
  Resources/Prototypes/Entities/Objects/Misc/candles.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/spray.yml
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, S: Needs Engine Update, A: General Interactions, size/M

#36352 Fix autosave path
  Content.Server/Mapping/MappingSystem.cs
Labels: S: Untriaged, size/XS

#36552 [HOTFIX] Sprite fade review #36509
  Content.Client/Sprite/SpriteFadeSystem.cs
Labels: S: Untriaged, Branch: Stable, size/S

#35772 Fix shuttle arrival visualizer
  Content.Server/Shuttles/DockingConfig.cs
  Content.Server/Shuttles/Systems/DockingSystem.Shuttle.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Resources/Prototypes/Entities/Effects/shuttle.yml
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, A: General Interactions, size/S

#34921 Fix IDs without station records not being able to have nonstandard contents
  Content.Client/Access/UI/IdCardConsoleWindow.xaml.cs
  Content.Server/Access/Systems/IdCardConsoleSystem.cs
  Content.Shared/Access/Components/IdCardComponent.cs
Labels: T: Bugfix, P1: High, Changes: UI, S: Needs Review, DB: Beginner Friendly, A: Command, size/S

#35580 The long overdue downfall of stun meta - Stamina resists on Nukie & ERT Suits.
  Content.Shared/Damage/Components/StaminaResistanceComponent.cs
  Content.Shared/Damage/Events/BeforeStaminaDamageEvent.cs
  Content.Shared/Damage/Systems/SharedGodmodeSystem.cs
  Content.Shared/Damage/Systems/StaminaSystem.Resistance.cs
  Content.Shared/Damage/Systems/StaminaSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Resources/Locale/en-US/damage/stamina.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: P1: High, T: New Feature, D2: Medium, S: Needs Review, T: Balance Change, S: Approved, A: Combat, A: Roundflow/Antag, A: Security, size/M

#33548 Command to open chatbox in a new window
  Content.Client/Administration/UI/Tabs/AdminTab/AdminTab.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml
  Content.Client/UserInterface/Systems/Chat/ChatWindow.xaml.cs
  Content.Client/UserInterface/Systems/Chat/ChatWindowCommand.cs
  Content.Client/UserInterface/Systems/Chat/Controls/ChannelFilterPopup.xaml.cs
  Resources/Locale/en-US/administration/ui/tabs/admin-tab/player-actions-window.ftl
  Resources/Locale/en-US/chat/ui/chat-window.ftl
  Resources/clientCommandPerms.yml
Labels: P1: High, T: New Feature, Changes: UI, D2: Medium, S: Needs Review, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/M

#32033 fix #31963: Stopped climbing movent while in containers
  Content.Shared/Climbing/Components/ClimbingComponent.cs
  Content.Shared/Climbing/Systems/ClimbSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#30703 Add SolutionContainerVisuals to the hypospray
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill1.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill2.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill3.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill4.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill5.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/hypo_fill6.png
  Resources/Textures/Objects/Specific/Medical/hypospray.rsi/meta.json
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo_fill1.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo_fill2.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo_fill3.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/hypo_fill4.png
  Resources/Textures/Objects/Specific/Medical/syndihypo.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Medical, T: Visual Change, size/S

#36555 Add implant names to implanters
  Resources/Locale/en-US/tips.ftl
  Resources/Prototypes/Datasets/tips.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/S, S: Conceptual Approval

#36511 update editorconfig docstring indentation
  .editorconfig
Labels: Changes: No C#, S: Untriaged, size/XS

#36534 Elkridge - Department Request Consoles and Rebuilt AI Core
  Resources/Maps/elkridge.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/L

#36562 Add the knock spell to the grimoire
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
Labels: Changes: No C#, size/S

#36335 Amber Station - Small Improvements
  Resources/Maps/amber.yml
  Resources/Prototypes/Parallaxes/amber.yml
  Resources/Textures/Parallaxes/Asteroids.png
  Resources/Textures/Parallaxes/attributions.yml
  Resources/Textures/Parallaxes/debris_large.png
  Resources/Textures/Parallaxes/debris_small.png
  Resources/map_attributions.txt
Labels: Changes: No C#, Changes: Map, size/XL

#36560 Packed Dept Economy
  Resources/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/M

#36547 Predict DamagePopup
  Content.Server/Damage/Components/DamagePopupComponent.cs
  Content.Server/Damage/Systems/DamagePopupSystem.cs
  Content.Shared/Damage/Components/DamagePopupComponent.cs
  Content.Shared/Damage/Systems/DamagePopupSystem.cs
  Resources/Locale/en-US/damage/damage-popup-component.ftl
Labels: S: Needs Review, S: Untriaged, size/M

#36194 Ghost spring cleaning
  Content.Server/Ghost/GhostSystem.cs
Labels: T: Cleanup, D3: Low, S: Needs Review, S: Needs Engine Update, S: Approved, A: General Interactions, size/XS

#36110 Use approx NPC steering checks
  Content.Server/NPC/Systems/NPCSteeringSystem.Context.cs
Labels: P3: Standard, T: Performance, D2: Medium, S: Needs Review, A: Core Tech, size/XS

#35995 Remove deathrattle functionality from tracking implants
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Command, A: Security, T: Of Admin Interest, size/XS, T: Content Removal

#35889 Increase chest rig explosive resistance
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
Labels: Changes: No C#, size/XS

#36155 fix RangeNumberSelector to actually be inclusive
  Content.Shared/EntityTable/EntitySelectors/EntSelector.cs
  Content.Shared/EntityTable/EntitySelectors/EntityTableSelector.cs
  Content.Shared/EntityTable/ValueSelector/ConstantNumberSelector.cs
  Content.Shared/EntityTable/ValueSelector/NumberSelector.cs
  Content.Shared/EntityTable/ValueSelector/RangeNumberSelector.cs
Labels: T: Bugfix, S: DO NOT MERGE, P2: Raised, S: Needs Review, DB: Beginner Friendly, A: Core Tech, size/S

#33900 Edited the elite hardsuit description to be more accurate
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Roundflow/Antag, size/XS

#33844 Fix the ability to kill clumsy mobs by force climbing
  Content.Shared/Clumsy/ClumsySystem.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: General Interactions, size/XS

#36572 Fix station income instantly accumulating roundstart
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Server/Cargo/Systems/CargoSystem.Funds.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.cs
  Content.Shared/Cargo/SharedCargoSystem.cs
Labels: S: Untriaged, size/S

#36472 Now you can see if there's a beaker in the chemmaster
  Resources/Prototypes/Entities/Structures/Machines/chem_master.yml
  Resources/Textures/Structures/Machines/mixer.rsi/meta.json
  Resources/Textures/Structures/Machines/mixer.rsi/mixer_loaded.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: General Interactions, T: Visual Change, size/S, S: Art Approval

#36566 loop station dept request pcs
  Resources/Maps/loop.yml
Labels: Changes: No C#, Changes: Map, size/M

#36571 Fix skeletons not becoming skulls on gib
  Resources/Prototypes/Body/Parts/skeleton.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#36578 Fix shadow anomalies dropping stacks of artifact fragments
  Resources/Prototypes/Entities/Markers/Spawners/Random/shadowkudzu.yml
Labels: Changes: No C#, S: Untriaged, size/XS

#36017 Inhand sprites for figurines
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/figurines.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/figurines.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Art, T: Visual Change, size/S, S: Art Approval
