Repository space-wizards/space-station-14, pull requests merged in 2025-08, with the labels that each got.

#39308 Renames slugcat jelly-donuts to scurret jelly-donuts
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/donut.yml
  Resources/migration.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Approved, A: General Interactions, size/XS

#39318 Predict EmitterSystem ExamineEvent and GetVerbsEvent
  Content.Client/Singularity/Systems/EmitterSystem.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/Singularity/Components/SharedEmitterComponent.cs
  Content.Shared/Singularity/EntitySystems/SharedEmitterSystem.cs
Labels: S: Untriaged, S: Approved, size/M

#39322 Predict ExamineEvent for CryoPodSystem.
  Content.Server/Medical/CryoPodSystem.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
Labels: S: Untriaged, S: Approved, size/S

#39324 [HOTFIX] Flesh Stun Fix, Third time's the charm!
  Content.Client/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: T: Bugfix, P1: High, S: Approved, Branch: Staging, A: Combat

#39327 Fix tabletop grids rarely spawning on top of another
  Content.Server/Tabletop/TabletopSystem.Map.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: Service

#39328 Staging to master
  Content.Client/Damage/Systems/StaminaSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/flesh.yml
  Resources/Prototypes/Entities/Mobs/NPCs/spacetick.yml
Labels: S: Untriaged, S: Approved, size/S

#38489 Fix StoreTests EventBus usage
  Content.IntegrationTests/Tests/StoreTests.cs
Labels: T: Bugfix, P2: Raised, A: Integration Tests, S: Approved, size/XS

#38881 Berry Delight
  Resources/Locale/en-US/flavors/flavor-profiles.ftl
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_whole.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/cake.yml
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/berry_delight.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/berry_delight_slice.png
  Resources/Textures/Objects/Consumable/Food/Baked/cake.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Awaiting Changes, DB: Beginner Friendly, S: Approved, A: Service, S: Art Approval

#39329 Fix ActionsSystem.IsCooldownActive always returning false if curTime is null
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#38165 Fix rotate verbs not being predicted
  Content.Server/Rotatable/FlippableComponent.cs
  Content.Server/Rotatable/RotatableSystem.cs
  Content.Shared/Rotatable/FlippableComponent.cs
  Content.Shared/Rotatable/RotatableComponent.cs
  Content.Shared/Rotatable/RotatableSystem.cs
  Resources/Locale/en-US/rotation/components/rotatable-component.ftl
Labels: T: Refactor, S: Approved, A: General Interactions, size/M

#39313 change bagel genpop biocube fabricator into biogenerator
  Resources/Maps/bagel.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, A: Mapping

#39345 Hardsuit helmet text fix + CBurn Vox Fix
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
Labels: T: Bugfix, Changes: No C#, S: Approved, size/XS

#39346 Localize Refund Button
  Content.Client/Store/Ui/StoreMenu.xaml
  Resources/Locale/en-US/store/store.ftl
Labels: Changes: UI, Changes: No C#, T: Cleanup, S: Awaiting Changes, S: Approved, A: Localization

#39340 Make wallmount screen, telescreen, and signal timer destructible
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/Monitors/telescreens.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/timer.yml
Labels: P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39352 Stable to master
  Content.Shared/KillTome/KillTomeComponent.cs
  Content.Shared/KillTome/KillTomeSystem.cs
  Content.Shared/KillTome/KillTomeTargetComponent.cs
  Content.Shared/Paper/PaperSystem.cs
  Resources/Changelog/Changelog.yml
  Resources/Locale/en-US/killtome.ftl
  Resources/Prototypes/Entities/Clothing/OuterClothing/scraparmor.yml
  Resources/Prototypes/Entities/Objects/Misc/killtome.yml
  Resources/Textures/Objects/Misc/killtome.rsi/icon.png
  Resources/Textures/Objects/Misc/killtome.rsi/meta.json
Labels: Changes: Sprites, S: Needs Review, S: Untriaged, S: Approved, size/M

#39289 fix: auto-update mailing unit + gas canister UIs on state
  Content.Shared/Atmos/Piping/Unary/Components/GasCanisterComponent.cs
  Content.Shared/Configurable/ConfigurationComponent.cs
  Content.Shared/Follower/Components/FollowerComponent.cs
  Content.Shared/Follower/FollowerSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, size/S

#39374 Updated syndicate throwing knives description
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39135 Revert "Fix bug with pipe color"
  Content.Client/Atmos/EntitySystems/PipeColorVisualizerSystem.cs
  Content.Client/UserInterface/Systems/Storage/Controls/ItemGridPiece.cs
  Content.Server/Atmos/Piping/Components/AtmosPipeColorComponent.cs
  Content.Server/Atmos/Piping/EntitySystems/AtmosPipeColorSystem.cs
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Shared/Atmos/EntitySystems/AtmosPipeColorSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: Core Tech, size/M

#39378 Fix head mappers codeowners
  .github/CODEOWNERS
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Core Tech, size/XS, T: Chore

#38507 Fix vox inhand displacements
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/hand_r.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved, size/XS

#39388 fix: hide timer trigger's cycle time verb if DelayOptions is empty
  Content.Shared/Trigger/Systems/TriggerSystem.Timer.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#39197 Removes ItemToggle from Cryo Pods to prevent a latent event ordering bug
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#39369 remove space from Sleeping Carp.png
  Resources/Textures/Effects/crayondecals.rsi/SleepingCarp.png
  Resources/Textures/Effects/crayondecals.rsi/meta.json
Labels: P2: Raised, Changes: No C#, T: Cleanup, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, size/XS

#39307 localization support to air alarms, wire panels and more
  Content.Client/Atmos/Monitor/UI/Widgets/PumpControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ScrubberControl.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/SensorInfo.xaml.cs
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdBoundControl.xaml
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdControl.xaml
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Client/NetworkConfigurator/NetworkConfiguratorConfigurationMenu.xaml
  Content.Shared/Wires/SharedWiresComponent.cs
  Resources/Locale/en-US/atmos/air-alarm-ui.ftl
  Resources/Locale/en-US/devices/network-configurator.ftl
  Resources/Locale/en-US/job/loadouts.ftl
  Resources/Locale/en-US/wires/components/wires-panel-component.ftl
Labels: P3: Standard, Changes: UI, T: Cleanup, S: Awaiting Changes, S: Approved, size/M, A: Localization, A: Forks/Downstreams

#39393 Fixed Issues with Screens and Station Maps
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/screen.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/WallmountMachines/station_map.yml
Labels: T: Bugfix, P1: High, Changes: No C#, S: Needs Review, S: Approved, Branch: Stable, T: Visual Change, size/S

#39402 Predict warp point location examines.
  Content.Benchmarks/PvsBenchmark.cs
  Content.Server/Administration/Commands/WarpCommand.cs
  Content.Server/Ghost/GhostSystem.cs
  Content.Server/Objectives/Systems/NinjaConditionsSystem.cs
  Content.Server/Pinpointer/NavMapSystem.cs
  Content.Shared/Warps/WarpPointComponent.cs
  Content.Shared/Warps/WarpPointSystem.cs
Labels: P3: Standard, T: Refactor, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#39400 Reduced SalvageStructureComponent to atoms.
  Content.Server/Salvage/Expeditions/SalvageStructureComponent.cs
  Content.Server/Salvage/SalvageSystem.Expeditions.cs
  Content.Server/Salvage/SpawnSalvageMissionJob.cs
  Resources/Locale/en-US/procedural/expeditions.ftl
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/S

#39385 Predict cryopods
  Content.Client/Medical/Cryogenics/CryoPodSystem.cs
  Content.Server/Medical/CryoPodEjectLockWireAction.cs
  Content.Server/Medical/CryoPodSystem.cs
  Content.Shared/Medical/Cryogenics/ActiveCryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/CryoPodComponent.cs
  Content.Shared/Medical/Cryogenics/SharedCryoPodSystem.cs
  Resources/Prototypes/Entities/Structures/Machines/Medical/cryo_pod.yml
Labels: T: Refactor, S: Needs Review, S: Approved, A: Medical, size/M

#39394 feat: properly perform predicted porta pottys (fix toilet prediction)
  Content.Server/Toilet/ToiletSystem.cs
  Content.Shared/Toilet/Components/ToiletComponent.cs
  Content.Shared/Toilet/Systems/SharedToiletSystem.cs
  Content.Shared/Toilet/Systems/ToiletSystem.cs
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
Labels: T: Bugfix, P2: Raised, T: Refactor, D3: Low, S: Needs Review, S: Approved, A: Service, size/M

#39395 Update attributions for lightning audiofiles
  Resources/Audio/Effects/Lightning/attributions.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Accessibility, S: Approved, size/XS

#39418 Status effects disable light occluding (1-line PR)
  Content.Shared/StatusEffectNew/StatusEffectsSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/XS

#39419 Predict EMP Examine
  Content.Server/Emp/EmpSystem.cs
  Content.Shared/Emp/SharedEmpSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, A: Roundflow/Antag, size/S

#39031 Debody Food and Drink Systems, Combine Food and Drink into One System.
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Nutrition/Components/MessyDrinkerComponent.cs
  Content.Server/Nutrition/EntitySystems/DrinkSystem.cs
  Content.Server/Nutrition/EntitySystems/MessyDrinkerSystem.cs
  Content.Server/Nutrition/EntitySystems/SliceableFoodSystem.cs
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Animals/WoolySystem.cs
  Content.Shared/Damage/Systems/SharedGodmodeSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
  Content.Shared/Nutrition/Components/DrinkComponent.cs
  Content.Shared/Nutrition/Components/EdibleComponent.cs
  Content.Shared/Nutrition/Components/FoodComponent.cs
  Content.Shared/Nutrition/Components/IngestionBlockerComponent.cs
  Content.Shared/Nutrition/Components/OpenableComponent.cs
  Content.Shared/Nutrition/Components/SealableComponent.cs
  Content.Shared/Nutrition/Components/UtensilComponent.cs
  Content.Shared/Nutrition/EntitySystems/FlavorProfileSystem.cs
  Content.Shared/Nutrition/EntitySystems/FoodSystem.cs
  Content.Shared/Nutrition/EntitySystems/IngestionBlockerSystem.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.API.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Blockers.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Utensils.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.cs
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
  Content.Shared/Nutrition/EntitySystems/SharedDrinkSystem.cs
  Content.Shared/Nutrition/EntitySystems/UtensilSystem.cs
  Content.Shared/Nutrition/IngestionEvents.cs
  Content.Shared/Nutrition/Prototypes/EdiblePrototype.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
  Resources/Locale/en-US/nutrition/components/food-component.ftl
  Resources/Locale/en-US/nutrition/components/ingestion-system.ftl
  Resources/Locale/en-US/nutrition/components/openable-component.ftl
  Resources/Locale/en-US/nutrition/components/sealable-component.ftl
  Resources/Prototypes/Body/Organs/Animal/ruminant.yml
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
  Resources/Prototypes/Entities/Effects/puddle.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
  Resources/Prototypes/NPCs/utility_queries.yml
  Resources/Prototypes/Nutrition/edible.yml
  Resources/Prototypes/tags.yml
Labels: P2: Raised, T: Refactor, T: Cleanup, T: UI / UX Improvement, S: Approved, A: Service, A: Core Tech, size/L, S: Requires Content PR, A: Localization

#39379 Fix inventory flickering and missing InventoryTemplateUpdated event
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Shared/Inventory/InventorySystem.Equip.cs
  Content.Shared/Inventory/InventorySystem.Slots.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: Accessibility, S: Approved, size/S

#38703 Fix showvalue Ui for melee weapons
  Content.Client/UserInterface/StatsWindow.xaml
  Content.Server/UserInterface/StatValuesCommand.cs
  Content.Shared/Wieldable/Components/IncreaseDamageOnWieldComponent.cs
  Resources/Locale/en-US/commands/stat-values-command.ftl
Labels: Changes: UI, S: Needs Review, T: UI / UX Improvement, size/S, A: Database

#39438 docs: update comment on config saving in tests
  Content.Client/Playtime/ClientsidePlaytimeTrackingManager.cs
Labels: P3: Standard, S: Needs Review, DB: Beginner Friendly, size/XS, T: Chore

#39436 Ingestion Bugfixes
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.cs
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39435 Fix title2.ogg attribution
  Resources/Audio/Lobby/attributions.yml
Labels: P1: High, Changes: No C#, S: Needs Review, size/XS

#39452 place stored changeling identities next to each other
  Content.Shared/Changeling/ChangelingIdentitySystem.cs
Labels: P1: High, T: Performance, S: Needs Review, S: Approved, A: Roundflow/Antag, size/XS

#39454 Fix changeling typing indicator
  Content.Shared/Chat/TypingIndicator/TypingIndicatorComponent.cs
  Resources/Prototypes/Entities/Mobs/Species/base.yml
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Roundflow/Antag, size/XS

#38896 fixes items with complex shapes failing to insert sometimes
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
Labels: P3: Standard, T: New Feature, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#39465 Add changeling briefing sound
  Resources/Audio/Ambience/Antag/attributions.yml
  Resources/Audio/Ambience/Antag/changeling_start.ogg
  Resources/Prototypes/GameRules/roundstart.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, Changes: Audio, size/XS

#38976 Move some Station methods into shared
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Station/StationSystem.cs
  Content.IntegrationTests/Tests/Station/EvacShuttleTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Tools.cs
  Content.Server/Anomaly/AnomalySystem.Generator.cs
  Content.Server/Cargo/Components/StationCargoOrderDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
  Content.Server/Cargo/Systems/CargoSystem.Telepad.cs
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Commands/ContentCompletionHelper.cs
  Content.Server/CrewManifest/CrewManifestSystem.cs
  Content.Server/GameTicking/Rules/DragonRuleSystem.cs
  Content.Server/GameTicking/Rules/GameRuleSystem.Utility.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/RoundstartStationVariationRuleSystem.cs
  Content.Server/GameTicking/Rules/VariationPass/BaseEntityReplaceVariationPassSystem.cs
  Content.Server/GameTicking/Rules/VariationPass/EntitySpawnVariationPassSystem.cs
  Content.Server/GameTicking/Rules/VariationPass/PuddleMessVariationPassSystem.cs
  Content.Server/GameTicking/Rules/ZombieRuleSystem.cs
  Content.Server/Maps/GameMapPrototype.cs
  Content.Server/Nuke/Commands/SendNukeCodesCommand.cs
  Content.Server/Nuke/NukeCodePaperSystem.cs
  Content.Server/RoundEnd/RoundEndSystem.cs
  Content.Server/Salvage/SalvageSystem.Runner.cs
  Content.Server/Shuttles/Systems/ArrivalsSystem.cs
  Content.Server/Shuttles/Systems/EmergencyShuttleSystem.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.GridFill.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Server/Station/Commands/StationCommand.cs
  Content.Server/Station/Events/StationPostInitEvent.cs
  Content.Server/Station/Systems/StationBiomeSystem.cs
  Content.Server/Station/Systems/StationNameSystem.cs
  Content.Server/Station/Systems/StationSystem.cs
  Content.Server/StationEvents/Events/AnomalySpawnRule.cs
  Content.Server/StationEvents/Events/CargoGiftsRule.cs
  Content.Server/StationEvents/Events/MeteorSwarmSystem.cs
  Content.Server/StationEvents/Events/SpaceSpawnRule.cs
  Content.Shared/Station/Components/StationDataComponent.cs
  Content.Shared/Station/SharedStationSystem.Tracker.cs
  Content.Shared/Station/SharedStationSystem.cs
  Content.Shared/Station/StationConfig.cs
Labels: P3: Standard, Changes: UI, T: Cleanup, S: Needs Review, S: Approved, size/M

#35531 Starting glasses for Captain and HoP
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Command, size/XS

#39478 Remove NamesGolem
  Resources/Locale/en-US/datasets/names/golem.ftl
  Resources/Prototypes/Datasets/Names/golem.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, S: Approved, size/L, T: Content Removal, A: Localization

#39485 Cleanup Base food and drink a little
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/food_base.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, size/S

#39194 Fix Whoopie Cushions from lagging the game.
  Content.Shared/Movement/Systems/MovementModStatusSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/StatusEffectNew/StatusEffectSystem.API.cs
  Content.Shared/StatusEffectNew/StatusEffectsSystem.cs
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#39487 Fix bar and base signs
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/bar_sign.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/base_structuresigns.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, A: General Interactions, size/XS

#39425 Buttons are now Free-placeable (again)
  Resources/Prototypes/Entities/Structures/Wallmounts/Switches/switch.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, Branch: Stable, size/M

#39499 fix mind role filter
  Content.Shared/Mind/Filters/HasRoleMindFilter.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#39482 Fix: Water Bottles Verb Priority and Prediction
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Blockers.cs
  Content.Shared/Nutrition/EntitySystems/OpenableSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39507 Mapping - Box station - Tie the RD's disposal bin to the disposals system.
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/L

#39174 Moth displacement map fixes
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/hand.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-female.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/jumpsuit-male.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/outerclothing.png
  Resources/Textures/Mobs/Species/Moth/displacement.rsi/shoes.png
Labels: P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: Art, T: Visual Change, size/XS, S: Art Approval

#39084 Crawling Fixes 1: Dragons and Borgs can't do the worm.
  Content.Server/Shuttles/Systems/ShuttleSystem.Impact.cs
  Content.Server/Stunnable/Components/StunOnCollideComponent.cs
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Content.Shared/Standing/StandingStateComponent.cs
  Content.Shared/Standing/StandingStateSystem.cs
  Content.Shared/Stunnable/CrawlerComponent.cs
  Content.Shared/Stunnable/KnockdownStatusEffectComponent.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
  Content.Shared/Stunnable/SharedStunSystem.cs
  Content.Shared/Stunnable/StunnableEvents.cs
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/Entities/StatusEffects/movement.yml
Labels: P2: Raised, T: Cleanup, D2: Medium, S: Needs Review, S: Approved, A: General Interactions, size/M

#39310 Add voice locks to various hidden syndicate items
  Content.Server/Access/Systems/AgentIDCardSystem.cs
  Content.Server/VoiceMask/VoiceMaskSystem.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
  Content.Shared/Item/ItemToggle/ItemToggleSystem.cs
  Content.Shared/Lock/ItemToggleRequiresLockComponent.cs
  Content.Shared/Lock/LockComponent.cs
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Lock/UIRequiresLockComponent.cs
  Content.Shared/SecretLocks/SharedVoiceTriggerLockSystem.cs
  Content.Shared/SecretLocks/VoiceTriggerLockComponent.cs
  Content.Shared/Trigger/Components/Effects/LockOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnVoiceComponent.cs
  Content.Shared/Trigger/Systems/LockOnTriggerSystem.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Voice.cs
  Content.Shared/UserInterface/ActivatableUISystem.cs
  Resources/Locale/en-US/access/components/agent-id-card-component.ftl
  Resources/Locale/en-US/locks/voice-trigger-lock.ftl
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Clothing/Ears/specific.yml
  Resources/Prototypes/Entities/Clothing/Eyes/specific.yml
  Resources/Prototypes/Entities/Clothing/Hands/specific.yml
  Resources/Prototypes/Entities/Clothing/Head/specific.yml
  Resources/Prototypes/Entities/Clothing/Masks/specific.yml
  Resources/Prototypes/Entities/Clothing/Neck/specific.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/specific.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/specific.yml
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Entities/Objects/Specific/locks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/chameleon.yml
Labels: P2: Raised, T: New Feature, S: Needs Review, S: Approved, A: Roundflow/Antag, T: Of Admin Interest, size/M

#39530 Fire stacks trigger
  Content.Server/Trigger/Systems/FlameStackOnTriggerSystem.cs
  Content.Server/Trigger/Systems/IgniteOnTriggerSystem.cs
  Content.Shared/Trigger/Components/Effects/FlameStackOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Effects/IgniteOnTriggerComponent.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39531 Adds rare Hamlet variant: Fragile Hamlet
  Resources/Prototypes/Catalog/Fills/Crates/npc.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#39545 Trigger on round end
  Content.Shared/Trigger/Components/Triggers/TriggerOnRoundEndComponent.cs
  Content.Shared/Trigger/Systems/TriggerOnRoundEndSystem.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39558 Actions examine
  Content.Client/Actions/UI/ActionAlertTooltip.cs
  Content.Client/UserInterface/Systems/Actions/Controls/ActionButton.cs
Labels: P2: Raised, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/S

#39562 Base changeling objective(s)
  Resources/Locale/en-US/changeling/changeling.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-changeling.ftl
  Resources/Prototypes/GameRules/roundstart.yml
  Resources/Prototypes/Objectives/changeling.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/S

#39537 ExtinguishOnTrigger and TriggerOnInteractHand
  Content.Server/Trigger/Systems/FireStackOnTriggerSystem.cs
  Content.Server/Trigger/Systems/FlameStackOnTriggerSystem.cs
  Content.Server/Trigger/Systems/IgniteOnTriggerSystem.cs
  Content.Shared/Trigger/Components/Effects/ExtinguishOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Effects/FireStackOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Effects/IgniteOnTriggerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnInteractHandComponent.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Interaction.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/M

#39564 [HOTFIX] Stop players from clipping through Windoors
  Content.Shared/Standing/StandingStateSystem.cs
Labels: T: Bugfix, D2: Medium, S: Needs Review, S: Approved, Branch: Stable, A: General Interactions, P0: Critical, size/S

#39566 Reduce LevelOfParallelism to 2 for integration tests
  Content.IntegrationTests/AssemblyInfo.cs
Labels: S: Needs Review, A: Integration Tests, S: Approved, Intent: Hotfix, Branch: Stable, A: Core Tech, size/XS

#36541 Predict PoweredLights
  Content.Client/Light/EntitySystems/LightBulbSystem.cs
  Content.Client/Light/EntitySystems/PoweredLightSystem.cs
  Content.Client/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Electrocution/ElectrocutionSystem.cs
  Content.Server/Light/EntitySystems/LightBulbSystem.cs
  Content.Server/Light/EntitySystems/PoweredLightSystem.cs
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Revenant/EntitySystems/RevenantSystem.Abilities.cs
  Content.Server/StationEvents/Events/SolarFlareRule.cs
  Content.Server/Xenoarchaeology/Artifact/XAE/XAELightFlickerSystem.cs
  Content.Shared/Light/Components/LightBulbComponent.cs
  Content.Shared/Light/Components/LightReplacerComponent.cs
  Content.Shared/Light/Components/PoweredLightComponent.cs
  Content.Shared/Light/EntitySystems/SharedLightBulbSystem.cs
  Content.Shared/Light/EntitySystems/SharedPoweredLightSystem.cs
  Content.Shared/Power/Components/SharedApcPowerReceiverComponent.cs
Labels: P3: Standard, T: New Feature, T: Cleanup, D2: Medium, S: Awaiting Changes, S: Approved, A: General Interactions, size/L

#39574 Fix ReagentQuantity Equality check
  Content.Shared/Chemistry/Reagent/ReagentQuantity.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Core Tech

#39565 Fix antag objective assignment (again)
  Resources/Prototypes/Objectives/traitor.yml
Labels: T: Bugfix, P1: High, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Roundflow/Antag, size/XS

#38942 Fix dock radar colours
  Content.Client/Shuttles/UI/ShuttleDockControl.xaml.cs
  Content.Client/Shuttles/UI/ShuttleNavControl.xaml.cs
  Content.Server/Shuttles/Systems/ShuttleConsoleSystem.cs
  Content.Shared/Shuttles/BUIStates/DockingPortState.cs
Labels: T: Bugfix, Changes: UI, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#39428 Slightly shorten examine text for splashing a solution with a melee attack
  Resources/Locale/en-US/fluids/components/spillable-component.ftl
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, size/XS, A: Localization

#38668 Borg hands & hand whitelisting
  Content.Client/Stack/StackSystem.cs
  Content.Client/UserInterface/Controls/SlotControl.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Client/UserInterface/Systems/Hotbar/Widgets/HotbarGui.xaml.cs
  Content.Client/UserInterface/Systems/Inventory/Controls/ItemStatusPanel.xaml.cs
  Content.Server/Construction/ConstructionSystem.Interactions.cs
  Content.Server/Silicons/Borgs/BorgSystem.Modules.cs
  Content.Server/Stack/StackSystem.cs
  Content.Shared/Construction/Components/MachineBoardComponent.cs
  Content.Shared/Hands/Components/HandsComponent.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Pickup.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Whitelist.cs
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.cs
  Content.Shared/Silicons/Borgs/Components/ItemBorgModuleComponent.cs
  Content.Shared/Stacks/SharedStackSystem.cs
  Content.Shared/Stacks/StackComponent.cs
  Resources/Locale/en-US/robotics/borg_modules.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/base_machineboard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/glass.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/metal.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Materials/ingots.yml
  Resources/Prototypes/Entities/Objects/Materials/materials.yml
  Resources/Prototypes/Entities/Objects/Materials/parts.yml
  Resources/Prototypes/Entities/Objects/Misc/machine_parts.yml
  Resources/Prototypes/Entities/Objects/Specific/Janitorial/soap.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-vials.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/Prototypes/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/tags.yml
Labels: P2: Raised, T: New Feature, Changes: UI, T: Refactor, D2: Medium, S: Needs Review, S: Approved, A: Silicons, size/L

#39585 fix: fix lights not always enabling correctly
  Content.Shared/Light/EntitySystems/SharedPoweredLightSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, S: Approved, size/XS

#39543 RandomChance trigger condition
  Content.Shared/Trigger/Components/Conditions/RandomChanceTriggerConditionComponent.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Condition.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#35079 Fix: Break do_after if target/tool becomes inaccessible
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39589 Predict GetVerbsEvent in PowerSwitchableSystem
  Content.Server/Power/Generator/GeneratorSystem.cs
  Content.Server/Power/Generator/PortableGeneratorSystem.cs
  Content.Server/Power/Generator/PowerSwitchableSystem.cs
  Content.Shared/Power/Generator/SharedPortableGeneratorSystem.cs
  Content.Shared/Power/Generator/SharedPowerSwitchableSystem.cs
Labels: T: Cleanup, S: Awaiting Changes, S: Approved, A: Engineering, A: General Interactions, size/M

#39605 Disable the lock/unlock verb if we can't do that
  Content.Shared/Lock/LockSystem.cs
Labels: T: Bugfix, S: Approved, A: General Interactions, size/XS

#36473 Weapon Resizing
  Resources/Prototypes/Entities/Clothing/Back/smuggler.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Tools/appraisal.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/watergun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Bow/bow.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Pistols/pistols.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Shotguns/shotguns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/flare_gun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/pneumatic_cannon.yml
Labels: P3: Standard, Changes: No C#, D3: Low, T: Balance Change, S: Awaiting Changes, S: Approved, A: Combat, A: General Interactions, size/M

#39617 Revert "Fix: Break do_after if target/tool becomes inaccessible"
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
Labels: T: Bugfix, S: Needs Review, S: Approved, A: General Interactions, P0: Critical, size/XS

#39391 Add trigger-refactor components and systems: Batch 1
  Content.Shared/Trigger/Components/Triggers/TriggerOnBuckledComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnExaminedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnLandComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnStrappedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnUnbuckledComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnUnstrappedComponent.cs
  Content.Shared/Trigger/Systems/TriggerOnLandSystem.cs
  Content.Shared/Trigger/Systems/TriggerOnStrappedOrBuckledSystem.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Interaction.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#39472 Rebalance advanced Brute chems, and more
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Recipes/Reactions/medicine.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: Medical, size/M

#39651 Meat spike conjugation error
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
Labels: Changes: No C#, T: Cleanup, S: Approved, A: Service, A: General Interactions, size/XS

#39647 Add container-related triggers
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotInsertedIntoContainerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotRemovedFromContainerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnInsertedIntoContainerComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnRemovedFromContainerComponent.cs
  Content.Shared/Trigger/Systems/TriggerOnContainerInteractionSystem.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Awaiting Changes, S: Approved, A: Core Tech, size/M

#39228 Animal organs now prefixed with 'animal'
  Resources/Prototypes/Body/Organs/Animal/animal.yml
  Resources/Prototypes/Body/Organs/Animal/bloodsucker.yml
  Resources/Prototypes/Body/Organs/arachnid.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Character/Species, size/S

#39650 Throwing triggers
  Content.Shared/Sound/Components/EmitSoundOnThrowComponent.cs
  Content.Shared/Throwing/ThrowEvents.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Throwing/ThrownEvent.cs
  Content.Shared/Throwing/ThrownItemSystem.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnThrowComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnThrownComponent.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Interaction.cs
Labels: T: New Feature, S: Needs Review, S: Approved, A: General Interactions, size/M

#39524 Add integration test for MobPriceComponent
  Content.IntegrationTests/Tests/CargoTest.cs
  Resources/Prototypes/Entities/Clothing/Head/misc.yml
Labels: P3: Standard, T: New Feature, S: Needs Review, A: Integration Tests, S: Approved, size/S

#39457 Banana peel headgear fixes
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Textures/Objects/Specific/Hydroponics/mimana.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/mimana.rsi/peel-equipped-HELMET-hamster.png
  Resources/Textures/Objects/Specific/Hydroponics/mimana.rsi/peel-equipped-HELMET.png
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/S, S: Art Approval

#39667 Tabs in the Credits window only populate once
  Content.Client/Credits/CreditsWindow.xaml.cs
Labels: T: Bugfix, P2: Raised, Changes: UI, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/XS

#39680 Added baby and cube hair (awesome)
  Resources/Locale/en-US/accessories/human-hair.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/human_hair.yml
  Resources/Textures/Mobs/Customization/human_hair.rsi/baby.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/cube.png
  Resources/Textures/Mobs/Customization/human_hair.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Art, A: Character/Species, size/S, S: Art Approval

#39303 Expand soap making, but better
  Resources/Locale/en-US/reagents/meta/chemicals.ftl
  Resources/Prototypes/Flavors/flavors.yml
  Resources/Prototypes/Reagents/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/chemicals.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
  Resources/Prototypes/Recipes/Reactions/soap.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Medical, size/M

#39675 Equip and unequip triggers
  Content.Shared/Trigger/Components/Triggers/TriggerOnDidEquipComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnDidUnequipComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotEquippedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotUnequippedComponent.cs
  Content.Shared/Trigger/Systems/TriggerOnEquipmentSystem.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, S: Approved, A: General Interactions, size/M

#39690 Fix industrial reagent grinder bug, second attempt
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: T: Bugfix, S: Needs Review, S: Approved, Branch: Staging, A: General Interactions, P0: Critical, size/S

#39694 Merge staging into master
  Content.Server/Materials/MaterialReclaimerSystem.cs
  Content.Shared/Materials/MaterialReclaimerComponent.cs
  Resources/Prototypes/Entities/Structures/Machines/reagent_grinder.yml
Labels: S: Needs Review, S: Approved, A: Core Tech, size/S

#39688 Swap ExudeGasses and ConsumeGasses
  Content.Server/EntityEffects/EntityEffectSystem.cs
Labels: P3: Standard, T: Cleanup, S: Needs Review, S: Approved, A: Atmospherics, size/XS

#39692 Trigger for OnInteractUsing
  Content.Shared/Trigger/Components/Triggers/TriggerOnInteractUsingComponent.cs
  Content.Shared/Trigger/Systems/TriggerSystem.Interaction.cs
Labels: P3: Standard, T: New Feature, S: Approved, A: General Interactions, size/S

#39674 Increase the bananium horn use delay
  Resources/Prototypes/Entities/Objects/Fun/bike_horn.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Service, size/XS

#39706 fix cl
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Maps.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/S

#37164 Allows disabler, practice disabler, disabler SMG, and practice laser rifle to be used by pacifists
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: Security, size/XS

#37953 Allow hamster cages to sit on tables
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Textures/Structures/Storage/Crates/cage.rsi/base.png
  Resources/Textures/Structures/Storage/Crates/cage.rsi/closed.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39191 Fix error when deleting a toggled `ToggleableClothingComponent`
  Content.Shared/Clothing/EntitySystems/ToggleableClothingSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39663 Hand pickup and drop triggers
  Content.Shared/Trigger/Components/Triggers/TriggerOnDidEquipHandComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnDidUnequipHandComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnDroppedComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotEquippedHandComponent.cs
  Content.Shared/Trigger/Components/Triggers/TriggerOnGotUnequippedHandComponent.cs
  Content.Shared/Trigger/Systems/HandTriggerSystem.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: Core Tech, A: General Interactions, size/M

#39717 Teaches tacos how to spell
  Resources/Prototypes/Entities/Objects/Consumable/Food/taco.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#39733 Rebuilt Box Armory
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/L

#39748 Cleanup warnings: CS0414
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/Stack/StackSystem.cs
  Content.Server/Animals/Systems/ParrotMemorySystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Objectives/Systems/PickObjectiveTargetSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.Transponder.cs
  Content.Server/Singularity/EntitySystems/EmitterSystem.cs
  Content.Shared/Movement/Systems/WormSystem.cs
  Content.Shared/Storage/EntitySystems/SecretStashSystem.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#39752 Cleanup: Un-hardcode reagents standout
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Fluids/SharedPuddleSystem.cs
  Resources/Prototypes/Reagents/biological.yml
Labels: S: Needs Review, S: Untriaged, size/S

#37971 EVENT BASED WEIGHTLESSNESS
  Content.IntegrationTests/Tests/Doors/AirlockTest.cs
  Content.IntegrationTests/Tests/Gravity/WeightlessStatusTests.cs
  Content.IntegrationTests/Tests/GravityGridTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Fluids/EntitySystems/SpraySystem.cs
  Content.Server/Gravity/GravitySystem.cs
  Content.Shared/Clothing/EntitySystems/AntiGravityClothingSystem.cs
  Content.Shared/Clothing/MagbootsComponent.cs
  Content.Shared/Clothing/MagbootsSystem.cs
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
  Content.Shared/Friction/TileFrictionController.cs
  Content.Shared/Gravity/FloatingVisualsComponent.cs
  Content.Shared/Gravity/GravityAffectedComponent.cs
  Content.Shared/Gravity/GravityComponent.cs
  Content.Shared/Gravity/SharedFloatingVisualizerSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Movement/Components/MovementIgnoreGravityComponent.cs
  Content.Shared/Movement/Systems/FrictionContactsSystem.cs
  Content.Shared/Movement/Systems/MovementIgnoreGravitySystem.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
  Content.Shared/Movement/Systems/SpeedModifierContactsSystem.cs
  Content.Shared/Physics/Controllers/SharedConveyorController.cs
  Content.Shared/StepTrigger/Systems/StepTriggerSystem.cs
  Content.Shared/Throwing/ThrowingSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
  Resources/Prototypes/Entities/Objects/Specific/Mech/mechs.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/base_structure.yml
Labels: P1: High, T: New Feature, T: Performance, T: Refactor, D2: Medium, S: Needs Review, A: Core Tech, size/M

#39099 Crawling Fixes Part 4: Can't crawl when weightless.
  Content.Server/Stunnable/Systems/StunOnCollideSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
Labels: T: Bugfix, P1: High, S: Needs Review, S: Approved, A: General Interactions, size/S, S: Requires Content PR

#39526 Fix: Untoggle removed actions
  Content.Shared/Actions/SharedActionsSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39722 fix performer's suit sprites
  Resources/Textures/Clothing/Head/Misc/performer-wig.rsi/equipped-HELMET.png
  Resources/Textures/Clothing/Shoes/Boots/performer.rsi/equipped-FEET.png
  Resources/Textures/Clothing/Shoes/Boots/performer.rsi/icon.png
Labels: P3: Standard, Changes: No C#, T: Cleanup, Changes: Sprites, S: Needs Review, S: Approved, A: Art, T: Visual Change, size/XS, S: Art Approval

#39755 Cleanup subdermal implant code
  Content.Client/Implants/ImplanterSystem.cs
  Content.Client/Implants/SubdermalImplantSystem.cs
  Content.Server/Implants/ChameleonControllerSystem.cs
  Content.Server/Implants/ImplanterSystem.cs
  Content.Server/Implants/RadioImplantSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/Mindshield/MindShieldSystem.cs
  Content.Shared/Implants/Components/ReplacementImplantComponent.cs
  Content.Shared/Implants/Components/StorageImplantComponent.cs
  Content.Shared/Implants/Components/SubdermalImplantComponent.cs
  Content.Shared/Implants/ReplacementImplantSystem.cs
  Content.Shared/Implants/SharedImplanterSystem.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.Relays.cs
  Content.Shared/Implants/SharedSubdermalImplantSystem.cs
  Content.Shared/Implants/StorageImplantSystem.cs
  Content.Shared/Mindshield/FakeMindShield/FakeMindshieldSystem.cs
  Content.Shared/Mindshield/FakeMindShield/SharedFakeMindShieldImplantSystem.cs
  Resources/Prototypes/Actions/types.yml
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Entities/Objects/Misc/subdermal_implants.yml
Labels: T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/M

#39786 Remove BodyComponent check from MobPrice test
  Content.IntegrationTests/Tests/CargoTest.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/XS

#38769 fix: spellbooks can have charges ≠ 3
  Content.Shared/Charges/Components/LimitedChargesComponent.cs
  Content.Shared/Charges/Systems/SharedChargesSystem.cs
  Content.Shared/Magic/SpellbookSystem.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, S: Approved, A: Roundflow/Antag, size/S

#39791 Moving Zombie Components to Shared
  Content.Server/Zombies/ZombifyOnDeathComponent.cs
  Content.Shared/Zombies/ZombieImmuneComponent.cs
  Content.Shared/Zombies/ZombifyOnDeathComponent.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#39794 cleanup changeling namespaces and prototypes
  Content.Client/Changeling/Transform/ChangelingTransformBoundUserInterface.cs
  Content.Client/Changeling/Transform/ChangelingTransformMenu.xaml.cs
  Content.Shared/Changeling/ChangelingDevourEvents.cs
  Content.Shared/Changeling/ChangelingTransformEvents.cs
  Content.Shared/Changeling/Components/ChangelingDevourComponent.cs
  Content.Shared/Changeling/Components/ChangelingIdentityComponent.cs
  Content.Shared/Changeling/Components/ChangelingStoredIdentityComponent.cs
  Content.Shared/Changeling/Components/ChangelingTransformComponent.cs
  Content.Shared/Changeling/Systems/ChangelingDevourSystem.cs
  Content.Shared/Changeling/Systems/ChangelingIdentitySystem.cs
  Content.Shared/Changeling/Systems/ChangelingTransformSystem.UI.cs
  Content.Shared/Changeling/Systems/ChangelingTransformSystem.cs
  Resources/Prototypes/Actions/changeling.yml
  Resources/Prototypes/Antag/changeling.yml
  Resources/Prototypes/Entities/Mobs/Player/changeling.yml
Labels: Changes: UI, T: Cleanup, S: Needs Review, S: Approved, A: Roundflow/Antag, size/M

#39398 Impaired Mobility Disability
  Content.Shared/Traits/Assorted/ImpairedMobilityComponent.cs
  Content.Shared/Traits/Assorted/ImpairedMobilitySystem.cs
  Content.Shared/Traits/Assorted/MobilityAidComponent.cs
  Content.Shared/Traits/Assorted/MobilityAidSystem.cs
  Resources/Locale/en-US/traits/traits.ftl
  Resources/Prototypes/Entities/Mobs/Player/clone.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/offset_cane.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/white_cane.yml
  Resources/Prototypes/Traits/disabilities.yml
Labels: P3: Standard, T: New Feature, D2: Medium, S: Awaiting Changes, S: Approved, A: Character/Species, size/M, S: Art Approval

#39795 Cane Sword Priority Fix
  Resources/Prototypes/Entities/Objects/Weapons/Melee/cane.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Combat, A: General Interactions, size/XS

#39775 Recolor Mime and Musician job icons
  Resources/Textures/Interface/Misc/job_icons.rsi/Mime.png
  Resources/Textures/Interface/Misc/job_icons.rsi/Musician.png
  Resources/Textures/Interface/Misc/job_icons.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/idmime.png
  Resources/Textures/Objects/Misc/id_cards.rsi/idmusician.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Art, T: Visual Change, size/XS, S: Art Approval

#39815 Fix grenades not playing sounds when detonating
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/scattering_grenades.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39701 Adds stencil lettering to the spraypainter
  Resources/Prototypes/Decals/lettering.yml
  Resources/Textures/Decals/stencil.rsi/meta.json
  Resources/Textures/Decals/stencil.rsi/stencil0.png
  Resources/Textures/Decals/stencil.rsi/stencil1.png
  Resources/Textures/Decals/stencil.rsi/stencil2.png
  Resources/Textures/Decals/stencil.rsi/stencil3.png
  Resources/Textures/Decals/stencil.rsi/stencil4.png
  Resources/Textures/Decals/stencil.rsi/stencil5.png
  Resources/Textures/Decals/stencil.rsi/stencil6.png
  Resources/Textures/Decals/stencil.rsi/stencil7.png
  Resources/Textures/Decals/stencil.rsi/stencil8.png
  Resources/Textures/Decals/stencil.rsi/stencil9.png
  Resources/Textures/Decals/stencil.rsi/stencilA.png
  Resources/Textures/Decals/stencil.rsi/stencilB.png
  Resources/Textures/Decals/stencil.rsi/stencilC.png
  Resources/Textures/Decals/stencil.rsi/stencilD.png
  Resources/Textures/Decals/stencil.rsi/stencilE.png
  Resources/Textures/Decals/stencil.rsi/stencilF.png
  Resources/Textures/Decals/stencil.rsi/stencilG.png
  Resources/Textures/Decals/stencil.rsi/stencilH.png
  Resources/Textures/Decals/stencil.rsi/stencilI.png
  Resources/Textures/Decals/stencil.rsi/stencilJ.png
  Resources/Textures/Decals/stencil.rsi/stencilK.png
  Resources/Textures/Decals/stencil.rsi/stencilL.png
  Resources/Textures/Decals/stencil.rsi/stencilM.png
  Resources/Textures/Decals/stencil.rsi/stencilN.png
  Resources/Textures/Decals/stencil.rsi/stencilO.png
  Resources/Textures/Decals/stencil.rsi/stencilP.png
  Resources/Textures/Decals/stencil.rsi/stencilQ.png
  Resources/Textures/Decals/stencil.rsi/stencilR.png
  Resources/Textures/Decals/stencil.rsi/stencilS.png
  Resources/Textures/Decals/stencil.rsi/stencilT.png
  Resources/Textures/Decals/stencil.rsi/stencilU.png
  Resources/Textures/Decals/stencil.rsi/stencilV.png
  Resources/Textures/Decals/stencil.rsi/stencilW.png
  Resources/Textures/Decals/stencil.rsi/stencilX.png
  Resources/Textures/Decals/stencil.rsi/stencilY.png
  Resources/Textures/Decals/stencil.rsi/stencilZ.png
  Resources/Textures/Decals/stencil.rsi/stencil_Ampersand.png
  Resources/Textures/Decals/stencil.rsi/stencil_Asterix.png
  Resources/Textures/Decals/stencil.rsi/stencil_Dash.png
  Resources/Textures/Decals/stencil.rsi/stencil_Equals.png
  Resources/Textures/Decals/stencil.rsi/stencil_Exclaim.png
  Resources/Textures/Decals/stencil.rsi/stencil_Hash.png
  Resources/Textures/Decals/stencil.rsi/stencil_Multiocular.png
  Resources/Textures/Decals/stencil.rsi/stencil_Plus.png
  Resources/Textures/Decals/stencil.rsi/stencil_Question.png
  Resources/Textures/Decals/stencil.rsi/stencil_Speso.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/M, S: Art Approval

#39783 Fix texture sprite specifiers to RSI PNGs
  Resources/Prototypes/Actions/anomaly.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
Labels: T: Bugfix, Changes: No C#, S: Needs Review, S: Approved, size/S, A: Packaging/Distribution

#39807 feat: add verb for smartfridge item insertion
  Content.Shared/SmartFridge/SmartFridgeSystem.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Medical, size/S

#39672 Made moths less vulnerable to flames
  Resources/Prototypes/Damage/modifier_sets.yml
  Resources/Prototypes/Entities/Mobs/Species/moth.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Character/Species, size/XS, S: Conceptual Approval

#39834 Invert HasMouthAvailable check
  Content.Server/Nutrition/EntitySystems/SmokingSystem.Vape.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#39832 Fix admin objects tab
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTab.xaml.cs
  Content.Client/Administration/UI/Tabs/ObjectsTab/ObjectsTabEntry.xaml
Labels: P1: High, Changes: UI, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/S

#39865 Cleanup of resolves and usings.
  Content.Client/Audio/AmbientSoundSystem.cs
  Content.Client/Audio/ContentAudioSystem.AmbientMusic.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/Radiation/Overlays/RadiationDebugOverlay.cs
  Content.Client/Shuttles/Systems/ShuttleSystem.EmergencyConsole.cs
  Content.Client/Weapons/Ranged/Systems/GunSystem.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/S

#39842 [Bugfix] Lizard smite fix
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/XS

#39870 Moving FlammableComponent to Shared
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Anomaly/Effects/PyroclasticAnomalySystem.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.cs
  Content.Server/NPC/Systems/NPCUtilitySystem.cs
  Content.Server/Xenoarchaeology/Artifact/XAE/XAEIgniteSystem.cs
  Content.Shared/Atmos/Components/FlammableComponent.cs
Labels: P2: Raised, T: Cleanup, S: Needs Review, S: Approved, A: Atmospherics, size/S, T: Chore

#39883 [Bugfix] Fix topical self healing time multiplier not working
  Content.Shared/Medical/Healing/HealingComponent.cs
  Content.Shared/Medical/Healing/HealingSystem.cs
Labels: T: Bugfix, P3: Standard, T: Cleanup, S: Approved, A: General Interactions, size/S

#39891 Fixed pacified people using the laser carbine
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
Labels: T: Bugfix, P1: High, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/S

#39730 Prevented Engiborgs from picking up AI lawboards
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Silicons, size/XS

#39784 Fix chameleon backpacks not being able to be opened when locked
  Content.Shared/Lock/LockSystem.cs
  Content.Shared/Lock/LockedStorageComponent.cs
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/Storage/shelfs.yml
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#37705 Clipboards added to autolathe (and other folder changes)
  Resources/Prototypes/Catalog/Fills/Crates/permaescape.yml
  Resources/Prototypes/Catalog/Fills/Crates/service.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/folders.yml
  Resources/Prototypes/Entities/Objects/Misc/folders.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Entities/Structures/Storage/filing_cabinets.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Roles/Jobs/Cargo/quartermaster.yml
  Resources/Prototypes/Roles/Jobs/CentComm/official.yml
  Resources/Prototypes/Roles/Jobs/Command/head_of_personnel.yml
  Resources/Prototypes/Roles/Jobs/Fun/visitors_startinggear.yml
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/clipboard.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/clipboard_over.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/clipboard_paper.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/clipboard_pen.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/equipped-BELT.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/inhand-left.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/inhand-right.png
  Resources/Textures/Objects/Misc/plastic_clipboard.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/M, S: Art Approval

#39542 Re-anchorable structures
  Content.Shared/Construction/Components/AnchorableComponent.cs
  Content.Shared/Construction/EntitySystems/AnchorableSystem.cs
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/highsec.yml
  Resources/Prototypes/Entities/Structures/Doors/Firelocks/firelock.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/SecretDoor/secret_door.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/base_wallmount.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
  Resources/Prototypes/Entities/Structures/catwalk.yml
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
  Resources/Prototypes/Entities/Structures/plastic_flaps.yml
  Resources/Prototypes/Entities/Structures/stairs.yml
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#39896 exo decor update
  Resources/Maps/exo.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, T: Balance Change, A: Mapping, S: Approved, T: Visual Change, size/XL

#39479 Add test of disposal unit throw-insert behavior
  Content.IntegrationTests/Tests/Disposal/DisposalUnitInteractionTest.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, A: Integration Tests, S: Approved, A: General Interactions, size/S

#39787 [Bugfix] Generators can now be weightless.
  Resources/Prototypes/Entities/Structures/Power/Generation/generators.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#39676 Reagents now drop when dispensers are deconstructed
  Resources/Prototypes/Entities/Structures/Dispensers/base_structuredispensers.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39511 fix: monoify card_drag, card_tube_bonk
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/card_drag.ogg
  Resources/Audio/Items/Toys/attributions.yml
  Resources/Audio/Items/Toys/card_tube_bonk.ogg
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, Changes: Audio, size/S

#39927 Improved cardboard-weapon descriptions
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/arrows.yml
Labels: Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, size/XS, A: Localization

#38933 fix bagel mapped containers missing
  Resources/Maps/bagel.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, S: Needs Review, A: Mapping, S: Approved, size/M

#39943 Amber Station - Added Late Join and Pressure Update
  Resources/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/L

#39955 Marathon - Pressure Update
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/XL

#39954 Box Station - Pressure Update
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/L

#39945 Bagel Station - Pressure Update
  Resources/Maps/bagel.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, A: Mapping, S: Approved, size/XL, T: Chore

#39950 Stop Sentience Event targeting Zombified Creatures
  Content.Server/StationEvents/Events/RandomSentienceRule.cs
  Content.Server/Zombies/ZombieSystem.Transform.cs
Labels: T: Bugfix, P3: Standard, S: Approved, A: Roundflow/Antag, size/XS

#35236 Sentry turrets - Part 7: Electronics and construction graphs
  Content.Shared/Construction/Components/ElectronicsBoardComponent.cs
  Content.Shared/Construction/NodeEntities/BoardNodeEntity.cs
  Resources/Locale/en-US/recipes/tags.ftl
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/Machine/turrets.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/turret_controls.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Turrets/turrets_energy.yml
  Resources/Prototypes/Entities/Structures/Wallmounts/turret_controls.yml
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/turret_controls.yml
  Resources/Prototypes/Recipes/Construction/utilities.yml
Labels: P2: Raised, T: New Feature, D2: Medium, S: Needs Review, S: Approved, A: Combat, size/M

#39971 Fixed changelog error
  Resources/Changelog/Changelog.yml
  Resources/Changelog/Maps.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, size/S, A: Database

#39963 Don't network ZombifyOnDeathComponent and ZombieImmuneComponent
  Content.Shared/Zombies/ZombieImmuneComponent.cs
  Content.Shared/Zombies/ZombifyOnDeathComponent.cs
Labels: T: Cleanup, S: Needs Review, S: Approved, Intent: Hotfix, Branch: Staging, A: Roundflow/Antag, size/XS

#39978 [STAGING] 1984 Derelict Syndicate Borgs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, Branch: Staging, size/S

#39977 Staging into Master
  Content.Shared/Zombies/ZombieImmuneComponent.cs
  Content.Shared/Zombies/ZombifyOnDeathComponent.cs
  Resources/Prototypes/Entities/Mobs/Cyborgs/base_borg_chassis.yml
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#39959 SharedKitchenSpikeSystem bugfixes
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
Labels: T: Bugfix, P3: Standard, S: Approved, A: Service, size/S

#39992 Stop derelict borgs from duplicating their ghost roles.
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Roundflow/Antag, A: Silicons, size/XS

#39968 Bagel AI Turrets + Camera Coverage
  Resources/Maps/bagel.yml
Labels: T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, S: Approved, size/M
