Repository space-wizards/space-station-14, pull requests merged in 2025-10, with the labels that each got.

#40639 Ambrosia/Glasstle Prototype Bugfix
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/S

#38938 Allow multitool device saving on devices with wireless
  Content.Server/DeviceNetwork/Systems/NetworkConfiguratorSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: Engineering, size/S

#37690 Adds default "Toggle" to "Status" linking port
  Resources/Prototypes/DeviceLinking/source_ports.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#39868 Organized Head Locker Fills Feat. Circuit Totes.
  Resources/Locale/en-US/construction/recipes/crates.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/heads.yml
  Resources/Prototypes/Catalog/Fills/Crates/engineering.yml
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Entities/Objects/Misc/box.yml
  Resources/Prototypes/Recipes/Crafting/Graphs/storage/cardboardbox.yml
  Resources/Prototypes/Recipes/Crafting/crates.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Storage/boxes.rsi/meta.json
  Resources/Textures/Objects/Storage/boxes.rsi/stamp.png
  Resources/Textures/Objects/Storage/boxes.rsi/tote-0.png
  Resources/Textures/Objects/Storage/boxes.rsi/tote-1.png
  Resources/Textures/Objects/Storage/boxes.rsi/tote-2.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Command, A: Engineering, size/M, S: Art Approval

#40646 Disable panic bunker for Leviathan
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: Changes: No C#, S: Needs Review, S: Approved, Branch: Stable, A: Core Tech, T: Of Admin Interest, size/XS

#40648 STABLE INTO MASTER
  Resources/ConfigPresets/WizardsDen/leviathan.toml
  Resources/ConfigPresets/WizardsDen/wizardsDen.toml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#39567 Add utility knife/box cutter
  Resources/Audio/Weapons/attributions.yml
  Resources/Audio/Weapons/utilityknifeclose.ogg
  Resources/Audio/Weapons/utilityknifeopen.ogg
  Resources/Prototypes/Catalog/Bounties/bounties.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/knife.yml
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/cargo.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/utility_knife_blade.png
  Resources/Textures/Objects/Weapons/Melee/utility_knife.rsi/utility_knife_handle.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, Changes: Audio, size/M, S: Art Approval

#40562 Remove static IoC from client & server EntryPoint
  Content.Client/Entry/EntryPoint.cs
  Content.Client/IoC/ClientContentIoC.cs
  Content.Server/Entry/EntryPoint.cs
  Content.Server/IoC/ServerContentIoC.cs
  Content.Shared/Entry/EntryPoint.cs
  Content.Shared/IoC/SharedContentIoC.cs
  Content.Tests/ContentUnitTest.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/M

#40663 some entities name fixes
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/S

#40665 Smuggler Satchel Heisen
  Resources/Prototypes/Entities/Clothing/Back/smuggler_tables.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/S

#40664 Remove x86 targets from Content Packaging
  Content.Packaging/ServerPackaging.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, DB: Beginner Friendly, S: Approved, size/XS, T: Content Removal, A: Packaging/Distribution

#40674 You can now stuff the nuke disk in plushies
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS

#40673 Document tags.yml: A and B
  Resources/Prototypes/tags.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Approved, A: General Interactions, size/M

#40641 Localize space villain arcade
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeComponent.cs
  Content.Server/Arcade/SpaceVillainGame/SpaceVillainArcadeSystem.cs
  Resources/Locale/en-US/datasets/arcade_villain.ftl
  Resources/Prototypes/Datasets/arcade_villain.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Approved, size/M, A: Localization

#40592 Suppress `SharedMapSystem` info logs in tests
  Content.IntegrationTests/Pair/TestPair.cs
Labels: P3: Standard, D3: Low, S: Needs Review, A: Integration Tests, S: Approved, size/S

#38246 nerf cheese prices, part 2: electronics
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/misc.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/base_electronics.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/disposal.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/door.yml
  Resources/Prototypes/Entities/Objects/Devices/Electronics/misc.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, S: Approved, S: Undergoing Discussion, A: Cargo/Salvage, size/S

#40224 Cyborg Martyr Module Free Hand Fix
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Silicons, size/XS

#40625 Add integration test for the RCD
  Content.IntegrationTests/Tests/Construction/RCDTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
Labels: P2: Raised, S: Needs Review, A: Integration Tests, S: Approved, A: Engineering, size/M

#39921 VomitSystem, Predict!
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Destructible/Thresholds/Behaviors/VomitBehavior.cs
  Content.Server/EntityEffects/EntityEffectSystem.cs
  Content.Server/Medical/VomitSystem.cs
  Content.Shared/Medical/VomitSystem.cs
Labels: P3: Standard, D3: Low, S: Needs Review, S: Approved, A: Medical, size/M, T: Prediction

#40696 Added Pride-O-Mat to marathon
  Resources/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/L

#40694 Ian Suit gives accent!
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40711 Document tags: C - F
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Catalog/Fills/Boxes/general.yml
  Resources/Prototypes/Catalog/Fills/Boxes/medical.yml
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/box.yml
  Resources/Prototypes/Entities/Objects/Consumable/Smokeables/Cigarettes/rolling_paper.yml
  Resources/Prototypes/Entities/Objects/Devices/Syndicate_Gadgets/guardian_activators.yml
  Resources/Prototypes/Entities/Objects/Materials/Sheets/other.yml
  Resources/Prototypes/Entities/Objects/Misc/folders.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/toy.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/tags.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: Core Tech, size/M, T: Chore

#40704 Prioritize spoon mixing over drinking
  Content.Server/Chemistry/EntitySystems/ReactionMixerSystem.cs
Labels: T: Bugfix, P3: Standard, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#40009 Skeletons are now playable instruments
  Resources/Prototypes/Entities/Mobs/Species/skeleton.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Character/Species, size/S, S: Concern

#40725 Marathon improvements Part 1.
  Resources/Maps/marathon.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, D3: Low, A: Mapping, S: Approved, size/M

#40700 Let gorillas pull things
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40584 Change Discord round restart text
  Resources/Locale/en-US/discord/round-notifications.ftl
Labels: P3: Standard, Changes: No C#, D3: Low, S: Needs Review, S: Approved, size/XS, T: Chore, A: Discord Integration

#40601 Give mimes their french bread back
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard-cotton-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard-cotton-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard-cotton.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/batard.png
  Resources/Textures/Objects/Consumable/Food/Baked/bread.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Cargo/Salvage, size/M, S: Art Approval

#40666 Cleanup material_doors.yml
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/M

#40553 (Cleanup) Fix logger obsolete warnings
  Content.Client/Administration/UI/Notes/AdminNotesLine.xaml.cs
  Content.Client/Construction/UI/ConstructionMenuPresenter.cs
  Content.Client/Guidebook/DocumentParsingManager.cs
  Content.Client/Guidebook/Richtext/Table.cs
  Content.Client/Guidebook/Richtext/TextLinkTag.cs
  Content.Client/Launcher/LauncherConnecting.cs
  Content.Client/UserInterface/Systems/Alerts/Widgets/AlertsUI.xaml.cs
  Content.Replay/Menu/ReplayMainMenu.cs
  Content.Server/Chat/Managers/ChatManager.cs
  Content.Server/GameTicking/Commands/JoinGameCommand.cs
Labels: P2: Raised, Changes: UI, T: Cleanup, S: Approved, A: Admin Tooling, size/S

#40453 changes the min and max variables in the TargetTemperature clamp to t…
  Content.Server/Atmos/Portable/SpaceHeaterSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: Engineering, size/XS

#40499 Move BrainSystem and necessary components to Shared
  Content.Server/Body/Components/BrainComponent.cs
  Content.Server/Ghost/Components/GhostOnMoveComponent.cs
  Content.Shared/Body/Components/BrainComponent.cs
  Content.Shared/Body/Systems/BrainSystem.cs
  Content.Shared/Ghost/GhostOnMoveComponent.cs
Labels: P3: Standard, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S, T: Prediction

#40615 Head of Security's Energy Magnum (and Warden's Energy Shotgun)
  Resources/Locale/en-US/objectives/conditions/steal-target-groups.ftl
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Objectives/objectiveGroups.yml
  Resources/Prototypes/Objectives/stealTargetGroups.yml
  Resources/Prototypes/Objectives/traitor.yml
  Resources/ServerInfo/Guidebook/Antagonist/Traitors.xml
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/mag-unshaded-0.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/energy_magnum.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_magnum.rsi/magnum.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_magnum.rsi/magnum_piercing.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_magnum.rsi/meta.json
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Security, size/M, S: Art Approval

#40380 Add log statement for missing guidebook proto
  Content.Client/Guidebook/DocumentParsingManager.cs
Labels: T: Cleanup, S: Awaiting Changes, S: Approved, A: Guidebook, size/S

#40102 Cancer Mice Ghostrole Info
  Resources/Locale/en-US/ghost/roles/ghost-role-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Needs Review, T: Balance Change, S: Approved, A: Roundflow/Antag, size/XS

#39888 Biosuit Suit Slots
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Security, size/S

#40761 MRE wrappers / cotton nutri-bâtards are no longer twice as nutritious as nutribricks
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/bread.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/snacks.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, S: Approved, A: Character/Species, size/XS

#40569 Added Vox Beak Types, New Markings, and Sprite Layering Fixes
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_tattoos.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/Mobs/Customization/vox_parts.rsi/beak.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/beak_hooked.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/beak_shaved.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/beak_squarecere.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/beakcover_stripe.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/beakcover_tip.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/cheekblush.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/chest_v_1.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/chest_v_2.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/eyeliner.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/nightbelt.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/tattoo_arrow_head.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/tattoo_nightling_head.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/underbelly.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/visage.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/visage_l.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/visage_r.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/head.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/l_leg.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/r_leg.png
  Resources/Textures/Mobs/Species/Vox/parts.rsi/torso.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Character/Species, size/M, S: Art Approval

#40762 Added the golden shaker (playtime reward for Bartenders)
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_special.yml
  Resources/Prototypes/Loadouts/Jobs/Civilian/bartender.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/icon.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Drinks/shaker_gold.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Service, A: Character/Species, size/S, S: Art Approval

#37424 Fix- Cobras killing adders
  Resources/Prototypes/Entities/Mobs/NPCs/xeno.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Combat, size/XS

#40772 Clean up bucket.yml
  Resources/Prototypes/Entities/Objects/Consumable/Drinks/drinks_base_materials.yml
  Resources/Prototypes/Entities/Objects/Tools/bucket.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: Service, size/S

#40773 cleanup and reorganize belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/job.yml
  Resources/Prototypes/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/Entities/Clothing/Belt/simple.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/L

#37581 Fix the temperature gun not reflecting and going through windows
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, T: Balance Change, S: Approved, A: Combat, size/S

#37920 Fix: Allow energy shotgun lethal projectiles to hit holos
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: P3: Standard, Changes: No C#, D3: Low, S: Needs Review, T: Balance Change, S: Approved, A: Combat, size/XS

#40755 Fix wizard can teleport into the ATS wall
  Resources/Maps/Shuttles/trading_outpost.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/XS
