Repository space-wizards/space-station-14, pull requests merged in 2025-09, with the labels that each got.

#40049 Moths cannot eject items from military boots
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS

#39976 Predict InjectorSystem
  Content.Client/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Client/Chemistry/UI/InjectorStatusControl.cs
  Content.Server/Chemistry/EntitySystems/InjectorSystem.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Shared/Chemistry/Components/InjectorComponent.cs
  Content.Shared/Chemistry/EntitySystems/SharedInjectorSystem.cs
  Content.Shared/Fluids/SharedPuddleSystem.Spillable.cs
  Content.Shared/Forensics/Systems/SharedForensicsSystem.cs
  Resources/Locale/en-US/chemistry/components/injector-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/chemistry.yml
  Resources/migration.yml
Labels: P2: Raised, T: Refactor, D2: Medium, S: Needs Review, S: Approved, A: General Interactions, A: Medical, size/L

#39993 Fix incorrect bullet & cartridge names
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Cartridges/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Security, size/S

#39714 Texture Scaling for clothing
  Content.Client/Clothing/ClientClothingSystem.cs
  Content.Shared/Clothing/Components/ClothingComponent.cs
Labels: P3: Standard, T: New Feature, S: Needs Review, S: Approved, size/S, A: Graphics

#40026 Lizard Tails Can Be Hidden By Clothing
  Resources/Prototypes/Entities/Mobs/Species/reptilian.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Character/Species, size/XS, S: Art Approval

#40059 Event Shuttle Fixes
  Resources/Maps/Shuttles/ShuttleEvent/cryptid.yml
Labels: P2: Raised, Changes: No C#, Changes: Map, T: Cleanup, S: Needs Review, A: Mapping, S: Approved, size/S

#39718 Update 4 visitor shuttles & nanomed inventories
  Resources/Maps/Shuttles/ShuttleEvent/cruiser.yml
  Resources/Maps/Shuttles/ShuttleEvent/flatline.yml
  Resources/Maps/Shuttles/ShuttleEvent/incorporation.yml
  Resources/Maps/Shuttles/ShuttleEvent/instigator.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
  Resources/Prototypes/Entities/Objects/Specific/Service/vending_machine_restock.yml
  Resources/Prototypes/Entities/Objects/Specific/chemistry-bottles.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
  Resources/Textures/Structures/Machines/VendingMachines/medical.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/medical.rsi/off-civilian.png
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/meta.json
  Resources/Textures/Structures/Machines/VendingMachines/wallmed.rsi/off-civilian.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, D3: Low, Changes: Sprites, S: Needs Review, A: Mapping, S: Approved, A: Medical, A: Roundflow/Antag, size/L

#40020 Fix radiation vomit for dead mobs
  Content.Server/Medical/VomitSystem.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, S: Approved, A: General Interactions, size/S

#40064 Remove empty `drink-component.ftl` file
  Resources/Locale/en-US/nutrition/components/drink-component.ftl
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#39859 Adds a secHUD to the noir-tech glasses
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
Labels: Changes: No C#, S: Needs Review, T: Balance Change, S: Approved, A: Security, size/XS

#40039 Fix benchmark
  Content.Benchmarks/MapLoadBenchmark.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/XS

#40038 Make git hooks work in git worktrees
  BuildChecker/git_helper.py
  BuildChecker/hooks/post-checkout
  BuildChecker/hooks/post-merge
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, A: Core Tech, size/S

#38812 Localize, cleanup, and LEC round control commands.
  Content.Server/GameTicking/Commands/DelayStartCommand.cs
  Content.Server/GameTicking/Commands/EndRoundCommand.cs
  Content.Server/GameTicking/Commands/RestartRoundCommand.cs
  Content.Server/GameTicking/Commands/StartRoundCommand.cs
  Resources/Locale/en-US/commands/delaystart-command.ftl
  Resources/Locale/en-US/commands/endround-command.ftl
  Resources/Locale/en-US/commands/restartround-command.ftl
  Resources/Locale/en-US/commands/startround-command.ftl
  Resources/Locale/en-US/shell.ftl
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: Admin Tooling, size/M, A: Localization

#39810 Trimmed Sentience Targets from Corgis Smile and Cockroaches
  Resources/Locale/en-US/station-events/events/random-sentience.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: Roundflow/Antag, size/XS

#39083 Some more vox customization
  Resources/Locale/en-US/markings/vox.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_parts.yml
  Resources/Prototypes/Entities/Mobs/Customization/Markings/vox_tattoos.yml
  Resources/Textures/Mobs/Customization/vox_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_docked.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_spikes.png
  Resources/Textures/Mobs/Customization/vox_parts.rsi/tail_split.png
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/vox_tattoos.rsi/tail_talisman.png
Labels: T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, size/S, S: Art Approval

#39894 Burger Inhands
  Resources/Prototypes/Entities/Objects/Consumable/Food/burger.yml
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-bun-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-bun-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-filling-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-filling-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-patty-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/alpha-patty-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/bear-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/bear-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/brain-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/brain-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/bun-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/bun-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-big-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-big-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-super-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/burger-super-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/cat-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/cat-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/clown-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/clown-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/crazy-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/crazy-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/dog-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/dog-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/meta.json
  Resources/Textures/Objects/Consumable/Food/burger.rsi/mime-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/mime-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/mothroach-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/mothroach-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/plain-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/plain-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/plasma-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/plasma-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/rat-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/rat-inhand-right.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/spell-inhand-left.png
  Resources/Textures/Objects/Consumable/Food/burger.rsi/spell-inhand-right.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Art, A: Service, size/M

#37661 Add senior courier PDA for cargo techs
  Resources/Locale/en-US/preferences/loadout-groups.ftl
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Loadouts/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Prototypes/Loadouts/role_loadouts.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-seniorcourier.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, A: Cargo/Salvage, T: Visual Change, size/S, S: Art Approval

#40081 Use a fixed amount of decimal points in gas analyzer window
  Content.Client/Atmos/UI/GasAnalyzerWindow.xaml.cs
Labels: P3: Standard, Changes: UI, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Engineering, size/XS

#40095 Remove unused combat-equipped-helmet
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET-dog.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/combat-equipped-HELMET.png
  Resources/Textures/Clothing/Head/Hardsuits/syndicate.rsi/meta.json
Labels: Changes: No C#, Changes: Sprites, S: Needs Review, S: Untriaged, S: Approved, size/XS

#39238 Atmos Delta-Pressure Window Shattering
  Content.Benchmarks/DeltaPressureBenchmark.cs
  Content.IntegrationTests/Tests/Atmos/DeltaPressureTest.cs
  Content.Server/Atmos/Components/DeltaPressureComponent.cs
  Content.Server/Atmos/Components/GridAtmosphereComponent.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.API.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.BenchmarkHelpers.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.CVars.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.DeltaPressure.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Processing.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.cs
  Content.Server/Atmos/EntitySystems/DeltaPressureSystem.cs
  Content.Shared/CCVar/CCVars.Atmos.cs
  Resources/Locale/en-US/atmos/delta-pressure-component.ftl
  Resources/Maps/Test/Atmospherics/DeltaPressure/deltapressuretest.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: P3: Standard, T: New Feature, Changes: Map, D1: High, S: Needs Review, S: Approved, A: Atmospherics, A: Engineering, size/L, S: Requires Content PR

#40098 Give inflatable walls the DeltaPressure component
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/S

#39107 Add heat distortion shader for hot gases
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/GasTileHeatOverlay.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/CCVar/CCVars.Net.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/heat.swsl
Labels: P3: Standard, T: New Feature, D2: Medium, S: Needs Review, S: Approved, A: Atmospherics, Changes: Shaders, A: Engineering, size/M, S: Art Approval, A: Graphics

#40097 Add 2.25 second delay to scurret petting
  Resources/Prototypes/Entities/Mobs/NPCs/scurret.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, A: General Interactions, size/XS

#40113 Package win-arm64 and osx-arm64 servers
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
Labels: Changes: No C#, D3: Low, S: Needs Review, S: Approved, size/XS, T: Chore, A: Packaging/Distribution

#40070 Improve Gas Yaml Serialization
  Content.IntegrationTests/Tests/Atmos/GasArrayTest.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Gases.cs
  Content.Server/Atmos/Reactions/GasReactionPrototype.cs
  Content.Shared/Atmos/GasArraySerializer.cs
  Content.Shared/Atmos/GasMixture.cs
  Resources/Prototypes/Atmospherics/reactions.yml
  Resources/Prototypes/Catalog/Fills/Items/gas_tanks.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Mobs/Player/mothershipcore.yml
  Resources/Prototypes/Entities/Objects/Tools/jetpacks.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Prototypes/Entities/Structures/Power/substation.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
Labels: P2: Raised, D1: High, S: Needs Review, S: Approved, A: Atmospherics, A: Core Tech, size/M

#38928 Skip MapImages folder in packaging
  Content.Packaging/ClientPackaging.cs
  Content.Packaging/ServerPackaging.cs
  Content.Packaging/SharedPackaging.cs
Labels: T: Bugfix, S: Needs Review, size/S, A: Packaging/Distribution

#40063 Fixes Theobromine missing from Iced Coffee
  Resources/Prototypes/Reagents/Consumable/Drink/drinks.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Awaiting Changes, S: Approved, A: Service, size/XS

#40118 Fix xenoborg action icons
  Resources/Prototypes/Entities/Mobs/Player/mothershipcore.yml
Labels: T: Bugfix, P1: High, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Art, A: Silicons, size/XS

#39544 Alerts Cleanup and API
  Content.Client/Physics/Controllers/MoverController.cs
  Content.Server/Body/Systems/InternalsSystem.cs
  Content.Server/Body/Systems/RespiratorSystem.cs
  Content.Server/Silicons/Borgs/BorgSystem.cs
  Content.Shared/Abilities/Mime/MimePowersSystem.cs
  Content.Shared/Alert/AlertAutoRemoveComponent.cs
  Content.Shared/Alert/AlertState.cs
  Content.Shared/Alert/AlertsSystem.cs
  Content.Shared/Body/Systems/SharedBloodstreamSystem.cs
  Content.Shared/Body/Systems/SharedInternalsSystem.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Content.Shared/Damage/Systems/SharedStaminaSystem.cs
  Content.Shared/Gravity/SharedGravitySystem.cs
  Content.Shared/Movement/Systems/WormSystem.cs
  Content.Shared/Rootable/SharedRootableSystem.cs
  Content.Shared/StatusEffectNew/StatusEffectAlertSystem.cs
  Content.Shared/Strip/ThievingSystem.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, size/M

#40129 fix a typo in the comments for game.ipintel_exempt_playtime
  Content.Shared/CCVar/CCVars.Game.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#30706 Rejig LogStringHandler
  Content.Server/Administration/Logs/AdminLogManager.Json.cs
  Content.Server/Administration/Logs/AdminLogManager.cs
  Content.Server/Administration/Logs/Converters/AdminLogConverter.cs
  Content.Server/Administration/Logs/Converters/EntityCoordinatesConverter.cs
  Content.Server/Administration/Logs/Converters/EntityStringRepresentationConverter.cs
  Content.Server/Administration/Logs/Converters/MindStringRepresentationConverter.cs
  Content.Server/Administration/Logs/Converters/PlayerSessionConverter.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Content.Shared/Administration/Logs/IAdminLogsPlayerValue.cs
  Content.Shared/Administration/Logs/ISharedAdminLogManager.cs
  Content.Shared/Administration/Logs/LogStringHandler.cs
  Content.Shared/Administration/Logs/SharedAdminLogManager.cs
  Content.Shared/Administration/Logs/SharedAdminLogSystem.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Mind/SharedMindSystem.cs
  Content.Shared/Objectives/Systems/SharedObjectivesSystem.cs
Labels: P3: Standard, T: New Feature, T: Cleanup, D2: Medium, S: Needs Review, A: Core Tech, T: Of Admin Interest, size/M, Merge Conflict

#36894 Expedite gender reassignment
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/tags.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: Roleplay/Lore, size/S

#38424 Adjusted minimumPlayers for Wizard midround events.
  Resources/Prototypes/GameRules/events.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, S: Awaiting Changes, A: Roundflow/Antag, size/XS

#40137 Add a space in osx-arm64 to fix arm64 osx builds
  .github/workflows/publish-testing.yml
  .github/workflows/publish.yml
  .github/workflows/test-packaging.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: Core Tech, size/XS, A: Packaging/Distribution

#40141 Fix admin logs going to admin chat
  Content.Server/Administration/Logs/AdminLogManager.cs
Labels: T: Bugfix, D3: Low, S: Needs Review, S: Approved, A: Chat, P0: Critical, size/XS

#40144 Disable vulpkanin human hair
  Resources/Prototypes/Species/vulpkanin.yml
Labels: T: Bugfix, Changes: No C#, S: Needs Review, S: Approved, A: Character/Species, A: Core Tech, P0: Critical, size/XS

#40147 Fix bad loop in LogStringHandler.AddFormat
  Content.Shared/Administration/Logs/LogStringHandler.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/XS

#40152 Fix exo burn chamber
  Resources/Maps/exo.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, S: Approved, size/L

#40151 Fix resin windows inheriting wrong dP values
  Resources/Prototypes/Entities/Structures/Windows/xenoresin.yml
Labels: T: Bugfix, P1: High, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Engineering, size/S

#39773 [HOTFIX] Fix Burgers
  Content.Server/Nutrition/EntitySystems/CreamPieSystem.cs
  Content.Shared/Nutrition/EntitySystems/FoodSequenceSystem.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.API.cs
  Content.Shared/Nutrition/EntitySystems/SharedCreamPieSystem.cs
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/pie.yml
Labels: T: Bugfix, P1: High, D3: Low, S: Approved, Intent: Hotfix, Branch: Stable, A: General Interactions, size/M

#40041 [Hotfix] Wizard Rod doesn't gib the wizard.
  Content.Server/Polymorph/Components/PolymorphedEntityComponent.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, Branch: Stable, A: Roundflow/Antag, size/S

#40161 Fixed disconnected grid on box station
  Resources/Maps/box.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/L

#40174 Atmospherics Delta-Pressure YAML refactor
  Resources/Prototypes/Atmospherics/Thresholds/airalarms.yml
  Resources/Prototypes/Atmospherics/Thresholds/deltapressure.yml
  Resources/Prototypes/Entities/Objects/Misc/inflatable_wall.yml
  Resources/Prototypes/Entities/Structures/Doors/Shutter/shutters.yml
  Resources/Prototypes/Entities/Structures/Doors/Windoors/base_structurewindoors.yml
  Resources/Prototypes/Entities/Structures/Windows/plasma.yml
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Prototypes/Entities/Structures/Windows/ruranium.yml
  Resources/Prototypes/Entities/Structures/Windows/shuttle.yml
  Resources/Prototypes/Entities/Structures/Windows/uranium.yml
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, D3: Low, S: Approved, A: Atmospherics, size/M

#40188 Bug fix for APCPowerReceiverBattery
  Content.Server/Power/Components/ApcPowerReceiverComponent.cs
  Content.Server/Power/EntitySystems/PowerNetSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/S

#40194 Atmos dP Guidebook Entry
  Content.Server/Atmos/Components/DeltaPressureComponent.cs
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/engineering.yml
  Resources/ServerInfo/Guidebook/Engineering/DeltaPressure.xml
Labels: P2: Raised, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Atmospherics, size/S

#39983 Being grappled with a grapple gun allows you to cross chasms
  Content.Shared/Chasm/ChasmSystem.cs
  Content.Shared/Weapons/Misc/SharedGrapplingGunSystem.cs
Labels: P3: Standard, T: New Feature, D2: Medium, S: Approved, A: Cargo/Salvage, A: General Interactions, size/S

#40206 Derelict Mediborgs can Scan Solutions and see Mob Health
  Resources/Prototypes/Entities/Mobs/Cyborgs/borg_chassis.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Roundflow/Antag, A: Silicons, size/XS

#40200 Reworded the Galoshes description to be more clear about what they actually do.
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
Labels: Changes: No C#, S: Needs Review, S: Approved, A: Service, size/XS

#40247 Make location in crew monitoring console localizable
  Content.Client/Medical/CrewMonitoring/CrewMonitoringNavMapControl.cs
  Resources/Locale/en-US/ui/navmap.ftl
Labels: P3: Standard, T: New Feature, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Medical, size/XS, A: Localization

#39223 feat: SimpleRadial menu support for sprite-view and extendability
  Content.Client/Changeling/UI/ChangelingTransformBoundUserInterface.cs
  Content.Client/Changeling/UI/ChangelingTransformMenu.xaml
  Content.Client/Changeling/UI/ChangelingTransformMenu.xaml.cs
  Content.Client/Ghost/GhostRoleRadioBoundUserInterface.cs
  Content.Client/Ghost/GhostRoleRadioMenu.xaml
  Content.Client/Ghost/GhostRoleRadioMenu.xaml.cs
  Content.Client/RCD/RCDMenuBoundUserInterface.cs
  Content.Client/Silicons/StationAi/StationAiBoundUserInterface.cs
  Content.Client/UserInterface/Controls/RadialMenu.cs
  Content.Client/UserInterface/Controls/SimpleRadialMenu.xaml.cs
  Content.Client/UserInterface/Systems/Emotes/EmotesUIController.cs
  Content.Shared/Ghost/Roles/Components/GhostRoleMobSpawnerComponent.cs
Labels: P2: Raised, Changes: UI, D2: Medium, S: Approved, A: Core Tech, size/M

#39956 Decal spawners spawn on a higher layer
  Resources/Prototypes/Entities/Markers/Spawners/Random/Decals/dirt.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Decals/flora.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/Decals/splatters.yml
Labels: P3: Standard, Changes: No C#, D3: Low, S: Needs Review, A: Mapping, S: Approved, T: Visual Change, size/XS

#40258 Fix RGB staff not working
  Resources/Prototypes/Magic/staves.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40248 Make "Confirm" in VerbMenuUIController localizable
  Content.Client/Verbs/UI/VerbMenuUIController.cs
Labels: P3: Standard, S: Needs Review, T: UI / UX Improvement, S: Approved, size/XS, A: Localization

#37113 Add support for contraband text to the reagent guidebook
  Content.Client/Guidebook/Controls/GuideReagentEmbed.xaml.cs
  Content.Shared/Chemistry/Reagent/ReagentPrototype.cs
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
Labels: P3: Standard, T: New Feature, Changes: UI, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Medical, A: Security, size/M

#40189 [HOTFIX] Fix Loadout Validations
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
Labels: T: Bugfix, Holy Shit, D2: Medium, S: Needs Review, S: Approved, Branch: Stable, A: Core Tech, T: Of Admin Interest, P0: Critical, size/XS, A: Database

#39880 Do after checks for being inside container
  Content.Shared/DoAfter/SharedDoAfterSystem.Update.cs
Labels: T: Bugfix, P3: Standard, S: Awaiting Changes, S: Approved, A: General Interactions, size/XS

#39024 "idk" no longer shrugs, instead sanitizing to "I don't know"
  Content.Server/Chat/Managers/ChatSanitizationManager.cs
  Resources/Locale/en-US/chat/sanitizer-replacements.ftl
  Resources/Locale/en-US/speech/speech-chatsan.ftl
  Resources/Prototypes/Accents/word_replacements.yml
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions

#40265 Make Butterflies zombie immune
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40324 Change listplayers command permissions to require the PII flag
  Resources/engineCommandPerms.yml
Labels: T: Bugfix, Changes: No C#, D2: Medium, S: Needs Review, S: Approved, P0: Critical, size/XS, A: Database

#40321 Add Undergarments to Vulpkanin
  Resources/Locale/en-US/markings/undergarment.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/undergarments.yml
  Resources/Textures/Mobs/Customization/undergarments.rsi/binder_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/boxers_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/briefs_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/classic_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/meta.json
  Resources/Textures/Mobs/Customization/undergarments.rsi/satin_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/sports_vulpkanin.png
  Resources/Textures/Mobs/Customization/undergarments.rsi/tanktop_vulpkanin.png
Labels: T: Bugfix, P3: Standard, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Character/Species, size/M, S: Art Approval

#39175 De-enumify humanoid species skin colours
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/HumanoidCharacterAppearance.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/SkinColor.cs
  Content.Shared/Humanoid/SkinColorationPrototype.cs
  Content.Tests/Shared/Preferences/Humanoid/SkinTonesTest.cs
  Resources/Prototypes/Species/skin_colorations.yml
Labels: P3: Standard, Changes: UI, T: Refactor, D2: Medium, S: Approved, Intent: Hotfix, Branch: Staging, A: Character/Species, size/M, A: Forks/Downstreams

#40339 Massively reduce how lethal Man-O-War shuttle is
  Resources/Maps/Shuttles/ShuttleEvent/manowar.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, T: Balance Change, A: Mapping, A: Roundflow/Antag, size/M

#40320 Fix Heterochromia for Vulpkanin
  Resources/Locale/en-US/markings/tattoos.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/tattoos.yml
  Resources/Textures/Mobs/Customization/tattoos.rsi/meta.json
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_vulpkanin_l.png
  Resources/Textures/Mobs/Customization/tattoos.rsi/tattoo_eye_vulpkanin_r.png
  Resources/Textures/Mobs/Species/Vulpkanin/parts.rsi/eyes.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Character/Species, size/S, S: Art Approval

#40352 Revert "Add heat distortion shader for hot gases"
  Content.Client/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Client/Atmos/Overlays/GasTileHeatOverlay.cs
  Content.Server/Atmos/EntitySystems/GasTileOverlaySystem.cs
  Content.Shared/Atmos/EntitySystems/SharedGasTileOverlaySystem.cs
  Content.Shared/CCVar/CCVars.Net.cs
  Resources/Prototypes/Shaders/shaders.yml
  Resources/Textures/Shaders/heat.swsl
Labels: P1: High, S: Needs Review, S: Approved, A: Atmospherics, Changes: Shaders, Branch: Staging, size/M, T: Content Removal, A: Graphics

#40347 Fix wizard's recharge spell not adding charges to wands that use LimitedChargesComponent
  Content.Shared/Magic/SharedMagicSystem.cs
Labels: S: Awaiting Changes, S: Untriaged, S: Approved, size/S

#40299 [STAGING/HOTFIX] Butcher entities in containers.
  Content.Server/Kitchen/EntitySystems/SharpSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Kitchen/SharedKitchenSpikeSystem.cs
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
Labels: P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Service, Branch: Staging, A: General Interactions, size/S

#39887 Add jetpacks to the Nukie Infiltrator
  Resources/Maps/Shuttles/infiltrator.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, T: Balance Change, A: Mapping, S: Approved, A: Roundflow/Antag, size/M

#40359 Replaced incendiary AK ammo with normal AK ammo, bagel.
  Resources/Maps/bagel.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XS, T: Content Removal

#40368 [Hotfix] Remove pull-escape trick
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Movement/Pulling/Events/AttemptStopPullingEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: T: Bugfix, P1: High, S: Needs Review, S: Approved, Intent: Hotfix, Branch: Stable, A: General Interactions, A: Security, size/S

#40369 merge stable into master
  Content.Shared/Cuffs/SharedCuffableSystem.cs
  Content.Shared/Movement/Pulling/Events/AttemptStopPullingEvent.cs
  Content.Shared/Movement/Pulling/Systems/PullingSystem.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#40379 Clerify salamander description
  Resources/ConfigPresets/WizardsDen/salamander.toml
Labels: P3: Standard, Changes: No C#, S: Needs Review, S: Approved, A: Core Tech, T: Of Admin Interest, size/XS, A: Packaging/Distribution

#39707 Detunes Ninja Stun To Actually Have Some Counterplay
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag, size/XS

#40399 Bug fix for Station AI damaged accent
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Silicons, size/XS

#40402 Intellicards rename to AI stored on them
  Content.Shared/Silicons/StationAi/SharedStationAiSystem.cs
  Content.Shared/Silicons/StationAi/StationAiHolderComponent.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: Silicons, size/S

#38706 Readyall and Toggleready commands to LEC. Fix an issue with ready button desync.
  Content.Client/Lobby/LobbyState.cs
  Content.Server/Administration/Commands/ReadyAll.cs
  Content.Server/Administration/Commands/ReadyAllCommand.cs
  Content.Server/GameTicking/Commands/ToggleReadyCommand.cs
  Content.Server/GameTicking/GameTicker.Lobby.cs
  Resources/Locale/en-US/commands/readyall-command.ftl
  Resources/Locale/en-US/commands/toggleready-command.ftl
Labels: P2: Raised, T: Cleanup, D2: Medium, S: Needs Review, T: UI / UX Improvement, S: Approved, A: Core Tech, size/M

#40286 Add chasm integration tests
  Content.IntegrationTests/Tests/Chasm/ChasmTest.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.Helpers.cs
  Content.IntegrationTests/Tests/Interaction/InteractionTest.cs
  Content.IntegrationTests/Tests/Movement/MovementTest.cs
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.cs
Labels: S: Needs Review, A: Integration Tests, S: Approved, A: Combat, A: General Interactions, size/M

#40413 Fland: on evac fix delta pressure destroying the air storage cell
  Resources/Maps/Shuttles/emergency_delta.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/M

#40420 Update ``DoorComponent`` to use TimeSpans and fix comments
  Content.Client/Doors/DoorSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
Labels: P3: Standard, T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/S

#40234 Turn the Satanic Bible's pentagram around, fix left inhand
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/icon.png
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/inhand-left.png
  Resources/Textures/Objects/Specific/Chapel/satanicbible.rsi/meta.json
Labels: T: Bugfix, P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Service, size/XS, S: Art Approval

#37304 Adds Nukie IDs and PDAs, makes Nukie IDs able to copy accesses.
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/Roles/Antags/nukeops.yml
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi-agent.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi-commander.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi-corpsman.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi-operative.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-syndi.png
  Resources/Textures/Objects/Misc/id_cards.rsi/black.png
  Resources/Textures/Objects/Misc/id_cards.rsi/meta.json
  Resources/Textures/Objects/Misc/id_cards.rsi/syndi.png
  Resources/Textures/Objects/Misc/id_cards.rsi/syndi_commander.png
  Resources/Textures/Objects/Misc/id_cards.rsi/syndi_corpsman.png
  Resources/Textures/Objects/Misc/id_cards.rsi/syndi_operative.png
  Resources/Textures/Objects/Misc/id_cards.rsi/syndie.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D2: Medium, Changes: Sprites, S: Needs Review, T: Balance Change, S: Approved, A: Roundflow/Antag, size/M, S: Conceptual Approval, S: Art Approval

#40429 Updated the cyborg weapon module's uplink description to be accurate
  Resources/Locale/en-US/store/uplink-catalog.ftl
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40431 Renames the "Integrated GPS" to "integrated GPS"
  Resources/Prototypes/Entities/Objects/Tools/gps.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40432 Stun rune Fix
  Resources/Prototypes/Magic/Fixtures/runes.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40183 Bring vulpkanin in-line with other species on hugging
  Resources/Locale/en-US/interaction/interaction-popup-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/vulpkanin.yml
Labels: Changes: No C#, S: Needs Review, S: Approved, S: Undergoing Discussion, size/XS, S: Concern

#40317 Silence mime bags
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
Labels: T: Bugfix, P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Service, size/S

#39855 Ninja items are now highly illegal
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/Shoes/specific.yml
  Resources/Prototypes/Entities/Objects/Weapons/Bombs/spider.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Security, size/S

#39466 Make ichor heal brute, burn, and toxin evenly
  Resources/Prototypes/Reagents/biological.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Medical, A: Roundflow/Antag, size/S

#40372 The Experimental Lecter 8
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Rifles/rifles.yml
  Resources/Prototypes/Roles/Jobs/CentComm/emergencyresponseteam.yml
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/mag-2.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/mag-3.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/mag-4.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/XL8.rsi/wielded-inhand-right.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Admin Tooling, A: Combat, size/M, S: Conceptual Approval, S: Art Approval

#40451 fix disposal pipes deleting contents when welded
  Resources/Prototypes/Recipes/Construction/Graphs/utilities/disposal_pipes.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/S

#40430 Renames the radar console computer board to "mass scanner computer board"
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, A: Cargo/Salvage, size/XS, A: Localization

#40411 moves magic number from SharedMoverController to InputMoverComponent
  Content.Shared/Movement/Components/InputMoverComponent.cs
  Content.Shared/Movement/Systems/SharedMoverController.cs
Labels: P3: Standard, S: Needs Review, A: General Interactions, size/XS, T: Chore

#40393 Added AI console to amber
  Resources/Maps/amber.yml
Labels: P1: High, T: New Feature, Changes: No C#, Changes: Map, D3: Low, S: Needs Review, A: Mapping, A: Silicons, size/L

#40338 Don't overwrite values that are mid-edit in air alarm window
  Content.Client/Atmos/Monitor/UI/Widgets/ThresholdBoundControl.xaml.cs
Labels: P3: Standard, Changes: UI, S: Needs Review, T: UI / UX Improvement, A: Engineering, size/XS

#40334 Show hand labeler label text on examine
  Content.Shared/Labels/EntitySystems/SharedHandLabelerSystem.cs
  Resources/Locale/en-US/hand-labeler/hand-labeler.ftl
Labels: P3: Standard, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/S

#40473 Fixing a syntax error
  Resources/Prototypes/Objectives/objectiveGroups.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#40193 Fix explosion grid alignment for static grids
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, S: Approved, size/XS

#40181 Fix render target caching in overlays
  Content.Client/Graphics/OverlayResourceCache.cs
  Content.Client/Light/AfterLightTargetOverlay.cs
  Content.Client/Light/AmbientOcclusionOverlay.cs
  Content.Client/Light/BeforeLightTargetOverlay.cs
  Content.Client/Light/LightBlurOverlay.cs
  Content.Client/Light/RoofOverlay.cs
  Content.Client/Light/SunShadowOverlay.cs
  Content.Client/Light/TileEmissionOverlay.cs
  Content.Client/Overlays/StencilOverlay.RestrictedRange.cs
  Content.Client/Overlays/StencilOverlay.Weather.cs
  Content.Client/Overlays/StencilOverlay.cs
  Content.Client/Silicons/StationAi/StationAiOverlay.cs
Labels: T: Bugfix, T: Performance, S: Needs Review, S: Approved, P0: Critical, size/M, A: Graphics

#36797 Move TestPair & PoolManager to engine
  Content.Benchmarks/GlobalUsings.cs
  Content.IntegrationTests/ExternalTestContext.cs
  Content.IntegrationTests/GlobalUsings.cs
  Content.IntegrationTests/ITestContextLike.cs
  Content.IntegrationTests/NUnitTestContextWrap.cs
  Content.IntegrationTests/Pair/TestMapData.cs
  Content.IntegrationTests/Pair/TestPair.Cvars.cs
  Content.IntegrationTests/Pair/TestPair.Helpers.cs
  Content.IntegrationTests/Pair/TestPair.Prototypes.cs
  Content.IntegrationTests/Pair/TestPair.Recycle.cs
  Content.IntegrationTests/Pair/TestPair.Timing.cs
  Content.IntegrationTests/Pair/TestPair.cs
  Content.IntegrationTests/PoolManager.Cvars.cs
  Content.IntegrationTests/PoolManager.Prototypes.cs
  Content.IntegrationTests/PoolManager.cs
  Content.IntegrationTests/PoolSettings.cs
  Content.IntegrationTests/PoolTestLogHandler.cs
  Content.IntegrationTests/TestPrototypesAttribute.cs
  Content.MapRenderer/Painters/MapPainter.cs
  Content.MapRenderer/Program.cs
Labels: P3: Standard, T: Refactor, D1: High, S: Needs Review, A: Integration Tests, size/L

#39578 Average min+max in MaterialArbitrageTest
  Content.IntegrationTests/Tests/MaterialArbitrageTest.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, A: Integration Tests, size/S

#40489 bugfix - correcting poster damage resistances
  Resources/Prototypes/Entities/Structures/Wallmounts/Signs/posters.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, size/XS

#40493 Removed suspicion antags from antags.ftl
  Resources/Locale/en-US/prototypes/roles/antags.ftl
Labels: P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, size/XS, A: Database

#40487 Health increase for station AI cores
  Resources/Prototypes/Entities/Mobs/Player/silicon.yml
  Resources/Textures/Mobs/Silicon/station_ai_cracks.rsi/DamageOverlay_200.png
  Resources/Textures/Mobs/Silicon/station_ai_cracks.rsi/DamageOverlay_300.png
  Resources/Textures/Mobs/Silicon/station_ai_cracks.rsi/DamageOverlay_400.png
  Resources/Textures/Mobs/Silicon/station_ai_cracks.rsi/meta.json
Labels: P2: Raised, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: Silicons, size/S

#40360 Vulpkanin Admin Smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
  Resources/Prototypes/Polymorphs/admin.yml
Labels: P2: Raised, D3: Low, S: Awaiting Changes, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/S

#40502 Fixes all departamental typos (both just in comments)
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Tiles/floors.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#37982 Move circuit tiles and faux tiles to the cutter machine
  Resources/Locale/en-US/lathe/lathe-categories.ftl
  Resources/Prototypes/Entities/Objects/Misc/tiles.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/categories.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
  Resources/Prototypes/Recipes/Lathes/tiles.yml
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Science, size/M

#40529 bunch of small cleanups
  Resources/Locale/en-US/kitchen/components/kitchen-spike-component.ftl
  Resources/Prototypes/Entities/Mobs/Species/vulpkanin.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/frozen.yml
  Resources/Prototypes/Entities/Objects/Specific/Robotics/borg_modules.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Machines/vending_machines.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/S

#40461 Added diagnostic huds to the engi-vend
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Engineering, size/XS

#38138 Recharger tweaks.
  Resources/Prototypes/Entities/Structures/Power/chargers.yml
  Resources/Textures/Structures/Power/recharger.rsi/light-empty.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#38005 Xenoborg jammer now ignores xenoborg associated frequencies
  Content.Server/DeviceNetwork/Systems/DeviceNetworkJammerSystem.cs
  Content.Server/DeviceNetwork/Systems/DeviceNetworkSystem.cs
  Content.Server/Radio/EntitySystems/JammerSystem.cs
  Content.Shared/DeviceNetwork/Components/DeviceNetworkJammerComponent.cs
  Content.Shared/DeviceNetwork/Events/BeforePacketSentEvent.cs
  Content.Shared/DeviceNetwork/Systems/SharedDeviceNetworkJammerSystem.cs
  Content.Shared/Radio/Components/ActiveRadioJammerComponent.cs
  Content.Shared/Radio/Components/RadioJammerComponent.cs
  Resources/Prototypes/Entities/Objects/Tools/jammer.yml
Labels: P3: Standard, T: New Feature, D2: Medium, S: Needs Review, S: Approved, A: Roundflow/Antag, size/S

#35294 Add "Lizard Visage" Snout Markings to lizards
  Resources/Locale/en-US/markings/reptilian.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/reptilian.yml
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/meta.json
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/visage_round.png
  Resources/Textures/Mobs/Customization/reptilian_parts.rsi/visage_sharp.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Character/Species, T: Visual Change, size/S, S: Art Approval

#39856 Xenoborg items are now highly illegal
  Resources/Prototypes/Entities/Objects/base_contraband.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Security, A: Silicons, size/XS

#40530 Rat King Refactor Part 0: Separate Rummaging from RatKingComponent.
  Content.Shared/RatKing/Components/RummageableComponent.cs
  Content.Shared/RatKing/Components/RummagerComponent.cs
  Content.Shared/RatKing/SharedRatKingSystem.cs
  Content.Shared/RatKing/Systems/RummagerSystem.cs
  Resources/Prototypes/Entities/Mobs/NPCs/regalrat.yml
  Resources/Prototypes/Entities/Structures/Furniture/toilet.yml
  Resources/Prototypes/Entities/Structures/Piping/Disposal/units.yml
Labels: P3: Standard, T: Refactor, A: Roundflow/Antag, size/M

#40495 fix out of bounds pixels on vox neck displacement map
  Resources/Textures/Mobs/Species/Vox/displacement.rsi/neck.png
Labels: T: Bugfix, P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, A: Character/Species, size/XS

#40546 Exo: Link engie airlocks
  Resources/Maps/exo.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, A: Mapping, S: Approved, size/S

#40246 Admin smite: Homing rods.
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Physics/Components/ChasingWalkComponent.cs
  Content.Server/Physics/Controllers/ChasingWalkSystem.cs
  Resources/Locale/en-US/administration/smites.ftl
Labels: P3: Standard, T: New Feature, S: Needs Review, S: Approved, A: Admin Tooling, size/S

#40160 Added white towels to autolathe and uniform printer
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/Recipes/Lathes/misc.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#40276 [BUGFIX/CLEANUP] Edible Plushies and Clothes
  Resources/Prototypes/Entities/Clothing/Hands/base_clothinghands.yml
  Resources/Prototypes/Entities/Clothing/Head/base_clothinghead.yml
  Resources/Prototypes/Entities/Clothing/Masks/base_clothingmask.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
  Resources/Prototypes/Entities/Clothing/Neck/base_clothingneck.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
  Resources/Prototypes/Entities/Clothing/Shoes/misc.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/base_clothinguniforms.yml
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/Entities/Objects/Specific/rehydrateable.yml
Labels: P1: High, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/M

#40558 Fix instrument crate heisen test
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/instruments.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Needs Review, S: Approved, A: Cargo/Salvage, size/S

#40552 Minor plushie.yml touchup
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, S: Approved, A: General Interactions, size/S

#40303 Vulp Plushie
  Resources/Locale/en-US/nutrition/components/food-sequence.ftl
  Resources/Prototypes/Catalog/Fills/Crates/cargo.yml
  Resources/Prototypes/Catalog/Fills/Crates/fun.yml
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/arcades.yml
  Resources/Prototypes/Recipes/Cooking/food_sequence_element.yml
  Resources/Textures/Objects/Fun/Plushies/vulp.rsi/equipped-HELMET.png
  Resources/Textures/Objects/Fun/Plushies/vulp.rsi/icon.png
  Resources/Textures/Objects/Fun/Plushies/vulp.rsi/inhand-left.png
  Resources/Textures/Objects/Fun/Plushies/vulp.rsi/inhand-right.png
  Resources/Textures/Objects/Fun/Plushies/vulp.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Character/Species, A: General Interactions, A: Roleplay/Lore, size/S, S: Art Approval

#39547 Stunned Status and Knockdown Meth fix.
  Content.Shared/EntityEffects/Effects/StatusEffects/GenericStatusEffect.cs
  Content.Shared/EntityEffects/Effects/StatusEffects/ModifyKnockdown.cs
  Content.Shared/EntityEffects/Effects/StatusEffects/ModifyStatusEffect.cs
  Content.Shared/Stunnable/SharedStunSystem.Knockdown.cs
  Resources/Locale/en-US/guidebook/chemistry/effects.ftl
  Resources/Prototypes/Reagents/Consumable/Drink/alcohol.yml
  Resources/Prototypes/Reagents/cleaning.yml
  Resources/Prototypes/Reagents/gases.yml
  Resources/Prototypes/Reagents/medicine.yml
  Resources/Prototypes/Reagents/narcotics.yml
  Resources/Prototypes/Reagents/toxins.yml
Labels: T: Bugfix, P3: Standard, T: Cleanup, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#39979 New GitHub issue templates
  .github/ISSUE_TEMPLATE/01_report_issue.yml
  .github/ISSUE_TEMPLATE/02_mapping_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/issue_report.md
  .github/ISSUE_TEMPLATE/toolshed-feature-request.md
Labels: P3: Standard, Changes: No C#, D3: Low, S: Needs Review, S: Approved, size/M, T: Chore

#40572 Salv Instrument Spawn Rework
  Resources/Prototypes/Entities/Markers/Spawners/Random/Salvage/tables_loot.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/instruments.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Cargo/Salvage, size/S

#39933 Edible Verb Fixes
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.Utensils.cs
  Content.Shared/Nutrition/EntitySystems/IngestionSystem.cs
  Resources/Prototypes/Entities/Clothing/Shoes/base_clothingshoes.yml
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: General Interactions, size/S

#40567 Added Vox Mime Hardsuit Sprite
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/meta.json
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/off-equipped-HELMET-vox.png
  Resources/Textures/Clothing/Head/Hardsuits/mime.rsi/on-equipped-HELMET-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/equipped-OUTERCLOTHING-vox.png
  Resources/Textures/Clothing/OuterClothing/Hardsuits/mime.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, S: Approved, A: Art, A: Character/Species, size/S, S: Art Approval

#40579 Make vulp gasps and deathgasps audible
  Resources/Prototypes/Voice/speech_emote_sounds.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: Character/Species, size/S

#40600 Fix label markup escapeing
  Content.Shared/Labels/EntitySystems/LabelSystem.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/XS

#40568 Fix Shotgun ammocount not updating
  Content.Shared/Weapons/Ranged/Systems/SharedGunSystem.Ballistic.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, S: Approved, A: Security, size/XS

#40583 Fix chess dimension smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, S: Approved, A: Admin Tooling, size/XS

#37779 Make file dialog API usages read-only
  Content.Client/Fax/UI/FaxBoundUi.cs
  Content.Client/Instruments/UI/InstrumentMenu.xaml.cs
  Content.Client/Lobby/UI/HumanoidProfileEditor.xaml.cs
Labels: T: Bugfix, Changes: UI, S: Needs Review, S: Approved, size/XS

#40618 Hit 'em with the Michaelwave
  Resources/Prototypes/Entities/Structures/Machines/microwave.yml
  Resources/Textures/Structures/Machines/microwave.rsi/inhand-left.png
  Resources/Textures/Structures/Machines/microwave.rsi/inhand-right.png
  Resources/Textures/Structures/Machines/microwave.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwbloodyo.png
  Resources/Textures/Structures/Machines/microwave.rsi/mwo.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/inhand-left.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/inhand-right.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/meta.json
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_running_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mw_unlit.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwb.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody0.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwbloody1.png
  Resources/Textures/Structures/Machines/microwave_syndie.rsi/mwo.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: General Interactions, size/S, S: Art Approval, S: Requires Art Approval

#40631 Rephrases two Whistle descriptions
  Resources/Prototypes/Entities/Objects/Fun/whistles.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS

#40635 Minor typofix for the experiment plushie description
  Resources/Prototypes/Entities/Objects/Fun/plushies.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#40629 Minor change to the Hydra description
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Launchers/launchers.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, S: Approved, A: General Interactions, size/XS
