Repository space-wizards/space-station-14, pull requests merged in 2025-02, with the labels that each got.

#34798 Marathon Armory Restock
  Resources/Maps/marathon.yml
  Resources/Prototypes/Maps/marathon.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/L

#34803 Box Chemistry change
  Resources/Maps/box.yml
Labels: Changes: No C#, Changes: Map, size/M

#32821 Replacing protein with razorium in flesh kudzu
  Resources/Prototypes/Entities/Objects/Misc/kudzu.yml
Labels: P2: Raised, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, A: Medical, size/XS

#34458 Separates frost oil into coldsauce and frost oil
  Resources/Locale/en-US/reagents/frostoil.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/condiments.ftl
  Resources/Locale/en-US/reagents/meta/consumable/food/ingredients.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Containers/condiments.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/produce.yml
  Resources/Prototypes/Hydroponics/seeds.yml
  Resources/Prototypes/Reagents/Consumable/Food/condiments.yml
  Resources/Prototypes/Reagents/Consumable/Food/ingredients.yml
  Resources/Prototypes/Recipes/Reactions/drinks.yml
  Resources/Prototypes/Recipes/Reactions/food.yml
  Resources/migration.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: Service, size/S

#33619 Randomized maints rooms
  Resources/Maps/Dungeon/maints.yml
  Resources/Prototypes/Procedural/Themes/maints.yml
  Resources/Prototypes/tags.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, D2: Medium, S: Needs Review, A: Mapping, size/L

#34808 Armory Packed update.
  Resources/Maps/packed.yml
  Resources/Prototypes/Maps/packed.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged

#33239 Add Reagent gold and silver solification with frost oil
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Service, A: Cargo/Salvage, size/S, S: Needs Content PR Merged

#34797 Ghost orbit jitter fix
  Content.Client/Orbit/OrbitVisualsSystem.cs
  Content.Shared/Follower/Components/OrbitVisualsComponent.cs
Labels: S: Untriaged, size/S

#34832 Fix diona plushie bloom visuals
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: Changes: No C#, size/XS

#34819 Reworded the "SAY HEY LISTEN" silicon law
  Resources/Prototypes/Datasets/ion_storm.yml
Labels: Changes: No C#, DB: Beginner Friendly, S: Approved, A: Silicons, size/XS

#34531 Wizard Touch Spells (Smite, Cluwne's Curse, Slippery Slope)
  Content.Shared/Magic/SharedMagicSystem.cs
  Content.Shared/Slippery/SlipperySystem.cs
  Resources/Locale/en-US/magic/spells-actions.ftl
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Mobs/NPCs/space.yml
  Resources/Prototypes/Entities/Objects/Magic/books.yml
  Resources/Prototypes/Magic/smite_spells.yml
  Resources/Prototypes/Magic/touch_spells.yml
Labels: P3: Standard, T: New Feature, D2: Medium, A: Roundflow/Antag, size/M

#34813 Fixes debug assertion thrown when spiking with pills
  Content.Shared/Chemistry/EntitySystems/SolutionSpikerSystem.cs
Labels: S: Untriaged, S: Approved, size/S

#34814 Fixes debug assertion thrown when chopping logs
  Content.Server/Botany/Systems/LogSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#34812 Fixes debug assertion crash when inserting cash
  Content.Server/Cargo/Systems/CargoSystem.Orders.cs
Labels: S: Untriaged, S: Approved, size/XS

#34824 [Admin] Omni Accent Smite
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Resources/Locale/en-US/administration/smites.ftl
Labels: P3: Standard, T: New Feature, S: Needs Review, DB: Beginner Friendly, A: General Interactions, T: Of Admin Interest, size/S

#34837 Fixed Wehxplosion yaml error
  Resources/Prototypes/Reagents/fun.yml
  Resources/Prototypes/Recipes/Reactions/fun.yml
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, A: General Interactions

#34826 HOTFIX revert lecter visual update #34589
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
Labels: P2: Raised, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, S: Approved, A: Art, Intent: Hotfix, T: Visual Change, size/XS

#34751 Allowed windows to be properly clicked on
  Content.Client/Clickable/ClickMapManager.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: General Interactions, size/XS

#34793 Fix hitting through directional windows (and more!)
  Content.Client/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Server/Weapons/Melee/MeleeWeaponSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Weapons/Melee/SharedMeleeWeaponSystem.cs
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, A: Combat, A: General Interactions, size/S

#34831 Revert "Add taped logo back for 10th anniversary"
  Resources/Textures/Logo/logo-tape.png
  Resources/manifest.yml
Labels: Changes: No C#, size/XS

#34841 Security Shield Naming Structure Inconsistency Change
  Resources/Prototypes/Entities/Objects/Shields/shields.yml
Labels: Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#32414 DSword Replacement - the Hypereutactic Blade
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Entities/Objects/Weapons/Melee/e_sword.yml
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade.rsi/hypereutactic.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade.rsi/hypereutactic_blade.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade.rsi/hypereutactic_gem.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/hypereutactic_right_reference.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-left-blade.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-left-gem.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-right-blade.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-right-gem.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/meta.json
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Melee/hypereutactic_blade_inhands.rsi/wielded-inhand-right.png
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Undergoing Maintainer Discussion, A: Combat, size/M

#34858 fixed effect string typos
  Resources/Locale/en-US/guidebook/chemistry/statuseffects.ftl
Labels: P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/XS

#34844 Store Test Change
  Content.IntegrationTests/Tests/StoreTests.cs
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, A: Core Tech, size/XS

#32934 contrabandInventory Changes (Fixed)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/atmosdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/bardrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/boozeomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cargodrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cart.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/centdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chang.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chapel.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chefvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/chemvend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cigs.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/coffee.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/cola.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/condiments.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/curadrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/detdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/dinnerware.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/discount.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/donut.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/engivend.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/games.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/gib.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/happyhonk.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/hydrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/janidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/lawdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/nutri.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pwrgame.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/salvage.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/scidrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sec.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/secdrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/seeds.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/shamblersjuice.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/snack.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/soda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sovietsoda.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/spaceup.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/starkist.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/sustenance.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/syndiedrobe.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/theater.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/wallmed.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#34723 Fixed bola effect stacking
  Content.Shared/Ensnaring/Components/EnsnareableComponent.cs
  Content.Shared/Ensnaring/Components/EnsnaringComponent.cs
  Content.Shared/Ensnaring/SharedEnsnareableSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/bola.yml
Labels: P3: Standard, D3: Low, T: Balance Change, A: General Interactions, size/S, S: Requires Content PR

#33553 Mind Swap Fix
  Content.Server/Store/Conditions/BuyerAntagCondition.cs
  Content.Server/Store/Conditions/BuyerDepartmentCondition.cs
  Content.Server/Store/Conditions/BuyerJobCondition.cs
  Content.Server/Store/Conditions/BuyerSpeciesCondition.cs
  Content.Server/Store/Systems/StoreSystem.cs
  Content.Server/Traitor/Uplink/UplinkSystem.cs
  Content.Shared/Store/Components/StoreComponent.cs
  Resources/Prototypes/Magic/mindswap_spell.yml
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, A: Core Tech, size/S

#34687 Add binoculars
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Entities/Objects/Tools/binoculars.yml
  Resources/Textures/Objects/Tools/binoculars.rsi/icon.png
  Resources/Textures/Objects/Tools/binoculars.rsi/inhand-left.png
  Resources/Textures/Objects/Tools/binoculars.rsi/inhand-right.png
  Resources/Textures/Objects/Tools/binoculars.rsi/meta.json
  Resources/Textures/Objects/Tools/binoculars.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Tools/binoculars.rsi/wielded-inhand-right.png
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Approved, A: General Interactions, size/S

#31662 Hristov & .60 changes - Hristov Rework, Part 2
  Content.Server/Projectiles/ProjectileSystem.cs
  Content.Shared/Movement/Components/SpeedModifiedOnWieldComponent.cs
  Content.Shared/Projectiles/ProjectileComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Content.Shared/Wieldable/SharedWieldableSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Snipers/snipers.yml
Labels: P3: Standard, D3: Low, T: Balance Change, S: Approved, A: Combat, size/M

#34884 Dehardcoded Space Heaters UI window title
  Content.Client/Atmos/UI/SpaceHeaterWindow.xaml
  Resources/Locale/en-US/components/space-heater-component.ftl
Labels: Changes: UI, Changes: No C#, S: Needs Review, S: Untriaged, S: Approved, size/XS

#34847 Plasma evac shuttle timer fix
  Resources/Maps/Shuttles/emergency_plasma.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, A: General Interactions, size/XS

#34849 Fix Oasis evac timer
  Resources/Maps/Shuttles/emergency_accordia.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/XS

#34810 Omega Armory Restock
  Resources/Maps/omega.yml
Labels: P3: Standard, Changes: No C#, Changes: Map, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Mapping, size/M

#33607 Add clientside personal pointlight for observers
  Content.Client/Ghost/GhostSystem.cs
  Resources/Locale/en-US/ghost/ghost-gui.ftl
  Resources/Prototypes/Entities/Mobs/Player/observer.yml
Labels: P3: Standard, T: New Feature, D3: Low, S: Approved, A: General Interactions, size/S

#33526 HealingSystem: check blood restoration, staunching
  Content.Server/Medical/HealingSystem.cs
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/S

#34843 Expand variety of strange pills
  Resources/Prototypes/Entities/Objects/Specific/Medical/randompill.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#34603 Remove Vector assets and renames Vector SMG magazines
  Resources/Prototypes/Catalog/Fills/Boxes/ammunition.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/SMGs/smgs.yml
  Resources/Prototypes/LootTables/suspicion_loot_table.yml
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/SMGs/vector.rsi/meta.json
  Resources/migration.yml
Labels: P3: Standard, Changes: No C#, Changes: Sprites, DB: Beginner Friendly, A: General Interactions, size/M, T: Content Removal

#34277 Changed utensil sprites to appear smaller.
  Resources/Textures/Objects/Misc/utensils.rsi/fork.png
  Resources/Textures/Objects/Misc/utensils.rsi/meta.json
  Resources/Textures/Objects/Misc/utensils.rsi/plastic_fork.png
  Resources/Textures/Objects/Misc/utensils.rsi/plastic_knife.png
  Resources/Textures/Objects/Misc/utensils.rsi/plastic_spoon.png
  Resources/Textures/Objects/Misc/utensils.rsi/spoon.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, T: Visual Change, size/XS

#34619 Remove instant cryobed insertion
  Content.Shared/Containers/DragInsertContainerComponent.cs
  Content.Shared/Containers/DragInsertContainerSystem.cs
  Resources/Prototypes/Entities/Structures/cryogenic_sleep_unit.yml
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Approved, A: General Interactions, size/S

#34675 Reduce NukeOps Reinforcement price from 35TC to 30TC
  Resources/Prototypes/Catalog/uplink_catalog.yml
Labels: P3: Standard, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Roundflow/Antag, size/XS, S: Conceptual Approval

#33572 Elf Ears
  Resources/Locale/en-US/markings/ears.ftl
  Resources/Prototypes/Entities/Mobs/Customization/Markings/ears.yml
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_small.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_standard.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_tall.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_thin.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_upwards.png
  Resources/Textures/Mobs/Customization/ears.rsi/long_ears_wide.png
  Resources/Textures/Mobs/Customization/ears.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: Art, T: Visual Change, size/S

#34877 Make hacking energy swords predicted
  Content.Server/Weapons/Melee/EnergySword/EnergySwordComponent.cs
  Content.Shared/Weapons/Melee/EnergySword/EnergySwordComponent.cs
  Content.Shared/Weapons/Melee/EnergySword/EnergySwordSystem.cs
Labels: P3: Standard, T: Refactor, D3: Low, S: Approved, A: General Interactions, size/M

#34890 Sec Balance Part 1: Buffs Disabler and Disabler SMG
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
Labels: P2: Raised, Changes: No C#, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Combat, A: Security, size/S

#33426 Air alarm admin logs
  Content.Server/Atmos/Monitor/Systems/AirAlarmSystem.cs
  Content.Server/Atmos/Monitor/Systems/AtmosMonitoringSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
  Content.Shared.Database/LogType.cs
  Content.Shared/Atmos/Monitor/AtmosAlarmThreshold.cs
Labels: P2: Raised, T: New Feature, D3: Low, S: Needs Review, A: Core Tech, A: Engineering, T: Of Admin Interest, size/M

#34561 Added Genderqueer pin! (Properly this time.)
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gender-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/gender.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, A: General Interactions, T: Visual Change, size/S

#34919 bagel fix hos locker
  Resources/Maps/bagel.yml
Labels: Changes: No C#, Changes: Map, size/XS

#34904 Swapped butter w/ olive oil for making spaghetti
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#34825 hide icons for invisible entities
  Content.Client/StatusIcon/StatusIconSystem.cs
Labels: T: Bugfix, P2: Raised, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/XS

#34621 HOTFIX: Fix lineedit focus
  Content.Client/Labels/UI/HandLabelerWindow.xaml.cs
  Content.Client/UserInterface/Controls/DialogWindow.xaml.cs
Labels: T: Bugfix, P2: Raised, Changes: UI, D2: Medium, S: Needs Review, T: UI / UX Improvement, Intent: Hotfix, Branch: Stable, A: General Interactions

#34923 HOTFIX: fix minibomb implant and syndicats not exploding
  Content.Server/Implants/ImplantedSystem.cs
  Content.Shared/Implants/Components/ImplantedComponent.cs
Labels: P1: High, S: Untriaged, Intent: Hotfix, Branch: Stable, size/S

#34924 Merge stable into master
  Content.Client/Labels/UI/HandLabelerWindow.xaml.cs
  Content.Client/UserInterface/Controls/DialogWindow.xaml.cs
  Content.Server/Implants/ImplantedSystem.cs
  Content.Shared/Implants/Components/ImplantedComponent.cs
Labels: Changes: UI, S: Untriaged, size/S

#34920 DNA scrambler examine fixes
  Content.Server/IdentityManagement/IdentitySystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#34914 Guide Control Button Now Redirects Properly
  Resources/ServerInfo/Guidebook/NewPlayer/Controls/Controls.xml
Labels: Changes: No C#, S: Approved

#34927 Buff the Combat Bakery Kit uplink item
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Melee/baguette.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/croissant.yml
Labels: Changes: No C#, S: Untriaged, S: Undergoing Maintainer Discussion, size/XS

#34940 Purge uses of TransformComponent.AttachToGridOrMap
  Content.Server/Administration/Commands/WarpCommand.cs
  Content.Server/Construction/ConstructionSystem.Graph.cs
  Content.Shared/Construction/SharedConstructionSystem.cs
  Content.Shared/Containers/ContainerFillSystem.cs
Labels: S: Needs Review, S: Untriaged, size/S

#33095 move lathe recipes into packs (easier for forks and maintaining)
  Content.Client/Lathe/UI/LatheMenu.xaml.cs
  Content.IntegrationTests/Tests/Lathe/LatheTest.cs
  Content.IntegrationTests/Tests/ResearchTest.cs
  Content.Server/Lathe/LatheSystem.cs
  Content.Shared/Lathe/EmagLatheComponent.cs
  Content.Shared/Lathe/LatheComponent.cs
  Content.Shared/Lathe/Prototypes/LatheRecipePackPrototype.cs
  Content.Shared/Lathe/SharedLatheSystem.cs
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Magazines/pistol.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/Packs/animal_cubes.yml
  Resources/Prototypes/Recipes/Lathes/Packs/bedsheets.yml
  Resources/Prototypes/Recipes/Lathes/Packs/biogen.yml
  Resources/Prototypes/Recipes/Lathes/Packs/cargo.yml
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/Packs/medical.yml
  Resources/Prototypes/Recipes/Lathes/Packs/ore.yml
  Resources/Prototypes/Recipes/Lathes/Packs/robotics.yml
  Resources/Prototypes/Recipes/Lathes/Packs/science.yml
  Resources/Prototypes/Recipes/Lathes/Packs/security.yml
  Resources/Prototypes/Recipes/Lathes/Packs/service.yml
  Resources/Prototypes/Recipes/Lathes/Packs/shared.yml
  Resources/Prototypes/Recipes/Lathes/Packs/sheetifier.yml
  Resources/Prototypes/Recipes/Lathes/Packs/tiles.yml
  Resources/Prototypes/Recipes/Lathes/security.yml
  Resources/Prototypes/Research/arsenal.yml
  Resources/Prototypes/Research/experimental.yml
Labels: P2: Raised, Changes: UI, T: Refactor, D2: Medium, S: Needs Review, T: Balance Change, A: Integration Tests, S: Approved, A: Core Tech, A: General Interactions, size/L, Merge Conflict

#34962 Plasma fixes 2
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged

#34961 Round up playtime minutes
  Content.Shared/Localizations/ContentLocalizationManager.cs
Labels: T: Bugfix, P3: Standard, DB: Beginner Friendly, A: General Interactions, size/XS

#34857 Paper door
  Resources/Audio/Effects/attributions.yml
  Resources/Audio/Effects/paperdoor_openclose.ogg
  Resources/Prototypes/Entities/Structures/Doors/MaterialDoors/material_doors.yml
Labels: Changes: No C#, S: Approved, Changes: Audio, size/S

#34930 Drozd Colors for Kammerer
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Shotguns/pump_inhands_64x.rsi/wielded-inhand-right.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, S: Approved, A: Art, T: Visual Change, size/XS

#34970 Make Ignite tryget flammablecomp
  Content.Server/EntityEffects/Effects/FlammableReaction.cs
  Content.Server/EntityEffects/Effects/Ignite.cs
  Content.Server/Tiles/TileEntityEffectSystem.cs
Labels: T: Bugfix, P1: High, T: Cleanup, D3: Low, S: Needs Review, A: Integration Tests, A: Core Tech, size/S

#34932 Wizard shuttle preperation
  Resources/Locale/en-US/communications/communications-console-component.ftl
  Resources/Maps/Shuttles/wizard.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Textures/Objects/Misc/module.rsi/cpu_wizard.png
  Resources/Textures/Objects/Misc/module.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/comm_wizard.png
  Resources/Textures/Structures/Machines/computers.rsi/meta.json
  Resources/Textures/Structures/Machines/computers.rsi/wizard_key.png
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, Changes: Sprites, DB: Beginner Friendly, A: Mapping, S: Approved, size/M

#34836 Fix: The SyndicateVisitor now has Free Agent mind role. (#34827)
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: Roundflow/Antag

#34411 Wizard Item Recall Spell
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/ItemRecall/ItemRecallSystem.cs
  Content.Server/ItemRecall/ItemRecallSystem.cs
  Content.Shared/Actions/BaseActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/ItemRecall/ItemRecallComponent.cs
  Content.Shared/ItemRecall/ItemRecallEvents.cs
  Content.Shared/ItemRecall/RecallMarkerComponent.cs
  Content.Shared/ItemRecall/SharedItemRecallSystem.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
  Resources/Locale/en-US/item-recall/item-recall.ftl
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Magic/recall_spell.yml
  Resources/Textures/Objects/Magic/magicactions.rsi/item_recall.png
  Resources/Textures/Objects/Magic/magicactions.rsi/meta.json
Labels: P2: Raised, T: New Feature, D2: Medium, Changes: Sprites, S: Needs Review, A: Combat, A: Roundflow/Antag, size/M

#34957 Meta tweaks
  Resources/Maps/meta.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/L

#34917 Bagel Armory Restock (V2)
  Resources/Maps/bagel.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Mapping, size/M

#34977 add straight ally pin
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/pins.yml
  Resources/Prototypes/Entities/Markers/Spawners/Random/maintenance.yml
  Resources/Prototypes/Loadouts/Miscellaneous/trinkets.yml
  Resources/Prototypes/Loadouts/loadout_groups.yml
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/ally-equipped-NECK.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/ally.png
  Resources/Textures/Clothing/Neck/Misc/pins.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, T: Visual Change, size/S

#34450 allow paper labels on seeds
  Content.Server/Botany/Systems/BotanySystem.Seed.cs
  Content.Server/Botany/Systems/PlantHolderSystem.cs
  Resources/Locale/en-US/label/paper-label-component.ftl
  Resources/Prototypes/Entities/Objects/Specific/Hydroponics/seeds.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/morgue.yml
  Resources/Prototypes/Entities/Objects/Specific/Xenoarchaeology/artifact_equipment.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Textures/Objects/Specific/Hydroponics/seeds.rsi/meta.json
  Resources/Textures/Objects/Specific/Hydroponics/seeds.rsi/paper.png
Labels: P3: Standard, T: New Feature, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Service, size/S

#34974 Lecter + Magazine Resprite
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/mag-1.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/practice.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/red.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/rubber.png
  Resources/Textures/Objects/Weapons/Guns/Ammunition/Magazine/Rifle/rifle_mag.rsi/uranium.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/bolt-open.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-BACKPACK.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/equipped-SUITSTORAGE.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/inhand-right.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/mag-0.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Rifles/lecter.rsi/wielded-inhand-right.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, T: Visual Change, size/XS

#34967 Make ReactionResults an array
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.Hotspot.cs
  Content.Server/Atmos/Reactions/PlasmaFireReaction.cs
  Content.Server/Atmos/Reactions/TritiumFireReaction.cs
  Content.Shared/Atmos/GasMixture.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, Changes: Atmospherics Code, A: Core Tech, size/S

#34989 Misc Bagel station fixes
  Resources/Maps/bagel.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XL

#34990 Misc Marathon fixes
  Resources/Maps/marathon.yml
Labels: T: Bugfix, P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/M

#34995 Add screens to oasis evac shuttle
  Resources/Maps/Shuttles/emergency_accordia.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/S

#34872 Loop station i added a paper tray and brb sign to hop and tinyfans to the freezer
  Resources/Maps/loop.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/L

#33405 improve GetInStation filter
  Content.Server/Station/Systems/StationSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, S: Approved, A: Core Tech, size/S

#35000 Fixed rotating anchored shuttle consoles
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#34950 long bacon scarf
  Resources/Prototypes/Catalog/VendingMachines/Inventories/pride.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/equipped-NECK.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/icon.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/inhand-left.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/inhand-right.png
  Resources/Textures/Clothing/Neck/Scarfs/PrideScarfs/lesbian-long.rsi/meta.json
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, size/S

#35009 Publishing workflow for Vulture Test server
  .github/workflows/publish-testing.yml
  Tools/publish_multi_request.py
Labels: Changes: No C#, S: Untriaged

#35008 Add loungewear to uniform printer
  Resources/Prototypes/Recipes/Lathes/Packs/clothing.yml
  Resources/Prototypes/Recipes/Lathes/clothing.yml
Labels: Changes: No C#, size/XS

#35013 Make UnrevivableComponent shared, give the component reason messages and if it shows up on the analyzer
  Content.Server/Medical/DefibrillatorSystem.cs
  Content.Server/Medical/HealthAnalyzerSystem.cs
  Content.Server/Traits/Assorted/UnrevivableComponent.cs
  Content.Shared/Traits/Assorted/UnrevivableComponent.cs
Labels: P3: Standard, T: New Feature, T: Cleanup, D3: Low, S: Approved, A: Core Tech, A: Medical, size/S, S: Conceptual Approval

#34988 Relic station
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/Relic.yml
  Resources/Maps/Shuttles/emergency_relic.yml
  Resources/Prototypes/Maps/Relic.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XL

#35021 Plasma fixes 3
  Resources/Maps/plasma.yml
Labels: Changes: No C#, Changes: Map, S: Untriaged, size/M

#35022 Rebalance Relic station power + misc fixes
  Resources/Maps/Relic.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/M

#34757 Elkridge Tweaks 2
  Resources/Maps/Shuttles/emergency_elkridge.yml
  Resources/Maps/elkridge.yml
  Resources/Prototypes/Maps/elkridge.yml
Labels: P2: Raised, T: New Feature, Changes: No C#, Changes: Map, S: Needs Review, DB: Beginner Friendly, A: Mapping, size/XL

#31060 Allows pacifists to throw Items with DamageOnLand
  Content.Server/Damage/Components/DamageOnLandComponent.cs
  Content.Server/Damage/Systems/DamageOnLandSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Needs Review, T: Balance Change, S: Undergoing Maintainer Discussion, A: General Interactions

#34886 Wooden Grip for Antique Laser Pistol
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Battery/battery_guns.yml
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/icon.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/inhand-left.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-1.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-2.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-3.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/mag-unshaded-4.png
  Resources/Textures/Objects/Weapons/Guns/Battery/antiquelasergun.rsi/meta.json
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, DB: Beginner Friendly, A: Art, T: Visual Change, size/XS

#35017 Move CloneAppearance to Shared
  Content.Server/Humanoid/Systems/HumanoidAppearanceSystem.cs
  Content.Shared/Humanoid/SharedHumanoidAppearanceSystem.cs
Labels: P2: Raised, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/S

#35012 Move DnaComponent to shared
  Content.Server/Administration/Systems/AdminSystem.cs
  Content.Server/Body/Systems/BloodstreamSystem.cs
  Content.Server/Forensics/Components/DnaComponent.cs
  Content.Server/Forensics/Systems/ForensicsSystem.cs
  Content.Server/Implants/SubdermalImplantSystem.cs
  Content.Server/StationRecords/Systems/StationRecordsSystem.cs
  Content.Shared/Forensics/Components/DnaComponent.cs
Labels: P3: Standard, T: Cleanup, D3: Low, S: Approved, A: Core Tech, size/S

#35027 Gravity well improvements
  Content.Server/Singularity/Components/GravityWellComponent.cs
  Content.Server/Singularity/EntitySystems/GravityWellSystem.cs
Labels: S: Untriaged, size/S

#34986 Cleanup and fix disposal pipes
  Resources/Prototypes/Entities/Structures/Piping/Disposal/pipes.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, T: Cleanup, S: Needs Review, DB: Beginner Friendly, A: General Interactions, size/S

#34943 Purges the one remaining use of TransformComponent.WorldPosition in content.
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, A: Core Tech, size/XS

#35033 remove redundant `rainbowcarpplush` yaml lines
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: P3: Standard, T: Cleanup, S: Needs Review, DB: Beginner Friendly, A: Core Tech

#34941 Purge the one remaining use of TransformComponent.AttachParent
  Content.Server/Singularity/EntitySystems/ContainmentFieldGeneratorSystem.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, A: Core Tech, size/XS

#35037 Tweak viewport nullspace check
  Content.Client/UserInterface/Systems/Viewport/ViewportUIController.cs
Labels: S: Untriaged, size/XS

#35024 Create a Armor CoeffientQuery
  Content.Shared/Armor/ArmorComponent.cs
  Content.Shared/Armor/SharedArmorSystem.cs
  Content.Shared/Inventory/InventorySystem.Relay.cs
Labels: P3: Standard, D3: Low, S: Needs Review, S: Approved, A: Core Tech, size/S

#35045 Amber Armory Restock
  Resources/Maps/amber.yml
  Resources/Prototypes/Maps/amber.yml
Labels: Changes: No C#, Changes: Map, S: Needs Review, S: Untriaged, size/M

#34992 Wizard Fix - Rod Polymorph - Prevent gibbing & slows speed
  Resources/Prototypes/Entities/Objects/Fun/immovable_rod.yml
Labels: Changes: No C#, size/XS

#34954 Fix pacified players attacking with mechs
  Content.Shared/ActionBlocker/ActionBlockerSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, A: General Interactions, size/XS

#35048 Don't force-show storage windows when their contents change
  Content.Client/Storage/Systems/StorageSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, T: UI / UX Improvement, A: General Interactions, size/XS

#35046 Display radio frequencies with a decimal place
  Content.Shared/Radio/EntitySystems/EncryptionKeySystem.cs
  Resources/Locale/en-US/radio/components/encryption-key-component.ftl
Labels: P3: Standard, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, A: General Interactions, size/XS

#34334 Fix multiple research consoles exploit
  Content.Server/Research/Systems/ResearchSystem.Console.cs
  Content.Server/Research/Systems/ResearchSystem.Technology.cs
  Content.Shared/Research/Components/TechnologyDatabaseComponent.cs
  Content.Shared/Research/Systems/SharedResearchSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, A: Science, size/S

#34946 Purges uses of TransformComponent.WorldRotation
  Content.Client/Interaction/DragDropSystem.cs
  Content.Client/Maps/GridDraggingSystem.cs
  Content.Server/Administration/Systems/AdminVerbSystem.Smites.cs
  Content.Server/Atmos/EntitySystems/AtmosphereSystem.HighPressureDelta.cs
  Content.Server/Explosion/EntitySystems/ExplosionGridTileFlood.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.GridMap.cs
  Content.Server/Explosion/EntitySystems/ExplosionSystem.TileFill.cs
  Content.Server/Standing/StandingStateSystem.cs
  Content.Shared/Maps/TurfHelpers.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, A: Core Tech, size/S

#34421 Grenade resprites part 1, stinger sound change, projectile grenade animation fix
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/projectile_grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/empgrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/flashbang.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/smoke.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/smoke.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/smoke.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/smoke.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/equipped-BELT.png
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/stingergrenade.rsi/primed.png
  Resources/Textures/Objects/Weapons/Grenades/tear_gas.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/tear_gas.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/tear_gas.rsi/primed.png
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Cleanup, D3: Low, Changes: Sprites, S: Needs Review, A: Art, size/S

#34587 Pulled item interaction fix
  Content.Shared/Hands/EntitySystems/SharedHandsSystem.Interactions.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Content.Shared/Inventory/VirtualItem/SharedVirtualItemSystem.cs
Labels: T: Bugfix, P2: Raised, D2: Medium, S: Needs Review, A: Core Tech, A: General Interactions, size/S

#34912 Fix references to obsolete TryGetContainingContainer override
  Content.Server/Explosion/EntitySystems/TriggerSystem.cs
  Content.Shared/Inventory/InventorySystem.Helpers.cs
Labels: P3: Standard, T: Cleanup, D2: Medium, S: Needs Review, A: Core Tech, size/XS

#35025 Sentry turrets - Part 1: Art assets
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/heavylaser.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/heavylaser_flash.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/omnilaser.png
  Resources/Textures/Objects/Weapons/Guns/Projectiles/projectiles_tg.rsi/omnilaser_flash.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/base.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/base_shadow.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/cover_closed.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/cover_closing.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/cover_light_on.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/cover_open.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/cover_opening.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/destroyed.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/lethal.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/meta.json
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/panel.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/stun.png
  Resources/Textures/Objects/Weapons/Guns/Turrets/sentry_turret.rsi/support.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/base.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/lethal.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/meta.json
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/safe.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/stun.png
  Resources/Textures/Structures/Wallmounts/turret_controls.rsi/wires.png
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: Art, T: Visual Change, size/M

#35059 Put screwdrivers in the vendomat
  Resources/Prototypes/Catalog/VendingMachines/Inventories/vendomat.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/XS

#35014 Remove batong etc from emagged autolathe
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
Labels: T: Bugfix, P2: Raised, Changes: No C#, S: Awaiting Changes, DB: Beginner Friendly, A: Core Tech, size/XS

#32688 fix conveyor belt default linking
  Resources/Prototypes/Entities/Structures/conveyor.yml
Labels: T: Bugfix, P3: Standard, Changes: No C#, S: Needs Review, DB: Beginner Friendly, A: General Interactions

#34207 Add additional holiday gear to jobs
  Resources/Prototypes/Entities/Objects/Specific/Medical/hypospray.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Civilian/botanist.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/boxer.yml
  Resources/Prototypes/Roles/Jobs/Wildcards/zookeeper.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#34541 Increase the price of bulletproof armor.
  Resources/Prototypes/Catalog/Cargo/cargo_security.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Cargo/Salvage, A: Roundflow/Antag

#32250 Move contraband text to a separate examine tab
  Content.Shared/Contraband/ContrabandSystem.cs
  Resources/Locale/en-US/contraband/contraband-severity.ftl
  Resources/Textures/Interface/VerbIcons/ATTRIBUTION.txt
Labels: P3: Standard, T: New Feature, D3: Low, S: Needs Review, S: Approved, S: Undergoing Maintainer Discussion, A: Roundflow/Antag, A: Security, size/M

#35064 make interrogator lamp security contraband
  Resources/Prototypes/Entities/Objects/Misc/fluff_lights.yml
Labels: Changes: No C#, S: Approved, size/XS

#35072 Update BuildChecker.csproj
  BuildChecker/BuildChecker.csproj
Labels: T: Bugfix, Changes: No C#, A: Core Tech

#35063 give CE atmos gas mask
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: Changes: No C#, S: Untriaged, S: Approved, size/XS

#35065 Fixed trooper uniform sprite
  Resources/Textures/Clothing/Uniforms/Jumpsuit/security_trooper.rsi/inhand-right.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, size/XS

#34209 Make Advanced Spray more tolerable to use
  Resources/Prototypes/Entities/Clothing/Back/specific.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/spraynozzle.yml
  Resources/Prototypes/tags.yml
  Resources/Textures/Clothing/Back/Backpacks/waterbackpack.rsi/icon-filled.png
  Resources/Textures/Clothing/Back/Backpacks/waterbackpack.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/waterbackpack.rsi/meta.json
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, A: Art, A: Service, A: General Interactions, size/S

#33878 Fix followers getting sent to nullspace when target is polymorphed
  Content.Server/Polymorph/Systems/PolymorphSystem.cs
  Content.Shared/Follower/Components/FollowerComponent.cs
  Content.Shared/Follower/FollowerSystem.cs
  Content.Shared/Polymorph/PolymorphEvents.cs
Labels: T: Bugfix, P3: Standard, D2: Medium, S: Needs Review, A: Core Tech, size/S

#35061 ancient jumpsuit copyright info
  Resources/Textures/Clothing/Uniforms/Jumpsuit/ancient.rsi/meta.json
Labels: P3: Standard, Changes: No C#, T: Cleanup, DB: Beginner Friendly, S: Approved, A: Core Tech, size/XS

#34281 Limit maximum capacity of fillable cluster grenades
  Content.Shared/Explosion/Components/ScatteringGrenadeComponent.cs
  Content.Shared/Explosion/EntitySystems/SharedScatteringGrenadeSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, A: General Interactions, size/S

#34567 Add fultons as a T2 research
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Research/industrial.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Balance Change, DB: Beginner Friendly, A: Cargo/Salvage, A: Science, size/XS

#35082 Fix energy katana resolve error
  Content.Shared/Ninja/Systems/SharedSpaceNinjaSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#34910 Deathsquad revolver ammo fix
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Revolvers/revolvers.yml
  Resources/Prototypes/Roles/Jobs/CentComm/deathsquad.yml
Labels: P3: Standard, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Combat, A: Command, size/S

#34889 update the announce command
  Content.Server/Announcements/AnnounceCommand.cs
  Resources/Locale/en-US/administration/commands/announce-command.ftl
Labels: P3: Standard, T: New Feature, T: Cleanup, D3: Low, S: Needs Review, A: Admin Tooling, T: Of Admin Interest, size/S

#35099 Add datafield comments to PlantHolderComponent
  Content.Server/Botany/Components/PlantHolderComponent.cs
Labels: S: Untriaged, size/S

#35107 Split ``ReplacementAccentPrototype`` and ``ReplacementAccentComponent`` in different files
  Content.Server/Chat/Systems/ChatSystem.cs
  Content.Server/Speech/Components/AddAccentClothingComponent.cs
  Content.Server/Speech/Components/ReplacementAccentComponent.cs
  Content.Server/Speech/EntitySystems/ReplacementAccentSystem.cs
  Content.Server/Speech/Prototypes/ReplacementAccentPrototype.cs
Labels: S: Needs Review, S: Untriaged, S: Approved, size/S

#35111 light brown fibers
  Resources/Locale/en-US/forensics/fibers.ftl
  Resources/Prototypes/Entities/Clothing/Hands/colored.yml
  Resources/Prototypes/Entities/Clothing/Multiple/towel.yml
Labels: Changes: No C#, S: Approved

#34649 Wizard Staff of Animation
  Content.Client/Actions/ActionsSystem.cs
  Content.Client/Magic/MagicSystem.cs
  Content.Client/Outline/TargetOutlineSystem.cs
  Content.Client/UserInterface/Systems/Actions/ActionUIController.cs
  Content.Shared/Actions/EntityTargetActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Damage/Components/DamageableComponent.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Magic/Components/AnimateableComponent.cs
  Content.Shared/Magic/Events/AnimateSpellEvent.cs
  Content.Shared/Magic/SharedMagicSystem.cs
  Resources/Locale/en-US/store/spellbook-catalog.ftl
  Resources/Prototypes/Catalog/spellbook_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Basic/staves.yml
  Resources/Prototypes/Entities/Objects/base_item.yml
  Resources/Prototypes/Entities/Structures/Furniture/Tables/base_structuretables.yml
  Resources/Prototypes/Entities/Structures/Furniture/chairs.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/base_structurecomputers.yml
  Resources/Prototypes/Entities/Structures/Machines/base_structuremachines.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Tanks/base_structuretanks.yml
  Resources/Prototypes/Magic/animate_spell.yml
  Resources/Prototypes/Magic/staves.yml
  Resources/Prototypes/ai_factions.yml
Labels: P3: Standard, T: New Feature, D2: Medium, S: Needs Review, A: Roundflow/Antag, size/M

#33447 Use screen local north for buckling/unbuckling layering, plus #31625
  Content.Client/Buckle/BuckleSystem.cs
Labels: T: Bugfix, P1: High, D3: Low, S: Needs Review, S: Approved, A: General Interactions, size/M

#35124 add missing base calls to several BUIs
  Content.Client/Atmos/Consoles/AtmosAlertsComputerBoundUserInterface.cs
  Content.Client/Instruments/UI/InstrumentBoundUserInterface.cs
  Content.Client/MassMedia/Ui/NewsWriterBoundUserInterface.cs
  Content.Client/Medical/CrewMonitoring/CrewMonitoringBoundUserInterface.cs
  Content.Client/Nuke/NukeBoundUserInterface.cs
  Content.Client/Power/PowerMonitoringConsoleBoundUserInterface.cs
  Content.Client/Store/Ui/StoreBoundUserInterface.cs
  Content.Client/SurveillanceCamera/UI/SurveillanceCameraSetupBoundUi.cs
Labels: S: Needs Review, S: Untriaged, size/S

#33554 Slime plushie now squishes
  Resources/Prototypes/Entities/Objects/Fun/toys.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Approved, A: General Interactions, size/S

#33807 Grilled Cheese Sandwich Entity and Recipe
  Resources/Prototypes/Entities/Markers/Spawners/Random/Food_Drinks/food_baked_single.yml
  Resources/Prototypes/Entities/Objects/Consumable/Food/Baked/misc.yml
  Resources/Prototypes/Recipes/Cooking/meal_recipes.yml
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/grilled-cheese.png
  Resources/Textures/Objects/Consumable/Food/Baked/misc.rsi/meta.json
Labels: P2: Raised, T: New Feature, Changes: No C#, D3: Low, Changes: Sprites, S: Needs Review, S: Approved, A: Service, size/S

#35120 Fix "Manage Laws" button appearing with insufficient permissions
  Content.Server/Administration/Systems/AdminVerbSystem.cs
Labels: T: Bugfix, P3: Standard, S: Needs Review, DB: Beginner Friendly, T: UI / UX Improvement, S: Approved, A: Admin Tooling, size/XS

#34792 Make experimental welding tool less harmful to eyes
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, T: Balance Change, DB: Beginner Friendly, S: Approved, A: Engineering, size/XS

#35088 Fix thrusters not dealing damage
  Content.Server/Shuttles/Components/ThrusterComponent.cs
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
Labels: T: Bugfix, P3: Standard, D3: Low, S: Approved, A: General Interactions, size/S

#35136 Filter prototypes checked by NoStaticPriceAndStackPrice test and skip spawning
  Content.IntegrationTests/Tests/CargoTest.cs
Labels: T: Bugfix, P3: Standard, T: Cleanup, D3: Low, A: Integration Tests, size/S

#35134 Move the soles of the feet on the backward facing part of the RD's vox hardsuit sprite to the left by 1 pixel
  Resources/Textures/Clothing/OuterClothing/Hardsuits/rd.rsi/equipped-OUTERCLOTHING-vox.png
Labels: Changes: No C#, Changes: Sprites, S: Untriaged, S: Approved

#35135 Fix fax spamming
  Content.Server/Fax/FaxSystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#35131 Vote kicks now ban the target's ip
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
Labels: P2: Raised, D3: Low, S: Approved, A: Admin Tooling, T: Of Admin Interest, size/S

#35083 High Heel Boots do the Clicky Clacky
  Resources/Audio/Effects/Footsteps/attributions.yml
  Resources/Audio/Effects/Footsteps/heelsclack1.ogg
  Resources/Audio/Effects/Footsteps/heelsclack2.ogg
  Resources/Audio/Effects/Footsteps/heelsclack3.ogg
  Resources/Audio/Effects/Footsteps/heelsclack4.ogg
  Resources/Audio/Effects/Footsteps/heelsclack5.ogg
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/SoundCollections/footsteps.yml
Labels: P3: Standard, T: New Feature, Changes: No C#, S: Needs Review, DB: Beginner Friendly, S: Undergoing Maintainer Discussion, A: General Interactions, Changes: Audio, size/S

#35143 minor thruster system cleanup
  Content.Server/Shuttles/Systems/ThrusterSystem.cs
Labels: S: Needs Review, S: Untriaged, size/XS

#35139 HOTFIX Vote kicks now ban the target's ip (#35131)
  Content.Server/Voting/Managers/VoteManager.DefaultVotes.cs
Labels: P1: High, D2: Medium, S: Approved, Intent: Hotfix, Branch: Staging, A: Admin Tooling, T: Of Admin Interest, size/S

#35155 Fix: showfluids command activates for everyone
  Content.Server/Fluids/EntitySystems/PuddleDebugDebugOverlaySystem.cs
Labels: S: Untriaged, S: Approved, size/XS

#35153 Fix embeddable projectiles dissapearing (reopening)
  Content.Shared/ItemRecall/SharedItemRecallSystem.cs
  Content.Shared/Projectiles/EmbeddedContainerComponent.cs
  Content.Shared/Projectiles/SharedProjectileSystem.cs
Labels: T: Bugfix, P2: Raised, T: Cleanup, D3: Low, S: Approved, A: General Interactions, size/M

#35156 make chameleon verb predicted
  Content.Server/Clothing/Systems/ChameleonClothingSystem.cs
  Content.Shared/Clothing/EntitySystems/SharedChameleonClothingSystem.cs
Labels: P3: Standard, D3: Low, S: Needs Review, T: UI / UX Improvement, S: Approved, A: General Interactions, size/S

#35122 Supermatter Grenade Rework
  Resources/Locale/en-US/store/uplink-catalog.ftl
  Resources/Prototypes/Catalog/uplink_catalog.yml
  Resources/Prototypes/Entities/Objects/Weapons/Throwable/grenades.yml
  Resources/Textures/Objects/Weapons/Grenades/singularitygrenade.rsi/icon.png
  Resources/Textures/Objects/Weapons/Grenades/singularitygrenade.rsi/meta.json
  Resources/Textures/Objects/Weapons/Grenades/singularitygrenade.rsi/primed.png
Labels: P3: Standard, Changes: No C#, Changes: Sprites, S: Needs Review, T: Balance Change, DB: Beginner Friendly, A: Combat, size/S

#34695 Engineering guidebook improvements
  Content.Server/Solar/Components/SolarPanelComponent.cs
  Resources/Prototypes/Entities/Objects/Devices/flatpack.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/PA/particles.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/ame.yml
  Resources/Prototypes/Entities/Structures/Power/Generation/teg.yml
  Resources/ServerInfo/Guidebook/Engineering/AccessConfigurator.xml
  Resources/ServerInfo/Guidebook/Engineering/AirInjector.xml
  Resources/ServerInfo/Guidebook/Engineering/AirVent.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Engineering/MixingAndFiltering.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableGenerator.xml
  Resources/ServerInfo/Guidebook/Engineering/PortableScrubber.xml
  Resources/ServerInfo/Guidebook/Engineering/PowerStorage.xml
  Resources/ServerInfo/Guidebook/Engineering/Pumps.xml
  Resources/ServerInfo/Guidebook/Engineering/RTG.xml
  Resources/ServerInfo/Guidebook/Engineering/Radiators.xml
  Resources/ServerInfo/Guidebook/Engineering/Ramping.xml
  Resources/ServerInfo/Guidebook/Engineering/Shuttlecraft.xml
  Resources/ServerInfo/Guidebook/Engineering/SignalValve.xml
  Resources/ServerInfo/Guidebook/Engineering/SingularityEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/SolarPanels.xml
  Resources/ServerInfo/Guidebook/Engineering/Spacing.xml
  Resources/ServerInfo/Guidebook/Engineering/TEG.xml
  Resources/ServerInfo/Guidebook/Engineering/TeslaEngine.xml
  Resources/ServerInfo/Guidebook/Engineering/Thermomachines.xml
  Resources/ServerInfo/Guidebook/Engineering/WirePanels.xml
Labels: P3: Standard, T: New Feature, DB: Beginner Friendly, S: Approved, A: Engineering, A: Guidebook, size/M

#35164 Separate Udder examine into ExamineableHunger
  Content.Shared/Animals/UdderSystem.cs
  Content.Shared/Nutrition/Components/ExamineableHungerComponent.cs
  Content.Shared/Nutrition/EntitySystems/ExamineableHungerSystem.cs
  Resources/Locale/en-US/animals/udder/udder-system.ftl
  Resources/Locale/en-US/nutrition/components/examineable-hunger-component.ftl
  Resources/Prototypes/Entities/Mobs/NPCs/animals.yml
Labels: P3: Standard, T: Refactor, D3: Low, A: Service, A: General Interactions, size/M

#34887 Fix air devices ignoring settings after power cycle
  Content.Server/Atmos/Piping/Unary/Components/GasVentPumpComponent.cs
  Content.Server/Atmos/Piping/Unary/Components/GasVentScrubberComponent.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentPumpSystem.cs
  Content.Server/Atmos/Piping/Unary/EntitySystems/GasVentScrubberSystem.cs
Labels: T: Bugfix, P2: Raised, D3: Low, S: Needs Review, Changes: Atmospherics Code, A: Engineering, size/S

#35180 Fix colornetwork command not checking for correct permissions
  Content.Server/Sandbox/Commands/ColorNetworkCommand.cs
Labels: T: Bugfix, P1: High, S: Needs Review, DB: Beginner Friendly, A: Mapping, S: Approved, A: Core Tech, size/XS
